.loading {
  .b-user-profile {
    display:none;
  }
}
.w-user-profile {
  max-width:948px;
  padding: 0 20px;
  margin: 0 auto;
  &.hidden, &.deleted {
    .profile-status:after {
      content:'hidden';
      display:inline-block;
      width:auto;
      height:auto;
    }
    .b-user-profile {
      padding:0;
      & > * {
        display:none;
      }
    }
    .b-profile-status {
      display:block;
    }
  }
  &.deleted {
    .profile-status:after {
      content:'deleted';
    }
  }
  ._clearfix();

  .b-left-column {
    width:49%;
    float:left;
    overflow: hidden;
  }
  .b-right-column {
    width:49%;
    float:right;
    padding: 30px 0 0;
  }
  .b-user-profile {
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
    .b-user-photos {
      position: relative;
    }
    .b-profile-title  {
      margin:20px 20px 0 0;
      position:relative;
      .title {
        color:@color-theme-base;
        .b-hot {
          display: inline-block;
          position: relative;
          width:28px;
          height:28px;
          filter: alpha(opacity=70);
          background: @color-shadow;
          background: fadeout(@color-shadow, 30%);
          border-radius: 15px;
          -moz-border-radius: 15px;
          margin-top: 16px;
          box-shadow:0 0 0px 5px rgba(255,212,0,0);
          ._transition(all .2s);
          vertical-align: top;
          &:before {
            display: block;
            position: absolute;
            content: '';
            background: @sprite_url no-repeat -60px -529px;
            width: 21px;
            height: 19px;
            top: 4px;
            left: 3px;
          }
          &:hover {
            box-shadow:0 0 0 2px rgba(255,212,0,1);
          }
        }
        .screenname {
          display:inline-block;
          ._text-overflow();
          max-width: 65%;
          padding-bottom: 12px;
          &+.icon {
            display: none;
          }
          &.fb {
            &+.icon {
              width: 15px;
              height: 15px;
              display: inline-block;
              background: @sprite_url -167px -408px;
              position: relative;
              top: -25px;
              left: -10px;
              ._radius(10px);
            }
          }
        }
      }
      .b-btn-activity {
        /*padding-top:15px;
        float:right;*/
        position:absolute;
        top:10px;
        right:-14px;
        z-index:2;
      }
      .b-primary-photo {
        width:85px;
        height:85px;
        float:left;
        margin-right:10px;
        display:none;
        padding-bottom: 5px;
        a {
          display: block;
          overflow: hidden;
          img {
            width:100%;
            height:100%;
          }
        }
        &.blurred-heavy, &.blurred  {
          .b-naughty-tooltip {
            left: 0;
            .title {
              color: #555;
            }
          }
          img {
            ._blur(18);
          }
          .b-blur-message {
            position: absolute;
            z-index: 3;
            left: 50%;
            text-align: center;
            color: #FFF;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
            top: 50%;
            margin-top: -15px;
            width: 50px;
            margin-left: -25px;
            font-size: 13px;
            line-height: 15px;
          }
          &:hover {
            .b-naughty-tooltip {
              display: block;
            }
          }
          &>a, x:-moz-any-link {
            position: relative;
            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 3;
              background: fade(@black, 90%);
            }
          }
          /*IE10 hack*/
          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            &>a {
              position: relative;
              &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 3;
                background: fade(@black, 90%);
              }
            }
          }
          /*IE10 hack end*/
        }

        &.blurred {
          img {
            ._blur(10);
          }
          &>a, x:-moz-any-link {
            position: relative;
            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 3;
              background: fade(@black, 70%);
            }
          }
          /*IE10 hack*/
          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            &>a {
              position: relative;
              &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 3;
                background: fade(@black, 70%);
              }
            }
          }
          /*IE10 hack end*/
        }

      }
      .b-small-main-photo {
        float:left;
        margin-right:10px;
      }
      .btn-view-more {
        display:none;
      }
    }
    .b-user-info {
      margin: 20px 0;
    }

    .b-photo-main {
      display: table;
      width:100%;
      /*text-align:center;
      background:#2C2C2C;
      margin-bottom:1px;*/

      .b-photo-main-cell {
        background: url(../images/small-photo-loader.gif) no-repeat center center;
      }
    }
    .b-photo-main .photo-big{
      max-width:100%;
      max-height:100%;
      display:block;
      min-height: 40px;
    }
  }
  .b-photos-list {
    background:@color-bg-light;
    white-space:nowrap;
    overflow:auto;
    font-size:0;
    width:100%;
  }
  .b-photos-list ul {
    display:inline-block;
  }

  .b-photos-list li {
    display:inline-block;
    margin:0 1px 1px 0;
  }
  .b-photos-list li a {
    cursor:pointer;
  }
  .b-photos-list li a img {
    background:@color-bg-light url(../images/small-photo-loader.gif) no-repeat center center;
    height:85px;
    min-width:40px;
  }
  .b-upgrade-banner,
  .b-profile-status .b-banner {
    text-align: center;
    color: @color-theme-base;
    border: 1px solid @color-text-btn-light;
    height: 220px;
    position: absolute;
    top: -20px;
    right:10px;
    width: 260px;
    filter: alpha(opacity=95);
    background: @color-bg-base;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.7);
    ._radius(6px);
    .b-text {
      display: block;
      font: 25px/1.2em @font-face-header,sans-serif;
      margin: 10px 20px;
    }
    .b-btn {
      position: absolute;
      bottom: 17px;
      width: 100%;
      .btn-update {
        font-size: 24px;
        margin: 0 10px;
      }
    }
  }
  .b-profile-status {
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 500px;
    min-height: 100%;
    background: @color-bg-base;
    margin:0 auto;
    .b-banner {
      width:auto;
      height:auto;
      position:static;
    }
  }
  .b-about {
    border-radius: 5px;
    border: 1px solid @color-text-btn-light;
    border-color:  fade(@color-shadow,8%) fade(@color-shadow,15%) fade(@color-shadow,30%);
    box-shadow: 0 1px 3px -1px fade(@color-shadow,35%);
  }
  .b-data {
    .b-heading {
      font-size:26px;
      margin-bottom:10px;
    }
    .b-counter {
      color:@color-text-muted;
    }
    .b-counter:before {
      content: ' | ';
      color: @color-text-btn-light;
    }
  }
  .b-user-info {
    .b-data-qoute {
      margin:14px 10px 20px 10px;
      .b-title {
        color:@color-text-muted;
        padding:5px 0;
      }
      .b-blockquote {
        background:#fffeed;
        font:italic 13px Georgia, sans-serif;
        padding:10px;
        box-shadow:0 1px 3px fade(@color-shadow, 30%), 0 0 1px 1px @color-bg-base inset;
        margin:5px 0;
        p{
          word-wrap: break-word;
        }
      }
    }
    .b-data-list {
      margin:10px 0 25px;
      position:relative;
      &.b-looking-for-list{
        min-height: 167px;
      }
      .b-data-row {
        ._clearfix();
        border-bottom:1px solid @color-border-base;
        padding:5px 0;
        margin:0 10px;
        -moz-transition:background 0.1s linear;
        -webkit-transition:background 0.1s linear;
        transition:background 0.1s linear;
      }
      .b-data-row:hover{
        background:fade(@color-shadow,4%);
      }

      .b-title{
        float:left;
        width:50%;
        color:@color-text-muted;
      }

      .b-value{
        float:left;
        width:50%;

      }
    }
  }
  .b-photos-slider-arrow {
    width: 30px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    z-index: 10;
    &:before {
      content: '';
      display: block;
      width: 20px;
      height: 43px;
      position: relative;
      top: 50%;
      margin: -22px 0 0 1px;
      background: @sprite_url no-repeat -4px -577px;
    }
    &:hover {
      &:before {
        background-position: -24px -577px;
      }
    }
    &.next {
      left: auto;
      right: 0;
      &:before {
        background-position: -45px -577px;
        margin: -22px 1px 0 0;
        float: right;
      }
      &:hover {
        &:before {
          background-position: -65px -577px;
        }
      }
    }
  }
  .prev-hidden .b-photos-slider-arrow.prev {
    display: none;
  }
  .next-hidden .b-photos-slider-arrow.next {
    display: none;
  }
  .prev-hover .b-photos-slider-arrow.prev {
    &:before {
      background-position: -24px -577px;
    }
  }
  .next-hover .b-photos-slider-arrow.next {
    &:before {
      background-position: -65px -577px;
    }
  }
  .b-photos-slider {
    width: 500px;
    left: 50%;
    margin-left: -250px;
    height: 300px;
    background: lighten(@color-shadow, 40%);
    position: relative;
    &.loading {
      background: lighten(#000, 40%) url("@{img_url}/paid-photo-loader.gif") no-repeat center center;
    }
    .b-photos-inner {
      height: 300px;
      width: auto;
      position: relative;
      font-size: 0;
      line-height: 0;
      letter-spacing: -6px;
      white-space: nowrap;
    }
    .b-photos-item {
      display: inline-block;
      vertical-align: top;
      position: relative;
      height: 300px;
      max-width: 400px;
      min-width: 200px;
      border-right: 10px solid @color-bg-base;
      border-left: 10px solid @color-bg-base;
      margin-left: -10px;
      cursor: pointer;
      padding-bottom: 5px;
      ._transition(opacity 2s);
      a{
        overflow: hidden;
        height: 100%;
        margin-bottom: 5px;
        display: block;
        background: @color-shadow;
        img {
          display: block;
          position: relative;
          height: 300px;
          opacity: .35;
          ._transition(opacity .4s);
        }
        .b-blur-message {
          position: absolute;
          z-index: 3;
          left: 50%;
          text-align: center;
          color: #FFF;
          text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
          top: 50%;
          margin-top: -24px;
          width: 95px;
          line-height: 24px;
          margin-left: -49px;
          font-size: 20px;
          letter-spacing: 0;
          white-space: normal;
        }
      }
      .b-features {
        position: absolute;
        bottom: 5px;
        left: 5px;
        display: none;
        .b-invisible,
        .b-hot,
        .b-vip,
        .b-free-communicate {
          position:relative;
          display:block;
          width:28px;
          height:28px;
          filter: alpha(opacity=70);
          background: @color-shadow;
          background: fadeout(@color-shadow, 30%);
          border-radius: 15px;
          -moz-border-radius: 15px;
          margin:0 0 5px;
          box-shadow:0 0 0px 5px rgba(151,200,3,0);
          ._transition(all .2s);
          &:before {
            display: inline-block;
            content: '';
            background: @sprite_url no-repeat -64px -407px;
            width: 21px;
            height: 19px;
            margin: 4px 0 0 3px;
          }
          &:hover {
            box-shadow:0 0 1px 2px rgba(151,200,3,1);
          }
        }
        .b-vip {
          box-shadow:0 0 0px 5px rgba(254,108,107,0);
          &:before {
            background-position:-6px -407px;
          }
          &:hover {
            box-shadow:0 0 0 2px rgba(254,108,107,1);
          }
        }
        .b-hot {
          box-shadow:0 0 0px 5px rgba(255,212,0,0);
          &:before {
            background-position: -60px -529px;
          }
          &:hover {
            box-shadow:0 0 0 2px rgba(255,212,0,1);
          }
        }
        .b-invisible {
          box-shadow:0 0 0px 5px rgba(255,255,255,0);
          &:before {
            background-position: -83px -143px;
          }
          &:hover {
            box-shadow:0 0 0 2px rgba(255,255,255,1);
          }
        }
      }
      &.current {
        img {
          opacity: 1;
        }
        .b-features {
          display: block;
        }
      }
      &.inactive {
        opacity: 0;
      }
    }
    .blurred-heavy, .blurred {
      img {
        ._blur(18);
      }
      &.current {
        position: relative;
        &:hover {
          .b-naughty-tooltip {
            display: block;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0;
            white-space: normal;
          }
        }
      }
      &>a img {
        ._blur(18);
      }
      &>a, x:-moz-any-link {
        position: relative;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 3;
          background: fade(@black, 90%);
        }
      }
      /*IE10 hack*/
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        &>a {
          position: relative;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
            background: fade(@black, 90%);
          }
        }
      }
      /*IE10 hack end*/
    }
    .blurred {
      img {
        ._blur(10);
      }
      &>a, x:-moz-any-link {
        position: relative;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 3;
          background: fade(@black, 70%);
        }
      }
      /*IE10 hack*/
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        &>a {
          position: relative;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
            background: fade(@black, 70%);
          }
        }
      }
      /*IE10 hack end*/
    }

  }

  .b-user-complain {
    margin:0 30px 30px;
    ul>li {
      display:inline-block;
      margin:0 20px 0 0;
    }
    a {
      color:@color-text-muted;
      ._transition(color 0.1s);
      &:hover {color:@color-theme-base;}
    }
  }

  .btn-view-more,
  .btn-upgrade {
    border-radius: 20px;
    background:@color-btn;
    box-shadow:0 1px 0 fade(@color-shadow,30%);
    text-decoration:none;
    padding:5px 15px;
    display:inline-block;
    &,
    &:hover {
      color:@color-text-base;
    }
  }
}

/*------------------------------Account Free--------------------------------*/
.account-free .w-user-profile {
  .b-user-profile {
    .b-primary-photo {
      display:block;
      position: relative;
      .b-features {
        position: absolute;
        bottom: 5px;
        left: 5px;
        .b-invisible, .b-hot {
          position: relative;
          display: block;
          width: 18px;
          height: 18px;
          filter: alpha(opacity=70);
          background: @color-shadow;
          background: fadeout(@color-shadow, 30%);
          border-radius: 15px;
          -moz-border-radius: 15px;
          margin:0 0 5px;
          ._transition(all .2s);
          &:before {
            display: inline-block;
            content: '';
            background: @sprite_url no-repeat;
            width: 15px;
            height: 16px;
            margin: 2px 0 0 3px;
          }
        }
        .b-hot {
          box-shadow:0 0 0px 5px rgba(255,212,0,0);
          &:before {
            background-position: -93px -535px;
          }
          &:hover {
            box-shadow:0 0 0 2px rgba(255,212,0,1);
          }
        }
        .b-invisible {
          box-shadow:0 0 0px 5px rgba(255,255,255,0);
          &:before {
            background-position: -65px -143px;
          }
          &:hover {
            box-shadow:0 0 0 2px rgba(255,255,255,1);
          }
        }
      }
    }
    .btn-view-more {
      display:inline-block;
    }
    .b-photo-main .b-photo-main-cell {
      height: 0;
      .photo-big {
        min-height:0;
      }
    }
    .b-profile-title {
      .title {
        .screenname {
          line-height:40px;
          margin-bottom:8px;
          vertical-align: top;
        }
      }
    }
  }
  .b-user-photos {
    visibility:hidden;
    opacity:0;
  }
  .b-about {
    padding:0 0 25px;
  }
}

.w-activity-history {
  margin: 10px 0 20px;
  ._radius(5px);
  border: 1px solid #eeeeee;
  border-color: fade(#000000,8%) fade(#000000,15%) fade(#000000,30%);
  box-shadow: 0 1px 3px -1px fade(#000000,35%);
  position: relative;
  &:before {
    content: "";
    height: 100%;
    border-left: 2px solid #ddd;
    left: 84px;
    position: absolute;
    top: 1px;
    z-index: -1;
  }

  .activity-history {
    max-height: 400px;
    overflow: auto;
  }

  .activity-item {
    margin: 12px 15px;
    min-height: 48px;
    position: relative;
    .activity {
      position: absolute;
      left: 0;
      top: 0;
      height: 48px;
      width: 94px;
      ._clearfix();
      .activity-icon {
        background: #fff;
        width: 44px;
        height: 44px;
        border-radius: 30px;
        border: 2px solid #ddd;
        position: relative;
        float: right;
        &:before {
          content: "";
          position: absolute;
          width: 36px;
          height: 36px;
          background: @sprite_url no-repeat -90px -300px;
          top: 4px;
          left: 4px;
        }
      }
    }
    &.view {
      .activity-icon:before {
        background-position: -126px -300px;
      }
    }
    &.wink {
      .activity-icon:before {
        background-position: -162px -300px;
      }
    }
    &.favourite {
      .activity-icon:before {
        background-position: -162px -336px;
      }
    }
    .photo {
      position: relative;
      float: left;
      width: 30px;
      height: 30px;
      padding-top: 9px;
      overflow: hidden;
        &.blurred-heavy {
          img {
            ._blur(4);
          }
          &:before, x:-moz-any-link {
            content: '';
            position: absolute;
            top: 9px;
            left: 0;
            width: 30px;
            height: 30px;
            z-index: 3;
            background: fade(@black, 88%);
          }
          /*IE10 hack*/
          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            &:before {
              content: '';
              position: absolute;
              top: 9px;
              left: 0;
              width: 30px;
              height: 30px;
              z-index: 3;
              background: fade(@black, 88%);
            }
          }
          /*IE10 hack end*/
        }
        &.blurred {
          img {
            ._blur(2);
          }
          &:before, x:-moz-any-link {
            content: '';
            position: absolute;
            top: 9px;
            left: 0;
            width: 30px;
            height: 30px;
            z-index: 3;
            background: fade(@black, 70%);
          }
          /*IE10 hack*/
          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            &:before {
              content: '';
              position: absolute;
              top: 9px;
              left: 0;
              width: 30px;
              height: 30px;
              z-index: 3;
              background: fade(@black, 70%);
            }
          }
          /*IE10 hack end*/
        }





      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .time {
      position: absolute;
      right: 0;
      top: 18px;
      font-size: 9px;
      line-height: 12px;
      color: #9c9c9c;
    }
    .activity-text {
      position:relative;
      padding: 15px 0 0;
      margin: 0 50px 0 110px;
      .screenname {
        color: @color-theme-base;
      }
      p {
        line-height:18px;
      }
    }

    &.loading {
      .date {
        position:relative;
        &:after {
          content:'';
          width:16px;
          height:16px;
          background-image:url("@{img_url}/micro-photo-loader.gif");
          position:absolute;
          top:-1px;
          right:30px;
        }
      }
    }
  }

  .activity-time {
    background: #fff;
    margin: 10px 15px;
    color: #9c9c9c;
    font-size: 12px;
    padding: 5px 0;
    .day {
      display: inline-block;
      font: 14px @font-face-header;
      color: #000;
      text-align: center;
      width: 140px;
    }
  }

  .view-more {
    margin:1px;
    a {
      display:block;
      text-align:center;
      background:#f0f0f0;
      ._radius(0 0 5px 5px);
      background: #dddddd;
      padding: 4px 9px 7px;
      text-decoration:none;
      ._transition(background .1s);
      span {
        position:relative;
        border-bottom: 1px dotted #ff7575;
        ._transition (border 0.2s);
      }
    }
    &.loading a,
    & a:hover {
      span {
        border-color:#dddddd;
        line-height:1em;
        display:inline-block;
        height:1em;
      }
      &:after {
        opacity:0;
      }
    }
    &.loading a {cursor:default;}
    &.loading {
      a {
        ._transition(color 1s linear);
        color:#9c9c9c;
      }
      a span:after {
        display: block;
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        top: -2px;
        left: -21px;
        background-image: url('../images/micro-photo-loader.gif');
        border-radius: 8px;
      }
    }
  }
}

.ie9_all {
  .w-user-profile .b-user-profile .b-profile-title .b-primary-photo{
    &.blurred{
      img {
        ._ie-blur(10);
      }
    }
    &.blurred-heavy{
      img {
        ._ie-blur(18);
      }
    }
  }
  .w-activity-history .activity-item .photo {
    &.blurred{
      img {
        ._ie-blur(2);
      }
    }
    &.blurred-heavy{
      img {
        ._ie-blur(4);
      }
    }
  }
}
