.b-tabs {
  display:block;

  ._clearfix();
  /*overflow:hidden;*/
  /*padding:2px 2px 0;*/

}

.b-tab {
  border:1px solid @color-border-base;
  border-color:fade(@color-shadow,5%) fade(@color-shadow,15%);
  border-bottom:0;
  border-radius: 10px 0 0 0;
  -moz-border-radius: 10px 0 0 0;
  background:@color-bg-light;
  box-shadow:1px 1px 1px 0 @color-bg-base inset, -1px 0 0 fade(@color-shadow,2%);
  -moz-box-shadow:1px 1px 1px 0 @color-bg-base inset, -1px 0 0 fade(@color-shadow,2%);
  float:left;
  height:27px;
  position:relative;
  line-height:29px;
  color:@color-text-muted;
  margin:2px 2px 0 12px;
  cursor:pointer;
  padding-left:12px;
  ._transition(color 0.2s);
}
.b-tab:first-child {
  margin-left:0;
}
.b-tab:after {
  content:'';
  position:absolute;
  background: @sprite_url no-repeat 0 -300px;
  width:36px;
  height:29px;
  right:-36px;
  top:-1px;
  z-index:3;
}

.b-tab.current {
  background:@color-bg-base;
  color:@color-theme-base;
  z-index:4;
  height:28px;
}

.b-tab.current:after {
  background-position:-40px -300px;
}

.b-tab .b-counter{
  color:@color-text-muted;
}
.b-tab .b-counter-new {
  color:@color-theme-base;
  margin:0 0 0 3px;
}
.b-tab .b-counter:before {
  content:'| ';
  color:@color-border-base;
}


.b-tab-content {
  display:none;
}

.b-tab-content.current {
  display:block;
}