.b-wrap-content.b-filter.b-filter--vod.vod-filters
  ul.b-filter-content
      li.b-filter-content__item
        span.icon-arrow-down.b-filter-content__item-link
        a#ccname.b-filter-content__item-link(href='#').dropdown All categories
      li.b-filter-content__item
        a.b-filter-content__item-link.ffilter(href='#', type='rate')= _t('vod', 'title.nav-filter-top-rated')
      li.b-filter-content__item
        a.b-filter-content__item-link.ffilter(href='#', type='view')= _t('vod', 'title.nav-filter-top-viewed')
    form#categoryList.adv-filter(style='display:none;')
      .adv-filter__columns
        - for(var i = 0; i < countCategoriesColumn; i++)
          .adv-filter__column.adv-filter__column--vod
            ul.adv-filter__column__options
              - for(var j = 0; j < catPerColumn; j++)
                li.adv-filter__column__option
                  - if (!categories[j+i*catPerColumn])
                    - continue
                  - if (categories[j+i*catPerColumn].isTop)
                    a.VODCat.topcat(href='#', cid=categories[j+i*catPerColumn].id)= _t('vod', categories[j+i*catPerColumn].name)
                  - else
                    a.VODCat(href='#', cid=categories[j+i*catPerColumn].id)= _t('vod', categories[j+i*catPerColumn].name)
    .b-vod-search-wrap
      .field.select-output-dropdown
        .input-holder(data-toggle)
          .value(data-value)
            input#words.input-value(name="words", type="text", value="", autocomplete="off", data-control)
      button.btn-find(type="button", id="searchFormSubmit")
.vod-subfilters(style="display:none;")
  span.vod-subfilters__title= _t('vod', 'title.nav-subfilter-top-rated')
  .field.subfilter.select-input-dropdown(data-ui-select)
    .input-holder(data-toggle)
      .value(data-value="")= _t('vod', 'text.subfilter-this-month')
      .select
        input#filtersPeriod(type="hidden", value="", name="type", data-control)
        ul.list
          li.item(data-item="month")= _t('vod', 'text.subfilter-this-month')
          li.item(data-item="year")= _t('vod', 'text.subfilter-this-year')
          li.item(data-item="all")= _t('vod', 'text.subfilter-all-time')
