mixin videoLength(hours, minutes, seconds)
  - seconds = parseInt(seconds)
  -if (seconds < 10)
    -seconds = "0" + seconds
  if (hours && hours > 0)
    span.vod-info-b__video-features__item__number= hours + ":" + minutes + ":" + seconds
  else
    span.vod-info-b__video-features__item__number= minutes + ":" + seconds

mixin coverImg(v)
  - if (v.type && v.type === 'webCam')
    img#cover.wrapper-vod-b-item__video-item.js-vod-item(alt=v.title src=v.cover width="317" height="211")
  - else
    img#cover.wrapper-vod-b-item__video-item.js-vod-item(alt=v.title src=secureReproxy(v.cover) width="317" height="211")

mixin sliderImgs(v)
  each th in v.thumbnails
    li.slide
      - if (v.type && v.type === 'webCam')
        img(src=th src-data=th style="width:100%" width="317" height="211")
      - else
        img(src=secureReproxy(th) src-data=secureReproxy(th) style="width:100%" width="317" height="211")

if video
  ul.wrapper-vod-b__table
    - var vodSceneUrl = '/vod/index/id/'
    - if (vodPaymentUrl) vodSceneUrl = vodPaymentUrl + '&vid='
    each v in video
      - if(v.banner == undefined)
        - var itemUrl = vodSceneUrl + v.id
        - if (v.type && v.type === 'webCam')
          - itemUrl = v.url
        li.wrapper-vod-b-item
          .wrapper-vod-b-item__video(class=(v.type && v.type === 'webCam')? "webcamItem" : null)
            a(href=itemUrl, scene=v.id class=(v.type && v.type === 'webCam')? "webcamLink" : "vod-scene", target=(v.type && v.type === 'webCam') ? "_blank" : null)
              +coverImg(v)
              .b-profile-feed-middle-content__btn-play-small.js-vod-item
                .b-profile-feed-middle-content__b-play
                  i.b-profile-feed-middle-content__btn-play-icon-small.icon-play
              .slider
                ul(class="slides")
                  if v.thumbnails
                    +sliderImgs(v)
          .wrapper-vod-b-item__vod-info-b
            a.vod-info-b__title(href=itemUrl, scene=v.id class=(v.type && v.type === 'webCam')? "webcamLink" : "vod-scene", target=(v.type && v.type === 'webCam') ? "_blank" : null)= v.title
            .vod-info-b__video-features
              .vod-info-b__video-features__item
                +videoLength(v.duration_hr, v.duration_min, v.duration_sec)
                span.vod-info-b__video-features__item__title= _t('vod', 'text.v-item-length')
              .vod-info-b__video-features__item
                span.vod-info-b__video-features__item__number= v.views
                span.vod-info-b__video-features__item__title= _t('vod', 'text.v-item-count-views')
              .vod-info-b__video-features__item
                span.vod-info-b__video-features__item__number= v.rating
                span.vod-info-b__video-features__item__title= _t('vod', 'text.v-item-rating')
  div.vod-loadmore-wrap
    button.vodLoadNext.button-b-btn.btn.btn-text-green(style="'clear': 'both'")= _t('vod', 'text.btn-show-more')
