mixin videoLength(hours, minutes, seconds)
  -if (seconds < 10)
    -seconds = "0" + seconds
  if (hours && hours > 0)
    span.vod-info-b__video-features__item__number= hours + ":" + minutes + ":" + seconds
  else
    span.vod-info-b__video-features__item__number= minutes + ":" + seconds
.player_wrapper
  .single-vod
    .single-vod__banners
      // сюда фигачим баннеры
      .single-vod__banners__item
    .single-vod__main
      .single-vod__video
        .flowplayer
          video.fp-engine
            each v in video.formats
              source(src=v.url, type='video/mp4')
          - if (userAccountStatus.type != 'paid')
            .endscreen.endscreen--free
              .endscreen-wrap
                .endscreen-inner
                  h2.endscreen-title= _t('vod', 'text.buy_membership_to_watch_full_videos')
                  a.btn.btn--membership(href=video.membershipUrl)= _t('vod','Buy Membership')
                  .trial-note= _t('vod','This is trial version for free users')
        .video-title-wrap
          .video-rating
            .video-rating__count(style="width:" + (video.rating/5 *100) + "%")
          .video-title= video.title
      .vod-info-b__video-features
        .vod-info-b__video-features__item
          span.vod-info-b__video-features__item__title= _t('vod', 'text.video-length')
          &nbsp;
          +videoLength(video.duration_hr, video.duration_min, video.duration_sec)
        .vod-info-b__video-features__item
          span.vod-info-b__video-features__item__title= _t('vod', 'text.count-video-views')
          &nbsp;
          span.vod-info-b__video-features__item__number= video.views
        .vod-info-b__video-features__item
          span.vod-info-b__video-features__item__title= _t('vod', 'text.video-rating')
          &nbsp;
          span.vod-info-b__video-features__item__number= video.rating
      .single-vod-comments#comments
  .related-videos
    h3.related-videos__title= _t('vod', 'title.related-videos')
    ul
      each v in relatedVideos
        li.wrapper-vod-b-item
          .wrapper-vod-b-item__video
            a.vod-scene(href='#', scene=v.id)
              img#cover.wrapper-vod-b-item__video-item.js-vod-item(alt=v.title src=secureReproxy(v.cover)  width="304" height="228")
              .b-profile-feed-middle-content__btn-play-small.js-vod-item
                .b-profile-feed-middle-content__b-play
                  i.b-profile-feed-middle-content__btn-play-icon-small.icon-play
              .slider
                ul(class="slides")
                  if v.thumbnails
                    each th in v.thumbnails
                      li.slide
                        img(src="" src-data=secureReproxy(th) style="width:100%" width="304" height="228")
          .wrapper-vod-b-item__vod-info-b
            a.vod-info-b__title.vod-scene(href='#', scene=v.id)= v.title
            .vod-info-b__video-features
              .vod-info-b__video-features__item
                +videoLength(v.duration_hr, v.duration_min, v.duration_sec)
                span.vod-info-b__video-features__item__title= _t('vod', 'text.v-item-length')
              .vod-info-b__video-features__item
                span.vod-info-b__video-features__item__number= v.views
                span.vod-info-b__video-features__item__title= _t('vod', 'text.v-item-count-views')
              .vod-info-b__video-features__item
                span.vod-info-b__video-features__item__number= v.rating
                span.vod-info-b__video-features__item__title= _t('vod', 'text.v-item-rating')
