.friends .srh-results { background: transparent; }

.srh-results {
  background: @userList-body_bg;
  .b-search-banner {
    padding: 15px 0;
    position: relative;
    text-align: center;
  }
  &.srh-results-gallery {
    font-size: 0;
    line-height: 0;
    margin: 10px -2px 0;
    .b-search-banner {
      display: inline-block;
      margin: 0 0 4px;
      padding: 0;
      border: none;
    }
    .srh-user {
      position: relative;
      font-size: 12px;
      line-height: 1.2;
      letter-spacing: normal;
      display: inline-block;
      width: 100%/4;
      text-align: center;
      margin: 0 0 4px;
      padding: 0;
      border: none;
      /*background: none;*/
      &>.status {
        display: none;
      }
      &.banner-container{
        padding: 0;
        width: auto;
        display: block;
      }
      .pic {
        display: inline-block;
        width: 76px;
        height: 76px;
        text-align: left;
        float: none;
        vertical-align: top;
        &>.status {
          display: block;
        }
        .tags,
        .pic-counter-holder {
          display: none;
        }
      }
      .details {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 76px;
        margin-left: -38px;
        background: @userList-details_bg;
        .from,
        .user-activity,
        .user-buttons {
          display: none;
        }
        .age {
          color: @userList-details_from_invert;
          position: absolute;
          right: 2px;
          top: -2px;
          &:before {
            display: none;
          }
        }
        .user-info {
          margin: 0;
        }
        .name {
          text-align: left;
          margin: 0 20px 0 2px;
          a {
            font-size: inherit;
          }
          .name-inner {
            color: @userList-name_text_invert;
          }
          .name-wrap {
            &:before {
              display: none;
            }
          }
        }
      }
      .srh-upgrade-box {
        display: none;
      }
      &.srh-user-highlight {
        background: none;
      }
      &.srh-user-upgrade {
        display: none;
      }
    }
  }
}
.friends .srh-user { ._shadow(none); }
.srh-user {
  background: @userList-user-item_bg;
  position: relative;
  padding: 10px 15px;
  margin-bottom: 10px;
  ._shadow(0 2px 3px rgba(0, 0, 0, 0.12));
  &.banner-container{
    padding: 0;
  }
  .status {
    position: absolute;
    z-index: 2;
    top: 4px;
    right: 4px;
    width: 9px;
    height: 9px;
    ._radius(10px);
    background: @userList-status_offline;
    &.online {
      background: @userList-status_online;
    }
  }
  .pic {
    position: relative;
    float: left;
    width: 86px;
    height: 86px;
    overflow: hidden;
    &.holder {
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: @userList-holder_overlay;
      }
      .b-message-holder {
        position: absolute;
        top: 50%;
        margin-top: -12px;
        color: @userList-holder_text;
        font-size: 14px;
        padding: 0 5px;
        left: 0;
        right: 0;
        text-align: center;
      }
    }
    &>.status {
      position: absolute;
      z-index: 2;
      top: 4px;
      right: 4px;
      width: 9px;
      height: 9px;
      ._radius(10px);
      background: @userList-status_offline;
      &.online {
        background: @userList-status_online;
      }
    }
    .tags {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 15;
      .tag {
        display: inline-block;
        vertical-align: top;
        font-size: 9px;
        line-height: 14px;
        padding: 0px 2px;
        background: @userList-tag_bg;
        color: @userList-tag_text;
        text-decoration: none;
        &.new {
          background: @userList-tag_new_bg;
        }
      }
    }
    .hot-user {
      position: absolute;
      top: 3px;
      left: 3px;
      width: 20px;
      height: 20px;
      ._radius(3px);
      background: @userList-hot_user_bg;
      &:before {
        content: "";
        position: absolute;
        display: block;
        top: 3px;
        left: 5px;
        width: 12px;
        height: 15px;
        background: @userList-sprite -55px -58px no-repeat;
        background-size: 132px;
      }
    }
    img {
      display: none;
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      img {
        display: none;
      }
    }
    &.portrait img {
      display: block;
      width: 100%;
    }
    &.album a {
      display: block;
      height: 100%;
      position: relative;
      float: left;
      left: 50%;
      &.hot-user {
        position: absolute;
        top: 3px;
        left: 3px;
        width: 20px;
        height: 20px;
        margin-left: 0;
        ._radius(3px);
        background: @userList-hot_user_bg;
        &:before {
          content: "";
          position: absolute;
          display: block;
          top: 3px;
          left: 5px;
          width: 12px;
          height: 15px;
          background: @userList-sprite -55px -58px no-repeat;
          background-size: 132px;
        }
      }
      img {
        display: inline;
        position: relative;
        left: -50%;
        vertical-align: top;
        height: 100%;
      }
    }
    .pic-counter-holder {
      position: absolute;
      ._gradient(@userList-picCounter_bg1, @userList-picCounter_bg2);
      height: 24px;
      width: 100%;
      bottom: 0;
      z-index: 2;
      .pic-counter {
        position: absolute;
        left: 1px;
        bottom: 1px;
        font-size: 10px;
        color: @userList-pic_counter_text;
        background: @userList-pic_counter_bg;
        ._radius(2px);
        padding: 2px 4px 1px 15px;
        text-decoration: none;
        &:before {
          content: "";
          position: absolute;
          display: block;
          top: 2px;
          left: 3px;
          width: 12px;
          height: 11px;
          background: @userList-sprite -155px -13px no-repeat;
          background-size: 213px;
        }
      }
    }
  }
  .details {
    .user-info {
      margin-left: 101px;
      color: @userList-userinfo_color;
      .name {
        position: relative;
        line-height: 130%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: @userList-name_text_invert;
        a {
          text-decoration: none;
          color: inherit;
          font-size: 17px;
          font-weight: bold;
        }
        .name-wrap {
          position: relative;
          &:before {
            content: '';
            display: inline-block;
            width: 12px;
            height: 11px;
            margin: 0 0 -1px -2px;
            background: @userList-sprite;
            background-size: 213px;
          }
          &.fb {
            &:before {
              background-position: -127px 0;
            }
          }
          &.mob {
            &:before {
              background-position: -141px 0;
            }
          }
          &.android {
            &:before {
              background-position: -155px 0;
            }
          }
          &.ios {
            &:before {
              background-position: -169px 0;
            }
          }
        }
        .name-inner {
          color: @userList-screenname;
        }
      }
      .age,
      .from,
      .about-icon {
        margin: 2px 0 0;
        font-size: 13px;
        line-height: 130%;
        padding-left: 11px;
        position: relative;
        &:before {
          content: "";
          position: absolute;
          width: 8px;
          height: 10px;
          left: 0;
          top: 4px;
          background: @userList-sprite;
          background-size: 213px;
        }
      }
      .age {
        &:before {
          background-position: -140px -50px;
        }
      }
      .from {
        &:before {
          height: 8px;
          top: 3px;
          background-position: -150px -50px;
        }
      }
    }
    .user-activity {
      position: relative;
      margin: 5px 0 0;
      font-size: 12px;
      ._radius(2px);
      &:before {
        position: absolute;
        display: block;
        top: -5px;
        left: 35px;
        width: 11px;
        height: 11px;
        background: @userList-sprite -171px -18px no-repeat;
        background-size: 210px;
      }
      &.wink,
      &.message,
      &.view {
      }
      a {
        color: #f31b62;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  &.srh-user-highlight {
    background: @userList-highlighted_bg;
  }
  &.srh-user-upgrade {
    border-top: none;
    height: 180px;
  }
}
.related-search {
  list-style-type: none;
  .b-results-message {
    text-align: center;
    padding: 15px;
    color: @userList-text_sub;
    font: 400 20px/22px @userList-font;
    background: @userList-result_message_bg;
  }
}
.srh-results-gallery {
  .b-results-message {
    margin-top: -10px;
  }
}
.b-completion-divider {
  text-align: center;
  font: 400 26px/30px @userList-font;
  color: @userList-text_sub;
  padding: 15px 15px 5px;
}
.srh-upgrade-box {
  position: absolute;
  left: 0;
  top: 0;
  background: @userList-upgrade_box_bg url(~"@{userList-images_path}/bg_upgrade_banner.jpg") no-repeat top center;
  width: 100%;
  height: 100%;
  padding: 0;
  z-index: 5;
  background-size: 100%;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: @userList-upgrade_overlay;
  }
  .box-table {
    position: relative;
    margin: 0 auto;
    text-align: center;
    .box-inner {
      display: block;
      font-size: 20px;
      line-height: 25px;
      padding: 0 20px;
      color: @userList-upgrade_title_text;
      margin-top: 60px;
    }
    .box-button {
      text-align: center;
      margin: 15px auto 0;
      a {
        display: inline-block;
        text-decoration: none;
        text-align: center;
        line-height: 100%;
        border: none;
        padding: 10px 20px 11px;
        font-size: 14px;
        line-height: 100%;
        color: @userList-button_text;
        background: @userList-button;
        ._radius(5px);
      }
    }
  }
}

.srh-user-upgrade.srh-upgrade-female{
    width: 300px;
    box-sizing:border-box;
    margin: 0 auto;
    .srh-upgrade-box{
        &.adult {
            background: url(~"@{userList-images_path}/baner_mob_adult.png") no-repeat top center;
        }
        &.bbw {
            background: url(~"@{userList-images_path}/baner_mob_bbw.png") no-repeat top center;
        }
        &.mature {
            background: url(~"@{userList-images_path}/baner_mob_milf.png") no-repeat top center;
        }
        &:before {
            background: none;
        }
        .box-table {
            margin-top: 124px;
            .box-inner {
                width: 53%;
                padding-left: 5px;
                padding-right: 0;
                text-align: left;
                font-size: 14px;
                float: left;
                margin-left: 0px;
                line-height: 17px;
                color: @userList-text;
                margin-top: 0;
            }
            .box-button {
                padding: 0;
            }
            a.button-upgrade {
                font-weight: bold;
                font-size: 16px;
                text-shadow: @userList-text 1px 1px 5px;
                background: @userList-tag_new_bg;
            }
        }
    }
}
.srh-user-upgrade.srh-upgrade-male{
    width: 300px;
    margin: 0 auto;
    box-sizing:border-box;
    .srh-upgrade-box{
        background: @userList-user_motivation_square_one_img no-repeat;
        background-position: 0 -104px;
        &:before {
            background: none;
        }
        .box-table {
            margin-top: 120px;
            .box-inner {
                width: 50%;
                padding-left: 10px;
                padding-right: 0;
                text-align: left;
                font-size: 14px;
                float: left;
                margin-left: 0px;
                line-height: 17px;
                color: @userList-text;
                margin-top: 0;
            }
            .box-button {
                padding: 0;
            }
            a.button-upgrade {
                font-weight: bold;
                font-size: 16px;
                text-shadow: @userList-text 1px 1px 5px;
                background: @userList-tag_new_bg;
            }
        }
    }
}
.srh-results-flirtcast{
  padding-bottom: 10px;
  background: @userList-body_bg;
  .b-flirtcast {
    padding: 15px;
    ._shadow(0 2px 3px rgba(0, 0, 0, 0.12));
    background: @userList-user-item_bg;
    .ftcst-title{
      font-size: 17px;
      font-weight: bold;
      text-align: center;
      padding: 5px;
    }
    textarea {
      border: 1px solid @userList-flrtcst_sep;
      margin-bottom: 15px;
      padding: 3px 5px;
      width: 100%;
      height: 55px;
      color: @userList-text_sub;
      resize: none;
      ._radius(5px);
      ._box-sizing;
    }
    .refresh {
      float: left;
      background: @userList-button_refresh;
      border: none;
      margin-right: 15px;
      ._radius(5px);
      &:before {
        content: "";
        display: block;
        width: 35px;
        height: 27px;
        margin: 3px 5px 3px;
        background: @userList-sprite;
        background-position: -161px -89px;
        background-size: 213px;
      }
    }
    .button {
      display: block;
      overflow: hidden;
      background: @t-main-color;
    }
  }
}
.srh-more {
  padding: 20px 0;
  .srh-more-inner {
    text-align: center;
    &.loading {
      background: url(~"@{userList-images_path}/search-loader.gif") no-repeat center;
      .srh-more-button {
        display: none;
      }
    }
  }
}
.srh-empty {
  padding: 20px 0;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-style: italic;
}
#userListBanner {
  padding-bottom: 10px;
}
