/* images */
@userList-images_path: "../images";
@userList-sprite: url(~"@{userList-images_path}/icons.png");
@userList-user_motivation_square_one_img: url("@{userList-images_path}/banner-sprite.png");
/* end: images */

/* buttons */
@userList-button: #1cbb1c;
@userList-button_text: #fff;
/* end: buttons */

/* text */
@userList-text: #4c4c4c;
@userList-text_sub: #808080;
@userList-font: Helvetica, Roboto, Segoe, sans-serif;
/* end: text */

@userList-body_bg: #efeff4;
/* general styles */
@userList-status_offline: #ead943;
@userList-status_online: #a0f43c;
@userList-tag_bg: #bcbcbc;
@userList-tag_text: #fff;
@userList-tag_new_bg: @t-main-color;
@userList-hot_user_bg: fade(#000, 60%);
@userList-pic_counter_bg: fade(#000, 50%);
@userList-pic_counter_text: #fff;
@userList-button_user_action: #dcdce0;
@userList-button_message: #9c1904;
@userList-button_wink: #ec4109;
@userList-button_add: #ffa22a;
@userList-screenname: @t-main-color;
@userList-name_text_invert: #fff;
@userList-highlighted_bg: spin(lighten(@t-main-color, 32%), 3);
@userList-details_bg: fade(#000, 50%);
@userList-details_from_invert: #fff;
@userList-upgrade_box_bg: #ccc;
@userList-upgrade_title_text: #fff;
@userList-flrtcst_sep: #808080;
@userList-button_refresh: #d4d4d4;
@userList-button_flrtcst_send: #f31b62;
@userList-button_msg_text: @userList-text;
@userList-picCounter_bg1: fade(#000, 0%);
@userList-picCounter_bg2: #4e4e4e;
@userList-holder_overlay: fade(#000, 78%);
@userList-holder_text: #fff;
@userList-result_message_bg: #e9e9e9;
@userList-upgrade_overlay: rgba(0, 0, 0, 0.8);

@userList-userinfo_color: #9fa1a3;
@userButton_text: #2d2d2d;
@userList-user-item_bg: #fff;
/* end: general styles */