- var blockFields = {'general': ["birthday", "location", "sexual_orientation", "height", "weight"], 'appearance': ["build", "hair_color", "eye_color", "race", "tattoo", "pierced"], 'background': ["marital_status", "children", "living", "religion", "smoke", "drink", "education", "income"]}
.b-profile-feed-head.description-head
  .b-profile-feed-head__content-left.b-profile-feed-head__content-left--1em.head_table__div_table-cell
    = _t("profileDetails", "title." + blockId)
    span.changes-status.changes-status--save.inactive(data-message="result")
      span.icon-status.icon-Check
      span(data-message-text="result")
    span.changes-status.changes-status--error.inactive(data-message="error")
      span.icon-status.icon-Attention
      span(data-message-text="error")
  .rightside-content-b-header-right.head_table__div_table-cell
.description_block--content
  if (blockFields[blockId])
    table.description_block--content__table
      tbody
        each field in blockFields[blockId]
          - if (field == 'birthday') {
            tr.description_block--content__table--row(data-ui-date-select)
              td.description_block--content__table__nomination= _t('profileDetails', 'title.'+field)
              td.description_block--content__table__value
                input(type="hidden", name="birthday", data-control, data-date-select-value="1", id="birthday")
                each value, key in formParams.dateFormat
                  if value == "d"
                    .content-table-value-input(data-ui-select, data-date-select-day)
                      a(data-toggle data-value)= parseInt(profile.birthdayDate.day)
                      .profile-grid-custom-select
                        .current-select-item
                          input(type="hidden", value=parseInt(profile.birthdayDate.day), name="birthday_day", data-control, id="birthday_day")
                          span(data-value)
                          .current-select-item-icon-arrow-up
                        .overflow-options(data-items-list)
                          - for (var i = 1; i <= 31; i++)
                            a.option-select-item(data-item=i)= (i < 10 ? "0" : "") + i
                  else if value == "m"
                    .content-table-value-input(data-ui-select, data-date-select-month)
                      a(data-toggle data-value)= parseInt(profile.birthdayDate.month)
                      .profile-grid-custom-select
                        .current-select-item
                          input(type="hidden", value=parseInt(profile.birthdayDate.month), name="birthday_month", data-control, id="birthday_month")
                          span(data-value)
                          .current-select-item-icon-arrow-up
                        .overflow-options(data-items-list)
                          a.option-select-item(data-item="1")= _t("profileDetails",'value.january')
                          a.option-select-item(data-item="2")= _t("profileDetails",'value.february')
                          a.option-select-item(data-item="3")= _t("profileDetails",'value.march')
                          a.option-select-item(data-item="4")= _t("profileDetails",'value.april')
                          a.option-select-item(data-item="5")= _t("profileDetails",'value.may')
                          a.option-select-item(data-item="6")= _t("profileDetails",'value.june')
                          a.option-select-item(data-item="7")= _t("profileDetails",'value.july')
                          a.option-select-item(data-item="8")= _t("profileDetails",'value.august')
                          a.option-select-item(data-item="9")= _t("profileDetails",'value.september')
                          a.option-select-item(data-item="10")= _t("profileDetails",'value.october')
                          a.option-select-item(data-item="11")= _t("profileDetails",'value.november')
                          a.option-select-item(data-item="12")= _t("profileDetails",'value.december')
                  else if value == "y"
                    .content-table-value-input(data-ui-select, data-date-select-year)
                      a(data-toggle data-value)= profile.birthdayDate.year
                      .profile-grid-custom-select
                        .current-select-item
                          input(type="hidden", value=profile.birthdayDate.year, name="birthday_year", data-control, id="birthday_year")
                          span(data-value)
                          .current-select-item-icon-arrow-up
                        .overflow-options(data-items-list)
                          each year, key in formParams.years
                            a.option-select-item(data-item=year)= year
          - } else if (field == 'location') {
            tr.description_block--content__table--row(data-ui-location)
              td.description_block--content__table__nomination= _t('profileDetails', 'title.'+field)
              td.description_block--content__table__value
                .form-field__input.form-field__input--myprofile
                  .relative
                    input.input-item.input-item--icon-right.grey(id="location" type="text" name="location" value=profile[field] autocomplete="off" data-control data-toggle)
                    .b-notificators__popup--search.shadow(data-list)
          - } else {
            tr.description_block--content__table--row(data-ui-select)
              td.description_block--content__table__nomination= _t('profileDetails', 'title.'+field)
              td.description_block--content__table__value
                .relative
                  a(data-toggle data-value)= formParams.values[field][profile[field]]
                  .profile-grid-custom-select.right
                    .current-select-item
                      input(type="hidden", value=profile[field], name=field, data-control, id=field)
                      span(data-value)
                      .current-select-item-icon-arrow-up
                    .overflow-options(data-items-list)
                      each value, key in formParams.values[field]
                        a.option-select-item(data-item=key)= value
          - }
.b-profile-feed-footer.search-box-b--footer
  .b-profile-feed-footer__add.b-profile-feed-footer__add--status
    .action-status-b.inactive
      a.b-profile-feed-footer__action-btn-status(data-btn="reset")= _t("profileDetails", "button.cancel")
      a.b-profile-feed-footer__action-btn-status.save(data-btn="save")= _t("profileDetails", "button.save")