* {
  margin: 0;
  padding: 0;
  zoom: 1;
}

body {
  background:#ffffff;
  margin:0; padding:0;
  font:11px/15px 'Trebuchet MS', Arial;
  color: #444;
}

a {
  color:#ff4269;
  font-weight:normal;
  text-decoration:none;
}

form {
  margin:0; padding:0;
}

input, select {
  outline: none;
}


input[type="text"], .select-holder {
  background: #ffffff;
  width: 205px;
  height: 25px;
  padding: 0 10px;
  margin: 0;
  line-height: 25px;
  font-size: 13px;
  color: #777;
  border-top: 1px solid #d5d8dc;
  border-left: 1px solid #e0e4e8;
  border-right: 1px solid #e0e4e8;
  border-bottom: 1px solid #e8ecf0;
  box-shadow: inset 0 1px 0px rgba(0,0,0,.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.select-holder{
  padding: 0;
  width: 225px;
  position: relative;
  cursor: pointer;
}
.select {
  overflow: hidden;
  width: 100%;
  position: relative;
  z-index: 2;
}

select {
  width: 250px;
  border: 0;
  color: #777;
  background: transparent;
  position: relative;
  left: 5px;
  cursor: pointer;
  -webkit-appearance: none;
}

.date.select-holder{
  width: 103px;
}

.date .select {
  width: 100%;
}

.date select {
  width: 150px;
}

.ddown {
  position: absolute;
  width: 11px;
  height: 6px;
  background-position: -35px -32px;
  z-index: 10;
  top: 50%;
  right: 5px;
  margin-top: -3px;
  z-index: 1;
}

.float_l {
  float: left;
  width: 230px;
}

.float_r {
  float: right;
}

.clear {
  clear: both;
  float: none;
  height: 0;
  position: relative;
  zoom: 1;
}

#payment_note {
  padding: 15px 0pt 7px 24px;
  font-size:11px; font-family: Tahoma;
}

.field-name, .detail {
  float: left;
  font-weight: bold;
  width: 240px;
  color:#000000;
  font-size:12px;
  text-transform: uppercase;
  padding: 7px 5px 0px 24px;
}

.detail {
  color: #888;
  text-transform: none;
  font-weight: 500;
}

.text_f_n {
  margin-top:-1px;
  font-family:tahoma; font-weight:normal; color:#000000; font-size:10px;
}

.expire-card + .text_f_n { width: auto !important; }

.payment_info {
  margin: 20px ; padding: 0 10px;
}

.header-wrapper {
  width: 100%;
  background: #2c2c2c;
}

.header {
  height: 90px;
  width: 1000px;
  margin: 0 auto;
  padding-top: 10px;
  position: relative;
}

#logo {
  background: url("@{paymentLiveCamExternalPp-img_url}/live_cam_logo.png") no-repeat 0 0 transparent;
  width: 278px;
  height: 56px;
  margin-top: 15px;
  float: left;
}

#logo a {
  display: block;
  width: 100%;
  height: 100%;
}

.page-prev{
  position: relative;
  padding-left: 13px;
  float: right;
  margin: 35px 100px 0 0;
}

.pay_later_button {
  font-size: 14px;
  font-weight: 600;
}

.main {
  max-width: 1000px;
  background: #fff;
  margin: 0 auto;
  padding-bottom: 30px;
}

.aside {
  width: 220px;
  float: left;

  .call-text {
    line-height: 1.5em;
    font-size: 14px;
    color: #808080;
    margin-top: 20px;
    text-align: center;
  }

  .phone {
    color:#555559;
    font: 22px "Open Sans Light", Arial,helvetica,sans-serif;
    margin-top: 10px;
    text-align: center;
  }

  .mbg_block {
    border: none;
  }
  .mbg_stamp {
    vertical-align: middle;
    text-align: center;
  }
  .mgb_text {
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
  }
  .mbg_block_holder {
    position: relative;
    cursor: pointer;
  }
  .mbg_hint {
    background: #fcdb32;
    border-radius: 5px;
    position: absolute;
    display: none;
  }
  .mbg_hint::after {
    content: "";
    position: absolute;
    border: 5px solid transparent;
    border-bottom-color: #fcdb32;
    border-top: 0;
    top: -5px;
    left: 30px;
  }
  .mbg_hint p{
    margin: 10px;
  }
  .mbg_block_holder:hover .mbg_hint{
    display: block;
  }
}

.form-wrapper {
  float:left;
  width: 510px;
  margin: 0 0 0 2em;
}

.b-card {
  position: relative;
  padding: 25px 16% 0;
  text-align: center;
  div {
    display: inline-block;
  }
  .ssl-icon{
    width: 17px;
    height: 30px;
    background: url('@{paymentLiveCamExternalPp-img_url}/cb_card.png') no-repeat scroll -46px 0;
    position: relative;
    margin-right: 10px;
  }
}
.b-cards,
.by-visa,
.by-mcard,
.by-amex {
  position: absolute;
  background: -35px -427px url("@{paymentLiveCamExternalPp-img_url}/sprite.png") no-repeat;
  width: 98px;
  height: 85px;
  border-bottom: 1px solid #e0e0e0;
  a {
    border-color: transparent;
  }
}
.b-cards,
.by-visa,
.by-mcard,
.geotrast,
.by-amex {
  height: 35px;
  position: relative;
  border: none;
  margin-right: 10px;
  a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}
.by-cb {
  background:url("@{paymentLiveCamExternalPp-img_url}/cb_card.png") no-repeat;
  width: 40px;
  height: 30px;
  margin-right: 5px;
}
.by-amex {
  background-position: 0px -818px;
  width: 38px;
}
.by-visa {
  background-position: -143px -426px;
  width: 59px;
}
.by-mcard {
  background-position: -214px -427px;
  width: 64px;
  margin-right: 7px;
}
.geotrast {
  position:relative;
  margin-right:0;
  a {
    position:absolute;
    display:inline-block;
    width:100%;
    height:100%;
  }
}

.sprite {
  background-image: url("@{paymentLiveCamExternalPp-img_url}/live_cam_sprite.png");
  background-repeat: no-repeat;
}

h1.step_desc {
  position: relative;
  font-size: 29px;
  line-height: 1;
  padding: 20px 0px 20px 0;
  font-weight: 400;
}

.confirm-block {
  margin-bottom: 30px;
}

.step_desc a {
  position: absolute;
  top: 23px;
  right: 0;
  line-height: 0;
  font-size: 12px;
  line-height: 1;
  padding-left: 10px;
  font-weight: 700;
}

.page-prev i.back {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -5px;
  width: 5px;
  height: 10px;
  background-position: 0 -32px;
}

.pay_btn, .start_video_btn {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  background: #97c803;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk3YzgwMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhY2QwM2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #97c803 0%, #acd03c 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#97c803), color-stop(100%,#acd03c));
  background: -webkit-linear-gradient(top,  #97c803 0%,#acd03c 100%);
  background: -o-linear-gradient(top,  #97c803 0%,#acd03c 100%);
  background: -ms-linear-gradient(top,  #97c803 0%,#acd03c 100%);
  background: linear-gradient(to bottom,  #97c803 0%,#acd03c 100%);
  border:0;
  border-bottom: 7px solid #87a305;
  height: 59px;
  line-height: 56px;
  min-width: 230px;
  padding: 0 10px;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  *display: inline;
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
}

.confirm .start_video_btn{
  padding: 0 40px;
  line-height: 59px;
}
.confirm.confirm-error-b .start_video_btn{
  padding: 0 10px;
}
.form-field-block {
  margin-bottom: 10px;
}

.sum_desc{
  background: #f4f6f8;
  box-shadow: inset 0 0 5px #dbe8ef;
}

.sum_total{
  padding: 0 10px;
  color: #033c75;
  font-size: 16px;
  line-height: 33px;
  font-weight: 700;
  text-transform: uppercase;
}

.totalprice {
  font-size: 18px;
  border-left: 1px solid #fff;
  background: #eff5fa;
  color: #01a413;
  float: right;
  padding-left: 10px;
  box-shadow: inset 0 0 5px #dbe8ef;
}


.input-required-block {
  background-image: url("@{paymentLiveCamExternalPp-img_url}/live_cam_form_marks.png");
  background-repeat: no-repeat;
  background-position: left -95px;
}
.notif .input-required-block{
  height: 20px;
  display: inline-block;
  width: 19px;
}
.input-error-block {
  background-image: url("@{paymentLiveCamExternalPp-img_url}/live_cam_form_marks.png");
  background-repeat: no-repeat;
  background-position: left -196px;
}
.input-successful-block {
  background-image: url("@{paymentLiveCamExternalPp-img_url}/live_cam_form_marks.png");
  background-repeat: no-repeat;
  background-position: left 3px;
}
.card {
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 33px;
}

.card input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
  padding: 0;
  margin: 0;
}

.card-type {
  position: absolute;
  top: 0;
  left: 0;
  width: 44px;
  height: 27px;
  z-index: 2;
  cursor: pointer;
  border: 3px solid #fff;
  border-radius: 4px;
  background-color: transparent;
}

.card input:checked+.card-type {
  border-color: #97c803;
  background-color: #97c803;
}

.cc_visa {background-position: 1px 1px}
.cc_mastercard {background-position: -44px 0; margin-left: 2px;}

.ie7 .card, .ie8 .card {margin-left: 15px;}
.ie7 .cc_mastercard, .ie8 .cc_mastercard {margin-left: 0;}

.ie7 .card input, .ie8 .card input {
  width: auto;
  height: auto;
  top: 10px;
  left: -13px;
  z-index: 3;
}

.ie7 .card input {
  left: -16px;
  top: 6px;
}

.errormsg {
  color: #f04747;
}

.notif {
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-weight: bold;
  text-align: left;
  padding-left: 6px;
}
.form-field-note {
  clear: both;
  overflow: hidden;
  margin-right: 14px;
}
.aligne-b {
  width: 226px;
  float: right;
  margin-top: 5px;
}
.btn-light{
  text-align: center;
  min-width: 20px;
  display: inline-block;
  font: 11px/1.6em Verdana, sans-serif;
  padding: 0 10px;
  color: #b5b5b5;
  border: 1px solid #ddd;
  height: 23px;
  line-height: 22px;
  margin-top: 2px;
  background: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  vertical-align: middle;
  text-decoration: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: background-color 0.1s;
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s;
  cursor: pointer;
}
.btn-light:hover{
  background-color: #f7f7f7;
  color: #b5b5b5;
}
.confirm .field-name.float_l {
  width: 270px;
  padding: 7px 5px 0 0;
}
.confirm .float_l.detail {
  float: left;
  width: auto;
}
.confirm.confirm-error-b .float_l.detail, .confirm .field-name.float_l{
  width: 230px;
}
.confirm .form-field-block {
  margin-bottom: 8px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
}
.payment_page_footer, .payment_page_footer a{
  color: #828080;
}
.payment_page_footer a{
  border-bottom: 1px dotted;
}


.form-field-block { position: relative; }

.card-number {
  position: relative;
  &:before,
  &:after {
    position: absolute;
    .sprite;
    content: "";
    width: 44px;
    height: 27px;
    top: -2px;
  }
  &:before {
    right: -35px;
    background-position: 1px 1px;
  }
  &:after {
    right: -85px;
    background-position: -44px 0;
  }
}

.expire-card { width: 105px; }

.input-error-block {
  input[type="text"],
  .select-holder {
    border: 1px solid #df0000;
    background: lighten(#df0000, 55%);
  }

  .b-error { color: #df0000; }
}

.btn-info {
  width: 20px !important;
  height: 20px;
  text-align: center;
  top: 1px;
  padding: 0;
  background: #f7f7f7;
  position: absolute;
  right: -12px;

  &:before {
    content: "?";
    line-height: 20px;
    font-weight: bold;
  }

  .tooltip {
    position: absolute;
    display: none;
    width: 180px;
    text-align: left;
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    ._radius(10px);
    line-height: normal;
    left: 25px;
    top: -10px;
    z-index: 5;
  }
  &:hover .tooltip { display: block; }
}
