- var userClass = [];
- if(user.marks && user.marks.highlight_profile && !user.livecam) userClass.push("b-user-highlight")
- if(user.livecam) userClass.push("livecam")
.srh-user.cf(class=userClass)
  if (user.livecam)
    span.livecams-ico-top
      span.livecams-ico-block
      span.livecams-ico
        span.livecams-ico-inner
          span.livecams-ico-handler
          span.livecams-ico-lines
        span.livecams-ico-arrow
  .pic.portrait(data-image-grid-item='1', class=naughtyMode.naughtyClass)
    a(href=(user.promocode ? '/livecam/view/id/' + user.login + '/s/1/promocode/' + user.promocode : userLink(user.id)), data-cached-search)
      img(src=user.photos.url)
      - if(naughtyMode.naughtyLevel == 1)
        span.b-message-holder= _t("userListWidget", "text.naughty_photo")
      - if(naughtyMode.naughtyLevel == 2)
        span.b-message-holder= _t("userListWidget", "text.explicit_nudity")
    .tags
      - if(user.statuses && user.statuses.newStatus)
        .tag.new= _t("userListWidget", "text.new")
    - if(user.statuses.onlineStatus)
      .status.online
    - if(user.photos.showCount)
      .pic-counter-holder
        .pic-counter #{user.photos.count}
  .details
    .user-info.cf
      .name
        span.name-wrap.mob
          span.name-inner
            a(href=(user.promocode ? '/livecam/view/id/' + user.login + '/s/1/promocode/' + user.promocode : userLink(user.id)), data-cached-search)= user.login
      .age= user.age
      if (!user.livecam)
        .from #{user.geo.city} | #{user.geo.country}
      .user-activity
        - if(user.activity && user.activity.action)
          - if(user.activity.action == "newsFeed")
            span= _t("userListWidget","text.notification_newsFeed_"+user.activity.type+"_"+user.activity.txtId+"_"+user.gender)
          - else if(user.activity.type == "outgoing")
            span= _t("userListWidget","text.you_"+user.activity.action+"_user_w_time", {"{n}":user.gender, "{time}":user.activity.time})
          - else
            span= _t("userListWidget","text.user_"+user.activity.action+"_you_w_time", {"{n}":user.gender, "{time}":user.activity.time})
        - else if (user.livecam)
          .b-live-cam=_t("userListWidget", "text.on_cam_now")
          .b-live-cam-sponsor=_t("userListWidget", "text.this_is_cam_profile")
        - else if(typeof config === 'undefined' || config.showTextNoActivity)
          = _t("userListWidget", "text.no_activity")
    if (!user.livecam)
      .user-buttons
        a.usr-action.message(data-messagebutton="", href='/#chat/with/'+user.id, data-cached-search)
          = _t("userListWidget", "title.chat")
        button.usr-action.wink(data-winkbutton=user.id, class=(user.buttons.wink.activated)?"active":"")
          span.initial_state= _t("userListWidget", "button.wink")
          span.final_state= _t("userListWidget", "text.winked")
        button.usr-action.favourite(data-favoritebutton=user.id, class=(user.buttons.favorite.activated)?"active":"")
          span.initial_state= _t("userListWidget", "text.add_friend")
          span.final_state= _t("userListWidget", "text.friends")
    else
      .user-buttons
        a(href=(user.promocode ? '/livecam/view/id/' + user.login + '/s/1/promocode/' + user.promocode : userLink(user.id)) class="livecam-ico-link")
          span.livecam-ico-button
            span.livecams-ico
              span.livecams-ico-inner
                span.livecams-ico-handler
                span.livecams-ico-lines
              span.livecams-ico-arrow
          span.livecam-ico-button-text=_t("userListWidget", "button.watch_live_sex_show")
