.b-popup-overlay
  .b-popup-table
    .b-popup-cell
      .b-popup.b-popup-funnel.step-2#funnel-popup-item
        .b-popup-content
          a.voronka_pop_up__close#PhotoMotivationClose(href="#", title=_t("popupPhotoUploadMotivation", "button.close"))
            i.icon-cross
          .voronka_pop_up__container
            h2.voronka-main-title= _t("popupPhotoUploadMotivation", "title.upload_photo")
            .voronka_pop_up__content
              .voronka_pop_up__finish
                .voronka_pop_up__attention
                  .voronka_pop_up__attention__title Please pay attention:
                  ul.voronka_pop_up__attention__list
                    li.voronka_pop_up__attention__list__item
                      | Only 
                      b members with photos appear 
                      | in search results
                      i.icon-Check
                    li.voronka_pop_up__attention__list__item
                      b Women 
                      | won’t answer your messages if they 
                      b don’t see your photo
                      i.icon-Check
                .voronka_pop_up__drug-drop-wrap
                  #PhotoMotivationDragDrop

              #fbPhotoUploaderList
              .voronka_pop_up__search-results#profilePhotoList

              .voronka_pop_up__search-results
                ul.rightside__grid--voronka
                  if users
                    each key in [0,1,2,3]
                      if users[key]
                        - user = users[key]
                          li.rightside__grid-item--voronka
                            a.rightside__grid-item-link(href='#')
                              img.rightside__grid-item-link-img(src=user.photos.url, alt=user.login)
                              if (user.photos.count)
                                .rightside__grid-item--photo-counter.rightside__grid-item--photo-counter--landing
                                  span.rightside__grid-item--photo-counter-icon.icon-Photo
                                  = user.photos.count
                            .rightside__grid-item-profile-b-info
                              a.grid-item-profile-b-info__name(href='#')= user.login
                              .grid-item-profile-b-info__age
                                i.grid-item-profile-b-info__age-icon.icon-Calendar= user.age
                                | years      
              .voronka_pop_up__footer
                a.voronka_pop_up__voronka-button.voronka_pop_up__voronka-button--small.voronka_pop_up__voronka-button--blue.voronka_pop_up__voronka-button--right#PhotoMotivationSave
                  = _t("popupPhotoUploadMotivation", "button.save")
                if params.returnUrl
                  a.voronka_pop_up__voronka-button.voronka_pop_up__voronka-button--small.voronka_pop_up__voronka-button--gray.voronka_pop_up__voronka-button--left#PhotoMotivationBack
                    = _t("popupPhotoUploadMotivation", "button.back")
  .b-loader