mixin userInfo(title, key)
  - if(user[key])
    .data-single
      span.title= title
      -if (isNaN(user[key]))
        span.info= user[key].ucfirst()
      -else
        span.info= user[key]
mixin photoStatus
  - if(user.statuses)
    - if(user.statuses.newStatus)
        span.b-new= _t("user", "title.new")
  - if(userPhotoCount > 1)
    span.b-photos-count= userPhotoCount
#usertop-banner
  #openx-banner-placement-usertop.usertop-banner-openx
#openx-banner-placement-userright.banner-zone-right.openx-banner
.w-user-profile
  - if(profileStatus === "active")
    .b-left-column
      .b-user-profile(class=(upgrade && upgrade.photo_big) ? "free" : "")
        - if(upgrade && upgrade.photo_big)
          a.b-user-photo(href=upgrade.photo_big, class=(naughtyMode.naughtyClass)?naughtyMode.naughtyClass:"")
            - if(user.statuses)
              - if(user.statuses.onlineStatus)
                span.online-status.online
              - if(user.statuses.recentlyOnlineStatus)
                span.online-status
            - if(user.hotUser && user.hotUser.isHot)
              span.hot-status(title=_t("user", "title.hot_user"))
            .image-holder
              img(src=(userPrimaryPhoto && userPrimaryPhoto.avatar) ? userPrimaryPhoto.avatar : user.photoUrl, alt=user.login)
              if(naughtyMode.naughtyLevel == 1)
                .b-blur-message
                  span= _t("user", "title.naughty_photo")
              else if(naughtyMode.naughtyLevel == 2)
                .b-blur-message
                  span= _t("user", "title.explicit_Nudity")
            if(naughtyMode.naughtyMode)
              .naughty-menu
                .naughty-menu-wrap
                  if(naughtyMode.naughtyLevel == 1)
                    .description= _t("userListWidget", "text.switch_sexy")
                    button.btn-switch(data-nm-trigger="2", href="#")= _t("userListWidget", "text.sexy")
                  if(naughtyMode.naughtyLevel == 2)
                    .description= _t("userListWidget", "text.switch_no_limits")
                    button.btn-switch(data-nm-trigger="3", href="#")= _t("userListWidget", "text.no_limits")
            +photoStatus()
        - else
          if (userPhotos.length)
            #userPhotos
          else
            .image-holder
              img(src=(userPrimaryPhoto && userPrimaryPhoto.avatar) ? userPrimaryPhoto.avatar : user.photoUrl, alt=user.login)
              if(naughtyMode.naughtyLevel == 1)
                .b-blur-message
                  span= _t("user", "title.naughty_photo")
              else if(naughtyMode.naughtyLevel == 2)
                .b-blur-message
                  span= _t("user", "title.explicit_Nudity")

            if(naughtyMode.naughtyMode)
              .naughty-menu
                .naughty-menu-wrap
                  if(naughtyMode.naughtyLevel == 1)
                    .description= _t("userListWidget", "text.switch_sexy")
                    button.btn-switch(data-nm-trigger="2", href="#")= _t("userListWidget", "text.sexy")
                  if(naughtyMode.naughtyLevel == 2)
                    .description= _t("userListWidget", "text.switch_no_limits")
                    button.btn-switch(data-nm-trigger="3", href="#")= _t("userListWidget", "text.no_limits")
          .user-statuses
            - if(user.statuses)
              - if(user.statuses.onlineStatus)
                span.online-status.online
              - if(user.statuses.recentlyOnlineStatus)
                span.online-status
            - if(user.hotUser && user.hotUser.isHot)
              span.hot-status(title=_t("user", "title.hot_user"))
        .b-user-main-data
          h1.b-screenname
            span(class=(user.invisibleMode) ? "invisible" : "")= user.login
          -if (!user.isUserAdmin)
            .b-user-data
              .b-btn-activity
                - if(buttons && (buttons.block || buttons.reportProfile))
                  .b-btn-activity-grid
                      span.btn-block
                        .blocker-select
                          ul.list
                            - if(buttons.block && buttons.block.allowForUser)
                                li.item
                                  a.block-btn(data-blockbutton=user.id, class=(buttons.block.activated)?"activated":"")
                                    span.default(title=_t("blocked", "tooltip.block_" + user.data_gender))=_t("blocked", "button.block")
                                    span.alternate(title=_t("blocked", "tooltip.unblock"))=_t("blocked", "button.unblock")
                            - if(buttons.reportProfile && buttons.reportProfile.allowForUser)
                              li.item
                                a.report-btn(data-reportbutton=user.id, class=(buttons.reportProfile.activated)?"activated":"")
                                  span.default(title=_t("reportProfile", "tooltip.report"))=_t("reportProfile", "button.report")
                                  span.alternate=_t("reportProfile", "button.unreport")
                .b-btn-activity-grid
                  button.btn-activity.btn-favorite.btn-text-def(type="button", data-favoritebutton=user.id, class=(buttons.favorite.activated)?"activated":"", title=_t("user", "button.friend"))
                .b-btn-activity-grid
                  button.btn-activity.btn-wink.btn-text-def(type="button", data-winkbutton=user.id, class=(buttons.wink.activated)?"activated":"", title=_t("user", "button.wink"))
                if smsChatData.isSmsChatAvailable
                  .b-btn-activity-grid
                    button.btn-activity.btn-sms.btn-text-def(href="javascript:void(0)", onclick="Backbone.trigger('SmsChat.Start', 'addMsisdnFromProfile', '"+user.id+"')", title="SMS chat")
                if talksEnabled
                  .b-btn-activity-grid
                    button.btn-activity.btn-message.btn-text-def(type="button", data-messagebutton=user.id, href="javascript:void(0)", onclick="Backbone.trigger('Talks.Start', '" + user.id + "')", class=(buttons.favorite.activated)?"activated":"", title=_t('user', 'button.message'))
            - if(upgrade && upgrade.photo_more)
              .upgrade-banner
                span.title= _t("user", "text.get_a_full_membership")
                a.btn-upgrade.btn-green(href=upgrade.photo_more)= _t("user", "text.get_it_now")
      -if (!user.isUserAdmin)
        .w-user-details
          h2.profile-section-title= _t("user", "About Her", {"{n}":user.data_gender})
          .profile-bordered-section
            .profile-data-group
              h3.profile-data-group__title.mind= _t("user", "title.whats_on_gender_mind", {"{n}": user.data_gender})
              .profile-data-group__info= user.chat_up_line
            .profile-data-group
              h3.profile-data-group__title.own-words= _t("user", "title.in_gender_own_words", {"{n}": user.data_gender})
              .profile-data-group__info= user.description
            .profile-data-group
              h3.profile-data-group__title.personal-info= _t("user", "title.personal_info")
              +userInfo(_t("user", "title.age"), "age")
              - if(user["geo"])
              .data-single
                span.title= "City"
                span.info= user["geo"]["city"].ucfirst()
              .data-single
                span.title= "Away from you"
                span.info= _t("user", "title.away-number-" + user.distanceUnits, {"{n}": user["geo"]["distanceToMe"]})
            .profile-data-group
              h3.profile-data-group__title.appearance= _t("user", "title.appearance")
              +userInfo(_t("user", "title.height"), "height")
              +userInfo(_t("user", "title.weight"), "weight")
              +userInfo(_t("user", "title.body_type"), "build")
              +userInfo(_t("user", "title.hair_color"), "hair_color")
              +userInfo(_t("user", "title.eyes_colour"), "eye_color")
              +userInfo(_t("user", "title.pircing"), "pierced")
              +userInfo(_t("user", "title.tattoo"), "tattoo")

            .profile-data-group
              h3.profile-data-group__title.lifestyle= _t("user", "text.lifestyle")
              +userInfo(_t("user", "title.smoke"), "smoke")
              +userInfo(_t("user", "title.marital_status"), "marital_status")
              +userInfo(_t("user", "title.drink"), "drink")
              +userInfo(_t("user", "title.orientation"), "sexual_orientation")
              +userInfo(_t("user", "title.ethnic_origin"), "race")
              +userInfo(_t("user", "title.living"), "living")
              +userInfo(_t("user", "title.education"), "education")
              +userInfo(_t("user", "title.income"), "income")
              +userInfo(_t("user", "title.religion"), "religion")
              +userInfo(_t("user", "title.children"), "children")

            .profile-data-group
              h3.profile-data-group__title.looking-for= _t("profileLookingFor", "title.looking_for")
              if lookingFor.show === "looking-for-block"
                .looking-for-info
                  if lookingFor.gender || lookingFor.age
                    if lookingFor.gender
                      .data-single
                        span.title= _t("user", "title.looking_for_gender")
                        span.info= _t("user", lookingFor.gender)
                    if lookingFor.age
                      .data-single
                        span.title= _t("user", "title.lookin_for_age")
                        span.info= lookingFor.age.from + "-" + lookingFor.age.to
                  if (lookingFor.religion && lookingFor.religion.length) || (lookingFor.race && lookingFor.race.length)
                    if lookingFor.religion && lookingFor.religion.length
                      .data-single
                        span.title= _t("user", "title.lookin_for_religion")
                        span.info= lookingFor.religion.join(", ").ucfirst()
                    if lookingFor.race && lookingFor.race.length
                      .data-single
                        span.title= _t("user", "title.lookin_for_ethnic_origin")
                        span.info= lookingFor.race.join(", ").ucfirst()
              else
                .looking-for-info.member
                  .member-content
                    span.profile-data-group__info= _t("user", "text.full_member_for_view", { "{n}": user.data_gender })
                    a.btn-upgrade.btn-green(href=lookingFor.upgrade)= _t("user", "text.get_in_now")
    .b-right-column
      #messengerContainer
      -if (!user.isUserAdmin)
        #openx-banner-placement-user.banner-zone-center.openx-banner
        #activityHistory
  - else if(profileStatus === "hidden")
    .profile-hidden= _t("user", "text.profile_was_hidden")
  - else if(profileStatus === "removed")
    .profile-hidden= _t("user", "text.profile_was_removed")
#openx-banner-placement-userbottom.banner-zone-bottom.openx-banner

