mixin checkbox(name, checked, title)
  .fbx-item.fbx-field-check(data-element="checkbox")
    .field-check(data-check)
      label
        input(type='checkbox', name=name, checked=checked)
      .switcher
        span ON
        span OFF
    label.field-label= _t("account", title)

#openx-banner-placement-accounttop.accounttop-banner-openx
.form-box
  #accountMenu.settinds-menu
    .fbx-item.fbx-info
      ul
        li.cf
          .info-button
            - if(upgradeButton.type == 'main' || upgradeButton.type == 'features')
              a.button.upgrade(href=upgradeButton.url, data-role='upgrade-button')
                = _t("account", "button.upgrade_free")
          if(hasBillingHistory === true)
            .info-button
              a.button.history(href='/#billingHistory')
                = _t("account", "button.billing_history")
          .info-control
            span= _t("account", "title.status") + ": "
              = _t("account", "title."+ paymentStatus.type)
        li.cf
          .info-control
            span= _t("account", "title.user_id") + ": " + userId
        li.cf
          .info-control
            span= _t("account", "title.language")
          .field-inner
            .form-box-select-wrap(data-select-value)
              select#profileLanguageSelect(name="profileLanguageSelect")
                if l10n.languagesList
                  each title, language in l10n.languagesList
                    - if(language == l10n.locale)
                      option(value=language, selected="selected")= _t("account", "locale."+title)
                    - else
                      option(value=language)= _t("account", "locale."+title)
              span.value
                span#selectedLanguage= _t("account", "locale."+l10n.languagesList[l10n.locale])
          button#accountLanguageSave.button.button-save= _t("account", "button.save")
    .fbx-item.fbx-list
      ul
        li
          a.list-control(data-page='accountChangePassword')= _t("account", "title.change_password")
        li
          a.list-control(data-page='accountChangeEmail')= _t("account", "title.change_email")
        li
          a.list-control(data-page='accountActivityNotifications')= _t("account", "title.new_activity_notifications")
        li
          a.list-control(data-page='accountEmailNotifications')= _t("account", "email_or_sms_notification.email")
        li
          a.list-control(data-page='accountPushNotifications')= _t("account", "email_or_sms_notification.push")
        li
          a.list-control(data-page='accountMobileNotifications')= _t("account", "email_or_sms_notification.sms")
        li.no-before
          a.list-control(href="/site/logout")= _t("account", "button.logout")
    .fbx-item.fbx-list
      #coreg-placement-account-settings.coreg-placement-on-account


  #accountChangePassword.hidden(data-page-content)
    .change-password
      .form-box
        .bx-item.fbx-field-text
          label= _t("account", "title.old_password") + "s:"
          .field-inner
            input#oldPassword(type='password')
            div.field-hint-error(data-error="oldPassword")
        .bx-item.fbx-field-text
          label= _t("account", "title.new_password") + ":"
          .field-inner
            input#newPassword(type='password')
            div.field-hint-error(data-error="newPassword")
        .bx-item.fbx-field-check-holder
          +checkbox('ShowPassword', false, _t("account", "text.show_password"))
      .fbx-item.fbx-field-submit
        button#accountPasswordSave.button= _t("account", "button.save")

  #accountChangeEmail.hidden(data-page-content)
    .change-email
      .form-box
        #accountEmail.fbx-item.fbx-email #{email}
        .bx-item.fbx-field-text
          label= _t("account", "title.your_password") + ":"
          .field-inner
            input#password(type='password')
            div.field-hint-error(data-error="password")
        .bx-item.fbx-field-text
          label= _t("account", "title.new_email_address") + ":"
          .field-inner
            input#email(type='text')
            div.field-hint-error(data-error="email")
      .fbx-item.fbx-field-submit
        button#accountEmailSave.button= _t("account", "button.save")

  #accountActivityNotifications.hidden(data-page-content)
    .activity-notifications
      #notificationSettings
      #notificationNewsFeed
      #coreg-placement-activity-notifications.coreg-placement-on-account
      .fbx-item.fbx-field-submit
        button#accountNotificationsSave.button= _t("account", "button.save")

  #accountEmailNotifications.hidden(data-page-content)
  #accountPushNotifications.hidden(data-page-content)
  #accountMobileNotifications.hidden(data-page-content)
#openx-banner-placement-accountbottom.accountbottom-banner-openx