.urv-activity {
  padding: 0 15px;
  position: relative;
  color: @newsFeed-color_urv_activity;
  overflow: hidden;
  &:before {
    content: "";
    height: 100%;
    border-left: 1px solid @newsFeed-border_before;
    left: 30px;
    position: absolute;
    top: 35px;
    z-index: 1;
  }
  .activity-history {
    overflow: auto;
    position: relative;
    .activity-time {
      margin: 10px 15px 5px 0;
      position: relative;
      z-index: 5;
      color: @newsFeed-color_activity_time;
      font-size: 12px;
      padding: 5px 0;
      background: @newsFeed-bg_activity_time;
      .day {
        display: inline-block;
        color: @newsFeed-color_activity_time_day;
        font-size: 14px;
      }
    }
    .activity-item {
      padding: 0 0 5px 0;
      min-height: 35px;
      position: relative;
      font-size: 14px;
      &.view {
        .activity-icon {
          background: @newsFeed-bg_activity_item_view;
          &:before {
            background-position: -145px -26px;
          }
        }
      }
      &.wink {
        .activity-icon {
          background: @newsFeed-bg_activity_item_wink;
          &:before {
            background-position: -120px -26px;
          }
        }
      }
      &.mail {
        .activity-icon {
          background: @newsFeed-bg_activity_item_mail;
          &:before {
            background-position: -75px -40px;
          }
        }
      }
      &.favourite {
        .activity-icon {
          background: @newsFeed-bg_activity_item_favourite;
          &:before {
            background-position: -170px -26px;
          }
        }
      }
      &.photo {
        .activity-icon {
          background: @newsFeed-bg_activity_item_photo;
          &:before {
            background-position: -125px -120px;
          }
        }
      }
      &.webcam {
        .activity-icon {
          background: @t-main-color;
          &:before {
            background: url("../images/webcam_icon_search.png") no-repeat;
            background-position: center center;
            background-size: contain;
          }
        }
      }
      .photo,
      .photo-view {
        display: none;
        position: relative;
        float: left;
        width: 40px;
        height: 40px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          display: block;
        }
      }
      .photo-view {
        float: right;
        margin-right: 10px;
      }
      .activity {
        width: 30px;
        float: left;
        margin-right: 10px;
      }
      .activity-icon {
        position: relative;
        float: right;
        margin: 5px 0 0 5px;
        width: 30px;
        height: 30px;
        ._radius(15px);
        z-index: 1;
        &:before {
          content: "";
          position: absolute;
          top: 6px;
          left: 4px;
          width: 23px;
          height: 18px;
          background: transparent @newsFeed-sprite -115px -40px no-repeat;
          background-size: 213px;
        }
        &.wink:before {
          background-position: -12px -86px;
        }
      }
      .time {
        position: relative;
        float: right;
        padding: 8px 0;
        color: @newsFeed-color_activity_item_time;
        font-size: 12px;
        line-height: 12px;
        text-align: right;
      }
      .activity-text {
        position: relative;
        padding: 12px 0 0;
        margin: 0 55px 0 42px;
        line-height: 100%;
        .screenname {
          color: @newsFeed-color_activity_item_screenname;
          text-decoration: none;
          font-weight: bold;
        }
      }
    }
    .hightlight {
      background: @newsFeed-bg_hightlight;
    }
  }
}


.page-activity {
  .urv-activity {
    padding: 0;
    &:before {
      display: none;
    }
    .activity-time {
      padding: 5px 15px;
    }
    .activity-item {
      min-height: 40px;
      padding: 8px 15px;
      border-bottom: 1px solid @newsFeed-border_page_activity_item;
      .photo,
      .photo-view {
        display: block;
      }
      .activity {
        width: 40px;
      }
      .activity-icon {
        margin-top: -6px;
      }
      .activity-text {
        display: table;
        padding: 0;
        min-height: 40px;
      }
    }
    &:before {
      left: auto;
      right: 30px;
    }
    .activity-text-wrap {
      display: table-cell;
      vertical-align: middle;
    }
  }
  .time:before {
    content: "";
    border-left: 1px solid @newsFeed-border_page_activity_time;
    left: 20px;
    position: absolute;
    top: -21px;
    bottom: 35px;
    z-index: 0;
  }
  .activity-time + .activity-item .time:before {
    top: 10px;
  }
}
.no-activity {
  display: none;
  width: 100%;
  padding: 20px 0;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  background: @newsFeed-bg_no_activity;
}