/* images */
@newsFeed-images_path: "../images";
@newsFeed-sprite: url(~"@{newsFeed-images_path}/icons.png");
/* end: images */

/* urv-activity */
@newsFeed-bg_activity_time: #fff;
@newsFeed-bg_activity_item_view: @t-main-color;
@newsFeed-bg_activity_item_wink: @t-main-color;
@newsFeed-bg_activity_item_mail: @t-main-color;
@newsFeed-bg_activity_item_favourite: @t-main-color;
@newsFeed-bg_activity_item_photo: @t-main-color;
@newsFeed-bg_hightlight: #e9e9e9;
@newsFeed-color_urv_activity: #696969;
@newsFeed-color_activity_time: #808080;
@newsFeed-color_activity_time_day: @t-main-color;
@newsFeed-color_activity_item_time: #344645;
@newsFeed-color_activity_item_screenname: @newsFeed-color_activity_time_day;
@newsFeed-border_before: #ccc;
/* end urv-activity */

/* page-activity */
@newsFeed-border_page_activity_item: #efeff4;
@newsFeed-border_page_activity_time: @newsFeed-border_before;
/* end page-activity */

@newsFeed-bg_no_activity: @newsFeed-bg_activity_time;