
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Open Sans',Arial, sens Serif;
  font-weight: 400;
  outline: 0;
  font-size: 100%;
  background: transparent;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
:focus {
  outline: 0;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font: 12px/18px "Open Sans", Arial, Verdana,sans-serif;
  font-weight: 400;
  width: 100%;
}
a {
  color: #000;
  outline: 0 none;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
img {
  border: none;
}
input {
  vertical-align: middle;
}
html {overflow-y:scroll;}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}
.wrapper {
  width: 870px;
  margin: 0 auto;
  position: relative;
}
.header-p {
  padding: 25px 0 40px;
  border-bottom: 1px solid #dddddd;
}
.content-p {
  position: relative;
  padding-top: 40px;
  width: 100%;
}
.content-left-p {
  float: left;
  width: 530px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
.banner-p-block {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
.banner-p {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  border: 2px solid #DC1F26;
  display: block;
  width: 100%;

}
.banner-p-free {
  background: none repeat scroll 0 0 #E30613;
  display: block;
  float: left;
  padding: 4px 8px 1px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  width: 65px;
}
.banner-p-free:after {
  border-bottom: 28px solid rgba(0, 0, 0, 0);
  border-left: 16px solid #E30613;
  border-top: 28px solid rgba(0, 0, 0, 0);
  content: "";
  height: 0;
  position: absolute;
  right: -15px;
  top: -1px;
  width: 0;
}
.banner-p-free span {
  color: #FFFFFF;
  font-weight: 600;
  text-shadow: 1px 1px 0 #9F0A14;
}

.banner-p-free span.payment-per {
  font-size: 24px;
  line-height: 20px;
}
.banner-p-free span.payment-free {
  font-size: 26px;
  line-height: 18px;
}
.banner-p-info {
  display: block;
  padding: 9px 0 0 105px;
  vertical-align: middle;
}
.banner-p-size {
  color: #000000;
  font-size: 15px;
  font-weight: 600;
}
.banner-p-size span {
  color: #0A8DE1;
  font-size: 18px;
  font-weight: 600;
}
.banner-p-important {
  color: #000000;
  font-size: 11px;
}
.content-right-p {
  float: right;
  width: 310px;
}
/* Form */
.block-form {
  padding: 30px 0 0;
  position: relative;
}
.pay-row {
  padding: 0 0 22px 25px;
  position: relative;
}
.pay-row:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.pay-row label {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  padding: 6px 0 0;
  width: 158px;
}
.pay-row label span{
  color: #909090;
  display: block;
  font-size: 13px;
  font-weight: 300;
  line-height: 12px;
}
.pay-row .inner {
  float: left;
}
.pay-row input[type="text"], .pay-row input[type="paswword"]{
  border: 1px solid #9999AE;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  color: #545458;
  float: left;
  font-size: 15px;
  padding: 8px 10px;
  width: 300px;
}
.pay-row-expiration input[type="text"] {
  width: 78px;
  margin-right: 15px;
}
.pay-row-name-card input[type="text"]{
  width: 195px;
}
.pay-row-name-card .inner i {
  background:url("@{ageVerificationPage-img_url}/spr.png") no-repeat -507px -6px;
  display: block;
  float: right;
  height: 34px;
  width: 104px;
}
.pay-row-cw2 input[type="text"]{
  width: 79px;
}
.what_this {
  background: url("@{ageVerificationPage-img_url}/spr.png") no-repeat scroll -659px -6px rgba(0, 0, 0, 0);
  border: 0 none;
  color: #0A8DE1;
  float: left;
  font-size: 12px;
  font-weight: 300;
  margin: 3px 0 0 11px;
  padding: 6px 0 7px 34px;
  text-decoration: underline;
}

.what_this:hover + .what_this_block{
  display: block;
}

.what_this_block {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #CCCCCC;
  -moz-box-shadow: 0 0 5px 4px #DEE0E3;
  -webkit-box-shadow: 0 0 5px 4px #DEE0E3;
  box-shadow: 0 0 5px 4px #DEE0E3;
  padding: 15px;
  position: absolute;
  display: none;
  right: -187px;
  top: 40px;
  width: 375px;
  z-index: 10;
}
.what_this_block .inner{
  background: url('@{ageVerificationPage-img_url}/spr.png') no-repeat -754px -61px;
  color: #000000;
  font-size: 13px;
  font-weight: 300;
  padding: 14px 0 22px 158px;
  text-align: left;
}
.pay-terms {
  padding: 0 0 22px 180px
}
.pay-terms-check, .pay-terms-check-info{
  float: left;
}

.pay-terms-check{
  width: 30px;
}

.pay-terms-check-info{
  color: #616366;
  font-size: 11px;
  font-weight: 300;
  line-height: 18px;
  width: 300px;
}
.pay-row-submit {
  text-align: center;
}
.pay-row-submit input, .pay-row-submit button {
  background: #2c77e1;
  background: -moz-linear-gradient(top,  #2c77e1 0%, #055e97 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c77e1), color-stop(100%,#055e97));
  background: -webkit-linear-gradient(top,  #2c77e1 0%,#055e97 100%);
  background: -o-linear-gradient(top,  #2c77e1 0%,#055e97 100%);
  background: -ms-linear-gradient(top,  #2c77e1 0%,#055e97 100%);
  background: linear-gradient(to bottom,  #2c77e1 0%,#055e97 100%);
  border: 0 none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: #FFFFFF;
  font-family: 'Open Sans',sens Serif;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 35px;
  text-transform: uppercase;
}

.content-right-p-inner h2 {
  color: #E30613;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 10px;
}


.content-right-p-inner h3 {
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  margin: 0 0 7px;
}

.content-right-p-inner h4 {
  background: url("@{ageVerificationPage-img_url}/safe-logo.png") no-repeat scroll center left;
  font-size: 17px;
  font-weight: 600;
  margin: 0 0 10px;
  padding: 10px 0 10px 27px
}

.content-right-p-inner .safe_secure {
  color: #000000;
  font-size: 12px;
  font-weight: 600;
  margin: 0 0 8px
}

.checkbox_p_r {
  color: #000000;
  font-weight: 300;
}

.content-right-p-inner p {
  color: #7E8186;
  font-size: 11px;
  font-weight: 300;
  line-height: 16px;
}

hr {
  margin: 10px 0px;
  color: #cecece
}
.content-right-p-inner li {
  background: url("@{ageVerificationPage-img_url}/li.png") no-repeat scroll left center;
  color: #000000;
  font-size: 13px;
  font-weight: 400;
  list-style: none outside none;
  padding: 2px 0 2px 20px;
}
.copyright {
  padding: 35px 0 70px;
  text-align: center;
}
.copyright h3 {
  font-weight: 600;
  font-size: 12px;
  color: #92979f;
}
.copyright p {
  color: #92979f;
  font-size: 11px;
  font-weight: 300;
}
.footer {
  border-top: 1px solid #DDDDDD;
}
.copyright a {
  color: #196cf5;
}
.b-back {
  float: right;
  margin-bottom: 15px;
  a {
    color: grey;
  }
}