if message.separate
  - var date = (["today", "yesterday"].indexOf(message.date) > -1) ? _t("messenger", "text.conversation_started." + message.date) : message.date;
  .message.cf.message-date(data-message-date=message.date)= date

- var messageClass = "";
case true
  when message.data.autoreplySubject && !message.data.autoreplyDescription
    - messageClass = "msg-autoreply"
  when message.data.autoreplyDescription && !message.data.autoreplySubject
    - messageClass = "msg-autoreply"
  when message.data.userMatchAlerts
    - messageClass = "msg-new-unit"
  when message.data.type === 'flirtcast'
    - messageClass = "msg-flirtcast"
  when message.direction === "in"
    - messageClass = ""

.message.cf(data-message="1", class=["message-"+message.direction, message.loading ? "loading" : "", message.data.isModerated? "msg-scammer" : ""])
  .message-text(data-message-text="1", class=[messageClass])
    .message-item-text
      if blurred
        - var offset = 8
        if message.text.length > offset
          != message.text.substr(0, offset)
        span.upgrade-text
      else
        if message.data.autoreplySubject && !message.data.autoreplyDescription
          != _t("messenger", "text.autoreply") + ": "+message.text
        else if message.data.autoreplyDescription && !message.data.autoreplySubject
          != _t("messenger", "text.autoreply") + ": "+message.text
          div _t("messenger", "text.this_is_autoreply")
        else
          != message.text
    .time= message.time
