#Messenger
  div
    .msg-box(class=isUserAdmin ? 'admin-page' : '')
      .msg-history#messageHistory
        .msg-view-more#messengerMore(data-message-more="1", class=(!prev_exist) ? 'hidden' : '')
          span
            = _t("messenger", "button.previous")
  if (!isUserAdmin)
    .msg-input.cf(data-input-block='1')
      if upgrade_communication_show && upgrade_communication
        .message-upgrade.fbx-field-check
          button.field-check(data-link="1", data-href=upgrade_communication+userId)
            label
              input(type="checkbox")
            .switcher
              span= "ON"
              span= "OFF"
          label.field-label=_t("messenger", "button.upgrade_communication")
      if upgrade_read
        .message-upgrade
          a.button(href=upgrade_read)
            = _t("messenger", "button.upgrade_to_read")
      if (!isUserAdmin)
        .msg-smiles#messengerSmileList(data-messenger-smiles="1")
          ul
            each smile in smileList || []
              li.msg-smile
                img.msg-emoji(data-smile=smile, src=smileBlank)
        .submit
          button#messengerSend(data-messenger-send="1")
        .input.cf
          .input-wrap
            textarea.message-input#messengerInput(tabindex="0", name='new_message_input', data-messenger-field="1")
