.b-index
    .bg
    .overlay
    .b-head
        h1.head-logo
        .lside
          button#toolbar-back.tbr-button.tbr-button-back
    .form-funnel
        .item
            h2.funnel-title= _t("popupPhotoUploadMotivation", "title.upload_photo")
        .item
            ul.list
                li= _t("funnelPhotoUploadMotivation", "text.members_with_photo_in_search")
                -if (profile.genderKey === 1)
                    li= _t("funnelPhotoUploadMotivation", "text.no_answers_without_photo_male")
                -if (profile.genderKey === 2)
                    li= _t("funnelPhotoUploadMotivation", "text.no_answers_without_photo_female")
        .item
          if users
            each key in [0,1,2]
              if users[key]
                - user = users[key]
                  .pic(data-image-grid-item='1')
                    img(src=src=user.photos.url)
                    .tags
                      .tag.new= _t("funnelPhotoUploadMotivation", "text.new")
                    .status.online
                    .usr-info-holder
                    a.name(href='#')
                      span.screenname= user.login
                      | ,
                      span.age= user.age
                    .pic-counter-holder
                      .pic-counter= user.photos.count
          #photoUploadButtons

