@borders-color: #e6e6e6;
@features-title: #999;
@btn-upgrade-start: #9fc94c;
@btn-upgrade-end: #78b302;

.b-filter--vod {
    display: inline-block;
    width: 100%;
}

.vod-filters {
    padding: 10px 0 10px;
    border-bottom: 1px solid @borders-color;
    margin-bottom: 30px;
}

.b-filter-content {
    float: left;
    margin-top: 5px;
    &__item {
        float: left;
        margin-right: 30px;
        font-size: 14px;
        position: relative;

        .icon-arrow-down,
        .icon-arrow-up {
            position: absolute;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            right: 15px;
            top: 50%;
            margin-top: -3px;
            z-index: 1;

            &:after {
                position: absolute;
                content: "";
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                right: -8px;
                margin-top: -8px;
            }
        }

        .icon-arrow-up {
            border-bottom: 6px solid #000;
            &:after {
                border-bottom: 7px solid #fff;
                margin-top: 1px;
            }
        }

        .icon-arrow-up + .dropdown {
            background: #fff;
            ._radius(3px 3px 0 0);
            ._shadow(0 0 6px fade(#000, 30%));
            &:after {
                position: absolute;
                width: 100%;
                height: 9px;
                background: #fff;
                z-index: 4;
                left: 0;
                bottom: -6px;
                content: "";
            }
        }

        .icon-arrow-down {
            border-top: 6px solid #000;
            &:after { border-top: 7px solid #fff; }
        }

        a {
            text-decoration: none;
            line-height: 12px;
        }

        .dropdown {
            position: relative;
            color: #000;
            padding: 5px 35px 5px 10px;
        }

        .ffilter {
            color: @t-main-color;
        }

        .item-link--current {
            position: relative;
            font-weight: bold;
            &:after {
                position: absolute;
                width: 100%;
                height: 3px;
                background: @t-main-color;
                content: "";
                left: 0;
                margin-top: 12px;
                top: 100%;
            }
        }
    }
}

.b-vod-search-wrap {
    float: right;
    .btn-find {
        display: inline-block;
        background: @t-main-color;
        border: 1px solid darken(@t-main-color, 10%);
        box-shadow: inset 0 1px fade(#fff, 30%);
        width: 28px;
        height: 28px;
        position: relative;
        margin-left: 5px;
        ._radius(3px);
        &:after {
          content: '';
          background: url('@{t-main-sprite}') no-repeat 0 -992px;
          width: 16px;
          height: 16px;
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -8px 0 0 -8px;
        }
        &:hover {
          background: lighten(@t-main-color, 10%);
        }
    }
    .select-output-dropdown {
        .value {
            padding: 4px 32px 4px 10px;
            &:before { content: none; }
        }
    }
}

.vod-subfilters {
    margin: -18px 0 14px;
    height: 31px;

    &__title {
        color: #333;
        font-size: 14px;
        font-weight: bold;
        display: inline-block;
        vertical-align: middle;
        margin-right: 22px;
        height: 28px;
        line-height: 30px;
    }

    .subfilter {
        position: relative;
        .select {
          &:after {
            display: none;
          }
        }
        .value {
          ._shadow(none);
          font-weight: normal;
          width: 120px;
          &:before,
          &:after {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
          }
          &:before {
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            right: 6px;
            top: 50%;
            margin-top: -3px;
            border-top: 6px solid #000;
            z-index: 1;
          }
          &:after {
            border-top: 5px solid #fff;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            right: 7px;
            margin-top: -3px;
            top: 50%;
            z-index: 2;
          }
        }
        .select {
          position: absolute;
          border: 0;
          border-radius: 0;
          box-shadow: 0 0 5px fade(#000, 50%);
          top: -4px;
          left: 3px;
          width: 120px;
          padding: 0;
          z-index: 2;
          .list {
            border: 0;
            &:after{ display: none; }
          }
          .item {
            padding: 8px 7px;
            border-radius: 0;
            color: @features-title;
            font-weight: normal;
            &.active {
              color: @t-main-color;
              font-weight: bold;
            }
            &:hover {
              background: @t-main-color;
              color: #fff;
            }
            &:first-child:before,
            &:first-child:after {
                content: "";
                position: absolute;
                top: 17px;
                margin-top: -3px;
            }
            &:first-child:before {
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                right: 6px;
                border-bottom: 6px solid #000;
                z-index: 1;
            }
            &:first-child:after {
                border-bottom: 5px solid #fff;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                right: 7px;
                z-index: 2;
                margin-top: -2px
            }
            &:first-child:hover:after { border-bottom: 5px solid @t-main-color; }
            &:first-child:hover:before { border-bottom: 6px solid #fff; }
          }
        }
    }
}

.adv-filter {
    position: absolute;
    width: 100%;
    max-width: 710px;
    background: #fff;
    ._shadow(0 0 4px fade(#000, 30%));
    ._box-sizing;
    padding: 10px 0;
    top: 41px;
    z-index: 3;

    &__search { display: none; }

    &__columns { font-size: 0; }

    &__column {
        display: inline-block;
        width: 25%;
        font-size: 14px;
        line-height: 16px;
        vertical-align: top;
        &__option {
            a {
                color: #999;
                display: block;
                padding: 8px 15px;
                text-decoration: none;
                &.topcat {
                  color: #4c4c4c;
                  font-weight: bold;
                }
            }
            &:hover {
                background: @t-main-color;
                a { color: #fff; }
            }
        }
    }
}

.vod-b {
    &__title { display: none; }
}

.wrapper-vod-b {
    &__table {
        margin: 0 auto;
        width: 100%;
        max-width: 1390px;
        font-size: 0;
    }

    &-item {
        width: 23.5%;
        display: inline-block;
        vertical-align: top;
        margin: 0 1.4409% 20px 0;
        border: 1px solid @borders-color;
        font-size: 14px;
        line-height: normal;

        &:nth-child(4n) { margin-right: 0; }

        .webcamItem::after {
            content: "LIVE";
            color: #fff;
            background-color: #dd0000;
            display: inline-block;
            width: 35px;
            height: 20px;
            margin-top: 10px;
            position: absolute;
            top: 0;
            right: 0;
            margin: 15px 20px 0 0;
            font-weight: 900;
            padding: 3px;
            text-align: center;
            border-radius: 5px;
        }

        &__video {
            padding: 5px;
            position: relative;
            .vod-scene {
                display: block;
                overflow: hidden;
                position: relative;
                img { max-width: 100%; }

                .slider {
                    display: none;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    overflow: hidden;

                    .slides { width: 800px; }

                    .slide { float: left; }
                }
                &:hover {
                    .slider { display: block; }
                }
            }

            .webcamLink {
                display: block;
                overflow: hidden;
                position: relative;
                img { max-width: 100%; }

                .slider {
                    display: none;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    overflow: hidden;

                    .slides { width: 800px; }

                    .slide { float: left; }
                }
                &:hover {
                    .slider { display: block; }
                }
            }

            &-viewed {
                text-indent: -9999px;
                position: absolute;
            }
        }

        .vod-info-b__title {
            color: @t-main-color;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            margin: 3px 0 10px;
            ._text-overflow;
            padding: 0 5px;
            cursor: pointer;
            display: block;
            text-decoration: none;
        }
    }
}

.vod-info-b{
    &__video-features {
        display: table;
        width: 100%;
        border-top: 1px solid @borders-color;

        &__item {
            display: table-cell;
            width: 33.3%;
            height: 60px;
            vertical-align: middle;
            text-align: center;
            border-left: 1px solid @borders-color;

            &:first-child { border: 0; }

            span { display: block; }

            &__title { color: @features-title; }

            &__number { font-weight: 600; }
        }
    }
}

.vod-loadmore-wrap { text-align: center; }

.vodLoadNext {
    padding: 0 40px;
    margin-top: 10px;
}

.flowplayer {
  .endscreen {
    top: 0;
    left: 0;
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: #444;
    text-align: center;
    ._box-sizing;
    padding: 15px 0 10px;
    overflow: hidden;
    border-radius: 20px;
    margin: 3% 10% auto 10%;
    z-index: 2;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    transition: opacity .5s;
    &--free {
      background: fade(#000, 75%);
      display: none;

      .endscreen-wrap {
        display: table;
        width: 100%;
        height: 100%;
        position: relative;
      }

      .endscreen-inner {
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        text-align: center;
        padding: 0 90px;
      }

      .endscreen-title {
        color: #fff;
        font-size: 1.625em;
        font-weight: 300;

        b { font-weight: 600; }
      }

      .trial-note {
        font-size: 0.875em;
        color: #fff;
      }

      .btn--membership {
        max-width: none;
        margin: 40px 0 60px;
        display: inline-block;
        font-size: 1.5625em;
        padding: 14px 50px 16px;
        width: auto;
        ._gradient(@btn-upgrade-start, @btn-upgrade-end);
        -webkit-box-shadow: 0 -2px 2px fade(#000, 30%) inset;
        -moz-box-shadow: 0 -2px 2px fade(#000, 30%) inset;
        box-shadow: 0 -2px 2px fade(#000, 30%) inset;
        text-shadow: 1px 1px fade(#000, 10%);
        border: 0;
        color: #fff;

        &:hover { ._gradient(@btn-upgrade-end, @btn-upgrade-start); }
      }
    }

    &__row { height: 52%; }

    &__title {
      font-size: 16px;
      color: #fff;
      margin-bottom: 12px;
      text-transform: uppercase;
    }

    &__item {
      position: relative;
      width: 130px;
      height: 130px;
      display: inline-block;
      vertical-align: top;
      overflow: hidden;
      margin: 0 20px;
      &.hide { display: none; }

      &__thumb {
        height: 100%;
        text-align: center;
      }

    &__link {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
      }

      img {
        width: auto;
        height: 100%;
      }

      .b-profile-feed-middle-content__btn-play-small {
        height: 30px;
        width: 30px;
        left: 50%;
        margin-left: -15px;
      }

      &__hidden {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 100%;
        -webkit-transition: top 0.4s ease;
        -moz-transition: top 0.4s ease;
        transition: top 0.4s ease;
        height: 100%;
        width: 100%;
        background: rgba(18, 27, 47, 0.8);
        color: #fff;
        font-size: 12px;

        .online-status,
        .video-quality {
          position: absolute;
          top: 3px;
          font-size: 8px;
          text-transform: uppercase;
        }

        .online-status {
          left: 3px;
          color: #069d2d;

          &:before {
            display: inline-block;
            width: 6px;
            height: 6px;
            background: #069d2d;
            border: 1px solid darken(#069d2d, 15%);
            margin-right: 3px;
            content: "";
          }
        }

        .video-quality {
          position: absolute;
          color: #fcdd0c;
          right: 3px;
          font-size: 10px;
          font-weight: bold;
        }

        .model-info {
          position: absolute;
          left: 0;
          bottom: 5px;
          width: 100%;
          ._box-sizing;
          padding: 0 5px;

          &__name {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            line-height: 16px;
          }

          &__age { color: #c8c8c8; }

          &--video {
            display: table;
            width: 100%;
            height: 100%;

            .model-info-wrap {
              display: table-cell;
              vertical-align: middle;
              width: 100%;
              height: 100%;
            }

            .model-info__name { max-width: 70px; }
          }
        }
      }

      &:hover {
        .endscreen__item__hidden { top: 0; }
      }
    }
  }

  &.is-finished {
    .fp-ui {
      background: none !important;
    }
    .fp-timeline {
      display: none;
    }
  }

  &.is-fullscreen {
    .endscreen {
      &__item { display: inline-block !important; }
    }
    .endscreen__list {
      height: 90%;
      overflow: hidden;
    }
    .endscreen__item {
      width: 200px;
      height: 50%;
      margin: 0;
    }
  }
}

/* single VOD*/
.player_wrapper {
  margin: 0 auto;
  max-width: 980px;
}

.single-vod {
  display: inline-block;
  width: 100%;

  &__banners {
    float: right;
    width: 300px;

    &__item {
      margin-bottom: 10px;
      img { max-width: 300px; }
    }
  }

  &__main { margin-right: 310px; }

  &__video {
    border: 1px solid @borders-color;
    padding: 5px;

    .video-title {
      padding: 16px 100px 14px 10px;
      color: #1b1b1b;
      font-size: 20px;
      line-height: 22px;
      font-weight: 600;
      ._text-overflow;

      &-wrap { position: relative; }
    }

    & + .vod-info-b__video-features {
      border: 1px solid @borders-color;
      border-top: 0;
      ._box-sizing;

      span { display: inline-block !important; }
    }
  }

  &-comments {
    margin-top: 35px;
  }
}

.related-videos {
  margin-top: 35px;

  &__title {
    color: @t-main-color;
    font-size: 24px;
    line-height: 26px;
    padding: 0 0 15px 5px;
  }

  .wrapper-vod-b-item {
    width: 32%;
    margin: 0 1.4409% 20px 0;

    &:nth-child(3n) { margin-right: 0; }
  }
}

.video-rating {
  background: url("@{t-img}/stars.png") repeat-x 0 0;
  position: absolute;
  width: 70px;
  height: 14px;
  right: 10px;
  top: 15px;

  &__count {
    background: url("@{t-img}/stars.png") repeat-x 0 -15px;
    display: inline-block;
    height: 14px;
  }
}
/**/
