p, span, ul, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.cf:before,
.cf:after {
  content: ' ';
  display: table;
}

.cf:after {
  clear: both;
}

.hidden {
  display: none !important;
}

html {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-tap-highlight-color: @main-tap_highlight;
  -webkit-font-smoothing: antialiased;
}

html, body {
  ._user-select(none);
  min-height: 100%;
}

body {
  position: relative;
  background: @main-bg_main;
  color: @main-text_main;
  font: 100 12px/1.2em @main-font;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  &:after {
    display: none;
    content:
      url(~"@{main-images_path}/pic-counter-x2.png")
      url(~"@{main-images_path}/activity.png")
      url(~"@{main-images_path}/list-arrow.png")
      url(~"@{main-images_path}/search-loader.gif")
      url(~"@{main-images_path}/switcher-x2.png")
      url(~"@{main-images_path}/user-buttons-x2.png")
      url(~"@{main-images_path}/side-menu.png")
      url(~"@{main-images_path}/user-info-x2.png");
  }
}

.photo-preloader {
  background: url(~"@{main-images_path}/loader.gif") center no-repeat;
}

.viewport {
  width: 100%;

  &.side-opened { height: 100%; }
  .l-content {
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;    
  }
  .l-static {
    position: relative;
    background: @main-static_bg;

    .title { margin-bottom: 20px; }
    p {
      line-height: 1.2em;
      margin-bottom: 15px;
    }
  }
  .l-sidebar {
    position: fixed;
    top: 0;
    width: 240px;
    background: @main-sidebar_bg;
    z-index: 1;
    left: -240px;
  }
  &.side-opened {
    overflow: hidden;
    .l-content {
      position: fixed;
      height: 100%;
      overflow: hidden;
      left: 240px;
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: @main-overlay;
        z-index: 1000;
      }
    }
    .l-sidebar {
      left: 0;
      position: fixed;
      ._shadow(~"0 10px 10px @{main-sidebar_shadow}");
      z-index: 30;
      height: 100%;
      overflow: auto;
    }
  }
  &.gallery-opened {
    height: 100%;
    .l-content {
      position: absolute;
      height: 100%;
      overflow: hidden;
    }
  }
}

.main {
  /* loading styles */
  &.loading {
    position: absolute;
    top: 52px;
    left: 0;
    height: 100%;
    width: 100%;
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 60px;
      height: 60px;
      left: 50%;
      top: 50%;
      margin: -30px 0 0 -30px;
      background: url(~"@{main-images_path}/loader.gif");
      background-size: 100%;
    }
  }
  /* end: loading styles */
  .l-static & {
    padding: 10px;
  }
}

.button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  line-height: 100%;
  border: none;
  padding: 10px 20px 11px;
  font-size: 14px;
  line-height: 100%;
  color: @main-button_text;
  background: @main-button;
  ._radius(5px);

  &.history { background: #d9d9d9; }
}
.button-cancel {
  .button;
  color: @main-button_cancel_text;
  background: @main-button_cancel;
}
.button-upgrade {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  padding: 10px 55px;
  border: none;
  color: @main-button_upgrade_text;
  background: @main-button_upgrade;
  ._radius(5px);
}

/*admin page*/
aside {
  &.rside {
    &.admin-page {
      width: 36px;
      height: 36px;
      background: @main-sprite no-repeat 0 -165px;
      background-size: 213px;
      margin: 8px 8px 0 0;
    }
  }
}
.conversation {
  font-size: 13px;
  text-align: center;
  margin-top: 5px;
  color: @main-admin_conversation_text;
}
.msg {
  padding: 10px 20px;
  .msg-wrap {
    font-size: 14px;
    color: @main-admin_message_text;
    position: relative;
    padding: 12px;
    background: @main-admin_message_bg;
    ._radius(6px);
    &:before {
      position: absolute;
      content: '';
      display: block;
      width: 11px;
      height: 36px;
      bottom: 0;
      left: -5px;
      background: url(~"@{main-images_path}/icons.png") no-repeat -40px -165px;
      background-size: 213px;
    }
    .imb_title {
      margin-bottom: 18px;
      font-size: 14px;
    }
    p {
      margin-bottom: 10px;
    }
    .underline {
      text-decoration: underline;
    }
    a {
      display: inline-block;
      text-decoration: underline;
      margin-bottom: 18px;
    }
    .list {
      list-style: none;
      margin-bottom: 10px;
      li {
        padding: 0 0 7px;
        &:before {
          content: "- ";
        }
      }
    }
  }
  .time {
    padding: 10px 0 0;
    text-align: right;
    color: @main-admin_time_text;
    font-size: 11px;
    position: relative;
    &:before {
      content: '';
      display: inline-block;
      width: 12px;
      height: 12px;
      background: url(~"@{main-images_path}/icons.png") no-repeat -53px -165px;
      background-size: 213px;
      margin: 0 3px 0 0;
      position: relative;
      top: 2px;
    }
  }
  .admin-user-items {
    margin: 10px -10px 5px 0;
    .user-item {
      position: relative;
      display: inline-block;
      vertical-align: top;
      margin: 0 10px 10px 0;
      width: 75px;
      height: 75px;
      &:hover .user-view {
        text-decoration: none;
      }
    }
    .user-photo {
      width: 75px;
    }
    .user-view {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 3px;
      font-size: 11px;
      text-align: center;
      text-decoration: underline;
      color: @main-admin_view_bg;
      background: @main-admin_view_text;
    }
  }
}
/*end: admin page*/

/*form box*/
[data-prefix="fbx"] {
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.form-box {
  .change-password,
  .change-email {
    padding: 0 5px;
  }
  &.divider {
    margin-top: 6px;
  }
}
.fbx-item {
  &:first-child, form &:first-child {
    margin-top: 0;
  }
}
.fbx-title {
  font-size: 16px;
  color: @main-form_title;
  padding: 15px;
  background: @main-form_title_bg;
}
.fbx-email {
  font-size: 16px;
  padding: 14px 0 7px 0;
}
.fbx-field-text,
.fbx-field-select {
  margin: 10px 0px 5px;
  label {
    display: block;
    padding: 0;
    margin: 0 0 5px;
    font-size: 14px;
  }
  .field-inner {
    padding: 0 0 5px;
    input {
      -webkit-appearance: none;
      width: 100%;
      height: 37px;
      padding: 0 10px;
      font-size: 14px;
      border: none;
      ._radius(5px);
      background: @main-form_input_bg;
      ._box-sizing;
    }
    &.field-error {
      .field-hint-error {
        display: block;
      }
      & + .field-hint-error {
        display: block;
      }
      input {
        border: 1px solid @main-form_inpur_error;
      }
    }
  }
  .field-hint-error {
    display: none;
    font-size: 11px;
    padding: 0;
    color: @main-form_inpur_error;
  }
}
.fbx-field-check-holder {
  margin-left: 10px;
}
.fbx-list-padding {
  padding: 15px 0 15px 15px;
  margin: 0;
  &.inner {
    padding: 0;
    border: 0;
    margin: 21px -60px 0 0;
    display: none;
    &.active {
      display: block;
    }
    .fbx-field-select {
      margin: 0;
    }
    .radio-check {
      position: relative;
      padding: 0 0 0 30px;
      margin-top: 15px;
      display: table;
      width: 100%;
      ._box-sizing();
      input[type="radio"] {
        position: absolute;
        opacity: 0;
        left: 50%;
        top: 50%;
        margin-left: -6px;
        margin-top: -7px;
      }
      .radio-marker {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        border: 1px solid @main-form_radio_border;
        background: @main-form_radio_bg;
        ._radius(18px);
        height: 16px;
        width: 16px;
      }
      .form-box-select-wrap, .fbx-panel-testarea {
        margin: 0;
        padding: 0;
        width: 100%;
      }
      &.active {
        .radio-marker {
          text-align: center;
          ._radius(12px);
          &:after {
            content: '';
            display: inline-block;
            width: 12px;
            height: 12px;
            margin-top: 2px;
            text-align: center;
            background: @main-form_radio_inner_bg;
            ._radius(10px);
          }
        }
      }
    }
    .fbx-field-submit {
      margin-bottom: 0;
    }
  }
  .fbx-field-check {
    padding-top: 0;
    .field-check {
      top: -5px;
    }
  }
}
.fbx-field-check {
  padding: 15px 75px 15px 0;
  position: relative;
  &:last-child {
    border-bottom: none;
  }
  .field-label {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: @main-form_title;
    display: block;
  }
  .field-check {
    position: relative;
    z-index: 2;
    right: 15px;
    top: 10px;
    width: 51px;
    height: 32px;
    position: absolute;
    ._radius(20px);
    border: none;
    background: @main-form_check_inactive;
    ._transition (all 0.5s ease);
    &.active {
      background: @main-form_check_active;
      ._transition (all 0.5s ease);
      .switcher {
        right: 2px;
        ._transition (all 0.2s ease);
      }
    }
    .switcher {
      position: absolute;
      top: 2px;
      right: 21px;
      left: auto !important;
      width: 28px;
      height: 28px;
      ._radius(15px);
      background: @main-form_check_switcher;
      ._shadow(~"0 2px 8px @{main-form_check_switch_shad}");
      ._transition (all 0.2s ease);
      span {
        display: none;
      }
    }
    label {
      position: absolute;
      z-index: 10;
      width: 100%;
      height: 100%;
      input {
        opacity: 0;
      }
    }
    &.active {
      background-position: left 0;
      .switcher {
        left: 0;
      }
    }
  }
}
.fbx-field-submit {
  text-align: center;
  margin: 20px 0;
}
.fbx-table {
  list-style-type: none;
  font-size: 14px;
  line-height: 20px;
  margin: 0 15px 10px;
  table {
    width: 100%;
    td {
      width: 50%;
      padding: 15px 0;
    }
    tr {
      &:first-child {
        border: none;
        td {
          border: none;
        }
      }
    }
  }
  label {
    font-weight: 400;
  }
  .fbx-table-field {
    position: relative;
    width: 100%;
    color: @main-text_sub;
  }
  .field-select {
    display: block;
    position: relative;
    color: @main-text_sub;
    border: 1px solid @color-select;
    ._radius(4px);
    height: 26px;
    &.field-select-inline {
      display: inline-block;
      /*select {
        margin-right: -20px !important;
      }*/
    }
  }
  .field-select-separator {
    display: inline-block;
    margin: 0 10px;
  }
  .field-select-value {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    ._box-sizing;
    padding: 3px 10px;
    z-index: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 5px;
      top: 50%;
      width: 0;
      height: 0;
      margin-top: -2px;
      border: 5px solid rgba(0, 0, 0, 0);
      border-top-color: @main-arrow;
      border-bottom: none;
    }
  }
  .field-select-control {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 5;
    select {
      width: 100%;
      height: 100%;
      margin: 0;
      padding-right: 7px;
      opacity: 0;
      color: @main-text_sub;
    }
  }
  .field-text {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 5;
    input {
      ._box-sizing;
      ._radius(4px);
      width: 100%;
      height: 26px;
      padding: 2px 10px;
      border: 1px solid @color-select;
      font-size: 14px;
      color: @main-text_sub;
    }
  }
&.bx-item{
  .fbx-table-field{
    margin: 4px 0;
  }
}
}
.fbx-list {
  margin: 0;
  ul {
    padding: 0 0 0 10px;
    margin: 0;
    background: @main-bg_substrate;
    list-style: none;
    li {
      position: relative;
      border-bottom: 1px solid @main-sep;
      &.no-before {
        &:before {
          display: none;
        }
      }
      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 14px;
        width: 0;
        height: 0;
        border: 8px solid transparent;
      }
      &:before {
        right: 6px;
        border-left-color: @main-arrow_invert;
        border-right: none;
      }
      &:after {
        right: 8px;
        border-left-color: @main-bg_substrate;
        border-right: none;
      }
      .list-control {
        display: block;
        padding: 12px 18px 12px 8px;
        line-height: 20px;
        text-decoration: none;
        position: relative;
        font-size: 14px;
        color: @main-text_main;
        text-decoration: none;
      }
    }
  }
  &.fbx-list-small {
    ul {
      li {
        .list-control {
          padding: 5px 18px 5px 5px;
          font-size: 13px;
          line-height: 18px;
          font-weight: normal;
        }
      }
    }
  }
}
.fbx-info {
  padding: 0 15px;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      position: relative;
      padding: 7px 0 4px;
      &:first-child {
        border: none;
      }
    }
  }
  .info-control {
    display: block;
    padding: 10px 0 10px 3px;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    float: left;
    color: @main-text_sub;
    text-decoration: none;
    span {
      color: @main-form_title;
      padding-right: 11px;
      font-weight: 400;
    }
  }
  .info-button {
    float: right;
    margin-left: 10px;
    margin-top: 2px;
  }
}
.fbx-panel {
  border-bottom: 1px solid @main-sep;
  margin: 0;
  background: @main-bg_substrate;
  .label {
    position: relative;
    font-size: 14px;
    font-weight: normal;
    color: @t-main-color;
    padding: 14px 25px 13px 15px;
    margin: 0;
    &.label-age,
    &.label-away {
      color: @main-text_main;
    }
  }
  .field {
    padding: 10px 0 10px;
    overflow: hidden;
    ._transition(all .3s);
  }
  &.fbx-panel-collapse {
    .label {
      &:before,
      &:after{
        content: "";
        position: absolute;
        display: block;
        top: 18px;
        width: 0;
        height: 0;
      }
      &:after {
        right: 12px;
        border: 8px solid transparent;
        border-top-color: @main-bg_substrate;
      }
      &:before {
        right: 10px;
        border: 10px solid transparent;
        border-top-color: @main-arrow_invert;
      }
    }
    .field {
      display: none;
    }
    &.active {
      .label {
        &.text-area {
          border-bottom: none;
        }
        &:after {
          top: 20px;
          border-top: none;
          border-bottom-color: @main-bg_substrate;
        }
        &:before {
          border-top: none;
          border-bottom-color: @main-arrow_invert;
        }
      }
      .field {
        display: block;
        background: @main-index_bg;
      }
    }
  }
  .fbx-table {
    margin: 0 0 -10px;
    padding: 0 15px 0 15px;
    ._shadow(none);
    border: none;
  }
}
.fbx-panel-testarea {
  padding: 0 10px;
  textarea {
    width: 100%;
    height: 90px;
    ._box-sizing;
    ._radius(5px);
    background: @main-form_textarea_bg;
    font-size: 14px;
    padding: 6px 9px 6px;
    line-height: 140%;
    resize: none;
    border: 1px solid @color-select;
  }
}

.location .fbx-field-text {
  padding: 0 15px;

  input { border: 1px solid @color-select; }
}

.no-friends,
.no-activity {
  padding: 20px 15px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  background: #fff;
}

.page-activity .no-activity { font-size: 18px; }

input,
textarea {
  -webkit-user-modify: read-write-plaintext-only;
   -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*Formbox page*/

.form-box-select-wrap {
  position: relative;
  width: 50%;
  padding-right: 10px;
  box-sizing: border-box;
  float: left;
  margin: 0 0 12px 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  &.width-100 {
    width: 100%;
  }
  select {
    position: relative;
    opacity: 0;
    z-index: 2;
    float: left;
    padding: 10px 15px;
    font-size: 14px;
    color: @main-text_sub;
    width: 100%;
    border: 0;
    box-sizing: border-box;
    &:nth-child(2) {
      float: right;
    }
  }
}
.fbx-field-select .field-inner {
  position: relative;
  padding: 0;
  margin-right: -10px;
  .value {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    font-size: 14px;
    ._box-sizing;
    ._radius(5px);
    background: @main-form_select_value_bg;
    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 10px;
      top: 50%;
      width: 23px;
      height: 15px;
      margin-top: -6px;
      background: @main-sprite -100px -142px no-repeat;
      background-size: 213px;
    }
    span {
      display: block;
      line-height: 18px;
      position: absolute;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      top: 0;
      bottom: 0;
      left: 0;
      right: 30px;
      padding: 10px 0 0 15px;
    }
    &:nth-child(4) {
      left: auto;
      right: 0;
    }
  }
  &:after{
    content: "";
    display: table;
    clear: both;
  }
}

.fbx-overlay {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: @main-overlay;
  &.active {
    display: block;
  }
  .fbx-overlay-wrapper {
    ._box-sizing;
    padding: 6px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    .button {
      display: inline-block;
      width: 100%;
      background: @main-overlay_button_bg;
      padding: 9px 30px 10px;
      font-size: 20px;
      color: @main-overlay_button_text;
      padding: 13px 30px 12px;
      margin: 7px 0 0 0;
      ._box-sizing;
      input[type="file"] {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
      }
    }
    .fbx-options {
      .button {
        margin-top: 2px;
        ._radius(0);
        background: @main-overlay_button_options;
        &:first-child {
          ._radius(5px 5px 0 0);
        }
        &:last-child {
          color: @main-overlay_button_fb;
          ._radius(0 0 5px 5px);
        }
      }
    }
  }
}
/*end form box*/

/*gallery component*/
.glr-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: @main-gallery_bg;
  left: 0;
  top: 0;
  z-index: 1000;
}

.glr-header {
  position: relative;
  padding: 9px 40px;
  height: 28px;
  font-size: 18px;
  line-height: 28px;
  color: @main-gallery_header_text;
  font-weight: bold;
  text-align: center;
  span {
    font-weight: bold;
  }
  .lside {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.glr-inner {
  position: absolute;
  left: 0;
  top: 46px;
  right: 0;
  bottom: 0;
}

.glr-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.glr-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}
/*end: gallery component*/

/*login component*/
.b-index {
  height: 100%;
  color: @main-index_bg;
  .bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: @funnel_ng url(~"@{main-images_path}/index-bg.jpg") 50% 100% no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    z-index: 1;
  }
  .overlay {
    display: none;
    position: absolute;
    background: @main-overlay;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  .logo {
    position: relative;
    padding: 30px 30px 160px 0;
    text-align: right;
    z-index: 3;
    img {
      vertical-align: top;
      width: 60px;
    }
  }
  .b-head {
    position: relative;
    height: 100px;
    padding: 0 10px;
    margin-bottom: 20px;
    .head-logo {
      position: absolute;
      width: 185px;
      height: 46px;
      left: 20px;
      top: 45px;
      right: 0;
      text-align: center;
      background: @main-logo;
      background-size: 185px 46px;
      z-index: 5;
    }
    .lside {
      float: left;
    }
  }
  .item {
    position: relative;
    margin: 10px 30px;
    text-align: center;
    z-index: 3;
    a {
      color: @main-index_paragraph_text;
    }
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
  .button {
    padding: 10px;
    width: 100%;
    font-size: 18px;
    ._radius(8px);
    ._box-sizing;
    background: @funnel_button;
  }
  .button-signin {
    background: @main-index_button_signin;
  }
  .form-login {
    margin-top: 110px;
  }
  .form-registration {
    margin-top: 15px;
  }
  input,
  select {
    -webkit-appearance: none;
    width: 100%;
    height: 40px;
    padding: 0 10px 0 24px;
    ._box-sizing;
    color: @main-text_main;
    font-size: 14px;
    text-align: center;
    border: 1px solid @main-index_form_border;
    ._radius(5px);
    background: @main-index_form_bg;
    &.error{
      border-color: @main-index_form_error_border;
      background: @main-index_form_error_bg;
    }
  }
  select {
    background:  url(~"@{main-images_path}/arrow-select.png") no-repeat  85% 13px #fff;
    background-size: 14px;
  }
  select.looking-for {
    background:  url(~"@{main-images_path}/arrow-select.png") no-repeat  97% 13px @main-index_form_bg;
    background-size: 14px;
    padding: 0 10px;
  }
  .input-email,
  .input-tel,
  .input-pass,
  .input-date {
    position: relative;
    display: inline-block;
    ._transition ();
    &.expand {
      width: 79.5%;
    }
    &.compress {
      width: 14.5%;
    }
  }

  .input-date {
    width: 100%;
    height: 34px;
    padding: 11px 10px 5px 24px;
    ._box-sizing;
    color: @main-text_main;
    font-size: 14px;
    text-align: center;
    border: 1px solid @main-index_form_border;
    ._radius(5px);
    background: @main-index_form_bg;
  }

  .input-email:before,
  .input-tel:before,
  .input-pass:before,
  .input-date:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -9px;
    width: 16px;
    height: 16px;
    background: url(~"@{main-images_path}/lp-icons.png") no-repeat -67px 0;
    background-size: 100px;
  }
  .input-tel:before {
    background-position: -84px 0;
  }
  .input-pass:before {
    background-position: -54px -17px;
  }
  .input-date:before {
    background-position: -50px 0;
  }
  .funel-box + .funel-box { margin-top: 40px; }
  .info-icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -6px;
    width: 12px;
    height: 12px;
    border: 1px solid @main-text_sub;
    ._radius(15px);
    &:before {
      content: '?';
      display: inline-block;
      vertical-align: top;
      color: @main-text_sub;
      font-size: 10px;
    }
  }
  .sep {
    display: inline-block;
    width: 6%;
  }
  .full-width {
    width: 100%;
  }
  .half-width {
    width: 47%;
  }
  .title {
    float: left;
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 5px;
  }
  .title-signup {
    margin-bottom: 7px;
    font-weight: normal;
  }
  .button-facebook,
  .button-google {
    padding: 9px 3px;
    width: 45%;
  }
  .button-facebook {
    margin-bottom: 10px;
    float: left;
    background-color: @main-fb_bg;
  }
  .button-facebook:before,
  .button-google:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 14px;
    height: 18px;
    background: url(~"@{main-images_path}/lp-icons.png") no-repeat -16px -17px;
    background-size: 100px;
  }
  .button-google {
    float: right;
    background-color: @main-google_bg;
    &:before {
      width: 20px;
      background-position: -33px -17px;
    }
  }
  .item-date {
    position: relative;
    z-index: 5;
  }
  .popup-date {
    margin-top: 10px;
    padding: 10px 15px;
    ._radius(5px);
    background: @main-popup_date_bg;
    .button {
      margin: 0 2px;
      padding: 12px 15px;
      width: auto;
      min-width: 105px;
    }
    .item {
      margin: 10px 0;
    }
  }
  .button-cancel {
    background: @main-button_cancel;
  }
  .day,
  .month,
  .year {
    position: relative;
    margin: 0 2px;
    padding: 0 24px 0 4px;
    width: 68px;
    height: 35px;
    direction: rtl;
  }

  .gender-check {
    position: relative;
    left: auto;
    margin-top: -10px;
    width: 100%;
    height: 34px;
    ._radius(5px);
    background: @main-gender_check_bg;
    ._transition (all 0.2s ease);
    &.female {
      .switcher {
        left: 50%;
        margin-left: -1px;
        ._transition (all 0.2s ease);
      }
    }
    .switcher {
      position: absolute;
      top: 1px;
      left: 1px;
      width: 50%;
      height: 32px;
      ._radius(5px);
      background: @main-switcher_bg;
      ._transition (all 0.2s ease);
      span {
        display: none;
      }
    }

    .label-male,
    .label-female {
      position: absolute;
      left: 0;
      z-index: 10;
      width: 50%;
      height: 100%;
      input {
        opacity: 0;
      }
    }
    .label-female {
      left: 50%;
    }
    .switcher-male,
    .switcher-female {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      color: @main-switcher_gender_text;
      font-size: 14px;
      padding: 7px 10px;
      z-index: 1;
      ._box-sizing;
      ._transition (all 0.2s ease);
      &:before {
        content: '';
        display: inline-block;
        position: relative;
        top: 2px;
        margin-right: 3px;
        width: 16px;
        height: 16px;
        background: url(~"@{main-images_path}/lp-icons.png") no-repeat -16px -36px;
        background-size: 100px;
      }
    }
    .switcher-female {
      left: 50%;
      color: @main-text_main;
      &:before {
        background-position: -33px 0;
      }
    }
    &.female {
      background-position: left 0;
      .switcher-male {
        color: @main-text_main;
        &:before {
          background-position: -16px 0;
        }
      }
      .switcher-female {
        color: @main-switcher_female_text;
        &:before {
          background-position: -33px -36px;
        }
      }
    }
  }
}

/* Naughty mode popup */
.overlay {
  display: none;
  position: absolute;
  background: @popupNaughtyMode-overlay;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  &.active {
    display: block;
  }
}
.popup-nm-switcher {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: visible;
  z-index: 1001;
  ._transition(none);
  .popup-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 85%;
    z-index: 1001;
    background: @popupNaughtyMode-popup_bg;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    overflow: auto;
    ._shadow(~"0 0 20px @{main-sidebar_shadow}");
    ._transition_transform(.3s);
    ._transform(translate(0,0));
  }
  .content-wrap {
    color: @popupNaughtyMode-popup_text;
    background: @popupNaughtyMode-popup_bg;
    padding: 15px;
    ._radius(5px);
  }
  .nm-content {
    padding: 0 0 20px 0;
    .pic {
      position: relative;
      text-align: center;
      width: 125px;
      height: 125px;
      margin: 0 auto;
      overflow: hidden;
      ._shadow(~"0 0 4px @{popupNaughtyMode-main-box-shadow}");
      a {
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
        &.landscape img {
          height: 100%;
          width: auto;
        }
      }
      img {
        width: 100%;
      }
      &.blurred:before,
      &.blurred-heavy:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        background: @popupNaughtyMode-blurred_bg;
        z-index: 2;
      }
      &.blurred,
      &.blurred-heavy {
        .b-message-holder {
          display: block;
        }
      }
      .b-message-holder {
        display: none;
        position: absolute;
        top: 50%;
        left: 10%;
        right: 10%;
        margin-top: -15px;
        color: @popupNaughtyMode-blurred_message_text;
        font-size: 15px;
        text-decoration: none;
        padding: 0 5px;
        text-align: center;
        z-index: 3;
      }
    }
    .button-box {
      margin-top: 20px;
      text-align: center;
      .button {
        font-size: 14px;
        line-height: 18px;
        margin: 0;
        padding: 10px 20px;
        min-width: 125px;
      }
    }
  }
  .popup-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 10px 0;
    &:after {
      content: "×";
      display: block;
      color: @main-text_main;
      font-size: 30px;
    }
  }
  .wrapp {
    padding: 10px;
  }
  .nm-title {
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    margin: 10px auto;
    width: 80%;
    .popup-close {
      ._box-sizing();
      position: absolute;
      top: 0;
      right: 0;
      padding: 15px;
      width: 45px;
      height: 45px;
      background-color: @popupNaughtyMode-popup_close_bg;
    }
  }
  .mode-samples {
    margin-bottom: 10px;
    text-align: center;
    ._clearfix;
  }
  .mode-sample {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 170px;
    background-image: url(~"@{main-images_path}/mode_sample_on_f.jpg");
    background-size: cover;
    &:first-child {
      background-image: url(~"@{main-images_path}/mode_sample_half_f.jpg");
    }
    img {
      width: 100%;
    }
    .mode-photo-holder {
      display: none;
      position: absolute;
      top: 50%;
      left: 10px;
      right: 10px;
      margin-top: -25px;
      color: @main-text_over;
      text-align: center;
      font: 400 20px/26px @main-font;
      z-index: 1;
    }
    &.active {
      .mode-photo-holder {
        display: block;
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        background: @main-formbox_overlay;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  .mode-switcher {
    clear: both;
    margin: 0 -10px -10px;
    background: @main-bg_substrate;
    ._radius(5px);
    ._clearfix;
  }
  .switch {
    padding: 10px 5px;
    float: left;
    width: 100%/3;
    text-align: center;
    ._radius(5px);
    ._box-sizing;
    &.active {
      background: @main-button;
      color: @main-button_text;
    }
  }
}
/* end: naughty mode popup */

/*search map*/
.custom_geolocation {
  width: 17px;
  height: 17px;
  margin-left: 5px;
  ._radius(3px);
  background: white;
  border: 1px solid #bbb;
  cursor: pointer;

  span {
    width: 0;
    height: 0;
    display: inline-block;
    border: 3px solid #666;
    margin: 5px;
    border-radius: 3px;
  }
}

.srh-results-map {
  position: absolute;
  top: 52px;
  bottom: 0;
  left: 0;
  right: 0;
}
.map-marker {
  position: absolute;
  top: -78px;
  left: -23px;
  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
  }
  &:after {
    left: 50%;
    bottom: -22px;
    margin-left: -13px;
    border: 13px solid fade(#000,0%);
    border-top-width: 25px;
    border-top-color: @main-map_marker_border;
    border-bottom: none;
  }
  &:before {
    bottom: -29px;
    height: 15px;
    width: 100%;
    ._radius(28px/7px);
    background: -moz-radial-gradient(center, ellipse cover, @main-map_shadow_component_1 0%, @main-map_shadow_component_2 65%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, @main-map_shadow_component_1), color-stop(65%, @main-map_shadow_component_2));
    background: -webkit-radial-gradient(center, ellipse cover, @main-map_shadow_component_1 0%, @main-map_shadow_component_2 65%);
    background: -ms-radial-gradient(center, ellipse cover, @main-map_shadow_component_1 0%, @main-map_shadow_component_2 65%);
    background: radial-gradient(ellipse at center, @main-map_shadow_component_1 0%, @main-map_shadow_component_2 65%);
  }
  &.holder {
    .naughty-overlay {
      display: block;
    }
    .image-wrapper {
    }
  }
  .naughty-overlay {
    display: none;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 48px;
    height: 48px;
    padding: 11px 0 0;
    color: @main-button_upgrade_text;
    text-align: center;
    font-size: 10px;
    ._box-sizing;
    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: @main-formbox_overlay;
      ._radius(30px);
    }
  }
  .naughty-message {
    position: relative;
  }
  .image-wrapper {
    width: 48px;
    height: 48px;
    ._radius(28px);
    overflow: hidden;
    border: 4px solid @main-map_marker_border;
  }
  img {
    height: 100%;
  }
}
/*end search map*/

@media only screen and (orientation : landscape){
  .b-index .logo {
    padding-bottom: 80px;
  }
}

@media only screen and (orientation : portrait){
  .b-index .form-login  {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -76px;
  }
  .b-index .form-forgot {
    margin-top: -63px;
  }
}

/*end login component*/

.user-buttons {
  width: 100%;
  height: 30px;
  margin-top: 15px;
  text-align: center;       
  .usr-action {
    ._radius(5px);
    ._box-sizing;
    display: block;
    float: left;
    padding: 0 3px 0 34px;
    font-size: 13px;
    line-height: 13px;
    color: @userButton_text;
    vertical-align: top;
    position: relative;
    width: 32%;
    margin-left: 2%;
    height: 100%;
    border: none;
    background: @userList-button_user_action;
    ._shadow(0 1px 1px #787878);
    &:first-child {
      margin-left: 0;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 6px;
      top: 50%;
      background-image: @main-sprite;
      background-size: 213px;
    }
    &.wc-button {
      padding-left: 3px;
      margin-left: 10px !important;
      &:before {
        display: none;
      }
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 31px;
      left: 0;
      top: 0;
      bottom: 0;
      ._radius(5px 0 0 5px);
      background: lighten(@t-main-color, 10%);
      background: -moz-linear-gradient(top,  lighten(@t-main-color, 10%) 0%, @t-main-color 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,lighten(@t-main-color, 10%)), color-stop(100%,@t-main-color));
      background: -webkit-linear-gradient(top,  lighten(@t-main-color, 10%) 0%,@t-main-color 100%);
      background: -o-linear-gradient(top,  lighten(@t-main-color, 10%) 0%,@t-main-color 100%);
      background: -ms-linear-gradient(top,  lighten(@t-main-color, 10%) 0%,@t-main-color 100%);
      background: linear-gradient(to bottom,  lighten(@t-main-color, 10%) 0%,@t-main-color 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten(@t-main-color, 10%)', endColorstr='@t-main-color',GradientType=0 );
    }
    &.message {
      text-decoration: none;
      line-height: 30px;
      &:after {
        background-position: -60px -175px;
        width: 20px;
        height: 16px;
        margin: -8px 0 0 0;
      }
    }
    &.wink {
      &:after {
        background-position: -80px -175px;
        width: 18px;
        height: 18px;
        margin: -8px 0 0 0;
      }
    }
    &.favourite {
      &:after {
        background-position: -100px -175px;
        width: 20px;
        height: 16px;
        margin: -7px 0 0 0;
      }
    }
    &.active {
      &:before,
      &:after {
        ._opacity(.45);
      }
      .final_state {
        display: block;
      }
      .initial_state {
        display: none;
      }
    }
    .final_state {
      display: none;
    }
    .initial_state {
      display: block;
    }
  }
}
/*postreg page styles*/
.postreg-index{
  .title{
    height: 40px;
    //background: #EBEAE3;
    background: rgb(249,249,248); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkY2RjZDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(249,249,248,1) 0%, rgba(220,220,213,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,248,1)), color-stop(100%,rgba(220,220,213,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(249,249,248,1) 0%,rgba(220,220,213,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(249,249,248,1) 0%,rgba(220,220,213,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(249,249,248,1) 0%,rgba(220,220,213,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(249,249,248,1) 0%,rgba(220,220,213,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f8', endColorstr='#dcdcd5',GradientType=0 ); /* IE6-8 */
    color: #37444C;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
    text-transform: uppercase;
    ._shadow (~"0px 0px 8px 1px rgba(0,0,0,.15)");
    &.with-arrow {
      position: relative;
    }
    &.with-arrow:after, 
    &.with-arrow:before {
      right: 0px;
      top: 13px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
    &.with-arrow:after {
      border-left-color: #EBEAE3;
      border-width: 11px;
      margin-top: 0px;
      margin-right: 2px;
    }
    &.with-arrow:before {
      border-left-color: #1F1F1F;
      border-width: 11px;
    }
  }
  #searchNearby, #onlineSearch, #photoSearch {
    height: 50px;
    line-height: 50px;
    background: #EBEAE3;
  }
  .text {
    padding: 10px;
    line-height: 1.5;
    background: #E7EEFA;
    font-size: 13px;
    .validate {
        color: @main-text_main;
        text-decoration: none;
        position: relative;
        display: block;
        padding-right: 30px;
        &:after {
            right: 5px;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-left-color: @t-main-color;
            border-width: 15px;
            margin-top: -15px;
            border-right: 0;
        }
    }
    .changemail {
        color: @t-main-color;
    }
    .bolder{
      font-weight:bold;
    }
  }
  .btn-upgrade{
    text-align: center;
    padding: 10px 0;
    width: 90%;
    margin: 10px auto;
    a{
      width: 100%;
      display: inline-block;
      text-decoration: none;
      text-align: center;
      line-height: 100%;
      border: none;
      padding: 10px 0px;
      font-size: 14px;
      line-height: 100%;
      color: @main-button_text;
      background: @t-main-color;
      ._radius(5px);
    }
  }
}

//.tbr-wrap aside.cside.site-logo{float: right;}

/* to top button */
.button-to-top {
  position: fixed;
  visibility: visible;
  right: 8px;
  bottom: 15%;
  padding: 5px;
  border: 2px solid @main-btn_top-border;
  background: @main-btn_top-bg;
  z-index: 10;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  ._radius(18px);
  ._opacity(1);
  ._transition(.3s);
  ._transform(translate(0, 0));
  &:before {
    content: "";
    display: block;
    width: 21px;
    height: 21px;
    background: @main-sprite no-repeat -51px -119px;
    background-size: 213px;
  }
  &.hidden {
    display: block !important;
    ._opacity(0);
    ._transform(translate(0, 25px));
  }
}
/* end: to top button */
.blurred,
.blurred-heavy {
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: @main-holder_overlay;
    z-index: 2;
  }
  .b-message-holder {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    color: @main-holder_text;
    font-size: 14px;
    padding: 0 5px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
  }
}