/* images */
@main-images_path: "../images";
@main-sprite: url(~"@{main-images_path}/icons.png");
@main-logo: url(~"@{main-images_path}/logopl.png");
/* end: images */

/* buttons */
@main-button: #1cbb1c;
@main-button_cancel: #6e6e6e;
@main-button_upgrade: #1cbb1c;
@main-button_text: #fff;
@main-button_cancel_text: #fff;
@main-button_upgrade_text: #fff;
/* end: buttons */

/* text */
@main-text_main: #4c4c4c;
@main-text_sub: #808080;
@main-font: Helvetica, Roboto, Segoe, sans-serif;
@main-text_over: #fff;
/* end: text */

/* general */
@main-bg_main: #fff;
@main-bg_substrate: #e9e9e9;
@main-arrow: #717171;
@main-arrow_invert: #979797;
@main-sep: #fff;
@main-static_bg: #fff;
@main-sidebar_bg: #1b1b1b;
@main-sidebar_shadow: fade(#000, 40%);
@main-tap_highlight: fade(#000, 15%);
@main-overlay: fade(#000, 40%);
@main-overlay_button_bg: fade(#fff, 90%);
@main-overlay_button_text: #4c4c4c;
@main-overlay_button_options: fade(#fff, 75%);
@main-overlay_button_fb: #3c5a98;
/*end: general */

/* admin page */
@main-admin_view_bg: fade(#000, 70%);
@main-admin_view_text: #fff;
@main-admin_conversation_text: #808080;
@main-admin_message_text: #fff;
@main-admin_message_bg: #6bb405;
@main-admin_time_text: #808080;
/* end: admin page */

/* form box */
@main-form_title: @t-main-color;
@main-form_title_bg: #e9e9e9;
@main-form_input_bg: #e9e9e9;
@main-form_textarea_bg: #e9e9e9;
@main-form_select_value_bg: #e9e9e9;
@main-form_inpur_error: #f35f5f;
@main-form_radio_bg: #fff;
@main-form_radio_border: #8c8c8c;
@main-form_radio_inner_bg: #24b26e;
@main-form_check_inactive: #ccc;
@main-form_check_active: @t-main-color;
@main-form_check_switcher: #fff;
@main-form_check_switch_shad: fade(#000, 25%);
/* end: form box */

/* gallery component */
@main-gallery_bg: #000;
@main-gallery_header_text: #fff;
/* end: gallery component */

/* login */
@main-index_bg: #fff;
@main-index_paragraph_text: #fff;
@main-index_button: fade(#1cbb1c, 80%);
@main-index_button_signin: fade(#3b5998, 80%);
@main-index_form_border: #ababab;
@main-index_form_bg: fade(#fff, 88%);
@main-index_form_error_border: #fd3535;
@main-index_form_error_bg: fade(#f3ecec, 80%);
@main-fb_bg: fade(#41588a, 80%);
@main-google_bg: fade(#dd4b39, 80%);
@main-popup_date_bg: #fff;
@main-button_cancel: #6e6e6e;
@main-gender_check_bg: fade(#fff, 80%);
@main-switcher_bg: fade(#4a4a4a, 80%);
@main-switcher_gender_text: #fff;
@main-switcher_female_text: #fff;
/* end: login */

/* search map */
@main-map_marker_border: #ffa22a;
@main-map_shadow_component_1: fade(#000, 15%);
@main-map_shadow_component_2: fade(#000, 0);
@main-formbox_overlay: fade(#000, 80%);
/* end: search map */

/* popup */
@main-popup_bg: #fff;
/* end: popup */

@userButton_text: #2d2d2d;
@userList-button_user_action: #dcdce0;

@funnel_ng: #0a0a09;
@funnel_button: @t-main-color;

/* to top button */
@main-btn_top-border: #f31b62;
@main-btn_top-bg: #f31b62;
/* end: to top button */

/* blurred */
@main-holder_overlay: fade(#000, 80%);
@main-holder_text: #fff;
/* end: blurred */

/* popupNaughtyMode */
@popupNaughtyMode-main-box-shadow: fade(#000, 30%);
@popupNaughtyMode-overlay: fade(#f3f3f3, 90%);
@popupNaughtyMode-popup_bg: #fff;
@popupNaughtyMode-popup_text: #4c4c4c;
@popupNaughtyMode-blurred_bg: fade(#000, 80%);
@popupNaughtyMode-blurred_message_text: #fff;
@popupNaughtyMode-popup_close_bg: fade(#000, 0%);
@popupNaughtyMode-text_popupNaughtyMode: #4c4c4c;
/* end: popupNaughtyMode */
