.b-heading= _t("profileDetails", "title.personal_info")
.b-table
 - var bodyList = ["height", "weight", "build", "hair_color", "eye_color", "tattoo", "pierced"];
 - var socialList = ["sexual_orientation", "marital_status", "children", "living", "smoke", "drink", "income"];
 - var outlookList = ["race", "education", "religion"];
  .b-column-wrap.body-info(class=profile.gender)
    each field in bodyList
      .data-single
        span.b-details-title= _t('profileDetails', 'title.' + field)
        .field.small.select-widget(data-ui-select)
          .input-holder(data-toggle)
            .value(data-value)
            .select
              input(type="hidden", value=profile[field], name=field, data-control, id=field)
              .b-dropdown-menu
                ul.nav
                  each value, key in formParams.values[field]
                    li(data-item=key)= value
          .b-error(data-ui-error-text="1")
  .b-column-wrap.social-info
    each field in socialList
      .data-single
        span.b-details-title= _t('profileDetails', 'title.' + field)
        .field.small.select-widget(data-ui-select)
          .input-holder(data-toggle)
            .value(data-value)
            .select
              input(type="hidden", value=profile[field], name=field, data-control, id=field)
              .b-dropdown-menu
                ul.nav
                  each value, key in formParams.values[field]
                    li(data-item=key)= value
          .b-error(data-ui-error-text="1")
  .b-column-wrap.outlook-info
    each field in outlookList
      .data-single
        span.b-details-title= _t('profileDetails', 'title.' + field)
        .field.small.select-widget(data-ui-select)
          .input-holder(data-toggle)
            .value(data-value)
            .select
              input(type="hidden", value=profile[field], name=field, data-control, id=field)
              .b-dropdown-menu
                ul.nav
                  each value, key in formParams.values[field]
                    li(data-item=key)= value
          .b-error(data-ui-error-text="1")
  div.coreg-placement-on-profile-editor.checkbox-info(id="coregPlacementProfileDetails")
  .b-buttons
    button.btn.small(data-btn-undo="1")= _t("profileDetails", "button.cancel")
    button.btn.orange.small(data-btn-save="1")= _t("profileDetails", "button.save")
