@i: "../images";

@white: #fff;
@gray_bg: #ebebeb;
@dark-dark: #041723;
@red: #de2e34;
@text-grey: #797979;
@text-light-grey: #b4b4b4;
@text-pink: #ff7575;
@grey: #b5b5b5;
@dark-pink: #e14e48;
@pink: #fa5557;
@white: #fff;
@ms-pp_bg: #ffffff;
@ms-pp-input_bg: #ffffff;

/* blurred */
@main-holder_overlay-pp: fade(#000, 80%);
/* end: blurred */
