// Subcomponent: Trusted functionality

.b-page-payment {
  // Top description with title, photo etc.
  .b-trusted-desc {
    position: relative;
    min-height: 120px;
    padding: 105px 40px 10px 175px;
    background: @payment-c-trusted-header-bg url(~"@{img_url}/girl-trusted.png") no-repeat -5px 100%;
    .b-trusted-title {
      position: absolute;
      top: 18px;
      right: -1px;
      width: 70%;
      padding: 6px 0 6px 30px;
      font: 600 16px/24px @payment-font_def;
      color: @payment-c-trusted-header-title-text;
      background: @payment-c-trusted-header-title-bg;
      &:before {
        ._sprite(@payment-trusted-check);
        position: absolute;
        top: -5px;
        left: -38px;
        content: "";
      }
    }
    .b-trusted-text {
      padding-right: 80px;
      font: 600 14px/24px @payment-font_def;
      span {
        display: block;
        margin-top: 5px;
        color: @payment-c-trusted-header-text_highlight;
      }
    }
    // Medal on right of header block
    .b-trusted-medal {
      ._sprite(@payment-trusted-quality);
      display: none;
      position: absolute;
      right: -20px;
      bottom: 10px;
      font-size: 12px;
      text-align: center;
      &:after {
        display: inline-block;
        height: 100%;
        content: "";
        vertical-align: middle;
      }
    }
    .b-trusted-medal-wrap {
      display: inline-block;
      margin-top: -15px;
      padding: 0 25px;
      vertical-align: middle;
      color: @payment-c-trusted-medal-text;
      b {
        display: block;
        font: 600 18px/20px @payment-font_def;
        color: @payment-c-trusted-medal-title;
      }
    }
  }
  // Tabs
  .b-trusted-tabs {
    display: table;
    position: relative;
    width: 100%;
    margin-bottom: -1px;
    padding-top: 20px;
    font-size: 0;
    background: @payment-c-trusted-bg_def;
    .b-trusted-tab-item {
      ._radius(4px);
      display: inline-block;
      position: relative;
      min-width: 120px;
      max-width: 160px;
      margin-right: 10px;
      padding: 9px;
      font: 700 12px/1em @payment-font_def;
      cursor: pointer;
      text-align: center;
      vertical-align: top;
      text-transform: uppercase;
      color: @payment-c-trusted-tab-text;
      border-top: 3px solid @payment-c-trusted-tab-border;
      background: @payment-c-trusted-tab-bg;
      &:hover {
        color: @payment-c-trusted-tab-text_hover;
      }
      &.active {
        cursor: default;
        border-top-color: @payment-c-trusted-tab-border_active;
        background-color: @payment-c-trusted-tab_active;
      }
    }
  }
  // Main tabs content
  .b-trusted-tab-content {
    width: 100%;
    margin-bottom: 40px;
    font: 14px @payment-font_def;
    background: @payment-c-trusted-bg_def;
    .b-trusted-tab-content-item {
      display: none;
      &.active {
        display: block;
      }
      &.b-realme {
        padding: 25px 0 11px;
        text-align: center;
        .b-realme-logo {
          ._sprite(@payment-trusted-realme);
          display: inline-block;
          margin: 25px 0;
        }
        .b-btn-pay {
          margin-bottom: 25px;
        }
      }
    }
    .text {
      line-height: 25px;
    }
    .text-small {
      font: 600 12px @payment-font_def;
    }
    .text-big {
      span {
        display: inline-block; //not delete this one
        padding: 0 5px;
        font-weight: bold;
        color: @payment-c-trusted-content-text_highlight;
      }
    }
    // Become trusted with SMS (steps wrapper)
    .b-steps {
      ._clearfix();
      overflow: hidden;
      margin: 30px 15px 15px;
      border: 1px solid @payment-c-trusted-step-border;
      background: @payment-c-trusted-step-bg;
      li {
        float: left;
        padding: 6px 0;
        font: 700 15px/18px @payment-font_def;
        text-align: center;
        color: @payment-c-trusted-step-title;
        &.first-step {
          position: relative;
          width: 48%;
          &:before,
          &:after {
            position: absolute;
            top: 0;
            width: 0;
            height: 0;
            content: "";
            border-top: 23px solid transparent;
            border-bottom: 23px solid transparent;
          }
          &:before {
            right: -21px;
            border-left: 20px solid @payment-c-trusted-step-border;
          }
          &:after {
            right: -20px;
            border-left: 20px solid @payment-c-trusted-step-bg;
          }
          &.active {
            &:after {
              border-left-color: @payment-c-trusted-step-bg_active;
            }
          }
        }
        &.second-step {
          width: 52%;
        }
        &.active {
          background: @payment-c-trusted-step-bg_active;
        }
        span {
          display: block;
          font: 12px/16px @payment-font_def;
          color: @payment-c-trusted-step-text;
        }
      }
    }
    .b-trusted-tab-content-item {
      // Step content (don't ask why, thanks to developers)
      & + div {
        ._clearfix();
        margin: 20px 15px;
        &.active {
          display: block;
        }
        .error-text {
          margin: 15px 0 0;
          text-align: center;
          color: @payment-text_error;
        }
      }
    }
    .b-verify-details {
      float: left;
      width: 55%;
      .error {
        input {
          border-color: @payment-text_error;
        }
      }
      td {
        padding: 5px 0;
      }
      .name {
        width: 135px;
        padding: 12px 0;
        font-weight: normal;
        vertical-align: top;
      }
      .b-phone {
        ._clearfix();
      }
      input[type="text"] {
        float: right;
        width: 175px;
        &:first-child {
          float: left;
          width: 40px;
          padding-right: 5px;
          padding-left: 5px;
          text-align: center;
        }
      }
      label,
      .text-small {
        display: inline-block;
        padding: 8px 0 0;
      }
    }
    .b-verification-code {
      ._clearfix();
      margin: 15px 0 0;
    }
    .b-code-typing {
      float: left;
      width: 56%;
      padding-top: 5px;
      text-align: center;
      &.success,
      &.loading {
        &:before {
          top: 24px;
        }
      }
      .text {
        float: left;
        width: 41%;
        line-height: 35px;
        text-align: left;
      }
      input[type="text"] {
        float: right;
        width: 56%;
        text-align: left;
      }
      .change-phone {
        float: right;
        clear: both;
        margin: 15px 0 0;
        text-decoration: underline;
        color: @payment-text_link;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .b-verify {
      float: right;
      width: 39%;
      padding-top: 6px;
      .b-btn-pay {
        margin: 0;
      }
      .btn-pay {
        width: 100%;
        padding: 6px 35px;
      }
      .text-small {
        margin: 22px 0 0;
      }
      ul {
        list-style: inside disc;
      }
    }
    .b-free-call {
      padding: 22px 15px;
      .text {
        padding: 10px 0 0;
        font-size: 12px;
      }
    }
    .b-credit-card {
      padding: 22px 15px 15px;
      .text-small {
        padding: 22px 0 0;
      }
    }
    // Credits bonus
    .b-trusted-credit-text {
      ._shadow(0 1px 4px 0 fade(@payment-shadow, 20%));
      position: relative;
      min-height: 55px;
      margin: 25px -15px;
      padding: 15px 0 15px 110px;
      line-height: 24px;
      text-align: left;
      border-top: 3px solid @payment-c-trusted-bonus-bg;
      span {
        display: inline-block;
      }
    }
    .b-trusted-credit-text-icon {
      ._radius(40px);
      position: absolute;
      top: 2px;
      left: 15px;
      width: 80px;
      height: 80px;
      font: 700 16px/80px @payment-font_def;
      text-align: center;
      text-transform: uppercase;
      color: @payment-c-trusted-bonus-text;
      background: @payment-c-trusted-bonus-bg;
    }
  }
  // Inputs validation
  .field-input {
    position: relative;
    &:before {
      display: block;
      position: absolute;
      top: 50%;
      left: 100%;
      margin-left: 5px;
      content: "";
    }
    &.loading {
      &:before {
        width: 16px;
        height: 16px;
        margin-top: -8px;
        background: url(~"@{img_url}/micro-photo-loader.gif") no-repeat 0 0;
      }
    }
    &.success {
      &:before {
        ._sprite(@payment-check-success);
        margin-top: -4px;
      }
    }
  }
  // Trusted "oops" (when something fails)
  .b-trusted-oops-top {
    padding: 22px 15px;
    text-align: center;
    .text-big {
      margin-bottom: 15px;
    }
    .btn {
      height: auto;
      padding: 8px 25px;
      font-size: 18px;
      font-weight: 600;
    }
  }
  .b-trusted-oops-bottom {
    padding: 20px 20px 12px 20px;
    font-size: 11px;
    line-height: normal;
    color: @payment-tab_text;
    background: @payment-c-trusted-bg_sub;
    a {
      text-decoration: underline;
      color: @payment-tab_text;
    }
    p {
      margin: 0 0 7px 0;
    }
  }
  &.b-trusted {
    .b-footer {
      border: none;
    }
  }
}
