@import "c-trusted";
// new form  start
@creditcard-text-def: #999; //text-color
@creditcard-wrap: #fcfcfc; //left card bg
@creditcard-wrap-second: #f7f7f7; //right card bg
@creditcard-input-bg: #e6e6e6; //inputs bg
@creditcard-input-border: none; //inputs border
@creditcard-error-message-bg: #ff3232; //error bg
@creditcard-error-message-color: #fff; //error color
@creditcard-valid-message-color: #c9eec9; //error color
@creditcard-error: #ffd9d9; //error color
@creditcard-strip-bg: #808080;
@creditcard-form_shadow: fade(#000, 20%);
@creditcard-q_style: #808080;
@creditcard-q_style_hover: #ff3232;
@creditcard-tooltip-text: #b2b2b2;
@creditcard-qwestion-bg: #d0d0d0;
@creditcard-arrow: #1f2226;



// new form  endv
.b-page-payment {
  ._box-sizing();
  width: 100%;
  min-width: 760px;
  max-width: 940px;
  margin: 0 auto;
  padding: 0 30px 10px;
  // Card
  .creditcard-pay {
    ._transition(all 1s ease .5s);
    position: relative;
    left: 0;
    width: 395px;
    margin-top: 15px;
    text-align: left;
    vertical-align: top;
    text-transform: uppercase;
    color: @creditcard-text-def;
    input[type="text"],
    input[type="password"] {
      color: @creditcard-text-def;
      border: 1px solid @creditcard-input-border;
    }
    .b-error {
      display: none;
    }
    .error {
      .b-error {
        display: block;
      }
    }
    .creditcard-label {
      clear: both;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      &.creditcard-label-name {
        display: inline-block;
        width: 18%;
      }
    }
    .creditcard-main-wrap {
      ._radius(17px);
      ._shadow(0 0 5px 0px @creditcard-form_shadow);
      position: relative;
      z-index: 2;
      width: 355px;
      margin: 0 auto;
      padding: 19px 18px 8px 18px;
      background-color: @creditcard-wrap;
      .creditcard-field {
        ._clearfix;
        position: relative;
        margin-bottom: 11px;
        .creditcard-filed-input {
          position: relative;
          text-align: right;
          &.expiry {
            float: right;
          }
          input {
            width: 100%;
          }
          .creditcard-filed-select {
            display: inline-block;
            text-align: left;
            vertical-align: top;
            .select {
              ._radius(3px);
              position: relative;
              width: 70px;
              height: 40px;
              background: @creditcard-input-bg;
              &.last {
                width: 70px;
              }
              select {
                position: absolute;
                z-index: 3;
                top: 0;
                left: 0;
                width: 100%;
                min-width: 0;
                height: 100%;
                padding: 0;
                cursor: pointer;
                opacity: 0;
                border: 0;

                -ms-filter: alpha(opacity=0);
                filter: alpha(opacity=0);
              }
              .value {
                display: block;
                overflow: hidden;
                position: relative;
                z-index: 2;
                max-width: 100%;
                margin: 0;
                padding: 10px 5px 10px 10px;
                font-size: 14px;
                line-height: 20px;
                white-space: nowrap;
                text-overflow: ellipsis;
                &:before {
                  display: inline-block;
                  position: absolute;
                  top: 50%;
                  right: 10px;
                  width: 0;
                  height: 0;
                  margin-top: -1px;
                  content: "";
                  border-top: 6px solid @creditcard-arrow;
                  border-right: 3px solid transparent;
                  border-left: 3px solid transparent;
                }
              }
            }
          }
          .filed-delitel {
            position: relative;
            margin: 0 2px;
            font-size: 16px;
            line-height: 40px;
          }
          &.inputname {
            display: inline-block;
            float: right;
            width: 80%;
            vertical-align: top;
            .input-error-message {
              display: none;
            }
          }
        }
        &.error {
          color: @creditcard-error-message-bg;
          input,
          .select {
            background: @creditcard-error !important;
          }
        }
        &.valid {
          input,
          .select {
            background: @creditcard-valid-message-color!important;
          }
        }
        .b-error {
          right: 100%;
          margin-right: 10px;
          white-space: nowrap;
        }
        &.creditcard-field-number {
          .creditcard-label {
            padding: 10px 0 7px 0;
          }
        }
      }
      .creditcard-filed-label {
        display: inline-block;
        position: relative;
        width: auto;
        margin-right: 6px;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        text-align: left;
        vertical-align: middle;
        text-transform: uppercase;
      }
      .card-type {
        position: absolute;
        top: 2;
        right: 14px;
        &.visa {
          .card-type-icon {
            display: block;
            width: 41px;
            height: 25px;
            background: @img_url-sprite-old no-repeat scroll -35px -427px;
          }
        }
        &.master {
          .card-type-icon {
            display: block;
            width: 49px;
            height: 32px;
            background: @img_url-sprite-old no-repeat scroll -86px -427px;
          }
        }
      }
    }
    .credit-card-cvv-wrap {
      ._radius(17px);
      ._shadow(2px 2px 2px @creditcard-form_shadow);
      ._transition(all 1s ease);
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      width: 390px;
      height: 100%;
      padding-top: 20px;
      font-size: 13px;
      text-align: right;
      background: @creditcard-wrap-second;
      .btn-info {
        ._box-sizing;
        ._radius(25px);
        display: block;
        position: absolute;
        top: 14px;
        right: -10px;
        width: 16px;
        height: 16px;
        font-size: 11px;
        font-weight: 600;
        line-height: 12px;
        cursor: pointer;
        text-align: center;
        color: @creditcard-tooltip-text;
        border: 2px solid @creditcard-tooltip-text;
        outline: none;
        &:hover {
          color: @creditcard-q_style_hover;
          border-color: @creditcard-q_style_hover;
          .info-tooltip {
            ._opacity(1);
            visibility: visible;
          }
        }
        .info-tooltip {
          ._transition(all 1s ease);
          ._opacity(0);
          ._shadow(0 0 13px @creditcard-form_shadow);
          visibility: hidden;
          position: absolute;
          z-index: 15;
          top: 28px;
          right: -70px;
          width: 220px;
          padding: 10px;
          font-size: 11px;
          font-weight: 400;
          text-align: left;
          text-transform: none;
          color: @creditcard-tooltip-text;
          background: @creditcard-error-message-color;
          &:before {
            display: inline-block;
            position: absolute;
            right: 65px;
            bottom: 100%;
            width: 0;
            height: 0;
            content: "";
            border: 8px solid transparent;
            border-bottom-color: @creditcard-error-message-color;
          }
          .info-cvv2 {
            display: block;
            width: 188px;
            height: 230px;
            margin-top: 10px;
            background: url(~"@{img_url}/cvv2.png") no-repeat 0 0;
          }
        }
      }
      .credit-card-strip {
        width: 100%;
        height: 50px;
        margin-bottom: 8px;
        background: @creditcard-strip-bg;
      }
      .credit-card-cvv-filed {
        padding-right: 20px;
        &.error {
          color: @creditcard-error-message-bg !important;
          input,
          .select {
            background: @creditcard-error !important;
          }
        }
        &.valid {
          input,
          .select {
            background: @creditcard-valid-message-color !important;
          }
        }
      }
      .credit-card-cvv-label {
        margin-bottom: 2px;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        span {
          display: block;
          width: 100%;
        }
      }
      .credit-card-cvv-filed-content {
        ._radius();
        position: relative;
        padding-right: 20px;
        span {
          display: inline-block;
          margin-right: 3px;
          padding: 0;
          vertical-align: middle;
          text-transform: uppercase;
        }
        input {
          width: 68px;
          padding: 10px;
          text-align: center;
        }
      }
      .credit-card-cvv-filed {
        .b-error {
          left: 100%;
          margin-left: 20px;
          white-space: nowrap;
          &:after {
            left: -10px;
            border-right-color: @creditcard-error-message-bg;
            border-left: transparent;
          }
        }
      }
    }
    input,
    select {
      ._shadow(none);
      height: auto;
      border: 0;
    }
    input[type="text"] {
      width: 100%;
      height: 100%;
      padding: 10px;
      font-family: inherit;
      font-size: 14px;
      line-height: 18px;
      background: @creditcard-input-bg;
    }
    &.cvv-block {
      .credit-card-cvv-wrap {
        right: -195px;
        box-sizing: border-box;
      }
      .creditcard-main-wrap {
        margin: auto;
      }
    }
    .creditcard-icon-wrap {
      float: right;
      .by-icon {
        display: inline-block;
        margin: 0 0 0 2px;
        vertical-align: middle;
        &:first-child {
          margin-left: 0;
        }
        // Icons by type
        &.by-visa {
          ._sprite(@payment-type-visa);
        }
        &.by-visael {
          ._sprite(@payment-type-visa-el);
        }
        &.by-master {
          ._sprite(@payment-type-master);
        }
        &.by-maestro {
          ._sprite(@payment-type-maestro);
        }
        &.by-discover {
          ._sprite(@payment-type-discover);
        }
        &.by-americanex {
          ._sprite(@payment-type-amex);
        }
        &.by-switch {
          ._sprite(@payment-type-switch);
        }
        &.by-jcb {
          ._sprite(@payment-type-jcb);
        }
      }
    }
    .input-error-message {
      ._radius(3px);
      ._shadow(0 0 8px 1px fade(#000, 25%));
      position: absolute;
      z-index: 10;
      bottom: 0;
      height: auto;
      padding: 10px;
      font-size: 13px;
      line-height: 20px;
      text-align: left;
      text-transform: none;
      color: @creditcard-error-message-color;
      background: @creditcard-error-message-bg;
      &:after {
        position: absolute;
        right: -20px;
        bottom: 10px;
        width: 0;
        height: 0;
        content: "";
        border: 10px solid transparent;
        border-left-color: @creditcard-error-message-bg;
      }
      &.card-holder-error {
        right: 125% !important;
      }
    }
  }
  // Card: END
  input[type="text"],
  input[type="password"],
  textarea {
    background-color: @payment-tab_bg;
  }
  input[type="radio"] {
    &:not(.default) + span {
      &:before {
        ._sprite-position(@radio-dark);
      }
    }
    &:not(.default):checked + span {
      &:before {
        ._sprite-position(@radio-dark-active);
      }
    }
  }
  .pattern-bg {
    display: none;
  }
  .b-error {
    color: @payment-text_error;
  }
  &.b-profile {
    .aside {
      padding-top: 12px;
    }
  }
  &.timer {
    .b-header-profile {
      padding-bottom: 25px;
    }
    .b-photo {
      margin: 0;
    }
    .b-user {
      .b-user-info {
        display: none;
      }
    }
    .b-timer {
      display: block;
    }
  }
  .content-main {
    width: 720px;
    margin: 0 auto;
    &.no-sidebar {
      .b-footer {
        margin: 0;
      }
    }
  }
  .main-column {
    padding: 0 0 0 40px;
  }
  #change_payment_details {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    text-align: center;
    color: @payment-text_link;
  }
  .b-timer {
    position: absolute;
    top: 31px;
    right: 1px;
    width: 150px;
    .timer-box {
      ._box-sizing();
      ._radius(7px);
      ._shadow(0px 2px 5px 0px fade(@payment-timer_shadow, 80%) inset);
      width: 100%;
      height: 42px;
      margin: 0 auto 5px;
      padding: 3px;
      background: @payment-timer_bg;
      & > div {
        display: inline-block;
        font-family: @payment-font_400;
        font-size: 26px;
        line-height: 35px;
        color: @payment-timer_text;
        text-shadow: 0 1px 2px fade(@payment-timer_shadow, 75%);
      }
      .position {
        ._gradient(@payment-timer_start, @payment-timer_end);
        ._radius(4px);
        ._shadow(0px 1px 2px 0px fade(@payment-timer_shadow, 75%));
        display: inline-block;
        overflow: hidden;
        position: relative;
        width: 19px;
        height: 100%;
        margin-left: -3px;
        &:first-child {
          margin: 0;
        }
        &:before,
        &:after {
          position: absolute;
          top: 50%;
          width: 100%;
          height: 1px;
          content: "";
        }
        &:before {
          z-index: 2;
          margin-top: .2px;
          background-color: @payment-separator_start;
          background-color: fade(@payment-separator_start, 50%);
        }
        &:after {
          z-index: 0;
          margin-top: 1.5px;
          background-color: @payment-separator_end;
          background-color: fade(@payment-separator_end, 20%);
        }
        .digit {
          position: relative;
          z-index: 1;
          padding: 1px 0 0;
          text-align: center;
        }
      }
      .separator {
        position: relative;
        top: -10px;
        left: 1px;
        margin-right: 1px;
      }
    }
    .note {
      margin-top: -3px;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      color: @payment-text_def;
    }
  }
  .b-user-photo {
    display: inline-block;
    float: left;
    overflow: hidden;
    position: relative;
    width: 85px;
    height: 85px;
    margin: 0 5px 0 0;
    margin-right: 20px;
    vertical-align: top;
    &:hover {
      .overlay {
        background-color: @payment-photo_overlay;
        background-color: fade(@payment-photo_overlay, 10%);
      }
    }
    &.blurred-heavy,
    &.blurred {
      .image-holder .photo {
        position: relative;
        top: -17px;
        left: -8%;
        width: 116%;
        height: 116%;
      }
      .overlay {
        background-color: @payment-photo_blur_overlay;
        background-color: fade(@payment-photo_blur_overlay, 50%);
        &:before,
        &:after {
          display: none;
        }
      }
      &:hover {
        .naughty-menu {
          display: block;
        }
        .b-blur-message {
          display: none;
        }
      }
      .b-btn-activity {
        &:before {
          display: none;
        }
      }
    }
    &.blurred-heavy {
      .image-holder .photo {
        ._blur(10);
      }
      .b-blur-message {
        display: block;
      }
      .image-holder,
      x:-moz-any-link {
        position: relative;
        &:before {
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: "";
          background-color: fade(@payment-photo_blur_overlay, 85%);
        }
      }
      /*IE10 hack*/
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .image-holder {
          position: relative;
          &:before {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background-color: fade(@payment-photo_blur_overlay, 85%);
          }
        }
      }
      /*IE10 hack end*/
    }
    &.blurred {
      .image-holder .photo {
        ._blur(5);
      }
      .b-blur-message {
        display: block;
      }
      .image-holder,
      x:-moz-any-link {
        position: relative;
        &:before {
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: "";
          background-color: fade(@payment-photo_blur_overlay, 70%);
        }
      }
      /*IE10 hack start*/
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .image-holder {
          position: relative;
          &:before {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background-color: fade(@payment-photo_blur_overlay, 70%);
          }
        }
      }
      /*IE10 hack end*/
    }
    &.album {
      .image-centerer {
        overflow: hidden;
        width: 100%;
        height: 100%;
        text-align: center;
        .image-holder {
          right: auto;
          left: -385px;
          width: 1000px;
          text-align: center;
        }
        img {
          width: auto;
          height: 100%;
        }
      }
      &.blurred,
      .blurred-heavy {
        .image-centerer {
          img {
            top: -17px;
            left: -1px;
            width: auto;
            height: 116%;
          }
          img,
          x:-moz-any-link {
            top: 0;
            left: 0;
            height: 100%;
          }
          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            img {
              top: 0;
              left: 0;
              height: 100%;
            }
          }
        }
      }
    }
    .image-holder {
      overflow: hidden;
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url("@{img_url}/loader.gif") no-repeat center;
      img {
        display: inline-block;
        width: 100%;
      }
    }
    .overlay {
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
  .user-motivation {
    color: @payment-text_def;
  }
  .b-user {
    float: left;
    margin-right: 20px;
    .b-photo {
      display: inline-block;
      position: relative;
      width: 85px;
      height: auto;
      margin: 0 5px 0 0;
      vertical-align: top;
      &.blurred {
        a img {
          ._blur(6);
          position: relative;
          top: -7px;
          left: -7px;
          width: 116%;
          height: 116%;
        }
        a,
        x:-moz-any-link {
          position: relative;
          img {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
          &:before {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background-color: fade(@payment-photo_blur_overlay, 82%);
          }
        }
        /*IE10 hack*/
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          a {
            position: relative;
            img {
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
            &:before {
              position: absolute;
              z-index: 2;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              content: "";
              background-color: fade(@payment-photo_blur_overlay, 82%);
            }
          }
        }
        /*IE10 hack end*/
      }
      &.blurred-heavy {
        a img {
          ._blur(12);
          position: relative;
          top: -7px;
          left: -7px;
          width: 116%;
          height: 116%;
        }
        a,
        x:-moz-any-link {
          position: relative;
          img {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
          &:before {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background-color: fade(@payment-photo_blur_overlay, 92%);
          }
        }
        /*IE10 hack*/
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          a {
            position: relative;
            img {
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
            &:before {
              position: absolute;
              z-index: 2;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              content: "";
              background-color: fade(@payment-photo_blur_overlay, 92%);
            }
          }
        }
        /*IE10 hack end*/
      }
      a {
        display: block;
        overflow: hidden;
        width: 100%;
        height: auto;
        max-height: 85px;
        color: @payment-text_counter;
        &.b-photos-count {
          width: auto;
        }
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .b-photos-count {
      ._box-sizing;
      ._sprite(@photo-count);
      display: inline-block;
      position: absolute;
      bottom: 4px;
      left: 5px;
      font: 12px/22px @payment-font_def;
      text-align: center;
    }
    .b-user-info {
      display: inline-block;
      position: relative;
      height: 100%;
      font: 12px @payment-font_def;
      color: @payment-text_user;
      .b-screenname {
        position: relative;
        z-index: 0;
        top: 0;
        left: 0;
        margin: 0 0 5px;
        padding: 0;
        font: 600 16px @payment-font_400;
        .screenname {
          ._transition(all .2s);
          display: inline-block;
          z-index: 1;
          top: 0;
          left: 0;
          height: 100%;
          text-decoration: none;
          color: @payment-text_def;
        }
      }
      .b-age,
      .b-location {
        position: relative;
        margin: 6px 0;
        line-height: 18px;
      }
    }
    .b-screenname {
      .screenname {
        &:hover {
          width: 100%;
        }
      }
    }
  }
  .b-user.inactive + .b-text {
    width: 70%;
    padding-top: 40px;
    text-align: center;
  }
  &.b-additional-features {
    .b-packages .package .title {
      display: table;
      width: 100%;
      height: 75px;
      text-align: left;
      input[type=radio]:not(.default)+span {
        padding-left: 35px;
        &:before {
          top: 50%;
          left: 10px;
          margin-top: -7px;
        }
      }
      .input-icon {
        display: table-cell;
        vertical-align: middle;
      }
    }
    .b-header-profile {
      margin-bottom: 0;
    }
    .currency:before {
      margin-top: 7px;
    }
  }
  .period {
    display: block;
    width: 100%;
    margin: 0 0 6px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
  .b-text {
    display: table-cell;
    position: relative;
    z-index: 2;
    padding-top: 30px;
    font: 16px @payment-font_300;
    word-break: break-word;
    color: @payment-text_remind;
  }
  .b-logo {
    top: 0;
    left: 0;
    margin: 0 0 20px;
    img {
      width: 178px;
    }
  }
  .b-back {
    position: absolute;
    z-index: 20;
    top: 0;
    right: 0;
    padding: 10px 0 10px;
    text-align: right;
    text-decoration: underline;
    color: @payment-text_meta;
    .back {
      position: relative;
      padding: 10px;
      text-decoration: underline;
      color: @payment-text_meta;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .aside {
    ._box-sizing();
    float: left;
    width: 30%;
    .call-text {
      display: block;
      line-height: 1.5em;
    }
    .phone {
      display: block;
      margin-top: 15px;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.5em;
    }
  }
  .content {
    margin: 0 0 0 30%;
    padding: 13px 0 38px 30px;
    h1 {
      font-weight: 300;
    }
    a {
      color: @payment-text_link;
    }
  }
  .b-tabs {
    ._clearfix();
    height: 21px;
    margin-left: -2px;
    .b-tab,
    .geotrast {
      float: left;
      margin: 0 17px 0 0;
    }
    .b-tab {
      &.current {
        color: @payment-text_def;
        background-color: @payment-tab_current_bg;
      }
      .card {
        &:after {
          ._sprite(@payment-tab-card);
          display: inline-block;
          position: relative;
          top: -4px;
          content: "";
        }
      }
      &.ebanx_boleto {
        .card {
          &:after {
            ._sprite(@payment-tab-ebanx-boleto);
            position: relative;
            top: -4px;
          }
        }
      }
      &.ebanx_alt {
        .card {
          &:after {
            ._sprite(@payment-tab-ebanx-alt);
            position: relative;
            top: -4px;
          }
        }
      }
      &.onebip {
        .card {
          &:after {
            ._sprite(@payment-tab-onebip);
            position: relative;
            top: -4px;
          }
        }
      }
      &.paypal {
        .card {
          &:after {
            ._sprite(@payment-tab-paypal);
            position: relative;
            top: -5px;
          }
        }
      }
      &.sofort {
        .card {
          &:after {
            ._sprite(@payment-tab-sofort);
            position: relative;
            top: 0;
          }
        }
      }
      &.sepa {
        .card {
          &:after {
            ._sprite(@payment-tab-sepa);
            position: relative;
            top: 1px;
          }
        }
      }
      &.etf {
        .card {
          &:after {
            ._sprite(@payment-tab-etf);
            position: relative;
            top: -4px;
          }
        }
      }
    }
  }
  .b-tabs-content {
    .b-tab-content {
      display: none;
      width: 100%;
      &.active {
        display: inline-block;
      }
      .b-value {
        .select {
          width: 40%;
          margin-left: 10px;
          &:first-child {
            margin-left: 0;
          }
        }
      }
      &.b-tab-content-ebanx {
        .b-value {
          .select {
            width: 30.5%;
            .value {
              padding-right: 14px;
            }
          }
        }
      }
    }
  }
  .b-tab-content-bycard {
    .discount {
      font-size: 19px;
      color: @payment-tab_text;
      span {
        font-size: 17px;
        font-weight: bold;
      }
    }
    .b-note {
      display: inline-block;
      width: 400px;
      margin: 10px 0;
      text-align: left;
      .required {
        ._sprite(@payment-check-required);
        display: inline-block;
        content: "";
      }
    }
    .b-card {
      position: relative;
      width: 396px;
      margin: 27px auto 0;
      text-align: left;
      div {
        display: inline-block;
      }
    }
  }
  .b-packages {
    ._clearfix();
    margin: 15px 0 17px;
    &:lang(pt_br) {
      height: auto;
      min-height: 190px;
    }
    .packages-list {
      height: 100%;
      text-align: center;
    }
    .package {
      display: inline-block;
      position: relative;
      width: 25%;
      height: 100%;
      text-align: left;
      vertical-align: top;
      color: @payment-text_def_dark;
      background-color: @payment-tab_bg;
      &:not(.active):first-child:after {
        background: none;
      }
      label {
        ._box-sizing();
        display: inline-block;
        width: 100%;
        height: 100%;
        cursor: pointer;
        border-left: 1px solid @payment-label_border;
      }
      .title,
      .heading {
        ._box-sizing();
        display: block;
        text-align: center;
      }
      .title {
        padding: 16px 10px;
        border-bottom: 1px solid @payment-label_border;
      }
      .heading {
        min-height: 24px;
        padding: 12px 14px 13px;
        border-bottom: 1px solid @payment-label_border;
        border-bottom: 1px solid fade(@payment-label_border, 15%);
      }
      .price {
        display: block;
        margin-top: -3px;
        margin-right: 1px;
        padding: 18px 7px;
        text-align: center;
        .currency {
          font-size: 26px;
          font-weight: 400;
        }
        .amount {
          position: relative;
          font-size: 26px;
          &:after {
            margin-right: -4px;
            content: ".";
          }
        }
        .cent {
          .aud {
            position: absolute;
            top: 0;
            left: 134%;
            text-transform: uppercase;
          }
        }
        &.discount {
          padding: 13px 0 10px 7px;
          .old-price {
            position: relative;
            font-size: 11px;
            &:after {
              ._sprite(@price-old);
              position: absolute;
              z-index: 2;
              top: -1px;
              left: 38%;
              margin: 0 7px;
              content: "";
            }
          }
          .new-price {
            margin-top: 7px;
            font-size: 17px;
            line-height: 22px;
            .number {
              font-size: 20px;
              font-weight: 600;
            }
          }
          .period,
          .currency,
          .amount,
          .cent {
            display: none;
          }
        }
      }
      .description {
        display: block;
        position: relative;
        padding: 9px 10px 5px;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        input[type="radio"] {
          margin-top: 25px;
          margin-bottom: 0;
        }
        input[type="radio"]:not(.default) + span {
          padding-left: 15px;
          &:before {
            margin-top: 12px;
          }
        }
        .prev-price,
        .currency {
          display: inline-block;
          position: relative;
          font-size: 16px;
          line-height: 20px;
        }
        .prev-price {
          color: @payment-text_light;
          &:after {
            ._sprite(@price-old-highlight);
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -15px;
            content: "";
          }
        }
        .amount {
          font-size: 40px;
          font-weight: 600;
        }
        .cent {
          font-size: 19px;
          line-height: 32px;
          vertical-align: top;
        }
        .period {
          ._box-sizing();
          display: block;
          font-size: 13px;
          text-align: right;
        }
        &.discount {
          .currency,
          .cent,
          .period {
            font-weight: normal;
          }
          .cent {
            font-size: 14px;
          }
        }
      }
      &:first-child {
        label {
          border: none;
        }
      }
      &:hover {
        background-color: @payment-tab_bg;
        background-color: fade(@payment-tab_bg, 60%);
      }
    }
    .package.active {
      z-index: 1;
      color: @payment-text_package;
      background-color: @payment-tab_active_bg;
      .b-feature {
        color: @payment-text_package;
      }
      &:first-child:before,
      &:last-child:after {
        background: none;
      }
      &:after {
        top: 5px;
        right: -10px;
        bottom: 5px;
        left: auto;
      }
      label,
      .title {
        border-color: @payment-border_active;
      }
      .price {
        margin-right: 0;
      }
      .heading {
        padding-top: 22px;
      }
      .price {
        &.discount {
          padding: 16px 0 17px;
        }
      }
      .description {
        .prev-price {
          color: @payment-text_active;
        }
      }
      input[type="radio"] {
        &:not(.default):checked + span {
          &:before {
            ._sprite-position(@radio-active);
          }
        }
        &:not(.default) + span {
          &:before {
            ._sprite-position(@radio);
          }
        }
      }
    }
    input[type="radio"] {
      &:not(.default):checked + span {
        &:before {
          ._sprite-position(@radio-dark-active);
        }
      }
      &:not(.default) + span {
        &:before {
          ._sprite-position(@radio-dark);
        }
      }
    }
  }
  .ebanx-holder {
    margin: 0 0 25px;
    text-align: center;
    .e-title {
      margin: 8px 0 21px;
      font-size: 14px;
      font-weight: 700;
    }
    .radio-item {
      display: inline-block;
      position: relative;
      width: 65px;
      margin-left: 25px;
      font-size: 11px;
      font-weight: 600;
      line-height: 13px;
      vertical-align: top;
      text-transform: uppercase;
      label {
        display: block;
        cursor: pointer;
        &:before {
          display: inline-block;
          margin-bottom: 6px;
          content: "";
        }
      }
      span {
        display: block;
        clear: both;
        padding: 0;
        &:before {
          right: 0;
          left: 0;
          margin: auto;
        }
      }
      input {
        right: 0;
        left: 0;
        margin: auto;
      }
      &.bradesco {
        label {
          &:before {
            ._sprite(@ebanx-type-bradesco);
          }
        }
      }
      &.bancodobrasil {
        label {
          &:before {
            ._sprite(@ebanx-type-bancodobrasil);
          }
        }
      }
      &.itau {
        label {
          &:before {
            ._sprite(@ebanx-type-itau);
          }
        }
      }
      &.hsbc {
        label {
          &:before {
            ._sprite(@ebanx-type-hsbc);
          }
        }
      }
      &.banrisul {
        label {
          &:before {
            ._sprite(@ebanx-type-banrisul);
          }
        }
      }
    }
  }
  #subscription {
    ._clearfix();
  }
  .b-membership-info {
    margin: 15px 0 20px;
    & + .pay-error + .b-data-list {
      ._clearfix();
      max-width: 100%;
      margin-top: 30px;
      padding: 0;
      .b-data-row {
        margin-left: 0;
      }
      .b-value,
      .btn-pay {
        width: 200px;
      }
      .b-name {
        width: 55%;
        margin-right: 10px;
        padding: 2px 3px;
        .meta {
          display: block;
          font-size: 12px;
          line-height: 16px;
        }
      }
      .b-btn-pay {
        float: right;
      }
    }
  }
  .b-membership-single {
    position: relative;
    margin-bottom: 2px;
    background-color: @white;
    background-color: fade(@white,20%);
    .b-membership-main {
      display: none;
    }
    &.active {
      .b-membership-header {
        background-color: @payment-tab_active_bg;
        input[type="radio"] {
          &:not(.default):checked + span {
            &:before {
              ._sprite(@radio-active);
            }
          }
        }
        h2 {
          color: @payment-text_def;
        }
        .meta {
          color: @payment-text_active;
        }
      }
      .b-membership-main {
        display: block;
      }
    }
  }
  .b-membership-header {
    color: @text-def-dark;
    background-color: @payment-tab_bg;
    &:hover {
      background: @payment-tab_active_bg;
      input[type="radio"] {
        &:not(.default) + span {
          &:before {
            ._sprite(@radio-active);
          }
        }
      }
      h2 {
        color: @payment-text_def;
      }
      .meta {
        color: @payment-text_active;
      }
    }
    label {
      display: block;
      padding: 14px 16px 16px 40px;
      cursor: pointer;
    }
    input[type="radio"] {
      position: absolute;
      top: 19px;
      left: 20px;
    }
    .radio-button {
      position: absolute;
      top: 19px;
      left: 20px;
    }
    h2 {
      font-size: 26px;
      font-weight: 300;
      line-height: 30px;
      color: @payment-text_def_dark;
      span {
        float: right;
      }
    }
    .meta {
      font-size: 16px;
      line-height: 20px;
      color: @payment-text_light;
    }
  }
  .step1,
  .step2 {
    display: none;
    &.active {
      display: block;
    }
  }
  .step1 {
    padding: 16px 25px 24px 40px;
    table-layout: fixed;
    border-spacing: 0;
    th {
      font: 12px/16px @payment-font_400;
      color: @text-light;
      border-bottom: 1px solid @white;
      border-bottom: 1px solid fade(@white, 20%);
    }
    td {
      padding: 10px 0 0;
    }
    tr {
      &:nth-child(2) {
        td {
          padding-top: 10px;
        }
      }
      &:last-of-type {
        td {
          padding-bottom: 10px;
        }
      }
    }
    .title-check {
      border-right: 1px solid fade(@white, 20%);
      border-left: 1px solid fade(@white, 20%);
    }
    .about {
      width: 289px;
    }
    .title {
      text-align: left;
    }
    .check {
      width: 86px;
      text-align: center;
      border-right: 1px solid fade(@white, 20%);
      border-left: 1px solid fade(@white, 20%);
      div {
        ._sprite(@check-success);
        margin: 0 auto;
      }
    }
    .without {
      text-align: center;
      div {
        ._sprite(@popup-close);
        margin: 0 auto;
      }
    }
  }
  .step2 {
    padding: 16px 0;
    ul {
      ._clearfix();
      margin-top: 16px;
      padding-top: 16px;
      border-top: 1px solid @payment-border;
      .title {
        color: @payment-text_light;
      }
      li {
        float: left;
        margin-left: 42px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
  .info-block {
    margin: 37px 0 -20px;
    font-size: 12px;
    line-height: 16px;
    color: @payment-text_light;
    .title {
      letter-spacing: .025em;
      text-transform: uppercase;
      color: @payment-text_def_dark;
    }
  }
  .b-footer {
    position: relative;
    z-index: 3;
    margin: 0 0 0 285px;
    padding: 18px 0;
    font: 12px/16px @payment-font_400;
    color: @payment-text_footer;
    border-top: 1px solid @payment-border;
    .info {
      display: inline-block;
      margin: 10px 0;
    }
    a {
      color: @payment-text_link;
    }
  }
  .package-description {
    margin-top: 20px;
    padding: 13px 0 0;
    font-size: 12px;
    line-height: 20px;
    list-style-type: none;
    color: @payment-text_light;
    border-top: 1px solid @payment-border;
  }
  .b-pay-options {
    ._clearfix();
    margin-top: 12px;
    a {
      display: block;
      float: left;
      position: relative;
      padding-right: 20px;
      color: @payment-text_link;
      &:after {
        position: absolute;
        top: 7px;
        right: 7px;
        width: 0;
        height: 0;
        content: "";
        border-top: 6px solid @payment-text_link;
        border-right: 3px solid transparent;
        border-left: 3px solid transparent;
      }
      &.active {
        &:after {
          border-top: 0;
          border-bottom: 6px solid @payment-text_link;
        }
      }
    }
    .pay-back {
      float: left;
      position: relative;
      width: 100px;
      padding-left: 13px;
      &:before {
        display: block;
        position: absolute;
        left: 22px;
        font: 20px/14px @payment-font_600;
        content: "<";
      }
    }
    .button-wrap {
      float: right;
      width: 200px;
      margin-bottom: -4px;
      .pay-activate {
        width: 100%;
      }
      .button-meta {
        display: block;
        margin-top: 5px;
        font-size: 12px;
        line-height: 16px;
        a {
          &:after {
            display: none;
          }
        }
      }
    }
  }
  .b-data-list {
    .b-data-row {
      width: 100%;
      margin-left: -30px;
      text-align: left;
    }
  }
  .b-data-row {
    ._clearfix();
    display: inline-block;
    position: relative;
    margin: 6px 0 0;
    text-align: center;
    a {
      color: @payment-text_link;
    }
    .info {
      width: 400px;
    }
    .b-name {
      float: left;
      width: 140px;
      margin-right: 8px;
      padding: 10px 3px;
      text-align: right;
    }
    &.required,
    &.valid,
    &.error {
      .b-name {
        label {
          overflow: visible;
          position: relative;
          word-break: break-word;
          &:before {
            ._sprite(@payment-check-required);
            display: inline-block;
            position: absolute;
            top: 1px;
            left: -21px;
            margin: 0 5px 0 0;
            content: "";
          }
        }
      }
    }
    &.error {
      input[type="text"],
      input[type="password"],
      textarea {
        border: 0 ;
        background-color: @payment-error_bg;
      }
      .b-error {
        ._opacity();
        display: block;
        visibility: visible;
      }
      .b-name {
        label {
          &:before {
            ._sprite(@payment-check-error);
          }
        }
      }
    }
    &.valid {
      .b-name {
        label {
          &:before {
            ._sprite(@payment-check-success);
          }
        }
      }
    }
    .b-value {
      float: left;
      position: relative;
      width: 57%;
      input {
        ._box-sizing();
        width: 100%;
        height: 40px;
      }
      .select-widget {
        ._box-sizing();
        width: 100%;
        height: 40px;
      }
      .select:first-child {
        float: left;
      }
      .note {
        display: inline-block;
        display: none;
        margin-bottom: -8px;
        padding: 5px 0 0;
        font-size: 12px;
        line-height: 16px;
        color: @payment-text_light;
      }
      .separator {
        display: none;
        margin: 12px 4px 0 15px;
      }
      & > * {
        float: left;
      }
      .btn-info {
        ._radius();
        ._sprite(@info-tip);
        display: inline-block;
        position: absolute;
        min-width: 16px;
        height: 16px;
        margin: 12px 0 0 9px;
        cursor: pointer;
        color: transparent;
        outline: none;
        background-color: fade(@payment-text_medium, 0%);
      }
    }
    .b-error {
      display: none;
      clear: both;
      padding: 5px 0 0;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      color: @payment-text_error;
    }
  }
  .b-cards-small {
    position: absolute;
    z-index: 100;
    top: -41px;
    right: -15px;
    width: 169px;
    height: 35px;
    & + .b-data-row {
      margin-top: 0;
    }
    & > * {
      display: inline-block;
    }
    .visa {
      ._sprite(@payment-by-visa-sm);
    }
    .master-card {
      ._sprite(@payment-by-master-sm);
    }
    .american-express {
      ._sprite(@payment-by-amex);
    }
    .diners-club {
      ._sprite(@payment-by-diners);
    }
  }
  .error .b-value .select {
    border: 1px solid @payment-error_border;
  }
  .b-value .select {
    ._radius();
    ._box-sizing();
    display: inline-block;
    float: right;
    position: relative;
    width: 48%;
    height: 40px;
    padding: 0;
    cursor: pointer;
    text-align: left;
    vertical-align: top;
    background-color: @payment-select_widget_bg;
    &:after {
      position: absolute;
      z-index: 2;
      top: 17px;
      right: 10px;
      width: 0;
      height: 0;
      content: "";
      border-top: 6px solid @payment-arrow_bg;
      border-right: 3px solid transparent;
      border-left: 3px solid transparent;
    }
    &:hover {
      &:after {
        ._opacity(.85);
      }
    }
    select {
      ._opacity(0);
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      width: 100%;
      min-width: 0;
      height: 100%;
      padding: 0;
      cursor: pointer;
      border: 0;
    }
    &:first-child {
      float: left;
    }
    .value {
      ._text-overflow();
      ._box-sizing();
      display: block;
      position: relative;
      z-index: 2;
      height: 100%;
      margin: 0;
      padding: 10px 30px 0 14px;
    }
    &:lang(pt_br) {
      float: left;
      width: 100% / 3;
    }
  }
  &.error {
    .select {
      border: 0;
      background-color: @payment-error_bg;
    }
    .b-error {
      display: block;
    }
  }
  .b-data-row-expiry {
    .b-value .select-widget {
      width: 115px;
      margin: 0 0 0 10px;
      &:first-child {
        margin: 0;
      }
    }
  }
  .b-data-row-security {
    .b-value input {
      width: 188px;
    }
  }
  .b-btn-pay {
    margin: 6px 0 0 1px;
    text-align: center;
    .btn-pay {
      ._radius();
      ._box-sizing();
      display: inline-block;
      position: relative;
      width: 240px;
      margin: 0;
      padding: 10px 20px;
      font: 600 16px/20px @payment-font_600;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      color: @payment-text_def;
      border: none;
      outline: none;
      background: @payment-button_pay_bg;
      text-shadow: none;
      &:hover {
        background-color: lighten(@payment-button_pay_bg, 5%);
      }
      &:active,
      &.active {
        background-color: @payment-button_pay_bg;
      }
    }
  }
  .btn-pay-wrap {
    display: inline-block;
    position: relative;
    .pay-card-holder {
      position: absolute;
      top: -10px;
      left: -200px;
      &.ebanx_boleto {
        ._sprite(@payment-ebanx-big);
      }
      &.ebanx_alt {
        ._sprite(@payment-ebanx-alt-big);
      }
      &.onebip {
        ._sprite(@payment-onebip-big);
        position: static;
        top: 0;
        left: 0;
        margin: 10px auto 20px;
      }
      &.paypal {
        ._sprite(@payment-paypal-big);
        top: 4px;
        left: -160px;
      }
      &.sofort {
        ._sprite(@payment-sofort-big);
        top: 8px;
        left: -120px;
      }
      &.sepa {
        ._sprite(@payment-sepa-big);
        top: -1px;
        left: -165px;
      }
      &.etf {
        ._sprite(@payment-etf-big);
        top: 2px;
        left: -70px;
      }
    }
  }
  .b-paypal-info {
    margin: 50px 0;
    text-align: center;
    color: @payment-text_user;
    .paypal {
      &:before {
        ._sprite(@payment-paypal-info);
        display: block;
        margin: 5px auto;
        content: "";
      }
    }
    .bypaypal {
      font-weight: bold;
    }
  }
  .sms-packages-list {
    ._radius(6px 6px 0 0);
    ._shadow(2px 1px 5px fade(@payment-shadow, 30%));
    background-color: @payment-price_bg;
    background-color: fade(@payment-price_bg, 20%);
    .b-packege-mobile {
      ._shadow(inset 0 0 0 1px @payment-package_shadow);
      ._radius(6px);
      padding: 30px;
      font: 24px/1em @payment-font_300;
      text-align: center;
      color: @payment-text_package;
      background-color: @payment-package_bg;
      .price {
        padding: 0 10px;
        font-size: 30px;
      }
      .amount {
        font-family: @payment-font_def;
        font-weight: bold;
      }
    }
  }
  .b-mobile-form {
    position: relative;
    width: 320px;
    margin: 36px 0 29px 25px;
    &:after {
      display: block;
      position: absolute;
      top: -2px;
      right: -240px;
      width: 210px;
      height: 220px;
      content: "";
      // TODO: Undefined sprite
      background: -3px -230px @img_url-sprite-old no-repeat;
    }
    .label-mobile {
      display: block;
      margin: 10px 0;
    }
    .input-mobile {
      ._box-sizing();
      width: 100%;
    }
    .b-btn-pay {
      display: block;
      margin: 10px 0 20px;
      .btn-pay {
        ._box-sizing();
        width: 100%;
      }
    }
    .note {
      display: block;
      font-size: 11px;
    }
  }
  .b-data-list {
    ._box-sizing();
    clear: both;
    position: relative;
    width: 100%;
    max-width: 450px;
    margin: 24px auto 0;
    padding: 10px 15px 0 12px;
    text-align: center;
    text-align: left;
    color: @payment-text_def_dark;
    &.default {
      float: left;
      max-width: 554px;
      margin-top: 25px;
      padding: 15px;
      line-height: 20px;
      .btn-retry {
        float: right;
      }
    }
    &.inactive + .b-btn-pay {
      float: right;
      margin-top: -16px;
    }
  }
  .b-note {
    margin-bottom: 16px;
    text-align: center;
  }
  .b-data-list-cell {
    float: left;
    min-height: 40px;
  }
  .b-tab-content-bycard {
    .b-cards,
    .by-jcb,
    .by-visa,
    .by-mcard,
    .geotrust,
    .by-amex {
      position: relative;
      height: 35px;
      margin-right: 10px;
      border: none;
      a {
        display: inline-block;
        width: 100%;
        height: 100%;
      }
    }
    .by-jcb {
      ._sprite(@payment-by-jcb);
    }
    .by-amex {
      ._sprite(@payment-by-amex);
    }
    .by-visa {
      ._sprite(@payment-by-visa);
      a {
        background: transparent;
      }
    }
    .by-mcard {
      ._sprite(@payment-by-mcard);
      a {
        background: transparent;
      }
    }
    .geotrust {
      ._sprite(@payment-by-geotrust);
    }
    .symantec {
      ._sprite(@payment-by-symantec);
    }
    .b-policy {
      margin: 15px 0 -20px 0;
      text-align: center;
      a {
        color: @payment-text_link;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .b-tab-content-bycard .geotrast {
    ._sprite-width(@payment-by-geotrust);
    ._sprite-height(@payment-by-geotrust);
    position: relative;
    margin-right: 0;
    a {
      ._sprite(@payment-by-geotrust);
      display: inline-block;
      overflow: hidden;
      position: absolute;
      outline: none;
    }
    img {
      ._opacity(0);
      opacity: 0 !important;
    }
  }
  .b-verisign {
    ._sprite(@payment-verisign);
    position: absolute;
    top: 70px;
    right: 20px;
  }
  &.b-additional-features {
    .content-main {
      margin-top: 0;
    }
    .sidebar {
      position: absolute;
      z-index: -1;
      top: -19px;
      width: 100%;
      max-width: 100%;
      text-align: right;
      background: none;
      p {
        display: inline-block;
      }
      .phone-number {
        display: inline-block;
        margin-right: -1px;
        margin-left: 5px;
      }
      .sidebar-section {
        display: none;
      }
    }
    .main-column {
      clear: both;
      margin: 0;
      padding: 0;
    }
    .b-packages {
      height: 440px;
      .packages-list {
        ._clearfix();
        height: inherit;
      }
      .package {
        width: 33.3%;
        height: inherit;
        .description {
          padding: 3px 11px 0 19px;
        }
        .period {
          padding-top: 4px;
        }
        &.active {
          .b-feature-topinsearch:before {
            ._sprite-position(@payment-feature-topinsearch-active);
          }
          .b-feature-highlight:before {
            ._sprite-position(@payment-feature-highlight-active);
          }
          .b-feature-invisible:before {
            ._sprite-position(@payment-feature-invisible-active);
          }
          .b-feature-specialdelivery:before {
            ._sprite-position(@payment-feature-specialdelivery-active);
          }
          .b-feature-freecommunication:before {
            ._sprite-position(@payment-feature-freecommunication-active);
          }
        }
        .price {
          padding: 18px 0 4px;
          font-size: 26px;
          .currency {
            &:before {
              margin-top: 5px;
            }
          }
        }
      }
      .description {
        ._box-sizing;
        &.b-additional-features-icons {
          font-size: 0;
          line-height: 0;
          color: transparent;
          .b-additional-features-list {
            margin: 36px 0 18px;
            padding: 0;
            text-align: center;
            .b-feature {
              display: inline-block;
              min-height: 25px;
              margin: 0 0 3px;
              &.b-feature-topinsearch:before {
                left: -5px;
              }
              &.b-feature-highlight:before {
                top: -11px;
                left: -4px;
              }
              &.b-feature-invisible:before {
                top: -12px;
                left: 1px;
              }
              &.b-feature-specialdelivery:before {
                top: -13px;
                left: 3px;
              }
              &.b-feature-freecommunication:before {
                top: -10px;
                left: 6px;
              }
            }
          }
        }
        .b-additional-features-list {
          line-height: 16px;
          text-align: left;
          li {
            margin-bottom: 12px;
          }
        }
      }
    }
    .b-data-list {
      margin-top: 10px;
      .b-cards-small {
        right: -135px;
      }
    }
  }
  .b-benefits-wrap {
    ._radius(0 0 6px 6px);
    ._shadow(2px 1px 5px fade(@payment-shadow, 30%));
    background-color: @payment-price_bg;
    background-color: fade(@payment-price_bg, 20%);
    .benefits-head {
      font-size: 0;
      color: @payment-text_light;
      border-bottom: 1px solid fade(@payment-border, 20%);
      .col-1,
      .col-2,
      .col-3 {
        display: inline-block;
        font: 11px/40px @payment-font_600;
      }
      .col-1 {
        width: 343px;
        padding-left: 20px;
      }
      .col-2 {
        width: 115px;
        text-align: center;
        border-right: 1px solid fade(@payment-border, 20%);
        border-left: 1px solid fade(@payment-border, 20%);;;
      }
      .col-3 {
        width: 114px;
        text-align: center;
      }
    }
    .benefits-table {
      margin: 0 auto;
      padding: 0;
      border-collapse: collapse;
      td {
        margin: 0;
        padding: 0;
      }
      .col-1 {
        width: 368px;
        padding-left: 20px;
        line-height: 40px;
      }
      .col-2 {
        width: 124px;
        border-right: 1px solid fade(@payment-border, 20%);
        border-left: 1px solid fade(@payment-border, 20%);
        &:after {
          ._sprite(@check-success);
          display: block;
          margin: 2px auto;
          content: "";
        }
      }
      .col-3 {
        width: 124px;
        &:after {
          ._sprite(@popup-close-sub);
          display: block;
          margin: 0 auto;
          content: "";
        }
      }
    }
  }
  .b-packege-mobile {
    padding: 34px 30px 13px;
    label {
      display: inline-block;
      font-size: 26px;
      input[type="radio"]:not(.default) + span {
        padding-left: 20px;
        &:before {
          margin-top: 7px;
        }
      }
      .rate-info {
        display: block;
        margin-top: 9px;
        padding-left: 30px;
        font: 12px/14px @payment-font_rate;
        text-align: left;
      }
    }
  }
  .b-mobile-form {
    &.step1 {
      width: auto;
      margin-left: 0;
      &:after {
        right: -302px;
        width: 230px;
        height: 255px;
      }
    }
    .label-mobile {
      margin-bottom: 7px;
      span {
        display: block;
        color: @payment-text_user;
        &.price-text {
          margin-top: 2px;
          font-size: 11px;
          line-height: 13px;
          color: @payment-text_price;
        }
      }
    }
    .instruction {
      display: block;
      margin: 34px 0 20px 0;
      font-size: 11px;
      color: @payment-text_medium;
      span {
        color: @payment-text_active;
      }
    }
    .note {
      a {
        color: @payment-text_link;
      }
    }
  }
  .b-footer {
    .b-copyright {
      color: @payment-text_light;
    }
  }
  .b-additional-features-list {
    font-family: @payment-font_600;
    .feature {
      display: block;
      position: relative;
      padding-left: 30px;
      letter-spacing: .025em;
      text-transform: uppercase;
    }
    .b-feature {
      display: block;
      position: relative;
      padding: 1px 0 0 30px;
      font-size: 12px;
      line-height: 16px;
      color: @payment-text_light;
      &:before {
        display: block;
        float: left;
        position: absolute;
        top: -12px;
        left: 0;
        content: "";
      }
    }
    .b-feature-topinsearch:before {
      ._sprite(@payment-feature-topinsearch);
      top: -13px;
      left: 2px;
    }
    .b-feature-highlight:before {
      ._sprite(@payment-feature-highlight);
      top: -14px;
      left: -1px;
    }
    .b-feature-invisible:before {
      ._sprite(@payment-feature-invisible);
      top: -13px;
      width: 21px;
    }
    .b-feature-specialdelivery:before {
      ._sprite(@payment-feature-specialdelivery);
      top: -14px;
      left: -2px;
    }
    .b-feature-freecommunication:before {
      ._sprite(@payment-feature-freecommunication);
      top: -13px;
      left: -2px;
    }
  }
  &.lifetime-offer,
  &.one-year {
    .call-text {
      margin-top: 125px;
    }
    .heading {
      margin-left: 30px;
      .title {
        margin-bottom: 20px;
        font-size: 30px;
        color: @payment-text_title;
      }
    }
    .b-btn-pay {
      margin: 30px 0 20px;
    }
    .description {
      font: 15px/22px @payment-font_rate;
      color: @payment-text_one_step;
    }
    .offer-box {
      ._radius(5px);
      ._shadow(0px 1px 3px 1px fade(@payment-shadow, 35%));
      ._clearfix();
      margin-top: 30px;
      padding: 30px;
      .benefit-list {
        display: inline-block;
        color: @payment-text_title;
        li {
          position: relative;
          &:before {
            ._radius(8px);
            display: block;
            position: absolute;
            top: 50%;
            width: 8px;
            height: 8px;
            margin-top: -4px;
            margin-right: 15px;
            content: "";
            background-color: @payment-offer_bg;
          }
          span {
            padding-left: 15px;
            font-size: 15px;
            line-height: 24px;
            color: @payment-text_one_step;
          }
        }
      }
      .price-box {
        display: inline-block;
        float: right;
        margin: 15px 0 0;
        vertical-align: top;
        .price {
          font: 50px/48px  @payment-font_300;
          color: @payment-text_title;
          & > * {
            display: inline-block;
          }
        }
        .prev-price {
          text-decoration: line-through;
        }
        .description {
          margin-top: 3px;
          font: 15px/22px @payment-font_300;
          text-transform: uppercase;
          span {
            font-size: 30px;
          }
          .currency,
          .amount {
            font-size: 15px;
          }
        }
      }
    }
  }
  &.one-year {
    width: 860px;
    .aside {
      padding: 0;
    }
    .heading {
      margin: 0;
      .title {
        span {
          line-height: 42px;
          color: @payment-text_one_step;
        }
      }
      .description {
        margin-bottom: 32px;
      }
    }
    .b-packages {
      .package {
        width: 248px;
        height: 248px;
        .title,
        .time {
          font-family: @payment-font_rate;
          font-size: 15px;
        }
        .price {
          padding-left: 25px;
          text-align: left;
          .period {
            display: block;
            left: 0;
            font: 30px/1em @payment-font_300;
            text-transform: uppercase;
          }
        }
        &.active {
          width: 258px;
          height: 258px;
        }
      }
    }
  }
  &.b-profile.one-chance {
    .b-user-info {
      width: 165px;
    }
    .b-text {
      width: 40%;
      .description {
        width: 82%;
        margin-top: 9px;
        font-size: 20px;
        line-height: 26px;
        color: @payment-text_one_step;
      }
    }
    .b-timer {
      display: none;
      position: absolute;
      top: 63px;
      right: 88px;
      width: 165px;
      .timer-box {
        ._box-sizing();
        ._radius(7px);
        ._shadow(0px 2px 5px 0px fade(@payment-timer_shadow, 80%) inset);
        width: 100%;
        height: 42px;
        margin: 0 auto 5px;
        padding: 3px;
        background-color: @payment-timer_bg;
        & > div {
          display: inline-block;
          font: 30px/35px @payment-font_600;
          color: @payment-text_package;
          text-shadow: 0 1px 2px fade(@payment-timer_shadow, 75%);
        }
        .position {
          ._gradient(@payment-timer_start, @payment-timer_end);
          ._radius(4px);
          ._shadow(0px 1px 2px 0px fade(@payment-timer_shadow, 75%));
          display: inline-block;
          overflow: hidden;
          position: relative;
          width: 19px;
          height: 100%;
          margin-left: -5px;
          &:first-child {
            margin: 0;
          }
          &:before,
          &:after {
            position: absolute;
            top: 50%;
            width: 100%;
            height: 1px;
            content: "";
            background: fade(@payment-separator_start, 50%);
          }
          &:before {
            z-index: 2;
            margin-top: .2px;
            background-color: @payment-separator_start;
            background-color: fade(@payment-separator_start, 50%);
          }
          &:after {
            z-index: 0;
            margin-top: 1.5px;
            background-color: @payment-separator_end;
            background-color: fade(@payment-separator_end, 20%);
          }
          .digit {
            position: relative;
            z-index: 1;
            padding: 1px 0 0 2px;
          }
        }
        .separator {
          position: relative;
          top: -1px;
          left: 1px;
          margin-right: 1px;
        }
      }
      .note {
        font-size: 9px;
        text-align: center;
        color: @payment-text_meta;
      }
    }
    &.timer {
      .b-header-profile {
        padding-bottom: 37px;
      }
      .b-photo {
        margin: 0;
      }
      .b-user-info {
        display: none;
      }
      .b-timer {
        display: block;
      }
    }
  }
  .b-header-profile {
    z-index: 15;
    min-width: 680px;
    height: 104px;
    padding: 0 30px;
    background: @payment-toolbar_bg;
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 104px;
      content: "";
      background: @payment-toolbar_bg;
    }
    .b-logo {
      float: left;
      position: relative;
      width: 178px;
    }
    .logo {
      ._sprite(@logo);
      display: inline-block;
      margin-top: 31px;
    }
    .b-user {
      overflow: hidden;
      position: relative;
      height: 80px;
      margin-top: 12px;
    }
    .b-photo {
      float: left;
      overflow: hidden;
      position: relative;
      width: 80px;
      height: 80px;
      margin-right: 15px;
      &.album {
        text-align: center;
        .image-holder {
          right: auto;
          left: -210px;
          width: 500px;
          text-align: center;
          img {
            width: auto;
            height: 100%;
          }
        }
      }
      &.blurred-heavy,
      &.blurred {
        &.album {
          .image-holder .photo {
            top: -7px;
            left: 0;
            width: auto;
            height: 116%;
          }
        }
        .image-holder .photo {
          position: relative;
          top: -7px;
          left: -8%;
          width: 116%;
          height: 116%;
        }
        .overlay {
          background-color: @payment-photo_blur_overlay;
          background-color: fade(@payment-photo_blur_overlay, 50%);
        }
      }
      &.blurred-heavy {
        .image-holder .photo {
          ._blur(10);
        }
        .b-blur-message {
          display: block;
        }
        .overlay,
        x:-moz-any-link {
          background: none;
        }
        .image-holder,
        x:-moz-any-link {
          position: relative;
          .photo {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
          &:before {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background-color: fade(@payment-photo_blur_overlay, 90%);
          }
        }
        /*IE10 hack*/
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          .overlay {
            background: none;
          }
          .image-holder {
            position: relative;
            .photo {
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
            &:before {
              position: absolute;
              z-index: 2;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              content: "";
              background-color: fade(@payment-photo_blur_overlay, 90%);
            }
          }
        }
        /*IE10 hack end*/
      }
      &.blurred {
        .image-holder .photo {
          ._blur(5);
        }
        .b-blur-message {
          display: block;
        }
        .overlay,
        x:-moz-any-link {
          background: none;
        }
        .image-holder,
        x:-moz-any-link {
          position: relative;
          .photo {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
          &:before {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background-color: fade(@payment-photo_blur_overlay, 80%);
          }
        }
        /*IE10 hack start*/
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          .overlay {
            background: none;
          }
          .image-holder {
            position: relative;
            .photo {
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
            &:before {
              position: absolute;
              z-index: 2;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              content: "";
              background-color: fade(@payment-photo_blur_overlay, 80%);
            }
          }
        }
        /*IE10 hack end*/
      }
      .image-holder {
        overflow: hidden;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url("@{img_url}/loader.gif") no-repeat center;
        img {
          display: inline-block;
          width: 100%;
        }
      }
    }
    .back {
      position: absolute;
      top: -4px;
      right: -9px;
      padding: 10px;
      text-decoration: underline;
      color: @payment-text_meta;
    }
  }
  .b-blur-message {
    width: 100%;
    font-size: 13px;
  }
  .pattern-bg {
    &:before,
    &:after {
      top: 120px;
    }
  }
  .overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    &:before {
      ._gradient(@payment-photo_blur_overlay, transparent);
      ._opacity(.4);
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 80px;
      content: "";
    }
  }
  .toolbar-centerer {
    position: relative;
    width: 720px;
    min-height: 90px;
    margin: 0 auto;
    padding: 10px 0;
  }
  .b-card {
    position: relative;
    margin-bottom: 12px;
    div {
      display: inline-block;
      a {
        display: block;
        width: 64px;
        height: 33px;
      }
    }
    .b-cards {
      ._sprite(@payment-by-bcards);
      margin-left: 1px;
    }
    .by-visa {
      margin: 0 11px;
      a {
        ._sprite(@payment-by-visa);
      }
    }
    .by-mcard {
      a {
        ._sprite(@payment-by-mcard);
      }
    }
    .geotrust {
      ._sprite(@payment-by-geotrust);
      margin-left: 10px;
    }
  }
  .b-payment-status {
    min-height: 470px;
    padding: 38px 0;
  }
  .failed {
    display: block;
    padding: 0 0 30px;
    font-size: 26px;
  }
  .pay-error {
    position: relative;
    margin-top: -4px;
    margin-bottom: 38px;
    padding: 0 75px 0 56px;
    font-size: 12px;
    line-height: 16px;
    color: @payment-text_error;
    &:before {
      ._sprite(@payment-error);
      position: absolute;
      top: 4px;
      left: 0;
      content: "";
    }
  }
  .pay-error-cell {
    display: table-cell;
    height: 39px;
    line-height: 18px;
    vertical-align: middle;
  }
  .meta-wrap {
    clear: both;
    padding-top: 30px;
    p {
      display: block;
      margin-bottom: 12px;
    }
  }
  .highlight {
    font-family: @payment-font_600;
    font-weight: 600;
  }
}

&.b-trusted {
  width: 700px;
  h3 {
    font: 600 16px/22px @payment-font_600;
  }
  .sidebar {
    text-align: right;
    background: none;
  }
  .main-column {
    clear: both;
    margin: 0;
    padding-top: 45px;
    padding-left: 0;
  }
  .b-btn-pay {
    margin: 15px 0;
    text-align: center;
  }
  .btn-pay {
    float: none;
  }
  .b-trusted-desc {
    ._radius(6px);
    position: relative;
    height: 124px;
    margin: 0 0 20px;
    padding: 85px 168px 0 192px;
    border: solid 1px @payment-trusted_border;
    background: @payment-trusted_description url("@{img_url}/girl-trusted.png") no-repeat -5px 7px;
    .b-trusted-title {
      position: absolute;
      top: 18px;
      right: 0;
      width: 470px;
      padding: 5px 0 5px 50px;
      font: 600 16px/20px @payment-font_600;
      color: @payment-text_package;
      border-bottom: 1px solid @payment-trusted_title_border;
      background: @payment-button_pay_bg;
      span {
        text-transform: uppercase;
      }
      &:before {
        position: absolute;
        top: -38px;
        left: -58px;
        width: 98px;
        height: 103px;
        content: "";
        background: url("@{img_url}/sh.png") no-repeat 0 0;
      }
    }
    .b-trusted-text {
      color: @payment-text_def_dark;
    }
    .b-trusted-medal {
      display: table;
      position: absolute;
      top: 78px;
      right: 7px;
      width: 68px;
      height: 113px;
      padding: 27px 30px 0;
      text-align: center;
      background: url("@{img_url}/icon-quality.png") no-repeat 0 0;
      span,
      b {
        display: inline-block;
        padding: 2px 0 0;
        font: 600 18px/20px @payment-font_600;
        color: @payment-text_package;
        span {
          color: @payment-text_highlight;
        }
      }
    }
    .b-trusted-medal-wrap {
      display: table-cell;
      padding-bottom: 40px;
      vertical-align: middle;
    }
  }
  .b-tabs {
    ._clearfix();
    height: 30px;
    .b-tab,
    .geotrast {
      float: left;
      margin: 0 10px 0 0;
      font: 20px/1em @payment-font_300;
    }
    .card {
      &:after {
        display: inline-block;
        content: "";
        ._sprite(@payment-tab-card);
      }
    }
    .b-tab {
      &.current {
        color: @payment-text_def;
      }
    }
  }
  .b-tabs-content {
    .b-tab-content {
      display: none;
      width: 100%;
      &.active {
        display: inline-block;
      }
    }
  }
  .b-tab-content-bycard {
    text-align: center;
    .discount {
      font-size: 19px;
      color: @payment-tab_text;
      span {
        font-size: 17px;
        font-weight: bold;
      }
    }
    .geotrast img {
      ._opacity(0)!important;
    }
    .b-note {
      display: inline-block;
      width: 400px;
      margin: 10px 0;
      text-align: center;
      .required {
        display: inline-block;
        width: 13px;
        height: 11px;
        content: "";
        // TODO: NO SPRITE
        background: @img_url-sprite-old no-repeat -330px -61px;
      }
    }
    .b-card {
      position: relative;
      width: 396px;
      margin: 27px auto 0;
      text-align: left;
      div {
        display: inline-block;
      }
    }
  }
  &.one-year {
    .b-packages {
      .package {
        color: @payment-text_meta;
      }
    }
  }
  .b-trusted-tabs {
    position: relative;
    border-spacing: 2px 0;
    .b-trusted-tab-item {
      ._radius();
      display: inline-block;
      margin: 0 7px 10px 0;
      padding: 10px 19px;
      cursor: pointer;
      text-align: center;
      color: @payment-text_def_dark;
      background-color: @payment-tab_bg;
      &.active {
        cursor: default;
        color: @payment-text_def;
        background-color: @payment-trusted_item_bg;
      }
    }
  }
  .b-trusted-tab-content {
    color: @payment-text_def_dark;
    border: 1px solid @payment-tab_bg;
    background-color: @payment-tab_bg;
    input[type="text"],
    input[type="password"],
    .select-widget {
      background-color: @payment-trusted_bg;
    }
    .b-trusted-tab-content-item {
      display: none;
      &.active {
        display: block;
      }
      &.b-realme {
        padding: 25px 0 11px;
        text-align: center;
        .b-realme-logo {
          display: inline-block;
          width: 132px;
          height: 53px;
          margin: 25px 0;
          background: url("@{img_url}/realme-logo.png") no-repeat 0 0;
        }
        .b-btn-pay {
          margin-bottom: 25px;
        }
      }
    }
    .text-small {
      color: @payment-text_small;
    }
    .text-big {
      font: 400 20px @payment-font_400;
      color: @payment-text_one_step;
      span {
        color: @payment-text_link;
      }
    }
    .b-steps {
      ._radius(6px);
      ._clearfix();
      margin: 15px;
      border: 1px solid @payment-trusted_border;
      background-color: @payment-trusted_description;
    }
    .b-steps li {
      float: left;
      padding: 6px 0;
      font: 600 16px/18px @payment-font_600;
      text-align: center;
      &.first-step {
        ._radius(6px 0 0 6px);
        position: relative;
        width: 48%;
        &:before,
        &:after {
          position: absolute;
          top: 0;
          width: 0;
          height: 0;
          content: "";
          border-top: 23px solid transparent;
          border-bottom: 23px solid transparent;
        }
        &:before {
          right: -21px;
          border-left: 20px solid @payment-trusted_arrow_bg;
        }
        &:after {
          right: -20px;
          border-left: 20px solid @payment-trusted_arrow;
        }
      }
      &.second-step {
        ._radius(0 5px 5px 0);
        width: 52%;
      }
      &.active {
        background-color: @payment-step_bg;
      }
      span {
        display: block;
        font: 400 13px/16px @payment-font_400;
        color: @payment-text_small;
      }
    }
    .b-sms-step {
      ._clearfix;
      display: none;
      margin: 22px 15px;
      &.active {
        display: block;
      }
      .error-text {
        margin: 15px 0 0;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: @payment-text_trusted_error;
      }
      .b-step-inner {
        display: none;
        &.active {
          display: block;
        }
      }
      .select-widget {
        width: 100%;
      }
    }
    .b-verify-details {
      float: left;
      width: 54%;
      td {
        padding: 5px 0;
      }
      .name {
        width: 135px;
        padding: 12px 0;
        vertical-align: top;
      }
      .b-phone {
        ._clearfix();
      }
      input[type="text"] {
        float: right;
        width: 180px;
        height: 35px;
      }
      input[type="text"]:first-child {
        float: left;
        width: 40px;
        padding: 7px 0 8px;
        text-align: center;
      }
      label,
      .text-small {
        display: inline-block;
        padding: 8px 0 0;
      }
    }
    .b-verification-code {
      ._clearfix();
      margin: 5px 0 0;
    }
    .b-code-typing {
      float: left;
      width: 57%;
      .text {
        display: inline-block;
        width: 41%;
        min-height: 35px;
        line-height: 31px;
        text-align: left;
        span {
          display: inline-block;
          line-height: 18px;
          vertical-align: middle;
        }
      }
      input[type="text"] {
        float: right;
        width: 56%;
        text-align: left;
      }
      .change-phone {
        display: inline-block;
        margin: 15px 0 0;
        color: @payment-text_phone;
        &:hover {
          color: @payment-text_phone_hover;
        }
      }
    }
    .b-verify {
      float: right;
      width: 39%;
      .b-btn-pay {
        margin: 0;
      }
      .btn-pay {
        width: 100%;
        padding: 10px 35px 9px;
      }
      .text-small {
        margin: 22px 0 0;
      }
      ul {
        list-style: inside disc;
      }
    }
    .b-free-call {
      padding: 22px 15px;
      .text {
        padding: 10px 0 0;
        color: @payment-text_small;
        span {
          color: @payment-text_one_step;
        }
      }
    }
    .b-credit-card {
      padding: 22px 15px 15px;
      .text-small {
        padding: 22px 0 0;
      }
    }
    .b-trusted-credit-text {
      ._radius(6px);
      position: relative;
      margin: 22px 0 22px 35px;
      padding: 5px 0 5px 45px;
      font: 600 15px/22px @payment-font_600;
      text-align: left;
      border: 1px solid @payment-trusted_border;
      background: @payment-trusted_description;
      span {
        display: inline-block;
        color: @payment-text_trusted_error;
      }
    }
    .b-trusted-credit-text-icon {
      position: absolute;
      top: -20px;
      left: -30px;
      width: 68px;
      height: 68px;
      font: 600 14px/68px @payment-font_600;
      text-align: center;
      color: @payment-text_package;
      background: url("@{img_url}/bonus.png") no-repeat 0 0;
      text-shadow: 0 -1px 0 fade(@payment-shadow, 50%);
    }
  }
  .b-footer {
    margin: 30px 0 0;
  }
}
/* end: trusted */
.event-notifier {
  display: none;
}

// mobile unlimited access tip
.additional-baner-uma {
  font: bold 11px/13px @payment-font_def;
  padding: 7px 5px 4px 35px;
  width: 85px;
  color: @payment-unlimited-access-color;
  background: @payment-unlimited-access-bg;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -63px;
  white-space: normal;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 100%;
    border-top: 10px solid @payment-unlimited-access-bg;
    z-index: 2;
  }
  &:before {
    left: 0;
    border-right: 90px solid transparent;
  }
  &:after {
    right: 0;
    border-left: 90px solid transparent;
  }
  .unlimited-add {
    display: block;
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 100%;
      margin-top: 3px;
      border-top: 10px solid desaturate(darken(@payment-unlimited-access-bg, 10%), 30%);
      z-index: 1;
    }
    &:before {
      left: 0;
      border-right: 90px solid transparent;
    }
    &:after {
      right: 0;
      border-left: 90px solid transparent;
    }
  }
  .additional-baner-bg {
    display: block;
    position: relative;
    &:before {
      ._sprite(@payment-additional-baner-uma-default);
      content: "";
      position: absolute;
      left: -20px;
      top: 3px;
    }
  }
  .package.active & {
    background-color: @payment-unlimited-access-bg_active;
    color: @white;
    &:before,
    &:after {
      border-top: 10px solid @payment-unlimited-access-bg_active;
    }
    .additional-baner-bg {
      &:before {
        ._sprite-position(@payment-additional-baner-uma);
      }
    }
    .unlimited-add {
      &:before,
      &:after {
        border-top: 10px solid desaturate(darken(@payment-unlimited-access-bg_active, 10%), 10%);
      }
    }
  }
}
.b-unlimited-mobile-access {
  .b-packages {
    margin-bottom: 55px;
  }
}
// end: mobile unlimited access tip

@media (max-width: 930px) {
  .b-page-payment.b-additional-features .b-packages .package {
    height: 418px;
    &.active {
      height: 438px;
    }
  }
}

@media screen and (max-width: 1400px) {
  .b-page-payment .creditcard-pay .credit-card-cvv-wrap .credit-card-cvv-filed .b-error {
    bottom: 100%;
    left: 50%;
    margin-bottom: 10px;
    white-space: normal;
    &:after {
      top: 100%;
      right: 40px;
      left: auto;
      border-color: transparent;
      border-top: 10px solid @creditcard-error-message-bg;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
    }
  }
}

.ie8 {
  .b-page-payment {
    .b-membership-info {
      background-color: @payment-ie8_info_bg;
    }
    .step1 {
      th {
        border-bottom: 1px solid @payment-ie8_cell_border;
      }
      .title-check {
        border-right: 1px solid @payment-ie8_cell_border;
        border-left: 1px solid @payment-ie8_cell_border;
      }
      .check {
        border-right: 1px solid @payment-ie8_cell_border;
        border-left: 1px solid @payment-ie8_cell_border;
      }
    }
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
