@payment-font_300: 'Open Sans Light', Arial, helvetica, sans-serif;
@payment-font_400: 'dosisregular', Arial, helvetica, sans-serif;
@payment-font_def: Arial, sans-serif;
@payment-font_rate: Verdana, Arial, sans-serif;
@payment-font_600: 'dosissemibold', Arial, helvetica, sans-serif;

@payment-body_bg: #f2eee6;
@payment-body_shadow: #000;
@payment-shadow: #000;
@payment-toolbar_bg: #1f2226;
@payment-border: #e6e6e6;
@payment-border_active: #e66b2e;
@payment-border_def: #bfbfbf;
@payment-photo_overlay: #fff;
@payment-photo_blur_overlay: #000;
@payment-package_bg: #f9a100;
@payment-package_shadow: #fbbd4d;
@payment-tab_bg: #e6e6e6;
@payment-tab_current_bg: transparent;
@payment-tab_active_bg: #f73;
@payment-tab_text: #1c1c1c;
@payment-label_border: #ccc;
@payment-price_bg: #fff;
@payment-label_active_bg: #ffc44c;
@payment-error_border: #ff4d6b;
@payment-error_bg: #ffd9d9;
@payment-offer_bg: #ff4c4c;
@payment-trusted_bg: #fff;
@payment-trusted_description: #f2f2f2;
@payment-trusted_border: #ccc;
@payment-trusted_title_border: #008000;
@payment-trusted_arrow: #fff;
@payment-trusted_arrow_bg: #ccc;
@payment-trusted_item_bg: #f73;
@payment-step_bg: #fff;
@payment-arrow_bg: #1f2226;

@payment-select_widget_bg: #e6e6e6;


@payment-button_pay_bg: #52cc52;

@payment-text_remind: #e5e5e5;
@payment-text_counter: #1a1a1a;
@payment-text_def: #fff;
@payment-text_def_dark: #1f2226;
@payment-text_link: #f73;
@payment-text_medium: #b3b3b3;
@payment-text_photo: #fff;
@payment-text_user: #797979;
@payment-text_active: #ffccb2;
@payment-text_meta: #f73;
@payment-text_footer: #999;
@payment-text_error: #ff3232;
@payment-text_trusted_error: #ff3232;
@payment-text_phone: #f73;
@payment-text_phone_hover: #52cc52;
@payment-text_package: #fff;
@payment-text-description: #000;
@payment-text_light: #999;
@payment-text_title: #ff4c4c;
@payment-text_one_step: #4c4c4c;
@payment-text_highlight: #427100;
@payment-text_small: #999;
@payment-text_price: #b2b2b2;

@payment-timer_shadow: #10170e;
@payment-timer_bg: #4c4c4c;
@payment-timer_text: #fff;
@payment-timer_start: #666;
@payment-timer_end: #333;
@payment-separator_start: #000;
@payment-separator_end: #fff;

@payment-ie8_info_bg: #282828;
@payment-ie8_cell_border: #282828;


/* subcomponent: trusted */
@payment-c-trusted-border: @payment-border;
@payment-c-trusted-bg_def: @white;
@payment-c-trusted-bg_sub: #f9f9f9;
@payment-c-trusted-header-bg: #dfffdf;
@payment-c-trusted-header-text: @payment-text_def;
@payment-c-trusted-header-text_highlight: #f49c60;
@payment-c-trusted-header-title-bg: #52cc52;
@payment-c-trusted-header-title-text: @white;
@payment-c-trusted-content-text: @payment-text_def;
@payment-c-trusted-content-text_highlight: #f53b60;
@payment-c-trusted-medal-title: @white;
@payment-c-trusted-medal-text: @white;
@payment-c-trusted-tab-text: #1f2226;
@payment-c-trusted-tab_active: #ccc;
@payment-c-trusted-tab-text_active: @payment-c-trusted-tab-text;
@payment-c-trusted-tab-text_hover: #f73;
@payment-c-trusted-tab-bg: #e6e6e6;   
@payment-c-trusted-tab-bg_active: @white;
@payment-c-trusted-tab-border: transparent;
@payment-c-trusted-tab-border_active: @payment-c-trusted-tab_active;
@payment-c-trusted-step-border: @payment-border;
@payment-c-trusted-step-text: @payment-text_def;
@payment-c-trusted-step-title: red;
@payment-c-trusted-step-bg: @white;
@payment-c-trusted-step-bg_active: #effde3;
@payment-c-trusted-bonus-bg: #f5a72a;
@payment-c-trusted-bonus-text: @white;

@payment-unlimited-access-color: @payment-text_def_dark;
@payment-unlimited-access-bg: #e6e6e6;
@payment-unlimited-access-bg_active: #52cc52;
