.b-user-nav {
  position: relative;
  float: right;
  margin: 7px 10px 0 0;
  .photo-holder {
    position: relative;
    z-index: 201;
    width: 17px;
    height: 17px;
    border: 1px solid @userNav-photo_holder_border;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    &.loading {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: fade(@userNav-photo_holder_loading_before_bg, 60%) @userNav-loader_location_url no-repeat center center;
        z-index: 203;
      }
      &:hover {
        cursor: default;
        .overlay {
          display: none;
        }
      }
    }
    &.portrait {

    }
    &.album {
      .image-holder {
        width: 500px;
        height: 100%;
        margin-left: -250px;
        position: absolute;
        top: 0;
        left: 50%;
      }
      .photo {
        width: auto;
        height: 100%;
        margin: 0 auto;
        display: block;
      }
    }
    .overlay {
      ._opacity(.2);
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      width: 100%;
      height: 100%;
      background: @userNav-photo_holder_overlay_bg;
    }
    .photo {
      display: block;
      width: 100%;
      height: 100%;
    }
    &:hover {
      .overlay {
        display: block;
      }
    }
  }
  .b-screenname {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 202;
    display: inline-block;
    margin: auto;
    color: @userNav-screenname_color;
    text-align: center;
    font: 13px/19px @userNav-font_400;
    vertical-align: middle;
    margin: 0 5px;
    padding-right: 12px;
    cursor: pointer;
    ._text-overflow;
    max-width: 120px;
    &:after {
      position: absolute;
      border: 4px solid transparent;
      border-top-color: @userNav-screenname_color;
      border-bottom: 0;
      right: 0;
      top: 50%;
      margin-top: -2px;
      content: "";
    }
    &:hover {
      +.photo-holder {
        .overlay {
          display: block;
        }
      }
    }
  }
  .b-settingsbutton {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid @userNav-photo_holder_border;
    border-radius: 3px;
    background: #404040;
    z-index: 201;
    box-shadow: inset 0 1px 0 fade(#fff,20%);
    vertical-align: middle;
    &:after {
      position: absolute;
      width: 16px;
      height: 16px;
      content: "";
      top: 50%;
      left: 50%;
      margin: -8px 0 0 -8px;
      background: @toolbar-sprite_url no-repeat -208px 0;
    }
    .b-settings-tooltip {
      position: absolute;
      right: 0;
      bottom: -35px;
      white-space: nowrap;
      color: @userNav-screenname_color;
      background: #333;
      font-size: 12px;
      padding: 2px 5px;
      border-radius: 2px;
      display: none;
      &:after {
        position: absolute;
        border: 5px solid rgba(0, 0, 0, 0);
        border-top-width: 0;
        border-bottom-color: #333;
        top: -5px;
        right: 8px;
        content: "";
      }
    }
    &:hover {
      .b-settings-tooltip {
        display: block;
      }
    }
  }
  .b-dropdown-menu {
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 203;
    width: 600px;
    display: none;
    &.active {
      top: 33px;
      display: block;
    }
    .nav {
      list-style: none;
      font-size: 0;
      line-height: 0;
      background: @userNav-dropdown_bg;
      float: right;
      box-shadow: 0 0 10px fade(#000, 50%);
      .item {
        display: block;
        &.user {
          padding: 10px;
        }
        .link {
          ._box-sizing;
          display: block;
          padding: 0 18px;
          color: @userNav-dropdown_nav_item_link_color;
          text-decoration: none;
          letter-spacing: normal;
          font: 14px/33px @userNav-font;
        }
        &:hover {
          background-color: @userNav-dropdown_nav_item_link_color_hover;
          .link {
            color: @userNav-dropdown_nav_item_link_color_hover_text;
          }
        }
      }
    }
  }
}

.upgrade-block {
  display: inline-block;
  height: 40px;
  top: -7px;
  position: relative;
  margin-right: 30px;
  z-index: 201;
  vertical-align: top;

  a { text-decoration: none; }

  .full-upgrade {
    padding: 0 20px;
    height: 40px;
    font: 13px/40px @userNav-font_400;
    color: @upgrade-block-full_color;
    background: fade(#fff, 20%);
    display: inline-block;
    cursor: default;
  }

  .btn-upgrade,
  .current-payment-status {
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    margin: 0;
  }

  .current-payment-status {
    font-family: @userNav-font_400;
    font-size: 13px;
    vertical-align: top;
    margin: 5px 0 0;
    color: @upgrade-block-full_color;
  }

  .btn-upgrade {
    color: #fff;
    text-shadow: 1px 1px fade(#000, 15%);
    font: 14px/28px @userNav-font;
    font-weight: bold;
    min-width: 130px;
    padding: 0 15px;
    text-align: center;
    ._radius(3px);
    -webkit-box-shadow: 0 0 1px fade(#000, 20%) inset, 2px 2px 2px fade(#000, 20%);
    -moz-box-shadow: 0 0 1px fade(#000, 20%) inset, 2px 2px 2px fade(#000, 20%);
    box-shadow: 0 0 1px fade(#000, 20%) inset, 2px 2px 2px fade(#000, 20%);
    ._gradient(@upgrade-block-btn_bg_start, @upgrade-block-btn_bg_stop);
    ._box-sizing;
    height: 30px;
    position: relative;
    z-index: 1;
    cursor: pointer;

    &-wrap {
      position: relative;
      display: inline-block;
      margin-left: 15px;
      height: 40px;
      cursor: default;
      margin: 5px 25px 0 10px;

      &:hover .upgrade-hint-wrap { display: block; }
    }
  }

  .btn-upgrade-wrap {
    &:hover .upgrade-hint-wrap { display: block; }
  }

  .discount-label {
    position: absolute;
    background: @t-main-color;
    height: 18px;
    width: 40px;
    ._box-sizing;
    top: 50%;
    margin-top: -13px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-shadow: 1px 1px fade(#000, 10%);
    padding-left: 3px;
    line-height: 19px;

    &:before {
      position: absolute;
      right: 0;
      top: 0;
      content: "";
      border-top: 9px solid transparent;
      border-bottom: 9px solid transparent;
      border-right: 8px solid @header-bg-start;
      z-index: 1;
    }

    &:after {
      position: absolute;
      width: 100%;
      left: 0;
      top: 1px;
      height: 14px;
      border-top: 1px dashed fade(#000, 50%);
      border-bottom: 1px dashed fade(#000, 50%);
      content: "";
    }

  }

  .upgrade-hint {
    padding: 15px 12px 12px 20px;
    color: #fff;
    font-size: 13px;
    ._radius(8px);
    background: fade(#000, 80%);

    &.membership {
      margin-left: -25px;
      margin-top: 0px;
      width: 280px;
      position:absolute;

      &-wrap {
        &:before {
          margin-top: 4px;
        }
      }
    }

    &-wrap {
      position: absolute;
      left: 50%;
      top: 100%;
      margin: -6px 0 0 -140px;
      width: 280px;
      ._box-sizing;
      padding-top: 10px;
      display: none;

      &:before {
        position: absolute;
        left: 50%;
        top: 0;
        margin-left: -10px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 9px solid fade(#000, 80%);
        content: "";
        margin-top: 1px;
      }
    }

    &__title {
      font: 14px @userNav-font;
      font-weight: bold;
      margin-bottom: 8px;
      text-align: center;
      display: block;
    }

    &__features {

      &__item {
        position: relative;
        padding-left: 22px;
        margin-top: 5px;

        b {
          color: lighten(@t-main-color, 20%);
          font-weight: normal;
          margin-left: 0.2em;
        }

        span {
          margin-left: 0.25em;
        }

        &:before {
          background: url("@{t-main-sprite}") -160px -340px;
          position: absolute;
          width: 14px;
          height: 14px;
          content: "";
          left: 0;
          top: 3px;
        }
      }
    }

    .btn-upgrade {
      display: block;
      margin: 12px auto 0;
      max-width: 215px;
      text-align: center;
      line-height: normal;
      padding: 10px;
      font-size: 15px;
      font-weight: normal;
      height: auto;

      &:hover { ._gradient(@upgrade-block-btn_bg_stop, @upgrade-block-btn_bg_start); }

      b, span { display: block; }

      b {
        font-size: 24px;
        line-height: 25px;
      }
    }
  }
}

@media (max-width: 1100px) {
  .upgrade-block {
    margin-right: 15px;

    .current-payment-status,
    .btn-upgrade {
      font-size: 11px;
    }

    .btn-upgrade { min-width: 110px; }
  }

  .b-user-nav .b-screenname { max-width: 90px; }
}

@media (max-width: 1080px) {
  .upgrade-block {
    .full-upgrade,
    .current-payment-status { display: none; }
  }
}
