@userNav-img_url: "../images";
@userNav-loader_location_url: url("@{userNav-img_url}/loader-location.gif");
@userNav-font: 'Open Sans', Arial, helvetica, sans-serif;
@userNav-font_400: 'Open Sans Semibold', Arial, helvetica, sans-serif;
@toolbar-sprite_url: url("@{userNav-img_url}/sprite.png");

@userNav-photo_holder_border: #000;
@userNav-photo_holder_loading_before_bg: #000;
@userNav-photo_holder_overlay_bg: #fff;
@userNav-transparent: transparent;
@userNav-screenname_gradient_start: transparent;
@userNav-screenname_gradient_end: #000;
@userNav-screenname_color: #bbb;
@userNav-dropdown_shadow_color: #000;
@userNav-dropdown_bg: #fff;
@userNav-dropdown_nav_item_border: #2b2b2b;
@userNav-dropdown_nav_item_link_color: #333;
@userNav-dropdown_nav_item_link_color_hover: @t-main-color;
@userNav-dropdown_nav_item_link_color_hover_text: #fff;

@upgrade-block-full_color: #a3e012;
@upgrade-block-btn_bg_start: #a3e012;
@upgrade-block-btn_bg_stop: #7cc604;
