- var fcBlockClass = "";
- if(displaySuccess)
  - if(approved)
    - fcBlockClass = "default-message"
  - else
    - fcBlockClass = "user-message"

.flirtcast-block(class=fcBlockClass)
  .flirtcast-content
    if displaySuccess
      .flirtcast-form
        .textarea-wrap.text= successMessage
        .buttons-row
          button.close.btn-text-def(data-close)= _t("flirtcast", "button.close")
    else
      .flirtcast-form
        .fc-faces
          .face.one
          .face.two
          .face.three
          .face.four
          .face.five
        span.btn-info(title=_t("flirtcast", "tooltip.click_to_write"))
        .error#flirtcastError
        .textarea-wrap
          textarea#flirtcastMessage(data-id=messageId)= messageText
        .buttons-row
          button.btn-next.btn-text-def#flirtcastNext= _t("flirtcast", "button.next_message")
          button.btn-send.btn-text-green#flirtcastSend= _t("flirtcast", "button.send")

