- each val, key in photos
    .middle-content__foto-grid__item
      a.middle-content__foto-grid__item__foto(data-src=val.src, data-image href=(!val.userUpgrade) ? val.url : val.userUpgrade)
        img.foto-grid__item__foto__img(src=val.model.avatar, data-id=val.model.id)
      .middle-content__foto-grid__item__coments
