@chatroom-border: #ccc;
@chat-title: #4c4c4c;
@number-color :#808080;
@chat-tab-color: #f2f2f2;
@male: #006fbc;
@female: #ff4f4f;
@block-btn-bg: #fea6a6;
@video-button-bg: #b0b1b2;
@chatrooms-profile-rules-link: #f3473a;
@chatrooms-title_sub-color: #1e191e;
@chatrooms-title_room-empty: #797979;


.b-chatrooms {
  min-width: 760px;
  max-width: 1100px;
  margin: 14px auto 0;
  .chat-contact-list {
    float: right;
    overflow: auto;
    overflow-x: visible;
    overflow-y: scroll;
    width: 275px;
    height: 99.6%;
    border: 1px solid @white;
    background: #eaeaea;
    .chat-user-list-holder {
      .chat-user-list {
        border-top: 1px solid @white;
        &:first-child {
          border-top: none;
          border-bottom: 1px solid @button-bg-def;
        }
        .title {
          position: relative;
          padding: 13px 9px 13px 19px;
          line-height: 15px;
          color: @color-text-muted;
          &:after {
            display: block;
            position: absolute;
            top: 0;
            right: 11px;
            bottom: 0;
            width: 13px;
            height: 7px;
            margin: auto;
            content: "";
            background: @sprite_url no-repeat -157px -17px;
          }
          .gender,
          .divider,
          .count-user {
            display: inline-block;
            font-family: inherit;
            vertical-align: top;
          }
          .divider {
            padding: 0 6px;
          }
          &:hover {
            cursor: pointer;
          }
          &.active {
            padding: 13px 9px 6px 19px;
            &:after {
              top: 11px;
              background-position: -157px -5px;
            }
            + .c-user-list {
              display: block;
            }
          }
        }
        .c-user-list {
          display: none;
          margin-bottom: 7px;
          padding: 0 9px 0 19px;
          .user-holder {
            position: relative;
            .user-icon-holder {
              float: right;
              line-height: 24px;
              vertical-align: middle;
              .video,
              .stream-watch {
                display: none;
                vertical-align: middle;
              }
            }
            .user-name {
              ._text-overflow;
              position: relative;
              padding-left: 16px;
              line-height: 24px;
              color: @color-text-muted;
              &:before {
                ._radius(5px);
                display: none;
                position: absolute;
                z-index: 11;
                top: 0;
                bottom: 0;
                left: 0;
                width: 9px;
                height: 9px;
                margin: auto;
                content: "";
                background-color: #1cbb1c;
              }
              &.online {
                &:before {
                  display: block;
                }
              }
              &:hover {
                cursor: pointer;
                color: #7a96c1;
              }
            }
          }
        }
      }
    }
    .accordion {
      overflow: auto;
      height: 470px;
      .ban-popup {
        ul {
          display: block !important;
          border: 0;
          li {
            padding: 0;
            &:hover {
              background: none;
            }
          }
        }
      }
      h4 {
        position: relative;
        padding: 7px;
        font-size: 13px;
        font-weight: 600;
        cursor: pointer;
        color: #797979;
        border-top: 1px solid @chatroom-border;
        &:after {
          display: inline-block;
          float: right;
          width: 13px;
          height: 7px;
          margin: 5px 0 0 10px;
          content: "";
          background: @sprite_url no-repeat -157px -5px;
        }
        &:first-child {
          border-top: 0;
        }
      }
      .active {
        &:after {
          background-position: -157px -17px;
        }
      }
      ul {
        display: none;
        border-top: 1px solid @chatroom-border;
        li {
          position: relative;
          &:hover {
            background: #d9d9d9;
          }
          &.blocked {
            text-decoration: line-through;
          }
        }
      }
      ul > li > a {
        display: block;
        padding: 5px 10px;
        text-decoration: none;
        color: @chat-title;
        &:before {
          display: inline-block;
          width: 9px;
          height: 9px;
          margin-right: 7px;
          content: "";
          border-radius: 100%;
          background: #1cbb1c;
        }
        .view-video,
        .video {
          display: inline-block;
          float: right;
          width: 16px;
          height: 16px;
          margin-left: 10px;
          width: 15px;
          height: 20px;
          background: @sprite_url no-repeat -157px -31px;
          float: right;
          &.active {
            display: inline-block;
            background-position: -182px -31px;
          }
          &.no-active {
            display: inline-block;
            background-position: -157px -31px;
          }
        }
        .stream-watch {
          float: right;
          width: 18px;
          height: 13px;
          &.active {
            display: inline-block;
            background: @sprite_url no-repeat -179px -4px;
          }
        }
      }
      .active + ul {
        display: block;
      }
    }
  }
}

.b-tabs-holder {
  .rooms-tabs {
    max-width: 83%;
    display: inline-block;
  }
  .chat-rules-link {
    float: right;
    max-width: 15%;
    margin: 12px 0 0 2%;
    line-height: 16px;
    text-decoration: underline;
    color: @chatrooms-profile-rules-link;
    &:hover {
      text-decoration: none;
    }
  }
  .tab-item {
    ._radius(6px);
    display: inline-block;
    position: relative;
    position: relative;
    z-index: 10;
    min-width: 55px;
    height: 34px;
    margin-bottom: 4px;
    padding: 0 30px 0 20px;
    font: bold 12px/36px Verdana, Geneva, sans-serif;
    text-align: center;
    vertical-align: middle;
    vertical-align: bottom;
    text-decoration: none;
    position: relative;
    z-index: 10;
    color: @color-text-muted;
    vertical-align: bottom;
    font: bold 12px/36px Verdana, Geneva, sans-serif;
    &:before {
      ._radius(6px);
      display: block;
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 30px;
      margin: 2px;
      background-color: #eaeaea;
    }
    .tab-item-close {
      display: block;
      position: absolute;
      z-index: 5;
      top: 0;
      right: 5px;
      bottom: 0;
      width: 12px;
      height: 12px;
      margin: auto;
      padding: 5px;
      cursor: pointer;
      background: @sprite_url -131px 0;
    }
    sup {
      position: relative;
      z-index: 10;
      margin-left: 5px;
      line-height: 25px;
      color: #ff5e52;
    }
    &.active {
      background: @white;
      &:before {
        display: none;
      }
    }
    &:hover {
      color: @white;
      background-color: @color-bg-btn-active;
      .tab-item-text,
      sup {
        color: @white;
      }
      &:before {
        display: none;
      }
    }
    &:first-child {
      min-width: 70px;
      padding: 0 13px 0 17px;
      .tab-item-close {
        display: none;
      }
    }
  }
}

.b-chr-content {
  .b-chr-list {
    ._radius(4px);
    border: 1px solid @button-bg-def;
  }
  .b-chr-list {
    ._shadow(0 1px 3px -1px fade(#000, 35%));
    padding: 0 38px 35px;
    background-color: @white;
    .b-chr-item {
      margin-top: 37px;
      padding-top: 37px;
      border-top: 1px solid @button-bg-def;
      &:first-child {
        padding-top: 0;
        border-top: none;
      }
      .b-title {
        .title, {
          color: @color-text-muted;
        }
        .link {
          float: right;
        }
      }
      .chr-item {
        display: inline-block;
        max-width: 29%;
        margin: 33px 40px 0 0;
        vertical-align: top;
        .count-p {
          display: block;
          margin: 6px 0;
          font-weight: 700;
          font-size: 11px;
          color: @chatrooms-title_sub-color;
          &.empty-room {
            font-weight: 400;
            color: @chatrooms-title_room-empty;
          }
        }
        .description {
          line-height: 18px;
          color: @color-text-muted;
        }
      }
    }
    .link {
      display: inline-block;
      color: @color-bg-btn-active;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .b-chr-chat {
    position: relative;
    background-color: @white;
    .chat-left-col {
      .chat-msg-history-holder {
        overflow: hidden;
        position: relative;
        margin-right: 276px;
        .chat-msg-history {
          ._radius(6px 0 0);
          overflow: auto;
          overflow-x: visible;
          overflow-y: scroll;
          position: relative;
          height: 363px;
          padding: 14px 20px 18px 9px;
          border-right: 1px solid @button-bg-def;
          border-bottom: 1px solid @button-bg-def;
          background: @white;
          .msg-holder {
            .b-name {
              ._text-overflow;
              float: left;
              width: 105px;
              padding-right: 20px;
              padding-left: 15px;
              line-height: 24px;
              text-align: left;
              &.male {
                color: #006fbc;
              }
              &.female {
                color: #fd2293;
              }
              &:hover {
                cursor: pointer;
              }
            }
            .msg-text {
              overflow: hidden;
              line-height: 24px;
              color: @color-text-muted;
            }
            &.for-user {
              ._radius(4px);
              background-color: @color-bg-btn-active;
              .b-name,
              .msg-text {
                color: @white;
              }
            }
          }
        }
        .chat-msg-user-motivation {
          position: absolute;
          z-index: 10;
          bottom: 1px;
          left: 0;
          width: 100%;
          min-height: 92px;
          padding: 10px 0;
          text-align: center;
          border-bottom: 1px solid @white;
          border-left: 1px solid @white;
          background: #eaeaea;
          .user-motivation-top-text,
          .user-motivation-bottom-text {
            color: @color-text-muted;
          }
          .user-motivation-top-text {
            margin-top: 2px;
          }
          .btn-update {
            ._radius(30px);
            ._gradient(@color-gradient-start, @color-gradient-end);
            ._transition(all .1s);
            ._shadow(e("0px 4px 0px @{color-1-b-shadow-btn-update}, 0px 6px 15px @{color-2-b-shadow-btn-update}"));
            display: inline-block;
            min-width: 235px;
            height: auto;
            margin: 12px 0;
            padding: 6px 19px;
            font: normal 18px/1em @open-sans;
            cursor: pointer;
            text-decoration: none;
            color: @color-text-base;
            outline: none;
            text-shadow: 0 -1px 0 fade(@color-shadow, 40%);
            &:active,
            &.active {
              top: 4px;
              box-shadow: 0 1px 0 @color-1-b-shadow-btn-update, 0 2px 7px @color-2-b-shadow-btn-update;
            }
          }
          &:before,
          &:after {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 1px;
            height: 100%;
            content: "";
          }
          &:before {
            right: 2px;
            background-color: @white;
          }
          &:after {
            right: 1px;
            height: 101%;
            background-color: @pop-up-border;
          }
        }
      }
      .chat-input {
        ._radius(0 0 0 3px);
        display: table;
        position: relative;
        margin: 0 276px 0 0;
        padding: 19px 10px 20px 20px;
        border-top: 1px solid @white;
        border-right: 1px solid @button-bg-def;
        border-bottom: 1px solid @white;
        border-left: 1px solid @white;
        background: #eaeaea;
        .input {
          ._radius(15px);
          display: table-cell;
          position: relative;
          width: 100%;
          margin-right: 5px;
          border: 1px solid #d7d7d7;
          border-color: fade(#000, 31%) fade(#000, 15%) fade(#000, 4%);
          background: #fff;
          box-shadow: 0 1px 0 fade(#000, 8%) inset;
          .input-wrap {
            padding: 6px;
            .message-input {
              ._radius(0);
              ._box-sizing;
              display: block;
              overflow: auto;
              width: 100%;
              min-height: 20px;
              max-height: 150px;
              margin-right: 20px;
              padding: 1px 1px 0;
              line-height: 20px;
              resize: none;
              word-break: break-all;
              -ms-word-break: break-all;
              color: @color-text-muted;
              border: 0;
              outline: none;
              background: transparent;
              box-shadow: none;
            }
          }
        }
        .btn-holder {
          display: table-cell;
          min-width: 207px;
          margin-top: 3px;
          padding-left: 10px;
          text-align: left;
          vertical-align: middle;
          .turn-on-button {
            button.turn-on {
              display: block;
            }
            button.turn-off {
              display: none;
            }
            &.active {
              .videotext {
                &.turn-on {
                  display: none;
                }
                &.turn-off {
                  display: inline-block;
                }
              }
              button.turn-on {
                display: none;
              }
              button.turn-off {
                display: block;
              }
            }
          }
        }
        .btn {
          ._radius(20px);
          border: none;
          &.btn-send {
            float: left;
            width: 28px;
            height: 28px;
            margin-right: 20px;
            padding: 4px 0;
            &:after {
              display: inline-block;
              width: 16px;
              height: 20px;
              content: "";
              background: @sprite_url no-repeat -4px -101px;
            }
            &.turn-on-button {
              ._gradient(@color-gradient-start, @color-gradient-end);
              ._transition(all .1s);
              ._shadow(e("0px 4px 0px @{color-1-b-shadow-btn-update}, 0px 6px 15px @{color-2-b-shadow-btn-update}"));
              min-width: 137px;
              height: 32px;
              padding-top: 0;
              padding-bottom: 0;
              text-shadow: 0 -1px 0 fade(@color-shadow,40%);
              .videotext {
                ._text-overflow;
                max-width: 125px;
                font-size: 14px;
                vertical-align: middle;
                &.turn-on {
                  display: inline-block;
                }
                &.turn-off {
                  display: none;
                }
              }
              &:hover {
                cursor: pointer;
              }
              &:active {
                ._shadow(e("0px 1px 0px @{color-1-b-shadow-btn-update}, 0px 2px 7px @{color-2-b-shadow-btn-update}"));
                top: 4px;
              }
              &.disabled {
                height: 35px;
              }
            }
            &.disabled {
              ._gradient(#d1d1d1, #b5b5b5);
              color: #f2f2f2;
              border: 1px solid #b2b2b2;
              box-shadow: none;
              text-shadow: none;
              &:after {
                background-position: -4px -102px;
              }
              &:hover {
                ._gradient(#d1d1d1, #b5b5b5);
                cursor: default;
              }
              &:active {
                top: 0;
                box-shadow: none;
                text-shadow: none;
              }
            }
            &:focus,
            &:active {
              outline: none;
            }
          }
          .turn-video {
            width: 140px;
            height: 34px;
            font-size: 14px;
          }
          .btn-send {
            margin-top: 3px;
          }
        }
      }
    }
  }
  .switch-enter {
    margin-top: 12px;
    label {
      span {
        color: @input-text;
        &:before {
          margin-top: 0;
        }
      }
    }
  }
}

.profile-view {
  ._radius(4px);
  ._shadow(0 1px 12px fade(#000, 35%));
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  margin: auto;
  border: 1px solid @button-bg-def;
  background-color: @white;
  .b-user-button-holder {
    float: right;
    position: relative;
    z-index: 1000;
    width: 160px;
    margin-right: 10px;
    padding: 15px 0;
    text-align: right;
    .btn {
      &.msg-in-chr,
      &.private-msg,
      &.add-to-friends,
      &.videochat {
        display: inline-block;
        width: 143px;
        height: auto;
        margin-top: 8px;
        padding: 3px 0;
        font-size: 11px;
        line-height: 17px;
        text-align: center;
        text-transform: lowercase;
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
  .user-info-inner {
    position: relative;
    z-index: 999;
    width: 489px;
    padding: 10px;
    color: @color-text-muted;
    .b-photo {
      display: inline-block;
      float: left;
      position: relative;
      width: 85px;
      height: 85px;
      margin: 0;
      vertical-align: top;
      img {
        display: block;
        width: 100%;
      }
    }
    /*features*/
    .b-features {
      display: block;
      padding: 5px 0;
    }
    .b-invisible,
    .b-hot,
    .b-vip,
    .b-free-communicate {
      ._radius(16px);
      ._transition(all .2s);
      display: inline-block;
      position: relative;
      width: 21px;
      height: 21px;
      margin: 0 0 5px;
      background-color: fadeout(#000, 30%);
      box-shadow: 0 0 0 5px fadeout(#f89816, 100%);
      &:before {
        display: inline-block;
        width: 100%;
        height: 100%;
        margin: 2px 0 0 3px;
        content: "";
        background: @sprite_url no-repeat -68px -408px;
      }
      &:hover {
        box-shadow: 0 0 1px 2px fadeout(#f89816, 0);
      }
    }
    .b-vip {
      box-shadow: 0 0 0 5px fadeout(#01afa4, 100%);
      &:hover {
        box-shadow: 0 0 1px 2px fadeout(#01afa4, 0);
      }
      &:before {
        background-position: -36px -408px;
      }
    }
    .b-hot {
      box-shadow: 0 0 0 5px rgba(127,127,127,0);
      &:before {
        background-position: -92px -534px;
      }
      &:hover {
        box-shadow: 0 0 0 2px rgba(249,161,0,1);
      }
    }
    .b-invisible {
      box-shadow: 0 0 0 5px rgba(219,219,219,0);
      &:before {
        background-position: -64px -141px;
      }
      &:hover {
        box-shadow: 0 0 0 2px rgba(219,219,219,1);
      }
    }
    .b-photos-count {
      ._radius(8px);
      position: absolute;
      right: 5px;
      bottom: 1px;
      height: 19px;
      padding: 0 4px;
      font: bold 10px @font-face-header;
      line-height: 19px;
      color: #fff;
      background: @color-shadow;
      background: fadeout(@color-shadow, 30%);

      filter: alpha(opacity=70);
      &:before {
        display: inline-block;
        width: 10px;
        height: 11px;
        content: "";
        vertical-align: middle;
        background: @sprite_url no-repeat -48px -128px;
      }
    }
    .b-new {
      position: absolute;
      top: 0;
      left: 0;
      padding: 1px 3px 2px;
      font: 10px/1em @font-face-basic;
      text-transform: capitalize;
      color: #fff;
      background: @color-theme-base;
    }
    .b-online {
      ._radius(14px);
      ._box-sizing;
      position: absolute;
      top: 5px;
      right: 5px;
      width: 13px;
      height: 13px;
      border: 1px solid transparent;
    }
    .b-online-now {
      border-color: @color-shadow;
      border-color: fadeout(@color-shadow, 30%);
      background: #93da38;
    }
    .b-online-recent {
      border-color: @color-shadow;
      border-color: fadeout(@color-shadow, 30%);
      background: #1cbb1c;
    }
    /*features*/
    .b-screenname {
      margin: -4px 0 0;
      padding: 0;
      font: 26px/26px @open-sans;
      .screenname {
        ._text-overflow;
        display: inline-block;
        max-width: 185px;
        font-size: 12px;
        font-weight: 600;
        text-decoration: none;
        color: @color-bg-btn-active;
      }
    }
    .b-user-info-wrap {
      margin-right: 160px;
      .b-user-info {
        margin: 0 0 0 95px;
        .b-age,
        .b-location,
        .b-user-about {
          position: relative;
          margin: 6px 0;
          padding: 0 0 0 15px;
          line-height: 18px;
          &:before {
            display: block;
            position: absolute;
            top: 2px;
            left: 0;
            width: 12px;
            height: 14px;
            content: "";
          }
        }
        .b-age {
          &:before {
            background: @sprite_url no-repeat -30px -125px;
          }
        }
      }
      .b-location {
        position: relative;
        padding-left: 15px;
        .location {
          ._text-overflow(100%);
        }
        .from-you,
        .location {
          display: inline;
          .country {
            float: left;
            margin-right: 5px;
            &:after {
              display: inline-block;
              width: 1px;
              height: 11px;
              margin: 0 4px 3px;
              content: "|";
            }
          }
          .city,
          .country {
            white-space: nowrap;
          }
        }
        &:before {
          display: block;
          position: absolute;
          top: 1px;
          left: 0;
          width: 12px;
          height: 14px;
          content: "";
          background: @sprite_url no-repeat -3px -125px;
        }
      }
      .b-user-about {
        position: relative;
        margin: 8px 0 0;
        padding: 0 0 0 15px;
        line-height: 18px;
        &:before {
          display: block;
          position: absolute;
          top: 2px;
          left: 0;
          width: 12px;
          height: 14px;
          content: "";
          background: @sprite_url no-repeat -16px -126px;
        }
      }
    }
    &:after {
      display: block;
      position: absolute;
      top: 0;
      right: -10px;
      bottom: 0;
      width: 10px;
      height: 20px;
      margin: auto;
      content: "";
      background: @sprite_url no-repeat -60px -102px;
    }
  }
  &.left {
    .user-info-inner {
      &:after {
        right: auto;
        left: -10px;
        background-position: -50px -102px;
      }
    }
  }
}









.b-chr-content {
  .b-chr-chat {
    ._radius(4px);
    ._shadow(0 1px 3px -1px fade(#000, 35%));
    border: 1px solid @button-bg-def;
  }
}

.videos-holder {
  .b-chatrooms & {
    clear: both;
    overflow: hidden;
    margin-top: 10px;
    .video-item-grid {
      position: relative;
      display: inline-block;
      width: 33%;
      font-size: 0;
      line-height: 0;
      text-align: center;
      vertical-align: top;
      letter-spacing: -6px;
      .video-item {
        ._radius(4px);
        display: inline-block;
        position: relative;
        width: 320px;
        height: 305px;
        margin: 0 0 10px 0;
        vertical-align: top;
        letter-spacing: normal;
      }
      .video-user-name,
      .video-b-name,
      .closeVideo {
        position: absolute;
        top: 15px;
        z-index: 50;
        font: @font-basic;
        letter-spacing: normal;
      }
      .video-user-name,
      .video-b-name {
        left: 15px;
        color: @white;
      }
      .closeVideo {
        ._radius(12px);
        ._shadow(0 1px #a29f9f);
        right: 15px;
        display: inline-block;
        padding: 0 15px;
        outline: none;
        background-color: @button-bg-def;
        color: @text-def;
        line-height: 24px;
        &:hover {
          background-color: #eaeaea;
        }
        &:focus,
        &:active {
          outline: none;
        }
      }

    }
  }
}

@media (max-width: 1440px) {
  .b-chr-content {
    .b-chr-list {
      .b-chr-item {
        .chr-item {
          width: 27%;
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  .b-chr-content {
    .videos-holder {
      .video-item-grid {
        width: 48%;
      }
    }
  }
}

@media (max-width: 920px) {
  .b-chr-content {
    .b-chr-list {
      .b-chr-item {
        .chr-item {
          width: 25%;
        }
      }
    }
  }
}
