.b-page-terms,
.b-page-privacy {
  &.b-page-promotion-offer {
    ol {
      li {
        b {
          &:first-child {
            display: block;
          }
        }
        &:before {
          content: '';
        }
      }
    }
  }
  h1 {
    margin-bottom: 15px;
    color: @terms_privacy-text_def-color;
    font: 30px/30px @font-family-open_sans;
  }
  p {
    margin-bottom: 9px;
  }
  b {
    display: inline-block;
    margin: 10px 0 0;
    color: @t-main-color;
    font: 600 18px/24px @font-family-open_sans;
  }

  /*Styles for full HTML*/
  .page-centerer {
    position: relative;
    z-index: 5;
    margin: 0 auto;
    padding: 35px 40px 40px;
    width: 700px;
    color: @terms_privacy-text_def-color;
    font: 14px/22px @font-family-open_sans;
    background: @terms_privacy-wrap-bg;
    ._shadow(~"0 1px 4px @{terms_privacy-shadow}");
    .info-block {
      counter-increment: list;
      margin: 20px 0 0;
    }
  }
  .page-title {
    margin-bottom: 15px;
    font: 400 30px/30px @font-family-open_sans;
  }
  .title {
    color: @t-main-color;
    font: 600 18px/24px @font-family-open_sans;
    margin-bottom: 2px;
  }
  p {
    &.meta {
      color: @terms_privacy-text_sub-color;
      font: 600 14px/22px @font-family-open_sans;
    }
  }
  ul {
    margin-top: 20px;
    list-style-type: none;
    li {
      position: relative;
      padding-left: 10px;
      margin-bottom: 16px;
      &:before {
        content: '';
        position: absolute;
        top: 8px;
        left: 0;
        background: @t-main-color;
        width: 5px;
        height: 5px;
        ._radius(4px);
      }
    }
  }
  ol {
    position: relative;
    counter-reset: list_item;
    list-style-type: none;
    margin-top: 22px;
    li {
      position: relative;
      padding-left: 30px;
      margin-bottom: 16px;
      counter-increment: list_item;
      &:before {
        content: counter(list)'.'counter(list_item);
        position: absolute;
        top: 0;
        left: 2px;
        color: @t-main-color;
      }
    }
  }
  a {
    color: @t-main-color;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  .btn,
  a.btn,
  .btn-close {
    float: right;
    margin-top: 20px;
    margin-bottom: 60px;
    color: #fff;
    text-decoration: none;
  }
}

// staticPage - styles for popup windows
.static-body {
  background: #f3f3f3;
  .layout {
    min-width: 500px;
    .l-content {
      width: 100%;
      padding: 10px;
      ._box-sizing;
    }
  }
  .b-page { width: auto; }
  .page-centerer {
    width: 100%;
    max-width: 1200px;
    ._box-sizing;
  }
}
//-------------------------------------------------------------------------------
