@font-family-open_sans: 'Open Sans', Arial, Helvetica, sans-serif;

@terms_privacy-wrap-bg: #fff;
@terms_privacy-text_def-color: #000;
@terms_privacy-text_sub-color: #6e6e6e;
@terms_privacy-shadow: fade(#000, 20%);
