.b-flirtcast(data-flirtcast-main)
  .ftcst-title= _t("flirtcast", "Send Flirtcast")
  - var random = Math.floor(Math.random() * messages.length);
  textarea#flirtcastMessage(data-id=random)= messages[random]
  button.refresh#flirtcastNext
  a.button#flirtcastSend= _t("flirtcast", "Send Flirtcast")
.b-flirtcast-result-message(data-flirtcast-result)
