.b-page-contact-us
  .title= _t("contactUs", "title.contact_us")
  .widget-wrap
    div.description
      p
        = _t("contactUs", "text.contact_us_description")
      p
        = _t("contactUs", "text.provide_information")
    .b-row.left
      .field.select-output-dropdown.dark(data-ui-select)
        .b-name= _t("contactUs", "title.section")
        .input-holder(data-toggle)
          .value(data-value="")
          .select
            input(type="hidden", value=selectedCategoryId, name="categoryId", data-control, id="contactUsCategoryId")
            ul.list
              if categories
                each category in categories
                  li(data-item=category.id, class=(category.id == selectedCategoryId)?"item activated":"item") #{category.title}
        .b-error(data-ui-error-text) | error text right
    .b-row.right
      .field.right.select-output-dropdown.dark(data-ui-select, id="contactUsSubject", style=(subjects.length)?"":"display:none")
        .b-name= _t("contactUs", "title.subject")
        .input-holder(data-toggle)
          .value(data-value="")
          .select
            input(type="hidden", value=selectedSubjectId, name="subjectId", data-control, id="contactUsSubjectId")
            ul.list(data-list="")
              if subjects
                each subject in subjects
                  li(data-item=subject.id, class=(subject.id == selectedSubjectId)?"item activated":"item") #{subject.title}
        .b-error(data-ui-error-text) | error text right
    .b-row.clear
      .field(data-ui-textarea)
        .b-name= _t("contactUs", "title.message")
        textarea(data-value, name="message", id="contactUsMessage")
          | #{defMessage}
        .b-error(data-ui-error-text) | error text right
    button.btn-send.btn-text-green(id="contactUsSubmit")= _t("contactUs", "button.send")
    .clear
