- var number = 0
- paid = (upgrade.length == 0)

mixin infoRow(key, title)
  .usv-about-row(class = (number % 2 == 0) ? 'even' : '')
    p.title= _t('user', title)
    p.data #{(user[key]) ? user[key] : _t("user", "title.not_given")}
  - number++

mixin infoLookingForRow(key, title)
  .usv-about-row(class = (number % 2 == 0) ? 'even' : '')
    p.title= _t('user', title)
    p.data #{(lookingFor[key]) ? ((key == 'age') ?  lookingFor.age.from + "-" + lookingFor.age.to : lookingFor[key].ucfirst()) : _t("user", "title.not_given")}
  - number++

mixin infoRowGender(key, title, gender)
  .usv-about-row(class = (number % 2 == 0) ? 'even' : '')
    p.title= _t('user', title, {"{n}": gender})
    p.data #{(user[key]) ? user[key] : _t("user", "title.not_given")}
  - number++

mixin infoRowLocation(title)
  .usv-about-row(class = (number % 2 == 0) ? 'even' : '')
    p.title= _t('user', title)
    p.data #{(user.geo) ? user.geo.city + ", " + user.geo.country : _t("user", "title.not_given")}
  - number++

mixin infoFullRow(key, title, last)
  - var cls
  - if(last)
    - cls = 'last'
  - else
    - cls = (number % 2 == 0) ? 'even' : ''
  .usv-about-row(class = cls)
    p.title.full-row= _t('user', title)
    p #{(user[key]) ? user[key] : _t("user", "title.not_given")}
  - number++

mixin userImage()
  img(src=(userPrimaryPhoto && userPrimaryPhoto.avatar) ? userPrimaryPhoto.avatar : user.photoUrl, alt=user.login)
  - if(naughtyLevel == 1)
    span.b-message-holder= _t("user", "title.naughty_photo")
  - if(naughtyLevel == 2)
    span.b-message-holder= _t("user", "title.explicit_Nudity")

mixin tags()
  .tags
    - if(user.statuses && user.statuses.newStatus)
      .tag.new= _t("user", "title.new")

mixin header(title)
  header= title
  - number++

.user-view(class= paid ? 'full' : 'free')
  .usv-info
    - if(paid)
      .photo-preloader.pic
        - if (userPhotoCount)
          a(href='/#photo/gallery/id/'+user.id)
            +userImage()
        - else
          +userImage()
        .pic-counter-holder
          .pic-counter #{userPhotoCount}
    - else
      - if(upgrade && upgrade.photo_big)
        a.user_link(href=upgrade.photo_big, data-popup=(naughtyClass.length) ? 'yes' : 'no')
          .photo-preloader.pic.faded
            +userImage()

    .details(class= paid ? 'full' : '')
      .info-wrap
        if(!paid)
          .pic-small
            - if(upgrade && upgrade.photo_big)
              a(href=upgrade.photo_big)
                +userImage()
            - else
              - if (userPhotoCount)
                a(href='/#photo/gallery/id/'+user.id, data-popup=(naughtyClass.length) ? 'yes' : 'no')
                  +userImage()
              - else
                +userImage()
            .user-info
              +tags()
              .status(class = user.statuses.onlineStatus ? 'online' : '')
        .user-info
          if(paid)
            +tags()
            .status(class = user.statuses.onlineStatus ? 'online' : '')
            .name
              span.name-wrap
                span.name-inner
                  a(href='#') #{user.login},
              span.age= user.age + " " + _t("user", "text.years")
            .from #{user.geo.city} | #{user.geo.country}
          else
            .name
              span.name-wrap
                span.name-inner
                  a(href='#') #{user.login}
            .age= user.age + " " + _t("user", "text.years")
            .from #{user.geo.city} | #{user.geo.country}
            .photos #{userPhotoCount}
      .user-buttons
        a.usr-action.message(href='/#chat/with/'+user.id)
          = _t("user", "button.chat")
        button.usr-action.wink(data-winkbutton=user.id, class=(buttons.wink.activated) ? "active" : "")
          span.initial_state= _t("user", "button.wink")
          span.final_state= _t("user", "button.winked")
        button.usr-action.favourite(data-favoritebutton=user.id, class=(buttons.favorite.activated) ? "active" : "")
          span.initial_state= _t("user", "button.add_friend")
          span.final_state= _t("user", "text.friends")


  #swipeGallery.glr-wrap.hidden
    .glr-header
    .glr-inner
  .usv-tabs-container
    ul.usv-tabs-list(data-tabs-list='1')
      li(data-tabs-opener='tab1')
        = _t("user", "text.about_user") + " "
        - if(user.data_gender == "male")
          = _t("user", "text.him")
        - else
          = _t("user", "text.her")
      li(data-tabs-opener='tab2')= _t("user", "text.activity_history") + " | " + activities.total
    .usv-tabs-content(data-tabs-content)
      .tab(data-tab='tab1')
        .usv-about
          +infoFullRow('user', (user.data_gender == "male") ? "user.his_mind" : "user.her_mind")
          +infoFullRow('description', 'In her own words', true)
          +header(_t("user", "title.appearance"))
          +infoRow('height', 'Height')
          +infoRow('weight', 'Weight')
          +infoRow('build', 'Body type')
          +infoRow('hair_color', 'Hair color')
          +infoRow('eye_color', 'Eyes color')
          +infoRow('pierced', 'Pirsing')
          +infoRow('tattoo', 'Tatoo')
          +header(_t("user", "text.lifestyle"))
          +infoRow('sexual_orientation', 'Orientation')
          +infoRow('marital_status', 'Marital status')
          +infoRow('children', 'Children')
          +infoRow('living', 'Living')
          +infoRow('income', 'Income')
          +infoRow('smoke', 'Smoke')
          +infoRow('drink', 'Drink')
          +header(_t("user", "title.looking_for"))
          +infoLookingForRow('gender', 'Gender')
          +infoLookingForRow('age', 'Age')
          +infoRowLocation('Location')
          - if(lookingFor.show === "payment-link")
            -var banClass = "maleBan trad"
            - if (user.gender == "female")
              - banClass = "femaleBan"
            .usv-about-lock(class=banClass)
              .usv-about-lock-wrap
                .box-inner
                  p= _t("user", "text.membership")
                    br
                    span= _t("user", "text.view_more_results")
                  a.get-button(href=lookingFor.upgrade)= _t("user", "text.get_it_now") + "!"
                .usv-about-lock-bg
      .tab(data-tab='tab2')
        .urv-activity
          .activity-history
            - if(typeof activities.list === "object")
              - var currentDate = ""
              each act in activities.list
                - if(currentDate != act.date)
                  - currentDate = act.date
                  .activity-time
                    span.day
                      case act.date
                        when "today"
                          = _t("user", "text.today")
                        when "yesterday"
                          = _t("user", "text.yesterday")
                        default
                          | #{act.date}
                .activity-item(class=act.action)
                  .activity.cf
                    .photo
                      img(src=act.photoUrl, alt="users photo")
                    .activity-icon
                  .time  #{act.time}
                  .activity-text
                    case act.type
                      when "outgoing"
                        != _t('user', 'user.you.'+act.action+'.'+user.data_gender)
                      default
                        != _t('user', 'user.'+user.data_gender+'.'+act.action)
div.banner-bottom
    #openx-banner-placement-userbottom.userbottom-banner-openx
div.banner-bottom-height
