#activityNotification {
    position: fixed;
    bottom: 0;
    width: 310px;
    right: 5px;
    z-index: 999;
    display: none;
}

#activityNotification.active {
    display: block;
    position: fixed;
}
.notificators-footer-content{
    background: none repeat scroll 0 0 #1B2435;
    padding: 8px 9px;
    margin: 5px 5px 5px 0;
    .border-radius;
    color: #ffffff;
    width: 100%;
    position: relative;
    opacity: 0.95;

    &:hover{
        opacity: 1;
    }
}
.notificators-footer-content-ava{
    display: inline-block;
    vertical-align: top;
    img{
        .border-radius;
        max-height: 50px;
        max-width: 50px;
    }
    width: 50px;
}
.notificators-footer-content-message-nickname{
    color: #a3d5ff;
}
.notificators-footer-content-message{
    display: inline-block;
    vertical-align: top;
    width: 230px;
    padding-left: 5px;
}
.notificators-footer-messagee-subject, .notificators-footer-messagee-some-mes{
    font-size: 0.875em;
    line-height: 1.2em;
}
.notificators-footer-messagee-subject{
    margin-bottom: 5px;
}
.messagee-subject-icon{
    font-size: 1.5em;
    position: relative;
    top: 3px;
    padding-right: 4px;

    &.messagee-subject-icon.small-icon {
        font-size: 1.25em;
    }
}
.notificators-footer-add-photo {
    margin-top: 8px;

    &.notificators-footer-add-photo-one-photo{
        margin-top: 14px;
    }
}
.notificators-footer-add-photo-item {
    display: inline-block;
    vertical-align: top;
    width: 61px;
    height: 61px;
    margin-right: 3px;
    &.notificators-footer-add-photo-item--count {
        background: #0074d7;
        color: #042352;
        font-size: 24px;
        font-weight: 600;
        line-height: 61px;
        text-align: center;
    }
}
.crop-photo-item {
    width: 61px;
    height: 61px;
    overflow: hidden;
}
.crop-photo-item img {
    height: 100%;
}
.notificators-footer-content-close-icon{
    position: absolute;
    top: 12px;
    right: 5px;
    cursor: pointer;
    color: #ffffff;
    z-index: 2;

    &:hover{
        color: #d70000;
    }
}
.notificators-footer-content a{
    color: #ffffff;
    &:hover{
        color: #ffffff;
    }
}