if users
  each user in users
    .peoples_grid__field__item--big
      .peoples_grid__field__item_ava
        img(src='#{user.photos.url}')
        //.peoples_grid_photo_count
          //.peoples_grid_photo_count--item
          //  | #{user.photos.count}
          //.peoples_grid_photo_count-txt
          //  | Photos
        .peoples_grid_username
          span
            | #{user.login}
        .peoples_grid--hover-menu
          a.peoples_grid--hover-menu--link(href='#{userLink(user.id)}')
          .peoples_grid-hover-menu-wrap
            .peoples_grid-info
              .peoples_grid-info__year
                | #{user.login}, #{user.age}
              .peoples_grid-info__city
                | #{user.geo.city}, #{user.geo.country}
            .peoples_grid-nav-btn
              a.peoples_grid-nav-btn__item(href='javascript:void(0)', title='Wink')
                i.peoples_grid-nav-btn__item-icon.icon-Wink(data-winkbutton=user.id, class=(user.buttons.wink.activated) ? "activated" : "")
              a.peoples_grid-nav-btn__item(href='javascript:void(0)', onclick="talksCall('#{user.id}')", title='Start chat')
                i.peoples_grid-nav-btn__item-icon.icon-Chat_action
              a.peoples_grid-nav-btn__item(href='javascript:void(0)', title='Add To Favorites')
                i.peoples_grid-nav-btn__item-icon.icon-Favorite(data-favoritebutton=user.id, class=(user.buttons.favorite.activated) ? "activated": "")
else
  | Sorry, no matches were found according to your request