- var TYPE_ONLINE = 'online';
- var TYPE_NEW = 'new_members';
- var is_no_type = true,
-     is_TYPE_ONLINE = false,
-     is_TYPE_NEW = false;

- if (activeFiltersList.indexOf(TYPE_ONLINE) != -1) {
-   is_no_type = false;
-   is_TYPE_ONLINE = true;
- }

- if (activeFiltersList.indexOf(TYPE_NEW) != -1) {
-   is_no_type = false;
-   is_TYPE_NEW = true;
- }

button.to-top(style="display: none;") Top
.b-wrap-content.b-people
  .b-people-head.b-filter.b-filter--nearby-people
    .b-people-head-title.title People
    ul.b-filter-content.b-filter-content--nearby-people
      li.b-filter-content__item(class=is_no_type == true ? 'current' : null)
        a.b-filter-content__item-link(class=is_no_type == true ? 'item-link--current' : null)(href='#',data-search-type="")
          span.b-filter-content__item-txt
            | All people
        .b-filter-content__item--active-triangle
      li.b-filter-content__item(class=is_TYPE_ONLINE == true ? 'current' : null)
        a.b-filter-content__item-link(class=is_TYPE_ONLINE == true ? 'item-link--current' : null)(href='#',data-search-type="online")
          span.b-filter-content__item-txt
            | Online Now
        .b-filter-content__item--active-triangle
      li.b-filter-content__item(class=is_TYPE_NEW == true ? 'current' : null)
        a.b-filter-content__item-link(class=is_TYPE_NEW == true ? 'item-link--current' : null)(href='#',data-search-type="new_members")
          span.b-filter-content__item-txt
            | Have Updates
        .b-filter-content__item--active-triangle
  .b-profile-feed-middle-content
    .b-profile-peoples_grid
if showMore
  a(id="people-nearby-next-page",class="button-b-btn btn") Show more
else
  p There are no more profiles