.b-feed__content.b-feed__content--nearby.b-nearby-content
  .b-wrap-content
    .b-nearby-content__title
      .b-profile-feed-head__content-left.b-profile-feed-head__content-left--nearby
        span.b-nearby-content__some-title Search, Browse, Find, and Get in Contact
    .b-nearby-content__filter
      form.b-nearby-content__fiter-form
        .fiter-form__form-field.fiter-form__form-field-inline-b
          span.fiter-form__form-field-title Looking For
          .form-field__input
            input#c4.radiobox-item--hide(type='radio', name='looking-for', data-search-param=1)
            label.radiobox-item(for='c4')
              span.radiobox-item--show
              | Male
          .form-field__input
            .field-b__radiobox
              input#c5.radiobox-item--hide(type='radio', name='looking-for', data-search-param=2)
              label.radiobox-item(for='c5')
                span.radiobox-item--show
                | Female
        .fiter-form__form-field.fiter-form__form-field-inline-b.fiter-form__form-field-inline-b-forms
          span.fiter-form__form-field-title.fixPosition
            | Age
          .form-field__input
            .fiter-form__form-field-age-form
              .custom-select#searchAgeFrom
                i.icon-arrow-down.custom-select__pointer
                span.custom-select__selected-item
                  | 18
                select#SearchAgeFromSelect
                  - for(var i=18; i<=75; i++) {
                    option(value=i)
                      = i
                   - }
            span.fiter-form__form-field-age-form-deli
              | to
            .fiter-form__form-field-age-form
              .custom-select#searchAgeTo
                i.icon-arrow-down.custom-select__pointer
                span.custom-select__selected-item
                  | 25
                select#SearchAgeToSelect
                  - for(var i=18; i<=75; i++) {
                    option(value=i)
                      = i
                  - }
        .fiter-form__form-field.fiter-form__form-field-inline-b
          span.fiter-form__form-field-title Location
          .form-field__input.form-field__input--nearby-location
            .relative
              input#location.input-item.input-item--icon-right(type='text', name='location', value='')
              .b-notificators__popup--search.shadow
                .popup--search-overflow
                .b-notificators__popup-arrow--slide
              .form-field__input-icon.icon-Globus
        .fiter-form__form-field.fiter-form__form-field-inline-b.fiter-form__form-field-inline-b-distance
          span.fiter-form__form-field-title
            | Distance (mi)
          .form-field__input.form-field__input--radius
            #slider
          span#radiusMi.form-field__input--radius-count
    .b-profile-feed-footer
      a#goSearch.b-profile-feed-footer-button(href='#') Search
    // -------------------------------------------End Form-------------------------------------------------------
