.b-popup-overlay
  .b-popup-table
    .b-popup-cell
      .b-popup.b-popup-funnel
        .b-popup-content
          .header.long-header
            h1.title= _t("funnel", "title.give_more_info")
          form.content#FunnelForm
            if userAttributes
              section.about
                .title= _t("funnel", "title.about_you")
                .b-row.row-screenname
                  .field(data-ui-input)
                    .b-name= _t("funnel", "title.screenname")
                    .b-value
                      input.screenname(type="text", value=userAttributes.screenname, name="userAttributes[screenname]", id="funnelScreenname")
                      .b-text#screenname-error(data-ui-error-text)
                .b-row.row-screenname
                  .b-name= _t("funnel", "title.on_my_mind")
                  .b-value
                    textarea.about(data-resize="auto", name="userAttributes[chatupline]", id="funnelChatupline")
                      | #{userAttributes.chatUpLine}
              section.looking-for
                .title= _t("funnel", "title.looking_for")
                .b-row
                  .field.gender.select-output-dropdown(data-ui-select)
                    .b-name= _t("funnel", "title.gender")
                    .input-holder(data-toggle)
                      input(type="hidden", value=defaultSearchParams.gender, name="defaultSearchParams[gender]", data-control, id="funnelGender")
                      .value(data-value="")
                        = _t("funnel", "value.male")
                      .select
                        ul.list
                          li.item(data-item="1")= _t("funnel", "value.male")
                          li.item(data-item="2")= _t("funnel", "value.female")
                  .field.field-age-holder
                    .b-name= _t("funnel", "title.age")
                    .field.age-from.select-output-dropdown(data-ui-select, data-select-max="funnelFormAgeTo")
                      .input-holder(data-toggle)
                        input(type="hidden", value=defaultSearchParams.ageFrom, name="defaultSearchParams[ageFrom]", data-control, id="funnelFormAgeFrom")
                        .value(data-value="")
                          | {defaultSearchParams.ageFrom}
                        .select
                          ul.list
                            - for(var i = 18; i < 79; i++)
                              li.item(data-item=i)= i
                    .field.age-to.select-output-dropdown(data-ui-select, data-select-min="funnelFormAgeFrom")
                      .input-holder(data-toggle)
                        input(type="hidden", value=defaultSearchParams.ageTo, name="defaultSearchParams[ageTo]", data-control, id="funnelFormAgeTo")
                        .value(data-value="")
                          | {defaultSearchParams.ageTo}
                        .select
                          ul.list
                            - for(var i = 18; i < 79; i++)
                              li.item(data-item=i)= i
                  .field.location.select-output-dropdown(data-ui-location)
                    .b-name= _t("funnel", "title.location")
                    .input-holder(data-toggle)
                      .value
                        input.input-value(name="defaultSearchParams[locationInput]", type="text", value=defaultSearchParams.locationInput, autocomplete="off", data-control, id="funnelLocale")
                      .select.location(data-list)
                  .field.radius.select-output-dropdown(data-ui-select)
                    .b-name= _t("funnel", "title.radius")
                    .input-holder(data-toggle)
                      input(type="hidden", value=defaultSearchParams.distance, name="defaultSearchParams[distance]", data-control, id="funnelDistance")
                      .value(data-value="")
                        | {defaultSearchParams.distance}
                      .select
                        ul.list
                          li.item(data-item="20") 20
                          li.item(data-item="50") 50
                          li.item(data-item="100") 100
              section.save
                button.btn-save.btn-text-green#funnelSaveBtn= _t("funnel", "button.save")
