.srh-user {
  &.livecam {
    ._shadow(~"0px -3px 0px @{userList-highlighted_bg_ico_livecam} inset, 0px 3px 0px  @{userList-highlighted_bg_ico_livecam} inset, 3px 0px 0px @{userList-highlighted_bg_ico_livecam} inset, -3px 0px 0px @{userList-highlighted_bg_ico_livecam} inset");
    .details {
      .user-info {
        margin-left: 93px;
        .name {
          .name-wrap {
            &.mob {
              &:before {
                position: absolute;
                top: 2px;
              }
            }
          }
          .name-inner {
            ._text-overflow();
            margin: 0 30px 0 15px;
            display: block;
          }
        }
      }
    }
    .b-live-cam-chat {
      .b-live-cam-btn {
        display: block;
      }
    }
    .b-live-cam {
      margin: 7px 0px;
      &:before {
        content: "";
        width: 16px;
        height: 16px;
        display: inline-block;
        background: url('../images/webcam_icon.png') no-repeat center center;
        vertical-align: middle;
      }
    }
    .b-live-cam-sponsor {
      &:before {
        content: "";
        width: 16px;
        height: 16px;
        display: inline-block;
        background: url('../images/ico-livecam-sponsor.png') no-repeat center center;
        vertical-align: middle;
      }
    }
    .b-live-cam, .b-live-cam-sponsor {
      ._text-overflow();
      &:before {
        top: -2px;
        position: relative;
        font-size: 0.96em;
      }
    }
    .livecams-ico-top {
      position: absolute;
      top: 0;
      right: 0;
      .livecams-ico-block {
        background-color: @userList-highlighted_bg_ico_livecam;
        display: inline-block;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 0;
        right: 0;
        &:before {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          top: 0;
          left: -33px;
          border-top: 33px solid @userList-highlighted_bg_ico_livecam;
          border-left: 34px solid transparent;
        }
        &:after {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          bottom: -33px;
          right: 0px;
          border-top: 34px solid @userList-highlighted_bg_ico_livecam;
          border-left: 33px solid transparent;
        }
      }
      ._livecam-ico (@userList-highlighted_bg_ico_livecam, @t-main-color);
      .livecams-ico {
        margin: 0 10px 0 0;
        top: 3px;
      }
    }
    .livecam-ico-link {
      ._radius(5px);
      ._shadow(~"0 1px 1px @{userList-livecam-ico-button-text}");
      display: table;
      background-color: @userList-button_user_action;
      font-size: 1.1em;
      text-decoration: none;
      width: 100%;
    }
    .livecam-ico-button {
      ._gradient(lighten(@t-main-color, 10%), @t-main-color);
      ._radius(5px 0px 0px 5px);
      ._livecam-ico (@t-main-color, @userList-button_text);
      padding: 8px 0;
      text-align: center;
      display: table-cell;
      position: relative;
      width: 35px;
      .livecams-ico {
        top: -4px;
        margin: 0 11px 0 17px;
      }
    }
    .livecam-ico-button-text {
      ._radius(0px 5px 5px 0px);
      ._text-overflow();
      font-size: 0.9em;
      color: @userButton_text;
      text-align: center;
    }
    .pic {
      &.portrait img {
        display: block;
        height: 100%;
      }
    }
  }
}