@userList-highlighted_bg: spin(lighten(@t-main-color, 32%), 3);
@userList-highlighted_bg_ico_livecam: spin(lighten(@t-main-color, 27%), 3);
@userList-livecam-ico-button-text: #787878;
@userList-button_user_action: #dcdce0;
@userList-button_text: #fff;
@userButton_text: #2d2d2d;
._livecam-ico (@bg, @color) {
  .livecams-ico {
    display: inline-block;
    position: relative;
    margin: 0px 11px 0px 0px;
    top: -3px;
    &-inner {
      ._radius(50%);
      ._box-sizing;
      ._shadow(~"0 0 0 1px @{bg}");
      background-color: @bg;
      border: 2px solid @color;
      display: inline-block;
      height: 14px;
      left: 50%;
      margin: -9px 0 0 -10px;
      padding: 2px;
      position: absolute;
      text-align: center;
      top: 50%;
      width: 14px;
      z-index: 10;
    }
    &-handler {
      ._radius(50%);
      ._box-sizing;
      display: block;
      height: 100%;
      border: 1px solid @color;
      width: 100%;
    }
    &-lines {
      &:before {
        content: '';
        position: absolute;
        left: -2px;
        background-color: @bg;
        width: 3px;
        height: 1px;
        top: 0.31em;
      }
      &:after {
        content: '';
        position: absolute;
        right: -2px;
        background-color: @bg;
        width: 3px;
        height: 1px;
        top: 0.31em;
      }
    }
    &-arrow {
      ._radius(0 0 1px 1px);
      border-bottom: 7px solid @color;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      display: inline-block;
      height: 0;
      left: 50%;
      margin: 0px 0 0 -10px;
      position: absolute;
      top: 50%;
      z-index: 5;
      width: 0;
    }
  }
}