- var availableTypes = new Array('wink','view','mail');
- var notifyKey = ['notification', type];
- if (params && params.subType) notifyKey.push(params.subType);
- if (txtId) notifyKey.push(txtId);
- notifyKey.push(gender);
- var iconType = 'icon-Wink';
- if (type == 'wink') iconType = 'icon-Wink';
- if (type == 'view') iconType = 'icon-Browse';
- if (type == 'mail') iconType = 'icon-Inbox';

- if (availableTypes.indexOf(type) != -1) {
  .notificators-footer-content
      .notificators-footer-content-ava
        a(href='javascript:void(0)', onclick="talksCall('#{fromId}')", data-close)
          img(src=photo_url, alt=login, title=login)
      .notificators-footer-content-message
        .notificators-footer-content-message-nickname
          a(href='javascript:void(0)', onclick="talksCall('#{fromId}')", data-close)
            = login
        a(href='javascript:void(0)', onclick="talksCall('#{fromId}')", data-close)
          .notificators-footer-messagee-subject
            span.messagee-subject-icon.small-icon(class=iconType)
            = _t("activityNotification", notifyKey.join('.'))
      .notificators-footer-content-close-icon.icon-cross(data-close="")
- }