body{
  font-size: 16px;
}
/* Copy From site */
.b-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 700;
  overflow: auto;
  width: 100%;
  height: 100%;
}
video#bgvid {
  position: fixed;
  background-size: cover;
  right: 0;
  width: auto;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  bottom: 0;
  z-index: 2;
}
.b-popup-bg{
  background: rgba(0,0,0,0.35);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.b-popup-table {
  display: table;
  width: 100%;
  height: 100%;
}
.b-popup-cell {
  display: table-cell;
  vertical-align: middle;
}
.b-popup {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 8px 20px rgba(0,0,0,.4);
  box-shadow: 0 8px 20px rgba(0,0,0,.4);
  background: #fff;
  position: relative;
  z-index: 2;
}
/* [END] Copy From site */
.b-popup-margin{
  margin: 0 15px;
}
.main-pp-sprite{
  background: url('@{ageVerificationPage-img_url}/main-pp-sprite.png') no-repeat scroll 0 0 transparent;
}
.b-pp-page *, .succes-pp-page *{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.b-pp-page{
  max-width: 600px;
  margin: 0 auto;
  border-top: 0;
  width: 100%;
  border-top: 2px solid #ed5a5a;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=93);
  -moz-opacity: 0.93;
  -khtml-opacity: 0.93;
  opacity: 0.93;

}
.b-pp-page .b-pp-page-attention{
  font-size: 1.438em; /*23px*/
  text-transform: uppercase;
  color: #ffffff;
  background: #ed5a5a;
  padding: 9px 0 9px;
  border-bottom: 1px solid #ce5555;
  text-align: center;
  font-weight: bold;
}
.b-pp-page-age-verification{
  background: #f3f3f3;
  text-align: center;
  padding: 0 15px 15px;
}
.b-pp-page-age-verification-title {
  font-size: 1.438em; /*23px*/
  font-weight: bold;
  color: #4e4e4e;
  padding: 0.5em 0;
  text-transform: uppercase;
}
.b-pp-page-age-verification-content .b-pp-page-children{
  font-size: 1.125em; /*18px*/
  text-transform: uppercase;
  color: #262626;
  font-weight: normal;
}
.b-pp-page-age-verification-content .b-pp-page-age-verification-attention{
  color: #ed5a5a;
  font-size: 0.8em; /*12px*/
}

.b-pp-page-main-content{
  padding: 0 15px;
  border-top: 1px solid #e0e0e0;
}
.b-pp-page-header{
  overflow: hidden;
}
.b-pp-page-banner{
  width: 225px;
  background-position: -167px -19px;
  height: 50px;
  position: relative;
  display: inline-block;
}
.b-pp-page-banner .b-pp-page-banner-content{
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  text-align: center;
}
.b-pp-page-cards{
  float: right;
  margin-top: 15px;
  clear: right;
}
.b-pp-page-c-radio{
  display: inline-block;
  margin-left: 15px;
}
.b-pp-page-c-radio:first-child{
  margin-left: 0;
}
.b-pp-page-c-radio input {
  display:none;
}
.b-pp-page-c-radio input+ label span {
  display:inline-block;
  width:19px;
  height:19px;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  background:url('@{ageVerificationPage-img_url}/main-pp-sprite.png') no-repeat scroll -49px -83px transparent;
  cursor:pointer;
}
.b-pp-page-c-radio input:checked + label span {
  background-position: -14px -83px;
}
.b-pp-page-c-radio .b-pp-page-card-icon {
  width: 66px;
  height: 43px;
  background-position: -6px -18px;
  display: inline-block;
  vertical-align: middle;
}

.b-pp-page-c-radio .b-pp-page-card-icon.master{
  background-position: -87px -18px;
}
.b-pp-page-forms-wrap{
  margin-top: 15px;
}
.b-pp-page-forms-content{
  background: #f3f3f3;
  border: 1px solid #e3e3e3;
  padding: 0 25px 0 20px;
}
.b-pp-page-forms-item {
  padding: 11px 0px 6px 5px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #d6d6d6;
}
.b-pp-page-forms-item:first-child{
  border-top: 0;
}
.b-pp-page-forms-item:last-child{
  border-bottom: 0;
}
.b-pp-page-forms-item-label {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}
.b-pp-page-forms-input {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}
.b-pp-page-forms-input input{
  width: 100%;
  border: 1px solid #c0c0c0;
  padding: 5px 5px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
}
.b-pp-page-forms-input input:focus{
  outline: none;
  -webkit-appearence: none;
  box-shadow: none;
}
.b-pp-page-forms-item-label-txt{
  font-size: 1.125em;
  position: relative;
}
.b-pp-page-forms-item-label-txt span{
  color: #ed5a5a;
  position: absolute;
  left: -13px;
  font-size: 1.25em;
  top: 1px;
}
.b-pp-page-label-help{
  font-size: 0.6em;
}
.b-pp-page-forms-requiried-error {
  color: #ed5a5a;
  font-size: 0.7em;
  margin-top: 2px;
}
.b-pp-page-forms-custom-select{
  position: relative;
  background: #ffffff;
  border: 1px solid #c0c0c0;
  display: inline-block;
  width: 44%;
}
.b-pp-page-forms-custom-select.select-one{
  width: 100%;
}
.b-pp-page-forms-custom-select select{
  box-shadow: none;
  text-align: left;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 100%;
  position: relative;
  z-index: 2;
  height: 100%;
  margin: 0;
  padding: 0 0 4px;
}
.b-pp-page-forms-custom-select .current-value{
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 0.875em;
  z-index: 1;
}
.b-pp-page-forms-apper {
  margin: 0 4.8%;
  display: inline-block;
  vertical-align: middle;
}
.b-pp-page-forms-custom-select-arrow {
  position: absolute;
  top: 9px;
  right: 8px;
  width: 13px;
  height: 8px;
}
.b-pp-page-forms-custom-select-arrow:after{
  content: "";
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 5px solid #636363;
  position: absolute;
  top: 2px;
  left: 0;
}
.b-pp-page-forms-custom-select-arrow:before{
  content: "";
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 5px solid #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.footer-attention{
  width: 100%;
  text-align: right;
  color: #6c6c6c;
  font-size: 0.675em;
}
.footer-attention span{
  color: #ed5a5a;
  font-size: 2em;
  display: inline-block;
  vertical-align: middle;
  padding-top: 10px;
}
.send-form-btn{
  width: 100%;
  max-width: 390px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.875em;
  padding: 0.25em 1em;
  background: #0391e3;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAzOTFlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNzdhZDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #0391e3 0%, #077ad5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0391e3), color-stop(100%,#077ad5));
  background: -webkit-linear-gradient(top,  #0391e3 0%,#077ad5 100%);
  background: -o-linear-gradient(top,  #0391e3 0%,#077ad5 100%);
  background: -ms-linear-gradient(top,  #0391e3 0%,#077ad5 100%);
  background: linear-gradient(to bottom,  #0391e3 0%,#077ad5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0391e3', endColorstr='#077ad5',GradientType=0 );
  border: 1px solid #0074b7;
  margin: 0 auto;
  display: block;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.send-form-btn:hover{
  background: #38a7e2;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM4YTdlMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMzg3ZDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #38a7e2 0%, #2387d3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#38a7e2), color-stop(100%,#2387d3));
  background: -webkit-linear-gradient(top,  #38a7e2 0%,#2387d3 100%);
  background: -o-linear-gradient(top,  #38a7e2 0%,#2387d3 100%);
  background: -ms-linear-gradient(top,  #38a7e2 0%,#2387d3 100%);
  background: linear-gradient(to bottom,  #38a7e2 0%,#2387d3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38a7e2', endColorstr='#2387d3',GradientType=0 );
}
.b-pp-page-footer{
  text-align: center;
}
.b-pp-page-footer ul li{
  margin: 15px 2px;
}
.b-pp-page-footer ul li{
  display: inline-block;
  color: #198adc;
}
.b-pp-page-footer ul li a{
  color: #198adc;
  font-size: 0.875em;
  border-bottom: 1px solid #d6e5f7;
  text-decoration: none;
}
.b-pp-page-footer ul li a:hover{
  border-bottom: 0;
}
.b-pp-page-footer div{
  color: #646464;
  font-size: 0.875em;
  padding-bottom: 20px;
}
.b-popup.succes-pp-page {
  border-top: 0;
  width: 290px;
  margin: 0 auto;
}
.pp-succes-sprite{
  background: url('@{ageVerificationPage-img_url}/pp-succes-sprite.png') no-repeat scroll 0 0 transparent;
}
.succes-header-content {
  background: #63c8ac;
  border: 1px solid #53a890;
  padding: 13px;
  position: relative;
}
.succes-pp-page-error .succes-header-content{
  background: #f46c6f;
  border: 1px solid #ea4256;
}
.succes-header-content:before{
  content: "";
  position: absolute;
  left: 132px;
  bottom: -11px;
  z-index: 1;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #53a890;
}
.succes-pp-page-error .succes-header-content:before{
  border-top: 10px solid #ea4256;
}
.succes-header-content:after{
  content: "";
  position: absolute;
  left: 132px;
  bottom: -10px;
  z-index: 1;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #63c8ac;
}
.succes-pp-page-error .succes-header-content:after{
  border-top: 10px solid #f46c6f;
}
.succes-header-content .succes-info {
  display: inline-block;
  vertical-align: top;
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
  width: 179px;
  margin-top: 10px;
  margin-left: 5px;
  font-weight: bold;
  line-height: 27px;
}
.succes-header-content-icon{
  width: 74px;
  height: 74px;
  display: inline-block;
}
.succes-btn-block a {
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 260px;
  height: 51px;
  background: #67bfaa;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY3YmZhYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NWE0OGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #67bfaa 0%, #45a48d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67bfaa), color-stop(100%,#45a48d));
  background: -webkit-linear-gradient(top,  #67bfaa 0%,#45a48d 100%);
  background: -o-linear-gradient(top,  #67bfaa 0%,#45a48d 100%);
  background: -ms-linear-gradient(top,  #67bfaa 0%,#45a48d 100%);
  background: linear-gradient(to bottom,  #67bfaa 0%,#45a48d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67bfaa', endColorstr='#45a48d',GradientType=0 );
  border: 1px solid #649789;
  border-radius: 3px;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 51px;
  margin: 20px auto 0;
}
.succes-btn-block a:hover{
  background: #63c8ac;
}
.succes-pp-page-error .succes-btn-block a{
  background: #f46c6f;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0NmM2ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNDU1NTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #f46c6f 0%, #f45558 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f46c6f), color-stop(100%,#f45558));
  background: -webkit-linear-gradient(top,  #f46c6f 0%,#f45558 100%);
  background: -o-linear-gradient(top,  #f46c6f 0%,#f45558 100%);
  background: -ms-linear-gradient(top,  #f46c6f 0%,#f45558 100%);
  background: linear-gradient(to bottom,  #f46c6f 0%,#f45558 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f46c6f', endColorstr='#f45558',GradientType=0 );
  border: 1px solid #c66668;
}
.succes-pp-page-error .succes-btn-block a:hover{
  background: #f46c6f;
}
.succes-btn-block{
  padding-bottom: 20px;
}
.succes-pp-page-error .succes-header-content-icon.succes-error{
  background-position: -85px 0px;
}
.footer-banner{
    text-align: center;

    a{
      display: inline-block;
      width: 88px;
      height: 31px;
      .rta-ban{
        background: url('@{ageVerificationPage-img_url}/rta-log.gif') no-repeat scroll 0 0 transparent;
        display: block;
        width: 100%;
        height: 100%;
      }
    }
}
@media screen and (max-width:600px) {
  .b-pp-page{
    font-size: 15px;
  }
}
@media screen and (max-width:500px) {
  .b-pp-page-forms-input{
    width: 100%;
  }
  .b-pp-page-forms-item-label{
    width: 100%;
  }
  .b-pp-page-forms-wrap{
    font-size: 16px;
  }
  .send-form-btn{
    font-size: 1.5em;
  }
}
@media screen and (max-width:390px) {
  .b-pp-page .b-pp-page-attention{
    font-size: 1em;
  }
  .b-pp-page-age-verification{
    font-size: 12px;
  }
  .b-pp-page{
    font-size: 12px;
  }
}
