include head.jade

body
  header
    h1.logo= title
      sup= 'ß'
  h2.title-l2
    a.card-header(href='/')= 'Themes:'
    span.card-header.error(href='/cErrors')= 'Errors:'
  section.l-section-errors
    .time-holder
      time(datetime='#{currDate}' class='current-date error')= currDate
    each val, index in content
      .item
        .header
          span.card-header.theme= index
          span.card-header.component-path= content[index]['path']
        .error-info-holder
          pre
            code.error= content[index]['errorsInfo']
        hr