include head.jade

body
  header
    h1.logo= title
      sup= 'ß'
    h2= 'Theme: '
      i#backHome.icon.back-home
      span.select-text=  theme
    h2.title-l2
      span.card-header= 'Component: '
        span.select-text= component
    .current-date= 'Date: '
      time(datetime='#{date}')= date
  .l-grid.l-span2
    .metrics-holder
      .header-holder
        h2.title-l2.l-cell
          span.card-header= 'Metrics:'
        h2.title-l2.l-cell
          span.card-header= 'Offenders:'
    .l-cell
      section.l-section.metrics
        ul.metrics-list
          each v, i in metrics['metrics']
            - if(v > 0)
                li.item
                  strong= i + ': ' + v
            - else
                li.item= i + ': ' + v
        - var filesize = metrics['metrics']['length'] / 1024
        p.file-size
          strong= 'File size: ' + filesize.toFixed(3) + ' Kb'
    .l-cell
      section.l-section.offenders
        ul.metrics-list
          each v, i in metrics['offenders']
            - var offenders = v;
            li.item.js-offenders
              strong= i + ':'
              ul.offenders-list.is-hidden
                each val in offenders
                  li.item-offenders= val['message']
                  - if(typeof(val['position']) != 'undefined')
                      p.item-offenders-info= 'column: ' + val['position']['start']['column'] + '; line: ' + val['position']['start']['line'] + ';'
  .component-content-holder
    h2.title-l2
      span.card-header= 'Component styles:'
    section.l-section.component-content
      textarea#code(name="code")= componentContent
    include ../include/codemirror-init.js