include head.jade

body
  header
    h1.logo= title
      sup= 'ß'
  h2.title-l2
    span.card-header= message + ' Ooops... '
  section.l-section-errors
    h2.title-l2= error.status || 500
    pre
      code #{error.stack}