include head.jade

body
  header
    h1.logo= title
      sup= 'ß'
  h2.title-l2
    span.card-header= 'Themes:'
    a.card-header.error(href='/cErrors')= 'Errors:'
  section.l-section.themes
    ul.list
      each val, index in themes
        li.list-item
          a(href='#{index}' class='item js-path-to-component')= index