doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='/javascripts/jquery-2.1.4.min.js')
    script(type='text/javascript' src='/javascripts/main.js')
  body
    block content