include head.jade

body
  header
    h1.logo= title
      sup= 'ß'
    h2= 'Theme: '
      i#backHome.icon.back-home
      span.select-text= theme
    h2.title-l2
      span.card-header= 'Components:'
  section.l-section.components
    ul.list
      - var date = currDate
      each component in components
        li.list-item
          a(href='#{theme}/#{component}/#{date}' class='link')= component