.b-popup-funnel {
  .content {
    position: relative;
    padding: 18px 20px 20px;
    section {
      .title {
        color: @funnel-section_title;
        text-transform: capitalize;
        margin-bottom: 12px;
      }
    }
    &:after {
      width: 143px;
      height: 147px;
      content: '';
      display: block;
      background: @funnel-sprite_url no-repeat -234px -114px;
      position: absolute;
      top: 59px;
      right: 20px;
    }
  }
  .btn-upload { padding: 0 15px !important; }
  textarea.about {
    width: 100%;
    min-height: 5em;
    max-height: 15em;
    text-align: left;
    ._box-sizing;
    margin-bottom: 15px;
  }
  .about {
    .b-name {
      margin-bottom: 5px !important;
    }
  }
  .b-row {
    width: 100%;
    margin: 10px 0 0;
    ._clearfix();
    &:first-child {
      margin-top: 0;
    }
    .b-name {
      color: @funnel-text_light;
      margin: 0 10px 5px 0;
      display: block;
    }
    &.b-row-list {
      padding: 0 0 20px;
      .b-name {
        width: 100%;
        margin: 10px 0;
      }
      .b-value {
        width:100%;
      }
      .b-item {
        float: left;
        padding: 7px 8px 0 0;

        &:first-child {
          margin-left: 0;
        }
      }
      .btn-light {
        cursor:pointer;
        margin:0 10px 0 0;
        padding: 5px 10px;
        height: auto;
        font-size: 12px;
        line-height: 1.4em;
        border-radius: 14px;
        -moz-border-radius: 14px;
      }
    }
    .field {
      display: inline-block;
      vertical-align: top;
      &.gender {
        .value {
          width: 115px;
        }
      }
      &.location {
        margin: 0 15px;
        .value {
          height: 29px;
          padding-top: 2px;
          width: 215px;
        }
      }
      &.radius {
        .value {
          width: 66px;
        }
      }
    }
    .field-age-holder {
      display: inline-block;
      text-align: center;
      margin: 0 0 0 16px;
      vertical-align: middle;
      * {
        vertical-align: middle;
      }
      .b-name {
        text-align: left;
      }
      .age-from {
        display: inline-block;
        text-align: left;
        margin-bottom: 0;
        &:after {
          content: "-";
          display: inline-block;
          vertical-align: middle;
          margin: 0 5px;
        }
      }
      .age-to {
        display: inline-block;
        text-align: left;
        margin-bottom: 0;
      }
      .separator {
        font-size: 18px;
        vertical-align: top;
        margin-top: 2px;
        display: inline-block;
      }
    }
  }
  .b-value {
    width: 379px;
    position: relative;
  }
  .btn-save {
    width: 180px;
    font-size: 22px;
    line-height: 45px;
    &:before {
      display: none;
    }
  }
  #screenname-error {
    color: #FF5A40;
    font-size: 12px;
    line-height: 14px;
  }
}
.save {
  text-align: center;
  margin-top: 17px;
  padding-top: 17px;
  border-top: 1px solid #E2E2E2;
}

html[lang="fr"] .b-drag-drop .b-photo-choose { width: 200px; }