.b-heading= _t("profileLookingFor", "title.looking_for")
.b-data-wrap
  .data-single.gender
    .b-details-title= _t("profileLookingFor", "title.gender")
    .field.select-widget(data-ui-select)
      .input-holder(data-toggle)
        .value(data-value="")= _t("profileLookingFor", "value.female")
        .select-gender
          input(type="hidden", value=profile.lookingFor.gender, name="lookingForGender", data-control, id="lookingForGender")
          .b-dropdown-menu.drop-up
            ul.nav
              each gender, key in formParams.values.lookingFor.gender
                li(data-item=key)= gender
    .b-error(data-ui-error-text="1")
  .data-single.age
    .b-details-title= _t("profileLookingFor", "title.age")
    .field.select-widget.select-range
      .range-start.select-single#search-form-select-age-from(data-ui-select, data-select-max="lookingForAgeTo")
        .input-holder(data-toggle)
          .select-input.value(data-value)
          .select-age.age-from
            .b-dropdown-menu.drop-up.age_from
              input(type="hidden", value=profile.lookingFor.age.from, name="lookingForAge[from]", data-control, id="lookingForAgeFrom")
              ul.nav(data-items-list)
                - for(var i = formParams.values.lookingFor.age.min; i <= formParams.values.lookingFor.age.max; i++)
                  li(data-item=i)= i
        .b-error(data-ui-error-text="1")
      span.separator -
      .range-end.select-single#profile-age-to(data-ui-select, data-select-min="lookingForAgeFrom")
        .input-holder(data-toggle)
          .select-input.value(data-value)
          .select-age.age-to
            .b-dropdown-menu.drop-up.age_to
              input(type="hidden", value=profile.lookingFor.age.to, name="lookingForAge[to]", data-control, id="lookingForAgeTo")
              ul.nav(data-items-list)
                - for(var i = formParams.values.lookingFor.age.min; i <= formParams.values.lookingFor.age.max; i++)
                  li(data-item=i)= i
        .b-error(data-ui-error-text="1")
  .data-single.location
    .b-details-title= _t("profileLookingFor", "title.location")
    .field.select-widget(data-ui-location)
      .input-holder(data-toggle)
        .data-value(data-value)
          input(name="lookingForCountryCode", type="hidden", value=profile.lookingFor.country)
          input.input-value.select-input.value(name="lookingForLocation", type="text", value=profile.lookingFor.location, autocomplete="off", data-control)
        .b-dropdown-menu.drop-up
          .select-location.location(data-list)
      .b-error(data-ui-error-text="1")
  div.coreg-placement-on-profile-editor.checkbox-info(id="coregPlacementPersonalInfo")
  .b-buttons
    button.btn.small(data-btn-undo="1")= _t("profileLookingFor", "button.cancel")
    button.btn.orange.small(data-btn-save="1")= _t("profileLookingFor", "button.save")