@banner-def_font: 'Open Sans', Arial, helvetica, sans-serif;

@banner_bg: #f2f2f2;
@banner_text_def: #ff8400;
.b-profile-banner {
  clear: both;
  margin-left: -30px;
  padding-top: 50px;
}
.b-user-banner {
  margin: 0 17px;
}

/* Banners on search page */
.b-search-banner {
  display: inline-block;
  margin: 0 0 20px;
  width: 410px;
  height: 220px;
  img {
    display: block;
    margin: -10px;
    width: 430px;
    height: 240px;
  }
}
.usertop-banner-openx,
.userlisttop-banner-openx,
.accounttop-banner-openx{
  div {
    div {
      display: none;
      margin: 25px auto 0px;
      padding: 13px 10px 7px;
      max-width: 950px;
      text-align: center;
      text-decoration: none;
      ._radius(5px);
      background: @banner_bg;
    }
  }
}
.userlisttop-banner-openx{
  div {
    div {
      margin: -10px auto 20px;
    }
  }
}
.banner-zone-bottom {
  margin: 0 auto;
  width: 728px;
  height: 90px;
  display: none;
  &.active {
    display: block;
  }
  a {
    display: block;
    background-color: #ccc;
    height: 100%;
  }
  iframe {
    position: relative;
  }
}
@media (max-width: 794px) {
  .banner-zone-bottom {
    margin-left: -5px;
  }
}
.banner-zone-top {
  margin-top: -40px;
  margin-bottom: 8px;
}
.banner-zone-bottom {
  margin-top: 20px;
}
.banner-zone-right {
  display: none;
  position: absolute;
  right: 1%;
  margin-left: 20px;
  top: 0;
  width: 160px;
  height: 600px;
  a {
    display: block;
    background-color: #ccc;
    height: 100%;
  }
  @media (min-width: 1380px) {
     &.active {
      display: block;
    }
  }
  @media (min-width: 1450px) {
     &.active {
      right: 1.5%;
    }
  }
  @media (min-width: 1580px) {
     &.active {
      right: 4%;
    }
  }
  @media (min-width: 1720px) {
     &.active {
      right: 7%;
    }
  }
  iframe {
    position: relative;
  }
}
.usertop-banner-openx,
.userlisttop-banner-openx,
.userlistbottom-banner-openx,
.accounttop-banner-openx,
.accountbottom-banner-openx,
.accountleft-banner-openx,
.accountright-banner-openx{
  iframe {
    position: relative;
  }
}

.accountleft-banner-openx {
  margin-left: -190px;
  float: left;
  height: 0;
}

.accountright-banner-openx {
  margin-right: -190px;
  float: right;
  height: 0;
}
.userlistbottom-banner-openx,
.accountbottom-banner-openx {
  text-align: center;
}

.search-banner-openx {
  width: 390px;
  text-align: center;
  iframe {
    position: relative;
  }
}
#openx-banner-placement-search1,
#openx-banner-placement-search2,
#openx-banner-placement-search3 {
  margin: 0 10px 10px;
}
.banner-zone-center {
  text-align: center;
  margin-bottom: 15px;
  iframe {
    position: relative;
  }
}
#openx-banner-placement-profile {
  div {
    div {
      margin-top: 15px;
    }
  }
}
.banner-zone-top  {
  div {
    div {
      iframe {
        position: relative;
      }
      display: none;
      margin: -40px auto 0px;
      padding: 13px 10px 7px;
      max-width: 950px;
      color: @banner_text_def;
      text-align: center;
      text-decoration: none;
      ._radius(5px);
      background: @banner_bg;
    }
  }
}
#openx-banner-placement-user {
  margin-top: 20px;
}
.valid-email-is-show{
    .userlisttop-banner-openx{
      div {
        div {
          margin-top: -50px;
        }
      }
    }
    .usertop-banner-openx{
      div {
        div {
          margin-top: -15px;
        }
      }
    }
    .accounttop-banner-openx{
      div {
        div {
          margin-top: -15px;
        }
      }
    }
    .banner-zone-top{
      div {
        div {
          margin-top: 105px;
        }
      }
    }
}