/* parse-css core vars and mixins
  ========================================================================== */
/* parce-css colors palette
========================================================================== */
/* parce-css font sizes
========================================================================== */
/* parce-css font families
========================================================================== */
/* parse-css core reset
  ========================================================================== */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: Arial, Helvetica, sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
}
code {
  white-space: pre-wrap;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
ul,
ol {
  margin: 3px 0;
}
/* parse-css base styles
  ========================================================================== */
@font-face {
  font-family: "Segoe_UI_Regular";
  src: url("../fonts/segoe-ui-regular/segoeui0regular.eot");
  src: url("../fonts/segoe-ui-regular/segoeui0regular.eot?#iefix") format("embedded-opentype"), url("../fonts/segoe-ui-regular/segoeui0regular.woff") format("woff"), url("../fonts/segoe-ui-regular/segoeui0regular.ttf") format("truetype"), url("../fonts/segoe-ui-regular/segoeui0regular.svg#Segoe_UI_Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Segoe_UI_Semibold";
  src: url("../fonts/segoe-ui-semibold/seguisb.eot");
  src: url("../fonts/segoe-ui-semibold/seguisb.eot?#iefix") format("embedded-opentype"), url("../fonts/segoe-ui-semibold/seguisb.woff") format("woff"), url("../fonts/segoe-ui-semibold/seguisb.ttf") format("truetype"), url("../fonts/segoe-ui-semibold/seguisb.svg#Segoe_UI_Semibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
h1,
h2 {
  color: #297cbb;
  border-bottom: 1px solid #f5f5f5;
  font-family: "Segoe_UI_Semibold";
}
h3,
h4,
h5,
h6 {
  color: #3b444f;
}
h1 {
  font-weight: 400;
  font-size: 2.28571rem;
  line-height: 1.15em;
}
h2 {
  font-size: 1.42857rem;
  line-height: 1.5em;
  margin-bottom: 0;
}
body {
  color: #67747c;
}
header {
  clear: both;
  overflow: hidden;
}
a {
  color: #288ad6;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.select-text {
  background: #f4e565;
  padding: 0 3px;
  color: #2c3643;
}
.card-header {
  background: #f4fbfe;
  padding: 0 0 0 5px;
  margin: 0 40px 0 0;
  line-height: 1.5em;
  display: inline-block;
  vertical-align: bottom;
  color: #67747c;
  position: relative;
  text-decoration: none;
}
.card-header::after {
  position: absolute;
  top: 0;
  right: -37px;
  z-index: -1;
  content: "";
  width: 0;
  height: 0;
  border: none;
  border-right: 34px solid transparent;
  border-bottom: 1.5em solid #f4fbfe;
  border-left: 10px solid #f4fbfe;
}
.card-header.error {
  background: #fa5e5b;
  color: #ffffff;
}
.card-header.error::after {
  border-bottom-color: #fa5e5b;
  border-left-color: #fa5e5b;
}
.card-header.component-path,
.card-header.theme {
  background: #0fdebd;
}
.card-header.component-path::after,
.card-header.theme::after {
  border-bottom-color: #0fdebd;
  border-left-color: #0fdebd;
}
.card-header.component-path::before,
.card-header.theme::before {
  color: #ffffff;
  padding: 0 5px;
  margin: 0 3px 0 -5px;
  background: #2c3643;
  display: inline-block;
  vertical-align: bottom;
}
.card-header.theme::before {
  content: "theme:";
}
.card-header.component-path::before {
  content: "component:";
}
.current-date {
  background: #f4fbfe;
  border-bottom: 1px solid #f5f5f5;
  font: 600 1.1rem/1.5em "Courier New", Courier, monospace;
  padding: 0 0 0 5px;
  color: #67747c;
}
.current-date.error {
  padding: 5px 5px 2px;
  border: 2px solid #f5f5f5;
}
.metrics,
.offenders,
.components,
.themes,
.component-content {
  border: 2px solid #99a9b3;
  border-top: none;
}
.metrics,
.offenders,
.component-content {
  margin: 0 10px;
}
.offenders .item {
  cursor: pointer;
  list-style: none;
}
.offenders .item::before {
  content: "\25bc";
  display: inline-block;
  vertical-align: bottom;
}
.offenders .item.active::before {
  content: "\25b2";
}
.offenders-list {
  cursor: default;
}
.item-offenders-info {
  display: inline-block;
  vertical-align: baseline;
  border-bottom: 2px dashed #fa5e5b;
}
.logo {
  text-align: center;
}
.time-holder {
  text-align: center;
  position: relative;
  z-index: 2;
  margin: 10px 0;
}
.time-holder::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #f5f5f5;
  z-index: -1;
}
.error-info-holder .error {
  display: block;
  padding: 5px;
  background: #dbe6ec;
  color: #bf538d;
}
.list-item {
  padding: 3px;
  border-bottom: 1px solid #f5f5f5;
}
.list-item:hover {
  background: #dbe6ec;
}
sup {
  color: #fa5e5b;
}
.l-grid {
  position: relative;
  clear: both;
  overflow: hidden;
}
.l-span1,
.l-span2,
.l-span3 {
  position: relative;
}
.l-span1 .l-cell {
  width: 100%;
}
.l-span2 .l-cell {
  width: 50%;
  float: left;
}
.l-span3 .l-cell {
  width: 33.333333333333336%;
  float: left;
}
.l-section {
  min-height: 700px;
  max-height: 700px;
  overflow: hidden;
  overflow-y: scroll;
}
.l-section.component-content {
  overflow: visible;
}
.l-section .CodeMirror {
  height: 700px;
}
.l-section-errors {
  padding: 10px 15px;
}
pre {
  margin-top: 0;
}
.list {
  list-style: none;
  padding: 0;
}
.is-hidden {
  height: 0;
  width: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}
.is-active {
  height: auto;
  width: auto;
  visibility: visible;
  opacity: 1;
  overflow: auto;
}
