div(data-block="profile-edit")

.description_block_all
  .description_block_all-row
    .description_block_all-row__field
      .description_block_all-row__field__item
        .b-wrap-content.b-feed-content__profile-feed(data-block="general")

    .description_block_all-row--separator
    .description_block_all-row__field
      .description_block_all-row__field__item
        .b-wrap-content.b-feed-content__profile-feed(data-block="appearance")

.description_block_all-row
  .description_block_all-row__field
    .description_block_all-row__field__item
      .b-wrap-content.b-feed-content__profile-feed(data-block="background")

  .description_block_all-row--separator
  .description_block_all-row__field
    .description_block_all-row__field__item
      .b-wrap-content.b-feed-content__profile-feed(data-block="lookingfor")
