.b-popup
  button.btn-close.grey.btn-text-def(title=_t("profilePhotoList", "button.close"), href="#", id="popupClose")
  if errorText
    p!= errorText
  else
    p= _t("profilePhotoList", "text.upload_error")
  button.btn.btn-text-green(id="popupContinue")= _t("profilePhotoList", "button.continue")
