- for(var i in photos)
  .middle-content__foto-grid__item
    .middle-content__foto-grid__item__foto(data-src='#{photos[i].src}', data-image='1')
      img.foto-grid__item__foto__img(src=photos[i].model.avatar, data-id='#{photos[i].model.id}')
      .foto-grid__item__foto-edit
        span.foto-grid__item__foto__edit.icon-Edit(data-edit=photos[i].model.id)
      .foto-grid__item__foto-remove
        span.foto-grid__item__foto-remove-icon.icon-cross(data-remove=photos[i].model.id)
    .middle-content__foto-grid__item__coments