ul.rightside__grid.rightside__grid--voronka(data-index=index)
  - for(var i in photos)
      li.rightside__grid-item--voronka
        .rightside__grid-item-link
          img.rightside__grid-item-link-img(src=photos[i].model.avatar)
          if (primary && primary.id === photos[i].model.id)
            .voronka_rightside__grid-item--photo-primary.rightside__grid-item--photo-counter--landing.primary
              div.voronka_rightside__grid-item--photo-primary-icon(data-primary=photos[i].model.id, title=_t("profilePhotoList", "button.primary"))
          else
            .voronka_rightside__grid-item--photo-primary.rightside__grid-item--photo-counter--landing
              div.voronka_rightside__grid-item--photo-primary-icon(data-primary=photos[i].model.id, title=_t("profilePhotoList", "button.primary"))
          .voronka_rightside__grid-item--photo-remove.rightside__grid-item--photo-counter--landing
            span.voronka_rightside__grid-item--photo-remove-icon.icon-cross(data-remove=photos[i].model.id)
        .rightside__grid-item-profile-b-info