// add custom fonts
._font-face(@font-segoe_ui_regular, "../fonts/segoe-ui-regular/segoeui0regular");
._font-face(@font-segoe_ui_sb, "../fonts/segoe-ui-semibold/seguisb");

// titles
h1,
h2 {
  color: @lpblue;
  border-bottom: 1px solid @body-background;
  font-family: @font-segoe_ui_sb;
}

h3,
h4,
h5,
h6 {
  color: @titlegray;
}

h1 {
  font-weight: 400;
  font-size: @font-h1-font_size;
  line-height: @font-h1-line_height;
}

h2 {
  font-size: @font-h2-font_size;
  line-height: @font-h2-line_height;
  margin-bottom: 0;
}

// body
body {
  color: @bodygray;
}

//header
header {
  clear: both;
  overflow: hidden;
}

a {
  color: @linkblue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.select-text {
  background: @yella-highlight;
  padding: 0 3px;
  color: @darkgray;
}

.card-header {
  background: @card-figure-bg;
  padding: 0 0 0 5px;
  margin: 0 40px 0 0;
  line-height: 1.5em;
  display: inline-block;
  vertical-align: bottom;
  color: @bodygray;
  position: relative;
  text-decoration: none;
  &::after {
    position: absolute;
    top: 0;
    right: -37px;
    z-index: -1;
    content: "";
    width: 0;
    height: 0;
    border: none;
    border-right: 34px solid @transparent;
    border-bottom: @font-h2-line_height solid @card-figure-bg;
    border-left: 10px solid @card-figure-bg;
  }
  &.error {
    background: @red;
    color: @white;
    &::after {
      border-bottom-color: @red;
      border-left-color: @red;
    }
  }
  &.component-path,
  &.theme {
    background: @teal;
    &::after {
      border-bottom-color: @teal;
      border-left-color: @teal;
    }
    &::before {
      color: @white;
      padding: 0 5px;
      margin: 0 3px 0 -5px;
      background: @darkgray;
      display: inline-block;
      vertical-align: bottom;
    }
  }
  &.theme {
    &::before {
      content: "theme:";
    }
  }
  &.component-path {
    &::before {
      content: "component:";
    }
  }
}

.current-date {
  background: @card-figure-bg;
  border-bottom: 1px solid @body-background;
  font: 600 @font-time-font_size/@font-time-line_height @font-monospace;
  padding: 0 0 0 5px;
  color: @bodygray;
  &.error {
    padding: 5px 5px 2px;
    border: 2px solid @body-background;
  }
}

.metrics,
.offenders,
.components,
.themes,
.component-content {
  border: 2px solid @lightgray;
  border-top: none;
}

.metrics,
.offenders,
.component-content {
  margin: 0 10px;
}

.offenders {
  .item {
    cursor: pointer;
    list-style: none;
    &::before {
      content: "\25bc";
      display: inline-block;
      vertical-align: bottom;
    }
    &.active {
      &::before {
        content: "\25b2";
      }
    }
  }
}

.offenders-list {
  cursor: default;
}

.item-offenders-info {
  display: inline-block;
  vertical-align: baseline;
  border-bottom: 2px dashed @red;
}

.logo {
  text-align: center;
}

.time-holder {
  text-align: center;
  position: relative;
  z-index: 2;
  margin: 10px 0;
  &::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: @body-background;
    z-index: -1;
  }
}

.error-info-holder {
  .error {
    display: block;
    padding: 5px;
    background: @subduedgray;
    color: @plum;
  }
}

.list-item {
  padding: 3px;
  border-bottom: 1px solid @body-background;
  &:hover {
    background: @subduedgray;
  }
}

sup {
  color: @red;
}