::-webkit-scrollbar {background:#DEDEDE; width:7px;}
::scrollbar {background:#DEDEDE; width:7px;}
::-ms-scrollbar {background:#DEDEDE; width:7px;}
::-o-scrollbar {background:#DEDEDE; width:7px;}
::-webkit-scrollbar-button {}
::-webkit-scrollbar-track {}
::-webkit-scrollbar-track-piece {}
::-webkit-scrollbar-thumb {
  background:#7A7A7A;
  width:7px;
}
::-o-scrollbar-thumb {
  background:#7A7A7A;
  width:7px;
}
::-ms-scrollbar-thumb {
  background:#7A7A7A;
  width:7px;
}

html{
  min-height: 100%
}
body{
  background: #f1f3f8;
  font-size: 16px;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  font-weight: 500;
  position: relative;
}
a{
  color: @main-link-color;
  text-decoration: underline;

  &:hover{
    text-decoration: none;
  }
}

.logo-image {
  background: url('../images/logo.png') no-repeat;
  display: block;
  height: 39px;
}

.shadow{
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.border-radius{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.title{
  font-size: 1.125em;
  font-weight: 600;
  padding: 15px 0;
}
header{
  background: #ffffff;
  padding: 6px 0 7px;
  .shadow;
}

.all-wrap{
  width: 100%;
  position: relative;
}
.wrap-content{
  width: 920px;
  margin: 0 auto;
  padding: 0 10px;
}
.wrap-content.all-content{
  padding: 0 10px 50px;
}
.main-content{
  background: #ffffff;
  color: #333333;
  margin-top: 20px;
  .border-radius;
  .shadow;
}
.page-title{
  font-size: 1.375em;
  font-weight: 600;
  padding: 22px 18px 27px;
}
.content{
  padding: 0 50px 50px 33px;
}
.content p{
  font-size: 0.75em;
  padding-bottom: 20px;
  line-height: 1.25em;
}
.content p.no-padding{
  padding-bottom: 0px;
}
.mark-list{
  list-style: circle outside;
  font-size: 0.75em;
  margin-left: 20px;
}

.membership{
  line-height: 2em;
  padding: 10px 0 20px;
}
.short-form{
  line-height: 1.25em;
}
.short-form li{
  padding-bottom: 10px;
}
.btn-close {
  display: block;
  font-size: 0.875em;
  color: #fff !important;
  text-align: center;
  text-decoration: none;
  width: 130px;
  margin: 0 auto;
  background: #207be0;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 25px;
}