@main-link-color: #207be0;
@main-link-hover: #d70000;
@main-btn-color: @main-link-color;
@main-btn-color-hover: #2a83ce;
@notificator-hover: @main-btn-color-hover;
@main-icon-color: #025eee;
@main-icon-color-hover: #a1bbe4;