.b-feed__content.b-feed-content.b-upload-content
  .b-wrap-content.b-feed-content__profile-feed(data-ui-input)
    .b-profile-feed-head
      .b-profile-feed-head__content-left.b-profile-feed-head__content-left--1em.head_table__div_table-cell= _t("profileEditor", "title.what_mind") + ':'
    .b-profile-feed-middle-content.upload_block
        .search-box-b__content
          input.search-box-b__item.search-box-b__item--change_height.grey.border-radius.input-text-attr(type="text" value='#{profile.chat_up_line}' name="chat_up_line" data-control="1")
    .b-profile-feed-footer.search-box-b--footer
      .b-profile-feed-footer__add.b-profile-feed-footer__add--status
        .action-status-b.inactive
          a.b-profile-feed-footer__action-btn-status(data-reset-btn="chat_up_line")= _t("profileEditor", "button.cancel")
          a.b-profile-feed-footer__action-btn-status.save(data-save-btn="chat_up_line")= _t("profileEditor", "button.save")

.b-feed__content.b-feed-content.b-upload-content
  .b-wrap-content.b-feed-content__profile-feed(data-ui-input)
    .b-profile-feed-head
      .b-profile-feed-head__content-left.b-profile-feed-head__content-left--1em.head_table__div_table-cell= _t("profileEditor", "title.in_my_words") + ':'
    .b-profile-feed-middle-content.upload_block
        .search-box-b__content
          input.search-box-b__item.search-box-b__item--change_height.grey.border-radius.input-text-attr(type="text" value='#{profile.description}' name="description" data-control="1")
    .b-profile-feed-footer.search-box-b--footer
      .b-profile-feed-footer__add.b-profile-feed-footer__add--status
        .action-status-b.inactive
          a.b-profile-feed-footer__action-btn-status(data-reset-btn="description")= _t("profileEditor", "button.cancel")
          a.b-profile-feed-footer__action-btn-status.save(data-save-btn="description")= _t("profileEditor", "button.save")
