//@import 'import/reset';
//@import 'fonts/stylesheet.css';
//@import 'fonts/icons/icons-style.css';


::-webkit-scrollbar {background:#DEDEDE; width:7px;}
::scrollbar {background:#DEDEDE; width:7px;}
::-ms-scrollbar {background:#DEDEDE; width:7px;}
::-o-scrollbar {background:#DEDEDE; width:7px;}
::-webkit-scrollbar-button {}
::-webkit-scrollbar-track {}
::-webkit-scrollbar-track-piece {}
::-webkit-scrollbar-thumb {
  background:#7A7A7A;
  width:7px;
}
::-o-scrollbar-thumb {
  background:#7A7A7A;
  width:7px;
}
::-ms-scrollbar-thumb {
  background:#7A7A7A;
  width:7px;
}

html{
  min-height: 100%
}
body{
  background: #f1f3f8;
  font-size: 16px;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  font-weight: 500;
  position: relative;
}
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a{
  color: @main-link-color;
  text-decoration: underline;

  &:hover{
    text-decoration: none;
  }
}
.shadow{
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.border-radius{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.overlay-bg{
  background: rgba(85, 161, 246, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-box-shadow: inset 0px -5px 4px -4px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px -5px 4px -4px rgba(0,0,0,0.3);
  box-shadow: inset 0px -5px 4px -4px rgba(0,0,0,0.3);
}
header{
  background: url('../images/about-head-bg.jpg') scroll center top;
  background-size: cover;
  height: 190px;
  position: relative;
}
.slogan{
  font-size: 3.125em;
  color: #ffffff;
  width: 800px;
  margin: 0 auto;
  padding-top: 80px;
  z-index: 2;
  position: relative;
  font-weight: 400;
  text-align: center;
  text-shadow: 0px 1px 1px #000000;
}
.wrap-content{
  width: 800px;
  padding: 32px 25px;
  margin: 0 auto;
}
.content{
  background: #ffffff;
  .border-radius;
  color: #0a1b36;
  padding-top: 5px;
  .shadow;
}
.txt-wrap{
  padding: 20px 25px;
  font-size: 0.813em;
  border-bottom: 1px solid #f1f3f8;
}
.txt-wrap p{
  padding-bottom: 20px;
  line-height: 1.3em;
}
.txt-wrap .title{
  font-weight: 600;
  font-size: 1.2em;
  color: #040e20;
}
.txt-wrap .title-label{
  font-size: 1.2em;
  padding: 0 0 23px 35px;
  position: relative;

  span{
    color: #207be0;
  }
}
.title.alone{
  padding-bottom: 20px;
}
.txt-wrap .icon {
  position: absolute;
  left: -4px;
  top: -8px;
  font-size: 2em;
}
footer{
  background: #0074d7;
  font-size: 1.875em;
  text-align: center;
  color: #f4f7fc;
  height: 91px;
  line-height: 91px;
  font-weight: 400;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.under-footer {
  font-size: 0.813em;
  border-bottom: 1px solid #f1f3f8;
  width: 800px;
  padding: 0px 24px;
  margin: 0 auto 10px;
  text-align: center;
  line-height: 1.3em;
}