- var months = {
-   1: _t("profile", "text.january"),
-   2: _t("profile", "text.february"),
-   3: _t("profile", "text.march"),
-   4: _t("profile", "text.april"),
-   5: _t("profile", "text.may"),
-   6: _t("profile", "text.june"),
-   7: _t("profile", "text.july"),
-   8: _t("profile", "text.august"),
-   9: _t("profile", "text.september"),
-   10: _t("profile", "text.october"),
-   11: _t("profile", "text.november"),
-   12: _t("profile", "text.december")
- };

- var selected = function(current, i) {
-   current = parseInt(current, 10)
-   return (current == i);
- }

mixin select(dataName, data, start, end, month)
  .field-select(data-select)
    .field-select-value(data-select-value)
    .field-select-control
      select(data-name=dataName)
        - for(var i= start; i <= end; i++)
          - if(selected(data, i))
            option(value=i, selected="selected") #{month ? months[i] : i}
          - else
            option(value=i) #{month ? months[i] : i}

mixin selectInline(dataName, data, start, end)
  .field-select.field-select-inline(data-select, id=dataName)
    .field-select-value(data-select-value)
    .field-select-control
      select(data-name=dataName)
        - for(var i= start; i <= end; i++)
          - if(selected(data, i))
            option(value=i, selected="selected") #{i}
          - else
            option(value=i) #{i}

mixin selectParams(dataName, options, current)
  - options = options ? options : model.userAttributesDictionaries.fields[dataName];
  - current = current ? current : model.profile[dataName];
  .field-select(data-select)
    .field-select-value(data-select-value)
    .field-select-control
      select(data-name=dataName)
        each value, key in options
          - if(selected(current, key))
            option(value=key, selected="selected") #{value}
          - else
            option(value=key) #{value}
#openx-banner-placement-profiletop.profiletop-banner-openx
.my-profile#Profile
  .mpr-header.cf
    .usv-info
      #profilePhoto
      #goToProfilePhotos.details
        .user-info
          .status.online
          .photos#photos_button
            = _t("profile", "text.photos")
            span.photo-count #{model.myPhotos.photoCount}
          .name
            span.name-wrap
              span.name-inner
                a(href='#') #{user.login}
    section.mpr-section.cf
      #profileDate.fbx-panel.fbx-panel-collapse(data-accordion)
        .label.label-age(data-accordion-label)
          span= _t("profile", "text.years", {'{n}': model.profile.age})
        .field
          .fbx-item.fbx-table
            table
              tbody
                tr
                  td
                    label= _t("profile", "text.select-month") + ":"
                  td
                    +select('birthdayDate.month', model.profile.birthdayDate.month, 1, 12, true)
                tr
                  td
                    label= _t("profile", "text.select-day") + ":"
                  td
                    +select('birthdayDate.day', model.profile.birthdayDate.day, 1, 31, false)
                tr
                  td
                    label= _t("profile", "text.select-year") + ":"
                  td
                    +select('birthdayDate.year', model.profile.birthdayDate.year, 1935, 1996, false)

      #profileLocated.fbx-panel.fbx-panel-collapse(data-accordion)
        .label.label-away(data-accordion-label)
          span #{model.profile.location}
        .field
          .fbx-item.fbx-table
            table
              tbody
                tr
                  td
                    label= _t("profile", "text.select-located") + ":"
                  td
                    .fbx-panel-testarea
                      .fbx-table-field
                        .field-text
                          .field.location(data-ui-location)
                            .input-holder(data-toggle)
                              .value(data-value)
                                input.input-value(data-name="location", type="text", value=model.profile.location, data-select-location="no")
                              .select.location(data-list)
                            .b-error(data-ui-error-text="1")

      #profileMyMind.fbx-panel.fbx-panel-collapse(data-accordion)
        .label.text-area(data-accordion-label)= _t("profile", "text.what-on-my-mind")
        .field
          .fbx-panel-testarea
            textarea.text-input(data-name='chat_up_line')
              | #{model.profile.chat_up_line}

      #profileMyWords.fbx-panel.fbx-panel-collapse(data-accordion)
        .label.text-area(data-accordion-label)= _t("profile", "text.in-my-own-words")
        .field
          .fbx-panel-testarea
            textarea.text-input(data-name='description')
              | #{model.profile.description}

      #profileAboutMe.fbx-panel.fbx-panel-collapse(data-accordion)
        .label(data-accordion-label)= _t("profile", "text.about-me")
        .field
          .fbx-item.fbx-table
            table
              tbody
                tr
                  td
                    label= _t("profile", "text.select-orientation") + ":"
                  td
                    .fbx-table-field
                      +selectParams('sexual_orientation')
                tr
                  td
                    label= _t("profile", "text.select-marital-status") + ":"
                  td
                    .fbx-table-field
                      +selectParams('marital_status')
                tr
                  td
                    label= _t("profile", "text.select-children") + ":"
                  td
                    .fbx-table-field
                      +selectParams('children')
                tr
                  td
                    label= _t("profile", "text.select-living") + ":"
                  td
                    .fbx-table-field
                      +selectParams('living')
                tr
                  td
                    label= _t("profile", "text.select-race") + ":"
                  td
                    .fbx-table-field
                      +selectParams('race')
                tr
                  td
                    label= _t("profile", "text.select-religion") + ":"
                  td
                    .fbx-table-field
                      +selectParams('religion')

      #profileParameters.fbx-panel.fbx-panel-collapse(data-accordion)
        .label(data-accordion-label)= _t("profile", "text.physical-parameters")
        .field
          .fbx-item.fbx-table
            table
              tbody
                tr
                  td
                    label= _t("profile", "text.physical-parameters") + ":"
                  td
                    .fbx-table-field
                      +selectParams('build')
                tr
                  td
                    label= _t("profile", "text.select-height") + ":"
                  td
                    .fbx-table-field
                      +selectParams('height')
                tr
                  td
                    label= _t("profile", "text.select-weight") + ":"
                  td
                    .fbx-table-field
                      +selectParams('weight')
                tr
                  td
                    label= _t("profile", "text.select-hair-color") + ":"
                  td
                    .fbx-table-field
                      +selectParams('hair_color')
                tr
                  td
                    label= _t("profile", "text.select-eyes-color") + ":"
                  td
                    .fbx-table-field
                      +selectParams('eye_color')

      #profileLifeStyle.fbx-panel.fbx-panel-collapse(data-accordion)
        .label(data-accordion-label)= _t("profile", "text.life-style")
        .field
          .fbx-item.fbx-table
            table
              tbody
                tr
                  td
                    label= _t("profile", "text.select-tattoo") + ":"
                  td
                    .fbx-table-field
                      +selectParams('tattoo')
                tr
                  td
                    label= _t("profile", "text.select-piercing") + ":"
                  td
                    .fbx-table-field
                      +selectParams('pierced')
                tr
                  td
                    label= _t("profile", "title.income") + ":"
                  td
                    .fbx-table-field
                      +selectParams('income')
                tr
                  td
                    label= _t("profile", "text.select-smoke") + ":"
                  td
                    .fbx-table-field
                      +selectParams('smoke')
                tr
                  td
                    label= _t("profile", "text.select-drink") + ":"
                  td
                    .fbx-table-field
                      +selectParams('drink')

      #profileLookingFor.fbx-panel.fbx-panel-collapse(data-accordion)
        .label(data-accordion-label)= _t("profile", "text.looking-for")
        .field
          .fbx-item.fbx-table
            table
              tbody
                tr
                  td
                    label= _t("profile", "title.gender") + ":"
                  td
                    .fbx-table-field
                      +selectParams('lookingForGender', model.userAttributesDictionaries.fields.gender, model.profile.lookingFor.gender)
                tr
                  td
                    label= _t("profile", "title.age") + ":"
                  td
                    .fbx-table-field
                      +selectInline('lookingForAge[from]', model.profile.lookingFor.age.from, 18, 78)
                      .field-select-separator to
                      +selectInline('lookingForAge[to]', model.profile.lookingFor.age.to, 18, 78)
                tr
                  td
                    label= _t("profile", "title.city") + ":"
                  td
                    .fbx-table-field
                      .field-text
                        input(data-name="lookingForLocation", type='text', value=model.profile.lookingFor.location, data-select-location="no")
                tr
                  td
                    label= _t("profile", "title.search_radius") + ":"
                  td
                    .fbx-table-field
                      +selectParams('lookingForDistance', model.userAttributesDictionaries.fields.distances, model.profile.lookingFor.distance)
      .fbx-list-padding.border-top(data-checkbox)
        .fbx-item.fbx-field-check.coreg-placement-on-advanced-activity#coreg-placement-advanced-activity
      .fbx-item.fbx-field-submit
        button#profileSave.button= _t("profile", "text.save")

#profilePhotoList(style='display: none;')
