.content-settings
  .switcher
    .switcher-cell(data-nav-item="messenger")
      a.item(href="/#messenger")= _t("userList", "title.messenger")
        span.action-counter.active(data-counter="mail")
    .switcher-cell(data-nav-item="views")
      a.item(href="/#views")= _t("userList", "title.views")
        span.action-counter.active(data-counter="view")
    .switcher-cell(data-nav-item="winks")
      a.item(href="/#winks")= _t("userList", "title.winks")
        span.action-counter.active(data-counter="wink")
    .switcher-cell(data-nav-item="newsFeed")
      a.item(href="/#newsFeed")= _t("userList", "title.newsFeed")
        span.action-counter.active(data-counter="newsFeed")