.content-settings
  .switcher(id="userListSort")
    .switcher-cell
      a.item(data-item="near_you")= _t("userList", "title.all_members")
    .switcher-cell
      a.item(data-item="online")= _t("userList", "title.online_now")
    .switcher-cell
      a.item(data-item="new_members")= _t("userList", "title.new_members")