if type === "search"
      .w-search-form
        .r-frame
          .b-search-form.b-fixed#searchFormContainer
.b-grid-content(class=(type !== "search")?"activity-search":"")
  ul.rows-holder
    li.row.grid-row
      .l-frame
        .b-search
          .b-search-results
            .userlisttop-banner-openx#openx-banner-placement-userlisttop
            ul.b-search-grid#userListContainer
              li.b-grid-item#userListFlirtcast(style="display: none;")
            .userlistbottom-banner-openx#openx-banner-placement-userlistbottom
        footer#userListFooter
