li.b-grid-item.related-search
    .rel-search
        .b-search-noresult
            .b-search-noresult__message
                div
                    if (type == "winks")
                        = _t("userList", "text.no_winks")
                    else if (type == "views")
                        = _t("userList", "text.no_views")
                    else if (type == "favorites")
                        != _t("userList", "text.no_favorites", {"{a}": "<a href=\"/#search\">", "{/a}" : "</a>"})
                    else if (type == "newsFeed")
                        = _t("userList", "text.newsFeed_header")
                    else if (type == "smsChatFeed")
                        = _t("userList", "text.smsChatFeed_header")
                    else if (type == "blocked")
                        = _t("blocked", "text.no_users")
                    else
                        = _t("userList", "text.no_matches")
                if (type)
                    button#userBackToSearchButton.userBackToSearchButton.b-search-noresult__button.btn-text-green= _t("userList", "text.back-to-search")