mixin link(linkData, type)
  if linkData && linkData.link
    li.item
      a.link(href="javascript:void(0)", onclick="return !window.open('"+linkData.link+"','"+type+"','toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=750,height=600');")= _t("userList", "text.footer_link_"+type)
.link-holder
  ul.link-list
    +link(requirements, "requirementsComplianceStatement")
    +link(termsAndConditions, "terms")
    +link(privacyPolicy, "privacypolicy")

