.common_pop_up {
  width: 100%;
  position: absolute;
  z-index: 1002;
  top: 60px;
  left: 0;
  padding: 0 1em;
  .pop_up__close {
    right: 10px;
    .icon-cross {
      color: #787f8e;
      font-size: 1.4em;
      line-height: 30px;
    }
  }
  .centered-wrap {
    text-align: center;
  }
  .btn {
    font-size: 1.3em
  }
}

.common_pop_up__container {
  margin: 0 auto;
  width: 100%;
  max-width: 880px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #ffffff;
  padding: 10px 30px 30px;
}

.common_pop_up__header {
  padding: 16px 50px 1em;
}

.common_pop_up__title {
  text-align: center;
  font-size: 1.125em;
  color: #333;
  font-weight: bold;
}

.common_pop_up__content {
  font-size: 0.75em;
  line-height: 1.3em;
  color: #333;
  p {
    margin-bottom: 1em;
  }
}

.pop_up__close {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #ecf0f8;
  cursor: pointer;
  height: 30px;
  width: 40px;
  position: absolute;
  right: 5px;
  top: 10px;
  text-align: center;
  .icon-cross {
    color: #787f8e;
    font-size: 1.4em;
    line-height: 30px;
  }
}