.b-user-nav {
  position: relative;
  right: -20px;
  float: right;
  margin: 5px 0 0 0;
  cursor: pointer;
  &.active {
    .b-dropdown-menu {
      display: block;
    }
  }
  .value {
    ._opacity(0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 25;
    display: block;
    width: 40px;
    height: 40px;
    background: @userNav-bg;
    &:hover {
      ._opacity(.1);
    }
  }
  .nav-icon {
    content: '';
    position: absolute;
    top: 15px;
    z-index: 17;
    left: -20px;
    ._sprite(@userNav-toggle);
  }
  .photo-holder {
    position: relative;
    z-index: 16;
    width: 60px;
    height: 50px;
    .image-holder {
      width: 40px;
      height: 40px;
      overflow: hidden;
    }
    &.portrait {
    }
    &.album {
      .image-holder {
        width: 500px;
        height: 100%;
        margin-left: -250px;
        position: absolute;
        top: 0;
        left: 50%;
      }
      .photo {
        width: auto;
        margin: 0 auto;
      }
    }
    .photo {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .b-dropdown-menu {
    top: 42px;
    right: 20px;
    z-index: 25;
    &.active {
      ._transition();
      top: 42px;
    }
    &:before {
      left: auto;
      right: 47px;
    }
    .nav {
      max-height: 500px;
      width: auto;
      min-width: 92px;
      margin-right: 2px;
      overflow: auto;
      overflow-x: auto;
      .item {
        white-space: nowrap;
        &.trusted-item {
          .link {
            color: @text-link;
          }
        }
        .link {
          padding: 6px 9px 7px;
        }
      }
    }
  }
}