.b-wrap-content.billing
    .billing-b-wrap
      .billing-b-wrap-title= _t("billingHistory", "title.billing_history")
      .billing-b-content
        .billing-b-content-label= _t("billingHistory", "title.account_status") + ":"
        .billing-b-content-status= _t("billingHistory", "value.membership_status_" + paymentStatus.type)
      if(paymentStatus.type == 'free')
        .billingPageTopButton
          a.btn.btn-text-orange(href=paymentStatus.url)= _t("billingHistory", "button.upgrade_account")
    if subscriptions.length > 0
        .billing-b-wrap
          .billing-b-wrap-title= _t("billingHistory", "title.subscriptions") + ":"
          .billing-b-wrap-items
            each subscription in subscriptions
              .billing-b-content-subc
                - var externalResourceName = subscription.externalResourceName ? " " + subscription.externalResourceName : ""
                .billing-b-content-label-td= subscription.title + externalResourceName
                .billing-b-content-label-td= subscription.created_at
                .billing-b-content-label-td.link
                      - var id = "deactivate-subscription"
                      if(simpleCancelStatus)
                          - id = "simple-deactivate-subscription"
                      a(id=id, data-subscription-id=subscription.autoincrement_id, data-order-id=subscription.parent_id)= _t("billingHistory", "button.deactivate_subscription")
    if paymentsHistory.length
      .billing-b-wrap
        .billing-b-wrap-title
          b= _t("billingHistory", "title.payment_history") + ":"
        .billing-b-content-subc-overflow
          table.billing-b-content-subc-table(width='100%', cellspacing='0', cellpadding='0')
            tr.billing-b-content-subc-table-title
              td= _t("billingHistory", "title.paid_for")
              td= _t("billingHistory", "title.amount")
              td= _t("billingHistory", "title.date")
              td= _t("billingHistory", "title.status")
            each payment, key in paymentsHistory
              tr.billing-b-content-subc-table-item
                - var externalResourceName = payment.externalResourceName ? " " + payment.externalResourceName : ""
                td.nowrap= _t("billingHistory", "text." + payment.paid, {'number': payment.numPartialCharge}) + externalResourceName
                td!= payment["amount"]
                td= payment["add_date"]
                td= _t("billingHistory", "value." + payment.status)
