#openx-banner-placement-myfavoritestop.myfavoritestop-banner-openx
.friends
  #userListContainerFavorites.srh-results.srh-results-gallery
  #noFrinends.no-friends.hidden
    = _t("userList", "text.no_facorites")
div.banner-bottom
  #openx-banner-placement-myfavoritesbottom.myfavoritesbottom-banner-openx
.banner-bottom-height
