.user-view {
  &.full {
    .usv-info {
      margin-bottom: 60px;
      .pic {
        .pic-counter-holder {
          .pic-counter {
            bottom: 7px;
          }
        }
      }
    }
  }
  &.free {
    .pic {
      max-height: 190px;
      overflow: hidden;
    }
  }
  .usv-info {
    position: relative;
    .pic {
      min-height: 120px;
      position: relative;
      margin: auto;
      z-index: 1;
      &.faded,
      &.holder {
        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background: @user-holder_overlay;
        }
        .b-message-holder {
          position: absolute;
          top: 50%;
          margin-top: -22px;
          color: @user-holder_text;
          font: 22px/26px @user-font;
          padding: 0 5px;
          left: 0;
          right: 0;
          text-align: center;
        }
      }
      .hot-user {
        position: absolute;
        top: 25px;
        left: 10px;
        width: 32px;
        height: 32px;
        ._radius(3px);
        background: fade(@user-bg_user_view_pic, 60%);
        &:before {
          content: "";
          position: absolute;
          display: block;
          top: 5px;
          left: 6px;
          z-index: 2;
          width: 19px;
          height: 23px;
          background: @user-sprite -87px -92px no-repeat;
          background-size: 213px;
        }
      }
      .mark {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 3;
        width: 9px;
        height: 9px;
        ._radius(10px);
        background: @user-bg_user_view_mark;
      }
      img {
        display: block;
        width: 100%;
        height: auto;
      }
      .pic-counter-holder {
        position: absolute;
        background: @user-bg_user_view_holder;
        height: 47px;
        width: 100%;
        bottom: 0;
        .pic-counter {
          position: absolute;
          right: 11px;
          bottom: 3px;
          font-size: 10px;
          color: @user-color_user_view_holder;
          ._radius(2px);
          padding: 2px 4px 1px 15px;
          text-decoration: none;
          &:before {
            content: "";
            position: absolute;
            display: block;
            top: 2px;
            left: 3px;
            width: 12px;
            height: 11px;
            background: @user-sprite -155px -13px no-repeat;
            background-size: 213px;
          }
        }
        .age,
        .from {
          margin-left: 15px;
          font-size: 12px;
          color: @user-color_user_view_holder;
          line-height: 130%;
        }
      }
    }
    .details {
      position: relative;
      z-index: 3;
      margin: -58px auto 5px;
      padding: 0 15px;
      &.full {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: -85px;
        margin: 0;
        z-index: auto;
        .user-info {
          margin-left: 0;
          .name {
            position: absolute;
            left: 15px;
            bottom: 106px;
            right: 40px;
            z-index: 2;
          }
          .age {
            padding-left: 7px;
            &:before { content: none; }
          }
          .from {
            position: absolute;
            left: 15px;
            bottom: 90px;
            right: 40px;
            z-index: 2;
          }
          .user-privileges {
            position: absolute;
            bottom: 40px;
            width: 100%;
            text-align: center;
            .usr-privileges {
              width: 31px;
              height: 31px;
              padding: 0;
              &.msg:before,
              &.fb:before{
                width: 23px;
                height: 22px;
              }
              &.msg:before {
                background-position: 0 -118px;
              }
              &.fb:before {
                background-position: -25px -118px;
              }
            }
          }
          .tags .tag {
            font-size: 12px;
          }
          .status {
            top: 10px;
            right: 15px;
            bottom: 110px;
            width: 13px;
            height: 13px;
          }
        }
        .user-buttons {
          position: absolute;
          bottom: 40px;
          left: 15px;
          right: 15px;
          width: auto;
        }
      }
      .pic-small {
        border: 1px solid @user-border_user_view_details;
        background: @user-bg_user_view_details;
        position: relative;
        display: block;
        float: left;
        width: 86px;
        height: 86px;
        &.holder {
          &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: @user-holder_overlay;
          }
          .b-message-holder {
            position: absolute;
            top: 50%;
            margin-top: -12px;
            color: @user-holder_text;
            font-size: 14px;
            padding: 0 5px;
            text-align: center;
            left: 0;
            right: 0;
          }
        }
        img {
          width:100%;
          height:100%;
          display: block;
          ._radius(2px);
        }
      }
      .info-wrap { overflow: hidden; }
      .user-info {
        margin-left: 101px;
        .tags {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 15;
          .tag {
            display: inline-block;
            vertical-align: top;
            font-size: 10px;
            line-height: 14px;
            padding: 0px 3px;
            background: @user-bg_user_view_info;
            color: @user-color_user_view_info;
            text-decoration: none;
            &.new {
              background: @user-bg_user_view_info_new;
            }
            &.trust {
              display: block;
              margin: 1px 3px;
              padding: 0;
              width: 18px;
              height: 18px;
              background: @user-sprite -100px -25px;
              background-size: 213px;
            }
          }
        }
        .status {
          position: absolute;
          z-index: 2;
          top: 4px;
          right: 4px;
          width: 9px;
          height: 9px;
          ._radius(10px);
          background: @user-bg_user_view_status;
          &.online {
            background: @user-bg_user_view_status_online;
          }
        }
        .name {
          position: relative;
          color: @user-bg_user_view_name;
          margin: 0;
          line-height: 130%;
          a {
            text-decoration: none;
            color: inherit;
            font-size: 16px;
          }
          .name-wrap {
            display: inline-block;
            vertical-align: middle;
            ._box-sizing;
            max-width: 100%;
            position: relative;
            &.fb:before,
            &.mob:before,
            &.android:before,
            &.ios:before {
              content: '';
              display: inline-block;
              vertical-align: middle;
              width: 15px;
              height: 14px;
              margin: 0 0 0 -2px;
              background: @user-sprite;
              background-size: 213px;
            }
            &.fb {
              &:before {
                background-position: -127px 0;
              }
            }
            &.mob {
              &:before {
                background-position: -141px 0;
              }
            }
            &.android {
              &:before {
                background-position: -155px 0;
              }
            }
            &.ios {
              &:before {
                background-position: -183px 0;
              }
            }
          }
          .name-inner {
            display: inline-block;
            vertical-align: middle;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          .age {
            vertical-align: middle;
            font-weight: normal;
          }
        }
        .age,
        .from {
          margin: 2px 0 0;
          font-size: 13px;
          color: @user-color_user_view_info;
          line-height: 130%;
          padding-left: 12px;
          position: relative;

          &:before {
            background-image: @user-sprite;
            background-size: 213px;
            content: "";
            position: absolute;
            left: 0;
            top: 4px;
          }
        }
        .age:before {
          height: 10px;
          width: 8px;
          background-position: -140px -50px;
        }
        .from:before {
          height: 8px;
          width: 7px;
          background-position: -150px -50px;
        }
        .user-privileges {
          margin: 12px 0 0;
          font-size: 0;
          line-height: 0;
          letter-spacing: -4px;
          .usr-privileges {
            display: inline-block;
            width: 25px;
            height: 25px;
            margin-right: 10px;
            ._radius(20px);
            position: relative;
            &.fb,
            &.invisible,
            &.vip,
            &.msg {
              &:before {
                content: "";
                display: block;
                position: absolute;
                width: 23px;
                height: 22px;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                background: @user-sprite -100px -118px no-repeat;
                background-size: 213px;
              }
            }
            &.fb {
              background-color: @user-bg_user_view_icon_fb;
            }
            &.invisible {
              background-color: @user-bg_user_view_icon_invisible;
              &:before {
                background-position: -75px -118px;
              }
            }
            &.vip {
              background-color: @user-bg_user_view_icon_vip;
              &:before {
                background-position: -50px -118px;
              }
            }
            &.msg {
              background-color: @user-bg_user_view_icon_msg;
              &:before {
                background-position: -150px -118px;
              }
            }
          }
        }
      }
      .photos {
        position: absolute;
        right: 10px;
        top: 35px;
        z-index: 3;
        font-size: 12px;
        color: @user-photos_count_text;
        ._radius(2px);
        padding: 3px 4px 1px 24px;
        &:before {
          content: "";
          position: absolute;
          display: block;
          top: 2px;
          left: 3px;
          width: 18px;
          height: 13px;
          background: @user-sprite -100px -45px no-repeat;
          background-size: 213px;
        }
      }
      /*.user-buttons {
        clear: both;
        width: 100%;
        height: 30px;
        padding-top: 15px;
        text-align: center;

        .usr-action {
          ._radius(5px);
          ._box-sizing;
          display: block;
          float: left;
          padding: 0 3px 0 34px;
          vertical-align: top;
          position: relative;
          width: 32%;
          margin-left: 2%;
          height: 100%;
          border: none;
          background: @user-bg_user_view_action;
          &:first-child {
            margin-left: 0;
          }
          &:after {
            content: "";
            display: block;
            position: absolute;
            left: 4px;
            top: 50%;
            margin-top: -9px;
            width: 23px;
            height: 18px;
            background-image: @user-sprite;
            background-size: 213px;
          }
          &:before {
            content: "";
            display: block;
            position: absolute;
            width: 31px;
            left: 0;
            top: 0;
            bottom: 0;
            ._radius(5px 0 0 5px);
          }
          &.message {
            text-decoration: none;
            color: @user-color_user_view_message;
            line-height: 30px;
            &:after {
              background-position: 0 -40px;
            }
            &:before {
              background: @user-bg_user_view_message;
            }
          }
          &.wink {
            &:after {
              background-position: -25px -40px;
            }
            &:before {
              background: @user-bg_user_view_wink;
            }
          }
          &.favourite {
            &:after {
              background-position: -50px -40px;
            }
            &:before {
              background: @user-bg_user_view_add;
            }
            &.active {
              &:after {
                background-position: -40px -165px;
              }
            }
          }
          &.active {
            &:before,
            &:after {
              ._opacity(.55);
            }
            .final_state {
              display: block;
            }
            .initial_state {
              display: none;
            }
          }
          .final_state {
            display: none;
          }
          .initial_state {
            display: block;
          }
        }
      }*/
    }
  }
  .usv-messages {
    padding: 10px 9px 9px 9px;
    color: @user-color_usv_messages;
    background: @user-bg_usv_messages;
    .usv-dialogue {
      margin: 0 5px 6px 5px;
      .free& {
        height: 20px;
        overflow: hidden;
      }
      .message {
        clear: both;
        padding: 0 0 5px 0;
        &.opponent .sender{
          color: @user-color_usv-dialogue;
        }
        .sender {
          font-size: 14px;
          display: inline-block;
          float: left;
          padding: 0 5px 0 0;
          min-width: 85px;
        }
        .time {
          float: right;
          display: inline-block;
          padding: 2px 0 0 10px;
          color: @user-color_usv-dialogue_time;
          font-size: 12px;
        }
        .text {
          font-size: 14px;
          padding: 0;
          .text-link {
            color: @user-color_usv-dialogue_link;
            &.upgrade {
              .free& {
                display: inline-block;
                float: right;
              }
            }
          }
        }
      }
    }
    .usv-send-message {
      .input-wrap {
        margin-right: 45px;
        input {
          background: @user-bg_usv_send_message;
          border: 1px solid @user-border_usv_send_message;
          font-size: 14px;
          width: 100%;
          height: 36px;
          padding: 0 4px 0 4px;
          color: @user-color_usv_send_message;
          ._box-sizing;
          ._radius(2px);
          &::-webkit-input-placeholder {
            color: @user-color_usv_send_message_ph;
          }
        }
      }
      .send-message {
        position: relative;
        float: right;
        width: 36px;
        height: 36px;
        ._radius(2px);
        background: @user-bg_send_message;
        border: none;
        &:before {
          content: "";
          position: absolute;
          display: block;
          top: 9px;
          left: 8px;
          width: 21px;
          height: 19px;
          background: @user-sprite 0px -98px no-repeat;
          background-size: 213px;
        }
      }
    }
  }
  .usv-tabs-container{
    .usv-tabs-list {
      overflow: hidden;
      margin: 15px;
      padding: 0;
      list-style-type: none;
      ._radius(5px);
      background: @user-bg_usv_tabs_list;
      border: 1px solid @user-bg_usv_tabs_list_active;
      li {
        float: left;
        padding: 8px 0;
        width: 50%;
        ._box-sizing;
        font-size: 14px;
        text-align: center;
        color: @user-bg_usv_tabs_list_active;
        &.active {
          background: @user-bg_usv_tabs_list_active;
          color: @user-color_usv_tabs_list_active;
        }
      }
    }
    .usv-tabs-content {
      .tab {
        display: none;
        &.active {
          display: block;
        }
      }
    }

    .usv-about {
      position: relative;
      padding-bottom: 5px;
      background: @user-bg_usv_about;
      header {
        margin: 0;
        font-size: 14px;
        line-height: 150%;
        color: @user-color_usv_about_header;
        padding: 12px 14px 10px;
        background: @user-bg_usv_about_even;
        ._shadow(0 2px 2px @user-row_header-shadow inset);
      }
      .usv-about-row {
        clear: both;
        overflow: hidden;
        padding: 12px 14px 10px;
        border-bottom: 1px solid @user-bg_usv_about_even;
        /*&.even {
          background: @user-bg_usv_about_even;
        }*/
        &:first-child { border-top: 1px solid @user-bg_usv_about_even; }
        &.last {
          border-bottom: 1px solid @user-border_usv_about_last;
        }
        &.locked {
          padding: 0;
        }
        &.faded {
          ._filter;
        }
        p {
          margin: 0;
          font-size: 14px;
          line-height: 150%;
          &.title {
            float: left;
          }
          &.full-row {
            color: @user-color_full_row;
            display: block;
            float: none;
          }
          &.data {
            float: right;
            color: @user-color_data;
            &.dark {
              color: @user-color_data_dark;
            }
          }
        }
      }

      .usv-about-lock {
        position: relative;
        left: 0;
        width: 100%;
        height: 140px;
        z-index: 3;
        ._box-sizing;
        text-align: center;
        background: @user-bg_usv-about-lock;
        .box-inner {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          margin: auto;
          z-index: 5;
          p {
            color: @user-color_usv_about_lock;
            font-size: 20px;
            margin: 15px 20px 0;
            line-height: 140%;
            span {
              color: @user-color_usv_about_lock_span;
            }
          }
          .get-button {
            display: inline-block;
            text-decoration: none;
            text-align: center;
            line-height: 100%;
            border: none;
            padding: 10px 20px 11px;
            font-size: 24px;
            line-height: 100%;
            color: @user-button_text;
            background: @user-button;
            ._radius(5px);
          }
        }
        &.maleBan{
          background: none;

          .usv-about-lock-wrap{
            background: url(~"@{user-images_path}/more_result_girl.jpg") no-repeat scroll center top;
          }
          &.sexy{
            .usv-about-lock-wrap{
              background-position: 0 -561px;
            }
          }
          &.bbw{
            .usv-about-lock-wrap{
              background-position: 0 -420px;
            }
          }
          &.asia{
            .usv-about-lock-wrap{
              background-position: 0 -280px;
            }
          }
          &.milf{
            .usv-about-lock-wrap{
              background-position: 0 -140px;
            }
          }
          &.trad{
            .usv-about-lock-wrap{
              background-position: 0 0px;
            }
          }
        }
        &.femaleBan{
          background: none;
          
          .usv-about-lock-wrap{
            background: url(~"@{user-images_path}/more_result_man.jpg") no-repeat scroll center top;
          }
          &.bbw{
            .usv-about-lock-wrap{
              background-position: 0 -280px;
            }
          }
          &.asia{
            .usv-about-lock-wrap{
              background-position: 0 -140px;
            }
          }
          &.trad{
            .usv-about-lock-wrap{
              background-position: 0 -2px;
            }
          }
        }
      }
      .usv-about-lock.maleBan,.usv-about-lock.femaleBan{
        .usv-about-lock-wrap{
          max-width: 320px;
          margin: 0 auto;
          height: 100%;
          position: relative;
          
          .usv-about-lock-bg{
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
          }
          .get-button{
            background: @t-main-color;
          }
        }
      }
    }

    .usv-activity {
      padding: 15px 10px 0;
      position: relative;
      color: @user-color_usv_activity;
      .connector {
        position: absolute;
        z-index: 1;
        top: 30px;
        left: 72px;
        width: 1px;
        height: 100%;
        border-left: 2px solid @user-border_usv_activity_connector;
      }
      .usv-activity-single {
        position: relative;
        z-index: 2;
        padding: 0 0 7px 0;
        clear: both;
        min-height: 45px;
        .usv-activity-data {
          width: 87px;
          float: left;
          .user-icon {
            float: left;
            width: 40px;
            height: 40px;
            ._radius(2px);
            img {
              width: 100%;
              height: 100%;
              display: block;
              ._radius(2px);
            }
          }
          .action {
            position: relative;
            float: left;
            margin: 5px 0 0 10px;
            width: 26px;
            height: 26px;
            border: 1px solid @user-border_usv_activity_data;
            ._radius(25px);
            background: @user-bg_usv_activity_data;
            &:before {
              content: "";
              position: absolute;
              display: block;
              top: 6px;
              left: 5px;
              width: 18px;
              height: 20px;
              background: transparent @user-sprite -115px -40px no-repeat;
              background-size: 213px;
            }
            &.wink:before {
              background-position: -114px -61px;
            }
          }
        }
        .time {
          width: 45px;
          float: right;
          text-align: right;
          margin: 15px 0 0 0;
        }
        .text {
          color: @user-color_usv_activity_single;
          margin: 0 45px 0 87px;
          padding: 12px 0 0 0;
          font-size: 14px;
          line-height: 120%;
          .user-link {
            color: @user-color_usv_activity_single_link;
            text-decoration: none;
          }
          p {
            margin: 0;
            line-height: 145%;
          }
        }
      }
    }
  }

  .usv-get-upgrade {
    ._box-sizing;
    border-top: 1px solid @user-border_usv_get_upgrade;
    padding: 12px 8px 5px 15px;
    margin: 0 0 14px 0;
    overflow: hidden;
    p {
      color: @user-color_usv_get_upgrade;
      font-size: 14px;
      line-height: 120%;
      margin: 0;
    }
    .upgrade-button {
      float: right;
      margin: 8px 0 0 10px;
      padding: 10px 11px 10px;
      font-size: 14px;
      text-align: center;
      line-height: 100%;
      color: @user-color_usv_get_upgrade_button;
      border: none;
      ._radius(2px);
      background: @user-bg_usv_get_upgrade_button;
    }
  }
}
.usv-tabs-container {
  position: relative;
  z-index: 3;
}
.urv-activity {
  padding: 0 15px;
  position: relative;
  color: @user-color_urv_activity;
  overflow: hidden;
  &:before {
    content: "";
    height: 100%;
    border-left: 1px solid @user-border_before;
    left: 30px;
    position: absolute;
    top: 35px;
    z-index: 1;
  }
  .activity-history {
    overflow: auto;
    position: relative;
    .activity-time {
      margin: 5px 15px 5px 0;
      position: relative;
      z-index: 5;
      color: @user-color_activity_time;
      font-size: 12px;
      padding: 5px 0;
      background: @user-bg_activity_time;
      .day {
        display: inline-block;
        color: @user-color_activity_time_day;
        font-size: 14px;
      }
    }
    .activity-item {
      padding: 0 0 5px 0;
      min-height: 35px;
      position: relative;
      font-size: 14px;
      &.view {
        .activity-icon {
          background: @user-bg_activity_item_view;
          &:before {
            background-position: -145px -26px;
          }
        }
      }
      &.wink {
        .activity-icon {
          background: @user-bg_activity_item_wink;
          &:before {
            background-position: -120px -26px;
          }
        }
      }
      &.mail {
        .activity-icon {
          background: @user-bg_activity_item_mail;
          &:before {
            background-position: -75px -40px;
          }
        }
      }
      &.favourite {
        .activity-icon {
          background: @user-bg_activity_item_favourite;
          &:before {
            background-position: -170px -26px;
          }
        }
      }
      &.photo {
        .activity-icon {
          background: @user-bg_activity_item_photo;
          &:before {
            background-position: -125px -120px;
          }
        }
      }
      .photo,
      .photo-view {
        display: none;
        position: relative;
        float: left;
        width: 40px;
        height: 40px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          display: block;
        }
      }
      .photo-view {
        float: right;
        margin-right: 10px;
      }
      .activity {
        width: 30px;
        float: left;
        margin-right: 10px;
      }
      .activity-icon {
        position: relative;
        float: right;
        margin: 5px 0 0 5px;
        width: 30px;
        height: 30px;
        ._radius(15px);
        z-index: 1;
        &:before {
          content: "";
          position: absolute;
          top: 6px;
          left: 4px;
          width: 23px;
          height: 18px;
          background: transparent @user-sprite -115px -40px no-repeat;
          background-size: 213px;
        }
        &.wink:before {
          background-position: -12px -86px;
        }
      }
      .time {
        position: relative;
        float: right;
        padding: 8px 0;
        color: @user-color_activity_item_time;
        font-size: 12px;
        line-height: 12px;
        text-align: right;
      }
      .activity-text {
        position: relative;
        padding: 12px 0 0;
        margin: 0 55px 0 42px;
        line-height: 100%;
        .screenname {
          color: @user-color_activity_item_screenname;
          text-decoration: none;
        }
      }
    }
    .hightlight {
      background: @user-bg_hightlight;
    }
  }
}

/* activity styles */
.urv-activity {
  padding: 0 15px;
  position: relative;
  color: @user-color_urv_activity;
  overflow: hidden;
  &:before {
    content: "";
    height: 100%;
    border-left: 1px solid @user-border_before;
    left: 30px;
    position: absolute;
    top: 35px;
    z-index: 1;
  }
  .activity-history {
    overflow: auto;
    position: relative;
    .activity-time {
      margin: 5px 15px 5px 0;
      position: relative;
      z-index: 5;
      color: @user-color_activity_time;
      font-size: 12px;
      padding: 5px 0;
      background: @user-bg_activity_time;
      .day {
        display: inline-block;
        color: @user-color_activity_time_day;
        font-size: 14px;
      }
    }
    .activity-item {
      padding: 0 0 5px 0;
      min-height: 35px;
      position: relative;
      font-size: 14px;
      &.view {
        .activity-icon {
          background: @user-bg_activity_item_view;
          &:before {
            background-position: -145px -26px;
          }
        }
      }
      &.wink {
        .activity-icon {
          background: @user-bg_activity_item_wink;
          &:before {
            background-position: -120px -26px;
          }
        }
      }
      &.mail {
        .activity-icon {
          background: @user-bg_activity_item_mail;
          &:before {
            background-position: -75px -40px;
          }
        }
      }
      &.favourite {
        .activity-icon {
          background: @user-bg_activity_item_favourite;
          &:before {
            background-position: -170px -26px;
          }
        }
      }
      &.photo {
        .activity-icon {
          background: @user-bg_activity_item_photo;
          &:before {
            background-position: -125px -120px;
          }
        }
      }
      .photo,
      .photo-view {
        display: none;
        position: relative;
        float: left;
        width: 40px;
        height: 40px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          display: block;
        }
      }
      .photo-view {
        float: right;
        margin-right: 10px;
      }
      .activity {
        width: 30px;
        float: left;
        margin-right: 10px;
      }
      .activity-icon {
        position: relative;
        float: right;
        margin: 5px 0 0 5px;
        width: 30px;
        height: 30px;
        ._radius(15px);
        z-index: 1;
        &:before {
          content: "";
          position: absolute;
          top: 6px;
          left: 4px;
          width: 23px;
          height: 18px;
          background: transparent @user-sprite -115px -40px no-repeat;
          background-size: 213px;
        }
        &.wink:before {
          background-position: -12px -86px;
        }
      }
      .time {
        position: relative;
        float: right;
        padding: 8px 0;
        color: @user-color_activity_item_time;
        font-size: 12px;
        line-height: 12px;
        text-align: right;
      }
      .activity-text {
        position: relative;
        padding: 12px 0 0;
        margin: 0 55px 0 42px;
        line-height: 100%;
        .screenname {
          color: @user-color_activity_item_screenname;
          text-decoration: none;
        }
      }
    }
    .hightlight {
      background: @user-bg_hightlight;
    }
  }
}


.page-activity {
  .urv-activity {
    padding: 0;
    &:before {
      display: none;
    }
    .activity-time {
      padding: 5px 15px;
    }
    .activity-item {
      min-height: 40px;
      padding: 5px 15px;
      border-bottom: 1px solid @user-border_page_activity_item;
      .photo,
      .photo-view {
        display: block;
      }
      .activity {
        width: 40px;
      }
      .activity-icon {
        margin-top: -6px;
      }
      .activity-text {
        display: table;
        padding: 0;
        min-height: 40px;
      }
    }
    &:before {
      left: auto;
      right: 30px;
    }
    .activity-text-wrap {
      display: table-cell;
      vertical-align: middle;
    }
  }
  .time:before {
    content: "";
    border-left: 1px solid @user-border_page_activity_time;
    left: 20px;
    position: absolute;
    top: -21px;
    bottom: 35px;
    z-index: 0;
  }
  .activity-time + .activity-item .time:before {
    top: 10px;
  }
}
.no-activity {
  display: none;
  width: 100%;
  padding: 20px 0;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  background: @user-bg_no_activity;
}
/* end: activity styles */
