/* images */
@user-images_path: "../images";
@user-sprite: url(~"@{user-images_path}/icons.png");
/* end: images */

/* text */
@user-font: Helvetica, Roboto, Segoe, sans-serif;
/* end: text */

/* buttons */
@user-button: #1cbb1c;
@user-button_text: #fff;
/* end: buttons */

/* user-view */
@user-bg_user_view_pic: #000;
@user-bg_user_view_mark: #01bc5e;
@user-bg_user_view_holder: fade(#000,50%);
@user-bg_user_view_details: #ccc;
@user-bg_user_view_info: #bcbcbc;
@user-bg_user_view_info_new: #e83434;
@user-bg_user_view_status: #ead943;
@user-bg_user_view_status_online: #a0f43c;
@user-bg_user_view_name: #fff;
@user-bg_user_view_icon_fb: #3c5a98;
@user-bg_user_view_icon_invisible: @user-bg_user_view_pic;
@user-bg_user_view_icon_vip: #ec4109;
@user-bg_user_view_icon_msg: #fe9556;
@user-bg_user_view_action: #e9e9e9;
@user-bg_user_view_message: #9c1904;
@user-bg_user_view_wink: @user-bg_user_view_icon_vip;
@user-bg_user_view_add: #ffa22a;
@user-bg_usv_messages: @user-bg_user_view_name;
@user-bg_usv_send_message: @user-bg_user_view_name;
@user-bg_send_message: #0095b2;
@user-bg_usv_tabs_list: #fff;
@user-bg_usv_tabs_list_active: @t-main-color;
@user-bg_usv_about: @user-bg_user_view_name;
@user-bg_usv_about_even: #efeff4;
@user-bg_usv-about-lock: @t-main-color;
@user-bg_get_button_start: #f4f4f4;
@user-bg_get_button_end: #cdcdcd;
@user-bg_usv_activity_data: @user-bg_user_view_name;
@user-bg_usv_get_upgrade_button: @user-bg_send_message;
@user-color_user_view_message: #4c4c4c;
@user-color_user_view_holder: @user-bg_user_view_name;
@user-color_user_view_info: @user-bg_user_view_name;
@user-color_user_view_photos: @user-bg_user_view_name;
@user-color_usv_messages: @user-bg_user_view_pic;
@user-color_usv-dialogue: @user-bg_send_message;
@user-color_usv-dialogue_time: #b3afa9;
@user-color_usv-dialogue_link: @user-bg_send_message;
@user-color_usv_send_message: #01bc5e;
@user-color_usv_send_message_ph: #807d79;
@user-color_full_row: @user-bg_usv_tabs_list_active;
@user-color_data: #808080;
@user-color_data_dark: #344645;
@user-color_usv_tabs_list_active: #fff;
@user-color_usv_about_header: @user-bg_usv_tabs_list_active;
@user-color_usv_about_lock: @user-bg_user_view_name;
@user-color_usv_about_lock_span: #fff;
@user-color_get_button: #249d63;
@user-color_usv_activity: #555;
@user-color_usv_activity_single: #696969;
@user-color_usv_activity_single_link: @user-bg_send_message;
@user-color_usv_get_upgrade: @user-bg_user_view_pic;
@user-color_usv_get_upgrade_button: @user-bg_user_view_name;
@user-border_user_view_details: @user-bg_user_view_name;
@user-border_usv_send_message: @user-color_usv-dialogue_time;
@user-border_usv_about_last: #e6e6e6;
@user-border_usv_activity_connector: #b3afa9;
@user-border_usv_activity_data: #b3afa9;
@user-border_usv_get_upgrade: #b3afa9;
@user-shadow_get_button_1: #ababab;
@user-shadow_get_button_2: fade(@user-bg_user_view_pic, 80%);
@user-holder_overlay: fade(#000, 78%);
@user-holder_text: #fff;
@user-photos_count_text: #fff;
@user-row_header-shadow: #d2d2d6;
/* end user-view */

/* urv-activity */
@user-bg_activity_time: #fff;
@user-bg_activity_item_view: @t-main-color;
@user-bg_activity_item_wink: @t-main-color;
@user-bg_activity_item_mail: @t-main-color;
@user-bg_activity_item_favourite: @t-main-color;
@user-bg_activity_item_photo: @t-main-color;
@user-bg_hightlight: #e9e9e9;
@user-color_urv_activity: #696969;
@user-color_activity_time: #808080;
@user-color_activity_time_day: @t-main-color;
@user-color_activity_item_time: #344645;
@user-color_activity_item_screenname: @user-color_activity_time_day;
@user-border_before: #ccc;
/* end urv-activity */

/* page-activity */
@user-border_page_activity_item: @user-bg_activity_time;
@user-border_page_activity_time: @user-border_before;
/* end page-activity */

@user-bg_no_activity: @user-bg_activity_time;