.b-profile-feed-head
  .b-profile-feed-head__content-left.b-profile-feed-head__content-left--1em
    = _t("notificationSettings", "title.new_activity_notifications")
    span.changes-status.changes-status--save.save-status.inactive
      span.icon-status.icon-Check
      = _t("notificationSettings", "text.saved")
.b-profile-feed-middle-content
  form.b-profile-feed-middle-content__form
    .b-profile-feed-middle-content__form_field.b-profile-feed-middle-content__form_field--activity_form
        each setting, name in settings
          each val, key in setting
            - var id = name.replace(/\W/g, '');
            .form_field__input.form_field__input--activity_form
              .form_field__input-b.relative
                input.checkbox-item--hide(type="checkbox", data-checkbox="1", data-name="#{name}", data-key="#{key}", checked=(setting[key]) ? true : false, id='#{id}', data-change-settings="1")
                label.checkbox-item.checkbox-item--activity(for="#{id}")
                  span.checkbox-item--show
                  .checkbox-item__somelabel= _t("notificationSettings", "title.new_activity_notifications_" + name)
