.b-profile-feed-head.head_table
  .b-profile-feed-head__content-left.b-profile-feed-head__content-left--1em.head_table__div_table-cell
    = _t("notificationSubscription", "title.email_sms_notification")
    span.changes-status.changes-status--save.save-status.inactive
      span.icon-status.icon-Check
      = _t("notificationSubscription", "text.saved")
  .rightside-content-b-header-right.head_table__div_table-cell
    span.rightside-content-b-header-right_opt= _t("notificationSubscription", "title.email_or_sms_notification.email")
    span.rightside-content-b-header-right_opt= _t("notificationSubscription", "title.email_or_sms_notification.sms")
    span.rightside-content-b-header-right_opt= _t("notificationSubscription", "title.email_or_sms_notification.push")
.b-profile-feed-middle-content.setting_block__inner
  ul.setting_block__inner__profile-grid
    - each setting, name in settings
        li.profile-grid__item.profile-grid__item--notifications-tabel
          .profile-grid__item__label.profile-grid__item__label--choose_notification= _t("notificationSubscription", "title.email_or_sms_notification_" + name)
          .profile-grid__item__radio
            each key in ["email", "mobile", "push"]
              - if (typeof setting[key] !== "undefined")
                - var id = name.replace(/\W/g, '');
                .profile-grid__item__radio-block
                  input.checkbox-item--hide(data-checkbox="1", type="checkbox", data-name="#{name}", data-key="#{key}", checked=(setting[key]) ? true : false, id="#{key + '_' + id}", data-change-subscription="1")
                  label.checkbox-item(for="#{key + '_' + id}")
                    span.checkbox-item--show
