@import "mixin";
@import "vars";
@import "su-vars";
/*--------------------------------------- Pop Up Drag & Drop -----------------------------------*/
.inline{
    display: inline-block;
}
.drag-drop-pop_up-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1156px;
    position: relative;
}

.drag-drop-pop_up__header { 
    .inline;
    width: 100%;
    margin-bottom: 5px;
}

.drag-drop-pop_up__right {
    position: absolute;
    width: 29.5%;
    right: 0;
    top: 0;
    height: 100%;
}

.drag-drop-pop_up__left {
    .border-radius;
    background-color: #fff;
    margin-right: 29.645%;
    padding: 10px 5px 10px;
    position: relative;
}

.pop_up__close {
    .border-radius;
    background-color: #ecf0f8;
    cursor: pointer;
    height: 30px;
    width: 40px;
    position: absolute;
    right: 5px;
    top: 10px;
    text-align: center;

    & .icon-cross {
        color: #787f8e;
        font-size: 1.4em;
        line-height: 30px;
    }
}

.button-create-cover,
.button-set-general,
.button-snap-photo {
    .border-radius;
    .inline;
    color: #fff !important;
    text-align: center;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.15);
}

.button-create-cover {
    background-color: #025eee;
    -webkit-box-shadow: 0 2px 2px #043d96;
    -moz-box-shadow: 0 2px 2px #043d96;
    box-shadow: 0 2px 2px #043d96;
    font-size: 0.875em;
    height: 32px;
    line-height: 32px;
    padding: 0 1.625em;
    margin: 0 26.375% 2px 0;
    float: right;

    &:hover, &:active { background-color: darken(#025eee, 5%); }
}

.button-set-general,
.button-snap-photo {
    background-color: #0074d7;
    font-size: 1.125em;
    line-height: 40px;
    height: 40px;
    padding: 0 3.5em;
    -webkit-box-shadow: 0 2px 2px #0358a0;
    -moz-box-shadow: 0 2px 2px #0358a0;
    box-shadow: 0 2px 2px #0358a0;

    &:hover, &:active { background-color: darken(#0074d7, 5%); }
}
    .button-snap-photo--my-gallery{
        display: block;
        text-align: center;
        font-size: 1em;
        line-height: 40px;
        height: 40px;
        padding: 0 1.5em;
        color: #fff;
        max-width: 200px;
        margin: 0 auto;
        
        &:hover{
            color: #ffffff;
        }
    }
.button-snap-photo {
    padding: 0;
    width: 51.28%;
}

.upload-photo-tabs__pane__webcam-preview {
    width: 51.28%;
    margin: 10px auto;

    img { max-width: 100%; }
}

.drag-drop-pop_up__subtitle {
    color: @title-color;
    font-size: 1em;
    font-weight: 700;
    padding: 8px 0 5px 5px;

    &--left { float: left; }
}

.drag-drop-pop_up__grey-wrapper {
    .border-radius;
    background-color: @grey;
    padding: 5px 0;

    &--create-cover {
        overflow: hidden;
        padding: 5px 10px 10px 20px;
    }
}

.drag-drop-pop_up__create-cover-sidebar {
    float: right;
    width: 19.5342%;
}

.drag-drop-pop_up__create-cover { margin-right: 23.4456%; }

.create-cover-result + .create-cover-result { margin-top: 20px; }

.create-cover-result__title {
    color: @title-color;
    font-size: 0.75em;
    font-weight: 700;
}

.create-cover-result__photo {
    .border-radius;
    margin-bottom: 12px;
    overflow: hidden;

    &--profile { width: 100%; }

    &--search-result {
        width: 50px;
        height: 50px;
    }

    img { max-width: 100%; }
}

.drag-drop-pop_up__create-cover__main-photo {
    .border-radius;
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;

    img { max-width: 100%; }
}

.drag-drop-pop_up__create-cover__button-wrap { text-align: center; }

.drag-drop-pop_up__gallery-wrap { margin-top: 12px; }

.drag-drop-pop_up__gallery { 
    padding: 6px 8px;
    font-size: 0;
}

.drag-drop-pop_up__gallery__item {
    .inline;
    margin: 0 0 10px 1.26%;
    vertical-align: top;
    width: 31.2182%;

    & img { max-width: 100%; }
}

.drag-drop-upload-icon {
    .border-radius;
    border: 2px dashed #fff;
    margin: 115px auto 45px;
    width: 100px;
    height: 100px;
    display: block;
    text-align: center;
    position: relative;
}

.drag-drop-upload-text {
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    text-align: center;
}

.upload-photo-tabs {
    float: left;
    margin: 6px 0 0 2.5em;
}

.upload-photo-tabs__tab {
    font-size: 0.875em;

    &__icon { 
        margin-right: 8px;
        font-size: 1.4em;
        vertical-align: middle;
    }

    &__title {
        border-bottom: 1px dotted #0074d7;
        .inline;
        vertical-align: middle;
        position: relative;
    }

    &:hover { color: #0074d7 !important; }

    &.active &__title {
        color: #041723;
        border-bottom: 0;
    }

    &.active &__title:after {
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid @grey;
        content: "";
        position: absolute;
        bottom: -13px;
        left: 50%;
        margin-left: -8px;
    }
}

.upload-photo-tabs--uploaded .upload-photo-tabs__tab__title { border-bottom: 0;}

.upload-photo-tabs__tab + .upload-photo-tabs__tab { margin-left: 1.6em; }

.upload-photo-tabs__pane-set {
    text-align: center;
    padding: 12px 0;
}

.upload-photo-tabs__pane { 
    display: none;

    &.show { display: block; }
}

.drag-drop-pop_up__choose-photo-wrap { margin-top: 20px; }

.drag-drop-pop_up__choose-photo {
    margin-top: 8px;
    font-size: 0;
}

.drag-drop-pop_up__choose-photo__item {
    .inline;
    max-height: 140px;
    margin: 0 0 10px 10px;

    img { max-height: 100%; }
}

.drag-drop-pop_up__upload-mask {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1050;
}

.upload-photo-uploaded { 
    padding: 10px;
    min-height: 280px;
    font-size: 0;
}

.upload-photo-uploaded__item {
    .inline;
    height: 100px;
    width: 100px;
    margin: 0 10px 10px 0;
    overflow: hidden;
    filter: alpha(opacity=40);
    opacity: 0.4;

    img {
        .border-radius;
        .inline;
        vertical-align: middle;
        max-height: 100%;
        max-width: 100%;
    }

    &:before {
        content: '';
        .inline;
        vertical-align: middle;
        height: 100%;
    }
}

.uploading-progress-container {
    position: absolute;
    left: 50%;
    margin-left: -190px;
    top: 50%;
    margin-top: -15px;
    text-align: center;
    width: 380px;
}

.uploading-text-progress {
    color: @title-color;
    font-size: 0.75em;
    font-weight: lighter;
    margin-bottom: 20px;
    text-transform: uppercase;

    strong, b { font-weight: bold; }

    strong { color: @main-link-color; }
}

.uploading-progress-bar {
    background-color: #fff;
    .border-radius;
    padding: 2px;
    -webkit-box-shadow: 0 0 4px rgba(204, 204, 204, 0.5);
    margin-bottom: 20px;

    &__inner {
        .border-radius;
        background-color: @grey;
        height: 8px;
        position: relative;
    }
}

/*----------------- Progress Bar Animation -------------------------*/
.uploading-progress-bar__progress{
    .border-radius;
    height:8px;
    overflow:hidden;
    background-color:#357ef1;
}

.noTrespassingBarLineG{
    background-color:#025eee;
    float:left;
    width:6px;
    height:48px;
    margin-right:10px;
    margin-top:-11px;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}

.noTrespassingAnimationG{
    width:100%;
    -moz-animation-name:noTrespassingAnimationG;
    -moz-animation-duration:1.3s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;
    -webkit-animation-name:noTrespassingAnimationG;
    -webkit-animation-duration:1.3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -ms-animation-name:noTrespassingAnimationG;
    -ms-animation-duration:1.3s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-timing-function:linear;
    -o-animation-name:noTrespassingAnimationG;
    -o-animation-duration:1.3s;
    -o-animation-iteration-count:infinite;
    -o-animation-timing-function:linear;
    animation-name:noTrespassingAnimationG;
    animation-duration:1.3s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

@-moz-keyframes noTrespassingAnimationG{
    0%{margin-left:-15px;}

    100%{margin-left:0px;}
}

@-webkit-keyframes noTrespassingAnimationG{
    0%{margin-left:-15px;}

    100%{margin-left:0px;}
}

@-ms-keyframes noTrespassingAnimationG{
    0%{margin-left:-15px;}

    100%{margin-left:0px;}
}

@-o-keyframes noTrespassingAnimationG{
    0%{margin-left:-15px;}

    100%{margin-left:0px;}
}

@keyframes noTrespassingAnimationG{
    0%{margin-left:-15px;}

    100%{margin-left:0px;}
}
/*----------------- [END] Progress Bar Animation -----------------*/


@media screen and (max-width: 690px) {
    .drag-drop-pop_up__right {
        position: static;
        width: 100%;
        margin-bottom: 20px;
    }

    .drag-drop-pop_up__left { margin-right: 0; }

    .drag-drop-upload-icon { margin: 20px auto; }
}
/*---------------------------------------[END] Pop Up Drag & Drop -----------------------------------*/

/*---------------------------------------[END] Pop Up-----------------------------------*/

//Popup foto
.photo-item-popup {
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px 15px;
}
.photo-item-popup-wrap {
    max-width: 560px;
    margin: 0 auto;
    position: relative;
}
.photo-item-popup-close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;

    .comments-header-text__icon{
        color: #ffffff;
    }
}
.photo-item-popup-title {
    font-size: 1.125em;
    color: #ffffff;
    padding-bottom: 10px;
}
.photo_wrapper{
    img{
        max-width: 790px;
        width: 100%;
    }
}
/*--------------------------------------------------------------Comments---------------------------------------------------------*/
.photo-block_comments{
    padding: 0 15px 10px;
    background: #ffffff;
}
.photo_comments-wall{
    margin-top: 28px;
}
.photo_comments-wall__field{
    display: table;
    margin-bottom: 35px;
    }
.photo_comments-wall_text{
    display: table-cell;
    font-size: 0.8em;
    font-weight: 500;
    line-height: 1.2;
}
.photo_comments-wall_text__title{
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 4px;
}
.b-feed-content__profile-avatar--photo_block{
    padding-top: 2px;
    padding-right: 2%;
    width: 57px;
}
.b-feed-content__profile-avatar--fix-width{
    width: 57px;
}
.b-profile-feed-head__content-left--photo_text{
    padding-left: 0px;
    float: none;
}
.photo-page__search-box-wrapper__input_wrap_inp{
    background: @grey;
    border: 0;
    width: 100%;
    padding: 10px;
    height: 44px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.comment-number__icon, .favorities__icon, .credits__icon{
    font-size: 1.4em;
    vertical-align: middle;
    width: 19px;
    display: inline-block;
}
.photo-page__search-box-wrapper{
    display: table;
    width: 100%;
}
.photo-short-info-b{
    background: #f3f6fb;
    overflow: hidden;
}
.photo_icons{
    text-align: left;
}
.photo-page__search-box-wrapper__input_wrap{
    display: table-cell;
}
.photo_icons, .photo_like_button{
    display: table-cell;
    width: 39%;
    text-align: left;
    vertical-align: middle;
    position: relative;
    float: left;
}
.photo_like_button{
    width: auto;
    float: right;
    margin: 8px 14px 8px 0px;
}
.photo_icons__icon + .photo_icons__icon { margin-left: 1em; }

.border-video-page.video_info {
    border-top: 0;
}
.b-feed-content__profile-avatar--video{
    width: 33%;
}

.photo_icons__comment-number, .photo_icons__favorities, .video_icons__credits{
    display: inline-block;
    color: #025EEE;
    font-size: 0.9em;
    margin: 14px 0 0 15px;
}
.photo_icons__text{
    color: black;
    font-size: 0.8em;
}
.photo_button {
    background: @main-link-color;
    padding: 6px 0.975em 7px;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    vertical-align: top;

    &:hover { background-color: darken(@main-link-color, 5%)}
}
.photo_button_fav{
    padding: 7px 0.975em 8px;
}
.photo_like_button__icon{
    color: @white;
    font-weight: normal;
    font-size: 0.9em;
    text-shadow: 0 -1px 1px #003C71;
    vertical-align: middle;
}
.photo_like_button__icon--icon { font-size: 1.2em; }