/*--------------------------Remove Profile pop-ups---------------------------*/

.b-popup.b-remove-profile input[type=checkbox] {
    top: auto !important;
    left: -9999px !important;
}

.inline{
    display: inline-block;
}

.relative{
    position: relative;
}

.b-popup.b-remove-profile {
  margin: 0 auto;
  ._radius(10px);
  max-width: 754px;
  position: relative;
  .meta-button-wrap {
    z-index: 1000;
    top: 0;
    right: 0;
  }
  .b-popup-head {
    .title {
      font: 600 16px/20px @popupStopAction-font_600;
      max-width: 550px;
    }
  }
  .b-popup-content {
    padding: 15px 15px;
    min-height: 200px;
    position: relative;
    z-index: 2;
    &.step-3 {
      .b-value > .b-options-list {
        margin: 12px 0 0;
      }
      li > .b-options-list {
        margin: 7px 0 5px 20px;
      }
      .b-input {
        margin: 12px auto 0;
      }
    }
    &.step-4 {
      p {
        max-width: 490px;
      }
    }
    &.step-5 {  
      p {
        max-width: 490px;
      }
    }
    &.cancel-billing {
        min-height: 30px;
    }
    &.enter-code,
    &.email-verificate {
      min-height: 230px;
      .form {
        margin: 32px 0 30px;
      }
    }
    &.enter-code {
      .form {
        width: 100px;
      }
    }
    &.via-code,
    &.via-phone-code,
    &.has-been-cancelled {
      min-height: 140px;  
      p {
        margin-bottom: 12px;
      }
    }
    .title {
      margin-bottom: 10px;
      font-size: 26px;
      color: inherit;
    }
  }
  .bottom-info {
    clear: both;
    padding-top: 60px;
    span {
      display: block;
    }
  }
  .b-data-row {
    position: relative;
    padding-top: 15px;
    text-align: center;
    clear: both;
    &.error {
      .b-error {
        display: block;
      }
    }
    .b-value, .b-error {
      display: inline-block;
      vertical-align: top;
    }
    .b-name {
      float: left;
      margin: 0 0 6px 0;
    }
    .b-value {
      width: 100%;
    }
    .b-error {
      color: @popupStopAction-text_error;
      font-family: @popupStopAction-font_600;
      font-size: 11px;
      text-align: center;
      margin: 3px 0 -3px 0;
      display: none;
    }
  }
  .b-input {
    margin-top: 12px;
    width: 490px;
    .b-input-wrap {
      span {
        color: @popupStopAction-text_light;
        margin-bottom: 2px;
        display: block;
      }
      .message-input {
        height: 100px;
      }
    }
  }
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 15px 15px;
    ._box-sizing;
    width: 100%;
    text-align: right;
    ._clearfix;
    min-width: 100px;
    .btn {
      &:first-letter {
        text-transform: uppercase;
      }
      &.next {
        margin-left: 6px;
      }
    }
  }
  .b-keep-records {
    float: left;
    position: relative;
    display: inline-block;
    margin: 5px 0;
    color: @popupStopAction-text_light;
    font-size: 11px;
    .b-tooltip {
      display: none;
      position: absolute;
      bottom: 25px;
      left: -10px;
      width: 300px;
      padding: 12px 15px;
      color: @popupStopAction-tooltip_text;
      font: 13px/18px @popupStopAction-font_400;
      text-align: left;
      ._radius(5px);
      background: @popupStopAction-tooltip_bg;
      &:before{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: 100%;
        left: 11px;
        border: 5px solid transparent;
        border-top-color: @popupStopAction-tooltip_bg;
      }
    }
    &:hover .b-tooltip {
      display: block;
    }
  }
  .steps-wrap {
    float: left;
    text-align: left;
    .step-number {
      font-size: 20px;
      display: inline-block;
      margin-top: 5px;
    }
    .step-map {
      display: inline-block;
      vertical-align: top;
      position: relative;
      height: 1px;
      width: 195px;
      background-color: @popupStopAction-step_bg;
      margin: 14px 0 0 15px;
      .items {
        ._radius(15px);
        position: absolute;
        width: 11px;
        height: 11px;
        background-color: @popupStopAction-step_bg;
        border: 2px solid @popupStopAction-step_bg;
        top: -7px;
        &.active {
          border-color: @popupStopAction-text_link;
          &:before {
            ._radius(10px);
            content: '';
            width: 7px;
            height: 7px;
            position: absolute;
            top: 2px;
            left: 2px;
            background-color: @popupStopAction-text_link;
          }
        }
        &.pass {
          background-color: @popupStopAction-step_bg;
          &:before {
            content: '';
            position: absolute;
            width: 11px;
            height: 8px;
            background: @popupStopAction-sprite_url no-repeat -514px -78px;
            top: 1px;
            left: 0;
          }
        }
        &.item-2 {
          left: 45px;
        }
        &.item-3 {
          left: 90px;
        }
        &.item-4 {
          left: 135px;
        }
        &.item-5 {
          left: auto;
          right: 0;
        }
      }
    }
  }
  .support {
    margin-top: 31px;
  }
  .left {
    float: left;
    width: 265px;
    position: relative;
    span {
      display: block;
      margin-top: 16px;
    }
  }
  .right {
    float: right;
    width: 250px;
  }
  .form {
    width: 259px;
    margin: 32px auto 30px;
    ._clearfix;
    .link {
      display: block;
      border-bottom: none;
      margin-top: 30px;
      color: @popupStopAction-text_link;
      &:hover {
        border-bottom: none;
      }
    }
    span {
      &.desc {
        color: @popupStopAction-text_light;
        margin-bottom: 2px;
        display: block;
      }
    }
  }
  .b-loss {
    margin: 11px 0;
    padding: 0 185px 0 0;
    &>li {
      position: relative;
      padding-left: 14px;
      margin-top: 7px;
      &:first-child {
        margin: 0;
      }
      &:before {
        ._radius(7px);
        content: '';
        width: 6px;
        height: 6px;
        position: absolute;
        left: 0;
        top: 7px;
        background-color: @online;
      }
    }
  }
  .b-or {
    font-size: 20px;
    color: @popupStopAction-text_light;
    text-align: center;
    position: absolute;
    top: 59px;
    right: -15px;
  }
  .call-btn {
    text-align: left;
    margin: 15px 0 0;
    width: 237px;
    .btn-update {
      min-width: 180px;
    }
  }
  .phone-number {
    font-size: 32px;
    line-height: 1em;
    display: block;
    color: @popupStopAction-phone_num_text;
    margin-top: 4px;
  }
  input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    ._opacity(.8);
  }
  .b-options-list {
    li {
      margin-bottom: 6px;
    }
  }
  .title {
    font-weight: 300;
    span {
      display: block;
    }
  }
  .b-settings-row {
    margin-top: 25px;
  }
  .b-options-list {
    li {
      overflow: hidden;
      clear: both;
      label {
        display: inline-block;
        position: relative;
        cursor: pointer;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .radio-button {
    position: relative;
    top: 1px;
  }
  .b-settings-notifications {
    .b-setting {
      width: 275px;
    }
    .b-options-list {
      font-size: 0;
      li {
        height: 16px;
      }
      .header {
        margin-bottom: 6px;
        .option {
          float: left;
          font-size: 11px;
          font-family: @popupStopAction-font_600;
          font-weight: 600;
          color: @popupStopAction-list_header_text;
        }
      }
      label {
        height: 16px;
      }
      .label, .option {
        display: inline-block;
      }
      .label {
        width: 305px;
        font-size: 14px;
        ._box-sizing;
        padding-right: 20px;
      }
      .option {
        float: left;
        width: 50px;
        vertical-align: top;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .b-settings-options {
    margin-bottom: 37px;
  }
  .member-status {
    margin-top: 0;
    .btn {
      margin: 0 0 0 40px;
      padding: 10px 36px 8px;
      line-height: 20px;
      max-width: 200px;
      display: inline-block;
      vertical-align: middle;
    }
    .value {
      max-width: 275px;
      display: inline-block;
      vertical-align: middle;
      font-family: @popupStopAction-font_600;
      font-weight: 600;
      .info {
        font-family: @popupStopAction-font_300;
        font-weight: 300;
      }
    }
  }
  .btn {
    padding-left: 15px;
  }
  .cancel {
    max-width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    min-width: 100px;
    &.short {
      max-width: 90px;
    }
  }
  .next {
    max-width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    min-width: 100px;
    &.long {
      max-width: 170px;
    }
  }
  .b-setting {
    font-size: 16px;
    line-height: 1em;
    margin-bottom: 13px;
  }
}

.remove-acc_pop_up__button {
    cursor: pointer;
    line-height: 30px;
    padding: 0 10px;
    min-width: 100px;
    text-align: center;
    font-size: 0.875em;
    font-weight: 700;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.15);
    .border-radius;
    .inline;

    &--red {
        background-color: #dc1f26;
        color: #fff !important;
     }
    &--red:hover, &--red:active { background-color: darken(#dc1f26, 5%); }

    &--grey {
        background-color: @grey;
        color: #051823 !important;
    }
    &--grey:hover, &--grey:active { background-color: darken(@grey, 5%); }

    &--small-font { font-size: 0.75em; }

    &--long { width: 150px; }

    &--left { float: left; }

    &--right { float: right; }
}

.icon-Hint--remove-acc {
    float: right;
    color: #8a92a3 !important;
    font-size: 1.7em;
    margin: 2px 0 0 0.4em;
}


.remove-acc_pop_up {
    position: absolute;
    top: 155px;
    width: 100%;
    padding: 0 1em;
    z-index: 1005;
    display: none;

    &.show { display: block; }
}

.remove-acc_pop_up__container {
    background-color: #fff;
    .border-radius;
    padding: 10px 15px 0px 12px;
    margin: 0 auto;
    max-width: 754px;
    position: relative;
}

.remove-acc_pop_up__head {
    margin-bottom: 25px;

    &--shure-stage { margin-bottom: 30px; }
}

.remove-acc_pop_up_titles {
    color: @title-color;
    font-weight: 700;
}

.remove-acc_pop_up__title {
    font-size: 1em;
    .remove-acc_pop_up_titles;
    margin-bottom: 5px;

    & b { color: #dc1f26; }
}

.remove-acc_pop_up__stage-description {
    .remove-acc_pop_up_titles;
    font-size: 0.75em;

    & p { margin-bottom: 14px; }
}

.remove-acc_pop_up__grey-wrapper {
    background-color: @grey;
    .border-radius;
    overflow: hidden;

    &__password { padding: 4px 12px; }
}

.remove-acc_pop_up__textfield {
    border: 0;
    background-color: #fff;
    .border-radius;
    height: 32px;
    padding: 5px 1em;
    width: 100%;
}

.remove-acc_pop_up__remind-password__link {
    float: right;
    line-height: 32px;
    font-size: 0.75em;
    text-decoration: underline !important;
}

.remove-acc_pop_up__remind-password__title {
    .remove-acc_pop_up_titles;
    font-size: 0.875em;
    float: left;
    line-height: 32px;
}

.remove-acc_pop_up__textfield__title {
    .remove-acc_pop_up_titles;
    font-size: 0.675em;
    float: left;
    line-height: 32px;
}

.remove-acc_pop_up__remind-password__textfield-wrap { margin: 0 7.4em; }

.remove-acc_pop_up__footer {
    margin-top: 15px;
    overflow: hidden;

    &--shure-stage { margin-top: 30px; }
}

.remove-acc_pop_up__data-row {
    -webkit-box-shadow: 0 1px 1px #fff inset;
    -moz-box-shadow: 0 1px 1px #fff inset;
    box-shadow: 0 1px 1px #fff inset;
    border-top: 1px solid #e8eaef;
    line-height: 24px;
    padding: 7px 15px 6px 12px;
    overflow: hidden;

    &:first-child {
        border-top: 0;
        -webkit-box-shadow: 0;
        -moz-box-shadow: 0;
        box-shadow: 0;
    }

    &--big { line-height: 32px; }

    &--nopad { padding: 8px 0 7px 12px; }

    &--radio-list {
        line-height: 23px;
        padding: 6px 15px 9px 12px;
    }

    &__title {
        .remove-acc_pop_up_titles;
        font-size: 0.75em;
        float: left;
    }
    &__title--big { font-size: 0.875em; }

    &__membership {
        float: right;
        font-size: 0.75em;
        margin-right: 1.25em;
    }
}

.activity-notifications-checks {
    float: right;
    margin-top: -3px;

    &__item {
        display: inline-block;
    }
    &__item + &__item { margin-left: 2em; }
}

.checkbox-wrap {
    .relative;

    & .checkbox-item--hide[type="checkbox"]:checked + label .checkbox-item--show, & .radiobox-item--hide[type="radio"]:checked + label .radiobox-item--show { border: 1px solid @main-link-color; }
    & .checkbox-item--show, & .radiobox-item--show { vertical-align: middle !important; }
    & .checkbox-item__somelabel {
        position: static;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        padding: 0;
    }

    & .radiobox-item--hide[type="radio"] + label .radiobox-item--show {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        position: relative;
    }

    & .radiobox-item--hide[type="radio"]:checked + label .radiobox-item--show { background-image: none; }

    & .radiobox-item--hide[type="radio"]:checked + label .radiobox-item--show:after {
        position: absolute;
        width: 9px;
        height: 9px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        background-color: @main-link-color;
        left: 2px;
        top: 2px;
        content: "";
    }
}

.remove-acc_pop_up__titled-group {
    margin-top: 22px;

    &__head {
        overflow: hidden;
        margin-bottom: 10px;
        padding-left: 5px;
    }
}

.remove-acc_pop_up__notifications {
    float: right;
    margin-top: -2px;

    &__item {
        .inline;
        color: #0074d7;
        font-size: 0.75em;
        line-height: 0.875em;
        font-weight: 700;
        width: 4em;
        text-align: center;
        vertical-align: middle;
    }

    & .checkbox-item--hide[type="checkbox"] + label .checkbox-item--show, & .radiobox-item--hide[type="radio"] + label .radiobox-item--show { margin-right: 0; }
}

.remove-acc_pop_up_divider {
    background-color: @grey;
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: -15px;
}

.remove-acc_pop_up__remove-aftermath {
    margin: 0 0 40px;
    padding-left: 12px;

    &__row {
        color: @title-color;
        font-size: 1em;
        font-weight: normal;
        margin-bottom: 20px;
        padding-left: 30px;
        position: relative;
    }

    &__row .icon-Check {
        position: absolute;
        left: 0;
        color: #4bda44;
    }
}

.remove-acc_pop_up__shure-stage-title {
    color: #dc1f26;
    font-size: 1em;
    font-weight: 700;
    margin: 20px 0 4px;
}

/* Unscribe styles */
.unscribe-b-wrap {
    display: table;
    width: 100%;
}
.unscribe-b-wrap__content {
    display: table-cell;
    width: 45%;
    vertical-align: top;

    &.unscribe-b-wrap__content--center{
        width: 10%;
        text-align: center;
        vertical-align: middle;
        font-size: 1.5em;
    }
}
.unscribe-b-wrap__content-item--user-id{
    margin: 15px 0 10px;
}
.unscribe-b-wrap__content-item--id{
    color: @main-link-color;
    font-size: 3em;
}
a.unscribe-b-wrap__content-item-btn {
    display: block;
    width: 100%;
    background: #dc1f26;
    max-width: 140px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    padding: 0.35em 0;
    font-size: 1.5em;
    margin: 10px auto;
    &:hover{
        background: #c61c22;
        color: #ffffff;
    }
}

.remove-acc_pop_up__status.remove-acc_pop_up__status--save,
.remove-acc_pop_up__status.remove-acc_pop_up__status--error {
  font-size: 0.8em;
  color: #0eb006;
}
.remove-acc_pop_up__status.remove-acc_pop_up__status--error {
  color: #d70000;
}
.icon-status {
  font-size: 1.25em;
  padding-right: 5px;
}
.icon-status.icon-Attention {
  font-size: 1.5em;
  position: relative;
  top: 3px;
}

/*[END] Unscribe styles*/
@media screen and (max-width: 660px) {
    .activity-notifications-checks__item + .activity-notifications-checks__item { margin-left: 1em; }
}

@media screen and (max-width: 600px) {
    .activity-notifications-checks {
        float: left;
        width: 100%;
    }
}
