@popupStopAction-img_url: "../images";
@popupStopAction-sprite_url: url("@{popupStopAction-img_url}/sprite.png");

@popupStopAction-text_def: #333;
@popupStopAction-text_light: #999;

@popupStopAction-text_error: #ff1940;
@popupStopAction-text_light: #999;
@popupStopAction-text_link: #ff8400;

@popupStopAction-step_bg: #fff;

@popupStopAction-font_300: 'Open Sans Light', Arial, helvetica, sans-serif;
@popupStopAction-font_400: 'Open Sans', Arial, helvetica, sans-serif;
@popupStopAction-font_600: 'Open Sans Semibold', Arial, helvetica, sans-serif;
@popupStopAction-tooltip_bg: #ffc44c;
@popupStopAction-tooltip_text: #262626;
@popupStopAction-phone_num_text: #77b200;
@popupStopAction-list_header_text: #b3b3b3;
@popupStopAction-marker_bg: #66cc66;
@popupStopAction-step_bg: #c1c1c1;