.b-popup-overlay
  .b-popup-table
    .b-popup-cell
      if popupType === "paySuccess"
        .b-popup.b-popup-success
          .meta-button-wrap
            a.btn-meta.btn-close(data-close, title=_t("autoPopup", "text.close"))
          if data.features && (data.membership || data.offer || data.lifetimeOffer)
            p.title!= _t('autoPopup','text.pay-success-membership-and-features', {"{upgradepackage}":data.features, "{sitename}":data.siteName, "{br}":"<br/>"})
          else if data.features
            p.title!= _t('autoPopup', 'text.pay-success-features-only',{"{upgradepackage}":data.features,"{sitename}":data.siteName,"{br}":"<br />"})
          else if(data.membership || data.offer || data.lifetimeOffer)
            p.title!= _t('autoPopup', 'text.pay-success-membership-only',{"{sitename}":data.siteName,"{br}":"<br />"})
          .btn-row
            button.btn.green.btn-continue(data-close)= _t("autoPopup", "text.continue")
          p.bolder= _t("autoPopup", "text.pay-success-information")
          p= _t("autoPopup", "text.pay-success-description")
  .b-loader
