.b-profile-feed-head
  .b-profile-feed-head__content-left.b-profile-feed-head__content-left--1em
    = _t("notificationNewsFeed", "title.newsfeed")
    span.changes-status.changes-status--save.save-status.inactive
      span.icon-status.icon-Check
      = _t("notificationNewsFeed", "text.saved")
.b-profile-feed-middle-content.gray.border-radius.b-profile-feed-middle-content--activity_notification
  form.b-profile-feed-middle-content__form
    - var listChunks = [];
    - var chunks = [];
    - each setting, name in settings
      - each val, key in setting
          - var chunk = {'name': name, 'setting': setting, 'key': key, 'val': val};
          - chunks.push(chunk);
          - if (chunks.length == 3) {
            - listChunks.push(chunks);
            - chunks = []
          - }
    - if (chunks.length) {
      - listChunks.push(chunks);
    - }

    each chunks in listChunks
      .b-profile-feed-middle-content__form_field.b-profile-feed-middle-content__form_field--activity_form.b-profile-feed-middle-content__form_field--notification
        each chunk in chunks
          .form_field__input.form_field__input--activity_form
            .form_field__input-b.relative
              input.checkbox-item--hide(data-checkbox="1", type='checkbox', data-name='#{chunk.name}', data-key="#{chunk.key}", checked=(chunk.setting[chunk.key]) ? true : false, id="#{chunk.name}", data-change-newsfeed-subscription="1")
              label.checkbox-item.checkbox-item--activity(for='#{chunk.name}')
                span.checkbox-item--show
                .checkbox-item__somelabel= _t("notificationNewsFeed", "title." + chunk.name)
