.main.loading { top: 0; }
.form-funnel {
  margin: 0 20px;
  background: @funnelPhotoUploadMotivation-form_bg;
  ._radius(5px);
  padding: 15px 0;
  ._box-sizing;
  color: @funnelPhotoUploadMotivation-form_color;
  position: relative;
  z-index: 2;
  .funnel-title {
    font-size: 18px;
    padding-bottom: 15px;
  }
  > .item:first-child, > .item:first-child + .item { border-bottom: 1px solid @funnelPhotoUploadMotivation-border; }
  > .item:first-child + .item {
    padding: 10px 0;
  }
  input {
    padding: 0 10px;
    text-align: left;
  }
  .list {
    margin-left: 20px;
    li {
      margin-bottom: 5px;
      font-size: 14px;
      text-align: left;
      list-style: none;
      &:before {
        content: '';
        position: relative;
        top: 3px;
        display: inline-block;
        width: 10px;
        height: 14px;
        margin: 0 6px 0 -16px;
        background: url(~"@{funnelPhotoUploadMotivation-images_path}/lp-icons.png") no-repeat -90px -17px;
        background-size: 100px;
      }
    }
  }
  .item .item { margin: 10px; }
  .button-choose {
    padding: 13px 8px;
    font-size: 16px;
  }
  .button-fb {
    padding: 13px 8px;
    font-size: 16px;
    background-color: @funnelPhotoUploadMotivation-button_fb;
  }
  .button-skip {
    padding: 13px 8px;
    color: @funnelPhotoUploadMotivation-text_sub;
    background-color: @funnelPhotoUploadMotivation-button_skip;
  }

  .pic {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 5px 1% 5px 0;
    width: 70px;
    height: 70px;
    overflow: hidden;

    img { max-width: 100%; }
    a {
      display: block;
      width: 70px;
      height: 70px;
    }
    &.sample-1 {
      background: url(~"@{funnelPhotoUploadMotivation-images_path}/user_sample_1.jpg");
      background-size: 100%;
    }
    &.sample-2 {
      background: url(~"@{funnelPhotoUploadMotivation-images_path}/user_sample_2.jpg");
      background-size: 100%;
    }
    &.sample-3 {
      background: url(~"@{funnelPhotoUploadMotivation-images_path}/user_sample_3.jpg");
      background-size: 100%;
    }
    &>.status {
      position: absolute;
      z-index: 2;
      top: 4px;
      right: 4px;
      width: 9px;
      height: 9px;
      ._radius(10px);
      background: @funnelPhotoUploadMotivation-user_offline;
      &.online {
        background: @funnelPhotoUploadMotivation-user_online;
      }
       &.recent {
        background: @funnelPhotoUploadMotivation-user_recent;
      }
    }
    .tags {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 15;
      .tag {
        display: inline-block;
        vertical-align: top;
        font-size: 10px;
        line-height: 14px;
        padding: 0px 2px;
        background: #bcbcbc;
        color: @funnelPhotoUploadMotivation-tag_color;
        text-decoration: none;
        &.new {
          background: @funnelPhotoUploadMotivation-new_bg;
        }
      }
    }
    .pic-counter {
      position: absolute;
      left: 1px;
      bottom: 1px;
      font-size: 10px;
      color: @funnelPhotoUploadMotivation-pic_counter_text;
      background: @funnelPhotoUploadMotivation-overlay;
      ._radius(2px);
      padding: 2px 4px 1px 15px;
      text-decoration: none;
      &:before {
        content: "";
        position: absolute;
        display: block;
        top: 2px;
        left: 3px;
        width: 12px;
        height: 11px;
        background: @funnelPhotoUploadMotivation-sprite -155px -13px no-repeat;
        background-size: 213px;
      }
    }
  }
}
