/* images */
@funnelPhotoUploadMotivation-images_path: "../images";
@funnelPhotoUploadMotivation-sprite: url(~"@{funnelPhotoUploadMotivation-images_path}/icons.png");
/* end: images */

/* text */
@funnelPhotoUploadMotivation-text_sub: #8a8a8a;
/* end: text */

/* buttons */
@funnelPhotoUploadMotivation-button: fade(#1cbb1c, 80%);
@funnelPhotoUploadMotivation-button_fb: fade(#3b5998, 80%);
@funnelPhotoUploadMotivation-button_skip: fade(#292929, 80%);
/* end: buttons */

/* general styles */
@funnelPhotoUploadMotivation-user_offline: #e7e3da;
@funnelPhotoUploadMotivation-user_online: #1cbb1c;
@funnelPhotoUploadMotivation-user_recent: #c7de2a;
@funnelPhotoUploadMotivation-tag_color: #fff;
@funnelPhotoUploadMotivation-new_bg: #e83434;
@funnelPhotoUploadMotivation-pic_counter_text: #fff;
@funnelPhotoUploadMotivation-overlay: fade(#000, 40%);
/* end: general styles */

@funnelPhotoUploadMotivation-form_bg: fade(#fff, 80%);
@funnelPhotoUploadMotivation-border: #bfbfbf;
@funnelPhotoUploadMotivation-form_color: #000;