@mainStylest-placeholder-color: #999;

::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

html {
  scrollbar-face-color: @main-window_border;
  scrollbar-shadow-color: @main-window_border;
  scrollbar-3dlight-color: @main-window_border;
  scrollbar-highlight-color: @main-window_border;
  scrollbar-darkshadow-color: @main-window_border;
  scrollbar-arrow-color: none;
  scrollbar-track-color: none;
}

@font-face {
  font-family: "dosisregular";
  font-weight: normal;
  font-style: normal;

  src: url("../fonts/dosis-regular-webfont.eot");
  src: url("../fonts/dosis-regular-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/dosis-regular-webfont.woff") format("woff"),
  url("../fonts/dosis-regular-webfont.ttf") format("truetype"),
  url("../fonts/dosis-regular-webfont.svg#dosisregular") format("svg");
}

@font-face {
  font-family: "dosissemibold";
  font-weight: normal;
  font-style: normal;

  src: url("../fonts/dosis-semibold-webfont.eot");
  src: url("../fonts/dosis-semibold-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/dosis-semibold-webfont.woff") format("woff"),
  url("../fonts/dosis-semibold-webfont.ttf") format("truetype"),
  url("../fonts/dosis-semibold-webfont.svg#dosisregular") format("svg");
}

.clear {
  clear: both;
}

.hidden {
  visibility: hidden !important;
  opacity: 0 !important;
}

.display-none {
  display: none !important;
}

.text-link {
  font: inherit;
  text-decoration: underline;
  color: inherit;
  border: none;
  outline: none;
  background: none;
}

h1 {
  font: 300 26px/30px @main-font_300;
  color: @main-text_h1;
}

h2 {
  font: 600 16px/20px @main-font_300;
  letter-spacing: .025em;
  text-transform: uppercase;
  color: @main-text_h2;
}

h3 {
  font: 300 18px/1em @main-font_300;
  color: @main-text_h3;
}

h4 {
  font: 600 14px/1em @main-font_300;
  color: @main-text_h4;
}

h5 {
  font: 600 12px/1em @main-font_300;
  color: @main-text_h5;
}

p {
  a {
    color: @main-text_link;
    &:hover {
      color: @main-text_link_hover;
    }
  }
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}

body {
  ._placeholder(@mainStylest-placeholder-color, "16px/1.4 @{main-font_300}");
  height: 100%;
  font: 16px/20px @main-font_300;
  color: @main-text_def_dark;
  background: @main-body_bg;
  ::-webkit-scrollbar {
    width: 2px;
    height: 5px;
  }
  ::-webkit-scrollbar-track {
    background: @main-scroll_track;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: @main-scroll_thumb;
  }
  ::-webkit-scrollbar-track-piece {
    background-color: none;
  }
}

.layout {
  position: relative;
  min-width: 740px;
  min-height: 100%;
  &.scrolled {
    .to-top {
      display: block;
    }
  }
  .l-content {
    ._clearfix;
    min-height: 500px;
    padding-top: 130px;
    &.unlogged {
      padding-top: 110px;
    }
    &.search-opened {
      padding-top: 536px;
    }
    &.payment {
      padding-top: 146px;
    }
    .l-frame {
      &.loading {
        &:before {
          display: block;
          position: fixed;
          z-index: 600;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: "";
          background: fade(@main-loader_bg, 50%) url("@{img_url}/loader-1.gif") no-repeat center center;
        }
      }
    }
  }
  .loader-wrap {
    display: none;
    margin: 26px 0 17px;
    text-align: center;
    .loader-image {
      display: inline-block;
      margin-right: 6px;
    }
    .loader-tip {
      position: relative;
      top: 2px;
    }
  }
}
.to-top {
  ._radius(0 3px 3px 0);
  display: none;
  position: fixed;
  z-index: 20;
  bottom: 20px;
  left: -2px;
  padding: 10px 20px;
  font: 16px @main-font_300;
  letter-spacing: .025em;
  text-transform: uppercase;
  color: @main-text_def;
  outline: none;
  background: fade(@main-button_bg, 90%);
  &:hover {
    background: @main-button_bg;
  }
  &:active {
    background: fade(@main-button_bg, 90%);
  }
}

.switcher {
  ._radius();
  display: inline-table;
  .switcher-cell {
    display: inline-block;
    margin: 0 0 5px 6px;
    vertical-align: top;
    &:first-child {
      margin-left: 0;
    }
    &.active {
      button,
      a {
        ._radius();
        color: @main-text_def_dark;
        background: @main-button_active;
        &:hover {
          color: @main-text_def_dark;
          background: @main-button_active;
        }
      }
    }
    button,
    a {
      ._text-overflow();
      ._box-sizing();
      ._radius();
      display: block;
      padding: 12px 19px;
      font: 600 12px/16px @main-font_300;
      cursor: pointer;
      text-decoration: none;
      letter-spacing: .025em;
      text-transform: uppercase;
      color: @main-text_def_dark;
      outline: none;
      background: none;
      background: @main-switcher_bg_def;
      &:hover {
        color: @main-text_btn_hover;
      }
    }
  }
  &.small {
    button,
    a {
      min-width: 72px;
      padding: 7px 10px 7px;
    }
  }
  &.extra-small {
    button,
    a {
      min-width: 72px;
      padding: 7px 10px;
    }
  }
}
.select-widget {
  ._radius();
  ._box-sizing;
  display: inline-block;
  position: relative;
  height: 40px;
  margin: 0 7px 0 0;
  padding: 0;
  cursor: pointer;
  text-align: left;
  vertical-align: top;
  background: @main-select_widget_bg;
  &:after {
    position: absolute;
    z-index: 2;
    top: 17px;
    right: 10px;
    width: 0;
    height: 0;
    content: "";
    border-top: 6px solid @main-arrow_bg;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
  }
  &:hover {
    background: fade(@main-select_widget_bg, 60%);
  }
  &.select-range {
    cursor: default;
    &:after {
      display: none;
    }
    .select-input {
      width: 29px;
    }
    .b-dropdown-menu {
      width: 64%;
    }
  }
  &.small {
    &.select-range {
      .range-start {
        width: 33%;
        .select-input {
          width: 100%;
          padding-left: 44%;
        }
      }
      .range-end {
        float: right;
        width: 33%;
        .select-input {
          width: 100%;
          padding-right: 44%;
        }
      }
    }
    input.value {
      padding-bottom: 7px;
    }
    .range-start {
      display: inline-block;
      .select-input {
        padding: 5px 0 4px 14px;
      }
    }
    .range-end {
      display: inline-block;
      .select-input {
        padding: 5px 10px 4px 0;
      }
      .b-dropdown-menu {
        right: 0;
      }
    }
    .separator {
      padding: 5px 9% 0;
    }
    .b-dropdown-menu {
      top: 36px;
    }
  }
  .value {
    ._radius();
    display: block;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 10px 10px 9px;
    font-size: 16px;
    outline: none;
    background: none;
  }
  .value,
  .value span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .select-single {
    &.active {
      .b-dropdown-menu {
        display: block;
        .select-single {
          .b-dropdown-menu {
            display: none;
          }
        }
      }
    }
  }
  .range-start {
    display: inline-block;
    width: 33.3%;
    vertical-align: top;
    .select-input {
      width: 100%;
      padding: 10px 0 10px 10px;
    }
  }
  .range-end {
    display: inline-block;
    float: right;
    width: 33.3%;
    vertical-align: top;
    .select-input {
      width: 100%;
      padding: 10px 10px 10px 0;
      text-align: right;
    }
    .b-dropdown-menu {
      right: 0;
      left: auto;
    }
  }
  .select-input {
    position: relative;
    z-index: 2;
    padding: 10px 30px 10px 9px;
    vertical-align: top;
    border: none;
    background: none;
  }
  .value {
    .select-input {
      height: auto;
      padding: 0;
    }
  }
  .separator {
    ._box-sizing;
    display: inline-block;
    width: 27.3%;
    height: 100%;
    padding: 8px 0;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    vertical-align: top;
  }
  .b-dropdown-menu {
    position: absolute;
    top: 42px;
    left: 0;
    width: 100%;
    &:before {
      display: none;
    }
    .nav {
      width: auto !important;
      max-height: 181px;
      margin: 5px 2px 3px 0;
      padding: 0 6px 5px !important;
      li {
        ._radius();
        ._box-sizing();
        width: 100%;
        padding: 4px 3px;
        cursor: pointer;
        white-space: nowrap;
        &:hover {
          background: @main-list_hover;
        }
      }
      span {
        display: block;
      }
    }
  }
}
@media all and (-webkit-min-device-pixel-ratio:0) {
  .select-widget.select-range .b-dropdown-menu {
    width: 40%;
    text-align: center;
  }
}

.select-widget {
  &.active {
    .b-dropdown-menu {
      display: block;
      .select-widget {
        .b-dropdown-menu {
          display: none;
        }
      }
    }
  }
}

.form-item-checkbox {
  margin-top: 9px;
}
.checkbox-info {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  word-break: break-word;
  &:hover {
    cursor: pointer;
  }
}

.pattern-bg {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  background: @main-sidebar_bg;
}

.content-top {
  position: relative;
  z-index: 5;
  margin: 0 auto;
  padding: 0;
  .sidebar-holder {
    float: right;
    width: 240px;
  }
  .content-settings {
    ._clearfix();
  }
  .switcher {
    float: left;
    margin-left: 20px;
  }
  .switcher-cell {
    button,
    a {
      max-width: 130px;
    }
  }
}

.screenname-search-container {
  ._radius(5px);
  float: right;
  position: relative;
  width: 240px;
  margin-right: 20px;
  background-color: @separator;
  .b-error {
    ._shadow(0 0 8px fade(@black, 25%));
    ._radius(5px);
    display: none;
    overflow: visible;
    position: absolute;
    z-index: 15;
    top: 0;
    right: 104%;
    width: 320px;
    min-height: 20px;
    padding: 10px;
    line-height: 20px;
    text-align: left;
    white-space: normal;
    color: @white;
    background-color: @text-error;
    &:before {
      position: absolute;
      top: 16px;
      left: 100%;
      width: 0;
      height: 0;
      content: "";
      border: 6px solid transparent;
      border-left-color: @text-error;
    }
  }
  .b-error.active {
    display: block;
    & + input {
      color: @text-error;
      background-color: @theme-input-bg-error;
    }
  }
  .b-dropdown-menu {
    display: none;
  }
  &.warning {
    input[type=text] {
      background-color: @theme-input-bg-error;
    }
  }
  input[type=text] {
    ._text-overflow();
    padding: 0 35px 0 10px;
    color: @main-text_def_dark;
    background-color: @transparent;
    &::-moz-placeholder {
      line-height: 40px;
    }
  }
  .btn-search {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: none;
    &:before {
      ._sprite(@toolbar-distance-search);
      display: inline-block;
      margin-top: 2px;
      content: "";
      vertical-align: top;
    }
    &:hover {
      &:before {
        ._opacity(.8);
      }
    }
  }
}

.content-main {
  ._clearfix();
  position: relative;
  z-index: 2;
  padding-bottom: 135px;
  &.left-sidebar {
    .sidebar {
      float: left;
      width: 200px;
      min-width: 200px;
      background: transparent;
    }
    .main-column {
      margin: 0 0 0 200px;
    }
  }
  &.no-sidebar {
    .main-column {
      margin: 0;
    }
  }
  .phone-number {
    display: block;
    margin-top: 15px;
    font-size: 26px;
  }
}

.main-column {
  position: relative;
  padding: 0 15px;
}

.naughty-menu {
  display: none;
  position: absolute;
  z-index: 4;
  top: 90px;
  right: 0;
  left: 0;
  padding: 8px 5px 5px;
  text-align: center;
  color: @main-naughty_menu_text;
  background: @main-naughty_menu_bg;
  &:after {
    display: table;
    clear: both;
    content: "";
  }
  .description {
    margin-bottom: 7px;
    padding: 0 30px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: .025em;
    text-transform: uppercase;
  }
  .switcher {
    background-color: transparent;
  }
}
.b-blur-message {
  display: none;
  position: absolute;
  z-index: 4;
  top: 50%;
  width: 100%;
  margin-top: -30px;
  font-family: @main-font_300;
  font-size: 16px;
  text-align: center;
  letter-spacing: .025em;
  text-transform: uppercase;
  color: @main-text_def;
}

.sidebar,
.sidebar-holder {
  float: right;
  min-width: 220px;
  max-width: 280px;
  height: 100%;
  background: @main-sidebar_bg;
}
.sidebar-widget {
  overflow: hidden;
  position: relative;
  padding: 20px;
  text-align: center;
  border-top: 1px solid @main-sidebar_widget_border;
  background: fade(@main-sidebar_widget_bg, 0%);
  &:first-child {
    border-top: 0;
  }
  span {
    display: block;
    margin-bottom: 3px;
    &.large {
      margin-bottom: 17px;
      font: 600 16px @main-font_300;
      line-height: 18px;
      letter-spacing: .025em;
      text-transform: uppercase;
    }
    &.outlined {
      ._radius;
      overflow: auto;
      min-height: 98px;
      max-height: 98px;
      margin-bottom: 10px;
      padding: 6px 9px;
      text-align: left;
      outline: none;
      background: @main-sidebar_widget_bg;
    }
    &.textarea {
      overflow: auto;
      max-height: 110px;
      margin-bottom: 0;
      padding-right: 13px;
      padding-bottom: 2px;
    }
  }
  .btn {
    width: 100%;
    &.short {
      float: left;
      width: 190px;
    }
  }
  .widget-banner {
    display: block;
    padding-top: 3px;
    text-align: center;
    img {
      display: inline-block;
    }
  }
  .tip-button {
    float: right;
    position: relative;
    top: 1px;
    right: 20px;
    cursor: pointer;
  }
  .refresh {
    ._radius();
    float: left;
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    outline: none;
    background: @main-sidebar_widget_refresh_bg;
    &:after {
      ._sprite(@refresh);
      position: absolute;
      top: 8px;
      right: 7px;
      content: "";
    }
    &:hover {
      background: lighten(@main-sidebar_widget_refresh_bg, 5%);
    }
    &:active {
      background: @main-sidebar_widget_refresh_bg;
    }
  }
}
.sidebar-section {
  margin-top: 20px;
  padding: 13px 0 0;
  border-top: 1px solid @main-sidebar_bg;
  .title {
    display: inline-block;
    margin-bottom: 13px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .025em;
    text-transform: uppercase;
    color: @main-text_light;
  }
  ul {
    font-size: 12px;
    line-height: 16px;
    list-style-type: none;
    color: @main-text_light;
    li {
      position: relative;
      margin-bottom: 4px;
      padding-left: 9px;
      color: @main-text_light;
      &:before {
        ._radius(4px);
        position: absolute;
        top: 5px;
        left: 1px;
        width: 4px;
        height: 4px;
        content: "";
        background: @main-text_light;
      }
    }
  }
}

.tip-button {
  ._radius();
  ._box-sizing;
  ._sprite(@tip);
  display: inline-block;
  padding: 0;
  font: 600 11px @main-font_300;
  text-align: center;
  color: inherit;
  outline: none;
  background-color: transparent;
  &.info {
    padding: 0;
    font-family: @main-font_tip;
    font-size: 12px;
    font-weight: 700;
    font-style: italic;
  }
  /*&:hover {
    background-color: fade(@main-button_bg_light, 30%);
  }
  &:active {
    background-color: fade(@main-button_bg_light, 20%);
  }*/
  &.grey {
    color: @main-text_def_dark;
    background: @main-button_bg_light;
    &:hover {
      background: lighten(@main-button_bg_light, 5%);
    }
    &:active {
      background: @main-button_bg_light;
    }
  }
}

.b-dropdown-menu {
  ._radius();
  ._shadow(0px 10px 20px fade(@main-tab_shadow_dark, 20%));
  display: none;
  position: absolute;
  z-index: 20;
  color: @main-text_def_dark;
  background: @main-drop_menu;
  &.active {
    display: block;
  }
  .nav {
    overflow: hidden;
    overflow-y: scroll;
  }
}

.btn {
  ._buttons(@main-button_bg_light);
  ._box-sizing();
  min-width: 100px;
  padding: 10px 8px;
  font: 700 16px/20px @main-font_300;
  cursor: pointer;
  text-align: center;
  &.small {
    ._text-overflow();
    padding: 8px 15px 6px;
    font-size: 12px;
    line-height: 16px;
  }
  &.green,
  &.btn-text-green {
    ._buttons(@main-button_bg_next);
  }
  &.orange {
    ._buttons(@main-button_bg_update);
  }
  &.grey {
    ._buttons(@main-button_bg_light);
  }
  &.disabled {
    ._buttons(@main-button_bg_info);
    cursor: default;
    color: fade(@main-text_def, 60%);
    background: @main-button_bg_info;
    &:hover {
      background: @main-button_bg_info;
    }
  }
  &.facebook {
    ._buttons(@main-button_bg_fb);
    color: @main-text_def;
  }
}

.meta-button-wrap {
  position: absolute;
  top: 5px;
  right: 5px;
  .btn-meta {
    display: inline-block;
    position: relative;
    width: 19px;
    height: 35px;
    vertical-align: top;
    outline: none;
    background: none;
    &:after {
      ._sprite(@popup-close);
      position: absolute;
      top: 9px;
      left: 5px;
      content: "";
    }
    &:hover {
      &:after {
        ._opacity(.7);
      }
    }
    &.btn-settings {
      &:after {
        ._sprite-position(@userNav-toggle);
      }
    }
    &.btn-close {
      &:after {
        ._sprite-position(@popup-close);
        left: 3px;
      }
    }
  }
}

.upgrade-banner {
  ._box-sizing;
  ._radius(0);
  padding: 13px 15px;
  font-family: @main-font_300;
  line-height: 15px;
  text-align: center;
  background: fade(@main-upgrade_banner_bg, 95%);
  .title {
    color: @main-text_def_dark;
  }
}

iframe {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 39px;
}

input,
textarea,
button {
  border: none;
}

input[type="text"],
input[type="password"],
textarea {
  ._box-sizing();
  ._transition(.2s);
  ._radius();
  &:focus {
    &::-moz-placeholder {
      color: transparent;
    }
    &:-ms-input-placeholder {
      color: transparent;
    }
    &::-webkit-input-placeholder {
      color: transparent;
    }
  }
}

input[type="text"],
input[type="password"] {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  padding: 0 10px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  resize: none;
  color: @main-text_def_dark;
  background: @main-input_bg;
  &.light {
    background: @main-window_bg;
  }
  &::-moz-placeholder {
    line-height: 30px;
  }
}

textarea {
  width: 100%;
  min-height: 38px;
  padding: 3px 0 0 9px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  resize: none;
  color: @main-text_def_dark;
  background: @main-input_bg;
  &.long {
    min-height: 79px;
  }
}

.textarea-wrap {
  ._radius();
  padding: 6px 2px 9px 0;
  background: @main-textarea_wrap_bg;
  &.black {
    border-color: @main-window_border;
    textarea {
      color: @main-text_def_dark;
    }
  }
}

.b-dropdown-menu {
  display: none;
  cursor: default;
}

input[type="radio"] {
  & {
    position: absolute;
    width: 14px;
    height: 14px;
    margin: 2px 5px 12px 0;
    & + span {
      padding-left: 17px;
    }
  }
  &:not(.default) {
    z-index: 2;
    cursor: pointer;
    opacity: 0;
  }
  &:not(.default) + span {
    ._box-sizing;
    position: relative;
    width: 100%;
    cursor: pointer;
    &:before {
      ._sprite(@radio);
      position: absolute;
      left: 0;
      margin-top: 2px;
      content: "";
    }
    &.black {
      &:before {
        ._sprite-position(@radio-dark);
      }
    }
  }
  &:checked:not(.default) + span {
    &:before {
      ._sprite-position(@radio-active);
    }
    &.black {
      &:before {
        ._sprite-position(@radio-dark-active);
      }
    }
  }
}

input[type="checkbox"] {
  & {
    position: absolute;
    margin: 0;
    vertical-align: top;
  }
  &:not(.default) {
    z-index: 2;
    width: 13px;
    height: 23px;
    margin-top: 1px;
    cursor: pointer;
    opacity: 0;
  }
  &:not(.default) + span {
    ._box-sizing;
    display: inline-block;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    &:before {
      ._sprite(@checkbox);
      position: absolute;
      left: 1px;
      margin-top: 4px;
      content: "";
    }
  }
  &:checked:not(.default) + span {
    &:before {
      ._sprite-position(@checkbox-active);
    }
  }
}

.error {
  input {
    background: @main-error_bg;
  }
}

.select {
  ._box-sizing;
  z-index: 3;
  width: 100%;
  height: 40px;
  font-family: inherit;
  cursor: pointer;
  color: @main-text_def_dark;
}
.b-side-feedback {
  ._rotate(-90deg);
  ._transform(origin, 100%, 100%);
  position: fixed;
  z-index: 800;
  top: 300px;
  left: -116px;
  .b-tooltip {
    ._rotate(90deg);
    ._radius();
    visibility: hidden;
    position: absolute;
    top: 70px;
    left: -10px;
    width: 135px;
    min-height: 71px;
    padding: 8px 10px;
    font-size: 16px;
    text-align: center;
    opacity: 0;
    color: @main-text_def;
    background: @main-naughty_menu_bg;
    &.active {
      ._opacity(1);
      display: block;
      visibility: visible;
    }
    &.bug {
      display: none;
    }
  }
  &:hover .b-tooltip {
    visibility: visible;
    opacity: 1;
  }
}
.btn.btn-side-feedback {
  ._radius(0 0 4px 4px);
  width: 145px;
  padding: 8px 15px;
  font: 10px @main-font_feedback;
  font-size: 15px;
  color: @main-text_def;
  background: fade(@main-button_bg, 90%);
  &:hover {
    background: @main-button_bg;
  }
  &:active {
    background: fade(@main-button_bg, 90%);
  }
}


.b-suggest {
  ._transition(.3s);
  ._radius();
  ._box-sizing;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  top: 100%;
  right: 0;
  width: 100%;
  margin: 5px 0 0;
  padding: 9px 0;
  opacity: 0;
  color: @main-suggest_color;
  border: 1px solid @main-suggest_border;
  background: @main-window_bg;

  filter: alpha(opacity=95);
  &.active {
    ._transition(opacity .1s);
    visibility: visible;
    opacity: 1;
    &:before {
      position: absolute;
      top: -7px;
      left: 11px;
      width: 13px;
      height: 8px;
      content: "";
      background: @img_url-sprite-old no-repeat -50px -64px;
    }
  }
  .suggest-item {
    ._box-sizing;
    width: 100%;
    margin-top: 13px;
    padding: 0 8px;
    line-height: 12px;
    cursor: pointer;
    word-wrap: break-word;
    &:first-child {
      margin-top: 0;
    }
    &:hover {
      background: @main-input_bg_hover;
    }
  }
}

.b-unexpected-error {
  ._box-sizing;
  ._transition(1s);
  ._opacity(0);
  visibility: hidden;
  position: absolute;
  z-index: 501;
  top: 10px;
  left: 10px;
  min-width: 100px;
  max-width: 50%;
  padding: 15px;
  color: @main-text_error_def;
  border: 1px solid @main-error_border;
  border-color: fade(@main-error_border, 25%);
  background: @main-error_bg;
  background: fade(@main-error_bg, 95%);

  filter: alpha(opacity=95);
  &.active {
    ._transition(opacity .2s);
    visibility: visible;
    opacity: 1;
  }
}
.my-profile-details,
.w-user-details {
  .b-tabs {
    ._radius(5px 5px 0 0);
    width: 100%;
    height: 38px;
    border-top: 1px solid @main-button_border;
    border-bottom: 1px solid @main-button_border;
    .b-tab-single {
      ._box-sizing;
      ._gradient(@main-button_start, @main-button_end);
      ._shadow(1px 0 0 fade(@main-tab_shadow_light, 50%));
      ._shadow(0 2px 3px fade(@main-tab_shadow_dark, 20%));
      display: inline-block;
      width: 33.33%;
      vertical-align: top;
      border-right: 1px solid @main-button_border;
      .ie8 & {
        background-color: @main-input_bg_hover;
      }
      .ie9 & {
        background-color: @main-input_bg_hover;
      }
      &:first-child {
        ._radius(5px 0 0 0);
        border-left: 1px solid @main-button_border;
      }
      &:last-child {
        ._radius(0 5px 0 0);
        border-right: 1px solid @main-button_border;
      }
      &:hover {
        ._gradient(@main-button_start, @main-button_end_hover);
      }
      &.active {
        ._shadow(0 2px 4px fade(@main-tab_shadow_dark, 20%));
        ._radius(5px 5px 0 0);
        position: relative;
        top: -5px;
        height: 44px;
        border: none !important;
        background: @main-window_bg;
        .b-tab-button {
          height: 44px;
          padding-top: 5px;
          color: @main-text_def;
        }
      }
      .b-tab-button {
        display: inline-block;
        width: 100%;
        height: 39px;
        font-family: @main-font_300;
        font-size: 14px;
        color: @main-tab_btn_color;
        outline: none;
        background: none;
      }
    }
  }
  .b-tabs-content {
    ._shadow(0 2px 3px fade(@main-tab_shadow_dark, 20%));
    ._radius(0 0 5px 5px);
    position: relative;
    z-index: 2;
    background: @main-window_bg;
    .b-tab-content-single {
      overflow: hidden;
      padding: 20px 0;
    }
  }
  .data-column-wrap {
    width: 100%;
    .data-single {
      ._box-sizing;
      display: inline-block;
      float: left;
      width: 33.33%;
      padding: 0 20px 18px 20px;
      text-align: left;
      border-right: 1px solid @main-separator;
      &:nth-child(3n) {
        border-right: none;
      }
      span {
        display: block;
        line-height: 18px;
        &.title {
          color: @main-text_light;
        }
      }
    }
  }
}
.footer {
  display: none;
  clear: both;
  position: absolute;
  z-index: 12;
  right: 280px;
  bottom: -25px;
  left: 0;
  padding: 30px 0 45px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  background: @main-body_bg;
  &.no-sidebar {
    right: 0 !important;
  }
  .footer-line {
    clear: both;
    width: 320px;
    height: 1px;
    margin: 14px auto 10px;
    border-bottom: 1px solid @main-text_def_dark;
  }
  .footer-link {
    /*min-width: 944px;*/
    clear: both;
    text-align: center;
    li {
      display: inline;
      margin: 0 2px;
      a {
        color: inherit;
      }
    }
  }
}
@media (max-width: 1329px) and (min-width: 1150px) {
  .sidebar-widget {
    .btn.short {
      width: 130px;
    }
  }
}
@media (max-width: 1359px) and (min-width: 1330px) {
  .sidebar-widget {
    .btn.short {
      width: 160px;
    }
  }
}

@media (max-width: 1230px) {
  .layout .l-content {
    &.search-opened {
      padding-top: 653px;
    }
  }
}

.ie9 {
  .pattern-bg {
    &:before,
    &:after {
      display: none;
    }
  }
  .pattern-inner {
    &:before,
    &:after {
      display: none;
    }
  }
}

.ie8 {
  .textarea-wrap {
    border: 1px solid @main-ie8_textarea_border;
  }
  .btn {
    &.green {
      background: @main-ie8_btn_border;
    }
    &.facebook {
      background: @main-ie8_btn_fb_border;
    }
  }
  .main-column {
    overflow: hidden;
  }
  .pattern-bg {
    &:before,
    &:after {
      display: none;
    }
  }
  .pattern-inner {
    &:before,
    &:after {
      display: none;
    }
  }
  .sidebar-widget {
    background: @main-ie8_widget_bg;
    .refresh {
      background: @main-ie8_wiget_button_bg;
    }
  }
  .tip-button {
    background: @main-ie8_tip_button_bg;
  }
  .select-widget {
    border: 1px solid @main-ie8_textarea_border;
    .button {
      background: @main-ie8_wiget_button_bg_2;
    }
  }
  .upgrade-banner {
    background: @main-ie8_widget_bg;
  }
}
