@main-window_border: #bfbfbf;
@main-window_bg: #fff;
@main-body_bg: #fff;

@main-font_300: Helvetica, Arial, sans-serif;
@main-font_feedback: Arial, sans-serif;
@main-font_tip: "Times New Roman", Times, serif;
@main-scroll_track: transparent;
@main-scroll_thumb: #ccc;
@main-loader_bg: #000;

@main-button_bg: #667180;
@main-button_bg_light: #b3b3b3;
@main-button_bg_dark: #000;
@main-text_link: #f73;
@main-text_link_hover: #52cc52;
@main-text_light: #999;
@main-text_muted: #797979;
@main-text_error: #ff5a40;
@main-text_def: #fff;
@main-text_def_dark: #1f2226;
@main-text_h1: #1f2226;
@main-text_h2: #1f2226;
@main-text_h3: #1f2226;
@main-text_h4: #555555;
@main-text_h5: #555555;
@main-text_btn_hover: #f73;

@main-button_bg_mixin: #65b65f;
@main-button_bg_next: #52cc52;
@main-button_bg_update: #f73;
@main-button_bg_info: #ccc;
@main-button_bg_fb: #4c68af;

@main-scroll_thumb: #b3b3b3;
@main-arrow_bg: #1f2226;

@main-list_hover: #e6e6e6;

@main-button_bg_def: #ccc;
@main-button_border: #d9d9d9;
@main-button_start: #fff;
@main-button_end: #d9d9d9;
@main-button_end_hover: #e8e7e7;
@main-input_bg_hover: #f2f2f2;

@main-tooltip_arrow: #fff;
@main-tooltip_arrow_shadow: #ccc;

@main-error_border: #ff7575;
@main-error_bg: #ffd9d9;
@main-text_error_def: #ff7575;

@main-input_bg: #e6e6e6;
@main-separator: #e6e6e6;
@main-switcher_bg_def: #e6e6e6;
@main-switcher_border_dark: #000;
@main-switcher_bg_dark: #3d444d;
@main-switcher_bg_light: #fff;
@main-switcher_border_light: #fff;
@main-switcher_cell_btn_bg: #fff;

@main-button_active: #ccc;

@main-select_widget_bg: #e6e6e6;

@main-pattern_bg: #000;
@main-naughty_menu_bg: #1f2226;
@main-naughty_menu_text: #e5e5e5;
@main-sidebar_widget_bg: #fff;
@main-sidebar_widget_refresh_bg: #b3b3b3;
@main-sidebar_widget_border: #ccc;
@main-sidebar_section_bg: #fff;
@main-text_active: #ffc44c;
@main-drop_menu: #fff;
@main-upgrade_banner_bg: #fff;
@main-textarea_wrap_border: #fff;
@main-textarea_wrap_bg: #e6e6e6;
@main-tooltip_bg: #fff;
@main-tooltip_border: #fff;
@main-suggest_border: #ccc;
@main-suggest_color: #5079b3;

@main-tab_shadow_light: #fff;
@main-tab_shadow_dark: #000;
@main-tab_btn_color: #5079b3;

@main-sidebar_bg: #e6e6e6;

@main-ie8_textarea_border: #8a5055;
@main-ie8_btn_border: #7dd37c;
@main-ie8_btn_fb_border: #4b68af;
@main-ie8_widget_bg: #282828;
@main-ie8_wiget_button_bg: #795e61;
@main-ie8_tip_button_bg: #836062;
@main-ie8_wiget_button_bg_2: #423032;