button.to-top(style="display: none;") Top
div.b-wrap-content.b-filter
  ul.b-filter-content
    li.b-filter-content__item
      a.b-filter-content__item-link(href="#",wall-data-action="",class=activeFilter==false ? 'item-link--current' : '') All Updates
    li.b-filter-content__item
      a.b-filter-content__item-link(href="#",wall-data-action="VOD",class=activeFilter=="VOD" ? 'item-link--current' : '') Videos
    li.b-filter-content__item
      a.b-filter-content__item-link(href="#",wall-data-action="photo",class=activeFilter=="photo" ? 'item-link--current' : '') Photos
    li.b-filter-content__item
      a.b-filter-content__item-link(href="#",wall-data-action="livecam",class=activeFilter=="livecam" ? 'item-link--current' : '') Livecams
div.b-feed-wall
if showMore
  a(id="wall-next-page",class="button-b-btn btn") Show more
else
  section.empty-category
    span There are no more events