- var displayActivity = ["photo","chat_up_line","description"]
if wallRecords
  each wallRecord in wallRecords
    if wallRecord.type == 'photo'
      .b-feed__content.b-feed-content.b-two-photo-content
        .b-feed-content__profile-avatar
          - if(users[wallRecord.user_id].statuses)
            - if(users[wallRecord.user_id].statuses.onlineStatus)
              span.b-feed-content__online-status.online
            - if(users[wallRecord.user_id].statuses.recentlyOnlineStatus)
              span.b-feed-content__online-status
          a(href='#{userLink(users[wallRecord.user_id].id)}')
            img.b-feed-content__profile-avatar-item(data-src='#{users[wallRecord.user_id].photos.url}', src='/assets/static/blank.gif')
        .b-wrap-content.b-wrap-content--profile-feed
          .b-profile-feed-head
            .b-profile-feed-head__content-left
              a.b-profile-feed-head__content-nick(href='#{userLink(users[wallRecord.user_id].id)}')
                | #{users[wallRecord.user_id].login}
              | - uploaded #{wallRecord.photos.length} new photo
          .b-profile-feed-middle-content
            if wallRecord.photos.length < 3
              .photogrid.g-1-1
                ul
                  - var i = 0;
                  each photo in wallRecord.photos
                    li
                      a(href='/#photo/record/id/#{wallRecord.user_id}/open/#{i++}', rel='photobox')
                        img(data-src='#{photo.normal}', src='/assets/static/blank.gif', alt='' data-image)
            else
              .photogrid.g-1-4
                ul
                  - var i = 0;
                  each photo in wallRecord.photos
                    li
                      a(href='/#photo/record/id/#{wallRecord.user_id}/open/#{i++}', rel='photobox')
                        if i < 2
                          img(data-src='#{photo.normal}', src='/assets/static/blank.gif', alt='' data-image)
                        else
                          img(data-src='#{photo.avatar}', src='/assets/static/blank.gif', alt='')
          .b-profile-feed-footer
            .b-profile-feed-footer__post-time
              | #{helpers.timeAgo(wallRecord.time)}
            .b-profile-feed-footer__post-nav
              ul.b-profile-feed-footer__post-nav-b
                li.post-nav-b__item
                  a.post-nav-b__item-link(href='#' data-record-id="#{wallRecord.parentId}" data-entity-id="#{wallRecord.entityId}" data-object-type="2") Comment
                li.post-nav-b__item
                  a.post-nav-b__item-link(href='javascript:void(0)', onclick="talksCall('#{users[wallRecord.user_id].id}')") Start Chat
          .b-feed-content__comment.hide(id="comment-#{wallRecord.entityId}")
    else if wallRecord.type == 'VOD'
      .b-feed__content.b-feed-content.b-new-video-content
        .b-feed-content__profile-avatar
          a.b-feed-content__profile-avatar-item-icon.icon-Video(href='/#vod')
        .b-wrap-content.b-wrap-content--profile-feed
          .b-profile-feed-head
            .b-profile-feed-head__content-left
              a.b-profile-feed-head__content-nick(href='/#vod') VOD Chanel 
              | - upload new video
          .b-profile-feed-middle-content
            a(href='#',vod-id=wallRecord.videoId)
              img.b-profile-feed-middle-content__item(data-src='#{wallRecord.img}', src='/assets/static/blank.gif')
              .b-profile-feed-middle-content__btn-play
                .b-profile-feed-middle-content__b-play
                  i.b-profile-feed-middle-content__btn-play-icon.icon-play
              .b-profile-feed-middle-content__short-info-video
                .b-left-short-info-video #{wallRecord.title}
                - var durationUnits = {hours : parseInt(wallRecord.duration.hours), minutes : parseInt(wallRecord.duration.min), seconds : parseInt(wallRecord.duration.sec)}
                .b-right-short-info-video-time #{helpers.formatDuration(durationUnits)}
          .b-profile-feed-footer
            .b-profile-feed-footer__post-time
              | #{helpers.timeAgo(wallRecord.time)}
            .b-profile-feed-footer__post-nav
              .b-profile-feed-footer__post-nav-b
                a.post-nav-b__item-link(href='#' data-record-id="#{wallRecord.videoId}" data-entity-id="#{wallRecord.entityId}" data-object-type="3" data-timestamp="#{wallRecord.time}") Comment
          .b-feed-content__comment.hide(id="comment-#{wallRecord.entityId}")
    else if (wallRecord.type == 'chat_up_line' || wallRecord.type == 'description')
      .b-feed__content.b-feed-content.b-join-to-site
        .b-feed-content__profile-avatar
          - if(users[wallRecord.user_id].statuses)
            - if(users[wallRecord.user_id].statuses.onlineStatus)
              span.b-feed-content__online-status.online
            - if(users[wallRecord.user_id].statuses.recentlyOnlineStatus)
              span.b-feed-content__online-status
          a(href='#{userLink(users[wallRecord.user_id].id)}')
            img.b-feed-content__profile-avatar-item(data-src='#{users[wallRecord.user_id].photos.url}', src='/assets/static/blank.gif')
        .b-wrap-content.b-wrap-content--profile-feed
          .b-profile-feed-head
            .b-profile-feed-head__content-left
              a.b-profile-feed-head__content-nick(href='#{userLink(users[wallRecord.user_id].id)}')
                | #{users[wallRecord.user_id].login} 
              if wallRecord.type == 'chat_up_line'
                | - has updated profile status
              else
                | - has updated profile description
          .b-profile-feed-middle-content
            .b-profile-short-info
              ul.b-profile-short-info__table
                li.b-profile-short-info__table-item
                  span.b-profile-short-info__table-item-icon.icon-Calendar
                  | #{users[wallRecord.user_id].age} years
                li.b-profile-short-info__table-item
                  span.b-profile-short-info__table-item-icon.icon-Location
                  - var geo = [users[wallRecord.user_id].geo.city, users[wallRecord.user_id].geo.country]
                  | #{geo.join(' ')}
                li.b-profile-short-info__table-item
                  span.b-profile-short-info__table-item-icon.icon-Photo
                  | 1 photos
            .b-profile-short-info
              .b-profile-short-info__table-item
                = wallRecord.description
          .b-profile-feed-footer
            .b-profile-feed-footer__post-time
              | #{helpers.timeAgo(wallRecord.time)}
            .b-profile-feed-footer__post-nav
              ul.b-profile-feed-footer__post-nav-b
                li.post-nav-b__item
                  a.post-nav-b__item-link(href='#' data-record-id="#{wallRecord.parentId}" data-entity-id="#{wallRecord.entityId}" data-object-type="2" data-timestamp="#{wallRecord.time}") Comment
                li.post-nav-b__item
                  a.post-nav-b__item-link(href='javascript:void(0)', onclick="talksCall('#{users[wallRecord.user_id].id}')") Start Chat
          .b-feed-content__comment.hide(id="comment-#{wallRecord.entityId}")

    else if wallRecord.type == 'livecam'
      .b-feed__content.b-feed-content.b-liveshow-content
        .b-feed-content__profile-avatar
          a(href='/#search/model/room/#{wallRecord.id}/status/20')
            img.b-feed-content__profile-avatar-item(data-src='#{wallRecord.photo_url}', src='/assets/static/blank.gif')
        .b-wrap-content.b-wrap-content--profile-feed
          .b-profile-feed-head
            .b-profile-feed-head__content-left
              a.b-profile-feed-head__content-nick(href='/#search/model/room/#{wallRecord.id}/status/20')
                | #{wallRecord.screen_name} 
              | - started liveshow
          .b-profile-feed-middle-content
            a(href='/#search/model/room/#{wallRecord.id}/status/20')
              img.b-profile-feed-middle-content__item(data-src='#{wallRecord.photo_url}', src='/assets/static/blank.gif')
              .b-profile-feed-middle-content__btn Watch liveshow
          .b-profile-feed-footer
            .b-profile-feed-footer__post-time
              | #{helpers.timeAgo(wallRecord.time)}
            .b-profile-feed-footer__post-nav
              .b-profile-feed-footer__post-nav-b
                a.post-nav-b__item-link(href='#') Add to favorites
    else if wallRecord.type == 'banner'
      .b-feed__content.b-feed-content.b-banner-content
        .b-wrap-content.b-wrap-content--profile-feed
          .b-profile-feed-middle-content
            if wallRecord.banner_type == 'html'
              | !{wallRecord.html}
            else if wallRecord.banner_type == 'swf'
              embed(width="#{wallRecord.width}", height="#{wallRecord.height}", src="/banner/resource/id/#{wallRecord.key}.#{wallRecord.banner_type}", type="application/x-shockwave-flash", bgcolor="#ffffff", wmode="opaque", allowscriptaccess="always")
            else
              a(href="#{wallRecord.url}")
                img(src="/banner/resource/id/#{wallRecord.key}.#{wallRecord.banner_type}", alt="#{wallRecord.alt}", width="#{wallRecord.width}", height="#{wallRecord.height}")