if (coregistration && coregistration.coreg_id)
  label.coreg-wrapper
    input(type="checkbox", name="coreg_profile", id="coreg_profile", value="")
    span
    label.coreg-field-label= coregistration.label_translation
      span.tip.button= '?'	
      .tip-content!= coregistration.termsString