@btn-def-bg: {background-color: #ff4e00;};
@btn-def-bg-hover: {background-color: #FF601A;};
@btn-def-color: #fff;
@btn-def-border: #e64500;
@btn-def-shadow: {._shadow(0 1px 3px fade(#000, 30%));};

.b-popup {
  &.b-sms-chat {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 610px;
    max-width: 610px;
    .btn-close,
    .b-close {
      position: absolute;
      top: 0;
      right: 3px;
      outline: 0;
      display: inline-block;
      vertical-align: top;
      width: 25px;
      height: 35px;
      background: 0 0;
      &:before {
        content: "";
        display: block;
        position: static;
        top: 16px;
        left: 11px;
        width: 15px;
        height: 15px;
        margin: 0 auto;
        background: url(@t-main-sprite) -216px -138px;
      }
    }
    .b-popup-head {
      padding: 18px 37px 16px 20px;
      background-color: @header-bg-start;
      .title {
        color: @header-color;
        font-weight: 600 20px;
        font-size: 20px;
        line-height: 26px;
      }
    }
    &.chat-feature {
      .b-popup-content {
        padding: 20px 20px 20px 240px;
        background: url(~"@{img_url}/sms-chat-img.jpg") no-repeat left bottom;
      }
      .b-value {
        padding: 0;
      }
    }
    &.congratulation {
      .form {
        overflow: visible;
      }
    }
    &.chat-feature2 {
      input[type=text] {
        padding: 7px 10px;
      }
      .btn-activate {
        ._radius(2px);
        display: inline-block;
        margin: 0;
        outline: none;
        color: @btn-def-color;
        vertical-align: middle;
        text-decoration: none;
        font-size: 14px;
        line-height: 33px;
        cursor: pointer;
        padding: 0 3px;
        letter-spacing: 0;
        float: right;
        width: 128px;
        border: 1px solid @btn-def-border;
        @btn-def-bg();
        @btn-def-shadow();
        &:hover {
          @btn-def-bg-hover();
        }
      }
      .b-value {
        overflow: hidden;
        padding-right: 20px;
      }
    }
    .b-sms-price {
      float: left;
      width: 151px;
      padding-top: 164px;
      margin-right: 20px;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      background: url(~"@{img_url}/sms-chat-img2.jpg") no-repeat;
      strong,
      span {
        color: @t-main-color;
        font-weight: bold;
      }
    }
    .image-centerer {
      float: left;
      padding-right: 20px;
    }
    .form {
      overflow: hidden;
    }
    .b-value {
      margin: 20px 0;
    }
    .b-popup-content {
      padding: 20px;
      min-height: 200px;
      h2 {
        color: @text-def;
      }
    }
    .btn,
    .save-btn {
      width: 100%;
    }
    .chat-now {
      margin-top: 20px;
    }
  }
  &.b-popup-payment {
    .b-value {
      text-align: center;
    }
    .chat-now {
      margin: 10px 0 0;
      padding: 0 20px;
    }
  }
}