.b-page-billing,
.b-page-requirements,
.b-page-visa-window,
.b-page-master-code {
  .pattern-bg {
    display: none;
  }
  padding-bottom: 80px;
  h1 {
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 22px;
  }
  p {
    margin-bottom: 15px;
  }
  b {
    color: @paymentStaticPage-text_active;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 2px;
  }

  /*Styles for full HTML*/
  .page-centerer {
    position: relative;
    z-index: 5;
    margin: 0 auto;
    padding: 25px 0 0;
    width: 520px;
    ._clearfix;
    .info-block {
      counter-increment: list;
      margin: 27px 0 0;
      padding: 26px 0 0;
      border-top: 1px solid fade(@paymentStaticPage-border, 30%);
    }
  }
  .page-title {
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 25px;
  }
  .visa-info {
    width: 620px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    &:before {
      content: '';
      position: absolute;
      right: 20px;
      background: no-repeat @paymentStaticPage-logo_url;
    }
  }
  .title {
    color: @paymentStaticPage-text_active;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 2px;
  }
  p {
    &.meta {
      color: @paymentStaticPage-text_light;
      font-family: @paymentStaticPage-font_600;
      font-weight: 600;
    }
  }
  ul {
    margin-top: 23px;
    list-style-type: none;
    li {
      position: relative;
      padding-left: 10px;
      margin-bottom: 16px;
      &:before {
        content: '';
        position: absolute;
        top: 6px;
        left: 0;
        background: @paymentStaticPage-list_mark;
        width: 5px;
        height: 5px;
        ._radius(4px);
      }
    }
  }
  ol {
    position: relative;
    counter-reset: list_item;
    list-style-type: none;
    margin-top: 22px;
    li {
      position: relative;
      padding-left: 30px;
      margin-bottom: 16px;
      counter-increment: list_item;
      &:before {
        content: counter(list)'.'counter(list_item);
        position: absolute;
        top: 0;
        left: 2px;
        color: @paymentStaticPage-text_active;
      }
    }
  }
  a {
    color: @paymentStaticPage-text_link;
  }
  .btn-close {
    float: right;
    margin-top: 5px;
    padding: 10px 20px;
    min-width: 100px;
  }
}

.b-page-visa-window, .b-page-mc-secured {
  &:before {
    content: '';
    position: absolute;
    right: 20px;
    background: no-repeat @paymentStaticPage-logo_url;
  }
}
.b-page-visa-window {
  padding-top: 52px;
  .title {
    font: 20px/1em @paymentStaticPage-font_300;
    font-weight: 300;
    color: @paymentStaticPage-text_title;
    margin-bottom: 12px;
  }
  .visa-info {
    &:before {
      width: 121px;
      height: 67px;
      background-position: 0 -300px;
      top: -20px;
    }
  }
}
.b-page-mc-secured {
  padding-top: 45px;
  &:before {
    width: 137px;
    height: 50px;
    background-position: -179px -712px;
    top: 18px;
  }
}
.b-page-about-us {
  max-width: 640px;
  min-width: 200px;
  width: auto;
  padding: 0 20px 100px;
  margin: 0 auto;
  .head {
    padding: 40px 0;
    border-bottom: 1px solid @paymentStaticPage-def_border_color;
  }
  .logo {
    display: block;
    max-height: 30px;
    margin: 0 auto;
  }
  .b-btn-close {
    text-align: center;
  }
  .text-wrap {
    padding: 35px 0 36px;
    p {
      margin-top: 31px;
      span {
        display: block;
      }
    }
  }
  .item {
    position: relative;
    margin-top: 6px;
    &:first-child {
      margin-top: 0;
    }
    &:before {
      content: '';
      position: absolute;
      width: 4px;
      height: 4px;
      ._radius(4px);
      left: -9px;
      top: 8px;
      background-color: @paymentStaticPage-item_disc_bg;
    }
  }
}

