@paymentStaticPage-logo_url: url(~"@{img_url}/SD_logoWhite.png");

@paymentStaticPage-font_300: 'Open Sans Light', Arial, helvetica, sans-serif;
@paymentStaticPage-font_600: 'Open Sans Semibold', Arial, helvetica, sans-serif;

@paymentStaticPage-list_mark: #ffc44c;
@paymentStaticPage-text_active: #ffc44c;
@paymentStaticPage-text_light: #999;
@paymentStaticPage-text_link: #ff8400;
@paymentStaticPage-text_title: #fff;
@paymentStaticPage-border: #fff;
@paymentStaticPage-def_border_color: #d9d9d9;
@paymentStaticPage-item_disc_bg: #ff7733;