@import "vars";

.b-user {
  position: relative;
  width: 100%;
  height: 100%;
  &:hover {
    z-index: 21;
  }
  .status {
    ._radius(10px);
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    &.online {
      background-color: @userListWidget-user_info_online_color;
    }
    &.r-online {
      background-color: @userListWidget-user_info_r_online_color;
    }
  }
  .b-btn-activity {
    ._box-sizing();
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    padding: 5px 0;
    text-align: center;
    &:before {
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: auto;
      left: 0;
      height: 100%;
      content: "";
      background-color: @userListWidget-btn_activity_bg;
      background-color: fade(@userListWidget-btn_activity_bg, 60%);
    }
  }
  .b-btn-activity-grid {
    display: inline-block;
    position: relative;
    z-index: 2;
    .dropdown-tooltip {
      z-index: 1;
      font-size: 12px;
      padding: 7px 10px;
      width: 120px;
      ._box-sizing;
      top: 100%;
      left: 23px;
      margin-top: 6px;
      text-align: left;
      display: none;
      position: absolute;
      background: @white;
      ._radius(3px);
      color: @userListWidget-feature_item_color;
      ._shadow(0 10px 20px fade(@black, 20%));
      &:before {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-left: 6px solid @white;
        position: absolute;
        bottom: 100%;
        margin-bottom: -6px;
        left: 0;
      }
    }
  }
  .btn-activity {
    ._radius(30px);
    ._opacity(.8);
    ._box-sizing(content-box);
    width: 30px;
    height: 30px;
    margin: 0 8px;
    border: 2px solid fade(@userListWidget-btn_activity_border, 70%);
    outline: none;
    ._sprite-image(@user-activity-message);
    ._sprite-width(@user-activity-message);
    ._sprite-height(@user-activity-message);
    background-color: transparent;
    &:hover {
      ._opacity(1);
      border-color: @userListWidget-btn_activity_border;
    }
    &:active,
    &.active {
      ._opacity(.9);
      border-color: @userListWidget-highlight_bg;
      background-color: @userListWidget-highlight_bg;
      &:hover {
        ._opacity(1);
      }
    }
    &:hover,
    &.active:active {
      &.btn-message {
        ._sprite-position(@user-activity-message-active);
      }
      &.btn-wink {
        ._sprite-position(@user-activity-wink-active);
      }
    }
    &.btn-message {
      ._sprite-position(@user-activity-message);
    }
    &.decline {
      background-position: -143px -301px;
    }
    &.accept {
      background-position: -110px -300px;
    }
    &.btn-favorite {
      ._sprite-position(@user-activity-favorite);
      &.active {
        ._sprite-position(@user-activity-favorite-active);
        &:hover {
          ._sprite-position(@user-activity-favorite-remove);
        }
      }
    }
    &.btn-wink {
      ._sprite-position(@user-activity-wink);
    }
    &.waiting {
       ._opacity(1);
       ._sprite-position(@user-activity-favorite-waiting);
       border: 2px solid @userListWidget-waiting_border;
       &:hover {
         cursor: default;
       }
     }
    &:hover {
      &+.dropdown-tooltip {
        display: block;
      }
    }
  }
  &:hover {
    .overlay {
      background-color: @userListWidget-bg;
      background-color: fade(@userListWidget-bg, 10%);
    }
  }
  .naughty-menu {
    .switcher {
      display: table;
      .switcher-cell {
        a {
          display: inline-block;
          padding: 7px 6px;
          text-transform: capitalize;
          background-color: fade(@userListWidget-naughty_btn_bg, 50%);
        }
        &.active {
          a {
            background-color: @userListWidget-naughty_mode_btn_active_bg;
          }
        }
      }
    }
  }
  &.blurred-heavy,
  &.blurred {
    .image-holder .photo {
      position: relative;
      top: -17px;
      left: -8%;
      width: 116%;
      height: 116%;
    }
    .overlay {
      background-color: @userListWidget-blur_overlay_bg;
      background-color: fade(@userListWidget-blur_overlay_bg, 30%);
      &:before,
      &:after {
        display: none;
      }
    }
    &:hover {
      .naughty-menu {
        display: block;
      }
      .b-blur-message {
        display: none;
      }
    }
  }
  &.blurred-heavy {
    .image-holder .photo {
      ._blur(18);
    }
    .b-blur-message {
      display: block;
    }
//    .image-holder,
//    x:-moz-any-link {
//      position: relative;
//      &:before {
//        position: absolute;
//        z-index: 2;
//        top: 0;
//        left: 0;
//        width: 100%;
//        height: 100%;
//        content: "";
//        background-color: @userListWidget-blur_overlay_bg;
//        background-color: fade(@userListWidget-blur_overlay_bg, 85%);
//      }
//    }
    /*IE10 hack*/
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .image-holder {
//        position: relative;
        &:before {
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: "";
          background-color: @userListWidget-blur_overlay_bg;
          background-color: fade(@userListWidget-blur_overlay_bg, 90%);
        }
      }
    }
    /*IE10 hack end*/
  }
  &.blurred {
    .image-holder .photo {
      ._blur(10);
    }
    .b-blur-message {
      display: block;
    }
//    .image-holder,
//    x:-moz-any-link {
//      position: relative;
//      &:before {
//        position: absolute;
//        z-index: 2;
//        top: 0;
//        left: 0;
//        width: 100%;
//        height: 100%;
//        content: "";
//        background-color: @userListWidget-blur_overlay_bg;
//        background-color: fade(@userListWidget-blur_overlay_bg, 70%);
//      }
//    }
    /*IE10 hack start*/
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .image-holder {
//        position: relative;
        &:before {
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: "";
          background-color: @userListWidget-blur_overlay_bg;
          background-color: fade(@userListWidget-blur_overlay_bg, 85%);
        }
      }
    }
    /*IE10 hack end*/
  }
  &.album {
    .image-centerer {
      overflow: hidden;
      width: 100%;
      height: 100%;
      text-align: center;
      .image-holder {
        right: auto;
        left: -385px;
        width: 1000px;
        text-align: center;
      }
      img {
        width: auto;
        height: 100%;
      }
    }
    &.blurred,
    .blurred-heavy {
      .image-centerer {
        img {
          top: -17px;
          left: -1px;
          width: auto;
          height: 116%;
        }
        img,
        x:-moz-any-link {
          top: 0;
          left: 0;
          height: 100%;
        }
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          img {
            top: 0;
            left: 0;
            height: 100%;
          }
        }
      }
    }
  }
  &.highlight {
    .b-btn-activity {
      &:before {
        background-color: @userListWidget-highlight_bg;
        background-color: fade(@userListWidget-highlight_bg, 80%);
      }
    }
    .btn-activity {
      &:active,
      &.active {
        ._opacity(.75);
        border-color: @userListWidget-btn_activity_bg;
        background-color: @userListWidget-btn_activity_bg;
        &:hover {
          ._opacity(1);
        }
      }
      &.active:active {
        &.btn-message {
          background-position: -2px -81px;
        }
        &.btn-favorite {
          background-position: -47px -83px;
        }
        &.btn-wink {
          background-position: -94px -83px;
        }
      }
    }
    .naughty-menu {
      top: 87px;
    }
  }
  .image-holder {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("@{img_url}/loader.gif") no-repeat center;
    img {
      display: inline-block;
      width: 100%;
    }
  }
  .b-photos-count {
    position: absolute;
    z-index: 3;
    right: 2px;
    bottom: 44px;
    margin: 0 4px 4px 0;
    font: 600 12px/22px @userListWidget-font_600;
    text-align: center;
    color: @text-def-dark;
    ._sprite(@photo-count);
  }
  .overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    &:before {
      ._gradient(transparent, @userListWidget-blur_overlay_bg);
      ._opacity(.4);
      display: block;
      position: absolute;
      right: 0;
      bottom: 40px;
      left: 0;
      height: 80px;
      content: "";
    }
  }
  .b-user-info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .b-screenname {
    position: relative;
    z-index: 3;
    top: 174px;
    left: 9px;
    font: 16px @userListWidget-font_300;
    .screenname {
      display: inline-block;
      color: @userListWidget-user_info_screenname_color;
    }
  }
  .b-features {
    margin: -18px 0 0 0;
    .item {
      ._box-sizing();
      display: block;
      float: left;
      clear: both;
      min-width: 23px;
      margin: 0 0 2px;
      padding: 1px 2px 0;
      font: 12px/14px @userListWidget-font_600;
      text-align: center;
      letter-spacing: .025em;
      text-transform: uppercase;
      outline: none;
      background-color: @userListWidget-feature_item_bg;
      background-color: fade(@userListWidget-feature_item_bg, 60%);
      color: @userListWidget-feature_item_color;
      position: relative;
      &:hover {
        background-color: @userListWidget-feature_item_bg;
        background-color: fade(@userListWidget-feature_item_bg, 75%);
        .b-tooltip {
          ._opacity(1);
          visibility: visible;
        }
      }
      &.new {
        color: @userListWidget-text_def;
        background-color: @userListWidget-feature_item_new_bg;
      }
      &.trusted {
        cursor: default;
        z-index: 100;
      }
    }
  }
  .b-tooltip {
    ._radius(3px);
    ._opacity(0);
    ._transition();
    visibility: hidden;
    position: absolute;
    left: 100%;
    margin-left: 8px;
    background: @white;
    padding: 8px 10px;
    text-transform: none;
    font: 12px/18px @font-family-def;
    position: absolute;
    top: -8px;
    min-width: 130px;
    a {
      display: block;
      color: @theme-color;
      &:hover {
        text-decoration: underline;
      }
    }

    &:before {
      border: 7px solid transparent;
      border-right-color: @white;
      content: "";
      position: absolute;
      right: 100%;
      top: 10px;
    }
  }
}
.ie9 {
  .b-user .overlay {
    &:before,
    &:after {
      display: none;
    }
  }
  .b-user {
    &.blurred {
      .image-holder {
        &:before {
          content: "";
          position: absolute;
          right: 0;
          left: 0;
          top: 0;
          bottom: 0;
          background: fade(@black, 85%);
          z-index: 1;
        }
        .photo {
          position: relative;
          top: 0;
          left: 0;
          filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
        }
      }
    }
    &.blurred-heavy {
      .image-holder {
        &:before {
          content: "";
          position: absolute;
          right: 0;
          left: 0;
          top: 0;
          bottom: 0;
          background: fade(@black, 90%);
          z-index: 1;
        }
        .photo {
          position: relative;
          top: 0;
          left: 0;
          filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
        }
      }
    }
  }
}
.ie8 {
  .b-user .overlay {
    &:before,
    &:after {
      display: none;
    }
  }
  .b-user {
    &.blurred {
      .image-holder .photo {
        position: relative;
        top: -10px;
        left: -10px;
      }
    }
    &.blurred-heavy {
      .image-holder .photo {
        position: relative;
        top: -18px;
        left: -18px;
      }
    }
  }
}
//styles for safari 5-6
_::-moz-svg-foreign-content, :root .b-user.blurred-heavy .image-holder:before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: fade(@black, 90%);
  z-index: 1;
}
_::-moz-svg-foreign-content, :root .b-user.blurred .image-holder:before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: fade(@black, 85%);
  z-index: 1;
}
