@userListWidget-font_300: 'dosisregular', Arial, helvetica, sans-serif;
@userListWidget-font_600: 'dosissemibold', Arial, helvetica, sans-serif;

@userListWidget-bg: #fff;
@userListWidget-feature_item_bg: #fff;
@userListWidget-feature_item_color: #1f2226;
@userListWidget-blur_overlay_bg: #000;
@userListWidget-btn_activity_bg: #000;
@userListWidget-naughty_mode_btn_active_bg: #667180;


@userListWidget-user_info_screenname_color: #fff;
@userListWidget-user_info_online_color: #73e573;
@userListWidget-user_info_r_online_color: #ff7733;
@userListWidget-highlight_bg: #ff7733;
@userListWidget-btn_activity_border: #fff;
@userListWidget-feature_item_new_bg: #ff7733;
@userListWidget-text_def: #fff;
@userListWidget-naughty_btn_bg: #fff;

@userListWidget-waiting_border: #505055;
