.b-page {
  &.b-page-profile-settings {
    background: @account-window_bg;
    width: 680px;
    padding: 10px 20px 17px;
    margin-bottom: 32px;
    .title {
      margin: 0px 0 30px 0px;
    }
    .b-settings-row {
      margin-top: 34px;

      .input-holder { width: 200px; }
      .b-value {
        margin-top: 10px;
        ._clearfix;
      }
      &.member-status {
        margin-top: 0;
        .btn {
          width: auto;
          margin: 0 0 0 40px;
          color: #fff;
          font-weight: bold;
          border: 1px solid @green-btn-end-press;
          ._radius(3px);
          padding: 5px 25px 4px;
          display: inline-block;
          background: @green-btn-start;
          background: -moz-linear-gradient(top,  @green-btn-start 0%, @green-btn-end 46%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@green-btn-start), color-stop(46%,@green-btn-end));
          background: -webkit-linear-gradient(top,  @green-btn-start 0%,@green-btn-end 46%);
          background: -o-linear-gradient(top,  @green-btn-start 0%,@green-btn-end 46%);
          background: -ms-linear-gradient(top,  @green-btn-start 0%,@green-btn-end 46%);
          background: linear-gradient(to bottom,  @green-btn-start 0%,@green-btn-end 46%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@green-btn-start', endColorstr='@green-btn-end',GradientType=0 );
          -webkit-box-shadow: 1px 1px 1px #e5e5e5, 0 1px 1px fade(#fff, 40%) inset;
          -moz-box-shadow: 1px 1px 1px #e5e5e5, 0 1px 1px fade(#fff, 40%) inset;
          box-shadow: 1px 1px 1px #e5e5e5, 0 1px 1px fade(#fff, 40%) inset;
          text-shadow: 1px 1px fade(#000, 30%);
          text-decoration: none !important;

          &:hover {
            background: @green-btn-start-hover;
            background: -moz-linear-gradient(top,  @green-btn-start-hover 55%, @green-btn-end-hover 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(55%,@green-btn-start-hover), color-stop(100%,@green-btn-end-hover));
            background: -webkit-linear-gradient(top,  @green-btn-start-hover 55%,@green-btn-end-hover 100%);
            background: -o-linear-gradient(top,  @green-btn-start-hover 55%,@green-btn-end-hover 100%);
            background: -ms-linear-gradient(top,  @green-btn-start-hover 55%,@green-btn-end-hover 100%);
            background: linear-gradient(to bottom,  @green-btn-start-hover 55%,@green-btn-end-hover 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@green-btn-start-hover', endColorstr='@green-btn-end-hover',GradientType=0 );
          }
        }
        .value {
          color: @account-text_highlight;
          max-width: 330px;
          display: inline-block;
          vertical-align: middle;
          .info {
            color: @account-text_def;
            margin-left: 6px;
          }
        }
      }
      .b-name {
        color: @account-text_light;
        margin-bottom: 2px;
      }
      .b-options-list {
        li {
          margin-bottom: 6px;
          label{
            display: inline-block;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      &.activity {
        .b-options-list {
          li {
            width: 305px;
            float: left;
          }
        }
      }
      &.b-id {
        .b-setting {
          color: @account-row_title;
          font-size: 14px;
          margin-bottom: 1px;
        }
      }
    }
    .field {

    }
    .b-settings-l10n {
      .b-name {
        margin: 0;
        min-width: 100px;
      }
    }
    .b-settings-password, .b-settings-email, .b-settings-l10n {
      .b-value {
        span {
          vertical-align: top;
        }
        .line {
          margin-top: 6px;
          position: relative;
          .lable-inline {
            margin-top: 14px;
            padding: 0 50px;
            display: inline-block;
            padding-top: 7px;
          }
          .b-error {
            width: 100%;
          }
        }
      }
    }
    .b-settings-password {
      .value {
        margin-top: 2px;
        display: inline-block;
      }
    }
    .b-settings-email {
      .value {
        margin-bottom: 5px;
      }
    }
    .b-settings-notifications {
      .b-value {
        margin-top: -17px;
      }
      .b-options-list {
        font-size: 0;
        .header {
          margin-bottom: 12px;
          .option {
            font-size: 14px;
          }
        }
        label {
          height: 16px;

        }
        .label, .option {
          display: inline-block;

        }
        .label {
          width: 305px;
          font-size: 14px;
          ._box-sizing;
          padding-right: 20px;
        }
        .option {
          width: 63px;
          vertical-align: top;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .b-settings-features {
      .features-form {
        width: 360px;
        margin: 12px 0 15px 23px;
        & > div {
          margin-top: 10px;
          &:first-child {
            margin: 0;
          }
          &:last-child {
            margin-top: 20px;
          }
        }
        .btn-light {
          margin: 0;
        }
      }
      .message-input {
        height: 117px;
      }
      .field {
      }
      .btn-edit-bare {
        &.inactive {
          display: none;
        }
      }
    }
    .b-settings-btns {
      margin-top: 31px;
      li {
        display: inline-block;
        margin-left: 28px;
        &:first-child {
          margin-left: 0;
        }
      }
      a, button {
        background: none;
        margin: 0;
        outline: 0;
        font-size: 14px;
      }
    }
    .b-setting {
      color: @account-row_title;
      font-size: 14px;
      line-height: 1em;
      display: inline-block;
      vertical-align: top;
      max-width: 287px;
    }
    .save-status {
      display: inline-block;
      vertical-align: top;
      color: @account-text_light;
      margin-left: 15px;
      font-size: 14px;
      line-height: 1em;
      &.load {
        font-size: 0;
        width: 32px;
        height: 4px;
        background: url(~"@{account-img_url}/loader-location.gif") no-repeat;
        margin-top: 7px;

      }
      &.inactive {
        display: none;
      }
    }
    .b-success {
      font: 12px/1em @account-font_400;
      color: @account-text_highlight;
      display: inline-block;
      vertical-align: top;
      margin: 4px 0 0 16px;
      padding: 0;
      visibility: hidden;
      opacity: 0;
      ._transition(all .1s);
      &.active {
        visibility: visible;
        opacity: 1;
        ._transition(~"opacity .1s, visibility 0s");
      }
    }
    .line {
      ._clearfix;
      .btn-light {
        width: auto;
        padding: 0 50px;
        line-height: 28px;
        float: left;
        margin-top: 14px;
      }
    }
  }
}
