@account-img_url: "../images";

@account-shadow: #000;
@account-window_bg: #fff;
@account-text_highlight: #77b200;
@account-text_def: #333;
@account-text_light: #999;
@account-input_bg: #f2f2f2;

@account-row_title: @t-main-color;

@account-font_400: 'Open Sans', Arial, helvetica, sans-serif;

@account-status-btn_border: #6cab09;
@account-status-btn_bg_start: #a1de12;
@account-status-btn_bg_end: #7cc604;
