.b-wrap-content.b-chat
    .b-chat__header-chat
      .header-chat-title.title
        .relative
          span.header-chat-title__icon.icon-Mail
          .header-chat-title__some-title
            | Chat with 
            span.content-item-attention #{login}
      .header-chat-profile-link
        .header-chat-profile-link-bg.header-chat-profile-link-bg--enemyprofile
          a.header-chat-profile-link-item-btn-close.header-chat-profile-link-item-btn-close--enemyprofile(href='#')
            i.header-chat-profile-link-item-btn__icon.icon-cross
    .b-chat__content--overflow
      .b-chat__content--scroll
        .b-chat__table
          .b-chat__table-cell
            div#messageHistory
    .b-chat__b-post
      .b-chat-post__item.chat-post__table
        .b-chat-post__item-avatar.chat-post__table-cell-ava
          img.chat-post__item-avatar-item.border-radius(src='#{currentUser.photoUrl}')
        .b-chat-post__item-info-massage.b-chat-post__table-cell
          .b-chat-post__input-b
            div#messengerInput.b-chat-post-input__item(contenteditable="true")
            .b-chat-post__item-info-massage-icon.icon-Icon_2(id='messengerSend')
