.b-chat__item-message-wrap
  .b-chat__item-message
    .b-chat__item-avatar
      - if (message.direction == 'out')
        img.b-chat__item-avatar-item.border-radius.chat-post__item-avatar-item(src=users[message.senderId].photoUrl)
      - else if (message.direction == 'in')
        img.b-chat__item-avatar-item.border-radius.chat-post__item-avatar-item(src=users[message.senderId].photoUrl)
    .b-chat__item-info-massage
      a.b-chat__item-info-massage-nick(href='#')
        - if (message.direction == 'out')
          = users[message.senderId].login
        - else if (message.direction == 'in')
          = users[message.senderId].login
      .b-chat__item-info-massage-content
        = message.text
    .b-chat__item-message-time 
      = momentTime