.mpr-photo-load {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 0 4px;
  ._box-sizing;
  float: none;
  display: block;
  width: 75px;
  height: 75px;
  border: 2px dashed @profilePhotoList-upload_photo_border;
  text-decoration: none;
  form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    input[type="file"] {
      width: 100%;
      height: 100%;
      background: black;
      border: none;
      font-size: 100px;
    }
  }
  .photo-icon {
    display: block;
    position: relative;
    margin: 8px auto 4px;
    width: 36px;
    height: 36px;
    ._radius(25px);
    background: @profilePhotoList-photo_icon_bg;
    &:before {
      content: "";
      position: absolute;
      display: block;
      top: 7px;
      left: 6px;
      width: 23px;
      height: 21px;
      background: @profilePhotoList-sprite -50px -142px no-repeat;
      background-size: 213px;
    }
  }
  p {
    text-align: center;
    font-size: 12px;
    margin: 3px 0 0;
    line-height: 90%;
  }
  .file-control {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 10;
  }
}
.mpr-photo-list {
  padding: 4px 2px 0;
  ul {
    margin: 0 -2px;
    padding: 2px 4px 0;
    list-style: none;
    font-size: 0;
    line-height: 0;
    text-align: center;
    li {
      position: relative;
      overflow: hidden;
      display: inline-block;
      vertical-align: top;
      height: 78px;
      border-bottom: 0;
      width: 25%;
      margin: 0 0 2px 0;
      a {
        display: block;
        width: 78px;
        height: 100%;
        text-align: center;
        img {
          height: 100%;
        }
      }
      &.portrait a {
        margin: 0 auto;
        width: 71px;
        img {
          display: block;
          width: 100%;
        }
      }
      &.album a{
        height: 100%;
        width: 1000px;
        position: absolute;
        left: 50%;
        top: 0;
        margin-left: -500px;
        text-align: center;
        img {
          display: inline;
          vertical-align: top;
          height: 100%;
        }
      }
    }
  }
  .checked {
    &:before {
      content: '';
      position: absolute;
      display: block;
      bottom: 3px;
      left: 3px;
      width: 20px;
      height: 20px;
      ._radius(15px);
      background: @profilePhotoList-checked_photo_bg;
    }
    &:after {
      content: '';
      position: absolute;
      display: block;
      bottom: 6px;
      left: 5px;
      width: 16px;
      height: 13px;
      background: @profilePhotoList-sprite -120px -45px no-repeat;
      background-size: 213px;
    }
  }
}
.mpr-photo-upload {
  position: relative;
  .photo-centerer {
    text-align: center;
    padding: 0 25px 0;
    margin-top: 90px;
    .title {
      font-size: 24px;
      line-height: 28px;
      color: @profilePhotoList-upload_text;
      margin-bottom: 34px;
      display: inline-block;
    }
  }
}
.mpr-photo-error {
  font-size: 14px;
  text-align: center;
  color: #f35f5f;
  padding: 0 10px;
  margin-bottom: 10px;
  line-height: 18px;
}