/* images */
@profilePhotoList-images_path: "../images";
@profilePhotoList-sprite: url(~"@{profilePhotoList-images_path}/icons.png");
/* end: images */

/* general styles */
@profilePhotoList-upload_photo_border: #4c4c4c;
@profilePhotoList-photo_icon_bg: #4c4c4c;
@profilePhotoList-checked_photo_bg: fade(#fff, 80%);
@profilePhotoList-upload_text: #24b26e;
/* end: general styles */