.b-setting= _t("notificationNewsFeed", "title.newsfeed")
span.save-status.inactive= _t("notificationNewsFeed", "text.saved")
.b-value
  ul.b-options-list
    each setting, name in settings
      li
        each val, key in setting
          label
            input(type="checkbox", data-checkbox="1", data-name=name, data-change-newsfeed-subscription="1", data-key=key, checked=(setting[key]) ? true : false)
            span= _t("notificationNewsFeed", "title." + name)
