// Blinking animation for CRM instruction
._keyframes(blinking, {
  0% { border-color: @welcomePopup-blink-color; }
  50% { border-color: @welcomePopup-blink-color; }
  51% { border-color: transparent; }
  100% { border-color: transparent; }
});

// Main welcome popup styles
.b-popup-table {
  display: table;
  height: 100%;
  width: 100%;
}
.b-popup-cell {
  display: table-cell;
  vertical-align: middle;
}
.b-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 700;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: url("@{img_url}/welcome_popup_bg1.jpg") no-repeat 0 0 @welcomePopup-overlay-bg;
  background: url("@{img_url}/welcome_popup_bg1.jpg") no-repeat 0 0 fade(@welcomePopup-overlay-bg, 95%);
  background-size: 100% auto;
}
.b-popup.b-success-page {
  position: relative;
  margin: 0 auto;
  padding: 35px 40px;
  width: 460px;
  font-family: @font-family-theme;
  color: @welcomePopup-text_def-color;
  background: @welcomePopup-popup-bg;
  border-radius: 4px;
  h1, h2 {
    font-family: @font-family-theme;
  }
  .b-popup-content {
    padding: 0;
    min-height: 270px;
  }
  .btn-close {

    position: absolute;
    top: 15px;
    right: 15px;
    outline: 0;
    display: block;
    vertical-align: top;
    width: 10px;
    height: 35px;
    background: 0 0;
    cursor: pointer;
    &:after {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      background: url("@{img_url}/close.png") no-repeat 0 0;
    }
    &:hover {
      ._opacity(.7);
    }
  }
  a {
    color: @welcomePopup-text_def-color;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  .btn {
    color: #fff;
    background: #52cc52;
    text-decoration: none;
    font-weight: normal;
    font-family: @font-family-theme-bold;
    border-radius: 5px;
  }
  .title {
    margin: 0 0 25px;
    color: @welcomePopup-theme-color;
    font-size: 26px;
    text-align: center;
    span {
      display: block;
      padding-top: 5px;
      color: @welcomePopup-text_def-color;
      font-size: 16px;
      font-family: @font-family-theme-bold;
    }
  }
  .b-confirm,
  .b-change-email {
    display: none;
    min-height: 230px;
    &.active {
      display: block;
    }
  }
  .b-confirm {
    text-align: center;
    & > .complete-email {
      padding-top: 10px
    }
    .btn {
      min-width: 245px;
    }
  }
  .complete-reg,
  .b-complete-reg {
    margin: 0
  }
  .complete-email {
    display: inline-block;
    color: @welcomePopup-theme-color;
  }
  .b-buttons {
    margin: 35px 0;
  }
  .b-complete-staps {
    position: relative;
    margin-bottom: 6px;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    .change-email {
      float: left;
      max-width: 200px;
    }
    .resend-email {
      float: right;
      max-width: 300px;
      white-space: normal;
      text-decoration: underline;
      background: none;
      font-size: 16px;
      margin: 0;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .b-resend-success {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    padding: 15px 35px 15px 15px;
    text-align: left;
    background: @welcomePopup-popup-bg;
    border-radius: 4px;
    ._shadow(~"0 10px 20px @{welcomePopup-popup-shadow}");
    &.active {
      display: block;
    }
    p {
      margin: 0;
      span {
         color: @welcomePopup-theme-color;
         display: block;
      }
    }
  }

  .b-change-email.error .b-error {
    display: block;
  }
  .b-change-email.error .b-email-input {
    background: @welcomePopup-input-error;
  }
  .b-change-email .cansel {
    float: right;
    display: inline-block;
    margin-top: 13px;
  }
  .b-change-email .btn {
    float: right;
    margin-left: 40px;
    min-width: 100px;
    font-weight: normal;
    font-family: @font-family-theme-bold;
  }
  .b-change-text {
    margin: 25px 0 0;
  }
  .b-email-typing {
    position: relative;
    margin-bottom: 35px;
  }
  .b-error {
    display: none;
    color: @welcomePopup-form-text-error;
    font-size: 12px;
    line-height: normal;
    padding-top: 5px;
     a {
      color: @welcomePopup-form-text-error;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .b-email-input {
    margin: 10px 0 0;
    line-height: 40px;
  }
  .b-instructions {
    ._radius(0 0 4px 4px);
    background: @welcomePopup-b-instructions-bg;
    padding: 35px 40px 40px;
    margin: 0 -40px -35px;
    text-align: left;
    ._radius(0 0 6px 6px);
    .instruction-info {
      padding-left: 30px;
      position: relative;
      margin-bottom: 13px;
      display: inline-block;
      &:before {
        ._sprite(@important);
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        margin: -10px 10px 0 0;
      }
    }
    .instructions-slider {
      position: relative;
      cursor: default;
      ._user-select;
    }
    .slider {
      li {
        display: none;
        &.active {
          display: block;
        }
      }
      .title {
        padding: 0;
        margin: 0;
        font: 16px @font-family-theme-bold;
        text-transform: uppercase;
        text-align: left;
        color: @welcomePopup-text_light;
        border: none;
        background: transparent;
        margin-bottom: 5px;
      }
      p {
        color: @welcomePopup-text_light;
      }
    }
    .slider-nav {
      .slider-arrow {
        position: absolute;
        top: 50%;
        margin-top: -18px;
        cursor: pointer;
        &.arrow-left {
          left: -30px;
          ._sprite(@welcomePopup-arrow-l);
        }
        &.arrow-right {
          right: -30px;
          ._sprite(@welcomePopup-arrow-r);
        }
        &:hover {
          ._opacity(0.5);
        }
        &.disabled {
          display: none;
        }
      }
    }
    .slider-inner {
      width: 100%;
      color: @welcomePopup-slider-color;
      text-align: left;
      .slider-part {
        display: table-cell;
        vertical-align: middle;
      }
      .slider-left {
        &.slider-image {
          width: 250px;
          .slider-inside {
            width: 250px;
          }
        }
      }
      .slider-right {
        padding: 0 10px 0 30px;
        &.slider-image {
          width: 290px;
        }
      }
      .slider-image {
        font: 13px @font-family-theme-muted;
        padding: 0;
        background: @white;
        border: 1px solid @welcomePopup-slider-border;
        text-align: left;
      }
    }
    .slider-inside {
      height: 100px;
      overflow: hidden;
      width: 290px;
      color: @black;
    }
    .blinking {
      ._animation(blinking 0.5s ease alternate infinite);
      border: 2px solid @welcomePopup-blink-color;
    }
    // Yahoo slide styles
    .slider-1 {
      .row-menu {
        background: @yahooSlider-row_bg;
        padding: 6px 7px 5px 22px;
        position: relative;
        ._text-overflow(221px);
        &.blinking {
          padding: 4px 5px 3px 20px;
        }
        &.current {
          color: lighten(@black, 55%);
          margin-top: -1px;
          margin-bottom: -1px;
          position: relative;
          z-index: 2;
        }
        &.arrow {
          &:before {
            ._sprite(@welcomePopup-drop);
            content: "";
            position: absolute;
            left: 5px;
            top: 50%;
            margin-top: -3px;
          }
        }
      }
      .row-mail {
        padding: 0 8px;
        white-space: nowrap;
        background: @yahooSlider-row_mail-bg;
        border-top: 1px solid @yahooSlider-row_mail-border;
        border-bottom: 1px solid @yahooSlider-row_mail-border;
        margin-top: -1px;
        ._clearfix;
        &:first-child {
          margin-top: 4px;
        }
        &.blur {
          padding-top: 2px;
          padding-bottom: 2px;
          &:before,
          &:after {
            content: "";
            display: inline-block;
            vertical-align: middle;
          }
          &:before {
            ._sprite(@welcomePopup-blur-dot);
          }
          &:after {
            ._sprite(@welcomePopup-blur-text);
          }
          .checkbox {
            float: left;
            border: none;
            &:before {
              ._sprite(@welcomePopup-blur-check);
              margin-top: -12px;
              left: 10px;
            }
          }
        }
        &.current {
          background: @yahooSlider-row_mail_current-bg;
          border-top: 1px solid @yahooSlider-row_mail_current-border;
          border-bottom: 1px solid @yahooSlider-row_mail_current-border;
          position: relative;
        }
      }
      .row-bar {
        white-space: nowrap;
        background: @yahooSlider-row_bar-bg;
        border-bottom: 1px solid @yahooSlider-row_bar-border;
        padding: 3px 0;
        &.grey {
          background: darken(@yahooSlider-row_bar-bg, 3%);
          border-bottom: 1px solid darken(@yahooSlider-row_bar-border, 10%);
          min-height: 15px;
        }
        &.white {
          background: @white;
        }
      }
      .row-inbox {
        padding: 5px 20px;
        position: relative;
        background: @yahooSlider-row_bg;
        &.blinking {
          padding: 3px 18px;
        }
        &.current {
          .inbox-text {
            font-weight: bold;
            color: @yahooSlider-row_inbox-color_active;
          }
        }
        .inbox-text {
          display: block;
          ._text-overflow(200px);
        }
      }
      .action {
        display: inline-block;
        padding: 5px 8px;
        margin: 0 4px;
        line-height: 20px;
        ._text-overflow();
        max-width: 130px;
        &.blinking {
          padding: 3px 6px;
        }
        &:before {
          content: "";
          position: relative;
          top: -2px;
          margin-right: 5px;
          display: inline-block;
          vertical-align: middle;
        }
      }
      .move-word,
      .more-word {
        &:after {
          ._sprite(@welcomePopup-drop);
          content: "";
          display: inline-block;
          vertical-align: middle;
          margin-left: 4px;
        }
      }
      .move-word {
        margin-left: -8px;
        &:before {
          ._sprite(@welcomePopup-download);
        }
      }
      .spam-word {
        &:before {
          ._sprite(@welcomePopup-spam);
        }
      }
      .more-word {
        &:before {
          ._sprite(@welcomePopup-dots);
        }
      }
      .call-word {
        font-weight: bold;
        display: inline-block;
        margin-left: 220px;
      }
      .mail-item {
        display: inline-block;
        line-height: 30px;
        font-weight: bold;
        vertical-align: middle;
        ._text-overflow(160px);
      }
      .checkbox {
        width: 26px;
        height: 26px;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
        &:before {
          ._sprite(@welcomePopup-check-1);
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -6px;
          margin-left: -6px;
        }
      }
    }
    // YAHOO slider styles
    .slider-2 {
      .row-menu {
        padding: 7px 22px;
        margin-left: 10px;
        ._text-overflow(196px);
        &:first-child {
          margin-top: 5px;
        }
        &.current {
          background: @aolSlider-row-bg;
          font-weight: bold;
        }
        &.blinking {
          padding: 5px 20px;
        }
      }
      .row-mail {
        padding: 5px;
        white-space: nowrap;
        background: @aolSlider-row_mail-bg;
        ._clearfix;
        &:first-child {
          margin-top: -12px;
        }
        &.blur {
          &:before {
            ._sprite(@welcomePopup-blur-text);
            content: "";
            display: block;
            margin-left: 75px;
          }
        }
        &.current {
          background: @aolSlider-row_mail_current-bg;
          border-top: 1px solid @aolSlider-row_mail_current-border;
          border-bottom: 1px solid @aolSlider-row_mail_current-border;
        }
      }
      .row-bar {
        white-space: nowrap;
        border-bottom: 1px solid @aolSlider-row_bar-bg;
        padding: 8px 0;
        &.grey {
          background: @aolSlider-row_bar-bg;
          border-top: 1px solid @aolSlider-row_bar-border;
          margin-top: 8px;
        }
      }
      .row-inbox {
        padding-left: 9px;
        border-left: 2px solid transparent;
        position: relative;
        &.current {
          border-left-color: @aolSlider-row_inbox-border;
          .inbox-text {
            background: @aolSlider-row-bg;
            color: @aolSlider-row_inbox-color_active;
          }
        }
        .inbox-text {
          display: block;
          padding: 6px 22px 6px 17px;
          ._text-overflow(200px);
          &.blinking {
            padding: 4px 20px 4px 15px;
          }
        }
        &.dropdown {
          &:before,
          &:after {
            content: "";
            display: block;
            position: absolute;
          }
          &:before {
            width: 10px;
            height: 10px;
            border: 1px solid lighten(@black, 30%);
            background: @white;
            ._radius(2px);
            top: 50%;
            margin-top: -6px;
            right: 8px;
          }
          &:after {
            border-top: 4px solid @black;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            top: 50%;
            margin-top: -2px;
            right: 10px;
          }
        }
      }
      .action {
        margin: 0 4px;
        border: 1px solid darken(@aolSlider-row_bar-bg, 10%);
        background: @aolSlider-row_bar-bg;
        line-height: 28px;
        padding: 0 8px;
        display: inline-block;
        vertical-align: middle;
        font-weight: bold;
        ._text-overflow();
        max-width: 130px;
        &.blinking {
          line-height: 26px;
          border-width: 2px;
          border: 2px solid @welcomePopup-blink-color
        }
      }
      .remove {
        text-align: right;
        margin-left: -80px;
        ._text-overflow(130px);
      }
      .folder-drop,
      .tag-drop {
        padding: 0 20px;
        &:before,
        &:after {
          content: "";
          display: inline-block;
          vertical-align: middle;
        }
        &:after {
          border-top: 4px solid @black;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
        }
      }
      .folder-drop {
        margin-right: -9px;
        &:before {
          ._sprite(@welcomePopup-folder);
          margin-right: 3px;
        }
      }
      .tag-drop {
        &:before {
          ._sprite(@welcomePopup-marker);
          margin-right: 3px;
        }
      }
      .mail-item {
        display: inline-block;
        line-height: 30px;
        font-weight: bold;
        vertical-align: middle;
        ._text-overflow(160px);
      }
      .icon-item {
        display: inline-block;
        vertical-align: middle;
        &:after,
        &:before {
          content: "";
          display: inline-block;
          margin-right: 6px;
          vertical-align: middle;
        }
        &:before {
          ._sprite(@welcomePopup-star);
        }
        &:after {
          ._sprite(@welcomePopup-tip);
        }
      }
      .checkbox {
        width: 26px;
        height: 26px;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        &:before {
          ._sprite(@welcomePopup-check-2);
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -7px;
          margin-left: -7px;
        }
      }
    }
  }
  .b-important {
    margin: 0 -40px -40px;
    padding: 35px 40px;
    color: @welcomePopup-text_def-color;
    background: @welcomePopup-b-important-bg;
    border-radius: 0 0 3px 3px;
    h2 {
      font-size: 15px;
      text-transform: uppercase;
      font-weight: normal;
      margin: 0 0 13px;
      &:before {
        content: "";
        display: inline-block;
        vertical-align: sub;
        margin-right: 7px;
        width: 21px;
        height: 21px;
        background: url("@{img_url}/info-icon.gif") no-repeat 0 0;
      }
    }
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      margin: 0 0 5px 15px;
      font-size: 12px;
      list-style: outside disc;
    }
  }
}

@media (min-width: 1350px) and (max-width: 1660px) {
  .b-popup-overlay {
    background-image: url("@{img_url}/welcome_popup_bg2.jpg");
  }
}
/*------------ IE 8 styles ----------------*/
.ie8 {
  .b-popup.b-success-page {
    .item {
      input {
        line-height: 40px;
      }
    }
  }
}
@media (min-width: 1661px) {
  .b-popup-overlay {
    background-image: url("@{img_url}/welcome_popup_bg3.jpg");
  }
}
#error_change_email {
    left: 0;
    position: absolute;
    top: 50px;
    width: 100%;
}
