.b-page-contact-us {
  margin: 0 auto;
  max-width: 760px;
  .title {
    margin: 8px 0 10px 20px;
    font-size: 36px;
  }
  .widget-wrap {
    ._radius(3px);
    ._shadow(0 1px 5px fade(@contactUs-shadow, 20%));
    clear: both;
    margin: 0 20px 20px;
    padding: 15px 20px 20px;
    background: @contactUs-window_bg;
    .description {
      margin-bottom: 21px;
      p {

      }
    }
  }
  .b-row {
   &.left {
      float: left;
      width: 48.4%;
    }
    &.right {
      float: right;
      width: 48.4%;
    }
    .b-name {
      margin: 10px 0;
    }
  }
  .field {
    textarea {
      height: 120px;
      background: @contactUs-input_bg;
      font-size: 14px;
      line-height: 22px;
    }

  }
  .btn-send {
    width: auto;
    float: right;
    margin: 14px 0 0 0;
    padding: 0 41px;
  }
}