._clearfix() {
  &:after {
    display: block;
    clear: both;
    content: '';
  }
}

._dropdown (@width:100%,@height:auto) {
  text-align: left;
  width: @width;
  height: @height;
  min-width: 66px;
  @padding_top:5px;
  @padding_bot:5px;
  padding: @padding_top 4px @padding_bot 0;
  ._box-sizing();
  z-index:401;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  border: 1px solid #ccc;
  border-color: fade(#fff,0%);
  background: #fff;
  ._shadow(0 5px 15px 0 fade(#000, 25%));
  ._radius(5px);
  ._transition(all 0.3s);
  &.active {
    visibility: visible;
    opacity: 1;
    ._transition(all 0.1s);
  }
  .nav {
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 227px;
    list-style-type: none;
  }
  .nav > li {
    ._text-overflow;
    cursor: pointer;
    ._transition(background 0.05s);
    margin: 0 3px;
    padding: 0 5px;
    line-height: 26px;
    color: @blue-light;
    ._capitalize();
    &, & > a {
      text-decoration: none;
      &:hover {
        background:@blue-light;
        color:@white;
        text-decoration: none;
      }
    }
  }
}

// transforms
._transform (rotate, @deg:90deg) {
  -moz-transform: rotate(@deg);
  -webkit-transform: rotate(@deg);
  transform: rotate(@deg);
}
._transform (scale, @zoom:1) {
  -moz-transform: scale(@zoom);
  -webkit-transform: scale(@zoom);
  transform: scale(@zoom);
}
._transform-origin (@x:center, @y:center, @z:0) {
  -webkit-transform-origin: @x @y @z;
  -moz-transform-origin: @x @y @z;
  -ms-transform-origin: @x @y @z;
  transform-origin: @x @y @z;
}

// text-overflow
._text-overflow() {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
._text-overflow(@width) {
  ._text-overflow();
  width: @width;
}

._transition(@transition: .3s) {
  -webkit-transition: @transition;
  -ms-transition: @transition;
  transition: @transition;
}

._shadow(@s) {
  -webkit-box-shadow: @s;
  box-shadow: @s;
}

._radius(@r: 3px) {
  -webkit-border-radius: @r;
  border-radius: @r;
}


._gradient (@start, @stop) {
  background: @start; /* Old browsers */
  background: -moz-linear-gradient(top, @start 0%, @stop 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@start), color-stop(100%,@stop)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  @start 0%, @stop 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, @start 0%, @stop 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, @start 0%, @stop 100%); /* IE10+ */
  background: linear-gradient(to bottom, @start 0%, @stop 100%); /* W3C */
}

._gradient(@dir, @color1, @color2) {
  background: @color1;
  background: -webkit-linear-gradient(@dir, @color1, @color2);
  background: -o-linear-gradient(top,  @color1 0%, @color2 100%);
  background: -moz-linear-gradient(@dir,  @color1 0%, @color2 100%);
  background: -ms-linear-gradient(@dir,  @color1 0%, @color2 100%);
  background: linear-gradient(@dir, @color1, @color2);
}

._gradient-img(@sprite, @dir, @color1, @color2) {
/*
  background: @color1 @sprite;
  background: @sprite, -webkit-linear-gradient(@dir, @color1, @color2);
  background: @sprite, -ms-linear-gradient(@dir, @color1, @color2);
  background: @sprite, linear-gradient(@dir, @color1, @color2);
  */
}

._box-sizing() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

._opacity(@o: 1) {
  @ieo: @o*100;
  opacity: @o;
  -ms-filter: ~"alpha(opacity=@{ieo})";
  filter: ~"alpha(opacity=@{ieo})";
}

//rotate
._rotate(@degrees) {
  -webkit-transform: rotate(@degrees);
      -ms-transform: rotate(@degrees); // IE9 only
          transform: rotate(@degrees);
}
._rotate(x, @degrees) {
  -webkit-transform: rotateX(@degrees);
      -ms-transform: rotateX(@degrees); // IE9 only
          transform: rotateX(@degrees);
}
._rotate(y, @degrees) {
  -webkit-transform: rotateY(@degrees);
      -ms-transform: rotateY(@degrees); // IE9 only
          transform: rotateY(@degrees);
}
//scale
._scale(@ratio) {
  -webkit-transform: scale(@ratio);
      -ms-transform: scale(@ratio); // IE9 only
          transform: scale(@ratio);
}
._scale(@ratioX, @ratioY) {
  -webkit-transform: scale(@ratioX, @ratioY);
      -ms-transform: scale(@ratioX, @ratioY); // IE9 only
          transform: scale(@ratioX, @ratioY);
}
._scale(x, @ratio) {
  -webkit-transform: scaleX(@ratio);
      -ms-transform: scaleX(@ratio); // IE9 only
          transform: scaleX(@ratio);
}
._scale(y, @ratio) {
  -webkit-transform: scaleY(@ratio);
      -ms-transform: scaleY(@ratio); // IE9 only
          transform: scaleY(@ratio);
}

._blur(@rad: 10) {
  -webkit-filter: ~"blur(@{rad}px)";
  -moz-filter: ~"blur(@{rad}px)";
  -ms-filter: ~"blur(@{rad}px)";
  -o-filter: ~"blur(@{rad}px)";
  filter: ~"blur(@{rad}px)";
  filter: ~"progid:DXImageTransform.Microsoft.Blur(PixelRadius='@{rad}')";
}
._fade-filter (@c: #fff, @p:20%, @f-colorStr: ~"#33ffffff") {
  background: transparent;
  filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=@{f-colorStr},endColorstr=@{f-colorStr})";
  zoom: 1;
  background: fade(@c, @p);
}