/*--- Variables ---*/
@main-link-color: #0074d7;
@main-link-hover: #d70000;
@main-btn-color: @main-link-color;
@main-btn-color-hover: #2a83ce;
@notificator-hover: @main-btn-color-hover;
@main-icon-color: #025eee;
@main-icon-color-hover: #a1bbe4;
@main-icon-notif-color: @main-icon-color-hover;
@main-icon-color-notif-new: @main-icon-color;
@title-color: #040e20;
@feed-nick-color: @main-link-color;
@pp-credits-color: @main-link-color;
@pp-icons-color:  @main-link-color;
@attention-color: @main-link-color;
@vod-title: @main-link-color;
@photo-title: @main-link-color;
@blue-text: @main-link-color;
@grey: #F1F3F8;
@dark-grey: #7A808C;
@button-active: #970000;
@button-color: #970000;
@light-blue: #8FC2ED; 
@navy: #073863;
@white: #FFFFFF;
@nouislider-color: #ffffff;
@nouislider-color-active: @main-link-color;
@nouislider-btn-color: #ee0909;
@nouislider-btn-elem-color: #f78484;
@b-content-wrap-bg: #ffffff;
@inbox-chat-now-color: #025eee;
@profile-nav-bg: @main-link-color;
@profile-nav-bg-hover: @main-link-hover;
/*--- [END] Variables ---*/

.border-radius{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}