@import "mixin";
@import "vars";
@import "su-vars";

/* base */

// colors

// base colors
@color-text-base: #ffffff;
@color-text: #555555;
@color-text-muted: #797979;
@color-theme-base: #ff7575;
@color-bg-base: #ffffff;
@color-border-base: #dddddd;
@color-bg-light: lighten(@color-border-base, 5%);
@color-bg-loader: rgba(255,255,255,.5);
// links
@color-link: @color-theme-base;
@color-link-hover: @color-theme-base;

//buttons
@color-btn: #f3473a;
@color-text-btn-light: #b5b5b5;
@color-gradient-start: #96c700;
@color-gradient-end: #aed141;
@color-1-b-shadow-btn-update: #84a000;
@color-2-b-shadow-btn-update:#4d680f;
@color-1-b-shadow-btn-register: #f59293;
@color-2-b-shadow-btn-register: #640000;

// header color
@color-h1: @color-text-muted;
@color-h2: @color-theme-base;
@color-h3: @color-text;
@color-h4: @color-text;
@color-h5: @color-text;

// dt colors
@color-dt-title: @color-text-muted;
@color-dt-value: @color-text;

// background colors
@color-bg-body: @color-bg-base;
@color-bg-frame-search: @color-bg-base;
@color-bg-b-user: transparent;
@color-bg-footer: #2c2c2c;
@color-bg-btn: @color-bg-base;
@color-bg-btn-active: @color-theme-base;
@color-bg-online-now: #93da38;
@color-bg-online-recent: #f39e3a;

// border colors
@color-border-frame-search: @color-bg-base;
@color-border-btn: @color-border-base;
@color-border-btn-hover: darken(@color-border-btn, 20%);

// shadows
@color-shadow: #000000;

// fonts
@open-sans: 'Open Sans', Arial, helvetica, sans-serif;
@open-sans-light: 'Open Sans Light', Arial, helvetica, sans-serif;
@open-sans-semibold: 'Open Sans Semibold', Arial, helvetica, sans-serif;

// font faces
@font-face-basic: Verdana, Geneva, sans-serif;
@font-face-header: @open-sans-light;
@font-face-important: ~"Trebuchet MS", Helvetica, sans-serif;
@font-face-muted: Arial, Helvetica, sans-serif;
@font-face-bold: Tahoma, Geneva, sans-serif;

// fonts
@font-basic: 12px @font-face-basic;
@font-imp: 18px @font-face-header;
@font-muted: 11px @font-face-basic;

// header fonts
@font-h1: e("50px/1em") @font-face-header;
@font-h2: e("20px/1em") @font-face-header;
@font-h3: e("18px/1em") @font-face-header;
@font-h4: bold e("14px/1em") @font-face-basic;
@font-h5: bold e("12px/1em") @font-face-basic;


// metrics
@width-min-doc: 960px;
@height-min-doc: 380px;

@img_url: "../images";
@sprite_url: url("@{img_url}/sprite.png");
@sprite_payment_url: url("@{img_url}/sprite-payment.png");
@overlay_url: url("@{img_url}/bg-loader.png");

//landing
@color-bg-step-dark: #cb494a;
@color-bg-step-active: #f85a5a;
@color-bg-step-preactive: @color-bg-step-dark;
@color-bg-step-middle: #dc4f50;


// base styles

._h1() {
  color: @color-h1;
  font: @font-h1;
}

._h2() {
  color: @color-h2;
  font: @font-h2;
}

._h3() {
  color: @color-h3;
  font: @font-h3;
}

._h4() {
  color: @color-h4;
  font: @font-h4;
}

._h5() {
  color: @color-h5;
  font: @font-h5;
}

._radio() {
  & {
    margin: 2px 5px 12px 0;
    width: 14px;
    height: 14px;
    position: absolute;
    &+span {
      padding-left: 15px;
    }
  }
  &:not(.default){
    z-index: 2;
    opacity: 0;
    cursor: pointer;
  }
  &:not(.default)+span{
    ._box-sizing;
    position: relative;
    width: 100%;
    cursor: pointer;
    &:before{
      position: absolute;
      left: 0;
      margin-top: 2px;
      width: 14px;
      height: 14px;
      background: no-repeat @sprite_url -449px -102px;
      content: '';
    }
    &.black {
      &:before {
        background-position: -499px -102px;
      }
    }
  }
  &:checked:not(.default)+span {
    &:before{
      background: no-repeat @sprite_url -465px -102px;
    }
    &.black {
      &:before {
        background-position: -483px -102px;
      }
    }
  }
}

._checkbox() {
  & {
    margin:0;
    vertical-align:top;
  }
  &:not(.default){
    z-index: 2;
    margin-top:1px;
    width:14px;
    height:14px;
    cursor:pointer;
  }
  &:not(.default)+span{
    ._box-sizing;
    position:relative;
    display: inline-block;
    padding-left: 23px;
    cursor:pointer;
  }
}

._capitalize() {
  &:first-letter {
    text-transform: capitalize;
  }
}

//.b-features

._futures-buttons(@color-btn-start, @color-btn-end, @color-btn-start-hover, @color-btn-end-hover, @color-btn-start-press, @color-btn-end-press, @border-color){
   ._gradient (@color-btn-start, @color-btn-end);
    border: 1px solid @border-color;
  &:hover {
   ._gradient (@color-btn-start-hover, @color-btn-end-hover);
  }
  &:active, &.active {
    ._gradient (@color-btn-start, @color-btn-end);
  }
  &.touched {
   ._gradient (@color-btn-start-press, @color-btn-end-press);
  }
}

._b-features() {
  margin: 6px 0 0 2px;
  letter-spacing: -4px;
  font-size: 0;
  line-height: 0;
  height: 30px;
  .item {
    ._shadow(0 1px 3px fade(@black, 30%));
    ._radius;
    display: inline-block;
    margin-right: 10px;
    width: 28px;
    height: 28px;
    position: relative;
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background: @sprite_url no-repeat;
    }
    &.hot {
      ._futures-buttons(@orange-btn-start, @orange-btn-end, @orange-btn-start-hover, @orange-btn-end-hover, @orange-btn-start-press, @orange-btn-end-press, #d9940b);
      &:before {
        background-position: -232px -35px;
      }
    }
    &.top {
      ._futures-buttons(@green-btn-start, @green-btn-end, @green-btn-start-hover, @green-btn-end-hover, @green-btn-start-press, @green-btn-end-press, #690);
       &:before {
        background-position: -262px -35px;
      }
    }
    &.free-m {
      ._futures-buttons(@green-btn-start, @green-btn-end, @green-btn-start-hover, @green-btn-end-hover, @green-btn-start-press, @green-btn-end-press, #690);
       &:before {
        background-position: -292px -35px;
      }
    }
    &.invisible {
      ._futures-buttons(@green-btn-start, @green-btn-end, @green-btn-start-hover, @green-btn-end-hover, @green-btn-start-press, @green-btn-end-press, #690);
       &:before {
        background-position: -321px -34px;
      }
    }
    &.fb {
      ._futures-buttons(@blue-btn-start, @blue-btn-end, @blue-btn-start, @blue-btn-end, @blue-btn-start-press, @blue-btn-end-press, @blue-light);
       &:before {
        background-position: -353px -31px;
      }
    }
  }
}

// buttons
._btn-def(@width: 100%) {
  ._radius(4px);
  display: inline-block;
  margin: 0;
  width: @width;
  outline: none;
  color: @white;
  vertical-align: middle;
  text-decoration: none;
  font: 14px/39px @open-sans-semibold;
}

._btn-green(@width: 100%) {
  ._btn-def(@width);
  ._shadow(0 1px 3px fade(@black, 30%));
  ._gradient(@green-btn-start, @green-btn-end);
  border: 1px solid #690;
  text-align: center;
  &:hover {
    ._gradient(@green-btn-start-hover, @green-btn-end-hover);
  }
  &.active, &:active {
    ._gradient(@green-btn-start, @green-btn-end);
  }
  &.touched {
    ._gradient(@green-btn-start-press, @green-btn-end-press);
  }
}

._btn-orange(@width: 100%) {
  ._btn-def(@width);
  ._shadow(0 1px 3px fade(@black, 30%));
  ._gradient(@orange-btn-start, @orange-btn-end);
  border: 1px solid #d9940b;
  text-align: center;
  &:hover {
    ._gradient(@orange-btn-start-hover, @orange-btn-end-hover);
  }
  &.active, &:active {
    ._gradient(@orange-btn-start, @orange-btn-end);
  }
  &.touched {
    ._gradient(@orange-btn-start-press, @orange-btn-end-press);
  }
}

._btn-user(@width: 100%) {
  ._btn-def(@width);
  ._shadow(0 2px 3px fade(@black, 20%));
  ._gradient(@white, @grey-btn-end);
  border: 1px solid @button-border;
  color: @blue-light;
  &:hover {
    ._gradient(@white, @grey-btn-end-hover);
  }
  &:active,
  &.active {
    ._gradient(@white, @grey-btn-end);
  }
}

._btn-blue(@width: 100%) {
  ._btn-def(@width);
  ._shadow(0 2px 4px fade(@black, 30%));
  ._gradient(@blue-btn-start, @blue-btn-end);
  border: 1px solid @button-border-hover;
  color: @white;
  &:hover {
    ._gradient(@blue-btn-start-hover, @blue-btn-end-hover);
    border-color: @blue-btn-border-hover;
    &:before {
      border-right: 1px solid @blue-btn-border-hover;
    }
  }
  &:active,
  &.active {
    ._gradient(@blue-btn-start, @blue-btn-end);
  }
}

._disabled() {
  ._btn-user;
  color: @text-disabled;
  cursor: default;
  &:hover {
    ._gradient(@white, @grey-btn-end);
  }
  &:active {
    top: 0;
    ._gradient(@white, @grey-btn-end);
  }
}

._btn-text() {
  display: inline-block;
  margin: 0;
  height: 16px;
  outline: none;
  border-bottom: 1px dashed @blue-light;
  background: none;
  color: @blue-light;
  text-decoration: none;
  font-size: 14px;
  font-family: @open-sans-semibold;
  &:hover {
    border-bottom: 1px dashed transparent;
  }
}

  // dropdown
._dropdown (@type,@width:auto,@height:auto) {
  ._radius(5px);
  ._transition(all 0.3s);
  position: absolute;
  z-index:401;
  visibility: hidden;
  width: @width;
  height: @height;
  border: 1px solid @pop-up-border;
  opacity: 0;
  &:after {
    position: absolute;
    display: block;
    background-image: @sprite_url;
    content: '';
  }
  &.active {
    ._transition(all 0.1s);
    visibility: visible;
    opacity: 1;
  }
  .nav {
    overflow: auto;
    height: @height;
  }
  .nav>li {
    ._text-overflow;
    ._transition(background 0.05s);
    ._radius(3px);
    margin: 4px 3px;
    padding: 8px 16px;
    color: @color-text-muted;
    cursor: pointer;
    .counter {
      color: @color-text-muted;
      &:before {
        color: @color-text-muted;
        content: ' | ';
      }
    }
    &:hover {
      background:@color-theme-base;
      color:@color-text-base;
      .counter {
        color:@color-text-base;
        &:before {
          color:@color-text-base;
        }
      }
    }
  }
}
._dropdown (top,@width:auto,@height:auto) {
  &:after {
    top: -10px;
    width: 17px;
    height: 10px;
    background-position: -51px -101px;
  }
}
._dropdown (right,@width:auto,@height:auto) {
  &:after {
    right: -10px;
    width: 10px;
    height: 17px;
    background-position: -60px -103px;
  }
}
._dropdown (bottom,@width:auto,@height:auto) {
  &:after {
    bottom: -10px;
    width: 17px;
    height: 10px;
    background-position: -51px -111px;
  }
}
._dropdown (left,@width:auto,@height:auto) {
  &:after {
    left: -10px;
    width: 10px;
    height: 17px;
    background-position: -50px -103px;
  }
}
._dropdown-menu (@type,@width:auto,@height:auto) {
  ._dropdown (@type,@width,@height);
  .nav>li {padding:0;}
  .nav>li>a {
    ._box-sizing;
    display: inline-block;
    padding: 8px 16px;
    width: 100%;
    height: 100%;
    color:inherit;
    text-decoration:none;
  }
}

._buttons(@bg-color: #65b65f) {
  ._radius(20px);
  margin: 0;
  display: inline-block;
  outline: none;
  border: none;
  background: fade(@bg-color, 85%);
  color: @text-def-dark;
  text-decoration: none;
  text-shadow: none;
  outline: none;
  font-weight: 600;
  &:hover {
    background: @bg-color;
  }
  &:active, &.active {
    background: fade(@bg-color, 85%);
  }
}

._select(@value-bg-color: @white, @dropdowng-bg-color: @white) {
  font-size: 14px;
  .value {
    ._shadow(inset 0 1px 2px 0 #b3b3b3);
    ._box-sizing;
    ._radius(4px);
    position: relative;
    display: block;
    overflow: hidden;
    padding: 5px 32px 5px 10px;
    width: 100%;
    background-color: @value-bg-color;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
    &:before {
      border-color: @black rgba(0, 0, 0, 0);
      border-style: solid;
      border-width: 4px 4px 0;
      content: '';
      margin-top: -2px;
      position: absolute;
      right: 10px;
      top: 50%;
    }
    &:after {
      position: absolute;
      top: 4px;
      right: 29px;
      width: 1px;
      height: 20px;
      background-color: @button-border;
      content: '';
    }
    &:hover {
      cursor: pointer;
    }
    .input-value {
      ._shadow(none);
      padding: 0;
      background: none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .ie8 & {
      border: 1px solid #d4d5d4;
    }
  }
  .select {
    ._radius(6px);
    ._box-sizing;
    display: none;
    width: 100%;
    background: @dropdowng-bg-color;
    .item {
      ._radius(3px);
      padding: 4px 5px;
      color: @blue-light;
      word-wrap: break-word;
      line-height: 18px;
      &:hover {
        background: #cad6e7;
        color: @text-def;
        cursor: pointer;
      }
      &.active {
        color: @text-def;
      }
    }
    .items-group-name {
      color: @text-light;
      font-family: @open-sans-semibold;
    }
    .ie8 & {
      border: 1px solid #d4d5d4;
    }
  }
  &.active {
    .value {
      display: none;
    }
    .select {
      display: block;
    }
  }
}

._select-input-dropdown(@value-bg-color: @white, @dropdowng-bg-color: @white) {
  ._select(@value-bg-color, @dropdowng-bg-color);
  .select {
    ._box-sizing;
    ._shadow(inset 0 1px 1px 0 #dbdbdb);
    position: relative;
    padding: 5px 29px 5px 5px;
    border: 1px solid;
    border-top-color: #b6b8b6;
    border-right-color: #d4d5d4;
    border-bottom-color: #e8e9e8;
    border-left-color: #d4d5d4;
    .list {
      border-right: 1px solid @button-border;
      &:after {
        position: absolute;
        top: 10px;
        right: 9px;
        width: 10px;
        height: 6px;
        background: @sprite_url no-repeat -218px -82px;
        content: '';
      }
    }
  }
}

._select-output-dropdown(@value-bg-color: @white, @dropdowng-bg-color: @white) {
  position: relative;
  .input-holder {
    position: relative;
  }
  &.active {
    .value {
      display: block;
      &:before {
        background-position: -218px -82px;
      }
    }
  }
  &.top {
    .select {
      bottom: 35px;
      top: auto;
    }
  }
  .select {
    position: absolute;
    top: 35px;
    z-index: 400;
    padding: 5px;
      .list {
        overflow: hidden;
        overflow-x: visible;
        overflow-y: auto;
        max-height: 186px;
    }
  }
}