/*old variables*/

@header-bg-start: #7394c2;
@header-bg-end: #517ab3;
@black: #000;
@white: #fff;
@yellow: #ffea7f;
@green: #77b200;
@counter-bg: #ff4c4c;
@blue-light: #5079b3;
@blue-light-hover: #5c8bcd;
@site-nav-item-active-bg-start: #537199;
@site-nav-item-active-bg-end: #456899;
@body-color-bg: #f2eee6;
@logo-text-color: #ffea7f;
@default-link-color: #0a4983;
@text-def: #333;
@title-text-def: #262626;
@button-border: #d9d9d9;
@button-border-hover: #5079b3;
@text-light: #999;
@text-extralight: #bfbfbf;
@text-disabled: #c0c0c0;
@grey-light: #f2f2f2;
@grey-darklight: #ccc;
@transparent: transparent;
@online: #77b200;
@r-online: #f2a60c;
@green-btn-start: #9fc94c;
@green-btn-end: #78b302;
@green-btn-start-hover: #addd4d;
@green-btn-end-hover: #86c703;
@green-btn-start-press: #95b459;
@green-btn-end-press: #639303;
@orange-btn-start: #f6c154;
@orange-btn-end: #f2a70e;
@orange-btn-start-hover: #ffd684;
@orange-btn-end-hover: #fab427;
@orange-btn-start-press: #deb86a;
@orange-btn-end-press: #d9960d;

@blue-btn-start: #8ba6cd;
@blue-btn-end: #5079b3;
@blue-btn-start-hover: #99bbec;
@blue-btn-end-hover: #6498e2;
@blue-btn-border-hover: #5b89cb;
@blue-btn-start-press: #849bbc;
@blue-btn-end-press: #44679a;

@grey-btn-end: #d9d9d9;
@grey-btn-end-hover: #e8e7e7;
@grey-btn-start-press: #eff0f1;
@grey-btn-end-press: #cdd0d1;
@grey-border: #cbcbcb;

@btn-toolbar-right: #5b769b;
@btn-toolbar-left: #8ba6cd;
@border-user-toolbar: #40618f;
@separator: #e6e6e6;
@error-text-color: #ff1940;




@pop-up-shadow: #a5a5a5;
@button-bg-def: #ccc;
@button-bg-def-hover: #dedede;
@button-2: #f9a100;
@button-2-shadow: #ffc561;
@button-w-shadow-dark: #cb8400;
@button-2-hover: #ffb62b;
@button-2-hover-shadow: #e09200;
@button-3: #e83434;
@button-3-shadow: #a82525;
@button-3-hover: #fb4e4e;
@button-3-hover-shadow: #c53030;
@button-activated: #ececec;
@button-shadow-1: #8f8e8e;
@button-hover: #ffe4b5;
@text-link: #ff8400;
@text-link-underline: #ffe4d4;
@text-medium: #b3b3b3;
@text-highlight: #009f00;
@text-meta: #666;
@text-banner: #fea700;
@message-button-bg: #c6f6c6;
@message-button-hover: #1cbb1c;
@message-button-hover-shadow: #008000;
@message-button-text: #009f00;
@message-button-shadow: #88d67a;
@wink-button-hover-shadow: #bf7c00;
@profile-highlight: #fff5e4;
@input-hover: #f2f2f2;
@tab-title-bg: #8a8a8a;
@tab-title-shadow: #9b9b9b;
@tab-body-bg: #f9a100;
@tab-body-active: #fff6d9;
@tab-body-shadow: #fbbd4d;
@tab-border: #6e6e6e;
@tab-text: #1c1c1c;
@tooltip-bg: #fef5e4;
@tooltip-border: #9a9a9a;
@banner-light-bg: #31fa31;
@banner-basic-bg: #17f517;
@banner-text: #333;

/*Actual variables*/

@text-def: #e5e5e5;
@text-def-dark: #1a1a1a;
@text-light: #999;
@text-medium: #a6a6a6;
@text-active: #ffc44c;
@text-link: #66cc66;
@text-meta: #bfbfbf;
@text-error: #ff1940;
@body-color-bg: #FFFFFF;
@button-def: #d7cfd0;
@button-active: #d8a647;
@button-active-light: #ffc44c;
@button-bg: #64b660;
@button-disabled: #d7cfd0;
@online: #66cc66;
@toolbar-bg-top: #800d16;
@toolbar-bg-bottom: #400005;
@border-def: #bfbfbf;
@switcher-bg: #ededed;
@option-highlight: #fff2b2;
@status-offline: #dca941;
@pop-up-bg: #eee7e8;
@status-flirtcast: #ea7fff;
@status-autoreply: #f2ba49;
@status-activity-alert: #b3b3b3;
@upgrade-banner: #7ad079;
@package-bg: #e9e6e7;
@line-through: #ff1940;
@error-border: #ff4d6b;
@package-def-bg: #ece7e7;
@pop-up-border: #ccc;

@chatroom-border: #ccc;
@personal-bg: #d3cfcf;
@chat-title: #4c4c4c;
@number-color :#808080;
@chat-tab-color: #a39a9b;
@chat-tab-color-active: #dfa842;
@male: #006fbc;
@female: #ff4f4f;
@block-btn-bg: #fea6a6;
@video-button-bg: #b0b1b2;
@chat-send-button-bg: #f2c161;
@upgrade-banner-bg: #7bd07a;

@main-link-color: #0074d7;
@main-link-hover: #d70000;
@profile-nav-bg: @main-link-color;
@profile-nav-bg-hover: @main-link-hover;

//page not found
@page_not_found-font_family: 'Open Sans', Arial, helvetica, sans-serif;
@page_not_found-color: #808080;
@page_not_found-body-color: #808080;
@page_not_found-border: #ccc;
@page_not_found-bg: #fff;