.b-page.b-page-profile-settings
  .pattern-bg
    .pattern-inner
      .pattern-overlay
  .settings-content
    .accounttop-banner-openx#openx-banner-placement-accounttop
    .accountleft-banner-openx#openx-banner-placement-accountleft
    .accountright-banner-openx#openx-banner-placement-accountright
    h1.title
      span.b-title= _t("account", "title.my_settings")
      .b-settings-row.b-id
        .b-setting= _t("account", "title.user_id")
        .b-value
          span.value= userId
          span.btn-light.btn-text-confirm.btn-info(title=_t("account", "tooltip.user_id")) ?
    .left-block
      .b-settings-row.member-status
        .settings-holder
          .b-setting= _t("account", "title.membership_status")
          .b-value
            span.value= _t("account", "value.membership_status_" + paymentStatus.type)
              - if(upgradeButton.type == 'main' || upgradeButton.type == 'features')
                span.info= " " + _t("account", "tooltip.upgrade_account_" + paymentStatus.type, {"{sitename}": siteName})
        - if(upgradeButton.type == 'main' || upgradeButton.type == 'features')
          a.btn.green(href=upgradeButton.url)= _t("account", "button.upgrade_" + paymentStatus.type)
      .b-settings-row.b-settings-password(data-update-password="1")
        .b-value(data-value="value")
          .line
            .b-name= _t("account", "title.change_password")
            input.password-old(type="password", data-change="change", value="*********")
            .b-success(data-password-update-result="1")
        .b-value.inactive(data-value="value")
          .line(data-old-password-line="1")
            .b-name= _t("account", "title.old_password")
            input.password-old(data-old-password="1", type="password")
            button.show-pass-btn(class="active",value="1", data-show-old-password="1")
            .b-error(data-old-password-error="1")
          .line.inactive(data-old-password-line="1")
            .b-name= _t("account", "title.old_password")
            input.password-old(data-old-password="1", type="text")
            button.show-pass-btn(class="active",value="1", data-show-old-password="1")
            .b-error(data-old-password-error="1")
          .line(data-new-password-line="1")
            .b-name= _t("account", "title.new_password")
            input.password-new(data-new-password="1", type="password")
            button.show-pass-btn(class="active",value="1", data-show-new-password="1")
            .b-error(data-new-password-error="1")
          .line.inactive(data-new-password-line="1")
            .b-name= _t("account", "title.new_password")
            input.password-new(data-new-password="1", type="text")
            button.show-pass-btn(class="active",value="1", data-show-new-password="1")
            .b-error(data-new-password-error="1")
          .line
            button.btn.green(data-change-password="1")= _t("account", "button.save")
            button.btn.grey(data-change="change")= _t("account", "button.cancel")
      .b-settings-row.b-settings-email(data-update-email="1")
        .b-value(data-value="value")
          .line
            .b-name= _t("account", "title.change_email")
            input.password(type="text", data-change="change", data-current-email="1", value=email)
            .b-success(data-emailupdate-result="1")
        .b-value.inactive(data-value="value")
          span.value(data-current-email="1")= email
          .line(data-emailupdate-password-line="1")
            .b-name= _t("account", "title.your_password")
            input.password(data-emailupdate-password="1", type="text")
            .b-error(data-emailupdate-password-error="1")
          .line(data-emailupdate-email-line="1")
            .b-name= _t("account", "title.new_email_address")
            input.email(data-emailupdate-email="1", type="text")
            .b-error(data-emailupdate-email-error="1")
          .line
            button.btn.green(data-change-email="1")= _t("account", "button.save")
            button.btn.grey(data-change="change")= _t("account", "button.cancel")
      .b-settings-row.b-settings-l10n(data-update-l10n="1")
        .b-value(data-value="value")
          .line(data-l10n-locale="1")
            .field(data-ui-select)
              .b-name= _t("account", "title.language")
              .input-holder(data-toggle)
                .value(data-value="")
                .select
                  input(type="hidden", value=l10n.locale, name="profileLanguageSelect", data-control, id="profileLanguageSelect")
                  ul.list
                    if l10n.languagesList
                      each title, language in l10n.languagesList
                        li.item(data-item=language)= _t("account", "locale." + title)
            .b-error(data-error="1")= _t("account", "error.cant_change_language")
          .line(data-l10n-timezone="1")
            .field(data-ui-select)
              .b-name= _t("account", "title.timezone")
              .input-holder(data-toggle)
                .value(data-value="")
                .select
                  input(type="hidden", value=l10n.timezone, name="profileTimezoneSelect", data-control, id="profileTimezoneSelect")
                  ul.list
                    if l10n.timezonesList
                      each timeZone, timezoneTitle in l10n.timezonesList
                        li.items-group-name= timezoneTitle
                        if timeZone
                          each title, zone in timeZone
                            li.item(data-item=zone)= title
            .b-error(data-error="1")= _t("account", "error.cant_change_timezone")
          .line
            button.btn.green(data-change-l10n="1")= _t("account", "button.save")
    .right-block
      h2= _t("account", "title.notifications")
      .b-settings-row(data-notification-settings="1")
      .b-settings-row.activity(data-notification-newsfeed-subscription="1")
      .b-settings-row.b-settings-notifications(data-notification-subscription="1")
      .b-settings-row.b-settings-features.select-output-dropdown(data-settings-features="1")
      .b-settings-row.privacy-setting(data-fb-activity-settings="1")
      .b-settings-row.meta-setting
        .b-settings-btns
          .b-user-complain
            ul
              li
                button(data-remove-account="data-remove-account")= _t("account", "button.remove_account")
              if(hasBillingHistory === true)
                li
                  a(href="/#billingHistory")= _t("account", "button.billing_history")
  .accountbottom-banner-openx#openx-banner-placement-accountbottom