/*Popup video*/
.pop_up-overlay {
    background: url("../images/flowplayer/img/transp.png");
    width: 100%;
    height: 100%;
    z-index: 1001;
    position:fixed;
    top:0;
    left:0;
}
.video-item-popup {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    padding: 100px 15px;
    height:100%;
    overflow:auto;
}
.video-item-popup-wrap {
    max-width: 790px;
    margin: 0 auto;
    position: relative;
}
.video-item-popup-close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;

    .comments-header-text__icon{
        color: #ffffff;
    }
}
.video-item-popup-title {
    font-size: 1.125em;
    color: #ffffff;
    padding-bottom: 10px;
}
.video-item-upgrade_link {
    width: 250px;
    height: 50px;
    background: url('../images/vod_upgrade.png') repeat 0 0 transparent;
    position: absolute;
    bottom: 44px;
    left: 15px;
    z-index: 5;
}
/*--------------------------------------------------------------Comments---------------------------------------------------------*/
.video-block_comments{
    padding: 0 15px 10px;
    background: #ffffff;
}
.video_comments-wall{
    margin-top: 28px;
}
.video_comments-wall__field{
    display: table;
    margin-bottom: 35px;
    }
.video_comments-wall_text{
    display: table-cell;
    font-size: 0.8em;
    font-weight: 500;
    line-height: 1.2;
}
.video_comments-wall_text__title{
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 4px;
}
.b-feed-content__profile-avatar--video_block{
    padding-top: 2px;
    padding-right: 2%;
    width: 57px;
}
.b-feed-content__profile-avatar--fix-width{
    width: 57px;
}
.b-profile-feed-head__content-left--video_text{
    padding-left: 0px;
    float: none;
}
input.video-page__search-box-wrapper__input_wrap_inp{
    background: @grey;
    border: 0;
    width: 100%;
    padding: 10px;
    height: 44px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.comment-number__icon, .favorities__icon, .credits__icon{
    font-size: 1.4em;
    vertical-align: middle;
    width: 19px;
    display: inline-block;
}
.video-page__search-box-wrapper{
    display: table;
    width: 100%;
}
.video-short-info-b{
    background: #f3f6fb;
    overflow: hidden;
}
.video_icons{
    text-align: left;
}
.video-page__search-box-wrapper__input_wrap{
    display: table-cell;
}
.video_icons, .video_like_button{
    display: table-cell;
    width: 39%;
    text-align: left;
    vertical-align: middle;
    position: relative;
    float: left;
}
.video_like_button{
    width: auto;
    float: right;
    margin: 8px 14px 8px 0px;
}
.video_icons__icon + .video_icons__icon { margin-left: 1em; }

.border-video-page.video_info {
    border-top: 0;
}
.b-feed-content__profile-avatar--video{
    width: 33%;
}
a.video_button {
    background: @main-link-color;
    padding: 6px 0.975em 7px;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    vertical-align: top;

    &:hover { background-color: darken(@main-link-color, 5%)}
    margin-right: 5px;
}
a.video_button_fav{
    padding: 7px 0.975em 8px;
    margin-right:0px;
}
.video_like_button__icon{
    color: @white;
    font-weight: normal;
    font-size: 0.9em;
    text-shadow: 0 -1px 1px #003C71;
    vertical-align: middle;
}
.video_like_button__icon--icon { font-size: 1.2em; }
.avatar__text__name, .avatar__text__date{
    display: inline-block;
}
.video_info{
    display: table;
    width: 100%;
    padding-top: 15px;
}
.video_icons__comment-number, .video_icons__favorities, .video_icons__credits{
    display: inline-block;
    color: #025EEE;
    font-size: 0.9em;
    margin: 14px 0 0 15px;
}
.video_icons__text{
    color: black;
    font-size: 0.8em;
}

/*---------------------PROMOTION SCREEN------------------------------*/

.flowplayer {
  .endscreen {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 92.4%;
    background-color: #444;
    text-align: center;
    ._box-sizing;
    padding: 15px 0 10px;
    overflow: hidden;

    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    transition: opacity .5s;

    &__row { height: 52%; }

    &__title {
      font-size: 16px;
      color: #fff;
      margin-bottom: 12px;
      text-transform: uppercase;
    }

    &__item {
      position: relative;
      width: 130px;
      height: 130px;
      display: inline-block;
      vertical-align: top;
      overflow: hidden;
      margin: 0 20px;
      &.hide { display: none; }

      &__thumb {
        height: 100%;
        text-align: center;
      }

      &__link {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
      }

      img {
        width: auto;
        height: 100%;
      }

      .b-profile-feed-middle-content__btn-play-small {
        height: 30px;
        width: 30px;
        left: 50%;
        margin-left: -15px;
      }

      &__hidden {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 100%;
        -webkit-transition: top 0.4s ease;
        -moz-transition: top 0.4s ease;
        transition: top 0.4s ease;
        height: 100%;
        width: 100%;
        background: rgba(18, 27, 47, 0.8);
        color: #fff;
        font-size: 12px;

        .online-status,
        .video-quality {
          position: absolute;
          top: 3px;
          font-size: 8px;
          text-transform: uppercase;
        }

        .online-status {
          left: 3px;
          color: #069d2d;

          &:before {
            display: inline-block;
            width: 6px;
            height: 6px;
            background: #069d2d;
            border: 1px solid darken(#069d2d, 15%);
            .border-radius;
            margin-right: 3px;
            content: "";
          }
        }

        .video-quality {
          position: absolute;
          color: #fcdd0c;
          right: 3px;
          font-size: 10px;
          font-weight: bold;
        }

        .model-info {
          position: absolute;
          left: 0;
          bottom: 5px;
          width: 100%;
          ._box-sizing;
          padding: 0 5px;

          &__name {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            line-height: 16px;
          }

          &__age { color: #c8c8c8; }

          &--video {
            display: table;
            width: 100%;
            height: 100%;

            .model-info-wrap {
              display: table-cell;
              vertical-align: middle;
              width: 100%;
              height: 100%;
            }

            .model-info__name { max-width: 70px; }
          }
        }
      }

      &:hover {
        .endscreen__item__hidden { top: 0; }
      }
    }
  }

  &.is-finished {
    .endscreen {
      z-index: 2;
      opacity: 0.8;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      &--free {
        background: fade(#000, 75%);

        .endscreen-wrap {
          display: table;
          width: 100%;
          height: 100%;
          position: relative;
        }

        .endscreen-inner {
          display: table-cell;
          width: 100%;
          height: 100%;
          vertical-align: middle;
          text-align: center;
          padding: 0 160px;
        }

        .endscreen-title {
          color: #fff;
          font-size: 1.625em;
          font-weight: 300;

          b { font-weight: 600; }
        }

        .trial-note {
          font-size: 0.875em;
          color: #fff;
        }

        .btn--membership {
          max-width: none;
          margin: 40px 0 60px;
          display: inline-block;
          font-size: 1.5625em;
          padding: 14px 50px 16px;
          width: auto;
          background: #d70000;
          -webkit-box-shadow: 0 -2px 2px fade(#000, 30%) inset;
          -moz-box-shadow: 0 -2px 2px fade(#000, 30%) inset;
          box-shadow: 0 -2px 2px fade(#000, 30%) inset;
          text-shadow: 1px 1px fade(#000, 10%);
          border: 0;

          &:hover { background: lighten(#d70000, 10%); }
        }
      }
    }
    .fp-ui {
      background: none !important;
    }
    .fp-timeline {
      display: none;
    }
  }

  &.is-fullscreen {
    .endscreen {
      height: 96%;
      &__item { display: inline-block !important; }
    }
    .endscreen__list {
      height: 90%;
      overflow: hidden;
    }
    .endscreen__item {
      width: 200px;
      height: 50%;
      margin: 0;
    }
  }
}
