@flirtcast-shadow: #000;
@flirtcast-window_bg: #fff;
@flirtcast-header_text: #fff;
@flirtcast-text_light: #999;
@flirtcast-input_bg: #f2f2f2;
@flirtcast-green_btn_start: #9fc94c;
@flirtcast-green_btn_end: #78b302;
@flirtcast-font_600: Helvetica, Arial, sans-serif;;
