
.b-page {
  &.b-page-billing-history {
    .pattern-bg {
      display: none;
    }
    width: 680px;
    padding: 34px 20px 80px;
    position: relative;
    margin: 0 auto;
    z-index: 2;
    .title {
      margin: 0 0 30px;
      font-weight: normal;
      color: @billingHistory-text_title;
    }
    .btn {
      margin-left: 15px;
    }
    .b-settings-row {
      margin-bottom: 15px;
      .b-setting {
        color: @billingHistory-text_active;
        margin-bottom: 5px;
      }
      .b-value {
        overflow: hidden;
      }
      &.member-status {
        margin-top: 0;
        .b-value {
          padding: 20px 15px;
        }
        .value {
          max-width: 275px;
          .info {
            color: @billingHistory-text_def;
          }
        }
      }
    }

    table {
      border: 1px solid transparent;
      border-collapse: collapse;
      padding: 0;
      margin-left: -1px;
      margin-bottom: -1px;
    }
    th {
      font-weight: normal;
      color: @billingHistory-text_light;
      padding: 4px 10px 5px;
      text-align: left;
      font-family: @billingHistory-font;
      font-size: 12px;
      line-height: 16px;
      border-bottom: 1px solid @billingHistory-border;
      border-left: 1px solid @billingHistory-border;
      padding: 10px 15px;
      &.paid-for {
        width: 118px;
      }
      &.amont {
        width: 55px;
      }
      &.time {
        width: 37px;
      }
      &.since {
        width: 82px;
      }
      &.expiry {
        width: 75px;
      }
      &.status {
        width: 71px;
      }
      &.processed-by {
        width: 125px;
      }
      &.action {
        width: 169px;
      }

    }
    td {
      border-bottom: 1px solid @billingHistory-border;
      border-left: 1px solid @billingHistory-border;
      // padding: 4px 10px 5px;
      padding: 15px;
      &.since {
        text-align: center;
        color: @billingHistory-text_active;
      }
      &.expiry {
        text-align: center;
      }
      a {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .subscription {
      th {
        &.since {
          width: 378px;
        }
      }
      td {
        &.since {
          padding-left: 10px;
          text-align: left;
          color: @billingHistory-text_active;
        }
      }
      th {
        &.time {
          width: 35px;
        }
      }
    }
    .additional {
      .paid-for {
        width: 112px;
      }
      .since {
        width: 73px;
      }
    }
  }
}