@billingHistory-text_def: #333;
@billingHistory-text_light: #999;
@billingHistory-text_active: #f73;
@billingHistory-text_title: #1f2226;
@billingHistory-text_value: #fff;
@billingHistory-border: #ccc;
@billingHistory-font: 'dosissemibold', Arial, helvetica, sans-serif;