.msg-history {
  padding-bottom: 10px;
  overflow: auto;
  position: absolute;
  top: 85px;
  bottom: 50px;
  left: 0;
  right: 0;
  ._box-sizing;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
.msg-view-more {
  display: block;
  text-align: center;
  background: @messenger-view_more_bg;
  padding: 9px;
  text-decoration: none;
  a, span {
    display: inline-block;
    line-height: 16px;
    position: relative;
    text-decoration: none;
    border-bottom: 1px dotted;
    &:after {
      display: none;
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      top: 0;
      left: -21px;
      background-image: url(~"@{messenger-images_path}/search-loader.gif");
    }
    &:hover {
      color: @messenger-view_more_text_effect;
    }
    &.loading {
      color: @messenger-view_more_text_effect;
      cursor: default;
      padding: 0 0 1px;
      border: none;
      &:after {
        display: block;
      }
    }
  }
}
.msg-history {
  .female {
    color: @messenger-msg_female;
  }
  .male {
    color: @messenger-msg_male;
  }
  .message {
    position: relative;
    padding: 7px 0 8px 0;
    text-align: left;
    .photo-holder {
      position: absolute;
      top: 0;
      bottom: 8px;
      left: -46px;
      width: 40px;
      height: 40px;
      ._radius(5px);
      img {
        width: 100%;
        height: 100%;
        display: block;
        ._radius(5px);
      }
    }
    .message-text {
      position: relative;
      float: left;
      padding: 7px 12px;
      margin: 0 10px;
      ._radius(5px);
      display: inline-block;
      color: @messenger-message_text;
      word-break: break-all;
      .time {
        position: absolute;
        padding-left: 13px;
        bottom: -15px;
        right: 0;
        margin: 0;
        text-align: left;
        font-size: 11px;
        color: @messenger-text_sub;
        &:before {
          display: block;
          content: "";
          position: absolute;
          bottom: 1px;
          left: -1px;
          width: 12px;
          height: 11px;
          background: @messenger-sprite no-repeat -199px 0;
          background-size: 213px;
        }
      }
      .upgrade-text {
        display: inline-block;
        width: 105px;
        height: 22px;
        vertical-align: middle;
        margin-top: -6px;
        margin-bottom: -5px;
        background: url(~"@{messenger-images_path}/blured-text.png");
        background-size: 110px;
      }
      .message-item-text {
        margin: 0;
        float: right;
        font-size: 14px;
        min-width: 80px;
        &.upgrade-text {
          -ms-text-overflow: ellipsis;
              text-overflow: ellipsis;
          max-width: 100px;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
    &.message-in {
      margin-bottom: 8px;
      min-height: 41px;
      .message-text {
        background: @messenger-income;
        &:before {
          content: "";
          display: block;
          position: absolute;
          left: -4px;
          top: 10px;
          border: 4px solid @messenger-block_border_reset;
          border-right-color: @messenger-income;
          border-left: none;
        }
        &.msg-flirtcast {
          background: @messenger-flirtcast;
          &:before {
            border-right-color: @messenger-flirtcast;
          }
        }
        &.msg-new-unit {
          background: @messenger-new_unit;
          &:before {
            border-right-color: @messenger-new_unit;
          }
        }
        &.msg-autoreply {
          background: @messenger-autoreply;
          &:before {
            border-right-color: @messenger-autoreply;
          }
        }
      }
    }
    &.message-out {
      text-align: right;
      margin-bottom: 8px;
      min-height: 41px;
      .photo-holder {
        left: auto;
        right: -46px;
        .time {
          right: 0;
          left: auto;
          text-align: right;
        }
      }
      .message-text {
        float: right;
        margin: 0 10px;
        background: @messenger-outcome;
        color: @messenger-message_invert_text;
        &:after {
          content: "";
          display: block;
          position: absolute;
          top: 9px;
          right: -4px;
          border: 4px solid @messenger-block_border_reset;
          border-left-color: @messenger-outcome;
          border-right: none;
        }
        &.green {
          &:after {
            background-position: -108px -38px;
          }
        }
        &.purple {
          &:after {
            background-position: -99px -23px;
          }
        }
        &.orange {
          &:after {
            background-position: -131px -20px;
          }
          .message-item-text {
            .autoreply-info {
              text-align: left;
            }
          }
        }
        .time {
          left: 0;
        }
      }
    }
    .message-upgrade {
      text-align: center;
      padding: 12px 0;
      clear: both;
    }
    &.message-date {
      font-size: 10px;
      color: @messenger-text_sub;
      text-align: center;
    }
  }
  .autoreply-info {
    font-size: 11px;
    margin-top: 5px;
  }
}
.info-about-read {
  display: none;
  font-size: 10px;
  color: @messenger-text_sub;
  text-align: center;
  position: relative;
  padding: 10px;
  &.already-read:before {
    display: inline-block;
    width: 12px;
    height: 11px;
    background: @messenger-sprite no-repeat -199px -13px;
    background-size: 213px;
    margin: 0 1px -2px 0;
  }
  &.already-read {
    .read-text {
      display: inline;
    }
    .not-read-text {
      display: none;
    }
  }
  .read-text {
    display: none;
  }
  .not-read-text {
    display: inline;
  }
}
.msg-communication {
  width: 100%;
  line-height: 1.7em;
  position: relative;
  padding: 13px 17px;
  ._box-sizing;
  .text, .upgrade {
    .screenname {
      font-weight: bold;
      color: @messenger-screenname;
    }
  }
  .text {
    margin: 0 100px 0 0;
    font-size: 14px;
    line-height: 120%;
    color: @messenger-text_main;
  }
  .upgrade {
    position: absolute;
    top: 21px;
    right: 6px;
    min-height: 35px;
  }
}
.msg-special-delivery {
  padding: 5px 10px;
  background: @messenger-delivery_bg;
  font-size: 12px;
  line-height: 20px;
  a {
    text-decoration: none;
    color: @messenger-delivery_anchor;
    display: inline-block;
    padding: 5px 0 5px 20px;
    position: relative;
  }
  input {
    position: absolute !important;
    left: 0 !important;
    top: 50% !important;
    margin-top: -7px !important;
    height: 14px !important;
    width: 14px !important;
    opacity: 1 !important;
  }
}
.msg-input {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 5px;
  background: @messenger-input_box_bg;
  padding: 6px 15px;
  .input {
    position: relative;
    margin-right: 45px;
  }
  .input-wrap {
    background: @messenger-input_bg;
    font-size: 14px;
    width: 100%;
    min-height: 38px;
    max-height: 115px;
    padding: 0 34px 0 4px;
    overflow: hidden;
    ._box-sizing;
    ._radius(4px);
    color: @messenger-text_sub;
  }
  .message-input {
    height: 100%;
    overflow: hidden;
    margin-right: 50px;
    ._box-sizing;
    border: 0;
    ._shadow(none);
    display: block;
    outline: none;
    width: 100%;
    resize: none;
    min-height: 20px;
    max-height: 150px;
    line-height: 20px;
    padding: 7px 1px 0;
    ._radius(4px);
    ._user-select;
  }
  .smiles {
    width: 28px;
    position: absolute;
    right: 2px;
    top: 3px;
    bottom: 2px;
    .btn-smiles {
      background: @messenger-sprite no-repeat -120px -89px;
      background-size: 213px;
      height: 27px;
      width: 38px;
      position: absolute;
      margin: 2px -7px;
      cursor: pointer;
    }
    .smiles-tooltip {
      width: 243px;
      padding: 11px;
      top: 29px;
      right: -5px;
      margin: 0 0 3px;
      z-index: 5;
      ul {
        font-size: 0;
        line-height: 0;
      }
      &:after {
        right: 10px;
      }
    }
  }
  .submit {
    float: right;
    button {
      position: relative;
      width: 38px;
      height: 38px;
      background: @messenger-button_send;
      border: none;
      ._radius(4px);
      &:before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 38px;
        height: 27px;
        background: @messenger-sprite -80px -89px no-repeat;
        background-size: 213px;
      }
    }
  }
}
.message-upgrade {
  &:not(.fbx-field-check) {
    background: @messenger-upgrade_message_bg;
    padding: 6px 15px 10px;
    margin: -6px -15px 6px;
    text-align: center;
  }
  .field-check {
    right: 5px;
  }
}
.b-message-upgrade {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 10px 15px 15px;
  background: @messenger-upgraede_bg;
  .button {
    display: block;
    margin: 15px auto 0;
  }
  span {
    color: @messenger-upgraede_highlighted;
  }
}
.msg-smiles {
  display: none;
  padding: 10px 15px;
  margin: -10px -15px 6px;
  &.active {
    display: block;
  }
  ul {
    margin: 0;
    padding: 2px;
    list-style: none;
  }
}
.msg-smile {
  height: 25px;
  width: 25px;
  display: inline-block;
  vertical-align: top;
  margin: 1px;
  &:hover {
    ._shadow(~"0 0 2px @{messenger-smile_shadow}");
    ._radius(2px);
  }
}
.msg-emoji,
.smile-emoji {
  background: url(~"@{messenger-images_path}/smiles.png") no-repeat;
  height: 25px;
  width: 25px;
  display: inline-block;
  cursor: pointer;
  vertical-align: bottom;
  &[data-smile="D83DDC4E"] {background-position: left 0;}
  &[data-smile="D83DDC4D"] {background-position: -25px 0;}
  &[data-smile="D83DDE20"] {background-position: -50px 0;}
  &[data-smile="D83CDF7A"] {background-position: -75px 0;}

  &[data-smile="D83CDF82"] {background-position: 0 -25px;}
  &[data-smile="D83DDE0A"] {background-position: -25px -25px;}
  &[data-smile="D83DDE47"] {background-position: -50px -25px;}
  &[data-smile="D83DDC4F"] {background-position: -75px -25px;}

  &[data-smile="D83DDD52"] {background-position: 0 -50px;}
  &[data-smile="26C5"] {background-position: -25px -50px;}
  &[data-smile="2615"] {background-position: -50px -50px;}
  &[data-smile="D83DDE15"] {background-position: -75px -50px;}

  &[data-smile="D83DDE22"] {background-position: 0 -75px;}
  &[data-smile="D83CDF54"] {background-position: -25px -75px;}
  &[data-smile="D83DDE49"] {background-position: -50px -75px;}
  &[data-smile="D83DDC96"] {background-position: -75px -75px;}

  &[data-smile="D83DDE07"] {background-position: 0 -100px;}
  &[data-smile="D83DDC8B"] {background-position: -25px -100px;}
  &[data-smile="D83DDE06"] {background-position: -50px -100px;}
  &[data-smile="D83DDCB0"] {background-position: -75px -100px;}

  &[data-smile="D83DDCAA"] {background-position: 0 -125px;}
  &[data-smile="D83CDFB5"] {background-position: -25px -125px;}
  &[data-smile="D83DDE36"] {background-position: -50px -125px;}
  &[data-smile="D83DDC4C"] {background-position: -75px -125px;}

  &[data-smile="D83CDF39"] {background-position: 0 -150px;}
  &[data-smile="D83DDE31"] {background-position: -25px -150px;}
  &[data-smile="D83DDE04"] {background-position: -50px -150px;}
  &[data-smile="D83DDE0F"] {background-position: -75px -150px;}

  &[data-smile="D83CDF1F"] {background-position: 0 -175px;}
  &[data-smile="D83DDE0E"] {background-position: -25px -175px;}
  &[data-smile="D83DDE1B"] {background-position: -50px -175px;}
  &[data-smile="2600"] {background-position: -75px -175px;}

  &[data-smile="D83DDCAD"] {background-position: 0 -200px;}
  &[data-smile="D83DDE24"] {background-position: -25px -200px;}
  &[data-smile="D83CDF79"] {background-position: -50px -200px;}
  &[data-smile="D83DDC4B"] {background-position: -75px -200px;}

  &[data-smile="D83DDE09"] {background-position: 0 -225px;}
  &[data-smile="D83DDE1F"] {background-position: -25px -225px;}
}