/* images */
@messenger-images_path: "../images";
@messenger-sprite: url(~"@{messenger-images_path}/icons.png");
/* end: images */

/* text */
@messenger-text_main: #4C4C4C;
@messenger-text_sub: #808080;
/* end: text */

/* general styles */
@messenger-msg_female: #A1242E;
@messenger-msg_male: #195AE6;
@messenger-income: #DDFFC9;
@messenger-outcome: #ffd5e2;
@messenger-autoreply: #ffb555;
@messenger-flirtcast: #ba94df;
@messenger-new_unit: #999;
@messenger-message_text: #2d2d2d;
@messenger-message_invert_text: #4c4c4c;
@messenger-input_box_bg: #efeff4;
@messenger-input_bg: #fff;
@messenger-upgrade_message_bg: #fff;
@messenger-button_send: @t-main-color;
@messenger-upgraede_bg: #efeff4;
@messenger-upgraede_highlighted: #1CBB1C;
@messenger-smile_shadow: fade(#000, 60%);
@messenger-view_more_bg: #eaeaea;
@messenger-view_more_text_effect: #aaa;
@messenger-block_border_reset: fade(#000,0);
@messenger-screenname: desaturate(@t-main-color, 20%);
@messenger-delivery_bg: #eaeaea;
@messenger-delivery_anchor: #646464;
/* end: general styles */