/*--- Variables ---*/
@main-link-color: #0074d7;
@main-link-hover: #d70000;
@main-btn-color: @main-link-color;
@main-btn-color-hover: #2a83ce;
@notificator-hover: @main-btn-color-hover;
@main-icon-color: #025eee;
@main-icon-color-hover: #a1bbe4;
@main-icon-notif-color: @main-icon-color-hover;
@main-icon-color-notif-new: @main-icon-color;
@title-color: #040e20;
@feed-nick-color: @main-link-color;
@pp-credits-color: @main-link-color;
@pp-icons-color:  @main-link-color;
@attention-color: @main-link-color;
@vod-title: @main-link-color;
@photo-title: @main-link-color;
@blue-text: @main-link-color;
@grey: #F1F3F8;
@dark-grey: #7A808C;
@button-active: #970000;
@button-color: #970000;
@light-blue: #8FC2ED;
@navy: #073863;
@white: #FFFFFF;
@nouislider-color: #ffffff;
@nouislider-color-active: @main-link-color;
@nouislider-btn-color: #ee0909;
@nouislider-btn-elem-color: #f78484;
@b-content-wrap-bg: #ffffff;
@inbox-chat-now-color: #025eee;
@profile-nav-bg: @main-link-color;
@profile-nav-bg-hover: @main-link-hover;
@main-status-color: @main-btn-color;
/*--- [END] Variables ---*/

.billing{
    padding: 15px 6px;
}
.billing-b-content-label {
    display: inline-block;
}
.billing-b-wrap-title {
    margin-bottom: 10px;
}
.billing-b-content {
    background: #f1f3f8;
    .border-radius;
    font-weight: 600;
    overflow: hidden;
    padding: 10px 10px;
    font-size: 0.875em;
}
.billing-b-wrap {
    margin-bottom: 40px;
}
.billing-b-content-status{
    float: right;
    color: @main-status-color;
}
.billing-b-content-subc {
    display: table;
    width: 100%;
    padding: 20px 5px;
    border-top: 1px solid #e8eaef;

    &:first-child{
        border-top: 0;
    }
}

.billing-b-content-label-td {
    display: table-cell;
    width: 32%;
    padding: 0 5px;
    font-size: 0.875em;

    &.link{
        text-align: right;
        font-size: 0.8em;
    }
}
.billing-b-wrap-items{
    background: #f1f3f8;
    .border-radius;
}
.billing-b-content-label-td.link a{
    text-decoration: underline;
    &:hover{
        text-decoration: none;
    }
}
.billing-b-content-td{
    display: table-cell;
    text-align: center;
    font-size: 0.75em;
    border-left: 1px solid #e8eaef;
    padding: 15px 0.5em;
    vertical-align: middle;

    &:first-child{
        border-left: 0;
        min-width: 90px;
    }
}
.billing-b-content-subc-overflow {
    width: 100%;
    overflow: auto;
}
.billing-b-content-subc-table {
min-width: 526px;
}


.billing-b-content-bg{
    background: #f1f3f8;
    .border-radius;
}
.billing-b-content-subc-table{

}
.billing-b-content-subc-table-title td{
    font-size: 0.625em;
    color: @main-link-color;
    text-transform: uppercase;
    padding: 10px 0.5em;
    white-space: nowrap;
    font-weight: 600;
    text-align: center;
}
.billing-b-content-subc-table-item td {
border-bottom: 1px solid #e8eaef;
border-left: 1px solid #e8eaef;
padding: 10px 0.6em;
font-size: 0.75em;
background: #f1f3f8;
vertical-align: middle;
}
.nowrap{
    white-space: nowrap;
}

.billingPageTopButton {
    text-align: right;
}
.billingPageTopButton a {
    display: inline-block;
    margin-top: 10px;
}
