
@billingHistory-window_bg: #fff;
@billingHistory-shadow: #c2c2c2;
@billingHistory-text_highlight: #77b200;
@billingHistory-text_def: #333;
@billingHistory-text_light: #999;
@billingHistory-text_link: #5079b3;
@billingHistory-text_link_hover: #fff;
@billingHistory-separator: #e6e6e6;
