div
  div(class="#{divId}", style="display: none;")
    iframe(id=(iframeId), name="openx-iframe", src=(ifrSrc) class="openx-banner-iframe #{iframeId}", marginWidth="0", marginHeight="0", hspace="0", vspace="0", frameSpacing="0", frameBorder="0", scrolling="no", width=(width), height=(height))