.b-wrap-content.b-feed-content__profile-feed
.b-profile-feed-middle-content.upload_block
  .progressbar_block_inner.inactive(data-progress)
    .uploading-progress-container
      .uploading-text-progress
        != _t('profilePhotoUpload', 'text.Uploading') + '&nbsp;'
        strong(data-current)
          | 0
        != '&nbsp;' + _t('profilePhotoUpload', 'text.from') + '&nbsp;'
        b(data-total)
          | 0
      .uploading-progress-bar
          .uploading-progress-bar__inner
              .uploading-progress-bar__progress(style="width: 0%;" data-progress-bar)
                  .noTrespassingAnimationG
                    - for(var i = 0; i < 24; i++)
                      .noTrespassingBarLineG
      .uploading-text-progress
        b(data-progress-value)
          | 0%
  .upload_block_inner(data-drag-drop data-uploadform)
    .b-profile-feed-middle-content_dragDrop
      span.b-profile-feed-middle-content_dragDrop_icon.icon-Photo
      span
        = _t('profilePhotoUpload', 'text.drag_and_drop')
    .b-profile-feed-middle-content_upload
      .b-profile-feed-middle-content_upload_inner(id="ProfilePhotoUploadForm")
        span
          = _t('profilePhotoUpload', 'text.upload_photos')
        input.b-profile-feed-middle-content_upload__input(type='file', size='1')