.voronka_pop_up__drug-drop(data-drag-drop data-uploadform)
    .voronka_pop_up__drug-drop__title= _t('profilePhotoUpload', 'text.drag_and_drop')
    input.b-profile-feed-middle-content_upload__input(type='file', size='1')
    a.voronka_pop_up__voronka-button.voronka_pop_up__voronka-button--red(id="ProfilePhotoUploadForm")= _t('profilePhotoUpload', 'text.upload_photos')
.voronka_pop_up__drug-drop.inactive(data-progress)
    .voronka_pop_up_uploading-progress-container
      .voronka_pop_up_uploading-text-progress
        != _t('profilePhotoUpload', 'text.Uploading') + '&nbsp;'
        strong(data-current)
          | 0
        != '&nbsp;' + _t('profilePhotoUpload', 'text.from') + '&nbsp;'
        b(data-total)
          | 0
      .voronka_pop_up_uploading-progress-bar
          .voronka_pop_up_uploading-progress-bar__inner
              .voronka_pop_up_uploading-progress-bar__progress(style="width: 0%;" data-progress-bar)
                  .noTrespassingAnimationG
                    - for(var i = 0; i < 24; i++)
                      .noTrespassingBarLineG
      .voronka_pop_up_uploading-text-progress
        b(data-progress-value)
          | 0%