.admin-page {
  min-width: 750px;
  max-width: 920px;
  margin: 71px auto 0;
  position: relative;
  z-index: 4;
  .b-profile {
    width: 140px;
    float: left;
    position: relative;
    h3 {
      
      font-size: 18px;
      font-weight: normal;
      padding: 0 0 10px;
      width: 93px;
    }
    .status {
      width: 14px;
      height: 14px;
      display: block;
      position: absolute;
      background-color: @adminPage-status_bg;
      ._radius(50%);
      top: 2px;
      right: 33px;
    }
    .photo-holder {
      width: 107px;
      height: 107px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
  .content {
    background: @adminPage-popup_bg;
    padding: 0 0 43px;
    overflow: hidden;
    border: 1px solid @adminPage-popup_border;
    ._radius();
    .more {
      display: block;
      text-decoration: underline;
      font-size: 16px;
      text-align: center;
      height: 43px;
      line-height: 43px;
      color: @adminPage-black;
    }
    .content-holder {
      padding: 7px 0 15px;
      background: @adminPage-popup_bg;
      height: 298px;
      overflow: auto;
      border-top: 1px solid @adminPage-content_border;
      border-bottom: 1px solid @adminPage-content_border;
      .conversation {
        text-align: center;
        margin: 10px 0;
        color: @adminPage-text_light;
      }
    &.no-scroll {
    height: auto;
    overflow: visible;
    }
    }
    .time {
      color: @adminPage-text_light;
      font-size: 12px;
      line-height: 16px;
      font-family: @adminPage-font_400;
      position: relative;
      margin-bottom: 5px;
    }
  }
  .msg-wrap {
    color: @adminPage-text_dark;
    position: relative;
    margin:0 70px;
    padding: 0 0 20px;
    ._radius(6px);
    .imb_title {
      font-family: @adminPage-font_600;
      margin-bottom: 20px;
      font-size: 13px;
    }
    p {
      margin-bottom: 8px;
    }
    .photo {
      position: absolute;
      left: -54px;
      top: 0;
      width: 36px;
      height: 36px;
      img {
        width: 100%;
      }
    }
    .pre-list {
      margin-bottom: 19px;
    }
    .underline {
      text-decoration: underline;
    }
    a {
      display: inline-block;
      color: @adminPage-text_dark;
      text-decoration: underline;
      margin-bottom: 8px;
    }
    .list {
      margin-bottom: 16px;
      li {
        line-height: 21px;
        &:before {
          content: "- ";
        }
      }
    }
  }
  .admin-user-items {
    margin: 10px -25px 0 0;
    .user-item {
      position: relative;
      display: inline-block;
      vertical-align: top;
      margin: 0 20px 20px 0;
      width: 140px;
      height: 140px;
      &:hover .user-view {
        text-decoration: none;
      }
    }
    .user-photo {
      width: 140px;
    }
    .user-view {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 5px;
      font-size: 16px;
      text-align: center;
      text-decoration: underline;
      color: @adminPage-view_text;
      background: @adminPage-black;
      background: @adminPage-view_bg;
    }
  }
}