@adminPage-font_400: 'dosisregular', Arial, helvetica, sans-serif;
@adminPage-font_600: 'dosissemibold', Arial, helvetica, sans-serif;

@adminPage-black: #000;
@adminPage-view_bg: fade(@adminPage-black, 70%);
@adminPage-view_text: #fff;

@adminPage-popup_bg: #e6e6e6;
@adminPage-popup_border: #ccc;
@adminPage-content_border: #a6a1a2;

@adminPage-status_bg: #66cc66;
@adminPage-text_light: #999;
@adminPage-text_dark: #1a1a1a;


