if (!autoreplySettings.disableAutoreplySettings || invisibleMode === true)
  .b-setting= _t("autoreplySettings", "title.features")
  span.save-status.inactive= _t("autoreplySettings", "text.saved")
  .b-value
    ul.b-options-list
      if (invisibleMode === true)
        li
          label
            input.default(type="checkbox", data-checkbox="1", data-invisible-mode-activated="1", name="name" checked=(invisibleModeActivated === true)? true : false)
            span= _t("autoreplySettings", "title.invisible_mode_activated")
      if (!autoreplySettings.disableAutoreplySettings)
        each data, type in autoreplySettings
          li(autoreply-type=type)
            label
              input.default(type="checkbox", data-checkbox="1", data-change-autoreply-settings="1", data-autoreply-type=type, data-key="site", checked=(data.state > 0))
              span#autoreplyType= _t("autoreplySettings", "title.autoreply_" + type)
            button.btn-light.btn-edit-bare(title=_t("autoreplySettings", "tooltip.change_autoreply"), data-btn-edit="1")
            .features-form.inactive
              div
                label
                  input(type="radio", name="list-select-" + type, list-select="1", value="", checked=(data.filledByUser == 0 && data.text.length > 1))
                  span= _t("autoreplySettings", "title.choose_autoreply")
              div
                .field(data-ui-select)
                  .input-holder(data-toggle)
                    .value(data-value="")
                    .select
                      input(type="hidden", value=((data.filledByUser == 0) ? data.text : ""), name="select-"+type, data-control)
                      ul.list
                        if data.dropdownText
                          each val in data.dropdownText
                            li.item(data-item=val)= val
              div
                label
                  input(type="radio", name="text-select-" + type,  text-select="1", value="", checked=(data.filledByUser > 0 && data.text.length > 1))
                  span= _t("autoreplySettings", "title.enter_autoreply")
              div
                .field(data-ui-textarea)
                  .textarea-wrap
                    textarea.message-input(autoreply-text="1", data-resize="auto", data-control, readonly=(data.filledByUser == 0), name="text-"+type, maxlength="200")
                      if(data.filledByUser > 0 && data.text.length>1)
                        = data.text
                  .b-error(data-ui-error-text="1")
              .line
                button.btn.green.small(data-change-autoreply="1", data-autoreply-type=type)= _t("autoreplySettings", "button.save")