- var months = {
-   1: _t("newsFeed", "text.january"),
-   2: _t("newsFeed", "text.february"),
-   3: _t("newsFeed", "text.march"),
-   4: _t("newsFeed", "text.april"),
-   5: _t("newsFeed", "text.may"),
-   6: _t("newsFeed", "text.june"),
-   7: _t("newsFeed", "text.july"),
-   8: _t("newsFeed", "text.august"),
-   9: _t("newsFeed", "text.september"),
-   10: _t("newsFeed", "text.october"),
-   11: _t("newsFeed", "text.november"),
-   12: _t("newsFeed", "text.december")
- };

- var days = {
-   1: _t("newsFeed", "text.monday"),
-   2: _t("newsFeed", "text.tuesday"),
-   3: _t("newsFeed", "text.wednesday"),
-   4: _t("newsFeed", "text.thursday"),
-   5: _t("newsFeed", "text.friday"),
-   6: _t("newsFeed", "text.saturday"),
-   7: _t("newsFeed", "text.sunday")
- };

- for (date in model)
  - date = date.split(',');
  .activity-time
    if date.length > 1
      span.day #{date[0]} #{months[date[1]]}, #{days[date[2]]}
  each activity in model[date]
    .activity-item(class=activity.action)
      - if (activity.isUserAdmin || activity.action == 'mail')
        - var link = chatLink(activity.user_id);
      - else
        - var link = userLink(activity.user_id);
      a.activity.cf(href=( activity.link ? activity.link : link ), target=( activity.link ? '_blank' : '_self') )
        .photo(class=activity.naughtyMode.naughtyClass)
          img(src=activity.photo)
          - if(activity.naughtyMode.naughtyLevel == 1)
            span.b-message-holder= _t("newsFeed", "text.naughty_photo")
          - if(activity.naughtyMode.naughtyLevel == 2)
            span.b-message-holder= _t("newsFeed", "text.explicit_nudity")
      .time
        .activity-icon
      .activity-text
        .activity-text-wrap
          - if (activity.action == 'webcam')
            a.screenname(href=(activity.link ? activity.link : link), target= (activity.link ? '_blank' : '_self'))
              = activity.screenname + ', ' + activity.age
            | !{"&nbsp;"}
            span.activity-name Video chat request
          -else
            a.screenname(href=link) #{activity.screenname} &nbsp;
              span.activity-name= _t('newsFeed', 'newsFeed.'+activity.gender+'.'+activity.action)