#openx-banner-placement-activitytop.activitytop-banner-openx
.page-activity
  .urv-activity
    #newsFeedHistory.activity-history
  #noActivity.no-activity
    p= _t("newsFeed", "newsFeed.No_activity_yet")
div.banner-bottom
  #openx-banner-placement-activitybottom.activitybottom-banner-openx
.banner-bottom-height