.tbr-wrap
  #search-index(data-block)
    aside.lside
      button#toolbar-home.tbr-button.tbr-button-home(data-menu)
        span.tbr-counter(data-total-counter)
    header
    aside.rside
      button#toolbarSearchForm.tbr-button.tbr-button-settings &nbsp;
    aside.cside
      button#toolbarSearchResultList.tbr-button.tbr-button-list &nbsp;
      button#toolbarSearchResultGallery.tbr-button.tbr-button-gallery &nbsp;
      button#toolbarSearchMap.tbr-button.tbr-button-map
      if (livecamAnchor)
        button#toolbarLiveCams.tbr-button.tbr-button-livecams
  #profile-index(data-block)
    aside.lside
      button.tbr-button.tbr-button-home(data-menu)
        span.tbr-counter(data-total-counter)
    aside.rside
      a.a-item(href='/#account')
        button.tbr-button.tbr-button-setting
    header= _t("toolbar", "title.profile")
  #newsfeed-index(data-block)
    aside.lside
      button.tbr-button.tbr-button-home(data-menu)
        span.tbr-counter(data-total-counter)
    header= _t("toolbar", "title.activity")
  #account-index(data-block)
    aside.lside
      button.tbr-button.tbr-button-home(data-menu)
        span.tbr-counter(data-total-counter)
    header= _t("toolbar", "title.settings")
  #account-page(data-block)
    aside.lside
      button#toolbarAccountBack.tbr-button.tbr-button-back
        | &nbsp;
    header.header-user
  #cancel-index(data-block)
    aside.lside
        button.tbr-button.tbr-button-back(data-back)
    header= _t("toolbar", "title.cancel-billing.hot-line-call-header")
  #photo-gallery(data-block)
    header
      span#currentIndex
      span= _t("toolbar", "text.of")
      span#count
    aside.lside
      button.tbr-button.tbr-button-back(data-back='data-back')
        | &nbsp;
  #user-view(data-block)
    aside.lside
      button.tbr-button.tbr-button-back(data-back)
    aside.rside
      button.tbr-button.tbr-button-sms(name="smsChatButton", title="SMS chat", style="display: none;")
    header#toolbarUserName.header-user.trusted
      .usv-tabs-wrapp
        ul.usv-tabs-list
          li#userProfileGalleryButton.active(data-tab="gallery")= _t("toolbar", "tab.gallery")
          li#userProfileInfoButton(data-tab="info")= _t("toolbar", "tab.info")
  #favorites-index(data-block)
    aside.lside
      button.tbr-button.tbr-button-home(data-menu)
        span.tbr-counter(data-total-counter)
    header= _t("toolbar", "title.friends")
  #default-index(data-block)
    aside.lside
      button.tbr-button.tbr-button-home(data-menu)
        span.tbr-counter(data-total-counter)
  #chat-recipients(data-block)
    aside.lside
      button.tbr-button.tbr-button-home(data-menu)
        span.tbr-counter(data-total-counter)
    header= _t("toolbar", "title.chat")
  #chat-with.toolbar.tbr-box(data-block)
    .tbr-wrap
      aside.lside
        button.tbr-button.tbr-button-back(data-back)
          | &nbsp;
      .user-min(data-userLink='1', data-link='1', data-href='')
        img(data-userPhoto='1', src='/assets/static/blank.gif')
      header.header-user(data-userLogin='1', data-userHeadBlock='1')
  #rooms-index(data-block)
    aside.lside
      button.tbr-button.tbr-button-home(data-menu)
        span.tbr-counter(data-total-counter)
    header.header-user.general-chat
      | Rooms
  #custom-chatRoom(data-block)
    aside.lside
      button.tbr-button.tbr-button-back(data-leaveRoom='1')
        | &nbsp;
    .user-min.general-chat(data-showUsersList='1')
      img.hidden(src="/assets/static/blank.gif")
    header.header-user.general-chat(data-roomTitle='1')
      | General Chat
  #postreg-index(data-block)
    aside.lside
      button.tbr-button.tbr-button-home(data-menu)
        span.tbr-counter(data-total-counter)
    aside.rside
      a.a-item(href='/#search')
        button.tbr-button.tbr-button-search
    aside.cside.site-logo
      a(href='/#search')
        img(src=siteLogo)
  #customToolbar(data-block)
  #loadingToolbarText.hidden= _t("toolbar", "title.loading")
  #billinghistory-index(data-block)
    aside.lside
      button.tbr-button.tbr-button-home(data-menu)
    header= _t("toolbar", "title.billing_history")
