.flirtcast-block {
  ._radius(2px);
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 7px;
  width: 376px;
  background: url('@{flirtcast-window_bg}/map.jpg') no-repeat center center;
  box-shadow: inset 0 0 0 1px fade(#000,20%);

  .header {
    ._gradient(@flirtcast-green_btn_start, @flirtcast-green_btn_end);
    ._radius(6px 6px 0 0);
    padding: 0 20px;
    height: 68px;
    color: @flirtcast-text_title;
    letter-spacing: -4px;
    font-size: 0;
    line-height: 0;
    .flirtcast-title,
    .flirtcast-description {
      display: inline-block;
      width: 50%;
      letter-spacing: normal;
    }
    .flirtcast-title {
      text-align: left;
      font-size: 36px;
      line-height: 68px;
    }
    .flirtcast-description {
      text-align: right;
      font-size: 14px;
      line-height: 18px !important;
    }
  }
  .flirtcast-content {
    text-align: right;
    letter-spacing: -4px;
    font-size: 0;
    line-height: 0;
    .flirtcast-logo,
    .flirtcast-form {
    }
    .flirtcast-logo {
      float: left;
      width: 135px;
      height: 170px;
      background: @flirtcast-sprite_url no-repeat 20px -59px;
    }
    .flirtcast-form {
      text-align: left;
      letter-spacing: normal;
      position: relative;
      .fc-faces {
        position: relative;
        z-index: 1;
        height: 75px;
        .face {
          position: absolute;
          border: 2px solid @t-main-color;
          width: 32px;
          height: 32px;
          background: url('@{flirtcast-window_bg}/firltast-faces.jpg') no-repeat;
          ._radius(200px);
          left: 50%;
          top: 5px;
          &:before {
            content: "";
            border: 15px solid transparent;
            border-bottom: 0;
            border-top-color: @t-main-color;
            position: absolute;
            z-index: -1;
            bottom: -9px;
            left: 1px;
          }
          &:after {
            content: "";
            position: absolute;
            width: 20px;
            height: 1px;
            box-shadow: -3px 0 1px fade(#000, 30%),0 0 3px fade(#000, 40%),3px 0 1px fade(#000, 30%);
            bottom: -9px;
            background: fade(#000, 30%);
            z-index: -2;
            left: 50%;
            margin-left: -10px;
          }
          &.one {
            background-position: 0 0;
            margin-left: -41%;
          }
          &.two {
            background-position: -32px 0;
            margin-left: -29%;
            top: 18px;
          }
          &.three {
            background-position: -64px 0;
            margin-left: -13%;
            top: -1px;
          }
          &.four {
            background-position: -96px 0;
            margin-left: 10%;
            top: 24px;
          }
          &.five {
            background-position: -128px 0;
            margin-left: 26%;
          }
        }
      }
      .btn-info {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        border: none;
        background: @flirtcast-sprite_url no-repeat -137px -290px;
        z-index: 2;
      }
      &.error {
        .textarea-wrap {
          textarea {
            color: @flirtcast-text_error;
          }
        }
      }
      .title {
        color: @flirtcast-text_light;
        font-size: 14px;
        line-height: 24px;
      }
      .textarea-wrap {
        ._radius(3px);
        ._shadow(0 0 4px fade(#000, 15%));
        padding: 5px;
        background: @flirtcast-input_bg;
        text-align: left;
        textarea {
          ._box-sizing;
          ._shadow(none);
          padding: 5px;
          width: 100%;
          height: 50px;
          border: none;
          background: none;
          line-height: 1.3;
          resize: none;
          font-size: 13px;
          font-family: @flirtcast-font;
        }
      }
      .buttons-row {
        margin-top: 5px;
        text-align: right;
        .btn-send {
          width: 150px;
        }
        .btn-next {
          float: left;
          width: auto;
          padding: 0 10px;
        }
      }
    }
  }
  &.default-message,
  &.user-message {
    .flirtcast-content {
      .flirtcast-form {
        .textarea-wrap {
          &.text {
            ._shadow(none);
            background: none;
          }
        }
        .buttons-row {
          .close {
            line-height: 28px;
            padding: 0 10px;
          }
        }
      }
    }
  }
  &.default-message {
    .flirtcast-content {
      .flirtcast-logo {
        width: 175px;
        background-position: 6px -468px;
      }
      .flirtcast-form {
        .textarea-wrap {
          &.text {
            margin-top: 34px;
            font-size: 20px;
            line-height: 24px;
          }
        }
        .buttons-row {
          margin-top: 13px;
          padding-right: 1px;
        }
      }
    }
  }
  &.user-message {
    .flirtcast-content {
      padding-left: 18px;
      .flirtcast-logo {
        width: 175px;
        background-position: -209px -460px;
      }
      .flirtcast-form {
        .textarea-wrap {
          &.text {
            margin-top: 20px;
            font-size: 14px;
            line-height: 18px;
          }
        }
        .buttons-row {
          margin-top: 8px;
          padding-right: 1px;
          .close {
            width: 65px;
            line-height: 28px;
          }
        }
      }
    }
  }
}