@flirtcast-img_url: "../images";
@flirtcast-sprite_url: url("@{flirtcast-img_url}/sprite.png");

@flirtcast-shadow: #000;
@flirtcast-window_bg: @t-img;

@flirtcast-text_title: #fff;
@flirtcast-text_light: #999;
@flirtcast-input_bg: #fff;
@flirtcast-text_error: #ff5a40;
@flirtcast-green_btn_start: #9fc94c;
@flirtcast-green_btn_end: #78b302;
@flirtcast-font: 'Open Sans Semibold',sans-serif;

