.accounttop-banner-openx#openx-banner-placement-accounttop
.b-page.b-page-profile-settings
  .accountleft-banner-openx#openx-banner-placement-accountleft
  .accountright-banner-openx#openx-banner-placement-accountright
  h1.title= _t("account", "title.my_settings")
  .b-settings-row.member-status
    .b-setting= _t("account", "title.membership_status")
    .b-value
      span.value= _t("account", "value.membership_status_" + paymentStatus.type)
        - if(upgradeButton.type == 'main' || upgradeButton.type == 'features')
          span.info= " " + _t("account", "tooltip.upgrade_account_" + paymentStatus.type, {"{sitename}": siteName})
      - if(upgradeButton.type == 'main' || upgradeButton.type == 'features')
        a.btn.btn-green(href=upgradeButton.url)= _t("account", "button.upgrade_" + paymentStatus.type)
  .b-settings-row.b-id
    .b-setting= _t("account", "title.user_id")
    .b-value
      span.value= userId
      span.btn-light.btn-info(title!=_t("account", "tooltip.user_id")) ?
  .b-settings-row.b-settings-password(data-update-password="1")
    .b-setting= _t("account", "title.change_password")
    .b-value(data-value="value")
      span.value *********
      button.btn-light.btn-edit-bare(title=_t("account", "tooltip.change_password"), data-change="change")
      .b-success(data-password-update-result="1")
    .b-value.inactive(data-value="value")
      .line(data-old-password-line="1")
        .b-name= _t("account", "title.old_password")
        input.password-old(data-old-password="1", type="password")
        .b-error(data-old-password-error="1")
      .line(data-new-password-line="1")
        .b-name= _t("account", "title.new_password")
        input.password-new(data-new-password="1", type="password")
        .b-error(data-new-password-error="1")
      .line.inactive(data-old-password-line="1")
        .b-name= _t("account", "title.old_password")
        input.password-old(data-old-password="1", type="text")
        .b-error(data-old-password-error="1")
      .line.inactive(data-new-password-line="1")
        .b-name= _t("account", "title.new_password")
        input.password-new(data-new-password="1", type="text")
        .b-error(data-new-password-error="1")
      .line
        label.lable-inline
          input(type="checkbox", value="1", data-show-password="1")
          span= _t("account", "text.show_password")
        button.btn-light.btn-text-green(data-change-password="1")= _t("account", "button.save")
  .b-settings-row.b-settings-email(data-update-email="1")
    .b-setting= _t("account", "title.change_email")
    .b-value(data-value="value")
      span.value(data-current-email="1")= email
      button.btn-light.btn-edit-bare(title=_t("account", "tooltip.change_email"), data-change="change")
      .b-success(data-emailupdate-result="1")
    .b-value.inactive(data-value="value")
      span.value(data-current-email="1")= email
      .line(data-emailupdate-password-line="1")
        .b-name= _t("account", "title.your_password")
        input.password(data-emailupdate-password="1", type="password")
        .b-error(data-emailupdate-password-error="1")
      .line(data-emailupdate-email-line="1")
        .b-name= _t("account", "title.new_email_address")
        input.email(data-emailupdate-email="1", type="text")
        .b-error(data-emailupdate-email-error="1")
      .line
        button.btn-light.btn-text-green(data-change-email="1")= _t("account", "button.save")
  .b-settings-row.b-settings-l10n.select-output-dropdown.dark(data-update-l10n="1")
    .b-setting= _t("account", "title.localization")
    .b-value(data-value="value")
      .line(data-l10n-locale="1")
        .field.select-output-dropdown.dark(data-ui-select)
          .b-name= _t("account", "title.language")
          .input-holder(data-toggle)
            .value(data-value="")
            .select
              input#profileLanguageSelect(type="hidden", value=l10n.locale, name="profileLanguageSelect", data-control)
              ul.list
                if l10n.languagesList
                  each title, language in l10n.languagesList
                    li.item(data-item=language)= _t("account", "locale."+title)
        .b-error(data-error="1")= _t("account", "error.cant_change_language")
      .line(data-l10n-timezone="1")
        .field.select-output-dropdown.dark(data-ui-select)
          .b-name= _t("account", "title.timezone")
          .input-holder(data-toggle)
            .value(data-value="")
            .select
              input#profileTimezoneSelect(type="hidden", value=l10n.timezone, name="profileTimezoneSelect", data-control)
              ul.list
                if l10n.timezonesList
                  each timeZone, timezoneTitle in l10n.timezonesList
                    li.items-group-name= timezoneTitle
                    if timeZone
                      each title, zone in timeZone
                        li.item(data-item=zone)= title
        .b-error(data-error="1")= _t("account", "error.cant_change_timezone")
      .line
        button.btn-light.btn-text-green(data-change-l10n="1")= _t("account", "button.save")
  .b-settings-row(data-notification-settings="1")
  .b-settings-row.activity(data-notification-newsfeed-subscription="1")
  .b-settings-row.b-settings-notifications(data-notification-subscription="1")
  .b-settings-row.b-settings-features.select-output-dropdown(data-settings-features="1")
  .b-settings-row(data-fb-activity-settings="1")
  .b-settings-btns
    .b-user-complain
      ul
        if(hasBillingHistory === true)
          li
            a.btn-text(href="/#billingHistory")= _t("account", "button.billing_history")
        li
          a.btn-text(data-remove-account="data-remove-account")= _t("account", "button.remove_account")
.accountbottom-banner-openx#openx-banner-placement-accountbottom