- if(pageType === "blocked")
  .b-btn-activity-grid
    button.btn-blocked.btn-text-def(data-blockbutton=user.id class=user.buttons.block.activated?"activated":"", title=user.buttons.block.activated?_t("blocked", "tooltip.unblock"):_t("blocked", "tooltip.block_" + user.gender))
      span.default=_t("blocked", "button.block")
      span.alternate=_t("blocked", "button.unblock")
- else if(user.buttons.message)
  - if(user.usersLastActions && user.usersLastActions[user.id].action == "newsFeed" && user.usersLastActions[user.id].type == "onSmsChatFeed")
    .b-btn-activity-grid
      span.btn-activity.btn-sms-chat(onclick="Backbone.trigger('SmsChat.Start', 'addMsisdnFromNotificationFeedList', '"+user.id+"')")= _t("activityNotification", "Sms Chat")
  - else if (talksEnabled)
    .b-btn-activity-grid
      button.btn-activity.btn-message(href="javascript:void(0)", onclick="Backbone.trigger('Talks.Start', '" + user.id + "')")
  - else
    .b-btn-activity-grid
        button.btn-activity.btn-message(data-messagebutton="", title=_t("userListWidget", "button.message"))
  - if(user.buttons.favorite)
    .b-btn-activity-grid
      button.btn-activity.btn-favorite.btn-text-def(data-favoritebutton=user.id, class=(user.buttons.favorite.activated)?"activated":"", title=_t("userListWidget", "button.friend"))
        span.default= _t("userListWidget", "text.add_friend")
        span.alternate= _t("userListWidget", "text.friends")
  - if(user.buttons.wink)
    .b-btn-activity-grid
      button.btn-activity.btn-wink.btn-text-def(data-winkbutton=user.id, class=(user.buttons.wink.activated)?"activated":"", title=_t("userListWidget", "button.wink"))
        span.default= _t("userListWidget", "button.wink")
        span.alternate= _t("userListWidget", "text.winked")
  - if(user.photos.count > 1 && user.photos.showCount)
    .b-btn-activity-grid
      a.link(href=userLink(user.id))
        .b-photos-count #{user.photos.count}