li.b-grid-item(class=(user.photos.count > 1 || (user.statuses && user.statuses.newStatus)) ? 'bottom-shadow' : '')
  - if(!user.upgradeBanner)
    - var userClass = [];
    - if(naughtyMode.naughtyClass) userClass.push(naughtyMode.naughtyClass)
    - if(user.marks && user.marks.highlight_profile && !user.livecam) userClass.push("b-user-highlight")
    - if(user.livecam) userClass.push("livecam")
    //- if(!currentUser.photoAccess) userClass.push("free");
    .b-user(class=userClass, data-userwidget="")
      - if (user.livecam)
        span.livecams-ico-block
        span.livecams-ico
          span.livecams-ico-inner
            span.livecams-ico-handler
            span.livecams-ico-lines
          span.livecams-ico-arrow
      .b-photo
        .b-photo-link(data-photo="")
          span.overlay
          - if(user.statuses && user.statuses.newStatus)
            span.b-new(title=_t("userListWidget", "title.new_user"))= _t("userListWidget", "text.new")
          - if(user.statuses && user.statuses.onlineStatus)
            span.online-status.online
          - if(user.statuses && user.statuses.recentlyOnlineStatus)
            span.online-status
          .image-holder
            img.photo(src=user.photos.url, alt=user.login)
            - if(naughtyMode.naughtyLevel == 1)
              div.b-blur-message
                span= _t("userListWidget", "text.naughty_photo")
            - else if(naughtyMode.naughtyLevel == 2)
              div.b-blur-message
                span= _t("userListWidget", "text.explicit_nudity")
            - if(naughtyMode.naughtyMode)
              .naughty-menu#naughtyMode
                .naughty-menu-wrap
                  - if(naughtyMode.naughtyLevel == 1)
                    .description= _t("userListWidget", "text.switch_sexy")
                    button.btn-switch(data-nm-trigger="2")= _t("userListWidget", "text.sexy")
                  - if(naughtyMode.naughtyLevel == 2)
                    .description= _t("userListWidget", "text.switch_no_limits")
                    button.btn-switch(data-nm-trigger="3")= _t("userListWidget", "text.no_limits")
            - if((user.marks && ((user.marks.hotUser && user.marks.hotUser.upgradeUrl) || (user.marks.top_in_search && user.marks.top_in_search.upgradeUrl)
            - || (user.marks.free_communication && user.marks.free_communication.show))) || user.invisibleMode)
              .b-features
                - if(user.marks && user.marks.hotUser && user.marks.hotUser.upgradeUrl)
                  a.item.hot(href=user.marks.hotUser.upgradeUrl, title=_t("userListWidget", "title.hot_user")) &nbsp;
                - if(user.marks && user.marks.top_in_search && user.marks.top_in_search.upgradeUrl)
                  a.item.top(href=user.marks.top_in_search.upgradeUrl, title=_t("userListWidget", "title.top_in_search")) &nbsp;
                - if(user.marks && user.marks.free_communication && user.marks.free_communication.show)
                  a.item.free-m(href=user.marks.free_communication.upgradeUrl, title=_t("userListWidget", "title.free_communication")) &nbsp;
                - if(user.invisibleMode)
                  span.item.invisible(title=_t("userListWidget", "title.invisible_mode")) &nbsp;
              - if(user.statuses)
                - if(user.statuses.onlineStatus)
                  span.status.online
                    .status-text= _t("userListWidget", "text.online")
                - else if(user.statuses.recentlyOnlineStatus)
                  span.status.r-online
                    .status-text= _t("userListWidget", "text.recently_online")
      .b-user-info
        h2.b-screenname
            a.link(href=(user.livecam !== undefined) ? user.userViewLink : userLink(user.id), data-screenname="", target=(user.livecam !== undefined)?'_blank':'_self')
              span.screenname= user.login
        .b-main-info
          .b-age= _t("userListWidget", "placeholder.n_years", {"{n}": user.age})
          - if (user.livecam !== undefined)
            .b-live-cam=_t("userListWidget", "text.on_cam_now")
            .b-live-cam-sponsor=_t("userListWidget", "text.this_is_cam_profile")
            .b-live-cam-chat
              a.b-live-cam-btn.btn-text-green(href=user.userViewLink, target=(user.livecam !== undefined)?'_blank':'_self')=_t("userListWidget", "button.join_chat")
          - if (user.livecam === undefined)
            .b-location
              .location
                - if(user.geo && user.geo.city && !user.isEntertainmentProfile)
                  span.city #{user.geo.city},&nbsp;
                - if(user.geo && user.geo.country)
                  span.country= user.geo.country
          - if (user.livecam === undefined)
            .b-user-about
              - if(user.about && !isSiteCompliance)
                .about-icon #{user.about}
          - if (user.livecam === undefined)
            .b-btn-activity(data-btn-activity="1")
      - if (user.livecam === undefined)
        .b-recent
          - if(user.activity && user.activity.action)
            .b-recent-act.b-recent-act--message
              - if(user.activity.action == "newsFeed")
                span= _t("userListWidget","text.notification_newsFeed_"+user.activity.type+"_"+user.activity.txtId+"_"+user.gender)
              - else if(user.activity.type == "outgoing")
                span= _t("userListWidget","text.you_"+user.activity.action+"_user_w_time", {"{n}":user.gender, "{time}":user.activity.time})
              - else
                span= _t("userListWidget","text.user_"+user.activity.action+"_you_w_time", {"{n}":user.gender, "{time}":user.activity.time})
          - else if(typeof config === 'undefined' || config.showTextNoActivity)
            .b-recent-act.b-recent-act--message= _t("userListWidget","text.no_activity")
  - else
    .user-motivation.column(class=naughtyClass)
      .header
        span.title= _t("userListWidget", "title.want_more")
      .um-content.square
        .main(class=(currentUser.gender === "male")?"one-img-w":"one-img-m", class=niche)
        .action-line
          .action-text
            span.text= _t("userListWidget", "text.get_a_full_membership")
          .action-btn
            a.btn-send.btn-text-green(href=user.upgradeBanner)= _t("userListWidget", "button.get_it_now")
