/*--------------------------Remove Profile pop-ups---------------------------*/

.b-popup.b-remove-profile {
  margin: 0 auto;
  ._radius();
  width: 593px;
  max-width: 593px;
  position: relative;
  .meta-button-wrap {
    top: 10px;
    right: 14px;
  }
  .b-popup-head {
    padding: 20px;
    .title {
      font: 16px/30px @popupStopAction-font_400;
      max-width: 550px;
    }
  }
  .b-popup-content {
    padding: 20px 20px 55px;
    min-height: 400px;
    position: relative;
    z-index: 2;
    &.enter-code {
      .form {
        width: 100px;
      }
    }
    &.via-code {
      p {
        margin-bottom: 20px;
      }
    }
    &.step-3 {
      .b-value > .b-options-list {
        margin: 12px 0 0;
      }
      li > .b-options-list {
        margin: 7px 0 5px 20px;
      }
      .b-input {
        margin: 12px auto 0;
      }
    }
    &.step-4,
    &.step-5 {
      p {
        max-width: 490px;
      }
    }
    &.step-5 {
      min-height: 350px;
      p {
        margin-bottom: 20px;
      }
      .hightlight-id {
        font-weight: 600;
        color: @popupStopAction-hightlight_id;
      }
      .phone-number,
      .phone-number-sep,
      .skype-btn-holder {
        text-align: center;
      }
      .phone-number {
        margin-top: 15px;
      }
      .phone-number-sep {
        margin: 20px 0 30px;
        line-height: 1;
        font-size: 18px;
      }
      .skype-btn-holder {
        margin-bottom: 30px;
        font-weight: bold;
      }
      .skype-btn {
        background: @popupStopAction-skype_btn_bg;
        height: 40px;
        line-height: 40px;
        color: @popupStopAction-skype_btn_color;
        display: inline-block;
        ._radius(30px);
        min-width: 260px;
        font-size: 22px;
        margin-bottom: -10px;
        &:before {
          content: '';
          display: inline-block;
          text-align: center;
          ._sprite(@skype);
          margin: -5px 30px 0 -60px;
          vertical-align: middle;
        }
      }
    }
    &.cancel-billing {
      min-height: 30px;
      padding: 20px;
    }
    .title {
      margin-bottom: 10px;
    }
    .footer {
      min-width: 100%;
    }
  }
  .bottom-info {
    clear: both;
    padding-top: 60px;
    span {
      display: block;
    }
  }
  .b-data-row {
    position: relative;
    padding-top: 15px;
    text-align: center;
    clear: both;
    &.error {
      .b-error {
        display: block;
      }
    }
    .b-value,
    .b-error {
      display: inline-block;
      vertical-align: top;
    }
    .b-name {
      float: left;
      margin: 0 0 6px;
    }
    .b-value {
      width: 100%;
    }
    .b-error {
      color: @popupStopAction-text_error;
      font: 12px/16px @popupStopAction-font_600;
      text-align: left;
      padding: 5px 0 0;
      display: none;
    }
  }
  .b-input {
    margin-top: 12px;
    width: 490px;
    .b-input-wrap {
      span {
        color: @popupStopAction-text_light;
        margin-bottom: 2px;
        display: block;
      }
      .message-input {
        height: 100px;
      }
    }
  }
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 20px 20px;
    ._box-sizing();
    width: 100%;
    text-align: right;
    ._clearfix();
    .btn {
      &:first-letter {
        text-transform: uppercase;
      }
      &.next {
        margin-left: 6px;
      }
    }
  }
  .b-keep-records {
    float: left;
    position: relative;
    display: inline-block;
    margin: 5px 0;
    color: @popupStopAction-text_light;
    font-size: 11px;
    .b-tooltip {
      display: none;
      position: absolute;
      bottom: 25px;
      left: -10px;
      width: 300px;
      padding: 12px 15px;
      color: @popupStopAction-tooltip_text;
      font: 13px/18px @popupStopAction-font_400;
      text-align: left;
      ._radius(5px);
      background: @popupStopAction-tooltip_bg;
      &:before{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: 100%;
        left: 11px;
        border: 5px solid transparent;
        border-top-color: @popupStopAction-tooltip_bg;
      }
    }
    &:hover .b-tooltip {
      display: block;
    }
  }
  .steps-wrap {
    float: left;
    text-align: left;
    .step-number {
      font-size: 20px;
      display: inline-block;
      margin-top: 5px;
    }
    .step-map {
      display: inline-block;
      vertical-align: top;
      position: relative;
      height: 1px;
      width: 195px;
      background-color: @popupStopAction-step_bg;
      margin: 14px 0 0 15px;
      .items {
        ._radius(15px);
        position: absolute;
        width: 11px;
        height: 11px;
        background-color: @popupStopAction-step_bg;
        border: 2px solid @popupStopAction-step_bg;
        top: -7px;
        &.active {
          background-color: @popupStopAction-step_bg_active;
          border-color: @popupStopAction-text_link;
          &:before {
            ._radius(10px);
            content: '';
            width: 7px;
            height: 7px;
            position: absolute;
            top: 2px;
            left: 2px;
            background-color: @popupStopAction-text_link;
          }
        }
        &.pass {
          &:before {
            content: '';
            position: absolute;
            ._sprite(@check-sm-active);
            top: 1px;
            left: 0;
          }
        }
        &.item-2 {
          left: 45px;
        }
        &.item-3 {
          left: 90px;
        }
        &.item-4 {
          left: 135px;
        }
        &.item-5 {
          left: auto;
          right: 0;
        }
      }
    }
  }
  .support {
    margin-top: 31px;
  }
  .left {
    float: left;
    width: 265px;
    position: relative;
    span {
      display: block;
      margin-top: 16px;
    }
  }
  .right {
    float: right;
    width: 250px;
  }
  .form {
    width: 259px;
    margin: 32px auto 30px;
    ._clearfix();
    .link {
      display: block;
      border-bottom: none;
      margin-top: 30px;
      color: @popupStopAction-text_link;
      &:hover {
        color: @popupStopAction-text_link_hover;
      }
    }
    span {
      &.desc {
        color: @popupStopAction-text_light;
        margin-bottom: 2px;
        display: block;
      }
    }
  }
  .b-loss {
    margin: 11px 0;
    padding: 0 185px 0 0;
    &>li {
      position: relative;
      padding-left: 14px;
      margin-top: 7px;
      &:first-child {
        margin: 0;
      }
      &:before {
        ._radius(7px);
        content: '';
        width: 6px;
        height: 6px;
        position: absolute;
        left: 0;
        top: 7px;
        background-color: @online;
      }
    }
  }
  .b-or {
    font-size: 20px;
    color: @popupStopAction-text_light;
    text-align: center;
    position: absolute;
    top: 63px;
    right: -15px;
  }
  .call-btn {
    text-align: left;
    margin: 15px 0 0;
    width: 237px;
    .btn-update {
      min-width: 180px;
    }
  }
  .phone-number {
    font-size: 32px;
    line-height: 1em;
    display: block;
    color: @popupStopAction-phone_num_text;
    margin-top: 4px;
  }

  .b-options-list {
    li {
      margin-bottom: 6px;
    }
  }
  .title {
    font-weight: 300;
    span {
      display: block;
    }
  }
  .b-settings-row {
    margin-top: 25px;
  }
  .b-options-list {
    li {
      overflow: hidden;
      clear: both;
      label {
        display: inline-block;
        position: relative;
        cursor: pointer;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .radio-button {
    position: relative;
    top: 1px;
  }
  .b-settings-notifications {
    .b-setting {
      width: 275px;
    }
    .b-options-list {
      font-size: 0;
      li {
        height: 20px;
      }
      .header {
        margin-bottom: 6px;
        .option {
          float: left;
          font-size: 11px;
          font-family: @popupStopAction-font_600;
          font-weight: 600;
          color: @popupStopAction-list_header_text;
        }
      }
      label {
        height: 20px;
      }
      .label,
      .option {
        display: inline-block;
      }
      .label {
        width: 305px;
        font-size: 16px;
        line-height: 20px;
        ._box-sizing();
        padding-right: 20px;
      }
      .option {
        float: left;
        width: 50px;
        vertical-align: top;
        position: relative;
        label,
        span {
          position: static;
        }
        span {
          &:before {
            top: 0;
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .b-settings-options {
    margin-bottom: 37px;
  }
  .member-status {
    margin-top: 0;
    .btn,
    .value {
      display: inline-block;
      vertical-align: middle;
    }
    .btn {
      margin: 0 0 0 40px;
      padding: 10px 10px 8px;
      line-height: 20px;
      max-width: 220px;
    }
    .value {
      max-width: 275px;
      font-family: @popupStopAction-font_600;
      font-weight: 600;
      .info {
        font-family: @popupStopAction-font_400;
        font-weight: 300;
      }
    }
  }
  .cancel,
  .next {
    ._text-overflow();
    text-align: center;
    min-width: 100px;
  }
  .cancel {
    max-width: 100px;
    &.short {
      max-width: 90px;
    }
  }
  .next {
    max-width: 150px;
    &.long {
      max-width: 170px;
    }
  }
  .b-setting {
    font-size: 16px;
    line-height: 1em;
    margin-bottom: 13px;
  }
}

.b-popup.cancel-billing {
  .title {
    ._radius(3px 3px 0 0);
    padding: 20px;
    font: 16px/30px @font-family-theme;
    color: @black;
    background: @white;
    border-bottom: 1px solid @border-def;
  }
  .btn-close {
    float: right;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 10px 5px 0 0;
    outline: none;
    background: none;
    &:after {
      ._sprite(@popup-close);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      content: "";
    }
  }
  .b-popup-content {
    min-height: 0;
    padding: 20px;
    text-align: center;
  }
  p {
    text-align: left;
  }
  .package-name {
    color: @text-active;
  }
  .btn {
    margin: 15px 0;
    max-width: 300px;
    padding-right: 40px;
    padding-left: 40px;
  }
  .footer {
    ._opacity(0);
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
  }
}