@popupStopAction-text_def: #333;
@popupStopAction-text_light: #999;

@popupStopAction-text_error: #ff3232;
@popupStopAction-text_light: #999;
@popupStopAction-text_link: #f73;
@popupStopAction-text_link_hover: #52cc52;

@popupStopAction-step_bg: #c1c1c1;

@popupStopAction-font_400: 'dosisregular', Arial, helvetica, sans-serif;
@popupStopAction-font_600: 'dosissemibold', Arial, helvetica, sans-serif;
@popupStopAction-tooltip_bg: #ffc44c;
@popupStopAction-tooltip_text: #262626;
@popupStopAction-phone_num_text: #f73;
@popupStopAction-list_header_text: #b3b3b3;
@popupStopAction-marker_bg: #73e573;
@popupStopAction-step_bg_active: #fff;

@popupStopAction-hightlight_id: #de5226;
@popupStopAction-skype_btn_bg: #00abeb;
@popupStopAction-skype_btn_color: #fff;