- var url = "", upgradeClass = "", upgradeText = "";
case type
  when "favourite"
    - url = "/#favorites"
  when "mail"
    if talksEnabled
      - url = "javascript:void(0)"
      - onclick = true
    else
      - url = "/#messenger"
    - upgradeClass = "free-m"
    - upgradeText=_t("toolbar", "text.get_communication_upgrade")
  when "newsFeed"
    - url = "/#newsFeed"
  when "smsChatFeed"
    - url = "/#smsChatFeed"
  when "view"
    - url = "/#views"
    - upgradeClass = "invisible"
    - upgradeText=_t("toolbar", "text.view_other_members")
  when "wink"
    - url = "/#winks"

- if(banner && banner.bannerUrl)
  .b-upgrade
    a(href=banner.bannerUrl)
      span.gcu-icon(class=upgradeClass)
      span.gcu-text= upgradeText
ul.nav
  each user in activity
    li(class=user.naughtyData.naughtyClass?user.naughtyData.naughtyClass:"")
      - if(type == "smsChatFeed" && user.action != "newsFeed")
        a(href=userLink(user.id))
          .sms-chat
            div.base
              span.image-holder
                img.photo(width=30, height=30, src=user.photo_url, alt=user.login)
              span.screenname= user.login
              span.action= _t("toolbar","text.notification_newsFeed_onSmsChatFeed_1_"+user.gender)
              .b-btn-activity
                .b-btn-activity-grid
                    a.btn-activity.btn-sms-chat(href='javascript:void(0)', onclick="Backbone.trigger('SmsChat.Start', 'addMsisdnFromNotificationFeedList', '"+user.id+"')") SMS chat
                .b-btn-activity-grid
                  a.btn-activity.btn-wink(data-winkbutton=user.id, class=(user.buttons.wink.activated?"active":""))
                    span.wink= _t("userListWidget", "button.wink")
                    span.winked= _t("userListWidget", "text.winked")
      - else
        a(href=(talksEnabled && type == "mail")?url:userLink(user.id), onclick=(onclick)?"Backbone.trigger('Talks.Start', '" + user.id + "')":"")
          img.photo(width=30, height=30, src=user.photo_url, alt=user.login)
          span.screenname= user.login
          - if(user.action == "newsFeed" && user.type)
            span.action= _t("toolbar","text.notification_newsFeed_"+user.type+"_"+user.txtId+"_"+user.gender)
          - else
            span.date= user.date
.b-view-more
  a.view-more.btn.green(href=url, onclick=(onclick)?"Backbone.trigger('Talks.Start')":"")= _t("toolbar", "text.see_all")
