- var randNumKey = "title.confirmation_message_motiv_"+randNum
- var randNumMsg = _t("toolbar", randNumKey)
- var prefixConfirmMSg = _t("toolbar", "title.confirmation_message")
- var randConfMsg = prefixConfirmMSg+' '+randNumMsg+". "
mixin vodLink(type, className, externalVod, vodId)
  if (type == 'vodLink')
    a.site-nav-item.site-nav-vod(class=className, href=externalVod.vodFormUrl + externalVod.vodIds[vodId], target="_blank")
      span.title
        span.title-holder Premium Videos
      span.counter(data-counter="vod")= 0
    .b-dropdown-menu(data-ui="autoClose", data-ui-control="[data-activity='vod']", data-activity="vod")
  else if (type == 'spVideos')
    a.site-nav-item.site-nav-vod18.site-nav-vod(href="/#spVideos")
      span.title
        span.title-holder Premium Videos
      span.counter(data-counter="vod")= 0
    .b-dropdown-menu(data-ui="autoClose", data-ui-control="[data-activity='vod']", data-activity="vod")
  else
    a.site-nav-item.site-nav-vodxxx.site-nav-vod(href=externalVod.paymentUrl)
      span.title
        span.title-holder XXX
          span.title-holder-inner Videos
      span.counter(data-counter="vod")= 0
    .b-dropdown-menu(data-ui="autoClose", data-ui-control="[data-activity='vod']", data-activity="vod")

.b-site-nav
  a.b-logo(href="/#", title=siteName)
    span.logo
      img(src=siteLogo, alt=siteName)
  ul.b-nav-list
    li(data-nav-item="messenger")
      a.site-nav-item.site-nav-messenger(href=(talksEnabled)?"/#":"/#messenger",title=_t("toolbar", "title.message"), talksEnabled=(talksEnabled)?"talks":"")
        span.title
          span.title-holder= _t("toolbar", "title.messages")
        span.counter(data-counter="mail")= 0
      .b-dropdown-menu(data-ui="autoClose", data-ui-control="[data-activity='mail']", data-activity="mail")
    li(data-nav-item="views")
      a.site-nav-item.site-nav-views(href="/#views")
        span.title
          span.title-holder= _t("toolbar", "title.views")
        span.counter(data-counter="view")= 0
      .b-dropdown-menu(data-ui="autoClose", data-ui-control="[data-activity='view']", data-activity="view")
    li(data-nav-item="winks")
      a.site-nav-item.site-nav-winks(href="/#winks")
        span.title
          span.title-holder= _t("toolbar", "title.winks")
        span.counter(data-counter="wink")= 0
      .b-dropdown-menu(data-ui="autoClose", data-ui-control="[data-activity='wink']", data-activity="wink")
    li(data-nav-item="favorites")
      a.site-nav-item.site-nav-favorites(href="/#favorites")
        span.title
          span.title-holder= _t("toolbar", "title.friends")
        span.counter(data-counter="favourite")= 0
      .b-dropdown-menu(data-ui="autoClose", data-ui-control="[data-activity='favourite']", data-activity="favourite")
    li(data-nav-item="newsFeed")
      a.site-nav-item.site-nav-newsfeed(href="/#newsFeed")
        span.title
          span.title-holder= _t("toolbar", "title.what_new")
        span.counter(data-counter="newsFeed")= 0
      .b-dropdown-menu(data-ui="autoClose", data-ui-control="[data-activity='newsFeed']", data-activity="newsFeed")
    - if (isAllowChatRooms)
      li(data-nav-item="chatRooms")
        a.site-nav-item.site-nav-chatrooms(href="/#rooms")
          span.title
            span.title-holder= _t("toolbar", "title.сhatrooms")
          span.counter(data-counter="chatRooms")= 0
        .b-dropdown-menu(data-ui="autoClose", data-ui-control="[data-activity='chatRooms']", data-activity="chatRooms")
    - if (externalVod)
      - if (user.account_status.type == 'paid' || (user.account_status.type != 'paid' && externalVod.alwaysShowIcon) || externalVod.paidPermissions)
          - if (externalVod.vodIds && externalVod.vodIds.length)
            li(data-nav-item="vod")
              - if (user.account_status.type == 'paid' || externalVod.paidPermissions)
                +vodLink('vodLink', 'site-nav-vodxxx', externalVod, 0)
                  +vodIco()
              - else if (externalVod.spVideosSplit)
                +vodLink('spVideos', 'site-nav-vodxxx', externalVod, 0)
                  +vodIco()
              - else
                +vodLink('payLink', 'site-nav-vodxxx', externalVod, 0)
                  +vodIco()
            - if (externalVod.vodIds.length == 2)
              li(data-nav-item="vod")
                - if (user.account_status.type == 'paid' || externalVod.paidPermissions)
                  +vodLink('vodLink', 'site-nav-vodxxx', externalVod, 1)
                    +vodIco()
                - else if (externalVod.spVideosSplit)
                  +vodLink('spVideos', 'site-nav-vodxxx', externalVod, 1)
                    +vodIco()
                - else
                  +vodLink('payLink', 'site-nav-vodxxx', externalVod, 1)
                    +vodIco()
    - if (isSmsChat)
      li(data-nav-item="smsChat")
        a.site-nav-item.site-nav-sms(href="/#smsChatFeed", target='_blank')
          span.title
            span.title-holder= _t("toolbar", "tooltip.smschat")
          span.counter(data-counter="smsChatFeed")= 0
        .b-dropdown-menu(data-ui="autoClose", data-ui-control="[data-activity='smsChatFeed']", data-activity="smsChatFeed")
    if (internalVodAnchor)
      li(data-nav-item="vod")
        a.site-nav-item.site-nav-vod(href="/#vod", target='_blank')
          span.title
            span.title-holder Premium Videos
          span.counter(data-counter="vod")= 0
        .b-dropdown-menu(data-ui="autoClose", data-ui-control="[data-activity='vod']", data-activity="vod")
    - if (xSalesCoregSites)
      each coreg in xSalesCoregSites
        li(data-nav-item="coreg")
          a.site-nav-item.site-nav-coreg(href='data:text/html;charset=utf-8,<form id="coregForm" action="' + xSalesCoregSites.coregFormUrl + '" method="post"><input type="hidden" name="'+csrfTokenName+'"value="'+csrfTokenValue+'"><input type="hidden" name="coregPermission" value="' + coreg.permissionName + '"></form><script>document.getElementById("coregForm").submit();</script>', target="_blank")
            span.title
              span.title-holder= coreg.siteName
            span.counter(data-counter="coreg")= 0
          .b-dropdown-menu(data-ui="autoClose", data-ui-control="[data-activity='coreg']", data-activity="coreg")
    if (livecamAnchor)
      li(data-nav-item="webCams")
        a.site-nav-item.site-nav-webcams(href="/livecam/?promocode=#{livecamAnchor}", target='_blank')
          span.title
            span.title-holder Web Cams
          span.counter(data-counter="webCams")= 0
        .b-dropdown-menu(data-ui="autoClose", data-ui-control="[data-activity='webCams']", data-activity="webCams")
  - if (isShowEmailValidationBar)
    - if (typeof isEmailConfirmed !== 'undefined' && isEmailConfirmed === false)
    .email-validation-b(class=nonVirginToolbar ? 'newToolbar' : '')#alertEmailValidationBlock
      .email-validation-wrap
        -if(!nonVirginToolbar)
          .email-validation-wrap--left!= _t("toolbar", "title.email-validation-alert", {'{userEmail}': userEmail})
        -else
          .email-validation-wrap--left!= randConfMsg
            a.verify(href=emailService target="_blank")= _t("toolbar", "title.confirmation_verify")
        - if (!hideValidationBarButtons)
            .email-validation-wrap--right
              form#change-email-form.hidden(action="/user/resendConfirmMail" method="post" onsubmit="return false;")
                .email-validation-label= _t("toolbar", "title.email-validation-label")
                .email-validation-field
                  input#newEmail(type="text")
                button.email-validation-send-btn#btnChangeEmail(type="button")= _t("toolbar", "title.email-validation-send-btn")

              .email-validation-message.hidden
                span= _t("toolbar", "title.email-validation-message")

              .email-validation-nav
                ul
                  li
                    a#resendConfirmMail(href="#")= _t("toolbar", "title.resend-confirm-mail-link")
                  li
                    a#changeEmail(href="#")= _t("toolbar", "title.change-email-link")
                  li
                    a#checkMailBox(href=emailService target="_blank")= _t("toolbar", "title.chack-mail-box-link")
        - if(!nonVirginToolbar)
            a.email-validation-close-btn#closeEmailValidation(href="#")
        - else
            a.email-validation-close-btn#closeEmailValidationShowPopup(href="#")= _t("toolbar", "title.hide-bar")
            .popup(id="сonfirmPopup")
              .b-popup.b-success-page
                .closeButton#closePopup
                .b-popup-content
                  .must-confirm-wrap
                    .confirm-info
                      .confirm-info-title You Must Confirm Email To:
                        ul.confirm-info-list
                          li.confirm-info-list-item<span class="confirm-info-list-icon"></span>View your new local matches
                          li.confirm-info-list-item<span class="confirm-info-list-icon"></span>Receive private pics from horny women
                          li.confirm-info-list-item<span class="confirm-info-list-icon"></span>Allow women to send you private videos
                          li.confirm-info-list-item<span class="confirm-info-list-icon"></span>See who’s viewed your profile
                          li.confirm-info-list-item<span class="confirm-info-list-icon"></span>Get laid tonight!
                    .confirm-user-motiv
                      - if(typeof usersForPopup !== "undefined" && usersForPopup !== null)
                        each user in usersForPopup
                          .confirm-user-motiv-wrap
                            span.image-holder
                              img(src=user.photos.url)
                            .confirm-user-motiv-stripe
                              span.confirm-user-motiv-status
                              .confirm-user-motiv-photo<span class="confirm-user-motiv-photo-icon"></span> #{user.photos.count}
                  .b-confirm.active
                    p.complete-reg Click on the 'Activate my account' button in the email we've just sent to:
                    a.complete-email(href=emailService target="_blank")= userEmail
                    .b-buttons
                      a.btn.known-domain.green#checkMailBox(href=emailService target="_blank")= _t("toolbar", "title.chack-mail-box-link")
                    .b-complete-staps
                      a.resend-email#resendConfirmMail(href="#")= _t("toolbar", "title.resend-confirm-mail-link")
                    
                    form#change-email-form.hidden(action="/user/resendConfirmMail" method="post" onsubmit="return false;")
                      .email-validation-label= _t("toolbar", "title.email-validation-label")
                      .email-validation-field
                        input#newEmail(type="text")
                      button.btn.green.email-validation-send-btn#btnChangeEmail(type="button")= _t("toolbar", "title.email-validation-send-btn")

                    .b-resend-success.email-validation-message.hidden
                      span= _t("toolbar", "title.email-validation-message")
                  .b-important
                    h2 important
                      ul
                        li It takes 5-10 minutes for the activation email to arrive.
                        li Check your email account's 'Spam/Junk' folder to make sure our email hasn't landed there.
                        li Remember to mark it as 'Not junk/Spam' to ensure that you receive all important emails from #{siteName}
                  
