.tbr-box {
  height: 52px;
  width: 100%;
  background: @toolbarStyles-bg_tbr_box;
  background: -webkit-radial-gradient(top center, ellipse cover, @toolbarStyles-bg_tbr_box 5%, @toolbarStyles-bg_mid_tbr_box 59%, @toolbarStyles-bg_bot_tbr_box 100%);
  background: radial-gradient(ellipse at top center, @toolbarStyles-bg_tbr_box 5%, @toolbarStyles-bg_mid_tbr_box 59%, @toolbarStyles-bg_bot_tbr_box 100%);
  ._transition(all .2s);
  z-index: 1000;
  ._box-sizing;
  html.menu-active & {
    ._transform(translate3d(240px, 0, 0));
  }
  .hide-bar & {
    display: none;
  }
}
.tbr-wrap {
  position: relative;
  padding: 0 2px 0 10px;
  height: 100%;
  text-align: center;
  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, @toolbarStyles-bg_start_tbr_wrap), color-stop(100%, @toolbarStyles-bg_end_tbr_wrap)), url(~"@{toolbarStyles-images_path}/head-pattern.png");
  background: -webkit-linear-gradient(top, toolbar-bg_start_tbr_wrap 50%, @toolbarStyles-bg_end_tbr_wrap 100%), url(~"@{toolbarStyles-images_path}/head-pattern.png");
  background: linear-gradient(top, @toolbarStyles-bg_start_tbr_wrap 50%, @toolbarStyles-bg_end_tbr_wrap 100%), url(~"@{toolbarStyles-images_path}/head-pattern.png");
  background-position: 0 0, bottom center;
  background-repeat: repeat, repeat-x;
  background-size: 100%, 553px;*/
  .user-min {
    &.general-chat {
      float: right;
      margin: 15px 13px 0 0;
      position: relative;
      z-index: 12;
      &:before {
        content: "";
        display: block;
        width: 23px;
        height: 21px;
        background: @toolbarStyles-sprite -25px -142px;
        background-size: 213px;
      }
    }
  }
  header {
    position: absolute;
    top: 1px;
    left: 0;
    right: 0;
    margin: auto;
    color: @toolbarStyles-color_header;
    font-size: 22px;
    line-height: 48px;
    text-align: center;
    z-index: 10;
    &.user-online {
      &:after {
        content: "";
        display: inline-block;
        width: 9px;
        height: 9px;
        margin: 0 0 4px 5px;
        ._radius(9px);
        background: @toolbarStyles-user_online;
      }
    }
    .logo {
      width: 50px;
      height: 32px;
      background: url(~"@{toolbarStyles-images_path}/logo_top.png") no-repeat;
      background-size: 100%;
      margin: 8px auto;
    }
    .verisign {
      width: 77px;
      height: 43px;
      background: url(~"@{toolbarStyles-images_path}/verisign.png") no-repeat;
      background-size: 100%;
      float: right;
      margin: 3px 5px 0 0;
    }
  }
  aside {
    &.lside {
      float: left;
    }
    &.cside {
      vertical-align: top;
      display: inline-block;
      margin-top: 9px;
      font-size: 0;
      line-height: 0;
      letter-spacing: -4px;
      border: 1px solid @toolbarStyles-border_color_aside;
      ._radius(6px);
    }
    &.rside {
      float: right;
    }
  }
}
.tbr-button {
  display: inline-block;
  vertical-align: top;
  width: 46px;
  height: 52px;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  border: none;
  background: none;
  position: relative;
  z-index: 15;
  outline: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  ._radius(4px);
  &:before {
    content: "";
    display: block;
    margin: auto;
    width: 23px;
    height: 18px;
    background: transparent @toolbarStyles-sprite -55px -21px no-repeat;
    background-size: 213px;
  }
  &.tbr-button-list {
    width: 50px;
    height: 30px;
    &:before {
      background-position: -25px 0px;
    }
    &.active {
      background: @toolbarStyles-bg_tbr_active_button;
      &:before {
        background-position: -25px -20px;
      }
    }
  }
  &.tbr-button-gallery {
    width: 50px;
    height: 30px;
    &:before {
      background-position: -50px 0px;
    }
    &.active {
      background: @toolbarStyles-bg_tbr_button;
      &:before {
        background-position: -50px -20px;
      }
    }
  }
  &.tbr-button-map {
    width: 50px;
    height: 30px;
    &:before {
      background-position: -75px 0px;
    }
    &.active {
      background: @toolbarStyles-bg_tbr_button;
      &:before {
        background-position: -75px -20px;
      }
    }
  }
  &.tbr-button-settings {
    &:before {
      width: 25px;
      height: 23px;
      background-position: -100px 0px;
    }
  }
  &.tbr-button-setting {
    &:before {
      width: 23px;
      height: 21px;
      background-position: 0 -142px;
    }
  }
  &.tbr-button-home {
    width: 23px;
    &:before {
      background-position: 0 0;
    }
  }
  &.tbr-button-back {
    width: auto;
    padding: 0 20px 0 0;
    vertical-align: middle;
    color: @toolbarStyles-color_tbr_button;
    font-size: 0;
    &:before {
      display: inline-block;
      vertical-align: middle;
      margin: -2px 5px 0 0;
      width: 17px;
      height: 25px;
      background-position: -175px -118px;
    }
  }
  &.tbr-button-text {
    width: auto;
    padding: 0 10px 0 0;
    font-size: 15px;
    color: @toolbarStyles-color_tbr_button;
    vertical-align: middle;
    &:before {
      display: none;
    }
  }
  .tbr-counter {
    display: block;
    font-size: 10px;
    line-height: 16px;
    padding: 0 4px;
    min-width: 8px;
    background: @toolbarStyles-bg_tbr_counter;
    color: @toolbarStyles-color_tbr_button;
    text-align: center;
    ._radius(8px);
    position: absolute;
    top: 10px;
    right: -12px;
  }
}