/* images */
@toolbarStyles-images_path: "../images";
@toolbarStyles-sprite: url(~"@{toolbarStyles-images_path}/icons.png");
/* end: images */

/* header */
@toolbarStyles-color_header: #fff;
@toolbarStyles-bg_header: #1cbb1c;
@toolbarStyles-user_online: #1cbb1c;
/* end header */

/* aside */
@toolbarStyles-border_color_aside: #e9e9e9;
/* end aside */

/* tbr_box */
@toolbarStyles-bg_tbr_box: #070506;
@toolbarStyles-bg_mid_tbr_box: #070506;
@toolbarStyles-bg_bot_tbr_box: #070506;
/* end tbr_box */

/* tbr-wrap */
@toolbarStyles-bg_start_tbr_wrap: fade(#000, 0%);
@toolbarStyles-bg_end_tbr_wrap: fade(#170300, 80%);
/* end tbr-wrap */

/* tbr-button */
@toolbarStyles-bg_tbr_button: @toolbarStyles-border_color_aside;
@toolbarStyles-bg_tbr_active_button: @toolbarStyles-border_color_aside;
@toolbarStyles-bg_tbr_counter: #ff752a;
@toolbarStyles-color_tbr_button: @toolbarStyles-color_header;
/* end tbr-button */