- var currentPhoto = data.photos[data.open] ? data.photos[data.open].normal : '';
.b-frame-photo-viewer.active
  .b-photo-nav-bar
    a.btn-close(href='javascript:void(0)', data-close)
    a.btn-prev-wrap(href='#')#userPhotoGalleryPrev
      span.btn-prev
    a.btn-next-wrap(href='#')#userPhotoGalleryNext
      span.btn-next
  .b-full-photo#userPhotoGalleryFullWrap
    span.photo-wrap
      img#userPhotoGalleryFull(src=currentPhoto)
  .b-photos-list#userPhotoGalleryList
    a.b-photos-list-switch#userPhotoGalleryToggle(href='#', data-content='photos-list-switch')= _t("userPhotoGallery", "button.all_photos")
    ul
      each photo, index in data.photos
        li(data-gallery-photos='1'+index, class=(index == data.open ? 'active' : ''))
          a(href='javascript:void(0)', data-photo=photo.normal , data-level=photo.attributes.level)
            span.photo-list
              img.photo-small(src=photo.avatar)
