/* reset */
header, nav, article, section, footer {
  display: block;
}


body, form, p, blockquote, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

dd, ul, ol, menu {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
  vertical-align: middle;
  padding: 0;
}

input,
select,
textarea {
  outline: 0;
}

button,
input {
  line-height: normal; /* FF3/4 have !important on line-height in UA stylesheet*/
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Inner padding and border oddities in FF3/4*/
  border: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer; /* Cursors on all buttons applied consistently*/
  -webkit-appearance: button; /* Style clickable inputs in iOS*/
}

textarea {
  overflow: auto; /* Remove vertical scrollbar in IE6-9*/
  vertical-align: top; /* Readability and alignment cross-browser*/
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scrollbar-face-color: @reset-scroll_face; // ie scroll
  scrollbar-shadow-color: @reset-scroll_face;
  scrollbar-highlight-color: @reset-scroll_face;
  scrollbar-3dlight-color: @reset-scroll_face;
  scrollbar-darkshadow-color: @reset-scroll_face;
  scrollbar-track-color: @reset-scroll_track;
  scrollbar-arrow-color: @reset-scroll_track;
  overflow-y: scroll;
}

.inactive {
  display: none;
}