footer {
  margin-bottom: 20px;
  .link-holder {
    text-align: center;
    .link-list {
      letter-spacing: -4px;
      font-size: 0;
      line-height: 0;
      .item {
        display: inline-block;
        margin-right: 20px;
        letter-spacing: normal;
        .link {
          display: block;
          color: @footer-text_link;
          letter-spacing: normal;
          font: 14px/18px @footer-font;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}