.b-frame-photo-viewer {
  z-index: 1501;
  overflow: hidden;
  visibility: hidden;
  ._opacity(0);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: @userPhotoGallery-photo_viewer_bg;
  ._transition(all 0.5s);
  &.active {
    visibility:visible;
    ._opacity();
  }

  .b-frame-photo-viewer {
    .close{
      position: absolute;
      top: 0;
    }
  }

  .b-full-photo,
  .b-full-photo-helper,
  .b-photos-list {
    .blurred,
    .blurred-heavy {
      position: relative;
      .naughty-menu,
      .b-blur-message {
        display: block;
      }
    }
    .blurred-heavy {
      img {
        ._blur(18);
      }
    }
    .blurred {
      img {
        ._blur(10);
      }
    }
    .b-blur-message {
      margin-top: -10px;
    }
  }

  .b-full-photo,
  .b-full-photo-helper {
    text-align: center;
    vertical-align: middle;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    .photo {
      max-width: 100%;
      max-height: 100%;
      cursor: pointer;
    }
    .photo-wrap {
      position: relative;
      display: block;
      vertical-align: middle;
      height: 100%;
    }
    img {
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle;
      display: inline-block;
      cursor: pointer;
    }
  }
  .b-full-photo  {
    .photo-wrap {
      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
      }
    }
  }
  .b-full-photo-helper {
    display: none;
    z-index: 2;
    .photo {
      display: none;
    }
  }


  .b-photo-nav-bar {
    .btn-next-wrap,
    .btn-prev-wrap {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 25%;
      z-index: 4;
    }
    .btn-next-wrap {
      right: 0;
    }

    .btn-prev-wrap {
      left: 0;
    }
    .btn-close,
    .btn-prev,
    .btn-next {
      position:absolute;
      cursor:pointer;
      z-index:5;
      line-height:0;
      text-align:center;
      width:40px;
      height:40px;
    }
    .btn-close {
      right:15px;
      top:10px;
      &:after {
        ._sprite(@popup-close-active);
      }
      &:before {
        display: none;
      }
    }
    .btn-close:after,
    .btn-prev:after,
    .btn-next:after {
      content:'';
      display:inline-block;
      ._opacity(.6);
      margin-top:10px;
    }
    .btn-prev,
    .btn-next {
      top:50%;
      margin-top: -65px;
      height: 60px;
      &:after {
        ._sprite-image(@slider-prev);
        ._sprite-width(@slider-prev);
        ._opacity(.5);
      }
    }
    .btn-prev {
      left:15px;
      &:after {
        ._sprite-position(@slider-prev);
        ._sprite-height(@slider-prev);
      }
    }
    .btn-next {
      right:15px;
      &:after {
        ._sprite-position(@slider-next);
        ._sprite-height(@slider-next);
      }
    }
    .btn-close:hover:after,
    .btn-next-wrap:hover .btn-next:after,
    .btn-prev-wrap:hover .btn-prev:after,
    .btn-next:hover:after,
    .btn-prev:hover:after {
      ._opacity(1);
    }

    .btn-next-wrap:hover,
    .btn-prev-wrap:hover {
      background: fade(@userPhotoGallery-button_bg, 5%);
    }
  }

  .b-photos-list {
    ._gradient(@userPhotoGallery-photo_list_bg, fade(@userPhotoGallery-photos_overlay, 90%));
    ._transition(bottom 0.2s);
    ._shadow(inset 0 1px 0 fade(@userPhotoGallery-box_shadow, 10%));
    position:fixed;
    bottom:-195px;
    height: 197px;
    left:0;
    right:0;
    text-align:center;
    border-top:1px solid @userPhotoGallery-border;
    z-index:3;
    &.active {
      bottom:0;
    }
    ul {
      margin-top:-20px;
      font-size:0;
      white-space:nowrap;
      overflow:auto;
    }
     li {
      overflow: hidden;
      ._radius();
      display:inline-block;
      margin:4px 1px;
      border:3px solid transparent;
      ._transition(all 0.3s);
    }
     li.active {
      ._shadow(0 0 4px @userPhotoGallery-li_box_shadow);
      border-color: @userPhotoGallery-li_border;;
      & a {
        cursor: default;
      }
    }

    .b-photos-list-switch {
      ._radius(8px 8px 0 0);
      @box-shadow-color: fade(@userPhotoGallery-box_shadow, 10%);
      ._shadow(e("0 1px 0 @{box-shadow-color} inset, 1px 0 0 @{box-shadow-color} inset, -1px 0 0 @{box-shadow-color inset}"));
      height:16px;
      top:-20px;
      position:relative;
      display:inline-block;
      background-color: @userPhotoGallery-list_switch_bg;
      border-style: solid;
      border-color: @userPhotoGallery-border transparent @userPhotoGallery-photos_overlay ;
      border-width: 1px 0;
      padding:2px 10px;
      color: @userPhotoGallery-list_switch_color;
      text-decoration:none;
      text-shadow:0 0 1px fade(@userPhotoGallery-text_shadow,90%);
      &:hover {
        color: @userPhotoGallery-list_switch_color_hover;
      }
    }
    .b-photos-list-switch:after {
      content:open-quote;
      content:'\BB';
      display:inline-block;
      margin-left:7px;
      height:13px;
      line-height:12px;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
    &.active .b-photos-list-switch:after {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
  // Blur loading images
  .preloader {
    ._blur(6);
  }
  .loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: url("@{img_url}/loader-1.gif") no-repeat center center;
  }
}
