@userPhotoGallery-loader_url: url(~"@{img_url}/big-photo-loader.gif");

@userPhotoGallery-photo_viewer_bg: #000;
@userPhotoGallery-button_bg_ie: #000;
@userPhotoGallery-button_bg: #000;
@userPhotoGallery-border: #000;
@userPhotoGallery-photo_list_bg: #2c2c2c;
@userPhotoGallery-box_shadow: #fff;
@userPhotoGallery-text_shadow: #000;
@userPhotoGallery-li_border: #5079b3;
@userPhotoGallery-li_box_shadow: #000;
@userPhotoGallery-list_switch_bg: #2c2c2c;
@userPhotoGallery-list_switch_color: #9b9b9b;
@userPhotoGallery-list_switch_color_hover: #fff;

@userPhotoGallery-photos_overlay: #2c2c2c;

@userPhotoGallery-blur_msg_top_pos: 60%;
