- function selected(current, i) {
-   current = parseInt(current, 10)
-   return (current == i);
- }

mixin selectInline(name, data, start, end, fromTo)
  .field-select.field-select-inline(data-select=fromTo)
    .field-select-value(data-select-value)
    .field-select-control
      select(name=name)
        - for(var i= start; i <= end; i++)
          - if(selected(data, i))
            option(value=i, selected="selected") #{i}
          - else
            option(value=i) #{i}

mixin selectParams(name, options, current)
  .field-select(data-select)
    .field-select-value(data-select-value)
    .field-select-control
      select(name=name)
        each value, key in options
          - if(selected(current, key))
            option(value=key, selected="selected") #{value}
          - else
            option(value=key) #{value}

form#searchForm
  input(type="hidden", name="country", value=params.country)
  .fbx-item.fbx-title= _t("searchForm", "text.search-parameters")
  .fbx-item.fbx-table
    table
      tbody
        tr
          td
            label= _t("searchForm", "text.select-gender") + ":"
          td
            .fbx-table-field
              +selectParams('gender', {1: _t("searchForm", "text.select-male"), 2: _t("searchForm", "text.select-female")}, params.gender)
        tr
          td
            label= _t("searchForm", "text.select-aged-between") + ":"
          td
            .fbx-table-field
              +selectInline('ageFrom', params.ageFrom, 18, 78, 'from')
              .field-select-separator= _t("searchForm", "text.to")
              +selectInline('ageTo', params.ageTo, 18, 78, 'to')
        tr
          td
            label= _t("searchForm", "text.select-located") + ":"
          td
            .fbx-table-field
              .field-text
                input(type='text', value=params.location, name='location')
        tr
          td
            label= _t("searchForm", "text.select-distance") + ":"
          td
            .fbx-table-field
              +selectParams('distance', {20: "20", 50: "50", 100: "100"}, params.distance)

  .fbx-list-padding.border-top(data-radio)
    each searchType in params.types
      .fbx-item.fbx-field-check
        .field-check(data-check)
          label
            input(type='radio', name='type', value=searchType, checked=(params.type==searchType))
          .switcher
            span ON
            span OFF
        label.field-label= _t("searchForm", searchTypes[searchType])

  .fbx-list-padding.border-top(data-checkbox)
    .fbx-item.fbx-field-check.coreg-placement-on-advanced-search#coreg-placement-advanced-search

  .fbx-item.fbx-field-submit
    button#searchFormSubmit.button= _t("searchForm", "text.save")
