.b-popup-funnel {
  &.step-2 {
    position: relative;
    z-index: 2;
    width: 710px;
    max-width: 710px;
    margin: 0 auto;
    font-family: @popupPhotoUploadMotivation_font_300;
    color: @popupPhotoUploadMotivation-text_def_dark;
    background-color: @popupPhotoUploadMotivation-bg;
    .header {
      margin: 0;
      padding: 0 0 10px;
      font-size: 26px;
      line-height: 30px;
      text-align: center;
      .title {
        font-family: @popupPhotoUploadMotivation_font_300;
      }
    }
    .content {
      padding: 0 10px;
    }
    .btn-prev {
      float: left;
    }
    .btn-next {
      float: right;
    }
    .btn-upload {
      float: none;
    }
  }
  .b-popup-content {
    padding: 34px 15px 40px;
  }
  .btn-close {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 35px;
    background: none;
    &:after {
      position: absolute;
      top: 8px;
      left: 5px;
      content: "";
      ._sprite(@popup-close);
    }
    &:hover {
      ._opacity(.9);
    }
  }
  .b-popup-left-column {
    ._box-sizing();
    float: left;
    width: 50%;
    padding-right: 20px;
  }
  .list-title {
    font-size: 16px;
  }
  .b-funnel-list {
    list-style-type: none;
    li {
      position: relative;
      margin-top: 7px;
      padding-left: 18px;
      line-height: 20px;
      &:before {
        ._radius(7px);
        position: absolute;
        top: 7px;
        left: 0;
        width: 6px;
        height: 6px;
        content: "";
        background-color: @popupPhotoUploadMotivation-marker_bg;
      }
    }
    .photo-upload-notice {
      &:before {
        top: 3px;
        left: -5px;
        width: 16px;
        height: 16px;
        font: 10px/16px @popupPhotoUploadMotivation_font_600;
        content: "!";
        text-align: center;
        color: @popupPhotoUploadMotivation-text_def;
        background-color: @popupPhotoUploadMotivation-upload_bg;
      }
    }
  }
  .b-popup-right-column {
    float: right;
    position: relative;
    width: 50%;
  }
  .upload-form {
    ._radius();
    overflow: hidden;
    position: relative;
    margin-bottom: -11px;
    text-align: center;
    border: 2px dashed @popupPhotoUploadMotivation-upload_form_border;
    .b-drag-drop {
      padding: 10px 10px 6px;
    }
    .title {
      line-height: 110px;
    }
    .drag-drop {
      display: inline-block;
      padding: 0 10px;
      line-height: 16px;
      vertical-align: middle;
      color: @popupPhotoUploadMotivation-text_light;
    }
    .b-photo-choose {
      &.qq-upload-button-hover {
        background: none;
      }
      input[multiple="multiple"] {
        z-index: 2;
      }
    }
    input[multiple="multiple"] {
      &:hover {
        background: none;
      }
    }
    #fbPhotoUploaderBtn {
      position: relative;
      z-index: 3;
    }
    .btn-upload {
      ._box-sizing();
      ._text-overflow();
      position: relative;
      min-width: 180px;
      margin-bottom: 6px;
      font-family: @popupPhotoUploadMotivation_font_300;
      cursor: pointer;
      background-color: @popupPhotoUploadMotivation-upload_bg;
      input[type="file"] {
        ._opacity(0);
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        cursor: pointer;
      }
    }
    .btn-fb-upload,
    .btn-fb {
      min-width: 180px;
      font-family: @popupPhotoUploadMotivation_font_300;
      font-weight: normal;
      text-transform: none;
      color: @popupPhotoUploadMotivation-text_def;
    }
    .btn-fb {
      margin-bottom: 15px;
    }
  }
  .b-search-samples {
    clear: both;
    padding: 26px 0 0;
    text-align: justify;
  }
  .b-user-single {
    display: inline-block;
    width: 145px;
    margin-right: 26px;
    vertical-align: top;
    &:last-child {
      margin-right: 0;
    }
  }
  .b-photo {
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
    vertical-align: top;
  }
  .b-photo-link {
    display: block;
    overflow: hidden;
    position: relative;
    width: 145px;
    height: 145px;
    &.album {
      height: 145px;
      padding: 0;
      .image-holder {
        position: absolute;
        top: 0;
        left: 50%;
        width: 800px;
        height: 100%;
        margin-left: -400px;
        img {
          display: block;
          width: auto;
          height: 100%;
          margin: 0 auto;
        }
      }
    }
  }
  .image-holder {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(~"@{img_url}/loader.gif") no-repeat center;
    img {
      display: inline-block;
      width: 100%;
    }
  }
  .b-photos-count {
    position: absolute;
    z-index: 5;
    top: 4px;
    right: 5px;
    margin: 4px 4px 0 0;
    font: 600 12px/22px @popupPhotoUploadMotivation_font_300;
    text-align: center;
    color: @popupPhotoUploadMotivation-text_def_dark;
    ._sprite(@photo-count);
  }
  .overlay {
    position: absolute;
    z-index: 4;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    &:before {
      ._gradient(@popupPhotoUploadMotivation-overlay_bg, transparent);
      ._opacity(.4);
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 70px;
      content: "";
    }
  }
  .b-user-info {
    display: inline-block;
    position: relative;
    width: 145px;
  }
  .b-screenname {
    ._text-overflow();
    font-weight: 300;
    display: inline-block;
    max-width: 145px;
  }
  .b-features {
    display: none;
    position: relative;
    z-index: 5;
    margin: 5px 0 0 5px;
    .item {
      display: block;
      min-width: 33px;
      margin: 0 0 5px 0;
      padding: 1px 4px 0;
      font: 600 11px/12px @popupPhotoUploadMotivation_font_600;
      text-align: center;
      outline: none;
      background-color: @popupPhotoUploadMotivation_item_bg;
      background-color: fade(@popupPhotoUploadMotivation_item_bg, 60%);
      &:hover {
        background-color: @popupPhotoUploadMotivation_item_bg;
        background-color: fade(@popupPhotoUploadMotivation_item_bg, 75%);
      }
    }
  }
  .status {
    ._radius(5px);
    display: inline-block;
    position: relative;
    top: 3px;
    width: 10px;
    height: 10px;
    margin-left: 1px;
    vertical-align: top;
    &.online {
      background-color: @popupPhotoUploadMotivation-online_bg;
    }
    &.online-recently {
      background-color: @popupPhotoUploadMotivation-online_recently_bg;
    }
  }
  .b-main-info {
    font: 600 12px/16px @popupPhotoUploadMotivation_font_300;
    color: @popupPhotoUploadMotivation-text_light;
  }
  #fbPhotoUploaderList {
    clear: both;
  }
  .b-photos-list {
    ._clearfix();
    clear: both;
    padding: 30px 0 0;
    .title {
      margin: 0 0 11px;
      font-size: 13px;
    }
    .b-name {
      margin-bottom: 10px;
      padding-bottom: 3px;
      color: @popupPhotoUploadMotivation-text_title;
      border-bottom: 1px solid @popupPhotoUploadMotivation-title_border;
    }
    .photo-item {
      ._box-sizing();
      float: left;
      overflow: visible;
      position: relative;
      width: 116px;
      height: auto;
      max-height: 123px;
      margin: 0 20px 20px 0;
      &:nth-of-type(4n) {
        margin: 0 20px 20px 0;
      }
      &:nth-of-type(5n) {
        margin: 0 0 20px 0;
      }
      .b-photo {
        overflow: hidden;
        width: 100%;
        max-height: 125px;
        .photo {
          display: block;
          width: 100%;
        }
      }
      &:hover {
        .btn-remove,
        .b-primary {
          ._opacity();
          visibility: visible;
        }
        .b-primary {
          height: auto;
        }
      }
      &.loading {
        .b-photo {
          ._opacity(0);
          visibility: hidden;
        }
        .b-progress-bar {
          ._opacity();
          visibility: visible;
        }
      }
      &.removing {
        position: relative;
        z-index: 1;
        &:before {
          ._radius(20px);
          display: inline-block;
          width: 85px;
          height: 85px;
          content: " ";
          background: url(~"@{img_url}/small-photo-loader.gif") 50% 50% no-repeat;
        }
        &:after {
          display: inline-block;
          position: absolute;
          top: 0;
          width: 85px;
          height: 85px;
          content: " ";
          background: url(~"@{img_url}/bg-loader.png");
        }
        .b-photo {
          position: absolute;
          z-index: -1;
          top: 0;
        }
      }
      &.loading,
      &.removing {
        &:hover {
          .btn-remove,
          .b-primary {
            ._opacity(0);
            visibility: hidden;
          }
        }
      }
    }
    .b-progress-bar {
      ._opacity(0);
      ._radius(5px);
      visibility: hidden;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      height: 5px;
      margin: 0 auto;
      background-color: @popupPhotoUploadMotivation-progress_bar_bg;
      .progress {
        ._radius(5px);
        height: 100%;
        background-color: @popupPhotoUploadMotivation-progress_bar_bg;
      }
      .percent {
        position: absolute;
        top: -20px;
        left: 0;
        width: 100%;
        text-align: center;
        color: @popupPhotoUploadMotivation-color_text_muted;
      }
    }
    .b-control-btns {
      .btn-remove {
        ._opacity(0);
        ._radius(15px);
        ._shadow(0 1px 0 fade(@black, 30%));
        display: inline-block;
        position: absolute;
        z-index: 10;
        top: -10px;
        right: -10px;
        width: 20px;
        min-width: 0;
        height: 20px;
        margin: 0;
        padding: 0;
        line-height: 1.2em;
        text-align: center;
        vertical-align: top;
        text-decoration: none;
        background-color: @popupPhotoUploadMotivation-btn_remove_bg;
        &:hover {
          background-color: @popupPhotoUploadMotivation-btn_remove_hover_bg;
        }
        &:after {
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -6px 0 0 -6px;
          content: "";
          ._sprite(@popup-close-active);
        }
      }
      .b-primary,
      .b-check {
        ._opacity(0);
        visibility: hidden;
        overflow: hidden;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        width: auto;
        height: auto;
        color: @popupPhotoUploadMotivation-text_check;
        color: fade(@popupPhotoUploadMotivation-text_check, 70%);
        background-color: @popupPhotoUploadMotivation-block_bg;
        background-color: fade(@popupPhotoUploadMotivation-block_bg, 70%);

        filter: alpha(opacity=70);
        label {
          ._box-sizing();
          ._radius(2px);
          cursor: pointer;
          padding: 5px 10px 3px;
          display: inline-block;
          width: auto;
          height: 100%;
        }
        input[type="radio"] {
          &:not(.default) + span {
            top: -2px;
            font-size: 13px;
            color: @white;
          }
          &:not(.default) + span:before {
            top: 2px;
            width: 12px;
            height: 12px;
            margin-top: 0;
          }
        }
      }
    }
    input[type="radio"] {
      &:not(.default) + span {
        padding-left: 20px;
        &:before {
          position: absolute;
          left: 1px;
          margin-top: 4px;
          content: "";
          ._sprite(@checkbox);
        }
      }
      &:not(.default):checked + span {
        &:before {
          ._sprite-position(@checkbox-active);
        }
      }
    }
  }
  .photo-item {
    float: left;
    width: 50px;
    height: 50px;
    margin: 0 0 10px 10px;
    .b-photo {
      width: 100%;
      .photo {
        width: 100%;
      }
    }
  }
  .b-nav-btns {
    ._clearfix();
    margin-top: 18px;
  }
  .album {
    position: relative;
    padding: 15px 0 16px;
    border-top: 1px solid @popupPhotoUploadMotivation-border;
    &:first-child {
      border-top: none;
    }
    &.active {
      .photo-list {
        display: block;
      }
      .open-btn {
        &:after {
          background-position: -377px -142px;
        }
      }
    }
  }
  .open-btn {
    position: absolute;
    top: 11px;
    right: -5px;
    width: 25px;
    height: 25px;
    margin: 0;
    outline: none;
    background: none;
    &:after {
      position: absolute;
      top: 9px;
      right: 5px;
      width: 16px;
      height: 10px;
      content: "";
      background: @img_url-sprite-old no-repeat -377px -131px;
    }
    &:hover {
      ._opacity(.85);
    }
  }
  .photo-list {
    ._clearfix();
    ._transition();
    display: none;
    position: relative;
    left: -10px;
    width: 103%;
    margin: 6px 0 4px;
  }
  .photo-wrap {
    display: block;
    float: left;
    overflow: hidden;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 10px 0 0 10px;
    cursor: pointer;
    img {
      display: block;
      width: 100%;
    }
  }
  .check-photo {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: @popupPhotoUploadMotivation-overlay_bg;
    background-color: fade(@popupPhotoUploadMotivation-overlay_bg, 60%);
    &.active {
      display: block;
    }
    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -10px 0 0 -12px;
      content: "";
      ._sprite(@profile-check);
    }
  }
  .btn-row {
    margin-top: 30px;
    text-align: right;
    .btn-cancel,
    .btn-upload {
      min-width: 64px;
      margin-left: 10px;
    }
  }
}
.b-popup {
  &.b-popup-upload-error {
    display: table;
    position: relative;
    width: 560px;
    margin: 0 auto;
    padding: 25px;
    font-size: 16px;
    p {
      padding-bottom: 25px;
      vertical-align: middle;
    }
    .btn-row {
      margin: 0;
    }
  }
}
