@popupPhotoUploadMotivation_font_300: 'dosisregular', Arial, helvetica, sans-serif;
@popupPhotoUploadMotivation_font_600: 'dosissemibold', Arial, helvetica, sans-serif;

@popupPhotoUploadMotivation-bg: #fff;
@popupPhotoUploadMotivation-text_def_dark: #1f2226;
@popupPhotoUploadMotivation-marker_bg: #77b200;
@popupPhotoUploadMotivation-upload_bg: #f73;
@popupPhotoUploadMotivation-upload_form_border: #ccc;
@popupPhotoUploadMotivation-text_def: #fff;
@popupPhotoUploadMotivation-text_light: #999;
@popupPhotoUploadMotivation-hover_bg: #fff;
@popupPhotoUploadMotivation-overlay_bg: #000;
@popupPhotoUploadMotivation_item_bg: #fff;
@popupPhotoUploadMotivation-online_bg: #73e573;
@popupPhotoUploadMotivation-online_recently_bg: #f73;
@popupPhotoUploadMotivation-color_text_muted: #797979;
@popupPhotoUploadMotivation-text_title: #798391;
@popupPhotoUploadMotivation-title_border: #e3e3e3;
@popupPhotoUploadMotivation-progress_bar_bg: lighten(#ddd, 5%);
@popupPhotoUploadMotivation-block_bg: #000;
@popupPhotoUploadMotivation-text_check: #fff;
@popupPhotoUploadMotivation-border: #ccc;
@popupPhotoUploadMotivation-photo-remove-btn: #ff3232;
@popupPhotoUploadMotivation-btn_remove_bg: #ec1e0e;
@popupPhotoUploadMotivation-btn_remove_hover_bg: #bc180b;
