.w-messenger
  .messenger-history
    .messages-wrapper#messageHistory
      button.previous-messages-holder#messengerMore(style=(!prev_exist) ? "display: none;" : "")
        span.text-in-button= _t("messenger", "button.previous")
    .msg-read-status#messengerRead
      span.read-text= _t("messenger", "text.has_read." + gender)
      span.n-read-text= _t("messenger", "text.has_not_read." + gender)
    if upgrade_communication_show && upgrade_communication
      a.contact-free(href=upgrade_communication+userId)= _t("messenger", "button.upgrade_communication")
  .messenger-input
    .input
      .input-wrap
        .message-input#messengerInput(contenteditable="true", placeholder=_t("messenger", "placeholder.enter_message"))
        .smiles#messengerSmileList
          .btn-smiles#messengerSmileListBtn(data-toggle)
          .smiles-tooltip.b-smiles-enter
            ul
              each smile in smileList || []
                li.smile-item
                  img.smile-emoji(data-smile=smile, src=smileBlank)
    .btn-send-wrap
      button.btn-send.btn-text-green#messengerSend= _t("messenger", "button.send")
