/*--------------Success ---------------------------*/
.b-popup-cell {
  display: table-cell;
  vertical-align: middle;
}
.b-popup-table {
    display: table;
    height: 100%;
    width: 100%;
}
.b-popup-overlay {
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 700;
}
.b-popup.b-success-page {
  position: relative;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  background:@registrationComplete-or_bg;
  border-radius: 6px;
  width: 600px;
  min-width: 600px;
  margin: 0 auto;
  .b-popup-content {
    padding: 34px 20px 40px;
    min-height: 270px;
  }
  .title {
    text-align: center;
  }
  .complete-reg {
    margin: 50px auto 26px;
    text-align:center;
    a {
      display:block;
    }
  }
  .wrapp-btn {
    text-align:center;
    p {
      color: @registrationComplete-text_medium;
      font-size: 18px;
      font-weight: 600;
      font-family: @registrationComplete-font_600;
      margin: 0 0 30px 0;
    }
  }
  .known-domain {
    display: inline-block;
    margin: 0 0 10px;
  }
  .resend-button {
    color: @resend-button_text;
    display: block;
    font-family: @registrationComplete-font_300;
    &:hover {
      color: @resend-button_text_hover;
    }
  }
  .b-resend-email-form {
    display: none;
    border-top: 1px solid @registrationComplete-border_base;
    padding: 39px 0 0;
    margin-top: 35px;
    display: none;
    ._clearfix();
    position: relative;
    &.active {
      display: block;
    }
  }
  .item {
    width: 49.99%;
    float: left;
    padding: 18px 36px 18px 20px;
    border-right: 1px solid @registrationComplete-border_base;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    &.correct {
      border: none;
      padding: 18px 20px 18px 30px;
    }
    .b-or {
      position: absolute;
      height: 100%;
      top: 0;
      right: -31px;
      width: 61px;
      text-align: center;
      span {
        display: inline-block;
        background: @registrationComplete-or_bg;
        border: 1px solid @registrationComplete-or_border;
        ._radius(15px);
        padding: 3px 7px 5px;
        margin-top: 72px;
      }
    }
    p {
      padding-bottom:14px;
    }
    input {
      margin-bottom: 10px;
      width: 100%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }
    .btn {
      margin-bottom: 0;
    }
  }
  .resend-mail {
    text-align: center;
  }
}