@registrationComplete-font_300: 'dosisregular', Arial, helvetica, sans-serif;
@registrationComplete-font_600: 'dosissemibold', Arial, helvetica, sans-serif;

@registrationComplete-text_medium: #b3b3b3;
@registrationComplete-text_def_dark: #1f2226;
@registrationComplete-border_def: #bfbfbf;
@registrationComplete-border_base: #ddd;
@registrationComplete-or_bg: #fff;
@registrationComplete-or_border: #ccc;
@resend-button_text: #f73;
@resend-button_text_hover: #52cc52;