.myfavoritesbottom-banner-openx, .userbottom-banner-openx, .activitybottom-banner-openx, .activitytop-banner-openx, .profiletop-banner-openx, .searchtop-banner-openx, .accounttop-banner-openx, .myfavoritestop-banner-openx {
  text-align:center;  
}
.userbottom-banner-openx{
  margin-top: 40px;
}
.myfavoritestop-banner-openx,
.accounttop-banner-openx,
.searchtop-banner-openx,
.profiletop-banner-openx,
.activitytop-banner-openx,
.searchtop-banner-openx{
  margin-top: 10px;
}

.openx-search-placement {
  text-align: center;
  display:none;
}

.search-banner-openx{
  text-align: center;
}
.accountbottom-banner-openx{
  text-align: center;
  margin: 20px 0;
}
.banner-bottom {
  position: relative;
  bottom: 0;
  width: 100%;
}
.banner-bottom-height {
  min-height: 75px;
  display: none;
  width: 100%;
  clear: both;
}
.top-banner-openx {
	width: 100%;
	text-align: center;
}
.srh-user.cf.search-banner-openx {
	padding: 0;
}
.srh-results-gallery {
  .srh-user.search-banner-openx {
    display:none !important;
  }
}
