mixin vodLink(type, externalVod, vodId)
  if (type == 'vodLink')
    a.a-item(href=externalVod.vodFormUrl + vodId, target="_blank")
      span.a-item-inner= "Premium Videos"
  else
    a.a-item(href=externalVod.paymentUrl)
      span.a-item-inner= "Premium Videos"
.smn-box
  #siteLogo.smn-logo
  ul.smn-list
    li.divider
      | People
    // add Naughty mode
    li.aside-profile
      a.a-my-account-link(href='/#profile')
        .av-wrap
          img#menuAvatar(src=user.photoUrl)
        .aside-screenname
          | #{user.login}
    - if(naughtyMode.available)
        li.item.item-naughty-mode
          span.nm-text
            = _t("userMenu", "text.naughty_mode") + ":"
          a#userMenuNaughtyMode.nm-button-holder(href='/#site/naughtyMode')
            button.nm-button.normal(class=(naughtyMode.naughtyMode == 1)?'':'hidden', data-mode=1)
              = _t("userMenu", "text.normal")
            button.nm-button.sexy(class=(naughtyMode.naughtyMode == 2)?'':'hidden', data-mode=2)
              = _t("userMenu", "text.sexy")
            button.nm-button.no-limit(class=(naughtyMode.naughtyMode == 3)?'':'hidden', data-mode=3)
              = _t("userMenu", "text.no_limits")

    // end Naughty mode
    li.item.item-search
      a.a-item(href='/#search')
        span.a-item-inner
          = _t("userMenu", "text.search")
    li.divider
      = _t("userMenu", "text.activity")
    li.item.item-messenger
      a.a-item(href='/#chat/recipients')
        span.a-item-inner
          = _t("userMenu", "text.chat")
          - if (activity.counters.mail)
            span#userMenuCounterMail.counter
              = activity.counters.mail
          - else
            span#userMenuCounterMail.counter.hidden
    li.item.item-activity
      a.a-item(href='/#newsFeed')
        span.a-item-inner
          = _t("userMenu", "text.activity")
          span#userMenuCounterActivity.counter.hidden
    li.item.item-friends
      a.a-item(href='/#favorites')
        span.a-item-inner
          = _t("userMenu", "text.friends") + " | "
          span#userMenuCounterFavourite #{user.friendsCount || 0}
    - if (isAllowChatRooms)      
      li.item.item-chatrooms
        a.a-item(href='/#rooms')
          span.a-item-inner
            = _t("userMenu", "text.chatrooms")
    - if (externalVods && externalVods.vodIds && externalVods.vodIds.length)
      each vodId in externalVods.vodIds
        li.item.item-vod
          - if (user.account_status.type == 'paid' || externalVods.paidPermissions)
            +vodLink('vodLink', externalVods, vodId)
          - else
            +vodLink('payLink', externalVods, vodId)
    if (livecamAnchor)
      li.item.item-livecams
        a.a-item(href='/livecam/?promocode=#{livecamAnchor}', target="_blank")
          span.a-item-inner
            = "Who's on cam"
    - var showOpenxBanner = true
    - if (user.account_status.type === "free")
      - showOpenxBanner = false
      li.item
        - var banClass = "maleBan trad"
        - if (user.gender == "female")
          banClass = "femaleBan"
        div.smn-upgrade-area(class=banClass)
          div.smn-upgrade-area-item
            div.text
              != _t("userMenu", "text.membership-text")
            a.lnk-submit.get-button(href=userMenu.membershipUrl)
              = _t("userMenu", "text.membership-button")
          div.smn-upgrade-area-bg
    - if(user.account_status.type === "paid")
      - if(user.account_features.top_in_search !== undefined && ! user.account_features.top_in_search.active)
        li.item
          a.smn-upgrade-area(href=user.account_features.top_in_search.upgrade)
            .text!= _t("userMenu", "text.features_vip", {"{br}":"<br>", "{b}":"<b>", "{/b}":"</b>"})
            .button= _t("userMenu", "text.activate_feature")
      - else if (user.account_features.free_communication !== undefined && ! user.account_features.free_communication.active)
        li.item
          a.smn-upgrade-area(href=user.account_features.free_communication.upgrade)
            .text!= _t("userMenu", "text.features_free_communication", {"{br}":"<br>", "{b}":"<b>", "{/b}":"</b>"})
            .button= _t("userMenu", "text.activate_feature")
    - if (showOpenxBanner === true)
      li.item.openx-banner-item
        #openx-banner-placement-sidebarmenu.sidebarmenu-banner-openx
    li.item.item-web
      a#mobToWeb.a-item(href='#')
        span.a-item-inner
          = _t("userMenu", "text.web_version")
  if (phoneInfo.phoneNumber)
    div.smn-list
      div.item
        div.a-item-inner.a-item(style="padding-left:18px;")
          p
            != _t("userMenu", "text.hotline_credit_card")
          - if (phoneInfo.allowTwoPhones)
            - if (!phoneInfo.hideLocal)
              p
                != _t("userMenu", "text.local") + ': ' + phoneInfo.phoneNumber
            p
              != _t("userMenu", "text.intnl") + ': ' + phoneInfo.countryCode + phoneInfo.delimiter + phoneInfo.phoneNumber
          - else
            p
              != phoneInfo.countryCode + phoneInfo.delimiter + phoneInfo.phoneNumber