/*--------------Success ---------------------------*/
.b-popup-cell {
  display: table-cell;
  vertical-align: middle;
}
.b-popup-table {
    display: table;
    height: 100%;
    width: 100%;
}
.b-popup-overlay {
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 700;
    background-size: 100% auto;
}
.b-popup.b-success-page {
  position: relative;
  color: @registrationComplete-text_def_dark;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  background: @white;
  width: 500px;
  margin: 0 auto;
  ._radius(8px);
  font-family: @registrationComplete-helvetica;
  .b-popup-content {
    padding: 0 37px;
    min-height: 270px;
  }
  .btn-close {
    position: absolute;
    top: 5px;
    right: 5px;
    outline: 0;
    display: inline-block;
    vertical-align: top;
    width: 25px;
    height: 35px;
    background: 0 0;
    cursor: pointer;
    &:after {
      content: '';
      position: absolute;
      top: 8px;
      left: 5px;
      width: 15px;
      height: 15px;
    }
  }
  a {
    color: @registrationComplete-text_def_dark;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  .btn {
    color: @registrationComplete-text_def_dark;
    background: @registrationComplete-btn_bg;
    text-decoration: none;
    display: inline-block !important;
    font-family: @registrationComplete-font_600;
    font-size: 13px;
  }
  .title {
    padding: 20px 20px 18px;
    text-align: center;
    font: 600 20px/29px @registrationComplete-font_600;
    color: @registrationComplete-text_def_dark;
    background: @registrationComplete-header_bg;
    border-bottom: 1px solid @registrationComplete-header_border;
    margin: 0 -37px;
    span {
      display: block;
      font-size: 13px;
      color: @registrationComplete-text_def_dark;
      margin-top: -5px;
      font-family: @registrationComplete-helvetica;
    }
  }
  .b-confirm,
  .b-change-email {
    display: none;
    min-height: 185px;
    padding: 8px 0;
    font-weight: normal;
    &.active {
      display: block;
    }
  }
  .b-confirm {
    text-align: center;
    & > .complete-email {
      padding-top: 0;
    }
    .btn {
      min-width: 290px;
    }
  }
  .b-complete-reg,
  .complete-reg {
    padding-top: 15px;
  }
  .complete-email {
    display: inline-block;
    color: @registrationComplete-link_email;
    text-decoration: underline;
    font-weight: bold;
  }
  .b-buttons {
    margin: 20px 0 25px;
  }
  .b-complete-staps {
    position: relative;
    ._clearfix();
    .change-email {
      float: left;
    }
    .resend-email {
      float: right;
      text-decoration: underline;
      background: none;
      margin: 0;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .b-resend-success {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    padding: 15px 35px 15px 15px;
    text-align: left;
    background: @registrationComplete-white;
    ._shadow(0 0 15px 0 fade(@registrationComplete-black, 10%));
    ._radius(3px);
    font: 600 14px/16px @registrationComplete-font_600;
    &:before {
      content: "";
      position: absolute;
      right: 80px;
      bottom: -14px;
      height: 0;
      width: 0;
      border: 7px solid transparent;
      border-top-color: @registrationComplete-white;
    }
    &.active {
      display: block;
    }
  }
  .b-change-email {
    &.error {
      .b-error {
        display: block;
      }
      .b-email-input {
        border: 1px solid @registrationComplete-red;
        background: @registrationComplete-input_error_bg;
      }
    }
    .cansel {
      float: right;
      display: inline-block;
      margin: 13px 35px 0 0;
    }
    .btn {
      float: right;
      min-width: 145px;
    }
  }
  .b-change-text {
    font-weight: normal;
    margin-top: 20px;
  }
  .b-email-typing {
    position: relative;
  }
  .b-error {
    display: none;
    position: absolute;
    left: 99.8%;
    top: 15px;
    padding: 10px 13px;
    width: 240px;
    font: 600 14px/16px @registrationComplete-font_600;
    color: @registrationComplete-red;
    background: @registrationComplete-white;
    ._shadow(0 0 15px 0 fade(@registrationComplete-black, 10%));
    ._radius(5px);
    z-index: 10;
    word-break: break-word;
    &:before {
      content: "";
      position: absolute;
      right: 100%;
      top: 10px;
      height: 0;
      width: 0;
      border: 10px solid transparent;
      border-right-color: @registrationComplete-white;
    }
    a {
      color: @registrationComplete-red;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .b-email-input {
    margin: 15px 0 20px;
    border: 1px solid @registrationComplete-input_border;
    background: none;
  }
  .b-important {
    padding: 25px 30px;
    background: @registrationComplete-important_bg;
    margin: 10px -37px 0;
    h2 {
      font: 300 13px/24px @registrationComplete-helvetica;
      text-transform: uppercase;
      color: @registrationComplete-important_title_color;
      &:before {
        content: "";
        display: inline-block;
        height: 30px;
        width: 30px;
        margin: -2px 4px 0 5px;
        vertical-align: top;
      }
    }
    li {
      padding: 7px 0 2px 15px;;
      text-indent: -7px;
      line-height: 15px;
      list-style: none;
      font-weight: 300;
      &:before {
        content: "";
        display: inline-block;
        width: 3px;
        height: 3px;
        margin-right: 0;
        vertical-align: middle;
        background: @registrationComplete-text_light;
        ._radius(3px);
      }
      span {
        font-weight: 700;
      }
    }
  }
}
