
@registrationComplete-font_600: 'Open Sans Semibold', Arial, helvetica, sans-serif;

@registrationComplete-text_medium: #b3b3b3;
@registrationComplete-border_def: #bfbfbf;
@registrationComplete-border_base: #ddd;
@registrationComplete-or_bg: #fff;
@registrationComplete-or_border: #ccc;

@registrationComplete-helvetica: 'Open Sans', Arial, helvetica, sans-serif;
@registrationComplete-color_border_base: #dddddd;
@registrationComplete-text_medium: #a6a6a6;
@registrationComplete-text_def_dark: #1a1a1a;
@registrationComplete-pop_up_border: #ccc;
@registrationComplete-white: #fff;
@registrationComplete-btn_bg : #7dd47d;
@registrationComplete-link_email: #53a653;
@registrationComplete-bg: #777777;
@registrationComplete-border-def: fade(#000, 11%);
@registrationComplete-header_bg: #fff;
@registrationComplete-header_border: #bfbfbf;
@registrationComplete-header_color: #fe9556;
@registrationComplete-header_color1: #3c3636;
@registrationComplete-black: #000;
@registrationComplete-text_light: #868181;
@registrationComplete-important_title_color: #3c3636;
@registrationComplete-input_border: #d3c9c8;
@registrationComplete-red: #ff1940;
@registrationComplete-important_bg: #e6e6e6;
@registrationComplete-input_error_bg: #fff;