if profile
  .profile-details-single
    span.b-details-title= _t("profileEditor", "title.birthday")
    .b-details-value
      .field(data-ui-date-select)
        input(type="hidden", name="birthday", data-control, data-date-select-value="1", id="birthday")
        each value, key in formParams.dateFormat
          if value == "d"
            .field.select-widget.year(data-ui-select, data-date-select-year)
              .input-holder(data-toggle)
                .value(data-value)
                .select
                  input(type="hidden", value=profile.birthdayDate.year, name="birthday_year", data-control, id="birthday_year")
                  .b-dropdown-menu
                    ul.nav
                      each year, key in formParams.years
                        li(data-item=year)= year
          else if value == "m"
            .field.select-widget.day(data-ui-select, data-date-select-day)
              .input-holder(data-toggle)
                .value(data-value="")
                .select
                  input(type="hidden", value=profile.birthdayDate.day, name="birthday_day", data-control, id="birthday_day")
                  .b-dropdown-menu
                    ul.nav
                      - for(var i = 1; i <= 31; i++)
                        li(data-item=i)= (i < 10 ? "0" : "") + i
          else if value == "y"
            .field.select-widget.month(data-ui-select, data-date-select-month)
              .input-holder(data-toggle)
                .value(data-value)
                .select
                  input(type="hidden", value=profile.birthdayDate.month, name="birthday_month", data-control, id="birthday_month")
                  .b-dropdown-menu
                    ul.nav
                      li.item(data-item="1")= _t("profileEditor", "value.january")
                      li.item(data-item="2")= _t("profileEditor", "value.february")
                      li.item(data-item="3")= _t("profileEditor", "value.march")
                      li.item(data-item="4")= _t("profileEditor", "value.april")
                      li.item(data-item="5")= _t("profileEditor", "value.may")
                      li.item(data-item="6")= _t("profileEditor", "value.june")
                      li.item(data-item="7")= _t("profileEditor", "value.july")
                      li.item(data-item="8")= _t("profileEditor", "value.august")
                      li.item(data-item="9")= _t("profileEditor", "value.september")
                      li.item(data-item="10")= _t("profileEditor", "value.october")
                      li.item(data-item="11")= _t("profileEditor", "value.november")
                      li.item(data-item="12")= _t("profileEditor", "value.december")
        .b-error(data-ui-error-text="1") 
  .profile-details-single.location-block
    span.b-details-title= _t("profileEditor", "title.location")
    .b-details-value
      .field.select-widget.location(data-ui-location)
        .input-holder(data-toggle)
          .data-value(data-value)
            input.input-value.select-input.value(name="location", type="text", value=profile.location, autocomplete="off", data-control)
          .b-dropdown-menu
            .select-location.location(data-list)
        .b-error(data-ui-error-text="1")
  .profile-details-single
    .b-details-title= _t("profileEditor", "title.what_mind")
    .b-value
      .field(data-ui-textarea)
        .b-details-value
          .textarea-wrap#textarea
            textarea.textarea.long(name="chat_up_line", data-resize="auto", data-control, id="status")= profile.chat_up_line
          .b-error(data-ui-error-text="1")
  .profile-details-single
    .b-details-title= _t("profileEditor", "title.in_my_words")
    .b-value
      .field(data-ui-textarea)
        .b-details-value
          .textarea-wrap#textarea
            textarea.textarea.long(name="description", data-resize="auto", data-control, id="about")= profile.description
          .b-error(data-ui-error-text="1")
  div.coreg-placement-on-profile-editor.checkbox-info(id="coregPlacementEditAge")
  .b-buttons
    button.btn.small(data-btn-undo="1")= _t("profileEditor", "button.cancel")
    button.btn.orange.small(data-btn-save="1")= _t("profileEditor", "button.save")