.c-talks-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 405;
  overflow: auto;
  width: 100%;
  height: 100%;
  background: @talks-bg-ie-overlay;
  background: @talks-bg-overlay;
}

.c-talks {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -490px;
  margin-top: -300px;
  width: 980px;
  height: 600px;
  ._radius(8px 8px 0 0);
  background: @talks-bg;
  ._shadow(~"0 2px 10px @{talks-shadow}");
  z-index: 1005;

  /* common style */
  .hidden,
  .list-item .counter.hidden {
    display: none;
  }
  input[type="checkbox"]:not(.default) {
    opacity: 0;
    top: auto;
    left: auto;
  }
  .counter{
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    padding: 0 3px;
    min-width: 17px;
    text-align: center;
    ._box-sizing;
    color: @talks-color_counter;
    font: 600 0.75em/17px @talks-def_font;
    ._radius(4px);
    background: @talks-bg_counter;
    position: absolute;
    right: 10px;
  }
  .delete {
    display: inline-block;
    vertical-align: baseline;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    ._radius(20px);
    background: lighten(@talks-bg_counter, 8%);;
    &:before {
      content: '';
      display: inline-block;
      vertical-align: top;
      margin-top: 6px;
      width: 8px;
      height: 8px;
      background: @talks-sprite no-repeat -37px -372px;
    }
    &:hover {
      background: @talks-bg_counter;
    }
  }
  .btn-talks {
    display: inline-block;
    padding: 5px;
    min-width: 65px;
    color: @talks-color_button;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    outline: 0;
    ._radius(5px);
    background: @talks-bg_button;
    &:hover {
      background: darken(@talks-bg_button, 5%);
    }
  }
  .btn-upgrade {
    display: inline-block;
    padding: 9px;
    min-width: 240px;
    color: @talks-color_btn_upgrade;
    text-shadow: 0 1px fade(#000, 15%);
    font-size: 15px;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    border: none;
    ._radius(5px);
    background: @talks-bg_btn_upgrade;
    &:hover {
      background: darken(@talks-bg_btn_upgrade, 5%);
    }
  }
  .smiles-tooltip {
    display: none;
    position: absolute;
    bottom: 30px;
    right: -15px;
    padding: 10px;
    width: 270px;
    ._box-sizing;
    border: 1px solid @talks-dropdown_border;
    ._radius(5px);
    background: @talks-dropdown_bg;
    ._shadow(~"0 0 4px @{talks-dropdown_shadow}");
    z-index: 2;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 100%;
      right: 25px;
      width: 0;
      height: 0;
      border: 5px solid transparent;
    }
    &:before {
      right: 23px;
      margin-bottom: -2px;
      border-width: 7px;
      border-top-color: @talks-dropdown_border;
    }
    &:after {
      border-top-color: @talks-dropdown_bg;
    }
  }
  .smile-item {
    display: inline-block;
    vertical-align: top;
    margin: 1px;
    height: 25px;
    width: 25px;
  }
  .smile-emoji {
    display: inline-block;
    cursor: pointer;
    width: 25px;
    height: 25px;
    background: url(~"@{talks-images_path}/smiles.png") no-repeat;
  }
  .smile-emoji[data-smile="D83DDC4E"] {
    background-position: left 0;
  }
  .smile-emoji[data-smile="D83DDC4D"] {
    background-position: -25px 0;
  }
  .smile-emoji[data-smile="D83DDE20"] {
    background-position: -50px 0;
  }
  .smile-emoji[data-smile="D83CDF7A"] {
    background-position: -75px 0;
  }
  .smile-emoji[data-smile="D83CDF82"] {
    background-position: 0 -25px;
  }
  .smile-emoji[data-smile="D83DDE0A"] {
    background-position: -25px -25px;
  }
  .smile-emoji[data-smile="D83DDE47"] {
    background-position: -50px -25px;
  }
  .smile-emoji[data-smile="D83DDC4F"] {
    background-position: -75px -25px;
  }
  .smile-emoji[data-smile="D83DDD52"] {
    background-position: 0 -50px;
  }
  .smile-emoji[data-smile="26C5"] {
    background-position: -25px -50px;
  }
  .smile-emoji[data-smile="2615"] {
    background-position: -50px -50px;
  }
  .smile-emoji[data-smile="D83DDE15"] {
    background-position: -75px -50px;
  }
  .smile-emoji[data-smile="D83DDE22"] {
    background-position: 0 -75px;
  }
  .smile-emoji[data-smile="D83CDF54"] {
    background-position: -25px -75px;
  }
  .smile-emoji[data-smile="D83DDE49"] {
    background-position: -50px -75px;
  }
  .smile-emoji[data-smile="D83DDC96"] {
    background-position: -75px -75px;
  }
  .smile-emoji[data-smile="D83DDE07"] {
    background-position: 0 -100px;
  }
  .smile-emoji[data-smile="D83DDC8B"] {
    background-position: -25px -100px;
  }
  .smile-emoji[data-smile="D83DDE06"] {
    background-position: -50px -100px;
  }
  .smile-emoji[data-smile="D83DDCB0"] {
    background-position: -75px -100px;
  }
  .smile-emoji[data-smile="D83DDCAA"] {
    background-position: 0 -125px;
  }
  .smile-emoji[data-smile="D83CDFB5"] {
    background-position: -25px -125px;
  }
  .smile-emoji[data-smile="D83DDE36"] {
    background-position: -50px -125px;
  }
  .smile-emoji[data-smile="D83DDC4C"] {
    background-position: -75px -125px;
  }
  .smile-emoji[data-smile="D83CDF39"] {
    background-position: 0 -150px;
  }
  .smile-emoji[data-smile="D83DDE31"] {
    background-position: -25px -150px;
  }
  .smile-emoji[data-smile="D83DDE04"] {
    background-position: -50px -150px;
  }
  .smile-emoji[data-smile="D83DDE0F"] {
    background-position: -75px -150px;
  }
  .smile-emoji[data-smile="D83CDF1F"] {
    background-position: 0 -175px;
  }
  .smile-emoji[data-smile="D83DDE0E"] {
    background-position: -25px -175px;
  }
  .smile-emoji[data-smile="D83DDE1B"] {
    background-position: -50px -175px;
  }
  .smile-emoji[data-smile="2600"] {
    background-position: -75px -175px;
  }
  .smile-emoji[data-smile="D83DDCAD"] {
    background-position: 0 -200px;
  }
  .smile-emoji[data-smile="D83DDE24"] {
    background-position: -25px -200px;
  }
  .smile-emoji[data-smile="D83CDF79"] {
    background-position: -50px -200px;
  }
  .smile-emoji[data-smile="D83DDC4B"] {
    background-position: -75px -200px;
  }
  .smile-emoji[data-smile="D83DDE09"] {
    background-position: 0 -225px;
  }
  .smile-emoji[data-smile="D83DDE1F"] {
    background-position: -25px -225px;
  }
  .dropdown-menu {
    display: none;
    position: absolute;
    padding: 15px 20px 5px;
    max-width: 150px;
    min-width: 120px;
    ._box-sizing;
    border: 1px solid @talks-dropdown_border;
    background: @talks-dropdown_bg;
    ._shadow(~"0 0 4px @{talks-dropdown_shadow}");
    z-index: 2;
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border: 5px solid transparent;
    }
    &:before {
      border-width: 7px;
    }
    .title {
      font: 13px @talks-def_font;
    }
    .item {
      display: block;
      margin: 10px 0;
    }
    a.item {
      color: @talks-dropdown_color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .item-sep {
      margin: 10px -5px;
      padding: 10px 5px;
      border-top: 1px solid @talks-border;
      border-bottom: 1px solid @talks-border;
    }
  }
  .dropdown-settings {
    width: 155px;
    max-width: 155px;
    top: -27px;
    right: 35px;
    &:before,
    &:after {
      top: 35px;
      left: 100%;
    }
    &:before {
      margin-top: -2px;
      border-left-color: @talks-dropdown_border;
    }
    &:after {
      border-left-color: @talks-dropdown_bg;
    }
  }
  .dropdown-info-types {
    padding: 15px 15px 12px;
    width: 160px;
    top: -29px;
    right: 28px;
    font-size: 12px;
    &:before,
    &:after {
      top: 35px;
      left: 100%;
    }
    &:before {
      margin-top: -2px;
      border-left-color: @talks-dropdown_border;
    }
    &:after {
      border-left-color: @talks-dropdown_bg;
    }
    .item-type {
      position: relative;
      margin: 0 0 3px;
      padding-left: 15px;
      &:before {
        content: '';
        position: absolute;
        top: 5px;
        left: 0;
        width: 5px;
        height: 5px;
        ._radius(5px);
      }
    }
    .new-message:before {
      background: @talks-message_color_new;
    }
    .reading:before {
      left: -2px;
      top: 3px;
      width: 10px;
      height: 10px;
      background: @talks-sprite no-repeat 0 -59px;
    }
    .read:before {
      left: -1px;
      width: 8px;
      height: 6px;
      background: @talks-sprite no-repeat 0 -73px;
    }
    .flirtcast:before {
      background: @talks-message_color_flirtcast;
    }
    .autoreply:before {
      background: @talks-message_color_autoreply;
    }
    .activity-alert:before {
      background: @talks-message_color_activity;
    }
  }
  .dropdown-more {
    padding: 5px 20px;
    width: 120px;
    top: 30px;
    left: -50px;
    text-align: left;
    &:before,
    &:after {
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
    }
    &:before {
      margin-top: -2px;
      margin-left: -7px;
      border-bottom-color: @talks-dropdown_border;
    }
    &:after {
      border-bottom-color: @talks-dropdown_bg;
    }
  }
  .dropdown-attach {
    padding: 5px 20px;
    width: 120px;
    bottom: 30px;
    left: -15px;
    text-align: left;
    &:before,
    &:after {
      top: 100%;
      left: 25%;
      margin-left: -5px;
    }
    &:before {
      margin-bottom: -2px;
      margin-left: -7px;
      border-top-color: @talks-dropdown_border;
    }
    &:after {
      border-top-color: @talks-dropdown_bg;
    }
  }
  .dropdown-naughty {
    width: 220px;
    max-width: 240px;
    padding: 10px;
    top: -14px;
    right: 97%;
    z-index: 3;
    &:before,
    &:after {
      top: 45%;
      left: 100%;
    }
    &:before {
      margin-top: -2px;
      border-left-color: @talks-dropdown_border;
    }
    &:after {
      border-left-color: @talks-dropdown_bg;
    }
    .text {
      float: left;
      display: table;
      width: 100px;
      height: 64px;
      color: @talks-dropdown_color;
      font-size: 12px;
    }
    .text-wrap {
      display: table-cell;
      vertical-align: middle;
    }
    .buttons-wrap {
      margin-left: 110px;
    }
    .btn-naughty {
      display: block;
      margin: 3px 0 0;
      padding: 3px 5px 4px;
      color: @talks-color_btn_normal;
      font-size: 11px;
      border: none;
      background: @talks-bg_btn_normal;
      &:hover {
        ._opacity(.8);
      }
      &.on {
        color: @talks-color_btn_sexy;
        background: @talks-bg_btn_sexy;
      }
      &.no-limits {
        color: @talks-color_btn_no_limits;
        background: @talks-bg_btn_no_limits;
      }
    }
  }
  /* end: common style */

  /* --head-- */
  .header {
    text-align: right;
    ._radius(5px 5px 0 0);
    background: @talks-bg_header;
    border: 1px solid darken(@talks-bg_header, 10%);
    -webkit-box-shadow: 0 1px 1px fade(#fff, 20%) inset, 0 -2px 3px fade(darken(@talks-bg_header, 20%), 30%) inset;
    -moz-box-shadow: 0 1px 1px fade(#fff, 20%) inset, 0 -2px 3px fade(darken(@talks-bg_header, 20%), 30%) inset;
    box-shadow: 0 1px 1px fade(#fff, 20%) inset, 0 -2px 3px fade(darken(@talks-bg_header, 20%), 30%) inset;
    text-shadow: 0 1px fade(#000, 15%);
    .header-wrap {
      padding: 1px 15px 5px 20px;
      ._box-sizing;
      height: 26px;
      line-height: 20px;
    }
    .b-close,
    .b-minimize,
    .b-maxmimize,
    .b-fold,
    .b-expand {
      display: inline-block;
      vertical-align: top;
      width: 20px;
      height: 20px;
      margin-left: 8px;
      ._opacity(.8);
      &:before {
        content: '';
        display: inline-block;
        vertical-align: top;
        width: 20px;
        height: 20px;
        background: @talks-sprite no-repeat 0 -20px;
      }
      &:hover {
        ._opacity(1);
      }
    }
    .b-fold:before {
      background-position: 0 -20px;
    }
    .b-minimize:before {
      background-position: -24px -20px;
    }
    .b-maxmimize,
    .b-expand {
      display: none;
    }
    .b-maxmimize:before {
      background-position: -48px -20px;
    }
    .b-close:before {
      background-position: 0 -40px;
    }
    /*.b-fold:before,
    .b-expand:before {
      margin-top: 6px;
      height: 2px;
      background: @talks-bg_header_icon;
    }*/
    .b-expand:before {
      margin-top: 2px;
      background-position: -70px -20px;
    }
    .title {
      float: left;
      color: @talks-color_header;
      font: 0.875em/23px @talks-def_font;
      margin-bottom: 0;
    }
    .name {
      display: inline-block;
      vertical-align: top;
      ._text-overflow();
      max-width: 800px;
      color: @talks-color_header;
      text-decoration: none;
    }
    .icon-msg:before {
      content: '';
      display: inline-block;
      vertical-align: text-top;
      margin-right: 5px;
      width: 20px;
      height: 15px;
      background: @talks-sprite no-repeat 0 0;
      margin-top: 2px;
    }
    .counter {
      position: relative;
      margin-left: 20px;
    }
  }

  /* end: head */

  /* --layout-- */
  .head-msg {
    position: relative;
    background: @talks-bg;
    ._shadow(~"0 2px 8px @{talks-shadow_head_msg}");
    z-index: 1;
  }
  .content-msg {
  }
  .b-aside {
    float: right;
    width: 299px;
    background: @talks-bg_aside;
    border-left: 1px solid @talks-border;
  }
  .b-main {
    margin-right: 298px;
    border-right: 1px solid @talks-border;
  }
  /* end: layout */

  /* --options-- */
  .b-options {
    height: 100%;
    border-left: 1px solid @talks-border;
    background: @talks-bg;
    .b-options-wrap {
      padding: 20px;
      ._clearfix();
    }
    .check-friends {
      position: relative;
      display: inline-block;
    }
    .b-settings {
      float: right;
      position: relative;
      cursor: pointer;
      width: 28px;
      height: 28px;
      margin: -4px 3px 0 0;
      &:before {
        content: '';
        display: inline-block;
        vertical-align: text-top;
        margin: 6px;
        width: 16px;
        height: 16px;
        background: @talks-sprite no-repeat -10px -60px;
      }
      &:hover,
      &.active {
        &:before {
          ._opacity(.8);
        }
      }
      &.active {
        .dropdown-settings {
          display: block;
        }
      }
    }
    .btn-done {
      float: right;
      margin-top: -2px;
    }
  }
  /* end: options */

  /* --info-- */
  .b-info {
    .b-info-wrap {
      padding: 8px 0 8px 20px;
    }
    .user-info,
    .user-details,
    .communicate {
      display: inline-block;
      vertical-align: top;
    }
    .user-info {
      width: 215px;
      .user-photo {
        float: left;
        width: 40px;
        height: 40px;
        ._radius(5px);
        overflow: hidden;
      }
      .photo {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        overflow: hidden;
      }
      .user-describe {
        margin-left: 50px;
      }
      .screenname {
        display: block;
        margin: -2px 0 4px;
        ._text-overflow;
        color: @t-main-color;
        font: 14px/1.2em @talks-def_font;
        text-decoration: none;
      }
      .describe-info,
      .location {
        display: block;
        ._text-overflow(150px);
        line-height: 1.2em;
        font-size: 12px;
      }
      .b-old:before{
        content: '';
        display: inline-block;
        vertical-align: top;
        margin: 0 5px 0 3px;
        width: 1px;
        height: 12px;
        background: @talks-border;
      }
      .location {
        color: @talks-color_text;
      }
    }
    .user-details {
      max-width: 250px;
      margin: 0 15px 0 10px;
      &:before {
        content: '';
        display: inline-block;
        vertical-align: top;
        margin: 0 5px 0 -15px;
        width: 10px;
        height: 8px;
        background: @talks-sprite no-repeat -287px -44px;
      }
    }
    .communicate {
      float: right;
      display: inline-block;
      margin-top: 7px;
      .btn-video,
      .btn-add-friend,
      .btn-other {
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
        position: relative;
        width: 20px;
        height: 20px;

        &:hover:before,
        &:active:before,
        &:hover .name:after,
        &:active .name:after {
          ._opacity(.8);
        }
      }
      .btn-video,
      .btn-add-friend{
        &:before {
          content: '';
          display: inline-block;
          vertical-align: top;
          width: 20px;
          height: 20px;
          background: @talks-sprite no-repeat -25px -40px;
        }
      }
      .btn-video:before {
        margin: 5px 7px;
        width: 14px;
        height: 12px;
      }
      .btn-add-friend:before {
        background: @talks-sprite -25px -60px;
        width: 19px;
        height: 18px;
        position: absolute;
      }
      .btn-add-friend.active,
      .btn-add-friend:hover{
        ._opacity(0.8);
      }
      .btn-other {
        position: relative;
        width: 20px;
        height: 20px;
        cursor: pointer;
        font-size: 13px;
        text-align: center;
        border-right: none;
        .name {
          position: absolute;
          width:20px;
          height: 20px;
          left: 0;
          top: 0;
          font-size: 0;
        }
        &:after, &:before {
          content: '';
          position: absolute;
          border-bottom: none !important;
          top: 50%;
          left: 50%;
          margin-top: -4px;
          ._opacity(1);
        }
        &:after {
          border: 8px solid transparent;
          border-top: 7px solid @talks-bg_info_types;
          margin-left: -8px;
        }
        &:before {
            border: 6px solid transparent;
            border-top: 5px solid #fff;
            border-bottom: none;
            margin-left: -6px;
            z-index: 1;
        }
        &.active{
          .dropdown-more {
            display: block;
          }
        }
        &.active, &:hover {
          &:before { ._opacity(1); }
          &:after { ._opacity(0.8); }
        }
      }
    }
    .b-info-types {
      float: right;
      position: relative;
      margin: 8px 0 0;
      cursor: pointer;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 15px;
      &:before {
        content: '?';
        display: inline-block;
        ._box-sizing;
        width: 20px;
        height: 20px;
        color: @talks-color_info_types;
        font-size: 11px;
        font-weight: bold;
        line-height: 19px;
        text-align: center;
        text-decoration: none;
        outline: none;
        ._radius(20px);
        border: 1px solid @talks-bg_info_types;
      }

      &:hover {
        &:before {
          ._opacity(.8);
        }
        .dropdown-info-types {
          display: block;
        }
      }
    }
  }
  /* end: info */

  /* list */
  .b-list {
    position: absolute;
    top: 85px;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    text-align: center;
    .b-list-wrap {
      position: relative;
      width: 300px;
      float: right;

      &.loading {
        padding-bottom: 50px;
        &:after {
          position:absolute;
          bottom: 10px;
          left:48%;
          display:block;
          width:31px;
          height:31px;
          background:url("@{talks-images_path}/small-photo-loader.gif") no-repeat;
          content:'';
        }
      }
    }
    .list-item {
      display: block;
      text-align: left;
      text-decoration: none;
      border-bottom: 1px solid @talks-border_list_user;
      ._clearfix();
      &:first-child {
        .dropdown-naughty {
          top: 2px;
          &:before,
          &:after {
            top: 20px;
          }
        }
      }
      .list-item-wrap {
        text-decoration: none;
        display: block;
        padding: 10px 20px;
      }
      .user-photo {
        float: left;
        width: 40px;
        height: 40px;
        ._radius(5px);
        overflow: hidden;
      }
      .photo {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        overflow: hidden;
      }
      .user-describe {
        margin-left: 60px;
        max-width: 160px;
        min-height: 36px;
      }
      .screenname {
        display: block;
        ._text-overflow;
        color: @talks-color_text_def;
        font-size: 0.875em;
        line-height: 1.2em;
        text-decoration: none;
      }
      .status {
        color: @talks-color_offline;
        font-size: 12px;
        &.online {
          color: @talks-color_online;
        }
      }
      .counter,
      .delete {
        float: right;
        margin-top: 10px;
      }
      &.not-read {
        .screenname {
          color: @talks-color_text_screenname;
          font-weight: 600;
        }
      }
      &:hover {
        background: lighten(@talks-bg_active,5%);
      }
      &.active { background: @talks-bg_active; }
      &.blurred-heavy {
        .user-photo{
          position: relative;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            background: @talks-bg_over_ie;
            background: @talks-bg_over_heavy;
          }
        }
      }
      &.blurred {
        position: relative;
        .user-photo {
          overflow: hidden;
        }
        .photo {
          /*._blur(3);*/
        }
        .b-photo{
          background: none repeat scroll 0 0 rgba(0, 0, 0, 0.9);
          content: "";
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: 2;
        }
        .user-photo, x:-moz-any-link {
          position: relative;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            background: @talks-bg_over;
          }
        }
        /*IE10 hack start*/
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          .user-photo {
            position: relative;
            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 2;
              background: @talks-bg_over;
            }
          }
        }
        /*IE10 hack end*/
        &:hover {
          .dropdown-naughty {
            display: block;
          }
        }
      }
    }
    .btn-view {
      margin: 20px auto;
      padding: 8px 3px;
      display: block;
      max-width: 150px;
      ._radius;
      color: #fff;
      background: @talks-bg_button_invert;
      border: 1px solid darken(@talks-bg_button_invert, 10%);
      &:hover {
        background: lighten(@talks-bg_button_invert, 3%);
      }
    }
  }
  /* end: list */
  /* talks */
  .b-talks {
    .messenger-history {
      position: absolute;
      top: 120px;
      right: 299px;
      bottom: 41px;
      left: 0;
      overflow-y: auto;
      background: @talks-bg;
    }
    .messages-wrapper {
      padding: 10px 20px;
      font-size: 12px;
      ._box-sizing;
      height: 100%;
      width: 100%;
      overflow-y: auto;
      display: table;

      #cTalksMessageList {
        display: table-cell;
        height: 100%;
        vertical-align: bottom;
      }

      &.loading {
        padding-top: 45px;
        &:after {
          position:absolute;
          top: 5px;
          left:48%;
          display:block;
          width:31px;
          height:31px;
          background:url("@{talks-images_path}/small-photo-loader.gif") no-repeat;
          content:'';
        }
      }
    }
    .message {
      margin: 10px 0;
      ._clearfix();
      .username {
        float: left;
        width: 110px;
        ._text-overflow(110px);
        color: @talks-message_user_color;
      }
      .info {
        position: relative;
        float: right;
        width: 110px;
        text-align: right;
        &.loading {
          &:after {
            position:absolute;
            top: 2px;
            left:65px;
            display:block;
            width:16px;
            height:16px;
            background:url("@{talks-images_path}/micro-photo-loader.gif") no-repeat;
            content:'';
          }
          .status,
          .date {
            display: none;
          }
        }
      }
      .message-text {
        margin: 0 120px;
        color: @talks-message_text_color;
        word-break: break-word;
        img {
          display: inline-block;
          margin: 5px 5px 5px 0;
          width: auto;
          max-height: 180px;
        }
      }
      .date {
        margin-left: 5px;
        vertical-align: middle;
        color: @talks-message_date_color;
        text-transform: capitalize;
      }
      .status {
        display: inline-block;
        vertical-align: middle;
        width: 6px;
        height: 6px;
        ._radius(5px);
        &.new-message {
          background: @talks-message_color_new;
        }
        &.flirtcast {
          background: @talks-message_color_flirtcast;
        }
        &.autoreply {
          background: @talks-message_color_autoreply;
        }
        &.activity-alert {
          background: @talks-message_color_activity;
        }
        &.reading {
          margin-right: -2px;
          width: 10px;
          height: 10px;
          background: @talks-sprite no-repeat 0 -59px;
        }
        &.read {
          margin-right: -2px;
          width: 8px;
          height: 6px;
          background: @talks-sprite no-repeat 0 -73px;
        }
      }
      &.message-in {
        .username {
          color: @talks-message_user_in_color;
        }
      }
    }
    .separate-msg {
      position: relative;
      text-align: center;
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 1px;
        background: @talks-border;
      }
      .title {
        position: relative;
        padding: 0 10px;
        text-transform: capitalize;
        background: @talks-bg;
      }
      .btn-talks {
        position: relative;
      }
    }
    .message-note {
      display: none;
      position: absolute;
      top: 15px;
      left: 50%;
      margin-left: -100px;
      padding: 5px;
      min-width: 190px;
      max-width: 220px;
      color: @talks-message_color_delete;
      background: @talks-message_note_bg;
      z-index: 1;
    }
    .message-deleted {
      position: relative;
      z-index: 0;
      .message-note {
        display: block;
      }
    }
    .message-blur .message-text,
    .message-deleted .message-text {
      color: transparent;
      text-shadow: 0 0 6px @talks-shadow_text;
      -ms-user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      b {
        font-weight: normal;
        color: @talks-message_text_color;
        text-shadow: none;
      }
    }

    /* messenger-input */
    .messenger-input {
      position: absolute;
      left: 0;
      right: 299px;
      bottom: 0;
      background: @talks-bg_active;
      padding: 4px;
    }

    .input-placeholder {
      display: none;
      position: absolute;
      top: 8px;
      color: #aaa;
      left: 20px;
      font-size: 0.75em;
    }
    .input-wrap {
      position: relative;
      display: block;
      padding: 5px 8px 5px 20px;
      ._box-sizing;
      border-top: 1px solid @talks-border;
      background: @talks-message_bg_input_msg;
      ._radius(5px);
      &.empty .input-placeholder {
        display: block;
      }
    }

    .attach {
      display: none;
      position: absolute;
      top: 3px;
      left: 10px;
      cursor: pointer;
      width: 32px;
      height: 28px;
      &:before {
        content: '';
        display: inline-block;
        vertical-align: top;
        margin: 6px 8px;
        width: 16px;
        height: 16px;
        background: @talks-sprite no-repeat -69px -372px;
      }
      &.active {
        .dropdown-attach {
          display: block;
        }
      }
    }
    .location {
      float: right;
      margin-top: -5px;
      cursor: pointer;
      width: 32px;
      height: 28px;
      &:before {
        content: '';
        display: inline-block;
        vertical-align: top;
        margin: 6px 8px;
        width: 14px;
        height: 16px;
        background: @talks-sprite no-repeat -153px -372px;
      }
      &:hover:before {
        ._opacity(.8);
      }
      &.active:before {
        ._opacity(1);
        background-position: -205px -372px;
      }
    }

    .smiles {
      float: right;
      position: relative;
      cursor: pointer;
      margin-top: -5px;
      width: 32px;
      height: 28px;
      font-family: 'icons';
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      &:before {
        color: @talks-bg_info_types;
        font-size: 18px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin: 6px 8px;
        width: 20px;
        height: 20px;
      }

      &:hover,
      &.active {
        &:before {
          ._opacity(.8);
        }
      }
      &.active {
        .smiles-tooltip {
          display: block;
        }
      }
    }
    .message-input {
      position: relative;
      overflow: hidden;
      overflow-y: auto;
      margin-right: 30px;
      padding-right: 2px;
      padding-bottom: 2px;
      ._box-sizing;
      min-height: 20px;
      max-height: 120px;
      outline: none;
      word-break: break-word;
      z-index: 2;
      img {
        display: inline-block;
        margin: 5px 5px 5px 0;
        width: auto;
        height: 60px;
        &.smile-emoji {
          margin: 0;
          height: 25px;
        }
      }
    }
    .btn-send-wrap {
      position: relative;
      float: right;
      width: 27px;
      vertical-align: top;
      z-index: 2;
      margin-top: 1px;
      ._radius(0 5px 5px 0);
      overflow: hidden;
    }
    .btn-send {
      display: block;
      height: 29px;
      ._box-sizing;
      text-align: center;
      font-size: 0;
      color: @talks-bg_info_types;
      background: #fff;
      ._radius(0);
      width: 100%;
      min-width: 0;
      padding: 0;
      font-family: 'icons';
      &:before {
        content: "\e611";
        font-size: 12px;
        line-height: 30px;
        display: inline-block;
      }
      &:hover {
        ._opacity(0.8);
      }
    }
    .message-upgrade {
      padding: 14px 10px;
      ._box-sizing;
      text-align: center;
      background: @talks-upgrade_bg;
    }
    .message-microfeature {
      position: relative;
      padding: 6px 20px;
      ._box-sizing;
      color: @talks-color_microfeature;
      border-top: 1px solid @talks-border;
      background: @talks-bg_microfeature;
    }
    .message-first-read {
      padding: 6px 20px;
      ._box-sizing;
      color: @talks-color_first_read;
      background: @talks-bg_first_read;
    }
    .message-blocked {
      display: table;
      width: 100%;
      height: 260px;
      ._box-sizing;
      color: @talks-block_color;
      text-align: center;
      background: @talks-block_bg;
      .text {
        display: table-cell;
        padding: 10px;
        height: 100%;
        vertical-align: middle;
      }
    }
  }
  .emptyList {
    display: table;
    height: 100%;
    width: 100%;
  }
  .empty-messenger {
    color: @talks-color_text;
    font: 20px/1.75em @talks-def_font;
    width: 100%;
    padding-top: 20px;
    a {
      color: @talks-color_text_link;
    }
  }
  .empty-wrap {
    display: table-cell;
    height: 100%;
    text-align: center;
    vertical-align: top;
    width: 100%;
  }
}


@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  .c-talks {
    height: 1000px;
    margin-top: -500px;
  }
}


/* --------------------------small------------------------- */
.c-talks-small {
  top: auto;
  right: 20px;
  bottom: 0;
  left: auto;

  width: 300px;
  height: 330px;
  .header {
    cursor: move;
    .b-minimize {
      display: none;
    }
    .b-maxmimize {
      display: inline-block;
    }
    .header-wrap {
      padding: 2px 10px 2px;
    }
    .name {
      max-width: 120px;
    }
  }

  .head-msg {
    height: 40px;
  }
  .b-aside {
    width: 199px;
    display: none;
  }
  .b-main {
    margin-right: 0;
    border-right: 0;
  }

  .dropdown-info-types {
    top: -19px;
    right: 37px;
  }

  .b-options .b-options-wrap {
    padding: 10px;
  }

  .b-info {
    .b-info-wrap {
      padding: 2px 10px;
    }
    .user-info,
    .user-details {
      display: none;
    }
    .b-info-types { position: static; }
    .communicate { float: none; }
  }

  .b-list {
    top: 69px;
    .b-list-wrap {
      width: 100%;
    }
    .list-item {
      .user-describe {
        margin-left: 50px;
        max-width: 95px;
      }
      .list-item-wrap {
        padding: 10px;
      }
    }
  }

  .b-talks {
    .messages-wrapper {
      padding: 10px;
    }
    .messenger-history {
      top: 69px;
      right: 0;
    }
    .message {
      margin: 5px 0 10px 0;
      .message-text {
        margin: 0;
        clear: both;
        img {
          max-height: 120px;
        }
      }
    }
    .messenger-input {
      right: 0;
    }
    .message-input {
      max-height: 70px;
    }
    .input-wrap {
      margin-right: 0;
    }
    .attach {
      left: 2px;
    }
    .location {
      margin-right: -3px;
    }
    .input-placeholder {
      /*       left: 30px; */
      left: 10px;
    }
    .message-microfeature {
      padding: 6px 10px;
    }
    .message-note {
      top: 40px;
    }
    .message-first-read {
      padding: 6px 10px;
    }
    .message-blocked {
      height: 120px;
    }
  }
  .empty-messenger {
    font: 13px/1.92em @talks-def_font;
    .empty-text {
      padding: 0 20px;
    }
  }
}

.c-talks-small-users {
  width: 500px;
  .header {
    .name {
      max-width: 300px;
    }
  }
  .b-aside {
    display: block;
    border-left: 1px solid @talks-border;
  }
  .b-main {
  }
  .b-talks .messenger-history,
  .b-talks .messenger-input {
    right: 199px;
  }
}

.c-talks-minimized {
  top: auto;
  right: 55px;
  bottom: 0;
  left: auto;

  width: 260px;
  height: 28px;
  overflow: hidden;
  .header {
    height: 28px;
    cursor: move;
    .b-minimize,
    .b-maxmimize,
    .b-fold {
      display: none;
    }
    .b-expand {
      display: inline-block;
    }
    .header-wrap {
      padding: 2px 10px 2px;
    }
    .name {
      max-width: 150px;
    }
  }
  .head-msg,
  .content-msg {
    display: none;
  }
}

.c-talks-not-read {
  .header {
    background: @talks-bg_header_not_read;
  }
  .counter {
    color: @talks-color_counter_invert;
    background: @talks-bg_counter_invert;
  }
}
.c-talks-minimized-users {
  .header {
    .icon-msg:before {
      width: 21px;
      height: 19px;
      background-position: -107px -372px;
    }
  }
}

.message-upgrade-send {
  background: #ECDC8A;
  padding: 30px 20px;
  text-align: center;
  margin: 0 20px 20px;
  border: 1px solid #ccc;
  &.blinked {
    background: #FFFFFF;
  }
}
.message-upgrade-send a {
  color: #cc0000;
  font-weight: 600;
  text-decoration: underline;
}
.message-upgrade-send a:hover {
  text-decoration: none;
}
.c-talks-small .message-upgrade-send {
  margin: 20px 0;
}

.c-talks-ie,
.msie .c-talks {
  .message-blur .message-text,
  .message-deleted .message-text {
    position: relative;
    overflow: hidden;
    min-height: 61px;
    &:after {
      position: absolute;
      top: 2px;
      left: 0;
      display: inline-block;
      content: '';
      height: 61px;
      width: 519px;
      background: url(~"@{talks-images_path}/blur-msg.png") no-repeat 0 0;
    }
  }
}