.c-talks-overlay {
  overflow: auto;
  position: fixed;
  z-index: 605;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: @talks-bg-ie-overlay;
  background: @talks-bg-overlay;
}

.c-talks {
  ._radius(8px 8px 0 0);
  ._shadow(e("0 2px 10px @{talks-shadow}"));
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  width: 980px;
  height: 600px;
  margin-top: -300px;
  margin-left: -490px;
  background: @talks-bg;
  /* common style */
  .hidden,
  .list-item .counter.hidden {
    display: none;
  }
  input[type="checkbox"]:not(.default) {
    top: auto;
    left: auto;
    opacity: 0;
  }
  .counter {
    ._box-sizing;
    ._radius(12px);
    display: inline-block;
    min-width: 16px;
    margin-left: 5px;
    padding: 0 3px;
    font: 600 10px/16px @talks-def_font;
    text-align: center;
    vertical-align: middle;
    color: @talks-color_counter;
    background: @talks-bg_counter;
  }
  .delete {
    ._radius(20px);
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    text-align: center;
    vertical-align: baseline;
    background: lighten(@talks-bg_counter, 8%);;
    &:before {
      display: inline-block;
      width: 8px;
      height: 8px;
      margin-top: 6px;
      content: "";
      vertical-align: top;
      background: @talks-sprite no-repeat -37px -372px;
    }
    &:hover {
      background: @talks-bg_counter;
    }
  }
  .btn-talks {
    ._radius(5px);
    display: inline-block;
    min-width: 65px;
    padding: 5px;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    color: @talks-color_button;
    outline: 0;
    background: @talks-bg_button;
    &:hover {
      background: darken(@talks-bg_button, 5%);
    }
  }
  .btn-upgrade {
    ._radius(3px);
    display: inline-block;
    width: auto;
    margin: 0 0 0 40px;
    padding: 5px 25px 4px;
    font-weight: bold;
    text-decoration: none !important;
    color: #fff;
    border: 1px solid @green-btn-end-press;
    background: @green-btn-start;
    background: -moz-linear-gradient(top,  @green-btn-start 0%, @green-btn-end 46%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@green-btn-start), color-stop(46%,@green-btn-end));
    background: -webkit-linear-gradient(top,  @green-btn-start 0%,@green-btn-end 46%);
    background: -o-linear-gradient(top,  @green-btn-start 0%,@green-btn-end 46%);
    background: -ms-linear-gradient(top,  @green-btn-start 0%,@green-btn-end 46%);
    background: linear-gradient(to bottom,  @green-btn-start 0%,@green-btn-end 46%);
    text-shadow: 1px 1px fade(#000, 30%);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@green-btn-start', endColorstr='@green-btn-end',GradientType=0 );
    &:hover {
      background: @green-btn-start-hover;
      background: -moz-linear-gradient(top,  @green-btn-start-hover 55%, @green-btn-end-hover 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(55%,@green-btn-start-hover), color-stop(100%,@green-btn-end-hover));
      background: -webkit-linear-gradient(top,  @green-btn-start-hover 55%,@green-btn-end-hover 100%);
      background: -o-linear-gradient(top,  @green-btn-start-hover 55%,@green-btn-end-hover 100%);
      background: -ms-linear-gradient(top,  @green-btn-start-hover 55%,@green-btn-end-hover 100%);
      background: linear-gradient(to bottom,  @green-btn-start-hover 55%,@green-btn-end-hover 100%);

      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@green-btn-start-hover', endColorstr='@green-btn-end-hover',GradientType=0 );
    }
  }
  .smiles-tooltip {
    ._box-sizing;
    ._radius(5px);
    ._shadow(e("0 0 4px @{talks-dropdown_shadow}"));
    display: none;
    position: absolute;
    z-index: 2;
    right: -15px;
    bottom: 30px;
    width: 270px;
    padding: 10px;
    border: 1px solid @talks-dropdown_border;
    background: @talks-dropdown_bg;
    &:before,
    &:after {
      position: absolute;
      top: 100%;
      right: 25px;
      width: 0;
      height: 0;
      content: "";
      border: 5px solid transparent;
    }
    &:before {
      right: 23px;
      margin-bottom: -2px;
      border-width: 7px;
      border-top-color: @talks-dropdown_border;
    }
    &:after {
      border-top-color: @talks-dropdown_bg;
    }
  }
  .smile-item {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 1px;
    vertical-align: top;
  }
  .smile-emoji {
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: url(~"@{talks-images_path}/smiles.png") no-repeat;
  }
  .smile-emoji[data-smile="D83DDC4E"] {
    background-position: left 0;
  }
  .smile-emoji[data-smile="D83DDC4D"] {
    background-position: -25px 0;
  }
  .smile-emoji[data-smile="D83DDE20"] {
    background-position: -50px 0;
  }
  .smile-emoji[data-smile="D83CDF7A"] {
    background-position: -75px 0;
  }
  .smile-emoji[data-smile="D83CDF82"] {
    background-position: 0 -25px;
  }
  .smile-emoji[data-smile="D83DDE0A"] {
    background-position: -25px -25px;
  }
  .smile-emoji[data-smile="D83DDE47"] {
    background-position: -50px -25px;
  }
  .smile-emoji[data-smile="D83DDC4F"] {
    background-position: -75px -25px;
  }
  .smile-emoji[data-smile="D83DDD52"] {
    background-position: 0 -50px;
  }
  .smile-emoji[data-smile="26C5"] {
    background-position: -25px -50px;
  }
  .smile-emoji[data-smile="2615"] {
    background-position: -50px -50px;
  }
  .smile-emoji[data-smile="D83DDE15"] {
    background-position: -75px -50px;
  }
  .smile-emoji[data-smile="D83DDE22"] {
    background-position: 0 -75px;
  }
  .smile-emoji[data-smile="D83CDF54"] {
    background-position: -25px -75px;
  }
  .smile-emoji[data-smile="D83DDE49"] {
    background-position: -50px -75px;
  }
  .smile-emoji[data-smile="D83DDC96"] {
    background-position: -75px -75px;
  }
  .smile-emoji[data-smile="D83DDE07"] {
    background-position: 0 -100px;
  }
  .smile-emoji[data-smile="D83DDC8B"] {
    background-position: -25px -100px;
  }
  .smile-emoji[data-smile="D83DDE06"] {
    background-position: -50px -100px;
  }
  .smile-emoji[data-smile="D83DDCB0"] {
    background-position: -75px -100px;
  }
  .smile-emoji[data-smile="D83DDCAA"] {
    background-position: 0 -125px;
  }
  .smile-emoji[data-smile="D83CDFB5"] {
    background-position: -25px -125px;
  }
  .smile-emoji[data-smile="D83DDE36"] {
    background-position: -50px -125px;
  }
  .smile-emoji[data-smile="D83DDC4C"] {
    background-position: -75px -125px;
  }
  .smile-emoji[data-smile="D83CDF39"] {
    background-position: 0 -150px;
  }
  .smile-emoji[data-smile="D83DDE31"] {
    background-position: -25px -150px;
  }
  .smile-emoji[data-smile="D83DDE04"] {
    background-position: -50px -150px;
  }
  .smile-emoji[data-smile="D83DDE0F"] {
    background-position: -75px -150px;
  }
  .smile-emoji[data-smile="D83CDF1F"] {
    background-position: 0 -175px;
  }
  .smile-emoji[data-smile="D83DDE0E"] {
    background-position: -25px -175px;
  }
  .smile-emoji[data-smile="D83DDE1B"] {
    background-position: -50px -175px;
  }
  .smile-emoji[data-smile="2600"] {
    background-position: -75px -175px;
  }
  .smile-emoji[data-smile="D83DDCAD"] {
    background-position: 0 -200px;
  }
  .smile-emoji[data-smile="D83DDE24"] {
    background-position: -25px -200px;
  }
  .smile-emoji[data-smile="D83CDF79"] {
    background-position: -50px -200px;
  }
  .smile-emoji[data-smile="D83DDC4B"] {
    background-position: -75px -200px;
  }
  .smile-emoji[data-smile="D83DDE09"] {
    background-position: 0 -225px;
  }
  .smile-emoji[data-smile="D83DDE1F"] {
    background-position: -25px -225px;
  }
  .dropdown-menu {
    ._box-sizing;
    ._shadow(e("0 0 4px @{talks-dropdown_shadow}"));
    display: none;
    position: absolute;
    z-index: 2;
    min-width: 120px;
    max-width: 150px;
    padding: 15px 20px 5px;
    border: 1px solid @talks-dropdown_border;
    background: @talks-dropdown_bg;
    &:before,
    &:after {
      position: absolute;
      width: 0;
      height: 0;
      content: "";
      border: 5px solid transparent;
    }
    &:before {
      border-width: 7px;
    }
    .title {
      font: 13px @talks-def_font;
    }
    .item {
      display: block;
      margin: 10px 0;
      text-decoration: none;
      color: @talks-dropdown_color;
      background: none;
      &:hover {
        text-decoration: underline;
      }
      .alternate {
        display: none;
      }
      &.activated {
        .alternate {
          display: block;
        }
        .add {
          display: none;
        }
      }
    }
    .item-sep {
      margin: 10px -5px;
      padding: 10px 5px;
      border-top: 1px solid @talks-border;
      border-bottom: 1px solid @talks-border;
    }
  }
  .dropdown-settings {
    top: -27px;
    right: 35px;
    width: 155px;
    max-width: 155px;
    &:before,
    &:after {
      top: 35px;
      left: 100%;
    }
    &:before {
      margin-top: -2px;
      border-left-color: @talks-dropdown_border;
    }
    &:after {
      border-left-color: @talks-dropdown_bg;
    }
  }
  .dropdown-info-types {
    top: -29px;
    right: 28px;
    width: 160px;
    padding: 15px 15px 12px;
    font-size: 12px;
    &:before,
    &:after {
      top: 35px;
      left: 100%;
    }
    &:before {
      margin-top: -2px;
      border-left-color: @talks-dropdown_border;
    }
    &:after {
      border-left-color: @talks-dropdown_bg;
    }
    .item-type {
      position: relative;
      margin: 0 0 3px;
      padding-left: 15px;
      &:before {
        ._radius(5px);
        position: absolute;
        top: 5px;
        left: 0;
        width: 5px;
        height: 5px;
        content: "";
      }
    }
    .new-message:before {
      background: @talks-message_color_new;
    }
    .reading:before {
      top: 3px;
      left: -2px;
      width: 10px;
      height: 10px;
      background: @talks-sprite no-repeat 0 -59px;
    }
    .read:before {
      left: -1px;
      width: 8px;
      height: 6px;
      background: @talks-sprite no-repeat 0 -73px;
    }
    .flirtcast:before {
      background: @talks-message_color_flirtcast;
    }
    .autoreply:before {
      background: @talks-message_color_autoreply;
    }
    .activity-alert:before {
      background: @talks-message_color_activity;
    }
  }
  .dropdown-more {
    top: 30px;
    left: -50px;
    width: 120px;
    padding: 5px 20px;
    text-align: left;
    &:before,
    &:after {
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
    }
    &:before {
      margin-top: -2px;
      margin-left: -7px;
      border-bottom-color: @talks-dropdown_border;
    }
    &:after {
      border-bottom-color: @talks-dropdown_bg;
    }
    a {
      &.item {
        color: @talks-dropdown_color;
        .add {
          display: inline;
        }
        .added,
        .remove {
          display: none;
        }
        &.active {
          .added {
            display: inline;
          }
          .add {
            display: none;
          }
          &:hover {
            .remove {
              display: inline;
            }
            .added {
              display: none;
            }
          }
        }
      }
    }
  }
  .user-info,
  .list-item {
    .user-photo {
      ._blur(0);
      overflow: hidden;
      position: relative;
    }
    &.blurred {
      .user-photo {
        img {
          ._blur(10);
        }
      }
      /*IE10 hack*/
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .user-photo {
          &:before {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background: @talks-blur-overlay;
          }
        }
      }
      /*IE10 hack end*/
      .ie8 &,
      .ie9 & {
        .user-photo {
          &:before {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background: @talks-blur-overlay;
          }
        }
      }
    }
    &.blurred-heavy {
      .user-photo {
        img {
          ._blur(18);
        }
      }
      /*IE10 hack*/
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .user-photo {
          &:before {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background: @talks-blur-heavy-overlay;
          }
        }
      }
      /*IE10 hack end*/
      .ie8 &,
      .ie9 & {
        .user-photo {
          &:before {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background: @talks-blur-heavy-overlay;
          }
        }
      }
    }
  }
  .dropdown-attach {
    bottom: 30px;
    left: -15px;
    width: 120px;
    padding: 5px 20px;
    text-align: left;
    &:before,
    &:after {
      top: 100%;
      left: 25%;
      margin-left: -5px;
    }
    &:before {
      margin-bottom: -2px;
      margin-left: -7px;
      border-top-color: @talks-dropdown_border;
    }
    &:after {
      border-top-color: @talks-dropdown_bg;
    }
  }
  .dropdown-naughty {
    z-index: 3;
    top: -14px;
    right: 97%;
    width: 220px;
    max-width: 240px;
    padding: 10px;
    &:before,
    &:after {
      top: 45%;
      left: 100%;
    }
    &:before {
      margin-top: -2px;
      border-left-color: @talks-dropdown_border;
    }
    &:after {
      border-left-color: @talks-dropdown_bg;
    }
    .text {
      display: table;
      float: left;
      width: 100px;
      height: 64px;
      font-size: 12px;
      color: @talks-dropdown_color;
    }
    .text-wrap {
      display: table-cell;
      vertical-align: middle;
    }
    .buttons-wrap {
      margin-left: 110px;
    }
    .btn-naughty {
      display: block;
      margin: 3px 0 0;
      padding: 3px 5px 4px;
      font-size: 11px;
      color: @talks-color_btn_normal;
      border: none;
      background: @talks-bg_btn_normal;
      &:hover {
        ._opacity(.8);
      }
      &.on {
        color: @talks-color_btn_sexy;
        background: @talks-bg_btn_sexy;
      }
      &.no-limits {
        color: @talks-color_btn_no_limits;
        background: @talks-bg_btn_no_limits;
      }
    }
  }
  /* end: common style */
  /* --head-- */
  .header {
    ._radius(5px 5px 0 0);
    height: 60px;
    text-align: right;
    background: @talks-bg_header;
    .header-wrap {
      padding: 18px 15px 18px 20px;
    }
    .b-close,
    .b-minimize,
    .b-maxmimize,
    .b-fold,
    .b-expand {
      ._opacity(.8);
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-left: 8px;
      vertical-align: top;
      &:before {
        display: inline-block;
        width: 20px;
        height: 20px;
        content: "";
        vertical-align: top;
        background: @talks-sprite no-repeat 0 -20px;
      }
      &:hover {
        ._opacity(1);
      }
    }
    .b-fold:before {
      background-position: 0 -20px;
    }
    .b-minimize:before {
      background-position: -24px -20px;
    }
    .b-maxmimize,
    .b-expand {
      display: none;
    }
    .b-maxmimize:before {
      background-position: -48px -20px;
    }
    .b-close:before {
      background-position: 0 -40px;
    }
    /*.b-fold:before,
    .b-expand:before {
      margin-top: 6px;
      height: 2px;
      background: @talks-bg_header_icon;
    }*/
    .b-expand:before {
      margin-top: 0;
      background-position: -70px -20px;
    }
    .title {
      float: left;
      font: 16px/1.5em @talks-def_font;
      color: @talks-color_header;
    }
    .name {
      ._text-overflow();
      display: inline-block;
      max-width: 800px;
      vertical-align: top;
      text-decoration: none;
      color: @talks-color_header;
    }
    .icon-msg:before {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 5px;
      content: "";
      vertical-align: text-top;
      background: @talks-sprite no-repeat 0 0;
    }
  }
  /*end-head*/
  /*layout*/
  .head-msg {
    ._shadow(e("0 0 4px @{talks-shadow_head_msg}"));
    position: relative;
    z-index: 1;
    background: @talks-bg;
  }
  .b-aside {
    float: right;
    width: 299px;
    background: @talks-bg_aside;
  }
  .b-main {
    margin-right: 299px;
    border-right: 1px solid @talks-border;
  }
  /* end: layout */
  /* --options-- */
  .b-options {
    height: 100%;
    border-left: 1px solid @talks-border;
    background: @talks-bg;
    .b-options-wrap {
      ._clearfix();
      padding: 20px;
    }
    .check-friends {
      display: inline-block;
      position: relative;
    }
    .b-settings {
      float: right;
      position: relative;
      width: 28px;
      height: 28px;
      margin: -4px 3px 0 0;
      cursor: pointer;
      &:before {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: 6px;
        content: "";
        vertical-align: text-top;
        background: @talks-sprite no-repeat -10px -60px;
      }
      &:hover,
      &.active {
        &:before {
          ._opacity(.8);
        }
      }
      &.active {
        .dropdown-settings {
          display: block;
        }
      }
    }
    .btn-done {
      float: right;
      margin-top: -2px;
    }
  }
  /* end: options */
  /* --info-- */
  .b-info {
    &:after {
      position: absolute;
      top: 0;
      right: 299px;
      bottom: 0;
      margin-bottom: -446px;
      content: "";
      border-left: 1px solid @talks-border;
    }
    .b-info-wrap {
      padding: 8px 0 8px 20px;
    }
    .user-info,
    .user-details,
    .communicate {
      display: inline-block;
      vertical-align: top;
    }
    .user-info {
      width: 215px;
      .user-photo {
        float: left;
        width: 40px;
        height: 40px;
      }
      .photo {
        display: inline-block;
        overflow: hidden;
        width: 100%;
        vertical-align: top;
      }
      .user-describe {
        margin-left: 50px;
      }
      .screenname {
        ._text-overflow(150px);
        display: block;
        margin: -2px 0 4px;
        font: 14px/1.2em @talks-def_font;
        text-decoration: none;
        color: @talks-color_text_screenname;
      }
      .describe-info,
      .location {
        ._text-overflow(150px);
        display: block;
        font-size: 12px;
        line-height: 1.2em;
      }
      .b-old:before {
        display: inline-block;
        width: 1px;
        height: 12px;
        margin: 0 5px 0 3px;
        content: "";
        vertical-align: top;
        background: @talks-border;
      }
      .location {
        color: @talks-color_text;
      }
    }
    .user-details {
      max-width: 250px;
      margin: 0 15px 0 10px;
      &:before {
        display: inline-block;
        width: 10px;
        height: 8px;
        margin: 0 5px 0 -15px;
        content: "";
        vertical-align: top;
        background: @talks-sprite no-repeat -287px -44px;
      }
    }
    .communicate {
      display: inline-block;
      float: right;
      margin-top: 7px;
      .btn-video,
      .btn-add-friend,
      .btn-other {
        display: inline-block;
        position: relative;
        width: 20px;
        height: 20px;
        margin-right: 8px;
        vertical-align: middle;
        &:hover:before,
        &:active:before,
        &:hover .name:after,
        &:active .name:after {
          ._opacity(.8);
        }
      }
      .btn-video,
      .btn-add-friend {
        &:before {
          display: inline-block;
          width: 20px;
          height: 20px;
          content: "";
          vertical-align: top;
          background: @talks-sprite no-repeat -25px -40px;
        }
      }
      .btn-video:before {
        width: 14px;
        height: 12px;
        margin: 5px 7px;
      }
      .btn-add-friend:before {
        position: absolute;
        top: 2px;
        left: 2px;
        width: 16px;
        height: 16px;
        background: url("@{t-img}/profile_icons.png") -40px 0;
      }
      .btn-add-friend.active,
      .btn-add-friend:hover {
        &:before {
          background-position: -60px 0;
        }
      }
      .btn-other {
        position: relative;
        width: 20px;
        height: 20px;
        font-size: 13px;
        cursor: pointer;
        text-align: center;
        border-right: none;
        .name {
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          font-size: 0;
          &:after {
            position: absolute;
            top: 9px;
            left: 6px;
            width: 0;
            height: 0;
            content: "";
            border: 4px solid transparent;
            border-top: 4px solid @t-main-color;
            border-bottom: none;
          }
        }
        &:before {
          ._radius(25px);
          ._box-sizing;
          display: inline-block;
          width: 20px;
          height: 20px;
          content: "";
          border: 2px solid @t-main-color;
        }
        &:hover,
        &.active {
          .name {
            ._opacity(.8);
          }
        }
        &.active {
          .dropdown-more {
            display: block;
          }
          .name {
            &:after {
              border-top: none;
              border-bottom: 4px solid @t-main-color;
            }
          }
        }
      }
    }
    .b-info-types {
      float: right;
      position: relative;
      position: absolute;
      right: 15px;
      width: 20px;
      height: 20px;
      margin: 8px 0 0;
      cursor: pointer;
      &:before {
        ._box-sizing;
        ._radius(20px);
        display: inline-block;
        width: 20px;
        height: 20px;
        font-size: 11px;
        line-height: 19px;
        content: "?";
        text-align: center;
        text-decoration: none;
        color: @talks-color_info_types;
        outline: none;
        background: @talks-bg_info_types;
      }
      &:hover {
        &:before {
          ._opacity(.8);
        }
        .dropdown-info-types {
          display: block;
        }
      }
    }
  }
  /* end: info */
  /* list */
  .b-list {
    overflow-y: auto;
    position: absolute;
    top: 117px;
    right: 0;
    bottom: 0;
    text-align: center;
    &:hover {
      width: 100%;
    }
    .b-list-wrap {
      float: right;
      position: relative;
      top: 37px;
      width: 300px;
      &.loading {
        padding-bottom: 50px;
        &:after {
          display: block;
          position: absolute;
          bottom: 10px;
          left: 48%;
          width: 31px;
          height: 31px;
          content: "";
          background: url("@{talks-images_path}/small-photo-loader.gif") no-repeat;
        }
      }
    }
    .list-item {
      ._clearfix();
      display: block;
      position: relative;
      text-align: left;
      text-decoration: none;
      border-bottom: 1px solid @talks-border_list_user;
      &:hover {
        .dropdown-naughty {
          display: block;
        }
      }
      &:first-child {
        .dropdown-naughty {
          top: 2px;
          &:before,
          &:after {
            top: 20px;
          }
        }
      }
      .list-item-wrap {
        display: block;
        padding: 10px 20px;
        text-decoration: none;
      }
      .user-photo {
        float: left;
        width: 40px;
        height: 40px;
      }
      .photo {
        display: inline-block;
        overflow: hidden;
        width: 100%;
        vertical-align: top;
      }
      .user-describe {
        max-width: 160px;
        min-height: 36px;
        margin-left: 60px;
      }
      .screenname {
        ._text-overflow(155px);
        display: block;
        font-size: 15px;
        text-decoration: none;
        color: @talks-color_text_def;
      }
      .status {
        font-size: 12px;
        color: @talks-color_offline;
        &.online {
          color: @talks-color_online;
        }
      }
      .counter,
      .delete {
        float: right;
        margin-top: 10px;
      }
      &.not-read {
        .screenname {
          font-weight: 600;
          color: @talks-color_text_screenname;
        }
      }
      &:hover {
        background: lighten(@talks-bg_active,5%);
      }
      &.active {
        background: @talks-bg_active;
      }
      &.blurred-heavy {
        &:hover {
          .dropdown-naughty {
            display: block;
          }
        }
      }
      &.blurred {
        position: relative;
        .user-photo {
          overflow: hidden;
        }
        .photo {
          /*._blur(3);*/
        }
        .b-photo {
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: "";
          background: none repeat scroll 0 0 rgba(0, 0, 0, .9);
        }
        /*IE10 hack start*/
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          .user-photo {
            position: relative;
            &:before {
              position: absolute;
              z-index: 2;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              content: "";
              background: @talks-bg_over;
            }
          }
        }
        /*IE10 hack end*/
        &:hover {
          .dropdown-naughty {
            display: block;
          }
        }
      }
    }
    .btn-view {
      ._radius;
      display: block;
      max-width: 150px;
      margin: 20px auto;
      padding: 8px 3px;
      color: #fff;
      border: 1px solid darken(@talks-bg_button_invert, 10%);
      background: @talks-bg_button_invert;
      &:hover {
        background: lighten(@talks-bg_button_invert, 3%);
      }
    }
  }
  /* end: list */
  /* talks */
  .b-talks {
    .message-blocked {
      display: table;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      height: 260px;
      text-align: center;
      color: #fff;
      background: #1b1b1b;
      .text {
        display: table-cell;
        height: 100%;
        padding: 10px;
        vertical-align: middle;
        .unblock {
          cursor: pointer;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    .messenger-history {
      overflow-y: auto;
      position: absolute;
      top: 120px;
      right: 300px;
      bottom: 41px;
      left: 0;
      background: @talks-bg;
      &:before {
        display: inline-block;
        height: 99.5%;
        content: "";
        vertical-align: bottom;
      }
    }
    .messages-wrapper {
      ._box-sizing;
      display: inline-block;
      position: relative;
      width: 100%;
      padding: 10px 20px;
      font-size: 12px;
      &.loading {
        padding-top: 45px;
        &:after {
          display: block;
          position: absolute;
          top: 5px;
          left: 48%;
          width: 31px;
          height: 31px;
          content: "";
          background: url("@{talks-images_path}/small-photo-loader.gif") no-repeat;
        }
      }
    }
    .message {
      ._clearfix();
      margin: 10px 0;
      .username {
        ._text-overflow(110px);
        float: left;
        width: 110px;
        color: @talks-message_user_color;
      }
      .info {
        float: right;
        position: relative;
        width: 110px;
        text-align: right;
        &.loading {
          &:after {
            display: block;
            position: absolute;
            top: 2px;
            left: 65px;
            width: 16px;
            height: 16px;
            content: "";
            background: url("@{talks-images_path}/micro-photo-loader.gif") no-repeat;
          }
          .status,
          .date {
            display: none;
          }
        }
      }
      .message-text {
        margin: 0 120px;
        word-break: break-word;
        color: @talks-message_text_color;
        img {
          display: inline-block;
          width: auto;
          max-height: 180px;
          margin: 5px 5px 5px 0;
        }
      }
      .date {
        margin-left: 5px;
        vertical-align: middle;
        text-transform: capitalize;
        color: @talks-message_date_color;
      }
      .status {
        ._radius(5px);
        display: inline-block;
        width: 6px;
        height: 6px;
        vertical-align: middle;
        &.new-message {
          background: @talks-message_color_new;
        }
        &.flirtcast {
          background: @talks-message_color_flirtcast;
        }
        &.autoreply {
          background: @talks-message_color_autoreply;
        }
        &.activity-alert {
          background: @talks-message_color_activity;
        }
        &.reading {
          width: 10px;
          height: 10px;
          margin-right: -2px;
          background: @talks-sprite no-repeat 0 -59px;
        }
        &.read {
          width: 8px;
          height: 6px;
          margin-right: -2px;
          background: @talks-sprite no-repeat 0 -73px;
        }
      }
      &.message-in {
        .username {
          color: @talks-message_user_in_color;
        }
      }
    }
    #cTalksPrevExist {
      margin-bottom: 15px;
    }
    .separate-msg {
      position: relative;
      text-align: center;
      &:before {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        height: 1px;
        content: "";
        background: @talks-border;
      }
      .title {
        position: relative;
        padding: 0 10px;
        text-transform: capitalize;
        background: @talks-bg;
      }
      .btn-talks {
        position: relative;
      }
    }
    .message-note {
      display: none;
      position: absolute;
      z-index: 1;
      top: 15px;
      left: 50%;
      min-width: 190px;
      max-width: 220px;
      margin-left: -100px;
      padding: 5px;
      color: @talks-message_color_delete;
      background: @talks-message_note_bg;
    }
    .message-deleted {
      position: relative;
      z-index: 0;
      .message-note {
        display: block;
      }
    }
    .message-blur .message-text,
    .message-deleted .message-text {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      word-break: break-all;
      color: transparent;
      text-shadow: 0 0 6px @talks-shadow_text;
      b {
        font-weight: normal;
        color: @talks-message_text_color;
        text-shadow: none;
      }
    }
    /* messenger-input */
    .messenger-input {
      position: absolute;
      right: 300px;
      bottom: 0;
      left: 0;
      background: @talks-message_bg;
    }
    .input-placeholder {
      display: none;
      position: absolute;
      top: 8px;
      /*       left: 40px; */
      left: 20px;
      color: #aaa;
    }
    .input-wrap {
      ._box-sizing;
      display: block;
      position: relative;
      margin-right: 70px;
      padding: 8px 8px 8px 20px;
      border-top: 1px solid @talks-border;
      background: @talks-message_bg_input_msg;
      &.empty .input-placeholder {
        display: block;
      }
    }
    .attach {
      display: none;
      position: absolute;
      top: 3px;
      left: 10px;
      width: 32px;
      height: 28px;
      cursor: pointer;
      &:before {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: 6px 8px;
        content: "";
        vertical-align: top;
        background: @talks-sprite no-repeat -69px -372px;
      }
      &.active {
        .dropdown-attach {
          display: block;
        }
      }
    }
    .location {
      float: right;
      width: 32px;
      height: 28px;
      margin-top: -5px;
      cursor: pointer;
      &:before {
        display: inline-block;
        width: 14px;
        height: 16px;
        margin: 6px 8px;
        content: "";
        vertical-align: top;
        background: @talks-sprite no-repeat -153px -372px;
      }
      &:hover:before {
        ._opacity(.8);
      }
      &.active:before {
        ._opacity(1);
        background-position: -205px -372px;
      }
    }
    .smiles {
      float: right;
      position: relative;
      width: 32px;
      height: 28px;
      margin-top: -5px;
      cursor: pointer;
      &:before {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 6px 8px;
        content: "";
        cursor: pointer;
        vertical-align: top;
        background: @talks-sprite no-repeat -80px 0;
      }
      &:hover,
      &.active {
        &:before {
          ._opacity(.8);
        }
      }
      &.active {
        .smiles-tooltip {
          display: block;
        }
      }
    }
    .message-input {
      ._box-sizing;
      overflow: hidden;
      overflow-y: auto;
      position: relative;
      z-index: 2;
      min-height: 20px;
      max-height: 120px;
      margin-right: 30px;
      padding-right: 2px;
      padding-bottom: 2px;
      word-break: break-word;
      outline: none;
      img {
        display: inline-block;
        width: auto;
        height: 60px;
        margin: 5px 5px 5px 0;
        &.smile-emoji {
          height: 25px;
          margin: 0;
        }
      }
    }
    .btn-send-wrap {
      float: right;
      position: relative;
      z-index: 2;
      width: 70px;
      vertical-align: top;
    }
    .btn-send {
      ._box-sizing;
      ._radius(0);
      display: block;
      width: 100%;
      height: 38px;
      padding: 7px 8px 6px;
      font-size: 16px;
      text-align: center;
      color: @talks-color_button_send;
      background: @talks-bg_button_send;
      &:hover {
        background: darken(@talks-bg_button_send, 5%);
      }
    }
    .message-upgrade {
      ._box-sizing;
      padding: 14px 10px;
      text-align: center;
      background: @talks-upgrade_bg;
    }
    .message-microfeature {
      ._box-sizing;
      position: relative;
      padding: 6px 20px;
      color: @talks-color_microfeature;
      border-top: 1px solid @talks-border;
      background: @talks-bg_microfeature;
    }
    .message-first-read,
    .message-send-sms {
      ._box-sizing;
      padding: 6px 20px;
      color: @talks-color_first_read;
      background: @talks-bg_first_read;
    }
    .message-blocked {
      ._box-sizing;
      display: table;
      width: 100%;
      height: 260px;
      text-align: center;
      color: @talks-block_color;
      background: @talks-block_bg;
      .text {
        display: table-cell;
        height: 100%;
        padding: 10px;
        vertical-align: middle;
      }
    }
    .free-messages {
      padding: 0 20px 20px;
    }
  }
  .emptyList {
    width: 100%;
    height: calc(e("100% - 60px"));
    font-size: 0;
    text-align: center;
    &:before {
      display: inline-block;
      height: 100%;
      content: "";
      vertical-align: middle;
    }
    .empty-wrap {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .empty-messenger {
    height: 100%;
    padding-top: 10px;
    font: 20px/1.75em @talks-def_font;
    text-align: center;
    color: @talks-color_text;
    a {
      color: @talks-color_text_link;
    }
  }
  /* end: talks */
  // sms chat banner
  .btn-sms {
    margin: 0 10px;
    text-decoration: underline;
    color: @t-main-color;
  }
  .btn-send-sms {
    margin: 0 15px;
    .c-talks-small& {
      display: none;
    }
  }
  .message-send-sms {
    input[type=checkbox]:not(.default) {
      + span {
        &:before {
          top: 5px;
        }
      }
    }
  }
  // end: sms chat banner
  .message-reported {
    margin: 0 10px 10px;
    padding: 10px 20px;
    text-align: center;
    border: 1px dashed #ccc;
    background: #f9f9f9;
    .text {
      span {
        display: block;
        font-weight: 700;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}


@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  .c-talks {
    height: 1000px;
    margin-top: -500px;
  }
}


/* --------------------------small------------------------- */
.c-talks-small {
  top: auto;
  right: 20px;
  bottom: 0;
  left: auto;
  width: 300px;
  height: 330px;
  .header {
    height: 40px;
    cursor: move;
    .b-minimize {
      display: none;
    }
    .b-maxmimize {
      display: inline-block;
    }
    .header-wrap {
      padding: 7px 10px 5px;
    }
    .icon-msg:before {
      width: 17px;
      height: 18px;
      background-position: 0 0;
    }
    .name {
      max-width: 120px;
    }
  }
  .head-msg {
    height: 40px;
  }
  .b-aside {
    display: none;
    width: 199px;
  }
  .b-main {
    margin-right: 0;
    border-right: 0;
  }
  .dropdown-info-types {
    top: -19px;
    right: 37px;
  }
  .b-options .b-options-wrap {
    padding: 10px;
  }
  .b-info {
    .b-info-wrap {
      padding: 2px 10px;
    }
    .user-info,
    .user-details {
      display: none;
    }
    .b-info-types {
      position: static;
    }
    .communicate {
      float: none;
    }
  }
  .b-list {
    top: 80px;
    .b-list-wrap {
      width: 193px;
    }
    .list-item {
      .user-describe {
        max-width: 95px;
        margin-left: 50px;
      }
      .list-item-wrap {
        padding: 10px;
      }
      .screenname {
        width: 90px;
      }
    }
  }
  .b-talks {
    .message-blocked {
      height: 120px;
    }
    .messages-wrapper {
      padding: 10px;
    }
    .messenger-history {
      top: 80px;
      right: 0;
    }
    .message {
      margin: 5px 0 10px 0;
      .message-text {
        clear: both;
        margin: 0;
        img {
          max-height: 120px;
        }
      }
    }
    .messenger-input {
      right: 0;
    }
    .message-input {
      max-height: 70px;
    }
    .input-wrap {
      margin-right: 0;
      /*       padding: 8px 0 8px 30px; */
      padding: 8px 0 8px 10px;
    }
    .attach {
      left: 2px;
    }
    .location {
      margin-right: -3px;
    }
    .input-placeholder {
      /*       left: 30px; */
      left: 10px;
    }
    .btn-send-wrap {
      display: none;
    }
    .message-microfeature {
      padding: 6px 10px;
    }
    .message-note {
      top: 40px;
    }
    .message-first-read {
      padding: 6px 10px;
    }
    .message-blocked {
      height: 120px;
    }
    .free-messages {
      padding: 0 10px 10px;
    }
  }
  .empty-messenger {
    font: 13px/1.92em @talks-def_font;
    .empty-text {
      padding: 0 20px;
    }
  }
}

.c-talks-small-users {
  width: 500px;
  .header {
    .name {
      max-width: 300px;
    }
  }
  .b-aside {
    display: block;
  }
  .b-talks .messenger-history,
  .b-talks .messenger-input {
    right: 200px;
  }
  .b-info {
    &:after {
      display: block;
      right: 199px;
      margin-bottom: -366px;
    }
  }
}

.c-talks-minimized {
  top: auto;
  right: 20px;
  bottom: 0;
  left: auto;
  width: 300px;
  height: 40px;
  .header {
    height: 40px;
    cursor: move;
    .b-minimize,
    .b-maxmimize,
    .b-fold {
      display: none;
    }
    .b-expand {
      display: inline-block;
    }
    .header-wrap {
      padding: 7px 10px 5px;
    }
    .icon-msg:before {
      width: 17px;
      height: 18px;
      background-position: -132px -372px;
    }
    .name {
      max-width: 150px;
    }
  }
  .head-msg,
  .content-msg {
    display: none;
  }
}

.c-talks-not-read {
  .header {
    background: @talks-bg_header_not_read;
  }
  .counter {
    color: @talks-color_counter_invert;
    background: @talks-bg_counter_invert;
  }
}
.c-talks-minimized-users {
  .header {
    .icon-msg:before {
      width: 21px;
      height: 19px;
      background-position: -107px -372px;
    }
  }
}

.c-talks-ie,
.msie .c-talks {
  .message-blur .message-text,
  .message-deleted .message-text {
    overflow: hidden;
    position: relative;
    min-height: 61px;
    &:after {
      display: inline-block;
      position: absolute;
      top: 2px;
      left: 0;
      width: 519px;
      height: 61px;
      content: "";
      background: url(~"@{talks-images_path}/blur-msg.png") no-repeat 0 0;
    }
  }
}

.message-upgrade-send {
  margin: 0 20px 20px;
  padding: 30px 20px;
  text-align: center;
  border: 1px solid #ccc;
  background: #ecdc8a;
  &.blinked {
    background: #fff;
  }
}
.message-upgrade-send a {
  font-weight: 600;
  text-decoration: underline;
  color: #c00;
}
.message-upgrade-send a:hover {
  text-decoration: none;
}
.c-talks-small .message-upgrade-send {
  margin: 20px 0;
}

html[lang="ru"] .c-talks .b-talks .btn-send {
  font-size: 12px;
}
