/* images */
@talks-images_path: "../images";
@talks-sprite: url(~"@{talks-images_path}/talks_sprite.png");
/* end: images */

@talks-def_font: Helvetica, Arial, helvetica, sans-serif;

/* header */
@talks-bg_header: @header-bg-start;
@talks-bg_header_not_read: #f26e65;
@talks-bg_header_icon: #dfdfdf;
@talks-color_header: #fff;

/* wrap */
@talks-bg: #fff;
@talks-shadow: fade(#000, 40%);
@talks-shadow_head_msg: fade(#000, 30%);
@talks-shadow_text: fade(#000, 70%);
@talks-bg_aside: #fff;
@talks-border: #e1e6eb;
@talks-color_text: #a1a1a1;
@talks-color_text_def: #4c4c4c;
@talks-color_text_screenname: @t-screenname;
@talks-color_text_link: @t-main-color;
@talks-color_online: #45b883;
@talks-color_offline: #a3a3a3;
@talks-bg-overlay: fade(#000, 70%);
@talks-bg-ie-overlay: #fff;
@talks-block_color: #fff;
@talks-block_bg: #1b1b1b;

@talks-blur-overlay: fade(#000, 85%);
@talks-blur-heavy-overlay: fade(#000, 95%);

/* button */
@talks-bg_button: #f7f8f9;
@talks-color_button: #575d64;
@talks-bg_btn_upgrade: #45b883;
@talks-color_btn_upgrade: #fff;
@talks-bg_button_send: @t-main-color;
@talks-color_button_send: #fff;
@talks-bg_button_invert: @t-main-color;

@talks-bg_btn_normal: @t-main-color;
@talks-bg_btn_sexy: @talks-bg_btn_normal;
@talks-bg_btn_no_limits: @talks-bg_btn_normal;
@talks-color_btn_normal: #fff;
@talks-color_btn_sexy: @talks-color_btn_normal;
@talks-color_btn_no_limits: @talks-color_btn_normal;

/* icons */
@talks-bg_info_types: @t-main-color;
@talks-color_info_types: #fff;
@talks-bg_counter: @counter-bg;
@talks-color_counter: #fff;
@talks-bg_counter_invert: #fff;
@talks-color_counter_invert: @t-main-color;

/* users */
@talks-border_list_user: #e1e6eb;
@talks-bg_active: #f2f2f2;
@talks-bg_over_ie: #000;
@talks-bg_over: fade(#000, 78%);
@talks-bg_over_heavy: fade(#000, 90%);

/* message */
@talks-message_bg: #fff;
@talks-message_date_color: #9c9c9c;
@talks-message_user_color: @talks-message_date_color;
@talks-message_user_in_color: #f26e65;
@talks-message_text_color: #000;
@talks-message_color_new: #1cbb1c;
@talks-message_color_flirtcast: #ac4dee;
@talks-message_color_autoreply: #ff8400;
@talks-message_color_activity: #9c9c9c;
@talks-message_bg_input_msg: #fff;
@talks-message_color_delete: #e83434;
@talks-message_note_bg: #fff;

/* dropdown-menu */
@talks-dropdown_bg: #fff;
@talks-dropdown_border: #cfd5d9;
@talks-dropdown_shadow: fade(#92a0a9, 50%);
@talks-dropdown_color: #575d64;

/* upgrade */
@talks-upgrade_bg: #242a33;
@talks-color_first_read: #fff;
@talks-bg_first_read: #1b1b1b;
@talks-color_microfeature: #000;
@talks-bg_microfeature: #f7f8f9;









