[data-prefix="mpr"] {
  padding: 0;
}
.field-select{
  &.field-select-inline {
    width: 25%;
  }
}

#profilePhotoList {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.mpr-header {
  .usv-info {
    position: relative;
    .pic {
      position: relative;
      overflow: hidden;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
      .pic-counter-holder {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 40px;
        background: @profile-picCounter_bg;
        .pic-counter {
          position: absolute;
          right: 11px;
          bottom: 3px;
          font-size: 10px;
          color: @profile-picCounter_text;
          ._radius(2px);
          padding: 2px 4px 1px 15px;
          text-decoration: none;
          &:before {
            content: "";
            position: absolute;
            display: block;
            top: 2px;
            left: 3px;
            width: 10px;
            height: 10px;
            background: @profile-sprite -138px 0px no-repeat;
            background-size: 212px;
          }
        }
        .age,
        .from {
          margin-left: 15px;
          font-size: 12px;
          line-height: 130%;
        }
        .age {
          color: @profile-age_text;
        }
        .from {
          color: @profile-from_text;
        }
      }
    }
    .details {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 3;
      margin: auto;
      height: 100%;
      padding: 0;
      .user-info {
        height: 100%;
        position: relative;
        .tags {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 15;
          .tag {
            display: inline-block;
            vertical-align: top;
            font-size: 10px;
            line-height: 14px;
            padding: 0px 3px;
            background: @profile-tag_bg;
            color: @profile-tag_text;
            text-decoration: none;
            &.new {
              background: @profile-new_bg;
            }
          }
        }
        .status {
          position: absolute;
          z-index: 2;
          top: 4px;
          right: 4px;
          width: 9px;
          height: 9px;
          ._radius(10px);
          background: @profile-offline;
          &.online {
            background: @profile-online;
          }
        }
        .photos {
          color: @profile-text_over;
          position: absolute;
          right: 10px;
          bottom: 10px;
          min-width: 95px;
          text-align: right;
          .photo-count {
            bottom: 1px;
            font-size: 10px;
            margin-left: 5px;
            background: @profile-overlay;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            padding: 2px 4px 1px 15px;
            text-decoration: none;
            position: relative;
            &:before {
              content: "";
              position: absolute;
              display: block;
              top: 3px;
              left: 3px;
              width: 12px;
              height: 11px;
              background: @profile-sprite -155px -13px;
              background-size: 213px;
            }
          }
        }
        .name {
          position: absolute;
          bottom: 8px;
          left: 10px;
          color: @profile-name_text;
          margin: 0;
          max-width: 60%;
          a {
            text-decoration: none;
            color: inherit;
            font-size: 20px;
          }
          .name-wrap {
            display: inline-block;
            vertical-align: top;
            padding: 0 20px 0 0;
            ._box-sizing;
            max-width: 100%;
            position: relative;
          }
          .name-inner {
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 22px;
            margin-bottom: -4px;
          }
        }
        .age,
        .from {
          margin: 2px 0 0;
          font-size: 12px; 
          line-height: 130%;
        }
        .age {
          color: @profile-age_text;
        }
        .from {
          color: @profile-from_text;
        }
      }
    }
  }
  .photo {
    width: 80px;
    margin: 4px auto;
    max-height: 80px;
    overflow: hidden;
    ._radius(2px);
    img {
      display: block;
      width: 100%;
    }
    .add-photo {
      display: block;
      position: relative;
      width: 85px;
      height: 85px;
      background: url(~"@{profile-images_path}/add-photo-male.jpg") no-repeat;
      background-size: 100%;
      font-size: 13px;
      line-height: 15px;
      text-decoration: none;
      font-weight: bold;
      color: @profile-add_photo_text;
      span {
        position: absolute;
        display: block;
        left: 8px;
        bottom: 10px;
        width: 69px;
        text-align: center;
      }
      &.female {
        background-image: url(~"@{profile-images_path}/add-photo-female.jpg");
      }
    }
  }
  .details {
    position: relative;
    padding: 11px 0 0;
    .hot-user {
      position: absolute;
      top: 15px;
      left: 10px;
      z-index: 100;
      width: 32px;
      height: 32px;
      ._radius(3px);
      background: @profile-hot_user_bg;
      &:before {
        content: "";
        position: absolute;
        display: block;
        top: 5px;
        left: 6px;
        width: 19px;
        height: 23px;
        background: @profile-sprite -87px -92px no-repeat;
        background-size: 212px;
      }
    }
    .fbx-panel {
      margin: 15px 0 0;
    }
  }
  .screenname {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 24px;
    font-weight: normal;
    color: @profile_screenname_text;
    text-align: center;
    margin: 12px 0 7px;
  }
}
.mpr-album-wrap {
  margin: 9px 0 0;
  &:first-child {
    margin: 15px 0 0px;
  }
  .mpr-album-title {
    background: @profile-album_title_bg;
    width: 100%;
    text-align: center;
    margin: 0 0 4px;
    font-size: 12px;
    color: @profile-album_title_text;
  }
}
.mpr-button-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: @profile-button_upload_substrate;
  padding: 4px 21px;
  .button {
    width: 100%;
    font-size: 20px;
  }
}
.mpr-photo-single {
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.vote-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: @profile-vote_bg;
  text-align: center;
  .button-skip,
  .button-like {
    margin-top: 10px;
    color: @profile-button_skip_like_text;
    border: none;
    background: none;
  }
  .button-like:after,
  .button-skip:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 37px;
    height: 37px;
    border: 2px solid @profile-button_skip_like_border;
    ._radius(20px);
    background: @profile-sprite -125px -145px no-repeat;
    background-size: 213px;
  }
  .button-like {
    margin-right: 10%;
    &:after {
      margin-left: 8px;
      background-position: -125px -145px;
    }
  }
  .button-skip {
    margin-left: 10%;
    &:before {
      margin-right: 8px;
      background-position: -163px -145px;
    }
  }
}

@media (max-width: 767px) and (min-width: 640px) {
  .mpr-photo-list ul li {
    width: 14.28%;
    margin: 0 0 10px;
  }
}

@media (max-width: 639px) and (min-width: 480px) {
  .mpr-photo-list ul li {
    width: 20%;
    margin: 0 0 15px;
  }
}

@media (max-width: 480px) {
  .mpr-photo-list ul li {
    width: 25%;
    margin: 0 0 4px;
  }
}
