/* images */
@profile-images_path: "../images";
@profile-sprite: url(~"@{profile-images_path}/icons.png");
/* end: images */

/* text */
@profile-text_over: #fff;
@profile-text_sub: #808080;
/* end: text */

/* general styles */
@profile-overlay: fade(#000,50%);
@profile-picCounter_bg: @profile-overlay;
@profile-picCounter_text: @profile-text_over;
@profile-from_text: profile-text_over;
@profile-age_text: profile-text_over;
@profile-tag_bg: #bcbcbc;
@profile-tag_text: @profile-text_over;
@profile-new_bg: #e83434;
@profile-offline: #e7e3da;
@profile-online: #1cbb1c;
@profile-name_text: @profile-text_over;
@profile-add_photo_text: fade(#fff, 95%); 
@profile-hot_user_bg: #454441;
@profile-album_title_bg: #f2f2f2;
@profile-album_title_text: @profile-text_sub;
@profile-button_upload_substrate: fade(#fff, 70%);
@profile-vote_bg: @profile-overlay;
@profile-button_skip_like_text: @profile-text_over;
@profile-button_skip_like_border: #fff;
@profile_screenname_text: #4c4c4c;
/* end: general styles */