.b-user, .user-info {
  position: relative;
  display: inline-block;
  padding: 17px 10px 6px;
  width: 370px;
  background: @userListWidget-bg;
  text-align: left;
  font: 14px/16px @userListWidget-font;
  .b-photo, .user-photo {
    position: relative;
    display: block;
    float: left;
    .status {
      position: absolute;
      top: 3px;
      right: 3px;
      width: 8px;
      height: 8px;
      border-radius: 100px;
      border: 3px solid #fff;
      .status-text {
        position: absolute;
        background: fade(#333,50%);
        color: #FFF;
        white-space: nowrap;
        font-size: 10px;
        top: -4px;
        right: 11px;
        line-height: 1;
        padding: 3px 9px;
        border-radius: 16px;
        display: none;
        &:after {
          content: "";
          position: absolute;
          border: 2px solid rgba(0, 0, 0, 0);
          border-right: 0;
          border-left-color: fade(#333,50%);
          right: -4px;
          top: 50%;
          margin-top: -2px;
          border-left-width: 4px;
        }
      }
      &:hover {
        .status-text {
          display: block;
        }
      }
      &.online {
        display: block;
        background: @userListWidget-user_info_online_color;
      }
      &.r-online {
        display: block;
        background: @userListWidget-user_info_r_online_color;
      }
    }
    .b-photo-link {
      position: relative;
      display: block;
      overflow: hidden;
      max-height: 135px;
      width: 135px;
      color: @userListWidget-photo_link_color;
      text-decoration: none;
      &:before {
        position: absolute;
        top: 77px;
        left: 50%;
        margin-left: -16px;
        width: 34px;
        height: 34px;
        background: @userListWidget-small_photo_loader_url no-repeat;
        content: '';
      }
      .image-holder {
        position: relative;
        background: @userListWidget-image_holder_bg;
        z-index: 2;
      }
      &.portrait {

      }
      &.album {
        height: 180px;
        .image-holder {
          position: absolute;
          top: 0;
          left: 50%;
          margin-left: -400px;
          width: 800px;
          height: 100%;
        }
        img {
          display: block;
          margin: 0 auto;
          width: auto;
          height: 100%;
        }
      }
      .overlay {
        ._opacity(.2);
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        width: 100%;
        height: 100%;
        background: @userListWidget-overlay_bg;
        z-index: 1;
      }
      .photo {
        display: block;
        overflow: hidden;
        width: 100%;
        height: auto;
        ._opacity(.92);
      }
      .online-status {
        top: 5px;
        right: 5px;
        z-index: 3;
        border: 2px solid #f3b74e;
        background-color: #fcdfab;
        border-color: rgba(0, 0, 0, 0.7);
        height: 13px;
        width: 13px;
        position: absolute;
        ._box-sizing;
        ._radius(8px);
        &.online {
          border: 2px solid #6cab09;
          background-color: #8cd10a;
          border-color: rgba(0, 0, 0, 0.7);
        }
      }
    }
    .b-new {
      position: absolute;
      bottom: 0px;
      left: 0;
      display: inline-block;
      padding-left: 5px;
      color: @userListWidget-new_color;
      font: 12px/20px @userListWidget-font;
      &:first-letter {
        text-transform: capitalize;
      }
    }
    .b-photos-count {
      position: absolute;
      right: 0;
      bottom: 0;
      display: inline-block;
      padding-right: 5px;
      outline: none;
      text-align: right;
      font: 12px/20px @userListWidget-font;
      .ie8 & {
        background: @userListWidget-photos_count_ie8_bg repeat-x;
      }
    }
  }
  .b-user-info, .user-describe {
    margin: 0 0 0 150px;
    color: @userListWidget-user_info_color;
    .b-screenname, .screenname {
      display: inline-block;
      padding-left: 2px;
      vertical-align: top;
      font: 20px/24px @userListWidget-b-font;
      .link {
        display: block;
        border: none;
        text-decoration: none;
        .screenname {
          ._text-overflow;
          display: block;
          float: left;
          margin-right: 8px;
          max-width: 210px;
          outline: none;
          color: @t-screenname;
          text-decoration: none;
        }
      }
    }
    .screenname {
      display: block;
      color: @t-screenname;
    }
    .b-features {
      height: 37px;
      margin: 2px 0 0 4px;
    }
    .b-main-info, .describe-info {
      margin-top: 10px;
      .b-age {
        &:before {
          content: "";
          width: 16px;
          height: 16px;
          display: inline-block;
          background: url('@{t-main-sprite}') no-repeat -16px -992px;
          vertical-align: middle;
        }
      }
      .b-live-cam {
        &:before {
          content: "";
          width: 16px;
          height: 16px;
          display: inline-block;
          background: url('../images/webcam_icon.png') no-repeat center center;
          vertical-align: middle;
        }
        a {
          color: #f31b62;
          &:hover {
            text-decoration: none;
          }
        }
      }
      .b-location,
      .b-miles-away, {
        margin-top: 2px;
      }
      .location {
        &:before {
          content: "";
          width: 16px;
          height: 16px;
          display: inline-block;
          background: url('@{t-main-sprite}') no-repeat -32px -992px;
          vertical-align: middle;
        }
      }
      .b-location {
        .location {
          .city,
          .country {
            display: inline-block;
          }
        }
      }
      .b-user-about {
        overflow: hidden;
        margin-top: 6px;
        line-height: 16px;
        height: 16px;
      }
      .about-icon {
        &:before {
          content: "";
          width: 16px;
          height: 16px;
          display: inline-block;
          background: url('@{t-main-sprite}') no-repeat -49px -992px;
          vertical-align: middle;
        }
      }
    }
  }
  .b-btn-activity {
    margin-top: 10px;
    clear: both;
    width: 100%;
    letter-spacing: -4px;
    font-size: 0;
    line-height: 0;
    .b-btn-activity-grid {
      vertical-align: middle;
      ._box-sizing;
      display: inline-block;
      margin-left: 8px;
      width: 32.2%;
      &:first-child {
        margin-left: 0;
      }
      .link {
        text-decoration: none;
        color: @userListWidget-user_info_color;
        &:hover {
          //color: @t-main-link;
        }
      }
      .btn-blocked {
        padding: 0 15px;
        letter-spacing: 0;
        .alternate {
          display: none;
        }
        &.activated {
          .alternate {
            display: inline;
          }
          .default {
            display: none;
          }
        }
      }
      .b-photos-count {
        font-size: 14px;
        line-height: 32px;
        border-left: 1px solid lighten(@userListWidget-user_info_color, 10%);
        padding-left: 10px;
        letter-spacing: 0;
        text-decoration: none;
        font-family: @userListWidget-b-font;
        &:after{
          content: "";
          display: inline-block;
          width: 28px;
          height: 32px;
          background: url('@{t-main-sprite}') no-repeat 0 -960px;
          vertical-align: middle;
        }
      }
    }
  }
  &.b-user-highlight {
    border: none;
    background: @userListWidget-user_highlight_bg;
    box-shadow: inset 0 0 0 1px fade(#000, 10%);
    ._radius(2px);
    .b-user-info {
      .b-screenname {
      }
      .b-age,
      .b-location,
      .b-miles-away {
        color: @userListWidget-user_highlight_info_color;
      }
    }
    .b-recent {
      border-top-color: fade(#000, 10%)
    }
  }
  &.hover {
    .b-photo {
      .overlay {
        display: block;
      }
    }
    .b-user-info {
      .b-screenname {
        .screenname {
          color: @userListWidget-user_highlight_info_color_hover;
        }
      }
    }
  }
  &.free {
    .b-photo {
      margin-bottom: 99px;
      .b-photo-link {
        max-height: 80px;
        width: 80px;
        &:before {
          top: 25px;
        }
        &.album {
          height: 80px;
        }
        .b-new {
          ._gradient(fade(@userListWidget-user_free_new_gradient_start, 40%), @userListWidget-user_free_new_gradient_end);
          top: 0;
          bottom: auto;
          width: 75px;
          height: 20px;
          background: -ms-linear-gradient(top, fade(@userListWidget-user_free_new_gradient_start, 40%) 20%, @userListWidget-user_free_new_gradient_end 100%);
          line-height: 15px;
        }
      }
      .b-photos-count {
        width: 75px;
      }
    }
    .b-user-info {
      margin-left: 107px;
      .b-screenname {
        .screenname {
          ._text-overflow;
          max-width: 300px;
        }
      }
    }
    .ie8 & {
      .b-photo {
        .b-photo-link {
          .b-new {
            background: @userListWidget-photos_count_ie8_bg repeat-x;
          }
        }
      }
    }
  }
  .b-user-activity {
    position: absolute;
    left: 200px;
    right: 0;
    bottom: 70px;
    background-color: @userListWidget-activity_def_bg_color;
    color: @userListWidget-activity_def_text_color;
    padding: 0 20px;

    .text-wrap {
      display: table;
      height: 38px;
      span {
        display: table-cell;
        vertical-align: middle;
      }
    }
    &.new-activity {
      background-color: @userListWidget-new_activity_bg_color;

    }
  }
}
.b-recent {
  color: @userListWidget-user_info_color;
  border-top: 1px solid lighten(@userListWidget-user_info_color, 20%);
  font-size: 11px;
  text-align: right;
  margin: 10px 0 0;
  &-act {
    line-height: 16px;
    padding-top: 3px;
    &--message {
      &:before {
        content: "";
        width: 16px;
        height: 16px;
        display: inline-block;
        background: url('@{t-main-sprite}') no-repeat -64px -992px;
        vertical-align: middle;
      }
    }
  }
}
.b-grid-item {
  &.bottom-shadow {
    .b-user {
      .b-photo {
        .b-photo-link {
          .image-holder {
            &:before {
              content: '';
              height: 20px;
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              ._gradient(@userListWidget-image_holder_before_gradient_start, fade(@userListWidget-image_holder_before_gradient_end, 40%));
              background: -ms-linear-gradient(top, @userListWidget-image_holder_before_gradient_start 0%, fade(@userListWidget-image_holder_before_gradient_end, 40%) 100%);
            }
          }
        }
      }
    }
  }
}

/*----------------------search----------------*/
.user-motivation {
  ._radius(2px);
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0 0 35px;
  width: 370px;
  height: 189px;
  padding: 0 10px;
  background: @userListWidget-user_motivation_bg;
  &.trad {
    .um-content {
      .main {
        
      }
    }
  }
  .header {
    padding: 0 10px;
    color: @userListWidget-user_motivation_header_color;
    font-size: 0;
    background: @userListWidget-title;
    ._radius(2px 2px 0 0);
    .title {
      display: block;
      text-align: left;
      font-size: 16px;
      line-height: 33px;
    }
    &.long-header {
      .title {
        font-size: 16px;
        line-height: 33px;
      }
    }
  }
  .um-content {
    text-align: left;
    ._radius(2px);
  }
  &.two-row {
    .um-content {
      letter-spacing: -4px;
      font-size: 0;
      line-height: 0;
      .main,
      .action-line {
        letter-spacing: normal;
      }
      .main {
        display: inline-block;
        padding: 0 13px 30px 0;
        width: 274px;
        border-right: 1px solid @userListWidget-user_motivation_border;
        vertical-align: top;
        .list {
          overflow: auto;
          overflow-x: hidden;
          overflow-y: visible;
          margin: 15px 0 0;
          max-height: 170px;
          .item {
            vertical-align: top;
            font-size: 14px;
            line-height: 26px;
            span {
              display: inline-block;
              vertical-align: top;
              line-height: 20px;
            }
          }
        }
      }
      .action-line {
        display: inline-block;
        width: 187px;
        vertical-align: top;
        .action-text {
          margin-bottom: -11px;
          text-align: center;
          line-height: 164px;
          .btn-text {
            vertical-align: middle;
          }
        }
        .action-btn {
          padding-right: 17px;
          text-align: right;
          .btn-send {
            width: 150px;
          }
        }
      }
    }
  }
  &.column {
    .um-content {
      background: #f4f4f4;
      &.square {
        .main {
          .list {
            overflow: hidden;
            margin: 20px 0 0 1px;
            letter-spacing: -4px;
            font-size: 0;
            line-height: 0;
            .item {
              display: inline-block;
              margin: 0 1px 1px 0;
              width: 50px;
              height: 50px;
              background: @userListWidget-user_motivation_square_item_bg;
              vertical-align: top;
              img {
                display: block;
                width: 100%;
                height: 100%;
              }
            }
          }
          &.one-img-m,
          &.one-img-w {
            width: 370px;
            height: 100px;
            background: @userListWidget-user_motivation_square_one_img no-repeat;
            .list {
              display: none;
            }
          }
          &.one-img-w {
            background-position: 0 -2px;
            &.adult{
                background: url("@{userListWidget-img_url}/baner_web_adult.png");
            }
            &.mature{
                background: url("@{userListWidget-img_url}/baner_web_milf.png");
            }
            &.bbw{
                background: url("@{userListWidget-img_url}/baner_web_bbw.png");
            }
            &.traditional{
                background: url("@{userListWidget-img_url}/baner_web_trad.png");
            }
          }
          &.one-img-m {
            background-position: 0 -104px;
          }
        }
        .action-line {
          padding: 10px;
          letter-spacing: -4px;
          font-size: 0;
          line-height: 0;
          .action-text,
          .action-btn {
            display: inline-block;
            width: 50%;
            letter-spacing: normal;
          }
          .action-text {
            float: left;
            text-align: left;
            font-size: 17px;
            line-height: 15px;
          }
          .action-btn {
            text-align: right;
            .btn-send {
              width: 150px;
            }
          }
        }
      }
    }
  }
}

.b-report-profile {
  padding: 15px;
  .user-info {
    padding: 10px;
    width: 100%;
    background: rgba(0,0,0,.05);
    margin: 15px auto 10px;
    display: block;
    height: 75px;
    .user-describe {
      margin: 0 0 0 80px;
    }
  }
  .main-text {
    margin-bottom: 10px;
  }
  .title-list {
    margin-bottom: 5px;
  }
  .image-holder {
    width: 75px;
    height: 75px;
    img {
      width: 100%;
    }
  }
  .describe-info {
    &:before {
      content: "";
      width: 16px;
      height: 16px;
      display: inline-block;
      background: url('@{t-main-sprite}') no-repeat -16px -992px;
      vertical-align: middle;
    }
    .b-old {
      padding-left: 5px;
    }
  }
  .location {
    &:before {
      content: "";
      width: 16px;
      height: 16px;
      display: inline-block;
      background: url('@{t-main-sprite}') no-repeat -32px -992px;
      vertical-align: middle;
    }
    span {
      display: inline-block;
      padding-left: 5px;
    }
  }
  .user-describe > span {
    line-height: 2;
  }
  .list-reason {
    margin-bottom: 10px;
    label {
      font-size: 86%;
    }
  }
  .title-list {
    font-weight: 500;
  }
  input[type=radio]+span {
    padding-left: 21px;
  }
  h3 {
    font-size: 16px;
  }
  .b-wrapp-btn {
    text-align: center;
    padding: 15px 0 5px;
    button {
      margin: 0 5px;
      padding: 0 5px;
    }
  }
  .btn-close {
    background: none;
    border: 0;
    &:hover {
      background: none;
      border: 0;
      color: transparent;
    }
  }
}
.b-user {
  .b-photo {
    &:hover {
      .naughty-menu {
        display: block;
      }
      .b-blur-message {
        display: none;
      }  
    }
  }
  .naughty-menu {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    text-shadow: 0 0 5px @user_widget-nm-shadow;
    font-size: 9px;
    line-height: 14px;
    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
    .naughty-menu-wrap {
      display: inline-block;
      vertical-align: middle;
      width: 95%;
    }
    button {
      background: 0;
      border: 1px solid @white;
      color: @white;
      text-shadow: 0 0 5px @user_widget-nm-shadow;
      ._radius(3px);
      ._shadow(0 0 5px @user_widget-nm-shadow);
      font-size: 10px;
      margin-top: 5px;
      padding: 3px 5px;
      &:hover {
        ._shadow(0 0 5px @white);
      }
    }
  }
  .b-blur-message {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 5px @user_widget-nm-shadow;
    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
    span {
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
    }
  }
  &.blurred {
    .image-holder {
      img {
        ._blur(10);
      }
    }
    /*IE10 hack*/
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .image-holder {
        position: relative;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          background: @user_widget-blur-overlay;
        }
      }
    }
    /*IE10 hack end*/
    .ie8 &,
    .ie9 & {
      .image-holder {
        position: relative;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          background: @user_widget-blur-overlay;
        }
      }
    }
  }
  &.blurred-heavy {
    .image-holder {
      img {
        ._blur(18);
      }
    }
    /*IE10 hack*/
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .image-holder {
        position: relative;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          background: @user_widget-blur-heavy-overlay;
        }
      }
    }
    /*IE10 hack end*/
    .ie8 &,
    .ie9 & {
      .image-holder {
        position: relative;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          background: @user_widget-blur-heavy-overlay;
        }
      }
    }
  }
}