@userListWidget-img_url: "../images";
@userListWidget-small_photo_loader_url: url("@{userListWidget-img_url}/small-photo-loader.gif");
@userListWidget-photos_count_ie8_bg: url("@{userListWidget-img_url}/b-photos-count-IE8-bg.png");
@userListWidget-user_highlight_bg_img: url("@{userListWidget-img_url}/highlight-user-bg.jpg");
@userListWidget-user_free_new_bg_img: url("@{userListWidget-img_url}/b-new-IE8-bg.png");
@userListWidget-user_motivation_square_one_img: url("@{userListWidget-img_url}/banner-sprite.png");
@userListWidget-font: 'Open Sans', Arial, helvetica, sans-serif;
@userListWidget-b-font: 'Open Sans Bold', Arial, helvetica, sans-serif;

@userListWidget-shadow_color: #000;
@userListWidget-bg: #fff;
@userListWidget-transparent: transparent;
@userListWidget-photo_link_color: #fff;
@userListWidget-image_holder_bg: #000;
@userListWidget-overlay_bg: #fff;
@userListWidget-new_color: #fff;
@userListWidget-user_info_color: @text-light;
@userListWidget-user_info_screenname_color: #333;
@userListWidget-user_info_online_color: #77b200;
@userListWidget-user_info_r_online_color: #f2a60c;
@userListWidget-user_info_user_about_color: #333;
@userListWidget-user_highlight_bg: spin(desaturate(lighten(@t-main-color, 41%), 24%), -9);
@userListWidget-user_highlight_status_color: #333;
@userListWidget-user_highlight_info_color: @userListWidget-user_info_color;
@userListWidget-user_highlight_info_color_hover: @t-main-link-hover;
@userListWidget-user_free: #5079b3;
@userListWidget-user_free_new_gradient_start: #000;
@userListWidget-user_free_new_gradient_end: @userListWidget-transparent;
@userListWidget-image_holder_before_gradient_start: @userListWidget-transparent;
@userListWidget-image_holder_before_gradient_end: #000;
@userListWidget-user_motivation_bg: #fff;
@userListWidget-user_motivation_header_gradient_start: #9fc94c;
@userListWidget-user_motivation_header_gradient_end: #78b302;
@userListWidget-user_motivation_header_color: #fff;
@userListWidget-user_motivation_border: #ccc;
@userListWidget-user_motivation_square_item_bg: #d9d9d9;
@userListWidget-activity_def_bg_color: #e6e6e6;
@userListWidget-new_activity_bg_color: #e2f2c3;
@userListWidget-activity_def_text_color: #333;

@user_widget-blur-overlay: fade(#000, 85%);
@user_widget-blur-heavy-overlay: fade(#000, 95%);
@user_widget-nm-shadow: fade(#000, 75%);


@userListWidget-title: #333;