- var metrics = parseObj['metrics'];
- var offenders = parseObj['offenders'];
doctype html
html
  head
    title parseCSS
    link(rel='stylesheet', type='text/css', href='../styles/s.css')
body
  .o-parse-css
    .o-metrics
      ul.metrics-list
        each val, index in metrics
          li.metrics-list-item= index + ': ' + val
      ul.offenders-list
        each val, index in offenders
          li.offenders-list-item= index + ':'
            each v in val
              p= v['message']
              - if(typeof(v['position']) != 'undefined')
                  p= 'column: ' + v['position']['start']['column'] + '; line: ' + v['position']['start']['line'] + ';'
