- var currentPhoto = data.photos[data.open] ? data.photos[data.open].normal : '';
.photo-item-popup(data-close)
  .photo-item-popup-wrap
    .photo-item-popup-title
      | &nbsp;
    .photo_wrapper_helper.relative#userPhotoGalleryFullHelperWrap
        img#userPhotoGalleryFullHelper(src=currentPhoto data-photo)
    .photo_wrapper.relative#userPhotoGalleryFullWrap
      if (currentHeight)
        img#userPhotoGalleryFull(src=currentPhoto data-photo style="max-height: " + currentHeight + "px;")
      else
        img#userPhotoGalleryFull(src=currentPhoto data-photo)

    .photo-block_comments
      .b-profile-feed-head
        .b-profile-feed-head__content-left.b-profile-feed-head__content-left--photo_text
          span
            | Comments
      .b-feed-content__comment(data-comments)

    .photo-item-popup-close(data-close)
      i.comments-header-text__icon.icon-cross(data-close)
