mixin _checkSection(sectionName)
  - if(advancedForm[sectionName])
    - var section = advancedForm[sectionName];
    section.b-section
      h5.title= section.title.substr(0, 1).toUpperCase() + section.title.substr(1)
      ul.b-options-list
        each val, index in section.values
          - var checked = false;
          - if (params[sectionName])
            each section in params[sectionName]
              - if (index == section)
                - checked = true
          li
            label
              input(type="checkbox", name=sectionName+"[]", value=index, checked=checked)
              span= val.substr(0, 1).toUpperCase() + val.substr(1)
form#searchForm
  input(type="hidden", name="country", value=params.country)

  .b-search-form-inner
    .form-inner--left
      .field.near.select-input-dropdown(data-ui-select)
        .b-name= _t("searchForm", "title.filter")
        .input-holder(data-toggle)
          .value(data-value="")= _t("searchForm", "value.people_near_you")
          .select
            input#searchType(type="hidden", value=params.type, name="type", data-control)
            ul.list
              li.item(data-item="near_you")= _t("searchForm", "value.people_near_you")
              li.item(data-item="online")= _t("searchForm", "value.online_now")
              li.item(data-item="new_members")= _t("searchForm", "value.recently_joined")
              if (livecamAnchor)
                a.item(data-item="web_cams", target='_blank', href="/livecam/?promocode=#{livecamWocAnchor}") Web Cams
    .form-inner--right
      .field.sex.select-output-dropdown#search-form-select-gender(data-ui-select)
        .b-name= _t("searchForm", "title.gender")
        .input-holder(data-toggle)
          .value(data-value="")= _t("searchForm", "value.female")
          .select
            input(type="hidden", value=params.gender, name="gender", data-control)
            ul.list
              li.item(data-item="1")= _t("searchForm", "value.male")
              li.item(data-item="2")= _t("searchForm", "value.female")
      .field-age-holder
        .b-name= _t("searchForm", "title.age")
        .field.age-from.select-output-dropdown#search-form-select-age-from(data-ui-select, data-select-max="searchFormAgeTo")
          .input-holder(data-toggle)
            .value(data-value="")
            .select.age-from
              input(type="hidden", value=params.ageFrom, name="ageFrom", data-control, id="searchFormAgeFrom")
              ul.list
                - for(var i = 18; i < 79; i++)
                  li.item(data-item=i)= i
        .dash
        .field.age-to.select-output-dropdown#search-form-select-age-to(data-ui-select, data-select-min="searchFormAgeFrom")
          .input-holder(data-toggle)
            .value(data-value="")
            .select.age-to
              input(type="hidden", value=params.ageTo, name="ageTo", data-control, id="searchFormAgeTo")
              ul.list
                - for(var i = 18; i < 79; i++)
                  li.item(data-item=i)= i
      .field.location.select-output-dropdown(data-ui-location)
        .b-name= _t("searchForm", "title.location")
        .input-holder(data-toggle)
          .value(data-value)
            input.input-value(name="location", type="text", value=params.location, autocomplete="off", data-control)
          .select.location(data-list)
      .field.s-radius.select-output-dropdown(data-ui-select)
        .b-name= _t("searchForm", "title.search_radius")
        .input-holder(data-toggle)
          .value(data-value="")
          .select
            input(type="hidden", value=params.distance, name="distance", data-control)
            ul.list
              li.item(data-item=20) 20
              li.item(data-item=50) 50
              li.item(data-item=100) 100
      .buttons-row
        button.btn-text.btn-more(type="button", id="sarchFormAdvancedOpen")= _t("searchForm", "button.more_settings")
        button.btn-find(type="button", id="searchFormSubmit")
        .adv-search-holder(id="searchFormAdvanced")
          .adv-search(data-control)
            header
              h3= _t("searchForm", "text.advanced_search_parameters")
              button.close-button(type="button", data-close)
            article.content
              ul.item-list
                li.item.col-l
                  ul.item-list
                    li.item.col-1
                      +_checkSection("photoLevel")
                      +_checkSection("race")
                      +_checkSection("income")
                    li.item.col-2
                      +_checkSection("eye_color")
                      +_checkSection("build")
                    li.item.col-3
                      +_checkSection("marital_status")
                      +_checkSection("education")
                li.item.col-r
                  ul.item-list
                    li.item.col-4
                      +_checkSection("drink")
                      +_checkSection("hair_color")
                    li.item.col-5
                      +_checkSection("smoke")
                      +_checkSection("pierced")
                      +_checkSection("tattoo")
                    li.item.col-6
                      +_checkSection("religion")
                li#coreg-placement-advanced-search.coreg-placement-on-advanced-search
              .buttons-row
                button.btn-send.btn-text-green(type="button", id="searchFormAdvancedSubmit")= _t("searchForm", "button.find_matches")
