.my-profile-page {
  margin: 8px auto 0;
  margin-top: 66px;
  max-width: 980px;
  min-width: 720px;

  .b-left-column {
    float: left;
    width: 47.5%;
  }
  .b-right-column,
  .looking-for,
  .personal-info {
    &.saving {
      .btn-save {
        font-size: 0;
        cursor: default;
        position: relative;
        &:before {
          content: '';
          width: 32px;
          height: 4px;
          background: url(~"@{profile-img_url}/loader-location.gif") no-repeat;
          position: absolute;
          top: 11px;
          left: 50%;
          margin-left: -15px;
        }
      }
    }
  }
  .b-screenname {
    font: 32px @profile-font_400;
    color: @profile-text_def;
    vertical-align: top;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 320px;
    margin-bottom: 12px;
  }
  .b-photo-primary {
    ._box-sizing;
    margin-right: 20px;
    position: relative;
    background: @profile-photo_bg;
    text-align: center;
    /*max-height: 368px;*/
    ._radius(4px);
    .b-photo-crop {
      display: inline-block;
      overflow: hidden;
      height: 100%;
      vertical-align: top;
      max-width: 322px;

    }
    .photo {
      display: block;
      width: 100%;
      min-width: 322px;
    }
    &.portrait {
      .photo {
        width: auto;
        height: 100%;
        min-height: 368px;
        min-width: 0;
      }
    }
    .b-saving {
      ._radius(0 0 4px 4px);
      ._transition(all .1s);
      position: absolute;
      top: -30px;
      left: 50%;
      padding: 5px 10px 6px 52px;
      margin-left: -53px;
      color: @profile-tip_text;
      background: fade(@profile-tip_bg, 60%);
      z-index: 502;
      visibility: hidden;
      opacity: 0;
      &:before {
        content: '';
        width: 32px;
        height: 4px;
        background: url(~"@{profile-img_url}/loader-location.gif") no-repeat;
        position: absolute;
        top: 13px;
        left: 10px;
      }
    }
    &.saving {
      .b-saving {
        ._transition(~"visibility 0s, opacity .1s");
        ._opacity(1);
        visibility: visible;
        top: 0;
      }
    }
    .b-drag-drop {
      border-color: @profile-photo_bg;
      margin-top: 0;
      position: relative;
      height: 363px;
      padding: 0;
      ._clearfix;
      &:before {
        content: '';
        display: block;
        height: 130px;
        width: 130px;
        margin: 50px auto 0;
        background: @profile-sprite_url no-repeat;
      }
      &.woman {
        &:before {
          background-position: -105px -848px;
        }
      }
      &.man {
        &:before {
          background-position: -246px -848px;
        }
      }
      .title {
        margin: 47px 0 54px;
      }
      .btn-fb {
        width: 130px;
        margin: 0 0 0 16px;
      }
      .b-photo-choose {
        width: 130px;
        margin-left: 0;
      }
      .btn-wrap {
        ._clearfix;
        width: 286px;
        margin: 0 auto;
      }
    }
  }
  .b-right-column {
    width: 52.5%;
    float: right;
    margin-top: 50px;
  }
  .b-features {
    font-size: 18px;
    float: right;
    margin-top: 9px;
    .item {
      margin-right: 0;
      margin-left: 10px;
    }
  }
  .b-row {
    margin-bottom: 15px;
    &.mind {
      clear: both;
      .textarea {
        height: 70px;
      }
    }
    &.own-words {
      .textarea {
        height: 115px;
      }
    }
    &.location {
      .field {
        float: none;
        .input-holder {
          display: block;
        }
      }
    }
    .b-title {
      color: @profile-text_light;
      margin-bottom: 5px;
    }
    .textarea-wrap {
      background: @profile-input_bg;
      ._shadow(none);
      ._box-sizing;
      ._radius(4px);
      padding: 4px 10px;
      box-shadow: inset 0 1px 2px 0px @main-input_shadow, inset 0 0 2px 0px @main-input_shadow;
    }
    .textarea {
      ._box-sizing;
      ._shadow(none);
      padding: 4px 10px 4px 0;
      width: 100%;
      background: none;
      line-height: 19px;
      resize: none;
    }
    .field {
      display: block;
      margin-bottom: 0;
      .value {
        height: 29px;
      }
    }

  }
  .birthday {
    .b-value {
      ._clearfix;
    }
    .field {
      display: inline-block;
      margin-right: 10px;
      &:first-child {
        margin-left: 0;
      }
      &.month {
        .value {
          width: 125px;
        }
      }
      &.day {
      }
      &.year {
      }
    }
  }
  .btn-row {
    text-align: right;
    clear: both;
    position: relative;
    font-size: 0;
    &.no-active {
      .btn-cancel, .btn-save {
        width: auto;
        line-height: 27px;
        min-width: 64px;
        text-align: center;
        padding: 0 10px;
      }
      .btn-save {
        margin-left: 10px;
      }
    }
    .info-save-status {
      height: 20px;
      color: #777;
      font-size: 12px;
      padding: 5px 0;
    }
    .btn-cancel {
      width: auto;
    }
    .btn-save {
      width: auto;
      margin-left: 10px;
    }
    .btn-cancel,
    .btn-save {
      min-width: 64px;
      text-align: center;
      padding: 0 10px;
      line-height: 27px;
      &.disabled {
        width: auto;
        color: @text-disabled;
        cursor: default;
      }
    }
  }
  .my-profile-details {
    clear: both;
    max-width: 980px;
    margin: 0 auto;
    padding-top: 36px;
    .photo-wrap {
      .photo-item {
        .btn-close {
          ._radius(0 0 0 4px);
          position: absolute;
          right: -24px;
          top: -24px;
          width: 24px;
          height: 24px;
          background: fade(@profile-tip_bg, 60%);
          visibility: hidden;
          ._opacity(0);
          -webkit-transition: all .1s;
          -ms-transition: all .1s;
          transition: all .1s;
          &:before {
            content: '';
            position: absolute;
            background: @profile-sprite_url -171px -179px;
            width: 12px;
            height: 12px;
            top: 6px;
            left: 6px;
            margin: 0;
          }
          &:hover {
            &:before {
              ._opacity(0.8);
            }
          }
        }
        .primary {
          ._radius(4px 4px 0 0);
          visibility: hidden;
          ._opacity(0);
          position: absolute;
          left: 50%;
          bottom: -27px;
          background: fade(@profile-tip_bg, 60%);
          color: @profile-tip_text;
          cursor: pointer;
          margin-left: -45px;
          -webkit-transition: all .1s;
          -ms-transition: all .1s;
          transition: all .1s;
          label {
            display: block;
            padding: 4px 10px;
            cursor: pointer;
          }
          input[type="checkbox"]:not(.default) + span {
            padding-left: 21px;
            &:before {
              background-color: @profile-input_bg;
            }
          }
          input[type="checkbox"]:not(.default):checked + span {
            &:before {
              background-position: -257px -102px;
            }
          }
        }
        &:hover {
          .btn-close {
            visibility: visible;
            ._opacity(1);
            right: 0;
            top: 0;
            -webkit-transition: visibility 0s, top .1s, right .1s, opacity .1s;
            -ms-transition: visibility 0s top .1s, right .1s, opacity .1s;
            transition: visibility 0s top .1s, right .1s, opacity .1s;
          }
          .primary {
            visibility: visible;
            ._opacity(1);
            bottom: 0px;
            -webkit-transition: visibility 0s, bottom .1s, opacity .1s;
            -ms-transition: visibility 0s bottom .1s, opacity .1s;
            transition: visibility 0s bottom .1s, opacity .1s;
          }
        }
      }
    }

    .data-column-wrap {
      ._clearfix;
      .field {
        margin: 2px 0 0;
      }
      .btn-row {
        margin-top: 20px;
      }
      .data-single {
        padding-bottom: 7px;
      }
    }
  }
  .b-tab-content-single {
    overflow: visible;

    &.personal-info {
      padding-bottom: 13px;
      .field {
        width: 100%;
      }
      .input-holder {
        display: block;
      }
    }
    &.looking-for {
      overflow: visible;
      position: relative;
      &:after {
        content:'';
        width: 1px;
        position: absolute;
        background-color: @profile-separator;
        top: 20px;
        bottom: 20px;
        left: 33.33%;
      }
      &:before {
        content:'';
        width: 1px;
        position: absolute;
        background-color: @profile-separator;
        top: 20px;
        bottom: 20px;
        right: 33.33%;
      }
    }
    .b-drag-drop {
      margin: 0 20px;
      .title {
        float: right;
        width: 50%;
        margin-top: 14px;
      }
      .btn-upload {
        width: 100%;
      }
    }
    .columns-wrap {
      ._clearfix;
      .col {
        ._box-sizing;
        float: left;
        display: block;
        width: 33.33%;
        padding: 0 20px;
        position: relative;
        .b-options-list {
          li {
            margin-top: 6px;
          }
        }
        .btn-row {
          margin-top: 30px;
        }
        .save-status {
          position: absolute;
          top: -1px;
          right: 20px;
          color: @profile-text_light;
          &.load {
            font-size: 0;
            width: 32px;
            height: 4px;
            background: url(~"@{profile-img_url}/loader-location.gif") no-repeat;
            top: 7px;
          }
        }
      }
      .b-name {
        margin-bottom: 2px;
        color: @profile-text_light;
        line-height: 18px;
        margin: 5px 0;
        width: 100%;
      }
      .field {
      }
      .age-wrap {
        text-align: left;
        vertical-align: middle;
        .b-name {
          text-align: left;
          display: inline-block;
          vertical-align: middle;
        }
        .field {
          display: inline-block;
          text-align: left;
          vertical-align: middle;
        }
        .age-to {
        }
        .age-from {
        }
        .separator {
          font-size: 19px;
          margin: 0 5px;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
}

.my-profile-popup {
  ._radius(4px);
  width: 620px;
  padding: 0 20px 20px;
  position: relative;
  z-index: 2;
  &:before {
    ._gradient(@profile-header_start, @profile-header_end);
    ._radius(3px 3px 0 0);
    content: '';
    height: 55px;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;
  }
  .title {
    color: @profile-header_text;
  }
  .b-popup-content {
    padding: 18px 0 0;
    position: relative;
    z-index: 2;
  }
  .btn-close {
    &:before {
      background-position: -217px -139px;
    }
  }
  .top-row {
    margin-top: 34px;
    padding-bottom: 17px;
    border-bottom: 1px solid @profile-border;
  }
  .album {
    border-top: 1px solid @profile-border;
    padding: 15px 0 16px;
    position: relative;
    &:first-child {
      border-top: none;
    }
    .open-btn {
      position: absolute;
      right: -5px;
      top: 11px;
      width: 25px;
      height: 25px;
      background: none;
      margin: 0;
      outline: none;
      &:after {
        position: absolute;
        content: '';
        width: 16px;
        height: 10px;
        right: 5px;
        top: 9px;
        background: @profile-sprite_url no-repeat -190px -241px;
      }
    }
    &.active {
      .photo-list {
        display: block;
      }
      .open-btn {
        &:after {
          background-position: -190px -253px;
        }
      }
    }
    .photo-list {
      ._clearfix;
      margin: 6px 0 4px;
      display: none;
      ._transition;
      .photo-wrap {
        width: 80px;
        height: 80px;
        float: left;
        margin: 10px 0 0 10px;
        overflow: hidden;
        display: block;
        position: relative;
        cursor: pointer;
        &:first-child {
          margin-left: 0;
        }
        &:nth-child(8) {
          margin-left: 0;
        }
        img {
          display: block;
          width: 100%;
        }
      }
      .check-photo {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        background: fade(@profile-tip_bg, 60%);
        ._opacity(0);
        &.checked {
          ._opacity(1);
        }
        &:after {
          content: '';
          position: absolute;
          width: 16px;
          height: 13px;
          left: 50%;
          top: 50%;
          background: @profile-sprite_url no-repeat -169px -200px;
          margin: -6px 0 0 -8px;
        }
      }
    }
  }
  .btn-row {
    text-align: right;
    margin-top: 30px;
    .btn-cancel {
    }
    .btn-upload {
      margin-left: 6px;
    }
    .btn-cancel,
    .btn-upload {
      width: auto;
      min-width: 64px;
      text-align: center;
      padding: 0 10px;
      line-height: 27px;
    }
  }
}
