@profile-img_url: "../images";
@profile-sprite_url: url("@{profile-img_url}/sprite.png");

@profile-font_400: 'Open Sans', Arial, helvetica, sans-serif;

@profile-button_start: #9fc94c;
@profile-button_end: #78b302;

@profile-text_def: #333;
@profile-text_light: #999;
@profile-input_bg: #fff;
@profile-input_shadow: #b3b3b3;
@profile-select_bg: #f2f2f2;
@profile-separator: #e6e6e6;

@profile-photo_bg: #DED9CF;

@profile-tip_bg: #000;
@profile-tip_text: #fff;

@profile-header_start: #7394c2;
@profile-header_end: #517ab3;
@profile-header_text: #fff;
@profile-border: #ccc;

@new_profile_border: #b3b3b3;
@main-input_shadow: #b3b3b3;