@t-main-color: #f31b62;
@chatrooms-img_url: "../images";
@chatrooms-sprite_url: url("@{chatrooms-img_url}/sprite.png");

@chatrooms-font_600: 'Open Sans Semibold', Arial, helvetica, sans-serif;

@chatrooms-font: 'Open Sans', Arial, helvetica, sans-serif;

@chatrooms-tab_bg: #fff;
@chatrooms-tab_bg_active: #fff;
@chatrooms-chat_bg: #fff;
@chatrooms-banner_bg: #7bd07a;
@chatrooms-border: #e1e4ea;
@chatrooms-cell_bg: #F5E1E1;
@chatrooms-video_button_bg: #b0b1b2;
@chatrooms-list_bg: #ece7e7;
@chatrooms-list_border: #000;
@chatrooms-input_border: #afa9aa;
@chatrooms-message_bg: #ede7e7;
@chatrooms-send_button_bg: #f2c161;
@chatrooms-highlight_bg: #fff2b2;
@chatrooms-video_button_bg: #fff;
@chatrooms-video_button_bg_hover: #dedede;
@chatrooms-popup_arrow: #fff;
@chatrooms-scroll_thumb: #bfbfbf;
@chatrooms-online_bg: #f9fbff;

@chatrooms-photo_mark: #5ab303;
@chatrooms-photo_bg: #000;

@chatrooms-button_bg: #c6f6c6;
@chatrooms-button_bg_hover: #1cbb1c;
@chatrooms-button_text: #009f00;
@chatrooms-button_shadow: #88df88;
@chatrooms-button_shadow_hover: #008000;

@chatrooms-button_2_bg: #ffe4b5;
@chatrooms-button_2_bg_hover: #f9a100;
@chatrooms-button_2_shadow: #ffc561;
@chatrooms-button_2_shadow_hover: #bf7c00;

@chatrooms-button_3_bg: #fea6a6;
@chatrooms-button_3_bg_hover: #e83434;
@chatrooms-button_3_text: #e83434;
@chatrooms-button_3_shadow: #d27777;
@chatrooms-button_3_shadow_hover: #920808;

@chatrooms-button_4_shadow: #828385;
@chatrooms-button_4_shadow_hover: #B4B1B4;

@chatrooms-text_def_dark: #444;
@chatrooms-text_tab: #fff;
@chatrooms-text_active: @t-main-color;
@chatrooms-text_title: #333;
@chatrooms-text_number: #92979f;
@chatrooms-text_enter: #fff;
@chatrooms-text_chat_title: #4c4c4c;
@chatrooms-text_video: #fff;
@chatrooms-text_profile: #92979f;
@chatrooms-text_profile_info: #999;

@chatrooms-text_male: #4f91ff;
@chatrooms-text_female: #f64b83;

@chatrooms-personal_bg: #d3cfcf;

@chatrooms-turnon_bg_start: #a1df12;
@chatrooms-turnon_bg_end: #7bc604;
@chatrooms-turnon_border: #6cab09;

@chatrooms-smiles_border: #cfd5d9;
@chatrooms-smiles_shadow: fade(#92a0a9, 50%);