.b-index
    .bg
    .overlay
    .b-head
      h1.head-logo
    form#FunnelForm.form-funnel
      if userAttributes
        .funel-box
          .item
            h2.title= _t("funnel", "title.welcome_to")
              label#welcomMsg
          .item
            label.full-width
              input.screenname(type="text",value=userAttributes.screenname,name="userAttributes[screenname]", id="funnelScreenname", placeholder='_t("funnel", "title.screenname")' onfocus="this.placeholder=''" onblur="this.placeholder='_t('funnel', 'title.screenname')'")
          .item
            label.full-width
              input(type='text', placeholder='Whats on my mind', id='funnelChatupline' onfocus="this.placeholder=''" onblur="this.placeholder='Whats on my mind'")
        .funel-box
          .item
            h2.title= _t("funnel", "title.looking_for") + "?"
          .item
            input(type="hidden", value=defaultSearchParams.gender, name="defaultSearchParams[gender]", data-control, id="funnelGender")
            select.looking-for
              - if (defaultSearchParams.gender == 1)
                option(value='1' selected='selected')= _t("funnel", "value.male")
                option(value='2')= _t("funnel", "value.female")
              - else
                option(value='1')= _t("funnel", "value.male")
                option(value='2' selected='selected')= _t("funnel", "value.female")
          .item
            label.full-width
              .select-widget(data-ui-location)
                .input-holder(data-toggle)
                  .value
                    input.input-value(name="defaultSearchParams[locationInput]", type="text", value=defaultSearchParams.locationInput, autocomplete="off", data-control, id="funnelLocale")
                    .select-location.location
                      .b-dropdown-menu.location(data-list, id='locationSelectData')
          .item
            button#funnelSaveBtn.button.full-width= _t("funnel", "title.start_searching") + "!"
