@import "vars";

/*------------------Unsubscribe Page-----------------*/

.b-page-unsubscribe {
  text-align: center;
  .page-centerer {
    position: relative;
    z-index: 5;
    margin: 0 auto;
    padding: 25px 0 40px;
    width: 700px;
  }
  h1 {
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 6px;
  }
  p {
    margin-bottom: 15px;
  }
  .unsubscribe-icon {
    margin: 26px auto 28px;
    width: 162px;
    height: 162px;
    background: @img_url-sprite-old no-repeat -145px -208px;
  }
  .btn-subscribe {
    min-width: 160px;
  }
}


