#coreg {
  display:block;
}
.coreg-placement-on-profile-edit {
  display:none;
  margin-top:10px;
  clear: both;
}
.coreg-placement-on-advanced-search {
  display:none;
  width: 100%;
  height: 35px;
  margin-top: 0;
  letter-spacing: 0px;
  font-size: 15px;
  input[type="checkbox"] {
    &:not(.default)+span:before{
      top: -6px;
      margin-top: 0;
    }
  }
}
.coreg-placement-remove {
  margin: 10px 20px;
}
.editing{
  .coreg-placement-on-profile-edit {
    display:block;
  }
}
.coreg-placement-profile-details:after {
  clear: both;
  content: ' ';
  display: block;
}
.my-profile-page {
  .my-profile-details {
    .data-column-wrap {
      .data-single.ft-rt {
        float: right;
      }
      .field.coreg-placement-lookigFor {
        margin: 7px 0 0;
      }
    }
  }
}

#coreg {
  display:block;
}
.coreg-placement-on-profile-edit {
  color: #5d8bcd;
}
.coreg-placement-on-advanced-search {
  text-align: left;
  display:none;
  
  margin: auto;
  margin-bottom: 70px;
  div.field-label {
    max-width: 260px;
  }
  #coreg-profiles {
    position: absolute;
  }
}
coreg-placement-on-remove-account-stage {
  padding-bottom:10px;
}
.coreg-placement-on-remove-account-stage.statusMembership {
  display:none;
  padding-bottom:10px;
  input[type="checkbox"] {
    position: relative;
  }
}
.coreg-placement-on-remove-account-stage.stop,
.coreg-placement-on-remove-account-stage.userReason {
  position:absolute;
  bottom: 70px;
}
.coreg-placement-on-profile-editor {
  position:relative;
}
.coreg-placement-on-remove-account-stage.userReason {
  display:none;
  padding-top:10px;
}
#coregPlacementLookingFor {
  margin: 5px auto;
  width: auto;
}
div.b-photo-action.my-edit-btns {
  height: inherit;
}
#coregPlacementEditAbout {
  width: 100%;
}
#coreg-placement-remove-account-stage-statusMembership,
#coreg-placement-remove-account-stage-userReason,
#coreg-placement-remove-account-stage-stop {
  input[type="checkbox"] {
    opacity: 0;
  }
}
#coreg-placement-remove-account-stage-userReason,
#coreg-placement-remove-account-stage-stop {
  margin-top: 10px;
}
#coregPlacementProfileDetails {
  display: block;
}
.b-coreg-popup{
  border-radius: 10px;
  width: 220px;
  margin: 0 auto;
  padding: 20px 205px 20px 20px;
  background: @popup_bg url("../images/popup-bg_coreg.jpg") no-repeat bottom center;
  text-align: center; 
  color: @color-popup_coreg_text;
  position: relative;
  .b-popup-content{padding: 0}
  h1{
    display: block;
    font-size: 20px;
    font-weight: normal;
    background: @header-popup_coreg;
    border:2px solid @header_color_border;
    border-bottom: none;
    padding: 65px 20px 10px;
    width: 176px;
    font-family: Myriad Pro;
    position: relative;
    text-transform: uppercase;
    border-radius: 5px 5px 0 0;
    color: @white;
    &:before{
      content: '!';
      font-family: Myriad Pro;
      top: 15px;
      color: #FFF;
      left: 50%;
      margin: 0 -20px;
      padding: 9px;
      font-size: 17px;
      font-weight: bold;
      width: 20px;
      height: 20px;
      position: absolute;
      border: 1px solid #FFF;
      border-radius: 25px;
    }
    &:after{
      content: '';
      bottom: -33px;
      left: 0;
      width: 0;
      height: 0;
      position: absolute;      
      border-style: solid;
      border-left: 107px solid rgba(0, 0, 0, 0);
      border-right: 107px solid rgba(0, 0, 0, 0);
      border-top: 30px solid @header-popup_coreg;
      border-color: @header-popup_coreg transparent transparent transparent;
    }
  }
  .coreg-popup_mesage{
    padding: 40px 20px 15px;
    font-size: 14px;
    display: block;
    background: #FFF;
    color: #545454;
    font-family: Myriad Pro;
    border:2px solid @header_color_border;
    border-top: none;
    border-radius: 0 0 5px 5px;
  }
  a{
    color: #545454;
  }
  p{
    font-size: 11px;
    color: #545454;
    a{
      color: #545454;
      text-decoration: underline;
    }
  }
  .b-wrapp-btn{
    margin: 10px 0;
    input[type="submit"]{
      padding: 12px 0;
      width: 221px;
      color: @button_color_text;
      font-size: 20px;
      border-radius: 5px;
      outline: none;
      border:none;
      font-weight: bold;
      font-family: Myriad Pro;
      .button-submit_corg();
    }
  }
   .btn-close{
      display: inline-block;
      position: absolute;
      top: 10px;
      right: 10px;
      width: 10px;
      height: 10px;
      background: url(../images/sprite.png) no-repeat -368px -276px;
      opacity: .9;
    &:hover{
      opacity: 1;
      cursor: pointer;
    }
  }
}
.coreg-field-label{
    line-height: 18px;
  .tip{
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    margin-left: 10px;
    cursor: pointer;
    padding: 0px 7px;
  }
  .tip-content{
    display: none;
  }
}
.coreg-wrapper {
  input[type=checkbox]:not(.default)+span{
    display: block;
  }
  .coreg-field-label{
    word-break: break-word;
    padding-left: 20px;
  }
  .tip-content{
    margin-top: 5px;  
  }
}
.my-profile-details .data-column-wrap .data-single .coreg-wrapper{
  span.tip.button{
    display: inline;     
  }
}