@popup_bg:#f7f0e8;
@button_color_text:#fff;
@header-popup_coreg:#1f202b;
@header_color_border:#1f202b;
@color-popup_coreg_text:#fff;
@white:#fff;
.button-submit_corg(
  @start_gradient:rgba(255,57,191,1), 
  @stop_gradient:rgba(255,43,169,1), 
  @ie_start_gradient:#ff39bf,
  @ie_stop_gradient:#ff2ba9){
    background:@start_gradient;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,@start_gradient), color-stop(100%,@stop_gradient));
    background:-o-linear-gradient(top, @start_gradient 0%, @stop_gradient 100%);;
    background:-ms-linear-gradient(top, @start_gradient 0%, @stop_gradient 100%);
    background:linear-gradient(to bottom, @start_gradient 0%, @stop_gradient 100%);
    background:-moz-linear-gradient(top, @start_gradient 0%, @stop_gradient 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@ie_start_gradient', endColorstr='@ie_stop_gradient',GradientType=0 );
}