.b-content__b-left-content_nearby {
  width: 50.8125%;
  vertical-align: top;
  min-width: 340px;
}

.b-content__b-right-content_nearby {
  margin-left: 27px;
  width: 43%;
  vertical-align: top;
}
.b-feed__content--nearby{
  margin:0 0 15px;
  display: block;
}
.b-profile-feed-head__content-left--nearby{
  width: 100%;
  max-width: none;
}
.b-nearby-content__filter {
  position: relative;
  clear: both;
  background: #f1f3f8;
  margin: 0 8px;
  padding: 10px 0;
  .border-radius;
}
.fiter-form__form-field{
  display: table;
  width: 100%;
  padding: 9px 2.5% 0;
  border-top: 1px solid #e8eaef;

  &:first-child{
    border-top: 0;
  }
  &.fiter-form__form-field-inline-b {
    display: inline-block;
    width: auto;
    vertical-align: top;
      .fiter-form__form-field-title {
        display: inline-block;
        width: auto;
        padding-right: 10px;
      }
      .form-field__input {
        display: inline-block;
        width: auto;
        margin-right: 10px;
        .fiter-form__form-field-age-form {
          display: inline-block;
          width: 55px;
            .custom-select {
              background-color: #fff;
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              border-radius: 5px;
              height: 32px;
              overflow: hidden;
              position: relative;
              cursor: pointer;
              vertical-align: middle;
              display: inline-block;
            .custom-select__pointer {
              color: #2989dd;
              position: absolute;
              right: 0.75em;
              top: 50%;
              margin-top: -0.5em;
            }
            .custom-select__selected-item {
              position: absolute;
              color: #494c53;
              font-size: 0.875em;
              height: 32px;
              line-height: 32px;
              font-weight: 700;
              padding: 0 0 0px 8px;
              left: 0;
              top: 0;
            }
            select {
              background-color: transparent;
              border: 0;
              color: #494c53;
              font-family: 'Open Sans', sans-serif;
              font-weight: normal;
              font-size: 0.875em;
              height: 32px;
              padding: 0 2.18em;
              width: 100%;
              filter: alpha(opacity=0);
              opacity: 0;
              cursor: pointer;
            }
          }
        }
        .fiter-form__form-field-age-form-deli {
          margin: 0 10px 0 15px;
        }
      }
      .form-field__input.form-field__input--nearby-location {
        max-width: 150px;
        width: 100%;
      }
      &.fiter-form__form-field-inline-b-distance {
        width: 55%;
        padding: 14px 8px 0px 0px;
        .form-field__input.form-field__input--radius {
          width: 55%;
        }
        .form-field__input--radius-count {
          display: inline-block;
          padding: 0;
        }
      }
  }
}

.fiter-form__form-field-inline-b-forms {
  padding: 0;
  border: 0;
  margin-bottom: 5px;
  .form-field__input{
    vertical-align: middle;
  }
}
.fiter-form__form-field-title{
  font-size: 0.8em;
  display: table-cell;
  width: 20%;
}
.form-field__input{
  display: table-cell;
  width: 25%;
  padding-right: 5px;
}
.form-field__input.peoplenearby {
  float: left;
  margin-left: 34px;
  margin-right: 19px;
  width: auto;
}
.form-field__input--nearby-location{
  width: 80%;
}
.form-field__input-item{
  width: 100%;
}
.form-field__input-icon {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 1.25em;
  color: #81868f;
}

.form-field__input--nearby-location:hover{

  .form-field__input-icon{
    color: @main-icon-color;
  }
}
.form-field__input--radius{
  width: 50%;
}
.form-field__input--radius-count{
  font-size: 0.75em;
  padding: 0 10px 0 20px;
  vertical-align: middle;
  display: table-cell;
}
a.b-profile-feed-footer-button{
  height: 30px;
  width: 100px;
  background: @main-link-color;
  color: #FFFFFF;
  display: block;
  text-align: center;
  font-size: 1.2em;
  font-weight: normal;
  line-height: 2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: right;
  text-shadow: 1px 1px 2px #00437D;
  position: relative;
}
a.b-profile-feed-footer-button:hover{
  color: #FFFFFF;
  background: #348BD7;
}
.b-filter--nearby-people{
  width: 100%;
  padding: 0 0 0 10px;
}
.b-people-head-title{
  display: table-cell;
  width: 20%;
  vertical-align: middle;
  min-width: 80px;
}
.b-filter-content--nearby-people{
  float: right;
  .b-filter-content__item{
    padding: 0.625em 0.825em 1em;
    white-space:normal;
    text-align: center;
    line-height: 1em;
    position: relative;
  }
}
.b-filter-content__item-txt {
  border-bottom: 1px dotted;
}
.b-filter-content__item-link.item-link--current{
  .b-filter-content__item-txt {
    border-bottom: 0;
  }
}
.b-people__messages-b {
  background: #f1f3f8;
  margin: 0 10px;
  .border-radius;
}
.b-people-messages-b__item{
  margin: 11px 1%;
  display: inline-block;
  width: 47%;
  background: #ffffff;
  padding: 6px;
}
.b-people-messages-b__item-table{
  display: table;
  width: 100%;
}
.b-people-messages-b__item-left{
  width: 58%;
  float: left;
  background: #ddd;
  padding: 10px 0;
}
.b-people-messages-b__item-right{
  width: 40%;
  float: right;
  background: #000;
  padding: 10px 0;
}
.b-profile-peoples_grid{
  background: #F1F3F8;
  overflow: hidden;
  padding: 10px 0.25em 5px;
  width: 97%;
  margin: 0 auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.peoples_grid__field__item{
  background: #FFFFFF;
  width: 48%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  padding: 5px 0.4em;
  display: inline-block;
  margin: 0 0 5px 1%;
}
.people_grid_point{
  float: left;
}
.people_grid_point-nick{
  font-size: 0.8em; //13px;
}
.people_grid_point-status{
  font-size: 0.7em; //11px;
  display: block;
  color: #00aa04;
}
.peoples_grid__field__item  img {
  float: left;
  margin-right: 0.7em;
  .border-radius;
}
.peoples_grid__field__item-message{
  background: #ECF0F8;
  color: @main-link-color;
  font-size: 0.8em;
  width: 90px;
  padding: 10px 0;
  text-align: center;
  float: right;
  width: 34%;
  min-width: 55px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: block;
  position: relative;
  top: 6px;
}
.peoples_grid__field__item-message_icon{
  font-size: 1em;
  float: left;
  position: relative;
  left: 5px;
  margin-right: 5px;
}
.b-profile-feed-head__content-right{
  width: 80%;
  padding-right: 2%;
  text-align: right;
  display: table;
}

.b-people{
  padding-bottom: 15px;
    .loading {
      background-image: url('../images/loader.gif');
      background-position: 70% 50%;
      background-repeat: no-repeat;
}
}
.b-filter-content__item{
  .b-filter-content__item--active-triangle{
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #f1f3f8;
    background: none;
    position: absolute;
    bottom: 0px;
    left: 40%;
    display: none;
  }
  &.current{
    .b-filter-content__item--active-triangle{
      display: block;
    }
  }
}

.b-chat__b-post--radius-bottom {
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
}

.b-new-info-content-theme__text.b-new-info-content-theme__text--top {
  vertical-align: top;
}

.b-new-info-content__text__title.b-new-info-content__text__title--bold {
  font-weight: bold;
}

.b-new-info-content__text__title.b-new-info-content__text__title--bold{
  font-weight: bold;
}
.b-new-info-content-theme__profile-nav.b-new-info-content-theme__profile-nav--chat{
  margin: 10px 0% 0 35%;
  width: 100%;
  font-weight: 600;
  max-width: 200px;
}
.b-new-info-content__short-info {
  font-size: 0.875em;
  border-top: 1px solid #343a44;
  border-bottom: 1px solid #343a44;
  padding: 10px 0;
  margin: 10px 0 0 0;
  line-height: 1.25em;
}
.b-new-info-content__text__paragraph.b-new-info-content__text__paragraph--with-chat{
  font-size: 0.875em; //14px;
}
.b-new-info-content-theme__profile.b-new-info-content-theme__profile--with-chat{
  top: 2em;
  left: 4%;
  width: 93%;
}
.b-new-info-content-theme--with-chat{
  min-width: 437px;
  min-height: 236px;
  background: #040C1B;
}
.b-new-info-content__short-info-city{
  padding-right: 5px;
}
.b-new-info-content-theme__profile-nav-item.b-new-info-content-theme__profile-nav-item--with-chat,
a.b-new-info-content-theme__profile-nav-item.a.b-new-info-content-theme__profile-nav-item--with-chat{
  display: inline-block;
}
.photo_pop_up__content-wrapper--gradient{
    width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0px;
  left: 0;
  background: url(data:image/svgxml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc);
  background: -moz-linear-gradient(top, rgba(4,12,27,0) 0%, rgba(4,12,27,0.99) 99%, rgba(4,12,27,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(4,12,27,0)), color-stop(99%,rgba(4,12,27,0.99)), color-stop(100%,rgba(4,12,27,1)));
  background: -webkit-linear-gradient(top, rgba(4,12,27,0) 0%,rgba(4,12,27,0.99) 99%,rgba(4,12,27,1) 100%);
  background: -o-linear-gradient(top, rgba(4,12,27,0) 0%,rgba(4,12,27,0.99) 99%,rgba(4,12,27,1) 100%);
  background: -ms-linear-gradient(top, rgba(4,12,27,0) 0%,rgba(4,12,27,0.99) 99%,rgba(4,12,27,1) 100%);
  background: linear-gradient(to bottom, rgba(4,12,27,0) 0%,rgba(4,12,27,0.99) 99%,rgba(4,12,27,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00040c1b', endColorstr='#040c1b',GradientType=0 );
}

.b-notificators__popup--search {
    position: absolute;
    z-index: 4;
    max-width: 320px;
    width: 100%;
    min-width: 0;
  top: 37px;
    left: 0;
    background: #fbfcfd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0;
}
.popup--search-city {
    padding: 0.675em;
    font-size: 0.875em;
    border-bottom: 1px solid #eceff5;
    border-top: 1px solid #ffffff;

    &:first-child{
        border-top: 0;
        -moz-border-radius: 5px 0px 0 0px;
        -webkit-border-radius: 5px 0px 0 0px;
        border-radius: 5px 0px 0 0px;
    }
    &:last-child{
        border-bottom: 0;
        -moz-border-radius: 0 0 0 5px;
        -webkit-border-radius: 0 0 0 5px;
        border-radius: 0 0 0 5px;
    }
    &:hover{
        background: #dae5f8;
        cursor: pointer;
    }
}
.popup--search-overflow {
    overflow: auto;
    max-height: 208px;
}
/* New redisign for NEARBY page */
.peoples_grid__field__item--big {
  display: inline-block;
  margin: 0 1% 2%;
  position: relative;
  vertical-align: top;
  width: 31.3%;
  &:hover{
    .peoples_grid_photo_count{
      display: none;
    }
    .peoples_grid--hover-menu{
      display: block;
    }
  }
}
.peoples_grid__field__item_ava {
  overflow: hidden;
  .border-radius;
  position: relative;

  img {
    width: 100%;
    max-width: 100%;
  }
}


.peoples_grid_photo_count {
  background: rgba(0,0,0,0.5);
  display: inline-block;
  border-radius: 5px;
  position: absolute;
  bottom: 15px;
  left: 14px;
  color: #fff;
  padding: 0.3em 0.6em;
  text-align: center;
  z-index: 1;

  &--item {
    color: @main-link-color;
    font-weight: 700;
    font-size: 1.125em;
    padding-bottom: 3px;
  }

  &-txt {
    font-size: 0.75em;
    text-transform: uppercase;
  }
}

.peoples_grid_username {
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 7px;

  span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    color: #ffffff;
    display: inline-block;
    font-size: 0.75em;
    padding: 0.55em 1em;
  }
}

.peoples_grid--hover-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/bg-popup.png') repeat scroll 0 0;
  .border-radius;
  z-index: 2;
  color: #fff;
  display: none;

  &--link {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
  }
}
.peoples_grid-hover-menu-wrap {
  max-width: 160px;
  margin: 0 auto;
}
.peoples_grid-info {
  margin: 35px 0 30px;

  &__year,
  &__city {
    font-size: 0.875em;
    padding-bottom: 5px;
  }
}

.peoples_grid-info__status {
  margin-top: 10px;
  font-size: 0.75em;
  .peoples_grid-info__status--more {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
.peoples_grid-nav-btn {
  a.peoples_grid-nav-btn__item {
    background: @main-link-color;
    border-bottom: 3px solid #004abe;
    .border-radius;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 15px;
    color: #ffffff;
    text-align: center;
    vertical-align: top;
    position: relative;
    z-index: 10;
    &:first-child {
      margin-left: 0;
    }
  .peoples_grid-nav-btn__item-icon {
    font-size: 1.65em;
    line-height: 1.5em;

    &.icon-Favorite {
      font-size: 1.25em;
      line-height: 1.8em;
    }
    &.icon-Chat_action {
      font-size: 1.4em;
      line-height: 1.65em;
    }
  }
  &:hover {
    background: #348BD7;
  }
  }
}
a.peoples_grid_photo_user-name {
  padding: 10px 0 5px;
  border-bottom: 1px solid #cfd4e0;
  margin-bottom: 24px;
  display: block;
}
/* [END] New redisigni for NEARBY page */

.peoples_grid-nav-btn__item-icon.activated {
  opacity:0.4;
}

.noUi-target,.noUi-target *{
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -ms-touch-action:none;
  -ms-user-select:none;
  -moz-user-select:none;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
.noUi-base{
  width:100%;
  height:100%;
  position:relative;
  background: @nouislider-color-active;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.noUi-origin{
  position:absolute;
  right:0;
  top:0;
  left:0;
  bottom:0;
  background: @nouislider-color;
}
.noUi-handle{
  position:relative;
  z-index:1;
}
.noUi-stacking .noUi-handle{z-index:10;}
.noUi-stacking.noUi-origin{*z-index:-1;}
.noUi-state-tap .noUi-origin{
  -webkit-transition:left .3s,top .3s;
  transition:left .3s,top .3s;}
.noUi-state-drag *{cursor:inherit!important;}
.noUi-horizontal{height:7px;}
.noUi-horizontal .noUi-handle{
  width:11px;
  height:13px;
  left:-10px;
  top:-4px;}
.noUi-horizontal.noUi-extended{padding:0 15px}
.noUi-horizontal.noUi-extended .noUi-origin{right:-15px}
.noUi-vertical{width:18px}
.noUi-vertical .noUi-handle{width:28px;
  height:34px;
  left:-6px;
  top:-17px
}
.noUi-vertical.noUi-extended{padding:15px 0}
.noUi-vertical.noUi-extended .noUi-origin{bottom:-15px}
.noUi-background{
  background:#FAFAFA;
  box-shadow:inset 0 1px 1px #f0f0f0;}
.noUi-connect{
  background:#3FB8AF;
  box-shadow:inset 0 0 3px rgba(51,51,51,.45);
  -webkit-transition:background 450ms;
  transition:background 450ms;}
.noUi-origin{border-radius:2px}
.noUi-target{
  border-radius:5px;
  box-shadow:inset 0 1px 1px #F0F0F0,0 3px 6px -5px #BBB;}
.noUi-target.noUi-connect{
  box-shadow:inset 0 0 3px rgba(51,51,51,.45),0 3px 6px -5px #BBB;}
.noUi-dragable{cursor:w-resize}
.noUi-vertical .noUi-dragable{cursor:n-resize}
.noUi-handle{
  border: medium none;
  border-radius: 1px;
  background: @nouislider-btn-color;
  box-shadow: none;
  cursor: w-resize;
}
.noUi-active{}
.noUi-handle:after,.noUi-handle:before{
  content:"";
  display:block;
  position:absolute;
  height:7px;
  width:1px;
  background: @nouislider-btn-elem-color;
  left:3px;top:3px}

.noUi-handle:after{left:6px}
.noUi-vertical .noUi-handle:after,.noUi-vertical .noUi-handle:before{
  width:14px;
  height:1px;
  left:6px;
  top:14px
}
.noUi-vertical .noUi-handle:after{top:17px}[disabled] .noUi-connect,[disabled].noUi-connect{background:#B8B8B8}[disabled] .noUi-handle{cursor:not-allowed}
.noUi-state-blocked .noUi-connect,.noUi-state-blocked.noUi-connect{background:#4FDACF}