
#bannerOpenxtop {
  
}
#bannerOpenxright {
  padding: 0;
  div {
    div {
      padding: 15px 13px 20px;
      text-align: center;
      iframe {
        position: relative;
      }
    }
  }
}
.header-banner {
  div {
    div {
      width: 100%;
      text-align: center;
      background: #12326c;
      color: #fff;
      padding: 10px 0;
      font-size: 1.125em;
      z-index: 1;
      margin-top: 80px;
      margin-bottom: -30px;
      iframe {
        position: relative;
      }
      &:hover {
        background: #fff;
      }
    }
  }
}
.banner-vod {
  display: none;
  div {
    div {
      padding-bottom: 15px;
      iframe {
        position: relative;
      }
    }
  }
}
.b-banner-content {
  text-align: center;
  iframe {
    position: relative;
  }
  .b-wrap-content {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}