.l-grid {
  position: relative;
  clear: both;
  overflow: hidden;
}

.l-span1,
.l-span2,
.l-span3 {
  position: relative;
}

.l-span1 {
  .l-cell {
    width: 100%;
  }
}

.l-span2 {
  .l-cell {
    width: 100%/2;
    float: left;
  }
}

.l-span3 {
  .l-cell {
    width: 100%/3;
    float: left;
  }
}

.l-section {
  min-height: 700px;
  max-height: 700px;
  overflow: hidden;
  overflow-y: scroll;
  &.component-content {
    overflow: visible;
  }
  .CodeMirror {
    height: 700px;
  }
}

.l-section-errors {
  padding: 10px 15px;
}

pre {
  margin-top: 0;
}

.list {
  list-style: none;
  padding: 0;
}
