.b-notificators__popup-content
    .b-notificators__popup-content-avatar.inline
        a(href=userLink(id))
          img.b-notificators__popup-content-avatar__item(src=photo_url)
      .b-notificators__popup-content-message.inline
        a.popup-content-message__nick(href=userLink(id))
          = login
        if action == 'newsFeed'
          .b-notificators__popup-message-text= _t("notificationNewsFeed", "title.newsFeed::" + type)
      a.b-notificators__popup-content-btn-link.inline(href='javascript:void(0)', onclick="talksCall('#{id}')") Start Chat
