header.b-header.shadow
  a.b-head-logo(href='/wall')
  .b-head-left
    ul.b-notificators
      li.b-notificators__item
        a.b-notificators__link--show-popup.icon-Chat(href='#')
        .b-notificators__item-counter(data-counter='mail') 
        .b-notificators__popup.shadow.hide(data-popup='mail')
          .b-notificators__popup-header
            .b-notificators__popup-header-title-left.title Chat
            .b-notificators__popup-header-link-right
              a.b-notificators__popup-header-link__item(href='#', onclick='talksCall()') Show all
          .b-notificators__popup-content-block
          a.b-notificators__popup-link-more(href='#', onclick='talksCall()') Open messenger
          .b-notificators__popup-arrow--slide
      li.b-notificators__item
        a.b-notificators__link--show-popup.icon-Browse(href='#')
        .b-notificators__item-counter(data-counter='view')
        .b-notificators__popup.shadow.hide(data-popup='view')
          .b-notificators__popup-header
            .b-notificators__popup-header-title-left.title Browse
          .b-notificators__popup-content-block
          .b-notificators__popup-arrow--slide
      li.b-notificators__item
        a.b-notificators__link--show-popup.icon-Wink(href='#')
        .b-notificators__item-counter(data-counter='wink')
        .b-notificators__popup.shadow.hide(data-popup='wink')
          .b-notificators__popup-header
            .b-notificators__popup-header-title-left.title Wink
          .b-notificators__popup-content-block
          .b-notificators__popup-arrow--slide
      li.b-notificators__item
        a.b-notificators__link--show-popup.icon-News(href='#')
        .b-notificators__item-counter(data-counter='newsFeed')
        .b-notificators__popup.shadow.hide(data-popup='newsFeed')
          .b-notificators__popup-header
            .b-notificators__popup-header-title-left.title What`s new
          .b-notificators__popup-content-block
          .b-notificators__popup-arrow--slide
  .b-head-right
    .b-user-info
      if accountStatus != 'paid'
        a.credits-b__buy-button.inline(href='/pay/product?via=direct_link') Upgrade now
      .b-user-info__profile.profile-b.inline
        .profile-b__my-avatar.inline
          a(href='/#myprofile')
            img.profile-b__my-avatar-item(src='#{photoUrl}')
        a.profile-b__profile-info--show-popup(href='#')
          | Me
          i.profile-b__icon--toogle.open.icon-arrow-down
      .b-user-info__popup--show-info-about-me.shadow.hide
        .b-user-info__popup-content.b-popup-content
          .b-popup-content__title.title
            i.b-popup-content__title-icon.icon-Info
            | General info
          ul.b-popup-content__nav
            li.b-popup-content__nav__item
              a(href='/#myprofile') My Profile
            li.b-popup-content__nav__item
              a(href='/#billingHistory') Billing History
            li.b-popup-content__nav__item
              a(href='/#search/model')
                | Live Cams 
                span.b-popup-content__nav__item--counter (#{credits} credits)
        .b-user-info__popup-content.b-popup-content
          .b-popup-content__title.title
            i.b-popup-content__title-icon.icon-Settings
            | Settings
          ul.b-popup-content__nav
            li.b-popup-content__nav__item
              a(href='/#myprofile#account') Account Settings
        .b-user-info__popup-content.b-popup-content
          ul.b-popup-content__nav-footer
            li.b-popup-content__nav-footer__item
              a(href='/site/logout') Log Out
