nav.b-main-menu
  ul.b-main-menu-content
    li.b-main-menu-content__item.active(data-nav-item="#{wallAction}")
      a.b-main-menu-content__item-link(href='/#wall')
        div.b-main-menu-content__item-icon.icon-Feed
        span.b-main-menu-content-label Feed
      span.b-main-menu-content--active-arrow
    li.b-main-menu-content__item(data-nav-item="#{peopleNearbyAction}")
      a.b-main-menu-content__item-link(href='/#peopleNearby')
        div.b-main-menu-content__item-icon.icon-Search
        span.b-main-menu-content-label Nearby
      span.b-main-menu-content--active-arrow
    li.b-main-menu-content__item(data-nav-item="messenger")
      a.b-main-menu-content__item-link(href='/rooms')
        div.b-main-menu-content__item-icon.icon-Chat_action
        span.b-main-menu-content-label Chat
      an.b-main-menu-content--active-arrow
    li.b-main-menu-content__item(data-nav-item="#{vodAction}")
      a.b-main-menu-content__item-link(href='/#vod')
        div.b-main-menu-content__item-icon.icon-Video
        span.b-main-menu-content-label Vod
      span.b-main-menu-content--active-arrow
    li.b-main-menu-content__item(data-nav-item="#{searchModelAction}")
      a.b-main-menu-content__item-link(href='/#search/model')
        div.b-main-menu-content__item-icon.icon-Webcam
        span.b-main-menu-content-label Live
      span.b-main-menu-content--active-arrow
