/*------------------------Funnel pop-up------------------------------*/

.b-popup-funnel {
  position: relative;
  z-index: 2;
  width: 540px;
  max-width: 651px;
  margin: 0 auto;
  color: @funnel-text_def_dark;
  background-color: @funnel-bg;
  .title {
    ._text-overflow();
    display: block;
  }
  .b-popup-content {
    padding: 34px 15px 40px;
  }
  .header {
    margin: 0;
    padding: 0 0 10px;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
  }
  .content {
    padding-top: 25px;
  }
  .btn {
    float: right;
    min-width: 135px;
    margin-top: 10px;
    padding: 12px 30px;
  }
  .b-remaining {
    margin: 0 0 2px 160px;
    font-size: 11px;
  }
  .row-screenname,
  .row-prefs,
  .b-row {
    ._clearfix();
  }
  .row-screenname {
    margin-bottom: 10px;
    .b-text {
      display: none;
      clear: both;
      padding: 5px 0 0;
      font-size: 12px;
      line-height: 16px;
      color: @funnel-text_error;
    }
    .screenname {
      ._text-overflow();
    }
  }
  .row-prefs {
    margin-top: 14px;
    margin-bottom: 11px;
    .b-name {
      margin-top: 0;
    }
    .b-value {
      float: left;
      ul {
        margin-left: -1px;
      }
      li {
        margin-bottom: 6px;
      }
      label {
        &:hover {
          cursor: pointer;
        }
      }
      input[type="text"],
      input[type="password"] {
        position: relative;
      }
    }
  }
  .gender {
    .select-widget {
      width: 175px;
    }
  }
  .select-widget {
    position: relative;
    margin-right: 0;
    &.loading {
      &:before {
        display: inline-block;
        position: absolute;
        top: 12px;
        right: -30px;
        width: 16px;
        height: 16px;
        content: "";
        background: url(~"@{img_url}/small-loader.gif") no-repeat;
      }
    }
    &.checked {
      &:before {
        display: inline-block;
        position: absolute;
        top: 17px;
        right: -26px;
        content: "";
        ._sprite(@check-sm);
      }
    }
  }
  .looking-for {
    .field {
      float: left;
    }
    .value {
      padding-right: 23px;
    }
    .gender,
    .age-to {
      margin-right: 10px;
    }
    .age-from,
    .age-to {
      .select-widget {
        width: 77px;
      }
    }
    .title {
      float: left;
      overflow: visible;
      width: 140px;
      margin: 10px 10px 0 10px;
      text-align: right;
      white-space: normal;
      &:first-child {
        margin-top: 0;
      }
    }
    .location {
      float: right;
      margin: 10px 0 0;
      .value {
        width: 350px;
        padding: 0;
      }
    }
  }
  textarea.about {
    min-height: 100px;
    color: @funnel-text_def_dark;
  }
  .b-name {
    float: left;
    width: 150px;
    margin-top: 10px;
    margin-right: 10px;
    text-align: right;
  }
  .checkbox-info {
    position: relative;
    margin: 5px 0;
    word-break: normal;
  }
  .b-value {
    display: inline-block;
    width: 350px;
  }
  .field {
    ._clearfix();
    &.error {
      margin-bottom: -4px;
      .b-text {
        display: block;
      }
    }
  }
}
