@funnel-bg: #fff;
@funnel-upload_form_border: #ccc;
@funnel-btn_upload_bg: #f73;
@funnel-text_link: #ff8400;
@funnel-text_light: #999;
@funnel-text_def: #fff;
@funnel-text_def_dark: #1f2226;
@funnel-text_error: #ff3232;
@funnel_font_300: 'dosisregular', Arial, helvetica, sans-serif;
@funnel_font_600: 'dosissemibold', Arial, helvetica, sans-serif;
@funnel-btn_bg: #fff;
@funnel-avatar_hover_bg: #fff;
@funnel-overlay_bg: #000;
@funnel-feature_item_bg: #fff;
@funnel-online_bg: #73e573;
@funnel-online_recently_bg: #f73;
@funnel-progress_bar_bg: lighten(#ddd, 5%);
@funnel-color_text_muted: #797979;
@funnel-shadow: #000;
@funnel-border_def: #bfbfbf;
@funnel-border: #ccc;
@funnel-block_bg: #000;
@funnel-marker_bg: #77b200;
@funnel-text_check: #fff;

@funnel-text_title: #798391;
@funnel-title_border: #e3e3e3;
@funnel_progress_bg: #ff9898;