
/*--------------------------Feedback popup---------------------------*/
.b-popup.b-feedback-popup {
  width: 500px;
  position: relative;
  margin: 0 auto;
  padding: 0;
  ._radius(4px);
  ::-webkit-input-placeholder {
    color: @feedback-text_medium;
  }
  :-moz-placeholder {
    color: @feedback-text_medium;
  }
  ::-moz-placeholder {
    color: @feedback-text_medium;
  }
  :-ms-input-placeholder {
    color: @feedback-text_medium;
  }
  .btn-text-green, .btn-text-orange,
  .btn-text-def, .btn-text-blue {
    height: 41px;
  }
  .title {
    ._gradient(@feedback-header-bg-start, @feedback-header-bg-end);
    ._radius(3px 3px 0 0);
    color: @feedback-text_title;
    padding: 18px 37px 16px 20px;
  }
  .b-popup-content {
    padding: 0;
  }
  .btn-close {
    position: absolute;
    top: 0px;
    right: 3px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    width: 25px;
    height: 35px;
    background: none;
    &:before {
      content: '';
      position: absolute;
      top: 16px;
      left: 11px;
      width: 15px;
      height: 15px;
      background: @feedback-sprite_url no-repeat -216px -138px;
    }
  }
  .b-tab {
    float: none;
    display: inline-block;
    margin: 19px 0 19px 20px;
    padding-left: 0px;
    height: auto;
    line-height: 18px;
    &:first-child {
      margin-left: 20px;
    }
    &:after {
      display: none;
    }
  }
  .message-input {
    ._box-sizing;
    margin-right: 20px;
    display: block;
    outline: 0;
    min-height: 80px;
    max-height: 150px;
  }
  .b-wrapp-btn {
    margin: 20px 0;
    text-align: right;
    float: right;
    input {
      padding: 0 15px;
      /*&:hover {
        ._gradient(@feedback-green_btn_start_hover, @feedback-green_btn_end_hover);
      }
      &.active, &:active {
        ._gradient(@feedback-green_btn_start, @feedback-green_btn_end);
      }
      &.touched {
        ._gradient(@feedback-green_btn_start_press, @feedback-green_btn_end_press);
      }*/
    }
  }
  .b-text {
    margin: 20px 0 20px;
    a {
      height: 17px;
      display: inline-block;
      text-decoration: none;
      white-space: nowrap;
      border-bottom: 1px dashed @feedback-text_link;
      &:hover {
        border: none;
      }
    }
  }
  .b-tab-content {
    display: block;
    position: relative;
    padding: 0 20px 0px;
    &.error {
      .b-text-error {
        display: block;
      }
      .message-input {
        border: 1px solid @feedback-text_error !important;
      }
    }
  }
  .b-text-error {
    display: none;
    width: 93%;
    color: @feedback-text_error;
    font-size: 11px;
    font-family: @feedback-font_600;
    font-weight: 600;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
  }
  .b-thanks {
    min-height: 38px;
    padding: 20px 20px 80px 20px;
    text-align: center;
    .b-text-info {
      margin: 0;
    }
    .btn {
      position: absolute;
      bottom: 20px;
      left: 50%;
      width: auto;
      min-width: 100px;
      padding: 0 15px;
      margin-left: -50px;
    }
  }
  .b-thanks-title {
    font: 14px @feedback-font_400;
    color: @feedback-text_def;
  }
  .b-thanks-text {
    margin: 0;
  }
  .b-text-info {
    margin: 20px 0;
  }
  .b-change {
    padding-top: 20px;
    text-align: center;
    overflow: hidden;
    &.error {
      .message-input.selected-text {
        border: 1px solid @feedback-button_border;
      }
    }
    .b-text-info {
      margin: 0;
    }
    .wrap-btns {
      margin: 20px;
      text-align: left;
      overflow: hidden;
      .btn {
        float: right;
        /*._btn-green(auto);*/
        width: auto;
        padding: 0 15px;
        &.btn-no {
          float: left;
          /*
          ._btn-user(auto);*/
        }
      }
    }
    .btn {
      min-width: 110px;
    }
    .message-input {
      margin: 0 0 20px;
    }
    .b-wrapp-btn {
      margin: 0 0 20px;
    }
  }
}