@feedback-img_url: "../images";
@feedback-sprite_url: url("@{feedback-img_url}/sprite.png");
@feedback-font_400: 'Open Sans', Arial, helvetica, sans-serif;
@feedback-font_600: 'Open Sans Semibold', Arial, helvetica, sans-serif;

@feedback-text_medium: #b3b3b3;
@feedback-header-bg-start: #1b1b1b;
@feedback-header-bg-end: #1b1b1b;
@feedback-text_title: #fff;
@feedback-text_link: #5079b3;
@feedback-text_error: #ff5a40;
@feedback-text_def: #333;
@feedback-green_btn_start_hover: #addd4d;
@feedback-green_btn_end_hover: #86c703;
@feedback-green_btn_start: #9fc94c;
@feedback-green_btn_end: #78b302;
@feedback-green_btn_start_press: #95b459;
@feedback-green_btn_end_press: #639303;
@feedback-button_border: #d9d9d9;
