/*------------------------Funnel pop-up------------------------------*/
.b-popup {
  &.b-popup-funnel {
    ._radius(10px);
    width: 580px;
    max-width: 651px;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    h1 {
      color: @funnel-text_title;
    }
    .b-nav-btns {
      .btn-prev {
        float: left;
      }
      .btn-next {

      }
    }
    .title {
      display: block;
      font-size: 16px;
      line-height: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .b-popup-content {
      padding: 15px 15px 30px 15px;
    }
    .header {
      border-bottom: 1px solid @funnel-border_def;
      margin: -3px -15px 0;
      padding:0 15px 10px;
      text-align: center;
      font: 16px @funnel_font_600;
    }
    .btn-close {
      position: absolute;
      top: 5px;
      right: 5px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      width: 25px;
      height: 35px;
      background: none;
      &:after {
        content: '';
        position: absolute;
        top: 8px;
        left: 5px;
        width: 15px;
        height: 15px;
        background: @funnel-sprite_url no-repeat -217px -76px;
      }
    }
    .content {
      padding-right: 115px;
    }
    .btn {
      float: right;
      margin-top: 15px;
      padding: 12px 30px;
    }
    .b-remaining {
      margin: 0 0 2px 120px;
      font-size: 11px;
    }
    .row-screenname {
      ._clearfix();
      margin-bottom: 15px;
      .b-text {
        color: @funnel-text_error;
        font-size: 11px;
        margin-left: 115px;
        font-family: @funnel_font_600;
        display: none;
        position: relative;
        top: 3px;
        clear: both;
      }
    }
    .row-prefs {
      ._clearfix();
      margin-bottom: 6px;
      .b-name {
        margin-top: 0;
      }
      .b-value {
        float: left;
        li {
          margin-bottom: 8px;
        }
        label {
          &:hover {
            cursor: pointer;
          }
        }
        input {
          position: relative;
        }
      }
    }
    .b-row {
      ._clearfix();
    }
    .gender {
      .select-widget {
        width: 215px;
        ._radius(20px);
        padding: 0 15px;
      }
    }
    .location {
      margin: 4px 0 0 0;
      .select-widget {
        float: right;
      }
      input {
        border: 0;
        height: auto;
        line-height: 25px;
        padding-right: 30px;
      }
      .b-dropdown-menu {
        top: 30px;
      }
    }
    .field-age-holder {
      width:100px;
      border: 1px solid @funnel-border_def;
      float: right;
      ._radius(20px);
      .age-to {
        position: relative;
        &:after {
          content: '-';
          display: inline-block;
          position: absolute;
          top: 5px
        }
      }
      .select-widget {
        border: 0;
        padding: 0;
        width: 48px;
        text-align: center;
        ._radius(20px);
        &:before {
          display: none;
        }
        li {
          text-align: left;
        }
      }
    }
    .select-widget {
      &:after {
        display: none;
      }
      &.loading {
        &:before {
          content: '';
          display: inline-block;
          height: 16px;
          width: 16px;
          position: absolute;
          right: -30px;
          top: 12px;
          background: url(~"@{funnel-img_url}/small-loader.gif") no-repeat;
        }
      }
      &.checked {
        &:before {
          content: '';
          display: inline-block;
          height: 6px;
          width: 8px;
          position: absolute;
          right: -27px;
          top: 18px;
          background: @funnel-sprite_url no-repeat -49px -70px;
        }
      }
      &:before {
        content: '';
        display: block;
        position: absolute;
        right: 13px;
        top: 11px;
        background: @funnel-sprite_url no-repeat -377px -131px;
        width: 10px;
        height: 6px;
      }
      .b-dropdown-menu {
        ._shadow(0 5px 15px 0 fade(@funnel-shadow,25%));
        top: 34px;
      }
      width: 100%;
      height: 30px;
      margin-right: 0;
      .value {
        padding: 0;
        line-height: 28px;
      }

    }
    .looking-for {
      .title {
        font-size: 13px;
        width: 100px;
        float: left;
        margin-top: 5px;
        margin-right: 15px;
        text-align: right;
      }
    }
    .about {
      margin-top: 30px;
    }
    textarea.about {
      width: 320px;
      border:1px solid @funnel-border_def;
      ._radius(10px);
      float: left;
      margin-top: 0;
      min-height: 80px;
      color: @funnel-text_def_dark;
    }
    .b-name {
      float: left;
      width: 100px;
      text-align: right;
      margin-top: 7px;
      margin-right: 15px;
      }
    .field {
      &.error {
        .b-text {
          display: block;
        }
      }
    }
    .meta-button-wrap {
      top: 0px;
      right: 0px;
    }
    .top-row {
      padding-bottom: 17px;
      border-bottom: 1px solid @funnel-border;
    }
    input[type="checkbox"] {
      position: absolute;
      z-index: 2;
      ._opacity(.8);
    }
    .album {
      border-top: 1px solid @funnel-border;
      padding: 15px 0 16px;
      position: relative;
      &:first-child {
        border-top: none;
      }
      &.active {
        .photo-list {
          display: block;
        }
        .open-btn {
          &:after {
            background-position: -377px -142px;
          }
        }
      }
    }
    .open-btn {
      position: absolute;
      right: -5px;
      top: 11px;
      width: 25px;
      height: 25px;
      background: none;
      margin: 0;
      outline: none;
      &:after {
        position: absolute;
        content: '';
        width: 16px;
        height: 10px;
        right: 5px;
        top: 9px;
        background: @funnel-sprite_url no-repeat -377px -131px;
      }
      &:hover {
        ._opacity(.85);
      }
    }
    .photo-list {
      ._clearfix;
      margin: 6px 0 4px;
      display: none;
      width: 103%;
      position: relative;
      left: -10px;
      ._transition;
    }
    .photo-wrap {
      width: 80px;
      height: 80px;
      float: left;
      margin: 10px 0 0 10px;
      overflow: hidden;
      display: block;
      position: relative;
      cursor: pointer;
      img {
        display: block;
        width: 100%;
      }
    }
    .check-photo {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      background: fade(@funnel-overlay_bg, 60%);
      display: none;
      &.active {
        display: block;
      }
      &:after {
        content: '';
        position: absolute;
        width: 24px;
        height: 19px;
        left: 50%;
        top: 50%;
        background: @funnel-sprite_url no-repeat -481px -77px;
        margin: -10px 0 0 -12px;
      }
    }
    .btn-row {
      text-align: right;
      margin-top: 30px;
      .btn-cancel,
      .btn-upload {
        min-width: 64px;
        margin-left: 10px;
      }
    }

    #screenname-error {
      color: @funnel-text_error;
      font-size: 12px;
      padding: -5px 0 5px;
      right: 0;
  }
}
}
/*------------------------Funnel SU------------------------------*/
.pop_up-overlay--white {
  background: #fff;
  filter: alpha(opacity=97);
  opacity: 0.97;
}

.voronka_pop_up {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1050;
  top: 0;

  &.show { display: block; }

  &__close {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #333 !important;
    font-size: 1.4em;
  }

  &__container {
    width: 100%;
    max-width: 757px;
    padding: 25px 0;
  }

  &__content {
    overflow: hidden;
    padding: 0 1em;
  }

  &__footer {
    background-color: #f1f3f8;
    overflow: hidden;
    padding: 12px 15px;
  }

  &__voronka-button {
    color: #fff !important;
    font-size: 1em;
    font-weight: 700;
    line-height: 35px;
    height: 37px;
    text-align: center;
    text-shadow: 0 2px rgba(0, 0, 0, 0.2);
    padding: 0 1em;
    text-decoration: none;
    .border-radius;
    .inline;

    &--big {
      height: 45px;
      line-height: 43px;
      padding: 0 2.5em;
    }

    &--small {
      width: 80px;
      font-size: 0.875em;
      line-height: 31px;
      height: 33px;
    }

    &--red {
      background-color: #d70000;
      &:hover { background-color: darken(#d70000, 5%); }
    }

    &--blue {
      background-color: #0878d8;
      &:hover { background-color: darken(#0878d8, 5%); }
    }

    &--gray {
      background-color: #b1b8ca;
      &:hover { background-color: darken(#b1b8ca, 5%); }
    }

    &--left { float: left; }

    &--right { float: right; }
  }
}

.voronka-main-title {
  color: #e82b2b;
  font-size: 2.25em;
  font-weight: lighter;
  padding-bottom: 5px;
  text-align: center;

  &--bordered {
    padding-bottom: 27px;
    border-bottom: 1px solid #e5e7ee;
  }
}

.voronka_pop_up__confirm {
  padding-top: 35px;
  text-align: center;
  font-weight: normal;

  &__text {
    padding-bottom: 38px;
    color: #0a1b36;
    font-size: 1em;
    line-height: 1.2em;

    a { text-decoration: underline; }
  }

  &__button-wrap { padding-bottom: 18px; }

  &__mail-problem {
    font-size: 0.875em;
    text-decoration: underline !important;
  }
}

.voronka_pop_up__anketa {
  overflow: hidden;
  padding: 0 3em 40px 2.5em;
  color: #83858c;
  font-size: 0.875em;
  font-weight: 700;

  &__col {
    float: left;
    width: 47.4359%;
  }

  &__col + &__col { float: right; }

  &__row + &__row { margin-top: 20px; }

  &__label {
    color: #494c53;
    display: block;
    margin-bottom: 10px;
  }

  &__table {
    width: 100%;
    border-spacing: 0;

    td { font-weight: 700; }

    tr+ tr td { padding-top: 10px; }

    td:first-child { width: 100px; }
  }
}

.voronka_pop_up__anketa__textfield {
  background-color: #fff;
  border: 1px solid #e8e8f0;
  .border-radius;
  width: 100%;
  height: 34px;
  padding: 5px 15px;
  color: #83858c;
  font-size: 0.875em;
  font-weight: 700;
}

textarea.voronka_pop_up__anketa__textfield { height: 156px; }

.custom-select--anketa {
  background-color: #fff;
  border: 1px solid #e8e8f0;
  height: 34px;

  select, .custom-select__selected-item { padding: 0 1.125em; }

  .custom-select__selected-item { color: #83858c; }
}

.custom-select--small {
  .inline;
  width: 75px;
  vertical-align: middle;
}

.voronka_pop_up__finish {
  .inline;
  width: 100%;
  margin-bottom: 40px;
}

.voronka_pop_up__attention {
  float: left;
  border-right: 1px solid #e5e7ee;
  width: 50%;

  &__title {
    color: @title-color;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 18px;
  }

  &__list {
    padding-right: 4.625em;

    &__item {
      color: #0a1b36;
      font-size: 1em;
      line-height: 1.3em;
      font-weight: normal;

      b {
        color: #0074d7;
        font-weight: normal;
      }

      .icon-Check { color: #0bcc01; }
    }

    &__item + &__item { margin-top: 15px; }
  }
}

.voronka_pop_up__drug-drop-wrap {
  background-color: #fff;
  float: right;
  width: 46.1538%;
  border: 1px solid #dbdde3;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 4px rgba(219, 221, 227, 0.7);
  -moz-box-shadow: 0 0 4px rgba(219, 221, 227, 0.7);
  box-shadow: 0 0 4px rgba(219, 221, 227, 0.7);
  padding: 10px;
}

.voronka_pop_up__drug-drop {
  .border-radius;
  border: 1px dashed #0074d7;
  text-align: center;
  padding: 15px 0 22px;
  color: @title-color;

  &__title {
    font-size: 1.125em;
    font-weight: 700;
  }

  .voronka_pop_up__voronka-button { margin-top: 20px; }
}

.voronka_pop_up__search-results {
  overflow: hidden;
  margin-bottom: 30px;
}

.rightside__grid--voronka { width: 100%; }

.rightside__grid-item--voronka {
  width: 20.2797%;
  margin: 0;
  float: left;
  line-height: normal;
}

.rightside__grid-item--voronka + .rightside__grid-item--voronka { margin-left: 6.2937%; }

@media screen and (max-width: 720px) {
  .voronka_pop_up__attention__list { padding-right: 2em; }
}

@media screen and (max-width: 600px) {
  .voronka_pop_up__anketa {
    padding: 0 2.5em 40px;

    &__col {
      float: none !important;
      width: 100%;
    }

    &__col + &__col { margin-top: 20px; }
  }

  .voronka_pop_up__drug-drop .voronka_pop_up__voronka-button { padding: 0 0.5em; }
}

.voronka_pop_up__anketa__row {
  margin-top: 20px;
}
