@funnel-img_url: "../images";
@funnel-sprite_url: url("@{funnel-img_url}/sprite.png");

@funnel-text_link: #ff8400;
@funnel-text_def: #333;
@funnel-text_def_dark: #1a1a1a;
@funnel-text_error: #ff1940;
@funnel_font_600: 'Open Sans Semibold', Arial, helvetica, sans-serif;
@funnel-btn_bg: #fff;
@funnel-overlay_bg: #000;
@funnel-shadow: #000;
@funnel-border_def: #bfbfbf;
@funnel-border: #ccc;

@funnel-text_title: #798391;

.inline{
  display: inline-block;
}