.b-popup-overlay
  .b-popup-table.static
    .b-popup-cell
      .b-popup.b-popup-funnel
        .voronka_pop_up__container
          h2.voronka-main-title= _t("funnel", "title.give_more_info")
          .voronka_pop_up__content
            form#FunnelForm
              if userAttributes
                .voronka_pop_up__anketa
                  .voronka_pop_up__anketa__col
                    .voronka_pop_up__anketa__row
                      .field(data-ui-input)
                        label.voronka_pop_up__anketa__label= _t("funnel", "title.screenname") + ":"
                        .b-value
                          .b-text#screenname-error(data-ui-error-text)
                          input.voronka_pop_up__anketa__textfield.screenname(type="text", value=userAttributes.screenname, name="userAttributes[screenname]", id="funnelScreenname")
                    .voronka_pop_up__anketa__row
                      label.voronka_pop_up__anketa__label= _t("funnel", "title.on_my_mind")
                      textarea.voronka_pop_up__anketa__textfield(data-resize="auto", name="userAttributes[chatupline]", id="funnelChatupline")
                        | #{userAttributes.chatUpLine}
                  .voronka_pop_up__anketa__col
                    .voronka_pop_up__anketa__row
                      label.voronka_pop_up__anketa__label= _t("funnel", "title.looking_for")
                      .custom-select.custom-select--anketa
                        .b-text#gender-error(data-ui-error-text)
                        input(type="hidden", value=defaultSearchParams.gender, name="defaultSearchParams[gender]", data-control, id="funnelGender")
                        i.icon-arrow-down.custom-select__pointer
                        span.custom-select__selected-item 
                          if defaultSearchParams.gender==1
                            = _t("funnel", "value.male")
                          else
                            = _t("funnel", "value.female")
                        select
                          option(data-item="1",selected=((1==defaultSearchParams.gender) ? 'selected' : null))= _t("funnel", "value.male")
                          option(data-item="2",selected=((2==defaultSearchParams.gender) ? 'selected' : null))= _t("funnel", "value.female")
                    .voronka_pop_up__anketa__row
                      span.voronka_pop_up__anketa__label Age between:
                      .custom-select.custom-select--anketa.custom-select--small
                        input(type="hidden", value=defaultSearchParams.ageFrom, name="defaultSearchParams[ageFrom]", data-control, id="funnelFormAgeFrom")
                        i.icon-arrow-down.custom-select__pointer
                        span.custom-select__selected-item #{defaultSearchParams.ageFrom}
                        select
                          - for(var i = 18; i < 79; i++)
                            option.item(data-item=i,selected=((i==defaultSearchParams.ageFrom) ? 'selected' : null))= i
                      | to
                      .custom-select.custom-select--anketa.custom-select--small
                        input(type="hidden", value=defaultSearchParams.ageTo, name="defaultSearchParams[ageTo]", data-control, id="funnelFormAgeTo")
                        i.icon-arrow-down.custom-select__pointer
                        span.custom-select__selected-item #{defaultSearchParams.ageTo}
                        select
                          - for(var i = 18; i < 79; i++)
                            option.item(data-item=i,selected=((i==defaultSearchParams.ageTo) ? 'selected' : null))= i
                    .voronka_pop_up__anketa__row
                      span.voronka_pop_up__anketa__label Where whould we search?
                      .select-widget(data-ui-location)
                        .input-holder(data-toggle)
                          .value
                            input.voronka_pop_up__anketa__textfield.input-value(name="defaultSearchParams[locationInput]", type="text", value=defaultSearchParams.locationInput, autocomplete="off", data-control, id="funnelLocale")
                          .select-location.location
                            .b-dropdown-menu.location(data-list)
                .voronka_pop_up__footer
                  button.voronka_pop_up__voronka-button.voronka_pop_up__voronka-button--small.voronka_pop_up__voronka-button--blue.voronka_pop_up__voronka-button--right#funnelSaveBtn= _t("funnel", "button.save")
  .b-loader