.photo_pop_up.drag-drop-b
  .photo-editor-container
    .drag-drop-pop_up__center
      .drag-drop-pop_up__header
        .pop_up__close(data-close)
          i.icon-cross
        .drag-drop-pop_up__subtitle
          = _t("profilePhotoEditor", "text.choose_a_miniature")
          span.changes-status.changes-status--error.inactive(data-error)
            span.icon-status.icon-Attention
            = _t("profilePhotoEditor", "error.save_error")
      .drag-drop-pop_up__grey-wrapper.drag-drop-pop_up__grey-wrapper--create-cover(data-crop)
        .drag-drop-pop_up__create-cover-sidebar
          .create-cover-result
            .create-cover-result__photo.create-cover-result__photo--profile
              img#profilePreviewProfile(src=normal)
            .create-cover-result__title
              = _t("profilePhotoEditor", "text.profile_photo")
          .create-cover-result
            .create-cover-result__photo.create-cover-result__photo--search-result
              img#profilePreviewSearch(src=normal)
            .create-cover-result__title
              = _t("profilePhotoEditor", "text.search_result")
        .drag-drop-pop_up__create-cover
          .drag-drop-pop_up__create-cover__main-photo
            img#profilePhotoImg(src=normal alt="")
          .drag-drop-pop_up__create-cover__button-wrap
            a.button-set-general(data-save)
              = _t("profilePhotoEditor", "button.set_as_general")