.b-tabs {
  display:block;
  ._clearfix;
}

.b-tab {
  float:left;
  height:27px;
  position:relative;
  line-height:29px;
  color:@user-text_tab;
  margin:2px 2px 0 12px;
  cursor:pointer;
  padding-left:12px;
  ._transition(color 0.2s);
}
.b-tab:first-child {
  margin-left:0;
}
.b-tab:after {
  content:'';
  position:absolute;
  background: @img_url-sprite-old no-repeat 0 -300px;
  width:36px;
  height:29px;
  right:-36px;
  top:-1px;
  z-index:3;
}

.b-tab.current {
  background:@user-feature_bg;
  color:@user-text_tab_current;
  z-index:4;
  height:28px;
}

.b-tab.current:after {
  background-position:-40px -300px;
}

.b-tab .b-counter{
  color:@user-text_tab;
}
.b-tab .b-counter-new {
  color:@user-text_tab_current;
	margin:0 0 0 3px;
}
.b-tab .b-counter:before {
  content:'| ';
  color:@user-border;
}


.b-tab-content {
  display:none;
}

.b-tab-content.current {
  display:block;
}