.w-user-profile {
  padding: 0;
  min-width: 720px;
  position: relative;
  &:after {
    height: 70%;
    position: absolute;
    top: 0;
    left: -122px;
    width: 50%;
    border-right: 1px solid @user-block_border;
    margin-top: 120px;
  }
  ._clearfix;
  .pattern-bg {
    &:before, &:after {
      top: 180px;
    }
  }
  .sidebar {
    padding-top: 25px;
  }
  .content-main {
    position: relative;
    z-index: 10;
    margin: 0 auto;
    clear: both;
  }
  .content-top {
    margin: 0 auto;
    width: auto;
    .content-settings {
      margin-right: 0;
    }
  }
  .main-column {
    ._clearfix;
    position: relative;
  }
  .b-user-profile {
    max-width: 959px;
    margin: 0 auto;
  }
  .main-column,
  .content-settings {
      padding: 0 40px;
    }
  .b-screenname {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 26px;
    line-height: 30px;
    .screenname {
      display: inline-block;
      color: @user-screenname_text;
      margin: 0 20px 10px -2px;
    }
    .status {
      position: relative;
      top: -5px;
      display: inline-block;
      width: 8px;
      height: 8px;
      ._radius(8px);
      margin-left: -16px;
      margin-right: 30px;
      &.online {
        background-color: @user-text_online;
      }
      &.recently {
        background-color: @user-text_online_rec;
      }
    }
  }
  .b-features {
    display: inline;
    .item {
      position: relative;
      display: inline-block;
      vertical-align: top;
      margin: 0 9px 10px 0;
      background: @user-feature_bg;
      ._radius();
      font-size: 16px;
      font-family: @user-font_600;
      font-weight: 600;
      line-height: 30px;
      padding: 0px 10px;
      outline: none;
      text-align: center;
      min-width: 40px;
      height: 30px;
      ._box-sizing;
      color: @user-text_def_dark;
      text-transform: uppercase;
      letter-spacing: 0.025em;
      cursor: pointer;
      &.trusted {
        z-index: 25;
      }
      &:hover {
        background: fade(@user-feature_bg, 75%);
        .b-tooltip {
          ._opacity(1);
          visibility: visible;
        }
      }
      &.disabled {
        cursor: default;
        &:hover {
          background: fade(@user-feature_bg, 60%);
        }
      }
    }
    .b-tooltip {
      ._radius(3px);
      ._opacity(0);
      ._transition();
      ._shadow(0 4px 15px fade(@black, 10%));
      visibility: hidden;
      position: absolute;
      left: 100%;
      margin-left: 8px;
      background: @white;
      padding: 8px 10px;
      text-transform: none;
      font: 12px/18px @font-family-def;
      position: absolute;
      top: -3px;
      min-width: 130px;
      a {
        display: block;
        color: @theme-color;
        &:hover {
          text-decoration: underline;
        }
      }
      &:before {
        border: 7px solid transparent;
        border-right-color: @white;
        content: "";
        position: absolute;
        right: 100%;
        top: 10px;
      }
    }
  }
  .user-info-block {
    position: relative;
    z-index: 10;
    margin-top: 20px;
    width: 52%;
    display: inline-block;
    vertical-align: top;
    float: left;
    &.block_photos {
      margin-top: 0;
    }
    ._box-sizing;
     padding: 0 40px 20px 0;
     &:first-child {
       padding-top: 35px;
     }

    ._blur(0);
    &.table {
      display: inline-table;
    }
    &.right-column {
      position: relative;
      z-index: 4;
      width: 48%;
      float: right;
      padding-left: 40px;
      padding-right: 0;
      border: 0;
    }
  }
  .b-user-photo {
    display: table-cell;
    position: relative;
    float: left;
    width: 159px;
    height: 159px;
    margin: 0 20px 20px 0;
    z-index: 10;
    &.album {
      .image-holder {
        width: 800px;
        height: 100%;
        margin-left: -400px;
        position: absolute;
        top: 0;
        left: 50%;
      }
      img {
        width: auto;
        height: 100%;
        margin: 0 auto;
        display: block;
      }
    }
    &.blurred-heavy, &.blurred {
      &:hover {
        .naughty-menu {
          display: block;
        }
        .b-blur-message {
          display: none;
        }
      }
      &.album {
        .image-holder .photo {
          top: -8%;
          left: -15px;
          width: auto;
          height: 116%;
        }
      }
      .image-holder .photo {
        position: relative;
        top: -8%;
        left: -8%;
        width: 116%;
        height: 116%;
      }
      .overlay {
        background: fade(@user-blur_overlay_bg, 50%);
      }
    }
    &.blurred-heavy {
      .switcher {
        width: 100%;
        .switcher-cell {
          width: 100%;
          &:first-child {
            display: none;
            &+.switcher-cell {
              display: none;
            }
          }
          a {
            white-space: normal;
          }
        }
      }
      .image-holder .photo {
        ._blur(18);
      }
      .b-blur-message {
        display: block;
      }
      .image-holder {
        position: relative;
        .photo {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      /*IE10 hack*/
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .image-holder {
          position: relative;
          .photo {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            background: fade(@user-blur_overlay_bg, 95%);
          }
        }
      }
      /*IE10 hack end*/
    }
    &.blurred {
      .switcher {
        width: 100%;
        .switcher-cell {
          width: 100%;
          &:first-child {
            display: none;
            &+.switcher-cell {
              &+.switcher-cell {
                display: none;
              }
            }
          }
          a {
            white-space: normal;
          }
        }
      }
      .image-holder .photo {
        ._blur(10);
      }
      .b-blur-message {
        display: block;
      }
      .image-holder {
        position: relative;
        .photo {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      /*IE10 hack start*/
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .image-holder {
          position: relative;
          .photo {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            background: fade(@user-blur_overlay_bg, 90%);
          }
        }
      }
      /*IE10 hack end*/
    }
    .image-holder {
      height: 159px;
      a {
        display: block;
        overflow: hidden;
        ._blur(0);
      }
    }
    img {
      width: 100%;
      height: auto;
    }
    .naughty-menu {
      .description {
        padding: 0;
        margin-bottom: 3px;
        font-size: 9px;
      }
      .switcher-cell {
        display: block;
        margin-left: 0;
      }
    }
  }
  .naughty-menu {
    top: 0;
    bottom: 40px;
  }
  .image-holder {
    height: 100%;
    width: 100%;
    position: relative;
    background: url(~"@{img_url}/loader.gif") no-repeat center;
  }
  .b-photos-count {
    ._radius(5px);
    display: block;
    vertical-align: top;
    position: absolute;
    z-index: 3;
    right: 2px;
    bottom: 42px;
    min-width: 26px;
    height: 18px;
    padding: 4px;
    font: 600 12px/18px @user-font_600;
    text-align: center;
    color: @text-def-dark;
    background: fade(black, 60%);
    &:before {
      display: inline-block;
      position: absolute;
      z-index: -1;
      top: 2px;
      left: 5px;
      content: "";
      ._sprite(@photo-count);
    }
  }
  .overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .b-user-data {
    vertical-align: top;
    position: relative;
    top: -4px;
    z-index: 5;
    overflow: hidden;
    .data-wrap {
      padding-bottom: 15px;
      div {
        word-break: break-word;
      }
    }
    .b-user-details {
      margin-bottom: 0;
    }
  }
  .b-btn-activity {
    ._box-sizing;
    height: 40px;
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 5px 0;
    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      left: 0;
      height: 100%;
      bottom: auto;
      z-index: 1;
      background: fade(@user-btn_activity_bg, 60%);
    }
  }
  .b-btn-activity-grid {
    display: inline-block;
    position: relative;
    z-index: 2;
    ._box-sizing();
  }
  .btn-activity {
    ._radius(30px);
    ._box-sizing(content-box);
    border: 2px solid fade(@user-btn_activity_border, 70%);
    ._sprite-image(@user-activity-message);
    ._sprite-width(@user-activity-message);
    ._sprite-height(@user-activity-message);
    background-color: transparent;
    margin: 0 8px;
    outline: none;
    ._opacity(.7);
    text-indent: -9999px;
    .alternate, .default {
      display: none;
    }
    &:hover {
      ._opacity(1);
      border-color: @user-btn_activity_border;
      .b-dropdown-menu {
        text-indent: 0;
         display: block;
        z-index: 1;
        font-size: 12px;
        padding: 7px 10px;
        width: 120px;
        ._box-sizing;
        top: 100%;
        left: 23px;
        margin-top: 6px;
        text-align: left;
        position: absolute;
        background: @white;
        ._radius(3px);
        color: @user-text_def_dark;
        ._shadow(0 10px 20px fade(@black, 20%));
        &:before {
          content: "";
          display: inline-block;
          width: 0;
          height: 0;
          border: 6px solid transparent;
          border-left: 6px solid @white;
          position: absolute;
          bottom: 100%;
          margin-bottom: -6px;
          left: 0;
        }
      }

    }
    &.active {
      border-color: @user-highlight_bg;
      background-color: @user-highlight_bg;
      ._opacity(.9);
      &:hover {
        ._opacity(1);
      }
    }
    &:hover,
    &.active:active {
      &.btn-message {
        ._sprite-position(@user-activity-message-active);
      }
      &.btn-wink {
        ._sprite-position(@user-activity-wink-active);
      }
    }
    &.btn-message {
      ._sprite-position(@user-activity-message);
    }
    &.btn-favorite {
      ._sprite-position(@user-activity-favorite);
      &.active {
        ._sprite-position(@user-activity-favorite-active);
        &:hover {
          ._sprite-position(@user-activity-favorite-remove);
        }
      }
    }
    &.btn-wink {
      ._sprite-position(@user-activity-wink);
    }
    &.waiting {
      ._opacity(1);
      ._sprite-position(@user-activity-favorite-waiting);
      border: 2px solid @user-waiting_border;
      &:hover {
        cursor: default;
      }
    }
  }
  .photos-upgrade-banner {
    display: none;
    position: relative;
    width: 100%;
    z-index: 5;
    padding: 19px 20px;
    margin-bottom: 1%;
    ._clearfix;
    ._box-sizing;
    background: @user-upgrade_banner_bg;
    font-size: 16px;
    line-height: 20px;
    .title {
      display: block;
      position: relative;
      top: 10px;
      margin-bottom: 10px;
      color: @user-text_def_dark;
    }
    a {
      width: 100%;
    }
    .btn {
      white-space: normal;
      padding: 12px 20px;
      width: 100%;
      margin: 20px 0 0 0;
      background: @user-btn_upgrade;
    }
    &:before {
      content: '';
      ._sprite(@user-photo-upgrade);
      display: inline-block;
      float: left;
      margin: 3px 10px 0 0;
    }
  }
  .photos-upgrade-banner {
    background: @user-upgrade_banner_bg;
  }
  .photo-wrap {
    position: relative;
    font-size: 0;
    line-height: 0;
    &.one-photo {
      .photos {
        a {
          width: 100% !important;
          .image-holder {
            img {
              height: 100%;
              display: block;
              margin: 0 auto;
            }
          }
        }
      }
      .naughty-menu a {
        width: auto !important;
      }
    }
    .naughty-menu {
      display: block;
      position: relative;
      top: 0;
      left: 0;
      background: none;
      padding: 0;
      margin-bottom: 3px;
      a {
        height: 30px;
        padding: 8px 10px 0px;
        width: auto;
        min-width: 49px;
      }
      .description {
        color: @user-text_def_dark;
        padding: 0;
      }
    }
    .switcher {
      float: left;
      margin-right: 11px;
    }
    .switcher-cell {

    }
    .description {
      text-align: left;
      margin-left: 240px;
    }
    .photo-item {
      background: fade(@user-blur_overlay_bg, 0%) no-repeat left 25%;
      background-size: cover;
      display: block;
      float: left;
      max-height: 400px;
      overflow: hidden;
      position: relative;
      &:hover {
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          z-index: 2;
          background: fade(@user-image_overlay_bg, 30%);
        }
      }
    }
    .b-blur-message {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -6px 0 0 -40%;
      width: 80%;
      text-align: center;
      font-size: 12px;
      line-height: 15px;
    }
    .photo-holder {
      float: left;
      position: relative;
      background: none !important;
      overflow: hidden;
      &.blurred-heavy, &.blurred {
        a {
          background: fade(@user-blur_overlay_bg, 0%) no-repeat left 25%;
          background-size: cover;
          overflow: hidden;
          &:hover {
            &:after {
              display: none;
            }
          }
        }
        .b-blur-message {
          display: block;
        }
      }
      &.blurred-heavy {
        a {
          ._blur(18);
          img {
            ._blur(18);
          }
          /*IE10 hack*/
          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            position: relative;
            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 2;
              background: fade(@user-blur_overlay_bg, 95%);
            }
          }
          /*IE10 hack end*/
        }
      }
      &.blurred {
        a {
          ._blur(10);
          /*IE10 hack start*/
          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            position: relative;
            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 2;
              background: fade(@user-blur_overlay_bg, 90%);
            }
          }
          /*IE10 hack end*/
        }
      }
    }
    a {
      position: relative;
      display: inline-block;
      .image-holder {
        position: relative;
        height: 100%;
        max-height: 500px;
        overflow: hidden;
        display: block;
        background: fade(@white, 40%);
        &:hover {
          &:after {
            content: '';
            position: absolute;
            display: block;
            z-index: 2;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: fade(@user-image_overlay_bg, 10%);
          }
        }
      }
      /*Demo-classes. Delete after development*/
      &.photo1 {
        height: 152px;
        width: 32.4%;
      }
      &.photo2 {
        height: 152px;
        width: 24.2%;
      }
      &.photo3 {
        height: 152px;
        width: 43.3%;
      }
      &.photo4 {
        height: 152px;
        width: 53%;
      }
      &.photo5 {
        height: 152px;
        width: 47%;
      }
      &.photo6 {
        height: 268px;
        width: 58%;
      }
      &.photo7 {
        height: 268px;
        width: 42%;
      }
      /*End of Demo-classes. Delete after development*/
      &.last-in-row {
        padding-right: 0;
      }
    }
  }


  .b-user-details {
    p {
      margin-bottom: 8px;
      &.cut {
        display: block;
      }
      &.large {
        display: block;
      }
      &.cut + .large {
        display: none;
      }
    }
    a {
      white-space: nowrap;
    }
  }
  .b-details-title, .b-heading {
    color: @user-text_def_dark;
    font-family: @user-font_600;
    text-transform: uppercase;
    letter-spacing: 0.025em;
  }
  .b-more-link {
    text-decoration: none;
    color: @user-text_more_link;
    margin: 0;
    .default {
      display: inline;
    }
    .alternate {
      display: none;
    }
    &.active {
      .default {
        display: none;
      }
      .alternate {
        display: inline;
      }
    }
  }

  .personal-info, .looking-for {
    padding-bottom: 11px;
    margin-top: -5px;
    border-bottom: 1px solid fade(@user-data_border, 30%);

    .b-details-title {
      text-transform: none;
      color: @user-text_def_light;
      font-family: @user-font_300;
    }
  }
  .looking-for {
    margin: -30px 0 40px -2px;
  }
  .personal-info {
    margin-top: 20px;
    margin-bottom: -14px;
    padding-bottom: 0;
    border: none;
  }
  .b-table {
    padding: 14px 0 0 0;
    text-align: center;
    position: relative;
    left: -15px;
  }
  .b-column-wrap {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 31%;
    ._box-sizing;
    padding: 58px 0 0 0;
    text-align: left;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
    }
    &.body-info {
      &:before {
        ._sprite(@profile-info-male);
      }
      &.female {
        &:before {
          ._sprite-position(@profile-info-female);
        }
      }
    }
    &.social-info {
      &:before {
        ._sprite(@profile-info-social);
      }
    }
    &.outlook-info {
      &:before {
        ._sprite(@profile-info-outlook);
      }
    }
  }
  .data-single {
    margin-bottom: 10px;
    span {
      display: block;
    }
  }
  .b-data-wrap {
    padding-top: 12px;
    /*font-size: 0;
    line-height: 0;*/
    .data-single {
      display: inline-block;
      vertical-align: top;
      width: 31%;
      font-size: 16px;
      line-height: 20px;
    }
  }
  .upgrade-banner {
    display: none;
    background: @user-feature_bg;
    padding: 15px 20px 13px 70px;
    margin-bottom: 18px;
    margin-top: 16px;
    font-family: @user-font_300;
    font-weight: normal;
    line-height: 20px;
    position: relative;
    ._clearfix;
    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 20px;
      margin: auto;
      margin-right: 10px;
      ._sprite(@profile-looking-for);
    }
    .banner-holder {
      display: table;
    }
    .title {
      text-align: left;
      display: table-cell;
      vertical-align: middle;
      padding-right: 10px;
    }
    .btn {
      margin-left: 15px;
      padding: 13px 20px 11px;
      background: @user-btn_upgrade;
      max-width: 160px;
      display: table-cell;
      vertical-align: middle;
    }
  }
  .looking-for {

  }
}

/*--------------------------------account-free----------------------------------*/

.w-user-profile {
  &.user-free {
    .upgrade-banner {
      display: block;
    }
    .photos-upgrade-banner {
      display: block;
    }
    .photo-wrap {
      .photo-item {
        ._blur(18);
        &:hover {
          &:after {
            display: none;
          }
        }
        /*IE10 hack*/
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          position: relative;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            background: fade(@user-blur_overlay_bg, 92%);
          }
        }
        /*IE10 hack end*/
      }
      a {
        overflow: hidden;
        .image-holder {
          cursor: default;
        }
        .image-holder {
          ._blur(18);
        }
      }
    }
    .looking-for {
      .b-data-wrap {
        display: none;
      }
      .upgrade-banner {
        display: block;
      }
    }
  }
}

/*------------------------Media Queries-------------------------*/

@media (max-width: 1149px) {
  .w-user-profile {

    &:after {
      display: none;
    }
    .b-user-profile {
      max-width: 420px;
    }
    .user-info-block {
      padding-bottom: 25px;
      width: 100%;
      padding-right: 0;
      float: none;
      &:first-child {
        padding-bottom: 30px;
      }
      &.right-column {
        width: 100%;
        float: none;
        padding-left: 0;
        padding-top: 0;
      }
    }
  }
}
@media (max-width: 1060px) {
  .sidebar, .sidebar-holder, .pattern-bg {width: 220px;}
  .content-settings, .main-column {margin-right: 220px;}
}



.ie9 {
  .w-user-profile {
    .photo-wrap {
      .photo-holder {
        position: relative;
        &.blurred-heavy {
          a {
            filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
            &:before {
              content: "";
              position: absolute;
              right: 0;
              left: 0;
              top: 0;
              bottom: 0;
              background: fade(@black, 90%);
              z-index: 1;
            }
          }
        }
        &.blurred {
          a {
            filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
            &:before {
              content: "";
              position: absolute;
              right: 0;
              left: 0;
              top: 0;
              bottom: 0;
              background: fade(@black, 85%);
              z-index: 1;
            }
          }
        }
      }
    }
    &.user-free {
      .looking-for .upgrade-banner {
        margin-top: 5px;
      }
      .photo-wrap {
        .photo-holder {
          position: relative;
          a {
            filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
            &:before {
              content: "";
              position: absolute;
              right: 0;
              left: 0;
              top: 0;
              bottom: 0;
              background: fade(@black, 90%);
              z-index: 1;
            }
          }
        }
      }
      .photos img {
        position: relative;
        top: 0;
        left: 0;
      }
    }
    .b-user-photo {
      &.blurred {
        .image-holder {
          &:before {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            background: fade(@black, 85%);
            z-index: 1;
          }
          .photo {
            position: relative;
            top: 0;
            left: 0;
            filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
          }
        }
      }
      &.blurred-heavy {
        .image-holder {
          &:before {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            background: fade(@black, 90%);
            z-index: 1;
          }
          .photo {
            position: relative;
            top: 0;
            left: 0;
            filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
          }
        }
      }
    }
  }
}
.usertop-banner{
  height: 100px;
}
@media (min-width: 1360px) {
  .content-top .content-settings, .main-column {margin-right: 280px;}
  .sidebar, .sidebar-holder, .pattern-bg {width: 280px;}
  .footer {right: 280px;}
}

@media (min-width: 1330px) and (max-width: 1359px) {
  .w-my-profile:after, .w-user-profile:after {
    left: -107px;
  }
  .content-top .content-settings, .main-column {margin-right: 250px;}
  .sidebar, .sidebar-holder, .pattern-bg {width: 250px;}
  .footer {right: 250px;}
}
@media (min-width: 1150px) and (max-width: 1329px) {
  .w-my-profile:after, .w-user-profile:after {
    left: -92px;
  }
  .content-top .content-settings, .main-column {margin-right: 220px;}
  .sidebar, .sidebar-holder, .pattern-bg {width: 220px;}
  .footer {right: 220px;}
}
@media (min-width: 825px) and (max-width: 1149px) {
  .content-top .content-settings, .main-column {margin-right: 280px;}
  .sidebar, .sidebar-holder, .pattern-bg {width: 280px;}
  .footer {right: 280px;}
}
@media (max-width: 824px) {
  .content-top .content-settings, .main-column {margin-right: 220px;}
  .sidebar, .sidebar-holder, .pattern-bg {width: 220px;}
  .sidebar-widget .btn.short {width: 130px;}
  .footer {right: 220px;}
}



.ie8 {
  .w-user-profile {
    &.user-free {
      .looking-for .upgrade-banner {
        margin-top: 5px;
      }
      .photos img {
        position: relative;
        top: -10px;
        left: -10px;
      }
    }
    .b-features .item {
      background: @user-feature_bg_ie8;
    }
    .photos-upgrade-banner, .looking-for .upgrade-banner {
      background: @user-ie8_banner_bg;
    }
    .b-user-photo {
      &.blurred {
        .image-holder .photo {
          position: relative;
          top: -10px;
          left: -10px;
        }
      }
      &.blurred-heavy {
        .image-holder .photo {
          position: relative;
          top: -18px;
          left: -18px;
        }
      }
    }
  }
}
//styles for safari 5-6
_::-moz-svg-foreign-content, :root .w-user-profile .b-user-photo.blurred .image-holder:before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: fade(@black, 85%);
  z-index: 1;
}
_::-moz-svg-foreign-content, :root .w-user-profile .b-user-photo.blurred-heavy .image-holder:before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: fade(@black, 90%);
  z-index: 1;
}
_::-moz-svg-foreign-content, :root .w-user-profile.user-free .photo-wrap .photo-item:before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: fade(@black, 90%);
  z-index: 1;
}
_::-moz-svg-foreign-content, :root .w-user-profile .photo-wrap .photo-holder.blurred-heavy a:before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: fade(@black, 90%);
  z-index: 1;
}
_::-moz-svg-foreign-content, :root .w-user-profile .photo-wrap .photo-holder.blurred a:before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: fade(@black, 85%);
  z-index: 1;
}