@user-font_300: 'dosisregular', Arial, helvetica, sans-serif;
@user-font_600: 'dosissemibold', Arial, helvetica, sans-serif;

@user-text_def: #333;
@user-text_def_dark: #1f2226;
@user-text_def_light: #999;

@user-btn_upgrade: #f34134;

@user-text_online: #52cc52;
@user-text_online_rec: #ff7733;
@user-text_avatar: #fff;
@user-screenname_text: #1f2226;
@user-feature_bg: #e6e6e6;
@user-feature_bg_ie8: #d7cfd0;
@user-block_border: #ccc;
@user-blur_overlay_bg: #000;
@user-photo_bg: #000;
@user-text_more_link: #ff7733;
@user-data_border: #fff;
@user-upgrade_banner_bg: #e6e6e6;
@user-image_overlay_bg: #fff;
@user-text_tab: #797979;
@user-text_tab_current: #ff7575;
@user-border: #dddddd;
@user-waiting_border: #505055;


@user-ie8_banner_bg: #f4f3f2;
@user-btn_activity_bg: #000;

@user-btn_activity_border: #fff;
@user-highlight_bg: #ff7733;