/* popup */
#popup.loading {
  .b-loader {
    ._transition(opacity .2s ease .2s);
    visibility: visible;
    ._opacity(1);
  }
}

#layoutPopup {
  position: absolute;
  z-index: 1200;
}

.arcticmodal-container_i2 {
  #layoutPopup {
    position: static;
  }
}

.b-side-feedback { z-index: 2000 !important; }

.b-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 700;
  overflow: auto;
  width: 100%;
  height: 100%;
  background: fade(@popupSimple-popup_overlay, 75%);
}

.b-popup-table {
  display: table;
  width: 100%;
  height: 100%;
}

.b-loader {
  ._transition(.2s);
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  ._opacity(0);
  &:after {
    position: absolute;
    top: 48%;
    left: 48%;
    display: block;
    width: 31px;
    height: 31px;
    background: url(~"@{popupSimple-img_url}/small-photo-loader.gif") no-repeat;
    content: '';
  }
}

.b-popup-cell {
  display: table-cell;
  vertical-align: middle;
}

.b-popup {
  ._radius(2px);
  ._shadow(0 8px 20px fade(@popupSimple-shadow, 40%));
  ._clearfix;
  background: @popupSimple-popup_bg;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  p {
    margin: 10px 0;
  }
  .title {
    font: 20px/26px @popupSimple-font_400;
  }
  &.contact-us {
    padding: 15px 20px 20px;
    width: 440px;
    p {
      font-size: 20px;
      line-height: 24px;
    }
    .btn {
      width: auto;
      float: right;
      margin-top: 16px;
      padding: 0 15px;
      height: 35px;
      line-height: 25px;
    }
  }
}


/*-------------- funnel ---------------------------*/
  .b-popup-funnel {
    width: 615px;
    padding: 0;
    ._box-sizing();
    ._clearfix();
    .btn-close {
      &:before {
        background-position: -217px -139px;
      }
    }
    .header {
      ._radius(2px 2px 0 0);
      ._gradient(@popupSimple-header_start, @popupSimple-header_end);
      font-size: 0;
      padding: 0 20px;
      .title {
        line-height: 40px;
          font-size: 18px;
        text-align: left;
        display: block;
        color: @popupSimple-text_header;
      }
    }
  }

/*--------------Success ---------------------------*/
.b-popup.b-popup-success {
  width: 395px;
  padding: 15px 26px 16px 20px;
  position: relative;
  margin: auto;
  .meta-button-wrap {
    top: 0px;
    right: 0px;
  }
  .title {
    white-space: normal;
    height: auto;
    line-height: 26px;
  }
  .btn-row {
    text-align: center;
    margin: 34px 0 36px 0;
    .btn {
      width: auto;
      padding: 0 22px;
    }
  }
  .bolder {
    display: block;
    font-weight: 700;
  }
  p {
    line-height: 18px;
  }
}
.b-popup.b-popup-unsuccess {
  &:extend(.b-popup.b-popup-success all);
}

.b-popup-funnel {
  .b-drag-drop {
    .title {
      float: none;
      padding-left: 10px;
      width: auto;
      min-width: 230px;
      max-width: 260px;
    }

    .row .cell {
      vertical-align: middle;
    }
  }
}
