@popupSimple-img_url: "../images";
@popupSimple-font_400: 'Open Sans', Arial, helvetica, sans-serif;

@popupSimple-popup_overlay: #000;
@popupSimple-shadow: #000;
@popupSimple-popup_bg: #fff;

@popupSimple-header_start: #1b1b1b;
@popupSimple-header_end: #1b1b1b;
@popupSimple-text_header: #fff;