/*animation*/ 
._transform(@tm: transform .1s) {
  -webkit-transform: @tm;
  -ms-transform: @tm;
  transform: @tm;
}

._transform-origin(@to) {
  -webkit-transform-origin: @to;
  -ms-transform-origin: @to;
  transform-origin: @to;
}

._animation(@a) {
  -webkit-animation: @a;
  animation: @a;
}
@-webkit-keyframes move {
  from {
    -webkit-transform: translate(-10px, 10px);
  }
  50% {
    -webkit-transform: translate(10px, -10px);
  }
  to {
    -webkit-transform: translate(-10px, 10px);
  }   
}
@keyframes move {
  from {
    -ms-transform: translate(-10px, 10px);
    transform: translate(-10px, 10px);
  }
  50% {
    -ms-transform: translate(10px, -10px);
    transform: translate(10px, -10px);
  }
  to {
    -ms-transform: translate(-10px, 10px);
    transform: translate(-10px, 10px);
  }  
}

@-webkit-keyframes moveback {
  from {
    -webkit-transform: translate(-10px, -10px);
  }
  50% {
    -webkit-transform: translate(10px, 10px);
  }
  to {
    -webkit-transform: translate(-10px, -10px);
  }   
}
@keyframes moveback {
  from {
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
  50% {
    -ms-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
  }
  to {
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }  
}

/*MAIN STYLES*/
@img_url_decline: "@{img_url}/decline";
@sprite_decline_url: "@{img_url_decline}/sprite_decline.png";
@decline_slogan_color: #4c4c4c;
@decline_slogan_color_alt: #808080;
@decline-nav_a_color: #bdc4c9;
@decline-nav_a_color_h: #242a33;
@decline-more_alt: #e83434;
@decline-more: @decline_slogan_color_alt;
@decline-more_alt2: @decline-nav_a_color_h;
@decline-bottom_signup_wrap_bg: @decline-nav_a_color_h;
@decline-arrow_color: @decline-nav_a_color_h;
@decline-slider_orange_text_color: #ef5d18;
@decline-slider_pink_text_color: #d8325a;
@decline-asia_block_bg: #ef533a;
@decline-text_white: #fff;


@decline-one_click_btn_bg: #f31b62;
@decline-one_click_btn_bg_hover: lighten(@decline-one_click_btn_bg, 10%);
@decline-green_btn_bg: #9fc94c;
@decline-green_btn_bg_hover: darken(@decline-green_btn_bg, 10%);

._opacity(@o: 1) {
  @ieo: @o*100;
  -ms-filter: ~"alpha(opacity=@{ieo})";
  filter: ~"alpha(opacity=@{ieo})";
  opacity: @o;
}

a {
  text-decoration: none;
}
.b-decline {
  font-family: Arial;
  position: relative; 
  min-height: 100%;
  line-height: normal;
  .bbw_block, .asia_block, .ebony_block, .latina_block, .bottom_signup_wrap{ margin: 0 -20px;} 
}
.b-decline-note {
  text-align: center;
  vertical-align: middle;
  font-size: 22px;
  color: @text-light;
  margin: 10px 0 0;
  &:before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 36px;
    background: url("@{sprite_decline_url}") no-repeat -260px -90px;
    vertical-align: middle;
    margin-right: 15px;
  }
}

/*header*/
.b-decline-header {
  padding: 20px 0 60px; 
  min-height: 60px; 
  background: url("@{img_url_decline}/header_decline.png") no-repeat center bottom;
  margin-top: -3px;
}
.center {
  width: 950px; 
  margin: 0 auto; 
  position: relative; 
}
.slogan {
  font-size: 24px; 
  text-transform: uppercase; 
  color: @decline_slogan_color;
  font-weight: bold; 
  .grey {
    color: @decline_slogan_color_alt;
    text-transform: none; 
  }
}

/*navigation*/
.b-decline-nav {
  position: fixed; 
  top: 200px; 
  right: 20px; 
  z-index: 200; 
  height: 400px; 
  li {
    width: 120px; 
    margin-bottom: 7px; 
    text-align: center;
    span {
      width: 69px; 
      height: 69px; 
      display: block;  
      margin: 0 auto;
      ._opacity(.1); 
      ._transition(all 0.3s ease);
    }
    a {
      color: @decline-nav_a_color;
      font-family: Arial, sans-serif; 
      text-decoration: none; 
      font-style: italic;
      text-transform: uppercase;
      &:hover,
      &.active {
        color: @decline-nav_a_color_h;
        span {
          ._opacity(1);
        }
      }
    }
    &.bbw {
      span {
        background: url("@{img_url_decline}/decline-nav_bg.png") no-repeat -71px 0;
      }
    }
    &.asia {
      span {
        background: url("@{img_url_decline}/decline-nav_bg.png") no-repeat -71px -90px;
      }
    }
    &.ebony {
      span {
        background: url("@{img_url_decline}/decline-nav_bg.png") no-repeat -71px -180px;
      }
    }
    &.latina {
      span {
        background: url("@{img_url_decline}/decline-nav_bg.png") no-repeat -71px -270px;
      }
    }
  }
}

/*bbw_block*/
.bbw_block {
  height: 480px; 
  position: relative; 
  margin-top: -10px;
  .more {
    font-style: italic; 
    color: @decline-more;
    font-size: 18px; 
    text-align: center; 
    margin-top: -20px; 
    position: relative; 
    z-index: 100;
    span {
      color: @decline-more_alt;
    }
  }
  .green_btn {
    top: 250px; 
    right: 80px; 
    z-index: 10; 
    position: absolute
  }
}

.animate_bbw {
  position: absolute; 
  left: 0; 
  top: 200px; 
  z-index: 1000; 
  width: 200px; 
  height: 200px; 
}
.arrow_bbw {
  left: 390px; 
  top: 225px; 
  width: 85px;
  height: 72px; 
  font-size: 15px;
  line-height: 54px;
  font-weight: bold;
  text-align: center;
  background: url("@{img_url_decline}/arrow_bbw.png") no-repeat 0 0;
  ._animation(move 2s infinite ease-in-out);
  padding: 32px 16px 32px 44px;
  span {
    content: "";
    display: inline-block;
    line-height: 18px;
    vertical-align: middle;
  }
}

/* slider bbw */
.bbw_slider_wrap {
  position: relative; 
  height: 460px;
  .slider_btn {
    position: absolute;
    z-index: 2;
    top: 125px;
    display: block;
    width: 19px;
    height: 120px;
  }
}
.bbw_slider {
  width: 950px; 
  margin: 0 auto; 
  overflow: hidden; 
  ul {
    width: 5000px; 
    ist-style: none; 
  }
  li {
    display: none; 
    float: left; 
    width: 950px; 
    list-style: none;
    &:first-child {
      display: block;
    }
  }
  .slide_img {
    float: left;
    margin: 0 0 0 35px;
    width: 330px;
    height: 461px;
    &.slide_1 {
      background: url("@{img_url_decline}/t_slide1.png") no-repeat 0 0;
    }
    &.slide_2 {
      background: url("@{img_url_decline}/t_slide2.png") no-repeat 0 0;
    }
    &.slide_3 {
      background: url("@{img_url_decline}/t_slide3.png") no-repeat 0 0;
    }
  }
  .slide_text {
    padding-top: 70px;
    text-align: center;
    padding-right: 30px;
    &.text2 {
      p {
        &.orange {
          font-size: 34px;
          line-height: 35px;
        }
      }
    }
    &.text3 {
      padding-top: 90px;
      p {
        font-size: 27px;
        &.orange {
          font-size: 30px;
          line-height: 37px;
        }
      }
    }
    p {
      color: @decline_slogan_color;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 22px;
      line-height: 1.1;
      &.orange {
        font-size: 42px;
        line-height: 48px;
        text-transform: uppercase;
        color: @decline-slider_orange_text_color;
        font-weight: bold;
      }
    }
  }
}
.prev_bbw_btn {
  left: 0;
  background: url("@{sprite_decline_url}") no-repeat 0 0;
}
.next_bbw_btn {
  right: 0;
  background: url("@{sprite_decline_url}") no-repeat -26px 0;
}
/*asia_block*/
.asia_block {
  height: 530px; 
  background: @decline-asia_block_bg url("@{img_url_decline}/bg2_a.jpg") no-repeat center bottom;
  .more {
    color: @decline-text_white;
    font-size: 18px;
    text-align: center;
    font-style: italic;
    margin-top: 30px;
    span {
      color: @decline-more_alt2;
    }
  }
  .green_btn {
    top: 375px;
    right: 80px;
    z-index: 10;
    position: absolute;
  }
}
.arrow_asia {
  right: 305px;
  top: 50px;
  width: 64px;
  height: 40px;
  font-size: 11px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  background: url("@{img_url_decline}/asia_arrow.png") no-repeat 0 0;
  ._animation(moveback 2s infinite ease-in-out);
  padding: 24px 22px 32px 12px;
  span {
    content: "";
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
  }
}
.asia_slider_wrap {
  position: relative;
  height: 445px;
  margin-bottom: 40px;
  .slider_btn {
    position: absolute;
    z-index: 2;
    top: 170px;
    display: block;
    width: 19px;
    height: 120px;
  }
}
.asia_slider {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  ul {
    width: 5000px;
    list-style: none;
    li {
      display: none;
      float: left;
      width: 950px;
      list-style: none;
      &:first-child {
        display: block;
      }
    }
  }
  .slide_img {
    float: right;
    width: 471px;
    height: 460px;
    &.slide_1 {
      background: url("@{img_url_decline}/a_slide1.png") no-repeat 0 0;
    }
    &.slide_2 {
      background: url("@{img_url_decline}/a_slide2.png") no-repeat 0 0;
    }
    &.slide_3 {
      background: url("@{img_url_decline}/a_slide3.png") no-repeat 0 0;
    }
  }
  .slide_text {
    width: 450px;
    top: 150px;
    position: absolute;
    left: 90px;
    text-transform: uppercase;
    color: @decline-more_alt2;
    font-size: 23px;
    text-align: center;
    .white {
      color: @decline-text_white;
      font-size: 63px;
      line-height: 1;
      font-weight: bold;
    }
  }
  .slide_text {
    &.text2 {
      .white {
        font-size: 30px;
      }
    }
  }
  .slide_text{
    &.text3 {
      .white {
        font-size: 52px;
      }
    }
  }
}
.prev_asia_btn {
  left: 0;
  background: url("@{sprite_decline_url}") no-repeat -111px 0;
}
.next_asia_btn {
  right: 0;
  background: url("@{sprite_decline_url}") no-repeat -141px 0;
}
.ebony_block {
  height: 586px;
  background: url("@{img_url_decline}/bg2_e.jpg") no-repeat center 0;
  padding-top: 20px;
  .green_btn {
    top: 310px;
    right: 80px;
    z-index: 10;
    position: absolute;
  }
  .more {
    color: @decline_slogan_color_alt;
    font-size: 18px;
    position: relative;
    z-index: 100;
    text-align: center;
    font-style: italic;
    height: 30px;
    margin: 0 auto;
    span {
      color: @decline-more_alt;
    }
  }
}
.arrow_ebony {
  left: 95px;
  top: 240px;
  width: 123px;
  height: 62px;
  font-size: 17px;
  line-height: 62px;
  font-weight: bold; 
  text-align: center;
  background: url("@{img_url_decline}/ebony_arrow.png") no-repeat 0 0;
  ._animation(move 2s infinite ease-in-out);
  padding: 50px 54px 50px 19px;
  span {
    content: "";
    display: inline-block;
    line-height: 31px;
    vertical-align: middle;
  }
}
.ebony_slider_wrap {
  position: relative;
  height: 565px;
  margin-top: -50px;
  .slider_btn {
    position: absolute;
    z-index: 2;
    top: 285px;
    display: block;
    width: 19px;
    height: 120px;
  }
}
.ebony_slider {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  ul {
    width: 5000px;
    list-style: none;
    li {
      display: none;
      float: left;
      width: 950px;
      list-style: none;
      text-align: center;
      min-height: 660px;
      &:first-child {
        display: block;
      }
    }
  }
  .slide_img {
    margin-top: -10px;
    margin-left: 180px;
    width: 729px;
    height: 588px;
    &.slide_1 {
      background: url("@{img_url_decline}/e_slide1.png") no-repeat 0 0;
    }
    &.slide_2 {
      background: url("@{img_url_decline}/e_slide2.png") no-repeat 0 0;
    }
    &.slide_3 {
      background: url("@{img_url_decline}/e_slide3.png") no-repeat 0 0;
    }
  }
  .slide_text {
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    color: @decline_slogan_color;
    font-size: 20px;
    margin-top: -120px;
    position: relative;
    z-index: 1;
    padding: 0 100px;
    .pink {
      color: @decline-slider_pink_text_color;
      font-size: 35px;
      font-weight: bold;
    }
  }
  .slide_text{
    &.text3 {
      padding-top: 10px;
      .pink {
        font-size: 35px;
      }
    }
  }
  .slide_text{
    &.text2 {
      .pink {
        font-size: 30px;
      }
    }
  }
}
.prev_ebony_btn {
  left: 0;
  background: url("@{sprite_decline_url}") no-repeat -56px 0;
}
.next_ebony_btn {
  right: 0;
  background: url("@{sprite_decline_url}")no-repeat -83px 0;
}
.latina_block {
 background: #ececee;
  height: 695px;
  position: relative;
  padding-top: 20px;
  margin-top: -65px;
  .center {
    &:hover {
      .bg {
        ._transform-origin(122px 95px);
        ._transform(rotate(45deg));
      }
    }
  }
  .green_btn {
    top: 519px;
    left: 50%;
    margin-left: -150px;
    z-index: 10;
    position: absolute;
  }
  .mask {
    width: 950px;
	height: 610px;
	background: url("@{img_url_decline}/mask.png") no-repeat center 0;
	position: absolute;
	left: 0;
	top: 0;
  }
}
.arrow_latina {
  right: 5px;
  top: 55px;
  height: 222px;
  color: @decline-arrow_color;
  width: 219px;
  .text {
	position: absolute;
	top: 60px;
	width: 136px;
	word-break: break-all;
	left: 54px;
	height: 80px;
	font-weight: bold;
	font-size: 16px;
	line-height: 80px;
	text-align: center;
	z-index: 10;
    span {
      content: "";
      display: inline-block;
      line-height: 26px;
      vertical-align: middle;
    }
  }
  .bg {
    ._transition(all 1s ease-in-out);
    width: 219px;
    height: 222px;
    background: url("@{img_url_decline}/arrow_latina.png") no-repeat 0 0;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }
}
.latina_slider_wrap {
  position: relative;
  height: 588px;
  margin-bottom: 10px;
  margin-top: 5px;
  .slider_btn {
    position: absolute;
    z-index: 2;
    top: 270px;
    display: block;
    width: 19px;
    height: 120px;
  }
}
.latina_slider {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  ul {
    width: 5000px;
    list-style: none;
    li {
      display: none;
      float: left;
      position: relative;
      width: 950px;
      list-style: none;
      text-align: center;
      &:first-child {
        display: block;
      }
    }
  }
  .slide_img {
    width: 668px;
    height: 599px;
    margin: 0 auto;
    &.slide_1 {
      width: 703px;
      background: @white url("@{img_url_decline}/slide1.png") no-repeat 0 0;
    }
    &.slide_2 {
      background: @white url("@{img_url_decline}/slide2.png") no-repeat 0 0;
    }
    &.slide_3 {
      background: @white url("@{img_url_decline}/slide3.png") no-repeat 0 0;
    }
  }
  .slide_text {
    position: absolute;
    opacity: 0;
    text-transform: uppercase;
    padding: 0 0 0 26px;
    font-size: 19px;
    text-align: left;
    display: table;
    right: 183px;
    top: 300px;
    height: 87px;
    width: 541px;
    color: @decline-text_white;
    background: url("@{img_url_decline}/text.png") no-repeat 0 0;
    p {
      display: table-cell;
      vertical-align: middle;
      span {
        display: block;
      }
    }
  }
}
.prev_latina_btn {
  left: 0;
  background: url("@{sprite_decline_url}") no-repeat -247px bottom;
}
.next_latina_btn {
  right: 0;
  background: url("@{sprite_decline_url}") no-repeat right bottom;
}
.bottom_signup_wrap {
  height: 155px;
  background: @decline-bottom_signup_wrap_bg;
  padding-top: 45px;
  font-size: 32px;
  color: @decline-text_white;
  vertical-align: middle;
  .center {
    height: 110px;
    vertical-align: middle;
    line-height: 110px;
  }
  p {
    display: inline-block;
    vertical-align: middle;
    width: 500px;
    line-height: 40px;
  }
}
.one_click_btn {
  height: 110px;
  border: none;
  font-size: 23px;
  color: @decline-text_white;
  text-transform: uppercase;
  vertical-align: middle;
  border-radius: 6px;
  font-weight: bold;
  background: @decline-one_click_btn_bg;
  text-align: center;
  min-width: 400px;
  padding: 0 20px;
  display: inline-block;
  zoom: 1;
  float: right;
  ._transition(all 0.3s ease);
  &:hover {
    background: @decline-one_click_btn_bg_hover;
  }
}
.green_btn {
  ._shadow(inset 0 -1px 0 fade(@black, 20%));
  outline: none;
  border: none;
  background: @decline-green_btn_bg;
  color: @decline-text_white;
  font-size: 24px;
  line-height: 30px;
  border-radius: 6px;
  width: 300px;
  text-align: center;
  display: inline-block;
  padding: 20px 0;
  *display: inline;
  ._transition(all 0.5s ease);
  &:hover {
    background-color: @decline-green_btn_bg_hover;
  }
}
.arrow_animate {
  position: absolute;
  z-index: 2;
}
.arrow {
  position: absolute;
  left: 50%;
  bottom: -70px;
  width: 150px;
  height: 53px;
  margin-left: -75px;
  background: url("@{sprite_decline_url}") no-repeat 0 -151px;
  display: block;
  z-index: 1;
}
.small_arrow {
  display: inline-block;
  width: 28px;
  height: 38px;
  background: url("@{sprite_decline_url}") no-repeat -199px -49px;
  vertical-align: bottom;
  margin-bottom: -26px;
}

@media (max-width: 1250px) {
  .b-decline-nav {
    display: none;
  }
}