.b-chatrooms {
  max-width: 900px;
  margin: 80px auto 0;
  padding: 0 20px 120px;
  iframe {
    display: block;
    position: relative;
    height: 275px;
  }
  .pattern-bg {
    display: none;
  }
  &.b-chatroom-list {
    margin-top: 4px;
    padding-bottom: 46px;
    .b-tabs-holder {
      margin-top: 0;
    }
  }
  .smile-item {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 1px;
    vertical-align: top;
    &:hover {
      ._shadow(0 0 2px fade(@chatrooms-photo_bg, 60%));
      ._radius(2px);
    }
  }
  .smile-emoji {
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: url("@{img_url}/smiles.png") no-repeat;
    &[data-smile="D83DDC4E"] {
      background-position: left 0;
    }
    &[data-smile="D83DDC4D"] {
      background-position: -25px 0;
    }
    &[data-smile="D83DDE20"] {
      background-position: -50px 0;
    }
    &[data-smile="D83CDF7A"] {
      background-position: -75px 0;
    }
    &[data-smile="D83CDF82"] {
      background-position: 0 -25px;
    }
    &[data-smile="D83DDE0A"] {
      background-position: -25px -25px;
    }
    &[data-smile="D83DDE47"] {
      background-position: -50px -25px;
    }
    &[data-smile="D83DDC4F"] {
      background-position: -75px -25px;
    }
    &[data-smile="D83DDD52"] {
      background-position: 0 -50px;
    }
    &[data-smile="26C5"] {
      background-position: -25px -50px;
    }
    &[data-smile="2615"] {
      background-position: -50px -50px;
    }
    &[data-smile="D83DDE15"] {
      background-position: -75px -50px;
    }
    &[data-smile="D83DDE22"] {
      background-position: 0 -75px;
    }
    &[data-smile="D83CDF54"] {
      background-position: -25px -75px;
    }
    &[data-smile="D83DDE49"] {
      background-position: -50px -75px;
    }
    &[data-smile="D83DDC96"] {
      background-position: -75px -75px;
    }
    &[data-smile="D83DDE07"] {
      background-position: 0 -100px;
    }
    &[data-smile="D83DDC8B"] {
      background-position: -25px -100px;
    }
    &[data-smile="D83DDE06"] {
      background-position: -50px -100px;
    }
    &[data-smile="D83DDCB0"] {
      background-position: -75px -100px;
    }
    &[data-smile="D83DDCAA"] {
      background-position: 0 -125px;
    }
    &[data-smile="D83CDFB5"] {
      background-position: -25px -125px;
    }
    &[data-smile="D83DDE36"] {
      background-position: -50px -125px;
    }
    &[data-smile="D83DDC4C"] {
      background-position: -75px -125px;
    }
    &[data-smile="D83CDF39"] {
      background-position: 0 -150px;
    }
    &[data-smile="D83DDE31"] {
      background-position: -25px -150px;
    }
    &[data-smile="D83DDE04"] {
      background-position: -50px -150px;
    }
    &[data-smile="D83DDE0F"] {
      background-position: -75px -150px;
    }
    &[data-smile="D83CDF1F"] {
      background-position: 0 -175px;
    }
    &[data-smile="D83DDE0E"] {
      background-position: -25px -175px;
    }
    &[data-smile="D83DDE1B"] {
      background-position: -50px -175px;
    }
    &[data-smile="2600"] {
      background-position: -75px -175px;
    }
    &[data-smile="D83DDCAD"] {
      background-position: 0 -200px;
    }
    &[data-smile="D83DDE24"] {
      background-position: -25px -200px;
    }
    &[data-smile="D83CDF79"] {
      background-position: -50px -200px;
    }
    &[data-smile="D83DDC4B"] {
      background-position: -75px -200px;
    }
    &[data-smile="D83DDE09"] {
      background-position: 0 -225px;
    }
    &[data-smile="D83DDE1F"] {
      background-position: -25px -225px;
    }
  }
  .rooms-tabs {
    display: inline-block;
    max-width: 83%;
  }
  .chat-rules-link {
    float: right;
    max-width: 15%;
    margin: 12px 0 0 2%;
    font-size: 14px;
    line-height: 16px;
    text-decoration: underline;
    color: @chatrooms-profile-rules-link;
    &:hover {
      text-decoration: none;
    }
  }
  .link {
    ._radius();
    display: inline-block;
    position: relative;
    z-index: 0;
    margin: 0 7px 10px 0;
    padding: 10px 41px 10px 19px;
    font-family: @chatrooms-font_400;
    text-decoration: none;
    color: @chatrooms-text_def_dark;
    background: @chatrooms-tab_bg;
    &:hover {
      background: fade(@chatrooms-tab_bg, 60%);
    }
    .num {
      position: relative;
      top: -7px;
      margin-left: 3px;
      font-size: 12px;
      font-style: normal;
      line-height: 16px;
    }
    .close {
      display: block;
      position: absolute;
      top: 15px;
      right: 12px;
      cursor: pointer;
      ._sprite(@popup-close);
    }
    &.active {
      z-index: 1;
      cursor: default;
      color: @chatrooms-text_def;
      background: @chatrooms-tab_bg_active;
      &:hover {
        background: @chatrooms-tab_bg_active;
      }
      .close {
        ._sprite-position(@popup-close-highlight);
      }
    }
  }
  .b-tabs-content {
    position: relative;
    z-index: 2;
    .b-room-list {
      clear: both;
      overflow: hidden;
      padding-top: 25px;
      border-top: 1px solid @chatrooms-border;
      &:first-child {
        padding-top: 0;
        border-top: none;
      }
    }
    .b-country-chat,
    .b-international-chat {
      margin-bottom: 4px;
      padding: 30px 0 0 0;
      background: @chatrooms-chat_bg;
    }
    .b-country-chat {
      padding-bottom: 4px;
      border-bottom: 1px solid @chatrooms-border;
    }
    .rules {
      position: absolute;
      top: 31px;
      right: 0;
      color: @chatrooms-text_tab;
      &:hover {
        color: @chatrooms-text_title_hover;
      }
    }
    h3 {
      margin-bottom: 31px;
      font-size: 26px;
      line-height: 30px;
    }
  }
  .b-item {
    float: left;
    overflow: hidden;
    width: 250px;
    height: 100px;
    margin: 0 0 30px;
    padding: 0 50px 0 0;
    .title {
      font-family: @chatrooms-font_600;
      letter-spacing: .025em;
      text-transform: uppercase;
      color: @chatrooms-text_title;
      &:hover {
        color: @chatrooms-text_title_hover;
      }
    }
    .number {
      margin: 0 0 2px 0;
      font-size: 11px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: .025em;
      color: @chatrooms-title_sub-color;
      &.empty-room {
        font-weight: 400;
        color: @chatrooms-title_room-empty;
      }
    }
    p {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .b-tabs-holder {
    position: relative;
    z-index: 2;
    margin-top: -40px;
  }
  .chat-holder {
    .press-enter-holder {
      margin-top: 10px;
      color: @chatrooms-text_enter;
      input[type="checkbox"] {
        ._opacity(.8);
      }
    }
  }
  .b-tabs-holder,
  .b-country-chat,
  .b-international-chat,
  .chat-list,
  .chat-holder,
  .b-chatrooms {
    ._clearfix();
  }
  .chat-list {
    .upgrade {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 16px 0;
      font: 16px/20px @chatrooms-font_400;
      line-height: 33px;
      text-align: center;
      border-top: 1px solid @chatrooms-border;
      background: @chatrooms-banner_bg;
      .btn {
        margin: 6px 0;
        padding: 12px 30px;
        color: @chatrooms-text_def_dark;
        background: fade(@chatrooms-banner_btn_bg, 90%);
        &:hover {
          background: @chatrooms-banner_btn_bg;
        }
      }
    }
    .moderator-tab {
      width: 100%;
      margin-top: 15px;
      .main {
        td {
          background: none;
        }
      }
      .unbanned {
        td {
          background: @chatrooms-cell_bg;
        }
      }
      td {
        padding: 5px 0;
        background: @chatrooms-tab_bg;
        button {
          margin: -5px -9px 0 10px;
          padding: 2px 9px;
          text-transform: uppercase;
          color: @chatrooms-text_def_dark;
          outline: none;
          background: @chatrooms-video_button_bg;
          &:hover {
            background-color: darken(@chatrooms-video_button_bg, 4%);
          }
          &:active {
            background-color: lighten(@chatrooms-video_button_bg, 3%);
          }
        }
      }
      tr > td:first-child {
        padding-left: 20px;
      }
    }
    .moderator-tab-content {
      padding-left: 10px;
    }
    .moderator-search {
      padding-top: 9px;
      padding-left: 20px;
      letter-spacing: .025em;
      text-transform: uppercase;
      input[type="text"] {
        width: auto;
        margin: 0 10px;
        background: @chatrooms-input_bg;
      }
      button {
        padding: 10px 20px;
        color: @chatrooms-text_def_dark;
        outline: none;
        background: @chatrooms-video_button_bg;
      }
    }
    .chat-list-holder {
      overflow: hidden;
      position: relative;
      min-height: 369px;
      padding: 11px 2px 0 0;
      color: @chatrooms-text_def_dark;
      background: @chatrooms-list_bg;
      .chat-list-wrapper {
        overflow: auto;
        position: relative;
        height: 365px;
      }
    }
    .message-enter-wrap {
      position: relative;
      margin-right: 230px;
      padding: 20px;
      background-color: @chatrooms-message_bg;
    }
    .message-enter {
      ._clearfix;
      display: table;
      width: 100%;
      .input {
        display: table-cell;
        width: 84.5%;
        margin-right: 10px;
        padding-right: 10px;
        vertical-align: top;
        .input-wrap {
          ._radius();
          position: relative;
          padding: 3px 36px 3px 3px;
          background: @chatrooms-chat_bg;
          .message-input {
            overflow-x: hidden;
            overflow-y: auto;
            height: 21px;
            padding: 7px 0 6px 6px;
            resize: none;
            word-break: break-all;
            color: @chatrooms-text_def_dark;
            outline: none;
          }
        }
      }
      .submit {
        display: table-cell;
        vertical-align: top;
        .btn-send {
          position: relative;
          min-width: 100px;
          padding: 10px 20px;
        }
      }
      .smiles {
        display: none;
        position: absolute;
        top: 0;
        right: 3px;
        bottom: 2px;
        width: 28px;
      }
      .btn-smiles {
        position: absolute;
        margin: 13px 0 0 3px;
        cursor: pointer;
        ._sprite(@smiles);
        &:hover {
          ._opacity(.3);
        }
      }
      .smiles-tooltip {
        ._radius();
        ._transition ;
        ._opacity(0);
        visibility: hidden;
        position: absolute;
        z-index: 5;
        top: 34px;
        right: -6px;
        width: 243px;
        height: auto;
        margin: 0 0 3px;
        padding: 11px;
        border: 1px solid @chatrooms-border;
        background-color: @chatrooms-chat_bg;
        &.active {
          ._transition(e("visibility 0s, opacity .3s"));
          ._opacity(1);
          visibility: visible;
        }
        ul {
          font-size: 0;
          line-height: 0;
        }
        &:before,
        &:after {
          position: absolute;
          top: 100%;
          right: 10px;
          width: 0;
          height: 0;
          content: "";
          border: 5px solid transparent;
        }
        &:before {
          right: 7px;
          margin-bottom: -2px;
          border-width: 7px;
          border-top-color: @chatrooms-chat_bg;
        }
        &:after {
          border-top-color: @chatrooms-border;
        }
      }
      button {
        ._radius(20px);
        display: block;
        float: right;
        height: 40px;
        margin-left: 15px;
        padding: 0 25px;
        font: 16px @chatrooms-font_600;
        line-height: 40px;
        background: @chatrooms-send_button_bg;
        &:hover {
          background: fade(@chatrooms-send_button_bg, 85%);
        }
      }
      input[type="text"] {
        ._radius(20px);
        display: block;
        height: 40px;
        padding-right: 35px;
      }
      .input-holder {
        overflow: hidden;
        position: relative;
      }
    }
    .press-enter {
      position: absolute;
      bottom: -25px;
      left: 0;
      font-size: 12px;
      line-height: 16px;
      label {
        display: block;
      }
      input[type=checkbox]:not(.default) + span {
        padding-left: 19px;
      }
      input[type=checkbox]:not(.default) + span:before {
        left: 0;
        margin-top: 1px;
      }
    }
    .b-name {
      float: left;
      overflow: hidden;
      position: relative;
      width: 10%;
      min-width: 112px;
      margin-right: 21px;
      cursor: pointer;
      text-align: right;
      text-overflow: ellipsis;
      .ban-popup {
        top: -50px;
        left: 415px;
      }
      .profile-view {
        top: -80px;
        left: 250px;
      }
    }
    .b-chat-list {
      padding: 5px 20px 5px 5px;
    }
    .message {
      overflow: hidden;
      min-height: 1em;
    }
    .male {
      color: @chatrooms-text_male;
    }
    .female {
      color: @chatrooms-text_female;
    }
    .personal {
      background: @chatrooms-personal_bg;
    }
  }
  &.user-free {
    .chat-list .chat-list-holder .chat-list-wrapper {
      height: 244px;
    }
  }
  .turn-on-button {
    display: block;
    width: 180px;
    margin: 19px auto 0;
    &.active {
      background: @chatrooms-button_active_bg;
    }
  }
  .chat-contact-list {
    float: right;
    width: 220px;
    min-height: 440px;
    margin-left: 10px;
    padding-bottom: 20px;
    background: @chatrooms-tab_bg;
    .accordion-holder {
      height: 381px;
      padding: 0 2px;
    }
    .accordion {
      overflow: auto;
      height: 381px;
      .ban-popup {
        ul {
          display: block !important;
          border: 0;
          li {
            padding: 0;
            &:hover {
              background: none;
            }
          }
        }
      }
      .rooms-group {
        border-top: 1px solid @chatrooms-highlight_bg;
        &:first-child {
          border-top: none;
        }
      }
      h4 {
        ._clearfix();
        position: relative;
        padding: 16px 19px 16px 17px;
        font: 16px/20px @chatrooms-font_600;
        cursor: pointer;
        letter-spacing: .025em;
        text-transform: uppercase;
        color: @chatrooms-text_def_dark;
        &:after {
          display: block;
          position: absolute;
          top: 0;
          right: 6px;
          bottom: 0;
          margin: auto;
          content: "";
          ._sprite(@accordion-up);
        }
        &:first-child {
          border-top: 0;
        }
        &.active {
          &:after {
            ._sprite-position(@accordion-down);
          }
          + ul {
            display: block;
          }
        }
      }
      ul {
        display: none;
        margin: 0 0 11px;
        li {
          position: relative;
          padding: 5px 53px 5px 18px;
          &:hover {
            background-color: @chatrooms-highlight_bg;
          }
        }
      }
      ul > li > a {
        ._text-overflow();
        display: block;
        max-width: 160px;
        padding: 0;
        text-decoration: none;
        color: @chatrooms-text_chat_title;
        &:before {
          display: inline-block;
          position: relative;
          top: -1px;
          width: 6px;
          height: 6px;
          margin-right: 5px;
          content: "";
          border-radius: 100%;
          background: @chatrooms-photo_mark;
        }
        .view-video,
        .video {
          display: inline-block;
          float: right;
          position: absolute;
          right: 13px;
          margin: -7px 0 0 0;
          top: 50%;
          content: "";
          ._sprite(@talks-video-on);
        }
        .video {

        }
        .view-video {
          right: 40px;
          margin-top: -9px;
          ._sprite(@rooms-view-video);
        }
      }
    }
  }
}
.videos {
  ._clearfix();
  margin: 33px 0 0 -10px;
  .video-holder {
    float: left;
    overflow: hidden;
    position: relative;
    width: 365px;
    margin: 0 0 70px 10px;
    img {
      width: 100%;
    }
    .name {
      position: absolute;
      bottom: 6px;
      left: 9px;
      color: @chatrooms-text_video;
    }
    a {
      ._radius();
      display: inline-block;
      margin: 0 10px;
      padding: 7px 9px;
      font: normal 12px/16px @chatrooms-font_400;
      text-decoration: none;
      letter-spacing: .025em;
      text-transform: uppercase;
      color: @chatrooms-text_def_dark;
      background: fade(@chatrooms-video_button_bg, 60%);
      &:hover {
        background-color: @chatrooms-video_button_bg;
      }
    }
    .video-nav {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 10px 0;
    }
    .buttons {
      float: right;
    }
    .closeVideo {
      ._radius(20px);
      display: inline-block;
      position: relative;
      bottom: 35px;
      left: 240px;
      height: 30px;
      margin: 0 5px;
      padding: 0 15px;
      font: normal 13px/30px "Open Sans Semibold", Arial, helvetica, sans-serif;
      text-decoration: none;
      color: #1a1a1a;
      background-color: @white;
      background-color: fade(@white, 60%);
    }
  }
}
.turn-on-button {
  .turn-off {
    display: none;
  }
  .turn-on {
    display: block;
  }
}
.turn-on-button.active {
  .turn-off {
    display: block;
  }
  .turn-on {
    display: none;
  }
}
.profile-view {
  ._radius();
  ._shadow(0 10px 20px fade(@chatrooms-shadow, 20%));
  position: absolute;
  z-index: 3;
  top: 227px;
  right: 220px;
  width: 420px;
  padding: 10px;
  font-size: 12px;
  line-height: 16px;
  cursor: default;
  color: @chatrooms-text_profile;
  background-color: @chatrooms-profile_view_bg;
  &:after {
    position: absolute;
    top: 0;
    right: -6px;
    width: 0;
    height: 0;
    content: "";
    border-top: 8px solid @chatrooms-profile_view_bg;
    border-right: 8px solid transparent;
  }
  .info-holder {
    float: left;
    max-width: 140px;
    margin-top: -2px;
    text-align: left;
    .title {
      display: block;
      margin-bottom: 3px;
      font-size: 16px;
      font-weight: normal;
      line-height: 20px;
      text-decoration: none;
      color: @chatrooms-text_profile;
    }
  }
  .l-block {
    float: left;
    width: 230px;
  }
  .about {
    clear: both;
    position: relative;
    text-align: left;
    &:before {
      display: block;
      clear: both;
      content: "";
    }
  }
  .wrap {
    ._clearfix();
  }
  .photo-holder {
    float: left;
    overflow: hidden;
    position: relative;
    width: 80px;
    margin: 0 10px 7px 0;
    &:after {
      ._radius(6px);
      display: block;
      position: absolute;
      top: 3px;
      right: 3px;
      width: 12px;
      height: 12px;
      content: "";
      background: @chatrooms-photo_mark;
    }
    &.blurred-heavy,
    &.blurred {
      &:hover {
        .naughty-menu {
          display: block;
        }
        .b-blur-message {
          display: none;
        }
      }
    }
    &.blurred-heavy {
      img {
        ._blur(18);
        -webkit-transform: translateY(0px);
      }
      .b-blur-message {
        display: block;
      }
    }
    /*IE8-11 hack */
    .ie8 &,
    .ie9 &,
    .ie10 &,
    .ie11 & {
      &.blurred-heavy {
        position: relative;
        &:before {
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: "";
          background: @chatrooms-image_holder-bg;
        }
      }
    }
    &.blurred {
      img {
        ._blur(10);
        -webkit-transform: translateY(0px);
      }
      .b-blur-message {
        display: block;
      }
    }
    .ie8 &,
    .ie9 &,
    .ie10 &,
    .ie11 & {
      &.blurred {
        position: relative;
        &:before {
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: "";
          background: @chatrooms-image_holder-bg;
          background: fade(@chatrooms-image_holder-bg, 70%);
        }
      }
    }
    /*IE8-11 hack end */
    img {
      width: 100%;
    }
    .photo-number {
      position: absolute;
      bottom: 3px;
      left: 3px;
      height: 19px;
      padding: 0 4px;
      font-size: 12px;
      line-height: 19px;
      cursor: pointer;
      color: @chatrooms-text_video;
      border-radius: 10px;
      background-color: @chatrooms-photo_bg;
      background-color: fade(@chatrooms-photo_bg, 50%);
      &:before {
        display: inline-block;
        margin-right: 4px;
        content: "";
        ._sprite(@photo-count-sm);
      }
    }
    .hot {
      position: absolute;
      right: 3px;
      bottom: 3px;
      width: 19px;
      height: 19px;
      font-size: 12px;
      cursor: pointer;
      color: @chatrooms-text_video;
      border-radius: 10px;
      background-color: fade(@chatrooms-photo_bg, 50%);
      &:before {
        display: inline-block;
        width: 13px;
        height: 11px;
        margin: 3px 5px;
        content: "";
        background: @img_url-sprite-old no-repeat -32px -101px;
      }
    }
  }
  .button-holder {
    float: right;
    width: 165px;
    margin-bottom: 10px;
    a {
      ._text-overflow();
      display: block;
      max-width: 100%;
      height: 30px;
      margin-top: 10px;
      padding: 5px;
      font-size: 13px;
      text-align: center;
      text-decoration: none;
      text-transform: none;
      &:first-child {
        margin-top: 0;
      }
      .alternate,
      .remove,
      .waiting {
        display: none;
      }
      &.waiting {
        background: @chatrooms-highlight_bg;
        color: @chatrooms-disabled_color;
        cursor: default;
        .default {
          display: none;
        }
        .waiting {
          display: inline-block;
        }
      }
      &.active {
        background: @chatrooms-active_bg;
        .default {
          display: none;
        }
        .alternate {
          display: inline-block;
        }
        &:hover {
          .alternate {
            display: none;
          }
          .remove {
            display: inline-block;
          }
        }
      }
    }
    .video-btn {
      ._shadow(0 1px 0 0 @chatrooms-button_2_shadow);
      color: @chatrooms-text_title;
      background-color: @chatrooms-button_2_bg;
      &:hover {
        ._shadow(0 1px 0 0 @chatrooms-button_2_shadow_hover);
        color: @chatrooms-text_video;
        background-color: @chatrooms-button_2_bg_hover;
      }
    }
    .block-btn {
      ._shadow(0 1px 0 0 @chatrooms-button_3_shadow);
      color: @chatrooms-button_3_text;
      background-color: @chatrooms-button_3_bg;
      &:hover {
        ._shadow(0 1px 0 0 @chatrooms-button_3_shadow_hover);
        color: @chatrooms-text_video;
        background-color: @chatrooms-button_3_bg_hover;
      }
    }
    .ban-btn {
      ._radius(6px);
      ._shadow(0 1px 0 0 @chatrooms-button_4_shadow);
      color: @chatrooms-text_chat_title;
      background-color: @chatrooms-video_button_bg;
      &:hover {
        ._shadow(0 1px 0 0 @chatrooms-button_4_shadow_hover);
        background-color: @chatrooms-video_button_bg_hover;
      }
    }
  }
}
.ban-popup {
  ._radius(6px);
  display: none;
  position: absolute;
  z-index: 3;
  left: -175px;
  width: 190px;
  padding: 15px 3px;
  border: 1px solid @chatrooms-border;
  background-color: @chatrooms-chat_bg;
  .title {
    float: left;
    margin: -12px 0 5px 0;
  }
  .close {
    position: absolute;
    top: -1px;
    right: 4px;
    cursor: pointer;
  }
  ul
  input[type="radio"] {
    ._opacity(1);
    position: static;
    margin: -3px 0 0 0;
  }
  select {
    padding: 2px;
  }
  button {
    ._radius(3px);
    padding: 4px 4px;
    border: 1px solid @chatrooms-border;
  }
  &.user-free {
    .chat-list-wrapper {
      height: 268px;
    }
  }
}

@media (max-width: 1000px) {
  .b-room-list {
    clear: both;
  }
}
