@chatrooms-font_400: 'dosisregular', Arial, helvetica, sans-serif;
@chatrooms-font_600: 'dosissemibold', Arial, helvetica, sans-serif;

@chatrooms-tab_bg: #e6e6e6;
@chatrooms-tab_bg_active: #f73;
@chatrooms-chat_bg: #fff;
@chatrooms-banner_bg: #52cc52;
@chatrooms-banner_btn_bg: #fff;
@chatrooms-border: #ccc;
@chatrooms-cell_bg: #ccc;
@chatrooms-video_button_bg: #b0b1b2;
@chatrooms-list_bg: #e6e6e6;
@chatrooms-profile_view_bg: #1f2226;
@chatrooms-list_border: #000;
@chatrooms-input_border: #afa9aa;
@chatrooms-input_bg: #fff;
@chatrooms-message_bg: #e6e6e6;
@chatrooms-send_button_bg: #f73;
@chatrooms-highlight_bg: #ccc;
@chatrooms-video_button_bg: #fff;
@chatrooms-video_button_bg_hover: #dedede;
@chatrooms-popup_arrow: #fff;

@chatrooms-photo_mark: #1cbb1c;
@chatrooms-photo_bg: #000;
@chatrooms-image_holder-bg: #000;

@chatrooms-shadow: #000;
@chatrooms-button_bg: #c6f6c6;
@chatrooms-button_bg_hover: #1cbb1c;
@chatrooms-button_text: #009f00;
@chatrooms-button_shadow: #88df88;
@chatrooms-button_shadow_hover: #008000;
@chatrooms-button_active_bg: #47b247;

@chatrooms-button_2_bg: #ffe4b5;
@chatrooms-button_2_bg_hover: #f9a100;
@chatrooms-button_2_shadow: #ffc561;
@chatrooms-button_2_shadow_hover: #bf7c00;

@chatrooms-button_3_bg: #fea6a6;
@chatrooms-button_3_bg_hover: #e83434;
@chatrooms-button_3_text: #e83434;
@chatrooms-button_3_shadow: #d27777;
@chatrooms-button_3_shadow_hover: #920808;

@chatrooms-button_4_shadow: #828385;
@chatrooms-button_4_shadow_hover: #B4B1B4;

@chatrooms-text_def: #fff;
@chatrooms-text_def_dark: #1f2226;
@chatrooms-text_tab: #f73;
@chatrooms-text_light: #999;
@chatrooms-text_title: #f73;
@chatrooms-text_title_hover: #52cc52;
@chatrooms-profile-rules-link: #f73;
@chatrooms-title_sub-color: #1f2226;
@chatrooms-title_room-empty: #999;
@chatrooms-text_enter: #fff;
@chatrooms-text_chat_title: #4c4c4c;
@chatrooms-text_video: #fff;
@chatrooms-text_profile: #fff;

@chatrooms-text_male: #006fbc;
@chatrooms-text_female: #ff4f4f;

@chatrooms-personal_bg: #ccc;

@chatrooms-disabled_color: #e5e5e5;
@chatrooms-active_bg: #ff7733;
