.w-my-profile
  .pattern-bg
    .pattern-inner
      .pattern-overlay
  .content-top#content-top
    .content-settings   
  .content-main
    .sidebar
      .sidebar-widget#profileright-banner-widget(style="display: none;")
        .profileright-banner-openx#openx-banner-placement-profileright
    .main-column
      .profiletop-banner-openx#openx-banner-placement-profiletop
      .b-my-profile#my-profile
        .profile-block
          .b-screenname
            .screenname= profile.login
          .b-photo-primary(id="profilePhoto")
          .b-features
        .profile-block.right-column.photos-block
          .upload-form
            #profilePhotoUploader
          .photo-upload-notice= _t("profile", "text.photo_upload_notice")
          .photo-wrap
            #profilePhotoList
        .profile-block
          .b-right-column(id="profileEditor")
          if(profile.trustedValidation.isAvailable)
            .trusted-banner
              .banner-head= _t("profile", "text.obtain_trusted_status")
              .banner-body
                ul.benefit-list
                  if (profile.genderKey === 2)
                    li= _t("profile", "text.gain_your_matches")
                    li= _t("profile", "text.get_many_times")
                    li= _t("profile", "text.contact_any_man")
                    li= _t("profile", "text.display_your_profile")
                  else if (profile.genderKey === 1)
                    li= _t("profile", "text.receive_messages_from")
                    li= _t("profile", "text.get_many_times")
                    li= _t("profile", "text.display_your_profile")
                .wrap-btn
                  a.btn.green.banner-linck(href=profile.trustedValidation.urls.myProfile)= _t("profile", "text.get_trusted_status_" + (profile.genderKey === 2 ? "female" : "male"))
        .profile-block.right-column
          .personal-info(id="profileDetails")
          .looking-for(id="profileLookingFor")
      .profilebottom-banner-openx#openx-banner-placement-profilebottom