.photo-item-popup {
  position: fixed;
  z-index: 9999;
  top: 0px;
  left: 0;
  width: 100%;
  padding: 20px 15px;
  height: 100%;
  overflow: auto;
  padding: 27px 15px;
}
.photo-item-popup-wrap {
  max-width: 560px;
  margin: 0 auto;
  position: relative;
}
.photo-item-popup-close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.photo-item-popup-close .comments-header-text__icon {
  color: #ffffff;
}
.photo-item-popup-title {
  font-size: 1.125em;
  color: #ffffff;
  padding-bottom: 10px;
}
.photo-item-popup-wrap .photo_wrapper {
  text-align: center;
}
.photo-item-popup-wrap .photo_wrapper img {
  max-width: 560px;
  width: auto;
  height: auto;
}
.photo_wrapper_helper {
  display: none;
}
.photo_wrapper_helper img {
  max-width: 790px;
  width: 100%;
}
/*--------------------------------------------------------------Comments---------------------------------------------------------*/
.photo-block_comments {
  padding: 0 15px 10px;
  background: #ffffff;
}
.photo_comments-wall {
  margin-top: 28px;
}
.photo_comments-wall__field {
  display: table;
  margin-bottom: 35px;
}
.photo_comments-wall_text {
  display: table-cell;
  font-size: 0.8em;
  font-weight: 500;
  line-height: 1.2;
}
.photo_comments-wall_text__title {
  font-weight: 600;
  font-size: 1em;
  margin-bottom: 4px;
}
.b-feed-content__profile-avatar--photo_block {
  padding-top: 2px;
  padding-right: 2%;
  width: 57px;
}
.b-feed-content__profile-avatar--fix-width {
  width: 57px;
}
.b-profile-feed-head__content-left--photo_text {
  padding-left: 0px;
  float: none;
}
.photo-page__search-box-wrapper__input_wrap_inp {
  background: #f1f3f8;
  border: 0;
  width: 100%;
  padding: 10px;
  height: 44px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.comment-number__icon,
.favorities__icon,
.credits__icon {
  font-size: 1.4em;
  vertical-align: middle;
  width: 19px;
  display: inline-block;
}
.photo-page__search-box-wrapper {
  display: table;
  width: 100%;
}
.photo-short-info-b {
  background: #f3f6fb;
  overflow: hidden;
}
.photo_icons {
  text-align: left;
}
.photo-page__search-box-wrapper__input_wrap {
  display: table-cell;
}
.photo_icons,
.photo_like_button {
  display: table-cell;
  width: 39%;
  text-align: left;
  vertical-align: middle;
  position: relative;
  float: left;
}
.photo_like_button {
  width: auto;
  float: right;
  margin: 8px 14px 8px 0px;
}
.photo_icons__icon + .photo_icons__icon {
  margin-left: 1em;
}
.border-video-page.video_info {
  border-top: 0;
}
.b-feed-content__profile-avatar--video {
  width: 33%;
}
.photo_icons__comment-number,
.photo_icons__favorities,
.video_icons__credits {
  display: inline-block;
  color: #025EEE;
  font-size: 0.9em;
  margin: 14px 0 0 15px;
}
.photo_icons__text {
  color: black;
  font-size: 0.8em;
}
.photo_button {
  background: #0074d7;
  padding: 6px 0.975em 7px;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  vertical-align: top;
}
.photo_button:hover {
  background-color: #0066be;
}
.photo_button_fav {
  padding: 7px 0.975em 8px;
}
.photo_like_button__icon {
  color: #ffffff;
  font-weight: normal;
  font-size: 0.9em;
  text-shadow: 0 -1px 1px #003c71;
  vertical-align: middle;
}
.photo_like_button__icon--icon {
  font-size: 1.2em;
}
