mixin popupTitle(title, replacement)
  h1.title
    span.you-sure= _t("popupStopAction", "title."+dictionary+"."+title, replacement)
mixin cancelProgress(step)
  .steps-wrap
    span.step-number= _t("popupStopAction", "title.stage") + " " + step
    ul.step-map
      - for(var i = 1; i <= 5; i++)
        - var itemClass = (i == step) ? "active" : ((i < step) ? "pass" : "")
        li.items(class="item-"+i+" "+itemClass)
.b-popup-overlay(id="remove-account-popup")
  .b-popup-table
    .b-popup-cell
      .b-popup.b-remove-profile.cancel-billing
        button.btn-close(id="close-popup", title=_t("popupStopAction", "button.close"))
        if (dictionary == "remove-account" && cancelBillingPageBeforeRemove == true)
          .b-popup-content.cancel-billing
            +popupTitle(dictionary)
            p= _t("popupStopAction", "title.remove-account.cancel-repeat-billing")
        else if (typeof stage == "undefined" || stage == "checkPassword")
          .b-popup-content.step-1
            +popupTitle("check-password-stage-header")
            p= _t("popupStopAction", "title."+dictionary+".check-password-main-text")
            .form
              span.desc= _t("popupStopAction", "title.your-password")
              p.desc(id="password-error")
                = error ? _t("popupStopAction", error) : ""
              input(type="password", id="password", placeholder=_t("popupStopAction", "placeholder.password"), value=password)
              a.link(id="remind-password", href="#")= _t("popupStopAction", "button.remind-password")
            .footer
              +cancelProgress(1)
              button.btn.next.btn-text-green(id="check-password")= _t("popupStopAction", "button.continue")
        else
          if(typeof stage != "undefined")
            case stage
              when "statusMembership"
                .b-popup-content.b-step.step-2.active
                  +popupTitle("status-membership-stage-header")
                  .b-settings-row.member-status
                    .b-value
                        if paymentStatus.type == "free"
                          span.value= _t("popupStopAction", "text.free-membership")
                            span.info= " " + _t("popupStopAction", "text.click-to-upgrade-your-account", {"{sitename}": siteInfo.siteName})
                          a.btn.btn-text-orange(href=paymentStatus.url)= _t("popupStopAction", "button.get-full-membership")
                        else if paymentStatus.type == "paid"
                          span.value= _t("popupStopAction", "text.full-membership")
                  .b-settings-row.b-settings-new-activity(data-notification-settings="1")
                    .b-setting= _t("popupStopAction", "title.new_activity_notifications")
                    .b-value
                      ul.b-options-list
                        each setting, name in notificationSettings.settings
                          li
                            each val, key in setting
                              label
                                input(type="checkbox", data-notificationSettings-checkbox="1", data-name=name, data-key=key, checked=(setting[key]) ? true : false)
                                span= _t("popupStopAction", "text.new_activity_notifications_"+name)
                  .b-settings-row.b-settings-notifications(data-notification-subscription="1")
                    .b-setting= _t("popupStopAction", "title.email_sms_notification")
                    .b-value
                      ul.b-options-list
                        li.header
                          .label
                          .option= _t("popupStopAction", "title.email_or_sms_notification.email")
                          .option= _t("popupStopAction", "title.email_or_sms_notification.sms")
                          .option= _t("popupStopAction", "title.email_or_sms_notification.push")
                        each setting, name in notificationSubscription.settings
                          li
                            .label= _t("popupStopAction", "title.email_or_sms_notification_"+name)
                            each key in ["email", "mobile", "push"]
                              .option
                                if(typeof setting[key] !== "undefined")
                                  label
                                    input(type="checkbox", data-notificationSubscription-checkbox="1", data-name=name, data-key=key, checked=(setting[key]) ? true : false)
                                    span
                  .b-settings-row.b-settings-options
                    .b-setting= _t("popupStopAction", "text.choose-options-below")
                    p.desc(id="error-container")
                      = error ? _t("popupStopAction", error) : ""
                    .b-value
                      ul.b-options-list(id="status-membership-user-answer")
                        li
                          label
                            input(type="radio", name="name", value="off-mailing")
                            span= _t("popupStopAction", "title."+dictionary+".status-membership-user-answer-option-2")
                        li
                          label
                            input(type="radio", name="name", value=(profileStatus == "active") ? "hide" : "show")
                            span
                              if profileStatus == "active"
                                = _t("popupStopAction", "title."+dictionary+".status-membership-user-answer-option-3-hide")
                              else
                                = _t("popupStopAction", "title."+dictionary+".status-membership-user-answer-option-3-show")
                        li
                          label
                            input(type="radio", name="name", value="hide-off")
                            span= _t("popupStopAction", "title."+dictionary+".status-membership-user-answer-option-4")
                        li
                          label
                            input(type="radio", name="name", value=dictionary)
                            span= _t("popupStopAction", "title."+dictionary+".status-membership-user-answer-option-1")
                  div#coreg-placement-remove-account-stage-statusMembership.coreg-placement-remove
                  .footer
                    +cancelProgress(2)
                    button.btn.cancel.btn-text-def(id="close-popup")= _t("popupStopAction", "button.cancel")
                    button.btn.next.btn-text-green(id="status-membership")= _t("popupStopAction", "button.continue")
              when "userReason"
                .b-popup-content.b-step.step-3.active
                  +popupTitle("user-reason-stage-header")
                  p= _t("popupStopAction", "title."+dictionary+".user-reason-main-text")
                  .b-value
                    p.desc(id="error-container")
                      = error ? _t("popupStopAction", error) : ""
                    ul.b-options-list(id="user-reason-answer")
                      each reason in reasons
                        li(data-has-sub=(reason.children.length > 0) ? "1" : "0")
                          label
                            input(type="radio", name="name", value=reason.reasonId, data-action=reason.action)
                            span= _t("popupStopAction", "title."+dictionary+".user-reason-"+reason.reasonText, {"{sitename}": siteInfo.siteName})
                          if reason.children.length > 0
                            ul.b-options-list.inactive(data-sub="1")
                              each child in reason.children
                                li
                                  input(type="radio", name="name", value=child.reasonId, data-action=child.action)
                                  span= _t("popupStopAction", "title."+dictionary+".user-reason-"+child.reasonText, {"{sitename}": siteInfo.siteName})
                          if reason.action == "other"
                            .b-input.inactive(data-sub="1", data-additional="1")
                              .b-input-wrap
                                span= _t("popupStopAction", "title.your-comment")
                                textarea.message-input(name="frm-messenger-text", data-reason="1", data-resize="auto", placeholder=_t("popupStopAction", "placeholder.enter-your-text-here"))
                  div#coreg-placement-remove-account-stage-userReason.coreg-placement-remove
                  .footer
                    +cancelProgress(3)
                    button.btn.cancel.btn-text-def(id="close-popup")= _t("popupStopAction", "button.cancel")
                    button.btn.next.btn-text-green(id="user-reason")= _t("popupStopAction", "button.continue")
              when "userStory"
                .b-popup-content.b-step.step-4.active
                  +popupTitle("user-story-stage-header")
                  p= _t("popupStopAction", "title."+dictionary+".user-story-main-text", {"{sitename}": siteInfo.siteName})
                  p.desc(id="error-container")
                    = error ? _t("popupStopAction", error) : ""
                  .b-input
                    .b-input-wrap
                      span= _t("popupStopAction", "title.write-your-story")
                      textarea.message-input(name="frm-messenger-text", id="user-story-text", data-resize="auto", placeholder=_t("popupStopAction", "placeholder.enter-your-text-here"))
                  .footer
                    +cancelProgress(4)
                    button.btn.cancel.btn-text-def(id="close-popup")= _t("popupStopAction", "button.cancel")
                    button.btn.next.btn-text-green(id="user-story")= _t("popupStopAction", "button.save-and-continue")
              when "areYouSure"
                .b-popup-content.b-step.step-4.active
                  +popupTitle("are-you-sure-stage-header")
                  p= _t("popupStopAction", "title."+dictionary+".are-you-sure-main-text")
                  ul.b-loss
                    li= _t("popupStopAction", "title."+dictionary+".are-you-sure-lost-point-1")
                    li= _t("popupStopAction", "title."+dictionary+".are-you-sure-lost-point-2", {"{sitename}": siteInfo.siteName})
                    li= _t("popupStopAction", "title."+dictionary+".are-you-sure-lost-point-3")
                    li= _t("popupStopAction", "title."+dictionary+".are-you-sure-lost-point-4")
                  p= _t("popupStopAction", "title."+dictionary+".are-you-sure-main-text-part-3")
                  .b-settings-row.b-settings-options
                    .b-setting= _t("popupStopAction", "title."+dictionary+".are-you-sure-answer-option-header")
                    .b-value
                      p.desc(id="error-container")
                        = error ? _t("popupStopAction", error) : ""
                      ul.b-options-list(id="are-you-sure-answer")
                        li
                          label
                            input(type="radio", name="name", value="yes")
                            span= _t("popupStopAction", "title."+dictionary+".are-you-sure-answer-option-1")
                        li
                          label
                            input(type="radio", name="name", value="no")
                            span= _t('popupStopAction', "title."+dictionary+".are-you-sure-answer-option-2")
                  .footer
                    +cancelProgress(4)
                    button.btn.cancel.btn-text-def(id="close-popup")= _t("popupStopAction", "button.cancel")
                    button.btn.next.btn-text-green(id="are-you-sure")= _t("popupStopAction", "button.continue")
              when "stop"
                if (dictionary == "cancel-billing" && viaPhoneCode == true)
                  .b-popup-content.via-phone-code
                    +popupTitle("via-phone-code-header", {"{sitename}": siteInfo.siteName})
                    p= _t("popupStopAction", "title.cancel-billing.via-phone-code-body-text-1")
                    p= _t("popupStopAction", "title.cancel-billing.via-phone-code-body-text-2", {"{email address}": email})
                    p= _t("popupStopAction", "title.cancel-billing.via-phone-code-body-text-3")
                else if (dictionary == "cancel-billing" && hasBeenCancelled == true)
                  .b-popup-content.b-step.has-been-cancelled
                    +popupTitle("has-been-cancelled-header")
                    p= _t("popupStopAction", "title.cancel-billing.has-been-cancelled-body-text-1", {"{mm/dd/yy}": userSubscriptionExpire})
                    p= _t("popupStopAction", "title.cancel-billing.has-been-cancelled-body-text-2")
                else if ((dictionary == "cancel-billing" || dictionary == "remove-account") && viaCode == true && code == null)
                  .b-popup-content.b-step.via-code
                    +popupTitle("via-code-header", {"{sitename}": siteInfo.siteName})
                    p= _t("popupStopAction", "title."+dictionary+".via-code-body-text-1")
                    p= _t("popupStopAction", "title."+dictionary+".via-code-body-text-2", {"{email address}": email})
                    p= _t("popupStopAction", "title."+dictionary+".via-code-body-text-3")
                else if (hotLineCall == true)
                  .b-popup-content.b-step.step-5.active
                    +popupTitle("hot-line-call-header")
                    p= _t("popupStopAction", "title."+dictionary+".hot-line-call-main-text-part-3")
                      span.hightlight-id= " " + publicId
                    p= _t("popupStopAction", "title."+dictionary+".hot-line-call-main-text-part-1")
                    if siteInfo.contact
                      .phone-number= _t("popupStopAction", "text.local") + ": " + siteInfo.contact.localContactPhone
                      .phone-number= _t("popupStopAction", "text.intnl") + ": " + siteInfo.contact.intnlContactPhone
                    else
                      .phone-number= siteInfo.phone.code + " " + siteInfo.phone.phoneNumber
                    .phone-number-sep= _t("popupStopAction", "or")
                    .skype-btn-holder
                      a.skype-btn(href="skype:" + siteInfo.phone.code + siteInfo.phone.phoneNumber)= _t("popupStopAction", "title."+dictionary+".hot-line-call-confirm")
                    p.note= _t("popupStopAction", "title."+dictionary+".hot-line-call-main-text-part-2")
                    .footer
                      +cancelProgress(5)
                else
                  .b-popup-content.b-step.step-5.active
                    +popupTitle("stop-stage-header")
                    p= _t("popupStopAction", "title."+dictionary+".stop-subscription-main-text-part-1")
                    p= _t("popupStopAction", "title."+dictionary+".stop-subscription-main-text-part-2", {"{sitename}": siteInfo.siteName})
                    p= _t("popupStopAction", "title."+dictionary+".stop-subscription-custom-text-1")
                    div.coreg-placement-on-remove-account-stage.stop.checkbox-info(id="coreg-placement-remove-account-stage-stop")
                    .footer
                      +cancelProgress(5)
                      button.btn.cancel.gray.short(id="close-popup")
                        span= _t("popupStopAction", "button.cancel")
                      button.btn.next.green(id="confirm")
                        span= _t("popupStopAction", "title."+dictionary+".stop-subscription-confirm")
              when "emailSecurityCheck"
                .b-popup-content.email-verificate
                  +popupTitle("email-security-check-header")
                  p= _t("popupStopAction", "title."+dictionary+".email-security-check-body-text-1-valid-email")
                    .form
                      p.desc(id="email-error")
                        = error ? _t("popupStopAction", error) : ""
                      input(type="text" id="email" value=email)
                  p= _t("popupStopAction", "title."+dictionary+".email-security-check-body-text-2")
                  .footer
                    button.btn.cancel.grey(id="close-popup")
                      span= _t("popupStopAction", "button.cancel")
                    button.btn.next.green(id="check-email")
                      span= _t("popupStopAction", "button.continue")
              when "enterCode"
                .b-popup-content.enter-code
                  +popupTitle("enter-code-header")
                  p= _t("popupStopAction", "title."+dictionary+".enter-code-body-text-1")
                  .form
                    p.desc(id="code-error")
                      = error ? _t("popupStopAction", error) : ""
                    input(type="text", id="code", maxlength="8")
                  p= _t("popupStopAction", "title."+dictionary+".enter-code-body-text-2", {"{email address}": email})
                  .footer
                    button.btn.next.green(id="check-code")
                      span= _t("popupStopAction", "button.continue")
