.b-chatrooms {
  max-width: 900px;
  margin: 0 auto 0;
  padding-bottom: 55px;

  .chat-holder { margin-top: 20px;}
  &.b-chatroom-list {
    .b-tabs-holder {
      margin-top: 0;
    }
  }
    &::-webkit-scrollbar-thumb {
      &:vertical {
        background: @chatrooms-scroll_thumb;
      }
    }
  .smile-item {
    height: 25px;
    width: 25px;
    display: inline-block;
    vertical-align: top;
    margin: 1px;
    &:hover {
      ._shadow(0 0 2px fade(@chatrooms-photo_bg, 60%));
      ._radius(2px);
    }
  }
  .smile-emoji {
    background: url(~"@{chatrooms-img_url}/smiles.png") no-repeat;
    height: 25px;
    width: 25px;
    display: inline-block;
    cursor: pointer;
    &[data-smile="D83DDC4E"] {background-position: left 0;}
    &[data-smile="D83DDC4D"] {background-position: -25px 0;}
    &[data-smile="D83DDE20"] {background-position: -50px 0;}
    &[data-smile="D83CDF7A"] {background-position: -75px 0;}

    &[data-smile="D83CDF82"] {background-position: 0 -25px;}
    &[data-smile="D83DDE0A"] {background-position: -25px -25px;}
    &[data-smile="D83DDE47"] {background-position: -50px -25px;}
    &[data-smile="D83DDC4F"] {background-position: -75px -25px;}

    &[data-smile="D83DDD52"] {background-position: 0 -50px;}
    &[data-smile="26C5"] {background-position: -25px -50px;}
    &[data-smile="2615"] {background-position: -50px -50px;}
    &[data-smile="D83DDE15"] {background-position: -75px -50px;}

    &[data-smile="D83DDE22"] {background-position: 0 -75px;}
    &[data-smile="D83CDF54"] {background-position: -25px -75px;}
    &[data-smile="D83DDE49"] {background-position: -50px -75px;}
    &[data-smile="D83DDC96"] {background-position: -75px -75px;}

    &[data-smile="D83DDE07"] {background-position: 0 -100px;}
    &[data-smile="D83DDC8B"] {background-position: -25px -100px;}
    &[data-smile="D83DDE06"] {background-position: -50px -100px;}
    &[data-smile="D83DDCB0"] {background-position: -75px -100px;}

    &[data-smile="D83DDCAA"] {background-position: 0 -125px;}
    &[data-smile="D83CDFB5"] {background-position: -25px -125px;}
    &[data-smile="D83DDE36"] {background-position: -50px -125px;}
    &[data-smile="D83DDC4C"] {background-position: -75px -125px;}

    &[data-smile="D83CDF39"] {background-position: 0 -150px;}
    &[data-smile="D83DDE31"] {background-position: -25px -150px;}
    &[data-smile="D83DDE04"] {background-position: -50px -150px;}
    &[data-smile="D83DDE0F"] {background-position: -75px -150px;}

    &[data-smile="D83CDF1F"] {background-position: 0 -175px;}
    &[data-smile="D83DDE0E"] {background-position: -25px -175px;}
    &[data-smile="D83DDE1B"] {background-position: -50px -175px;}
    &[data-smile="2600"] {background-position: -75px -175px;}

    &[data-smile="D83DDCAD"] {background-position: 0 -200px;}
    &[data-smile="D83DDE24"] {background-position: -25px -200px;}
    &[data-smile="D83CDF79"] {background-position: -50px -200px;}
    &[data-smile="D83DDC4B"] {background-position: -75px -200px;}

    &[data-smile="D83DDE09"] {background-position: 0 -225px;}
    &[data-smile="D83DDE1F"] {background-position: -25px -225px;}
  }

  .rooms-tabs {
    border-bottom: 1px solid @chatrooms-border;
  }

    .link {
        line-height: 19px;
        height: 19px;
        display: inline-block;
        font-size: 14px;
        position: relative;
        z-index: 0;
        color: @chatrooms-text_def_dark;
        font-family: @chatrooms-font;
        font-weight: bold;
        position: relative;
        padding: 7px 0 12px;
        margin-right: 70px;
        text-decoration: none;

        &:first-child { margin-right: 70px; }

        .num {
            color: @chatrooms-text_def_dark;
            font-size: 10px;
            font-style: normal;
            position: relative;
            top: -7px;
        }
        .close {
            background: @chatrooms-sprite_url no-repeat -80px -980px;
            width: 26px;
            height: 19px;
            display: block;
            position: absolute;
            right: -30px;
            top: 7px;
            cursor:pointer;
        }
        &.active {
            color: @chatrooms-text_active;
            cursor: default;
            z-index: 1;

            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                width: 76%;
                height: 4px;
                background-color: @chatrooms-text_active;
                left: 50%;
                margin-left: -38%;
                bottom: -1px;
            }
        }
}

  .b-tabs-content {
    position: relative;
    z-index: 2;
    margin-top: 15px;
    ._radius(10px);
    .b-country-chat, .b-international-chat {
      background: fade(@chatrooms-chat_bg, 20%);
      ._radius(10px);
      margin-bottom: 15px;
      padding: 30px 0 0 20px;
    }
    .rules {
      position: absolute;
      right: 0;
      top: -30px;
      color: @chatrooms-text_tab;
    }
    h3 {
      color: @chatrooms-text_active;
      font-size: 18px;
                                       font-family: @chatrooms-font;
                                       font-weight: bold;
      margin: 30px 0 27px;
    }
                    .b-room-list + .b-room-list h3 { margin-top: 0; }
  }
  .b-item {
    display: inline-block;
                          vertical-align: top;
    width: 36.188%;
    overflow:hidden;
    margin: 0 6.5% 45px 0;
                          font-size: 14px;
    .title {
      color: @chatrooms-text_title;
      font-size: 16px;
                                       font-weight: bold;
                                       text-decoration: underline;
    }
    .number {
      color: @chatrooms-text_number;
      margin: 2px 0;
    }
    p {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .b-tabs-holder {
    position: relative;
    z-index: 2;
  }
  .chat-holder {
    .press-enter-holder {
      color: @chatrooms-text_enter;
      margin-top: 10px;
      input[type="checkbox"] {
        ._opacity(.8);
      }
    }
  }
  .b-tabs-holder,
  .b-country-chat,
  .b-international-chat,
  .chat-list,
  .chat-holder,
  .b-chatrooms {
    ._clearfix();
  }
  .chat-list {
margin-right: 296px;
    .upgrade {
      text-align: center;
      background: lighten(@chatrooms-banner_bg, 25%);
      line-height: 33px;
      padding: 15px 0 15px;
      font: 13px @chatrooms-font_600;
      border-top: 1px solid @chatrooms-border;
      position: absolute;
      bottom: 0;
                    left: 0;
      width: 100%;
      .btn {
        margin: 15px 0;
      }
      a { color: @chatrooms-text_active; }
    }
    .moderator-tab {
      width: 100%;
      text-align: center;
            padding-left: 10px;
      .main {
        td {
          background: none;
        }
      }
      .unbanned {
        td {
          background: @chatrooms-cell_bg;
        }
      }
      td {
        background: @chatrooms-tab_bg;
        padding: 5px 0;
        button {
          text-transform: uppercase;
          padding: 5px 9px 4px;
          ._radius(20px);
          outline: none;
          background: @chatrooms-video_button_bg;
          &:hover {
            background-color: darken(@chatrooms-video_button_bg, 4%);
          }
          &:active {
            background-color: lighten(@chatrooms-video_button_bg, 3%);
          }
        }
      }
    }
    .moderator-tab-content {
      padding-left: 10px;
    }
  .moderator-search {
    text-transform: uppercase;
    font-weight: 600;
        padding-left: 10px;
    input[type="text"] {
      width:auto;
            margin: 0 15px 0 7px;
    }
    button {
      ._radius(20px);
            padding: 13px 26px 11px;
      background: @chatrooms-video_button_bg;
            font: 16px/16px @chatrooms-font_600;
            outline: none;
      &:hover {
        background-color: darken(@chatrooms-video_button_bg, 4%);
      }
      &:active {
        background-color: lighten(@chatrooms-video_button_bg, 3%);
      }
    }
  }
  .chat-list-holder {
    background: #fff;
    padding: 14px 10px 14px 20px;
    ._radius(5px);
    border: 1px solid @chatrooms-border;
    position: relative;
    color: @chatrooms-text_def_dark;
        height: 420px;
        overflow: hidden;
    .chat-list-wrapper {
      overflow: auto;
      height: 420px;
      position: relative;
    }
  }

  .message-enter-wrap {
    position: relative;
    ._radius(4px);
    margin-top: 8px;
  }
  .message-enter {
    .input {
      .input-wrap {
        ._radius(5px);
        border: 1px solid @chatrooms-border;
        padding: 5px 50px 5px 15px;
        position: relative;
        height: 35px;
        ._box-sizing;
        .message-input {
            ._box-sizing;
            width: 100%;
          height: 25px;
          overflow-y: auto;
          overflow-x: hidden;
          outline: none;
          word-break: break-all;
          resize: none;
          color: @chatrooms-text_def_dark;
        }
      }
    }
    .submit {
      display: table-cell;
      vertical-align: top;
      .btn-send {
        ._shadow(0 1px 1px fade(#fff, 20%) inset);
        background: @chatrooms-text_active;
        border: 1px solid darken(@chatrooms-text_active, 15%);
        height: 100%;
        width: 38px;
        ._box-sizing;
        ._radius(0 4px 4px 0);
        text-indent: -9999px;
        position: absolute;
        right: 0;
        top: 0;

        &:before, &:after {
            content: "";
            position: absolute;
            top: 50%;
        }

        &:before {
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-right: 6px solid @chatrooms-text_active;
            left: -6px;
            margin-top: -5px;
        }

        &.active:before,&:hover:before, &:active:before { border-right: 6px solid darken(@chatrooms-text_active, 10%); }

        &:after {
            background: url("@{chatrooms-img_url}/profile_icons.png") no-repeat -60px -60px;
            width: 16px;
            height: 16px;
            left: 50%;
            margin: -8px 0 0 -8px;
        }
        &:hover, &:active, &.active { background: darken(@chatrooms-text_active, 10%); }
      }
    }
    .smiles {
      width: 28px;
      position: absolute;
      right: 3px;
      top: 0;
      bottom: 2px;
    }
    .btn-smiles {
      background: @chatrooms-sprite_url -452px -78px no-repeat;
      height: 20px;
      width: 20px;
      position: absolute;
      cursor: pointer;
      margin: 9px 0 0;
      ._opacity(0.4);
      &:hover {
        ._opacity(0.3);
      }
    }
    .smiles-tooltip {
      ._radius(5px);
      ._transition ;
      position: absolute;
      visibility: hidden;
      ._opacity(0);
      border: 1px solid @chatrooms-border;
      height: auto;
      width: 243px;
      padding: 11px;
      top: 34px;
      right: -6px;
      margin: 0 0 3px;
      z-index: 5;
      background-color: @chatrooms-chat_bg;
      &.active {
        ._transition(~"visibility 0s, opacity .3s");
        visibility: visible;
        ._opacity(1);
      }
      ul {
        font-size: 0;
        line-height: 0;
      }

      &:after {
        position: absolute;
        content: '';
        display: block;
        background: @chatrooms-sprite_url no-repeat -50px -50px;
        right: 10px;
        top: -8px;
        width: 17px;
      height: 10px;
      }
    }
    // label {
    //  position: relative;
    //  &:before {
      //  display: inline-block;
      //  content: '';
      //  background: @chatrooms-sprite_url no-repeat -137px -99px;
      //  width: 12px;
      //  height: 12px;
    //  }
    // }
    // input:checked + label {
    //  &:before{
    //    background-position: -137px -80px;
    //  }
    // }
    button {
      float: right;
      padding: 0 25px;
      line-height: 40px;
      height: 40px;
      display: block;
      margin-left: 15px;
      font: 16px @chatrooms-font_600;
      ._radius(20px);
      background: @chatrooms-send_button_bg;
      &:hover {
        background: fade(@chatrooms-send_button_bg, 85%);
      }
    }
    input[type="text"] {
      ._radius(20px);
      display: block;
      padding-right: 35px;
      height: 40px;
      }
    .input-holder {
      overflow: hidden;
      position: relative;
    }
    /*
    a {
      display: block;
      width: 26px;
      height: 25px;
      position: absolute;
      right: 7px;
      top: 7px;
      background: @chatrooms-sprite_url no-repeat 3px -264px;
    }
    */
  }
  .press-enter {
    position: absolute;
    bottom: -24px;
    left: 0;
    label {
      display: block;
      span {
        padding-left: 5px;
      }
    }
  }

  .b-name {
    width: 10%;
    min-width: 150px;
    margin-right: 15px;
    display: table-cell;
    font-family: @chatrooms-font_600;
    text-align: left;
    cursor: pointer;
    position: relative;
    .ban-popup {
      left: 415px;
      top: -50px;
    }
    .profile-view {
      left: 250px;
      top: -80px;
    }
  }
  .b-chat-list {
    padding: 4px 5px;
                            font-size: 13px;
                            display: table;
                            width: 100%;
                            ._box-sizing;
  }
  .message {
    overflow: hidden;
        display: table-cell;
  }
  .male {
    color: @chatrooms-text_male;
  }
  .female {
    color: @chatrooms-text_female;
  }
  .personal {
    ._radius(4px;);
    background: @chatrooms-personal_bg;
  }
}
 .turn-on-button {
  width: 100%;
  margin: 8px 0 0 0;
    display: block;
    color: #fff;
    font-size: 14px;
    height: 35px;
    line-height: 33px;
    text-align: center;
    ._box-sizing;
    ._radius(4px);
    font-weight: bold;
    text-shadow: 1px 1px #82c109;
    ._gradient(@chatrooms-turnon_bg_start, @chatrooms-turnon_bg_end);
    border: 1px solid @chatrooms-turnon_border;
    ._shadow(0 1px 1px lighten(@chatrooms-turnon_bg_start, 20%) inset);
    text-shadow: 1px 1px fade(#000, 15%);

    &:hover { ._gradient(@chatrooms-turnon_bg_end, @chatrooms-turnon_bg_start); }
 }

 .chat-contact-list{
    width: 288px;
        height: 465px;
    float: right;
    .accordion-holder {
            height: 420px;
            ._radius(5px);
            padding: 14px 10px;
            border: 1px solid @chatrooms-border;
                                       background: @chatrooms-online_bg;
    }
    .accordion {
        height: 420px;
        overflow: auto;
        .ban-popup {
          ul {
            display: block !important;
            border:0;
            li {
              padding: 0;
              &:hover {
                background:none;
              }
            }
          }
        }
                                        .female h4 { color: @chatrooms-text_female; }
                                        .male h4 { color: @chatrooms-text_male; }
      h4 {
        font: normal 13px @chatrooms-font_600;
                                                    line-height: 15px;
        cursor: pointer;
        position: relative;
                                                    padding-bottom: 6px;
                                                    border-bottom: 1px solid @chatrooms-border;
        &:after {
          content: '';
          display: inline-block;
          background: @chatrooms-sprite_url no-repeat -80px -1000px;
          width: 12px;
          height: 7px;
          float: right;
          margin: 7px 3px 0 10px;
        }
        &:first-child {
          border-top: 0;
        }
      }
      ul {
        margin: 2px 0 15px;
        li {
          padding: 6px 5px;
          ._radius(5px);
          position: relative;
          &:hover {
            background: darken(@chatrooms-chat_bg, 5%);
          }
          &.blocked{
            a{
              text-decoration: line-through;
            }
          }
        }
      }
      ul>li>a {
        color: @chatrooms-text_chat_title;
        text-decoration: none;
        padding: 0;
        display: block;
                                                    font-size: 13px;
        &:before {
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 100%;
          background: @chatrooms-photo_mark;
          content: '';
          margin-right: 10px;
          top: 50%;
                                                                 margin-top: -5px;
          position: relative;
        }
        .video {
          content: '';
          display: inline-block;
          background: @chatrooms-sprite_url no-repeat -364px -204px;
          width: 26px;
          height: 25px;
          float: right;
          margin: -6px 0 0 -6px;
        }
      }
    }
 }
}
.videos {
  margin: 60px 0 0;
  .video-holder {
    &.ml0 {
      margin-left: 0;
    }
    width: 280px;
    margin: 0 0 10px 30px;
    overflow: hidden;
    float: left;
    position: relative;
    .name {
      position: absolute;
      color: @chatrooms-text_video;
      bottom: 8px;
      left: 10px;
      font-size: 13px;
    }
    a {
      ._radius(20px);
      background: fade(@chatrooms-video_button_bg, 60%);
      height: 30px;
      display: inline-block;
      padding: 0 15px;
      color: @chatrooms-text_def_dark;
      text-decoration: none;
      margin: 0 5px;
      font: normal 13px/30px @chatrooms-font_600;
      &:hover {
        background-color: @chatrooms-video_button_bg_hover;
      }
    }
    .mute {
      width: 30px;
      height: 30px;
      background: fade(@chatrooms-video_button_bg, 60%);
      &:before {
        content: '';
        background: @chatrooms-sprite_url no-repeat -392px -208px;
        display: inline-block;
        width: 20px;
        height: 20px;
        position: relative;
        left: 5px;
        top: 5px;
      }
      float: left;
      padding: 0;
    }
    .mute-off {
      &:before {
        background-position: -421px -209px;
      }
    }
    .video-nav {
      position: absolute;
      bottom: 0;
      padding: 7px 0;
      left: 0;
      right: 0;
    }
    .buttons {
      float: right;
    }
  }
}
.profile-view {
  width: 410px;
      ._box-sizing;
  ._radius(2px);
  padding: 20px;
  position: absolute;
  left: -460px;
  top: -65px;
  background: @chatrooms-chat_bg;
  z-index: 620;
  color: @chatrooms-text_profile;
  font-size: 14px;
  cursor: default;
    a { color: @chatrooms-text_active; }
    ._shadow(0 0 6px rgba(0, 0, 0, 0.38));
  &:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    position: absolute;
    top: 50%;
    margin-top: -4px;
  }

  &.left:after {
    left: -8px;
    border-right: 8px solid @chatrooms-popup_arrow;
  }

    &.rigth:after {
    right: -8px;
    border-left: 8px solid @chatrooms-popup_arrow;
  }
  .info-holder{
    text-align: left;
    font-size: 14px;
    color: @chatrooms-text_profile_info;
            margin-left: 150px;
    .title {
      color: @chatrooms-text_active;
      font-size: 20px;
      font-weight: bold;
      line-height: 22px;
      text-decoration: none;
      margin-bottom: 10px;
      display: inline-block;
    }
  }
  .l-block {
    float: left;
    width: 230px;
  }
  .about {
    position: relative;
    color: @chatrooms-text_def_dark;
    text-align: left;
    clear: both;
    &:before {
      clear: both;
      display: block;
      content: '';
    }
  }
  .wrap-block-btns {
    .block-btn,
    .report-btn {
      margin-right: 10px;
      .alternate {
        display: none;
      }
      &.activated {
        .alternate {
          display: inline;
        }
        .default {
          display: none;
        }
      }
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .wrap {
    ._clearfix();
  }
  .photo-holder {
    overflow: hidden;
    width: 135px;
    position: relative;
    float: left;
    ._blur(0)
    &:after {
      content: '';
      width: 12px;
      height: 12px;
      background: @chatrooms-photo_mark;
      display: block;
      position: absolute;
      top: 3px;
      right: 3px;
      ._radius(6px);
    }
    &.blurred {
      img {
        ._blur(10);
      }
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          background: @chatrooms-blur-overlay;
        }
      }
      /*IE10 hack end*/
      .ie8 &,
      .ie9 & {
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          background: @chatrooms-blur-overlay;
        }
      }
    }
    &.blurred-heavy {
      img {
        ._blur(18);
      }
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          background: @chatrooms-blur-heavy-overlay;
        }
      }
      /*IE10 hack end*/
      .ie8 &,
      .ie9 & {
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          background: @chatrooms-blur-heavy-overlay;
        }
      }
    }
    img {
      width: 100%;
    }
    .photo-number {
      background: fade(@chatrooms-photo_bg, 50%);
      padding: 0px 4px;
      border-radius: 10px;
      color: @chatrooms-text_video;
      position: absolute;
      left: 3px;
      bottom: 3px;
      font-size: 12px;
      height: 19px;
      line-height: 19px;
      cursor: pointer;
      &:before {
        display: inline-block;
        background: @chatrooms-sprite_url no-repeat -264px -82px;
        content: '';
        width: 13px;
        height: 11px;
        margin-right: 4px;
      }
    }
    .hot {
      background: fade(@chatrooms-photo_bg, 50%);
      width: 19px;
      height: 19px;
      border-radius: 10px;
      color: @chatrooms-text_video;
      position: absolute;
      right: 3px;
      bottom: 3px;
      font-size: 12px;
      cursor: pointer;
      &:before {
        display: inline-block;
        background: @chatrooms-sprite_url no-repeat -32px -101px;
        content: '';
        width: 13px;
        height: 11px;
        margin: 3px 5px;
      }
    }
  }
  .button-holder {
    margin-top: 10px;
    a {
      display: block;
      text-decoration: none;
      text-align: center;
      height: 30px;
      margin-top: 6px;
      line-height: 30px;
      font-size: 13px;
      padding: 0;
      &:first-child {
        margin-top: 0;
      }
    }
    .message-btn {
            /*
            background: @chatrooms-button_bg;
      color: @chatrooms-button_text;
      ._shadow(0 1px 0 0 @chatrooms-button_shadow);
      &:hover {
        background: @chatrooms-button_bg_hover;
        ._shadow(0 1px 0 0 @chatrooms-button_shadow_hover);
        color: @chatrooms-text_video;
      }
            */
    }
    .video-btn {
      background: @chatrooms-button_2_bg;
      color: @chatrooms-text_title;
      ._shadow(0 1px 0 0 @chatrooms-button_2_shadow);
      &:hover {
        background: @chatrooms-button_2_bg_hover;
        color: @chatrooms-text_video;
        ._shadow(0 1px 0 0 @chatrooms-button_2_shadow_hover);
      }
    }
    .block-btn {
      background: @chatrooms-button_3_bg;
      color: @chatrooms-button_3_text;
    ._shadow(0 1px 0 0 @chatrooms-button_3_shadow);
    &:hover {
      color: @chatrooms-text_video;
      background: @chatrooms-button_3_bg_hover;
      ._shadow(0 1px 0 0 @chatrooms-button_3_shadow_hover)
    }
    }
    .ban-btn {
      ._radius(6px);
      background: @chatrooms-video_button_bg;
      color: @chatrooms-text_chat_title;
      ._shadow(0 1px 0 0 @chatrooms-button_4_shadow);
      &:hover {
        background-color: @chatrooms-video_button_bg_hover;
        ._shadow(0 1px 0 0 @chatrooms-button_4_shadow_hover);
      }
    }
  }
}
.ban-popup {
  display: none;
  ._radius(6px);
  width: 190px;
  position: absolute;
  z-index: 3;
  border: 1px solid @chatrooms-border;
  padding: 15px 3px;
  background-color: @chatrooms-chat_bg;
  left: -175px;
  .title {
    margin: -12px 0 5px 0;
    float: left;
  }
  .close {
    position: absolute;
    top: -1px;
    right: 4px;
    cursor: pointer;
  }
  ul
  input[type="radio"] {
    ._opacity(1);
    position: static;
    margin: -3px 0px 0 0;
  }
  select {
    padding: 2px;
  }
  button {
    border:1px solid @chatrooms-border;
    padding: 4px 4px;
    ._radius(3px);
  }
}
