- var needButtons = (type !== 'mail')
- var notifyKey = ['notification', type];
- if (params && params.subType) notifyKey.push(params.subType);
- if (txtId) notifyKey.push(txtId);
- notifyKey.push(gender);

li.item-holder(data-notification-item, data-from=fromId, data-type=type, data-msgType=msgType || 'chat')
  .wrap-link
    a.pic(href=(type == "webcam" ? "/livecam/view/id/"+login+"/promocode/"+promo : userLink(fromId)), class=naughtyMode ? naughtyMode.naughtyClass: '', data-popup-close, data-notification-close, data-chat = type==='mail' ? 'data-chat' : false)
      img(src=photo_url)
      if(naughtyMode.naughtyLevel == 1)
        span.b-message-holder= _t("activityNotification", "title.naughty_photo")
      if(naughtyMode.naughtyLevel == 2)
        span.b-message-holder= _t("activityNotification", "title.explicit_Nudity")

    .content-holder
      a(href=(type == "webcam" ? "/livecam/view/id/"+login+"/promocode/"+promo : userLink(fromId)), data-popup-close, data-notification-close, data-chat = type==='mail' ? 'data-chat' : false)
        span.screenname= login
        if (type == "webcam")
          span.notif-desc Video chat request
        else
          span.notif-desc= _t("activityNotification", notifyKey.join('.'))
      button.item-close(data-notification-close)
      -if(needButtons && buttons)
        div.user-buttons.activity-btns
          if (type == "webcam")
            each buttonText in ['Join live show', 'View profile']
              a.a-chat-cam(href="/livecam/view/id/"+login+"/promocode/"+promo, target='_blank')
                button.usr-action.wc-button
                  span= buttonText
          else if(params && params.subType && params.subType == 'onSmsChat')
            button.btn-sms(data-popup-close data-smsChat)
              span= _t("activityNotification", "Sms Chat")
          else
            button.btn-chat.usr-action.message(data-chat)
              span= _t("activityNotification", "button.message")
          if (type != "webcam")
            button.btn-wink.usr-action.wink(data-winkbutton=fromId, class=(buttons.wink.activated)?"active":"")
              span= _t("activityNotification", "button.wink")
