- if (counter > 0)
  #activityNotificationBookmark
    .b-notification-icon(data-popup-open, data-notification-counter)= counter
- else
  #activityNotificationBookmark.hidden
    .b-notification-icon(data-popup-open, data-notification-counter)= counter
#activityNotificationPopup.hidden
  .overlay.active
    .popup-notification(data-popup-notification)
      .notif-title
        button.popup-close(data-popup-close)
        span(data-notification-counter)= counter
      .notif-users-wrap
        ul.notif-users#activityNotificationContainer
          - if (emailValidation && emailValidation.isEmailConfirmed === false)
            li
              .email-validation-b
                .email-valid-info!= _t("activityNotification", "text.email-valid-info", {'{userEmail}': emailValidation.userEmail})
                  .email-vaild-btns
                    - if (emailValidation.emailService)
                      a.email-valid-btn.check-email(href=emailValidation.emailService, target='_blank')= _t("activityNotification", "text.check-email-btn")
                    a.email-valid-btn.resend-btn#resendConfirmMail(href="#")= _t("activityNotification", "text.email-resend-btn")
                    a.email-valid-btn.change-btn#btnChangeEmail(href="#")= _t("activityNotification", "text.email-change-btn")
                .email-valid-window-change-email.hidden
                  .email-valid-window-change-email-content
                    form(onsubmit="return false;")
                      input#newEmail(type="text",placeholder= _t("activityNotification", "text.activity-new-email-placeholder"))
                      button#sendChangeEmail(type="submit")= _t("activityNotification", "text.send-change-email-btn")
                .email-valid-window-resend-email.resend-mail.hidden
                  .email-valid-window-change-email-content
                    .email-valid-window-info= _t("activityNotification", "text.email-confirm-ok-message")
                    a#sentConfimMailOkBtn(href="#")= _t("activityNotification", "text.confim-mail-ok-btn")
          - if (defaults.accountStatus.type == 'free')
            li.notif-banner!= _t("userMenu", "text.membership-text")
              a.button(href=memberShipUrl)= _t("userMenu", "text.membership-button")
          li#flirtcastContainer.srh-results-flirtcast
