/*----------------------search----------------*/
.event-notifier {
  ._radius(6px);
  position: fixed;
  left: 20px;
  bottom: 16px;
  z-index: 605;
  display: none;
  padding: 0 10px 5px;
  min-height: 175px;
  width: 300px;
  background: fade(@activityNotification-window_bg, 85%);
  &.b-popup {
    position: fixed;
  }
  &.active {
    display: block;
  }
  &.onSmsChat {
    .header {
      &:before {
        width: 21px;
        height: 18px;
        background-position: -60px -1039px;
      }
    }
    .b-user-popup {
      .b-btn-activity-holder {
        .b-btn-activity {
          .b-btn-activity-grid {
            display: block;
            .btn-sms {
              width: 100%;
              text-align: center;
              &:before {
                display: inline-block;
                vertical-align: middle;
                float: none;
                position: static;
                width: 20px;
                height: 18px;
                margin: -2px 10px 0 0;
                left: 17px;
                background: url("../images/sprite.png") -36px -1039px;
              }
              .btn-title {
                display: inline-block;
                border-left: none;
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
  .link {
    display: inline-block;
    text-decoration: none;
    vertical-align: top;
    width: 100%;
  }
  .header {
    position: relative;
    display: block;
    margin: 0 -10px 10px;
    padding: 0 10px 0 20px;
    height: 35px;
    border-bottom: 1px solid @activityNotification-border;
    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 10px;
      display: block;
      margin: auto;
      width: 20px;
      height: 17px;
      background: @activityNotification-sprite_url no-repeat -12px -37px;
      content: '';
      vertical-align: middle;
    }
    .title {
      padding-left: 25px;
      color: @activityNotification-text_def;
      font-weight: normal;
      font-size: 14px;
      line-height: 35px;
      ._livecam-ico (@activityNotification-window_bg, @activityNotification-text_def);
    }
    .close-button {
      position: absolute;
      top: 5px;
      right: 6px;
      width: 25px;
      height: 25px;
      background: none;
      &:before {
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        background: @activityNotification-sprite_url no-repeat -171px -179px;
        left: 50%;
        top: 50%;
        margin: -6px 0 0 -6px;
      }
      &:hover {
        ._opacity(0.8);
      }
      &:focus,
      &:active {
        outline: none;
      }
    }
  }
  .b-live-cam-natification-sponsor {
    color: @t-main-color;
  }
  .pop-up-settings {
    display: block;
    color: @activityNotification-text_meta;
    text-decoration: underline;
    font-size: 12px;
    line-height: 19px;
    &:hover {
      text-decoration: none;
    }
  }
  .b-user-popup {
    display: block;
    .b-photo {
      display: block;
      float: left;
      margin-top: 3px;
      width: 80px;
      height: 80px;
      .b-photo-link {
        position: relative;
        display: inline-block;
        width: 100%;
        max-height: 100%;
        overflow: hidden;
        &.portrait {

        }
        &.album {
          height: 80px;
          .image-holder {
            width: 500px;
            height: 100%;
            margin-left: -250px;
            position: absolute;
            top: 0;
            left: 50%;
          }
          .photo {
            width: auto;
            height: 100%;
            margin: 0 auto;
            display: block;
          }
        }
        .overlay {
          ._opacity(.2);
          position: absolute;
          top: 0;
          left: 0;
          display: none;
          width: 100%;
          height: 100%;
          background: @activityNotification-window_bg;
        }
        .photo {
          display: inline-block;
          width: 100%;
          height: auto;
        }
      }
    }
    .b-user-info {
      display: block;
      margin: 0 0 0 89px;
      .b-screenname {
        display: inline-block;
        font: 14px/17px @activityNotification-font_400;
        .screenname {
          display: block;
          outline: none;
          color: @activityNotification-text_def;
          text-decoration: none;
          .status {
            display: none;
          }
          &.online {
            .status {
              display: inline-block;
              color: @activityNotification-text_online;
              font: 14px/20px @activityNotification-font_400;
            }
          }
          &.r-online {
            .status {
              display: inline-block;
              width: 50px;
              color: @activityNotification-text_rec_online;
              font: 12px/12px @activityNotification-font_400;
            }
          }
        }
        &:hover {
          .screenname {
            color: @activityNotification-text_hover;
          }
        }
      }
      .b-age,
      .b-location,
      .b-miles-away {
        display: block;
        color: @activityNotification-text_light;
      }
      .b-age {
        margin: 2px 0;
      }
      .b-cam-right{
        display: block;
        color: @activityNotification-txt-marker-color;
        background: @t-main-color;
        border-radius: 5px;
        padding: 2px 0 2px 5px;
        margin-top: 2px;
      }
    }
    .divider {
      display: block;
      height: 10px;
    }
    .b-btn-activity {
      width: 100%;
      letter-spacing: -4px;
      font-size: 0;
      line-height: 0;
      .b-btn-activity-grid {
        ._box-sizing;
        display: inline-block;
        margin-left: 8px;
        width: 32.2%;
        &:first-child {
          margin-left: 0;
        }
        .btn-activity {
          letter-spacing: normal;
          padding: 0;
          height: 33px;
          width: 33px;
          border: 0;
          ._shadow(none);

          &.btn-cams .btn-title {
            margin-left: 60px;
            border: 0;
            white-space: nowrap;
            color: #fff;
          }
        }
      }
    }
    .b-btn-activity-holder {
      position: relative;
      display: block;
      .b-btn-activity {
        .b-btn-activity-grid {
          margin-left: 9px;
          width: 48.5%;
          vertical-align: top;
          &:first-child {
            margin-left: 0;
          }
          .btn-activity {
          }
        }
      }
      .btn-cams {
        display: block;
      }
      ._livecam-ico(@t-main-color, @activityNotification-text_def);
    }
    &.hover {
      .b-photo {
        .overlay {
          display: block;;
        }
      }
      .b-user-info {
        .b-screenname {
          .screenname {
            color: @activityNotification-text_hover;
          }
        }
      }
    }
  }
}
.b-popup.webcam {
  .header {
    &:before {
      position: absolute;
      display: none;
      background: none;
    }
    .title {
      padding: 0;
    }
  }
  .b-user-popup {
    .divider {
      height: 3px;
    }
  }
}

@media only screen and (max-width : 1024px) {
  .event-notifier {
    display: none!important;
  }
}