.layout { background-color: #fff; }
.w-user-profile {
  margin: 45px auto 0;
  max-width: 980px;
  min-width: 720px;
  ._clearfix();

  .btn-upgrade { margin-top: 5px; }

  .b-left-column {
    float: left;
    width: 50%;
    .b-user-profile {
      .b-screenname {
        font: 38px @user-font_400;
        line-height: 1.3;
        color: @user-text_def;
        display: inline-block;
        vertical-align: top;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 320px;
        margin: -10px 0 15px;
        padding-right: 100px;

        .invisible {
          position: relative;
          display: inline-block;
          padding-right: 18px;

          &:after {
            background: url("@{user-img_url}/profile_icons.png") no-repeat -120px 0;
            position: absolute;
            content: "";
            width: 14px;
            height: 15px;
            top: 4px;
            right: 0;
          }
        }
      }
      .online-status {
        border: 1px solid #f3b74e;
        background-color: #fcdfab;
        ._shadow(0 1px 1px #fce9c9 inset);
        height: 13px;
        width: 13px;
        position: absolute;
        ._box-sizing;
        ._radius(8px);
        &.online {
          border: 1px solid #6cab09;
          background-color: #8cd10a;
          ._shadow(0 1px 1px #b6f836 inset);
        }
        &.recently-online {

        }
        & + .b-screenname { padding-left: 15px; }
      }
      .user-statuses {
        position: relative;
        height: 18px;
        margin-top: 5px;

        > span {
          position: relative;
          display: inline-block;
          margin-right: 10px;
          vertical-align: middle;
        }

        .hot-status {
          top: 0;
          right: 0;
        }
      }
      .b-user-main-data {
        position: relative;
        margin-top: 15px;

        .upgrade-banner {
          margin-top: 10px;
          font-size: 0.9em;

          .title { display: block; }
        }
      }
      .b-user-photo {
        color: @user-text_avatar;
        max-height: 300px;
        text-align: center;
        img {
          max-height: 100%;
          max-width: 100%;
        }
        &.album {
          height: 180px;
          .image-holder {
            width: 800px;
            height: 100%;
            margin-left: -400px;
            position: absolute;
            top: 0;
            left: 50%;
          }
          img {
            margin: 0 auto;
            display: block;
          }
        }
        .b-new, .b-photos-count {
          position: absolute;
          z-index: 3;
          padding: 3px 26px 3px 5px;
          font-size: 0.8em;
        }
        .b-new {
          padding:3px;
          background-color: @user-title;
        }
        .b-photos-count {
          background-color: rgba(0, 0, 0, 0.6);
          left: 6px;
          bottom: 5px;

          &:after{
            background: url("@{user-img_url}/profile_icons.png") no-repeat 0 -100px;
            position: absolute;
            content: "";
            width: 21px;
            height: 17px;
          }
        }
      }

      .hot-status {
        background-color: rgba(1, 11, 40, 0.8);
        height: 18px;
        width: 18px;
        position: absolute;
        right: 3px;
        bottom: 5px;
        ._radius(10px);

        &:after {
            background: url("@{user-img_url}/profile_icons.png") no-repeat -60px -40px;
            position: absolute;
            content: "";
            width: 10px;
            height: 11px;
            left: 50%;
            top: 50%;
            margin-top: -5px;
            margin-left: -5px;
        }
      }

      .b-user-data {
        font-size: 0.8em;
        .b-btn-activity {
          position: absolute;
          right: 0;
          top: 0;
          .b-btn-activity-grid {
            margin: 0 0 0 2px !important;
            float: right;
          }
        }
        .b-age, .b-location, .b-away {
          line-height: 18px;
          color: @user-text_light;
        }
      }
    }
    .b-user-info {
      clear: both;
      padding: 35px 20px 0 3px;
      &.minimized {
        .b-heading {
          max-height: 52px;
          overflow: hidden;
        }
        p {
          max-height: 73px;
          overflow: hidden;
        }
      }
      .b-heading {
        font-size: 20px;
        line-height: 26px;
        color: @user-text_highlight;
        margin-bottom: 11px;
      }
      p {
        line-height: 18px;
      }
    }
  }
  .b-right-column {
    width: 45.5%;
    float: right;
    .b-features {
      font-size: 18px;
      margin: 0 0 10px 0;
      .item {
        margin-right: 0;
        margin-left: 10px;
        width: 31px;
        height: 31px;

        &.hot:before { background-position: -231px -33px; }

        &.invisible:before { background-position: -320px -33px; }
      }

      .btn-green { padding: 0; }
    }
  }
  .w-user-details {
    max-width: 980px;
    margin: 0 auto;
    padding-top: 36px;
    clear: both;
    .photo-wrap {
      margin-top: 0;
      min-height: 138px;
      .upgrade-banner {
        width: 100%;
        background: fade(@user-banner_bg, 93%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding-top: 40px;
        z-index: 3;
        ._radius(0 0 5px 5px);
        .title {
          display: block;
          font-size: 20px;
          margin-bottom: 12px;
        }
      }
      .photo-item {
        &:hover {
          ._opacity(0.8);
        }
      }
    }
  }
}

.profile-hidden {
  padding-top: 36px;
  text-align: center;
  font-size: 20px;
}

/*--------------------------------account-free----------------------------------*/
.w-user-profile {
  .b-user-profile {
    position: relative;
    z-index: 1;
    &.free {

      .b-screenname {
        display: block;
        padding-right: 120px;
      }
      .b-user-photo {
        margin: 0 0 0 7px;
        width: 85px;
        max-height: 85px;
        font-size: 12px;
        float: left;
        position: relative;
        .b-new {
          left: 0;
          top: 0;
        }

        .b-photos-count {
          left: 9px;
          top: 64px;
          bottom: auto;
          ._radius(10px);

          &:after {
            background: url("@{user-img_url}/profile_icons.png") no-repeat -80px 0;
            right: 8px;
            top: 5px;
            height: 10px;
            width: 13px;
          }
        }

        .hot-status {
          width: 20px;
          height: 20px;
          right: 0;
          bottom: 0;
        }
      }

      .b-user-main-data { margin: 0 0 0 103px; }

      .online-status {
        right: 2px;
        top: 2px;
      }
    }
  }
}
/*-------------------------------- [END] account-free----------------------------------*/

/*-------------------------------- profile info view --------------------------------------*/
.profile-section-title,
h2.profile-section-title {
  color: @user-title;
  font: 24px "Open Sans", Arial, Helvetica, sans-serif;
  margin: 0 0 10px 4px;
  text-transform: capitalize;
}

.profile-bordered-section {
  border: 1px solid #e1e4ea;
  ._radius(5px);
  padding: 12px 15px;

  .profile-data-group {
    padding: 0 14px;

    &__title {
      color: @user-title;
      font-size: 14px;
      font-weight: 700;
      padding: 0 0 8px 22px;
      position: relative;
      text-transform: capitalize;

      &:before {
        background-image: url("@{user-img_url}/profile_icons.png");
        content: "";
        position: absolute;
        left: 0;
      }

      &.mind:before {
        background-position: 0 -20px;
        height: 11px;
        width: 11px;
        top: 2px;
      }

      &.own-words:before {
        background-position: -20px -20px;
        height: 11px;
        width: 12px;
        top: 2px;
      }

      &.personal-info:before {
        background-position: -40px -20px;
        height: 14px;
        width: 14px;
        top: 0;
      }

      &.appearance:before {
        background-position: -60px -20px;
        height: 13px;
        width: 13px;
        top: 1px;
      }

      &.lifestyle:before {
        background-position: -80px -20px;
        height: 11px;
        width: 16px;
        top: 2px;
      }

      &.looking-for:before {
        background-position: 0 -40px;
        height: 13px;
        width: 13px;
        top: 1px;
      }

    }

    &__info {
      font-size: 12px;
      color: #333;
      font-weight: 700;
      display: block;
    }

    .data-single {
      display: table;
      width: 100%;
      font-size: 12px;

      span {
        display: table-cell;
        padding: 5px 0;
      }

      .title {
        color: #333;
        font-weight: 700;
      }

      .info {
        color: #9999ae;
        text-align: left;
        width: 38%;
      }
    }
  }

  .profile-data-group + .profile-data-group { margin-top: 22px; }
}
/*-------------------------------- [END] profile info view --------------------------------------*/

/*--------------------------- profile activity history --------------------------------*/
.w-activity-history {
  padding: 0 15px;
  color: @user-activity-history;
}

.activity-time,
.activity-item__time {
  font-weight: bold;
  font-size: 11px;
}

.activity-time {
  text-align: center;
  padding: 12px 0 10px;
}

.activity-item {
  padding: 5px 0;
  border-bottom: 1px solid #e2e2e2;
  position: relative;
  display: table;
  width: 100%;

  &:last-child { border: 0; }

  &:before {
    background-image: url("@{user-img_url}/profile_icons.png");
    content: "";
    position: absolute;
    left: 50px;
    top: 50%;
    margin-top: -6px;
    height: 13px;
    width: 13px;
  }

  &.mail:before {background-position: 0 -80px; }

  &.view:before {background-position: -20px -80px; }

  &.wink:before {background-position: -40px -80px; }

  &.favourite:before {background-position: -60px -80px; }

  > div {
    display: table-cell;
    vertical-align: middle;
  }

  &__photo {
    width: 36px;
    position: relative;
    overflow: hidden;
    ._blur(0);
    &.blurred {
        img {
          ._blur(10);
        }
      /*IE10 hack*/
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          background: @user-blur-overlay;
        }
      }
      /*IE10 hack end*/
      .ie8 &,
      .ie9 & {
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          background: @user-blur-overlay;
        }
      }
    }
    &.blurred-heavy {
      img {
        ._blur(18);
      }
      /*IE10 hack*/
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          background: @user-blur-heavy-overlay;
        }
      }
      /*IE10 hack end*/
      .ie8 &,
      .ie9 & {
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          background: @user-blur-heavy-overlay;
        }
      }
    }
    img {
      width: 36px;
      height: 36px;
    }
  }

  &__description {
    padding-left: 40px;
    font-size: 12px;
  }

  &__time { text-align: right; }

  &__username {
    color:  @user-title;
    font-weight: bold;
  }
}
/*--------------------------- [END] profile activity history --------------------------------*/

/*--------------------------- profile messages -----------------------------*/
.w-messenger {
  background: @messenger_bg;
  ._radius(5px);
  padding-top: 5px;
  border: 1px solid #e1e4ea;
  ._shadow(none);
  margin-bottom: 30px;

  .messenger-history {
    border: 0;

    .messages-wrapper { padding: 0; }

    .contact-free {
      color:  @user-title;

      &:before {
        border: 1px solid @t-main-color;
        background: @user-title;
      }
      &:hover:before { background: darken(@user-title, 10%); }
    }
  }

  .messenger-input {
    background-color: @messenger-input_bg;
    display: block;
    ._box-sizing;
    position: relative;

    .input {
      display: block;
      padding-right: 0;

      .message-input {
        min-height: 25px;
        margin-right: 85px;
        word-break: normal;
      }
    }

    .input-wrap {
      ._shadow(none);
      background: #fff;
      border: 1px solid #cccccd;
      padding: 5px 75px 5px 10px;
    }

    .smiles  {
      right: 45px;
      top: 50%;
      margin-top: -15px;
    }

    .btn-smiles:before {
      background: url("@{user-img_url}/profile_icons.png") no-repeat 0 -60px;
    }

    .smiles:hover .btn-smiles:before { background-position: -20px -60px; }

    .btn-send-wrap {
      position: absolute;
      right: 10px;
      top: 0;
      height: 100%;
      ._box-sizing;
      padding: 10px 0;

      .btn-send {
        ._shadow(0 1px 1px fade(#fff, 20%) inset);
        background: @t-main-color;
        border: 1px solid darken(@t-main-color, 5%);
        height: 100%;
        width: 38px;
        ._box-sizing;
        ._radius(0 4px 4px 0);
        text-indent: -9999px;

        &:hover {
          background: darken(@t-main-color, 5%);

          &:before { border-right-color: darken(@t-main-color, 5%); }
        }

        &:before,
        &:after {
          position: absolute;
          content: "";
          top: 50%;
        }

        &:before {
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-right: 6px solid darken(@t-main-color, 5%);
          left: -5px;
          margin-top: -5px;
        }

        &:after {
          background: url("@{user-img_url}/profile_icons.png") no-repeat -60px -60px;
          width: 16px;
          height: 16px;
          left: 50%;
          margin-left: -8px;
          margin-top: -8px;
        }
      }
    }
  }

  .previous-messages-holder .text-in-button {
    color: @user-title !important;
    border: 0 !important;
  }

  .message {
    padding: 0 50px 10px;
    font-size: 11px;

    .photo {
      width: auto;
      min-width: 46px;
      position: absolute;
      bottom: 10px;

      img {
        width: 36px;
        height: 36px;
      }

      .date {
        color: @user-activity-history;
        font-weight: bold;
        white-space: nowrap;
      }
    }

    .message-text {
      display: inline-block;
      padding: 10px 14px;
      ._radius(5px);
      font-size: 12px;
      color: #3e454c;
      position: relative;

      &:before {
        background-image: url("@{user-img_url}/profile_icons.png");
        position: absolute;
        content: "";
        bottom: 0;
        width: 10px;
        height: 23px;
      }

      span {
        width: 100%;
        max-width: 250px;
        overflow: hidden;
      }
    }

    .username { font-size: 12px !important; }
  }

  .message-out {
    text-align: right;

    .photo { right: 0; }

    .message-text {
      border: 1px solid #c6c6c6;
      background: rgb(253,253,253);
      background: -moz-linear-gradient(top,  rgba(253,253,253,1) 1%, rgba(253,253,253,1) 38%, rgba(243,243,243,1) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(253,253,253,1)), color-stop(38%,rgba(253,253,253,1)), color-stop(100%,rgba(243,243,243,1)));
      background: -webkit-linear-gradient(top,  rgba(253,253,253,1) 1%,rgba(253,253,253,1) 38%,rgba(243,243,243,1) 100%);
      background: -o-linear-gradient(top,  rgba(253,253,253,1) 1%,rgba(253,253,253,1) 38%,rgba(243,243,243,1) 100%);
      background: -ms-linear-gradient(top,  rgba(253,253,253,1) 1%,rgba(253,253,253,1) 38%,rgba(243,243,243,1) 100%);
      background: linear-gradient(to bottom,  rgba(253,253,253,1) 1%,rgba(253,253,253,1) 38%,rgba(243,243,243,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f3f3f3',GradientType=0 );

      -webkit-box-shadow: 0 1px 1px #fff inset, 0 -1px 1px #e1e1e1 inset;
      -moz-box-shadow: 0 1px 1px #fff inset, 0 -1px 1px #e1e1e1 inset;
      box-shadow: 0 1px 1px #fff inset, 0 -1px 1px #e1e1e1 inset;
      text-align: left;

      &:before {
        background-position: -100px -40px;
        right: -10px;
      }
    }

    .username { color: @user-activity-history !important; }
  }

  .message-in {
    .photo { left: 0; }

    .message-text {
      border: 1px solid @c-border;
      text-shadow: 1px 1px #fff;
      background: @c-grad-start;
      background: -moz-linear-gradient(top,  @c-grad-start 1%, @c-grad-end 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,@c-grad-start), color-stop(100%,@c-grad-end));
      background: -webkit-linear-gradient(top,  @c-grad-start 1%,@c-grad-end 100%);
      background: -o-linear-gradient(top,  @c-grad-start 1%,@c-grad-end 100%);
      background: -ms-linear-gradient(top,  @c-grad-start 1%,@c-grad-end 100%);
      background: linear-gradient(to bottom,  @c-grad-start 1%,@c-grad-end 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@c-grad-start', endColorstr='@c-grad-end',GradientType=0 );

      &:before {
        background-position: -100px 0;
        left: -10px;
      }
    }

    .username { color: @user-title !important; }
  }

  .message-time {
    padding: 0 0 3px;
    color: @user-activity-history;
    border-bottom: 1px solid #edeff4;
    margin-bottom: 10px;
  }
}
/*--------------------------- [END] profile messages -----------------------------*/

.btn-green {
  color: #fff;
  font-weight: bold;
  border: 1px solid @green-btn-end-press;
  ._radius(3px);
  padding: 5px 25px 4px;
  display: inline-block;
  background: @green-btn-start;
  background: -moz-linear-gradient(top,  @green-btn-start 0%, @green-btn-end 46%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@green-btn-start), color-stop(46%,@green-btn-end));
  background: -webkit-linear-gradient(top,  @green-btn-start 0%,@green-btn-end 46%);
  background: -o-linear-gradient(top,  @green-btn-start 0%,@green-btn-end 46%);
  background: -ms-linear-gradient(top,  @green-btn-start 0%,@green-btn-end 46%);
  background: linear-gradient(to bottom,  @green-btn-start 0%,@green-btn-end 46%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@green-btn-start', endColorstr='@green-btn-end',GradientType=0 );
  -webkit-box-shadow: 1px 1px 1px #e5e5e5, 0 1px 1px fade(#fff, 40%) inset;
  -moz-box-shadow: 1px 1px 1px #e5e5e5, 0 1px 1px fade(#fff, 40%) inset;
  box-shadow: 1px 1px 1px #e5e5e5, 0 1px 1px fade(#fff, 40%) inset;
  text-shadow: 1px 1px fade(#000, 30%);
  text-decoration: none !important;

  &:hover {
    background: @green-btn-start-hover;
    background: -moz-linear-gradient(top,  @green-btn-start-hover 55%, @green-btn-end-hover 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(55%,@green-btn-start-hover), color-stop(100%,@green-btn-end-hover));
    background: -webkit-linear-gradient(top,  @green-btn-start-hover 55%,@green-btn-end-hover 100%);
    background: -o-linear-gradient(top,  @green-btn-start-hover 55%,@green-btn-end-hover 100%);
    background: -ms-linear-gradient(top,  @green-btn-start-hover 55%,@green-btn-end-hover 100%);
    background: linear-gradient(to bottom,  @green-btn-start-hover 55%,@green-btn-end-hover 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@green-btn-start-hover', endColorstr='@green-btn-end-hover',GradientType=0 );
  }
}

.btn-text-orange {
  line-height: 28px;
}

#userPhotos {
  .photo-holder { display: none; }

  .photo-item {
    display: inline-block;
    background-size: contain;
  }
}
.photo-item {
  position: relative;
  overflow: hidden;
  ._blur(0);
  .image-holder {
    overflow: hidden;
    position: relative;
    ._blur(0);
  }
  &:hover {
    .naughty-menu {
      display: block;
    }
  }
  .naughty-menu {
    position: absolute;
    display: none;
    top: 75%;
    right: 0;
    bottom: 0;
    left: 7px;
    text-align: center;
    background: @user-nm-bg;
    ._shadow(0 0 5px 1px @user-nm-dropdown-shadow);
    color: @user-nm-color;
    font-size: 12px;
    line-height: 14px;
    width: 150px;
    height: 150px;
    z-index: 1;
    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
    .naughty-menu-wrap {
      display: inline-block;
      vertical-align: middle;
      width: 95%;
    }
    button {
      background: 0;
      border: 1px solid @main-btn-activity_border;
      color: @user-nm-color;
      ._radius(3px);
      font-size: 13px;
      margin-top: 15px;
      padding: 3px 5px;
      ._radius(3px);
      display: inline-block;
      ._gradient(@main-btn-activity_start, @main-btn-activity_end);
      ._shadow(~"1px 1px 1px #e5e5e5, 0 1px 1px #fff inset");
      &:hover {
        ._shadow(0 0 5px @white);
      }
    }
  }
  &.blurred {
    background: none !important;
    img {
      ._blur(10);
      ._opacity(1) !important;
    }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: @user-blur-overlay;      }

    }
    /*IE10 hack end*/
    .ie8 &,
    .ie9 & {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: @user-blur-overlay;
      }
    }
  }
  &.blurred-heavy {
    background: none !important;
    img {
      ._blur(18);
      ._opacity(1) !important;
    }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: @user-blur-heavy-overlay;
      }
    }
    /*IE10 hack end*/
    .ie8 &,
    .ie9 & {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: @user-blur-heavy-overlay;
      }
    }
  }
  &.single-photo {
    .b-blur-message {
      font-size: 21px;
    }
  }
  .b-blur-message {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 5px @user-nm-shadow;
    font-size: 12px;
    line-height: 14px;
    color: @white;
    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
    span {
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
    }
  }
}
#userPhotos {
  position: relative;
}
.b-user-photo {
  .image-holder {
    overflow: hidden;
    position: relative;
    ._blur(0);
  }
  .naughty-menu {
    position: absolute;
    display: none;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background: @user-nm-bg;
    ._shadow(0 0 5px 1px @user-nm-dropdown-shadow);
    color: @user-nm-color;
    font-size: 12px;
    line-height: 14px;
    width: 150px;
    height: 150px;
    z-index: 1;
    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
    .naughty-menu-wrap {
      display: inline-block;
      vertical-align: middle;
      width: 95%;
    }
    button {
      background: 0;
      border: 1px solid @main-btn-activity_border;
      color: @user-nm-color;
      ._radius(3px);
      font-size: 13px;
      margin-top: 15px;
      padding: 3px 5px;
      ._radius(3px);
      display: inline-block;
      ._gradient(@main-btn-activity_start, @main-btn-activity_end);
      ._shadow(~"1px 1px 1px #e5e5e5, 0 1px 1px #fff inset");
      &:hover {
        ._shadow(0 0 5px @white);
      }
    }
  }
  &.blurred {
     img {
       ._blur(10);
     }
     @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
       .image-holder {
         position: relative;
         &:before {
           content: '';
           position: absolute;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
           z-index: 2;
           background: @user-blur-overlay;
         }
       }
     }
     /*IE10 hack end*/
     .ie8 &,
     .ie9 & {
       .image-holder {
         position: relative;
         &:before {
           content: '';
           position: absolute;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
           z-index: 2;
           background: @user-blur-overlay;
         }
       }
     }
    &:hover {
      .naughty-menu {
        display: block;
      }
    }
   }
  &.blurred-heavy {
    img {
      ._blur(18);
    }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .image-holder {
        position: relative;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          background: @user-blur-heavy-overlay;
        }
      }
    }
    /*IE10 hack end*/
    .ie8 &,
    .ie9 & {
      .image-holder {
        position: relative;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          background: @user-blur-heavy-overlay;
        }
      }
    }
    &:hover {
      .naughty-menu {
        display: block;
      }
    }
  }
  .b-blur-message {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 5px @user-nm-shadow;
    font-size: 11px;
    line-height: 14px;
    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
    span {
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
    }
  }
}


/*------------------------Media Queries-------------------------*/

@media (max-width: 900px) {
  .w-user-profile .b-screenname {
    font-size: 28px !important;
    margin-top: -5px !important;
  }

  .account-free {
    .w-user-profile {
      .b-left-column {
        .b-user-profile {
          .b-user-data {
            .b-btn-activity {
              .b-btn-activity-grid {
                .btn-activity {
                  padding-left: 0;
                  .alternate, .default {
                    border-left: none !important;
                  }
                  &:before {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.blocker-select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  background: #FFF;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0;
  -webkit-box-shadow: 0 0 26px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 26px 0 rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 35px;
  right: 0;
  z-index: 1;
  cursor: pointer;
  .list {
    overflow: hidden;
    overflow-x: visible;
    overflow-y: auto;
    max-height: 186px;
    .item {
      text-decoration: none;
      display: block;
      padding: 8px 10px;
      color: #333;
      word-wrap: break-word;
      line-height: 18px;
      -webkit-border-radius: 0;
      border-radius: 0;
      a {
        color: #333;
        text-decoration: none;
        white-space: nowrap;
        font-size: 14px;
        .alternate {
          display: none;
        }
        &.activated {
          .default {
            display: none;
          }
          .alternate {
            display: inline;
          }
        }
      }
      &:hover {
        background: @t-main-color;
        a{
          color: #fff;
        }
      }
    }
  }
  &:after {
    position: absolute;
    content: "";
    border: 5px solid rgba(0, 0, 0, 0);
    border-top: 0;
    border-bottom-color: #FFF;
    top: -5px;
    right: 11px;
  }
}

.btn-block {
  cursor: pointer;
  ._box-sizing;
  position: relative;
  height: 33px;
  width: 33px;
  margin: 0 !important;
  border: 1px solid @main-btn-activity_border;
  ._radius(3px);
  display: inline-block;
  ._gradient(@main-btn-activity_start, @main-btn-activity_end);
  -webkit-box-shadow: 1px 1px 1px #e5e5e5, 0 1px 1px #fff inset;
  -moz-box-shadow: 1px 1px 1px #e5e5e5, 0 1px 1px #fff inset;
  box-shadow: 1px 1px 1px #e5e5e5, 0 1px 1px #fff inset;
  &:before {
    position: absolute;
    content: "";
    border: 5px solid rgba(0, 0, 0, 0);
    border-bottom: 0;
    border-top-color: #333;
    height: 0;
    width: 0;
    top: 50%;
    margin-top: -3px;
    left: 50%;
    margin-left: -5px;
  }
  &.activated {
    ._gradient(darken(@main-btn-activity_start, 10%), darken(@main-btn-activity_end, 10%));
    border-color: darken( @main-btn-activity_border, 10%);
    &:before {
      border-top: 0;
      border-bottom: 5px solid;
      border-bottom-color: #333;
    }
    .blocker-select {
      display: block;
    }
  }
}
