@user-img_url: "../images";
@user-sprite_url: url("@{user-img_url}/sprite.png");

@user-font_400: 'Open Sans', Arial, helvetica, sans-serif;
@user-font_600: 'Open Sans Semibold', Arial, helvetica, sans-serif;

@user-text_def: #1b1b1b;
@user-text_theme: #ff7575;
@user-text_light: #999;
@user-text_highlight: #77b200;
@user-text_muted: #797979;
@user-text_online: #77b200;
@user-text_online_rec: #f2a60c;
@user-text_avatar: #fff;
@user-avatar_shadow_start: transparent;
@user-avatar_shadow_end: #000;
@user-title: @t-main-color;

@user-blur-overlay: fade(#000, 85%);
@user-blur-heavy-overlay: fade(#000, 95%);
@user-nm-shadow: fade(#000, 75%);
@user-nm-bg: #fafafa;
@user-nm-dropdown-shadow: fade(#000, 38%);
@user-nm-color: #424242;


@user-activity-history: #92979f;

@user-banner_bg: #fff;
@user-separator: #e6e6e6;

@messenger_bg: #f9fbff;
@messenger-input_bg: #edeff4;

@user-separator_def: #ddd;

@c-border:      saturate(lighten(@t-main-color, 32%), 7%);
@c-grad-start:  desaturate(lighten(@c-border, 10%), 5%);
@c-grad-end:    lighten(@c-border, 1%);

@main-btn-activity_border: #aaa;
@main-btn-activity_start: #f8f8f8;
@main-btn-activity_end: #ededed;