/*------------Basic Styles--------------*/
.b-popup.notification-popup {
  ._radius();
  display: none;
  position: absolute;
  z-index: 26;
  color: @activityNotification-text_def_dark;
  background-color: @activityNotification-popup_bg;
  .b-popup-head {
    ._radius(8px 8px 0 0);
    position: relative;
    padding: 15px;
    border-bottom: 1px solid @activityNotification-border;
    .title {
      display: block;
      max-width: 400px;
      padding-right: 45px;
      font-family: @activityNotification-font_300;
    }
    p {
      margin: 0;
    }
  }
  .b-popup-content {
    position: relative;
    padding: 0;
    &:after {
      display: table;
      clear: both;
      content: "";
    }
  }
  &.active {
    display: block;
  }
}
.b-loader {
  ._opacity(0);
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(~"@{img_url}/bg-loader.png");
  &:after {
    display: block;
    position: absolute;
    top: 48%;
    left: 48%;
    width: 31px;
    height: 31px;
    content: "";
    background: url(~"@{img_url}/small-photo-loader.gif") no-repeat;
  }
}
#popup.loading {
  .b-loader {
    ._opacity(1);
    visibility: visible;
  }
}

/*----------Notification popup-------------*/
.b-popup.notification-popup {
  ._shadow(0 10px 20px fade(@activityNotification-shadow, 20%));
  position: fixed;
  top: 110px;
  right: 20px;
  min-width: 280px;
  .popup-head {
    padding: 10px;
    border-bottom: 1px solid @activityNotification-border;
  }
  .title {
    font-family: @activityNotification-font_300;
    font-size: 16px;
    letter-spacing: .025em;
    text-transform: uppercase;
  }
  .user-icon-wrap {
    float: left;
    overflow: hidden;
    position: relative;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    padding: 10px 0 0 10px;
    text-align: center;
    &:hover {
      .user-icon-holder {
        &:after {
          background: fade(@activityNotification-avatar_hover_overlay, 10%);
        }
      }
    }
    &.blurred {
      .user-icon-holder img {
        ._blur(6);
        position: relative;
        top: -7px;
        left: -7px;
        width: 116%;
        height: 116%;
      }
      .user-icon-holder,
      x:-moz-any-link {
        position: relative;
        img {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        &:before {
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: "";
          background: fade(@activityNotification-avatar_blur_overlay, 82%);
        }
      }
      /*IE10 hack*/
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .user-icon-holder {
          position: relative;
          img {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
          &:before {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background: fade(@activityNotification-avatar_blur_overlay, 82%);
          }
        }
      }
      /*IE10 hack end*/
    }
    &.blurred-heavy {
      .user-icon-holder img {
        ._blur(12);
        position: relative;
        top: -7px;
        left: -7px;
        width: 116%;
        height: 116%;
      }
      .user-icon-holder,
      x:-moz-any-link {
        position: relative;
        img {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        &:before {
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: "";
          background: fade(@activityNotification-avatar_blur_overlay, 92%);
        }
      }
      /*IE10 hack*/
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .user-icon-holder {
          position: relative;
          img {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
          &:before {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background: fade(@activityNotification-avatar_blur_overlay, 92%);
          }
        }
      }
      /*IE10 hack end*/
    }
    &.album {
      .user-icon-holder {
        right: auto;
        left: -460px;
        width: 1000px;
        height: 100%;
        text-align: center;
        img {
          width: auto;
          height: 100%;
        }
      }
    }
    .user-icon-holder {
      ._blur(0);
      overflow: hidden;
      position: absolute;
      width: 100%;
      min-height: 80px;
      background: url(~"@{img_url}/small-loader.gif") no-repeat center;
      &:after {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
      }
      img {
        display: inline-block;
        width: 100%;
        background: @activityNotification-avatar_hover_overlay;
      }
    }
  }
  .user-descr-wrap {
    ._box-sizing();
    min-height: 101px;
    padding: 6px 10px 23px;
    border-bottom: 1px solid @activityNotification-border;
    .user-name {
      ._text-overflow();
      display: block;
      margin-bottom: 3px;
      text-decoration: none;
      &:hover {
        color: @activityNotification-text_link;
      }
    }
    .user-info {
      display: block;
      font-family: @activityNotification-font_300;
      font-size: 12px;
      line-height: 16px;
      color: @activityNotification-text_def;
    }
  }
  .actions-wrap {
    ._clearfix();
    position: relative;
    padding: 10px 5px;
    .button-cell {
      ._box-sizing();
      float: left;
      width: 50%;
      padding: 0 5px;
      .btn {
        display: block;
        width: 100%;
        &.wink {
          background: @color-1;
          &:hover {
            background: fade(@color-1, 85%);
          }
        }
        &.active {
          .alternate {
            display: block;
          }
          .default {
            display: none;
          }
        }
        .alternate,
        .default {
          ._text-overflow();
        }
        .alternate {
          display: none;
        }
        .default {
          display: block;
        }
      }
    }
  }
}

.ie9 {
  .notification-popup {
    .user-icon-wrap {
      &.blurred {
        .user-icon-holder img {
          position: relative;
          top: -6px;
          left: -6px;
        }
      }
      &.blurred-heavy {
        .user-icon-holder img {
          position: relative;
          top: -12px;
          left: -12px;
        }
      }
    }
  }
}

.ie8 {
  .notification-popup {
    .user-icon-wrap {
      &.blurred {
        .user-icon-holder img {
          position: relative;
          top: -6px;
          left: -6px;
        }
      }
      &.blurred-heavy {
        .user-icon-holder img {
          position: relative;
          top: -12px;
          left: -12px;
        }
      }
    }
  }
}
