@activityNotification-border: #3d444d;
@activityNotification-popup_bg: #1f2226;
@activityNotification-text_def_dark: #fff;
@activityNotification-text_light: #999;
@activityNotification-text_link: #f73;
@activityNotification-text_def: #fff;
@activityNotification-font_300: 'dosisregular', Arial, helvetica, sans-serif;
@activityNotification-font_600: 'dosissemibold', Arial, helvetica, sans-serif;
@activityNotification-avatar_hover_overlay: #fff;
@activityNotification-avatar_blur_overlay: #000;
@activityNotification-shadow: #000;