/*--------------------------Report Profile---------------------------*/
.b-report-profile {
  width: 780px;
  margin: auto;
  padding: 0;
  position: relative;
    .b-popup-head{
      position: relative;
      background: @t-main-color;
      padding: 15px;

      .title{
        font: 20px/26px @font-family-open_sans;
        color: #fff;
      }
    }

  .b-popup-content {
    padding: 40px;
  }
  .user-info {
    float: right;
    margin: 0 0 10px 80px;
    padding: 20px;
    width: 220px;
    border: 1px solid @popup_report_profile-form-border;
    background: @popup_report_profile-user_info-bg;
    font: 14px/16px @font-family-open_sans;
    height: auto;
    ._clearfix();
    .user-photo {
      float: left;
      width: 70px;
      height: 70px;
      position: relative;
      overflow: hidden;
      &.blurred-heavy {
          .photo {
            //._blur(6);
          }
          .image-holder, x:-moz-any-link {
              position: relative;
              .photo {
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
              }
              &:before {
                  content: '';
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  z-index: 2;
                  background: @popup_report_profile-image_holder-bg;
                  background: fade(@popup_report_profile-image_holder-bg, 90%);
              }
          }
          /*IE10 hack*/
          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            .image-holder {
              position: relative;
              .photo {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              }
              &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                background: @popup_report_profile-image_holder-bg;
                background: fade(@popup_report_profile-image_holder-bg, 90%);
              }
            }
          }
          /*IE10 hack end*/
      }
      &.blurred {
          .photo {
            //._blur(3);
          }
          .image-holder, x:-moz-any-link {
            position: relative;
            .photo {
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 2;
              background: @popup_report_profile-image_holder-bg;
              background: fade(@popup_report_profile-image_holder-bg, 80%);
            }
          }
          /*IE10 hack start*/
          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            .image-holder {
              position: relative;
              .photo {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              }
              &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                background: @popup_report_profile-image_holder-bg;
                background: fade(@popup_report_profile-image_holder-bg, 80%);
              }
            }
          }
          /*IE10 hack end*/
      }
      .b-blur-message {
          display: block;
          font-size: 9px;
          width: 60px;
          margin-left: -30px;
          margin-top: -12px;
      }
    }
    .photo {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      overflow: hidden;
    }
    .user-describe {
      margin-left: 85px;
    }
    .screenname {
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 125px;
      color: @popup_report_profile-text_def-color;
      text-decoration: none;
      font: 14px/16px @font-family-open_sans;
      font-weight: 700;
    }
    .describe-info{
      margin-top: 5px;
      span {
        display: block;
        margin-bottom: 2px;
      }
    }
    .describe-info,
    .location {
      display: block;
      color: @popup_report_profile-text_sub-color;
      line-height: 20px;
    }
    .location span {
      display: inline;
      &:before {
        content: "| ";
      }
    }
  }
  .main-text {
    margin-bottom: 20px;
    font: 600 18px/30px @font-family-open_sans;

  }
  .title-list {
    font: 600 14px @font-family-open_sans;
    color: @t-main-color;
  }
  .b-text-error {
    margin-bottom: 20px;
    color: @popup_report_profile-text-error;
  }
  .text-highlight {
    color: @popup_report_profile-text_def-color;
  }
  .text {
    margin: 10px 0;
    font-size: 14px;
    line-height: 1.45em;
  }
  .list-reason {
    margin: 5px 0 10px;
    font: 600 14px @font-family-open_sans;
  }
  .item-reason {
    margin: 10px 0;
  }
  .b-textarea {
    margin: 10px 0;
    height: 118px;
    border: 1px solid @popup_report_profile-form-border;
  }
  .b-wrapp-btn {
    margin-top: 10px;
    text-align: center;
    .btn-close{
      display: none;
    }
  }
  .b-wrapp-btn-top {
    margin-top: 20px;
    clear: both;
  }
  .btn-continue {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    max-width: 50%;
    min-width: 160px;
    color: lighten(@t-main-color, 100%);
    border-color: darken(@t-main-color, 10%);
    ._gradient(@t-main-color, darken(@t-main-color, 5%));
  }
  input[type=radio]{
    cursor: pointer;
    height: 18px;
    margin-top: 1px;
    opacity: 0;
    position: absolute;
    width: 18px;
    z-index: 2;
  }
  input[type=radio]+span {
    cursor: pointer;
    display: block;
    padding-left: 28px;
    position: relative;
    font-size: 16px;
    &:before{
      background: none repeat scroll 0 0 #fff;
      border: 2px solid #ccc;
      border-radius: 9px;
      box-shadow: 0 0 0 2px #fff inset;
      content: "";
      height: 16px;
      left: 0;
      position: absolute;
      width: 16px;
    }
  }
  input[type=radio]:checked + span:before{
    background: none repeat scroll 0 0 @t-main-color;
  }
    .b-close{
      position: absolute;
      right: 15px;
      top: 15px;
      &:before{
        content: '';
        display: inline-block;
        vertical-align: top;
        width: 20px;
        height: 20px;
        background: url(~"@{i}/sprite.png") no-repeat 0 0;
        background-position: -214px -135px;
      }
    }
 .btn{
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  outline: 0;
  text-decoration: none;
  font: 14px/33px @font-family-open_sans;
  cursor: pointer;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
  text-align: center;
 }
}
.b-report-profile-success {
  .b-popup-content {
    text-align: center;
  }
}
