/* popupReportProfile */
@i: "../images";
@popup_report_profile-shadow: fade(#000, 30%);
@popup_report_profile-image_holder-bg: #000;

@popup_report_profile-text_def-color: #000;
@popup_report_profile-text_sub-color: #6e6e6e;
@popup_report_profile-form-border: #ccc;

@popup_report_profile-user_info-bg: #f9f9f9;
@popup_report_profile-text-error: #E40000;
@font-family-open_sans: 'Open Sans', Arial, Helvetica, sans-serif;
/**/