@payment-img_url: "../images";
@payment-sprite_url: url("@{payment-img_url}/sprite.png");

@payment-font_300: 'Open Sans Light', Arial, helvetica, sans-serif;
@payment-font_400: 'Open Sans', Arial, helvetica, sans-serif;
@payment-font_600: 'Open Sans Semibold', Arial, helvetica, sans-serif;
@payment-font_700: 'Open Sans Bold', Arial, helvetica, sans-serif;

@payment-body_bg: #f2eee6;
@payment-shadow: #000;
@payment-package_bg: #fff;
@payment-footer_border: #fff;
@payment-package_border: #d9d9d9;
@payment-package_border_active: #77b200;
@payment-text_def: #333;
@payment-text_light: #999;
@payment-text_link: #5079b3;
@payment-text_link_def: #0a4983;
@payment-text_highlight: #77b200;
@payment-text_muted: #797979;
@payment-text_error: #ff5a40;
@payment-text_current: #000;
@payment-text_description_active: #fff;
@payment-text_description: #4c4c4c;
@payment-text_link_form: #000;
@payment-description_bg_active: @t-main-color;
@payment-text_description: #5079b3;
@payment-description_bg: #5079b3;
@payment-card_border: #e0e0e0;
@payment-policy_link: #004899;
@payment-sprite_card_logos: url("@{payment-img_url}/sprite-payment-card-logos.png");

@payment-header_bg_start: #7394c2;
@payment-header_bg_end: #517ab3;
@payment-header_shadow: #111711;

@payment-button_info_border: #c1c1c1;
@payment-select_shadow: #b3b3b3;

@payment-tooltip_border: #9a9a9a;

@payment-blur-overlay: fade(#000, 85%);
@payment-blur-heavy-overlay: fade(#000, 95%);

@payment-button_border: #6cab09;
@payment-button_start: #a1de12;
@payment-button_end: #7cc604;
@payment-button_start_hover: #7cc604;
@payment-button_end_hover: #a1de12;
@payment-button_start_press: #7cc604;
@payment-button_end_press: #a1de12;

@payment-button_2_border: #d9940b;
@payment-button_2_start: #f6c154;
@payment-button_2_end: #f2a70e;
@payment-button_2_start_hover: #ffd684;
@payment-button_2_end_hover: #fab427;
@payment-button_2_start_press: #deb86a;
@payment-button_2_end_press: #d9960d;

@payment-timer_start: #666;
@payment-timer_end: #333;
@payment-separator_start: #000;
@payment-separator_end: #fff;
@payment-input_bg: #f2f2f2;

@payment-helvetica: Helvetica, Arial, helvetica, sans-serif;

@new_payment_label_bg_start: #f8f8f8;
@new_payment_label_bg_end: #ededed;
@new_payment_pink: @t-main-color;
@new_payment_ight-grey: #92979f;
@new_payment_dark-grey: #444;
@new_payment_text-error: #ef1f1f;
@new_payment_input-bg: #fff;
@new_payment_input-border: #9999ae;
@new_payment_pink_bg: @t-main-color;
@new_payment_light-pink_bg: lighten(@new_payment_pink_bg, 40%);
@new_payment_mobile-ok: #7ab85b;

@payment-features_label-bg: #fff;
@payment-features_description-bg: #ededed;
@payment-features_list-color: #808080;
@payment-postrans_offer_label-bg: #ffd508;
@payment-postrans_offer_label-color: #333;
@payment-posttrans_item-border: #ededed;
@payment-posttrans_item_title-bg: #fff;
@payment-posttrans_item_title-color: #4c4c4c;
@payment-posttrans_item_description-bg: #ededed;
@payment-posttrans_item_description-color: #4c4c4c;
@payment-posttrans_item_price-bg: #d9d9d9;
@payment-posttrans_item_price-color: #808080;

@payment-posttrans_item-border-active: @t-main-color;
@payment-posttrans_item_description-color-active: #fff;
@payment-posttrans_item_description-bg-active: @t-main-color;
@payment-posttrans_item_price-bg-active: darken(@t-main-color, 10%);
@payment-posttrans_item_price-color-active: #fff;

@payment-posttrans_notify-color: #000;
@payment-posttrans_membership_item-color: #000;
