//blur
._blur(@rad: 10) {
  -webkit-filter: ~"blur(@{rad}px)";
  -moz-filter: ~"blur(@{rad}px)";
  -ms-filter: ~"blur(@{rad}px)";
  filter: ~"blur(@{rad}px)";
  filter: ~"progid:DXImageTransform.Microsoft.Blur(PixelRadius='@{rad}')";
}


._ie-blur(@ie-rad: 10px) {
  position: relative;
  top: @ie-rad;
  left: @ie-rad;
}
//box-sizing
._box-sizing(@model: border-box) {
  -webkit-box-sizing: @model;
     -moz-box-sizing: @model;
          box-sizing: @model;
}
//clearfix
._clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
//fixed-position
._fixed-position() {
  ._transform(translateZ( 0 ) );
  position: fixed;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-tap-highlight-color: fade(#000, 0%);
          tap-highlight-color: fade(#000, 0%);
}
//flex
._flex(@model: flex) {
  & when (@model = flex) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  & when (@model = inline-flex) {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
//font-face
._font-face(@family-name, @font-path, @font-weight: normal, @font-style: normal) {
  @font-face {
    font-family: @family-name;
    src: url("@{font-path}.eot");
    src: url("@{font-path}.eot?#iefix") format("embedded-opentype"),
    url("@{font-path}.woff") format("woff"),
    url("@{font-path}.ttf") format("truetype"),
    url("@{font-path}.svg#@{family-name}") format("svg");
    font-weight: @font-weight;
    font-style: @font-style;
  }
}
//gradients
._gradient(@color1, @color2) {
  background: @color1; /* Old browsers */
  background: -webkit-linear-gradient(@color1, @color2); /* Chrome10+, Safari5.1+ */
  background: linear-gradient(@color1, @color2); /* Standard, IE10, Firefox 16+, Safari 7+, Chrome 26 */
}

._gradient(@dir, @color1, @color2) {
  background: @color1;
  background: -webkit-linear-gradient(@dir, @color1, @color2);
  background: linear-gradient(@dir, @color1, @color2);
}

._gradient(@dir, @color1, @color2, @color3) {
  background: @color1;
  background: -webkit-linear-gradient(@dir, @color1, @color2, @color3);
  background: linear-gradient(@dir, @color1, @color2, @color3);
}

._gradient(@dir, @color1, @color2, @color3, @color4) {
  background: @color1;
  background: -webkit-linear-gradient(@dir, @color1, @color2, @color3, @color4);
  background: linear-gradient(@dir, @color1, @color2, @color3, @color4);
}

._gradient(@dir, @color1, @color2, @color3, @color4, @color5) {
  background: @color1;
  background: -webkit-linear-gradient(@dir, @color1, @color2, @color3, @color4, @color5);
  background: linear-gradient(@dir, @color1, @color2, @color3, @color4, @color5);
}

._gradient(@dir, @color1, @color2, @color3, @color4, @color5, @color6) {
  background: @color1;
  background: -webkit-linear-gradient(@dir, @color1, @color2, @color3, @color4, @color5, @color6);
  background: linear-gradient(@dir, @color1, @color2, @color3, @color4, @color5, @color6);
}

._gradient(radial, @color1, @color2) {
  background: @color1; /* Old browsers */
  background: -webkit-radial-gradient(circle, @color1, @color2); /* Chrome10+, Safari5.1+ */
  background: radial-gradient(circle, @color1, @color2); /* Standard, IE10, Firefox 16+, Safari 7+, Chrome 26 */
}

//opacity
._opacity(@opacity: 1) {
  @opacity-ie: (@opacity * 100);
  opacity: @opacity;
  // IE8 filter
  filter: ~"alpha(opacity=@{opacity-ie})";
}
//perspective
._perspective(@perspective) {
  -webkit-perspective: @perspective;
          perspective: @perspective;
}
._perspective(origin, @perspective) {
  -webkit-perspective-origin: @perspective;
          perspective-origin: @perspective;
}
// placeholder text
._placeholder(@color: #000, @font: "13px/15px Arial, Helvetica, sans-serif") {
  // Firefox
  ::-moz-placeholder {
    color: @color;
    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
    font: e("@{font}");
  }
  // Internet Explorer 10+
  :-ms-input-placeholder {
    color: @color;
    font: e("@{font}");
  }
  // Safari and Chrome
  ::-webkit-input-placeholder {
    color: @color;
    font: e("@{font}");
  }
}

// Placeholder text
._placeholder(mob, @color: #000, @font: "13px/15px Arial, Helvetica, sans-serif") {
  // Safari and Chrome
  ::-webkit-input-placeholder {
    color: @color;
    font: e("@{font}");
  }
}

//rotate
._rotate(@degrees) {
  -webkit-transform: rotate(@degrees);
      -ms-transform: rotate(@degrees); // IE9 only
          transform: rotate(@degrees);
}
._rotate(x, @degrees) {
  -webkit-transform: rotateX(@degrees);
      -ms-transform: rotateX(@degrees); // IE9 only
          transform: rotateX(@degrees);
}
._rotate(y, @degrees) {
  -webkit-transform: rotateY(@degrees);
      -ms-transform: rotateY(@degrees); // IE9 only
          transform: rotateY(@degrees);
}
//scale
._scale(@ratio) {
  -webkit-transform: scale(@ratio);
      -ms-transform: scale(@ratio); // IE9 only
          transform: scale(@ratio);
}
._scale(@ratioX, @ratioY) {
  -webkit-transform: scale(@ratioX, @ratioY);
      -ms-transform: scale(@ratioX, @ratioY); // IE9 only
          transform: scale(@ratioX, @ratioY);
}
._scale(x, @ratio) {
  -webkit-transform: scaleX(@ratio);
      -ms-transform: scaleX(@ratio); // IE9 only
          transform: scaleX(@ratio);
}
._scale(y, @ratio) {
  -webkit-transform: scaleY(@ratio);
      -ms-transform: scaleY(@ratio); // IE9 only
          transform: scaleY(@ratio);
}
//scroll
._scroll() {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
          overflow-scrolling: touch;
}
//scrollbar
._scrollbar(@bg-track: #000, @width: 5px, @height: 5px, @bg-thumb: #000, @border-thumb: 0) {
  scrollbar-face-color: @bg-thumb;
  scrollbar-shadow-color: @bg-thumb;
  scrollbar-3dlight-color: @bg-thumb;
  scrollbar-highlight-color: @bg-thumb;
  scrollbar-darkshadow-color: @bg-thumb;
  scrollbar-arrow-color: none;
  scrollbar-track-color: @bg-track;
  ::-webkit-scrollbar {
    width: @width;
    height: @height;
  }
  ::-webkit-scrollbar-track {
    background-color: @bg-track;
  }
  ::-webkit-scrollbar-thumb {
    border: @border-thumb;
    background-color: @bg-thumb;
  }
  ::-webkit-scrollbar-track-piece {
    background-color: @bg-track;
  }
}
._scrollbar(mob, @bg-track: #000, @width: 5px, @height: 5px, @bg-thumb: #000, @border-thumb: 0) {
  ::-webkit-scrollbar {
    width: @width;
    height: @height;
  }
  ::-webkit-scrollbar-track {
    background-color: @bg-track;
  }
  ::-webkit-scrollbar-thumb {
    background-color: @bg-thumb;
    border: @border-thumb;
  }
  ::-webkit-scrollbar-track-piece {
    background-color: @bg-track;
  }
}
//box-shadow
._shadow(@s) {
  -webkit-box-shadow: @s; // iOS <4.3 & Android <4.1
          box-shadow: @s;
}
//skew
._skew(@x, @y) {
  -webkit-transform: skewX(@x) skewY(@y);
      -ms-transform: skewX(@x) skewY(@y); // IE9+
          transform: skewX(@x) skewY(@y);
}
//square
._square(@size: 10px) {
  width: @size;
  height: @size;
}
//text hide
._text-hide() {
  font: ~"0/0" a;
  color: transparent;
}
//text-overflow
._text-overflow() {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

._text-overflow(@width) {
  ._text-overflow();
  width: @width;
}
//transform
._transform(@transform: transform .1s) {
  -webkit-transform: @transform;
      -ms-transform: @transform;
          transform: @transform;
}
//deprecated
//use ._rotate
._transform(rotate, @deg: 90deg) {
  -webkit-transform: rotate(@deg);
          transform: rotate(@deg);
}
//deprecated
//use ._scale
._transform(scale, @zoom: 1) {
  -webkit-transform: scale(@zoom);
          transform: scale(@zoom);
}

/*
* old mixin is deprecated
* ._transform-origin (@x: center, @y: center, @z: 0) {
*  -webkit-transform-origin: @x @y @z;
*  -moz-transform-origin: @x @y @z;
*  -ms-transform-origin: @x @y @z;
*  transform-origin: @x @y @z;
* }
* Use only new
*/
._transform(origin, @x: center, @y: center, @z: 0) {
  -webkit-transform-origin: @x @y @z;
      -ms-transform-origin: @x @y @z; // IE9 only
          transform-origin: @x @y @z;
}
//transition
._transition(@transition: .3s) {
  -webkit-transition: @transition;
          transition: @transition;
}

/*
* old mixin is deprecated
* ._transition_transform(@tt: .1s) {
*   -webkit-transition: -webkit-transform @tt;
*   transition: transform @tt;
* }
* Use only new
*/

._transition(transform, @transition: .3s) {
  -webkit-transition: -webkit-transform @transition;
          transition: transform @transition;
}
//translate
._translate(@x: 0, @y: 0) {
  -webkit-transform: translate(@x, @y);
      -ms-transform: translate(@x, @y); // IE9 only
          transform: translate(@x, @y);
}
._translate(xyz, @x, @y, @z) {
  -webkit-transform: translate3d(@x, @y, @z);
          transform: translate3d(@x, @y, @z);
}
//user-select
._user-select(@select: none) {
  -webkit-user-select: @select;
     -moz-user-select: @select;
      -ms-user-select: @select; // IE10+
          user-select: @select;
}
//border-radius
._radius(@r: 3px) {
  border-radius: @r;
}
//vertical-align
._vertical-align(@pseudo-el: before, @min-height: 100%) {
  @pe: e(":@{pseudo-el}");
  &@{pe} {
    display: inline-block;
    height: 100%;
    min-height: @min-height;
    content: "";
    vertical-align: middle;
  }
}
//wrap
._wrap() {
  white-space: pre-wrap;
  word-wrap: break-word;
}

// Animation
// Arguments:
//   @args - all arguments like in css3 animation (see http://www.w3schools.com/css/css3_animations.asp)
// Usage:
//   ._animation(fade-in 0.2s linear infinite alternate);
._animation(@args) {
  -webkit-animation: @args;
     -moz-animation: @args;
      -ms-animation: @args;
          animation: @args;
}

// Keyframes
// Arguments:
//   @name - name of your keyframe, ex. blink, pulse etc.
//   @args - content of keyframe by itself
// Usage:
//   ._keyframes(fade-in; {
//     0% { opacity: 0; }
//     100% { opacity: 1; }
//   });
._keyframes(@name; @args) {
  @-webkit-keyframes @name { @args(); }
     @-moz-keyframes @name { @args(); }
          @keyframes @name { @args(); }
}
