@accordion-down: 16px 586px -16px -586px 13px 10px 627px 597px '../images/sprite-images.png';
@accordion-up: 59px 584px -59px -584px 13px 10px 627px 597px '../images/sprite-images.png';
@arrow-left: 366px 106px -366px -106px 6px 10px 627px 597px '../images/sprite-images.png';
@arrow-right: 366px 118px -366px -118px 6px 10px 627px 597px '../images/sprite-images.png';
@check-sm-active: 276px 329px -276px -329px 10px 8px 627px 597px '../images/sprite-images.png';
@check-sm: 288px 329px -288px -329px 10px 8px 627px 597px '../images/sprite-images.png';
@check-success: 527px 252px -527px -252px 16px 12px 627px 597px '../images/sprite-images.png';
@checkbox-active: 445px 309px -445px -309px 13px 13px 627px 597px '../images/sprite-images.png';
@checkbox: 541px 59px -541px -59px 13px 13px 627px 597px '../images/sprite-images.png';
@ebanx-type-bancodobrasil: 458px 0px -458px 0px 35px 35px 627px 597px '../images/sprite-images.png';
@ebanx-type-banrisul: 395px 187px -395px -187px 35px 35px 627px 597px '../images/sprite-images.png';
@ebanx-type-bradesco: 409px 148px -409px -148px 35px 35px 627px 597px '../images/sprite-images.png';
@ebanx-type-hsbc: 358px 209px -358px -209px 35px 35px 627px 597px '../images/sprite-images.png';
@ebanx-type-itau: 37px 431px -37px -431px 35px 35px 627px 597px '../images/sprite-images.png';
@field-edit: 59px 564px -59px -564px 18px 18px 627px 597px '../images/sprite-images.png';
@important: 506px 252px -506px -252px 19px 19px 627px 597px '../images/sprite-images.png';
@info-tip: 356px 451px -356px -451px 16px 16px 627px 597px '../images/sprite-images.png';
@logo-sm: 81px 468px -81px -468px 24px 31px 627px 597px '../images/sprite-images.png';
@logo: 257px 418px -257px -418px 148px 31px 627px 597px '../images/sprite-images.png';
@payment-additional-baner-uma-default: 400px 296px -400px -296px 13px 21px 627px 597px '../images/sprite-images.png';
@payment-additional-baner-uma: 84px 537px -84px -537px 13px 21px 627px 597px '../images/sprite-images.png';
@payment-by-amex: 0px 468px 0px -468px 37px 35px 627px 597px '../images/sprite-images.png';
@payment-by-bcards: 501px 74px -501px -74px 112px 30px 627px 597px '../images/sprite-images.png';
@payment-by-diners: 432px 185px -432px -185px 45px 35px 627px 597px '../images/sprite-images.png';
@payment-by-geotrust: 442px 222px -442px -222px 62px 30px 627px 597px '../images/sprite-images.png';
@payment-by-jcb: 400px 261px -400px -261px 38px 33px 627px 597px '../images/sprite-images.png';
@payment-by-master-sm: 464px 104px -464px -104px 35px 35px 627px 597px '../images/sprite-images.png';
@payment-by-mcard: 358px 320px -358px -320px 57px 33px 627px 597px '../images/sprite-images.png';
@payment-by-symantec: 173px 381px -173px -381px 68px 35px 627px 597px '../images/sprite-images.png';
@payment-by-visa-sm: 0px 431px 0px -431px 35px 35px 627px 597px '../images/sprite-images.png';
@payment-by-visa: 158px 459px -158px -459px 53px 33px 627px 597px '../images/sprite-images.png';
@payment-check-error: 174px 553px -174px -553px 15px 14px 627px 597px '../images/sprite-images.png';
@payment-check-required: 534px 227px -534px -227px 16px 14px 627px 597px '../images/sprite-images.png';
@payment-check-success: 260px 514px -260px -514px 16px 14px 627px 597px '../images/sprite-images.png';
@payment-check: 455px 351px -455px -351px 16px 14px 627px 597px '../images/sprite-images.png';
@payment-ebanx-alt-big: 119px 215px -119px -215px 190px 70px 627px 597px '../images/sprite-images.png';
@payment-ebanx-big: 183px 137px -183px -137px 190px 70px 627px 597px '../images/sprite-images.png';
@payment-error: 341px 62px -341px -62px 46px 42px 627px 597px '../images/sprite-images.png';
@payment-etf-big: 375px 148px -375px -148px 32px 37px 627px 597px '../images/sprite-images.png';
@payment-feature-freecommunication-active: 443px 37px -443px -37px 26px 23px 627px 597px '../images/sprite-images.png';
@payment-feature-freecommunication: 506px 227px -506px -227px 26px 23px 627px 597px '../images/sprite-images.png';
@payment-feature-highlight-active: 431px 351px -431px -351px 22px 22px 627px 597px '../images/sprite-images.png';
@payment-feature-highlight: 332px 451px -332px -451px 22px 22px 627px 597px '../images/sprite-images.png';
@payment-feature-invisible-active: 168px 528px -168px -528px 21px 23px 627px 597px '../images/sprite-images.png';
@payment-feature-invisible: 193px 521px -193px -521px 21px 23px 627px 597px '../images/sprite-images.png';
@payment-feature-specialdelivery-active: 341px 106px -341px -106px 23px 27px 627px 597px '../images/sprite-images.png';
@payment-feature-specialdelivery: 471px 74px -471px -74px 23px 27px 627px 597px '../images/sprite-images.png';
@payment-feature-topinsearch-active: 507px 173px -507px -173px 19px 25px 627px 597px '../images/sprite-images.png';
@payment-feature-topinsearch: 541px 32px -541px -32px 19px 25px 627px 597px '../images/sprite-images.png';
@payment-onebip-big: 249px 0px -249px 0px 165px 60px 627px 597px '../images/sprite-images.png';
@payment-paypal-big: 209px 339px -209px -339px 140px 40px 627px 597px '../images/sprite-images.png';
@payment-paypal-info: 0px 342px 0px -342px 120px 45px 627px 597px '../images/sprite-images.png';
@payment-sepa-big: 134px 287px -134px -287px 140px 50px 627px 597px '../images/sprite-images.png';
@payment-sofort-big: 213px 455px -213px -455px 90px 30px 627px 597px '../images/sprite-images.png';
@payment-system-boleto: 0px 389px 0px -389px 80px 40px 627px 597px '../images/sprite-images.png';
@payment-system-norton-secured: 389px 62px -389px -62px 80px 40px 627px 597px '../images/sprite-images.png';
@payment-system-transfer: 276px 287px -276px -287px 80px 40px 627px 597px '../images/sprite-images.png';
@payment-tab-card: 235px 487px -235px -487px 80px 25px 627px 597px '../images/sprite-images.png';
@payment-tab-ebanx-alt: 488px 141px -488px -141px 128px 30px 627px 597px '../images/sprite-images.png';
@payment-tab-ebanx-boleto: 0px 505px 0px -505px 98px 30px 627px 597px '../images/sprite-images.png';
@payment-tab-etf: 383px 383px -383px -383px 23px 25px 627px 597px '../images/sprite-images.png';
@payment-tab-onebip: 107px 496px -107px -496px 84px 30px 627px 597px '../images/sprite-images.png';
@payment-tab-paypal: 495px 0px -495px 0px 64px 30px 627px 597px '../images/sprite-images.png';
@payment-tab-sepa: 0px 564px 0px -564px 57px 20px 627px 597px '../images/sprite-images.png';
@payment-tab-sofort: 562px 46px -562px -46px 65px 20px 627px 597px '../images/sprite-images.png';
@payment-trusted-check: 119px 142px -119px -142px 62px 71px 627px 597px '../images/sprite-images.png';
@payment-trusted-quality: 0px 0px 0px 0px 128px 140px 627px 597px '../images/sprite-images.png';
@payment-trusted-realme: 0px 287px 0px -287px 132px 53px 627px 597px '../images/sprite-images.png';
@payment-type-amex: 445px 282px -445px -282px 40px 25px 627px 597px '../images/sprite-images.png';
@payment-type-discover: 193px 494px -193px -494px 40px 25px 627px 597px '../images/sprite-images.png';
@payment-type-jcb: 470px 254px -470px -254px 33px 25px 627px 597px '../images/sprite-images.png';
@payment-type-maestro: 0px 537px 0px -537px 40px 25px 627px 597px '../images/sprite-images.png';
@payment-type-master: 100px 528px -100px -528px 40px 25px 627px 597px '../images/sprite-images.png';
@payment-type-switch: 42px 537px -42px -537px 40px 25px 627px 597px '../images/sprite-images.png';
@payment-type-visa-el: 529px 106px -529px -106px 40px 25px 627px 597px '../images/sprite-images.png';
@payment-type-visa: 507px 200px -507px -200px 40px 25px 627px 597px '../images/sprite-images.png';
@payment-verisign: 249px 62px -249px -62px 90px 55px 627px 597px '../images/sprite-images.png';
@photo-count-sm: 374px 451px -374px -451px 13px 11px 627px 597px '../images/sprite-images.png';
@photo-count: 487px 281px -487px -281px 24px 20px 627px 597px '../images/sprite-images.png';
@popup-close-active: 98px 577px -98px -577px 12px 12px 627px 597px '../images/sprite-images.png';
@popup-close-highlight: 44px 586px -44px -586px 10px 10px 627px 597px '../images/sprite-images.png';
@popup-close-sub: 407px 423px -407px -423px 10px 10px 627px 597px '../images/sprite-images.png';
@popup-close: 475px 309px -475px -309px 10px 10px 627px 597px '../images/sprite-images.png';
@price-old-highlight: 142px 554px -142px -554px 30px 17px 627px 597px '../images/sprite-images.png';
@price-old: 317px 478px -317px -478px 30px 17px 627px 597px '../images/sprite-images.png';
@profile-check: 216px 521px -216px -521px 24px 19px 627px 597px '../images/sprite-images.png';
@profile-info-female: 82px 389px -82px -389px 45px 40px 627px 597px '../images/sprite-images.png';
@profile-info-male: 122px 342px -122px -342px 45px 40px 627px 597px '../images/sprite-images.png';
@profile-info-outlook: 375px 106px -375px -106px 45px 40px 627px 597px '../images/sprite-images.png';
@profile-info-social: 311px 209px -311px -209px 45px 40px 627px 597px '../images/sprite-images.png';
@profile-looking-for: 169px 339px -169px -339px 38px 40px 627px 597px '../images/sprite-images.png';
@profile-mark: 433px 394px -433px -394px 16px 12px 627px 597px '../images/sprite-images.png';
@question-tip: 285px 119px -285px -119px 16px 16px 627px 597px '../images/sprite-images.png';
@radio-active: 408px 407px -408px -407px 14px 14px 627px 597px '../images/sprite-images.png';
@radio-dark-active: 191px 546px -191px -546px 14px 14px 627px 597px '../images/sprite-images.png';
@radio-dark: 513px 273px -513px -273px 14px 14px 627px 597px '../images/sprite-images.png';
@radio: 583px 0px -583px 0px 14px 14px 627px 597px '../images/sprite-images.png';
@refresh: 416px 37px -416px -37px 25px 23px 627px 597px '../images/sprite-images.png';
@rooms-view-video: 479px 206px -479px -206px 18px 14px 627px 597px '../images/sprite-images.png';
@show-pass: 305px 451px -305px -451px 25px 25px 627px 597px '../images/sprite-images.png';
@skype: 351px 355px -351px -355px 30px 30px 627px 597px '../images/sprite-images.png';
@slider-next: 331px 251px -331px -251px 18px 34px 627px 597px '../images/sprite-images.png';
@slider-prev: 311px 251px -311px -251px 18px 34px 627px 597px '../images/sprite-images.png';
@smiles: 249px 119px -249px -119px 16px 16px 627px 597px '../images/sprite-images.png';
@talks-add-friend-active: 553px 173px -553px -173px 11px 14px 627px 597px '../images/sprite-images.png';
@talks-add-friend: 116px 431px -116px -431px 11px 14px 627px 597px '../images/sprite-images.png';
@talks-close: 216px 542px -216px -542px 12px 12px 627px 597px '../images/sprite-images.png';
@talks-fold: 571px 122px -571px -122px 12px 12px 627px 597px '../images/sprite-images.png';
@talks-group: 99px 555px -99px -555px 21px 20px 627px 597px '../images/sprite-images.png';
@talks-location-active: 487px 303px -487px -303px 14px 16px 627px 597px '../images/sprite-images.png';
@talks-location: 321px 119px -321px -119px 14px 16px 627px 597px '../images/sprite-images.png';
@talks-maximize: 122px 574px -122px -574px 11px 10px 627px 597px '../images/sprite-images.png';
@talks-minimize: 31px 586px -31px -586px 11px 10px 627px 597px '../images/sprite-images.png';
@talks-msg: 561px 0px -561px 0px 20px 22px 627px 597px '../images/sprite-images.png';
@talks-read: 242px 534px -242px -534px 12px 10px 627px 597px '../images/sprite-images.png';
@talks-settings: 303px 119px -303px -119px 16px 16px 627px 597px '../images/sprite-images.png';
@talks-sound-off: 408px 383px -408px -383px 23px 22px 627px 597px '../images/sprite-images.png';
@talks-sound-on: 528px 173px -528px -173px 23px 22px 627px 597px '../images/sprite-images.png';
@talks-unread: 529px 60px -529px -60px 10px 12px 627px 597px '../images/sprite-images.png';
@talks-user: 375px 187px -375px -187px 17px 20px 627px 597px '../images/sprite-images.png';
@talks-video-on: 513px 60px -513px -60px 14px 12px 627px 597px '../images/sprite-images.png';
@talks-video: 584px 30px -584px -30px 14px 12px 627px 597px '../images/sprite-images.png';
@tip: 267px 119px -267px -119px 16px 16px 627px 597px '../images/sprite-images.png';
@toolbar-distance-search: 278px 514px -278px -514px 11px 12px 627px 597px '../images/sprite-images.png';
@toolbar-gcu-success: 584px 16px -584px -16px 16px 12px 627px 597px '../images/sprite-images.png';
@toolbar-locate-me-marker: 460px 309px -460px -309px 13px 13px 627px 597px '../images/sprite-images.png';
@toolbar-locate-me: 562px 24px -562px -24px 20px 20px 627px 597px '../images/sprite-images.png';
@toolbar-menu-chatrooms-active: 416px 0px -416px 0px 40px 35px 627px 597px '../images/sprite-images.png';
@toolbar-menu-chatrooms: 116px 459px -116px -459px 40px 35px 627px 597px '../images/sprite-images.png';
@toolbar-menu-friends-active: 471px 37px -471px -37px 40px 35px 627px 597px '../images/sprite-images.png';
@toolbar-menu-friends: 39px 468px -39px -468px 40px 35px 627px 597px '../images/sprite-images.png';
@toolbar-menu-messages-active: 358px 283px -358px -283px 40px 35px 627px 597px '../images/sprite-images.png';
@toolbar-menu-messages: 173px 418px -173px -418px 40px 35px 627px 597px '../images/sprite-images.png';
@toolbar-menu-search-active: 243px 381px -243px -381px 40px 35px 627px 597px '../images/sprite-images.png';
@toolbar-menu-search: 129px 422px -129px -422px 40px 35px 627px 597px '../images/sprite-images.png';
@toolbar-menu-views-active: 74px 431px -74px -431px 40px 35px 627px 597px '../images/sprite-images.png';
@toolbar-menu-views: 422px 104px -422px -104px 40px 35px 627px 597px '../images/sprite-images.png';
@toolbar-menu-whats-new-active: 358px 246px -358px -246px 40px 35px 627px 597px '../images/sprite-images.png';
@toolbar-menu-whats-new: 400px 224px -400px -224px 40px 35px 627px 597px '../images/sprite-images.png';
@toolbar-menu-winks-active: 446px 141px -446px -141px 40px 35px 627px 597px '../images/sprite-images.png';
@toolbar-menu-winks: 215px 418px -215px -418px 40px 35px 627px 597px '../images/sprite-images.png';
@trusted-banner-list: 503px 303px -503px -303px 12px 10px 627px 597px '../images/sprite-images.png';
@trusted-error: 130px 0px -130px 0px 117px 135px 627px 597px '../images/sprite-images.png';
@trusted-success: 0px 142px 0px -142px 117px 135px 627px 597px '../images/sprite-images.png';
@user-activity-favorite-active: 513px 32px -513px -32px 26px 26px 627px 597px '../images/sprite-images.png';
@user-activity-favorite-remove: 501px 106px -501px -106px 26px 26px 627px 597px '../images/sprite-images.png';
@user-activity-favorite-waiting: 417px 296px -417px -296px 26px 26px 627px 597px '../images/sprite-images.png';
@user-activity-favorite: 479px 178px -479px -178px 26px 26px 627px 597px '../images/sprite-images.png';
@user-activity-message-active: 442px 254px -442px -254px 26px 26px 627px 597px '../images/sprite-images.png';
@user-activity-message: 327px 387px -327px -387px 26px 26px 627px 597px '../images/sprite-images.png';
@user-activity-wink-active: 355px 387px -355px -387px 26px 26px 627px 597px '../images/sprite-images.png';
@user-activity-wink: 383px 355px -383px -355px 26px 26px 627px 597px '../images/sprite-images.png';
@user-photo-upgrade: 285px 381px -285px -381px 40px 34px 627px 597px '../images/sprite-images.png';
@userNav-toggle: 116px 447px -116px -447px 10px 10px 627px 597px '../images/sprite-images.png';
@welcomePopup-arrow-l: 151px 384px -151px -384px 20px 36px 627px 597px '../images/sprite-images.png';
@welcomePopup-arrow-r: 129px 384px -129px -384px 20px 36px 627px 597px '../images/sprite-images.png';
@welcomePopup-blur-check: 142px 528px -142px -528px 24px 24px 627px 597px '../images/sprite-images.png';
@welcomePopup-blur-dot: 411px 355px -411px -355px 18px 25px 627px 597px '../images/sprite-images.png';
@welcomePopup-blur-text: 417px 324px -417px -324px 120px 25px 627px 597px '../images/sprite-images.png';
@welcomePopup-check-1: 455px 367px -455px -367px 13px 12px 627px 597px '../images/sprite-images.png';
@welcomePopup-check-2: 571px 106px -571px -106px 15px 14px 627px 597px '../images/sprite-images.png';
@welcomePopup-dots: 183px 209px -183px -209px 14px 4px 627px 597px '../images/sprite-images.png';
@welcomePopup-download: 433px 375px -433px -375px 18px 17px 627px 597px '../images/sprite-images.png';
@welcomePopup-drop: 0px 279px 0px -279px 8px 5px 627px 597px '../images/sprite-images.png';
@welcomePopup-folder: 549px 197px -549px -197px 16px 14px 627px 597px '../images/sprite-images.png';
@welcomePopup-marker: 79px 564px -79px -564px 17px 17px 627px 597px '../images/sprite-images.png';
@welcomePopup-spam: 242px 514px -242px -514px 16px 18px 627px 597px '../images/sprite-images.png';
@welcomePopup-star: 122px 555px -122px -555px 16px 17px 627px 597px '../images/sprite-images.png';
@welcomePopup-tip: 0px 586px 0px -586px 14px 11px 627px 597px '../images/sprite-images.png';

._sprite-width(@sprite) {
  width: ~`"@{sprite}".split(', ')[4]`;
}

._sprite-width-mob(@sprite) {
  @width: ~`Math.floor("@{sprite}".split(', ')[4].slice(0, -2)/2)`;
  width: ~"@{width}px";
}

._sprite-height(@sprite) {
  height: ~`"@{sprite}".split(', ')[5]`;
}

._sprite-height-mob(@sprite) {
  @height: ~`Math.floor("@{sprite}".split(', ')[5].slice(0, -2)/2)`;
  height: ~"@{height}px";
}

._sprite-position(@sprite) {
  @sprite-offset-x: ~`"@{sprite}".split(', ')[2]`;
  @sprite-offset-y: ~`"@{sprite}".split(', ')[3]`;
  background-position: @sprite-offset-x  @sprite-offset-y;
}

._sprite-position-mob(@sprite) {
  @sprite-offset-x: ~`Math.ceil("@{sprite}".split(', ')[2].slice(0, -2)/2)`;
  @sprite-offset-y: ~`Math.ceil("@{sprite}".split(', ')[3].slice(0, -2)/2)`;
  background-position: ~"@{sprite-offset-x}px"  ~"@{sprite-offset-y}px";
}

._sprite-image(@sprite) {
  @sprite-image: ~`"@{sprite}".split(', ')[8].slice(1, -2)`;
  background-image: url(@sprite-image);
}

._sprite-background-size(@sprite) {
  @bs: ~`Math.floor("@{sprite}".split(', ')[6].slice(0, -2)/2)`;
  background-size: ~"@{bs}px";
}

._sprite(@sprite) {
  ._sprite-width(@sprite);
  ._sprite-height(@sprite);
  ._sprite-image(@sprite);
  ._sprite-position(@sprite);
}

._sprite-mob(@sprite) {
  ._sprite-width-mob(@sprite);
  ._sprite-height-mob(@sprite);
  ._sprite-image(@sprite);
  ._sprite-position-mob(@sprite);
  ._sprite-background-size(@sprite);
}
