@import "mixin";
@import "vars";
@import "sprite";

._buttons(@bg-color: @theme-color-sub) {
  ._radius();
  display: inline-block;
  margin: 0;
  text-decoration: none;
  letter-spacing: .025em;
  text-transform: uppercase;
  color: @white;
  border: none;
  outline: none;
  outline: none;
  background: fade(@bg-color, 100%);
  text-shadow: none;
  &:hover {
    background: lighten(@bg-color, 5%);
  }
  &:active,
  &.active {
    background: @bg-color;
  }
}