/* mixin */
._transition (@t: all .3s) {
  -webkit-transition: @t;
  transition: @t;
}

._transition_transform(@tt: .1s) {
  -webkit-transition: -webkit-transform @tt;
  transition: transform @tt;
}

._transform (@tm: transform .1s) {
  -webkit-transform: @tm;
  -ms-transform: @tm;
  transform: @tm;
}

._box-sizing (@b: border-box) {
  -webkit-box-sizing: @b;
  -moz-box-sizing: @b;
  box-sizing: @b;
}

._user-select (@us: auto) {
  -webkit-user-select: @us;
  -moz-user-select: @us;
}

._filter (@f: blur(5px)) {
  -webkit-filter: @f;
  -moz-filter: @f;
  filter: @f;
}

._shadow(@s) {
  -webkit-box-shadow: @s;
  box-shadow: @s;
}

._radius(@r: 3px) {
  -webkit-border-radius: @r;
  border-radius: @r;
}

._clearfix {
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

._opacity(@o: 1) {
  @ieo: @o*100;
  opacity: @o;
  -ms-filter: ~"alpha(opacity=@{ieo})";
  filter: ~"alpha(opacity=@{ieo})";
}

// transforms
._transform (rotate, @deg:90deg) {
  -moz-transform: rotate(@deg);
  -webkit-transform: rotate(@deg);
  transform: rotate(@deg);
}
._transform (scale, @zoom:1) {
  -moz-transform: scale(@zoom);
  -webkit-transform: scale(@zoom);
  transform: scale(@zoom);
}

// text-overflow
._text-overflow() {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
._text-overflow(@width) {
  ._text-overflow();
  width: @width;
}

._transition(@transition: .3s) {
  -webkit-transition: @transition;
  -ms-transition: @transition;
  transition: @transition;
}

._gradient (@start, @stop) {
  background: @start; /* Old browsers */
  background: -moz-linear-gradient(top,  @start 0%, @stop 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@start), color-stop(100%,@stop)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  @start 0%,@stop 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  @start 0%,@stop 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  @start 0%,@stop 100%); /* IE10+ */
  background: linear-gradient(to bottom,  @start 0%,@stop 100%); /* W3C */
}

._gradient(@dir, @color1, @color2, @color3) {
  background: @color1;
  background: -webkit-linear-gradient(@dir, @color1, @color2, @color3);
  background: -ms-linear-gradient(@dir, @color1, @color2, @color3);
  background: linear-gradient(@dir, @color1, @color2, @color3);
}

._gradient-img(@sprite, @dir, @color1, @color2) {
  background: @color1 @sprite;
  background: @sprite, -webkit-linear-gradient(@dir, @color1, @color2);
  background: @sprite, -ms-linear-gradient(@dir, @color1, @color2);
  background: @sprite, linear-gradient(@dir, @color1, @color2);
}

