.upgrade-block
  if upgradeButton.enable
    if !hideButtonHint
        if user.account_status.type == "paid"
            //full membership
            .full-upgrade= _t("userNav", "Full Membership")
        else
            //full membership: upgrade now
            span.current-payment-status= _t("userNav", "Free Membership")
          //show upgrate button
    //free user
    if user.account_status.type == "free"
      - var upgradeUrl = "/pay/membership?via=toolbar_upgrade_button"
      //user with discount
      if user.discount.id
          - var discountAmount = user.discount.type == "percent" ? user.discount.percent + "%" : user.discount.amount
          // full membership: upgrade now
          .btn-upgrade-wrap.discount
              a.btn.btn-upgrade(data-upgrade-url=upgradeUrl)= _t("userNav", "Upgrade now")
              if !hideButtonHint
                  span.discount-label= "-" + discountAmount
                  .upgrade-hint-wrap
                      .upgrade-hint.membership
                          span.upgrade-hint__title= _t("userNav", "You are 1 click away from:")
                          ul.upgrade-hint__features
                              li.upgrade-hint__features__item= _t("userNav", "Chatting with the")
                                b= _t("userNav", "hottest members")
                              li.upgrade-hint__features__item= _t("userNav", "Viewing members'")
                                b= _t("userNav", "tempting photos")
                              li.upgrade-hint__features__item= _t("userNav", "Watching members'")
                                b= _t("userNav", "explicit videos")
                              li.upgrade-hint__features__item= _t("userNav", "Using")
                                b= _t("userNav", "advanced search")
                              li.upgrade-hint__features__item= _t("userNav", "Getting more")
                                b= _t("userNav", "naughty action")
                          a.btn.btn-upgrade(data-upgrade-url=upgradeUrl)
                              b= _t("userNav", "Upgrade now")
                              span= _t("userNav","Use your discount", {"{discount}":discountAmount})
      else
          .btn-upgrade-wrap
            a.btn.btn-upgrade(data-upgrade-url=upgradeUrl)= _t("userNav", "Upgrade now")
            if !hideButtonHint
              .upgrade-hint-wrap
                .upgrade-hint.membership
                 .upgrade-hint__title= _t("userNav", "You are 1 click away from:")
                  ul.upgrade-hint__features
                      li.upgrade-hint__features__item= _t("userNav", "Chatting with the")
                          b= _t("userNav", "hottest members")
                      li.upgrade-hint__features__item= _t("userNav", "Viewing members'")
                          b= _t("userNav", "tempting photos")
                      li.upgrade-hint__features__item= _t("userNav", "Watching members'")
                          b= _t("userNav", "explicit videos")
                      li.upgrade-hint__features__item= _t("userNav", "Using")
                          b= _t("userNav", "advanced search")
                      li.upgrade-hint__features__item= _t("userNav", "Getting more")
                          b= _t("userNav", "naughty action")
    else
      if user.hasFeatures
        - var features = user.account_features
        if (features.free_communication || features.top_in_search || features.highlight_profile || features.invisible_mode || features.special_delivery)
          - var GetMoreUrl = "/pay/features?via=toolbar_getmore_button"
          //full membership: get more
          .btn-upgrade-wrap
            a.btn.btn-upgrade(data-upgrade-url=GetMoreUrl)= _t("userNav", "Get more")
            if !hideButtonHint
              .upgrade-hint-wrap
                .upgrade-hint
                  .upgrade-hint__title= _t("userNav", "You are 1 click away from:")
                  ul.upgrade-hint__features
                    if features.top_in_search
                      li.upgrade-hint__features__item= _t("userNav", "Top in")
                        b=_t("userNav", "hottest search")
                    if features.highlight_profile
                      li.upgrade-hint__features__item= _t("userNav", "Highlighted")
                        b=_t("userNav", "tempting profile")
                    if features.invisible_mode
                      li.upgrade-hint__features__item= _t("userNav", "Invisible")
                        b=_t("userNav", "explicit mode")
                    if features.special_delivery
                      li.upgrade-hint__features__item= _t("userNav", "Special")
                        b=_t("userNav", "advanced delivery")
                    if features.free_communication
                      li.upgrade-hint__features__item= _t("userNav", "Free")
                        b=_t("userNav", "naughty communication")
        else
          - var GetMoreUrl = "/pay/liveCamCredits?via=toolbar_offer_button"
          .btn-upgrade-wrap
            a.btn.btn-upgrade(data-upgrade-url=GetMoreUrl)= _t("userNav", "Exclusive offer")
            if !hideButtonHint
              span.discount-label="-30 %"
              .upgrade-hint-wrap
                .upgrade-hint
                  - var discountSum="30 %"
                  .upgrade-hint__title= _t("userNav", "You are 1 click away from:")
                  ul.upgrade-hint__features
                    li.upgrade-hint__features__item=_t("userNav", "title.watch")
                      b=_t("userNav", "free HD shows 24/7")
                    li.upgrade-hint__features__item=_t("userNav", "hook up with the")
                      b=_t("userNav", "hottest models")
                    li.upgrade-hint__features__item=_t("userNav", "enjoy")
                      b=_t("userNav", "private shows even on the go")
                    li.upgrade-hint__features__item=_t("userNav", "have")
                      b=_t("userNav", "virtual sex via cam-2-cam")
                    li.upgrade-hint__features__item=_t("userNav", "watch up to")
                      b=_t("userNav", "5000 hours of pre-recorded shows")
                    a.btn.btn-upgrade(data-upgrade-url=GetMoreUrl)
                      b= _t("userNav", "Exclusive offer")
                      span= _t("userNav","Use your discount", {"{discount}":discountSum})

.photo-holder#userNavPhoto
  span.overlay
  .image-holder
    img.photo(src=photoUrl, title=login)
.b-screenname#userNavPhoto= login
a.b-settingsbutton(href="/#account")
  .b-settings-tooltip= _t("userNav", "title.settings")
.b-dropdown-menu#userNavDropdown
  ul.nav
    li.item
      a.link(href="/#account")= _t("userNav", "title.settings")
    li.item
      a.link(href="/#profile")= _t("userNav", "title.profile")
    if(showHelpSection)
      li.item
        a.link(href="/#help")= _t("userNav", "title.help_section")
    - if (allowedBlocked)
      li.item
        a.link(href="/#blocked")= _t("blocked", "title.blocked_members")
    li.item
      a.link(href="/#site/contactUs")= _t("userNav", "title.contact_us")
    li.item
      a#site-logout.link(href="/site/logout")= _t("userNav", "title.log_out")