each user in activity
  each activities in user
    if activities
      .b-action-item
        .image-centerer
          .image-holder
            img.photo(src=activities.photo_url, width=60, height=60)
          .overlay(href=userLink(activities.id))
        .b-user-info
          h2.b-screenname
           a.link(href=userLink(activities.id))
             span.screenname= activities.login
          .b-age= activities.gender
        .b-action-date= activities.date
        .b-btn-activity
          .b-btn-activity-grid
            a.btn-activity.btn-chat(href=userLink(activities.id))= _t("userNav", "button.message")
          .b-btn-activity-grid
            a.btn-activity.btn-wink(href="#", data-winkbutton=activities.id)
              span.wink= _t("userNav", "Wink")
              span.winked= _t("userNav" ,"winked")