.b-restrictions {
  font-family: 'Open Sans Semibold', Arial, helvetica, sans-serif;
  width: 640px;
  padding: 5px;
  position: relative !important;
  margin: 0 auto;
  .b-wrapp-btn{
    text-align: center;
    padding-top: 20px;
    .btn {
      width: 140px;
    }
  }
  .title{
    font-size: 18px;
    padding-bottom: 18px;
    border-color: #cccccc;
    color: #1a1a1a;
  }
  .list-help-restrictions{
    line-height: 20px;
    li{
      padding: 25px 0 20px 0;
      margin-left: 20px;
      a{
        color: #1a1a1a;
        text-decoration: underline;
      }
      ._clearfix();
      p{
        padding: 16px 0 0 0;
        font-size: 12px;
        font-family: 'Open Sans Light', Arial, helvetica, sans-serif;
        input[type="checkbox"]:not(.default){
          float: left;
          margin-top: 4px;
        }
        input[type="checkbox"]:not(.default) + span:before{

        }
        label{
          color: #707070;
          ._clearfix();
          span{
            padding-left: 4px;
            float: left;
            width: 70%;
          }
        }
      }
    }
    .switch-naughty-mode{
      background: url("../images/switch-naughty-mode-step2.png") 0 0 no-repeat;
      display: block;
      width: 219px;
      height: 120px;
    }
  }

  .left-side{
    margin-right: 250px;
  }
  .right-side{
    width: 220px;
    padding-left: 26px;
    float: right;
    .user-list{
      padding: 0;
      border: 0;
      margin-left: -20px;
      li{
        float: left;
        margin-left: 20px;
        border: 0;
        padding: 30px 20px;
        width: 60px;
        text-align: center;
        background: url("../images/restriction-user_bg.jpg") 0 0 no-repeat;
        font-size: 16px;
        color: @white;
        font-family: helvetica;
      }

    }
  }
  span.line{
    border-bottom: 1px solid #bfbfbf;
    display: block;
    width: 650px;
    margin: 0 -20px;
  }
}


.restrictions-scroll-block{
  max-height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 20px 0;
  line-height: 16px;
  padding-right: 20px;
  h4{
    margin: 15px 0;
    font-weight: normal;
  }
  span{
    display: block;
    padding-bottom: 15px;
  }

  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    background: #ffffff;
  }
}
.b-restrictions-inner{
  .b-wrapp-btn{
    border-top: 1px solid @pop-up-border;
    .btn{
      display: block;
      margin: 0 auto;
      position: relative;

      &:before{
        content: '';
        display: block;
        position: absolute;
        top: 13px;
        left: 20px;
        ._sprite(@arrow-left);
      }
    }
  }
}
