.b-billing-history {
  .b-block {
    margin: 5px;
    padding: 15px;
    background: @billingHistory-block_bg;
    font: 14px/18px @billingHistory-font;
    color: @billingHistory-text;
    ._radius(5px);
    ._shadow(~"0 1px 2px 0 @{billingHistory-block_shad}");
  }
  .status-def,
  .history-title,
  .value {
    font-weight: 700;
  }
  .details-item-def,
  .status-def,
  .history-title,
  .package-desc {
    color: @billingHistory-text_highlight;
  }
  .details-title {
    margin-top: 15px;
  }
  .details-item,
  .expired {
    color: @billingHistory-text_sub;
  }
  .date {
    display: block;
  }
  .charge-desc {
    float: right;
    span {
      display: block;
    }
  }
  .payment-desc {
    overflow: hidden;
  }
  .cancel-repeat {
    margin: 15px 0 0;
    background: @billingHistory-button_main;
  }
  .history-list {
    padding-top: 8px;
    margin: 0 -5px -10px; 
  }
  .history-item {
    border-top: 1px solid @billingHistory-sep;
    padding: 8px 5px;
  }
}