/* text */
@billingHistory-font: Helvetica, Roboto, Segoe, sans-serif;
@billingHistory-text: #1A1A1A;
@billingHistory-text_highlight: @t-main-color;
@billingHistory-text_sub: #808080;
/* end: text */

/* butons */
@billingHistory-button_main: #d9d9d9;
/* end: butons */

/* general */
@billingHistory-block_shad: fade(#000, 50%);
@billingHistory-block_bg: #fff;
@billingHistory-sep: #ccc;
/* end: general */