.b-popup {
  &.b-remove-profile {
    .link {
      color: @t-main-link;
    }
    ._radius(4px);
    width: 613px;
    padding: 0 0 20px;
    position: relative;
    .title {
      color: @header-color;
      ._gradient(@header-bg-start, @header-bg-end);
      ._radius(3px 3px 0 0);
      padding: 7px 15% 7px 20px;
      margin-bottom: 15px;
    }
    .btn-close {
      &:before {
        background-position: -217px -139px;
      }
    }
  }
}
.b-remove-profile {
  .b-popup-content {
    position: relative;
    z-index: 2;
     & > p {
       padding: 0 20px;
     }
     &.step-1 {
      input[type=text], input[type=password] {
        background-color: @popupStopAction-input-grey-bg;
      }
      p {
        width: 420px;
      }
      .form {
        width: 259px;
        margin: 32px auto 294px;
        position: relative;
        #password-error {
          font-size: 12px;
          color: @popupStopAction-error-text-color;
          width: auto;
        }
        ._clearfix;
        .link {
          float: right;
          border-bottom: none;
          margin-top: 2px;
          &:hover {
            border-bottom: none;
          }
        }
        span {
          &.desc {
            color: @popupStopAction-text_light;
            margin-bottom: 2px;
            display: block;
          }
        }
      }
    }
    &.step-3 {
      height: 553px;
      .b-value {
        margin: 0 20px;
      }
      .b-value > .b-options-list {
        margin: 12px 0 0;
      }
      li > .b-options-list {
        margin: 7px 0 5px 20px;
      }

      .footer {
        position: absolute;
        bottom: 0;
      }
      .b-input {
        margin: 12px auto 0;
      }
    }
    &.step-4 {
      p {
        max-width: 490px;
      }
      .b-loss {
        margin: 11px 0;
        padding: 0 185px 0 20px;
        &>li {
          position: relative;
          padding-left: 14px;
          margin-top: 7px;
          &:first-child {
            margin: 0;
          }
          &:before {
            ._radius(7px);
            content: '';
            width: 6px;
            height: 6px;
            position: absolute;
            left: 0;
            top: 7px;
            background-color: @popupStopAction-list_mark;
          }
        }
      }
      .b-input {
        margin-bottom: 251px;
        .b-input-wrap {
          .message-input {
            height: 94px;
          }
        }
      }
    }
    &.step-5 {
      height: 553px;
      p {
        max-width: 490px;
        margin-bottom: 10px;
        &.you-sure {
          margin-top: 14px;
          font-size: 20px;
        }
      }
      .b-settings-row {
        margin-top: 23px;
        .b-setting {
          margin-top: 7px;
        }
      }
      .footer {
        position: absolute;
        bottom: 0;
      }
      .support {
        margin-top: 31px;
        .left {
          float: left;
          width: 265px;
          position: relative;
          padding-top: 186px;
          &:after {
            content: '24/7';
            width: 154px;
            line-height: 143px;
            position: absolute;
            top: 4px;
            left: 45px;
            background: @popupStopAction-sprite_url no-repeat -5px -650px;
            font-size: 32px;
            color: @popupStopAction-text_highlight;
            text-align: center;
          }
          span {
            color: @popupStopAction-text_highlight;
            display: block;
            margin-top: 1px;
          }
          p {
              margin-left: 20px;
          }
        }
        .right {
          float: right;
          width: 289px;
          .cancel-billing-complete {
            width: 267px;
            .phone-number {
              font-size: 32px;
              display: block;
              color: @popupStopAction-text_highlight;
              margin-top: 4px;
            }
          }
          .b-or {
            font-size: 20px;
            color: @popupStopAction-text_light;
            text-align: center;
            width: 248px;
            margin-top: 10px;
          }
          .call-btn {
            text-align: center;
            margin: 24px 0 15px;
            width: 237px;
          }
        }
      }
    }
    &.cancel-billing {
      min-height: 30px;
    }
    &.enter-code,
    &.email-verificate {
      min-height: 230px;
      .form {
        margin: 35px 0 30px;
        padding-left: 20px;
        width: 300px;
      }
    }
    &.enter-code {
      .form {
        width: 100px;
      }
    }
    &.via-code,
    &.via-phone-code,
    &.has-been-cancelled {
      min-height: 230px;
      p {
        margin-bottom: 12px;
      }
    }
    .b-input {
      margin-top: 12px;
      width: 490px;
      .b-input-wrap {
        span {
          color: @popupStopAction-text_light;
          margin-bottom: 2px;
          display: block;
        }
        .message-input {
          height: 100px;
        }
      }
    }
    .footer {
      text-align: right;
      padding: 0 20px;
      min-width: 0;
      right: 0;
      left: 0;
      ._clearfix;
      .btn {
        width: auto;
        display: inline-block;
        vertical-align: top;
        margin: 0;
        min-width: 64px;
        line-height: 29px;
        padding: 0 9px;
        &:first-letter {
          text-transform: uppercase;
        }
        &.next {
          margin-left: 6px;
        }
      }
    }
    .steps-wrap {
      float: left;
      text-align: left;
      .step-number {
        font-size: 20px;
        color: @popupStopAction-step_color_active;
      }
      .step-map {
        display: inline-block;
        vertical-align: top;
        position: relative;
        height: 1px;
        width: 195px;
        background-color: @popupStopAction-step_color;
        margin: 14px 0 0 26px;
        .items {
          ._radius(15px);
          position: absolute;
          width: 11px;
          height: 11px;
          background-color: @popupStopAction-step_bg;
          border: 2px solid @popupStopAction-step_color;
          top: -7px;
          &.active {
            border-color: @popupStopAction-step_color_active;
            &:before {
              ._radius(10px);
              content: '';
              width: 7px;
              height: 7px;
              position: absolute;
              top: 2px;
              left: 2px;
              background-color: @popupStopAction-step_color_active;
            }
          }
          &.pass {
            background-color: @popupStopAction-step_color;
            &:before {
              content: '';
              position: absolute;
              width: 9px;
              height: 8px;
              background: @popupStopAction-sprite_url no-repeat -218px -53px;
              top: 1px;
              left: 1px;
            }
          }
          &.item-2 {
            left: 45px;
          }
          &.item-3 {
            left: 90px;
          }
          &.item-4 {
            left: 135px;
          }
          &.item-5 {
            left: auto;
            right: 0;
          }
        }
      }
    }
  }
  .b-options-list {
    li {
      margin-bottom: 6px;
    }
  }
  .title {
    span {
      display: block;
    }
  }
  .b-settings-row {
    margin: 25px 20px 0;
    
    .b-options-list {
      li {

        label{
          display: inline-block;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .b-settings-notifications {
    .b-setting {
      width: 275px;
    }
    .b-value {
      margin-top: -30px;
    }
    .b-options-list {
      font-size: 0;
      .header {
        margin-bottom: 12px;
        .option {
          font-size: 14px;
        }
      }
      label {
        height: 16px;

      }
      .label, .option {
        display: inline-block;

      }
      .label {
        width: 305px;
        font-size: 14px;
        ._box-sizing;
        padding-right: 20px;
      }
      .option {
        width: 63px;
        vertical-align: top;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .b-settings-options {
    margin-bottom: 37px;
  }
  .member-status {
    margin-top: 0;
    .btn {
      width: auto;
      margin: 0 0 0 40px;
      padding: 10px 36px 8px;
      line-height: 20px;
      max-width: 200px;
      display: inline-block;
      vertical-align: middle;
    }
    .value {
      color: @popupStopAction-text_highlight;
      max-width: 275px;
      display: inline-block;
      vertical-align: middle;
      .info {
        color: @popupStopAction-text_def;
      }
    }
  }
  .b-setting {
    color: @popupStopAction-text_highlight;
    font-size: 20px;
    line-height: 1em;
    margin-bottom: 13px;
  }
  .btn-cancel {
    display:block;
    margin:0 auto;
  }
  .btn-continue {
    text-align:right;
    padding:0 20px;
  }
  .package-name {
    color: @popupStopAction-text_light;
    margin:30px 15px;
  }
  .unsubscr-warning {
    font-size: 12px;
    margin: 0 auto;
    margin-top: 16px;
      &.final {
        font-size: 14px;
        padding: 30px 0;
      }
  }
}
.cancel-billing{
  .step-5 {
    p {
      max-width: 100% !important;
      text-align: center;
    }
    div {
      text-align: center;
    }
    .phone-number {
      font-size: 25px;
      font-weight: 600;
      margin-top: 15px;
    }
    .phone-number-sep {
      margin: 10px 0;
      font-size: 18px;
    }
    .skype-btn-holder {
      margin-bottom: 15px;
      a {
        display: inline-block;
        vertical-align: middle;
        font-size: 25px;
        line-height: 26px;
        color: #00aff0;
        font-weight: 600;
        &:before {
          content: "";
          display: inline-block;
          width: 26px;
          height: 26px;
          margin-right: 2px;
          vertical-align: middle;
          background: url('@{img_url}/callbutton_32px.png');
        }
      }
    }
  }
}