@popupStopAction-img_url: "../images";
@popupStopAction-sprite_url: url("@{popupStopAction-img_url}/sprite.png");

@popupStopAction-header_start: #8ba6cd;
@popupStopAction-header_end: #5079b3;
@popupStopAction-text_header: #fff;
@popupStopAction-text_highlight: #77b200;

@popupStopAction-text_def: #333;
@popupStopAction-text_light: #999;
@popupStopAction-list_mark: #77b200;
@popupStopAction-error-text-color: #ff5a40;

@popupStopAction-step_color: #c1c1c1;
@popupStopAction-step_bg: #fff;
@popupStopAction-step_color_active: @t-main-color;

@popupStopAction-input-grey-bg: #F2F2F2;