@call-btn_bg: #00abeb;

/*--------------------Contact Us--------------------------*/
.b-success {
  width:356px;
  padding:34px 34px 31px;
  font-family: @font-face-header;

  .success-text {
    p {
      line-height:20px;
      font-size:20px;
      text-align:center;
      margin-bottom:31px;
    }
    .btn-continue {
      display:block;
      height:30px;
      margin:0 auto;
      padding:0 32px;
      width:122px;
    }
  }
}

/*------------------------Funnel------------------------------*/
.b-popup-funnel {
  width: 760px;
  ._box-sizing();
  ._clearfix();
  padding: 28px 51px 40px;
  .title {
    margin: 0 0 25px;
    text-align: center;
    padding: 0 0 15px 0;
  }
  .b-row {
    width: 100%;
    padding:0 0 50px;
    ._clearfix();
    &.b-row-list {
      padding:0 0 20px;
      .b-name {
        width:100%;
        margin:10px 0;
      }
      .b-value {
        width:100%;
      }
      .b-item {
        float:left;
        padding:5px 0;
      }
      .btn-light {
        cursor:pointer;
        margin:0 10px 0 0;
        padding: 5px 10px;
        height: auto;
        font-size: 12px;
        line-height: 1.4em;
        border-radius: 14px;
        -moz-border-radius: 14px;
      }
    }
  }
  .b-name {
    float: left;
    color: @color-btn;
    margin: 5px 0 0 0;
    font-size: 14px;
    width: 185px;
  }
  .b-value {
    float: right;
    width: 465px;
  }
  .screenname {
    width: 428px;
  }
  .select {
    float:left;
  }
  .about {
    width: 100%;
    min-height: 5em;
    max-height: 15em;
    text-align: left;
    ._box-sizing();
  }
  .gender {
    width: 158px;
    margin-bottom: 10px;
  }
  .race {
    width: 158px;
    margin-right: 5px;
    margin-bottom: 8px;
  }
  .age-from,
  .age-to {
    width:31px;
    margin: 0 5px;
  }
  .location {
    width:38px;
    margin:0 5px 10px;
  }
  .b-line {
    margin:8px 0;
  }
  .b-location {
    position:relative;
    .distance {
      width:33px;
      vertical-align:top;
    }
    .postcode {
      width:95px;
      margin-left:5px;
    }
    .b-suggest {
      z-index:100;
    }
    .b-suggest-wrap {
      position: relative;
      float: left;
    }
  }
  .btn-prev {
    min-width:120px;
  }
  .btn-next {
    min-width:120px;
    float:right;
    &.blocked {
      opacity: 0.6;
      cursor: default;
      &:hover {
        background-color: #f3473a;
      }
      &:active {
        top: 0;
        background-color: #f3473a;
      }
    }
  }
  .b-nav-btns {
    margin: 30px 0 0;
  }
  .b-text {
    display:inline-block;
    float:left;
    margin-top:6px;
  }
  .b-text.error {
    margin:-20px 0 5px 0;
    color:@color-btn;
  }
  .b-text.clear {
    clear: both;
  }

  .b-value {
    .gender {
      & + .b-text {
        clear: none;
        margin-left: 5px;
        max-width: 110px;
      }
    }
  }

  .b-popup-left-column {
    float: left;
    width: 50%;
    .list-title {
      font-size: 19px;
      font-weight: 400;
      color: @text-def;
    }
  }
  .b-popup-right-column {
    position: relative;
    float: right;
    width: 50%;
  }
  .b-funnel-list {
    list-style-type: none;
    color: @color-text-muted;
    font-size: 14px;
    line-height: 20px;
    li {
      position: relative;
      padding: 0 0 0 21px;
      margin: 10px 0 10px 0;
      &:before {
        content: '';
        position: absolute;
        top: 2px;
        left: 1px;
        width: 11px;
        height: 15px;
        background: @sprite_url -70px -82px no-repeat;
      }
    }
  }
  .b-photo-uploader {
    margin:10px 0;
    padding:10px;
    width:100%;
    box-shadow:0 1px 3px fade(@color-shadow,60%);
    border-radius: 5px;
    ._box-sizing();
    .btn-fb {
      text-transform: none;
      margin-top: 15px;
      background: #3b5998;
      .fb {
        font: bold 16px/1em Tahoma, sans-serif;
      }
    }
  }
  .b-drag-drop {
    padding: 16px 20px 21px;
    width:100%;
    min-height:100px;
    border:2px dashed @color-border-base;
    color:@color-text-muted;
    text-align: center;
    ._box-sizing();
    ._transition(all 0.4s);
    &.active {
      border-color:@color-text-muted;
      background:#FFFEED;
    }
    .title {
      font: 20px/1em @font-face-header;
      font-weight: 600;
      margin: 0 0 21px;
      padding: 0;
      border: none;
      color: @text-def;
    }
    .b-photo-choose {
      min-height:29px;
    }
    .btn-choose, .btn-fb {
      overflow: hidden;
      position: relative;
      min-width:200px;
    }
    .input-choose {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      filter: alpha(opacity=0);
      opacity: 0;
      //visibility:hidden;
      width: 100%;
      height: 100%;
      line-height: inherit;
    }
  }
  .b-search-samples {
    clear: both;
    padding: 20px 0 0;
    text-align: justify;
    .b-user-single {
      display: inline-block;
      vertical-align: top;
      width: 145px;
      margin-right: 25px;
      &:last-child {
        margin-right: 0;
      }
    }
    .b-photo {
      display: inline-block;
      vertical-align: top;
      position: relative;
      padding-bottom: 5px;
      &:hover {
        .b-naughty-tooltip {
          display: block;
        }
      }
      .b-photo-link {
        display: block;
        position: relative;
        width: 145px;
        max-height: 145px;
        overflow: hidden;
        &.blurred-heavy {
          .b-blur-message {
            display: block;
          }
          .image-holder {
            .photo {
              ._blur(18);
            }
          }
          .image-holder, x:-moz-any-link {
            position: relative;
            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 2;
              background: fade(@black, 90%);
            }
          }
          /*IE10 hack*/
          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            .image-holder {
              position: relative;
              &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                background: fade(@black, 90%);
              }
            }
          }
          /*IE10 hack end*/
        }
        &.blurred {
          .b-blur-message {
            display: block;
          }
          .image-holder {
            .photo {
              ._blur(10);
            }
          }
          .image-holder, x:-moz-any-link {
            position: relative;
            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 2;
              background: fade(@black, 78%);
            }
          }
          /*IE10 hack start*/
          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            .image-holder {
              position: relative;
              &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                background: fade(@black, 70%);
              }
            }
          }
          /*IE10 hack end*/
        }
        &.album {
          .image-holder {
            height: 150px;
          }
          .photo {
            height: 100%;
            width: auto;
          }
        }
      }
      .b-blur-message {
        display: none;
        position: absolute;
        z-index: 3;
        left: 50%;
        text-align: center;
        color: #FFF;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
        top: 50%;
        width: 120px;
        line-height: 24px;
        margin-top: -24px;
        margin-left: -60px;
        font-size: 20px;
      }
      img {
        width: 100%;
        display: block;
      }
      &:hover {
        .b-naughty-tooltip {
          display: block;
        }
      }
    }
    .b-screenname {
      position: relative;
      z-index:0;
      top: 0;
      left: 0;
      padding: 0;
      font-size: 18px;
      line-height: 22px;
      width: 145px;
      .screenname {
        z-index:1;
        height: 100%;
        top: 0;
        left: 0;
        width: 145px;
        text-decoration: none;
        display: inline-block;
        text-decoration: none;
        ._text-overflow(100px);
        ._transition(all 0.2s);
      }
    }
    .b-features {
      position: absolute;
      bottom: 5px;
      left: 5px;
    }
    .b-invisible,
    .b-hot,
    .b-vip,
    .b-free-communicate {
      position:relative;
      display:block;
      width:28px;
      height:28px;
      filter: alpha(opacity=70);
      background: @color-shadow;
      background: fadeout(@color-shadow, 30%);
      border-radius: 15px;
      -moz-border-radius: 15px;
      margin:0 0 5px;
      box-shadow:0 0 0px 5px rgba(151,200,3,0);
      ._transition(all .2s);
      &:before {
        display: inline-block;
        content: '';
        background: @sprite_url no-repeat -64px -407px;
        width: 21px;
        height: 19px;
        margin: 4px 0 0 3px;
      }
      &:hover {
        box-shadow:0 0 1px 2px rgba(151,200,3,1);
      }
    }
    .b-vip {
      box-shadow:0 0 0px 5px rgba(254,108,107,0);
      &:before {
        background-position:-6px -407px;
      }
      &:hover {
        box-shadow:0 0 0 2px rgba(254,108,107,1);
      }
    }
    .b-hot {
      box-shadow:0 0 0px 5px rgba(255,212,0,0);
      &:before {
        background-position: -60px -529px;
      }
      &:hover {
        box-shadow:0 0 0 2px rgba(255,212,0,1);
      }
    }
    .b-invisible {
      box-shadow:0 0 0px 5px rgba(255,255,255,0);
      &:before {
        background-position: -83px -143px;
      }
      &:hover {
        box-shadow:0 0 0 2px rgba(255,255,255,1);
      }
    }
    .b-photos-count {
      position: absolute;
      filter: alpha(opacity=70);
      background: @color-shadow;
      background: fadeout(@color-shadow, 30%);
      color: @color-text-base;
      color: fadeout(@color-text-base, 50%);
      font: bold 14px/1em @font-face-header;
      bottom: 5px;
      right: 5px;
      padding: 7px 10px 7px 9px;
      border-radius: 15px;
      -moz-border-radius: 15px;
      &:before {
        margin: 0 3px 0 0;
        opacity: 0.5;
        display: inline-block;
        content: '';
        background: @sprite_url no-repeat -26px -6px;
        width: 20px;
        height: 13px;
      }
    }
    .b-new {
      position: absolute;
      top: 0;
      left: 0;
      font: 12px/1em @font-face-basic;
      background: @color-theme-base;
      text-transform: capitalize;
      color: @color-text-base;
      padding: 4px 5px;
    }
    .b-online {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 13px;
      height: 13px;
      border: 2px solid transparent;
      border-radius: 6px;
      -moz-border-radius: 6px;
      ._box-sizing();
    }
    .b-online-now {
      background: @color-bg-online-now;
      border-color:@color-shadow;
      border-color: fadeout(@color-shadow, 30%);
    }
    .b-online-recent {
      background: @color-bg-online-recent;
      border-color:@color-shadow;
      border-color: fadeout(@color-shadow, 30%);
    }
    .b-user-info {
      display:inline-block;
      position: relative;
      color: @color-text-muted;
      font: @font-basic;
      width: 145px;
      height: 100%;
    }
    .b-btn-activity {
      display: block;
      position: absolute;
      top: 20px;
      right: 22px;
      &:first-letter {
        text-transform: capitalize;
      }
      &.rate {
        top: 27px;
        .rating {
          li {
            display: inline-block;
            height: 12px;
            width: 12px;
            &.on {
              background: @sprite_url -30px -142px;
            }
            &.off {
              background: @sprite_url -45px -142px;
            }
          }
        }
      }
    }
    .b-user-info {
      margin-top: 0;
      .b-screenname {
        width: 100%;
        .screenname {
          color: @color-btn;
          text-decoration: none;
          outline: none;
          width: 145px;
        }
        .facebook-sign {
          margin-top: 1px;
          display: inline-block;
          width: 15px;
          height: 15px;
          vertical-align: top;
          background: url("../images/search.png") no-repeat -241px -107px;
          margin-left: 15px;
        }
      }
      .b-age {
        position: relative;
        margin-top: 0;
        padding-left: 2px;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 18px;
        padding-left: 14px;
        &:before {
          content: '';
          position: absolute;
          top: 3px;
          left: 1px;
          height: 11px;
          width: 8px;
          background: @sprite_url -30px -127px no-repeat;
          display: inline-block;
          margin-right: 8px;
        }
      }
      .b-location, .b-user-about {
       margin-top: 2px;
      }
      .b-location {
        padding-left: 2px;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          top: 3px;
          left: 1px;
          height: 12px;
          width: 8px;
          background: @sprite_url -4px -127px no-repeat;
          display: inline-block;
        }
        .from-you {
          padding-left: 14px;
        }
        .location {
          padding-left: 14px;
          margin: 0 0 8px;
          width: auto;
          height: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          .city {
            &:after {
              content: ' | ';
              display: inline-block;
              padding: 0 0px 0 3px;
              position: relative;
              top: -1px;
            }
          }
        }
      }
    }
    .b-age,
    .b-location {
      position: relative;
      padding: 0 0 0 15px;
      margin: 2px 0;
      line-height: 18px;
      width: 145px;
      &:before {
        left: 0;
        top: 2px;
        position: absolute;
        display: block;
        content: '';
        width: 12px;
        height: 14px;
      }
    }
    .b-user-activity:before {width:14px;}
    .b-age {
      &:before {
        background: @sprite_url no-repeat -30px -125px;
      }
    }
    .b-location {
      &:before {
        background: @sprite_url no-repeat -3px -125px;
      }
    }
  }
  .b-photos-list {
    ._clearfix();
    padding: 32px 0px 2px;
    clear: both;
    .b-name {
      color: #798391;
      border-bottom: 1px solid #e3e3e3;
      padding-bottom: 3px;
      margin-bottom: 10px;
    }
    .photos-list {
      width: 103%;
    }
    .photo-item {
      position: relative;
      width: 123px;
      height: 123px;
      float: left;
      margin: 0 10px 10px 0;
      ._box-sizing();
      &:nth-of-type(4n) {
        margin: 0 10px 10px 0;
      }
      &:nth-of-type(5n) {
        margin: 0 0 10px 0;
      }
      .b-photo {
        overflow: hidden;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
        }
      }
      &:hover {
        .btn-remove {
          opacity:1;
          visibility:visible;
          ._transform(scale,1);
          ._transition(all .2s);
        }
        .b-primary {
          height:20px;
          opacity:1;
          visibility:visible;
          ._transition(e("opacity 0.2s, visibility 0.2s, height 0.1s linear"));
        }
      }
      &.loading {
        .b-photo {
          visibility:hidden;
          opacity:0;
        }
        .b-progress-bar {
          visibility:visible;
          opacity:1;
        }
      }
      &.removing {
        position:relative;
        z-index:1;
        &:before {
          display: inline-block;
          content: ' ';
          width: 85px;
          height: 85px;
          background: url("@{img_url}/small-photo-loader.gif") 50% 50% no-repeat;
          ._radius(20px);
        }
        &:after {
          position:absolute;
          top:0;
          display: inline-block;
          content: ' ';
          width: 85px;
          height: 85px;
          background: url("@{img_url}/bg-loader.png");

        }
        .b-photo {
          position:absolute;
          top:0;
          z-index:-1;
        }
      }
      &.loading,
      &.removing {
        &:hover {
          .btn-remove,
          .b-primary {
            opacity:0;
            visibility:hidden;
          }
        }
      }
    }
    .b-progress-bar {
      visibility:hidden;
      opacity:0;
      margin: 0 auto;
      position: absolute;
      width: 100%;
      height: 5px;
      top: 45px;
      left: 0;
      background: @color-bg-light;
      border-radius: 5px;
      .progress {
        background: #ff9898;
        height: 100%;
        border-radius: 5px;
      }
      .percent {
        width: 100%;
        position: absolute;
        top: -20px;
        left: 0;
        text-align: center;
        color: @color-text-muted;
      }
    }
    .b-control-btns {
      .btn-remove {
        position: absolute;
        top: -5px;
        right: -5px;
        width: 18px;
        height: 18px;
        padding: 0;
        opacity:0;
        visibility:hidden;
        ._transform(scale,0.1);
        ._transition(all .2s ease .2s);
        line-height: 1.2em;
        &:after {
          content:'x';
          display:inline;
        }
        &:active {
          top:-4px;
        }
      }
      .b-primary, .b-check {
        position: absolute;
        bottom: 0;
        height: 0;
        overflow:hidden;
        filter: alpha(opacity=70);
        background: @color-shadow;
        background: rgba(0,0,0,0.7);
        width: 100%;
        color: rgba(255,255,255,0.7);
        opacity:0;
        visibility:hidden;
        ._transition(e("opacity 0.2s ease 0.2s, visibility 0.2s ease 0.2s, height 0.1s linear 0.2s"));
        label {
          cursor: pointer;
          box-sizing: border-box;
          padding: 3px;
          width: 100%;
          display: inline-block;
          height: 100%;
        }
      }
    }
  }
}
.b-loader {
  visibility:hidden;
  opacity:0;
  ._transition(all 0.2s);
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  background:url(../images/bg-loader.png);
  &:after {
    display:block;
    height:31px;
    width:31px;
    content:'';
    background:url(../images/small-photo-loader.gif) no-repeat;
    position:absolute;
    top:48%;
    left:48%;
  }
}
#popup.loading {
  .b-loader {
    visibility:visible;
    opacity:1;
    ._transition(all 0.2s ease 0.2s);
  }
}

/*--------------------------Remove Profile---------------------------*/
.b-remove-profile {
  width:572px;
  padding:40px 38px 31px;
  &.cancel-billing {
    width:615px;
    p span {
      color:@color-btn;
    }
  }

  .title {
    ._clearfix();
    margin-bottom:24px;
    span {
      float:left;
      display:inline-block;
      &.you-sure {
        //overflow:hidden;
        padding-left:10px;
        max-width:396px;
        color:@color-text-muted;
        /*color:#f3473a;*/
        ._capitalize();
      }
    }
  }
  .b-wrapp-btn {
    ._clearfix();
    .btn {
      height:30px;
      float:right;
      min-width:122px;
      text-align:center;
      padding:0 29px;
      &.silver {
        float:left;
        background-color:#a6a6a6;
        &:hover {
          background-color:#9a9999;
        }
      }
    }
  }
  .desc {
    color:@color-theme-base;
    font-size:14px;
  }
  .b-step {
    width: 100%;
    margin: 0 auto;
    display:none;
    p {
      padding-bottom:15px;
      line-height:20px;
    }
    .b-input {
      .message-input {
        min-height:80px;
      }
    }
    &.active {

      display:block;
    }
  }
  /*step 1*/
  .step-1, .step-3 {
    ._clearfix();
    .desc{
      padding-top:20px;
    }
    form {
      padding-top:17px;
      input[type="text"] {
        width:300px;
        margin:0 5px;
        top:-2px;
        position:relative;
      }
      link {
        color:@color-text-muted;
      }
    }
    .btn {
      float:right;
      height:30px;
      margin:158px 0 8px;
      padding:0 32px;
      width:122px;
    }
  }
  /*step2*/
  .step-2 {
    .b-wrapp-btn {
      margin:20px 0 8px;
      padding:0;
    }
  }
  .b-settings-row {
    padding: 15px 0 0;
    &.b-settings-notifications .b-value {
      margin: -17px 0 0;
    }
    &.b-settings-options {
      padding:20px 0 0;
      margin:20px 0 0;
      .b-setting {
        width:auto;
      }
      border-top:1px solid @color-border-base;
      .b-value {
        display:block;
        width:auto;
      }
    }
    .btn {
      vertical-align:middle;
      height: 20px;
      font-size: 11px;
      line-height: 1.6em;
      margin:0 5px;
    }
    .b-value,
    .line {
      position:relative;
    }

    .b-error,
    .b-success {
      width: 190px;
      height: auto;
      z-index: 401;
      position: absolute;
      visibility: hidden;
      opacity: 0;
      filter: alpha(opacity=95);
      background: @color-bg-base;
      background: rgba(255,255,255,0.95);
      border: 1px solid @color-border-base;
      border-color: rgba(0,0,0,0.25);
      box-shadow: 0 1px 4px -1px rgba(0,0,0,0.4);
      border-radius: 5px;
      -moz-transition: all .3s;
      -webkit-transition: all .3s;
      transition: all .3s;
      text-align: center;
      margin: -13px 10px;
      padding: 15px;
      left: 81%;
      top:19%;
      &:after {
        position: absolute;
        content: '';
        display: block;
        background-image: @sprite_url;
        background-position: -50px -103px;
        width: 10px;
        height: 17px;
        left: -10px;
        top:15px;
      }
      &.active {
        visibility: visible;
        opacity: 1;
        -moz-transition: all .1s;
        -webkit-transition: all .1s;
        transition: all .1s;
      }
    }
    .b-success {
      top:-9%;
      left:81%;
    }
  }
  .b-setting {
    margin:5px 0;
    vertical-align: top;
    display: inline-block;
    color: @color-theme-base;
    font: 14px Verdana;
    width: 230px;
  }
  .b-value {
    display: inline-block;
    width: 335px;
    margin:5px 0;
    &.inactive {display:none;}
    .value {
      margin-right:5px;
    }
  }
  .b-options-list {
    &>li {
      margin: 8px 0 0;
      &:first-child {
        margin:2px 0 0;
      }
      ._clearfix();
      &.header {
        font-size: 11px;
        color: @color-text-btn-light;
        .label, .option {
          height:10px;
        }
      }
      .b-options-list {
        padding:10px 0 0 15px;
      }
    }
    .label {
      width: 185px;
      float: left;
      min-height: 15px;
      line-height: 16px;
    }
    .option {
      float: left;
      width: 50px;
      height: 15px;
      text-align: center;
    }
  }
  .b-settings-new-activity {
    .b-options-list {
      & > li {
        display:inline-block;
        margin: 0 15px 10px 0;
        &:last-child {
          margin-right:0;
        }
      }
    }
  }

  .b-settings-btns {
    margin: 30px 0;
    text-align: center;
  }
  .btn-info {
    cursor:default;
    &:active {
      border-color:@color-border-base;
    }
  }
  .btn-save {
    min-width: 200px;
  }
  .b-user-complain {
    margin:30px 0;
    text-align:left;
    ul>li {
      float:left;
      margin:0 25px 0 0;
      a {color:@color-text-muted; text-decoration:none;}
      a:hover {color:@color-theme-base;}
    }
  }

  .b-settings-password {
    .b-name {
      ._capitalize();
      margin:0 0 5px 5px;
    }
    .value {
      display:inline-block;
      margin-top:8px;
      &+.btn-edit-bare {
        margin-top:-8px;
      }
    }

    .line {
      margin:5px 0 0;
      &.inactive {
        display:none;
      }
      .btn-light {
        float:right;
        margin-right:20%;
      }
    }
    .password-old,
    .password-new
    {
      width:250px;
    }
    .b-error {
      top:45%;
    }
  }
  .b-settings-email {
    .line {
      margin:5px 0 0;
    }
    .b-name {
      ._capitalize();
      margin:0 0 5px 5px;
    }
    .value {
      display:inline-block;
      margin:0 0 5px 0;
    }
    .password,
    .email {
      width:250px;
    }
    .b-error {
      top:45%;
    }
  }
  /*input[data-check-password="check-password"]+span {
    display:inline-block;
    margin-right:5px;
  }*/
  /*step3*/
  .step-3 {
    .b-value {
      width:100%;
    }
    .b-input {
      margin:10px 0 0 15px;
    }
    .b-wrapp-btn {
      padding:10px 0 8px;
      .btn {
        margin:0;
      }
    }
  }
  /*step4*/

  .step-4 {
    .b-input {
      min-height:150px;
      margin-top:13px;
      .b-input-wrap {
        padding:15px;
      }
    }
    .b-wrapp-btn{
      padding:99px 0 8px;
    }
    .b-loss {
      padding: 3px 0 12px 36px;
      color:@color-shadow;
      &>li {
        position: relative;
        padding-bottom: 11px;
        &:before {
          content: "";
          display: block;
          position: absolute;
          left: -15px;
          top: 5px;
          width: 5px;
          height: 5px;
          border-radius: 10px;
          background: lighten(@color-btn,10%);
        }
      }
    }
  }
  /*step 5*/
  .step-5 {
    .b-wrapp-btn{
      padding:264px 0 8px;
    }
  }

  &.cancel-billing {
    .cancel-billing-items {
      overflow: hidden;
      position: relative;
      margin: 55px 0;
      .item {
        width: 50%;
        float: left;
        ._box-sizing;
        border-right: 1px solid @color-border-base;
        &.cancel-billing-complete {
          font: 18px/31px @font-face-header;
          padding: 20px 60px 20px 0;
          .phone-number {
            color: @color-btn;
          }
        }
        &.cancel-billing-call {
          font-size: 12px;
          line-height: 20px;
          padding: 30px 20px 20px 60px;
          text-align: center;
          border: none;
          border-left: 1px solid @color-border-base;
          margin-left: -1px;
          .call-btn {
            margin: 0 0 37px;
            .btn-update {
              padding: 14px 45px 14px 75px;
              position: relative;
              background: @call-btn_bg;
              font-size: 12px;
              font-weight: 2.2em;
              box-shadow: none;
              border: none;
              ._radius(20px);
              &:before {
                display: block;
                content: '';
                width: 30px;
                height: 30px;
                background: @sprite_url no-repeat -170px -592px;
                position: absolute;
                left: 25px;
                top: 5px;
              }
            }
          }
        }
      }
      .b-or {
        position:absolute;
        top: 50%;
        left: 50%;
        width: 17px;
        padding: 0 1px 0 0;
        height: 18px;
        background: @color-bg-base;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border: 1px solid @color-border-base;
        font-size: 10px;
        line-height: 16px;
        text-align: center;
        margin: -10px 0 0 -10px;
      }
    }
  }
}
/*--------------Success ---------------------------*/
.b-success-page {
  width:581px;
  padding:40px 38px 31px;

  .title {
    text-align:center;
    line-height:40px;
  }
  .complete-reg {
    padding:38px 0 15px;
    text-align:center;
    a {
      display:block;
    }
  }
  .wrapp-btn {
    text-align:center;
    padding:23px 170px 0;
    span {
      color:@color-theme-base;
    }
    .btn {
      margin-bottom:13px;
      min-height:30px;
      height: auto;
      display: block;
      padding: 0 15px;
    }
    .inactive {
      display:none;
    }
    .ivalid-email {
      color:@color-text-muted;
      font-size:14px;
      font-weight:bold;
      margin: -10px 0 20px 0;
    }
  }
  form {
    border-top:1px solid @color-border-base;
    padding:39px 0 8px;
    margin-top:43px;
    display:none;
    ._clearfix();
  }
  .item {
    width:49.99%;
    float:left;
    padding:18px 36px 18px 0;
    border-right:1px solid @color-border-base;
    position:relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    &.correct {
      border:none;
      padding:18px 0 18px 30px;
    }
    .b-or {
      position: absolute;
      height: 100%;
      top: 0;
      right: -31px;
      width: 61px;
      text-align: center;
      span {
        display: inline-block;
        background: @color-bg-base;
        border: 1px solid @color-border-base;
        font-size: 11px;
        ._radius(15px);
        padding: 0 2px 3px;
        margin-top: 72px;
      }
    }
    p {
      line-height:20px;
      padding-bottom:14px;
    }
    input {
      margin-bottom:18px;
      width:100%;
      height:30px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }
    .btn {
      margin-bottom:12px;
      white-space: normal;
      min-height: 30px;
      height: auto;

    }
  }
  .resend-mail {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
  }
}
/*------------------Motivation popup-------------------*/
.b-motivation {
  padding: 40px 38px 31px;
  width:581px;
  height:385px;
  .b-popup-content {
    text-align:center;
  }
  .title {
    border:0;
    padding-bottom:20px;
    &:after {
      content:'add her to favorites';
    }
  }
  .b-profile-photo {
    width:534px;
    height:252px;
    background:url("@{img_url}/motivation.png") no-repeat;
    margin:0 auto;
  }
  .btn-upload {
    width:160px;
    margin:29px 57px 10px 49px;
    height:30px;
  }

  &.b-motivation-wink {
    .title {
      &:after {
        content:'wink at this member';
      }
    }
    .b-profile-photo {

    }
  }
  &.b-motivation-message {
    .title {
      &:after {
        content:'send a message';
      }
    }
    .b-profile-photo {
      background:url("@{img_url}/motivation-message.png") no-repeat;
    }
  }
}
/*---------------Feedback popup------------------------*/
.b-feedback {
  padding: 40px 50px 31px;
  width:581px;
  height:385px;
  .title {
    border:0;
  }
  .b-tab {
    font-size:13px;
    ._capitalize();
    margin-left:15px;
    padding-left:10px;
    span {
      position:relative;
      padding:0 0 0 15px;
      &:after {
        content:'';
        display:inline-block;
        position:absolute;
        top:-9px;
        left:0;
        width:11px;
        height:24px;
        background: @sprite_url no-repeat -65px -467px;
      }
    }
    &.current span {
      &:after {
        background-position: -65px -499px;
      }
    }

    &.b-tab-problems {
      span {
        padding-left:18px;
        &:after {
          width:14px;
          background-position: -88px -467px;
        }
      }
      &.current span {
        &:after {
          background-position: -88px -499px;
        }
      }
    }
    &.b-tab-tech {
      span {
        padding-left:18px;
        &:after {
          width:14px;
          background-position: -113px -467px;
        }
      }
      &.current span {
        &:after {
          background-position: -113px -499px;
        }
      }
    }
    &.b-tab-success {
      span {
        padding-left:19px;
        &:after {
          width:15px;
          background-position: -135px -467px;
        }
      }
      &.current span {
        &:after {
          background-position: -135px -499px;
        }
      }
    }
  }
  .message-input {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      margin-right: 20px;
      border: 0;
      background: transparent;
      box-shadow: none;
      display: block;
      outline: 0;
      height: 1.4em;
      resize: none;
      min-height: 80px;
      max-height: 150px;
      line-height: 1.4em;
      padding: 1px 1px 0;
      border-radius: 0;
  }
  .b-tabs-content {
    background:@color-bg-base;
    padding:20px 8px;
    margin-top: -1px;
    border-radius: 0 5px 5px 5px;
    border: 1px solid @color-border-base;
    border-color: rgba(0,0,0,0.08) rgba(0,0,0,0.15) rgba(0,0,0,0.3);
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.35);
    -moz-box-shadow: 0 1px 3px -1px rgba(0,0,0,0.35);
    -webkit-box-shadow: 0 1px 3px -1px rgba(0,0,0,0.35);


    .wrapp-btn {
      width:180px;
      margin:30px auto;
      .btn {
        width:100%;
        height:30px;
      }
    }
    .b-text {
      margin:0 15px;
      a {
        color:@color-text-muted;
        &:hover {
          color:@color-theme-base;
        }
      }
    }
    .current.error {
      .b-input {
        box-shadow: 0 0 0 2px #ffa8a8;
        background: #fffafa;
        textarea::-webkit-input-placeholder {color:@color-theme-base;}

      }
    }
  }
}

/*----------------------Payment popups----------------*/
.b-popup-payment {
  width: 400px;
  padding: 40px;
  .title {
    border: none;
    padding-bottom: 23px;
    b {
      font-family: @font-face-muted;
      font-weight: bold;
    }
  }
  .payment-try-again-btn {
    text-align: center;
    padding: 0 0 22px;
  }
  .payment-continue-btn {
    text-align: center;
    padding: 15px 0 30px;
    .btn {
      min-width: 110px;
    }
  }
  p {
    font-size: 12px;
    line-height: 14px;
    color: @color-text-muted;
    margin: 0 0 1em;
  }
  footer p {
    font-size: 11px;
  }
  .transaction-info {
    margin: 0 0 35px;
  }
  .transaction-error {
    font: 26px/32px @font-face-header;
    margin: 0;
  }
  .transaction-id {
    font-size: 12px;
    margin: 0;
  }
}
.b-popup-payment-success p {
  font: 20px/1.3em @font-face-header;
  margin-bottom: .8em;
}

/*-------------- Update Location -----------------*/
.b-update-location {
  position: static;
  width: 690px;
  margin: 0 auto;
  ._box-sizing();
  ._clearfix();
  padding: 28px 51px 40px;
  .title {
    display: block;
    margin: 0 0 25px;
    text-align: center;
    padding: 0 0 15px 0;
    font-family: @font-face-header;
    font-size: 30px;
  }
  .b-popup-content {
    p {
      line-height: 30px;
    }
  }
  .city {
    color: @text-link;
  }
  .btn-wrap {
    margin-top: 25px;
    text-align: center;
  }
  .btn-update {
    line-height: normal;
    height: auto;
    font-size: 14px;
    margin-right: 10px;
    padding: 5px 15px;
  }
  .btn-skip {
    margin-left: 5px;
    text-decoration: none;
    border-bottom: 1px dashed;
    color: @text-link;
    &:hover {
      border-bottom: none;
    }
  }
}

