.menu-widget {
  position: relative;
  height: 40px;
  margin: 2px 0 0;
  float: right;
  z-index: 201;
  &.active {
    .b-dropdown-menu {
      display: table;
    }
    .widget-button {
      &:after {
        background-position: 0px -69px;
      }
      &:hover {
        &:after {
          background-position: -186px -107px;
        }
      }
    }
  }
  .b-dropdown-menu {
    position: absolute;
    top: 35px;
    right: 0;
    z-index: 21;
    min-width: 565px;
    min-height: 90px;
    background: @naughtyMode-description-bg;
    ._shadow(0 0 5px 1px @naughtyMode-dropdown-shadow);
    display: none;
    margin-right: 15px;
    &:before {
      left: auto;
      right: 130px;
    }
  }
  .switcher {
    display: table-cell;
    background: @popupSimple-switcher-cell-bg;
    vertical-align: top;
    height: 100%;
    .switcher-cell {
      display: inline-table;
      height: 100%/3;
      width: 100%;
      ._box-sizing;
      &:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-left: -0.25em;
      }
      &:hover, &.active {
        background: @t-main-color;
        cursor: pointer;
        button, a {
          color: @popupSimple-switcher-cell-color-hover;
          span {
            &:after {
              border-right-color: @t-main-color;
            }
          }
        }
      }
      button, a {
        display: table-cell;
        min-width: 50px;
        position: relative;
        padding: 0 30px;
        line-height: 1;
        height: 100%;
        width: 100%;
        ._box-sizing;
        vertical-align: middle;
        color: @naughtyMode-description-color;
        font-size: 13px;
        &:before {
          content: "";
          display: inline-block;
          height: 100%;
          vertical-align: middle;
          margin-left: -0.25em;
        }
        span {
          line-height: 1;
          vertical-align: middle;
          display: inline-block;
          position: relative;
          &:after {
             content: "";
             border: 5px solid transparent;
             position: absolute;
             left: -16px;
             top: 1px;
           }
          &:before {
            content: "";
            border: 5px solid transparent;
            border-right-color: @white;
            position: absolute;
            left: -18px;
            top: 1px;
          }
        }
      }
    }
  }
}
.widget-button {
  position: relative;
  padding: 5px 15px 5px 10px;
  cursor: pointer;
  &:after {
    position: absolute;
    top: 9px;
    right: 8px;
    width: 11px;
    height: 7px;
    content: '';
  }
  &:hover {
    &:after {
      background-position: -186px -95px;
    }
  }
  .title {
    font-size: 13px;
    color: @naughtyMode-label-color;
    display: inline-block;
    margin-right: 10px;
  }
  .mode {
    font-size: 13px;
    display: inline-block;
    border: 1px solid @black;
    ._radius(3px);
    color: @naughtyMode-label-color;
    background: @naughtyMode-mode-bg;
    height: 24px;
    padding: 0 15px;
    line-height: 24px;
    ._shadow(inset 0 1px 0 @naughtyMode-mode-shadow);

  }
}
.mode-description {
  display: table-cell;
  width: 360px;
  border-right: 1px solid @naughtyMode-border;
  padding: 15px 20px;
  color: @naughtyMode-description-color;
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  .description {
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    line-height: 20px;
    ._opacity(0);
    &.sexy {
      &.active {
        margin-left: -360px;
        width: 370px;
      }
    }
    &.no_limits {
      &.active {
        margin-left: -720px;
        width: 370px;
      }
    }
    a {
//      color: @text-error;
      &:hover {
        text-decoration: underline;
      }
    }
    &.active {
      ._opacity(1);
    }
  }
}

.b-restrictions {
  width: 740px;
  padding: 0;
  position: relative !important;
  margin: 0 auto;
  .header {
    ._radius(2px 2px 0 0);
    ._gradient(@popupSimple-header_start, @popupSimple-header_end);
    font-size: 0;
    padding: 0 20px;
    .btn-close {
      &:before {
        background-position: -217px -139px;
      }
    }
    .title {
      line-height: 40px;
      font-size: 18px;
      text-align: left;
      display: block;
      color: @popupSimple-text_header;
      padding: 0;
    }
  }
  .content {
    padding: 0 40px 40px 54px;
  }
  .b-wrapp-btn{
    text-align: center;
    padding-top: 40px;
    border-top: 1px solid @naughtyMode-border;
    margin: 0 -40px 0 -54px;
    .btn{
      min-width: 140px;
    }
  }
  .list-help-restrictions{
    line-height: 25px;
    padding: 0;
    margin: 0;
    li{
      position: relative;
      padding: 32px 0 13px;
      &:first-child {
        &:after {
          display: none;
        }
      }
      &:after {
        content: "";
        display: block;
        margin: 0 -40px 0 -54px;
        height: 1px;
        background: @pop-up-border;
        position: absolute;
        right: 0;
        left: 0;
        top: 10px;
      }
      a{
        color: @t-main-color;
        cursor: pointer;
        border-bottom: 1px dashed @t-main-color;
        text-transform: none;
        text-decoration: none;
      }
      p{
        margin: 21px 0 0;
        input[type="checkbox"]:not(.default){
          float: left;
          margin-top: 4px;
        }
        input[type="checkbox"]:not(.default) + span:before{

        }
      }
      label{
        margin-top: 8px;
        display: block;
        line-height: 20px;
        ._clearfix();
        &+p {
          margin-top: 17px;
        }
        span{
          float: left;
          padding-left: 26px;
        }
      }
    }
    .nm-switcher {
      margin: 0 auto;
      width: 600px;
      a {
        border: 0;
      }
    }
    .switch-naughty-mode{
      height: 185px;
      margin: 16px 61px 0 24px;
      .widget-button {
        cursor:  default;
        text-align: right;
      }
      .menu-widget {
        height: auto;
      }
      .b-dropdown-menu {
        min-width: 490px;
        position: static;
      }
      .l-toolbar-top {
        position: relative;
        top: 0;
        left: 0;
      }
      .switcher-cell {
        cursor: default;
        &.active {
          a {
            cursor: default;
            &:hover {
              color: @popupSimple-switcher-cell-color-hover;
              span {
                &:before, &:after {
                  display: block;
                }
              }
            }
          }
          &:hover {
            background: @t-main-color;
          }
        }
        &:hover {
          background: @popupSimple-switcher-cell-bg;
        }
        a {
          cursor: default;
          span {
            span {
              ._text-overflow(100%);
            }
          }
          &:hover {
            color: @naughtyMode-description-color;
            span {
              &:before, &:after {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .left-side{
    margin-right: 240px;
  }
  .right-side{
    width: 220px;
    padding-left: 15px; 
    float: right;
    .user-list{
      padding: 0;
      border: 0;
      margin-left: -20px;
      li{
        float: left;
        margin-left: 20px;
        border: 0;
        padding: 0;
        text-align: center;
        background: url("../images/restriction-user_bg.jpg") 0 0 no-repeat;
        font-size: 12px;
        color: @white;
        font-family: helvetica;
        &:after {
          display: none;
        }
        span{
          width: 100px;
          height: 100px;
          display: table-cell;
          vertical-align: middle;
        }
      }

    }
  }
  span.line{
    border-bottom: 1px solid #bfbfbf;
    display: block;
    width: 650px;
    margin: 0 -20px;
  }
}


.restrictions-scroll-block{
  max-height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 20px 0;
  line-height: 16px;
  padding-right: 20px;
  h4{
    margin: 15px 0;
    font-weight: normal;
  }
  span{
    display: block;
    padding-bottom: 15px;
  }

  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    background: #ffffff;
  }
}
.b-restrictions-inner{
  .restrictions-scroll-block{
      font: 13px/16px 'Open Sans Light',Arial,helvetica,sans-serif;
    }
  .b-wrapp-btn{
    border-top: 1px solid @pop-up-border;
    .btn{
      display: inline-block;
      margin: 0 auto;
      position: relative;
      min-width: 60px;
    }
  }
}
.ie9, .ie10 {
  .menu-widget .switcher .switcher-cell {
    height: 48.33%;
  }
}
@media screen and (max-width: 1200px) {
  .widget-button .title {
    display: none;
  }
}