@pop-up-border: #cccccc;
@pop-up-title: #3f3f3f;

@naughtyMode-label-color: #c7c7c7;
@naughtyMode-mode-bg: #404040;
@naughtyMode-mode-shadow: #666;
@naughtyMode-description-bg: #fafafa;
@naughtyMode-border: #d6d6d6;
@naughtyMode-description-color: #424242;
@naughtyMode-dropdown-shadow: fade(#000, 38%);

@popupSimple-header_start: #1b1b1b;
@popupSimple-header_end: #1b1b1b;
@popupSimple-text_header: #fff;

@popupSimple-switcher-cell-bg: #fff;
@popupSimple-switcher-cell-color-hover: #fff;

