.popup-active {
  position: absolute;
  overflow: hidden;
  height: 100%;
}
.b-notification-icon {
  position: fixed;
  z-index: 90;
  top: 100px;
  right: 0;
  padding: 8px 15px;
  font-size: 18px;
  text-align: center;
  color: @activityNotification-text_over;
  background: @activityNotification-bg;
  ._radius(22px 0 0 22px);
  &:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 19px;
    margin: -3px 0 0 0;
    vertical-align: middle;
    background: @activityNotification-sprite 17px 124px;
    background-size: 213px;
  }
}
.popup-notification {
  font-size: 16px;  
  .notif-users-wrap {
    position: absolute;
    top: 60px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    z-index: 1001;
    ._box-sizing;
  }
  .notif-users {
    position: absolute;
    width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background: @activityNotification-popup_bg;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    ._radius(0 0 5px 5px);
    ._box-sizing;
  }
  .notif-title {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    padding: 12px 15px;
    height: 45px;
    color: @activityNotification-text_over;
    background: @activityNotification-header_bg;
    z-index: 1001;
    ._radius(5px 5px 0 0);
    ._box-sizing;
    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 17px;
      height: 19px;
      margin: -3px 3px 0 0;
      background: @activityNotification-sprite 17px 124px;
      background-size: 213px;
    }
    .popup-close {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      padding: 15px;
      margin: 0;
      background: none;
      &:before {
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        background: @activityNotification-sprite 16px 99px;
        background-size: 213px;
      }
    }
  }
  .button {
    display: block;
    margin: 15px auto 0;
    padding: 8px 15px;
    font-size: 16px;
    color: @activityNotification-button_text;
    background: @activityNotification-button;
  }
  .notif-banner {
    padding: 15px;
    color: @activityNotification-text_over;
    background: @activityNotification-banner_subscr_bg;
  }
  .item-holder {
    position: relative;   
    margin: 0 15px;
    border-top: 1px solid @activityNotification-sep;   
    .wrap-link {
      display: block;
      padding: 15px 10px;
      padding-bottom: 7px;
      margin: 0 -15px;
      text-decoration: none;
      overflow: hidden;
      ._clearfix;
    }
    &:first-child {
      border-top: none;
    }
    .pic {
      position: relative;
      float: left;
      width: 45px;
      height: 45px;
      overflow: hidden;
      ._radius(5px);
      img {
        width: 100%;
      }
    }
    .item-close {
      position: absolute;
      top: 35%;
      right: -15px;
      margin: -23px 0 0 0;
      padding: 15px;
      background: none;
      z-index: 1;
      &:before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background: @activityNotification-sprite -195px -110px;
        background-size: 215px;
      }
    }
    .content-holder {
      padding: 0 0px 0 55px;
      
      a:-webkit-any-link {
        text-decoration: none;
      }
      .user-buttons{
        &.activity-btns {
          margin: 5px 0;
          
          .usr-action,
          .a-chat-cam {
            width: 100%;
            max-width: 94px;
            margin-left: 4%;
            &:first-child{
              margin-left: 0;
            }
          }

          .a-chat-cam {
            float: left;
            height: 100%;
            ._clearfix();
          }

          .a-chat-cam .wc-button {
            margin-left: 0 !important;
          }
        }
      }
    }
    .notif-desc {
      display: block;
      color: @activityNotification-text_highlight;
      line-height: 17px;
      padding: 5px 0 3px;
    }
    .screenname {
      display: block;
      color: @activityNotification-text;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .user-actions {
    display: block;
    padding: 0px 35px 0 55px;
    margin: 0 0 10px 0px;
    clear: both;
    ._clearfix;
    button {
      float: left;
      margin: 0;
      width: 50%;
      color: @activityNotification-button_action_text;
      background: none;
      position: relative;
        span {
          display: block;
          padding: 4px 0;
          vertical-align: middle;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      &:before{
        content: "";
        position: absolute;
        width: 31px;
        left: 0;
        top: 0;
        bottom: 0;
        background: lighten(@t-main-color, 10%);
        background: -moz-linear-gradient(top,  lighten(@t-main-color, 10%) 0%, @t-main-color 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,lighten(@t-main-color, 10%)), color-stop(100%,@t-main-color));
        background: -webkit-linear-gradient(top,  lighten(@t-main-color, 10%) 0%,@t-main-color 100%);
        background: -o-linear-gradient(top,  lighten(@t-main-color, 10%) 0%,@t-main-color 100%);
        background: -ms-linear-gradient(top,  lighten(@t-main-color, 10%) 0%,@t-main-color 100%);
        background: linear-gradient(to bottom,  lighten(@t-main-color, 10%) 0%,@t-main-color 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten(@t-main-color, 10%)', endColorstr='@t-main-color',GradientType=0 );

      }
    }
    .btn-chat {
      span {
        &:before {
          background-position: 0 -15px;
        }
      }
    }
    .btn-wink {
      span {
        &:before {
          background-position: -125px -90px;
        }
      }
      &.active {
        color: @activityNotification-active_text;
        span {
          &:before {
            background-position: -32px -52px;
          }
        }
        .final_state {
          display: block;
        }
        .initial_state {
          display: none;
        }
      }
      .final_state {
        display: none;
      }
      .initial_state {
        display: block;
      }
    }
  }
  .srh-results-flirtcast {
    padding-bottom: 0;
    .b-flirtcast {
      .button {
        margin: 0;
      }
    }
    .b-flirtcast-result-message {
      list-style-type: none;
      text-align: center;
      padding: 15px;
      display: none;
    }
  }
  /* blurred */
  .b-message-holder {
    font-size: 10px;
  }
}

.email-validation-b {
  background: #f2f2f2;
  padding: 16px 0 0;
  border: 1px solid #dfdfdf;
  text-align: center;
  color: #5f5f5f;
  font-size: 0.875em;
  -webkit-border-radius: 0 0px 5px 5px;
  -moz-border-radius: 0 0px 5px 5px;
  border-radius: 0 0px 5px 5px;
  position: relative;
  .email-valid-info {
    padding: 0 0px;
    line-height: 1.15em;
  }
  .email-vaild-btns{
    position: relative;
    margin-top: 20px;
    .email-valid-btn {
      display: inline-block;
      background: @activityNotification-header_bg;
      color: #fff;
      text-align: center;
      text-decoration: none;
      width: 120px;
      padding: 13px 0;
      font-size: 1.2em;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: 1px 1px 1px 1px rgba(217,217,217,0.7);
      -moz-box-shadow: 1px 1px 1px 1px rgba(217,217,217,0.7);
      box-shadow: 1px 1px 1px 1px rgba(217,217,217,0.7);
      margin-bottom: 12px;
      
      &.check-email{
        display: block;
        width: auto;
        margin: 10px 20px;
      }
      &.resend-btn {
        margin-right: 8px;
      }
      &.change-btn {
        background: #d1d9e4;
        background: -moz-linear-gradient(top,  #d1d9e4 0%, #c7cace 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1d9e4), color-stop(100%,#c7cace));
        background: -webkit-linear-gradient(top,  #d1d9e4 0%,#c7cace 100%);
        background: -o-linear-gradient(top,  #d1d9e4 0%,#c7cace 100%);
        background: -ms-linear-gradient(top,  #d1d9e4 0%,#c7cace 100%);
        background: linear-gradient(to bottom,  #d1d9e4 0%,#c7cace 100%);
        color: #6b7c8d;
      }
    }
  }
  .email-valid-window-change-email, .email-valid-window-resend-email{
    position: relative;
    width: 100%;
    background: #0b132e;
    overflow: hidden;
      input{
        display: block;
        padding: 10px;
        width: 100%;
        max-width: 230px;
        box-sizing: border-box;
        margin: 19px auto 12px;
        text-align: center;
        font-size: 1.2em;
        border: 1px solid #cccccc;
        box-shadow: none;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
      }
      button{
        background: @activityNotification-header_bg;
        color: #fff;
        display: block;
        text-align: center;
        width: 100%;
        max-width: 230px;
        margin: 0 auto 15px;
        border-radius: 3px;
        -webkit-box-shadow: 1px 1px 1px 1px rgba(217,217,217,.7);
        -moz-box-shadow: 1px 1px 1px 1px rgba(217,217,217,.7);
        box-shadow: 1px 1px 1px 1px rgba(217,217,217,.7);
        padding: 10px 0;
        font-size: 1.5em;
      }
      .email-valid-window-change-email-content{
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
        position: relative;

        .invalid-email {
          border-color: #ff0000;
        }
      }
    }
      .email-valid-window-resend-email {
        
        .email-valid-window-info {
          color: #fff;
          font-size: 1.5em;
          line-height: 1em;
          padding: 25px;
        }
        a{
          display: block;
          background: @activityNotification-header_bg;
          max-width: 228px;
          width: 100%;
          margin: 0 auto;
          border-radius: 3px;
          -webkit-box-shadow: 1px 1px 1px 1px rgba(217,217,217,.7);
          -moz-box-shadow: 1px 1px 1px 1px rgba(217,217,217,.7);
          box-shadow: 1px 1px 1px 1px rgba(217,217,217,.7);
          padding: 15px 0;
          margin-bottom: 15px;
          color: #ffffff;
          text-decoration: none;
          font-size: 1.5em;
        }
      }
}
