/* images */
@activityNotification-images_path: "../images";
@activityNotification-sprite: url(~"@{activityNotification-images_path}/icons.png");
/* end: images */

/* text */
@activityNotification-text: #1A1A1A;
@activityNotification-text_over: #fff;
@activityNotification-text_highlight: #a6a8aa;
@activityNotification-active_text: #FBAE12;
/* end: text */

/* buttons */
@activityNotification-button: #e5f6e4;
@activityNotification-button_text: #1b1b1b;
@activityNotification-button_action_text: #a0a0a0;
/* end: buttons */

/* general */
@activityNotification-bg: @t-main-color;
@activityNotification-header_bg: @t-main-color;
@activityNotification-banner_subscr_bg: #7bd17a;
@activityNotification-popup_bg: #fff;
@activityNotification-sep: #f4f4f4;
/* end: general */

