.b-user-nav
    .photo-holder#userNavPhoto(title=_t("userNav", "title.message"))
      .nav-icon
      span.overlay
      .image-holder
        img.photo(src=photoUrl, title=login)
    .b-dropdown-menu#userNavDropdown
      ul.nav
        li.item
          a.link(href="/#account")= _t("userNav", "title.settings")
        li.item
          a.link(href="/#profile")= _t("userNav", "title.profile")
        - if (trustedValidation.isAvailable)
          li.item.trusted-item
            a.link(href=trustedValidation.urls.menu)= _t("userNav", "title.trusted_link")
        li.item
          a.link(href="/#site/contactUs")= _t("userNav", "title.contact_us")
        li.item
          a.link(id="site-logout" href="/site/logout")= _t("userNav", "title.log_out")
