.divider {
  height: 40px;
}

.l-toolbar-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 604;
  .menu-bar {
    ._gradient(@toolbar-header_start, @toolbar-header_end);
    ._shadow(0px 1px 4px fade(@toolbar-header_shadow, 40%));
    position: relative;
    z-index: 200;
    height: 40px;
    .main {
      position: relative;
      margin: 0 auto;
      min-width: 750px;
    }
  }
}

.b-logo {
  float: left;
  width: 180px;
  height: 40px;
  text-align: center;
  margin-right: 10px;
  .logo {
    display: inline-block;
    margin-top: 4px;
    width: 170px;
    height: 40px;
    img {
      max-height: 36px;
    }
  }
}
.b-site-nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  margin: 0;
  height: 40px;
  .b-nav-list {
    margin-left: 139px;
    padding: 0;
    list-style: none;
    width: 85%;
    &>li {
      position: relative;
      display: inline-block;
      float: left;
      width: 50px;
      height: 40px;
      &[data-nav-item="vod"] {
        margin: 0 7px;
        &:before,
        &:after {
          position: absolute;
          content: "";
          top: 100%;
          border-top: 0 solid transparent;
          border-bottom: 5px solid transparent;
        }

        &:before {
          left: -6px;
          border-right: 6px solid @t-main-color;
        }

        &:after {
          right: -6px;
          border-left: 6px solid @t-main-color;
        }
      }
      &.active {
        ._gradient(@toolbar-item_active_start, @toolbar-item_active_end);
      }
      &:hover {
        ._gradient(@toolbar-item_hover_start, @toolbar-item_hover_end);
      }
      &[data-nav-item="vod"]:hover { background: transparent; }
    }
  }
}
.site-nav-item {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 40px;
  outline: none;
  text-decoration: none;
  font: 12px/14px @toolbar-font_600;
  ._box-sizing;
  &:before {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: -16px auto 0;
    width: 32px;
    height: 32px;
    background: @toolbar-sprite_url no-repeat;
    content: '';
  }
  &.site-nav-messenger {
    &:before {
      background-position: -224px 0;
    }
  }
  &.site-nav-views {
    &:before {
      background-position: -288px 0px;
    }
  }
  &.site-nav-winks {
    &:before {
      background-position: -256px 0px;
    }
  }
  &.site-nav-favorites {
    &:before {
      background-position: -320px 0px;
    }
  }
  &.site-nav-newsfeed {
    &:before {
      background-position: -352px 0px;
    }
  }
  &.site-nav-chatrooms {
    &:before {
      background-position: 0 -928px;
    }
  }
  &.site-nav-webcams {
    &:before {
      background: url("@{toolbar-img_url}/cams_icon.png") center center no-repeat;
    }
  }
  &.site-nav-sms {
    &:before {
      background-position: 0 -1039px;
    }
  }
  &.site-nav-vod18,
  &.site-nav-vod {
    cursor: pointer;
    ._gradient(lighten(@t-main-color, 6%), lighten(@t-main-color, 2%));
    height: 45px;
    border-left: 1px solid fade(#fff, 30%);
    border-right: 1px solid fade(#fff, 30%);
    &:before {
      background-position: -16px -1007px;
    }
  }
  &.site-nav-coreg {
    &:before {
      background-position: -104px -1007px;
    }
  }
  &.site-nav-vodxxx {
    cursor: pointer;
    &:before {
      background-position: -49px -1005px;
    }
  }
  .counter {
    ._opacity(0);
    ._shadow(0 1px 3px fade(@toolbar-shadow, 60%));
    ._radius(12px);
    ._transition(.1s);
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 25;
    visibility: hidden;
    padding: 4px 3px 3px;
    border: 1px solid @toolbar-counter_border;
    background: @toolbar-counter_bg;
    color: @toolbar-counter_text;
    text-align: center;
    font: 10px/10px @toolbar-font_600;
    min-width: 12px;
    &.active {
      ._opacity;
      ._transition(opacity .1s);
      visibility: visible;
    }
  }
  .title {
    color: @toolbar-text_def;
    text-align: center;
    font-size: 12px;
    position: absolute;
    width: 200px;
    margin-left: -100px;
    bottom: -5px;
    left: 50%;
    display: none;
    ._opacity(0);
    ._transition(.1s);
    .title-holder {
      z-index: 2;
      display: inline-block;
      position: relative;
      white-space: nowrap;
      padding: 1px 4px;
      background: @toolbar-item_hover_start;
      border-radius: 2px;
      &:before {
        position: absolute;
        border: 5px solid transparent;
        border-top-width: 0;
        border-bottom-color: @toolbar-item_hover_start;
        top: -5px;
        left: 50%;
        margin-left: -5px;
        content: "";
      }
    }
  }
  &:hover {
    .title {
      display: block;
      ._opacity;
      ._transition(all .1s);
      bottom: -22px;
      z-index: 1;
    }
  }
}
.b-nav-list {
  .b-dropdown-menu {
    ._shadow(0 8px 26px fade(@toolbar-shadow, 30%));
    ._radius(6px);
    position: absolute;
    top: 44px;
    left: -96px;
    z-index: 4000;
    display: none;
    padding: 10px 0px 8px;
    width: 240px;
    background: @toolbar-dropdown_bg;
    &:after {
      position: absolute;
      top: -7px;
      right: 0;
      left: 0;
      margin: auto;
      width: 15px;
      height: 8px;
      background: @toolbar-sprite_url no-repeat -216px -102px;
      content: '';
    }
    &.active {
      display: block;
    }
    .b-upgrade {
      letter-spacing: -4px;
      font-size: 0;
      line-height: 0;
      a {
        display: block;
        margin-bottom: 11px;
        padding: 0px 10px 10px;
        border-bottom: 1px solid @toolbar-dropdown_border;
        color: @toolbar-text_dropdown;
        text-decoration: none;
        letter-spacing: normal;
        .gcu-icon {
          ._shadow(0 1px 3px fade(@toolbar-shadow, 30%));
          ._radius;
          display: inline-block;
          float: left;
          margin-right: 8px;
          width: 28px;
          height: 28px;
          vertical-align: top;
          position: relative;
          ._gradient(@toolbar-button_start, @toolbar-button_end);
          &:before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background: @toolbar-sprite_url no-repeat;
          }
          &.free-m {
             &:before {
              background-position: -292px -35px;
            }
          }
          &.invisible {
             &:before {
              background-position: -321px -34px;
            }
          }
        }
        .gcu-text {
          display: inline-block;
          margin-top: -2px;
          width: 180px;
          vertical-align: top;
          font-size: 12px;
          line-height: 16px;
        }
        &:hover {
          .gcu-icon {
            &.free-m {
              ._gradient(@toolbar-button_start_hover, @toolbar-button_end_hover);
            }
            &.invisible {
              ._gradient(@toolbar-button_start_hover, @toolbar-button_end_hover);
            }
          }
          .gcu-text {
            color: @toolbar-text_highlight;
          }
        }
      }
    }
    .nav {
      overflow: auto;
      margin: 0 10px 10px 0;
      padding: 0 10px;
      max-height: 190px;
      list-style: none;
      li {
        margin: 0 0 8px;
        line-height: 14px;
        overflow: hidden;
        &.blurred {
          background: none !important;
          img {
            ._blur(10);
            ._opacity(1) !important;
          }
          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 30px;
              height: 30px;
              z-index: 2;
              background: @blur-overlay;
            }
          }
          /*IE10 hack end*/
          .ie8 &,
          .ie9 & {
            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 30px;
              height: 30px;
              z-index: 2;
              background: @blur-overlay;
            }
          }
        }
        &.blurred-heavy {
          background: none !important;
          img {
            ._blur(18);
            ._opacity(1) !important;
          }
          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 30px;
              height: 30px;
              z-index: 2;
              background: @blur-heavy-overlay;
            }
          }
          /*IE10 hack end*/
          .ie8 &,
          .ie9 & {
            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 30px;
              height: 30px;
              z-index: 2;
              background: @blur-heavy-overlay;
            }
          }
        }
        .image-holder {
          position: relative;
          overflow: hidden;
          ._blur(0);
          display: inline-block;
          float: left;
          width: 30px;
          margin-right: 10px;
        }
        a {
          display: block;
          text-decoration: none;
          color: inherit;
          &:hover {
            .screenname {
              text-decoration: underline;
            }
          }
        }
        .sms-chat {
          .b-btn-activity {
            margin: 10px 0 0 40px;
          }
          .b-btn-activity-grid {
            vertical-align: middle;
          }
          .btn-activity {
            font-size: 1px;
            color: transparent;
          }
        }
        .photo {
          display: block;
          float: left;
          margin: 0 10px 0 0;
        }
        .screenname {
          display: block;
          outline: none;
          color: @toolbar-text_highlight;
          font: 14px/16px @toolbar-font_600;
        }
        .date {
          display: block;
          color: @toolbar-text_light;
          font-size: 12px;
        }
        .action {
          display: block;
          overflow: hidden;
        }
      }
    }
    .b-view-more {
      padding: 0 10px;
      text-align: right;
      .view-more {
        max-width: 150px;
        padding: 0 10px;
        text-align: center;
        line-height: 29px;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .l-toolbar-top {
    width: 750px;
  }
}
@media screen and (max-width: 1000px) {
  .site-nav-item,
  .b-site-nav .b-nav-list>li {
    width: 35px;
  }
}
