@toolbar-img_url: "../images";
@toolbar-sprite_url: url("@{toolbar-img_url}/sprite.png");
@toolbar-vod_ico_url: url("@{toolbar-img_url}/vod_icon.png");
@toolbar-font_600: 'Open Sans Semibold', Arial, helvetica, sans-serif;

@toolbar-text_def: #bbb;
@toolbar-text_dropdown: #4d4c4c;
@toolbar-text_light: #999;
@toolbar-text_highlight: #5079b3;
@toolbar-header_start: #1b1b1b;
@toolbar-header_end: #1b1b1b;
@toolbar-header_shadow: #111711;
@toolbar-shadow: #000;
@toolbar-counter_border: @toolbar-header_start;
@toolbar-counter_bg: @t-main-color;
@toolbar-counter_text: #fff;
@toolbar-dropdown_bg: #fff;
@toolbar-dropdown_border: #ccc;

@toolbar-border_right: #5b769b;
@toolbar-border_left: #8ba6cd;

@toolbar-item_active_start: lighten(@toolbar-header_start, 10%);
@toolbar-item_active_end: lighten(@toolbar-header_start, 10%);
@toolbar-item_active_shadow_1: transparent;
@toolbar-item_active_shadow_2: transparent;
@toolbar-item_hover_start: lighten(@toolbar-header_start, 10%);
@toolbar-item_hover_end: lighten(@toolbar-header_start, 10%);

@toolbar-button_shadow: #690;
@toolbar-button_start: #9fc94c;
@toolbar-button_end: #78b302;
@toolbar-button_start_hover: #addd4d;
@toolbar-button_end_hover: #86c703;
@toolbar-button_start_press: #95b459;
@toolbar-button_end_press: #639303;

@blur-overlay: fade(#000, 85%);
@blur-heavy-overlay: fade(#000, 95%);