mixin userInfo(title, key)
  .data-single
    span.b-details-title= title
    - if(user[key])
      span= user[key].ucfirst()
    -else
      span= _t("user", "title.not_given")
mixin photoStatus
  - if(user.statuses)
    - if(user.statuses.newStatus)
        span.b-new= _t("user", "title.new")
  - if(userPhotoCount > 1)
    span.b-photos-count= _t("user", "text.number_photos", {"{n}": userPhotoCount})
.w-user-profile(class=(upgrade && upgrade.photo_big) ? "user-free" : "")
  .pattern-bg
    .pattern-inner
      .pattern-overlay
  .content-top#content-top
    .content-settings
  - if(profileStatus === "active")
    .content-main
      - if(messages.upgrade_communication_show && messages.upgrade_communication && user.paymentStatus.type == "paid")
        .sidebar
          .sidebar-widget
            span= _t("user", "text.to_let_any_non_paying_member")
            a.btn.green(href= messages.upgrade_communication+user.id)= _t("user", "text.upgrade_to_connect")
          .sidebar-widget#userright-banner-widget(style="display: none;")
            .userright-banner-openx#openx-banner-placement-userright
      - else
        .sidebar
          .sidebar-widget#userright-banner-widget(style="display: none;")
            .userright-banner-openx#openx-banner-placement-userright
      .main-column
        .b-user-profile#user-profile
          .usertop-banner
            .usertop-banner-openx#openx-banner-placement-usertop
          .user-info-block
            .b-screenname
              span.screenname= user.login
              - if(user.statuses)
                - if(user.statuses.onlineStatus)
                  span.status.online
                - if(user.statuses.recentlyOnlineStatus)
                  span.status.recently
              if !user.isUserAdmin
                .b-features
                  - if(user.marks && user.marks.hotUser && user.marks.hotUser.upgradeUrl)
                    a(href=user.marks.hotUser.upgradeUrl)
                      span.item.hot(title=_t("user", "title.hot_user"))= _t("user", "title.hot_user")
                  - if(user.invisibleMode)
                    - if(forUser.invisibleMode)
                      span.item.invisible(title=_t("user", "title.invisible_mode"))= _t("user", "title.invisible_mode")
                    - else
                      a.item.invisible(href=user.marks.invisible_mode.upgradeUrl, title=_t("user", "title.invisible_mode") )!= _t("user", "title.invisible_mode") + " &nbsp;"
                  - if(user.marks && user.marks.top_in_search && user.marks.top_in_search.upgradeUrl)
                    a(href=user.marks.top_in_search.upgradeUrl)
                      button.item.vip!= _t("user", "title.top_in_search") + " &nbsp;"
                  - if(user.marks && user.marks.free_communication && user.marks.free_communication.show)
                    a(href=user.marks.free_communication.upgradeUrl)
                      button.item.free!= _t("user", "title.free_communication") + " &nbsp;"
                  - if(user.statuses && user.statuses.newStatus)
                    button.item.new= _t("user", "title.new_user")
                  - if(trustedValidation.trustedFunctionalEnabled && user.statuses && user.statuses.isTrusted)
                    span.item.trusted= _t("user", "title.status.trusted")
                      span.b-tooltip=_t("user", "tooltip.status.trusted")
                        - if(currentUser && !currentUser.isTrusted && trustedValidation.isAvailable)
                          a(href=trustedValidation.url)=_t("user", "tooltip.status.trusted.ppLink")
            .b-user-photo(class=(naughtyMode.naughtyClass)?naughtyMode.naughtyClass:"")
              .image-holder
                - if(naughtyMode.naughtyLevel == 1)
                  span.b-blur-message= _t("user", "title.naughty_photo")
                - else if(naughtyMode.naughtyLevel == 2)
                  span.b-blur-message= _t("user", "title.explicit_Nudity")
                - if(naughtyMode.naughtyMode)
                  .naughty-menu
                    if naughtyMode.naughtyLevel === 2
                      .description= _t("user", "title.switch_no_limits")
                    else
                      .description= _t("user", "title.switch_sexy")
                    .switcher.extra-small
                      if (naughtyMode.naughtyMode.enableNaughtyLevel)
                        each val, key in naughtyMode.naughtyMode.enableNaughtyLevel
                          .switcher-cell(class=(naughtyMode.naughtyMode.naughtyMode == key+1)?"active":"")
                            a(data-nm-trigger=key+1)= _t("user", "title." + val)
                if user.isUserAdmin
                  a
                    img(src=(userPrimaryPhoto && userPrimaryPhoto.avatar) ? userPrimaryPhoto.avatar : user.photoUrl, class="photo")
                else
                  a(href=(upgrade.photo_big)?upgrade.photo_big:url)
                    img(src=(userPrimaryPhoto && userPrimaryPhoto.avatar) ? userPrimaryPhoto.avatar : user.photoUrl, class="photo")
                .b-btn-activity
                  if forAdmin
                    if talksEnabled
                      .b-btn-activity-grid
                        button.btn-activity.btn-message.disactive(title= _t('user', 'button.message'))
                    .b-btn-activity-grid
                      button.btn-activity.btn-favorite(type="button", title= _t("user", "button.add_friend"))
                        span.default= _t("user", "button.add_friend")
                    .b-btn-activity-grid
                      button.btn-activity.btn-wink(type="button", title= _t("user", "button.wink"))
                        span.default= _t("user", "button.wink")
                  else
                    if talksEnabled
                      .b-btn-activity-grid
                        button.btn-activity.btn-message(data-chat, title= _t('user', 'button.message'))
                    .b-btn-activity-grid
                      - if (friendsEnabled)
                        button.btn-activity.btn-favorite(type="button", data-friendsbutton=user.id, class=(buttons.friends.activated)?"active":(buttons.friends.waiting)?"waiting":"", title=_t("user", "tooltip.friendship." + ((buttons.friends.activated) ? "friend" : (buttons.friends.waiting) ? "requested" : "not_friend" )))
                          span.default= _t("user", "button.add_friend")
                          span.alternate= _t("user", "button.friends")
                          span.remove= _t("user", "button.remove")
                          span.waiting= _t("user", "text.request_send")
                      - else
                        button.btn-activity.btn-favorite(type="button", data-favoritebutton=user.id, class=(buttons.favorite.activated)?"active":"", title=(buttons.favorite.activated) ?  _t("user", "button.friends") : _t("user", "button.add_friend"))
                          span.default= _t("user", "button.add_friend")
                          span.alternate= _t("user", "button.friends")
                    .b-btn-activity-grid
                      button.btn-activity.btn-wink(type="button", data-winkbutton=user.id, class=(buttons.wink.activated)?"active":"", title=(buttons.wink.activated) ? _t("user", "button.winked") : _t("user", "button.wink"))
                        span.default= _t("user", "button.wink")
                        span.alternate= _t("user", "button.winked")
                .b-statuses
                  - if(userPhotoCount > 1)
                    span.b-photos-count= userPhotoCount
            .b-user-data
              .data-wrap
                .b-age= _t("user", "text.n_years", {"{n}": user.age})
                .b-location
                  - if (user.geo.city != '')
                    span #{user.geo.city},
                  span= _t("searchForm", ' '+user.geo.country)
                if user.geo.distanceToMe
                  .b-away= _t("user", "title.away-number-" + user.distanceUnits, {"{n}": user.geo.distanceToMe})
              .b-user-details.minimized(data-view-more="status")
                span.b-details-title= _t("user", "title.whats_on_gender_mind", { "{n}": user.data_gender })
                - if(user.chat_up_line)
                  - if(typeof user.chat_up_line_cut === 'string')
                    p.cut!= user.chat_up_line_cut+'... '
                      a(href="#", data-view-more-link="more")= _t("user", "link.view_more")
                    p.large!= user.chat_up_line+' '
                      a(href="#", data-view-more-link="less")= _t("user", "link.view_less")
                  - else
                    p.large= user.chat_up_line
                - else
                  p.large= _t("user", "description.no_info_shared")
          .user-info-block.right-column
            .b-user-details.minimized(data-view-more="description")
              span.b-details-title= _t("user", "title.in_gender_own_words", { "{n}": user.data_gender })
              - if(user.description)
                - if(typeof user.description_cut === 'string')
                  p.cut!= user.description_cut+'... '
                    a(href="#", data-view-more-link="more")= _t("user", "link.view_more")
                  p.large!= user.description+' '
                    a(href="#", data-view-more-link="less")= _t("user", "link.view_less")
                - else
                  p.large= user.description
              - else
                p= _t("user", "description.no_info_shared")
            .personal-info
              .b-heading= _t("user", "title.personal_info")
              .b-table
                .b-column-wrap.body-info(class=user.data_gender)
                  +userInfo(_t("user", "title.body_type"), "build")
                  +userInfo(_t("user", "title.height"), "height")
                  +userInfo(_t("user", "title.weight"), "weight")
                  +userInfo(_t("user", "title.hair_color"), "hair_color")
                  +userInfo(_t("user", "title.eyes_colour"), "eye_color")
                  +userInfo(_t("user", "title.tattoo"), "tattoo")
                  +userInfo(_t("user", "title.piercing"), "pierced")
                .b-column-wrap.social-info
                  +userInfo(_t("user", "title.marital_status"), "marital_status")
                  +userInfo(_t("user", "title.orientation"), "sexual_orientation")
                  +userInfo(_t("user", "title.living"), "living")
                  +userInfo(_t("user", "title.income"), "income")
                  +userInfo(_t("user", "title.children"), "children")
                  +userInfo(_t("user", "title.smoke"), "smoke")
                  +userInfo(_t("user", "title.drink"), "drink")
                .b-column-wrap.outlook-info
                  +userInfo(_t("user", "title.ethnic_origin"), "race")
                  +userInfo(_t("user", "title.education"), "education")
                  +userInfo(_t("user", "title.religion"), "religion")
            if !user.isUserAdmin
              .looking-for
              if lookingFor.show === "looking-for-block"
                .b-heading= _t("user", "title.looking_for_gender")
                .b-data-wrap
                  if lookingFor.gender || lookingFor.age || (lookingFor.photoLevel && lookingFor.photoLevel.length)
                      .data-single
                        span.b-details-title= _t("user", "title.gender")
                        if lookingFor.gender
                          span= _t("user", lookingFor.gender)
                        else
                          span= _t("user", "title.not_given")
                      .data-single
                        span.b-details-title= _t("user", "title.age")
                        if lookingFor.age
                          span= lookingFor.age.from + "-" + lookingFor.age.to
                        else
                          span= _t("user", "title.not_given")
                      .data-single
                        span.b-details-title= _t("user", "title.looking_for_location")
                        if lookingFor.location
                          span= lookingFor.location
                        else
                          span= _t("user", "title.not_given")
                  if (lookingFor.religion && lookingFor.religion.length) || (lookingFor.race && lookingFor.race.length)
                      .data-single
                        span.b-details-title= _t("user", "title.lookin_for_religion")
                        if lookingFor.religion && lookingFor.religion.length
                          span= lookingFor.religion.join(", ").ucfirst()
                        else
                          span= _t("user", "title.not_given")
                      .data-single
                        span.b-details-title= _t("user", "title.lookin_for_ethnic_origin")
                        if lookingFor.race && lookingFor.race.length
                          span= lookingFor.race.join(", ").ucfirst()
                        else
                          span= _t("user", "title.not_given")
              else
                .upgrade-banner
                  div.baner-holder
                    .title= _t("user", "text.full_member_for_view", { "{n}": user.data_gender })
                    a.btn.green(href=lookingFor.upgrade)= _t("user", "text.get_in_now")
          if !user.isUserAdmin
            .user-info-block.block_photos
              .photo-wrap(class=(userPhotoCount == 1)?"one-photo":"")
                - if(naughtyMode.naughtyMode && !upgrade.photo_big)
                  .naughty-menu
                    .switcher.extra-small
                      if (naughtyMode.naughtyMode.enableNaughtyLevel)
                          each val, key in naughtyMode.naughtyMode.enableNaughtyLevel
                            .switcher-cell(class=(naughtyMode.naughtyMode.naughtyMode == key+1)?"active":"")
                              a(data-nm-trigger=key+1)= _t("user", "title." + val)
                    .description= _t("user", "title.switch_sexy_no_limits")
                - if(upgrade && upgrade.photo_more)
                  .photos-upgrade-banner
                    span.title= _t("user", "text.get_a_full_membership")
                    a(href=upgrade.photo_more)
                      button.btn.green.small= _t("user", "text.get_it_now")
                .photo-wrap.photos#userPhotos
                if (showTrustedBanner)
                  .trusted-banner
                    .banner-head= _t("user", "text.obtain_trusted_status")
                    .banner-body
                      ul.benefit-list
                        if (forUser.gender === "female")
                          li= _t("user", "text.gain_your_matches")
                          li= _t("user", "text.get_many_times")
                          li= _t("user", "text.contact_any_man")
                          li= _t("user", "text.display_your_profile")
                        else if (forUser.gender === "male")
                          li= _t("user", "text.receive_messages_from")
                          li= _t("user", "text.get_many_times")
                          li= _t("user", "text.display_your_profile")
                      .info= _t("user", "text.more_likely_to_reply_" + forUser.gender)
                      .wrap-btn
                        a.btn.banner-linck(href=forUser.trustedValidation.urls.userProfile)= _t("user", "text.get_trusted_status_" + forUser.gender)
        .userbottom-banner-openx#openx-banner-placement-userbottom
  - else if(profileStatus === "hidden")
    .profile-hidden= _t("user", "text.profile_was_hidden")
  - else if(profileStatus === "removed")
    .profile-hidden= _t("user", "text.profile_was_removed")
