/*------------------------Funnel pop-up------------------------------*/
.b-popup {
  &.b-popup-funnel {
    ._radius(10px);
    width: 580px;
    max-width: 651px;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    h1 {
      color: @popupPhotoUploadMotivation-text_title;
    }
    &.step-2 {
      width: 710px;
      max-width: 710px;
      .content {
        padding: 25px 10px;
      }
    }
    .b-popup-left-column {
      float: left;
      width: 50%;
      padding-right: 20px;
      ._box-sizing;
    }
    .list-title {
      font-size: 16px;
    }
    .b-funnel-list {
      list-style-type: none;
      li {
        position: relative;
        padding-left: 14px;
        margin-top: 7px;
        line-height: 20px;
        &:before {
          ._radius(7px);
          content: '';
          width: 6px;
          height: 6px;
          position: absolute;
          left: 0;
          top: 7px;
          background-color: @popupPhotoUploadMotivation-marker_bg;
        }
      }
    }
    .b-popup-right-column {
      position: relative;
      float: right;
      width: 50%;
    }
    .upload-form {
      position: relative;
      border: 1px dashed @popupPhotoUploadMotivation-upload_form_border;
      ._radius(10px);
      margin-bottom: 15px;
      text-align: center;
      overflow: hidden;
      .title {
        margin-top: 15px;
      }
      .drag-drop {
        display: inline-block;
        vertical-align: middle;
        line-height: 16px;
        padding: 0 10px;
        color: @popupPhotoUploadMotivation-text_light;
      }
      .b-photo-choose {
        margin: 15px 0px 5px;
        display: inline-block;
        &.qq-upload-button-hover {
          background: none;
        }
        input[multiple="multiple"] {
          z-index: 2;
        }
      }
      input[multiple="multiple"] {
        &:hover {
          background: none;
        }
      }
      #fbPhotoUploaderBtn {
        position: relative;
        z-index: 3;
      }
      .btn-upload {
        position: relative;
        min-width: 172px;
        ._radius(20px);
        display: inline-block;
        outline: none;
        border: none;
        color: @popupPhotoUploadMotivation-text_def_dark;
        text-decoration: none;
        text-shadow: none;
        font: 600 13px/1em @popupPhotoUploadMotivation_font_600;
        cursor: pointer;
        ._box-sizing;
        text-align: center;
        padding: 8px 15px 9px;
        margin: 15px 15px 5px 15px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        input[type="file"] {
          position: absolute;
          ._opacity(0);
          z-index: 2;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          width: 100%;
          cursor: pointer;
        }
      }
      .btn-fb-upload, .btn-fb {
        min-width: 172px;
        display: block;
        padding: 8px 8px 9px;
        ._radius(20px);
        display: inline-block;
        outline: none;
        border: none;
        color: @popupPhotoUploadMotivation-text_def_dark;
        text-decoration: none;
        text-shadow: none;
        font: 600 13px/1em @popupPhotoUploadMotivation_font_600;
        cursor: pointer;
        ._box-sizing;
        text-align: center;
        padding: 8px 15px 9px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: @popupPhotoUploadMotivation-text_def;
        float: none;
      }
      .btn-fb {
        margin-top: 0;
        margin-bottom: 15px;
      }
    }
    .b-search-samples {
      clear: both;
      padding: 26px 0 0;
      text-align: justify;
    }
    .b-user-single {
      display: inline-block;
      vertical-align: top;
      width: 145px;
      margin-right: 26px;
      &:last-child {
        margin-right: 0;
      }
    }
    .b-photo {
      display: inline-block;
      vertical-align: top;
      position: relative;
      padding-bottom: 5px;
      &:hover {
        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: fade(@popupPhotoUploadMotivation-avatar_hover_bg, 10%);
        }
      }
    }
    .b-photo-link {
      display: block;
      position: relative;
      width: 145px;
      height: 145px;
      overflow: hidden;
      &.album {
        height: 145px;
        padding: 0;
        .image-holder {
          position: absolute;
          top: 0;
          left: 50%;
          margin-left: -400px;
          width: 800px;
          height: 100%;
          img {
            display: block;
            margin: 0 auto;
            width: auto;
            height: 100%;
          }
        }
      }
    }
    .image-holder {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      background: url(~"@{popupPhotoUploadMotivation-img_url}/loader.gif") no-repeat center;
      img {
        display: inline-block;
        width: 100%;
      }
    }
    .b-photos-count {
      position: absolute;
      z-index: 3;
      top: 4px;
      right: 5px;
      width: 22px;
      height: 14px;
      padding: 6px 4px 0 0;
      background: @popupPhotoUploadMotivation-sprite_url no-repeat -73px -54px;
      text-align: center;
      color: @popupPhotoUploadMotivation-text_def_dark;
      font: 11px @popupPhotoUploadMotivation_font_600;
      font-weight: 600;
    }
    .overlay {
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      &:before {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        left: 0;
        height: 70px;
        ._gradient(@popupPhotoUploadMotivation-overlay_bg, transparent);
        ._opacity(.4);
      }
    }
    .b-features {
      margin: 5px 0 0 5px;
      position: relative;
      z-index: 5;
      .item {
        display: block;
        margin: 0 0 5px 0;
        background: fade(@popupPhotoUploadMotivation-feature_item_bg, 60%);
        ._radius(7px);
        font-size: 11px;
        font-family: @popupPhotoUploadMotivation_font_600;
        font-weight: 600;
        line-height: 12px;
        padding: 1px 4px 0 4px;
        outline: none;
        text-align: center;
        min-width: 33px;
        &:hover {
          background: fade(@popupPhotoUploadMotivation-feature_item_bg, 75%);
        }
      }
    }
    .b-user-info {
      display: inline-block;
      position: relative;
      width: 145px;
    }
    .b-screenname {
      font-size: 13px;
      font-weight: 300;
    }
    .screenname {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      max-width: 128px;
      height: 15px;
    }
    .status {
      display: inline-block;
      width: 10px;
      height: 10px;
      ._radius(5px);
      margin-left: 1px;
      vertical-align: top;
      position: relative;
      top: 3px;
      &.online {
        background: @popupPhotoUploadMotivation-online_bg;
      }
      &.online-recently {
        background: @popupPhotoUploadMotivation-online_recently_bg;
      }
    }
    .b-main-info {
      font-size: 11px;
      font-family: @popupPhotoUploadMotivation_font_600;
      font-weight: 600;
      line-height: 14px;
      color: @popupPhotoUploadMotivation-text_light;
    }
    .b-photos-list {
      display: block;
      ._clearfix;
      padding: 30px 0 0;
      clear: both;
      .title {
         font-size: 13px;
         margin: 0 0 11px;
      }
      .b-name {
        color: @popupPhotoUploadMotivation-text_title;
        border-bottom: 1px solid @popupPhotoUploadMotivation-title_border;
        padding-bottom: 3px;
        margin-bottom: 10px;
      }
      .photo-item {
        position: relative;
        width: 116px;
        max-height: 116px;
        height: auto;
        float: left;
        margin: 0 20px 20px 0;
        ._box-sizing();
        &:nth-of-type(4n) {
          margin: 0 20px 20px 0;
        }
        &:nth-of-type(5n) {
          margin: 0 0 20px 0;
        }
        .b-photo {
          overflow: hidden;
          width: 100%;
          max-height: 125px;
          .photo {
            display: block;
            width: 100%;
          }
        }
        &:hover {
          .btn-remove {
            ._opacity(1);
            visibility:visible;
            ._transform(scale,1);
          }
          .b-primary {
            ._opacity(1);
            height: auto;
            visibility: visible;
          }
        }
        &.loading {
          .b-photo {
            visibility: hidden;
            ._opacity(0);
          }
          .b-progress-bar {
            visibility: visible;
            ._opacity(1);
          }
        }
        &.removing {
          position: relative;
          z-index: 1;
          &:before {
            display: inline-block;
            content: ' ';
            width: 85px;
            height: 85px;
            background: url(~"@{popupPhotoUploadMotivation-img_url}/small-photo-loader.gif") 50% 50% no-repeat;
            ._radius(20px);
          }
          &:after {
            position: absolute;
            top: 0;
            display: inline-block;
            content: ' ';
            width: 85px;
            height: 85px;
            background: url(~"@{popupPhotoUploadMotivation-img_url}/bg-loader.png");

          }
          .b-photo {
            position: absolute;
            top: 0;
            z-index: -1;
          }
        }
        &.loading,
        &.removing {
          &:hover {
            .btn-remove,
            .b-primary {
              ._opacity(0);
              visibility: hidden;
            }
          }
        }
      }
      .b-progress-bar {
        visibility: hidden;
        ._opacity(0);
        margin: 0 auto;
        position: absolute;
        width: 100%;
        height: 5px;
        top: 60px;
        left: 0;
        background: @popupPhotoUploadMotivation-progress_bar_bg;
        border-radius: 5px;
        .progress {
          background: @popupPhotoUploadMotivation_progress_bg;
          height: 100%;
          border-radius: 5px;
        }
        .percent {
          width: 100%;
          position: absolute;
          top: -20px;
          left: 0;
          text-align: center;
          color: @popupPhotoUploadMotivation-color_text_muted;
        }
      }
      .b-control-btns {
        .btn-remove {
          position: absolute;
          margin: 0;
          top: 0px;
          z-index: 10;
          right: 0px;
          width: 24px;
          height: 24px;
          padding: 0;
          ._opacity(0);
          visibility: hidden;
          ._transform(scale,0.1);
          line-height: 1.2em;
          display: inline-block;
          background: none;
          text-align: center;
          vertical-align: top;
          text-decoration: none;
          ._box-sizing;
          &:hover {
            &:after {
              ._opacity(.85);
            }
          }
          &:active {
            top: 0;
            background: fade(@popupPhotoUploadMotivation-block_bg, 70%);
          }
          &:after {
            content: '';
            position: absolute;
            top: 7px;
            left: 7px;
            width: 12px;
            height: 12px;
            background: no-repeat @popupPhotoUploadMotivation-sprite_url -141px -73px;
          }
        }
        .b-primary, .b-check {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          height: auto;
          overflow: hidden;
          filter: alpha(opacity=70);
          background: @popupPhotoUploadMotivation-block_bg;
          background: fade(@popupPhotoUploadMotivation-block_bg, 70%);
          width: auto;
          color: fade(@popupPhotoUploadMotivation-text_check, 70%);
          ._opacity(0);
          visibility: hidden;
          label {
            cursor: pointer;
            box-sizing: border-box;
            padding: 5px 10px 3px;
            width: auto;
            display: inline-block;
            height: 100%;
            ._radius(2px);
            span {
              display: block;
              width: 70px;
              position: absolute;
              top: 50px;
              left: 50%;
              margin-left: -35px;
            }
          }
        }
      }
      input[type="radio"] + span:before {
        top: 1px;
      }
    }
    .b-nav-btns {
      .btn-prev {
        float: left;
      }
      .btn-next {
      }
    }
    .photos-list {
      margin: 10px 0;
      overflow: hidden;
    }
    .photo-item {
      float: left;
      width: 50px;
      height: 50px;
      margin: 0 0 10px 10px;
      overflow: hidden;
      .b-photo {
        width: 100%;
        .photo {
          width: 100%;
        }
      }
    }
    .title {
      display: block;
      font-size: 16px;
      line-height: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .b-popup-content {
      padding: 15px 15px 30px 15px;
    }
    .header {
      border-bottom: 1px solid @popupPhotoUploadMotivation-border_def;
      margin: -3px -15px 0;
      padding:0 15px 10px;
      text-align: center;
      font: 16px @popupPhotoUploadMotivation_font_600;
    }
    .btn-close {
      position: absolute;
      top: 5px;
      right: 5px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      width: 25px;
      height: 35px;
      background: none;
      &:after {
        content: '';
        position: absolute;
        top: 8px;
        left: 5px;
        width: 15px;
        height: 15px;
        background: @popupPhotoUploadMotivation-sprite_url no-repeat -217px -76px;
      }
    }
    .content {
      padding-right: 115px;
    }
    .btn {
      float: right;
      margin-top: 15px;
      padding: 12px 30px;
    }
    .row-screenname {
      ._clearfix();
      margin-bottom: 15px;
      .b-text {
        color: @popupPhotoUploadMotivation-text_error;
        font-size: 11px;
        margin-left: 115px;
        font-family: @popupPhotoUploadMotivation_font_600;
        display: none;
        position: relative;
        top: 3px;
        clear: both;
      }
    }
    .row-prefs {
      ._clearfix();
      margin-bottom: 6px;
      .b-name {
        margin-top: 0;
      }
      .b-value {
        float: left;
        li {
          margin-bottom: 8px;
        }
        label {
          &:hover {
            cursor: pointer;
          }
        }
        input {
          position: relative;
        }
      }
    }
    .b-row {
      ._clearfix;
    }
    .b-name {
      float: left;
      width: 100px;
      text-align: right;
      margin-top: 7px;
      margin-right: 15px;
      }
    .field {
      &.error {
        .b-text {
          display: block;
        }
      }
      .screenname {
        width: 160px;
        float: left;
        height: 30px;
      }
    }
    .meta-button-wrap {
      top: 0px;
      right: 0px;
    }
    .top-row {
      padding-bottom: 17px;
      border-bottom: 1px solid @popupPhotoUploadMotivation-border;
    }
    input[type="checkbox"] {
      position: absolute;
      z-index: 2;
      ._opacity(.8);
    }
    .album {
      border-top: 1px solid @popupPhotoUploadMotivation-border;
      padding: 15px 0 16px;
      position: relative;
      &:first-child {
        border-top: none;
      }
      &.active {
        .photo-list {
          display: block;
        }
        .open-btn {
          &:after {
            background-position: -377px -142px;
          }
        }
      }
    }
    .open-btn {
      position: absolute;
      right: -5px;
      top: 11px;
      width: 25px;
      height: 25px;
      background: none;
      margin: 0;
      outline: none;
      &:after {
        position: absolute;
        content: '';
        width: 16px;
        height: 10px;
        right: 5px;
        top: 9px;
        background: @popupPhotoUploadMotivation-sprite_url no-repeat -377px -131px;
      }
      &:hover {
        ._opacity(.85);
      }
    }
    .photo-list {
      ._clearfix;
      margin: 6px 0 4px;
      display: none;
      width: 103%;
      position: relative;
      left: -10px;
      ._transition;
    }
    .photo-wrap {
      width: 80px;
      height: 80px;
      float: left;
      margin: 10px 0 0 10px;
      overflow: hidden;
      display: block;
      position: relative;
      cursor: pointer;
      img {
        display: block;
        width: 100%;
      }
    }
    .check-photo {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      background: fade(@popupPhotoUploadMotivation-overlay_bg, 60%);
      display: none;
      &.active {
        display: block;
      }
      &:after {
        content: '';
        position: absolute;
        width: 24px;
        height: 19px;
        left: 50%;
        top: 50%;
        background: @popupPhotoUploadMotivation-sprite_url no-repeat -481px -77px;
        margin: -10px 0 0 -12px;
      }
    }
    .btn-row {
      text-align: right;
      margin-top: 30px;
      .btn-cancel,
      .btn-upload {
        min-width: 64px;
        margin-left: 10px;
      }
    }
  }
}
/*------------------------Funnel pop-up SU------------------------------*/
.pop_up-overlay--white {
  background: #fff;
  filter: alpha(opacity=97);
  opacity: 0.97;
}

.voronka_pop_up {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1050;
  top: 0;

  &.show { display: block; }

  &__close {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #333 !important;
    font-size: 1.4em;
  }

  &__container {
    width: 100%;
    max-width: 757px;
    padding: 25px 0;
  }

  &__content {
    overflow: hidden;
    padding: 0 1em;
  }

  &__footer {
    background-color: #f1f3f8;
    overflow: hidden;
    padding: 12px 15px;
  }

  &__voronka-button {
    color: #fff !important;
    font-size: 1em;
    font-weight: 700;
    line-height: 35px;
    height: 37px;
    text-align: center;
    text-shadow: 0 2px rgba(0, 0, 0, 0.2);
    padding: 0 1em;
    text-decoration: none;
    .border-radius;
    .inline;

    &--big {
      height: 45px;
      line-height: 43px;
      padding: 0 2.5em;
    }

    &--small {
      width: 80px;
      font-size: 0.875em;
      line-height: 31px;
      height: 33px;
    }

    &--red {
      background-color: #d70000;
      &:hover { background-color: darken(#d70000, 5%); }
    }

    &--blue {
      background-color: #0878d8;
      &:hover { background-color: darken(#0878d8, 5%); }
    }

    &--gray {
      background-color: #b1b8ca;
      &:hover { background-color: darken(#b1b8ca, 5%); }
    }

    &--left { float: left; }

    &--right { float: right; }
  }
}

.voronka-main-title {
  color: #e82b2b;
  font-size: 2.25em;
  font-weight: lighter;
  padding-bottom: 30px;
  text-align: center;

  &--bordered {
    padding-bottom: 27px;
    border-bottom: 1px solid #e5e7ee;
  }
}

.voronka_pop_up__confirm {
  padding-top: 35px;
  text-align: center;
  font-weight: normal;

  &__text {
    padding-bottom: 38px;
    color: #0a1b36;
    font-size: 1em;
    line-height: 1.2em;

    a { text-decoration: underline; }
  }

  &__button-wrap { padding-bottom: 18px; }

  &__mail-problem {
    font-size: 0.875em;
    text-decoration: underline !important;
  }
}

.voronka_pop_up__anketa {
  overflow: hidden;
  padding: 0 3em 40px 2.5em;
  color: #83858c;
  font-size: 0.875em;
  font-weight: 700;

  &__col {
    float: left;
    width: 47.4359%;
  }

  &__col + &__col { float: right; }

  &__row + &__row { margin-top: 20px; }

  &__label {
    color: #494c53;
    display: block;
    margin-bottom: 10px;
  }

  &__table {
    width: 100%;
    border-spacing: 0;

    td { font-weight: 700; }

    tr+ tr td { padding-top: 10px; }

    td:first-child { width: 100px; }
  }
}

.voronka_pop_up__anketa__textfield {
  background-color: #fff;
  border: 1px solid #e8e8f0;
  .border-radius;
  width: 100%;
  height: 34px;
  padding: 5px 15px;
  color: #83858c;
  font-size: 0.875em;
  font-weight: 700;
}

textarea.voronka_pop_up__anketa__textfield { height: 156px; }

.custom-select--anketa {
  background-color: #fff;
  border: 1px solid #e8e8f0;
  height: 34px;

  select, .custom-select__selected-item { padding: 0 1.125em; }

  .custom-select__selected-item { color: #83858c; }
}

.custom-select--small {
  .inline;
  width: 75px;
  vertical-align: middle;
}

.voronka_pop_up__finish {
  .inline;
  width: 100%;
  margin-bottom: 40px;
}

.voronka_pop_up__attention {
  float: left;
  border-right: 1px solid #e5e7ee;
  width: 50%;

  &__title {
    color: @title-color;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 18px;
  }

  &__list {
    padding-right: 4.625em;

    &__item {
      color: #0a1b36;
      font-size: 1em;
      line-height: 1.3em;
      font-weight: normal;

      b {
        color: #0074d7;
        font-weight: normal;
      }

      .icon-Check { color: #0bcc01; }
    }

    &__item + &__item { margin-top: 15px; }
  }
}

.voronka_pop_up__drug-drop-wrap {
  background-color: #fff;
  float: right;
  width: 46.1538%;
  border: 1px solid #dbdde3;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 4px rgba(219, 221, 227, 0.7);
  -moz-box-shadow: 0 0 4px rgba(219, 221, 227, 0.7);
  box-shadow: 0 0 4px rgba(219, 221, 227, 0.7);
  padding: 10px;
}

.voronka_pop_up__drug-drop {
  .border-radius;
  border: 1px dashed #0074d7;
  text-align: center;
  padding: 15px 0 22px;
  color: @title-color;

  &__title {
    font-size: 1.125em;
    font-weight: 700;
  }

  .active {
    background-color: @light-blue;
  }

  .voronka_pop_up__voronka-button { margin-top: 20px; }
  .voronka_pop_up_uploading-progress-container {
    text-align: center;
    padding: 0 15px;

    .voronka_pop_up_uploading-text-progress {
      color: #040e20;
      font-size: .75em;
      font-weight: lighter;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    .voronka_pop_up_uploading-progress-bar {
      background-color: #fff;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      padding: 2px;
      -webkit-box-shadow: 0 0 4px rgba(204,204,204,.5);
      margin-bottom: 20px;

      .voronka_pop_up_uploading-progress-bar__inner {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #f1f3f8;
        height: 8px;
        position: relative;

        .voronka_pop_up_uploading-progress-bar__progress {
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          height: 8px;
          overflow: hidden;
          background-color: #357ef1;
        }
      }
    }

    .voronka_pop_up_uploading-text-progress {
      color: #040e20;
      font-size: .75em;
      font-weight: lighter;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
  }
}

.voronka_pop_up__drug-drop.active {
    background-color: @light-blue;
}

/*----------------- Progress Bar Animation -------------------------*/
.noTrespassingBarLineG {
  background-color: #025eee;
  float: left;
  width: 6px;
  height: 48px;
  margin-right: 10px;
  margin-top: -11px;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.noTrespassingAnimationG {
  width: 100%;
  -moz-animation-name: noTrespassingAnimationG;
  -moz-animation-duration: 1.3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -webkit-animation-name: noTrespassingAnimationG;
  -webkit-animation-duration: 1.3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -ms-animation-name: noTrespassingAnimationG;
  -ms-animation-duration: 1.3s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: noTrespassingAnimationG;
  -o-animation-duration: 1.3s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  animation-name: noTrespassingAnimationG;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-moz-keyframes noTrespassingAnimationG {
  0% {
    margin-left: -15px;
  }
  100% {
    margin-left: 0px;
  }
}
@-webkit-keyframes noTrespassingAnimationG {
  0% {
    margin-left: -15px;
  }
  100% {
    margin-left: 0px;
  }
}
@-ms-keyframes noTrespassingAnimationG {
  0% {
    margin-left: -15px;
  }
  100% {
    margin-left: 0px;
  }
}
@-o-keyframes noTrespassingAnimationG {
  0% {
    margin-left: -15px;
  }
  100% {
    margin-left: 0px;
  }
}
@keyframes noTrespassingAnimationG {
  0% {
    margin-left: -15px;
  }
  100% {
    margin-left: 0px;
  }
}
/*----------------- [END] Progress Bar Animation -----------------*/

.voronka_pop_up__search-results {
  overflow: hidden;
  margin-bottom: 30px;
}

.rightside__grid--voronka { width: 100%; }

.rightside__grid-item--voronka {
  width: 20.2797%;
  margin: 0;
  float: left;
  line-height: normal;
}

.rightside__grid-item--voronka + .rightside__grid-item--voronka { margin-left: 6.2937%; }

.voronka_rightside__grid-item--photo-remove {
  position: absolute;
  top: 2px;
  right: 2px;
  background: #000000;
  background: rgba(0,0,0,0.5);
  padding: 5px;
  color: #e1e1e3;
  font-size: 0.75em; //12px;
  vertical-align: bottom;
  .border-radius;
  cursor: pointer;
}
.voronka_rightside__grid-item--photo-remove-icon {
  font-size: 1.3em; //16px;
  vertical-align: bottom;
}

.voronka_rightside__grid-item--photo-primary {
  position: absolute;
  top: 2px;
  left: 2px;
  background: #000000;
  background: rgba(0,0,0,0.5);
  padding: 5px;
  color: #e1e1e3;
  font-size: 0.75em; //12px;
  vertical-align: bottom;
  .border-radius;
  cursor: pointer;
}

.voronka_rightside__grid-item--photo-primary.primary {
  cursor: auto;
}

.voronka_rightside__grid-item--photo-primary-icon {
  background: url(~"@{popupPhotoUploadMotivation-img_url}/empty.png");
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: bottom;
  width: 16px;
  height: 16px;
}
.primary .voronka_rightside__grid-item--photo-primary-icon {
  background: url(~"@{popupPhotoUploadMotivation-img_url}/main.png");
  background-size: cover;
  background-repeat: no-repeat;
}


.rightside__grid-item-link .voronka_rightside__grid-item--photo-remove,
.rightside__grid-item-link .voronka_rightside__grid-item--photo-primary {
  display: none;
}

.rightside__grid-item-link:hover .voronka_rightside__grid-item--photo-remove,
.rightside__grid-item-link:hover .voronka_rightside__grid-item--photo-primary {
  display: block;
}

.voronka_rightside__grid-item--photo-primary.primary {
  display: block;
}

@media screen and (max-width: 720px) {
  .voronka_pop_up__attention__list { padding-right: 2em; }
}

@media screen and (max-width: 600px) {
  .voronka_pop_up__anketa {
    padding: 0 2.5em 40px;

    &__col {
      float: none !important;
      width: 100%;
    }

    &__col + &__col { margin-top: 20px; }
  }

  .voronka_pop_up__drug-drop .voronka_pop_up__voronka-button { padding: 0 0.5em; }
}