@popupPhotoUploadMotivation-img_url: "../images";
@popupPhotoUploadMotivation-sprite_url: url("@{popupPhotoUploadMotivation-img_url}/sprite.png");

@popupPhotoUploadMotivation-upload_form_border: #77b200;
@popupPhotoUploadMotivation-text_link: #ff8400;
@popupPhotoUploadMotivation-text_light: #999;
@popupPhotoUploadMotivation-text_def: #333;
@popupPhotoUploadMotivation-text_def_dark: #1a1a1a;
@popupPhotoUploadMotivation-text_error: #ff1940;
@popupPhotoUploadMotivation_font_600: 'Open Sans Semibold', Arial, helvetica, sans-serif;
@popupPhotoUploadMotivation-btn_bg: #fff;
@popupPhotoUploadMotivation-avatar_hover_bg: #fff;
@popupPhotoUploadMotivation-overlay_bg: #000;
@popupPhotoUploadMotivation-feature_item_bg: #fff;
@popupPhotoUploadMotivation-online_bg: #66cc66;
@popupPhotoUploadMotivation-online_recently_bg: #dca941;
@popupPhotoUploadMotivation-progress_bar_bg: lighten(#ddd, 5%);
@popupPhotoUploadMotivation-color_text_muted: #797979;
@popupPhotoUploadMotivation-shadow: #000;
@popupPhotoUploadMotivation-border_def: #bfbfbf;
@popupPhotoUploadMotivation-border: #ccc;
@popupPhotoUploadMotivation-block_bg: #000;
@popupPhotoUploadMotivation-marker_bg: #77b200;
@popupPhotoUploadMotivation-text_check: #fff;

@popupPhotoUploadMotivation-text_title: #798391;
@popupPhotoUploadMotivation-title_border: #e3e3e3;
@popupPhotoUploadMotivation_progress_bg: #ff9898;

.inline{
  display: inline-block;
}