.b-feed__content.b-feed-content.b-upload-content
  .b-wrap-content.b-wrap-content--myprofile.b-feed-content__profile-feed
    .b-profile-feed-head
      .b-profile-feed-head__content-left.b-profile-feed-head__content-left--1em
        = _t("account", "title.my_settings")
        span.changes-status.changes-status--save.inactive(data-message="result")
          span.icon-status.icon-Check
          span(data-message-text="result")
        span.changes-status.changes-status--error.inactive(data-message="error")
          span.icon-status.icon-Attention
          span(data-message-text="error")
    .b-profile-feed-middle-content.setting_block__inner
      .setting_block__inner__profile-grid
        .profile-grid__item
          .profile-grid__item__label= _t("account", "title.membership_status") + ':'
          .profile-grid__item__status= _t("account", "value.membership_status_" + paymentStatus.type)
          .profile-grid__item__button
            - if(upgradeButton.type == 'main' || upgradeButton.type == 'features')
              a.profile-grid__item__button__link(href="#{upgradeButton.url}")= _t("account", "button.upgrade_" + paymentStatus.type)
            - else
              | &nbsp;
        .profile-grid__item
          .profile-grid__item__label= _t("account", "title.user_id") + ':'
          .profile-grid__item__status
            | #{userId}
          .profile-grid__item__button
            | &nbsp;

        .profile-grid__item(data-update="password")
          .profile-grid__item--changed
            .profile-grid__item__label= _t("account", "title.change_password") + ':'
            .profile-grid__item__status
              | ***********
            .profile-grid__item__edit
              a.profile-grid__item__edit__link(data-change="password")= _t("account", "button.edit")
          .profile-grid__item--change.inactive
            .profile-grid__item-change-inputs
              .item-change-inputs-wrap
                input.item-change-inputs(type="password" data-password="old" placeholder=_t('account', 'title.old_password'))
                span.item-change-inputs--show-pass.icon-Eyeclose(data-show-password="1")
              .item-change-inputs-wrap
                input.item-change-inputs(type="password" data-password="new" placeholder=_t('account', 'title.new_password'))
                span.item-change-inputs--show-pass.icon-Eyeclose(data-show-password="1")
            .profile-grid__item--btn-action
              a.btn-action--save(data-save="password")= _t("account", "button.save")
              a.btn-action--cancel(data-cancel="password")= _t("account", "button.cancel")

        .profile-grid__item(data-update="email")
          .profile-grid__item--changed
            .profile-grid__item__label= _t("account", "title.change_email") + ':'
            .profile-grid__item__status(data-email="current")
              | #{email}
            .profile-grid__item__edit
              a.profile-grid__item__edit__link(data-change="email")= _t("account", "button.edit")
          .profile-grid__item--change.inactive
            .profile-grid__item-change-inputs
              .item-change-inputs-wrap
                input.item-change-inputs(placeholder=_t('account', 'title.new_email_address') data-email="new")
              .item-change-inputs-wrap
                input.item-change-inputs(type="password" placeholder=_t('account', 'title.your_password') data-email="password")
                span.item-change-inputs--show-pass.icon-Eyeclose(data-show-password="1")
            .profile-grid__item--btn-action
              a.btn-action--save(data-save="email")= _t("account", "button.save")
              a.btn-action--cancel(data-cancel="email")= _t("account", "button.cancel")

        .profile-grid__item(data-update="locale" data-ui-select)
          .profile-grid__item__label= _t("account", "title.language") + ':'
          .profile-grid__item__status
            .relative
              a.profile-grid__item__edit__link(data-toggle data-value)
                if l10n.languagesList[l10n.locale]
                  = l10n.languagesList[l10n.locale].ucfirst()
                else
                  l10n.locale

              .profile-grid-custom-select
                .current-select-item
                  input(type="hidden", value=l10n.locale, name="locale", data-control)
                  span(data-value)= l10n.locale
                  .current-select-item-icon-arrow-up
                if l10n.languagesList
                  .overflow-options(data-items-list)
                    each title, language in l10n.languagesList
                      if l10n.locale == language
                        a.option-select-item.option-select-item.current-option(data-item=language)= title.ucfirst()
                      else
                        a.option-select-item(data-item=language)= title.ucfirst()
          .profile-grid__item__edit
            | &nbsp;

        .profile-grid__item(data-update="timezone" data-ui-select)
          .profile-grid__item__label= _t("account", "title.timezone") + ':'
          .profile-grid__item__status
            .relative
              a.profile-grid__item__edit__link(data-toggle data-value)
                if l10n.timezone
                  = l10n.timezone
                else
                  = l10n.timezone

              .profile-grid-custom-select
                .current-select-item
                  input(type="hidden", value=l10n.timezone, name="timezone", data-control)
                  span(data-value)= l10n.timezone
                  .current-select-item-icon-arrow-up
                if l10n.timezonesList
                  .overflow-options(data-items-list)
                    each timeZone, timezoneTitle in l10n.timezonesList
                      span.option-select-group= timezoneTitle
                      if timeZone
                        each title, zone in timeZone
                          if l10n.timezone == zone
                            a.option-select-item.option-select-item.current-option(data-item=zone)= title
                          else
                            a.option-select-item(data-item=zone)= title
          .profile-grid__item__edit
            | &nbsp;

.b-feed__content.b-feed-content.b-upload-content
  .b-wrap-content.b-wrap-content--myprofile.b-feed-content__profile-feed
    div(notification-settings-container="1")
    div(notification-news-feed-container="1")
    div(notification-subscription-container="1")

.b-feed__content.b-feed-content.b-upload-content
  ul.b-popup-content__nav-footer
    li.b-popup-content__nav-footer__item
      a(data-remove-account="data-remove-account")= _t("account", "button.remove_account")
    if(hasBillingHistory === true)
      li.b-popup-content__nav-footer__item
        a(href="/#billingHistory")= _t("account", "button.billing_history")