li.b-grid-item
  - if(!user.upgradeBanner)
    - var userClass = [];
    - if(user.marks && user.marks.highlight_profile) userClass.push("highlight")
    - if(naughtyMode.naughtyClass) userClass.push(naughtyMode.naughtyClass)
    - if(!currentUser.photoAccess) userClass.push("free");
    .b-user(class=userClass, data-user-id=user.id)
      .image-centerer
        .image-holder
          img.photo(src=user.photos.url)
      - if(user.photos.count > 1 && user.photos.showCount)
        span.b-photos-count #{user.photos.count}
      a.overlay(href=userLink(user.id), data-photo="")
      - if(naughtyMode.naughtyLevel == 1)
        span.b-blur-message= _t("userListWidget", "text.naughty_photo")
      - else if(naughtyMode.naughtyLevel == 2)
        span.b-blur-message= _t("userListWidget", "text.explicit_nudity")
      - if(naughtyMode.naughtyMode)
        .naughty-menu#naughtyMode
          if naughtyMode.naughtyLevel === 2
            .description= _t("userListWidget", "text.switch_no_limits")
          else
            .description= _t("userListWidget", "text.switch_sexy")
          .switcher.extra-small
            if (naughtyMode.naughtyMode.enableNaughtyLevel)
              each val, key in naughtyMode.naughtyMode.enableNaughtyLevel
                .switcher-cell(class=(naughtyMode.naughtyMode.naughtyMode == key+1)?"active":"")
                  a(data-nm-trigger=key+1)= _t("userListWidget", "text." + val)
      .b-user-info
        h2.b-screenname
            a.link(href=userLink(user.id), data-screenname="")
              span.screenname= user.login + " , " + user.age
              - if(user.statuses)
                - if(user.statuses.onlineStatus)
                  span.status.online
                - else if(user.statuses.recentlyOnlineStatus)
                  span.status.r-online
        - if((user.marks && ((user.marks.hotUser && user.marks.hotUser.upgradeUrl) || (user.marks.top_in_search && user.marks.top_in_search.upgradeUrl)
        - || (user.marks.free_communication && user.marks.free_communication.show))) || user.marks.invisible_mode || (user.statuses && user.statuses.newStatus))
          .b-features
            - if(user.marks && user.marks.hotUser && user.marks.hotUser.upgradeUrl)
              a(href=user.marks.hotUser.upgradeUrl)
                button.item.hot!= _t("userListWidget", "title.hot_user") + " &nbsp;"
            - if(user.marks && user.marks.top_in_search && user.marks.top_in_search.upgradeUrl)
              a(href=user.marks.top_in_search.upgradeUrl)
                button.item.top!= _t("userListWidget", "title.top_in_search") + " &nbsp;"
            - if(user.marks && user.marks.free_communication && user.marks.free_communication.show)
              a(href=user.marks.free_communication.upgradeUrl)
                button.item.free-m!= _t("userListWidget", "title.free_communication") + " &nbsp;"
            - if(user.marks.invisible_mode && user.marks.invisible_mode.exist)
              a(href=user.marks.invisible_mode.upgradeUrl, title=_t("userListWidget", "title.invisible_mode"))
                button.item.invisible!= _t("userListWidget", "title.invisible_mode") + " &nbsp;"
            - if(user.statuses && user.statuses.newStatus)
              button.item.b-new= _t("userListWidget", "text.new")
            - if(trustedValidation.trustedFunctionalEnabled && user.statuses && user.statuses.isTrusted)
              span.item.trusted= _t("userListWidget", "title.status.trusted")
                span.b-tooltip=_t("userListWidget", "tooltip.status.trusted")
                  - if(currentUser && !currentUser.isTrusted && trustedValidation.isAvailable)
                    a(href=trustedValidation.url)=_t("userListWidget", "tooltip.status.trusted.ppLink")
      .b-btn-activity(data-btn-activity="1")
  - else
    .upgrade-banner
      .um-content.square
        .main(class=(currentUser.gender === "male")?"one-img-m":"one-img-w")
          .title= _t("userListWidget", "text.get_a_full_membership")
          .button-holder
              a.btn.green(href=user.upgradeBanner)= _t("userListWidget", "button.get_it_now")
