.layout {
  position: relative;
  .b-grid-content {
    margin: 0 -20px -40px;
    position: relative;
    .rows-holder {
      letter-spacing: -4px;
      font-size: 0;
      line-height: 0;
      .row {
        color: @userList-text_def;
        letter-spacing: normal;
        font-size: 20px;
        line-height: normal;
        .l-frame {
          padding-top: 36px;
        }
      }
    }
    .grid-row {
      .rel-search {
        text-align: center;
        .b-results-message {
          font: 20px/26px @userList-font_400;
        }
        .b-completion-divider {
          margin: 27px 0 30px;
          font: 20px/24px @userList-font_600;
          border-bottom: 1px solid @userList-separator;
          padding-bottom: 10px;
        }
      }
    }
    .form-row {
      width: 220px;
      position: fixed;
      right: 0;
      top: 100px;
      bottom: 0;
      &:after {
        content: '';
        width: 1px;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0;
        background-color: @userList-separator;
      }
      .r-frame {
        margin: 34px 20px 0;
      }
    }
    @media (max-width: 770px) {
    }
    @media (min-width: 1305px) and (max-width: 1839px) {
    }
    @media (min-width: 1440px) and (max-width: 1839px) {
    }
    @media (min-width: 1840px) {
    }
    @media (max-width: 1304px) {
    }
    @media (max-width: 1304px) and  (min-width: 865px){
    }
    @media (min-width: 1920px) {
    }
  }
  .w-search-form+.b-grid-content {
    margin-top: 40px;

    &.validation-toolbar{
      margin-top: 90px;
    }
  }
  .grid-row {
    .l-frame {
      margin: 0 1.4%;
    }
    .b-search-grid {
      width: 100%;
      position: relative;
      font-size: 0;
      line-height: 0;
    }
    .b-grid-item {
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px 10px;
      &.related-search {
        display: block;
        margin: 0;
      }
    }
  }
  .activity-search {
    .form-row {
      display: none;
    }
    .grid-row {
      margin-right: 0;
      .l-frame {
        .b-search-grid {
          width: 100%;
          @media (min-width: 1080px) and (max-width: 1606px) {

          }
          @media (min-width: 1607px) {

           }
          @media (max-width: 1304px) {
          }
          @media  (max-width: 1079px) {

          }
        }
      }
    }
  }
}
.w-search-form {
  border-bottom: 1px solid @userList-separator;
  padding: 0;
  position: fixed;
  top: 40px;
  background: #fff;
  left: 0px;
  right: 0px;
  z-index: 10;
  .near {
    position: relative;
    .select {
      &:after {
        display: none;
      }
    }
    .value {
      ._shadow(none);
      &:before {
        top: 13px;
      }
    }
    .select {
      position: absolute;
      border: 0;
      border-radius: 0;
      box-shadow: 0 0 5px fade(#000, 50%);
      top: -4px;
      left: 3px;
      width: 200px;
      padding: 0;
      .list {
        border: 0;
        &:after {
          display: none;
        }
      }
      .item {
        padding: 8px 7px;
        border-radius: 0;
        color: #92979f;
        &.active {
          color: @t-main-color;
        }
        &:hover {
          background: @t-main-color;
          color: #fff;
        }
      }
    }
  }
  .form-inner--right {
    .value {
      border: 1px solid #9999ae;
      font-size: 12px;
      ._radius(3px);
      ._shadow(none);
    }
    .select {
      ._radius(0);
      padding: 0;
      ._shadow(0 0 26px 0 fade(#000, 30%));
      &:after {
        position: absolute;
        content: "";
        border: 5px solid transparent;
        border-top: 0;
        border-bottom-color: #fff;
        top: -5px;
        left: 50%;
        margin-left: -5px;
      }
      .item {
        padding: 7px 8px;
        color: #888891;
        ._radius(0);
        &:hover {
          background: @t-main-color;
          color: #fff;
        }
        &.active {
          color: @t-main-color;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
  .field-age-holder {
    .b-name {
      margin: 0 5px;
    }
    .dash {
      display: inline-block;
      &:after {
        content: "-";
        vertical-align: middle;
        margin: 0 5px;
        display: inline-block;
      }
    }
  }
  .buttons-row {
    button {
      margin-left: 5px;
      vertical-align: middle !important;
      font-size: 12px;
    }
  }
  .btn-find {
    display: inline-block;
    background: @t-main-color;
    border: 1px solid darken(@t-main-color, 10%);
    box-shadow: inset 0 1px fade(#fff, 30%);
    width: 28px;
    height: 28px;
    position: relative;
    ._radius(3px);
    &:after {
      content: '';
      background: url('@{t-main-sprite}') no-repeat 0 -992px;
      width: 16px;
      height: 16px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -8px 0 0 -8px;
    }
    &:hover {
      background: lighten(@t-main-color, 10%);
    }
  }
  &.validation-toolbar{
    top: 90px;
  }
  &.new-toolbar{
    top: 79px;
  }
}
.b-search-form {
  .b-search-form-inner {
    padding: 10px 20px;
    * {
      vertical-align: middle;
    }
    &:after {
      content: "";
      clear: both;
      display: block;
    }

    .field {

      &.near,
      &.sex,
      &.s-radius {

      }
      &.near {
        .b-name {
          display: none;
        }
      }
      &.location {

        .select {
          right: 0;
          width: 330px;
          &.active {
            &.loading {
              &:after {
                position: absolute;
                top: 5px;
                right: 15px;
                display: block;
                width: 32px;
                height: 4px;
                background: url(~"@{userList-img_url}/loader-location.gif");
                content: "";
              }
            }
          }
        }
      }
    }
    .field-age-holder {

      text-align: center;
      display: inline-block;
      .b-name {

        color: @userList-text_light;
        text-align: left;
        font-size: 14px;
        line-height: 18px;
        display: inline-block;
      }
      .field {
        &.age-from,
        &.age-to {
          text-align: left;
        }
        &.age-from {
        }
        &.age-to {
        }
      }
    }
    .buttons-row {
      display: inline-block;
      .btn-text {
        vertical-align: bottom;
      }
      .btn-green {
        width: 50px;
        float: right;
        line-height: 26px;
      }
    }
    .adv-search-holder {
      overflow: auto;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 6666;
      display: none;
      width: 100%;
      height: 100%;
      background: fade(@userList-popup_overlay, 75%);
      &.active {
        display: block;
      }
      .adv-search {
        ._radius(2px);
        margin: 120px auto;
        width: 960px;
        background: @userList-popup_bg;
        header {
          ._radius(2px 2px 0 0);
          ._gradient(@userList-header_start, @userList-header_end);
          position: relative;
          padding-left: 15px;
          h3 {
            color: @userList-header_text;
            font: 18px/40px @userList-font_400;
          }
          .close-button {
            position: absolute;
            top: 13px;
            right: 12px;
            display: block;
            width: 13px;
            height: 13px;
            background: @userList-sprite_url no-repeat -216px -139px;
            &:hover {
              background-position: -170px -156px;
            }
            &:focus,
            &:active {
              outline: none;
            }
          }
        }
        .content {
          margin: 25px 0 0;
          padding: 0 20px;
          .item-list {
            margin-bottom: -8px;
            letter-spacing: -4px;
            font-size: 0;
            line-height: 0;
            .item {
              display: inline-block;
              vertical-align: top;
              letter-spacing: normal;
              &.col-l {
                width: 57%;
              }
              &.col-r {
                width: 43%;
              }
              .item-list {
                margin-bottom: 0;
                .item {
                  display: inline-block;
                  width: auto;
                  vertical-align: top;
                  letter-spacing: normal;
                  &.col-1 {
                    width: 189px;
                  }
                  &.col-2 {
                    width: 156px;
                  }
                  &.col-3 {
                    width: 150px;
                  }
                  &.col-4 {
                    width: 148px;
                  }
                  &.col-5 {
                    width: 146px;
                  }
                  &.col-6 {
                    width: 82px;
                  }
                }
              }
              .b-section {
                margin: 0 0 23px;
                letter-spacing: normal;
                .title {
                  margin: 0 0 4px -2px;
                  color: @userList-text_highlight;
                  font: 20px/25px @userList-font_400;
                }
                .b-options-list {
                  li {
                    margin-bottom: 5px;
                    label {
                      letter-spacing: normal;
                      span {
                        vertical-align: top;
                        font-size: 14px;
                        line-height: 20px;
                      }
                    }
                    .ie8 & {
                      vertical-align: top;
                      label {
                        vertical-align: top;
                        span {
                          padding-left: 5px;
                          line-height: 12px!important;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .buttons-row {
            padding-bottom: 18px;
            text-align: right;
            .btn-send {
              width: 150px;
            }
          }
        }
      }
     .ie8 & {
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#75000000', endColorstr='#75000000');
      }
    }
    .form-inner--left {
      float: left;
    }
    .form-inner--right {
      float: right;
    }
  }
}
footer {
  margin-bottom: 20px;
  .link-holder {
    text-align: center;
    .link-list {
      letter-spacing: -4px;
      font-size: 0;
      line-height: 0;
      .item {
        display: inline-block;
        margin-right: 20px;
        letter-spacing: normal;
        .link {
          display: block;
          color: @userList-text_link;
          letter-spacing: normal;
          font: 14px/18px @userList-font_400;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
.b-search-noresult {
  text-align: center;
  padding: 1em 0;
  &__message {
    margin: 0 auto 1em;
    max-width: 500px;
    font-size: 18px;
    color: #333;
    line-height: normal;
  }
  &__button {
    padding: 0 25px;
    color: #000;
    background: #d3d3d3;
    border: 1px solid darken(#d3d3d3, 5%);
    margin-top: 20px;
    &:hover {
      background: darken(#d3d3d3, 5%);
    }
  }
}
.b-user, .user-info {
  &.livecam {
    ._shadow(~"0 0 0 3px @{userListWidget-user_highlight_bg}");
    padding: 9px 10px 6px;
    .b-live-cam-chat {
      .b-live-cam-btn {
        display: block;
      }
    }
    .b-main-info, .describe-info {
      .b-live-cam {
        margin: 4px 0px;
        &:before {
          content: "";
          width: 16px;
          height: 16px;
          display: inline-block;
          background: url('../images/webcam_icon.png') no-repeat center center;
          vertical-align: middle;
        }
      }
      .b-live-cam-sponsor {
        margin: 0 0 6px 0;
        &:before {
          content: "";
          width: 16px;
          height: 16px;
          display: inline-block;
          background: url('../images/ico-livecam-sponsor.png') no-repeat center center;
          vertical-align: middle;
        }
      }
    }
    .livecams-ico-block {
      background-color: @userListWidget-user_highlight_bg;
      display: inline-block;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 0;
      right: 0;
      &:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        left: -33px;
        border-top: 33px solid @userListWidget-user_highlight_bg;
        border-left: 34px solid transparent;
      }
      &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        bottom: -33px;
        right: 0px;
        border-top: 34px solid @userListWidget-user_highlight_bg;
        border-left: 33px solid transparent;
      }
    }
    .livecams-ico {
      display: block;
      position: absolute;
      right: 11px;
      top: 15px;
      &-inner {
        ._radius(50%);
        ._box-sizing;
        ._shadow(~"0 0 0 1px @{userListWidget-user_highlight_bg}");
        background-color: @userListWidget-user_highlight_bg;
        border: 2px solid @t-main-color;
        display: inline-block;
        height: 14px;
        left: 50%;
        margin: -9px 0 0 -10px;
        padding: 2px;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 14px;
        z-index: 10;
      }
      &-handler {
        ._radius(50%);
        ._box-sizing;
        display: block;
        height: 100%;
        border: 1px solid @t-main-color;
        width: 100%;
      }
      &-lines {
        &:before {
          content: '';
          position: absolute;
          left: -2px;
          background-color: @userListWidget-user_highlight_bg;
          width: 3px;
          height: 1px;
          top: 0.31em;
        }
        &:after {
          content: '';
          position: absolute;
          right: -2px;
          background-color: @userListWidget-user_highlight_bg;
          width: 3px;
          height: 1px;
          top: 0.31em;
        }
      }
      &-arrow {
        ._radius(0 0 1px 1px);
        border-bottom: 7px solid @t-main-color;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        display: inline-block;
        height: 0;
        left: 50%;
        margin: 0px 0 0 -10px;
        position: absolute;
        top: 50%;
        z-index: 5;
        width: 0;
      }
    }
    .b-photo, .user-photo {
      .b-photo-link {
        .photo {
          width: auto;
          height: 135px;
        }
      }
    }
  }
}