@userList-img_url: "../images";
@userList-sprite_url: url("@{userList-img_url}/sprite.png");

@userList-font_400: 'Open Sans', Arial, helvetica, sans-serif;
@userList-font_600: 'Open Sans Semibold', Arial, helvetica, sans-serif;

@userList-text_def: #333;
@userList-text_light: #999;
@userList-text_highlight: @t-main-color;
@userList-text_link: @t-main-link;

@userList-separator: #ccc9c2;

@userList-popup_overlay: #000;
@userList-popup_bg: #fff;
@userList-header_start: #1b1b1b;
@userList-header_end: #1b1b1b;
@userList-header_text: #fff;
@userListWidget-user_highlight_bg: tint(@t-main-link, 75%);