/*--------------------------Feedback popup---------------------------*/
.b-popup.b-feedback-popup {
  width: 500px;
  position: relative;
  margin: 0 auto;
  ::-webkit-input-placeholder {
    color: @feedback-text_def;
  }
  :-moz-placeholder {
    color: @feedback-text_def;
  }
  ::-moz-placeholder {
    color: @feedback-text_def;
  }
  :-ms-input-placeholder {
    color: @feedback-text_def;
  }
  .title {
    border-bottom: 1px solid @feedback-border_def;
    font: 600 16px/20px @feedback-font_600;
    padding: 20px 20px 13px 170px;
    background: url('@{img_url}/SD_logoWhite.png') no-repeat 15px 12px;
    background-size: 130px;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    .b-popup-logo {
      display: none;
    }
  }
  .b-popup-content {
    padding: 0;
  }
  .btn-close {
    position: absolute;
    top: 5px;
    right: 5px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    width: 25px;
    height: 35px;
    background: none;
    &:after {
      content: '';
      position: absolute;
      top: 15px;
      right: 15px;
      ._sprite(@popup-close);
    }
    &:hover {
      cursor: pointer;
    }
  }
  .b-tab {
    float: none;
    display: inline-block;
    margin: 25px 0 21px 30px;
    padding-left: 0px;
    height: auto;
    line-height: 18px;
    &:first-child {
      margin-left: 15px;
    }
    &:after {
      display: none;
    }
  }
  input[type="radio"] {
    &:not(.default)+span {
      color: @feedback-text_def_dark;
      &:before {
        margin-top: 2px;
        ._sprite-position(@radio-dark);
      }
    }
    &:not(.default):checked+span {
      color: @feedback-text_def_dark;
      &:before {
        ._sprite-position(@radio-dark-active);
      }
    }
  }
  .message-input {
    ._box-sizing;
    margin-right: 20px;
    display: block;
    outline: 0;
    min-height: 80px;
    max-height: 150px;
    padding: 6px 10px 9px 10px;
    color: @feedback-text_def_dark;
  }
  .b-wrapp-btn {
    margin: 20px 0 20px 10px;
    text-align: right;
    float: right;
    input {
      margin: 0;
      display: inline-block;
      outline: none;
      border: none;
      background: @feedback-btn_bg;
      text-decoration: none;
      text-shadow: none;
      outline: none;
      font-weight: 600;
      min-width: 100px;
      &:hover {
        background: lighten(@feedback-btn_bg, 5%);
      }
      &:active, &.active {
        background: @feedback-btn_bg;
      }
    }
  }
  .b-text {
    margin: 22px 0 0;
    a {
      text-decoration: none;
      white-space: nowrap;
    }
  }
  .b-tab-content {
    display: block;
    position: relative;
    padding: 0 20px 20px;
    &.error {
      .b-text-error {
        display: block;
      }
      .message-input {
        border: 1px solid @feedback-border_error;
      }
    }
  }
  .b-text-error {
    display: none;
    position: absolute;
    bottom: 102%;
    width: 93%;
    color: @feedback-text_error;
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .b-thanks {
    min-height: 170px;
    padding: 30px 35px 40px 215px;
    text-align: center;
    background: url('@{img_url}/feedback-bg.png') no-repeat 25px 100%;
  }
  .b-thanks-title {
    margin-top: 25px;
    color: @feedback-thanks_title_text;
    font: 20px @feedback-font_600;
  }
  .b-thanks-text {
    margin: 20px 0;
  }
  .b-text-info {
    margin: 20px 0;
  }
  .b-change {
    margin-top: 30px;
    text-align: center;
    &.error {
      .message-input.selected-text {
        border: 1px solid @feedback-border_def;
      }
    }
    .wrap-btns {
      margin: 25px;
      text-align: left;
    }
    .btn {
      min-width: 110px;
    }
    .btn-no {
      float: right;
    }
    .message-input {
      margin: 15px 0;
    }
    .b-wrapp-btn {
      margin: 10px 0 30px;
    }
  }
}