@feedback-font_400: 'dosisregular', Arial, helvetica, sans-serif;
@feedback-font_600: 'dosissemibold', Arial, helvetica, sans-serif;

@feedback-text_medium: #b3b3b3;

@feedback-text_error: #ff3232;

@feedback-text_def: #333;
@feedback-text_def_dark: #1a1a1a;
@feedback-border_def: #bfbfbf;
@feedback-border_error: #ff4d6b;
@feedback-input_bg: #77b200;
@feedback-btn_bg: #52cc52;
@feedback-btn_def_bg: #d7cfd0;
@feedback-thanks_title_text: #52cc52;