.b-frame-photo-viewer {
  z-index:501;
  overflow:hidden;
  visibility:hidden;
  opacity:0;
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background: @photoGallery-shadow url("@{img_url}/big-photo-loader.gif") no-repeat center center;
  ._transition(all 0.5s);

  &.active {
    visibility:visible;
    ._opacity(1);
  }

  .b-frame-photo-viewer .close{
    position:absolute;
    top:0;
  }

  .b-full-photo,
  .b-full-photo-helper {
    text-align:center;
    vertical-align:middle;
    display:table;
    position:absolute;
    left:0;
    top:0;
    //display:inline-block;
    width:100%;
    height:100%;
    //font-size:0;
  }

  .b-full-photo-helper {
    display:none;
  }

  .b-full-photo .photo-wrap,
  .b-full-photo-helper .photo-wrap {
    display:table-cell;
    //position:absolute;
    vertical-align:middle;
  }

  /*.b-full-photo .photo-wrap:before {
     content:'';
     display:block;
     height:100%;
  }*/
  .b-full-photo .photo,
  .b-full-photo-helper .photo {
     max-width:100%;
     max-height:100%;
     cursor:pointer;
  }

  .b-full-photo-helper {
    z-index:2;
  }
  .b-full-photo-helper .photo{
    display:none;

  }


  .b-photo-nav-bar {

    .btn-next-wrap,
    .btn-prev-wrap {
      position:absolute;
      top:0;
      bottom:0;
      width:25%;
      z-index:4;
    }

    .btn-next-wrap {
      right:0;
    }

    .btn-prev-wrap {
      left:0;
    }

    .btn-close,
    .btn-prev,
    .btn-next {
      position:absolute;
      cursor:pointer;
      background:@photoGallery-text;
      background:fade(@photoGallery-shadow,70%);
      border-radius:30px;
      -moz-border-radius:30px;
      z-index:5;
      line-height:0;
      text-align:center;
      width:40px;
      height:40px;
    }
    .btn-close {
      right:15px;
      top:10px;
    }
    .btn-close:after,
    .btn-prev:after,
    .btn-next:after {
      content:'';
      display:inline-block;
      width:20px;
      height:20px;
      background:@img_url-sprite-old no-repeat -84px -119px;
      ._opacity(.5);
      margin-top:10px;
    }
    .btn-prev,
    .btn-next {
      top:50%;
      margin-top:-11px;
    }
    .btn-prev:after,
    .btn-next:after{
      width:22px;
    }

    .btn-prev {
      left:15px;
      &:after {
        background-position: -61px -273px;
      }
    }

    .btn-next {
      right:15px;
      &:after {
        background-position: -93px -273px;
      }
    }

    .btn-close:hover:after,
    .btn-next-wrap:hover .btn-next:after,
    .btn-prev-wrap:hover .btn-prev:after,
    .btn-next:hover:after,
    .btn-prev:hover:after {
      ._opacity(1);
    }

    .btn-next-wrap:hover,
    .btn-prev-wrap:hover {
      background:fade(@photoGallery-shadow,5%);
    }
  }


  .b-photos-list {
    position:fixed;
    bottom:-195px;
    background:@photoGallery-photos_bg;
    background: -moz-linear-gradient(top, @photoGallery-photos_bg, fade(@photoGallery-photos_bg,90%));
    background: -webkit-linear-gradient(top, @photoGallery-photos_bg, fade(@photoGallery-photos_bg,90%));
    background: linear-gradient(top, @photoGallery-photos_bg, fade(@photoGallery-photos_bg,90%));
    ._transition(bottom 0.2s);
    height: 197px;
    left:0;
    right:0;
    text-align:center;
    border-top:1px solid @photoGallery-shadow;
    box-shadow:0 1px 0 fade(@photoGallery-photos_shadow,10%) inset;
    -moz-box-shadow:0 1px 0 fade(@photoGallery-photos_shadow,10%) inset;
    z-index:3;
    &.active {
      bottom:0;
    }
     ul {
      margin-top:-20px;
      font-size:0;
      white-space:nowrap;
      overflow:auto;
    }
     li {
      display:inline-block;
      margin:4px 1px;
      border:3px solid transparent;
      border-radius:3px;
      -moz-border-radius:3px;
      ._transition(all 0.3s);
    }

     li.active {
      border-color:@photoGallery-photo_active;
      box-shadow:0 0 4px @photoGallery-shadow;
      -moz-box-shadow:0 0 4px @photoGallery-shadow;
      & a {
        cursor:default;
      }
    }

    .b-photos-list-switch {
      height:16px;
      top:-20px;
      position:relative;
      display:inline-block;
      background:@photoGallery-photos_bg;
      border-style:solid;
      border-color:@photoGallery-shadow transparent @photoGallery-photos_bg ;
      border-width:1px 0;
      box-shadow:0 1px 0 fade(@photoGallery-photos_shadow,10%) inset, 1px 0 0 fade(@photoGallery-photos_shadow,10%) inset, -1px 0 0 fade(@photoGallery-photos_shadow,10%) inset;
      -moz-box-shadow:0 1px 0 fade(@photoGallery-photos_shadow,10%) inset, 1px 0 0 fade(@photoGallery-photos_shadow,10%) inset, -1px 0 0 fade(@photoGallery-photos_shadow,10%) inset;
      border-radius:8px 8px 0 0;
      -moz-border-radius:8px 8px 0 0;
      padding:2px 10px;
      color: @photoGallery-text_switcher;
      text-decoration:none;
      text-shadow:0 0 1px fade(@photoGallery-shadow,90%);

      &:hover {
        color:@photoGallery-text_base;
      }
    }

    .b-photos-list-switch:after {
      content:open-quote;
      content:'\BB';
      display:inline-block;
      margin-left:7px;
      height:13px;
      line-height:12px;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }


    &.active .b-photos-list-switch:after {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
}
