@photoGallery-photos_shadow: #ffffff;
@photoGallery-shadow: #000000;
@photoGallery-text: #555555;
@photoGallery-photos_bg: #2c2c2c;
@photoGallery-photo_active: #ff7575;
@photoGallery-text_switcher: #9b9b9b;
@photoGallery-text_base: #ffffff;