.rightside__content-b-header
    .rightside-content-b-header-title-left.title
      i.rightside-content-b-header-title-icon.icon-Webcam
      | Liveshows
    .rightside-content-b-header-right
      a.rightside-content-b-header-right-link(href='/#search/model') Show more
  .rightside__content-b-middle
    ul.rightside__grid
      if liveCams
        each liveCam in liveCams
          li.rightside__grid-item-video
            a.rightside__grid-item-link(href='/#search/model/room/#{liveCam.model_id}/status/20')
              img.rightside__grid-item-link-img(src=liveCam.big_photo)
            .rightside__grid-item-profile-b-info
              a.grid-item-profile-b-info__name-video(href='/#search/model/room/#{liveCam.model_id}/status/20')
                | #{liveCam.screen_name}
