.rightside__content-b-header
    .rightside-content-b-header-title-left.title
      i.rightside-content-b-header-title-icon.icon-Search
      | People Nearby
    .rightside-content-b-header-right
      a.rightside-content-b-header-right-link(href='/#peopleNearby') Show more
  .rightside__content-b-middle.jcarousel
    ul.rightside__grid
      if users
        each user in users
          li.rightside__grid-item
            a.rightside__grid-item-link(href=userLink(user.id))
              img.rightside__grid-item-link-img(src='#{user.photos.url}')
              if user.photos.count > 0
                .rightside__grid-item--photo-counter
                  span.rightside__grid-item--photo-counter-icon.icon-Photo 
                  | #{user.photos.count}
            .rightside__grid-item-profile-b-info
              a.grid-item-profile-b-info__name(href=userLink(user.id))
                | #{user.login}
              .grid-item-profile-b-info__age
                i.grid-item-profile-b-info__age-icon.icon-Calendar
                | #{user.age} years
    
    .rightside__grid-gradient--hide-item.rightside__grid-gradient--hide-item--prev
    .rightside__grid-gradient--hide-item
    a.rightside__item-arrow-link--show-more.icon-arrow-left.jcarousel-prev(href='#')
    a.rightside__item-arrow-link--show-more.icon-arrow-right.jcarousel-next(href='#')
