.user-profile {
  &.free {
    .pic {
      &:before {
        display: block;
      }
    }
    .b-upgrade-text {
      display: block;
    }
  }
    
  // admin profile
  &.admin {
    .user-buttons {
      .usr-action {
        width: 100%;
      }
    }
  }
  /**/

  /* photo gallery */
  .photo-gallery-wrapp {
    position: absolute;
    top: 52px;
    bottom: 42px;
    left: 0;
    right: 0;
  }
  .photo-gallery {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    .b-message-holder {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0;
      font-size: 22px;
      text-align: center;
      z-index: 3;
      &:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
    }
  }
  .image-block {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    &:not(.dragging) {
      ._transition_transform(.2s);
    }
    &:before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }
  .pic {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    vertical-align: middle;
    z-index: 1;
    &:before {
      content: "";
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: @userProfile-holder_bg;
      z-index: 2;
    }
    &.blurred,
    &.blurred-heavy {
      &:before {
        display: block;
      }
    }
    &.landscape {
      img {
        height: auto;
        width: 100%;
      }
    }
    &.portrait {
      img {
        width: auto;
        height: 100%;
      }
    }
    img {
      position: absolute;
      margin: auto;
      width: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
  /* end: photo gallery */
  .tab {
    display: none;
    &.active {
      display: block;
    }
  }
  .b-over-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 18px;
    text-align: center;
    z-index: 2;
    &:before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    .wrapp {
      display: inline-block;
      position: relative;
      padding: 0 15px;
    }
  }
  .b-upgrade-text {
    display: none;
    color: @userProfile-text_over;
    .upgrade-text-item {
      text-decoration: none;
      color: @userProfile-text_highlight;
      line-height: 1.3;
    }
  }
  .b-message-holder {
    margin-top: 40px;
    color: @userProfile-holder_text;
  }
  .user-info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 15px;
    z-index: 2;
    ._gradient(@userProfile-substrate_1_bg, @userProfile-substrate_2_bg);
    ._box-sizing();
  }
  .current-user {
    overflow: hidden;
  }
  .current-user-wrapp {
    float: left;
    max-width: 100%;
  }
  .l-icons {
    float: left;
  }
  .name {
    display: block;
    text-decoration: none;
    font-size: 16px;
    color: @userProfile-text;
    ._text-overflow();
  }
  .age {
    float: right;
    padding-top: 1px;
    color: @userProfile-text;
  }
  .from {
    margin-top: 5px;
    color: @userProfile-text;
  }
  .status {
    float: right;
    right: 4px;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-top: 3px;
    background: @userProfile-status_offline;
    ._radius(10px);
    &.online {
      background: @userProfile-status_online;
    }
    &.recent {
      background: @userProfile-status_recent;
    }
    .status-text {
      display: none;
    }
  }
  .r-icons {
    float: right;
    .icon {
      &:before {
        content: "";
        display: inline-block;
        width: 18px;
        height: 19px;
        background: @userProfile-sprite;
        background-size: 213px;
      }
    }
    .trusted {
      display: inline-block;
      margin-left: 2px;
      &:before {
        background-position: -100px -25px;
      }
    }
  }
  .tags {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    z-index: 15;
    .tag {
      float: left;
      clear: left;
      vertical-align: top;
      padding: 2px 5px;
      margin-bottom: 7px;
      background: @userProfile-tag_bg;
      color: @userProfile-tag_text;
      border: 1px solid @userProfile-tag_border;
      ._radius(16px);
      &.new {
        background: @userProfile-tag_new_bg;
      }
      &.popular {
        background: @userProfile-tag_popular_bg;
      }
    }
  }
  .tag,
  .pic-counter {
    display: block;
    text-decoration: none;
  }
  .pic-counter {
    position: absolute;
    right: 10px;
    top: 10px;
    line-height: 30px;
    background-color: @userProfile-user_button_shadow;
    min-width: 22px;
    color: @userProfile-pic_counter_text;
    font-size: 14px;
    padding: 0 10px 0 10px;
    text-align: center;
    z-index: 3;
    &:before {
      content: "";
      position: absolute;
      display: block;
      top: 5px;
      left: 5px;
      right: 5px;
      height: 19px;
      background: @userProfile-pic_counter_bg;
      z-index: -1;
      ._radius(3px);
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 2px;
      margin-left: -4px;
      left: 50%;
      width: 3px;
      border: 3px solid fade(#000, 0%);
      border-color: fade(#000, 0%) fade(#000, 0%) @userProfile-pic_counter_bg;
      border-top: none;
    }
  }
  .user-buttons {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
    width: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    ._transform(translateZ(0));
    padding: 7px 15px;
    ._box-sizing(content-box);
  }
  /* user info */
  .b-user-info {
    padding: 1px 0 42px;
    background-color: @userProfile-info_bg;
  }
  .info-title {
    margin: 0;
    font: 14px/150% @userProfile-font;
    color: @userProfile-info_title_text;
    padding: 9px 14px 7px;
    margin-top: 5px;
  }
  .info-description {
    font-size: 14px;
    position: relative;
    &.full-info {
      .description-item {
        padding-top: 0;
        background: none;
      }
    }
  }
  .description-item {
    clear: both;
    overflow: hidden;
    padding: 4px 14px;
    color: @userProfile-info_text;
    &:nth-child(2n-1) {
      background: @userProfile-info_odd;
    }
    .parameter,
    .value {
      margin: 0;
      padding: 4px 0;
      font-size: 14px;
    }
    .parameter {
      float: left;
      padding-right: 10px;
    }
    .value {
      overflow: hidden;
      text-align: right;
      color: @userProfile-info_value_text;
    }
  }
  .b-over-banner {
    text-align: center;
    background: @userProfile-banner_bg;
    .over-banner-wrapp {
      padding: 15px 30px;
      color: @userProfile-banner_text;
      .upgrade-title {
        font-size: 18px;
        line-height: 1.3;
      }
      .button {
        margin-top: 15px;
      }
    }
  }
  /* end: user info */
  @media (orientation: landscape) {
    .b-over-text {
      margin-top: 40px;
      font-size: 14px;
      &:before {
        display: none;
      }
    }
    .b-message-holder {
      margin-top: 15px;
    }
  }
}