/* images */
@userProfile-images_path: "../images";
@userProfile-sprite: url(~"@{userProfile-images_path}/icons.png");
/* end: images */

/* text */
@userProfile-font: Helvetica, Roboto, Segoe, sans-serif;
@userProfile-text: #fff;
@userProfile-text_over: #fff;
@userProfile-text_over_invert: #8596af;
@userProfile-text_highlight: #FBAE12;
/* end: text */

/* general styles */
@userProfile-substrate_1_bg: fade(#000, 0%);
@userProfile-substrate_2_bg: fade(#000, 80%);
@userProfile-holder_bg: fade(#000, 85%);
@userProfile-holder_text: #fff;

/* user buttons */
@userProfile-user_button_bg: #fff;
@userProfile-user_button_text: #4c4c4c;
@userProfile-user_button_acitve_text: #fbae12;
@userProfile-user_button_border: #D9D9D9;
@userProfile-user_button_message_bg: #9c1904;
@userProfile-user_button_wink_bg: #ec4109;
@userProfile-user_button_friend_bg: #ffa22a;
@userProfile-user_button_shadow: fade(#000, 50%);
/* end: user buttons */

/* pic counter */
@userProfile-pic_counter_bg: fade(#fff, 60%);
@userProfile-pic_counter_text: #1A1A1A;
/* end: pic counter */

/* user status */
@userProfile-status_offline: #e7e3da;
@userProfile-status_online: #2FD987;
@userProfile-status_recent: #FBAE12;
/* end: user status */

/* tags */
@userProfile-tag_bg: fade(#fff, 60%);
@userProfile-tag_text: #1A1A1A;
@userProfile-tag_border: #444;
@userProfile-tag_new_bg: @userProfile-tag_bg;
@userProfile-tag_popular_bg: @userProfile-tag_bg;
/* end: tags */

/* user info tab */
@userProfile-info_bg: #fff;
@userProfile-info_text: #808080;
@userProfile-info_value_text: #808080;
@userProfile-info_odd: #fff;
@userProfile-info_title_text: #FBAE12;
/* end: iser info tab */

/* banner */
@userProfile-banner_bg: #E9E9E9;
@userProfile-banner_text: #4C4C4C;
/* end: banner */

@popupNaughtyMode-blurred_bg: fade(#000, 80%);

/* end: general styles */