mixin searchType(name, searchType)
  - var switcherClass = (name === searchType ? 'active' : '')
  .switcher-cell(class=switcherClass)
    case name
      when "near_you"
        a.item(data-item="near_you")= _t("userList", "title.all_members")
      when "all_members"
        a.item(data-item="all_members")= _t("userList", "title.tab.all_members")
      when "online"
        a.item(data-item="online")= _t("userList", "title.online_now")
      when "new_members"
        a.item(data-item="new_members")= _t("userList", "title.new_members")
      when "livecam"
        a.item(data-item="livecam")= _t("userList", "title.livecam")

button.to-top(style="display: none;")= _t("userList", "title.top")
.w-search.user-free
  .pattern-bg
    .pattern-inner
      .pattern-overlay
  .content-top
    .sidebar-holder
    if type === 'Search'
      .content-settings
        .switcher(id="userListSort")
          each view in availableTabs
            +searchType(view, searchType)
        #sortTypes.sort-by
        #screennameSearchContainer.screenname-search-container
  .content-main
    .sidebar
      .item#userListFlirtcast(style="display: none;")
      .sidebar-widget#userlistright-banner-widget(style="display: none;")
        .item.userlistright-banner-openx#openx-banner-placement-userlistright
    .main-column
      .b-search-results.activity#search-results
        .userlisttop-banner-openx#openx-banner-placement-userlisttop
        ul.b-search-grid#userListContainer
            li.b-grid-item#userListTopInSearchPromotion(style="display: none;")
    .userlistbottom-banner-openx#openx-banner-placement-userlistbottom
