// new form  start
@payment-img_url: "../images";
@sprite_payment_url: url("@{img_url}/sprite-payment.png");

@creditcard-text-def: #545454; //text-color
@creditcard-wrap: #eee; //left card bg
@creditcard-wrap-second: #e0e0e0; //right card bg
@creditcard-input-bg: #fff; //inputs bg
@creditcard-input-border: #eee; //inputs border
@creditcard-error-message-bg: #fff; //error bg
@creditcard-error-message-color: #787878; //error color
@creditcard-valid-message-color: #96c701; //error color
@creditcard-error: #ff7575; //error color
@creditcard-strip-bg: #808080;
@creditcard-form_shadow: fade(#000, 20%);
@creditcard-q_style: #808080;
@creditcard-q_style_hover: #de5226;
@creditcard-tooltip-text: #6e6e6e;
@creditcard-qwestion-bg: #fff;

.creditcard-pay{
  text-align: left;
  color: @creditcard-text-def;
  text-transform: uppercase;
  position: relative;
  width: 395px;
  left:0;
  margin-top: 15px;
  vertical-align: top;
  ._transition(all 1s ease 0.5s;);
  input[type="text"], input[type="password"]{
    color: @creditcard-text-def;
    border: 2px solid @creditcard-input-border;
    ._box-sizing;
    ._radius(22px);
  }
  .b-error{
    display: none;
  }
  .error {
    .b-error{
      display: block;
    }
  }
  .creditcard-label{
    font-size: 11px;
    text-transform: uppercase;
    clear: right;
    &.creditcard-label-name{
      width: 18%;
      display: inline-block;
    }
  }
  .creditcard-main-wrap{
    background: @creditcard-wrap;
    width: 355px;
    margin: 0 auto;
    padding: 19px 18px 7px 18px;
    ._radius(17px);
    ._shadow(~"2px 2px 2px @{creditcard-form_shadow}");
    position: relative;
    z-index: 2;
    .creditcard-field{
      margin-bottom: 18px;
      position: relative;
      ._clearfix;
      &.error {
        color: @creditcard-error !important;
        input, .select {
          border-color: @creditcard-error !important;
        }
      }
      &.valid {
        color: @creditcard-valid-message-color !important;
        input, .select {
          border-color: @creditcard-valid-message-color !important;
        }
      }
      .creditcard-filed-input{
        text-align: right;
        position: relative;
        &.expiry {
          float: right;
        }
        input{
          width: 100%;
        }
        .creditcard-filed-select{
          display: inline-block;
          text-align: left;
          vertical-align: top;
          .select{
            position: relative;
            width: 55px;
            height: 26px;
            background: @creditcard-input-bg;
            border: 2px solid @creditcard-input-border;
            ._radius(25px);
            &.last { width: 55px; }
            select{
              position: absolute;
              top: 0;
              left: 0;
              z-index: 3;
              padding: 0;
              min-width: 0;
              width: 100%;
              height: 100%;
              border: 0;
              opacity: 0;
              -ms-filter: alpha(opacity=0);
              filter: alpha(opacity=0);
              cursor: pointer;
            }
            .value{
              display: block;
              margin: 0;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              position: relative;
              z-index: 2;
              padding: 3px 5px 3px 10px;
              font-size: 14px;
              line-height: 20px;
              max-width: 100%;
              &:before {
                content: '';
                display: inline-block;
                position: absolute;
                background: @sprite_url -376px -130px;
                width: 12px;
                height: 8px;
                right: 10px;
                top: 50%;
                margin-top: -4px;
              }
            }
          }
        }
        .filed-delitel {
          font-size: 16px;
          position: relative;
          line-height: 26px;
          margin: 0 2px;
        }
        &.inputname{
          width: 80%;
          display: inline-block;
          vertical-align: top;
          float: right;
          .input-error-message{
            display: none;
          }
        }
      }
      .b-error {
        right: 100%;
        margin-right: 10px;
        white-space: nowrap;
      }
      &.creditcard-field-number{
        .creditcard-label{
          padding: 21px 0 7px 0;
        }
      }

    }
    .creditcard-filed-label{
      display: inline-block;
      width: auto;
      margin-right: 6px;
      line-height: 16px;
      position: relative;
      text-transform: uppercase;
      vertical-align: middle;
      text-align: left;
    }
    .card-type{
      position: absolute;
      right: 14px;
      top: 2;
      &.visa{
        .card-type-icon{
          background: @sprite_payment_url no-repeat scroll -35px -427px;
          width: 41px;
          height: 25px;
          display: block;
        }
      }
      &.master{
        .card-type-icon{
          background: @sprite_payment_url no-repeat scroll -86px -427px;
          width: 49px;
          height: 32px;
          display: block;
        }
      }
    }
  }
  .credit-card-cvv-wrap{
    background: @creditcard-wrap-second;
    ._radius(17px);
    ._shadow(~"2px 2px 2px @{creditcard-form_shadow}");
    position: absolute;
    top: 0;
    right: 0px;
    width: 390px;
    text-align: right;
    z-index: 1;
    height: 100%;
    ._transition(all 1s ease);
    padding-top: 20px;
    font-size: 13px;

    .btn-info {
      ._box-sizing;
      ._radius(25px);
      display: block;
      position: absolute;
      right: -10px;
      top: 8px;
      cursor: pointer;
      width: 26px;
      height: 18px;
      color: @creditcard-text-def;
      font-weight: 600;
      font-size: 11px;
      text-align: center;
      outline: none;
      background: @creditcard-qwestion-bg;
      &:hover {
        color: @creditcard-q_style_hover;
        border-color: @creditcard-q_style_hover;
        .info-tooltip {
          ._opacity(1);
          visibility: visible;
        }
      }
      .info-tooltip {
        ._transition(all 1s ease);
        ._opacity(0);
        ._shadow(~"0 0 13px @{creditcard-form_shadow}");
        visibility: hidden;
        position: absolute;
        right: -70px;
        top: 28px;
        width: 220px;
        padding: 10px;
        color: @creditcard-tooltip-text;
        font-weight: 400;
        font-size: 11px;
        text-align: left;
        text-transform: none;
        background: @creditcard-error-message-bg;
        z-index: 15;
        &:before {
          content: "";
          display: inline-block;
          position: absolute;
          right: 65px;
          bottom: 100%;
          width: 0;
          height: 0;
          border: 8px solid transparent;
          border-bottom-color: @creditcard-error-message-bg;
        }
        .info-cvv2 {
          display: block;
          margin-top: 10px;
          width: 188px;
          height: 230px;
          background: url(~"@{payment-img_url}/cvv2.png") no-repeat 0 0;
        }
      }
    }
    .credit-card-strip{
      background: @creditcard-strip-bg;
      width: 100%;
      height: 50px;
      margin-bottom: 14px;
    }
    .credit-card-cvv-filed {
      padding-right: 20px;
      &.error {
        color: @creditcard-error !important;
        input, .select {
          border-color: @creditcard-error !important;
        }
      }
      &.valid {
        color: @creditcard-valid-message-color !important;
        input, .select {
          border-color: @creditcard-valid-message-color !important;
        }
      }
    }
    .credit-card-cvv-label {
      text-transform: uppercase;
      margin-bottom: 2px;
      span{
        display: block;
        width: 100%;
      }
    }
    .credit-card-cvv-filed-content{
      padding-right: 20px;
      ._radius();
      position: relative;
      span{
        text-transform: uppercase;
        padding: 0;
        display: inline-block;
        vertical-align: middle;
        margin-right: 3px;
      }
      input{
        padding: 5px 10px;
        text-align: center;
        width: 68px;
        border: 2px solid @creditcard-wrap-second;
      }
    }
    .credit-card-cvv-filed{
      .b-error{
        left: 100%;
        margin-left: 20px;
        white-space: nowrap;
        &:after{
          left: -6px;
          border-right-color: @creditcard-error-message-bg;
          border-left: transparent;
        }
      }
    }
  }
  input,select{
    //      font-family: @payment-font_custom !important;
    border: 0;
    ._shadow(none);
    height:auto;
  }
  input[type="text"]{
    padding: 5px 10px;
    width: 100%;
    height: 100%;
    background: @creditcard-input-bg;
    font-family: inherit;
    line-height: 18px;
    font-size: 14px;
  }
  &.cvv-block{
    .credit-card-cvv-wrap{
      right: -180px;
      box-sizing: border-box;
    }
    .creditcard-main-wrap{
      margin: auto;
    }
  }
.creditcard-icon-wrap{
    float: right;
    .by-icon {
      display: inline-block;
      margin: 0 0 0 4px;
      width: 40px;
      height: 25px;
      vertical-align: middle;
      background: @sprite_payment_url no-repeat 0 0;
      &:first-child {
        margin-left: 0;
      }
      // Icons by type
      &.by-visa {
        width: 40px;
        height: 25px;
        margin-right: 0;
        background-position: 0 -472px;
      }
      &.by-visael {
        background-position: -44px -472px;
      }
      &.by-master {
        background-position: -89px -472px;
      }
      &.by-maestro {
        background-position: -134px -472px;
      }
      &.by-discover {
        background-position: -180px -472px;
      }
      &.by-americanex {
        background-position: -225px -472px;
      }
      &.by-switch {
        background-position: -270px -472px;
      }
      &.by-jcb {
        width: 33px;
        height: 25px;
        margin: 0 0 0 4px;
        background-position: -315px -472px;
      }
    }
  }

  .input-error-message{
    position: absolute;
    bottom: 0;
    background: @creditcard-error-message-bg;
    color: @creditcard-error-message-color;
    font-size: 13px;
    line-height: 20px;
    padding: 10px;
    ._radius(5px);
    z-index:10;
    height: auto;
    text-align: left;
    text-transform: none;
    ._shadow(0 4px 16px 0 fade(#000, 25%));
    &:after{
      content: "";
      width: 0;
      height: 0;
      bottom: 10px;
      right: -16px;
      border: 10px solid transparent;
      border-left-color: @creditcard-error-message-bg;
      position: absolute;
    }
    &.card-holder-error {
      right: 125% !important;
    }
  }
}
@media screen and (max-width: 1300px) {
  .creditcard-pay .credit-card-cvv-wrap .credit-card-cvv-filed .b-error {
    bottom: 100%;
    margin-bottom: 10px;
    left: 50%;
    white-space: normal;
    &:after {
      right: 40px;
      top: 100%;
      margin-top: -4px;
      left: auto;
      border-color: transparent;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid @creditcard-error-message-bg;
    }
  }
}

// new form  endv

#change_payment_details {
  text-align: center;
  display: block;
}


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background:#eaeaea;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ff9898;
}
::-webkit-scrollbar-thumb:hover {
  background: @color-text-muted;
}

@font-face {
  font-family: 'open_sanslight';
  src: url('../fonts/opensans-light-webfont.eot');
  src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-light-webfont.woff') format('woff'),
  url('../fonts/opensans-light-webfont.ttf') format('truetype'),
  url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:"Open Sans Semibold";
  src:url("../fonts/OpenSans-Semibold.eot");
  src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
  url("../fonts/OpenSans-Semibold.woff") format("woff"),
  url("../fonts/OpenSans-Semibold.ttf") format("truetype"),
  url("../fonts/OpenSans-Semibold.svg#OpenSans-Semibold") format("svg");
  font-weight:normal;
  font-style:normal;
}

body {
        font: @font-basic;
        color: @color-text;
        background: @color-bg-body;
}

a {
    ._link();
}

h1 {
    ._h1();
}

h2 {
    ._h2();
}

h3 {
    ._h3();
}

h4 {
    ._h4();
}

h5 {
    ._h5();
}

input,
textarea,
button {
  border:none;
}

input[type="text"],
input[type="password"],
textarea {
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  font:12px/1em Verdana,sans-serif;
  color:@color-text-muted;
  border: 1px solid #ccc;
  border-color: rgba(0,0,0,0);
  ._transition(box-shadow 0.2s);
  box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.35),
  0 0 1px 1px rgba(0,0,0,.05) inset;
  -moz-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.35),
  0 0 1px 1px rgba(0,0,0,.05) inset;
  -webkit-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.35),
  0 0 1px 1px rgba(0,0,0,.05) inset;
  &:focus {
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.65),
    0 0 1px 1px rgba(0,0,0,0.15) inset;
    -moz-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.65),
    0 0 1px 1px rgba(0,0,0,0.15) inset;
    -webkit-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.65),
    0 0 1px 1px rgba(0,0,0,0.15) inset;
  }
  &.error {
    box-shadow: 0 0 0px 2px lighten(#ff7575,10%);
    -moz-box-shadow: 0 0 0px 2px lighten(#ff7575,10%);
    -webkit-box-shadow: 0 0 0px 2px lighten(#ff7575,10%);
    background: lighten(#ff7575,26%);
    color: #ff7575;
    &:focus {
      box-shadow: 0 0 0px 2px #ff7575;
      -moz-box-shadow: 0 0 0px 2px #ff7575;
      -webkit-box-shadow: 0 0 0px 2px #ff7575;
    }
  }
}

input[type="text"],
input[type="password"] {
  height: 28px;
  padding:0 10px;
}
input::-webkit-input-placeholder {color:@color-text-muted;padding:1px 0;}
input:-moz-placeholder {color:@color-text-muted;}
textarea {
  padding:7px 10px 2px;
  resize:none;
}
input[type="radio"] {
  ._radio();
}
input[type="checkbox"] {
  ._checkbox();
}
.select {
  ._select();
  &.select-day {
    width:35px;
  }
  &.select-month {
    width:100px;
  }
  &.select-year {
    width:50px;
  }
}

.btn {
  ._btn();
}
.btn-light {
  ._btn(light);
}
.btn-muted {
  ._btn();
  background:#a6a6a6;
  &:hover {
    background-color: darken(#a6a6a6, 5%);
    color:@color-bg-body;
  }
}
.btn-update {
  ._btn();
}

// icons
.b-logo {
  display: block;
  height: 34px;
    img{
        height:100%;
    }
}
/*
.b-user-device {
  width:18px;
  height:18px;
  display: inline-block;
  vertical-align: top;
  &.b-user-device-iphone {background:@sprite_url no-repeat 0 -334px;}
}
*/
.btn-close {
  display: inline-block;
  height: 25px;
  width: 25px;
  background: @sprite_url no-repeat -13px -272px;
}

.body {
  //min-height: @height-min-doc;
  //min-width: @width-min-doc;
  overflow:auto;
  background: @color-bg-body;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  &.profile-active {
    .b-profile {left:0;}
    .b-search {left:500px;}
  }
  &.loading {
    cursor:progress;
  }
}

.b-page-payment {
  padding: 0px 10px 10px;
  width: 940px;
  margin: 0 auto;

  &.b-profile {
    .aside {
      padding-top:30px;
    }

  }

  .b-header-profile {
    padding:20px 0 25px;
    position:relative;
    box-shadow: 0 10px 6px -6px #bbbbbb;
    -moz-box-shadow: 0 10px 6px -6px #bbbbbb;
    -webkit-box-shadow: 0 10px 6px -6px #bbbbbb;
    margin-bottom:30px;
    ._clearfix();

    .b-text {
      float:left;
      width: 35%;
      padding-right: 20px;
      ._box-sizing();
      span {
        ._text-overflow(100%);
      }
    }
  }
  .b-user {
    float:left;
    margin-right:20px;

    .b-photo {
      width:85px;
      height:85px;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0 5px 0 0;
      overflow: hidden;
      &.blurred {
        .photo {
          ._blur(4);
        }
        &:before, x:-moz-any-link {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          background: fade(@black, 78%);
        }
        /*IE10 hack*/
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            background: fade(@black, 78%);
          }
        }
        /*IE10 hack end*/
      }
      &.blurred-heavy {
        .photo {
          ._blur(8);
        }
        &:before, x:-moz-any-link {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          background: fade(@black, 90%);
        }
        /*IE10 hack*/
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            background: fade(@black, 90%);
          }
        }
        /*IE10 hack end*/
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    .b-photos-count {
      padding: 2px 4px 3px 4px;
      ._radius(9px);
       position: absolute;
      filter: alpha(opacity=70);
      background: @color-shadow;
      background: fadeout(@color-shadow, 30%);
      color: #ffffff;
      color: fadeout(#ffffff, 50%);
      font: 10px Verdana, sans-serif;
      bottom: 5px;
      left: 5px;
      &:before {
        margin: 0 2px -1px 0;
        opacity: 0.5;
        display: inline-block;
        content: '';
        background: @sprite_url no-repeat -48px -128px;
        width: 10px;
        height: 9px;
      }
    }
    .b-user-info {
      width:206px;
      display: inline-block;
      position: relative;
      color: #797979;
      font: 12px Verdana,sans-serif;
      height: 100%;

      .b-location {
        .from-you,
        .location {
          //display:inline-block;
       }
      }
      .b-screenname {
        position: relative;
        z-index:0;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0 0 5px;
        font-size: 26px;
        line-height: 26px;
        height: 31px;
        border-bottom:1px solid #dddddd;
        border-bottom: 1px solid fadeout(#c7c7c7, 50%);

        .screenname {
          z-index:1;
          height: 100%;
          top: 0;
          left: 0;
          text-decoration: none;
          display: inline-block;
          text-decoration: none;
          ._text-overflow(100%);
          ._transition(all 0.2s);
        }
      }
      .b-age,
      .b-location {
        position: relative;
        padding: 0 0 0 15px;
        margin: 6px 0;
        line-height: 18px;
        &:before {
          left: 0;
          top: 2px;
          position: absolute;
          display: block;
          content: '';
          width: 12px;
          height: 14px;
        }
      }
      .b-age {
        &:before {
          background: @sprite_url no-repeat -30px -125px;
        }
      }
      .b-location {
        &:before {
          background: @sprite_url no-repeat -3px -125px;
        }
      }
    }
    .b-screenname {
      .screenname {
        &:hover {
        width:100%;
        }
      }
    }
  }
  .b-user.inactive + .b-text {
    padding-top: 35px;
    width: 69%;
    text-align: center;
  }
  &.b-additional-features {
    .b-header-profile {
      margin-bottom:0;
    }
    .currency:before {
      margin-top:7px;
    }
  }

  .b-text {
    font:26px/30px @font-face-header;
    color:@color-h2;
    display: table-cell;
    word-break: break-word;
  }
  .b-logo {
    margin:8px 0 20px;
  }
  .b-back {
    text-align: right;
    .back {
      color:@color-text-muted;
    }
  }
  .b-body {
    margin:20px 0;
  }
  .aside {
    float: left;
    width: 285px;
    padding:0 40px;
    ._box-sizing();
    .call-text {
      color:#333333;
      line-height:1.5em;
    }
    .phone {
      font:20px/2em @font-face-header;
    }
  }
  .content {
    margin: 0 70px 0 285px;
    padding: 10px 0;
  }
  .b-tabs {
    height: 40px;
    ._clearfix();
    .b-tab,
    .geotrast {
      margin: 0 30px 0 0;
      float:left;
      font:26px/1em @font-face-header;
    }
    .card {
      &:after {
        display: inline-block;
        width: 80px;
        height: 25px;
        content: '';
        background: -8px -9px @sprite_payment_url no-repeat;
      }
    }
  }
  .b-tabs-content {
    .b-tab-content {
      width:100%;
      display:none;
      &.active {
        display:block;
      }
    }
  }
  .b-tab-content-bycard {
    .discount {
      font-size:19px;
      color:#ff6666;
      span {
        font-size:21px;
        font-weight:bold;
      }
    }
    .b-note {
      color:@color-text-muted;
      font-size: 11px;
      margin: 10px 0;
      .required {
        display:inline-block;
        content:'';
        width: 12px;
        height: 11px;
        background: @sprite_url no-repeat -111px -357px;
      }
    }
    .b-card {
      position:relative;
      width:396px;
      margin:31px auto 0;
      div {
        display:inline-block;
      }
    }
  }
  &.one-year {
    .b-packages {
      .package {
        color: #bfbfbf;;
      }
    }
  }
  .payment_details {
    text-align: center;
  }
  .b-packages {
    margin:20px 0 40px;
    display: inline-block;
    width: 100%;
    ._clearfix();
    .package {
      position:relative;
      color:@color-text-muted;
      float:left;
      width:140px;
      height:200px;
      background:#f7f7f7;
      border:1px solid #cccccc;
      box-shadow:0px 1px 10px #aaaaaa;
      -moz-box-shadow:0px 1px 10px #aaaaaa;
      -webkit-box-shadow:0px 1px 10px #aaaaaa;
      &:not(.active):first-child:after {
        background:none;
      }
      &:first-child {
        .description {
          .overall {
            font-size:12px;
          }
        }
      }
      label {
        cursor:pointer;
        display: inline-block;
        width: 100%;
        height: 100%;
      }
      .title {
        display:inline-block;
        padding: 18px 22px;
        height:50px;
        width:100%;
        background:#ededed;
        ._box-sizing();
        .time {
          font:20px/1em @font-face-header;
        }
      }
      .heading {
        font: 14px/1em Arial, sans-serif;
        font-weight: bold;
        text-align:center;
        padding:35px 10px 0 10px;
        color:#ff7575;
        ._text-overflow(170px);
      }
      .price {
        display:block;
        padding: 35px 0 0 10px;
        text-align:center;
        .currency {
          font:20px/1em @font-face-header;
        }
        .amount {
          font:bold 30px/1em Arial;
        }
        .cent {
          position: relative;
          top: -17px;
          left: 4px;
          font:14px/1em @font-face-header;
          .aud {
            position:absolute;
            top:0;
            left:134%;
            text-transform:uppercase;
          }
        }
        .period {
          position: relative;
          left: -12px;
        }
      }
      .description {
        text-align:center;
        position: absolute;
        bottom: 10px;
        display:inline-block;
        line-height:1.4em;
        font-size:11px;
        padding:0 5px;
        &.b-additional-features-icons {
          text-align:center;
          padding:0 26px;
          .b-additional-features-list {
            margin:10px;
            .b-feature:before {
              margin:0;
            }
          }
        }
        .overall {
          font-weight:bold;
          font-size:16px;
          span {
            text-decoration:line-through;
            font-weight:normal;
            font-size:11px;
          }
        }
      }
    }
    &:lang(da) {
      .package {
        .heading {
          word-wrap: break-word;
          overflow: visible;
          font-size: 12px;
        }
      }
    }
    .package.active {
      color:@color-bg-body;
      background:#fd5f5e;
      border:1px solid #fd5f5e;
      box-shadow:0px 1px 10px #383838;
      -moz-box-shadow:0px 1px 10px #383838;
      -webkit-box-shadow:0px 1px 10px #383838;
      height:210px;
      width:150px;
      z-index:1;
      margin: -5px;
      &:first-child:before {
        background:none;
      }
      &:last-child:after {
        background:none;
      }
      &:after {
        left:auto;
        right:-10px;
        top:5px;
        bottom:5px;
      }
      .title {
        height: 55px;
        background:#ef565b;
        padding: 23px 27px 20px;
      }
      .description {
       bottom:15px;
      }
      .feature {
        color:@color-bg-body;
        &:before {
        background:@color-bg-body;
        }
      }
    }
  }
  .b-footer {
    padding:20px 0;
    line-height:1.4em;
    margin: 0 70px 0 285px;
    border-top:1px solid #e3e3e3;
    color:@color-text-muted;
    font-size: 11px;

    .info {
      display:inline-block;
      margin:10px 0;
    }
  }
  .b-data-row {
    width:390px;
    margin:6px 0;
    position:relative;

    .b-name {
      float:left;
      width:170px;
      padding: 4px 0;
      color:@color-text-muted;
    }

    &.required,
    &.valid,
    &.error {
      .b-name {
        &:before {
          display:inline-block;
          content:'';
          width: 12px;
          height: 11px;
          background: @sprite_url no-repeat -111px -357px;
          margin: 0 5px 0 0;
        }
      }
    }

    &.error {
      input[type="text"],
      input[type="password"],
      textarea {
        box-shadow: 0 0 0px 2px lighten(#ff7575,10%);
        -moz-box-shadow: 0 0 0px 2px lighten(#ff7575,10%);
        -webkit-box-shadow: 0 0 0px 2px lighten(#ff7575,10%);
        background: lighten(#ff7575,26%);
        color: #ff7575;
        &:focus {
          box-shadow: 0 0 0px 2px #ff7575;
          -moz-box-shadow: 0 0 0px 2px #ff7575;
          -webkit-box-shadow: 0 0 0px 2px #ff7575;
        }
      }
      .b-error {
        visibility:visible;
        opacity:1;
      }
      .b-name {
        &:before {
          background-position:-132px -357px;
        }
      }
    }

    &.valid {
      .b-name {
        &:before {
          background-position:-89px -357px;
        }
      }
    }
    .b-value {
      float:right;
      width:220px;
      .select,
      input {
        width:100%;
        ._box-sizing();
      }
      .select .value {
        padding: 8px 7px 5px 10px;
      }
      input {
        height:23px;
      }
      .note {
        font-size:10px;
        display: inline-block;
        font-size: 10px;
        padding: 3px;
        color:@color-text-muted;
      }
      .separator {
        margin:3px 4px;
      }
      &>* {
        float:left;
      }
      .btn-info {
        margin:1px 0 0 4px;
      }
    }
    ._clearfix();
    .b-error {
      ._dropdown(left,190px);
      text-align: center;
      margin: -13px 10px;
      padding: 15px;
      left: 101%;
      &:after {
        top: 15px;
      }
    }
  }
  .b-data-row-zipcode {
    .b-value input {
      width:50%;
    }
  }
  .b-data-row-expiry {
    margin: 24px 0 16px;
    .b-value .select {
      width:103px;
    }
  }
  .b-data-row-security {
    .b-value input {
      width:188px;
    }
  }
  .b-btn-pay {
    text-align:center;
    margin:50px 0 0;
    .btn-pay {
      position:relative;
      ._gradient(#96c700, #aed141);
      ._transition(all .1s);
      display:inline-block;
      color:@color-bg-body;
      text-decoration:none;
      font:26px/1em Verdana, sans-serif;
      padding:10px 25px 12px;
      border-radius:30px;
      -moz-border-radius:30px;
      -webkit-border-radius:30px;
      text-shadow:0 -1px 0 fade(#000000,40%);
      box-shadow: 0px 5px 0px #84a000, 0px 6px 15px #4d680f;
      -moz-box-shadow: 0px 5px 0px #84a000, 0px 6px 15px #4d680f;
      -webkit-box-shadow: 0px 5px 0px #84a000, 0px 6px 15px #4d680f;
      &:active {
        box-shadow: 0px 1px 0px #84a000, 0px 2px 7px #4d680f;
        -moz-box-shadow: 0px 1px 0px #84a000, 0px 2px 7px #4d680f;
        -webkit-box-shadow: 0px 1px 0px #84a000, 0px 2px 7px #4d680f;
        top: 5px;
      }
    }
  }
  .b-paypal-info {
    color:@color-text-muted;
    margin: 50px 0;
    text-align:center;
    .paypal {
      &:before {
        content:'';
        display:block;
        margin: 10px auto;
        background: -10px -191px @sprite_payment_url no-repeat;
        width: 110px;
        height: 35px;
      }
    }
    .bypaypal {
      font-weight:bold;
    }
  }
  .b-tab-content-mobile {

  }
  .b-packege-mobile {
    background:#fd5f5e;
    color:@color-bg-body;
    padding: 30px;
    text-align: center;
    font:24px/1em @font-face-header;
    .price {
      font-size:30px;
      padding:0 10px;
    }
    .amount {
      font-family:Arial;
      font-weight:bold;
    }
  }
  .b-mobile-form {
    position:relative;
    margin:40px 0 20px 25px;
    width:320px;
    &:after {
      display:block;
      content:'';
      background: -3px -230px @sprite_payment_url no-repeat;
      width: 210px;
      height: 220px;
      position:absolute;
      right: -240px;
      top: -20px;
    }
    .label-mobile {
      margin:10px 0;
      display:block;
    }
    .input-mobile {
      width: 100%;
      ._box-sizing();
    }
    .b-btn-pay {
      display:block;
      margin:20px 0;
      .btn-pay {
        width:100%;
        ._box-sizing();
      }
    }
    .note {
      font-size:11px;
    }
  }
  .b-data-list {
    position:relative;
  }
  .b-cards,
  .by-jcb,
  .by-visa,
  .by-mcard,
  .by-amex,
  .geotrust {
    position: absolute;
    /*top: -30px;
    right: 20px;*/
    background: -3px -41px @sprite_payment_url no-repeat;
    width: 115px;
    height: 85px;
    border-bottom:1px solid #e0e0e0;
  }
  .b-tab-content-bycard {
    .b-cards,
    .by-jcb,
    .by-visa,
    .by-mcard,
    .geotrust,
    .by-amex {
      height:35px;
      position:relative;
      border:none;
      margin-right:10px;
      a {
        display:inline-block;
        width:100%;
        height:100%;
      }
    }
    .by-jcb {
      width: 38px;
      background-position: -309px -428px;
    }
    .by-amex {
      background-position: -6px -80px;
      width:54px;
    }
    .by-visa {
      background-position: -125px -44px;
      width:54px;
    }
    .by-mcard {
      background-position: -192px -44px;
      width:57px;
      margin-right:7px;
    }
    .geotrust {
      background-position: -125px -85px;
      width:62px;
    }
    .b-policy {
      text-align:center;
      margin:15px 0 -20px 0;
      a {
        color:#004899;
        &:hover {
          text-decoration:none;
        }
      }
    }
  }
  .b-tab-content-bycard .geotrast {
    position:relative;
    margin-right:0;
    a {
      position:absolute;
      display:inline-block;
      width:100%;
      height:100%;
    }
  }
  .b-verisign {
    position: absolute;
    top: 70px;
    right: 20px;
    background: -3px -130px @sprite_payment_url no-repeat;
    width: 115px;
    height: 56px;
  }
  &.b-additional-features {
    .b-packages{
      .package {
        width:190px;
        height:385px;
        &.active {
          width:200px;
          height:395px;
          .b-feature-topinsearch:before {background-position:-6px -10px;}
          .b-feature-highlight:before {background-position:-44px -10px;}
          .b-feature-invisible:before {background-position:-83px -10px;}
          .b-feature-specialdelivery:before {background-position:-121px -10px;}
          .b-feature-freecommunication:before {background-position:-160px -10px;}
          .heading {
            color:@color-bg-body;
          }
          .description {
            bottom:95px;
          }
        }
        // Remove text overflow because there is too many languages where text goes longer
        .heading {
          text-overflow: initial;
          overflow: visible;
          white-space: normal;
          line-height: normal;
          height: 35px;
          margin: 35px 10px 0 10px;
          padding: 0;
          display: table;
          span {
            display: table-cell;
            vertical-align: middle;
          }
        }
        .price {
          padding-top: 15px;
        }
      }
      .description {
        bottom: auto;
        top:130px;
        text-align:left;
        font-size: 12px;
        &.b-additional-features-icons {
          .b-additional-features-list {
            margin:10px 0;
          }
        }
      }
    }
  }
  .b-additional-features-list {
    .feature {
      color:@color-h2;
      &:before {
        display:inline-block;
        content:'';
        width:5px;
        height:5px;
        border-radius:20px;
        -moz-border-radius:20px;
        -webkit-border-radius:20px;
        background:@color-h2;
        float:left;
        margin:6px 5px 6px 8px;
      }
    }
    .b-feature {
      display: inline-block;
      margin: 5px;
      font-size:10px;
      line-height:12px;
      &:before {
        display:inline-block;
        content:'';
        width:30px;
        height:30px;
        background: -3px -3px url("@{img_url}/sprite-additional-features.png") no-repeat;
        float:left;
        margin:0 5px 7px 5px;
      }
    }
    .b-feature-topinsearch:before {background-position:-6px -51px;}
    .b-feature-highlight:before {background-position:-44px -51px;}
    .b-feature-invisible:before {background-position:-83px -51px;}
    .b-feature-specialdelivery:before {background-position:-121px -51px;}
    .b-feature-freecommunication:before {background-position:-160px -51px;}
  }
  &.lifetime-offer, &.one-year {
    .call-text {
      margin-top: 125px;
    }
    .heading {
      margin-left: 30px;
      .title {
        font-size: 30px;
        color: #ff4c4c;
        margin-bottom: 20px;
      }
    }

    .b-btn-pay {
      margin: 30px 0 20px;
    }
    .description {
      font: 15px/22px Verdana, sans-serif;
      color: #4c4c4c;
    }
    .offer-box {
      padding: 30px;
      margin-top: 30px;
      ._radius(5px);
      ._shadow(0px 1px 3px 1px fade(#000, 35%));
      ._clearfix();
      .benefit-list  {
        display: inline-block;
        color: #ff4c4c;
        li {
          position: relative;
        }
        li span {
          color: #4c4c4c;
          padding-left: 15px;
          font-size: 15px;
          line-height: 24px;
        }
        li:before {
          content: '';
          width:8px;
          height: 8px;
          display: block;
          ._radius(8px);
          background: #ff4c4c;
          position: absolute;
          top: 50%;
          margin-top: -4px;
          margin-right: 15px;
        }
      }
      .price-box {
        float: right;
        display: inline-block;
        vertical-align: top;
        margin: 15px 0 0;
        .price {
          color: #ff4c4c;
          font: 50px/48px  'open_sanslight', sans-serif;
          & > * {
            display: inline-block;
          }
          .cur-price {
            font-weight: bold;
            .currency {
              font-weight: normal;
              font-size: 28px;
            }
            .amount {
              font-family: Arial, sans-serif;
            }
          }
          .prev-price {
            .currency {
              font-size: 14px;
            }
          }
        }
        .prev-price {
          font: 15px/24px Verdana, sans-serif;
          color: #999;
          text-decoration: line-through;
        }
        .description {
          text-transform: uppercase;
          font: 15px/22px 'open_sanslight', sans-serif;
          margin-top: 3px;
          span {
            font-size: 30px;
          }
          .currency {
            font-size: 15px;
          }
          .amount {
            font-size: 15px;
          }
        }
      }
    }
  }
  &.one-year {
    width: 860px;
    .aside {
      padding: 0;
    }
    .heading {
      margin: 0;

      .title {
        span {
          color: #4c4c4c;
          line-height: 42px;
        }
      }
      .description {
        margin-bottom: 32px;
      }
    }
   .b-packages {

     .package, .package:first-child {
       width: 248px;
       height: 248px;

       .title, .time {
         font-size: 15px;
         font-family: Verdana, sans-serif;
       }
       .discount {
         color: #ff4c4c;
         font: bold 27px/1em Arial, sans-serif;
         text-transform: uppercase;
         float: right;
         position: relative;
         top: -8px;
         right: -20px;
       }
       .price {
         text-align: left;
         padding-left: 25px;
         .currency {
           font-size: 26px;
         }
         .amount {
           font-size: 50px;
         }
         .period {
           font: 30px/1em 'open_sanslight', sans-serif;
           left:0;
           display: block;
           text-transform: uppercase;
         }

       }
       .description {
         color: #bfbfbf;
         font-size: 15px;
         padding-left: 25px;
         .overall {
           font-weight: bold;
           font-size: 15px;
           display: block;
           text-align: left;
           .currency {
             text-decoration: none;
             font-size: 14px;
           }
         }
       }

       &.active {
         width: 258px;
         height:258px;
         .price {
           padding-left: 40px;
         }
         .discount {
           color: #fff2b2;
         }
         .description {
           color: #fff;
           padding-left: 40px;
         }
       }
     }
   }

  }
  &.b-profile.one-chance {

    .b-user-info {
      width: 165px;
    }

    .b-text {
      width: 40%;
      .description {
        font-size: 20px;
        color: #4c4c4c;
        width: 82%;
        line-height: 26px;
        margin-top: 9px;
      }
    }
    .b-timer {
      position: absolute;
      top: 63px;
      right: 88px;
       display: none;
       width: 165px;
      .timer-box {
        margin: 0 auto 5px;
        @height: 42px;
        @padding: 3px;
        @padding-top-dig: 1px;
        width: 100%;
        height: @height;
        background: #4c4c4c;
        ._box-sizing();
        ._radius(7px);
        ._shadow(0px 2px 5px 0px fade(#10170e, 80%) inset);
        padding: @padding;

        & > div {
          display: inline-block;
          color: #fff;
          font-family: "Open Sans Semibold";
          font-size: 30px;
          line-height: @height - 2*@padding -  @padding-top-dig;
          text-shadow: 0px 1px 2px fade(#10170e, 75%);
        }
        .position {
          display: inline-block;
          ._gradient(#666, #333);
          ._radius(4px);
          ._shadow(0px 1px 2px 0px fade(#10170e, 75%));
          height: 100%;
          overflow: hidden;
          position: relative;
          width: 19px;
          margin-left: -5px;
          &:first-child {
           margin: 0;
          }
          &:before,
          &:after {
           content: '';
           position: absolute;
           height: 1px;
           width: 100%;
           background: fade(#000, 50%);
           top: 50%;
           margin-top: 0.2px;
           z-index: 2;
          }
          &:after {
           background: fade(#fff, 20%);
           margin-top: 1.5px;
           z-index: 0;
          }
          .digit {
           padding: @padding-top-dig 0 0 2px;
           position: relative;
           z-index: 1;
          }
        }
        .separator {
          position: relative;
          top: -1px;
          left: 1px;
          margin-right: 1px;
        }
      }
      .note {
        font-size: 9px;
        color: #bfbfbf;
        text-align: center;
      }
    }
    &.timer {
      .b-header-profile {
        padding-bottom: 37px;
      }
      .b-photo {
        margin: 0;
      }
      .b-user-info {
        display: none;
      }
      .b-timer {
        display: block;
      }
    }
  }


  /* decline */
  .notice {
    color: @form-text-error;
    ._clearfix();
    display: table;
    margin-right: 70px;
    margin-bottom: 15px;
    font-size: 14px;
    span {
      display: table-cell;
      vertical-align: middle;
    }
    &:before {
      content: "";
      display: inline-block;
      margin-right: 20px;
      width: 46px;
      height: 46px;
      background: @sprite_payment_url no-repeat -299px -266px;
    }
  }
  .b-failed-block-info {
    padding: 15px 20px 0;
    color: @payment-failed-block-color;
  }
  .failed-callback {
    ._clearfix();
    margin: 20px -20px 30px;
    font-size: 14px;
    .failed-callback__item {
      ._box-sizing;
      float: left;
      width: 50%;
      padding: 10px 15px 10px 20px;
      .title {
        padding-bottom: 10px;
        color: @color-text;
        font-size: 26px;
        font-weight: normal;
      }
    }
    .callback-block {
      position: relative;
      min-height: 225px;
      padding-left: 30px;
      border-left: 1px solid @payment-form-border;
      background: url(~"@{img_url}/callback-step-1.jpg") no-repeat 120% top;
      &.step-2 {
        background: url(~"@{img_url}/callback-step-2.jpg") no-repeat 110% top;
      }
      &.step-3 {
        background: url(~"@{img_url}/callback-step-3.jpg") no-repeat right top;
      }
      .title {
        color: @form-text-error;
      }
    }
    .callback-block__item {
      display: none;
      width: 153px;
      &.active {
        display: block;
      }
    }
    .callback-block__item-text {
      padding-top: 10px;
      line-height: 20px;
    }
    .failed-callback__list {
      padding: 0 0 12px 10px;
      line-height: 20px;
      &:before {
        display: inline-block;
        margin-left: -10px;
        padding-right: 5px;
        content: "-";
      }
    }
    .failed-callback-important {
      color: @form-text-error;
    }
    .callback-block__lable {
      ._radius(15px);
      position: absolute;
      top: 50%;
      left: -15px;
      width: 30px;
      height: 20px;
      margin-top: -10px;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      background: @color-bg-body;
    }
    .callback-start-btn {
      ._radius(30px);
      display: inline-block;
      margin-top: 20px;
      padding: 6px 10px;
      min-width: 110px;
      font-size: 12px;
      color: @payment-start-btn-color;
      text-align: right;
      background: @payment-start-btn-bg;
      &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 12px;
        width: 22px;
        height: 19px;
        background: @sprite_url no-repeat -51px -3px;
      }
      &:hover {
        ._opacity(.92);
      }
    }
    .callback-block__item-label {
      display: inline-block;
      margin-top: 10px;
      padding-bottom: 5px;
      color: @form-text-error;
      input[type="text"] {
        width: auto;
      }
    }
    .callback-block__item-input {
      position: relative;
      .callback-block-error-tooltip {
        ._opacity(0);
        ._transition();
        visibility: hidden;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 50%;
        height: 100%;
        padding: 0 15px;
        font-size: 14px;
        line-height: 38px;
        white-space: nowrap;
        background: @form-text-error;
        &:after {
          position: absolute;
          top: 50%;
          left: 100%;
          margin-top: -10px;
          content: "";
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-left: 10px solid @form-text-error;
        }
      }
      input[type="text"] {
        width: auto;
      }
    }
    .callback-block-sub-text {
      font-size: 10px;
      color:  @text-light;
    }
    .callback-btn {
      ._radius(30px);
      ._gradient(#96c700, #aed141);
      ._shadow(~"0px 5px 0px #84a000, 0px 6px 15px #4d680f");
      ._transition(all .1s);
      display: block;
      position: relative;
      margin-top: 20px;
      padding: 3px 20px;
      height: auto;
      color: @color-bg-body;
      font: 23px/1em Verdana, sans-serif;
      text-decoration: none;
      text-shadow: 0 -1px 0 fade(#000000,40%);
      &:active {
        ._shadow(~"0px 1px 0px #84a000, 0px 2px 7px #4d680f");
        top: 5px;
      }
      &:before {
        content: "";
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
        width: 26px;
        height: 25px;
        background: @sprite_url no-repeat -164px -243px;
      }
    }
    .error {
      input {
        border-color: @form-text-error;
      }
      .callback-block-error-tooltip {
        ._opacity(1);
        visibility: visible;
        right: 100%;
      }
    }
  }
  .b-failed-about {
    ._clearfix();
    display: inline-block;
    width: 93%;
    padding: 20px 3.5%;
    background: @payment-declined-bg;
    .btn {
      float: right;
      min-width: 100px;
    }
    ul {
      float: left;
      width: 70%;
      li {
        margin-top: 10px;
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
  .b-failed-header {
    margin-bottom: 20px;
    padding: 20px 0;
    color: @payment-title-color;
    font-size: 50px;
    border-bottom: 1px solid @payment-form-border;
  }
  /**/


}

.b-page-payment {
  .b-body {
    margin-bottom: 0;
  }
  .b-packege-mobile {
    padding: 34px 30px 13px;
    label {
      display: inline-block;
      font-size: 26px;
      input[type="radio"]:not(.default)+span {
        padding-left: 29px;
        &:before {
          margin-top: 7px;
        }
      }
      .rate-info {
        display: block;
        text-align: left;
        font: 12px/14px Verdana, Arial, sans-serif;
        padding-left: 30px;
        margin-top: 9px;
      }
    }
  }
  .b-benefits-wrap {
    border: 1px solid #e3e3e3;
    padding: 9px 0;
    margin: 40px 0 0 0;
    ._radius(4px);
    .benefits-head {
      border-bottom: 1px solid #e3e3e3;
      .col-1, .col-2, .col-3 {
        font: 11px/11px Verdana, Arial, sans-serif;
        display: inline-block;
        vertical-align: top;
        color: #b2b2b2;
        padding: 2px 0 10px 0;
      }
      .col-1 {
        padding-left: 20px;
        width:343px;
      }
      .col-2 {
        border-left: 1px solid #e3e3e3;
        border-right: 1px solid #e3e3e3;
        width: 109px;
        text-align: center;
      }
      .col-3 {
        width: 109px;
        text-align: center;
      }
    }
    .benefits-table {
      border-collapse: collapse;
      margin: 0 auto;
      padding: 0;

      tr {
        &:first-child {
          td {
            border-top: none;
            padding-top: 17px;
          }
        }
        td {
          border-top: 1px solid #e3e3e3;
          border-bottom: none;
          padding:0;
          display: table-cell;
          padding: 9px 0 5px;

          &.col-1 {
            width:  343px;
            padding-left: 10px;
            font: 12px/13px Verdana, Arial, sans-serif;
            color: #787878;
          }
          &.col-2 {
            border-left: 1px solid #e3e3e3;
            border-right: 1px solid #e3e3e3;
            width: 109px;
            text-align: center;
            &:before {
              content: '';
              width: 19px;
              height: 15px;
              display: inline-block;
              background: url("../images/benefits-sprite.png") 0 0 no-repeat;
              vertical-align: top;

            }
          }
          &.col-3 {
            width: 99px;
            text-align: center;
            &:before {
              content: '';
              width: 10px;
              height: 10px;
              display: inline-block;
              background: url("../images/benefits-sprite.png") -26px -3px no-repeat;
              vertical-align: top;

            }
          }
        }
      }
    }
  }
  .b-mobile-form {
    &.step1 {
      margin-left: 0;
      &:after {
        background-position: -21px -230px;
        right: -302px;
        width: 230px;
        height: 228px;
      }
    }
    .label-mobile {
      margin-bottom: 7px;
      span {
       display: block;
       color: #797979;
       &.price-text {
         font-size: 11px;
         line-height: 13px;
         color: #b2b2b2;
         margin-top: 2px;
       }
      }
    }
    .instruction {
      font-size: 11px;
      color: #787878;
      display: block;
      margin: 42px 0 20px 0;
      span {
        color: #333333;
      }
    }
    .note {
      color: #787878;
    }
  }
  .b-footer {
    .b-copyright {
      color: #b2b2b2;
    }
  }
}

html[lang="fi"],
html[lang="da"] {
  .b-page-payment {
      .b-packages {
          .package {
              .title {
                  padding: 18px 12px 15px;
                span:not(.time) {
                  font-size: 11px;
                }
              }
          }
          .package.active {
              .title {
                  padding: 20px 14px 20px 20px;
              }
          }
      }
  }
}

.ie9_all {
  .b-page-payment .b-user .b-photo {
    &.blurred {
      .photo {
        ._ie-blur(4);
      }
    }
    &.blurred-heavy {
      .photo {
        ._ie-blur(8);
      }
    }
  }
}