#popup.loading {
  .b-loader {
    ._transition(opacity .2s ease .2s);
    visibility: visible;
    opacity: 1;
  }
}

.b-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 700;
  overflow: auto;
  width: 100%;
  height: 100%;
  background: fade(@registrationComplete-overlay, 75%);
}

.b-popup-table {
  display: table;
  width: 100%;
  height: 100%;
}

.b-loader {
  ._transition(.2s);
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  &:after {
    position: absolute;
    top: 48%;
    left: 48%;
    display: block;
    width: 31px;
    height: 31px;
    background: url(~"@{registrationComplete-img_url}/small-photo-loader.gif") no-repeat;
    content: '';
  }
}

.b-popup-cell {
  display: table-cell;
  vertical-align: middle;
}

.b-popup {
  ._radius(2px);
  ._shadow(0 8px 20px fade(@registrationComplete-shadow, 40%));
  ._clearfix;
  background: @registrationComplete-popup_bg;
  margin: 0 auto;
  position: relative;
  border-top: 4px solid @t-main-color;
  .title {
    font: 20px/1em @registrationComplete-font_400;
  }
}
.succes-overlay {
  background-color: @registrationComplete-popup_bg;
}
.b-success-page {
  width: 599px;
  text-align: center;
  padding: 25px 30px;
  a {
    color: @registrationComplete-text_link;
  }
  .title {
    color: @registrationComplete-text_highlight;
    margin: 0 auto;
    line-height: 26px;
  }
  .complete-reg {
    width: 500px;
    margin: 75px auto 55px;
    a {
      text-decoration: none;
    }
  }
  .wrapp-btn {
    padding: 0 185px;
    p, .btn {
      display: block;
    }
    .btn, .ivalid-email {
      margin-bottom: 18px;
    }
    .btn {
      color: @registrationComplete-text_button;
    }
    .ivalid-email {
      font: 18px/20px @registrationComplete-font_600;
    }
  }
  .b-resend-email-form {
    ._clearfix;
    margin-top: 18px;
    padding-top: 22px;
    border-top: 1px solid @registrationComplete-form_separator;
    position: relative;
    display: none;
    &.active {
      display: block;
    }
    .item {
      ._box-sizing;
      width: 49.99%;
      float: left;
      border-right: 1px solid @registrationComplete-separator;
      padding-right: 41px;
      text-align: left;
      padding-top: 3px;
      p {
         margin-bottom: 15px;
      }
      .btn {
        margin-top: 20px;
        height: 40px;
      }
      &.correct {
        border-right: none;
        padding-left: 40px;
        padding-right: 12px;
      }
    }
    .correct {
      p {
         margin-bottom: 0;
      }
    }
  }
  .b-or {
    position: absolute;
    height: 45px;
    background: @registrationComplete-separator_bg;
    top: 50%;
    left: 50%;
    margin: -11px 0 0 -13px;
    span {
      ._radius(25px);
      display: block;
      color: @registrationComplete-separator;
      border: 1px solid @registrationComplete-separator;
      padding: 0px 4px 3px;
      margin-top: 10px;
    }
  }
}