;@registrationComplete-img_url: "../images";

@registrationComplete-font_400: 'Open Sans', Arial, helvetica, sans-serif;
@registrationComplete-font_600: 'Open Sans Semibold', Arial, helvetica, sans-serif;

@registrationComplete-overlay: #000;
@registrationComplete-shadow: #000;
@registrationComplete-popup_bg: #fff;

@registrationComplete-text_button: #fff;
@registrationComplete-text_link: @t-main-link;
@registrationComplete-text_highlight: @t-main-color;

@registrationComplete-form_separator: #d9d9d9;
@registrationComplete-separator: @t-main-color;
@registrationComplete-separator_bg: #fff;
