.b-page-terms,
.b-page-privacy {
  .pattern-bg {
    display: none;
  }
  p {
    margin-bottom: 9px;
  }
  b {
    
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 2px;
  }

  /*Styles for full HTML*/
  .page-centerer {
    position: relative;
    z-index: 5;
    margin: 0 auto;
    padding: 25px 0 80px;
    width: 700px;
    .info-block {
      counter-increment: list;
      margin: 27px 0 0;
      padding: 26px 0 0;
      border-top: 1px solid fade(@termsPrivacy-block_bg, 30%);
    }
  }
  .page-title {
    margin-bottom: 6px;
  }
  .title {    
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 2px;
  }
  p {
    &.meta {
      color: @termsPrivacy-text_light;      
    }
  }
  ul {
    margin-top: 23px;
    list-style-type: none;
    li {
      position: relative;
      padding-left: 10px;
      margin-bottom: 16px;
      &:before {
        content: '';
        position: absolute;
        top: 6px;
        left: 0;
        background: @termsPrivacy-marker_bg;
        width: 5px;
        height: 5px;
        ._radius(4px);
      }
    }
  }
  ol {
    position: relative;
    counter-reset: list_item;
    list-style-type: none;
    margin-top: 22px;
    li {
      position: relative;
      padding-left: 30px;
      margin-bottom: 16px;
      counter-increment: list_item;
      &:before {
        content: counter(list)'.'counter(list_item);
        position: absolute;
        top: 0;
        left: 2px;
      }
    }
  }
  a {
    color: @termsPrivacy-text_link;
  }
  .btn-close {
    float: right;
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

