@termsPrivacy-font_600: 'dosissemibold', Arial, helvetica, sans-serif;

@termsPrivacy-text_link: #ff8400;
@termsPrivacy-text_light: #999;
@termsPrivacy-text_active: #f73;
@termsPrivacy-block_bg: #fff;
@termsPrivacy-marker_bg: #1f2226;