.voting .vote{
  width: 50px;
  height: 50px;
  float: left;
  margin: 5px 2px;
  border: 1px solid @userVote-border_color;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}
.voting .vote:hover{
  background: @userVote-bg_hover;
}
.voting .clear{
  clear: both;
}
