/* parse-css less components name
  ========================================================================== */
@pcss-components-name: "normalize";

/* parse-css less components path
  ========================================================================== */
@pcss-components-path: "normalize";

/* parse-css less components count
  ========================================================================== */
@pcss-components-count: length(@pcss-components-name);

/* parse-css less components generate @import
  ========================================================================== */
._generate-import(@components-count, @i: 1) when (@i =< @components-count) {
  @component-name: extract(@pcss-components-name, @i);
  @component-path: extract(@pcss-components-path, @i);
  @full-path: "@{component-path}/@{pcss-components-name}";

  @import "@{full-path}";

  ._generate-import(@components-count, (@i + 1));
}

._generate-import(@pcss-components-count);