/* parce-css colors palette
========================================================================== */
// copy from http://rizzo.lonelyplanet.com/styleguide/design-elements/colours
// gray palette

@darkgray                  : #2c3643;
@titlegray                 : #3b444f;
@bodygray                  : #67747c;
@lightgray                 : #99a9b3;
@subduedgray               : #dbe6ec;

// primary palette

@darkblue                  : #142b44;
@navblue                   : #1d508d;
@lpblue                    : #297cbb;
@linkblue                  : #288ad6;
@teal                      : #0fdebd;
@green                     : #16c98d;
@yella                     : #feef6d;
@orange                    : #ffc83f;
@red                       : #fa5e5b;
@plum                      : #bf538d;

// secondary palette

@mauve                     : #684e79;
@pink                      : #ff708e;
@darkcyan                  : #47a899;
@softblue                  : #8abee5;
@softgreen                 : #c7e6aa;
@beige                     : #cfcbaf;
@maroon                    : #582c2b;
@darkred                   : #841e1b;

// copy from http://rizzo.lonelyplanet.com/styleguide/design-elements/ui-colours


// type

@body-copy                 : @titlegray;
@feature-copy              : @bodygray;

@dark-blue-gray            : @darkgray;
@header-blue               : @lpblue;
@nav-primary-type          : #bccee3;
@placeholder-copy          : @subduedgray;


// section colours

@section-activity          : @orange;
@section-article           : @softgreen;
@section-entertainment     : @lpblue;
@section-event             : @mauve;
@section-hotel             : @plum;
@section-need-to-know      : @titlegray;
@section-restaurant        : @darkcyan;
@section-shopping          : @pink;
@section-sight             : @red;
@section-tour              : @green;
@section-transport         : @titlegray;
@section-destination       : @teal;



// navigation colours

@nav-submenu-hover                      : #10b47d;
@nav-submenu-hover-border               : #0ea270 #000 #45d4a4 #000;
@offscreen-nav-background               : #1c3043;
@offscreen-nav-border                   : #23394b;
@offscreen-nav-border-hover             : #508dbb;
@offscreen-nav-user-background          : #13202c;
@row-leaderboard                        : #124385;
@row-primary-darker                    : #093367;


// states

@active                    : @teal;
@disabled                  : #cbd9e4;
@yella-highlight           : #f4e565;
@grey-highlight            : @lightgray;


// UI backgrounds and borders

@body-background             : #f5f5f5;
@body-background-offset      : mix(@lpblue, #fff, 5%);
@card-figure-bg              : #f4fbfe;
@details-panel-bg            : mix(@subduedgray, #fff, 15%);
@details-panel-border        : @subduedgray;
@high-contrast-bg            : @titlegray;
@high-contrast-fg            : @lightgray;
@input-border                : @subduedgray;
@new-header-grey-shadow      : rgba(3, 46, 92, .12);
@responsive-nav-bg           : mix(@linkblue, #fff, 3%);
@responsive-nav-subnav-bg    : mix(@linkblue, #fff, 6%);

// highlights

@highlight-error           : lighten(@red, 25%);
@highlight-success         : lighten(@green, 45%);
@highlight-warning         : lighten(@yella, 20%);
@highlight-announcement    : mix(@linkblue, #fff, 25%);

// social media

@facebook                  : #4c66a4;
@google-plus               : #dd4b39;
@pinterest                 : #cb2027;
@stumbleupon               : #ff4522;
@twitter                   : #2fc2ef;
@tumblr                    : #35465c;

// our colors
@transparent               : transparent;
@white                     : #fff;
@black                     : #000;


/* parce-css font sizes
========================================================================== */
@font-h1-font_size: 2.28571rem;
@font-h1-line_height: 1.15em;
@font-h2-font_size: 1.42857rem;
@font-h2-line_height: 1.5em;
@font-time-font_size: 1.1rem;
@font-time-line_height: 1.5em;

/* parce-css font families
========================================================================== */
@font-serif: "Times New Roman", Times, serif;
@font-sans_serif: Arial, Helvetica, sans-serif;
@font-monospace: "Courier New", Courier, monospace;

@font-segoe_ui_regular: "Segoe_UI_Regular";
@font-segoe_ui_sb: "Segoe_UI_Semibold";
