.b-left-content__b-footer{
  margin: 50px 0 20px;
  border-top: 1px solid #c2c7cd;
  padding-top: 15px;
  padding-left: 80px;
  text-align: center;
}
.b-footer-nav__item{
  font-size: 0.75em;
  display: inline-block;
  padding: 0 1.9% 0 0;
}
.b-footer__copyright{
  font-size: 0.75em;
  margin-top: 10px;
}