/* Need for normal deploy */
.border-radius {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* end */
.b-header{
  background: #ffffff;
  position: fixed;
  width: 100%;
  height: 57px;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 3px 0 4px;
}
.b-head-logo {
  float: left;
  width: 110px;
  height: 30px;
  background-size: 100% 100%;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  margin: 10px 0 0 10px;
}
.b-head-left {
  margin: 10px 0 0px 5px;
  float: left;
  position: relative;
}

/* Notificators*/
.b-notificators__item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 24px;
  &.item__active:after {
    content: " ";
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid #eff1f7;
    position: absolute;
    bottom: -16px;
    left: 0px;
  }
}

a.b-notificators__link--show-popup,
.b-notificators__link--show-popup{
  font-size: 1.5em; //24px;
  color: @main-icon-notif-color;
  padding: 0 5px 0 0px;
}
.new-notif a.b-notificators__link--show-popup,
.new-notif .b-notificators__link--show-popup{
  color: @main-icon-color-notif-new;
}
a.b-notificators__link--show-popup:hover,
.b-notificators__link--show-popup:hover,
a.b-notificators__link--no-popup:hover,
.b-notificators__link--no-popup:hover{
  color: @notificator-hover;
}

.b-notificators__item-counter{
  position: absolute;
  top: -5px;
  right: 0;
  background: #ee0909;
  color: #fff;
  padding: 0.3em 0;
  border-radius: 4px;
  font-size: 0.55em;
  width: 50%;
  text-align: center;
  display: none;
}
.new-notif .b-notificators__item-counter {
  display: block;
}
.b-notificators__popup{
  position: absolute;
  top: 41px;
  overflow: hidden;
  min-width: 306px;
  left: -9px;
  background: #fbfcfd;
  padding: 15px 0 0;
  display: none;
  .border-radius
}

.b-notificators__popup-content-block {
  max-height: 350px;
  overflow: auto;
}

.b-notificators__popup-content {
  padding: 12px 10px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #eceff5;

  &.not-read{
    background: #eceff5;
    .popup-content-message__message{
      color: @main-link-color;
    }
    &:hover{
      .popup-content-message__message{
        color: @main-link-hover;
        cursor: pointer;
      }
    }
  }
}

.b-notificators__popup-message-text
{
  font-size: 0.8em;
}

.b-notificators__popup-content:hover{
  background: #dae5f8;
  -moz-box-shadow: inset 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
  border-top: 1px solid #eceff5;
}
.b-notificators__popup-header{
  position: relative;
  overflow: hidden;
  padding: 0 10px;
  border-bottom: 1px solid #eceff5;
}
.b-notificators__popup-header-title-left{
  float: left;
}
.b-notificators__popup-header-link-right {
  float: right;
  display: block;
  font-size: 0.75em; //12px;
}
.b-notificators__popup-arrow--slide {
  display: none;
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 13px solid #eff1f7;
  position: absolute;
  top: -13px;
  left: 7px;
}
.b-notificators__popup-content-avatar {
  margin: 0 10px 0 0;
}
.b-notificators__popup-content-avatar__item{
  .border-radius;
  max-height: 30px;
  min-height: 30px;
}
a.popup-content-message__nick,
.popup-content-message__nick{
  font-size: 0.875em;
  padding: 3px 0;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  color: @feed-nick-color;
  display: block;
}
.popup-content-message__message{
  font-size: 0.75em;
  padding: 3px 0;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.b-notificators__popup-content-message{
  vertical-align: middle;
  width: 160px;
}
a.b-notificators__popup-content-btn-link,
.b-notificators__popup-content-btn-link {
  float: right;
  margin-top: 9px;
  background: @main-btn-color;
  padding: 0.75em;
  border-radius: 5px;
  color: #ffffff;
  display: none;
  font-size: 0.75em;
}
.b-notificators__popup-content:hover a.b-notificators__popup-content-btn-link,
.b-notificators__popup-content:hover .b-notificators__popup-content-btn-link{
  display: inline-block;
  margin-top: 0px;
}
a.b-notificators__popup-content-btn-link:hover,
.b-notificators__popup-content-btn-link:hover{
  background: @main-btn-color-hover;
  color: #ffffff;
}
.b-notificators__popup-link-more {
  display: block;
  text-align: center;
  padding: 15px 0;
  font-size: 0.875em;
  border-top: 1px solid #ffffff;
}
/* [END] Notificators*/

.b-head-right{
  float: right;
  margin-right: 15px;
}
/* User info block*/
.b-user-info{
  position: relative;
}
.balance-counter--count{
  color: #d70000;
}
.credits-b__balance-counter{
  font-size: 0.75em; //12px;
}
a.credits-b__buy-button,
.credits-b__buy-button {
  background: #d70000;
  color: #ffffff;
  padding: 0.75em 1em; // 12px 16px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 0.75em; // 12px;
  margin: 0 7px;
}
a.credits-b__buy-button:hover,
.credits-b__buy-button:hover{
  color: #ffffff;
  background: #e90404;
}
.profile-b__my-avatar-item{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  max-width: 50px;
}
.profile-b__profile-info--show-popup{
  font-size: 0.875em; //14px;
  margin-left: 5px;
  vertical-align: middle;
}
.profile-b__icon--toogle {
  vertical-align: middle;
  font-size: 1em; //16px;
}
.profile-b__icon--toogle.icon-cross{
  font-size: 1.2em;
}
.b-user-info__popup--show-info-about-me{
  position: fixed;
  top: 0;
  height: 100%;
  right: 0;
  width: 233px;
  background: #ffffff;
  z-index: -1;
  padding-top: 57px;
}

.b-user-info__popup-content{
  border-top: 1px solid #d5e8f8;
  padding: 15px;
}
.b-popup-content__title-icon{
  padding-right: 5px;
  position: relative;
  top: 4px;
  font-size: 1.5em;
  color: @main-icon-color;
}
.b-popup-content__nav {
  background: #f0f2f7;
  padding: 5px 15px 5px 21px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 0.875em; //14px;
}
.b-popup-content__nav__item{
  border-top: 1px solid #e4e7ef;
  border-bottom: 1px solid #ffffff;
  padding: 10px 0;
}
.b-popup-content__nav__item--counter{
  font-size: 0.875em; //12px;
  color: #080e19;
}
.b-popup-content__nav__item:first-child{
  border-top: 0;
}
.b-popup-content__nav__item:last-child{
  border-bottom: 0;
}
.b-popup-content__nav-footer{
  text-align: left;
}
.b-popup-content__nav-footer__item{
  font-size: 0.75em; //12px;
  display: inline-block;
  margin: 0 25px;
}
.post-nav-b__item{
  display: inline-block;
  margin: 0px 0px 0px 15px;
}
/* User info block*/
