.b-main-menu{
  background: none repeat scroll 0 0 #040e20;
  left: 0;
  position: fixed;
  top: 0;
  width: 62px;
  z-index: 4;
}
.b-main-menu-content{
  padding-top: 52px;
}
.b-main-menu-content__item{
  text-align: center;
  padding: 9px 0;
  border-bottom: 1px solid #131f34;
  border-top: 1px solid #01060f;
  position: relative;

}
a.b-main-menu-content__item-link,
.b-main-menu-content__item-link{
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.75em; //12px;
  display: block;
  line-height: 1.5em;
}

.b-main-menu-content__item-icon {
  color: #ffffff;
  font-size: 2.2em; //26px;
  margin-bottom: 5px;
}
.b-main-menu-content--active-arrow{
  display: none;
}
.active .b-main-menu-content--active-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 10px solid #040e20;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 16px;
  right: -10px;
  display: block;
}
