body{
    background: #f1f3f8;
    font-size: 16px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    font-weight: 500;
    position: relative;
}

.b-header{
    background: #ffffff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    padding: 3px 0 4px;
}

.b-head-right--pp{
    margin: 3px 15px 3px 4px;
}
.b-header--pp{
    padding: 0;
}

.b-head-left {
    margin: 10px 0 0px 5px;
    float: left;
    position: relative;
}

.b-head-left--pp{
    margin: 0 0 0 62px;
}

.b-content {
    min-height: 100%;
}

.b-return{
    height: 51px;
    border-left: 1px solid #f1f3f8;
    border-right: 1px solid #f1f3f8;
}
.b-return__btn,
a.b-return__btn{
    display: block;
    text-align: center;
    line-height: 50px;
    font-size: 0.875em;
    padding: 0 25px 0 15px;
}
.b-return-item-icon {
    font-size: 1.65em;
    vertical-align: middle;
    position: relative;
    top: -2px;
    color: @main-icon-color;
}

.b-content-pp__b-left-content{
    width: 52%;
    vertical-align: top;
    min-width: 340px;
}

.b-content-pp__b-right-content, .b-content-next-pp__b-right-content{
    margin-left: 26px;
    vertical-align: top;
    width: 38%;
}
.b-content-next-pp__b-right-content{
    width: 42%;
    margin-top: 44px;
}
.content-pp-b{
    padding: 15px 0;
    margin-bottom: 8px;
    position: relative;
}
.content-pp-b__header {
    padding: 0 18px;
}
.content-pp-b__header-title{
    font-size: 0.95em; //15px;
}
.content-pp-b__motivation-txt{
    font-size: 0.75em; //12px;
    font-weight: 600;
    line-height: 1.3em;
    padding-right: 66px;
}
.content-pp-b__benefits {
    margin: 24px 0 0;
}
.benefits-pp__content {
    display: table;
    width: 100%;
    font-weight: normal;
    padding: 22px 17px;
    border-top: 1px solid #f1f3f8;
}
.benefits-pp__content-item {
    display: table-cell;
    width: 50%;
    vertical-align: top;
}

.benefits-pp__item-icon {
    color: #0074d7;
    font-size: 1.4em; //22px;
    vertical-align: middle;
    position: relative;
    top: -3px;
    padding-right: 7px;
}
.benefits-pp__item-icon.icon-Check {
    font-size: 1.1em;
    color: #1bd012;
    padding-left: 5px;
}
.benefits-pp__content-item-relative{
    position: relative;
}
.benefits-pp__text {
    position: absolute;
    left: 0;
    top: 0px;
    padding-left: 2em;
    line-height: 1.2em;
    font-size: 0.875em;
}
.one-cell{
    padding-left: 4em;
}
.benefits-pp__garanty{
    position: absolute;
    top: -7px;
    right: -15px;
}
.subscription-b{
    padding: 15px;
}
.subscription-b__item{
    display: table;
    width: 100%;
    background: #f1f3f8;
    border-bottom: 2px solid #cad1e4;
    margin-bottom: 11px;
    padding: 10px 11px 10px 6px;
    .border-radius;

    .subscription-b__item-price-icon{
        display: none;
    }
    &.active{

        background: #0074d7;
        border-bottom: 2px solid #213a78;

        a.subscription-b__item-link{
            color: #ffffff;
        }
        .subscription-b__item-price-icon{
        display: inline-block;
        }
    }
    &:hover{
        border-bottom: 2px solid #213a78;
    }
}
.subscription-b__item-price,
.subscription-b__item-text,
.subscription-b__item-credits{
    display: table-cell;
    vertical-align: middle;
}
.subscription-b__item-price{
    font-size: 2em; //16px;
    width: 92%;
}
.subscription-b__item-text{
    text-align: center;
    font-size: 0.875em;
    width: 40%;
    padding-right: 5px;
}
.subscription-b__item-credits{
    width: 17%;
    padding: 0 4px;
}
.subscription-b__item-credits-b{
    font-size: 0.875em;
    color: @pp-credits-color;
    background: #ffffff;
    text-align: center;
    padding: 10px 0;
    max-width: 130px;
    min-width: 105px;
    width: 100%;
    .border-radius;
    white-space: nowrap;
}
.item-credits-b__number{
    min-width: 5.5em;
    display: inline-block;
}
.subscription-b__item-price-icon {
    position: absolute;
    left: 0;
    font-size: 0.55em;
    top: 0.45em;
}
.subscription-b__price-line{
    position: relative;
    display: inline-block;
    padding-left: 24px;
    white-space: nowrap;
}
.subscription-b__item-price-cent, .subscription-b__item-price-time{
    position: relative;
    top: -1.3em;
    right: -2px;
    font-size: 0.35em;
    font-weight: 600;
    display: inline-block;
}
.subscription-b__item-price-time{
    top: 18px;
    right: 1.6em;
    white-space: normal;
    width: 95%;
    padding-right: 40px;
    vertical-align: top;
}
a.subscription-b__item-link{
    color: #040e20;
    &:hover{
        color: #040e20;
    }
}
.security__content{
    display: table;
    width: 100%;
    font-size: 0.875em; //12px;
    margin: 25px 0 10px;
}
.security__content-item{
    display: table-cell;
    width: 35%;
    padding-right: 4px;
    vertical-align: middle;
}
.subscription-b__cards {
    position: absolute;
    right: 20px;
}
.subscription-b__cards-item-icon {
    display: inline-block;
}
.subscription-b__cards-item-icon.icon-Visa,
.subscription-b__cards-item-icon.icon-Master,
.subscription-b__cards-item-icon.icon-MasterSecure,
.subscription-b__cards-item-icon.icon-VisaSecure,{
    background: url('../images/security-card.png') no-repeat scroll 0 2px;
    display: inline-block;
    width: 54px;
    height: 30px;
    vertical-align: middle;
}
.subscription-b__security, .security__content-item-b{
    position: relative;
}
.subscription-b__cards-item-icon.icon-Master{
    background-position: 0 -30px;
}
.subscription-b__cards-item-icon.icon-MasterSecure{
    background-position: 0 -107px;
    width: 57px;
    height: 20px;
}
.subscription-b__cards-item-icon.icon-VisaSecure{
    background-position: 0 -70px;
    width: 54px;
    height: 30px;
}
.security__content-item-icon{
    font-size: 1.5em;
    color: @pp-icons-color;
    position: relative;
    top: 2px;
}
.security__content-item.btn-full {
    width: 27%;
    padding-right: 16px;
}
a.security__get-full-btn-link{
    background: #d70000;
    color: #ffffff;
    padding: 10px 0px;
    float: right;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    min-width: 105px;
    font-size: 1em;
    white-space: nowrap;
    max-width: 118px;

    &:hover{
        background: #e90404;
        color: #ffffff;
    }
}

.security__content-item-txt {
    position: absolute;
    top: 6px;
    left: 0;
    padding-left: 1.6em;
}
.benefits-pp__garanty-item{
    display: block;
    width: 99px;
    height: 117px;
    background: url('../images/satisfaction-garanty.png') no-repeat scroll 0 0px;
}
// RIGHT CONENT
.b-right-content__pp-bg {
    text-align: center;
    margin-top: 1.55em;
}
.b-right-content__pp-bg-item{
    width: 275px;
    height: 373px;
    display: block;
    background: url('../images/pp-girl.png') no-repeat scroll 0 0;
    margin: 0 auto;
}
.pp-member-b__title{
   padding: 18px 10px 0;
}
.pp-member-b__content{

    .b-comment__item-info-massage-content{
    line-height: 1.3em;
    }
    .b-comment__item-avatar, .b-comment__item-info-massage{
        vertical-align: top;
    }
    .b-comment__item-avatar{
        min-width: 55px;
    }
    .b-comment__item{
        padding: 10px 10px;
    }
}
.item-credits-b-icon {
    padding-right: 3px;
}
.b-comment__item-avatar-item--pp{
    background:  url('../images/pp-member.jpg') no-repeat scroll 0 0;
    display: block;
    width: 50px;
    height: 50px;
}
.b-comment__item-avatar-item--pp.member2{
    background:  url('../images/pp-member2.jpg') no-repeat scroll 0 0;
}
.b-comment__item-avatar-item--pp.member3{
    background:  url('../images/pp-member3.jpg') no-repeat scroll 0 0;
}

//[END] RIGHT CONTENT

// PP NEXT STEP
.pp-forms-b{
    padding: 15px 9px;
}
.pp-forms-b__title{
    font-size: 0.95em;
    position: relative;
    &:after {
        position: absolute;
        content: "";
        top: -5px;
        right: 0;
        background: url(../images/pp-sprite.png) no-repeat 0 0;
        width: 249px;
        height: 32px;
    }
}
.pp-forms-b__under-title {
    font-size: 0.75em; //12px;
    font-weight: 400;
    padding: 5px 250px 8px 0;
}
.all-fields-b__field-b{
    background: #f1f3f8;
    padding: 5px 5px;
    width: 100%;
    margin: 5px 0;
    .border-radius;
    display: table;
}

.field-b__label {
    font-size: 0.875em; //14px;
    display: table-cell;
    width: 26%;
    min-width: 160px;
}
.field-b__input-b {
    display: table-cell;
    width: 72.62%;
    &--cvv { width: 100px; }
}
.field-b__require{
    color: #db1d1e;
    display: inline-block;
}

.field-b-error{
    background: #f2dadf;
}
.field-b__input-b-item-error{
    color: #db1d1e;
    position: absolute;
    top: 9px;
    right: 5px;
    font-size: 0.7em; //11px;
    text-transform: uppercase;
}
.field-b__icon {
    font-size: 1.65em;
    padding: 0px 5px;
    display: inline-block;
    vertical-align: middle;
    color: #8990a2;
}
.b-content-next-pp__b-right-content .field-b__label{
    min-width: 130px;
}
.checkbox-item__agree-txt {
    vertical-align: top;
    display: inline-block;
    width: 90%;
    line-height: 1.3em;
    font-weight: 400;
}
.all-fields-b__field-b {

    .field-b__input-b-item-error{
        display: none;
    }

    &.field-b-error{

    .field-b__input-b-item-error{
        display: block;
        }
    }
}
.b-content-next-pp__pay-btn-b{
    float: right;
}
a.pay-btn-b__item, .pay-btn-b__item {
    display: block;
    padding: 0.875em 1.5em;
    background: #d70000;
    color: #fff;
    border: 0;
    border-bottom: 2px solid #930202;
    .border-radius;
    margin: 15px 0 20px;
    font-size: 1em;
    font-weight: bold;

    &:hover{
        background: #e90404;
        color: #ffffff;
    }
}
.b-left-content__footer{
    font-size: 0.75em;
    margin: 20px 0;
    clear: both;
    font-weight: 400;
}
.b-content-next-pp__b-right-content .b-left-content__footer{
    display: none;
}
.total-amount-b__all-benefits {
    display: table;
    width: 100%;
    margin: 0 0 15px;
}
.total-amount-b__item {
    display: table-cell;
    color: #8f97a9;
    padding: 0 7px 0 0;
    white-space: nowrap;
}
.item__total{
    font-size: 1.125em;
    font-weight: 400;
    text-transform: uppercase;
}
.total-amount-b__item-pack-b{
    display: inline-block;
    position: relative;
}
.item-pack-b__main-pack {
    font-size: 1.8em;
    display: inline-block;
}
.item-pack-b__small-pack{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-left: 0px;
}
.total-amount-b__item-pack-top,{
    padding-bottom: 2px;
}
.total-amount-b__item-pack-top, .total-amount-b__item-pack-bottom{
    font-size: 0.7em; //12px;
}
.description {
    font-size: 0.75em;
    text-align: center;
    color: #8d8d8d;
    line-height: 1.3em;
    margin-bottom: 10px;

    .info {
        max-width: 770px;
    }
}

.b-pp-footer {
    margin: 0 auto 10px;
    padding: 0 10px 0 10px;
    width: 100%;
    min-width: 330px;
    max-width: 550px;
}

// [END] PP NEXT STEP
.subscription-b-info{
    font-size: 0.75em;
    line-height: 1em;
    .bold{
        font-weight: bold;
    }
    div{
        padding-bottom: 5px;
    }
}
// Failp PP
.popup-b {
    color: #fff;
    padding: 0 1em;
    width: 100%;
    height: 100px;
    top: 10px;
    position: absolute;
    z-index: 9999;
}
.popup-b-wrap{
    max-width: 735px;
    margin: 0 auto;
}
.popup-b-wrap__content{
    position: relative;
}
a.popup-b-wrap__content--cancel {
    color: #fff;
    text-align: right;
    width: 100%;
    display: block;
    text-decoration: underline;
    margin-bottom: 85px;
    font-size: 0.95em;

    &:hover{
        color: #ffffff;
        text-decoration: none;
    }
}
.popup-b-wrap__content-head{
    position: relative;
    margin-bottom: 20px;
}
.popup-b-wrap__content-head-info {
    line-height: 1.6em;
    font-size: 0.95em;
    position: absolute;
    right: 0;
    top: 15px;
}
.popup-b-wrap__content-head-logo {
    display: inline-block;
    width: 48%;
    max-width: 292px;
    vertical-align: middle;

    img{
        width: 100%;
        max-width: 100%;
    }
}
.popup-b-wrap__content-head-info{
    font-size: 0.95em;
}
.popup-b-wrap__content-head-info-number{
    font-size: 1.87em;
    color: #0ce26b;
}
.popup-b-wrap__content-main{
    background: #ffffff;
    color: #040e20;
    .border-radius;
    padding: 15px 10px;
}
.popup-b-wrap__content-main-b{
    display: inline-block;
    vertical-align: top;
    width: 45%;

    &:first-child{
        margin-right: 5%;
    }
}

.content-main-b-phone-notice {
    position: relative;
    color: #8e9094;
    font-size: 0.75em;
    padding-left: 3em;
    margin: 15px 0 25px;
}
.content-main-b-phone-icon {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 2.35em;
    color: @main-icon-color;
}
.content-main-b-contacts {
    font-size: 0.813em;
    line-height: 1.5em;

    .bold{
        font-weight: 600;
        margin-bottom: 5px;
        display: inline-block;
    }
}
.popup-b-wrap__content-main-b-call{
    font-size: 1.125em;
}
.content-main-b-phone{
    font-size: 1.64em;
    color: @main-link-color;
    margin: 5px 0;
}
.popup-b-wrap__content-main-b-error-item {
    margin-bottom: 10px;
}
.popup-b-wrap__content-main-txt{
    font-size: 1.125em;
    line-height: 1.2em;
}
.popup-b-wrap__content-main-b-error {
    font-weight: 600;
    font-size: 1.125em;
    margin: 6px 0px;
}
.popup-b-wrap__content-main-b-error-item-hightlight{
    color: #dc1f26;
}
.popup-b-wrap__content-main-b-error-notice {
    font-size: 0.75em;
    font-weight: 300;
    line-height: 1.25em;
}
.subscription-b__cards--relative{
    position: relative;
    top: auto;
    right: auto;
    margin: 25px 0 0;
}


.custom-select--pp {
    background: #ffffff;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    max-width: 100px;

    .custom-select__selected-item {
        padding: 0 0.75em;
    }

    select {
        padding: 0 0.5em;
    }
}

.custom-select__selected-item-line {
  display: inline-block;
  margin: 0 4px 0 4px;
}

/* new styles - by Petrukhnov */

.pp-forms-billing-policy {
    font-size: 0.75em;
    font-weight: 300;
    line-height: 1.25em;
    color: #666;
    margin: 18px 0;

    div + div { margin-top: 18px; }

    .note { color: #000; }
}

.pp-forms-btns-group {
    margin: 35px 0;
    text-align: center;

    .btn-package {
        display: inline-block;
        vertical-align: top;
        margin-right: 15px;
        min-width: 140px;
        height: 40px;
        padding: 10px 20px;
        text-align: center;
        .border-radius;
        font-weight: 300px;
        font-size: 1.125em;

        &--back {
            color: #434a54;
            background: #d7dae0;

            &:hover {
                color: #434a54;
                background: darken(#d7dae0, 8%);
            }
        }

        &--pay {
            color: #fff;
            text-shadow: 0px 1px fade(#000, 50%);
            background: #d70a16;
            -webkit-box-shadow: 0 -2px 2px fade(#000, 30%) inset;
            -moz-box-shadow: 0 -2px 2px fade(#000, 30%) inset;
            box-shadow: 0 -2px 2px fade(#000, 30%) inset;

            &:hover {
                color: #fff;
                background: lighten(#d70a16, 8%);
            }
        }
    }
}

.pp-package-total {
    position: absolute;
    top: 7px;
    right: 15px;

    &__title {
        color: #a0abbf;
        font-size: 1.125em;
        margin-right: 15px;
        display: inline-block;
        vertical-align: middle;
    }

    &__sum {
        min-width: 95px;
        .border-radius;
        background: #f1f3f8;
        color: #0074d7;
        text-align: center;
        height: 44px;
        padding: 5px 10px;
        display: inline-block;

        > span { display: inline-block; }

        .currency,
        .int {
            font-size: 1.875em;
            font-weight: bold;
            vertical-align: middle;
        }

        .double {
            font-size: 1em;
            vertical-align: top;
        }
    }
}

.common_pop_up {
    width: 100%;
    position: absolute;
    z-index: 1002;
    top: 60px;
    left: 0;
    padding: 0 1em;

    &__container {
        margin: 0 auto;
        width: 100%;
        max-width: 880px;
        position: relative;
        .border-radius;
        background: @white;
        padding: 10px 30px 30px;
    }

    &__header { padding: 16px 50px 1em; }

    &__title {
        text-align: center;
        font-size: 1.125em;
        color: #333;
        font-weight: bold;
    }

    &__content {
        font-size: 0.75em;
        line-height: 1.3em;
        color: #333;

        p { margin-bottom: 1em; }
    }

    .pop_up__close { right: 10px; }

    .centered-wrap { text-align: center;}

    .btn { font-size: 1.3em; }
}

/* [END] new styles */

/* New PP Styles */
.new-pp-page .b-head-left--pp{
    margin: 0;
}
.b-content-pp__b-left-content-some-pp-page{
    width: 100%;
    vertical-align: top;
    min-width: 500px;
    max-width: 770px;
    margin: 0 auto;
}
.content-pp-new-packages-wrap {
    width: 100%;
    position: relative;
    padding: 0 10px;
}
.content-pp-new-packages-item {
    display: inline-block;
    vertical-align: bottom;
    width: 22.9%;
    background: #0074d7;
    color: #ffffff;
    text-align: center;
    margin-left: 1%;
    .border-radius;
    border-bottom: 8px solid #0258a1;
    overflow: hidden;
    cursor: pointer;

    &.current-packages-item{
        border-bottom: 0;
        width: 24.8%;
        -webkit-box-shadow: inset -7px 0px 0px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: inset -7px 0px 0px 0px rgba(0,0,0,0.2);
        box-shadow: inset -7px 0px 0px 0px rgba(0,0,0,0.2);
        background: #242e39;
        min-height:453px;
        height: auto;
        position: relative;
        padding-bottom: 50px;

        .content-pp-new-packages-item-benefits{
            border-bottom: 2px solid #090c0e;
            margin: 10px auto 30px;
        }
        .content-pp-new-packages-item-name{
            border-bottom: 1px solid #465565;
        }

        .content-pp-new-packages-item-price {
            font-size: 2.25em;
            font-weight: 600;
            padding: 10px 0;
        }
        .content-pp-new-packages-item-check{
            position: absolute;
            background: #d70000;
            height: 50px;
            -webkit-box-shadow: inset -7px -7px 1px 0px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: inset -7px -7px 1px 0px rgba(0, 0, 0, 0.2);
            box-shadow: inset -7px -7px 1px 0px rgba(0, 0, 0, 0.2);
            display: block;
            bottom: 0;
            right: 0;
            width: 100%;

            .content-pp-new-packages-item-check-icon {
                font-size: 2.5em;
                position: absolute;
                top: 4px;
                left: 0;
                width: 100%;
                color: #ffffff;
            }
        }
        .content-pp-new-packages-item-content{
            padding: 0 15px;
        }
        &:hover{
            border-bottom: 0;
            background: #242e39;
        }
    }
    &:hover{
        background: #0486f5;
        border-bottom: 8px solid #0672cf;
    }
    a{
        color: #ffffff;
        &:hover{
            color: #ffffff;
            text-decoration: none;
        }
    }
    .content-pp-new-packages-item-check{
        display: none;
    }
}
.content-pp-new-packages-item-content{
    padding: 0 6px;
}
.content-pp-new-packages-item-name {
    padding: 26px 0 22px;
    border-bottom: 1px solid #0258a1;
}
.content-pp-new-packages-item-price {
    font-size: 2.125em;
    font-weight: 600;
    padding: 21px 0;
}
.content-pp-new-packages-item-benefits {
    color: #596879;
    font-size: 0.7em;
    background: #ffffff;
    max-width: 149px;
    margin: 0 auto 9px;
    padding: 12px;
    .border-radius;
    border-bottom: 2px solid #0045be;
}
.content-pp-new-packages-information {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #dce1ed;
    margin-bottom: 30px;
    font-size: 0.75em;
}
.b-content-new-pp {
    padding: 73px 10px 0 252px;
    .rightside__grid{
        width: 100%;
    }
    .rightside__grid-item{
        width: auto;
        margin: 0;
        float: none;
    }

}
.b-content-new-pp-motiv-banner {
    position: absolute;
    left: 30px;
    top: 252px;
    width: 100%;
    max-width: 210px;
}
.b-content-new-pp-motiv-banner-content{
    padding: 24px;
    margin-bottom: 15px;
    &.hotline-content {
        padding: 0;
        font-weight: bold;
        font-size: 0.875em;
        line-height: 1.3em;
        .hotline {
            color: @main-link-hover;
            display: block;
        }
    }
    &.full-members-features {
        padding: 12px 0;
        .full-members-features__title {
            font-weight: bold;
            font-size: 1em;
            padding: 0 20px 10px;
        }
        .full-members-features__list li {
            position: relative;
            border-top: 1px solid #f1f3f8;
            padding: 8px 12px 8px 35px;
            color: #0a1b36;
            font-size: 0.875em;
            &:before {
                content: "\e629";
                font-family: 'icons';
                font-size: 0.7em;
                font-weight: bold;
                color: @main-link-color;
                position: absolute;
                left: 18px;
                top: 50%;
                margin-top: -3px;
            }
        }
    }
}
.b-content-new-pp-motiv-banner-content-info{
    font-size: 0.875em;
    font-weight: 600;
    text-align: center;
    margin-top: 5px;
}
.b-content-new-pp-motiv-banner-content-info b{
    display: block;
}
.b-content-new-pp-motiv-banner-content-info-name{
    color: #0074d7;
    font-size: 1.125em;
    display: block;
    padding: 4px 0;
}
.pp-forms-b-validate-b {
    padding: 25px 10px 0;
}
.content-pp-new-packages-wrap--features .pp-forms-b-validate-b {
    padding: 30px 10px 0;
}
.all-fields-b__field-b-card-number input{
    max-width: 75px;
    text-align: center;
    margin: 4px;
}
.field-b__input-b-item.short-number {
    max-width: 79px;
}
.content-pp-new-timer{
    text-align: center;
}
.content-pp-new-timer-title {
    font-size: 1.375em;
    margin-bottom: 20px;
}
.content-pp-new-timer-sales {
    padding: 24px 0 34px;
    font-weight: 600;

    span{
        color: #d70000;
    }
}
/* Timer */
            .__time-left {
                margin: 10px 0;
                text-align: center;
                text-transform: uppercase;
                color: #4f4f4f;
                font-size: 20px;
            }
            .timer_holder {position: relative;}

            #timer {
                margin: 0 auto;
                width: 275px;
                height: 63px;
                background: url('../images/timer__sprt.png') -52px top no-repeat transparent;
                position: relative;
                z-index: 2;
            }

            #timer .time {
                color: white;
                padding-left: 6px;
            }

            #timer .time b {
                color: white;
                display: block;
                float: left;
                font: 30px/44px "Trebuchet MS",Trebuchet,sans-serif;
                margin-right: 1px;
                margin-left:1px;
                margin-top: 12px;
                text-shadow: 1px 1px 1px #0B0B0B;
                width: 32px;
                height: 44px;
                text-align: center;
                background: url('../images/timer__sprt.png') -173px -98px no-repeat transparent;
            }

            #timer .time span {
                display: block;
                float: left;
                font: 30px/44px "Trebuchet MS",Trebuchet,sans-serif;
                margin-top: 12px;
                position: relative;
                width: 12px;
                text-align: center;
            }

            .tmr_shdw {
                width: 400px;
                height: 20px;
                background: url('../images/timer__sprt.png') center -73px no-repeat transparent;
                z-index: 1;
                position: absolute;
                bottom: -11px;
                left: 50%;
                margin-left: -200px;
            }
            .typeprice{
                font-size: 13px;
                margin: 0 6px 0 0px;
                top:4px;
                position: relative;
            }
/* [END] Timer*/

.pp-logo {
    position: absolute;
    left: 30px;
    top: 115px;

    img {
        max-width: 210px;
    }
}

.b-packages {
    padding: 35px 0 50px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #dce1ed;
    .more-wrap {
      display: none;
    }

    .packages-list {
      border-top: 0;
      ._radius(5px);
      width: 85%;
      margin: 0 auto;
    }

    .package {
      display: inline-block;
      float: left;
      width: 25%;
      cursor: pointer;
      position: relative;
      cursor: pointer;
      border-bottom: 1px solid #ced2db;

      &:first-child { ._radius(0 0 0 5px); }
      &:last-child { ._radius(0 0 5px 0); }

      input[type="checkbox"],
      input[type="radio"] {
        ._opacity(0);
        position: absolute;
    }

      label {
        width: 100%;
        display: block;
        text-align: center;
        overflow: hidden;
        background: #f1f3f8;
        cursor: pointer;

        .title, .description, .price {
          display: block;
        }

        .title {
          background-color: #242e39;
          font-size: 0.81em;
          color: #fff;
          padding: 5px 0 5px;
          border-right: 1px solid #151b22;
          margin: 0;

          .input-icon { padding-left: 0; }
        }

        > .description {
          background-color: @main-link-color;
          color: #fff;
          font-size: 0.81em;
          ._shadow(-1px -1px 1px fade(#000, 15%) inset);
          padding: 12px 10px;
          text-shadow: 1px 1px fade(#000, 15%);
          min-height: 55px;
          display: block;
          margin: 0;
          .overall {
            display: block;
            font-size: 1.3em;

            span {
              text-decoration: line-through;
              font-size: 0.8em;
            }
          }

          .amount {
            font-size: 1.75em;
            font-weight: bold;
            display: inline-block;
            vertical-align: middle;
            margin-top: -7px;
          }

          .cent {
            font-size: 0.875em;
            display: inline-block;
            vertical-align: top;
            margin-top: -3px;
          }
        }

        .price {
          min-height: 97px;
          width: 100%;
          vertical-align: middle;
          background: #f1f3f8;
          ._shadow(0 0 1px #fff inset);
          border-right: 1px solid #ced2db;
          padding: 10px 10px;

          .price-inner {
            position: relative;
            display: inline-block;
            padding-left: 17px;
            text-align: left;
            font-stretch: condensed;

            &:before {
              background-color: #fff;
              height: 12px;
              width: 12px;
              ._radius(8px);
              border: 1px solid #979797;
              overflow: hidden;
              position: absolute;
              left: 0;
              top: 50%;
              margin-top: -6px;
              content: "";
            }
          }

          .currency, .cent, .amount { display: inline-block; }

          .currency,.cent { font-size: 1.125em; }
          .amount {
            font-size: 2.5em;
            font-weight: bold;
          }
          .cent {
            vertical-align: top;
            margin-top: 6px;
          }
          .period {
            display:inline-block;
            vertical-align: middle;
            margin-left: -22px;
            font-size: 0.6875em;
          }
          .credits {
            display: block;
            margin: 8px 0 0;
            background: #fff;
            ._radius(5px);
            ._shadow(1px 2px 2px fade(#000, 30%));
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            color: #596879;
            font-size: 0.75em;
            padding: 6px 0;
          }
        }
      }

      &:first-child {
        label {
          ._radius (5px 0 0 5px);
        }
      }

      &:last-child {
        label {
          border-right: 0;
          ._radius(0 5px 5px 0);
        }
      }
    }

    .package.active {
      label {
        position: absolute;
        margin: -11px 0 0 -2.5%;
        width: 104%;
        ._radius(5px);
        -webkit-box-shadow: 2px 2px 0 3px fade(#000, 20%), 0 0 1px fade(#000, 30%) inset;
        -moz-box-shadow: 2px 2px 0 3px fade(#000, 20%), 0 0 1px fade(#000, 30%) inset;
        box-shadow: 2px 2px 0 3px fade(#000, 20%), 0 0 1px fade(#000, 30%) inset;
        z-index: 2;

        > .description {
          color: #fff !important;
          background-color: @main-link-hover;
          min-height: 65px;
        }

        .title, .description, .price { border-right: 0; }

        .price {
          min-height: 107px;
          background: lighten(@main-link-hover, 50%);

          .price-inner:before { border: 1px solid lighten(@main-link-hover, 40%); }

          .price-inner:after {
            width: 6px;
            height: 6px;
            background-color: @main-link-hover;
            content: "";
            top: 50%;
            margin-top: -2px;
            left: 4px;
            position: absolute;
            ._radius(5px);
          }
        }
      }
    }

    input[type="radio"] {
      &:not(.default):checked+span {
        &:before{
          background-position: -481px -102px;
        }
      }
      &:not(.default)+span {
        &:before {
          background-position: -498px -102px;
        }
      }
    }
}

.under-footer-information {
    max-width: 610px;
    margin: 0 auto;
    font-size: 0.813em;
    text-align: center;

    div {
        line-height: 1.25em;
    }
}

/* Features Styles */
.content-pp-new-packages-wrap--features{
    max-width: 610px;
    margin: 0 auto;
}
.content-pp-new-packages-item--features{
    width: 31.2%;
    min-height: 420px;
    &.current-packages-item{
        width: 32.1%;
        height: 453px;
        .content-pp-new-packages-item-price{
            padding: 38px 0 61px;
        }
        .content-pp-new-packages-item-benefits--features{
            margin: 0 auto 9px;
        }
            .content-pp-new-packages-item-content--big{
            .content-pp-new-packages-item-price{
                padding: 25px 0;
            }
        }
    }
}
.title--features{
    margin-bottom: 19px;
    font-weight: 600;
    padding-bottom: 18px;
    border-bottom: 1px solid #dce1ed;
    a{
        float: right;
        font-size: 0.875em;
        text-decoration: underline;
    }
}
.content-pp-new-packages-item-content--features{
    height: 89%;
}
.content-pp-new-packages-item-benefits--features{
    max-width: 167px;
    text-align: left;
    padding: 8px 10px;
     &.txt-center{
        text-align: center;
    }
}
.content-pp-new-packages-item-benefits-title--features{
    font-weight: 600;
    font-size: 1.125em;
    padding: 0 7px 0 0;
}
.content-pp-new-packages-item-benefits-icon{
    font-size: 2.4em;
    margin-top: 10px;
}
.content-pp-new-packages-item-benefits-icon-item {
    padding: 0 3px;
}
.content-pp-new-packages-item-name--features{
    height: 73px;
}
.content-pp-new-packages-item-benefits-info {
    position: relative;
    padding-left: 20px;
    margin-top: 5px;
    line-height: 1.125em;
}
.content-pp-new-packages-item-benefits-info-icon {
    position: absolute;
    left: -4px;
    top: 0px;
    font-size: 1.75em;
    color: @main-link-color;
}
.subscription-b__cards--features{
    position: relative;
    right: auto;
    top: auto;
}
.content-pp-new-packages-information--features{
    border-bottom: 0;
}
.b-content-new-pp-motiv-banner-content-info-icon-phone {
    width: 55px;
    height: 39px;
    margin: 0 auto 10px;
    background: url('../images/security-card.png') no-repeat scroll 0px -180px transparent;
}
.b-content-new-pp-motiv-banner--features{
    top: 252px;
    .b-content-new-pp-motiv-banner-content{
        padding: 10px;
    }
    .b-content-new-pp-motiv-banner-content-info-txt {
        font-size: 1.125em;
        font-weight: 500;
        line-height: 1.25em;
    }
    .b-content-new-pp-motiv-banner-content-info-name{
        font-weight: 600;
    }
}
.content-pp-new-packages-information--features{
    font-size: 0.813em;
    margin-bottom: 0;
}

.content-pp-new-packages-information--features-change {
    margin-bottom: 10px;
    a{
    text-decoration: underline;
    }
}
.btn--features {
    color: #fff !important;
    margin: 15px auto 15px;
    font-size: 1.125em;
    background:@main-link-hover;
    max-width: 185px;
    border-bottom: 2px solid #930202;
    font-weight: 600;
    &:hover{
        background: #f41623;
    }
}
.content-pp-new-packages-information--features-billing a{
    color: #000000;
    text-decoration: underline;
}
.under-footer-information{
    margin-bottom: 15px;
    div{
    line-height: 1.25em;
    }
}
/* [END] Features Styles */

/* [END] New PP Styles */

@media screen and (max-width: 962px) {
    .b-packages .packages-list {
        font-size: 15px;
        width: 100%;
    }
}

@media screen and (max-width: 860px) {
    .pp-logo {
        display: none;
    }
    .b-content-new-pp-motiv-banner--features {
        display: none;
    }
    .b-content-new-pp {
        padding: 73px 10px 0;
    }
     .content-pp-new-packages-item--features.current-packages-item .content-pp-new-packages-item-price {
        padding: 15px 0 18px;
    }
    .b-packages .packages-list {
        width:85%;
    }
    .b-content-pp__b-left-content-some-pp-page{
        max-width:none;
    }
}

@media screen and (max-width: 740px) {
    .b-content-new-pp {
        font-size: 14px;
    }
    .b-packages .packages-list {
        width:100%;
    }
}