@logoutPopup-toolbar-bg: #070506;
@logoutPopup-primary-color: @t-main-color;

._logoutPopup-close() {
    width: 16px;
    height: 16px;
    margin-top: -8px;
    background: transparent url("@{t-img}/icons.png") repeat 17px 100px;
    background-size: 213px auto;
}
