.b-page {
  &.b-page-profile-settings {
    padding: 0 0 300px;
    .pattern-bg {
      display: none;
    }
    .settings-content {
      ._clearfix;
      position: relative;
      z-index: 4;
      width: 962px;
      margin: 27px auto 0;
      padding: 8px 20px 0;
    }
    .title {
      ._clearfix;
      margin: 0 0 35px 0;
      .b-title {
        float: left;
        margin-right: 20px;
      }
      .b-id {
        font-size: 13px;
      }
    }
    .right-block {
      float: right;
      width: 463px;
      margin-top: -4px;
      input[type="checkbox"] {
        top: 2px;
      }
    }
    .left-block {
      ._radius(0);
      ._box-sizing;
      float: left;
      width: 460px;
      margin-bottom: 30px;
      padding: 20px;
      background: @account-block_bg;
      &:before {
        display: block;
        clear: both;
        content: "";
      }
      .b-setting {
        ._text-overflow();
        max-width: 100%;
        margin-bottom: -4px;
      }
      .settings-holder {
        float: left;
        width: 170px;
        margin-top: -1px;
        text-align: right;
      }
      input[type="text"],
      input[type="password"],
      .input-holder {
        width: 240px;
        background: @account-input_bg_light;
      }
      .input-holder {
        margin-right: 0;
      }
    }
    .show-pass-btn {
      ._opacity(.85);
      display: none;
      position: absolute;
      top: 8px;
      right: 7px;
      border: none;
      outline: none;
      background: none;
      ._sprite(@show-pass);
      &:hover {
        ._opacity(1);
      }
      &:active {
        ._opacity(.85);
      }
      &.active {
        display: block;
      }
    }
    .b-settings-row {
      ._clearfix();
      position: relative;
      margin-top: 10px;
      &.active {
        margin: 20px 0;
        .line {
          margin-top: 3px;
        }
      }
      &.activity-mashines {
        margin-top: 29px;
      }
      &.activity {
        margin-top: 33px;
      }
      &.b-settings-notifications,
      &.b-settings-future {
        margin-top: 30px;
      }
      &.privacy-setting {
        margin-top: 73px;
        .b-setting {
          font: 700 16px/20px @account-font_400;
          letter-spacing: .025em;
          text-transform: uppercase;
          color: @account-text_def_dark;
        }
      }
      &.meta-setting {
        position: absolute;
        bottom: 20px;
        left: 519px;
        li {
          display: inline-block;
          margin-left: 35px;
          &:first-child {
            margin-left: 0;
            cursor: pointer;
          }
        }
        a,
        button {
          margin: 0;
          font-family: @account-font_400;
          font-size: 16px;
          line-height: 20px;
          text-decoration: underline;
          color: @account-text_link;
          outline: 0;
          background: none;
          &:hover,
          &:active,
          &:focus,
          &:visited {
            text-decoration: none;
          }
        }
        button {
          margin-top: -4px;
          color: @account-text_def_dark;
        }
      }
      &.b-id {
        float: left;
        margin-top: 0;
        font-weight: 700;
        .b-value {
          display: inline-block;
        }
        .b-setting,
        .b-value .value {
          margin-right: 5px;
        }
        .b-setting {
          margin-bottom: 1px;
          font-size: 13px;
          color: @account-text_link;
        }
        .btn-info {
          ._radius(21px);
          display: inline-block;
          width: 21px;
          height: 21px;
          line-height: 23px;
          text-align: center;
          vertical-align: top;
          border: 2px solid @account-text_def_dark;
        }
      }
      .b-value {
        ._clearfix();
        clear: both;
      }
      .save-status {
        display: inline-block;
        position: relative;
        margin-left: 4px;
        color: transparent;
        &.load {
          top: 4px;
          width: 12px;
          height: 12px;
          background: url(~"@{img_url}/preloader_white_bg.gif") no-repeat;
        }
        &.save {
          top: 6px;
          ._sprite(@check-sm);
        }
        &.inactive {
          display: none;
        }
      }
      &.member-status {
        margin-top: 0;
        .btn {
          float: right;
          width: 240px;
          vertical-align: middle;
          background: @account-btn_upgrade;
        }
        .value {
          ._text-overflow();
          display: block;
          max-width: 100%;
          color: @account-text_def_dark;
          .info {
            display: none;
            color: @account-text_def;
          }
        }
      }
      .b-name {
        margin-bottom: 3px;
        color: @account-text_light;
      }
      .b-options-list {
        input[type="checkbox"] {
          margin-right: 2px;
        }
        li {
          margin-bottom: 10px;
          label {
            display: inline-block;
            position: relative;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      &.activity-mashines {
        .b-options-list {
          li {
            float: left;
            width: 197px;
          }
        }
      }
    }
    .field {
      ._clearfix();
      &.active {
        .select {
          display: block;
        }
      }
      .select {
        display: none;
        position: absolute;
        top: 42px;
        right: 0;
        left: 0;
        .list {
          ._shadow(0 5px 15px 0 fade(@account-shadow, 25%));
          ._radius();
          overflow: auto;
          max-height: 150px;
          padding: 0;
          text-align: left;
          background: @white;
          &::-webkit-scrollbar-thumb {
            &:vertical {
              background: @account-border_def_color;
            }
          }
          li {
            padding: 6px 10px;
            &:hover {
              background: @account-option_highlight_bg;
            }
          }
        }
      }
      .input-holder {
        ._radius(3px);
        ._box-sizing;
        float: right;
        position: relative;
        width: 240px;
        padding: 0 10px;
        line-height: 38px;
        &.loading {
          &:before {
            display: inline-block;
            position: absolute;
            top: 12px;
            right: -30px;
            width: 16px;
            height: 16px;
            content: "";
            background: url(~"@{img_url}/small-loader.gif") no-repeat;
          }
        }
        &.checked {
          &:before {
            display: inline-block;
            position: absolute;
            top: 18px;
            right: -27px;
            content: "";
            ._sprite(@check-sm);
          }
        }
        &:before {
          position: absolute;
          z-index: 2;
          top: 17px;
          right: 10px;
          width: 0;
          height: 0;
          content: "";
          border-top: 6px solid @main-arrow_bg;
          border-right: 3px solid transparent;
          border-left: 3px solid transparent;
        }
      }
    }
    .line {
      &.error {
        .field {
          .value {
            background-color: @account-error_bg;
          }
        }
      }
    }
    .b-settings-password,
    .b-settings-email,
    .b-settings-l10n {
      .b-value {
        position: relative;
        span {
          vertical-align: top;
        }
        .line {
          position: relative;
          width: 100%;
          margin-top: 10px;
          color: @account-text_def_dark;
          &:after {
            display: block;
            clear: both;
            content: "";
          }
          input {
            float: right;
            width: 240px;
          }
          .btn {
            float: right;
            min-width: 115px;
            margin-left: 10px;
          }
          .b-name {
            float: left;
            width: 170px;
            margin-top: 10px;
            text-align: right;
          }
          &.error {
            .b-error {
              display: block !important;
            }
          }
          .b-error {
            display: none;
            clear: both;
            width: 240px;
            padding: 5px 0 4px 180px;
            font: 600 12px/16px @account-font_400;
            color: @account-error_text_color;
          }
          &.btn-row {
            float: right;
            width: 240px;
            margin-top: 10px;
            text-align: right;
            .btn {
              width: 80px;
              margin-left: 8px;
              padding: 7px 8px;
              font: 300 12px/16px @account-font_400;
              font-size: 12px;
              &:first-child {
                margin-left: 0;
              }
            }
          }
        }
      }
    }
    input[type="password"] {
      padding-right: 30px;
    }
    .b-settings-l10n {
      ._clearfix();
      margin-top: 0;
      .active {
        display: block;
      }
      .b-value {
        .value {
          position: relative;
          top: 0;
          left: 0;
          text-align: left;
        }
      }
      .btn {
        float: right;
      }
    }
    .b-settings-password {
      .value {
        display: inline-block;
        margin-top: 2px;
      }
    }
    .b-settings-email {
      .value {
        margin-bottom: 5px;
      }
    }
    .b-settings-notifications {
      .b-value {
        margin-top: -2px;
      }
      .b-options-list {
        font-size: 0;
        li {
          clear: both;
          overflow: hidden;
        }
        .header {
          margin-bottom: 11px;
          color: @account-text_light;
          .option {
            width: auto;
            margin: 3px 5px 0 0;
            font-size: 12px;
            line-height: 16px;
          }
        }
        label {
          height: 16px;
        }
        .label,
        .option {
          display: inline-block;
        }
        .label {
          ._box-sizing();
          float: right;
          width: 323px;
          padding-right: 20px;
          font-size: 16px;
          line-height: 20px;
        }
        .option {
          position: relative;
          width: 32px;
          text-align: center;
          vertical-align: top;
          label,
          span {
            position: static;
          }
          span {
            &:before {
              top: 0;
            }
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .b-settings-features {
      .future-form {
        width: 360px;
        margin: 12px 0 15px 23px;
        & > div {
          margin-top: 10px;
          &:first-child {
            margin: 0;
          }
          &:last-child {
            margin-top: 20px;
          }
        }
        .btn-light {
          margin: 0;
        }
      }
      .message-input {
        height: 117px;
      }
      .btn-edit-bare {
        &.inactive {
          display: none;
        }
      }
    }
    .b-setting {
      display: inline-block;
      margin-bottom: 12px;
      color: @account-text_light;
    }
    .b-success {
      position: absolute;
    }
    .line {
      ._clearfix;
    }
    .features-form {
      textarea {
        padding: 2px 0 2px 12px;
      }
      .select {
        margin: 11px 0 0 0;
        .list {
          background: fade(@account-block_bg, 90%);
          li {
            margin: 0;
          }
        }
      }
      .btn {
        float: right;
        margin-top: 15px;
      }
      .textarea-wrap {
        border: 1px solid @account-border_def_color;
      }
      .field {
        margin-top: 10px;
      }
      input[type="radio"] + span:before {
        top: 2px;
        left: -1px;
      }
      label {
        margin-top: 8px;
        margin-bottom: 4px;
      }
      .input-holder {
        ._box-sizing();
        width: 100%;
        margin-top: 0;
        margin-bottom: 5px;
        padding: 9px 30px 9px 10px;
        line-height: 20px;
        cursor: pointer;
        &:before {
          background-position: -1px -56px;
        }
        &.active {
          &:before {
            background-position: -1px -69px;
          }
        }
      }
      .value {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .btn-edit-bare {
      ._opacity(.8);
      display: inline-block;
      margin-left: 3px;
      border: none;
      outline: none;
      ._sprite(@field-edit);
      &:hover {
        ._opacity(1);
      }
    }
    .features-form {
      textarea {
        padding: 2px 0 2px 12px;
      }
      .select {
        margin: 11px 0 0 0;
        .list {
          li {
            margin: 0;
          }
        }
      }
      .btn {
        float: right;
        margin-top: 15px;
      }
      .textarea-wrap {
        border: 1px solid @account-border_def_color;
      }
      .field {
        margin-top: 10px;
      }
      input[type="radio"] + span:before {
        top: 2px;
        left: -1px;
      }
      label {
        margin-top: 8px;
        margin-bottom: 4px;
      }
      .input-holder {
        ._box-sizing();
        width: 100%;
        margin-top: 0;
        margin-bottom: 5px;
        padding: 9px 30px 9px 10px;
        line-height: 20px;
        cursor: pointer;
        &:before {
          background-position: -1px -56px;
        }
        &.active {
          &:before {
            background-position: -1px -69px;
          }
        }
      }
      .value {
        ._text-overflow();
      }
    }
    .btn-edit-bare {
      ._opacity(.8);
      display: inline-block;
      margin-left: 3px;
      border: none;
      outline: none;
      ._sprite(@field-edit);
      &:hover {
        ._opacity(1);
      }
    }
  }
}
@media (max-width: 1018px) {
  .b-page {
    &.b-page-profile-settings {
      .settings-content {
        width: 420px;
        .right-block {
          width: 420px;
          margin: 0;
        }
      }
      .b-settings-row.meta-setting {
        left: 20px;
      }
    }
  }
}
