@account-row_border_color: #fff;
@account-border_def_color: #bfbfbf;
@account-block_bg: #e6e6e6;
@account-input_bg_light: #fff;
@account-shadow: #000;
@account-text_highlight: #77b200;
@account-text_def_dark: #1f2226;
@account-text_def: #333;
@account-text_light: #999;
@account-text_active: #ffc44c;
@account-option_highlight_bg: #fff2b2;
@account-error_text_color: #ff3232;
@account-text_link: #f73;
@account-link_through: #ff3232;
@account-error_bg: #ffbfbf;
@account-btn_upgrade: #f34134;

@account-font_400: Helvetica, Arial, sans-serif;
@account-font_600: 'dosissemibold', Arial, helvetica, sans-serif;

@main-arrow_bg: #1f2226;
