- var notifyKey = ['notification', type];
- if (params && params.subType) notifyKey.push(params.subType);
- if (txtId) notifyKey.push(txtId);
- notifyKey.push(gender);

span.header
  if (type === 'webcam')
    span.title 
      span.livecams-ico
        span.livecams-ico-inner
          span.livecams-ico-handler
          span.livecams-ico-lines
        span.livecams-ico-arrow
      span.title-info=_t("activityNotification", "Video chat request")
  else
    span.title= _t("activityNotification", notifyKey.join('.'))
  button.close-button(type="button", data-close="")
span.b-user-popup
  a.link(href=( type === 'webcam' ? '/livecam/view/id/'+login+'/s/1/promocode/'+ promocode : userLink(fromId) ), target=( type === 'webcam' ? '_blank' : '_self' ) )
    span.b-photo
      span.b-photo-link
        span.overlay &nbsp;
        .image-holder(class=(naughtyMode.naughtyClass)?naughtyMode.naughtyClass:"")
          img.photo(src=photo_url, alt=login)
    span.b-user-info
      span.b-screenname
        span.screenname= login
      span.b-age= age + ' ' + _t("activityNotification", "text.years")
      if (type !== 'webcam')
        span.b-miles-away= _t("activityNotification", "text.miles_from_you", {"{n}": geo.distanceToMe})
      else if (type === 'webcam')
        .b-live-cam-natification-sponsor=_t("userListWidget", "text.this_is_cam_profile")
  span.divider
  span.b-btn-activity-holder
    span.b-btn-activity
      if (type === 'webcam')
        a.btn-cams.btn-text-green(href='/livecam/view/id/'+login+'/s/1/promocode/'+ promocode, target=( type === 'webcam' ? '_blank' : '_self' ))
          span.livecams-ico
            span.livecams-ico-inner
              span.livecams-ico-handler
              span.livecams-ico-lines
            span.livecams-ico-arrow
          span.btn-title=_t("userListWidget", "text.on_cam_now")
      if (params && params.subType && params.subType == 'onSmsChat')
        span.b-btn-activity-grid
          a.btn-activity.btn-sms.btn-text-def(href="javascript:void(0)", onclick="Backbone.trigger('SmsChat.Start', 'addMsisdnFromNotification', '" + fromId + "')", data-close="")
            span.btn-title= _t("activityNotification", "Sms Chat")
      else if (params && params.subType && params.subType == 'onSmsChatFeed' && type !== 'webcam')
        span.b-btn-activity-grid
          a.btn-activity.btn-sms.btn-text-def(href="javascript:void(0)", onclick="Backbone.trigger('SmsChat.Start', 'addMsisdnFromNotificationFeed', '" + fromId + "')", data-close="")
            span.btn-title= _t("activityNotification", "Sms Chat")
      else if ( type !== 'webcam')
        span.b-btn-activity-grid
          - if(messageWrite && !messageWrite.next && messageWrite.url)
              a.btn-activity.btn-message.btn-text-def(href=messageWrite.url + '/chat/1', target='_blank')
                span.btn-title= _t("activityNotification", "button.message")
          - else
              if talksEnabled
                a.btn-activity.btn-message.btn-text-def(href="javascript:void(0)", onclick="Backbone.trigger('Talks.Start', '" + fromId + "')", data-close="")
                  span.btn-title= _t("activityNotification", "button.message")
              else
                a.btn-activity.btn-message.btn-text-def(href=userLink(fromId), data-close="")
                  span.btn-title= _t("activityNotification", "button.message")
        span.b-btn-activity-grid
          button.btn-activity.btn-wink.btn-text-def(data-winkbutton=fromId, class=(buttons.wink.activated)?"activated":"")
            span.default= _t("activityNotification", "button.wink")
            span.alternate= _t("activityNotification", "button.wink_sent")
  a.link(href="/#account")
    span.pop-up-settings= _t("activityNotification", "button.popup_settings")
