.c-talks-overlay {
  overflow: auto;
  position: fixed;
  z-index: 410;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: @talks-bg-ie-overlay;
  background-color: @talks-bg-overlay;
}

.c-talks {
  ._radius(3px 3px 0 0);
  ._shadow(0 2px 10px @talks-shadow);
  position: fixed;
  z-index: 411;
  top: 50%;
  left: 50%;
  width: 1080px;
  height: 600px;
  margin-top: -300px;
  margin-left: -540px;
  background: @talks-bg;
  /* common style */
  .counter {
    ._radius(20px);
    display: inline-block;
    min-width: 21px;
    margin-left: 5px;
    padding: 3px 0;
    font: 14px/1em @talks-font_bold;
    text-align: center;
    vertical-align: baseline;
    color: @talks-color_counter;
    background-color: @talks-bg_counter;
  }
  .delete {
    ._radius(20px);
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    text-align: center;
    vertical-align: baseline;
    background-color: lighten(@talks-bg_counter, 8%);;
    &:before {
      display: inline-block;
      width: 8px;
      height: 8px;
      margin-top: 6px;
      content: "";
      vertical-align: top;
      background: @img_url-sprite-old no-repeat -365px -226px;
    }
    &:hover {
      background-color: @talks-bg_counter;
    }
  }
  .btn-talks {
    ._radius(5px);
    display: inline-block;
    min-width: 65px;
    padding: 5px;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    color: @talks-color_button;
    border: 1px solid @talks-border_button;
    outline: 0;
    background-color: @talks-bg_button;
    &:hover {
      background-color: darken(@talks-bg_button, 10%);
    }
  }
  .btn-upgrade {
    padding: 10px 27px;
  }
  .smiles-tooltip {
    ._box-sizing();
    ._radius(5px);
    ._shadow(0 0 4px @talks-shadow);
    display: none;
    position: absolute;
    z-index: 2;
    right: -15px;
    bottom: 30px;
    width: 250px;
    padding: 15px;
    border: 1px solid @talks-dropdown_border;
    background-color: @talks-dropdown_bg;
    &:before,
    &:after {
      position: absolute;
      top: 100%;
      right: 25px;
      width: 0;
      height: 0;
      content: "";
      border: 5px solid transparent;
    }
    &:before {
      right: 23px;
      margin-bottom: -2px;
      border-width: 7px;
      border-top-color: @talks-dropdown_border;
    }
    &:after {
      border-top-color: @talks-dropdown_bg;
    }
  }
  .smile-item {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 1px;
    vertical-align: top;
  }
  .smile-emoji {
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: url(~"@{img_url}/smiles.png") no-repeat;
  }
  .smile-emoji[data-smile="D83DDC4E"] {
    background-position: left 0;
  }
  .smile-emoji[data-smile="D83DDC4D"] {
    background-position: -25px 0;
  }
  .smile-emoji[data-smile="D83DDE20"] {
    background-position: -50px 0;
  }
  .smile-emoji[data-smile="D83CDF7A"] {
    background-position: -75px 0;
  }
  .smile-emoji[data-smile="D83CDF82"] {
    background-position: 0 -25px;
  }
  .smile-emoji[data-smile="D83DDE0A"] {
    background-position: -25px -25px;
  }
  .smile-emoji[data-smile="D83DDE47"] {
    background-position: -50px -25px;
  }
  .smile-emoji[data-smile="D83DDC4F"] {
    background-position: -75px -25px;
  }
  .smile-emoji[data-smile="D83DDD52"] {
    background-position: 0 -50px;
  }
  .smile-emoji[data-smile="26C5"] {
    background-position: -25px -50px;
  }
  .smile-emoji[data-smile="2615"] {
    background-position: -50px -50px;
  }
  .smile-emoji[data-smile="D83DDE15"] {
    background-position: -75px -50px;
  }
  .smile-emoji[data-smile="D83DDE22"] {
    background-position: 0 -75px;
  }
  .smile-emoji[data-smile="D83CDF54"] {
    background-position: -25px -75px;
  }
  .smile-emoji[data-smile="D83DDE49"] {
    background-position: -50px -75px;
  }
  .smile-emoji[data-smile="D83DDC96"] {
    background-position: -75px -75px;
  }
  .smile-emoji[data-smile="D83DDE07"] {
    background-position: 0 -100px;
  }
  .smile-emoji[data-smile="D83DDC8B"] {
    background-position: -25px -100px;
  }
  .smile-emoji[data-smile="D83DDE06"] {
    background-position: -50px -100px;
  }
  .smile-emoji[data-smile="D83DDCB0"] {
    background-position: -75px -100px;
  }
  .smile-emoji[data-smile="D83DDCAA"] {
    background-position: 0 -125px;
  }
  .smile-emoji[data-smile="D83CDFB5"] {
    background-position: -25px -125px;
  }
  .smile-emoji[data-smile="D83DDE36"] {
    background-position: -50px -125px;
  }
  .smile-emoji[data-smile="D83DDC4C"] {
    background-position: -75px -125px;
  }
  .smile-emoji[data-smile="D83CDF39"] {
    background-position: 0 -150px;
  }
  .smile-emoji[data-smile="D83DDE31"] {
    background-position: -25px -150px;
  }
  .smile-emoji[data-smile="D83DDE04"] {
    background-position: -50px -150px;
  }
  .smile-emoji[data-smile="D83DDE0F"] {
    background-position: -75px -150px;
  }
  .smile-emoji[data-smile="D83CDF1F"] {
    background-position: 0 -175px;
  }
  .smile-emoji[data-smile="D83DDE0E"] {
    background-position: -25px -175px;
  }
  .smile-emoji[data-smile="D83DDE1B"] {
    background-position: -50px -175px;
  }
  .smile-emoji[data-smile="2600"] {
    background-position: -75px -175px;
  }
  .smile-emoji[data-smile="D83DDCAD"] {
    background-position: 0 -200px;
  }
  .smile-emoji[data-smile="D83DDE24"] {
    background-position: -25px -200px;
  }
  .smile-emoji[data-smile="D83CDF79"] {
    background-position: -50px -200px;
  }
  .smile-emoji[data-smile="D83DDC4B"] {
    background-position: -75px -200px;
  }
  .smile-emoji[data-smile="D83DDE09"] {
    background-position: 0 -225px;
  }
  .smile-emoji[data-smile="D83DDE1F"] {
    background-position: -25px -225px;
  }
  .dropdown-menu {
    ._box-sizing();
    ._radius(5px);
    ._shadow(0 10px 20px  @talks-shadow);
    display: none;
    position: absolute;
    z-index: 2;
    min-width: 120px;
    max-width: 150px;
    padding: 15px 20px 5px;
    border: 1px solid @talks-dropdown_border;
    background-color: @talks-dropdown_bg;
    &:before,
    &:after {
      position: absolute;
      width: 0;
      height: 0;
      content: "";
      border: 5px solid transparent;
    }
    &:before {
      border-width: 7px;
    }
    .title {
      font: 600 13px @talks-def_font;
    }
    .item {
      display: block;
      margin: 10px 0;
    }
    a.item {
      font-family: @talks-def_font;
      text-decoration: none;
      color: @talks-dropdown_color;
      &:hover {
        text-decoration: underline;
      }
    }
    .item-sep {
      margin: 10px -5px;
      padding: 10px 5px;
      border-top: 1px solid @talks-border;
      border-bottom: 1px solid @talks-border;
    }
  }
  .dropdown-settings {
    top: -27px;
    right: 35px;
    width: 150px;
    &:before,
    &:after {
      top: 35px;
      left: 100%;
    }
    &:before {
      margin-top: -2px;
      border-left-color: @talks-dropdown_border;
    }
    &:after {
      border-left-color: @talks-dropdown_bg;
    }
  }
  .dropdown-info-types {
    top: -30px;
    right: 38px;
    width: auto;
    max-width: none;
    padding: 14px 18px 11px;
    &:before,
    &:after {
      top: 35px;
      left: 100%;
    }
    &:before {
      margin-top: -2px;
      border-left-color: @talks-dropdown_border;
    }
    &:after {
      border-left-color: @talks-dropdown_bg;
    }
    .item-type {
      position: relative;
      margin: 0 0 4px;
      padding-left: 18px;
      line-height: 18px;
      &:before {
        ._radius(8px);
        position: absolute;
        top: 5px;
        left: 0;
        width: 8px;
        height: 8px;
        content: "";
      }
    }
    .new-message:before {
      background-color: @talks-message_color_new;
    }
    .reading:before {
      ._radius(0);
      top: 3px;
      left: -2px;
      ._sprite(@talks-unread);
    }
    .read:before {
      ._radius(0);
      top: 4px;
      left: -2px;
      ._sprite(@talks-read);
    }
    .flirtcast:before {
      background-color: @talks-message_color_flirtcast;
    }
    .autoreply:before {
      background-color: @talks-message_color_autoreply;
    }
    .activity-alert:before {
      background-color: @talks-message_color_activity;
    }
  }
  .dropdown-more {
    top: 30px;
    left: -45px;
    width: 150px;
    padding: 5px 20px;
    text-align: left;
    &:before,
    &:after {
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
    }
    &:before {
      margin-top: -2px;
      margin-left: -7px;
      border-bottom-color: @talks-dropdown_border;
    }
    &:after {
      border-bottom-color: @talks-dropdown_bg;
    }
    .item {
      font: 16px/20px @talks-def_font;
      color: @talks-dropdown_color;
      background: none;
      .add {
        display: inline;
      }
      .added,
      .remove,
      .alternate,
      .waiting {
        display: none;
      }
      &.waiting {
        &:hover {
          cursor: default;
          text-decoration: none;
          .waiting {
            text-decoration: none;
          }
        }
        span {
          display: none;
        }
        .waiting {
          display: inline;
          color: @talks-color_text;
        }
      }
      &.active {
        .added {
          display: inline;
        }
        .add {
          display: none;
        }
        &:hover {
          text-decoration: none;
          .remove {
            display: inline;
            color:@talks-remove_color;
            text-decoration: none;
          }
          .added {
            display: none;
          }
        }
      }
      &.activated {
        .default {
          display: none;
        }
        .alternate {
          display: block;
        }
      }
    }
  }
  .dropdown-attach {
    bottom: 30px;
    left: -15px;
    width: 120px;
    padding: 5px 20px;
    text-align: left;
    &:before,
    &:after {
      top: 100%;
      left: 25%;
      margin-left: -5px;
    }
    &:before {
      margin-bottom: -2px;
      margin-left: -7px;
      border-top-color: @talks-dropdown_border;
    }
    &:after {
      border-top-color: @talks-dropdown_bg;
    }
  }
  .dropdown-naughty {
    z-index: 3;
    top: -14px;
    right: 97%;
    width: 300px;
    max-width: 300px;
    padding: 6px 10px 10px;
    &:before,
    &:after {
      top: 45%;
      left: 100%;
    }
    &:before {
      margin-top: -2px;
      border-left-color: @talks-dropdown_border;
    }
    &:after {
      border-left-color: @talks-dropdown_bg;
    }
    .text {
      float: left;
      width: 140px;
      margin-bottom: 6px;
      color: @talks-dropdown_color;
    }
    .text-wrap {
      display: table-cell;
      vertical-align: middle;
    }
    .buttons-wrap {
      margin-left: 150px;
    }
    .btn-naughty {
      display: block;
      margin: 3px 0 0;
      padding: 3px 5px 4px;
      font-size: 11px;
      color: @talks-color_btn_normal;
      border: none;
      background-color: @talks-bg_btn_normal;
      &:hover {
        ._opacity(.8);
      }
      &.on {
        color: @talks-color_btn_sexy;
        background-color: @talks-bg_btn_sexy;
      }
      &.no-limits {
        color: @talks-color_btn_no_limits;
        background-color: @talks-bg_btn_no_limits;
      }
    }
  }
  /* end: common style */
  /* --head-- */
  .header {
    ._radius(3px 3px 0 0);
    height: 60px;
    text-align: right;
    background-color: @talks-bg_header;
    .header-wrap {
      padding: 18px 15px 18px 20px;
    }
    .b-close,
    .b-minimize,
    .b-maxmimize,
    .b-fold {
      display: inline-block;
      position: relative;
      top: -4px;
      left: 5px;
      width: 12px;
      height: 12px;
      padding: 10px;
      vertical-align: top;
      &:before {
        ._opacity(.89);
        display: inline-block;
        width: 100%;
        height: 100%;
        content: "";
        vertical-align: top;
      }
      &:hover {
        ._opacity(.7);
      }
    }
    .b-close {
      &:before {
        ._sprite(@talks-close);
      }
    }
    .b-minimize,
    .b-maxmimize {
      width: 11px;
      height: 10px;
    }
    .b-minimize {
      top: -3px;
      left: 9px;
      &:before {
        ._sprite(@talks-minimize);
      }
    }
    .b-maxmimize {
      display: none;
      &:before {
        ._sprite(@talks-maximize);
      }
    }
    .b-fold {
      top: 3px;
      left: 13px;
      width: 13px;
      height: 3px;
      &:before {
        ._opacity(1);
        background-color: @talks-bg_header_icon;
      }
    }
    .title {
      float: left;
      font: 16px/1.5em @talks-def_font;
      text-transform: none;
      color: darken(@talks-color_header, 11%);
    }
    .name {
      ._text-overflow();
      display: inline-block;
      max-width: 800px;
      margin-right: 19px;
      vertical-align: top;
      color: @talks-color_header;
    }
    .icon-msg:before {
      ._opacity(.89);
      display: inline-block;
      margin-right: 5px;
      content: "";
      vertical-align: text-top;
      ._sprite(@talks-msg);
    }
  }
  /* end: head */
  /* --layout-- */
  .head-msg {
    position: relative;
    z-index: 1;
    height: 60px;
    border-bottom: 1px solid @talks-border;
    background-color: @talks-bg;
  }
  .b-aside {
    float: right;
    width: 300px;
    background-color: @talks-bg_aside;
  }
  /* end: layout */
  /* --options-- */
  .b-options {
    display: none;
    height: 100%;
    .b-options-wrap {
      ._clearfix();
      padding: 19px 20px 20px 17px;
    }
    .check-friends {
      display: inline-block;
    }
    .b-settings {
      float: right;
      position: relative;
      width: 28px;
      height: 28px;
      margin: -3px -3px 0 0;
      cursor: pointer;
      &:before {
        display: inline-block;
        margin: 6px;
        content: "";
        vertical-align: text-top;
        ._sprite(@talks-settings);
      }
      &:hover,
      &.active {
        &:before {
          ._opacity(.8);
        }
      }
      &.active {
        .dropdown-settings {
          display: block;
        }
      }
    }
    .btn-done {
      float: right;
      margin-top: -2px;
    }
  }
  /* end: options */
  /* --info-- */
  .b-info {
    .b-info-wrap {
      padding: 10px 12px 10px 20px;
    }
    .user-info,
    .user-details,
    .communicate {
      display: inline-block;
      vertical-align: top;
    }
    .user-info {
      width: 215px;
      .user-photo {
        float: left;
        width: 40px;
        height: 40px;
      }
      .photo {
        display: inline-block;
        overflow: hidden;
        width: 100%;
        vertical-align: top;
      }
      .user-describe {
        margin-left: 50px;
      }
      .screenname {
        ._text-overflow(150px);
        display: block;
        margin: -2px 0 0;
        font-family: @talks-font_bold;
        text-decoration: none;
        color: @talks-color_text_screenname;
      }
      .describe-info,
      .location {
        ._text-overflow(150px);
        display: block;
        font-size: 12px;
        line-height: 1.2em;
        color: @talks-color_header_light;
      }
      .b-old:before {
        display: inline-block;
        width: 1px;
        height: 12px;
        margin: 3px 4px 0 3px;
        content: "";
        vertical-align: top;
        background-color: @talks-color_header_light;
      }
      .location {
        color: @talks-color_text;
      }
    }
    .user-details {
      overflow: hidden;
      max-width: 290px;
      height: 40px;
      margin: 0 68px 0 21px;
      &:before {
        display: inline-block;
        width: 10px;
        height: 8px;
        margin: 0 5px 0 -15px;
        content: "";
        vertical-align: top;
        background: @img_url-sprite-old no-repeat -287px -44px;
      }
    }
    .communicate {
      ._radius(4px);
      height: 22px;
      margin-top: 6px;
      font-size: 0;
      border: 1px solid @talks-border;
      .btn-video,
      .btn-add-friend,
      .btn-other {
        display: inline-block;
        height: 100%;
        vertical-align: top;
        border-right: 1px solid @talks-border;
      }
      .btn-video {
        &:before {
          display: inline-block;
          content: "";
          vertical-align: top;
          margin: 5px 7px;
          ._sprite(@talks-video);
        }
      }
      .btn-add-friend {
        &:before {
          display: inline-block;
          content: "";
          vertical-align: top;
          margin: 4px 9px 4px 10px;
          ._sprite(@talks-add-friend);
        }
        &.active {
          &:before {
            ._sprite-position(@talks-add-friend-active);
          }
        }
        &:hover {
          &:before {
            ._opacity(.7);
          }
        }
      }
      .btn-other {
        position: relative;
        top: -1px;
        left: 1px;
        min-width: 38px;
        padding: 0 4px 0 2px;
        font: 16px/20px @talks-font_bold;
        cursor: pointer;
        text-align: center;
        color: @talks-color_text;
        border-right: none;
        .name {
          &:after {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 5px;
            content: "";
            vertical-align: middle;
            border: 3px solid transparent;
            border-top: 3px solid @talks-border;
            border-bottom: none;
          }
        }
        &:hover,
        &.active {
          .name {
            ._opacity(.8);
          }
        }
        &.active {
          .dropdown-more {
            display: block;
          }
          .name {
            &:after {
              border-top: none;
              border-bottom: 3px solid @talks-border;
            }
          }
        }
      }
    }
    .b-info-types {
      float: right;
      position: relative;
      width: 28px;
      height: 28px;
      margin: 7px 0 0 17px;
      cursor: pointer;
      &:before {
        ._box-sizing;
        ._radius(25px);
        display: inline-block;
        min-width: 22px;
        height: 22px;
        font-family: @talks-font_bold;
        content: "?";
        text-align: center;
        text-decoration: none;
        color: @talks-color_info_types;
        border: 1px solid @talks-border;
        outline: none;
      }
      &:hover {
        &:before {
          ._opacity(.8);
        }
        .dropdown-info-types {
          display: block;
        }
      }
    }
    .sound-button {
      position: absolute;
      top: 17px;
      right: 54px;
      width: 22px;
      height: 22px;
      outline: 0;
      ._sprite(@talks-sound-on);
      /*background: @talks-sprite no-repeat -535px -209px;*/
      background-color: transparent;
      &.mute {
        background-position: -535px -184px;
        ._sprite-position(@talks-sound-off);
      }
      &:hover {
        ._opacity(.8);
      }
    }
  }
  /* end: info */
  /* list */
  .b-list {
    overflow-y: auto;
    position: absolute;
    top: 120px;
    right: 0;
    bottom: 0;
    text-align: center;
    background: none;
    &:after {
      display: block;
      position: absolute;
      z-index: -1;
      right: 0;
      width: 300px;
      height: 100%;
      content: "";
      background-color: @talks-bg_aside;
    }
    &:hover {
      width: 100%;
    }
    .b-list-wrap {
      float: right;
      position: relative;
      width: 300px;
      background-color: @talks-bg_aside;
      &.loading {
        padding-bottom: 50px;
        &:after {
          display: block;
          position: absolute;
          bottom: 10px;
          left: 48%;
          width: 31px;
          height: 31px;
          content: "";
          background: url("@{img_url}/small-photo-loader.gif") no-repeat;
        }
      }
    }
    .list-item {
      ._clearfix();
      display: block;
      text-align: left;
      text-decoration: none;
      &:first-child {
        .dropdown-naughty {
          top: 2px;
          &:before,
          &:after {
            top: 20px;
          }
        }
      }
      .list-item-wrap {
        display: block;
        min-height: 40px;
        padding: 10px 20px;
        text-decoration: none;
      }
      .user-photo {
        float: left;
        width: 40px;
        height: 40px;
      }
      .photo {
        display: inline-block;
        overflow: hidden;
        width: 100%;
        vertical-align: top;
      }
      .user-describe {
        max-width: 160px;
        margin-left: 60px;
      }
      .screenname {
        ._text-overflow(155px);
        display: block;
        font-size: 16px;
        text-decoration: none;
        color: @talks-color_text_def;
      }
      .status {
        font-size: 12px;
        color: @talks-color_offline;
        &.online {
          color: @talks-color_online;
        }
      }
      .counter,
      .delete {
        float: right;
        margin-top: 10px;
      }
      &.not-read {
        .screenname {
          font-family: @talks-font_bold;
        }
      }
      &:hover {
        background-color: lighten(@talks-bg_aside, 5%);
      }
      &.active {
        background-color: @talks-bg_active;
      }

    }

    .btn-view {
      ._radius();
      min-width: 140px;
      margin: 19px;
    }
  }
  .user-info,
  .list-item {
    &.blurred,
    &.blurred-heavy {
      position: relative;
      .user-photo {
        overflow: hidden;
      }
      .photo {
        ._blur(2);
      }
      /*IE10 hack start*/
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .user-photo {
          position: relative;
          &:before {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background-color: @talks-bg_over;
          }
        }
      }
      /*IE10 hack end*/
      &:hover {
        .dropdown-naughty {
          display: block;
        }
      }
    }
    &.blurred-heavy {
      .photo {
        ._blur(3);
      }
      /*IE10 hack*/
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .user-photo {
          &:before {
            background: @talks-bg_over_heavy;
          }
        }
      }
      /*IE10 hack end*/
    }
  }
  /* end: list */
  /* talks */
  .b-talks {
    .free-messages {
      padding: 0 20px 20px;
      color: @talks-color_text;
      font-size: 14px;
    }
    .messenger-history {
      overflow-y: auto;
      position: absolute;
      top: 120px;
      right: 300px;
      bottom: 41px;
      left: 0;
      background-color: @talks-bg;
      &:before {
        display: inline-block;
        height: 99.2%;
        content: "";
        vertical-align: bottom;
      }
    }
    .messages-wrapper {
      display: inline-block;
      position: relative;
      width: 93%;
      padding: 10px 3.2%;
      -moz-user-select: none;
      -ms-user-select: none;
      &.loading {
        padding-top: 45px;
        &:after {
          display: block;
          position: absolute;
          top: 5px;
          left: 48%;
          width: 31px;
          height: 31px;
          content: "";
          background: url("@{img_url}/small-photo-loader.gif") no-repeat;
        }
      }
    }
    .message {
      ._clearfix();
      margin: 9px 0 10px;
      .username {
        ._text-overflow(77px);
        float: left;
        font-family: @talks-font_bold;
        text-align: right;
        color: @talks-message_user_color;
      }
      .info {
        float: right;
        position: relative;
        width: 110px;
        margin-top: -2px;
        text-align: right;
        &.loading {
          &:after {
            display: block;
            position: absolute;
            top: 2px;
            left: 65px;
            width: 16px;
            height: 16px;
            content: "";
            background: url("@{img_url}/micro-photo-loader.gif") no-repeat;
          }
          .status,
          .date {
            display: none;
          }
        }
      }
      .message-text {
        margin: 0 120px;
        color: @talks-message_text_color;
        img.attached {
          display: inline-block;
          width: auto;
          max-height: 180px;
          margin: 5px 5px 5px 0;
        }
      }
      .trusted-text {
        padding-top: 10px;
        .wrap {
          padding: 10px;
          background-color: @talks-bg_microfeature;
        }
        .btn-upgrade {
          display: block;
          min-width: 100px;
          max-width: 250px;
          margin: 10px auto 0;
        }
      }
      .date {
        margin-left: 5px;
        vertical-align: middle;
        text-transform: capitalize;
        color: @talks-message_date_color;
      }
      .status {
        ._radius(5px);
        display: inline-block;
        position: relative;
        top: 0;
        left: 4px;
        width: 7px;
        height: 7px;
        vertical-align: middle;
        &.new-message {
          background-color: @talks-message_color_new;
        }
        &.flirtcast {
          background-color: @talks-message_color_flirtcast;
        }
        &.autoreply {
          background-color: @talks-message_color_autoreply;
        }
        &.activity-alert {
          background-color: @talks-message_color_activity;
        }
        &.reading {
          ._radius(0);
          ._sprite(@talks-unread);
        }
        &.read {
          ._radius(0);
          ._sprite(@talks-read);
        }
      }
      &.message-in {
        .username {
          color: @talks-message_user_in_color;
        }
      }
    }
    .separate-msg {
      position: relative;
      margin-bottom: 14px;
      text-align: center;
      &:before {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        height: 1px;
        content: "";
        background-color: @talks-border;
      }
      .title {
        position: relative;
        padding: 0 10px;
        text-transform: capitalize;
        background-color: @talks-bg;
      }
      .btn-talks {
        position: relative;
        &.btn-view-older {
          ._radius(0);
          padding: 5px 18px;
          color: @talks-color_link;
          border: none;
        }
      }
    }
    .message-note {
      display: none;
      position: absolute;
      z-index: 1;
      bottom: -35px;
      left: 50%;
      min-width: 160px;
      max-width: 220px;
      margin-left: -80px;
      font-family: @talks-font_bold;
      font-size: 12px;
      color: @talks-message_color_delete;
    }
    .message-deleted {
      position: relative;
      z-index: 0;
      .message-note {
        display: block;
      }
    }
    .message-blur .message-text,
    .message-deleted .message-text {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      color: transparent;
      text-shadow: 0 0 6px @talks-shadow_text;
      b {
        font-weight: normal;
        white-space: nowrap;
        color: @talks-message_text_color;
        text-shadow: none;
      }
    }
    /* messenger-input */
    .messenger-input {
      position: absolute;
      right: 300px;
      bottom: 0;
      left: 0;
      background: @talks-message_bg;
    }
    .input-placeholder {
      display: none;
      position: absolute;
      top: 9px;
      left: 10px;
      font-size: 14px;
    }
    .input-wrap {
      ._box-sizing();
      display: block;
      position: relative;
      margin-right: 90px;
      padding: 9px 0 8px 10px;
      border-top: 1px solid @talks-border;
      background: @talks-message_bg_input_msg;
      &.empty .input-placeholder {
        display: block;
      }
    }
    .attach {
      display: none;
      position: absolute;
      top: 3px;
      left: 10px;
      width: 32px;
      height: 28px;
      cursor: pointer;
      &:before {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: 6px 7px;
        content: "";
        vertical-align: top;
        background: @img_url-sprite-old no-repeat -396px -227px;
      }
      &.active {
        .dropdown-attach {
          display: block;
        }
      }
    }
    .location {
      float: right;
      width: 32px;
      height: 28px;
      margin-top: -5px;
      cursor: pointer;
      &:before {
        display: inline-block;
        margin: 6px 7px;
        content: "";
        vertical-align: top;
        ._sprite(@talks-location);
      }
      &:hover:before {
        ._opacity(.7);
      }
      &.active:before {
        ._opacity(1);
        ._sprite-position(@talks-location-active);
      }
    }
    .smiles {
      float: right;
      position: relative;
      width: 32px;
      height: 28px;
      margin-top: -5px;
      cursor: pointer;
      &:before {
        display: inline-block;
        margin: 6px 7px;
        content: "";
        cursor: pointer;
        vertical-align: top;
        ._sprite(@smiles);
      }
      &:hover,
      &.active {
        &:before {
          ._opacity(.7);
        }
      }
      &.active {
        .smiles-tooltip {
          display: block;
        }
      }
    }
    .message-input {
      ._box-sizing();
      overflow: hidden;
      overflow-y: auto;
      position: relative;
      z-index: 2;
      min-height: 20px;
      max-height: 120px;
      margin-right: 30px;
      padding-right: 2px;
      padding-bottom: 2px;
      font-size: 14px;
      word-break: break-word;
      outline: none;
      img {
        display: inline-block;
        width: auto;
        height: 60px;
        margin: 5px 5px 5px 0;
        &.smile-emoji {
          height: 25px;
          margin: 0;
        }
      }
    }
    .btn-send-wrap {
      float: right;
      position: relative;
      z-index: 2;
      width: 70px;
      padding: 4px 20px 0 0;
      vertical-align: top;
      border-top: 1px solid @talks-border;
    }
    .btn-send {
      min-width: 70px;
      max-width: 90px;
      padding: 4px 5px 6px;
    }
    .message-upgrade {
      ._box-sizing();
      padding: 14px 10px;
      text-align: center;
      color: @talks-color_microfeature;
      background-color: @talks-upgrade_bg;
      .btn-upgrade {
        color: @talks-color_microfeature;
      }
    }
    .message-microfeature {
      ._box-sizing();
      position: relative;
      padding: 6px 20px;
      line-height: 1.4em;
      color: @talks-color_microfeature;
      background-color: @talks-bg_microfeature;
      & + .btn-send-wrap,
      & + .btn-send-wrap + .input-wrap {
        border-color: transparent;
      }
      .checkbox-info {
        font-size: 14px;
        line-height: 1.4em;
        word-break: normal;
      }
    }
    .message-first-read {
      ._box-sizing();
      padding: 6px 20px;
      color: @talks-color_first_read;
      background-color: @talks-bg_first_read;
      .checkbox-info {
        font-size: 14px;
        line-height: 1.4em;
        word-break: normal;
      }
    }
    .message-blocked,
    .message-reported {
      ._box-sizing();
      display: table;
      width: 100%;
      height: 100px;
      text-align: center;
      color: @talks-block_color;
      background-color: @talks-block_bg;
      .text {
        display: table-cell;
        height: 100%;
        padding: 10px;
        vertical-align: middle;
        button {
          cursor: pointer;
          text-decoration: underline;
          background: none;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  .hidden {
    display: none;
  }
  .emptyList {
    height: 100%;
  }
  .empty-wrap {
    display: table;
    height: 100%;
    margin: -60px auto 0;
    padding-top: 30px;
    font: 20px/1.75em @talks-def_font;
    text-align: center;
    color: @talks-color_text;
    .empty-messenger {
      display: table-cell;
      max-width: 450px;
      vertical-align: middle;
    }
  }
  /* end: talks */
  @media (max-width: 1193px) {
    width: 980px;
    margin-left: -490px;
  }
  @media (max-width: 1000px) {
    width: 800px;
    margin-left: -400px;
    .b-talks {

      .message .message-text {
        clear: both;
        margin: 0;
      }
      .message .username {
        text-align: left;
      }
    }
  }
  @media (max-width: 823px) {
    width: 720px;
    margin-left: -360px;
    .head-msg .b-info-wrap .user-details {
      width: 300px;
      margin: 0 12px 0 0;
    }
  }
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
  .c-talks {
    height: 1000px;
    margin-top: -500px;
  }
}

/* --------------------------small------------------------- */
.c-talks-small {
  top: auto;
  right: 20px;
  bottom: 0;
  left: auto;
  width: 300px;
  height: 330px;
  .header {
    height: 40px;
    cursor: move;
    .b-fold {
      top: 5px;
      left: 17px;
    }
    .b-minimize {
      display: none;
    }
    .b-maxmimize {
      display: inline-block;
      top: -2px;
      left: 13px;
    }
    .b-close {
      top: -2px;
      left: 8px;
    }
    .header-wrap {
      padding: 7px 12px 5px;
    }
    .name {
      max-width: 120px;
      margin-top: 1px;
    }
    .icon-msg {
      &:before {
        margin-right: 7px;
        margin-top: 0;
        ._sprite(@talks-user);
      }
    }
  }
  .head-msg {
    height: 40px;
  }
  .b-aside {
    display: none;
    width: 200px;
  }
  .b-main {
    margin-right: 0;
  }
  .b-options .b-options-wrap {
    padding: 10px;
  }
  .b-info {
    .b-info-wrap {
      padding: 2px 7px 2px 10px;
    }
    .user-info,
    .user-details {
      display: none;
    }
    .sound-button {
      top: 9px;
      right: 49px;
    }
  }
  .b-list {
    top: 80px;
    .b-list-wrap {
      width: 200px;
    }
    .list-item {
      .user-describe {
        max-width: 95px;
        margin-left: 50px;
      }
      .list-item-wrap {
        padding: 10px 8px 10px 20px;
      }
      .screenname {
        width: 90px;
        margin: 3px 0 -3px 0;
      }
    }
  }
  .b-talks {
    .free-messages {
      padding: 0 10px 10px;
    }
    .messages-wrapper {
      width: 92%;
      padding: 10px 3.2%;
    }
    .messenger-history {
      top: 80px;
      right: 0;
    }
    .message {
      margin: 4px 0 10px 0;
      .username {
        text-align: left;
      }
      .message-text {
        clear: both;
        margin: 0;
        img {
          max-height: 120px;
        }
      }
    }
    .messenger-input {
      right: 0;
    }
    .message-input {
      max-height: 70px;
    }
    .input-wrap {
      margin-right: 0;
      padding: 9px 4px 8px 10px;
    }
    .attach {
      left: 2px;
    }
    .location {
      margin-right: -3px;
      &:before {
        margin: 7px 8px;
      }
    }
    .smiles {
      &:before {
        margin: 7px 8px;
      }
    }
    .input-placeholder {
      left: 10px;
    }
    .btn-send-wrap {
      display: none;
    }
    .message-microfeature {
      padding: 6px 10px;
    }
    .message-note {
      bottom: -27px;
    }
    .message-first-read {
      padding: 6px 10px 6px 8px;
    }
  }
  .empty-wrap {
    padding-top: 20px;
    font: 13px/1.92em @talks-def_font;
    .empty-messenger {
      max-width: 250px;
    }
  }
}

.c-talks-small-users {
  width: 500px;
  .header {
    .name {
      max-width: 300px;
    }
  }
  .b-aside {
    display: block;
    &.b-options {
      display: none;
    }
  }
  .b-talks .messenger-history,
  .b-talks .messenger-input {
    right: 200px;
  }
}

.c-talks-minimized {
  top: auto;
  right: 20px;
  bottom: 0;
  left: auto;
  width: 300px;
  height: 40px;
  .header {
    height: 40px;
    cursor: move;
    .b-fold {
      top: -1px;
    }
    .b-minimize,
    .b-maxmimize {
      display: none;
    }
    .icon-msg:before {
      width: 17px;
      height: 20px;
      margin-top: 0;
      margin-right: 7px;
      ._sprite-position(@talks-user);
    }
    .header-wrap {
      padding: 7px 12px 5px;
    }
    .name {
      max-width: 150px;
      margin-top: 1px;
      margin-right: 20px;
    }
  }
  .head-msg,
  .content-msg,
  .empty-messenger {
    display: none;
  }
}

.header.talks-not-read {
  background-color: @talks-bg_header_not_read;
  .title {
    color: @talks-color_header_invert;
    &.icon-msg:before {
      ._opacity(1);
    }
  }
  .counter {
    color: @talks-color_counter_invert;
    background-color: @talks-bg_counter_invert;
  }
  .b-fold:before {
    background-color: @talks-color_header_invert;
  }
  .b-close:before {
    ._opacity(1);
  }
}

.c-talks-ie,
.msie .c-talks {
  .message-blur .message-text,
  .message-deleted .message-text {
    overflow: hidden;
    position: relative;
    min-height: 61px;
    &:after {
      display: inline-block;
      position: absolute;
      top: 2px;
      left: 0;
      width: 519px;
      height: 61px;
      content: "";
      background: url(~"@{img_url}/blur-msg.png") no-repeat 0 0;
    }
  }
}

.message-upgrade-send {
  margin: 0 20px 20px;
  padding: 30px 20px;
  text-align: center;
  border: 1px solid #ccc;
  background: #ecdc8a;
  &.blinked {
    background: #fff;
  }
}

.message-upgrade-send a {
  font-weight: 600;
  text-decoration: underline;
  color: #c00;
}

.message-upgrade-send a:hover {
  text-decoration: none;
}

.c-talks-small .message-upgrade-send {
  margin: 20px 0;
}

.header.talks-users {
  .icon-msg:before {
    margin-top: 1px;
    margin-right: 4px;
    margin-left: -1px;
    ._sprite(@talks-group);
  }
}

.ie9_all,
.ie9{
  .c-talks{
    .user-info,
    .list-item {
      &.blurred,
      &.blurred-heavy {
        .user-photo {
          position: relative;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            background: @talks-bg_over;
          }
        }
      }
      &.blurred-heavy {
        .user-photo {
          &:before {
            background: @talks-bg_over_heavy;
          }
        }
      }
    }
  }
}
