@talks-def_font: 'dosisregular', Arial, helvetica, sans-serif;
@talks-font_bold: 'dosissemibold', Arial, helvetica, sans-serif;

/* header */
@talks-bg_header: #1f2226;
@talks-bg_header_not_read: #52cc52;
@talks-bg_header_icon: #e6e7e7;
@talks-color_header: #fff;
@talks-color_header_light: #999;

/* wrap */
@talks-bg: #fff;
@talks-shadow: fade(#000, 40%);
@talks-shadow_head_msg: fade(#000, 30%);
@talks-shadow_text: fade(#000, 70%);
@talks-bg_aside: #e6e6e6;
@talks-border: #ccc;
@talks-color_text: #b3b3b3;
@talks-color_text_def: #4c4c4c;
@talks-color_text_screenname: #f73;
@talks-color_online: #1cb51c;
@talks-color_offline: #999;
@talks-color_link: #f73;
@talks-bg-overlay: fade(#000, 65);
@talks-bg-ie-overlay: #000;
@talks-block_bg: #1f2226;
@talks-block_color: #fff;

/* button */
@talks-bg_button: #fff;
@talks-border_button: #ccc;
@talks-color_button: #808080;
@talks-bg_btn_upgrade: #1cbb1c;
@talks-color_btn_upgrade: #fff;

@talks-bg_btn_normal: #ccc;
@talks-bg_btn_sexy: #f9a100;
@talks-bg_btn_no_limits: #e83434;
@talks-color_btn_normal: #4c4c4c;
@talks-color_btn_sexy: #fff;
@talks-color_btn_no_limits: @talks-color_btn_sexy;

/* icons */
@talks-bg_info_types: #808080;
@talks-color_info_types: #b3b3b3;
@talks-bg_counter: #52cc52;
@talks-color_counter: #fff;
@talks-color_header_invert: #fff;
@talks-bg_counter_invert: #fff;
@talks-color_counter_invert: #52cc52;

/* users */
@talks-border_list_user: #fff;
@talks-bg_active: #d9d9d9;
@talks-bg_over_ie: #000;
@talks-bg_over: fade(#000, 78%);
@talks-bg_over_heavy: fade(#000, 90%);

/* message */
@talks-message_bg: #fff;
@talks-message_date_color: #9c9c9c;
@talks-message_user_color: @talks-message_date_color;
@talks-message_user_in_color: #ff8400;
@talks-message_text_color: #1f2226;
@talks-message_color_new: #1cbb1c;
@talks-message_color_flirtcast: #ac4dee;
@talks-message_color_autoreply: #ff8400;
@talks-message_color_activity: #9c9c9c;
@talks-message_bg_input_msg: #fff;
@talks-message_color_delete: #999;
@talks-message_note_bg: #fff;

/* dropdown-menu */
@talks-dropdown_bg: #fff;
@talks-dropdown_border: #ccc;
@talks-dropdown_shadow: fade(#000, 30%);
@talks-dropdown_color: #1f2226;

/* upgrade */
@talks-upgrade_bg: #52cc52;
@talks-color_first_read: #1f2226;
@talks-bg_first_read: #e6e6e6;
@talks-color_microfeature: #1f2226;
@talks-bg_microfeature: #e6e6e6;


@talks-remove_color: #ff3232;









