if popupType === "paySuccess"
  .b-popup.b-popup-payment
    a.btn-close(data-close, title=_t("autoPopup", "text.close"))
    if data.features && (data.membership || data.offer || data.lifetimeOffer)
      p.title!= _t('autoPopup','text.pay-success-membership-and-features', {"{upgradepackage}":data.features, "{sitename}":data.siteName, "{br}":"<br/>"})
    else if (data.features || data.membership || data.offer || data.lifetimeOffer)
      if data.features
        p.title!= _t('autoPopup', 'text.pay-success-features-only',{"{upgradepackage}":data.features,"{sitename}":data.siteName,"{br}":"<br />"})
      if(data.membership || data.offer || data.lifetimeOffer)
        p.title!= _t('autoPopup', 'text.pay-success-membership-only',{"{sitename}":data.siteName,"{br}":"<br />"})
    else
      p.title!=_t('autoPopup', 'text.pay-success')
    if data.isUnlimMobAccessEnabled
      div.mobile-benefits
        div.mobile-benefits__title!= _t('autoPopup', 'text.You also get access to mobile version at with the following exclusive benefits', {"{mobSiteName}":data.mobSiteName})
        div.mobile-benefits__list
          div.mobile-benefits__item
            div.mobile-benefits__icon.mobile-benefits__icon--map
            div.mobile-benefits__item__title= _t('autoPopup', 'text.Interactive map showing best matches nearby')
          div.mobile-benefits__item
            div.mobile-benefits__icon.mobile-benefits__icon--communication
            div.mobile-benefits__item__title= _t('autoPopup', 'text.Unlimited communication even on the go')
          div.mobile-benefits__item
            div.mobile-benefits__icon.mobile-benefits__icon--search
            div.mobile-benefits__item__title= _t('autoPopup', 'text.Advanced search option')
    if data.smschat
      p.text!= _t('autoPopup', 'text.pay-success-smschat-only',{"{product}":_t('autoPopup', data.smschat),"{br}":"<br />"})

    form.form
      if data.doAskMsisdn
        .b-data-row(name="error_block")
          h2.title= _t('autoPopup', 'Good news!')
          p!= _t('autoPopup', 'Now you are able to chat via SMS! To use this feature fill in the field below.')
          .b-value
            input( type="text", name="msisdn", placeholder=_t('autoPopup', 'Enter your mobile number here'))
            p.b-error!= _t('autoPopup', 'The mobile number you entered is not valid')
            input.btn.green.chat-now(type='submit' name="add_new_msisdn" value= _t('autoPopup', 'text.continue'))
      else
        button#popupContinue.btn-text-green.btn-continue= _t('autoPopup', 'text.continue')

    .moneyback-guarantee= _t('autoPopup', 'moneyBack.tip.text1')
      .moneyback-guarantee__hidden
        if data.showDescription
          p!= _t('autoPopup', 'moneyBack.tip.text2', {"{siteDescriptor}" : data.siteDescriptorImage})
          p= _t('autoPopup', 'moneyBack.tip.text3')
        p= _t('autoPopup', 'moneyBack.tip.text4')
    if(data.repeatAt && data.simpleCancel && data.cardId)
      div.cancel-repeat-block
        div.active
          p= _t('autoPopup', 'autoPopup.note', {"{repeatAt}":data.repeatAt})
          .b-center
            input#cancel-repeat.btn.btn-cancel(type='submit', value=(_t('autoPopup', 'autoPopup.cancel-repeat')).ucfirst(), data-card-id=data.cardId, name='simple_cancel')
        div.hide
          p= _t('autoPopup', 'text.cancel-repeat.complete', {"{package}":(data.features ? (data.membership ? data.features + '&' + data.membership : data.features) : data.membership)})
    div.information-title!= _t("autoPopup", "text.pay_success_information", {"{br}":"<br>"})
    div.information-description= _t("autoPopup", "text.pay-success-description")


if popupType === "addMsisdn"
  .b-popup.b-sms-chat.chat-feature
    .b-popup-head
        span.title= _t('autoPopup', 'Try SMS chat feature')
        .meta-button-wrap
          button.btn-meta.b-close#popupClose(title=_t("autoPopup", "text.close"))
    .b-popup-content
      form.form
        if(data.isShowAdditionalTextsBySourceGBR)
          h2.title= _t('autoPopup', 'Enter mobile number to enable SMS messaging!')
        else
          h2.title= _t('autoPopup', 'Enter mobile number to enable SMS messaging with other members!')
        .b-data-row(name="error_block")
          .b-value
            input(type='text', name="msisdn", placeholder=_t('autoPopup', 'Enter your mobile number here'))
            p.b-error!= _t('autoPopup', 'The mobile number you entered is not valid')
          input.btn.green.save-btn(type='submit' name="add_new_msisdn" value= _t('autoPopup', 'Save'))
          label.show-again
            input(type='checkbox', name='do_not_ask_again', data-notificationsettings-checkbox='1')
            span= _t('autoPopup', "Don't show me again")


if popupType === "addMsisdnSuccess"
  .b-popup.b-sms-chat.thanks
    .b-popup-head
      span.title= _t('autoPopup', 'Thanks for joining SMS Chat!')
      .meta-button-wrap
        button.btn-meta.b-close#popupClose(title= _t("autoPopup", 'text.close'))
    .b-popup-content.step-4
      .form
        h2.title= _t('autoPopup', 'Your phone has been successfully saved.')
        button#popupContinue.btn.green.close-btn= _t('autoPopup', 'text.close')


if popupType === "smsChatOneClick"
  .b-popup.b-sms-chat.chat-feature2
    .b-popup-head
      span.title= _t('autoPopup', 'Special communication offer')
      .meta-button-wrap
        button.btn-meta.b-close#popupClose(title= _t("autoPopup", 'text.close'))
    .b-popup-content
      .b-sms-price!= _t('autoPopup', '2.99$/3 SMS')
      form.form
        h2= _t('autoPopup', 'Lots of ladies here are ready to chat via SMS.')
        p.description= _t('autoPopup', 'Activate SMS package and start texting now!')
        div.b-data-row.error(name="error_block")
          input.btn.green.save(type='submit' name='add_new_msisdn' value=_t('autoPopup', 'Activate'))
          div.b-value
            input(type='text', name="msisdn", value=(data.msisdn || ''), placeholder=_t('autoPopup', 'Enter your mobile number here'))
            div.b-error!= _t('autoPopup', 'The mobile number you entered is not valid')
      div.terms= _t('autoPopup', 'After using all SMS messages available')