body{
  margin: 0;
  font: 100 12px/1.2em Helvetica,Roboto,Segoe,sans-serif;
}
.wrapper, .main--payment { background-color: @gray_bg; }

.viewport--payment { font-family: "Open Sans", sans-serif; }

.main--payment { padding: 0 0 10px; }

.tbr-box {
    background: radial-gradient(ellipse at center top , #070506 5%, #070506 59%, #070506 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-sizing: border-box;
    transition: all 0.2s ease 0s;
    width: 100%;
    z-index: 1000;
  &--payment {
    height: 40px;
    position: relative;

    .tbr-button {
      height: 40px;
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
      border: medium none;
      border-radius: 4px;
      display: inline-block;
      line-height: 0;
      margin: 0;
      outline: 0 none !important;
      z-index: 15;
      &.tbr-button-back {
          font-size: 12px;
          position: absolute;
          left: 8px;
          padding: 0 20px 0 0;
          vertical-align: middle;
          width: auto;
          color: #fff;

          &:before {
              background-position: -130px -87px;
              background-size: 160px;
              width: 15px;
              height: 22px;
              margin: -2px 5px 0 0;
              vertical-align: middle;
              display: inline-block;
          }
      }
      &:before{
        background: url("@{i}/icons.png");
        content: "";
        display: block;
        height: 18px;
        margin: auto;
        width: 23px;
      }
    }
  }
  .tbr-wrap{
    height: 100%;
    padding: 0 2px 0 10px;
    position: relative;
    text-align: center;
  }
}

.money-back {
    background: url("@{i}/money-back.png");
    background-size: 65px 18px;
    position: absolute;
    width: 65px;
    height: 18px;
    top: 50%;
    right: 15px;
    margin-top: -9px;
}

.membership-discount-payment {
  background-color: @gray_bg;
  padding: 8px;
  overflow: hidden;

  &__thumb {
    float: left;
    width: 50px;
    height: 52px;
    overflow:hidden;

    img { height:52px; }
  }

  &__info {
    color: @dark-dark;
    font-size: 16px;
    line-height: 18px;
    font-weight: lighter;

    &.vs-photo {
      margin-left: 65px;
    }

    strong {
      color: @t-main-color;
      font-weight: 700;
    }

    a {
      color: @dark-dark;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

.h4_wrapper {
  margin: 0px;
  margin-bottom: 16px;
  background: none repeat scroll 0% 0% #EBEBEB;
  box-shadow: 0px 6px 6px -5px #D4D6D7;
}

.pay-data-box-title {
  padding: 11px 0 8px;
  text-align: center;
  background-color: @white;
  font-size: 16px;
  line-height: 18px;
  color: @dark-dark;
  font-weight: lighter;
}

#selectedPackagePrice {
  display:none;
  padding: 0px 10px 10px;
  color: #555;
  text-align:center;
}

.pay-content--payment .pay-data-box {
  padding: 7px 7px 8px;
  background: @gray_bg;
  position: relative;
  &-single {
    ._radius(5px);
    ._shadow(0 2px 2px #cdcdcd);
    ._box-sizing;
    background: #fff;
    margin-bottom: 7px;
    overflow: hidden;
    position: relative;
    padding: 3px 7px 5px 34px;
    height: 40px;

    &--checkout { margin: 10px 8px; }

    &__title {
      display: table;
      font-size: 12px;
      color: @dark-dark;
      min-height: 30px;
      margin-top: 0;

      > * { display: table-cell; }

      .number {
        font-size: 32px;
        line-height: 32px;
        padding-left: 6px;
        width: 18px;
        text-align: center;
      }

      .text {
        font-size: 12px;
        vertical-align: middle;
        font-weight: lighter;
        padding-left: 6px;

        b { display: block; }
      }
    }

    &__price {
      position: absolute;
      right: 4px;
      top: 4px;
      height: 32px;
      ._radius(3px);
      ._box-sizing;
      background-color: @t-main-color;
      width: 90px;
      text-align: center;
      font-size: 16px;
      color: #fff;
      padding: 4px 4px;

      .price {
        font-size: 16px;
        position: relative;

        b {
          font-size: 24px;
          line-height: 24px;
          font-weight: bold;
        }

        .fractional-price {
          font-weight: normal;
          font-size: 12px;
          line-height: 12px;
          position: relative;
          top: -3px;
          padding-left: 2px;
        }

        .term {
          font-size: 9px;
          line-height: 9px;
          font-weight: normal;
          position: relative;
          left: -13px;
          bottom: 4px;
        }
      }
    }

    &__stock-price {
      position: absolute;
      right: 110px;
      color: @dark-dark;
      font-size: 16px;
      height: 40px;
      line-height: 40px;
      top: 0;
      text-decoration: line-through;
    }

    .pay-data-box-marker {
      height: 10px;
      width: 10px;
      border: 1px solid darken(@t-main-color, 20%);
      ._radius(8px);
      background-color: #fff;
      top: 50%;
      margin-top: -6px;
      left: 5px;
      position: absolute;
    }

    input[type=radio] {
      position: absolute;
      opacity: 0;
      left: 0;
      top: 0;
    }
  }

  &-single.active {
    background: @t-main-color;
    ._shadow(0 2px 2px dade(#000, 15%) );

    .pay-data-box-single__title { color: #fff; }

    .pay-data-box-single__price {
      background-color: #f8f8f8;
      color: @dark-dark;
    }

    .pay-data-box-single__stock-price { color: #fff; }

    .pay-data-box-marker {

      &:after {
        position: absolute;
        width: 8px;
        height: 8px;
        ._radius(16px);
        background-color: @t-main-color;
        left: 1px;
        top: 1px;
        content: "";
      }
    }
  }
}

.payment-icon {
  position: absolute;
  right: 0;
  top: 50%;
  background-image: url("@{i}/payment.png");

  &--sms {
    background-position: -126px -179px;
    height: 24px;
    width: 54px;
    margin-top: -12px;
  }

  &--payforit {
    background-position: -204px -174px;
    height: 27px;
    width: 57px;
    margin-top: -13px;
  }
}

.pay-button-wrap {
  margin: 15px 0 0;
  text-align: center;

  .pay-button {
    padding: 7px 20px;
    font-size: 20px;
    font-weight: bold;
    line-height: 22px;
    color: #fff;
    text-transform: uppercase;
    ._radius(14px);
    border: 0;
    -webkit-box-shadow: 0 2px 2px #cce386 inset, 0 -2px 2px #83915a inset;
    -moz-box-shadow: 0 2px 2px #cce386 inset, 0 -2px 2px #83915a inset;
    box-shadow: 0 2px 2px #cce386 inset, 0 -2px 2px #83915a inset;
    background: rgb(177,209,79);
    background: -moz-linear-gradient(top,  rgba(177,209,79,1) 0%, rgba(146,193,4,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(177,209,79,1)), color-stop(100%,rgba(146,193,4,1)));
    background: -webkit-linear-gradient(top,  rgba(177,209,79,1) 0%,rgba(146,193,4,1) 100%);
    background: -o-linear-gradient(top,  rgba(177,209,79,1) 0%,rgba(146,193,4,1) 100%);
    background: -ms-linear-gradient(top,  rgba(177,209,79,1) 0%,rgba(146,193,4,1) 100%);
    background: linear-gradient(to bottom,  rgba(177,209,79,1) 0%,rgba(146,193,4,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1d14f', endColorstr='#92c104',GradientType=0 );
    text-decoration: none;
    text-shadow: 0 1px #82a811;
    text-align: center;
    span {
      display: block;
      position: relative;
    }
    .buy_now {
      margin-top: -3px;
      line-height: 100%;
      font-family: Arial,Helvetica,sans-serif;
    }
    .button_text {
      margin-top: -4px;
      text-shadow: none;
      height: 28px;
      font-weight: normal;
      font-size: 14px;
      text-transform: uppercase;
      color: #FFF;
    }
  }

  #continueButton {
    margin-bottom: 15px;
    display: inline-block;
  }
}

.pay-one-click {
  background: none repeat scroll 0% 0% #EBEBEB;
  position: relative;
  padding: 0px 10px 15px;
  margin-top: -4px;
  .pay-button {
    display:inline-block;
    padding: 13px 26px 0px;
    width: 36%;
    max-width: 220px;
    min-width: 180px;
    font-size: 30px;
    text-transform: uppercase;
    border-radius: 18px;
    text-shadow: 1px 1px 2px #4F650B;
    border-top: 2px solid #EBF0C1;
  }
}

.form-box--payment {
  padding: 0 8px;

  .pay-data-box{
    background-color: #fff;
    padding: 0;
    ._radius(5px);
    ._shadow(0 2px 2px #cdcdcd);
    overflow: hidden;

  }

  .bx-item {
    padding: 5px 10px;
    margin: 0;
    border-bottom: 1px solid #f3f3f3;
    overflow: hidden;

    &:last-child { border-bottom: 0; }

    label {
      color: @dark-dark;
      font-size: 12px;
      font-weight: normal;
      line-height: 14px;
      margin-bottom: 4px;
    }

    input[type='text'],
    input[type='email'],
    input[type='number'] {
      background: #f8f8f8;
      padding: 3px 15px;
      ._radius(4px);
      border: 1px solid #e4e4e4;
      ._shadow(0 2px 2px #eee inset);
      color: @dark-dark;
      height: 32px;
    }

    &.error {
      label { color: @red; }
    }
  }

  .field-hint--card { float: right; }

  .field-hint-error {
    color: @red;
    font-size: 9px;
  }

  .security-number {
    float: left;
    width: 110px;

    .field-hint-error {}

    & + .field-hint { margin: 15px 0 0 125px; }
  }

  .form-box-select-wrap {
    background: #f8f8f8;
    ._radius(4px);
    border: 1px solid #e4e4e4;
    ._shadow(0 2px 2px #eee inset);
    width: 44%;
    margin: 0 5px 0 0;
    height: 32px;
    box-sizing: border-box;
    float: left;
    padding-right: 10px;
    position: relative;

    &:before {
      content: '';
      border-style: solid;
      border-width: 4px 4px 0;
      border-color: #f8f8f8 transparent;
      right: 10px;
      top: 50%;
      margin-top: -2px;
      z-index: 2;
    }

    &:after {
      right: 8px;
      border-width: 6px 5px 0;
      border-color: #9e9e9e transparent;
      z-index: 1;
    }

    .value {
      padding: 6px 0 0 10px;
      background: transparent;
      height: 32px;
      position: absolute;
      border-radius: 5px;
      box-sizing: border-box;
      display: block;
      font-size: 14px;
      top: 0;
      left: 0;
      width: 100%;

      span {
        padding: 6px 0 0 10px;
        font-size: 12px;
        bottom: 0;
        display: block;
        left: 0;
        line-height: 18px;
        overflow: hidden;
        position: absolute;
        right: 30px;
        text-overflow: ellipsis;
        top: 0;
        white-space: nowrap;
      }

      &:after {
        background-position: -75px -142px;
      }
    }

    select {
      padding: 4px 10px;
      position: absolute;
      left: 0;
      top: 0;
      border: 0 none;
      box-sizing: border-box;
      color: gray;
      float: left;
      font-size: 14px;
      opacity: 0;
      width: 100%;
      z-index: 2;
    }
  }

  &.android-old-version {
    .form-box-select-wrap {
      background: none;
      border:none;

      select {
        opacity: 1 !important;
        padding:3px 1px;
      }
    }
  }
}

.sms_form_content { padding: 0 8px; }

.sms_form_content .phone-number {
  padding: 10px;
  background-color: #fff;
  ._radius(5px);
  ._shadow(0 2px 2px #cdcdcd);
  overflow: hidden;

  .bx-item { margin: 0; }

  label {
      color: @dark-dark;
      font-size: 12px;
      font-weight: normal;
      line-height: 14px;
      margin-bottom: 4px;
  }

  input[type='text'],
  input[type='email'],
  input[type='number'] {
      background: #f8f8f8;
      padding: 3px 15px;
      ._radius(4px);
      border: 1px solid #e4e4e4;
      ._shadow(0 2px 2px #eee inset);
      color: @dark-dark;
  }
  .field-hint-error {
    color: @red;
    font-size: 9px;
  }
}

.pay-content {
  color: #000;
  h4 {
    margin-top:1em;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    -webkit-margin-before: 0.6em;
    -webkit-margin-after: 0.6em;
    a {
      color: @t-main-color;
      text-decoration: none;
    }
    span {
      color: @t-main-color;
    }
  }
  .pay-info {
    padding: 0 10px 0;
    text-align: center;
    p {
      color: @text-grey;
      padding: 0 0 10px 0;
      font-size: 11px;
      a {
        color: @dark-dark;
      }
      span {
        color: #000;
      }
    }
    .instructions {
      border-bottom: 1px solid #e3e3e3;
      margin: 10px 0;
    }

    .sms_form_response {
      display:none;
      width:100%;
      height: 460px;
      zoom: 0.85;
      -moz-transform: scale(0.9);
      -moz-transform-origin: 0 0;
      -o-transform: scale(0.85);
      -o-transform-origin: 0 0;
      -webkit-transform: scale(0.85);
      -webkit-transform-origin: 0 0;
      margin:-20px 0 -20px 15px;
    }
    #nebupayIframe {
      width:100%;
      height:inherit;
    }
  }
  .pay-back {
    /*margin: 19px 12px 0px;
    text-align: right;*/
    a {
      color: @t-main-color;
    }
  }
  .payment-mode {
    margin: 0 0 15px 15px;
    .pm-item {
      display: inline-block;
      margin-right: 15px;
      .pm-marker {
        border: 1px solid @grey;
        background: #fff;
        ._radius(18px);
        height: 12px;
        width: 12px;
        display: inline-block;
        position: relative;
      }
      .title {
        font-size: 15px;
        line-height: 15px;
        display: inline-block;
        vertical-align: top;
      }
      &.active {
        .pm-marker {
          &:before {
            ._radius(18px);
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            width: 10px;
            height: 10px;
            background: @t-main-color;
          }
        }
        .title {
          color: @t-main-color;
        }
      }
      &.visa {
        .title {
          font-size: 0;
          background: url("@{i}/payment.png") -1px -56px no-repeat;
          width: 50px;
          height: 15px;
          background-size: 110px;
        }
      }
      &:hover {
        cursor: pointer;
      }
      &.touch {
        cursor: pointer;
      }
    }
  }
}
.pay-data-box {
  .benefits {
    padding: 8px 0px 0px;
    margin-bottom: 9px;
    margin-top: -9px;
    background: #ffffff;
    box-shadow: none;

    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    li {
      font-size: 16px;
      line-height: 18px;
      height: auto;
      border: 0;
      padding: 1px 0 8px 50px;
      position: relative;
      .main-sprite {
        position: absolute;
        top: 0;
        left: 0;
        width: 8px;
        height: 8px;
        ._radius(10px);
        background: @t-main-color;
      }
      .check.main-sprite {
        top: 4px;
        left: 20px;
      }
    }
  }
  h2 {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    padding: 13px 32px 10px 16px;
    .opened& {
      padding-bottom:8px;
    }
  }
  .heading-opener {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: 9px;
      margin-top:-5px;
      width: 10px;
      height: 10px;
      background: url("@{i}/collapse.png") no-repeat -5px -5px;
      background-size: 40px;
    }
    &.opened {
      &:after {
        background-position: -25px -5px;
      }
    }
  }
  .desc-package {
    border-top: 1px solid #e3e3e3;
    background: @white;
    padding: 10px 15px 14px 19px;
    margin: 15px 0 -18px;
    ._radius (0 0 5px 5px);
    .dp-list {
      margin: 0;
      padding: 0;
      list-style: none;
      .item {
        font-size: 12px;
        line-height: 18px;
        &:before {
          content: "";
          display: inline-block;
          margin-right: 3px;
          width: 11px;
          height: 9px;
          background: url("@{i}/payment.png") -48px -48px no-repeat;
          background-size: 100px;
        }
      }
    }
  }
  &.psms {
    border: none;
    box-shadow: none;
    .pay-data-box-single {
      .price {
        float: none;
        margin: 0;
        padding-left: 5px;
      }
      > p {
        padding-left: 19px;
      }
      &:first-child {
        ._radius (5px);
      }
      &.active {
        border-bottom: none;
      }
    }
    .pay-info {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .pay-data-box-single {
    h3 span.float_left {
      padding-top: 4px;
      display:block;
    }
    h3 span.date {
      font-size: 18px;
      color: @dark-dark;
      text-transform: uppercase;
      display: block;
      vertical-align: middle
    }
    h3 .text{
      margin-left: 1px;
      width: 62px;
      text-align: left;
      vertical-align: middle;
      text-transform: capitalize;
      .small {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: normal;
      }
    }
    &.active {
      /*height: auto;*/
      & > p {
        color: #fff;
        padding-right: 100px;
      }
      h3, h3 .smaller, h3 span.date {
        color: #fff;
      }
      .description {
        color: #fff;
      }
      .b-additional-features-list li, .b-feature {
        border-color: darken(@t-main-color, 10%) !important;
        background-color: @t-main-color !important;
        background-position-y: 4px !important;
      }
    }
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    & > p {
      padding-left: 40px;
      padding-top: 6px;
      padding-right: 33px;
      color: @text-light-grey;
      font-size: 12px;
    }
    .pay-data-box-tip {
      position: relative;
      display: block;
      float: left;
      position: relative;
      top: 14px;
      right: -4px;
      padding: 3px 10px 3px 7px;
      background: @t-main-color;
      border-radius: 2px 2px 0 2px;
      box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.3);
      color: #fff;
      .membership & {
        top: 1px;
      }
      &:after {
        content: "";
        display: block;
        border-top: 0px @t-main-color;
        border-left: 4px @t-main-color;
        border-bottom: 4px #fff;
        border-right: 0px #fff;
        border-style: solid;
        width: 0px;
        height: 0px;
        position: absolute;
        bottom: -4px;
        right: 0;
      }
    }
    .description {
      display: block;
      margin: 8px 0 0 45px;
      color: #000;
    }
    .b-additional-features-list {
      list-style-type: none;
      position: relative;
      overflow: hidden;
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
      margin: 8px 0 0 0;
      padding: 0;
      li {
        float: left;
        position: relative;
        width: 28px;
        height: 28px;
        border: 1px solid @grey;
        border-radius: 20px;
        margin-left: -5px;
        background: #fff url("@{i}/payment.png") no-repeat 6px -21px;
        background-size: 168px;
        &:first-child {
          margin-left: 0;
        }
        &.b-feature-topinsearch {
          z-index: 6;
        }
        &.b-feature-highlight {
          z-index: 5;
          background-position: -18px -21px;
        }
        &.b-feature-invisible {
          z-index: 4;
          background-position: -42px -21px;
        }
        &.b-feature-specialdelivery {
          z-index: 3;
          background-position: -67px -21px;
        }
        &.b-feature-freecommunication {
          z-index: 2;
          background-position: -91px -21px;
        }
        .feature {
          display: none;
        }
        .b-feature {
          display: block;
          width: 28px;
          height: 28px;
          border: 1px solid @grey;
          border-radius: 20px;
          background: #fff url("@{i}/payment.png") no-repeat 6px -21px;
          background-size: 168px;
          font-size: 0;
          line-height: 0;
          color: fade(#fff, 0);
          margin: -1px;
          &.b-feature-highlight {
            background-position: -18px -21px;
          }
          &.b-feature-invisible {
            background-position: -42px -21px;
          }
          &.b-feature-specialdelivery {
            background-position: -67px -21px;
          }
          &.b-feature-freecommunication {
            background-position: -91px -21px;
          }
        }
      }
    }
  }
  .initiate-payment {
    margin-top: 15px;
    h3 {
      font-size: 14px;
      line-height: 18px;
      font-weight: normal;
    }
    p {
      color: @text-grey;
      font-size: 12px;
      line-height: 15px;
    }
  }
  .info-card {
    margin-top: 15px;
    background: @white;
    padding: 5px 15px;
    ._radius (5px);
    ._shadow (0 1px 5px fade(#000, 60%));
    .uc-row {
      font-size: 0;
      line-height: 0;
      letter-spacing: -6px;
      .uc-col-l,
      .uc-col-r {
        display: inline-block;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
        vertical-align: top;
        width: 50%;
        font-size: 12px;
        line-height: 23px;
        letter-spacing: normal;
        color: #333;
      }
      .uc-col-r {
        text-align: right;
      }
    }
  }
  .bx-item .field-hint{
    font-size: 11px;
    padding: 0;
    color: @text-grey;
  }
  .features-list {
    list-style-type: none;
    li{
      position: relative;
      padding: 0 50px 12px 49px;
      p {
        font-size: 11px;
        color: @text-grey;
        line-height: 140%;
        &.title {
          font-size: 13px;
          color: @t-main-color;
        }
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 14px;
        width: 27px;
        height: 32px;
        background: url("@{i}/payment.png") no-repeat 3px -47px;
        background-size: 155px;
      }
      &.highlight:before {
        background-position: -32px -47px;
      }
      &.invisible:before{
        background-position: -65px -47px;
      }
      &.replies:before{
        background-position: -98px -47px;
      }
      &.message:before{
        background-position: -131px -47px;
      }
    }
  }
}
.pay-data-show-form {
  padding: 10px 0;
  text-align: center;
  a {
    color: @t-main-color;
  }
}
.pay-meta-info {
  padding: 0 12px;
  color: @text-grey;
  line-height: 145%;
  &.centered {
    text-align: center;
  }
  & p {
    & a {
      color: @t-main-color;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.form-box{

  &.ms-pp{
    .pay-data-box{
      background: none;
      border-radius: 0;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      .fbx-field-text{

        .field-inner{

          input{
            background: @ms-pp-input_bg;
            -moz-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.1);
            -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.1);
            box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.1);
            border: 1px solid #cfcfce;
            box-shadow: none;
            height: 37px;
            padding: 0 10px;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 14px;
            width: 100%;
          }
        }
      }
      .bx-item{
        margin: 0;
        padding: 7px 0px;
        border-bottom: 1px solid #dfdede;
        border-top: 1px solid #fbfbfb;
        &:first-child{
          border-top: 0;
        }
        &:last-child{
          border-bottom: 0;
        }
        .field-hint{
          float: none;
          margin: 0;
          display: inline-block;
          vertical-align: top;
          .field-hint-help {
            width: 15px;
            height: 15px;
            background: #9a9a9a;
            display: inline-block;
            text-align: center;
            color: #fff;
            border-radius: 50%;
            text-indent: -1px;
            font-weight: 700;
            padding: 2px;
            margin: 10px 10px 0;
            vertical-align: middle;
          }
        }
          .field-hint-card-example {
            display: inline-block;
            background: #d1d1d1;
            border: 1px solid #9cc229;
            padding: 4px 0;
            border-radius: 3px;
            width: 75px;
            height: 30px;
            position: relative;
          }
          .stripe-black {
            background: #000000;
            width: 100%;
            height: 8px;
          }
          .stripe-white {
            width: 100%;
            height: 9px;
            background: #fff;
            margin: 3px 0;
            span{
              font-size: 8px;
              display: block;
              text-align: right;
              line-height: 10px;
              color: #7f7f7f;
              font-weight: 700;
              padding-right: 10px;
            }
          }
          .example-card-num {
            transform: rotateY(58deg);
            font-size: 7px;
            margin: -3px 0;
          }
          .number-big-wrap {
            background: #c8c8c8;
            position: absolute;
            right: -27px;
            top: 1px;
            width: 28px;
            height: 28px;
            text-align: center;
            color: #333;
            border-radius: 50%;
            line-height: 15px;
            border: 2px solid #99be28;
            &:before{
              content: "";
              width: 0;
              height: 0;
              border-top: 4px solid transparent;
              border-right: 8px solid #fff;
              border-bottom: 4px solid transparent;
              position: absolute;
              left: -5px;
              top: 13px;
              z-index: 2;
            }
            &:after{
              content: "";
              width: 0;
              height: 0;
              border-top: 4px solid transparent;
              border-right: 8px solid #9abf2a;
              border-bottom: 4px solid transparent;
              position: absolute;
              left: -7px;
              top: 13px;
              z-index: 1;
            }
          }
          .number-big-wrap-overflow{
            overflow: hidden;
            border-radius: 50%;
          }
          .number-big-content {
            background: #fff;
            height: 17px;
            margin-top: 10px;
            position: relative;
            z-index: 3;
            span{
              font-size: 11px;
              color: #333;
              font-weight: 700;
            }
          }
        &.error{
          .field-inner{
            padding: 0;

            input{
            border: 1px solid #ff898f;
            }

          }
           .form-box-select-wrap{
            border: 1px solid #d9bbae;
            background: #ffffff;
            -moz-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.1);
            -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.1);
            box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.1);
          }
          .field-hint-error{
            display: block;
          }
        }
        &.fbx-field-select{
          &.error{
              .field-hint-error{
                background: none;
                color: #de2e34;
                margin-top: 0;
              }
          }
        }
        .field-inner{
          position: relative;
          padding: 0;

          &:after{
            clear: both;
            content: "";
            display: table;
          }
        }
      }
      .pp-descriptor{
        color: #676767;
        text-align: center;
        margin: 15px 0;
        font-size: 13px;
        font-weight: 700;
      }
      .form-box-select-wrap{
        background: @ms-pp-input_bg;
        box-shadow: none;
        border: 1px solid #cfcfce;
        height: 37px;
        width: 30%;
        margin: 0 10px 0 0;
          .value{
            color: @dark-dark;
            span{
              font-size: 13px;
              padding: 9px 0 0 10px;
            }
            &:before{
              content: '';
              display: block;
              position: absolute;
              right: 10px;
              top: 13px;
              width: 0;
              height: 0;
              border-left: 6px solid transparent;
              border-right: 6px solid transparent;
              border-top: 7px solid #ffffff;
              z-index: 2;
            }
            &:after{
              content: '';
              display: block;
              position: absolute;
              right: 10px;
              top: 15px;
              width: 0;
              height: 0;
              border-left: 6px solid transparent;
              border-right: 6px solid transparent;
              border-top: 7px solid #b8bdcc;
            }
          }
        &:before{
          display: none;
        }
      }
      .secure-info{
        text-transform: uppercase;
        border-bottom: 0;
        margin: 5px 0;
        padding-bottom: 5px;
      }
      .data-payment-info{
        font-size: 18px;
        font-weight: 700;
        margin: 0 10px;
        border-top: 1px solid #fff;
        padding: 10px 0;
        float: left;
        span{
          color: #82ac00;
        }
      }
      .data-payment-info-card-type{
        position: absolute;
        right: 0px;
        top: 0;
        margin-right: 10px;
        margin-top: 2px;
      }
      .bx-item-wrap{
        clear: both;
        .b-data-row-expiry {
          .field-hint-error {
            width: 60%;
            border: 1px solid transparent;
            padding: 3px 4px;
          }
        }
        .pp-agree {
          .field-hint-error {
            margin: 1px 0 0;
          }
        }
      }
      .information-secur-pp{
        text-align: center;
      }
      .ms-pp-sprite{
        &.secur-icons{
          display: inline-block;
          width: 60px;
          height: 30px;
          margin: 0px 3px 6px;

          &.verified-secur{
            background-position: 0 -37px;
          }
          &.master-secure{
            background-position: -69px -35px;
          }
          &.money-back-secure{
            background-position: -107px 0px;
            width: 98px;
          }
        }
      }
      .pp-agree,.pp-custom-checkbox{
        position: relative;
        padding-left: 25px;
        color: #676767;
        font-size: 11px;
        input{
          display: none;
        }
        input + label span{
          position: absolute;
          left: 0;
          top: 0;
          background: #e2e2e1;
          background: -moz-linear-gradient(top,  #e2e2e1 0%, #ededed 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e1), color-stop(100%,#ededed));
          background: -webkit-linear-gradient(top,  #e2e2e1 0%,#ededed 100%);
          background: -o-linear-gradient(top,  #e2e2e1 0%,#ededed 100%);
          background: -ms-linear-gradient(top,  #e2e2e1 0%,#ededed 100%);
          background: linear-gradient(to bottom,  #e2e2e1 0%,#ededed 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e1', endColorstr='#ededed',GradientType=0 );
          display: block;
          width: 13px;
          height: 13px;
          border: 1px solid #a6a6a6;
          cursor: pointer;
        }
        input:checked + label span{
          background-image: url("@{i}/ms-pp-sprite.png");
          background-position: -137px -43px;
        }
      }
      .pp-custom-checkbox{
        margin: 6px 0;
        padding-bottom: 5px;
          label{
            font-size: 12px;
            font-weight: 700;
            padding-top: 1px;
            color: #1c1c1c;
            display: block;
          }
      }
    }
    .pay-button-wrap{
      margin: 15px 0;
      position: relative;
      .pay-button{
        ._radius(5px);
        height: 44px;
        border: 1px solid #8db024;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-size: 18px;
        width: 100%;
        text-indent: -20px;
        background: #94c400;
        -webkit-appearance: none;
        appearance: none;
      }
      &:before{
        content: "";
        width: 0;
        height: 0;
        border-top: 13px solid transparent;
        border-left: 15px solid #94c400;
        border-bottom: 13px solid transparent;
        position: absolute;
        right: 14px;
        top: 9px;
        z-index: 2;
      }
      &:after{
        content: "";
        width: 0;
        height: 0;
        border-top: 13px solid transparent;
        border-left: 15px solid #517c22;
        border-bottom: 13px solid transparent;
        position: absolute;
        right: 10px;
        top: 9px;
        z-index: 1;
      }
    }
    .ms-pp-sprite{
      background: url("@{i}/ms-pp-sprite.png") no-repeat 0 0;
      &.ms-secure-icon{
        display: inline-block;
        width: 20px;
        height: 24px;
        vertical-align: bottom;
        margin-right: 5px;
      }
      &.visa-card {
        width: 38px;
        height: 26px;
        display: inline-block;
        background-position: -24px 0px;
      }
      &.master-card {
        width: 31px;
        height: 26px;
        display: inline-block;
        background-position: -66px 0px;
      }
      &.secure-icons{
        width: 62px;
        height: 50px;
        display: inline-block;
        background-position: -3px -4px;
      }
    }
    .security-number{
      width: 82px;
    }
    .field-hint-error{
      background: #ff898f;
      padding: 3px;
      margin-top: -3px;
      border-radius: 0 0 4px 4px;
      position: relative;
      z-index: 2;
      color: #ffffff;
    }
    .field-hint-error.chargeDeclined{
      padding: 5px;
      margin: 10px;
      border-radius: 3px;
    }
    .pp-ms-description{
      text-align: left;
      font-size: 12px;
      color: #898989;
      line-height: 16px;
    }
    .save-secure-block {
      margin: 15px 0;
      .save-secure-title {
        font-size: 18px;
        position: relative;
        padding-left: 25px;
        &:before{
          content: "";
          background: url("@{i}/ms-pp-sprite.png") no-repeat -161px -40px;
          width: 20px;
          height: 23px;
          display: inline-block;
          position: absolute;
          left: 0;
          top: -4px;
        }
      }
      .save-secure-txt {
        margin: 10px 0 15px;
        line-height: 16px;
      }
      .save-secure-icon{
        width: 108px;
        height: 31px;
        background-position: -3px -69px;
      }
    }
  }
}

.pay-note {
  padding: 0 10px;
  margin-bottom: 10px;
  text-align: center;
}

.cancel-repeat {
  text-align: center;
  margin-bottom: 10px;
  padding: 0 10px;

  .button-cancel { background: #c1c1c1; }
}

/*Reset*/
ul, p, h1, h2, h3, h4, h5, h6 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}
.ms-pp-form{
  .pay-data-box-single{
    &.pay-data-box-single-ms-pp{
      .pay-data-box-single__title{
        .free-info-label{
          display: block;
          font-size: 20px;
          text-transform: uppercase;
          margin: 4px 0 3px;
          font-weight: 700;
        }
        .free-info-time{
          display: block;
          font-size: 12px;
        }
      }
      .pay-data-box-single__price{
        .price{
          font-size: 18px;
            .fractional-price{
              text-decoration: underline;
              font-weight: 700;
              font-size: 14px;
            }
            .term{
              bottom: 1px;
              left: -19px;
              white-space: nowrap;
            }
            b{
              margin: 0 1px;
            }
          } 
      }
    }
  }
  .pay-data-box-single-label{
      text-align: left;
      color: #5d5d5d;
      font-size: 11px;
  }
}
.footer .pay-info {
    padding: 0 10px;
    text-align: center;
    margin-bottom: 10px;
    ul.ms-list-menu {
      margin: 10px 0;
      li {
        display: inline-block;
        border-left: 0;
        a{
          color: #2c58a1;
          text-decoration: none;
          font-size: 11px;
          text-transform: uppercase;
          border-left: 1px solid #2c58a1;
          padding: 0 4px;
        }
        &:first-child{
          a{
            border-left: 0;
          }
        }
      }
    }
    .undeline-copyright{
      color: #4b4b4b;
      text-decoration: underline;
      margin: 15px 0;
      line-height: 17px;
      a {
        color: #2c58a1;
      }
    }
}