.b-sms-popup {
  padding: 45px 35px 25px;
  width: 580px;
  background-color: @white;
  .title {
    padding: 0 0 30px;
    color: @color-theme-base;
    font-size: 30px;
  }
  .b-tab-content {
    display: block;
    padding: 30px 0 0;
  }
  .b-rate {
    float: left;
    position: relative;
    margin: 0 27px;
    width: 126px;
    height: 126px;
    border-radius: 50%;
    background: #dadada;
    .side {
      overflow: hidden;
      position: absolute;
      top: 0;
      bottom: 0;
      display: block;
      width: 50%;
      height: inherit;
      &.left-side {
        left: 0;
        .b-moving {
          display: none; //if deg > 180 'display: block';
        }
      }
      &.right-side {
        right: 0;
        .b-moving {
          margin-left: -100%;
          .section {
            display: block; //if deg > 180 'display: none';
          }
        }
      }
    }
    .b-moving {
      overflow: hidden;
      display: block;
      width: 200%;
      height: inherit;
      background: #6bb405;
      border-radius: 50%;
      -webkit-transform: rotate(20deg);
      -moz-transform: rotate(20deg);
      transform: rotate(20deg);
    }
    .section {
      float: right;
      display: block;
      width: 50%;
      height: inherit;
      background: #dadada;
    }
  }
  .b-user-single {
    float: left;
    width: 90px;
    .b-photo {
      height: 85px;
      * {
        height: inherit;
      }
    }
  }
  .b-text {
    margin: 0 10px 0 120px;
    .hint {
      padding: 0 0 15px;
    }
    .error {
      margin: 0 0 15px;
      padding: 9px 15px 15px;
      font-size: 16px;
      color: #eb4141;
      text-align: center;
      border: 1px solid #ff8d8d;
      background: #ffeaea;
      ._radius(6px);
    }
    .phone-label {
      display: block;
      margin-bottom: 10px;
      color: @color-theme-base;
      font-size: 14px;
    }
    .phone {
      text-transform: lowercase;
      color: #4c4c4c;
      width: 320px;
    }
    p {
      padding-bottom: .4em;
    }
    .content-title {
      font-size: 22px;
      span {
        color: #6bb405;
      }
    }
    .content-description {
      padding-bottom: 2em;
      font-size: 16px;
      color: #606060;
    }
    .check {
      display: block;
      margin: 12px 0 35px;
      color: #7f7f7f;

      & a {
        color: #7f7f7f;
      }
    }
    .b-wrapp-btn {
      padding-left: 60px;
      font-size: 0;
      .btn {
        padding: 10px 30px 12px;
        font-size: 28px;
        color: #fff;
        height: auto;
      }
    }
    .description {
      padding: 25px 0 0;
      text-align: center;
      margin-left: -120px;
      color: #898989;
    }
    #sms-chat-request {
      margin-top: -3px;
      .btn {
        ._btn(update);
        margin-bottom: 20px;
      }
    }
    #sms-chat-success {
      margin-top: -3px;
      .content-title span {
        color: @naughty-title;
        font-family: @font-face-header;
        font-size: 26px;
        font-weight: normal;
        line-height: 1.3;
      }
      .content-description {
        color: @color-text-muted;
        font-size: 12px;
        font-family: @font-face-basic;
      }
      .b-wrapp-btn {
        margin-bottom: 20px;
        padding-left: 100px;
        padding-top: 15px;
        .btn {
          padding: 2px 20px 1px;
          font-size: 12px;
          background-color: #a6a6a6;
        }
      }
    }
  }
}