// After Payment Message Pop Up
.common_pop_up
    if popupType === "paySuccess"
        .common_pop_up__container
            .common_pop_up__header
                h2.common_pop_up__title
                    if data.features && (data.membership || data.offer || data.lifetimeOffer)
                        != _t('autoPopup','text.pay-success-membership-and-features', {"{upgradepackage}":data.features, "{sitename}":data.siteName, "{br}":"<br/>"})
                    if data.features
                        != _t('autoPopup', 'text.pay-success-features-only',{"{upgradepackage}":data.features,"{sitename}":data.siteName,"{br}":"<br />"})
                    if(data.membership || data.offer || data.lifetimeOffer)
                        != _t('autoPopup', 'text.pay-success-membership-only',{"{sitename}":data.siteName,"{br}":"<br />"})
                    != _t("autoPopup", "text.pay_success_information", {"{br}":"<br>"})
            .pop_up__close
                i.icon-cross(data-close, title=_t("autoPopup", "text.close"))
            .common_pop_up__content
                p= _t("autoPopup", "text.pay-success-description")
                .centered-wrap
                    a.button-b-btn.btn(data-close, href="#")= _t("autoPopup", "text.continue")
// [END] After Payment Message Pop Up