.wrap
    div
      .photo-holder
        a(href=userLink(content.id), target="_blank")
          img(src=content.photos.url, alt="")
        if content.marks && content.marks.hotUser
          span.hot
      .info-holder
        a.title(href=userLink(content.id), target="_blank")= content.login
        .years= _t("rooms", "user_info.years", {"{n}": content.age})
        if content.geo
          .place
            if content.geo.distanceToMe
              = content.geo.distanceToMe + " " +  _t("rooms", "user_info.miles_from_you")
              br
            span= content.geo.location
        .button-holder
          .b-btn-activity
            .b-btn-activity-grid
              a.message-btn.btn-activity.btn-message.private.icon-Chat_action(href="#", data-contact-id=content.id, title=_t('rooms', "button.message_in_chatroom"))
            .b-btn-activity-grid
              a.message-btn.btn-activity.btn-private-message.icon-Mail(href="javascript:void(0)", onclick="talksCall('#{content.id}')", title=_t('rooms', "button.private_message"))
            .b-btn-activity-grid
              - var fav_status = (content.buttons.favorite.activated) ? "activated" : "";
              a.btn-activity.btn-favorite.icon-Favorite(href="#", data-favoritebutton=content.id, class=fav_status, title=_t('rooms', "button.add_friend"))
    if content.about
      .about= content.about