each group in ["local", "international", "ololo"]
  - var items = content.list[group] || []
  if items.length
    .b-room-list
      if "local" === group
        h3= client.country
      else
        h3= "International rooms"
      each item in items
        .b-item
          a.title.rooms-join(href="#", data-room-id=item.rid)= item.title
          if item.count
            p.number= item.count + " participants"
          else
            p.number= "Unoccupied"
          p.empty-room= item.description
