h2.chatroom__title
  | General chatroom
.chat-contact-list.chatroom__sidebar
  each group in ["female", "male"]
    - var items = content.contacts[group] || []
    .rooms-group(class=group, style=!items.length ? "display: none;" : "").chatroom__sex-group
      a.active.chatroom__sex-group__title(href="#")
        span
          | #{group + "s "}
        i.count
          | #{items.length}
      div.chatroom__users
        ul.chatroom__users-list
          each item in items
            != former.contact(item)
.chat-list.chatroom__mainside
  .chatroom__chat-area-wrap
    .chatroom__chat-area
      .chatroom__chat-area__messages.rooms-log.scrollend
        each item in content.messages || []
          != former.message(item)
      .rooms-banner
        if (content.restriction)
          != former[content.restriction.tpl](content.restriction.body)

  .message-input-wrap
    form
      .message-input-thumb
        img(src=content.userAvatar, alt="avatar")
      .message-input-container
        .message-input-inner
          .message-input(contenteditable="")
          button.message-submit(type="submit")
            span.icon-Icon_2