.chat-message
  a.chat-message__thumb(href=userLink(content.uid))
    img(src="#{content.card.photos.url}", alt="")
  .chat-message__body(class=content.body.indexOf('@' + client.card.login + ' ') === 0 ? "personal" : "")
    a.chat-message__title(data-contact-id=content.uid, data-contact-direction="left")
      | #{content.card.login}
    .chat-message__text
      | !{content.body}