.b-feed-wall
  .b-feed__content.b-feed-content-info
    .b-wrap-content.b-feed-content__profile-feed
      .b-profile-feed-middle-content.b-new-info-content
        .b-new-info-content-theme
          img.b-new-info-content__avatr-theme(src=userPrimaryPhoto.avatar)
          .b-new-info-content-theme-grid
        .b-new-info-content-theme__profile
          .b-new-info-content__table
            .b-new-info-content__avatar
              - if(user.statuses)
                - if(user.statuses.onlineStatus)
                  span.b-new-info-content__online-status.online
                - else
                  span.b-new-info-content__online-status
              - if (userPrimaryPhoto.normal || photosAccessFreeUser)
                a(href='/#photo/gallery/id/' + user.id + '/open/0')
                  img.b-new-info-content__img__item.border-radius(src='#{userPrimaryPhoto.avatar}', data-avatar='1')
              - else
                img.b-new-info-content__img__item.border-radius(src='#{userPrimaryPhoto.avatar}', data-avatar='1')
            div.b-new-info-content-theme__text
                div.b-new-info-content-theme__text-name
                  | #{user.login},&nbsp;
                  span.b-new-info-content-theme__text-age #{user.age}
                div.b-new-info-content-theme__profile-nav
                  a.b-new-info-content-theme__profile-nav-item.wink(data-winkbutton=user.id, class=(buttons.wink.activated) ? "activated" : "", title=_t("user", "button.wink"))
                    span.profile-nav-item-icon.icon-Wink
                    span.profile-nav-item-txt.default= _t("user", "button.wink")
                    span.profile-nav-item-txt.alternate= _t("user", "button.winked")
                  a.b-new-info-content-theme__profile-nav-item.favourite(data-favoritebutton=user.id, class=(buttons.favorite.activated)?"activated":"", title=_t("user", "button.friend"))
                    span.profile-nav-item-icon.icon-fav
                    span.profile-nav-item-txt.add-favor Add to Favorites
                    span.profile-nav-item-txt.unfavor Remove from favorites
                  if talksEnabled
                  a.b-new-info-content-theme__profile-nav-item(href='javascript:void(0)', onclick="talksCall('#{user.id}')")
                    span.profile-nav-item-icon.icon-Chat
                    span.profile-nav-item-txt Chat
      .b-profile-feed-footer
        a#general-info.b-profile-feed-footer__link.active
          | General Information
        a#photos.b-profile-feed-footer__link
          | Photos

  .general_info_block(style='display: block;', general-info-container="1")
    .b-feed__content.b-feed-content.b-upload-content
      .b-wrap-content.b-feed-content__profile-feed.b-wrap-content--overflow
        .b-profile-feed-head
          .b-profile-feed-head__content-left.b-profile-feed-head__content-left--1em.head_table__div_table-cell
            | Status:
        .b-profile-feed-middle-content
          .status-box-b__content.grey.border-radius
            .status-b__item #{user.chat_up_line || 'Not given'}
        .b-profile-feed-footer.search-box-b--footer
          .b-profile-feed-footer__post-nav
            .b-profile-feed-footer__post-nav-b

      .b-wrap-content.b-feed-content__profile-feed.b-feed-content__profile-feed--description.b-wrap-content--overflow
        .b-profile-feed-head
          .b-profile-feed-head__content-left.b-profile-feed-head__content-left--1em.head_table__div_table-cell
            | Description:
        .b-profile-feed-middle-content
          .status-box-b__content.grey.border-radius
            .status-b__item
              | #{user.description || 'Not given'}
        .b-profile-feed-footer.search-box-b--footer
          .b-profile-feed-footer__post-nav
            .b-profile-feed-footer__post-nav-b

    .description_block_all
      .description_block_all-row
        .description_block_all-row__field
          .description_block_all-row__field__item
            .b-wrap-content.b-feed-content__profile-feed
              .b-profile-feed-head.description-head
                .b-profile-feed-head__content-left.b-profile-feed-head__content-left--1em.head_table__div_table-cell
                  | General
                .rightside-content-b-header-right.head_table__div_table-cell
              .description_block--content
                table.description_block--content__table
                  tbody
                    tr.description_block--content__table--row
                      td.description_block--content__table__nomination
                        | Age
                      td.description_block--content__table__value
                        | #{user.age}
                    tr.description_block--content__table--row
                      td.description_block--content__table__nomination
                        | City
                      td.description_block--content__table__value
                        | #{user.geo.city}
                    tr.description_block--content__table--row
                      td.description_block--content__table__nomination
                        | Miles away
                      td.description_block--content__table__value
                        | #{user.geo.distanceToMe}
                    tr.description_block--content__table--row
                      td.description_block--content__table__nomination
                        | Orientation
                      td.description_block--content__table__value
                        | #{user.sexual_orientation}
                    tr.description_block--content__table--row
                      td.description_block--content__table__nomination
                        | Marital status
                      td.description_block--content__table__value
                        | -
                    tr.description_block--content__table--row
                      td.description_block--content__table__nomination
                        | Children
                      td.description_block--content__table__value
                        | -
                    tr.description_block--content__table--row
                      td.description_block--content__table__nomination
                        | Living
                      td.description_block--content__table__value
                        | -
                    tr.description_block--content__table--row
                      td.description_block--content__table__nomination
                        | Ethnic origin
                      td.description_block--content__table__value
                        | -
                    tr.description_block--content__table--row
                      td.description_block--content__table__nomination
                        | Religion
                      td.description_block--content__table__value
                        | -
        // 

        .description_block_all-row--separator
        .description_block_all-row__field
          .description_block_all-row__field__item
            .b-wrap-content.b-feed-content__profile-feed
              .b-profile-feed-head.description-head
                .b-profile-feed-head__content-left.b-profile-feed-head__content-left--1em.head_table__div_table-cell
                  | Appearance
              .description_block--content
                table.description_block--content__table
                  tbody
                    tr.description_block--content__table--row
                      td.description_block--content__table__nomination
                        | Height
                      td.description_block--content__table__value
                        | #{user.height}
                    tr.description_block--content__table--row
                      td.description_block--content__table__nomination
                        | Weight
                      td.description_block--content__table__value
                        | -
                    tr.description_block--content__table--row
                      td.description_block--content__table__nomination
                        | Body type
                      td.description_block--content__table__value
                        | -
                    tr.description_block--content__table--row
                      td.description_block--content__table__nomination
                        | Hair color
                      td.description_block--content__table__value
                        | -
                    tr.description_block--content__table--row
                      td.description_block--content__table__nomination
                        | Eyes color
                      td.description_block--content__table__value
                        | -
                    tr.description_block--content__table--row
                      td.description_block--content__table__nomination
                        | Pirsing
                      td.description_block--content__table__value
                        | -
                    tr.description_block--content__table--row
                      td.description_block--content__table__nomination
                        | Tatoo
                      td.description_block--content__table__value
                        | -
                    tr.description_block--content__table--row
                      td.description_block--content__table__nomination
                        | &nbsp;
                      td.description_block--content__table__value
                        | &nbsp;
                    tr.description_block--content__table--row
                      td.description_block--content__table__nomination
                        | &nbsp;
                      td.description_block--content__table__value
                        | &nbsp;


    .description_block_all-row
      .description_block_all-row__field
        .description_block_all-row__field__item
          .b-wrap-content.b-feed-content__profile-feed
            .b-profile-feed-head.description-head
              .b-profile-feed-head__content-left.b-profile-feed-head__content-left--1em.head_table__div_table-cell
                | Background:
            .description_block--content
              table.description_block--content__table
                tbody
                  tr.description_block--content__table--row
                    td.description_block--content__table__nomination
                      | Smoke
                    td.description_block--content__table__value
                      | -
                  tr.description_block--content__table--row
                    td.description_block--content__table__nomination
                      | Drink
                    td.description_block--content__table__value
                      | -
                  tr.description_block--content__table--row
                    td.description_block--content__table__nomination
                      | Education
                    td.description_block--content__table__value
                      | -
                  tr.description_block--content__table--row
                    td.description_block--content__table__nomination
                      | Income
                    td.description_block--content__table__value
                      | -
                  tr.description_block--content__table--row
                    td.description_block--content__table__nomination
                      | &nbsp;
                    td.description_block--content__table__value
                      | &nbsp;
                  tr.description_block--content__table--row
                    td.description_block--content__table__nomination
                      | &nbsp;
                    td.description_block--content__table__value
                      | &nbsp;

      .description_block_all-row--separator
      .description_block_all-row__field
        .description_block_all-row__field__item
          .b-wrap-content.b-feed-content__profile-feed
            .b-profile-feed-head.description-head
              .b-profile-feed-head__content-left.b-profile-feed-head__content-left--1em.head_table__div_table-cell
                | Looking for:
            .description_block--content
              table.description_block--content__table
                tbody
                  tr.description_block--content__table--row
                    td.description_block--content__table__nomination
                      | Looking for gender
                    td.description_block--content__table__value
                      | -
                  tr.description_block--content__table--row
                    td.description_block--content__table__nomination
                      | Looking for age
                    td.description_block--content__table__value
                      | -
                  tr.description_block--content__table--row
                    td.description_block--content__table__nomination
                      | Looking for city, radius
                    td.description_block--content__table__value
                      | -
                  tr.description_block--content__table--row
                    td.description_block--content__table__nomination
                      | Type of photo
                    td.description_block--content__table__value
                      | -
                  tr.description_block--content__table--row
                    td.description_block--content__table__nomination
                      | Looking for ethnic origin
                    td.description_block--content__table__value
                      | -
                  tr.description_block--content__table--row
                    td.description_block--content__table__nomination
                      | Looking for religion
                    td.description_block--content__table__value
                      | -

  .photos_block(style='display: none;')
    div.b-feed__content.b-feed-content.b-two-photo-content
      div.b-wrap-content.b-feed-content__profile-feed
        div.b-profile-feed-head.photos
          h2.photos__title My photos
          p.photos__edit
        div.b-profile-feed-middle-content.foto-grid_block
          div.middle-content__foto-grid(photos-container="1")

  .videos_block(style='display: none;')
    div.b-feed__content.b-feed-content.b-two-photo-content
      div.b-wrap-content.b-feed-content__profile-feed
        div.b-profile-feed-head.photos
          h2.photos__title My videos
          p.photos__edit
        div.b-profile-feed-middle-content.foto-grid_block
          div.middle-content__foto-grid(videos-container="1")
