@import 'su-mixin.less';
.b-content {
    position: relative;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    padding: 70px 0 0 81px;
    z-index: 1;
}
.b-content__b-left-content {
    width: 50.8125%;
    vertical-align: top;
    min-width: 340px;

    &.vod{
        width: 50%;
    }
}
.b-content__b-right-content{
    margin-left: 27px;
    width: 42.8124%;
    vertical-align: top;
}
/* Filter Feed*/
.b-filter {
    display: table;
}
.b-filter-content__item{
    display: table-cell;
    padding: 0.625em 1em; // 10px 16px;
    white-space: nowrap;
}
.b-filter-content__item-link{
    font-size: 0.75em; //12px;
}
a.item-link--current,
.item-link--current,a.item-link--current:hover,
.item-link--current:hover{
    color: #041b44;
    cursor: default;
}
/* [END] Filter Feed*/

/* Feed block */
.b-feed__content{
    margin-top: 15px;
    width: 100%;
    display: table;
}
.b-feed-content__profile-avatar,
.b-wrap-content--profile-feed{
    display: table-cell;
    vertical-align: top;
}
.b-feed-content__profile-avatar{
    position: relative;
    width: 10.45%;
    min-width: 57px;
}
.b-feed-content__online-status{
    position: absolute;
    top: 4px;
    right: 13px;
    width: 6px;
    height: 6px;
    line-height: 0;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    &.online
    {
      background-color: #24FF00;
      border: 1px solid #2BA800;
    }
}
.b-feed-content__profile-avatar-item{
    .border-radius;
    max-width: 50px;
}
a.b-feed-content__profile-avatar-item-icon,
.b-feed-content__profile-avatar-item-icon,
a.b-feed-content__profile-avatar-item-icon:hover,
a.b-feed-content__profile-avatar-item-icon:hover{
    font-size: 39px;
    color: #0074d7;
    background: #fff;
    border-radius: 5px;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 5px;
}

.b-profile-feed-head{
    position: relative;
}
.b-profile-feed-head__content-feednav-popup--show{
    position: absolute;
    background: #ffffff;
    right: 5px;
    top: 35px;
    -moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
    z-index: 999;
}
.b-content-feednav-popup {
    margin: 0 7px;
}
.b-content-feednav-popup__section{
    border-bottom: 1px solid #eef0f6;
    padding: 10px 0;
}
.b-content-feednav-popup__item {
    padding-bottom: 0px 0 3px; 
}
a.b-content-feednav-popup__item-link,
.b-content-feednav-popup__item-link,
{
    font-size: 0.75em;
    color: #3b5998;
}
a.b-content-feednav-popup__item-link-footer,
.b-content-feednav-popup__item-link-footer{
    .b-content-feednav-popup__item-link;
    display: block;
    padding: 10px 0;
    line-height: 1.4em; //15px;
}
.b-profile-feed-head__content-left{
    font-size: 0.875em; //14px;
    padding: 15px 12px 10px;
    float: left;
    width: 88%;
    max-width: 450px;
    line-height: 1.3em;
}
.b-profile-feed-head__content-right{
    float: right;
    font-size: 0.75em; //12px;
    padding: 15px 0;
}
a.b-profile-feed-head__content-feednav--show,
.b-profile-feed-head__content-feednav--show{
    color:#c6cddd;
    padding: 8px;
    margin-right: 6px;
}
a.b-profile-feed-head__content-feednav--show:hover,
.b-profile-feed-head__content-feednav--show:hover{
    color: @main-link-color;
}
.b-profile-feed-head__content-feednav--show.feednav--show-active,
.b-profile-feed-head__content-feednav--show.feednav--show-active:hover{
    color:#ffffff;
    background: @main-link-color;
}
.b-profile-feed-head__content-nick{
    color: @feed-nick-color;
}
.b-profile-feed-middle-content, .b-profile-feed-footer{
    clear: both;
}
.b-profile-feed-middle-content{
    position: relative;
}
.b-profile-feed-middle-content__item{
    max-width: 100%;
    width: 100%;
    height: auto;
}
.feednav-popup--hide{
    display: none;
}
.b-profile-feed-footer{
    padding: 15px 12px 13px;
    font-size: 0.75em; //12px;
    overflow: hidden;
}
.b-profile-feed-footer__post-time{
    float: left;
    color: #a0abbf;
    font-size: 0.875em; //11px;
}
.b-profile-feed-footer__post-nav{
    float: right;
}
.post-nav-b__item{
    display: inline-block;
    margin: 0px 0px 0px 15px;
}
.b-profile-short-info{
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    margin: 0 12px;
    padding: 13px 0;
}
.b-profile-short-info__table {
    display: table;
    width: 100%;
}
.b-profile-short-info__table-item {
    display: table-cell;
    padding: 0 5px;
    font-size: 0.8em;
    text-align: center;
}
.b-profile-short-info__table-item-icon{
    color: @main-icon-color;
    padding-right: 5px;
    vertical-align: middle;
    font-size: 1.5em;
    position: relative;
    top: -2px;
}
.b-profile-feed-middle-content__btn-play, .b-profile-feed-middle-content__btn-play-small {
    width: 16%;
    height: 38%;
    background: #000000;
    background: rgba(0,0,0,0.5);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    left: 41%;
    top: 24%;
}
.b-profile-feed-middle-content__btn-play-small{
    width: 28%;
    left: 36%;
    top: 32%;
}
.b-profile-feed-middle-content__btn-play:hover, .b-profile-feed-middle-content__btn-play-small:hover{
    background: @main-btn-color-hover;
}
.b-profile-feed-middle-content__b-play{
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #ffffff;
}
.b-profile-feed-middle-content__btn-play-icon, .b-profile-feed-middle-content__btn-play-icon-small{
    display: table-cell;
    vertical-align: middle;
    font-size: 2.5em;
    text-indent: 0.1em;
}
.b-profile-feed-middle-content__btn-play-icon-small{
    font-size: 1.25em;
}
.b-profile-feed-middle-content__short-info-video{
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000000;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    color: #ffffff;
    font-size: 0.75em;
    display: table;
}
.b-left-short-info-video {
    max-width: 440px;
    line-height: 1.3em;
    width: 85%;
    display: table-cell;
    vertical-align: top;
    padding: 10px 5px;
}
.b-right-short-info-video-time {
    float: right;
    background: #000000;
    background: rgba(0,0,0,0.4);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 6px;
    display: table-cell;
    vertical-align: top;
    margin: 6px;
}
.b-profile-feed-middle-content__btn {
    position: absolute;
    background: @main-btn-color;
    padding: 0.75em 2.5em;
    color: #fff;
    left: 50%;
    top: 50%;
    text-align: center;
    border-radius: 5px;
    font-size: 0.875em;
    margin-left: -5.5em;
    margin-top: -1em;
    border-bottom: 2px solid #00447e;
}
.b-profile-feed-middle-content__btn:hover{
    background: @main-btn-color-hover;
}
.b-new-video-content,.b-liveshow-content {
    .b-profile-feed-middle-content {
        height: 220px;
        min-height: auto;
        overflow: hidden;
    }
}
.rightside__content-b{
    padding: 15px 13px 20px;
    margin-bottom: 15px;
}

.rightside-content-b-header-title-left {
    float: left;
}
.rightside-content-b-header-right{
    float: right;
}
.rightside-content-b-header-title-icon {
    padding-right: 4px;
    vertical-align: middle;
    color: @main-icon-color;;
    font-size: 1.4em;
    position: relative;
    top: -2px;
}
.rightside__content-b-middle{
    clear: both;
}
.rightside__content-b-middle{
    overflow: hidden;
    position: relative;
}
.rightside-content-b-header-right-link{
    font-size: 0.75em; //12px;
    vertical-align: top;
}
.rightside__content-b-header{
    overflow: hidden;

}
.rightside__grid {
    width: 167%;
}
.rightside__grid-item, .rightside__grid-item-video {
    float: left;
    margin-right: 8px;
    width: 17%;
}
.rightside__grid-item-video{
    width: 19%;
    position: relative;
    margin-right: 11px;
}
.rightside__grid-item-link{
    position: relative;
    display: block;
    height:99px;
    overflow:hidden;
}
.rightside__grid-item-link-img{
    display: block;
    width: 100%;
    max-width: 100%;
}
.rightside__grid-item--photo-counter {
    position: absolute;
    bottom: 2px;
    right: 2px;
    background: #000000;
    background: rgba(0,0,0,0.5);
    padding: 5px;
    color: #e1e1e3;
    font-size: 0.75em; //12px;
    vertical-align: bottom;
    .border-radius;
}
.rightside__grid-item--photo-counter-icon {
    margin-right: 5px;
    font-size: 1.3em; //16px;
    display: inline-block;
    vertical-align: bottom;
    }
.rightside__grid-item-profile-b-info {
    margin: 7px 0 0;
}
a.grid-item-profile-b-info__name,
.grid-item-profile-b-info__name{
    font-size: 0.875em; //14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    padding-bottom: 2px;

}
a.grid-item-profile-b-info__name-video,
.grid-item-profile-b-info__name-video{
    font-size: 0.75em; //12px;
    display: block;
}
.grid-item-profile-b-info__age{
    font-size: 0.75em; //12px;
    margin-top: 5px;
    display: block;
    padding-bottom: 2px;
}
.grid-item-profile-b-info__age-icon {
    color: @main-icon-color;
    font-size: 1.3em;
    margin: 0px 5px 0 0;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
}
.rightside__grid-gradient--hide-item {
    position: absolute;
    top: 0px;
    right: -20px;
    width: 20px;
    height: 100%;
    -moz-box-shadow: -12px 1px 26px rgba(255,255,255,0.8);
    -webkit-box-shadow: -12px 1px 26px rgba(255,255,255,0.8);
    box-shadow: -12px 1px 26px rgba(255,255,255,0.8);
}
.rightside__grid-gradient--hide-item--prev {
    right: auto;
    left: -20px;
    -webkit-box-shadow: 12px 1px 26px rgba(255,255,255,.8);
    -moz-box-shadow: 12px 1px 26px rgba(255,255,255,.8);
    box-shadow: 12px 1px 26px rgba(255,255,255,.8);
}
.rightside__item-arrow-link--show-more,
a.rightside__item-arrow-link--show-more,
.rightside__item-arrow-link--show-more:hover,
a.rightside__item-arrow-link--show-more:hover
{
    position: absolute;
    right: -7px;
    top: 50%;
    font-size: 2.5em;
    color: #ffffff;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    height: 100%;
    margin-top: -1em;
}
.b-banner__item{
    width: 91.2%;
    background: #041723;
    height: 90px;
    .border-radius;
}
.b-banner__item img{
    max-width: 100%;
    width: 100%;
}
.b-feed-content__comment {
    background: #f1f3f8;
    margin: 0 10px 20px;
    border-radius: 5px;
    padding: 10px;
}
.b-comment__item{
    position: relative;
    padding: 10px 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #dcdfe5;
    display: table;
    width: 100%;

    &:first-child{
        padding: 0 0 10px;
        border-top: 0;
    }
    &:last-child{
        padding: 10px 0 0;
        border-bottom: 0;
    }
}

.b-comment__item-avatar, .b-comment__item-info-massage{
    display: inline-block;
    vertical-align: middle;
    display: table-cell;
}
.b-comment__item-avatar{
    width: 11%;
    min-width: 45px;
}
.b-comment__item-info-massage {
    margin-left: 5px;
    width: 80%;
}
.b-comment__item-comment-time {
    font-size: 0.625em;
    color: #a0abbf;
    position: absolute;
    top: 10px;
    right: 0;
}
.b-comment__item-info-massage-nick{
    font-size: 0.875em; //14px;
    color: @main-link-color;
}
.b-comment__item-info-massage-content{
    font-size: 0.75em; //12px;
    padding: 3px 0px;
}
.b-feed-content__comment--more {
    text-align: center;
    font-size: 0.75em;
    font-weight: 600;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #dcdfe5;

    &:first-child{
        padding: 0 0 10px;
        border-top: 0;
    }
    &:last-child{
        padding: 10px 0 0;
        border-bottom: 0;
    }
}
.b-feed-content__comment--more .comment-more-icon {
  font-size: 1.25em;
  vertical-align: middle;
  margin-right: 3px;
  position: relative;
  bottom: 1px;
}
.b-search{
    display: table;
    width: 100%;
}
.search-box-b{
    width: 89%;
    position: relative;
}

.search-box-b__item {
    border: 0;
    border-radius: 5px;
    width: 100%;
    padding: 7px 27px 7px 7px;
}
.b-comment__item-info-massage-icon{
    position: absolute;
    right: 9px;
    top: 15px;
    font-size: 0.625em;
    color: @main-link-color;
}
.search-box-b:hover .b-comment__item-info-massage-icon{
    color: @main-link-hover;
}
.search-box-b__content{
    position: relative;
}
.b-comment__item-avatar-item{
    .border-radius;
    width: 40px;
}
.b-comment__table{
    display: table;
    width: 100%;
}
.b-comment__table-cell-ava{
    display: table-cell;
    width: 10%;
    min-width: 50px;
}
.b-comment__table-cell{
    display: table-cell;
    width: 100%;
}
/* [END]  Feed block*/
