::-webkit-input-placeholder {
  color: @text-def;
}

:-moz-placeholder {
  color: @text-def;
}

::-moz-placeholder {
  color: @text-def;
}

:-ms-input-placeholder {
  color: @text-def;
}

html {
  scrollbar-face-color: @border-def;
  scrollbar-shadow-color: @border-def;
  scrollbar-3dlight-color: @border-def;
  scrollbar-highlight-color: @border-def;
  scrollbar-darkshadow-color: @border-def;
  scrollbar-arrow-color: none;
  scrollbar-track-color: none;
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: 'Open Sans Light';
  src: url('../fonts/opensans-light-webfont.eot');
  src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/opensans-light-webfont.woff') format('woff'),
      url('../fonts/opensans-light-webfont.ttf')  format('truetype'),
      url('../fonts/opensans-light-webfont.svg#svgFontName') format('svg');
}
@font-face {
  font-weight: 600;
  font-style: normal;
  font-family: 'Open Sans Semibold';
  src: url('../fonts/OpenSans-Semibold.eot');
  src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/OpenSans-Semibold.woff') format('woff'),
      url('../fonts/OpenSans-Semibold.ttf')  format('truetype'),
      url('../fonts/OpenSans-Semibold.svg#svgFontName') format('svg');
}

.clear {
  clear: both;
}

.hidden {
  visibility: hidden !important;
  opacity: 0 !important;
}

.display-none {
  display: none !important;
}

.text-link {
  background: none;
  border: none;
  outline: none;
  text-decoration: underline;
  font: inherit;
  color: inherit;
}

p {
  a {
    color: @text-link;
  }
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}

body {
  height: 100%;
  color: @text-def;
  font: 13px/16px @open-sans-light;
  background: @body-color-bg;

  ::-webkit-scrollbar {
    width: 4px;
    height: 5px;
  }
  ::-webkit-scrollbar-track {
    background: @transparent;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: @grey-darklight;
    &:vertical {
      border-radius: 10px;
      background: @pop-up-border;
    }
  }
  ::-webkit-scrollbar-track-piece  {
    background-color: none;
  }
}

.layout {
  position: relative;
  min-height: 100%;
  &.scrolled {
    .to-top {
      display: block;
    }
  }
  .l-content {
    padding-top: 180px;
    min-height: 500px;
    ._clearfix;
    &.unlogged {
      padding-top: 110px;
    }
    &.search-opened {
      padding-top: 536px;
    }
    &.payment {
      padding-top: 120px;
    }
    .l-frame {
      &.loading {
        &:before {
          position: fixed;
          top: 0;
          left: 0;
          z-index: 600;
          display: block;
          width: 100%;
          height: 100%;
          background: fade(@black, 15%) url("@{img_url}/loader.gif") no-repeat center center;
          content: "";
        }
      }
    }
  }
  .b-content__b-left-content {
    &.loading {
      &:before {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 600;
        display: block;
        width: 100%;
        height: 100%;
        background: fade(@black, 15%) url("@{img_url}/loader.gif") no-repeat center center;
        content: "";
      }
    }
  }
  .loader-wrap {
    display: none;
    text-align: center;
    margin: 26px 0 17px;
    .loader-image {
      display: inline-block;
      margin-right: 6px;
    }
    .loader-tip {
      position: relative;
      top: 2px;
    }
  }
}

.to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  left: -2px;
  z-index: 20;
  outline: none;
  padding: 10px 51px 11px 20px;
  ._radius(0 25px 25px 0);
  font: 16px @open-sans-semibold;
  color: @text-def-dark;
  background: fade(@button-active-light, 90%);
  &:before {
    position: absolute;
    top: 7px;
    right: 7px;
    display: block;
    width: 26px;
    height: 26px;
    background: @sprite_url no-repeat -142px -87px;
    content: "";
  }
  &:hover {
    background: @button-active-light;
  }
  &:active {
    background: fade(@button-active-light, 90%);
  }
}

.switcher {
  display: inline-table;
  ._radius(20px);
  background: fade(@white, 20%);
  &.black {
    background: @switcher-bg;
    .switcher-cell {
      display: table-cell;
      border-left: 1px solid fade(@black, 10%);
      &.active, &.active+.switcher-cell, &:first-child {
        border-left-color: transparent;
      }
      &.active {
        button, a {
          background: @button-active-light;
          &:hover {
            background: @button-active-light;
          }
        }
      }
      button, a {
        color: @text-def-dark;
        &:hover {
          background: fade(@black, 15%);
        }
      }
    }
  }
  &.small {
    font-family: @open-sans-semibold;
    font-weight: 600;
    button, a {
      padding: 7px 10px 7px;
    }
  }
  &.extra-small {
    font-size: 11px;
    button, a {
      padding: 7px 10px;
      width: 70px;
    }
  }
}
.switcher-cell {
  display: table-cell;
  border-left: 1px solid fade(@white, 10%);
  &:first-child {
    button, a {
      ._radius(~'20px 0 0 20px');
      &:hover {
        ._radius(20px);
      }
    }
  }
  &:last-child {
    button, a {
      ._radius(~'0 20px 20px 0');
      &:hover {
        ._radius(20px);
      }
    }
  }
  &.active {
    button, a {
      background: @button-active;
      color: @text-def-dark;
      ._radius(20px);
      &:hover {
        background: @button-active;
      }
    }
  }
  &.active, &.active+.switcher-cell, &:first-child {
    border-left-color: transparent;
  }
  button, a {
    display: block;
    ._box-sizing;
    font: inherit;
    margin: 0;
    padding: 12px 19px;
    background: none;
    outline: none;
    color: @text-def;
    white-space: nowrap;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
    ._radius(20px);
    &:hover {
      background: fade(@white, 15%);
    }
  }
}

.select-widget {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 40px;
  border: 1px solid fade(@white, 25%);
  margin: 0 12px 0 0;
  padding: 0;
  ._radius(20px);
  ._box-sizing;
  text-align: left;
  cursor: pointer;
  &.black {
    border: 1px solid @border-def;
    &:after {
      background-position: -376px -131px;
    }
    &:hover {
      &:after {
        background-position: -376px -131px;
        ._opacity(.85);
      }
    }
    &.active {
      &:after {
        background-position: -376px -143px;
      }
      &:hover {
        &:after {
          background-position: -376px -143px;
          ._opacity(.85);
        }
      }
    }
  }
  &:after {
    position: absolute;
    top: 16px;
    right: 14px;
    width: 11px;
    height: 7px;
    background: @sprite_url no-repeat 0px -56px;
    content: '';
  }
  &:hover {
    &:after {
      background-position: -186px -95px
    }
  }
  &.active {
    &:after {
      background-position: 0px -69px;
    }
    &:hover {
      &:after {
        background-position: -186px -107px;
      }
    }
  }
  &.with-background {
    border: none;
    &:after {
      top: 18px;
    }
    .button {
      &:hover {
        background: fade(@white, 30%);
      }
    }
  }
  &.select-range {
    cursor: default;
    &:after {
      display: none;
    }
    .select-input {
      width: 29px;
    }
    .b-dropdown-menu {
      width: 64%;
    }
  }
  &.small {
    height: 30px;
    &:after {
      top: 11px;
    }
    &.select-range {
      .range-start {
        width: 33%;
        .select-input {
          width: 100%;
          padding-left: 44%;
        }
      }
      .range-end {
        width: 33%;
        float: right;
        .select-input {
          width: 100%;
          padding-right: 44%;
        }
      }
    }
    .value {
      padding: 6px 30px 0 14px;
    }
    input.value {
      padding-bottom: 7px;
    }
    .range-start {
      display: inline-block;
      .select-input {
        padding: 5px 0 4px 14px;
      }
    }
    .range-end {
      display: inline-block;
      .select-input {
        padding: 5px 10px 4px 0;
      }
      .b-dropdown-menu {
        left: 39px;
      }
    }
    .separator {
      padding: 5px 9% 0;
    }
    .b-dropdown-menu {
      top: 36px;
    }
  }
  .value {
    display: block;
    margin: 0;
    padding: 10px 30px 0 14px;
    height: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    z-index: 2;
  }
  .select-single {
    &.active {
      .b-dropdown-menu {
        display: block;
      }
    }
  }
  .range-start {
    display: inline-block;
    vertical-align: top;
    .select-input {
      padding: 10px 0 10px 14px;
    }
  }
  .range-end {
    display: inline-block;
    vertical-align: top;
    .select-input {
      padding: 10px 10px 14px 0;
    }
    .b-dropdown-menu {
      left: 39px;
    }
  }
  .select-input {
    position: relative;
    z-index: 2;
    background: none;
    border: none;
    padding: 10px 30px 10px 13px;
    vertical-align: top;
  }
  .separator {
    padding: 10px 11px 0 8px;
    display: inline-block;
    vertical-align: top;
  }
  .b-dropdown-menu {
    position: absolute;
    top: 46px;
    left: 0px;
    width: 100%;
    &:before {
      display: none;
    }
    &.age_to {
      left: 39px;
    }
    .nav {
      width: auto !important;
      margin: 5px 2px 3px 0;
      padding: 0 6px 5px !important;
      max-height: 181px;
      li {
        padding: 6px 7px;
        margin-bottom: -2px !important;
        ._radius(5px);
        width: 100%;
        cursor: pointer;
        &:hover {
          background: #fff2b2;
        }
      }
      span {
        display:block;
      }
    }
  }
}
@media all and (-webkit-min-device-pixel-ratio:0) {
  .select-widget.select-range .b-dropdown-menu {
    width: 54%;
  }
}

.select-widget {
  &.active {
    .b-dropdown-menu {
      display: block;
    }
  }
}

.form-item-checkbox {
  margin-bottom: 9px;
}
.checkbox-info {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  line-height: 15px;
  word-break: break-all;
  input[type="checkbox"] {
    float: left;
    margin-right: 8px;
    position: relative;
    ._opacity(.7);
  }
  &:hover {
    cursor: pointer;
  }
}

.content-top {
  position: relative;
  z-index: 5;
  width: 980px;
  margin: 0 auto;
  .sidebar-holder {
    float: right;
    width: 240px;
  }
  .content-settings {
    margin-right: 270px;
  }
  .switcher {
    float: left;
  }
  .switcher-cell {
    button, a {
      max-width: 130px;
    }
  }
}

.content-main {
  position: relative;
  z-index: 2;
  ._clearfix;
  &.left-sidebar {
    .sidebar {
      float: left;
      width: 190px;
    }
    .main-column {
      margin: 0 0 0 220px;
    }
  }
  &.no-sidebar {
    .main-column {
      margin: 0;
    }
  }
}

.main-column {
  margin-right: 270px;
}

.naughty-menu {
  display: none;
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  z-index: 4;
  background: fade(@white, 15%);
  padding: 7px 5px 10px;
  text-align: center;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  .description {
    font-size: 11px;
    padding: 0 30px;
    line-height: 14px;
    margin-bottom: 7px;
  }
}
.b-blur-message {
  display: none;
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  width: 150px;
  margin-left: -75px;
  text-align: center;
  margin-top: -15px;
  font-size: 16px;
  font-family: @open-sans-semibold;
  font-weight: 600;
}

.sidebar {
  float: right;
  width: 240px;
  position: relative;
  z-index: 20;
}
.sidebar-widget {
  position: relative;
  background: fade(@white, 20%);
  ._radius(10px);
  padding: 12px 15px 15px;
  margin-bottom: 10px;
  text-align: center;
  overflow: hidden;
  span {
    display: block;
    margin-bottom: 10px;
    &.large {
      font: 16px @open-sans-semibold;
      line-height: 18px;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 12px;
      &.margin {
        margin-right: 40px;
        margin-left: 40px;
      }
    }
    &.outlined {
      border: 1px solid fade(@white, 30%);
      ._radius(10px);
      padding: 12px 14px;
      margin-bottom: 16px;
      text-align: left;
      outline: none;
      padding-right: 2px;
    }
    &.textarea {
      max-height: 110px;
      overflow: auto;
      margin-bottom: 0;
      padding-bottom: 2px;
      padding-right: 13px;
    }
  }
  .btn {
    width: 100%;
    &.short {
      width: 156px;
      float: right;
    }
  }
  .widget-banner {
    text-align: center;
    padding-top: 3px;
    display: block;
    img {
      display: inline-block;
    }
  }
  .tip-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
  .refresh {
    position: relative;
    width: 40px;
    height: 40px;
    background: fade(@white, 20%);
    ._radius(20px);
    float: left;
    outline: none;
    &:after {
      position: absolute;
      top: 9px;
      right: 7px;
      width: 25px;
      height: 23px;
      background: @sprite_url no-repeat -143px -128px;
      content: '';
    }
    &:hover {
      background: fade(@white, 30%);
    }
    &:active {
      background: fade(@white, 20%);
    }
  }
}
.sidebar-section {
  margin-top: 23px;
  padding: 24px 0 0;
  border-top: 1px solid fade(@white, 30%);
  .title {
    margin-bottom: 8px;
    display: inline-block;
    color: @text-active;
  }
  ul {
    color: @text-active;
    list-style-type: none;
    font-size: 11px;
    line-height: 15px;
    li {
      position: relative;
      color: @text-def;
      padding-left: 9px;
      margin-bottom: 5px;
      &:before {
        content: '';
        position: absolute;
        top: 6px;
        left: 0;
        background: @button-active-light;
        width: 5px;
        height: 5px;
        ._radius(4px);
      }
    }
  }
}

.tip-button {
  display: inline-block;
  text-align: center;
  font: 11px @open-sans-semibold;
  background: fade(@white, 20%);
  ._radius(20px);
  color: inherit;
  padding: 2px;
  ._box-sizing;
  height: 16px;
  min-width: 16px;
  outline: none;
  &.info {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: 700;
    font-size: 12px;
    padding: 0;
  }
  &:hover {
    background: fade(@white, 30%);
  }
  &:active {
    background: fade(@white, 20%);
  }
  &.black {
    color: @text-def-dark;
    background: fade(@black, 20%);
    &:hover {
      background: fade(@black, 15%);
    }
    &:active {
      background: fade(@black, 20%);
    }
  }
  &.grey {
    color: @text-def-dark;
    background: fade(@black, 10%);
    &:hover {
      background: fade(@black, 15%);
    }
    &:active {
      background: fade(@black, 10%);
    }
  }
}

.b-dropdown-menu {
  display: none;
  position: absolute;
  background: @white;
  ._radius(10px);
  color: @text-def-dark;
  z-index: 20;
  &.active {
    display: block;
  }
  &:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 50%;
    margin-left: -5px;
    width: 9px;
    height: 4px;
    background: @sprite_url no-repeat -114px -55px;
  }
  .nav {
    overflow: hidden;
    overflow-y: scroll;
  }
}
.btn {
  ._radius(20px);
  ._buttons(@white);
  display: inline-block;
  padding: 13px 20px 11px;
  outline: none;
  border: none;
  color: @text-def-dark;
  text-decoration: none;
  text-shadow: none;
  font: 600 16px/1em @open-sans-semibold;
  cursor: pointer;
  ._box-sizing;
  text-align: center;
  &.small {
    padding: 8px 15px 9px;
    overflow: hidden;
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &:hover {

  }
  &:active,
  &.active {

  }
  &.green {
    ._buttons(#66cc66);
  }
  &.orange {
    ._buttons(#f2c161);
    background: fade(#f2c161, 80%);
  }
  &.grey {
    ._buttons(#d7cfd0);
  }
  &.disabled {
    ._buttons(#d7cfd0);
    cursor: default;
    background: @button-disabled;
    color: @text-light;
  }
  &.facebook {
    ._buttons(#4c68af);
    color: @text-def;
  }
}

.meta-button-wrap {
  position: absolute;
  top: 5px;
  right: 5px;
  .btn-meta {
    position: relative;
    outline: none;
    display: inline-block;
    vertical-align: top;
    width: 25px;
    height: 35px;
    background: none;
    &:after {
      content: '';
      position: absolute;
      top: 8px;
      left: 5px;
      width: 15px;
      height: 15px;
      background: @sprite_url no-repeat -217px -76px;
    }
    &:hover {
      &:after {
        ._opacity(.7);
      }
    }
    &.btn-settings {
      &:after {
        background-position: -193px -77px;
      }
    }
    &.btn-close {
      &:after {
        background-position: -217px -76px;
      }
    }
  }
}

.upgrade-banner {
  padding: 13px 15px;
  ._box-sizing;
  ._radius(10px);
  background: fade(@white, 90%);
  font-family: @open-sans-semibold;
  font-weight: 600;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  .title {
    color: @text-def-dark;
  }
}

iframe {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 39px;
}

input,
textarea,
button {
  border: none;
}

textarea {
  width: 100%;
  ._box-sizing();
  color: @text-def;
  ._transition(.2s);
  resize: none;
  background: transparent;
  font-family: inherit;
  line-height: 18px;
  font-size: 13px;
}

.textarea-wrap {
  border: 1px solid fade(@white, 25%);
  ._radius(10px);
  padding: 6px 2px 9px 0;
  &.black {
    border-color: @border-def;
    textarea {
      color: @text-def-dark;
    }
  }
}

textarea {
  padding: 4px 0 4px 14px;
  line-height: 16px;
  min-height: 38px;
  &::-webkit-scrollbar-thumb {
    &:vertical {
      background: #83393f;
    }
  }
  &.long {
    min-height: 88px;
  }
}

.b-dropdown-menu {
  display: none;
  cursor: default;
}

input[type="radio"] {
  ._radio;
}

input[type="checkbox"] {
  ._checkbox;
}

.error {
  input {
    border: 1px solid @error-border;;
    &::-webkit-input-placeholder {
    }
    &:-moz-placeholder {

    }
    &:focus {

    }
  }
}

.select-wrap {
  position: relative;
  .value {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 40px;
    padding: 10px 25px 0 15px;
    ._radius(25px);
    border: 1px solid @border-def;
    background: transparent;
    font-family: inherit;
    line-height: 18px;
    font-size: 13px;
    color: @text-def-dark;
    ._box-sizing();
    &:after {
      content: '';
      position: absolute;
      top: 14px;
      right: 12px;
      width: 13px;
      height: 10px;
      background: @sprite_url no-repeat -376px -129px;
    }
  }
  &.active {
    .value {
      &:after {
        background-position: -376px -142px;
      }
    }
  }
}

.select {
  /*
  position: absolute;
  top: 0;
  left: 0;
  */
  z-index: 2;
  width: 100%;
  height: 40px;
  font-family: inherit;
  line-height: 18px;
  font-size: 13px;
  color: @text-def-dark;
  ._box-sizing();
  cursor: pointer;
}
.b-side-feedback {
  ._transform (rotate, -90deg);
  ._transform-origin(100%, 100%, 0);
  position: fixed;
  top: 50%;
  right: 0;
  margin: -30px 0 0 0;
  z-index: 800;
  .b-tooltip {
    ._transform (rotate, 90deg);
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -125px;
    right: -25px;
    padding: 8px 10px;
    width: 135px;
    color: @text-light;
    font-size: 11px;
    text-align: center;
    border: 1px solid @border-def;
    ._radius(5px);
    background: @white;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 100%;
      width: 0;
      height: 0;
    }
    &:before {
      margin-top: -6px;
      border: 8px solid transparent;
      border-left: 8px solid #ccc;
    }
    &:after {
      margin-top: -4px;
      border: 6px solid transparent;
      border-left: 6px solid @white;
    }
    &.active {
      display: block;
      ._opacity(1);
      visibility: visible;
    }
    &.bug {
      display: none;
    }
  }
  &:hover .b-tooltip {
    visibility: visible;
    opacity: 1;
  }
}
.btn.btn-side-feedback {
  padding: 10px 15px;
  font-size: 15px;
  font: 16px @open-sans-semibold;
  color: @text-def-dark;
  background: fade(@button-active-light, 90%);
  ._radius(10px 10px 0 0);
  &:hover {
    background: @button-active-light;
  }
  &:active {
    background: fade(@button-active-light, 90%);
  }
}


.b-suggest {
  ._transition(.3s);
  ._radius(5px);
  ._box-sizing;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  visibility: hidden;
  margin: 5px 0 0;
  padding: 9px 0;
  width: 100%;
  border: 1px solid @pop-up-border;
  color: @blue-light;
  background: @white;
  opacity: 0;
  filter: alpha(opacity=95);
  &.active {
    ._transition(opacity .1s);
    visibility: visible;
    opacity: 1;
    &:before {
      position: absolute;
      top: -7px;
      left: 11px;
      width: 13px;
      height: 8px;
      background: @sprite_url no-repeat -50px -64px;
      content: '';
    }
  }
  .suggest-item {
    ._box-sizing;
    padding: 0 8px;
    line-height: 12px;
    margin-top: 13px;
    width: 100%;
    word-wrap: break-word;
    cursor: pointer;
    &:first-child {
      margin-top: 0;
    }
    &:hover {
      background: @input-hover;
    }
  }
}

.b-unexpected-error {
  ._box-sizing;
  ._transition(1s);
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 501;
  visibility: hidden;
  padding: 15px;
  min-width: 100px;
  max-width: 50%;
  border: 1px solid @color-theme-base;
  border-color: rgba(255, 116, 116, 0.25);
  background: #ffefef;
  background: rgba(255, 239, 239, 0.95);
  color: @color-theme-base;
  opacity: 0;
  filter: alpha(opacity=95);
  &.active {
    ._transition(opacity .2s);
    visibility: visible;
    opacity: 1;
  }
}
.my-profile-details,
.w-user-details {
  .b-tabs {
    height: 38px;
    width: 100%;
    border-top: 1px solid @button-border;
    border-bottom: 1px solid @button-border;
    ._radius(5px 5px 0 0);
    .b-tab-single {
      display: inline-block;
      vertical-align: top;
      width: 33.33%;
      ._box-sizing;
      ._gradient(@white, @grey-btn-end);
      border-right: 1px solid @button-border;
      ._shadow(1px 0 0 fade(@white, 50%));
      ._shadow(0 2px 3px fade(@black, 20%));
      .ie8 & {
        background-color: #f2f2f2;
      }
      .ie9 & {
        background-color: #f2f2f2;
      }
      &:first-child {
        ._radius(5px 0 0 0);
        border-left: 1px solid @button-border;
      }
      &:last-child {
        ._radius(0 5px 0 0);
        border-right: 1px solid @button-border;
      }
      &:hover {
        ._gradient(@white, @grey-btn-end-hover);
      }
      &.active {
        position: relative;
        top: -5px;
        height: 44px;
        background: @white;
        border: none !important;
        ._shadow(0 2px 4px fade(@black, 20%));
        ._radius(5px 5px 0 0);
        .b-tab-button {
          color: @text-def;
          padding-top: 5px;
          height: 44px;
        }
      }
      .b-tab-button {
        width: 100%;
        height: 39px;
        display: inline-block;
        color: @blue-light;
        outline: none;
        background: none;
        font-family: @open-sans-semibold;
        font-size: 14px;
      }
    }
  }
  .b-tabs-content {
    position: relative;
    z-index: 2;
    background: @white;
    ._shadow(0 2px 3px fade(@black, 20%));
    ._radius(0 0 5px 5px);
    .b-tab-content-single {
      padding: 20px 0;
      overflow: hidden;
    }
    .looking-for-logo {
      display: inline-block;
      width: 33.33%;
      margin-top: 11px;
      position: relative;
      &:after {
        content: '';
        display: block;
        background: @sprite_url no-repeat -231px -275px;
        width: 123px;
        height: 127px;
        margin: auto;
      }
    }
  }
   .data-column-wrap {
    width: 100%;
    .data-single {
      display: inline-block;
      width: 33.33%;
      padding: 0 20px 18px 20px;
      text-align: left;
      ._box-sizing;
      border-right: 1px solid @separator;
      float: left;
      /*&:first-child {
        margin-top: -3px;
      }
      &:last-child {
        margin-bottom: -3px;
      }*/
      &:nth-child(3n) {
        border-right: none;
      }
      span {
        display: block;
        line-height: 18px;
        &.title {
          color: @text-light;
        }
      }
    }
  }
}

@media (max-width: 1230px) {
  .layout .l-content {
    &.search-opened {
      padding-top: 653px;
    }
  }
}

.ie9 {
  .pattern-bg {
    &:before, &:after {
      display: none;
    }
  }
  .pattern-inner {
    &:before, &:after {
      display: none;
    }
  }
}

.ie8 {
  .textarea-wrap {
    border: 1px solid #8a5055;
  }
  .btn {
    &.green {
      background: #7dd37c;
    }
    &.facebook {
      background: #4b68af;
    }
  }
  .main-column {
    overflow: hidden;
  }
  .pattern-bg {
    &:before, &:after {
      display: none;
    }
  }
  .pattern-inner {
    &:before, &:after {
      display: none;
    }
  }
  .sidebar-widget {
    background: #282828;
    .refresh {
      background: #795e61;
    }
  }
  .tip-button {
    background: #836062;
  }
  .select-widget {
    border: 1px solid #8a5055;
    .button {
      background: #423032;
    }
  }
  .upgrade-banner {
    background: #282828;
  }
}


/*----------------PopUp------------------------------------------------------*/
.pop_up-overlay {
  background: url(~"@{main-img_url}/transp.png");
  width: 100%;
  height: 100%;
  z-index: 1001;
  position: fixed;
}

@import "su-theme.less";

@media screen and (max-width: 1210px) {
    .peoples_grid__field__item-message-text{
        display: none;
        float: left;
    }
    .peoples_grid__field__item-message{
        background: none;
        width: auto;
        min-width: 0px;
        padding-right: 5px;
    }
     .peoples_grid__field__item-message_icon {
        font-size: 2.2em;
        float: none;
        float: left;
        position: absolute;
        left: -28px;
        top: 4px;
    }
}
@media screen and (max-width: 970px) {
    body{
        font-size: 13px;
    }

    .b-right-content__pp-bg{
        margin-top: 0;
    }
    .field-b__label{
        min-width: 128px;
    }
    .b-content-next-pp__b-right-content .field-b__label{
    min-width: 95px;
    }
    .b-profile-short-info__table-item-icon{
        font-size: 1.4em;
    }
    .wrapper-vod-b-item{
        width: 50%;
    }
    .wrapper-photo-b-item{
        width: 50%;
    }
    .b-content__b-left-content--inbox{
        min-width: 400px;
    }
    .b-packages .packages-list {
        width: 100%;
        padding: 0 10px;
    }
}
@media screen and (max-width: 850px) {
    .b-content__b-left-content--inbox{
        width: 100%;
        padding-right: 15px;
    }
    .b-content__b-right-content--inbox{
        display: none;
    }
    .profile-nav-item-txt{
        display: none;
    }
    .content-pp-new-packages-wrap { padding: 0 5px; }
    .b-packages .packages-list {
        padding: 0;
        .package {
            label {
                .price {
                    .amount { font-size: 2em; }
                    .currency, .cent { font-size: 1em; }
                    .cent { margin-top: 0; }
                    .period { margin-left: -18px; }
                }
            }
        }
    }
} 
@media screen and (max-width: 750px) {
        body{
        font-size: 16px;
    }
    .b-content__b-left-content, .b-content-pp__b-left-content{
        width: 100%;
        padding-right: 15px;

        &.vod{
            width: 100%;
        }
        &.photo{
            width: 100%;
        }
    }
    .b-content__b-right-content{
        display: none;
    }

    .b-content-pp__b-right-content{
        display: none;
    }
        .field-b__label{
        min-width: 160px;
    }
    .b-content-next-pp__b-right-content{
        margin-left: 0;
        width: 100%;
        padding-right: 15px;
    }
    .b-content-pp__b-left-content .b-left-content__footer{
        display: none;
    }
    .b-content-next-pp__b-right-content .b-left-content__footer{
        display: block;
        text-align: center;
        margin: 30px 25px 20px;
    }
    .b-content-next-pp__pay-btn-b{
        width: 100%;
        max-width: 400px;
        text-align: center;
        margin: 30px auto 0px;
        float: none;
    }
    .wrapper-vod-b-item{
        width: 33%;
    }
    .wrapper-photo-b-item{
        width: 33%;
    }
    .b-content__b-right-content_nearby{
        display: none;
    }
    .b-content__b-left-content_nearby{
        width: 100%;
        padding-right: 15px;
    }
        .peoples_grid__field__item-message-text{
        display: block;
    }
    .peoples_grid__field__item-message {
        background: #ECF0F8;
}
    .peoples_grid__field__item-message_icon {
        font-size: 1em;
        float: left;
        position: relative;
        left: 4px;
        margin-right: 10px;
        top: 0;
    }
    .profile-nav-item-txt{
        display: inline-block;
    }

    .photo_pop_up__content-wrapper{
        padding-right: 0
    }
    .photo_pop_up__content-wrapper-right{
        display: block;
        position: relative;
        width: 100%;
    }
    .photo_pop_up__content-wrapper .comments-header-text__close{
        display: block;
    }
    .photo_pop_up__comments-header .comments-header-text__close{
        display: none;
    }
    .comments-header-avatar{
        width: 9%;
    }
    .b-chat__item-avatar--profile_page{
        width: 8%;
    }
    .action-block-feeds-icon .action-block-feeds-window{
        left: -80px;
    }
    .action-block-feeds-icon .action-block-feeds-window-head-icon-arrow-up{
        right: 5px;
        left: auto;
    }
}
@media screen and (max-width: 630px) {
    .item-pack-b__vod-b{
        display: none;
    }

}
@media screen and (max-width: 609px){
    .peoples_grid__field__item-message-text{
        display: none;
    }
   .peoples_grid__field__item-message{
        background: none;
        width: auto;
        min-width: 0px;
        padding-right: 5px;
    }
    .peoples_grid__field__item-message_icon {
        font-size: 2.2em;
        float: left;
        position: absolute;
        left: -30px;
        top: 12px;
    }
}
@media screen and (max-width: 600px) {
    .b-filter--cams{
        font-size: 0.62em;
    }
}
@media all and (max-height:535px) and (orientation: landscape) {
  .b-main-menu-content-label{
    display: none;
  }
  .b-popup-content--adaptive{
    display: none;
  }
  .adaptive-first{
    display: none;
  }
  .adaptive-second{
    display: block;
  }
}

/** Preloader */
.mixi-frames () {
  50% {
    background-color: #ffffff;
  }
}

@-webkit-keyframes bounce_circleG { .mixi-frames; }
   @-moz-keyframes bounce_circleG { .mixi-frames; }
    @-ms-keyframes bounce_circleG { .mixi-frames; }
     @-o-keyframes bounce_circleG { .mixi-frames; }
        @keyframes bounce_circleG { .mixi-frames; }