@import 'su-vars';
@import 'su-mixin';

.checkbox-item--hide[type="checkbox"],
.radiobox-item--hide[type="radio"] {
    position: absolute;
    left: -9999px;
}
.checkbox-item--hide[type="checkbox"] + label .checkbox-item--show,
.radiobox-item--hide[type="radio"] + label .radiobox-item--show{
     background: transparent;
    margin-right: 0.6em;
    border: 1px solid #b9bec8;
    .border-radius;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: top;
}
.checkbox-item--hide[type="checkbox"]:checked + label .checkbox-item--show,
.radiobox-item--hide[type="radio"]:checked + label .radiobox-item--show{
    background: url('../images/point_cheked.png') 2px 2px no-repeat #ffffff;
}
.checkbox-item--hide[type="checkbox"]:checked + label .checkbox-item__somelabel,
.radiobox-item--hide[type="radio"]:checked + label .checkbox-item__somelabel{
    color: @main-link-color;
}
.checkbox-item, .radiobox-item{
    font-size: 0.7em; //11px;

    &.radiobox-item--activity{
        font-size: 0.75em;
    }
}
.input-item, .field-b__input-b-item{
    width: 100%;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    .border-radius;
    padding: 7px 5px;
    font-size: 0.875em; //14px;
}
.input-item--icon-right{
    padding: 7px 26px 7px 5px;
}

.custom-select {
  background-color: @grey;
  .border-radius;
  height: 32px;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  &__selected-item {
    position: absolute;
    color: #494c53;
    font-weight: normal;
    font-size: 0.875em;
    height: 32px;
    line-height: 32px;
    font-weight: 700;
    padding: 0 2.18em;
    left: 0;
    top: 0;
  }
  &__pointer {
    color: #2989dd;
    position: absolute;
    right: 0.75em;
    top: 50%;
    margin-top: -0.5em;
  }
  select {
    background-color: transparent;
    border: 0;
    color: #494c53;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 0.875em;
    height: 32px;
    padding: 0 2.18em;
    width: 100%;
    filter: alpha(opacity=0);
    opacity: 0;
    cursor: pointer;
  }
}