@font-face {
    font-family: 'icons';
    src:url('../fonts/icons.eot?-x0628a');
    src:url('../fonts/icons.eot?#iefix-x0628a') format('embedded-opentype'),
        url('../fonts/icons.svg?-x0628a#icons') format('svg'),
        url('../fonts/icons.woff?-x0628a') format('woff'),
        url('../fonts/icons.ttf?-x0628a') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-add_favor:before {
    content: "\e600";
}
.icon-Adult:before {
    content: "\e601";
}
.icon-Anonim:before {
    content: "\e602";
}
.icon-arrow-down:before {
    content: "\e603";
}
.icon-arrow-left:before {
    content: "\e604";
}
.icon-arrow-right:before {
    content: "\e605";
}
.icon-arrow-up:before {
    content: "\e606";
}
.icon-Attention:before {
    content: "\e607";
}
.icon-Browse:before {
    content: "\e608";
}
.icon-Calendar:before {
    content: "\e609";
}
.icon-Call:before {
    content: "\e60a";
}
.icon-Chat:before {
    content: "\e60b";
}
.icon-Chat_action:before {
    content: "\e60c";
}
.icon-Check:before {
    content: "\e60d";
}
.icon-Comment:before {
    content: "\e60e";
}
.icon-Comments:before {
    content: "\e60f";
}
.icon-Credits:before {
    content: "\e610";
}
.icon-cross:before {
    content: "\e611";
}
.icon-del_favor:before {
    content: "\e612";
}
.icon-delivery:before {
    content: "\e613";
}
.icon-Edit:before {
    content: "\e614";
}
.icon-fav:before {
    content: "\e615";
}
.icon-Favorite:before {
    content: "\e616";
}
.icon-Feed:before {
    content: "\e617";
}
.icon-Globus:before {
    content: "\e618";
}
.icon-Hd:before {
    content: "\e619";
}
.icon-highlight:before {
    content: "\e61a";
}
.icon-Hint:before {
    content: "\e61b";
}
.icon-Icon_2:before {
    content: "\e61c";
}
.icon-Info:before {
    content: "\e61d";
}
.icon-Invisible:before {
    content: "\e61e";
}
.icon-Kubok:before {
    content: "\e61f";
}
.icon-Like:before {
    content: "\e620";
}
.icon-Location:before {
    content: "\e621";
}
.icon-Location2:before {
    content: "\e622";
}
.icon-Loveplus:before {
    content: "\e623";
}
.icon-Mail:before {
    content: "\e624";
}
.icon-Menu:before {
    content: "\e625";
}
.icon-Miles:before {
    content: "\e626";
}
.icon-News:before {
    content: "\e627";
}
.icon-ontop:before {
    content: "\e628";
}
.icon-Pc:before {
    content: "\e629";
}
.icon-Photo:before {
    content: "\e62a";
}
.icon-play:before {
    content: "\e62b";
}
.icon-Plus:before {
    content: "\e62c";
}
.icon-Present:before {
    content: "\e62d";
}
.icon-Profile:before {
    content: "\e62e";
}
.icon-Search:before {
    content: "\e62f";
}
.icon-Secure:before {
    content: "\e630";
}
.icon-Settings:before {
    content: "\e631";
}
.icon-Social:before {
    content: "\e632";
}
.icon-Star:before {
    content: "\e633";
}
.icon-Video:before {
    content: "\e634";
}
.icon-Videos:before {
    content: "\e635";
}
.icon-Webcam:before {
    content: "\e636";
}
.icon-Wink:before {
    content: "\e637";
}

.icon-cross:before, .icon-arrow-down:before {
  display: inline-block;
  width: 16px;
}