@import 'su-vars';

// MIXINS //
.btn-text-color() when (lightness(@main-btn-color)>50%){
  color: #000;
}
.btn-text-color() when (lightness(@main-btn-color)<=50%){
  color: #fff;
}

/*--- General styles ---*/
*{
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
html{
  min-height: 100%
}
body{
  background: @white;
  font-size: 16px;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  font-weight: 500;
}
.b-page-all-wrap, .b-content, .b-main-menu{
  height: 100%;
}
a, a:link, a:visited{
  color: @main-link-color;
  text-decoration: none;

  &:hover{
    color: @main-link-hover;
  }
}
.inline{
  display: inline-block;
}
.block{
  display: block;
}
.title{
  color: @title-color;
  font-size: 0.95em; //15px;
  margin-bottom: 13px;
}
.shadow{
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.border-radius{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.b-wrap-content {
  display: block;
  width: 100%;
  background: #ffffff;
  .border-radius;
  .shadow;
}
.hide{
  display: none;
}
.close-b{
  position: absolute;
  cursor: pointer;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.content-item-attention{
  color: @attention-color;
}
.relative{
  position: relative;
}
.attention{
  color: #dc1f26;
}

.btn, a.btn, .button-b-btn {
  background: @main-btn-color;
  color: #ffffff;
  padding: 0.75em 2.5em;
  font-size: 0.875em;
  border-radius: 5px;
  border-bottom: 2px solid #00447e;
  margin: 25px auto 0;
  width: 100%;
  max-width: 150px;
  display: block;
  text-align: center;
  position: relative;
  &:hover{
    background: @main-btn-color-hover;
    color: #ffffff;
  }
}