@import 'su-vars';

.noUi-target,.noUi-target *{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -ms-touch-action:none;
    -ms-user-select:none;
    -moz-user-select:none;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.noUi-base{
    width:100%;
    height:100%;
    position:relative;
    background: @nouislider-color-active;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.noUi-origin{
    position:absolute;
    right:0;
    top:0;
    left:0;
    bottom:0;
    background: @nouislider-color;
}
.noUi-handle{
    position:relative;
    z-index:1;
}
.noUi-stacking .noUi-handle{z-index:10;}
.noUi-stacking+.noUi-origin{*z-index:-1;}
.noUi-state-tap .noUi-origin{
    -webkit-transition:left .3s,top .3s;
    transition:left .3s,top .3s;}
.noUi-state-drag *{cursor:inherit!important;}
.noUi-horizontal{height:7px;}
.noUi-horizontal .noUi-handle{
    width:11px;
    height:13px;
    left:-10px;
    top:-4px;}
.noUi-horizontal.noUi-extended{padding:0 15px}
.noUi-horizontal.noUi-extended .noUi-origin{right:-15px}
.noUi-vertical{width:18px}
.noUi-vertical .noUi-handle{width:28px;
    height:34px;
    left:-6px;
    top:-17px
}
.noUi-vertical.noUi-extended{padding:15px 0}
.noUi-vertical.noUi-extended .noUi-origin{bottom:-15px}
.noUi-background{
    background:#FAFAFA;
    box-shadow:inset 0 1px 1px #f0f0f0;}
.noUi-connect{
    background:#3FB8AF;
    box-shadow:inset 0 0 3px rgba(51,51,51,.45);
    -webkit-transition:background 450ms;
    transition:background 450ms;}
.noUi-origin{border-radius:2px}
.noUi-target{
    border-radius:5px;
    box-shadow:inset 0 1px 1px #F0F0F0,0 3px 6px -5px #BBB;}
.noUi-target.noUi-connect{
    box-shadow:inset 0 0 3px rgba(51,51,51,.45),0 3px 6px -5px #BBB;}
.noUi-dragable{cursor:w-resize}
.noUi-vertical .noUi-dragable{cursor:n-resize}
.noUi-handle{

    background: @nouislider-btn-color;
    cursor: w-resize;
}
.noUi-active{}
.noUi-handle:after,.noUi-handle:before{
    content:"";
    display:block;
    position:absolute;
    height:7px;
    width:1px;
    background: @nouislider-btn-elem-color;
    left:3px;top:3px}

.noUi-handle:after{left:6px}
.noUi-vertical .noUi-handle:after,.noUi-vertical .noUi-handle:before{
    width:14px;
    height:1px;
    left:6px;
    top:14px
}
.noUi-vertical .noUi-handle:after{top:17px}[disabled] .noUi-connect,[disabled].noUi-connect{background:#B8B8B8}[disabled] .noUi-handle{cursor:not-allowed}
.noUi-state-blocked .noUi-connect,.noUi-state-blocked.noUi-connect{background:#4FDACF}
