.b-popup-overlay
  .b-popup-table
    .b-popup-cell
      .b-popup.b-popup-funnel.step-2#funnel-popup-item
        .b-popup-content
          .header
            a.btn-close.active#PhotoMotivationClose(href="#", title=_t("popupPhotoUploadMotivation", "button.close"))
            h1.title
              = _t("popupPhotoUploadMotivation", "title.upload_photo")
          .content
            .b-funnel-list-wrap
              .list-title
                = _t("popupPhotoUploadMotivation", "title.pay_attention")
              ul.b-funnel-list
                li
                  = _t("popupPhotoUploadMotivation", "text.members_with_photo_in_search")
                li
                  = _t("popupPhotoUploadMotivation", "text.no_answers_without_photo")
            #PhotoMotivationCloseDragDrop
            .b-search-samples.active#photoMotivationSearchSamplesList
              if users
                each key in [0,1,2]
                  if users[key]
                    - user = users[key]
                    .b-user-single
                      .b-photo
                        .b-photo-link
                          span.overlay
                            | &nbsp;
                          span.b-new(title=_t("popupPhotoUploadMotivation", "tooltip.new_user"))
                            = _t("popupPhotoUploadMotivation", "text.new")
                          .image-holder
                            img.photo.labels-custom(src=user.photos.url, alt=user.login)
                          span.b-photos-count(title="photos quantity")= _t('popupPhotoUploadMotivation', 'value.n_photos', {"{n}": user.photos.count})
                      .b-user-info
                        h2.b-screenname
                          .link
                            span.screenname= user.login
                        .b-main-info
                          .b-age= _t('popupPhotoUploadMotivation', 'value.n_years', {"{n}": user.age})
                          .b-location
                            .location
                              span.city= user.geo.city+","
                              span.country= _t("searchForm", user.geo.country)
                          .b-miles-away= _t('popupPhotoUploadMotivation', 'value.n_miles_from_you', {"{n}": user.geo.distanceToMe})
            .b-nav-btns
              if params.returnUrl
                a.btn.btn-muted.btn-prev.btn-text-def#PhotoMotivationBack
                  = _t("popupPhotoUploadMotivation", "button.back")
              button.btn.btn-next.btn-text-green#PhotoMotivationSave(data-fb-photo-upload="1")
                = _t("popupPhotoUploadMotivation", "button.save")
  .b-loader