.b-page-contact-us {
  .pattern-bg {
   display: none;
  }
  .contact-content {
    margin: 0 auto;
    padding: 25px 0 0 0;
    max-width: 500px;
    position: relative;
    z-index: 2;
  }
  .title {
    margin: 8px 0 10px 0;
    font-size: 26px;
    font-family: @contactUs-title_font;
  }
  .widget-wrap {
    margin-top: 30px;
    ._radius();
    color: @contactUs-text_def_dark;
    clear: both;
    padding: 20px;
    background: @contactUs-widget_bg;
    .description {
      margin-bottom: 21px;
    }
  }
  .btn {
    float: right;
  }
  .field {
    ._clearfix();
    margin-bottom: 10px;
    .select-widget {
      background: @contactUs-input_bg;
      margin-right: 0;
      margin-top: 0;
      float: right;
      position: relative;
      width: 320px;
      &.active {
        .nav {
          display: block;
        }
      }
    }
    .select {
      padding: 5px 0;
    }

    .b-name {
      width: 130px;
      float: left;
      text-align: right;
      margin-top: 11px;
    }
    textarea {
      background: @contactUs-input_bg;
      float: right;
      width: 320px;
    }
  }
  .company-info,
  .b-name {
    text-align: center;
    margin-top: 20px;
  }
}

/*--------------------Contact Us pop-up--------------------------*/
.b-success {
  width: 356px;
  padding: 34px 34px 31px;
  font-family: @contactUs-popup_success_font;
  .success-text {
    p {
      line-height: 20px;
      font-size: 20px;
      text-align: center;
      margin-bottom: 31px;
    }
    .btn-continue {
      display: block;
      height: 30px;
      margin: 0 auto;
      padding: 0 32px;
      width: 122px;
    }
  }
}
.b-popup {
  &.b-contact-us-popup {
    position: relative;
    padding: 10px 25px;
    text-align: center;
    max-width: 250px;
    .btn {
      margin-top: 10px;
      padding: 12px 25px;
    }
  }
}

