@contactUs-shadow: #000;
@contactUs-input_bg: #fff;
@contactUs-title_font: 'dosisregular', Arial, helvetica, sans-serif;
@contactUs-popup_font: 'dosissemibold', Arial, helvetica, sans-serif;
@contactUs-popup_success_font: 'dosisregular', Arial, helvetica, sans-serif;
@contactUs-border_def: #bfbfbf;
@contactUs-widget_bg: #e6e6e6;
@contactUs-text_def_dark: #1a1a1a;