if (coregistration && coregistration.coreg_id)
  input(type="checkbox", name="coreg_profile", id="coreg_profile", value="1", style="position: absolute;")
  span.coreg-field-label= coregistration.label_translation
    span.tip.button= '?'	
    .tip-content!= coregistration.termsString