div.field-check(data-check="1")
  input(type="checkbox", name="coreg_profile", id="coregProfileLookingFor", value="")
  span.coreg-field-label= coregistration.label_translation
    span.tip.button= '?'	
    .tip-content!= coregistration.termsString