div.form-item-checkbox.field-check(data-check="1")
  label.checkbox-info(for="coreg_profile")
    input(type="checkbox", name="coreg_profile", id="coreg_profile", value="")
    span.coreg-field-label= coregistration.label_translation
      span.tip.button= '?'
      p.tip-content!= coregistration.termsString