if video
  each v in video
    -if(v.banner == undefined)
      li.wrapper-vod-b-item
        .wrapper-vod-b-item__video
          a.vod-scene(href='#', scene=v.id)
            img#cover.wrapper-vod-b-item__video-item.js-vod-item(alt=v.title, src=secureReproxy(v.cover))
            .b-profile-feed-middle-content__btn-play-small.js-vod-item
              .b-profile-feed-middle-content__b-play
                i.b-profile-feed-middle-content__btn-play-icon-small.icon-play
            .wrapper-vod-b-item__video-viewed
              |Viewed
            .slider
              ul.rslides
                if v.thumbnails
                  each th in v.thumbnails
                    li
                      img(data-src=secureReproxy(th), src='/assets/static/blank.gif')
        .wrapper-vod-b-item__vod-info-b
          .vod-info-b__title
            =v.title
          .vod-info-b__short-info(style='display:none')
            span.vod-info-b__short-info-comment
              span.short-info-comment__icon.icon-Comment
              |30
            span.vod-info-b__short-info-star
              span.short-info-comment__icon.icon-Comment
              |10
    -else
      li.banner-vod(id=v.id)