.b-wrap-content.b-filter.b-filter--vod
    .adv-filter__search.adv-filter__search--vod
        input#words.adv-filter__search__input(type='text', placeholder='Examples put here', value='')
        .adv-filter__search__icon.icon-Search
    ul.b-filter-content
        li.b-filter-content__item
          span.icon-arrow-down.b-filter-content__item-link
          a#ccname.b-filter-content__item-link(href='#') All categories
        li.b-filter-content__item
          a.b-filter-content__item-link.ffilter(href='#', type='rate') Top rated
        li.b-filter-content__item
          a.b-filter-content__item-link.ffilter(href='#', type='view') Most viewed
      form.adv-filter(style='display:none;')
        .adv-filter__columns
          .adv-filter__column.adv-filter__column--vod
            ul.adv-filter__column__options
          .adv-filter__column.adv-filter__column--vod
            ul.adv-filter__column__options
          .adv-filter__column.adv-filter__column--vod
            ul.adv-filter__column__options
          .adv-filter__column.adv-filter__column--vod
            ul.adv-filter__column__options
