.data-column-wrap
  ul.columns-wrap
    li.col
      .field.select-output-dropdown.dark(data-ui-select)
        .b-name= _t("profileLookingFor", "title.gender")
        .input-holder(data-toggle)
          .value(data-value="")= profile.lookingFor.gender
          .select
            input(type="hidden", value=profile.lookingFor.gender, name="lookingForGender", data-control, id="lookingForGender")
            ul.list
              each gender, key in formParams.values.lookingFor.gender
                li.item(data-item=key)= gender
        .b-error(data-ui-error-text="1")
      .field.location.select-output-dropdown.dark(data-ui-location)
        .b-name= _t("profileLookingFor", "title.location")
        .input-holder(data-toggle)
          .value(data-value)
            input(name="lookingForCountryCode", type="hidden", value=profile.lookingFor.country)
            input.input-value(name="lookingForLocation", type="text", value=profile.lookingFor.location, autocomplete="off", data-control)
          .select.location(data-list)
        .b-error(data-ui-error-text="1")
      .age-wrap
        .b-name= _t("profileLookingFor", "title.age")
        .field.age-from.select-output-dropdown.dark(data-ui-select, data-select-max="lookingForAgeTo")
          .input-holder(data-toggle)
            .value(data-value)
            .select.age-from
              input(type="hidden", value=profile.lookingFor.age.from, name="lookingForAge[from]", data-control, id="lookingForAgeFrom")
              ul.list(data-items-list)
                - for(var i = formParams.values.lookingFor.age.min; i <= formParams.values.lookingFor.age.max; i++)
                  li.item(data-item=i)= i
          .b-error(data-ui-error-text="1")
        span.separator -
        .field.age-to.select-output-dropdown.dark(data-ui-select, data-select-min="lookingForAgeFrom")
          .input-holder(data-toggle)
            .value(data-value)
            .select.age-to
              input(type="hidden", value=profile.lookingFor.age.to, name="lookingForAge[to]", data-control, id="lookingForAgeTo")
              ul.list(data-items-list)
                - for(var i = formParams.values.lookingFor.age.min; i <= formParams.values.lookingFor.age.max; i++)
                  li.item(data-item=i)= i
          .b-error(data-ui-error-text="1")
      .field.select-output-dropdown.dark(data-ui-select)
        .b-name= _t("profileLookingFor", "title.search_radius")
        .input-holder(data-toggle)
          .value(data-value)
          .select
            input(type="hidden", value=profile.lookingFor.distance, name="lookingForDistance", data-control, id="lookingForDistance")
            ul.list(data-items-list)
              each distance, key in formParams.values.lookingFor.distance
                li.item(data-item=key)= distance
        .b-error(data-ui-error-text="1")
      .field#coregPlacementLookingFor.coreg-placement-lookigFor
      .btn-row
        .info-save-status#saveStatus(style="display:none;")
        button.btn-cancel.btn-text-def(data-btn-undo="1")= _t("profileLookingFor", "button.cancel")
        button.btn-save.btn-text-green(data-btn-save="1")= _t("profileLookingFor", "button.save")
    li.col(id='edit-religion')
      if formParams.lookingForItems.indexOf('religion') !== -1
        span.save-status.inactive= _t("profileLookingFor", "text.saved")
        .b-name= _t("profileLookingFor", "title.looking_for_religion")
        ul.b-options-list
          each religion, key in formParams.values.lookingFor.religion
            li
              label
                input(type="checkbox", data-checkbox="1", name='lookingForReligion[]', value=key, checked=(profile.lookingFor.religion.indexOf(key) !== -1) ? true : false)
                span= religion
    li.col(id='edit-race')
      if formParams.lookingForItems.indexOf('race') !== -1
        span.save-status.inactive= _t("profileLookingFor", "text.saved")
        .b-name= _t("profileLookingFor", "title.looking_for_race")
        ul.b-options-list
          each race, key in formParams.values.lookingFor.race
            li
              label
                input(type="checkbox", data-checkbox="1", name='lookingForRace[]', value=key, checked=(profile.lookingFor.race.indexOf(key) !== -1) ? true : false)
                span= race
