.chat-holder
  .chat-contact-list
    .accordion-holder
      .accordion
        each group in contactGroups
          - var items = content.contacts[group] || []
          .rooms-group(class=group, style=!items.length ? "display: none;" : "")
            h4.active= group + "s | "
              label= items.length
              span
            ul
              each item in items
                != former.contact(item)
    a.btn-green.turn-on-button(style="display:none") Turn cam on
  .chat-list
    .chat-list-holder
      .chat-list-wrapper.rooms-log.scrollend
        each item in content.messages || []
          != former.message(item)
      .rooms-banner
        if (content.restriction)
          != former[content.restriction.tpl](content.restriction.body)
    .message-enter-wrap
      .message-enter
        .input
          .input-wrap
            .message-input.rooms-input.autofocus(tabindex=0, contenteditable="true", data-room-id=content.id)
        .submit
          a.btn.btn-send.rooms-submit= "Sent"
