.wrap
    div
      .photo-holder(class=(content.naughtyMode.naughtyClass)?content.naughtyMode.naughtyClass:"")
        img(src=content.photos.url, alt="")
        if content.marks && content.marks.hotUser
          span.hot
      .info-holder
        a.title(href="/user/view/id/" + content.id, target="_blank")= content.login
        .years= _t("rooms", "user_info.years", {"{n}": content.age})
        if content.geo
          .place
            if content.geo.distanceToMe
              = content.geo.distanceToMe + " " +  _t("rooms", "user_info.miles_from_you")
              br
            span= content.geo.location
        .button-holder
          .b-btn-activity
            .b-btn-activity-grid
              a.message-btn.btn-activity.btn-message.private(href="#", data-contact-id=content.id)
            .b-btn-activity-grid
              if (content.talksEnabled)
                a.message-btn.btn-activity.btn-private-message(href="/user/view/id/" + content.id, target="_blank", onclick="Backbone.trigger('Talks.Start', '" + content.id + "'); return false;")
              else
                a.message-btn.btn-activity.btn-private-message(href="/user/view/id/" + content.id, target="_blank")
            .b-btn-activity-grid
              a.btn-activity.btn-favorite(href="#", data-favoritebutton=content.id, class=content.buttons.favorite.activated ? "active" : "")
    if content.about
      .about= content.about
    if (content.buttons && (content.buttons.block || content.buttons.reportProfile))
      .wrap-block-btns
        if (content.buttons.block && content.buttons.block.allowForUser)
          a.block-btn(data-blockbutton=content.id, class=(content.buttons.block.activated)?"activated":"")
            span.default(title=_t("blocked", "tooltip.block_" + content.gender))=_t("blocked", "button.block")
            span.alternate(title=_t("blocked", "tooltip.unblock"))=_t("blocked", "button.unblock")
        if (content.buttons.reportProfile && content.buttons.reportProfile.allowForUser)
          a.report-btn(data-reportbutton=content.id, class=(content.buttons.reportProfile.activated)?"activated":"")
            span.default(title=_t("reportProfile", "tooltip.report"))=_t("reportProfile", "button.report")
            span.alternate=_t("reportProfile", "button.unreport")
