each group in client.orderedRooms
  - var items = content.list[group] || []
  if items.length
    .b-room-list
      if "local" === group
        h3= client.country
      else
        h3= _t("rooms", "title.international_rooms")
      each item in items
        .b-item
          a.title.rooms-join(href="#", data-room-id=item.rid)= item.title
          if item.count
            p.number= _t("rooms", "text.n_participants", {"{n}": item.count})
          else
            p.number.empty-room= _t("rooms", "text.count_participants_unoccupied")
          p= item.description
