@import "vars";
.c-talks-overlay, .overlay#cTalksOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 405;
  overflow: auto;
  width: 100%;
  height: 100%;
  background: @talks-bg-ie-overlay;
  background: @talks-bg-overlay;
}
.c-talks {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -490px;
  margin-top: -300px;
  width: 980px;
  height: 600px;
  ._radius(8px 8px 0 0);
  background: @talks-bg;
  ._shadow(~"0 2px 10px @{talks-shadow}");
  z-index: 405;
  overflow: hidden;

  /* common style */
  .hidden,
  .counter.hidden {
    display: none;
  }
  input[type="checkbox"] {
    margin-right: 5px;
  }
  .counter{
    display: inline-block;
    vertical-align: baseline;
    margin-left: 5px;
    text-align: center;
    color: @talks-color_counter;
    font: bold 11px/20px @talks-def_font;
    ._radius(20px);
    background: @talks-bg_counter;
    min-width: 20px;
    height: 20px;
  }
  .delete {
    display: inline-block;
    vertical-align: baseline;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    ._radius(20px);
    background: lighten(@talks-bg_counter, 8%);;
    &:before {
      content: '';
      display: inline-block;
      vertical-align: top;
      margin-top: 6px;
      width: 8px;
      height: 8px;
      background: @talks-sprite no-repeat -365px -226px;
    }
    &:hover {
      background: @talks-bg_counter;
    }
  }
  .btn-talks {
    display:inline-block;
    text-align:center;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    position:relative;
    font: 12px/2em @font-face-basic;
    padding: 0 10px;
    color: @color-text-base;
    border: 1px solid @color-border-btn;
    border-color: rgba(0,0,0,0);
    background-color:@color-btn;
    height: 24px;
    ._radius(15px);
    vertical-align:middle;
    text-decoration:none;
    box-shadow: 0 1px 1px 0 fade(@black, 35%);
    ._box-sizing;
    ._transition(background-color 0.2s);
    &:hover {
      background-color: darken(@color-btn, 10%);
      color:@color-text-base;
    }
    &:active {
      text-shadow: 0 1px 0 rgba(0,0,0,0.2);
      top:1px;
      box-shadow:0 1px 0 rgba(0,0,0,.1), inset 0 1px 1px rgba(0,0,0,.2);
    }
    ._capitalize();
    &.btn-cancel {
      background: @talks-color_text_screenname;
      background: fade(@talks-color_text_screenname, 95%);
      &:hover {
        background: @talks-color_text_screenname;
      }
    }
  }
  .btn-upgrade {
    ._gradient(@btn_send_gradient_start, @btn_send_gradient_end);
    ._transition(all .1s);
    ._radius(30px);
    ._shadow(~"0px 4px 0px @{color-1-b-shadow-btn-update}, 0px 6px 15px @{btn_send_shadow_color_end}");
    display: inline-block;
    position: relative;
    color: @white;
    text-decoration: none;
    font: 17.82px/1em @font-face-base;
    padding: 8px 10px 7px;
    text-shadow: 0 -1px 0 fade(@black, 40%);
    text-align: center;
    z-index: 1;
    &:hover {
      ._gradient(darken(@btn_send_gradient_start, 5%), darken(@btn_send_gradient_end, 5%));
    }
    &:active {
      ._shadow(~"0px 1px 0px @{btn_send_shadow_color_start}, 0px 2px 7px @{btn_send_shadow_color_end}");
      top: 4px;
    }
  }
  .smiles-tooltip {
    display: none;
    position: absolute;
    bottom: 30px;
    right: -15px;
    padding: 15px;
    width: 247px;
    ._box-sizing;
    border: 1px solid @talks-dropdown_border;
    ._radius(5px);
    background: @talks-dropdown_bg;
    ._shadow(~"0 0 4px @{talks-shadow}");
    z-index: 2;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 100%;
      right: 25px;
      width: 0;
      height: 0;
      border: 5px solid transparent;
    }
    &:before {
      right: 23px;
      margin-bottom: -2px;
      border-width: 7px;
      border-top-color: @talks-dropdown_border;
     }
     &:after {
      border-top-color: @talks-dropdown_bg;
    }
  }
  .smile-item {
    display: inline-block;
    vertical-align: top;
    margin: 1px;
    height: 25px;
    width: 25px;
  }
  .smile-emoji {
    display: inline-block;
    cursor: pointer;
    width: 25px;
    height: 25px;
    background: url(~"@{talks-images_path}/smiles.png") no-repeat;
  }
  .smile-emoji[data-smile="D83DDC4E"] {
    background-position: left 0;
  }
  .smile-emoji[data-smile="D83DDC4D"] {
    background-position: -25px 0;
  }
  .smile-emoji[data-smile="D83DDE20"] {
    background-position: -50px 0;
  }
  .smile-emoji[data-smile="D83CDF7A"] {
    background-position: -75px 0;
  }
  .smile-emoji[data-smile="D83CDF82"] {
    background-position: 0 -25px;
  }
  .smile-emoji[data-smile="D83DDE0A"] {
    background-position: -25px -25px;
  }
  .smile-emoji[data-smile="D83DDE47"] {
    background-position: -50px -25px;
  }
  .smile-emoji[data-smile="D83DDC4F"] {
    background-position: -75px -25px;
  }
  .smile-emoji[data-smile="D83DDD52"] {
    background-position: 0 -50px;
  }
  .smile-emoji[data-smile="26C5"] {
    background-position: -25px -50px;
  }
  .smile-emoji[data-smile="2615"] {
    background-position: -50px -50px;
  }
  .smile-emoji[data-smile="D83DDE15"] {
    background-position: -75px -50px;
  }
  .smile-emoji[data-smile="D83DDE22"] {
    background-position: 0 -75px;
  }
  .smile-emoji[data-smile="D83CDF54"] {
    background-position: -25px -75px;
  }
  .smile-emoji[data-smile="D83DDE49"] {
    background-position: -50px -75px;
  }
  .smile-emoji[data-smile="D83DDC96"] {
    background-position: -75px -75px;
  }
  .smile-emoji[data-smile="D83DDE07"] {
    background-position: 0 -100px;
  }
  .smile-emoji[data-smile="D83DDC8B"] {
    background-position: -25px -100px;
  }
  .smile-emoji[data-smile="D83DDE06"] {
    background-position: -50px -100px;
  }
  .smile-emoji[data-smile="D83DDCB0"] {
    background-position: -75px -100px;
  }
  .smile-emoji[data-smile="D83DDCAA"] {
    background-position: 0 -125px;
  }
  .smile-emoji[data-smile="D83CDFB5"] {
    background-position: -25px -125px;
  }
  .smile-emoji[data-smile="D83DDE36"] {
    background-position: -50px -125px;
  }
  .smile-emoji[data-smile="D83DDC4C"] {
    background-position: -75px -125px;
  }
  .smile-emoji[data-smile="D83CDF39"] {
    background-position: 0 -150px;
  }
  .smile-emoji[data-smile="D83DDE31"] {
    background-position: -25px -150px;
  }
  .smile-emoji[data-smile="D83DDE04"] {
    background-position: -50px -150px;
  }
  .smile-emoji[data-smile="D83DDE0F"] {
    background-position: -75px -150px;
  }
  .smile-emoji[data-smile="D83CDF1F"] {
    background-position: 0 -175px;
  }
  .smile-emoji[data-smile="D83DDE0E"] {
    background-position: -25px -175px;
  }
  .smile-emoji[data-smile="D83DDE1B"] {
    background-position: -50px -175px;
  }
  .smile-emoji[data-smile="2600"] {
    background-position: -75px -175px;
  }
  .smile-emoji[data-smile="D83DDCAD"] {
    background-position: 0 -200px;
  }
  .smile-emoji[data-smile="D83DDE24"] {
    background-position: -25px -200px;
  }
  .smile-emoji[data-smile="D83CDF79"] {
    background-position: -50px -200px;
  }
  .smile-emoji[data-smile="D83DDC4B"] {
    background-position: -75px -200px;
  }
  .smile-emoji[data-smile="D83DDE09"] {
    background-position: 0 -225px;
  }
  .smile-emoji[data-smile="D83DDE1F"] {
    background-position: -25px -225px;
  }
  .dropdown-menu {
    display: none;
    position: absolute;
    padding: 15px 20px 5px;
    max-width: 150px;
    min-width: 120px;
    ._box-sizing;
    border: 1px solid @talks-dropdown_border;
    ._radius(5px);
    background: fade(@talks-dropdown_bg, 95%);
    ._shadow(~"0 0 4px @{talks-shadow}");
    z-index: 2;
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border: 5px solid transparent;
    }
    &:before {
      border-width: 7px;
    }
    .title {
      font: 600 13px @talks-def_font;
    }
    .item {
      display: block;
      margin: 10px 0;
      .alternate {
        display: none;
      }
      &.activated {
        .alternate {
          display: inline;
        }
        .default {
          display: none;
        }
      }
    }
    a.item {
        color: @talks-dropdown_color;
        text-decoration: none;
        background: none;
        outline: none;
        font: 500 13px @talks-def_font;
        text-align: left;
        &:hover {
          text-decoration: underline;
          span {
            text-decoration: underline;
          }
        }
    }
    .item-sep {
      margin: 10px -5px;
      padding: 10px 5px;
      border-top: 1px solid @talks-border;
      border-bottom: 1px solid @talks-border;
    }
  }
  .dropdown-settings {
    width: 150px;
    top: -27px;
    right: 35px;
    &:before,
    &:after {
      top: 35px;
      left: 100%;
    }
     &:before {
      margin-top: -2px;
      border-left-color: @talks-dropdown_border;
     }
     &:after {
      border-left-color: @talks-dropdown_bg;
    }
  }
  .dropdown-info-types {
    padding: 15px 20px 12px;
    width: 165px;
    max-width: 165px;
    top: -25px;
    right: 35px;
    &:before,
    &:after {
      top: 35px;
      left: 100%;
    }
     &:before {
      margin-top: -2px;
      border-left-color: @talks-dropdown_border;
     }
     &:after {
      border-left-color: @talks-dropdown_bg;
    }
    .item-type {
      position: relative;
      margin: 0 0 3px;
      padding-left: 15px;
      &:before {
        content: '';
        position: absolute;
        top: 5px;
        left: 0;
        width: 5px;
        height: 5px;
        ._radius(5px);
      }
    }
    .new-message:before {
      background: @talks-message_color_new;
    }
    .reading:before {
      left: -1px;
      width: 8px;
      height: 8px;
      background: @talks-sprite no-repeat -46px -672px;
    }
    .read:before {
      width: 8px;
      height: 8px;
      background: @talks-sprite no-repeat -55px -672px;
    }
    .flirtcast:before {
      background: @talks-message_color_flirtcast;
    }
    .autoreply:before {
      background: @talks-message_color_autoreply;
    }
    .activity-alert:before {
      background: @talks-message_color_activity;
    }
  }
  .dropdown-more {
    padding: 5px 20px;
    width: 120px;
    top: 30px;
    left: -40px;
    text-align: left;
    &:before,
    &:after {
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
    }
     &:before {
      margin-top: -2px;
      margin-left: -7px;
      border-bottom-color: @talks-dropdown_border;
     }
     &:after {
      border-bottom-color: @talks-dropdown_bg;
    }
  }
  .dropdown-attach {
    padding: 5px 20px;
    width: 120px;
    bottom: 30px;
    left: -15px;
    text-align: left;
    &:before,
    &:after {
      top: 100%;
      left: 25%;
      margin-left: -5px;
    }
     &:before {
      margin-bottom: -2px;
      margin-left: -7px;
      border-top-color: @talks-dropdown_border;
     }
     &:after {
      border-top-color: @talks-dropdown_bg;
    }
  }
  .dropdown-naughty {
    width: 220px;
    max-width: 240px;
    padding: 10px;
    top: -14px;
    right: 97%;
    z-index: 3;
    &:before,
    &:after {
      top: 45%;
      left: 100%;
    }
     &:before {
      margin-top: -2px;
      border-left-color: @talks-dropdown_border;
     }
     &:after {
      border-left-color: @talks-dropdown_bg;
    }
    .text {
      float: left;
      display: table;
      width: 100px;
      height: 64px;
      color: @talks-dropdown_color;
      font-size: 12px;
    }
    .text-wrap {
      display: table-cell;
      vertical-align: middle;
    }
    .buttons-wrap {
      margin-left: 110px;
    }
    .btn-naughty {
      display: block;
      margin: 3px 0 0;
      padding: 3px 5px 4px;
      color: @talks-color_btn_normal;
      font-size: 11px;
      border: none;
      background: @talks-bg_btn_normal;
      &:hover {
        ._opacity(.8);
      }
      &.on {
        color: @talks-color_btn_sexy;
        background: @talks-bg_btn_sexy;
      }
      &.no-limits {
        color: @talks-color_btn_no_limits;
        background: @talks-bg_btn_no_limits;
      }
    }
  }
  .entertainment {
    float: left;
    &:hover {
      .entertainment-notification {
        padding: 6px 10px;
      }
    }
    .entertainment-notification {
      top: -10px;
      bottom: auto;
      left: 25px;
      max-width: 100px;
      font-size: 11px;
      line-height: 1.4;
      white-space: normal;
      &:before {
        top: 10px;
        left: auto;
        right: 100%;
        border: 6px solid transparent;
        border-right-color: @talks-entertainment-notification-bg;
      }
    }
  }
  /* end: common style */

  /* --head-- */
  .header {
    height: 60px;
/*     cursor: move; */
    text-align: right;
    ._radius(5px 5px 0 0);
    background: @talks-bg_header;
    .header-wrap {
      padding: 18px 15px 18px 20px;
    }
    .b-close,
    .b-minimize,
    .b-maxmimize,
    .b-fold,
    .b-expand {
      display: inline-block;
      vertical-align: top;
      padding: 6px 9px;
      width: 8px;
      height: 8px;
      ._opacity(.7);
      &:before {
        content: '';
        display: inline-block;
        vertical-align: top;
        width: 16px;
        height: 16px;
        background: @talks-sprite no-repeat -76px -627px;
      }
      &:hover {
        ._opacity(1);
      }
    }
    .b-minimize:before {
      background-position: -57px -627px;
    }
    .b-maxmimize,
    .b-expand {
      display: none;
    }
    .b-maxmimize:before {
      background-position: -95px -627px;
    }
    .b-fold:before,
    .b-expand:before {
      margin-top: 12px;
      height: 2px;
      background: @talks-bg_header_icon;
    }
    .b-expand:before {
      margin-top: 1px;
    }
    .entertainment {
      margin-top: 3px;
      .entertainment-notification {
        top: -12px;
        max-width: none;
        white-space: nowrap;
        &:before {
          top: 7px;
        }
      }
    }
    .title {
      float: left;
      color: @talks-color_header;
      font: 16px/1.7em @talks-def_font;
    }
    .name {
      display: inline-block;
      vertical-align: top;
      ._text-overflow();
      max-width: 800px;
      color: @talks-color_header;
      text-decoration: none;
    }
    .icon-msg:before {
      content: '';
      display: inline-block;
      vertical-align: text-top;
      margin-right: 5px;
      width: 20px;
      height: 22px;
      background: @talks-sprite no-repeat -33px -627px;
    }
  }

  /* end: head */

  /* --layout-- */
  .head-msg {
    position: relative;
    height: 60px;
    background: @talks-bg;
    z-index: 2;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 3px;
      ._shadow(~"0 2px 2px @{talks-shadow_head_msg}");
      z-index: -1;
    }
  }
  .content-msg {
  }
  .b-aside {
    float: right;
    width: 300px;
    background: @talks-bg_aside;
  }
  .b-main {
    margin-right: 300px;
    &.b-info .user-info .user-photo {
      margin-right: 10px;
      &.blurred {
        .photo {
          overflow: hidden;
          ._blur(10);
        }
      }
      &.blurred-heavy {
        .photo {
          overflow: hidden;
          ._blur(18);
        }
      }
    }
  }
  /* end: layout */
  .btn-delete-wrap {
    position: absolute;
    z-index: 6;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 66px;
    font-size: 0;
    text-align: left;
    background-color: @talks-bg_header;
    text-align: center;
    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
    .btn-talks {
      width: 40%;
      margin-left: 20px;
      height: 28px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  /* --options-- */
  .b-options {
    position: absolute;
    z-index: 2;
    top: 60px;
    right: 0;
    width: 300px;
    height: 60px;
    text-align: left;
    .b-options-wrap {
      padding: 20px;
      ._clearfix();
    }
    .check-friends {
      display: inline-block;
      margin-top: 5px;
    }
    .btn-talks-done {
      display: inline-block;
      float: right;
      position: relative;
      width: 28px;
      height: 28px;
      margin: -2px -7px 0 0;
      cursor: pointer;
      &:before {
        ._box-sizing;
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: 5px 0 5px 5px;
        content: "";
        background: @talks-sprite no-repeat -76px -645px;
      }
      &:hover {
        &:before {
          background-position: -57px -645px;
        }
      }
    }
    .b-settings {
      float: right;
      position: relative;
      cursor: pointer;
      width: 28px;
      height: 28px;
      margin: -4px 3px 0 0;
      &:before {
        content: '';
        display: inline-block;
        vertical-align: text-top;
        margin: 6px;
        width: 16px;
        height: 16px;
        background: @talks-sprite no-repeat -377px -226px;
      }
      &:hover,
      &.active {
        &:before {
          ._opacity(.8);
        }
      }
      &.active {
        .dropdown-settings {
          display: block;
        }
      }
    }
    .btn-done {
      float: right;
      margin-top: -2px;
    }
  }
  .b-delete-confirm {
    position: absolute;
    z-index: 6;
    top: 120px;
    right: 0;
    bottom: 0;
    width: 300px;
    color: @talks-bg_header_icon;
    background-color: @talks-bg_header;
    .b-delete-confirm-wrap {
      padding: 40px;
    }
    .ask-text {
      margin: -5px 0 20px;
      line-height: 22px;
      text-align: left;
    }
    .btn-cancel,
    .btn-delete {
      display: block;
      width: 100%;
      margin: 15px 0;
    }
    .ask-again {
      display: block;
      margin-top: 25px;
      line-height: 20px;
      text-align: left;
      color: @talks-message_bg;
    }
  }
  /* end: options */

  /* --info-- */
  .b-info {
    .b-info-wrap {
      padding: 10px 10px 10px 20px;
    }
    .user-info,
    .user-details,
    .communicate {
      display: inline-block;
      vertical-align: top;
    }
    .user-info {
      width: 215px;
      .user-photo {
        float: left;
        width: 40px;
        height: 40px;
        margin-right: 20px;
      }
      .photo {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        overflow: hidden;
      }
      .user-describe {
        margin-left: 50px;
      }
      .entertainment {
        margin-bottom: 2px;
        .entertainment-notification {
          top: -12px;
          max-width: none;
          white-space: nowrap;
          &:before {
            top: 7px;
          }
        }
      }
      .screenname {
        display: block;
        margin-top: -2px;
        ._text-overflow(140px);
        font: 13px/1.2em @talks-def_font;
        text-decoration: none;
      }
      .describe-info,
      .location {
        display: block;
        ._text-overflow(150px);
        line-height: 1.2em;
      }
      .b-old:before{
        content: '';
        display: inline-block;
        vertical-align: top;
        margin: 0 5px 0 3px;
        width: 1px;
        height: 12px;
        background: @talks-border;
      }
      .location {
        color: @talks-color_text;
      }
    }
    .user-details {
      margin: 0 15px 0 10px;
      width: 225px;
      max-height: 45px;
      overflow: hidden;
      line-height: 1.3em;
      color: @talks-color-quote;
      &:before {
        content: '';
        position: absolute;
        display: inline-block;
        vertical-align: top;
        margin: 0 5px 0 -15px;
        width: 10px;
        height: 8px;
        background: @talks-sprite no-repeat -34px -672px;
      }
    }
    .communicate {
      margin-top: 9px;
      height: 22px;
      border: 1px solid @talks-border;
      ._radius(20px);
      color: @talks-color_text;
      font-size: 0;
      .btn-video,
      .btn-add-friend,
      .btn-other {
        display: inline-block;
        vertical-align: top;
        height: 100%;
        border-right: 1px solid @talks-border;
      }
      .btn-video,
      .btn-add-friend{
        &:before {
          content: '';
          display: inline-block;
          vertical-align: top;
          background: @talks-sprite no-repeat -114px -627px;
        }
      }
      .btn-video:before {
        margin: 3px 7px;
        width: 16px;
        height: 16px;
        background-position: -95px -645px;
      }
      .btn-add-friend:before {
        margin: 3px 7px;
        width: 16px;
        height: 16px;
        background-position: -114px -627px;
      }
      .btn-add-friend.active {
        &:before {
           background-position: -115px -645px;
        }
        &:hover:before {
          background-position: -132px -627px;
        }
      }
      .btn-other {
        position: relative;
        padding: 0 4px;
        min-width: 32px;
        cursor: pointer;
        font-size: 13px;
        text-align: center;
        border-right: none;
        ._radius(0 20px 20px 0);
        &:before {
          content: "";
          display: inline-block;
          vertical-align: middle;
          height: 100%;
        }
        .name {
          line-height: 1.5em;
          &:after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            margin-left: 4px;
            width: 0;
            height: 0;
            border: 2px solid transparent;
            border-top: 3px solid @talks-color_text;
            border-bottom: none;
          }
        }
        &:hover,
        &.active {
          background: darken(@talks-bg_button, 10%);
        }
        &.active{
          .dropdown-more {
            display: block;
          }
          .name {
            &:after {
              border-top: none;
              border-bottom: 3px solid @talks-color_text;
            }
          }
        }
      }
    }
    .b-info-types {
      float: right;
      position: relative;
      width: 28px;
      height: 28px;
      margin: 12px 10px 0 0;
      cursor: pointer;
      &:before {
        content: '?';
        display: inline-block;
        margin: 5px 0 5px 0;
        font-size: 18px;
        color: @talks-color_text_screenname;
        width: 28px;
        height: 22px;
        outline: none;
        border: 1px solid @talks-border;
        line-height: 22px;
        text-align: center;
        ._radius(15px);
      }

      &:hover {
        &:before {
          ._opacity(.8);
        }
        .dropdown-info-types {
          display: block;
        }
      }
    }
  }
  /* end: info */

  /* --sms-- */
  .btn-sms-chat {
    float: right;
    margin: 18px 12px 0 0;
    height: 21px;
    width: 24px;
    background: @sprite_url no-repeat -156px -647px;
    font-size: 0;
  }
  /* end: sms */

  /* list */
  .b-list {
    overflow-y: auto;
    height: 480px;
    text-align: center;
    .b-list-wrap {
      position: relative;
      width: 300px;
      float: right;

      &.loading {
        padding-bottom: 50px;
        &:after {
          position:absolute;
          bottom: 10px;
          left:48%;
          display:block;
          width:31px;
          height:31px;
          background:url("@{talks-images_path}/small-photo-loader.gif") no-repeat;
          content:'';
        }
      }
    }
    .list-item {
      display: block;
      text-align: left;
      text-decoration: none;
      border-bottom: 1px solid @talks-border_list_user;
      ._clearfix();
      &:first-child {
        .dropdown-naughty {
          top: 2px;
          &:before,
          &:after {
            top: 20px;
          }
        }
      }
      .check-list-item {
        float: left;
        position: relative;
        width: 20px;
        height: 20px;
        margin: 21px 10px 10px 20px;
      }
      .list-item-wrap {
        text-decoration: none;
        display: block;
        padding: 10px 20px;
      }
      .user-photo {
        float: left;
        width: 40px;
        height: 40px;
        margin-right: 20px;
      }
      .photo {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        overflow: hidden;
      }
      .user-describe {
        overflow: hidden;
        max-width: 160px;
      }
      .screenname {
        display: block;
        ._text-overflow(138px);
        color: @talks-color_text_def;
        font-size: 16px;
        text-decoration: none;
      }
      .status {
        display: inline-block;
        white-space: nowrap;
        max-width: 155px;
        line-height: 1.2em;
        ._text-overflow();
        color: @talks-color_offline;
        &.online {
          color: @talks-color_online;
        }
      }
      .counter,
      .delete {
        float: right;
        margin-top: 10px;
        max-width: 23px;
        ._text-overflow();
      }
      &.not-read {
        .screenname {
          color: @talks-color_text_screenname;
          font-weight: 600;
        }
      }
      &:hover {
        background: lighten(@talks-bg_active,5%);
      }
      &.active {
        background: @talks-bg_active;
        .entertainment {
          background-position: -93px -292px;
        }
      }
      &.blurred-heavy {
        .user-photo{
          position: relative;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            background: @talks-bg_over_ie;
            background: @talks-bg_over_heavy;
          }
        }
        .photo {
          ._blur(8);
        }
      }
      &.blurred {
        position: relative;
        .user-photo {
          overflow: hidden;
        }
        .photo {
          ._blur(3);
        }
        .b-photo{
          background: none repeat scroll 0 0 rgba(0, 0, 0, 0.9);
          content: "";
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: 2;
        }
        .user-photo, x:-moz-any-link {
          position: relative;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            background: @talks-bg_over;
          }
        }
        /*IE10 hack start*/
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          .user-photo {
            position: relative;
            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 2;
              background: @talks-bg_over;
            }
          }
        }
        /*IE10 hack end*/
        &:hover {
          .dropdown-naughty {
            display: block;
          }
        }
      }
    }
    .btn-view {
      margin: 20px;
      padding: 0 5px;
      min-width: 140px;
      ._radius(5px);
    }
  }
  /* end: list */
  /* talks */
  .b-talks {
    .messenger-history {
      position: absolute;
      top: 120px;
      right: 300px;
      bottom: 41px;
      left: 0;
      overflow-y: auto;
      background: @talks-bg;
      &:before{
        content: '';
        display: inline-block;
        vertical-align: bottom;
        height: 99.2%;
      }
    }
    .messages-wrapper {
      padding: 10px 3.2%;
      position: relative;
      display: inline-block;
      width: 93%;
      -ms-user-select: none;
      -moz-user-select: none;
      &.loading {
        padding-top: 45px;
        &:after {
          position:absolute;
          top: 5px;
          left:48%;
          display:block;
          width:31px;
          height:31px;
          background:url("@{talks-images_path}/small-photo-loader.gif") no-repeat;
          content:'';
        }
      }
    }
    .message {
      margin: 10px 0;
      ._clearfix();
      .username {
        float: left;
        width: 110px;
        ._text-overflow(110px);
        color: @talks-message_user_color;
      }
      .info {
        position: relative;
        float: right;
        width: 110px;
        text-align: right;
        &.loading {
          &:after {
            position:absolute;
            top: 2px;
            left:65px;
            display:block;
            width:16px;
            height:16px;
            background:url("@{talks-images_path}/micro-photo-loader.gif") no-repeat;
            content:'';
          }
          .status,
          .date {
            display: none;
          }
        }
      }
      .message-text {
        margin: 0 120px;
        color: @talks-message_text_color;
        word-wrap: break-word;
        word-break: break-word;
        img {
          display: inline-block;
          cursor: default;
          margin: 5px 5px 5px 0;
          width: auto;
          max-height: 180px;
        }
      }
      .trusted-text {
        padding-top: 10px;
        .wrap {
          padding: 10px;
          background: @talks-bg_microfeature;
        }
        .btn-upgrade {
          display: block;
          margin-top: 10px;
          min-width: 100px;
          max-width: 250px;
          margin: 10px auto 0;
        }
      }
      .date {
        margin-left: 5px;
        vertical-align: middle;
        color: @talks-message_date_color;
        text-transform: capitalize;
      }
      .status {
        display: inline-block;
        vertical-align: middle;
        width: 6px;
        height: 6px;
        ._radius(5px);
        &.new-message {
          background: @talks-message_color_new;
        }
        &.flirtcast {
          background: @talks-message_color_flirtcast;
        }
        &.autoreply {
          background: @talks-message_color_autoreply;
        }
        &.activity-alert {
          background: @talks-message_color_activity;
        }
        &.reading {
          margin-right: -2px;
          width: 8px;
          height: 8px;
          background: @talks-sprite no-repeat -46px -672px;
        }
        &.read {
          margin-right: -2px;
          width: 8px;
          height: 8px;
          background: @talks-sprite no-repeat -55px -672px;
        }
      }
      &.message-in {
        .username {
          color: @talks-message_user_in_color;
        }
      }
    }
    .separate-msg {
      position: relative;
      text-align: center;
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 1px;
        background: @talks-border;
      }
      .title {
        position: relative;
        padding: 0 10px;
        text-transform: capitalize;
        background: @talks-bg;
      }
      .btn-talks {
        position: relative;
      }
    }
    .message-note {
      ._shadow(e("0 0 5px @{talks-message_note_bg}"));
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 310px;
      margin-top: -12px;
      margin-left: -155px;
      padding: 5px 0;
      color: @talks-message_color_delete;
      text-align: center;
      background: fade(@talks-message_note_bg, 85%);
      z-index: 1;
      .motivation-highlight {
        color: @talks-color_text_highlight;
        font-weight: bold;
        text-decoration: none;
      }
    }
    .message-blur .message-text,
    .message-deleted .message-text {
      color: transparent;
      text-shadow: 0 0 6px @talks-shadow_text;
      -ms-user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      b {
        font-weight: normal;
        color: @talks-message_text_color;
        text-shadow: none;
        white-space: nowrap;
      }
    }
    .message-deleted {
      position: relative;
      z-index: 0;
      .message-note {
        display: block;
      }
    }

    /* messenger-input */
    .messenger-input {
      position: absolute;
      left: 0;
      right: 300px;
      bottom: 0;
      background: @talks-message_bg;
    }
    .message-blur {
      position: relative;
      z-index: 0;
      .message-note {
         display: block;
         color: @talks-color_text_def;
      }
    }

    .input-placeholder {
      display: none;
      position: absolute;
      top: 12px;
      left: 20px;
    }
    .input-wrap {
      position: relative;
      display: block;
      margin-right: 90px;
      padding: 9px 8px 9px 20px;
      ._box-sizing;
      border-top: 1px solid @talks-border;
      background: @talks-message_bg_input_msg;
      &.empty .input-placeholder {
        display: block;
      }
    }

    .attach {
      display: none;
      position: absolute;
      top: 3px;
      left: 10px;
      cursor: pointer;
      width: 32px;
      height: 28px;
      &:before {
        content: '';
        display: inline-block;
        vertical-align: top;
        margin: 6px 8px;
        width: 16px;
        height: 16px;
        background: @talks-sprite no-repeat -396px -227px;
      }
      &.active {
        .dropdown-attach {
          display: block;
        }
      }
    }
    .location {
      float: right;
      margin-top: -5px;
      cursor: pointer;
      width: 32px;
      height: 28px;
      &:before {
        content: '';
        display: inline-block;
        vertical-align: top;
        margin: 6px 8px;
        width: 14px;
        height: 16px;
        background: @talks-sprite no-repeat -375px -252px;;
      }
      &:hover:before {
        ._opacity(.8);
      }
      &.active:before {
        ._opacity(1);
        background-position: -420px -252px;
      }
    }

    .smiles {
      float: right;
      position: relative;
      cursor: pointer;
      margin-top: -5px;
      width: 32px;
      height: 28px;
      &:before {
        content: '';
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin: 6px 8px;
        width: 19px;
        height: 19px;
        background: @talks-sprite no-repeat -33px -650px;
      }

      &:hover,
      &.active {
        &:before {
          ._opacity(.8);
        }
      }
      &.active {
        .smiles-tooltip {
          display: block;
        }
      }
    }
    .message-input {
      position: relative;
      overflow: hidden;
      overflow-y: auto;
      margin-right: 30px;
      padding: 3px 2px 2px 0;
      ._box-sizing;
      min-height: 20px;
      max-height: 120px;
      outline: none;
      word-wrap: break-word;
      word-break: break-word;
      z-index: 2;
      img {
        display: inline-block;
        margin: 5px 5px 5px 0;
        width: auto;
        height: 60px;
        &.smile-emoji {
          margin: 0;
          height: 25px;
        }
      }
    }
    .btn-send-wrap {
      position: relative;
      float: right;
      width: 73px;
      vertical-align: top;
      padding: 7px 17px 0 0;
      border-top: 1px solid @talks-border;
      z-index: 2;
    }
    .btn-send {
      max-width: 90px;
      min-width: 70px;
    }
    .message-upgrade {
      padding: 14px 10px;
      ._box-sizing;
      text-align: center;
      background: @talks-upgrade_bg;
    }
    .message-microfeature {
      position: relative;
      padding: 6px 20px;
      ._box-sizing;
      line-height: 1.4em;
      color: @talks-color_microfeature;
      background: @talks-bg_microfeature;
    }
    .message-first-read {
      padding: 6px 20px;
      ._box-sizing;
      color: @talks-color_first_read;
      background: @talks-bg_first_read;
    }
    .message-blocked,
    .message-reported {
      display: table;
      width: 100%;
      height: 60px;
      ._box-sizing;
      color: #fff;
      text-align: center;
      background: #1b1b1b;
      .text {
        display: table-cell;
        padding: 10px;
        height: 100%;
        vertical-align: middle;
        span {
          text-decoration: underline;
          cursor: pointer;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  .emptyList {
    display: table;
    margin: -60px auto 0;
    padding-top: 60px;
    height: 100%;
    font: 20px/1.75em @talks-def_font;
    text-align: center;
    .empty-messenger {
      display: table-cell;
      vertical-align: middle;
      max-width: 450px;
    }
  }
  /* end: talks */
}


@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  .c-talks {
    height: 1000px;
    margin-top: -500px;
  }
}


/* --------------------------small------------------------- */
.c-talks-small {
  top: auto;
  right: 20px;
  bottom: 0;
  left: auto;
  width: 300px;
  height: 330px;
  .header {
    cursor: move;
    height: 40px;
    .b-minimize {
      display: none;
    }
    .b-maxmimize {
      display: inline-block;
    }
    .header-wrap {
      padding: 6px 8px 6px 10px;
    }
    .icon-msg:before {
      margin-top: 2px;
      width: 20px;
      height: 19px;
      background-position: -150px -627px;
      ._opacity(0.7);
    }
    .name {
      max-width: 120px;
    }
  }

  .head-msg {
    height: 40px;
  }
  .b-aside {
    width: 200px;
    height: 250px;
    display: none;
  }
  .b-main {
    margin-right: 0;
  }
  .b-options {
    top: 40px;
    height: 40px;
    .b-options-wrap {
      padding: 10px;
    }
  }

  .b-info {
    .b-info-wrap {
      padding: 2px 10px;
    }
    .user-info,
    .user-details {
      display: none;
    }
    .b-info-types {
      margin-top: 3px;
    }
    .communicate {
      margin-top: 6px;
    }
  }

  .btn-sms-chat {
    float: right;
    margin: 9px 10px 0 0;
    height: 21px;
    width: 24px;
    background: @sprite_url no-repeat -156px -647px;
    font-size: 0;
  }

  .b-list {
    top: 80px;
    .b-list-wrap {
      width: 200px;
    }
    .list-item {
      .user-describe {
        margin-left: 50px;
        max-width: 85px;
      }
      .list-item-wrap {
        padding: 10px 10px 10px 20px;
      }
      .screenname {
        width: 63px;
      }
      .status {
        max-width: 85px;
      }
    }
  }

  .b-talks {
    .messages-wrapper {
      padding: 10px;
    }
    .messenger-history {
      top: 80px;
      right: 0;
      &:before {
        height: 86.2%;      }

    }
    .message {
      margin: 5px 0 10px 0;
      .message-text {
        margin: 0;
        clear: both;
        img {
          max-height: 120px;
        }
      }
    }
    .messenger-input {
      right: 0;
    }
    .message-input {
      max-height: 70px;
    }
    .input-wrap {
      margin-right: 0;
/*       padding: 9px 0 9px 30px; */
      padding: 9px 0 9px 10px;
    }
    .attach {
      left: 2px;
    }
    .location {
      margin-right: -3px;
    }
    .input-placeholder {
/*       left: 30px; */
      left: 10px;
    }
    .btn-send-wrap {
      display: none;
    }
    .message-microfeature {
      padding: 6px 10px;
    }
    .message-note {
      width: 170px;
      margin-left: -85px;
      margin-top: -10px;
    }
    .message-first-read {
      padding: 6px 10px;
    }
    .message-blocked,
    .message-reported {
      height: 120px;
    }
  }
  .emptyList {
    margin: -40px auto 0;
    padding-top: 40px;
    font: 13px/1.92em @talks-def_font;
    height: 210px;
    .empty-messenger {
      max-width: 250px;
    }
  }
  .entertainment {
    .entertainment-notification {
      max-width: 75px;
    }
  }
}

.c-talks-small-users {
  width: 500px;
  .header {
    .name {
      max-width: 300px;
    }
  }
  .b-aside {
    display: block;
  }
  .b-main {
    margin-right: 200px;
  }
  .b-talks .messenger-history,
  .b-talks .messenger-input {
    right: 200px;
  }
  .btn-delete-wrap {
    display: block;
    width: 200px;
    height: 50px;
  }
}
.b-video-stream-wrap {
  padding: 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.inv-rejected {
  position: relative;
  margin: 20px 20px 5px;
  padding: 10px 30px 10px 10px;
  color: @talks-video_chat_text-color;
  border: 1px dashed @talks-form-border;
  background-color: @talks-invitation_rejected-bg;
  .btn-close {
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 10px;
    width: 20px;
    height: 20px;
    &:hover {
      cursor: pointer;
      &:before {
        ._opacity(1);
      }
    }
  }
  .text {
    font-size: 14px;
    line-height: 20px;
  }
}
.inv-sending {
  margin: 20px 20px 5px;
  color: @talks-text_def-color;
  background-color: @talks-block-bg;
  ._clearfix;
  .btn-close:before {
    background-position: -368px -276px;
  }
}
.video-chat-inv {
  padding: 20px 20px 8px;
  text-align: center;
  background-color: fade(@talks-video_chat_invitation-bg, 95%);
  .header-holder {
    position: relative;
    padding: 0 0 10px;
    text-align: center;
    .btn-close {
      display: inline-block;
      float: right;
      position: relative;
      width: 20px;
      height: 20px;
      &:before {
        ._opacity(.7);
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 10px;
        height: 10px;
        margin: auto;
        content: "";
        background: @talks-sprite no-repeat -183px -292px;
      }
      &:hover {
        cursor: pointer;
        &:before {
          ._opacity(1);
        }
      }
    }
    .text {
      color: @talks-video_wrap-bg;
      font-size: 16px;
    }
  }
  .user-info-holder {
    display: inline-block;
    min-width: 220px;
    max-width: 300px;
    vertical-align: top;
    .user-icon-holder {
      float: left;
      overflow: hidden;
      position: relative;
      width: 70px;
      height: 70px;
      margin-right: 10px;
      text-align: center;
      .user-icon {
        display: block;
        height: 100%;
        background: @img-url-videochat_loader no-repeat center;
        img {
          width: 100%;
        }
      }
      &.album {
        .user-icon {
          right: auto;
          left: -460px;
          width: 1000px;
          height: 100%;
          text-align: center;
          img {
            width: auto;
            height: 100%;
          }
        }
      }
    }
    .user-description-holder {
      margin-left: 80px;
      text-align: left;
      .b-name {
        ._text-overflow(200px);
        display: block;
        font-weight: 700;
        color: @talks-video_chat_text-color;
      }
      .b-age,
      .b-location {
        color: @talks-video_chat_text-color-sub;
        .location {
          float: none;
          &:before {
            display: none;
          }
        }
      }
    }
  }
  .actions-wrap {
    display: inline-block;
    min-width: 140px;
    max-width: 220px;
    vertical-align: top;
    .button-cell {
      margin-bottom: 12px;
      .btn {
        ._box-sizing;
        display: block;
        width: 100%;
        &.white {
          ._gradient (@talks-btn_cancel-bg-start, @talks-btn_cancel-bg-stop);
          color: @talks-text_def-color;
          border: 1px solid @talks-form-border;
        }
      }
    }
  }
}
.c-talks-minimized {
  top: auto;
  right: 20px;
  bottom: 0;
  left: auto;

  width: 300px;
  height: 40px;
  .header {
    cursor: move;
    height: 40px;
    .b-minimize,
    .b-maxmimize,
    .b-fold {
      display: none;
    }
    .b-expand {
      display: inline-block;
    }
    .header-wrap {
      padding: 7px 10px 5px;
    }
    .icon-msg:before {
      margin-top: 2px;
      width: 19px;
      height: 19px;
      background-position: -150px -627px;
    }
    .name {
      max-width: 150px;
      color: @talks-bg_header_icon;
    }
  }
  .head-msg,
  .content-msg {
    display: none;
  }
}

.talks-not-read {
  &.header {
    background: @talks-bg_header_not_read;
  }
  .counter {
    color: @talks-color_counter_invert;
    background: @talks-bg_counter_invert;
  }
}
.talks-users {
  &.header {
    .icon-msg:before {
      margin-top: 3px;
      width: 21px;
      height: 19px;
      background-position: -171px -627px;
    }
  }
}

.c-talks-ie {
  .message-blur .message-text,
  .message-deleted .message-text {
    position: relative;
    overflow: hidden;
    height: 61px;
    &:after {
      position: absolute;
      top: 2px;
      left: 0;
      display: inline-block;
      content: '';
      height: 61px;
      width: 519px;
      background: url(~"@{talks-images_path}/blur-msg.png") no-repeat 0 0;
    }
  }
}
