/* images */
@talks-images_path: "../images";
@talks-sprite: url(~"@{talks-images_path}/sprite.png");
/* end: images */

@talks-def_font: 'Open Sans', Arial, helvetica, sans-serif;
@font-face-base: Verdana, Geneva, sans-serif;

/* header */
@talks-bg_header: #000;
@talks-bg_header_not_read: #ff5e52;
@talks-bg_header_icon: #fff;
@talks-color_header: #bcbabc;

/* wrap */
@talks-bg: #fff;
@talks-shadow: fade(#000, 40%);
@talks-shadow_head_msg: fade(#000, 20%);
@talks-shadow_text: fade(#000, 60%);
@talks-bg_aside: #eaeaea;
@talks-border: #ccc;
@talks-color_text: #808080;
@talks-color_text_def: #4c4c4c;
@talks-color_text_screenname: #797979;
@talks-color_text_highlight: #e83434;
@talks-color_online: #72bb1c;
@talks-color_offline: #9c9c9c;
@talks-bg-overlay: fade(#000, 50%);
@talks-bg-ie-overlay: #000;
@talks-color-quote: #797979;

/* button */
@talks-bg_button: #fff;
@talks-border_button: #ccc;
@talks-color_button: #808080;
@talks-bg_btn_upgrade: #1cbb1c;
@talks-color_btn_upgrade: #fff;

@talks-bg_btn_normal: #ccc;
@talks-bg_btn_sexy: #f9a100;
@talks-bg_btn_no_limits: #e83434;
@talks-color_btn_normal: #4c4c4c;
@talks-color_btn_sexy: #fff;
@talks-color_btn_no_limits: @talks-color_btn_sexy;

/* icons */
@talks-color_info_types: #fff;
@talks-bg_counter: #ff5e52;
@talks-color_counter: #fff;
@talks-bg_counter_invert: #fff;
@talks-color_counter_invert: #ff5e52;
@talks-entertainment-notification-bg: #fff;

/* users */
@talks-border_list_user: #fff;
@talks-bg_active: #d9d9d9;
@talks-bg_over_ie: #000;
@talks-bg_over: fade(#000, 78%);
@talks-bg_over_heavy: fade(#000, 90%);

/* message */
@talks-message_bg: #fff;
@talks-message_date_color: #9c9c9c;
@talks-message_user_color: @talks-message_date_color;
@talks-message_user_in_color: #f3473a;
@talks-message_text_color: #000;
@talks-message_color_new: #1cbb1c;
@talks-message_color_flirtcast: #ac4dee;
@talks-message_color_autoreply: #ff8400;
@talks-message_color_activity: #9c9c9c;
@talks-message_bg_input_msg: #fff;
@talks-message_color_delete: #e83434;
@talks-message_note_bg: #fff;

/* dropdown-menu */
@talks-dropdown_bg: #fff;
@talks-dropdown_border: #ccc;
@talks-dropdown_shadow: fade(#000, 30%);
@talks-dropdown_color: #6e6e6e;

/* upgrade */
@talks-upgrade_bg: #eaeaea;
@talks-color_first_read: #fff;
@talks-bg_first_read: #000;
@talks-color_microfeature: #000;
@talks-bg_microfeature: #96c700;

@btn_send_gradient_start: #96c700;
@btn_send_gradient_end: #add140;
@btn_send_shadow_color_start: #84a000;
@btn_send_shadow_color_end: #4d680f;
@color-1-b-shadow-btn-update: #84a000;
@color-1-b-shadow-btn-update: #84a000;

@talks-video_wrap-bg: #fff;
@talks-invitation_rejected-bg: #f3473a;
@talks-video_chat_invitation-bg: #353535;
@talks-video_chat-bg: #353535;
@talks-video_chat_border-color: #92a0a9;
@talks-video_chat_video_stream_info_border-color: #5b5b5b;
@talks-video_chat_user_name-color: #fff;
@talks-video_chat_text-color: #fff;
@talks-video_chat_text-color-sub: #a6a6a6;
@talks-btn_cancel-bg-start: #eaeaea;
@talks-btn_cancel-bg-stop: #f0f0f0;
@talks-text_def-color: #000;
@talks-block-bg: #eaeaea;
@img-url-videochat_loader: url(~"@{talks-images_path}/big-photo-loader.gif");

@talks-form-border: #000;








