.w-my-profile {
  ._clearfix();
  position: relative;
  min-width: 720px;
  padding: 0 0 80px;
  &:after {
    display: block;
    position: absolute;
    top: 0;
    left: -122px;
    width: 50%;
    height: 100%;
    border-right: 1px solid @profile-border;
  }
  .photo-item {
    &:hover {
      .btn-close {
        ._transform(scale,1);
        ._transition(opacity .2s transform .1s);
        ._opacity();
        visibility: visible;
      }
      .primary {
        ._transition(e("opacity 0.2s, height 0.1s linear"));
        ._opacity();
        visibility: visible;
        height: 20px;
      }
    }
    .btn-close {
      ._transform(scale,.1);
      ._radius(15px);
      ._shadow(0 1px 0 fade(@profile-btn_close_bg, 30%));
      ._box-sizing();
      ._transition(background-color .2s);
      ._opacity(0);
      display: inline-block;
      visibility: hidden;
      position: absolute;
      top: 5px;
      right: 5px;
      width: 19px;
      height: 19px;
      padding: 0;
      font: 12px/2.2em @profile-btn_close_font;
      line-height: 1.2em;
      text-align: center;
      vertical-align: top;
      text-decoration: none;
      color: @profile-btn_close_text;
      background-color: @profile-btn_close_bg;
      background-color: fade(@profile-btn_close_bg, 30%);
      text-shadow: 0 -1px 0 fade(@profile-btn_close_bg, 20%);
      &:hover {
        color: @profile-btn_close_text;
        background-color: darken(@profile-btn_close_bg, 10%);
      }
      &:active {
        ._shadow(e("0 1px 0 rgba(0,0,0,.1), inset 0 1px 1px rgba(0,0,0,.2)"));
        top: 4px;
        text-shadow: 0 1px 0 fade(@profile-btn_close_bg, 20%);;
      }
      &:after {
        ._sprite(@popup-close);
        position: absolute;
        top: 5px;
        left: 5px;
        content: "";
      }
    }
    .primary {
      ._transition(e("opacity 0.2s ease 0.2s, visibility 0.2s ease 0.2s, height 0.1s linear 0.2s"));
      visibility: hidden;
      overflow: hidden;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 0;
      opacity: 0;
      color: fade(@profile-primary_text, 70%);
      background-color: @profile-primary_bg;
      background-color: fade(@profile-primary_bg, 70%);

      filter: alpha(opacity=70);
      label {
        ._box-sizing();
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 3px;
        cursor: pointer;
      }
      span {
        font-size: 11px;
        line-height: 14px;
        color: @profile-primary_text;
        &:before {
          margin-top: 0;
        }
      }
    }
  }
  .content-main {
    clear: both;
    position: relative;
    z-index: 10;
    margin: 0 auto;
  }
  .sidebar {
    padding-top: 25px;
    // margin-top: -30px; 
  }
  .main-column,
  .content-top {
    ._clearfix();
    padding: 0 40px;
  }
  .b-my-profile {
    max-width: 959px;
    margin: 0 auto;
  }
  .b-screenname {
    margin-bottom: 5px;
    font-size: 26px;
    line-height: 30px;
    .mark {
      ._sprite(@profile-mark);
      display: none;
      position: relative;
      top: -1px;
      margin-right: 5px;
    }
    .screenname {
      display: inline-block;
      margin-right: 20px;
    }
  }
  .b-features {
    ._clearfix();
    margin-top: 20px;
    .item {
      ._radius();
      ._box-sizing();
      display: block;
      float: left;
      min-width: 40px;
      height: 30px;
      margin: 0 9px 10px 0;
      padding: 0 10px;
      font: 600 16px/30px @profile-font_300;
      cursor: default;
      text-align: center;
      letter-spacing: .025em;
      text-transform: uppercase;
      color: @profile-text_def_dark;
      outline: none;
      background-color: @profile-feature_bg;
      &.disabled {
        cursor: default;
        &:hover {
          background-color: fade(@profile-feature_bg, 60%);
        }
      }
    }
  }
  .profile-block {
    ._box-sizing();
    display: inline-block;
    float: left;
    width: 52%;
    min-width: 400px;
    padding: 0 40px 36px 0;
    vertical-align: top;
    &:first-child {
      padding-top: 35px;
      padding-bottom: 26px;
    }
    &:last-child {
      clear: right;
    }
    &.right-column {
      float: right;
      width: 48%;
      padding-top: 35px;
      padding-right: 0;
      padding-left: 40px;
      border: 0;
    }
    &.features-block {
      margin-bottom: -10px;
    }
    &.photos-block {
      padding-top: 80px;
      &.no-photos {
        padding-bottom: 16px;
      }
    }
    .b-right-column {
      .b-buttons {
        margin-top: -9px;
      }
    }
  }
  .b-photo-primary {
    overflow: hidden;
    position: relative;
    max-height: 500px;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
    &:after {
      ._radius();
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: "";
      background-color: @profile-primary_overlay;
      background-color: fade(@profile-primary_overlay, 20%);
    }
  }
  .b-photo-crop {
    display: inline-block;
    overflow: hidden;
    position: relative;
    height: 100%;
    vertical-align: top;
    .photo {
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto;
      &.too-high {
        width: auto;
        height: 700px;
      }
    }
  }
  .photo-wrap {
    position: relative;
    margin-top: 31px;
    margin-bottom: -8px;
    font-size: 0;
    line-height: 0;
    &.one-photo {
      a {
        width: 50%;
      }
    }
    .photo-item {
      display: block;
      float: left;
      overflow: hidden;
      position: relative;
      max-height: 400px;
      background: @black no-repeat left 25%;
      background: rgba(0, 0, 0, 0) no-repeat left 25%;
      background-size: cover;
    }
    a {
      ._box-sizing();
      display: inline-block;
      position: relative;
      padding-right: 2px;
      padding-bottom: 2px;
      &.primary {
        .image-holder {
          &:hover {
            &:after {
              display: none;
              content: "";
            }
          }
        }
        .overlay {
          display: block;
          color: @profile-text_def;
          .btn-remove {
            display: none;
          }
          span {
            top: 24px;
          }
          &:before {
            ._sprite(@profile-check);
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -18px 0 0 -10px;
            content: "";
          }
        }
      }
      .overlay {
        ._box-sizing();
        display: none;
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: @profile-text_active;
        background-color: fade(@profile-avatar_overlay, 60%);
        span {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 90%;
          height: 20px;
          margin: auto;
        }
        .btn-remove {
          position: absolute;
          top: 0;
          right: 0;
          width: 20px;
          height: 20px;
          border: none;
          outline: none;
          background: none;
          &:before {
            ._sprite(@popup-close);
            position: absolute;
            top: 5px;
            right: 4px;
            content: "";
          }
          &:hover {
            &:before {
              ._opacity(.7);
            }
          }
        }
      }
      .image-holder {
        display: block;
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;
        &:hover {
          .overlay {
            display: block;
          }
        }
      }
      /*Demo-classes. Delete after development*/
      &.photo1 {
        width: 31%;
        height: 152px;
      }
      &.photo2 {
        width: 26%;
        height: 152px;
      }
      &.photo3 {
        width: 43%;
        height: 152px;
      }
      &.photo4 {
        width: 53.4%;
        height: 152px;
      }
      &.photo5 {
        width: 46.5%;
        height: 152px;
      }
      /*End of Demo-classes. Delete after development*/
      &.last-in-row {
        padding-right: 0;
      }
    }
  }
  .profile-details-single {
    position: relative;
    &:last-child {
      .b-details-value {
        margin-bottom: 8px;
      }
    }
    &.saved {
      .b-details-title {
        &:after {
          ._sprite(@check-sm);
          display: inline-block;
          position: relative;
          top: -1px;
          margin-left: 3px;
          content: "";
        }
      }
    }
    &.loading {
      .b-details-title {
        &:after {
          display: inline-block;
          width: 12px;
          height: 12px;
          margin-top: 4px;
          margin-left: 4px;
          content: "";
          background: url(~"@{img_url}/preloader_white_bg.gif") no-repeat;
        }
      }
    }
    &.location-block {
      .field {
        width: 100%;
        margin-right: 0;
      }
    }
    &.gender-block {
      float: right;
      width: 30.5%;
      .b-details-title {
        overflow: hidden;
        max-width: 120px;
        margin-bottom: 0;
        white-space: nowrap;
      }
      .field {
        width: 100%;
        margin-right: 0;
      }
    }
  }
  .b-details-title {
    display: inline-block;
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 20px;
    color: @profile-text_light;
  }
  .b-details-value {
    margin-bottom: 16px;
    &.active {
      .b-buttons-wrap {
        display: block;
      }
    }
  }
  .field {
    &.month {
      display: block;
      margin-right: 65.5%;
    }
    &.day,
    &.year {
      float: right;
    }
    &.day {
      width: 30%;
      margin-right: 2.5%;
    }
    &.year {
      width: 30.5%;
      margin-right: 0;
    }
  }
  .b-buttons-wrap {
    ._clearfix();
    display: none;
    position: relative;
    margin: 10px 0 5px;
    .btn {
      float: right;
      min-width: 80px;
      margin-left: 10px;
      font-weight: bold;
    }
  }
  .b-buttons {
    ._clearfix();
    position: relative;
    margin: 10px 0 5px;
    .btn {
      float: right;
      min-width: 80px;
      margin-left: 10px;
      font-weight: bold;
    }
  }
  .upload-form {
    ._box-sizing();
    ._radius();
    position: relative;
    width: 100%;
    margin-right: 3px;
    text-align: center;
    border: 2px dashed @profile-border;
    .b-drag-drop {
      padding: 10px 10px 6px;
    }
    .drag-drop-wrap,
    .title {
      line-height: 110px;
      text-align: center;
    }
    .drag-drop {
      display: inline-block;
      padding: 0 10px;
      line-height: 16px;
      text-align: center;
      vertical-align: middle;
      color: @profile-text_light;
    }
    .b-photo-choose {
      display: inline-block;
      margin: 0 0 6px;
      &.qq-upload-button-hover {
        background: none;
      }
    }
    input[multiple="multiple"] {
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-family: Arial;
      font-size: 118px;
      cursor: pointer;
      opacity: 0;
    }
    .btn-upload,
    .btn-fb-upload,
    .btn-fb {
      ._text-overflow();
      ._radius();
      ._box-sizing;
      display: inline-block;
      min-width: 180px;
      padding: 10px 15px;
      font: 16px/20px @profile-font_300;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      color: @profile-text_def;
      border: none;
      outline: none;
      background-color: @profile-btn_fb_bg;
      text-shadow: none;
      &:hover {
        background-color: lighten(@profile-btn_fb_bg, 5%);
      }
    }
    .btn-upload {
      display: block;
      position: relative;
      font-family: @profile-font_300;
      font-weight: bold;
      cursor: pointer;
      letter-spacing: .025em;
      text-transform: uppercase;
      background-color: @profile-btn_upload_bg;
      input[type="file"] {
        ._opacity(0);
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
      }
      &:hover {
        background-color: lighten(@profile-btn_upload_bg, 5%);
      }
    }
  }
  .b-heading {
    font: bold 16px/20px @profile-font_300;
    letter-spacing: .025em;
    text-transform: uppercase;
  }
  .personal-info {
    margin-top: -7px;
    padding-bottom: 17px;
  }
  .b-table {
    position: relative;
    left: -2px;
    padding: 15px 0 0 0;
    text-align: center;
  }
  .b-column-wrap {
    ._box-sizing();
    display: inline-block;
    position: relative;
    width: 32.5%;
    padding: 58px 0 0 0;
    text-align: left;
    vertical-align: top;
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      margin: auto;
      content: "";
    }
    &.body-info {
      .data-single {
        margin-left: 0;
      }
      &:before {
        ._sprite(@profile-info-male);
      }
      &.female {
        &:before {
          ._sprite-position(@profile-info-female);
        }
      }
    }
    &.social-info {
      &:before {
        ._sprite(@profile-info-social);
      }
    }
    &.outlook-info {
      &:before {
        ._sprite(@profile-info-outlook);
      }
    }
  }
  .data-single {
    margin-bottom: 16px;
    margin-left: 10px;
    span {
      display: block;
    }
    .separator {
      display: inline-block;
    }
    .field {
      width: 100%;
    }
    .select {
      height: 29px;
    }
  }
  .b-data-wrap {
    padding-top: 13px;
    font-size: 0;
    line-height: 0;
    .coreg-placement-on-profile-editor {
      padding-bottom: 0;
    }
    .data-single {
      display: inline-block;
      width: 32.5%;
      font-size: 16px;
      line-height: 20px;
      vertical-align: top;
      &.gender {
        margin-left: 0;
      }
      &.age {
        width: 30%;
        margin-left: 13px;
      }
      &.location {
        display: block;
        width: 65.6%;
        margin-left: 0;
      }
    }
  }
  .select-widget .b-dropdown-menu {
    width: auto;
    min-width: 100%;
    &.drop-up {
      top: auto;
      bottom: 36px;
    }
  }
  .looking-for {
    margin-top: 2px;
  }
  .b-dropdown-menu .nav {
    max-height: 187px;
  }
}

/*------------------------Media Queries-------------------------*/

@media (max-width: 1149px) {
  .w-my-profile {
    &:after {
      display: none;
    }
    .b-my-profile {
      max-width: 420px;
    }
    .profile-block {
      float: none;
      width: 100%;
      padding-right: 0;
      padding-bottom: 25px;
      &:first-child {
        padding-bottom: 30px;
      }
      &.right-column {
        float: none;
        width: 100%;
        padding-top: 0;
        padding-left: 0;
      }
    }
  }
}

/*---------------popup upload error-------------*/
.b-popup.b-popup-upload-error {
  position: relative;
  width: 395px;
  margin: 0 auto;
  padding: 20px 24px 16px 20px;
  .btn-row {
    margin: 15px 0 15px;
    text-align: center;
  }
  .meta-button-wrap {
    top: 10px;
    right: 14px;
  }
  .meta-button-wrap .btn-meta:after {
    ._sprite(@popup-close);
    position: absolute;
    top: 8px;
    left: 5px;
    content: "";
  }
  .meta-button-wrap .btn-meta:hover:after {
    opacity: .7;
  }
}

/*---------------My profile FB popup-------------*/
.my-profile-popup {
  position: relative;
  z-index: 2;
  width: 651px;
  max-width: 651px;
  margin: 0 auto;
  .b-popup-head {
    padding: 20px 20px 12px;
    border: none;
    .title {
      font: 300 26px/30px @profile-font_300;
    }
  }
  .meta-button-wrap {
    top: 10px;
    right: 14px;
  }
  .top-row {
    padding-bottom: 17px;
    border-bottom: 1px solid @profile-popup_border;
  }
  .album {
    position: relative;
    padding: 15px 0 16px;
    border-top: 1px solid @profile-popup_border;
    &:first-child {
      border-top: none;
    }
    &.active {
      .photo-list {
        display: block;
      }
      .open-btn {
        &:after {
          background-position: -377px -142px;
        }
      }
    }
  }
  .open-btn {
    position: absolute;
    top: 11px;
    right: -5px;
    width: 25px;
    height: 25px;
    margin: 0;
    outline: none;
    background: none;
    &:after {
      position: absolute;
      top: 9px;
      right: 5px;
      width: 16px;
      height: 10px;
      content: "";
      background: @img_url-sprite-old no-repeat -377px -131px;
    }
    &:hover {
      ._opacity(.85);
    }
  }
  .photo-list {
    ._clearfix();
    ._transition();
    display: none;
    position: relative;
    left: -10px;
    width: 103%;
    margin: 6px 0 4px;
  }
  .photo-wrap {
    display: block;
    float: left;
    overflow: hidden;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 10px 0 0 10px;
    cursor: pointer;
    img {
      display: block;
      width: 100%;
    }
    &:hover {
      &:after {
        display: block;
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        background-color: @profile-popup_photo_overlay_bg;
        background-color: fade(@profile-popup_photo_overlay_bg, 10%);
      }
    }
  }
  .check-photo {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: @profile-check_photo_bg;
    background-color: fade(@profile-check_photo_bg, 60%);
    &.active {
      display: block;
    }
    &:after {
      ._sprite(@profile-check);
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -10px 0 0 -12px;
      content: "";
    }
  }
  .btn-row {
    float: right;
    margin-top: 30px;
    .btn-cancel,
    .btn-upload {
      float: left;
      min-width: 100px;
      margin-left: 10px;
    }
  }
}

@media (min-width: 1360px) {
  .content-top .content-settings,
  .main-column {
    margin-right: 280px;
  }
  .sidebar,
  .sidebar-holder,
  .pattern-bg {
    width: 280px;
  }
  .footer {
    right: 280px;
  }
}

@media (min-width: 1330px) and (max-width: 1359px) {
  .w-my-profile:after,
  .w-user-profile:after {
    left: -107px;
  }
  .content-top .content-settings,
  .main-column {
    margin-right: 250px;
  }
  .sidebar,
  .sidebar-holder,
  .pattern-bg {
    width: 250px;
  }
  .footer {
    right: 250px;
  }
}
@media (min-width: 1150px) and (max-width: 1329px) {
  .w-my-profile:after,
  .w-user-profile:after {
    left: -92px;
  }
  .content-top .content-settings,
  .main-column {
    margin-right: 220px;
  }
  .sidebar,
  .sidebar-holder,
  .pattern-bg {
    width: 220px;
  }
  .footer {
    right: 220px;
  }
}
@media (min-width: 825px) and (max-width: 1149px) {
  .content-top .content-settings,
  .main-column {
    margin-right: 280px;
  }
  .sidebar,
  .sidebar-holder,
  .pattern-bg {
    width: 280px;
  }
  .footer {
    right: 280px;
  }
}
@media (max-width: 824px) {
  .content-top .content-settings,
  .main-column {
    margin-right: 220px;
  }
  .sidebar,
  .sidebar-holder,
  .pattern-bg {
    width: 220px;
  }
  .sidebar-widget .btn.short {
    width: 130px;
  }
  .footer {
    right: 220px;
  }
}

.ie8 {
  .w-my-profile {
    .upload-form {
      border: 1px dashed #978284;
    }
    .b-features .item {
      background-color: @profile-upload_form_border_ie8;
    }
    .personal-info {
      border-bottom: 1px solid @profile-personal_info_border_ie8;
    }
  }
}
