@profile-font_300: Helvetica, Arial, sans-serif;
@profile-text_def: #fff;
@profile-text_def_dark: #1f2226;
@profile-screenname_text: #fff;
@profile-feature_bg: #e6e6e6;
@profile-feature_bg_ie8: #d7cfd0;
@profile-primary_overlay: #fff;
@profile-primary_bg: #000;
@profile-primary_text: #fff;
@profile-avatar_overlay: #000;
@profile-text_active: #f73;
@profile-text_light: #999;
@profile-border: #ccc;
@profile-popup_border: #ccc;
@profile-popup_photo_overlay_bg: #fff;
@profile-check_photo_bg: #000;
@profile-btn_upload_bg: #f73;
@profile-btn_fb_bg: #3f61a6;
@profile-btn_close_bg: #000;
@profile-btn_close_text: #fff;
@profile-btn_close_font: Verdana, Geneva, sans-serif;
@profile-upload_form_border_ie8: #978284;
@profile-personal_info_border_ie8: #8a5055;
@profile-text_online: #52cc52;
@profile-text_online_rec: #f73;