.smn-wrap {
  height: 100%;
}
.smn-head {
  height: 45px;
  .smn-avatar {
    position: relative;
    float: left;
    margin: 7px 0 0 9px;
    width: 32px;
    height: 32px;
    ._radius(2px);
    img {
      width: 100%;
      height: 100%;
      display: block;
      ._radius(2px);
    }
  }
  h1 {
    color: @asideMenu-header_text;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    padding: 10px 0 0 0;
    margin: 0;
  }
}
.smn-box {
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.smn-list {
  margin: 0;
  padding: 0;
  li { padding: 0 18px; }
  li.openx-banner-item {padding: 0; }
  li +li a { border-top: 1px solid @asideMenu-item_border; }
  .divider {
    display: none;
  }
  .aside-profile {
    list-style-type: none;
    padding: 9px 18px 10px;
    background: @asideMenu-grad_bg;
    background: -webkit-radial-gradient(top center, ellipse cover, @asideMenu-grad_bg 5%, @asideMenu-grad_bg_2 40%, @asideMenu-grad_bg_3 100%);
    background: radial-gradient(ellipse at top center, @asideMenu-grad_bg 5%, @asideMenu-grad_bg_2 40%, @asideMenu-grad_bg_3 100%);
    background-position: 50% 20%;
    background-size: 100%, 100%;
    ._clearfix;
    a {
      text-decoration: none;
    }
  }
  .aside-screenname {
    color: @asideMenu-screenname;
    font-size: 15px;
    line-height: 32px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .av-wrap {
    width: 32px;
    height: 32px;
    margin-right: 12px;
    overflow: hidden;
    float: left;
    ._radius(4px);
    img {
      width: 100%;
    }
  }
  .item {
    overflow: hidden;
    .smn-upgrade-area {
      display: block;
      padding: 15px;
      color: @asideMenu-upgrade_text;
      font-size: 14px;
      text-align: center;
      text-decoration: none;
      background: @asideMenu-grad_bg;
      background: -webkit-radial-gradient(top center, ellipse cover, @asideMenu-grad_bg 5%, @asideMenu-grad_bg_2 40%, @asideMenu-grad_bg_3 100%);
      background: radial-gradient(ellipse at top center, @asideMenu-grad_bg 5%, @asideMenu-grad_bg_2 40%, @asideMenu-grad_bg_3 100%);
      position: relative;
      .text {
        line-height: 18px;
        padding-bottom: 12px;
      }
      .button {
        font-size: 17px;
      }
      h3 {
        font-weight: 400;
      }
      .smn-upgrade-area-item{
        position: relative;
        z-index: 1;
      }
      &.maleBan{
        background: url(~"@{asideMenu-images_path}/unlimitted_girls.jpg") no-repeat scroll 0 0;
        border-radius: 5px;
        &.sexy{
          background-position: 0 -613px;
        }
        &.bbw{
          background-position: 0 -460px;
        }
        &.asia{
          background-position: 0 -307px;
        }
        &.milf{
          background-position: 0 -155px;
        }
        &.trad{
          background-position: 0 -2px;
        }
      }
      &.femaleBan{
        background: url(~"@{asideMenu-images_path}/unlimitted_mans.jpg") no-repeat scroll 0 0;
        border-radius: 5px;
        &.bbw{
          background-position: -2px -307px;
        }
        &.asia{
          background-position: -2px -154px;
        }
        &.trad{
          background-position: -2px -2px;
        }
      }
      .smn-upgrade-area-bg{
        background: rgba(0,0,0,0.3);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 0;
        left: 0;
      }
    }
    .nm-text {
      display: inline-block;
      padding: 0 0 0 5px;
      color: @asideMenu-nm_text;
      font-size: 15px;
      line-height: 30px;
      text-decoration: none;
      float: left;
      width: 110px;
    }
    .nm-button-holder {
      float: right;
      .nm-button {
        ._radius(5px);
        vertical-align: top;
        border: none;
        background: none;
        color: @asideMenu-button_mode_text;
        line-height: 30px;
        padding: 0 8px;
        background: @asideMenu-button_mode;
      }
    }
    .a-item {
      position: relative;
      display: block;
      padding: 0 0 0 40px;
      font-size: 15px;
      line-height: 21px;
      color: @asideMenu-item_text;
      text-decoration: none;
      &:before {
        content: "";
        position: absolute;
        display: block;
        top: 50%;
        left: 0;
        background-image: @asideMenu-sprite;
        background-size: 213px;
      }
      img {
        display: block;
        width: 24px;
        height: 24px;
        position: absolute;
        left: 14px;
        top: 10px;
      }
      .counter {
        position: absolute;
        height: 24px;
        line-height: 24px;
        text-align: center;
        right: 0;
        top: 50%;
        margin-top: -12px;
        padding: 0 8px;
        color: @asideMenu-notification_text;
        background-color: @asideMenu-notification;
        ._radius(6px);
      }
    }
    .a-item-inner {
      display: block;
      padding: 15px 16px 14px 8px;
    }
    &.active .a-item {
      .a-item-inner {
      }
    }
    &.item-naughty-mode {
      border-bottom: 1px solid @asideMenu-sep;
      padding: 12px 15px 11px;
    }
    &.item-web a:before {
      width: 14px;
      height: 22px;
      margin-top: -11px;
      left: 6px;
      background-position: -40px -90px;
    }
    &.item-search a:before {
      width: 20px;
      height: 20px;
      margin-top: -10px;
      background-position: 0 -60px;
    }
    &.item-favorites a:before {
      background-position: -40px -60px;
    }
    &.item-activity a:before {
      width: 22px;
      height: 22px;
      margin-top: -11px;
      background-position: -40px -60px;
    }
    &.item-messenger a:before {
      width: 20px;
      height: 21px;
      margin-top: -10px;
      background-position: -193px -171px;
    }
    &.item-rate a:before {
      background-position: -160px -60px;
    }
    &.item-friends a:before {
      width: 24px;
      height: 22px;
      margin-top: -11px;
      background-position: 0 -165px;
    }
    &.item-livecams a:before {
      width: 24px;
      height: 22px;
      margin-top: -11px;
      background: url(~"@{asideMenu-images_path}/webcam_icon_search.png") no-repeat center center;
    }
    &.item-vod a:before {
      width: 24px;
      height: 21px;
      margin-top: -11px;
      background: url(~"@{asideMenu-images_path}/vod_icons.png") no-repeat 0 0;
    }
    &.item-ios a:before {
      background-position: -120px -60px;
    }
    &.item-android a:before {
      background-position: -0px -89px;
    }
    &.item-chatrooms a:before {
      width: 25px;
      height: 20px;
      margin-top: -10px;
      background-position: -80px -60px;
    }
    .screenname {
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      overflow: hidden;
    }
  }
  .get-button {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    line-height: 100%;
    border: none;
    padding: 10px 20px 11px;
    font-size: 14px;
    line-height: 100%;
    color: @asideMenu-button_text;
    background: @t-main-color;
    ._radius(5px);
  }
}