/* images */
@asideMenu-images_path: "../images";
@asideMenu-sprite: url(~"@{asideMenu-images_path}/icons.png");
/* end: images */

/* buttons */
@asideMenu-button: #1cbb1c;
@asideMenu-button_text: #fff;
/* end: buttons */

/* aside menu general */
@asideMenu-screenname: #ffba00;
@asideMenu-notification: @t-main-color; /* counter bg */
@asideMenu-notification_text: #fff;
@asideMenu-sep: #ccc;
@asideMenu-header_text: #fff;
@asideMenu-ava_border: #fff;
@asideMenu-upgrade_text: #fff;
@asideMenu-grad_bg: #1b1b1b;
@asideMenu-grad_bg_2: #1b1b1b;
@asideMenu-grad_bg_3: #1b1b1b;
@asideMenu-nm_text: #4c4c4c;
@asideMenu-button_mode: #9c1904;
@asideMenu-button_mode_text: #fff;
@asideMenu-item_text: #9fa1a3;
@asideMenu-item_border: #39393a;
/* end: aside menu general */