mixin popupTitle(title, replacement)
  span= _t("popupStopAction", "title."+dictionary+"."+title, replacement)

.b-popup-overlay(id="remove-account-popup")
  .b-popup-table
    .b-popup-cell
      .b-popup.b-remove-profile.cancel-billing
        .meta-button-wrap
          button.btn-close.btn-meta(id="close-popup", title=_t("popupStopAction", "button.close"))
        if (dictionary == "remove-account" && cancelBillingPageBeforeRemove == true)
          .b-popup-content.cancel-billing
            .remove-acc_pop_up__container
              .remove-acc_pop_up__main-content
                .remove-acc_pop_up__stage-description
                  p= _t("popupStopAction", "title.remove-account.cancel-repeat-billing")
        else if (typeof stage == "undefined" || stage == "checkPassword")
          .b-popup-content.step-1
            .remove-acc_pop_up__container
              .remove-acc_pop_up__head
                h2.remove-acc_pop_up__title
                  b!= _t("popupStopAction", "title.stage") + " 1.&nbsp;"
                  +popupTitle("check-password-stage-header")
                .remove-acc_pop_up__stage-description= _t("popupStopAction", "title."+dictionary+".check-password-main-text")
              .remove-acc_pop_up__main-content
                .remove-acc_pop_up__stage-description
                  p(id="password-error")
                    if error
                      span.remove-acc_pop_up__status.remove-acc_pop_up__status--error
                        span.icon-status.icon-Attention
                        = error ? _t("popupStopAction", error) : ""
                  p.inactive(id="password-message")
                    span.remove-acc_pop_up__status.remove-acc_pop_up__status--save
                      span.icon-status.icon-Check
                      span(id="password-message-text")
                .remove-acc_pop_up__grey-wrapper.remove-acc_pop_up__grey-wrapper__password
                  .remove-acc_pop_up__remind-password
                    a.remove-acc_pop_up__remind-password__link(id="remind-password", href="#")= _t("popupStopAction", "button.remind-password")
                    span.remove-acc_pop_up__remind-password__title= _t("popupStopAction", "title.your-password")
                    .remove-acc_pop_up__remind-password__textfield-wrap
                      input.remove-acc_pop_up__textfield(type="password", id="password", placeholder=_t("popupStopAction", "placeholder.password"), value=password)
              .remove-acc_pop_up__footer
                button.remove-acc_pop_up__button.remove-acc_pop_up__button--red.remove-acc_pop_up__button--right(id="check-password")= _t("popupStopAction", "button.continue")
        else
          if(typeof stage != "undefined")
            case stage
              when "statusMembership"
                .b-popup-content.step-2
                  .remove-acc_pop_up__container
                    .remove-acc_pop_up__head
                      h2.remove-acc_pop_up__title
                        b!= _t("popupStopAction", "title.stage") + " 2.&nbsp;"
                        +popupTitle("status-membership-stage-header")
                    .remove-acc_pop_up__main-content
                        .remove-acc_pop_up__grey-wrapper
                            .remove-acc_pop_up__data-row.remove-acc_pop_up__data-row--big
                              .remove-acc_pop_up__data-row__title.remove-acc_pop_up__data-row__title--big Membership Status:
                              if paymentStatus.type == "free"
                                a.icon-Hint.icon-Hint--remove-acc(title=_t("popupStopAction", "text.click-to-upgrade-your-account", {"{sitename}": siteInfo.siteName}), href='#')
                                a.remove-acc_pop_up__button.remove-acc_pop_up__button--red.remove-acc_pop_up__button--right.remove-acc_pop_up__button--small-font(href=paymentStatus.url)= _t("popupStopAction", "button.get-full-membership")
                                span.remove-acc_pop_up__data-row__membership= _t("popupStopAction", "text.free-membership")
                              else if paymentStatus.type == "paid"
                                span.remove-acc_pop_up__data-row__membership= _t("popupStopAction", "text.full-membership")
                            .remove-acc_pop_up__data-row.remove-acc_pop_up__data-row--big(data-notification-settings="1")
                              .remove-acc_pop_up__data-row__title.remove-acc_pop_up__data-row__title--big= _t("popupStopAction", "title.new_activity_notifications") + ":"
                              .activity-notifications-checks
                                each setting, name in notificationSettings.settings
                                  .activity-notifications-checks__item
                                     each val, key in setting
                                        .checkbox-wrap
                                          input.checkbox-item--hide(id=name, data-notificationSettings-checkbox="1", data-name=name, data-key=key, checked=(setting[key]) ? true : false, type='checkbox')
                                          label.checkbox-item.radiobox-item--activity(for=name)
                                            span.checkbox-item--show
                                            .checkbox-item__somelabel= _t("popupStopAction", "text.new_activity_notifications_"+name)
                          .remove-acc_pop_up__titled-group(data-notification-subscription="1")
                            .remove-acc_pop_up__titled-group__head
                              .remove-acc_pop_up__notifications
                                .remove-acc_pop_up__notifications__item= _t("popupStopAction", "title.email_or_sms_notification.email")
                                .remove-acc_pop_up__notifications__item= _t("popupStopAction", "title.email_or_sms_notification.sms")
                                .remove-acc_pop_up__notifications__item= _t("popupStopAction", "title.email_or_sms_notification.push")
                              .remove-acc_pop_up__data-row__title.remove-acc_pop_up__data-row__title--big= _t("popupStopAction", "title.email_sms_notification") + ":"
                            .remove-acc_pop_up__grey-wrapper
                              - var i = 0;
                              each setting, name in notificationSubscription.settings
                                - i++;
                                .remove-acc_pop_up__data-row.remove-acc_pop_up__data-row.remove-acc_pop_up__data-row--nopad
                                  .remove-acc_pop_up__data-row__title.remove-acc_pop_up__data-row__title= _t("popupStopAction", "title.email_or_sms_notification_"+name)
                                  .remove-acc_pop_up__notifications
                                    each key in ["email", "mobile", "push"]
                                      .remove-acc_pop_up__notifications__item
                                        .checkbox-wrap
                                          if(typeof setting[key] !== "undefined")
                                            input.checkbox-item--hide(type='checkbox', name=name, id=key+i, data-notificationSubscription-checkbox="1", data-name=name, data-key=key, checked=(setting[key]) ? true : false)
                                            label.checkbox-item.radiobox-item(for=key+i)
                                              span.checkbox-item--show
                          .remove-acc_pop_up__titled-group
                            .remove-acc_pop_up__titled-group__head
                              .remove-acc_pop_up__data-row__title.remove-acc_pop_up__data-row__title--big= _t("popupStopAction", "text.choose-options-below") + ":"
                            .remove-acc_pop_up__stage-description
                              p(id="error-container")
                                if error
                                  span.remove-acc_pop_up__status.remove-acc_pop_up__status--error
                                    span.icon-status.icon-Attention
                                    = error ? _t("popupStopAction", error) : ""
                            .remove-acc_pop_up__grey-wrapper(id="status-membership-user-answer")
                              .remove-acc_pop_up__data-row.remove-acc_pop_up__data-row--radio-list
                                .checkbox-wrap
                                  input.checkbox-item--hide.radiobox-item--hide(id="takeoff_mail", type='radio', name="name", value="off-mailing")
                                  label.checkbox-item(for='takeoff_mail')
                                    span.checkbox-item--show.radiobox-item--show
                                    .checkbox-item__somelabel= _t("popupStopAction", "title."+dictionary+".status-membership-user-answer-option-2")
                              .remove-acc_pop_up__data-row.remove-acc_pop_up__data-row--radio-list
                                .checkbox-wrap
                                  input.checkbox-item--hide.radiobox-item--hide(id="hide_profile", type='radio', name="name", value=(profileStatus == "active") ? "hide" : "show")
                                  label.checkbox-item(for='hide_profile')
                                    span.checkbox-item--show.radiobox-item--show
                                    .checkbox-item__somelabel
                                      if profileStatus == "active"
                                        = _t("popupStopAction", "title."+dictionary+".status-membership-user-answer-option-3-hide")
                                      else
                                        = _t("popupStopAction", "title."+dictionary+".status-membership-user-answer-option-3-show")
                              .remove-acc_pop_up__data-row.remove-acc_pop_up__data-row--radio-list
                                .checkbox-wrap
                                  input.checkbox-item--hide.radiobox-item--hide(id="hide_take_off", type='radio', name="name", value="hide-off")
                                  label.checkbox-item(for='hide_take_off')
                                    span.checkbox-item--show.radiobox-item--show
                                    .checkbox-item__somelabel= _t("popupStopAction", "title."+dictionary+".status-membership-user-answer-option-4")
                              .remove-acc_pop_up__data-row.remove-acc_pop_up__data-row--radio-list
                                .checkbox-wrap
                                  input.checkbox-item--hide.radiobox-item--hide(id="remove_profile", type='radio', name="name", value=dictionary)
                                  label.checkbox-item(for='remove_profile')
                                    span.checkbox-item--show.radiobox-item--show
                                    .checkbox-item__somelabel= _t("popupStopAction", "title."+dictionary+".status-membership-user-answer-option-1")
                    .remove-acc_pop_up__footer
                      button.remove-acc_pop_up__button.remove-acc_pop_up__button--grey.remove-acc_pop_up__button--left(id="close-popup")= _t("popupStopAction", "button.cancel")
                      button.remove-acc_pop_up__button.remove-acc_pop_up__button--red.remove-acc_pop_up__button--right(id="status-membership")= _t("popupStopAction", "button.continue")
              when "userReason"
                .b-popup-content.step-3
                  .remove-acc_pop_up__container
                    .remove-acc_pop_up__head
                      h2.remove-acc_pop_up__title
                        b!= _t("popupStopAction", "title.stage") + " 3.&nbsp;"
                        +popupTitle("user-reason-stage-header")
                      .remove-acc_pop_up__stage-description= _t("popupStopAction", "title."+dictionary+".user-reason-main-text")
                    .remove-acc_pop_up__main-content(id="user-reason-answer")
                      .remove-acc_pop_up__stage-description
                        p(id="error-container")
                          if error
                            span.remove-acc_pop_up__status.remove-acc_pop_up__status--error
                              span.icon-status.icon-Attention
                              = error ? _t("popupStopAction", error) : ""
                      .remove-acc_pop_up__grey-wrapper
                        each reason in reasons
                          .remove-acc_pop_up__data-row.remove-acc_pop_up__data-row--radio-list(data-has-sub=(reason.children.length > 0) ? "1" : "0" data-reasone=reason.reasonId)
                            .checkbox-wrap
                              input.checkbox-item--hide.radiobox-item--hide(id=reason.reasonId type="radio", name="name", value=reason.reasonId, data-action=reason.action)
                              label.checkbox-item(for=reason.reasonId)
                                span.checkbox-item--show.radiobox-item--show
                                .checkbox-item__somelabel= _t("popupStopAction", "title."+dictionary+".user-reason-"+reason.reasonText, {"{sitename}": siteInfo.siteName})
                            if reason.children.length > 0
                              .inactive(data-sub="1")
                                each child in reason.children
                                  .remove-acc_pop_up__data-row--radio-list
                                    .checkbox-wrap
                                      input.checkbox-item--hide.radiobox-item--hide(id=child.reasonId type="radio", name="name", value=child.reasonId, data-action=child.action)
                                      label.checkbox-item(for=child.reasonId)
                                        span.checkbox-item--show.radiobox-item--show
                                        .checkbox-item__somelabel= _t("popupStopAction", "title." + dictionary + ".user-reason-" + child.reasonText, {"{sitename}": siteInfo.siteName})
                            if reason.action == "other"
                              .remove-acc_pop_up__data-row--radio-list.inactive(data-sub="1", data-additional="1")
                                span.remove-acc_pop_up__textfield__title= _t("popupStopAction", "title.your-comment")
                                textarea.remove-acc_pop_up__textfield(name="frm-messenger-text", data-reasone-text, data-resize="auto", placeholder=_t("popupStopAction", "placeholder.enter-your-text-here"))
                    .remove-acc_pop_up__footer
                      button.remove-acc_pop_up__button.remove-acc_pop_up__button--grey.remove-acc_pop_up__button--left(id="close-popup")= _t("popupStopAction", "button.cancel")
                      button.remove-acc_pop_up__button.remove-acc_pop_up__button--red.remove-acc_pop_up__button--right(id="user-reason")= _t("popupStopAction", "button.continue")
              when "userStory"
                .b-popup-content.step-story
                  .remove-acc_pop_up__container
                    .remove-acc_pop_up__head
                      h2.remove-acc_pop_up__title
                        +popupTitle("user-story-stage-header") + "&nbsp;"
                      .remove-acc_pop_up__stage-description= _t("popupStopAction", "title."+dictionary+".user-story-main-text", {"{sitename}": siteInfo.siteName})
                    .remove-acc_pop_up__main-content
                      .remove-acc_pop_up__stage-description
                        p(id="error-container")
                          if error
                            span.remove-acc_pop_up__status.remove-acc_pop_up__status--error
                              span.icon-status.icon-Attention
                              = error ? _t("popupStopAction", error) : ""
                      .remove-acc_pop_up__grey-wrapper.remove-acc_pop_up__grey-wrapper__password
                        .remove-acc_pop_up__remind-password
                          span.remove-acc_pop_up__textfield__title= _t("popupStopAction", "title.write-your-story")
                          textarea.remove-acc_pop_up__textfield(name="frm-messenger-text", id="user-story-text", data-resize="auto", placeholder=_t("popupStopAction", "placeholder.enter-your-text-here"))
                    .remove-acc_pop_up__footer
                      button.remove-acc_pop_up__button.remove-acc_pop_up__button--grey.remove-acc_pop_up__button--left(id="close-popup")= _t("popupStopAction", "button.cancel")
                      button.remove-acc_pop_up__button.remove-acc_pop_up__button--red.remove-acc_pop_up__button--right(id="user-story")= _t("popupStopAction", "button.save-and-continue")
              when "areYouSure"
                .b-popup-content.step-4
                  .remove-acc_pop_up__container
                    .remove-acc_pop_up__head
                      h2.remove-acc_pop_up__title
                        b!= _t("popupStopAction", "title.stage") + " 4.&nbsp;"
                        +popupTitle("are-you-sure-stage-header")
                      .remove-acc_pop_up__stage-description= _t("popupStopAction", "title."+dictionary+".are-you-sure-main-text")
                    .remove-acc_pop_up__main-content
                      .remove-acc_pop_up_divider
                      .remove-acc_pop_up__remove-aftermath
                        .remove-acc_pop_up__remove-aftermath__row
                          span.icon-Check
                          = _t("popupStopAction", "title."+dictionary+".are-you-sure-lost-point-1")
                        .remove-acc_pop_up__remove-aftermath__row
                          span.icon-Check
                          = _t("popupStopAction", "title."+dictionary+".are-you-sure-lost-point-2", {"{sitename}": siteInfo.siteName})
                        .remove-acc_pop_up__remove-aftermath__row
                          span.icon-Check
                          = _t("popupStopAction", "title."+dictionary+".are-you-sure-lost-point-3")
                        .remove-acc_pop_up__remove-aftermath__row
                          span.icon-Check
                          = _t("popupStopAction", "title."+dictionary+".are-you-sure-lost-point-4")
                      .remove-acc_pop_up_divider
                      .remove-acc_pop_up__stage-description= _t("popupStopAction", "title."+dictionary+".are-you-sure-main-text-part-3")
                      .remove-acc_pop_up__shure-stage-title= _t("popupStopAction", "title."+dictionary+".are-you-sure-answer-option-header")
                      .remove-acc_pop_up__stage-description
                        p(id="error-container")
                          if error
                            span.remove-acc_pop_up__status.remove-acc_pop_up__status--error
                              span.icon-status.icon-Attention
                              = error ? _t("popupStopAction", error) : ""
                      .remove-acc_pop_up__grey-wrapper(id="are-you-sure-answer")
                        .remove-acc_pop_up__data-row.remove-acc_pop_up__data-row--radio-list
                          .checkbox-wrap
                            input#remove.checkbox-item--hide.radiobox-item--hide(type="radio", name="name", value="yes")
                            label.checkbox-item(for='remove')
                              span.checkbox-item--show.radiobox-item--show
                              .checkbox-item__somelabel= _t("popupStopAction", "title."+dictionary+".are-you-sure-answer-option-1")
                        .remove-acc_pop_up__data-row.remove-acc_pop_up__data-row--radio-list
                          .checkbox-wrap
                            input#hide.checkbox-item--hide.radiobox-item--hide(type="radio", name="name", value="no")
                            label.checkbox-item(for='hide')
                              span.checkbox-item--show.radiobox-item--show
                              .checkbox-item__somelabel= _t('popupStopAction', "title."+dictionary+".are-you-sure-answer-option-2")
                    .remove-acc_pop_up__footer
                      button.remove-acc_pop_up__button.remove-acc_pop_up__button--grey.remove-acc_pop_up__button--left(id="close-popup")= _t("popupStopAction", "button.cancel")
                      button.remove-acc_pop_up__button.remove-acc_pop_up__button--red.remove-acc_pop_up__button--right(id="are-you-sure")= _t("popupStopAction", "button.continue")
              when "stop"
                if (dictionary == "cancel-billing" && viaPhoneCode == true)
                  .b-popup-content.via-phone-code
                    .remove-acc_pop_up__container
                      .remove-acc_pop_up__head
                        h2.remove-acc_pop_up__title
                          +popupTitle("via-phone-code-header", {"{sitename}": siteInfo.siteName})
                      .remove-acc_pop_up__main-content
                        .remove-acc_pop_up__stage-description
                          p= _t("popupStopaction", "title.cancel-billing.via-phone-code-body-text-1")
                          p= _t("popupStopaction", "title.cancel-billing.via-phone-code-body-text-2", {"{email address}": email})
                          p= _t("popupStopaction", "title.cancel-billing.via-phone-code-body-text-3")
                else if (dictionary == "cancel-billing" && hasBeenCancelled == true)
                  .b-popup-content.b-step.has-been-cancelled
                    .remove-acc_pop_up__container
                      .remove-acc_pop_up__head
                        h2.remove-acc_pop_up__title
                          +popupTitle("has-been-cancelled-header")
                      .remove-acc_pop_up__main-content
                        .remove-acc_pop_up__stage-description
                          p= _t("popupStopAction", "title.cancel-billing.has-been-cancelled-body-text-1", {"{mm/dd/yy}": userSubscriptionExpire})
                          p= _t("popupStopAction", "title.cancel-billing.has-been-cancelled-body-text-2")
                else if ((dictionary == "cancel-billing" || dictionary == "remove-account") && viaCode == true && code == null)
                  .b-popup-content.b-step.via-code
                    .remove-acc_pop_up__container
                      .remove-acc_pop_up__head
                        h2.remove-acc_pop_up__title
                          +popupTitle("via-code-header", {"{sitename}": siteInfo.siteName})
                      .remove-acc_pop_up__main-content
                        .remove-acc_pop_up__stage-description
                          p= _t("popupStopAction", "title."+dictionary+".via-code-body-text-1")
                          p= _t("popupStopAction", "title."+dictionary+".via-code-body-text-2", {"{email address}": email})
                          p= _t("popupStopAction", "title."+dictionary+".via-code-body-text-3")
                else if (hotLineCall == true)
                  .b-popup-content.step-5
                    .remove-acc_pop_up__container
                      .remove-acc_pop_up__head
                        h2.remove-acc_pop_up__title
                          b!= _t("popupStopAction", "title.stage") + " 5.&nbsp;"
                          +popupTitle("hot-line-call-header")
                      .remove-acc_pop_up__main-content
                        .remove-acc_pop_up__stage-description
                          .unscribe-b-wrap
                            .unscribe-b-wrap__content
                              .unscribe-b-wrap__content-item= _t("popupStopAction", "title."+dictionary+".hot-line-call-main-text-part-1")
                              if siteInfo.contact
                                .unscribe-b-wrap__content-item.unscribe-b-wrap__content-item--id= _t("popupStopAction", "text.local") + ": " + siteInfo.contact.localContactPhone
                                .unscribe-b-wrap__content-item.unscribe-b-wrap__content-item--id= _t("popupStopAction", "text.intnl") + ": " + siteInfo.contact.intnlContactPhone
                              else
                                .unscribe-b-wrap__content-item.unscribe-b-wrap__content-item--id= siteInfo.phone.code + " " + siteInfo.phone.phoneNumber
                              .unscribe-b-wrap__content-item.unscribe-b-wrap__content-item= _t("popupStopAction", "title."+dictionary+".hot-line-call-main-text-part-3") + publicId
                            .unscribe-b-wrap__content.unscribe-b-wrap__content--center= _t("popupStopAction", "or")
                            .unscribe-b-wrap__content
                              .unscribe-b-wrap__content-item
                                | &nbsp;
                              .unscribe-b-wrap__content-item
                                a.unscribe-b-wrap__content-item-btn(href="skype:" + siteInfo.phone.code + siteInfo.phone.phoneNumber)= _t("popupStopAction", "title."+dictionary+".hot-line-call-confirm")
                                .unscribe-note= _t("popupStopAction", "title."+dictionary+".hot-line-call-main-text-part-2")
                      .remove-acc_pop_up__footer
                else
                  .b-popup-content.b-step.step-5.active
                    .remove-acc_pop_up__container
                      .remove-acc_pop_up__head
                        h2.remove-acc_pop_up__title
                          b!= _t("popupStopAction", "title.stage") + " 5.&nbsp;"
                          +popupTitle("stop-stage-header")
                      .remove-acc_pop_up__main-content
                        .remove-acc_pop_up__stage-description
                          p= _t("popupStopAction", "title."+dictionary+".stop-subscription-main-text-part-1")
                          p= _t("popupStopAction", "title."+dictionary+".stop-subscription-main-text-part-2", {"{sitename}": siteInfo.siteName})
                          p= _t("popupStopAction", "title."+dictionary+".stop-subscription-custom-text-1")

                      .remove-acc_pop_up__footer.remove-acc_pop_up__footer--shure-stage
                        button.remove-acc_pop_up__button.remove-acc_pop_up__button--grey.remove-acc_pop_up__button--left(id="close-popup")= _t("popupStopAction", "button.cancel")
                        button.remove-acc_pop_up__button.remove-acc_pop_up__button--red.remove-acc_pop_up__button--right(id="confirm")= _t("popupStopAction", "title." + dictionary + ".stop-subscription-confirm")
              when "emailSecurityCheck"
                .b-popup-content.email-verificate
                  .remove-acc_pop_up__container
                    .remove-acc_pop_up__head
                      h2.remove-acc_pop_up__title
                        +popupTitle("email-security-check-header")
                    .remove-acc_pop_up__main-content
                      .remove-acc_pop_up__stage-description
                        p= _t("popupStopAction", "title."+dictionary+".email-security-check-body-text-1-valid-email")
                      .remove-acc_pop_up__stage-description
                        p(id="email-error")
                          if error
                            span.remove-acc_pop_up__status.remove-acc_pop_up__status--error
                              span.icon-status.icon-Attention
                              = error ? _t("popupStopAction", error) : ""
                      .remove-acc_pop_up__grey-wrapper.remove-acc_pop_up__grey-wrapper__password
                        .remove-acc_pop_up__remind-password
                          .remove-acc_pop_up__remind-password__textfield-wrap
                            input.remove-acc_pop_up__textfield(type="text" id="email" value=email)
                      .remove-acc_pop_up__stage-description
                        p= _t("popupStopAction", "title."+dictionary+".email-security-check-body-text-2")
                    .remove-acc_pop_up__footer
                      button.remove-acc_pop_up__button.remove-acc_pop_up__button--grey.remove-acc_pop_up__button--left(id="close-popup")= _t("popupStopAction", "button.cancel")
                      button.remove-acc_pop_up__button.remove-acc_pop_up__button--red.remove-acc_pop_up__button--right(id="check-email")= _t("popupStopAction", "button.continue")
              when "enterCode"
                .b-popup-content.enter-code
                  .remove-acc_pop_up__container
                    .remove-acc_pop_up__head
                      h2.remove-acc_pop_up__title
                        +popupTitle("enter-code-header")
                    .remove-acc_pop_up__main-content
                      .remove-acc_pop_up__stage-description
                        p= _t("popupStopAction", "title."+dictionary+".enter-code-body-text-1")
                      .remove-acc_pop_up__stage-description
                        p(id="code-error")
                          if error
                            span.remove-acc_pop_up__status.remove-acc_pop_up__status--error
                              span.icon-status.icon-Attention
                              = error ? _t("popupStopAction", error) : ""
                      .remove-acc_pop_up__grey-wrapper.remove-acc_pop_up__grey-wrapper__password
                        .remove-acc_pop_up__remind-password
                          .remove-acc_pop_up__remind-password__textfield-wrap
                            input.remove-acc_pop_up__textfield(type="text", id="code", maxlength="8")
                      .remove-acc_pop_up__stage-description
                        p= _t("popupStopAction", "title."+dictionary+".enter-code-body-text-2", {"{email address}": email})
                    .remove-acc_pop_up__footer
                      button.remove-acc_pop_up__button.remove-acc_pop_up__button--red.remove-acc_pop_up__button--right(id="check-code")= _t("popupStopAction", "button.continue")
