.flag {
  display: inline-block;
}
.flag:before {
  display: inline-block;
  width: 16px;
  height: 11px;
  margin: -.25em .5em 0 0;
  content: "";
  vertical-align: middle;
  background-image: url("@{img_url}/flags.png");
  background-repeat: no-repeat;
}
.flag.AUS:before {
  background-position: -336px 0;
}
.flag.BEL:before {
  background-position: -64px 0;
}
.flag.BRA:before {
  background-position: -48px 0;
}
.flag.CAN:before {
  background-position: -16px 0;
}
.flag.CZE:before {
  background-position: -176px 0;
}
.flag.GRC:before {
  background-position: -80px 0;
}
.flag.HUN:before {
  background-position: -192px 0;
}
.flag.IND:before {
  background-position: -240px 0;
}
.flag.IRL:before {
  background-position: -96px 0;
}
.flag.JPN:before {
  background-position: -256px 0;
}
.flag.MYS:before {
  background-position: -272px 0;
}
.flag.MEX:before {
  background-position: -32px 0;
}
.flag.NLD:before {
  background-position: -112px 0;
}
.flag.NZL:before {
  background-position: -352px 0;
}
.flag.PHL:before {
  background-position: -288px 0;
}
.flag.POL:before {
  background-position: -208px 0;
}
.flag.PRT:before {
  background-position: -128px 0;
}
.flag.ROU:before {
  background-position: -224px 0;
}
.flag.ZAF:before {
  background-position: -320px 0;
}
.flag.SWE:before {
  background-position: -144px 0;
}
.flag.THA:before {
  background-position: -304px 0;
}
.flag.GBR:before {
  background-position: -160px 0;
}
.flag.USA:before {
  background-position: 0 0;
}
.flag.ESP:before {
  background-position: -368px 0;
}
.flag.FRA:before {
  background-position: -384px 0;
}
.flag.ITA:before {
  background-position: -400px 0;
}
.flag.ARG:before {
  background-position: -416px 0;
}
.flag.COL:before {
  background-position: -432px 0;
}
.flag.CUB:before {
  background-position: -464px 0;
}
.flag.ECU:before {
  background-position: -528px 0;
}
.flag.PAN:before {
  background-position: -544px 0;
}
.flag.PER:before {
  background-position: -448px 0;
}
.flag.DOM:before {
  background-position: -512px 0;
}
.flag.VEN:before {
  background-position: -480px 0;
}
.flag.DEU:before {
  background-position: -560px 0;
}
.flag.CYP:before {
  background-position: -576px 0;
}
.flag.AUT:before {
  background-position: -592px 0;
}
.flag.DNK:before {
  background-position: -608px 0;
}
.flag.NOR:before {
  background-position: -624px 0;
}
.flag.FIN:before {
  background-position: -640px 0;
}
.flag.CHE:before {
  background-position: -656px 0;
}
.flag.RUS:before {
  background-position: -672px 0;
}
.flag.UKR:before {
  background-position: -688px 0;
}
.flag.TUR:before {
  background-position: -704px 0;
}
.l-toolbar {
  position: fixed;
  z-index: 15;
  top: 0;
  right: 0;
  left: 0;
  min-width: 680px;
  background: @toolbar-bg;
  &.unlogged {
    .l-toolbar-top,
    .l-toolbar-widgets,
    .l-toolbar-bottom {
      display: none;
    }
  }
  input[type="text"],
  input[type="password"] {
    color: @toolbar-text_def_dark;
  }
  .checkbox-info {
    overflow: hidden;
    width: 94%;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal;
    input[type=checkbox] {
      float: left;
      position: relative;
      height: auto;
      margin-top: 2px;
      margin-right: 8px;
      opacity: 1;
    }
  }
  .b-dropdown-menu {
    .nav {
      max-height: 210px;
      margin-top: 6px;
      margin-right: 2px;
      margin-bottom: 4px;
      padding: 0 0 0 6px;
      li {
        margin: 0 0 2px !important;
        &:last-child {
          margin: 0;
        }
        a {
          ._radius();
          display: block;
          position: relative;
          padding: 6px 4px;
          text-decoration: none;
          color: @toolbar-text_def_dark;
          &:hover {
            background: @toolbar-nav_item_bg_hover;
          }
          &.blurred-heavy,
          &.blurred {
            &:after {
              position: absolute;
              z-index: 2;
              top: 9px;
              left: 9px;
              width: 30px;
              height: 30px;
              content: "";
              background: fade(@toolbar-blur_overlay_bg, 50%);
            }
          }
          &.blurred-heavy {
            .photo,
            &:after {
              ._blur(6);
            }
            &,
            x:-moz-any-link {
              &:after {
                background: fade(@toolbar-blur_overlay_bg, 85%);
              }
            }
            /*IE10 hack*/
            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
              &:after {
                background: fade(@toolbar-blur_overlay_bg, 85%);
              }
            }
            /*IE10 hack end*/
          }
          &.blurred {
            .photo,
            &:after {
              ._blur(3);
            }
            &,
            x:-moz-any-link {
              &:after {
                background: fade(@toolbar-blur_overlay_bg, 70%);
              }
            }
            /*IE10 hack*/
            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
              &:after {
                background: fade(@toolbar-blur_overlay_bg, 70%);
              }
            }
            /*IE10 hack end*/
          }
          .photo {
            display: inline-block;
            float: left;
            width: 30px;
            height: 30px;
            margin-right: 9px;
          }
          .screenname {
            ._text-overflow(135px);
            display: block;
            font-size: 16px;
          }
        }
      }
    }
  }
  .b-upgrade {
    ._clearfix();
    padding: 7px 10px 6px;
    font-family: @toolbar-font_600;
    font-weight: 600;
    line-height: 14px;
    border-bottom: 1px solid @toolbar-border_def;
    a {
      text-decoration: none;
      color: @toolbar-text_def_dark;
    }
  }
  .gcu-icon {
    ._radius(30px);
    display: inline-block;
    float: left;
    position: relative;
    width: 26px;
    height: 26px;
    margin: 3px 15px 0 5px;
    border: 2px solid @toolbar-icon_border;
    &:before {
      ._sprite(@toolbar-gcu-success);
      position: absolute;
      top: 9px;
      left: 6px;
      content: "";
    }
  }
  .gcu-text {
    float: left;
    width: 150px;
    line-height: 16px;
    word-wrap: break-word;
  }
  .b-view-more {
    padding: 12px 10px 10px;
    .view-more {
      width: 100%;
      padding: 0 15px;
      line-height: 40px;
      text-align: center;
    }
  }
  .l-toolbar-top {
    height: 70px;
    padding: 0 20px;
    background: @toolbar-top_bg;
  }
  .l-menu-bar {
    ._clearfix();
    float: left;
  }
  .menu-bar {
    ._gradient(@toolbar-header_start, @toolbar-header_end);
    ._shadow(0px 1px 4px fade(@toolbar-header_shadow, 40%));
    position: relative;
    z-index: 200;
    height: 100px;
    .main {
      position: relative;
      min-width: 750px;
      margin: 0 auto;
    }
  }
  .b-logo {
    display: block;
    float: left;
    height: 100%;
  }
  .logo {
    ._sprite(@logo);
    display: inline-block;
    margin-top: 19px;
  }
  .b-site-nav {
    float: left;
    position: relative;
    z-index: 15;
    width: 100%;
    height: 70px;
    margin: 0;
  }
  .hot-label {
    // Hide HOT label text. If you want to display it - add styles for it before
    display: none;
  }
  .b-nav-list {
    ._clearfix;
    margin-left: 160px;
    padding: 0;
    font-size: 12px;
    list-style: none;
    & > li {
      display: inline-block;
      float: left;
      position: relative;
      &.active {
        z-index: 30;
        .b-dropdown-menu {
          display: block;
        }
      }
      .counter {
        ._opacity(0);
        ._box-sizing;
        ._radius(15px);
        visibility: hidden;
        position: absolute;
        z-index: 2;
        top: 14px;
        left: 50%;
        min-width: 20px;
        margin-left: 5px;
        padding: 1px 4px 0;
        line-height: 14px;
        text-align: center;
        color: @toolbar-text_def_dark;
        border: 2px solid @toolbar-counter_border;
        background: @toolbar-counter_bg;
        &.active {
          ._opacity(1);
          visibility: visible;
        }
      }
    }
  }
  .site-nav-item {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    padding: 0 14px;
    font-family: @toolbar-font_600;
    font-size: 11px;
    font-weight: 600;
    text-decoration: none;
    border: none;
    outline: none;
    background: none;
    &:before {
      ._opacity(.85);
      // Select only one name from collection of icons (because they have all the same sizes)
      ._sprite-image(@toolbar-menu-messages);
      ._sprite-width(@toolbar-menu-messages);
      ._sprite-height(@toolbar-menu-messages);
      position: absolute;
      top: 7px;
      right: 0;
      left: 0;
      width: 40px;
      height: 34px;
      margin: auto;
      content: "";
    }
    &:hover {
      &:before,
      .title {
        ._opacity(1);
      }
    }
    &:hover,
    &.active,
    &:active {
      &.site-nav-search {
        &:before {
          ._sprite-position(@toolbar-menu-search-active);
        }
      }
      &.site-nav-messenger {
        &:before {
          ._sprite-position(@toolbar-menu-messages-active);
        }
      }
      &.site-nav-chatrooms {
        &:before {
          ._sprite-position(@toolbar-menu-chatrooms-active);
        }
      }
      &.site-nav-views {
        &:before {
          ._sprite-position(@toolbar-menu-views-active);
        }
      }
      &.site-nav-favorites {
        &:before {
          ._sprite-position(@toolbar-menu-friends-active);
        }
      }
      &.site-nav-friends {
        &:before {
          background-position: -314px -40px;
        }
      }
      &.site-nav-winks {
        &:before {
          ._sprite-position(@toolbar-menu-winks-active);
        }
      }
      &.site-nav-newsfeed {
        &:before {
          ._sprite-position(@toolbar-menu-whats-new-active);
        }
      }
      &.site-nav-like {
        &:before {
          ._sprite-position(@toolbar-menu-search-active);
        }
      }
      .title {
        color: @toolbar-nav_text_active;
      }
    }
    &.site-nav-search {
      &:before {
        ._sprite-position(@toolbar-menu-search);
      }
    }
    &.site-nav-messenger {
      &:before {
        ._sprite-position(@toolbar-menu-messages);
      }
    }
    &.site-nav-chatrooms {
      &:before {
        ._sprite-position(@toolbar-menu-chatrooms);
      }
    }
    &.site-nav-views {
      &:before {
        ._sprite-position(@toolbar-menu-views);
      }
    }
    &.site-nav-favorites {
      &:before {
        ._sprite-position(@toolbar-menu-friends);
      }
    }
    &.site-nav-friends {
      &:before {
        background-position: -314px 2px;
      }
    }
    &.site-nav-winks {
      &:before {
        ._sprite-position(@toolbar-menu-winks);
      }
    }
    &.site-nav-newsfeed {
      &:before {
        ._sprite-position(@toolbar-menu-whats-new);
      }
    }
    &.site-nav-like {
      &:before {
        ._sprite-position(@toolbar-menu-search);
      }
    }
    .title {
      display: block;
      margin: 40px auto 0;
      text-align: center;
      color: @toolbar-text_light;
    }
  }
  .b-nav-list {
    .b-dropdown-menu {
      z-index: 20;
      top: 45px;
      left: 60%;
      width: 220px;
      &:after {
        position: absolute;
        top: -6px;
        width: 0;
        height: 0;
        content: "";
        border-right: 8px solid transparent;
        border-bottom: 8px solid @white;
      }
    }
  }
  .l-toolbar-bottom {
    clear: both;
    position: relative;
    padding: 15px 20px 0;
  }
  .search-box {
    display: inline-block;
    font-size: 16px;
    color: @toolbar-text_def_dark;
    .field {
      display: inline-block;
      margin-bottom: 15px;
      vertical-align: top;
      .label {
        ._text-overflow();
        display: none;
        max-width: 70px;
        padding: 11px 12px 0 0;
      }
      & > .select-widget {
        background-color: @toolbar-select_widget_bg;
        &:after {
          display: none;
        }
      }
      &.field-age .select-widget {
        width: 100px;
      }
    }
    .range-start,
    .range-end {
      input [type="text"] {
        font-size: 16px;
      }
    }
    .b-location {
      .select-input {
        width: 180px;
        max-width: 180px !important;
        font-size: 16px;
      }
      .b-dropdown-menu {
        position: absolute;
        top: 100%;
        right: auto;
        left: -200px;
        width: 675px;
        margin-top: 10px;
        padding: 0;
        font-size: 16px;
        text-align: left;
        color: @toolbar-text_def_dark;
        border: none;
        border: 1px solid @toolbar-border_def;
        background: @white;
        &:not(ie8) {
          border: none;
        }
      }
      .location-content {
        overflow: hidden;
        position: relative;
      }
      .slider {
        ._clearfix();
        width: 2025px;
        cursor: default;
        &.country {
          margin-left: 0;
          padding-left: 0;
        }
        &.state {
          margin-left: -100%;
        }
        &.city {
          margin-left: -200%;
        }
      }
      .slide {
        float: left;
        position: relative;
        width: 675px;
      }
      .country-header {
        min-height: 22px;
        padding: 14px 10px;
        line-height: 21px;
        border-bottom: 1px solid @toolbar-border_def;
        .geo-location-link {
          float: right;
          font-weight: 600;
          cursor: pointer;
          text-transform: uppercase;
          color: @toolbar-location-color-1;
          &:after {
            ._sprite(@toolbar-locate-me);
            display: inline-block;
            margin: -3px 0 0 .5em;
            content: "";
            vertical-align: middle;
          }
          &:hover {
            text-decoration: underline;
          }
        }
        .location-title {
          display: inline-block;
          min-width: 24%;
          margin-right: 13px;
          font-weight: 600;
          vertical-align: top;
          text-transform: uppercase;
          color: @toolbar-location-color-1;
          &.location-title-link {
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .current-country {
          display: inline-block;
          vertical-align: middle;
        }
      }
      .country-list {
        padding: 14px 10px;
        .list-title {
          display: inline-block;
          width: 24%;
          margin-right: 8px;
          vertical-align: top;
          .any-state,
          .city-selected {
            cursor: pointer;
            color: @toolbar-location-color-1;
            border-bottom: 1px dashed @toolbar-location-color-1;
            &:hover {
              border-bottom-color: transparent;
            }
          }
          .selected {
            cursor: default;
            border-bottom: none;
          }
        }
        .search-country {
          float: right;
          position: relative;
          width: 30%;
          height: 40px;
          margin-top: -11px;
          .search-input {
            width: 100%;
            padding: 5px 10px 5px 30px;
            line-height: 20px;
            color: @toolbar-text_def_dark;
            background: @toolbar-location-input-bg url("@{img_url}/search-input-lupe.png") no-repeat 10px center;
          }
        }
        .country-distance {
          display: inline-block;
          width: 41%;
          vertical-align: top;
          .distance-list {
            float: none;
            margin: -5px 10px 0 0;
            line-height: normal;
            vertical-align: top;
          }
          .switcher-cell {
            button {
              padding: 6px 16px;
              color: @toolbar-text_def_dark;
            }
            &:hover {
              button {
                color: @toolbar-text_def_light;
              }
            }
            &.active {
              button {
                color: @toolbar-text_def_dark;
              }
            }
            &.active {
              button {
                background: @toolbar-distance_list_bg_active;
              }
            }
          }
          .label {
            display: inline;
            max-width: 200px;
            height: auto;
            margin: 0;
            padding: 0;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            vertical-align: top;
            white-space: normal;
          }
        }
        .list-content {
          overflow-y: auto;
          max-height: 400px;
          margin: 0 -10px;
          font-size: 0;
          font-weight: normal;
          line-height: 0;
          letter-spacing: 0;
          text-transform: none;
        }
        .item {
          ._box-sizing();
          display: inline-block;
          width: 23%;
          margin: 0 2% 0 0;
          padding: 7px 10px;
          font-size: 16px;
          line-height: 16px;
          cursor: pointer;
          vertical-align: top;
          text-decoration: none;
          letter-spacing: normal;
          &:hover {
            text-decoration: underline;
          }
          &.homeland,
          &.selected {
            cursor: default;
            text-decoration: none;
            background: @toolbar-nav_item_bg_hover;
          }
          &.flag {
            ._text-overflow();
          }
        }
      }
      .country-list-head {
        margin: 7px 0 20px;
      }
    }
  }
  .search-buttons {
    display: inline-block;
  }
  .advanced-search {
    display: inline-block;
    float: right;
    overflow: hidden;
    position: relative;
    min-width: 110px;
    max-width: 120px;
    padding: 11px 29px 11px 60px;
    cursor: pointer;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
    color: @toolbar-text_def;
    outline: none;
    &:after {
      position: absolute;
      bottom: 2px;
      left: 5px;
      font: 64px @toolbar-font_times_new_roman;
      content: "...";
      color: @toolbar-text_def;
    }
    &:hover {
      color: @toolbar-text_def_dark;
      &:after {
        color: @toolbar-text_def_dark;
      }
    }
  }
  .search-button {
    float: left;
    overflow: hidden;
    min-width: 100px;
    max-width: 150px;
    height: 40px;
    margin: 0 13px 0 0;
    padding: 10px 16px;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    letter-spacing: .025em;
    text-transform: uppercase;
    text-overflow: ellipsis;
    color: @toolbar-text_def_dark;
    background: fade(@toolbar-search_btn_bg, 90%);
    &:hover {
      background: @toolbar-search_btn_bg;
    }
  }
  .b-my-location {
    overflow: hidden;
    padding: 10px 14px 10px;
  }
  .locate-me {
    float: right;
    position: relative;
    top: 0;
    left: 2px;
    margin: 0;
    padding: 0 0 0 16px;
    font-size: 16px;
    line-height: 20px;
    color: @toolbar-text_def_light;
    outline: none;
    background: none;
    &:before {
      ._sprite(@toolbar-locate-me-marker);
      position: absolute;
      top: 4px;
      left: 1px;
      width: 13px;
      height: 13px;
      content: "";
    }
  }
  .b-distance-list {
    position: relative;
    padding: 0 10px;
    .select-widget {
      width: 140px;
      &.active {
        .b-dropdown-menu {
          display: block;
        }
      }
      .b-dropdown-menu {
        width: 100%;
      }
      .value {
        z-index: 10;
      }
      .select {
        position: absolute;
        top: 0;
      }
    }
    &.no-city-input {
      &:before {
        display: none;
      }
    }
    &:before {
      ._sprite(@toolbar-distance-search);
      position: absolute;
      z-index: 1;
      top: 14px;
      right: 20px;
      width: 11px;
      height: 12px;
      content: "";
    }
    .label {
      float: left;
      padding: 6px 0 0 15px !important;
    }
  }
  .location-input {
    ._radius();
    float: right;
    position: relative;
    width: 250px;
    height: auto;
    padding: 10px 8px 10px 9px;
    background: @toolbar-menu_widget_switcher_bg;
  }
  .dropdown-prefer {
    ._box-sizing;
    display: none;
    clear: both;
    overflow: auto;
    width: 100%;
    max-height: 473px;
    padding: 4px 20px 36px;
    &:after {
      ._shadow(0 10px 20px fade(@toolbar-shadow, 20%));
      display: block;
      position: absolute;
      z-index: -1;
      top: 80px;
      right: 0;
      bottom: 0;
      left: 0;
      content: "";
      background: @toolbar-drop_prefer_bg;
    }
    &::-webkit-scrollbar-thumb {
      &:vertical {
        background: @toolbar-scroll_thumb;
      }
    }
    &.active {
      display: block;
    }
    .preferences {
      ._clearfix;
    }
  }
  .category-prefer-row {
    float: left;
    width: 14%;
    text-align: left;
  }
  .category-title {
    margin: 32px 0 10px;
    font: 16px/20px @toolbar-font_600;
    letter-spacing: .025em;
    text-transform: uppercase;
    color: @toolbar-text_active;
  }
}
.l-toolbar-widgets {
  position: absolute;
  right: 20px;
  width: 100%;
  & > .mode {
    float: right;
  }
}

.upgrade-btn-wrap {
  float: right;
  margin: 10px 20px 0 0;
  .upgrade-button {
    max-width: 134px;
    height: 48px;
    padding: 5px;
    font-size: 13px;
    text-transform: capitalize;
    background: @toolbar-upgrade_bg;
    &:hover {
      background: darken(@toolbar-upgrade_bg, 5%);
    }
  }
}
.mode-description {
  ._transition;
  .description {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 80px;
    font-size: 12px;
    line-height: 16px;
    opacity: 0;
    &.active {
      visibility: visible;
      position: relative;
      opacity: 1;
    }
  }
  a {
    color: @toolbar-text_def_light;
    &:hover {
      text-decoration: underline;
    }
  }
}
.widget-button {
  position: relative;
  padding: 5px 25px 5px 10px;
  cursor: pointer;
  &:after {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 0;
    height: 0;
    content: "";
    border-top: 6px solid @toolbar-widget_btn_bg;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
  }
  &:hover {
    &:after {
      background-position: -186px -95px;
    }
  }
  .title {
    ._text-overflow();
    position: relative;
    max-width: 150px;
    font-size: 16px;
    color: @toolbar-text_def;
  }
  .mode {
    margin-top: 1px;
    font: 12px/16px @toolbar-font_600;
    letter-spacing: .025em;
    text-transform: uppercase;
    color: @toolbar-text_def_light;
  }
}
.menu-widget {
  float: right;
  position: relative;
  margin: 1px 0 0 0;
  .b-dropdown-menu {
    color: @toolbar-text_def_dark;
  }
  &.active {
    .title {
      z-index: 100;
    }
    .b-dropdown-menu {
      display: block;
    }
    .widget-button {
      &:after {
        z-index: 100;
        border-top: none;
        border-bottom: 6px solid @toolbar-widget_btn_bg;
      }
      &:hover {
        &:after {
          background-position: -186px -107px;
        }
      }
    }
  }
  .b-dropdown-menu {
    position: absolute;
    z-index: 21;
    top: 29px;
    right: 12px;
    width: 255px;
    padding: 10px;
    &:before {
      position: absolute;
      top: -6px;
      right: 0;
      width: 0;
      height: 0;
      content: "";
      border-bottom: 8px solid @white;
      border-left: 8px solid transparent;
    }
  }
  .switcher {
    margin-bottom: 10px;
    .switcher-cell {
      margin: 0;
      button,
      a {
        min-width: 72px;
        text-align: center;
        &:hover {
          color: @toolbar-text_def_light;
        }
      }
    }
  }
}

@media (min-width: 1140px) {
  .l-toolbar {
    .search-box {
      .b-location {
        .b-dropdown-menu {
          left: 0;
        }
      }
    }
  }
}
@media (max-width: 1230px) {
  .l-toolbar {
    .search-box .field .label {
      max-width: 120px;
    }
  }
}

@media (max-width: 1060px) {
  .l-toolbar {
    .search-box {
      max-width: 890px;
      .field .label {
        display: none;
      }
    }
    .b-nav-list {
      & > li {
        width: 50px;
        button {
          width: 40px;
        }
      }
    }
    .site-nav-item {
      .title {
        display: none;
      }
    }
  }
}

@media (max-width: 920px) {
  .l-toolbar {
    .search-buttons {
      .search-button {
        max-width: 100px;
      }
    }
    .b-location {
      .b-dropdown-menu {
        width: 470px;
      }
    }
  }
  .l-toolbar-widgets {
    .widget-button {
      .title {
        max-width: 90px;
      }
    }
  }
}

@media (max-width: 870px) {
  .l-toolbar {
    .logo {
      ._sprite(@logo-sm);
      img {
        display: none;
      }
    }
    .b-nav-list {
      margin-left: 64px;
    }
  }
}
@media (max-width: 760px) {
  .l-toolbar {
    .advanced-search {
      min-width: 0;
      max-width: 0;
      color: transparent;
    }
  }
}
@media (min-width: 857px) and (max-width: 1014px) {
  .dropdown-prefer {
    padding-right: 160px;
  }
}
@media (min-width: 1015px) and (max-width: 1177px) {
  .dropdown-prefer {
    padding-right: 320px;
  }
}
@media (min-width: 1295px) {
  .l-toolbar {
    .b-gender {
      width: 100px;
    }
    .field-age .select-widget {
      width: 100px;
    }
    .b-location {
      width: 200px;
    }
    .search-box .select-widget .value {
      max-width: 140px;
    }
    .b-location .select-input {
      width: 222px;
      max-width: 222px !important;
    }
    .search-button {
      max-width: 190px;
    }
    .advanced-search {
      max-width: 190px;
    }
  }
}

.ie8 {
  .l-toolbar {
    .advanced-search {
      background-color: @toolbar-ie8_advance_bg;
    }
    .search-button {
      background-color: @toolbar-ie8_search_bg;
    }
  }
}
