@toolbar-font_600: Helvetica, Arial, sans-serif;
@toolbar-font_times_new_roman: "Times New Roman", Times, serif;

@toolbar-text_def: #fff;
@toolbar-text_def_dark: #1f2226;
@toolbar-text_light: #999;
@toolbar-header_start: #7394c2;
@toolbar-header_end: #517ab3;
@toolbar-header_shadow: #111711;
@toolbar-counter_border: #1f2226;
@toolbar-counter_bg: #73e573;

@toolbar-overlay: #fff;

@toolbar-border_def: #e6e6e6;
@toolbar-border: #fff;

@toolbar-scroll_thumb: #b3b3b3;

@toolbar-nav_item_bg_hover: #e6e6e6;
@toolbar-blur_overlay_bg: #000;
@toolbar-bg: #ff7733;
@toolbar-icon_border: #66cc66;
@toolbar-text_active: #1f2226;
@toolbar-adv_search_bg_hover: #fff;
@toolbar-distance_list_bg: #ededed;
@toolbar-distance_list_bg_active: #ccc;
@toolbar-distance_list_border: #000;
@toolbar-nav_text_active: #d8a647;
@toolbar-location-color-1: #ff7733;
@toolbar-location-input-bg: #e6e6e6;
@toolbar-location-placeholder-color: #999;


@toolbar-ie8_advance_bg: #6f292f;
@toolbar-ie8_search_bg: #e5dada;


@toolbar-top_bg: #1f2226;
@toolbar-widget_btn_bg: #fff;
@toolbar-drop_menu_dark: #1f2226;
@toolbar-drop_prefer_bg: #fff;
@toolbar-text_def_light: #f73;
@toolbar-search_btn_bg: #fff;
@toolbar-shadow: #000;
@toolbar-menu_widget_switcher_bg: #e6e6e6;
@toolbar-button_bg: #ccc;
@toolbar-select_widget_bg: #ffa273;
@toolbar-option_hightlight: #e6e6e6;

@toolbar-upgrade_bg: #f34134;