- if(naughtyMode)
  .naughty-widget.menu-widget.l-toolbar-widgets
    .widget-button
      .title= _t("naughtyMode", "title.naughty_mode")
      .mode(data-nm-value="1")
    .b-dropdown-menu
      .switcher.small
        if enableNaughtyLevel
          each val, key in enableNaughtyLevel
            .switcher-cell(class=(naughtyMode == key+1)?"active":"")
              a.on(href="#", data-nm-option=key+1)= _t("naughtyMode", "value." + val)
      .mode-description
        if enableNaughtyLevel
          each val, key in enableNaughtyLevel
            .description(data-nm-description=key+1, class=val)= _t("naughtyMode", "text.mode_description." + val)
  div(data-restriction-popup="1" style="display:none")
    .b-popup-overlay
      .b-popup-table
        .b-popup-cell
          .b-popup.b-restrictions(data-popup-body="1")
            .b-popup-content(data-content-main="1")
              a.btn-close(title="Close" data-close-popup="1")
              h1.title
                span.you-sure= _t("naughtyMode", "text.rp-title")
              span.line
              ol.list-help-restrictions
                li
                  .right-side
                    ul.user-list
                      li
                        span= _t("naughtyMode","Explicit nudity")
                      li
                        span= _t("naughtyMode","Naughty photo")
                  .left-side!= _t('naughtyMode', 'text.you-need-agree-1', {'{restrictionLink}': '<a href="#" id="contentRestrictions">' + _t("naughtyMode", "text.restriction-link") + '</a>'})
                    p= _t('naughtyMode', 'text.you-need-agree-2')
                      |<br/>
                      label
                        input(type="checkbox" data-restriction-content="1" value="0")
                        span= _t('naughtyMode', 'text.rp-checkbox', {'{sitename}':model.siteName})
                    p= _t('naughtyMode', 'text.rp-if-you-agree')
                span.line
                li
                  .right-side
                    span(class="switch-naughty-mode switch-naughty-mode-#{locale}")
                  .left-side= _t('naughtyMode', 'text.rp-switch-naughty-mode')
                span.line
              .b-wrapp-btn
                  input.btn.btn-continue.no-margin(type="submit" value="OK" data-agree-restriction=1)
            .b-popup-content(data-content-inner="1" style="display:none")
              a.btn-close(title="Close" data-close-popup="1")
              h1.title
                span.you-sure!= _t('naughtyMode', 'title.rp-content-restriction')
              span.line
              .restrictions-scroll-block!= _t('naughtyMode', 'text.rp-restriction-part-1', {'{siteName}':model.siteName})
                != _t('naughtyMode', 'text.rp-restriction-part-2', {'{siteName}':model.siteName})
              .b-wrapp-btn
                a.btn.btn-continue.no-margin(data-show-main=1)= _t('naughtyMode', 'text.go-back')