.tbr-box {
  height: 52px;
  width: 100%;
  background: @toolbar-bg_tbr_box;
  background: -webkit-radial-gradient(top center, ellipse cover, @toolbar-bg_tbr_box 5%, @toolbar-bg_mid_tbr_box 59%, @toolbar-bg_bot_tbr_box 100%);
  background: radial-gradient(ellipse at top center, @toolbar-bg_tbr_box 5%, @toolbar-bg_mid_tbr_box 59%, @toolbar-bg_bot_tbr_box 100%);
  ._transition(all .2s);
  z-index: 1000;
  ._box-sizing;
  html.menu-active & {
    ._transform(translate3d(240px, 0, 0));
  }
  .hide-bar & {
    display: none;
  }
}
.tbr-wrap {
  position: relative;
  padding: 0 4px 0 5px;
  height: 100%;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, @toolbar-bg_start_tbr_wrap), color-stop(100%, @toolbar-bg_end_tbr_wrap));
  background: -webkit-linear-gradient(top, toolbar-bg_start_tbr_wrap 50%, @toolbar-bg_end_tbr_wrap 100%);
  background: linear-gradient(top, @toolbar-bg_start_tbr_wrap 50%, @toolbar-bg_end_tbr_wrap 100%);
  background-position: 0 0, bottom center;
  background-repeat: repeat, repeat-x;
  background-size: 100%, 553px;
  .tbr-wrap {
    padding: 0 0 0 5px;
  }
  .user-min {
    position: relative;
    float: right;
    margin: 9px 6px 0 0;
    width: 35px;
    height: 35px;
    z-index: 11;
    img {
      width: 100%;
    }
    &.general-chat {
      width: auto;
      height: auto;
      padding: 15px 13px;
      margin: 0;
      position: relative;
      z-index: 12;
      &:before {
        content: "";
        display: block;
        width: 23px;
        height: 21px;
        background: @toolbar-sprite -25px -142px;
        background-size: 213px;
      }
    }
  }
  header {
    position: absolute;
    top: 1px;
    left: 35px;
    right: 50px;
    margin: auto;
    color: @toolbar-color_header;
    font-size: 22px;
    line-height: 48px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    z-index: 10;
    &.user-online {
      &:before {
        content: "";
        display: inline-block;
        width: 9px;
        height: 9px;
        margin: 0 5px 4px 5px;
        ._radius(9px);
        background: @toolbar-user_online;
      }
    }
    .header-user {
      margin: 0 40px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .logo {
      width: 50px;
      height: 32px;
      background: url(~"@{toolbar-images_path}/logo_top.png") no-repeat;
      background-size: 100%;
      margin: 8px auto;
    }
    .verisign {
      width: 77px;
      height: 43px;
      background: url(~"@{toolbar-images_path}/verisign.png") no-repeat;
      background-size: 100%;
      float: right;
      margin: 3px 5px 0 0;
    }
  }
  aside {
    &.lside {
      float: left;
    }
    &.cside {
      vertical-align: top;
      display: inline-block;
      margin-top: 9px;
      font-size: 0;
      line-height: 0;
      letter-spacing: -4px;
      border: 1px solid @toolbar-border_color_aside;
      ._radius(6px);
      overflow: hidden;
      &.site-logo {
        background: none;
        border: none;
        img {
          display: inline-block;
          background: none;
          max-height: 50px;
        }
      }
    }
    &.rside {
      float: right;
    }
  }
  /* tabs */
  .usv-tabs-wrapp {
    background: none;
    vertical-align: top;
    display: inline-block;
    margin-top: 9px;
    border: 1px solid @toolbar-border_color_aside;
    ._radius(6px);
    overflow: hidden;
  }
  .usv-tabs-list {
    display: table;
    width: 100%;
    min-height: 30px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: normal;
    li,
    .tab-button,
    .b-trusted-tab-item {
      display: table-cell;
      width: 50%;
      padding: 5px;
      vertical-align: middle;
      font-size: 14px;
      text-decoration: inherit;
      text-align: center;
      color: @toolbar-tab-color-inactive;
      ._box-sizing;
      &:only-child {
        width: auto;
      }
      &.active {
        font-weight: normal;
        color: @toolbar-tab-color-active;
        ._shadow(none);
        background: @toolbar-bg_tbr_active_button;
      }
    }
  }
  .usv-tabs-content {
    .tab {
      display: none;
      &.active {
        display: block;
      }
    }
  }
  /* end: tabs */
}



.tbr-button {
  display: inline-block;
  vertical-align: top;
  width: 46px;
  height: 52px;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  border: none;
  background: none;
  position: relative;
  z-index: 15;
  outline: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:before {
    content: "";
    display: block;
    margin: auto;
    width: 23px;
    height: 18px;
    background: transparent @toolbar-sprite -55px -21px no-repeat;
    background-size: 213px;
    a& {
      margin-top: 6px;
    }
  }
  &.tbr-button-list {
    width: 40px;
    height: 30px;
    ._radius(4px 0 0 4px);
    &:before {
      background-position: -25px 0px;
    }
    &.active {
      background: @toolbar-bg_tbr_active_button;
      &:before {
        background-position: -25px -20px;
      }
    }
  }
  &.tbr-button-gallery {
    width: 40px;
    height: 30px;
    &:before {
      background-position: -50px 0px;
    }
    &.active {
      background: @toolbar-bg_tbr_button;
      &:before {
        background-position: -50px -20px;
      }
    }
  }
  &.tbr-button-map {
    width:40px;
    height: 30px;
    ._radius(0 4px 4px 0);
    &:before {
      background-position: -75px 0px;
    }
    &.active {
      background: @toolbar-bg_tbr_button;
      &:before {
        background-position: -75px -20px;
      }
    }
  }
  &.tbr-button-livecams {
    width: 40px;
    height: 30px;
    ._radius(0 4px 4px 0);
    &:before {
      background: url(~"@{toolbar-images_path}/webcam_icon_header.png") no-repeat center center;
      background-size: 14px;
    }
    &.active {
      background: @toolbar-bg_tbr_button;
    }
  }
  &.tbr-button-vod {
    width: 40px;
    height: 30px;
    ._radius(0 4px 4px 0);
    &:before {
      background: url(~"@{toolbar-images_path}/vod_icons.png") no-repeat -24px 0;
      width: 19px;
      height: 16px;
    }
  }
  &.tbr-button-settings {
    &:before {
      width: 25px;
      height: 23px;
      background-position: -100px 0px;
    }
  }
  &.tbr-button-settings.active {
    &:before {
      background-position: -192px -43px;
    }
  }
  &.tbr-button-setting {
    &:before {
      width: 23px;
      height: 21px;
      background-position: 0 -142px;
    }
  }
  &.tbr-button-home {
    width: 23px;
    &:before {
      background-position: 0 0;
    }
  }
  &.tbr-button-back {
    width: auto;
    padding: 0 10px 0 0;
    vertical-align: middle;
    color: @toolbar-color_tbr_button;
    font-size: 0;
    &:before {
      display: inline-block;
      vertical-align: middle;
      margin: -2px 5px 0 0;
      width: 17px;
      height: 25px;
      background-position: -175px -118px;
    }
  }
  &.tbr-button-text {
    width: auto;
    padding: 0 10px 0 0;
    font-size: 15px;
    color: @toolbar-color_tbr_button;
    vertical-align: middle;
    &:before {
      display: none;
    }
  }
  &.tbr-button-search {
    &:before {
      width: 23px;
      height: 21px;
      background-position: 0 -60px;
    }
  }
  .tbr-counter {
    display: block;
    font-size: 10px;
    line-height: 16px;
    padding: 0 4px;
    min-width: 8px;
    background: @toolbar-bg_tbr_counter;
    color: #fff;
    text-align: center;
    ._radius(8px);
    position: absolute;
    top: 10px;
    right: -12px;
  }
}

.settinds-menu {
  .form-box-select-wrap {
    ._radius(4px);
    border: 1px solid #ccc;
    height: 34px;
    padding: 0;
    width: 42%;

    select {
      padding: 8px 15px;
      margin: 0;
    }

    .value {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      ._box-sizing;
      padding: 8px 10px;
      z-index: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .button-save {
    display: none;
    margin: 0 0 0 5px;
  }
}

.button.history { background: #d9d9d9; }

.settinds-menu .cf:first-child .info-button { margin: 3px 0 3px 10px; }
