/* images */
@toolbar-images_path: "../images";
@toolbar-sprite: url(~"@{toolbar-images_path}/icons.png");
/* end: images */

/* header */
@toolbar-color_header: #fff;
@toolbar-user_online: #1cbb1c;
/* end header */

/* aside */
@toolbar-border_color_aside: @t-main-color;
/* end aside */

/* tbr_box */
@toolbar-bg_tbr_box: #070506;
@toolbar-bg_mid_tbr_box: #070506;
@toolbar-bg_bot_tbr_box: #070506;
/* end tbr_box */

/* tbr-wrap */
@toolbar-bg_start_tbr_wrap: fade(#000, 0%);
@toolbar-bg_end_tbr_wrap: fade(#170300, 80%);
/* end tbr-wrap */

/* tbr-button */
@toolbar-bg_tbr_button: @toolbar-border_color_aside;
@toolbar-bg_tbr_active_button: @toolbar-border_color_aside;
@toolbar-bg_tbr_counter: @t-main-color;
@toolbar-color_tbr_button: @toolbar-color_header;
/* end tbr-button */


/* tabs */
@toolbar-tab_active: #de5226;
@toolbar-tab_inactive: #fff;
@toolbar-tab-color-active: #fff;
@toolbar-tab-color-inactive: #fff;
/* end: tabs */