.private-chat {
  padding: 15px;
  &.popup {
    position: absolute;
    top: 52px;
    bottom: 0;
    overflow: auto;
    background-color: #FFF;
    z-index: 11;
    width: 85%;
    right: 0;
    ._transition (all .3s);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    &.active {
      border: 1px solid @rooms-sep_invert;
      box-shadow: 0 0 2px @rooms-sep_invert;
      -ms-transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      +.msg-box {
        .msg-history {
          overflow: hidden;
        }
      }
    }
    .tabs-holder {
      span {
        width: 33.33%;
        box-sizing: border-box;
      }
    }
  }
  .tab-section-title {
    color: @rooms-title_text;
    font-size: 16px;
    font-weight: 400;
    margin: 10px -15px -5px;
    padding: 8px 15px;
    background: @rooms-title_bg;
  }
  .item {
    .item-holder {
      .photo {
        width: 50px;
        height: 50px;
        ._radius(5px);
      }
    }
  }
  .status {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 7px;
    height: 7px;
    z-index: 3;
    ._radius(4px);
    @status-border();
    &.online {
      background: @status-online-color;
    }
    &.recent {
      background: @status-recent-color;
    }
  }
}

.chat-conversation {
  .l-content {
    overflow: hidden;
    width: 100%;
    position: absolute; 
    bottom: 0;
  }
  .l-sidebar {
    display: none;
  }
}
.private-chat {
  .tabs-holder {
    position: relative;
    z-index: 2;
    display: table;
    width: 100%;color: @rooms-tab_active;
    border: 1px solid @rooms-tab_active;
    background: @rooms-tab_inactive;
    overflow: hidden;
    ._radius(5px);
    span {
      &:first-child {
        border-left:none;
      }      
      position: relative;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      background: @rooms-tab_inactive;
      text-transform: uppercase;
      padding: 9px 0; 
      &.active {
        background: @rooms-tab_active;
        color: @rooms-tab_active_text;
        z-index: 2;
        box-shadow: none;
      }
    }
  }  
  .tabs-content {
    background: @rooms-tab_content_bg;    
    position: relative;
    z-index: 3;
  }
  .item {
    ._clearfix();
  }
  .item-holder {
    position: relative;
    padding-top: 15px;    
    ._clearfix();
    .photo {
      position: relative;
      width: 45px;
      height: 45px;
      overflow: hidden;
      float: left;
      ._radius(5px);
      img {
        width: 100%;
      }
      /* blurred */
      .b-message-holder {
        font-size: 10px;
      }
    }
    .counter {
      float: right;
      line-height: 21px;
      font-size: 14px;
      padding: 4px 7px;
      min-width: 15px;
      text-align: center;
      color: @rooms-counter_text;
      background-color: @rooms-counter_bg;
      ._radius(16px);
    }
    .content-holder {
      margin-left: 60px;
      h5 {
        font-size: 16px;
        font-weight: normal;
        color: @rooms-screenname;
        margin-bottom: 3px;
        display: inline-block;
        max-width: 100%;
        ._text-overflow();
        .user-age {
          float: right;
        }
        .user-name {
          display: inline-block;
          max-width: 200px;
          ._text-overflow();
        }
      }
      p {
        color: @rooms-text_sub;
        &:not(.number) {
          &:before {
            content: '';
            display: inline-block;
            width: 8px;
            height: 8px;
            margin: 0 3px 0 -2px;
            background: @rooms-sprite -150px -50px;
            background-size: 213px;
          }
          +p {
            &:before {
              /*background-position: -127px -13px;*/
              content: none;
            }
          }
        }
        &.number {
          margin-top: 3px;
        }
      }
      h6 {
        color: @rooms-title_text;
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 4px;
      }
      .number {
        font-size: 16px;
      }
    }
    .male,
    .female {
      position: relative;
      &:before {
        content: '';
        display: block;
        width: 22px;
        height: 22px;
        ._radius(11px);
        position: absolute;
        top: -2px;
        left: -25px;       
      }
      &:after {
        content: '';
        display: block;
        width: 15px;
        height: 15px;
        background: @rooms-sprite;
        background-size: 213px;
        position: absolute;
        top: 2px;
        left: -21px;
        z-index: 2;
      }
    }
    .male {
      float: right;
      margin: 15px 18px 0 0;
      font-size: 16px;
      &:before {
        background: @rooms-item_holder_male;
      }
      &:after {
        background-position: -195px -43px;
      }
    }
    .female {
      float: right;
      margin: 15px 40px 0 0;
      font-size: 16px;
      &:before {
        background: @rooms-item_holder_female;
      }
      &:after {
        background-position: -195px -26px;
      }
    }
  }
}

/* styles for conversation (messenger) */
.msg-history {
  .female {
    color: @rooms-msg_female;
  }
  .male {
    color: @rooms-msg_male;
  }
  .message {
    position: relative;
    padding: 7px 0 8px 0;
    text-align: left;
    .photo-holder {
      position: absolute;
      top: 0;
      bottom: 8px;
      left: -46px;
      width: 40px;
      height: 40px;
      ._radius(5px);
      img {
        width: 100%;
        height: 100%;
        display: block;
        ._radius(5px);
      }
    }
    .message-text {
      position: relative;
      float: left;
      padding: 7px 12px;
      margin: 0 10px;
      ._radius(5px);
      display: inline-block;
      color: @rooms-message_text;
      word-break: break-all;
      .general-chat& {
        margin-left: 56px;
      }
      .time {
        position: absolute;
        padding-left: 13px;
        bottom: -15px;
        right: 0;
        margin: 0;
        text-align: left;
        font-size: 11px;
        color: @rooms-text_sub;
        &:before {
          display: block;
          content: "";
          position: absolute;
          bottom: 1px;
          left: -1px;
          width: 12px;
          height: 11px;
          background: @rooms-sprite no-repeat -199px 0;
          background-size: 213px;
        }
      }
      .upgrade-text {
        display: inline-block;
        width: 105px;
        height: 22px;
        vertical-align: middle;
        margin-top: -6px;
        margin-bottom: -5px;
        background: url(~"@{rooms-images_path}/blured-text.png");
        background-size: 110px;
      }
      .message-item-text {
        margin: 0;
        float: right;
        font-size: 14px;
        min-width: 80px;
        &.upgrade-text {
          -ms-text-overflow: ellipsis;
              text-overflow: ellipsis;
          max-width: 100px;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
    &.message-in {
      margin-bottom: 8px;
      min-height: 41px;
      .message-text {
        background: @rooms-income;
        &:before {
          content: "";
          display: block;
          position: absolute;
          left: -4px;
          top: 10px;
          border: 4px solid @rooms-block_border_reset;
          border-right-color: @rooms-income;
          border-left: none;
        }
        &.msg-flirtcast {
          background: @rooms-flirtcast;
          &:before {
            border-right-color: @rooms-flirtcast;
          }
        }
        &.msg-new-unit {
          background: @rooms-new_unit;
          &:before {
            border-right-color: @rooms-new_unit;
          }
        }
        &.msg-autoreply {
          background: @rooms-autoreply;
          &:before {
            border-right-color: @rooms-autoreply;
          }
        }
      }
    }
    &.message-out {
      text-align: right;
      margin-bottom: 8px;
      min-height: 41px;
      .photo-holder {
        left: auto;
        right: -46px;
        .time {
          right: 0;
          left: auto;
          text-align: right;
        }
      }
      .message-text {
        float: right;
        margin: 0 10px;
        background: @rooms-outcome;
        color: @rooms-message_invert_text;
        .general-chat& {
          margin-right: 56px;
        }
        &:after {
          content: "";
          display: block;
          position: absolute;
          top: 9px;
          right: -4px;
          border: 4px solid @rooms-block_border_reset;
          border-left-color: @rooms-outcome;
          border-right: none;
        }
        &.green {
          &:after {
            background-position: -108px -38px;
          }
        }
        &.purple {
          &:after {
            background-position: -99px -23px;
          }
        }
        &.orange {
          &:after {
            background-position: -131px -20px;
          }
          .message-item-text {
            .autoreply-info {
              text-align: left;
            }
          }
        }
        .time {
          left: 0;
        }
      }
    }
    .message-upgrade {
      text-align: center;
      padding: 12px 0;
      clear: both;
    }
    &.message-date {
      font-size: 10px;
      color: @rooms-text_sub;
      text-align: center;
    }
  }
}
.msg-input {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 5px;
  background: @rooms-input_box_bg;
  padding: 6px 15px;
  .input {
    position: relative;
    margin-right: 45px;
  }
  .input-wrap {
    background: @rooms-input_bg;
    font-size: 14px;
    width: 100%;
    min-height: 38px;
    max-height: 115px;
    padding: 0 34px 0 4px;
    overflow: hidden;
    ._box-sizing;
    ._radius(4px);
    color: @rooms-text_sub;
  }
  .message-input {
    height: 100%;
    overflow: hidden;
    margin-right: 50px;
    ._box-sizing;
    border: 0;
    ._shadow(none);
    display: block;
    outline: none;
    width: 100%;
    resize: none;
    min-height: 20px;
    max-height: 150px;
    line-height: 20px;
    padding: 7px 1px 0;
    ._radius(4px);
    ._user-select;
  }
  .smiles {
    width: 28px;
    position: absolute;
    right: 2px;
    top: 3px;
    bottom: 2px;
    .btn-smiles {
      background: @rooms-sprite no-repeat -120px -89px;
      background-size: 213px;
      height: 27px;
      width: 38px;
      position: absolute;
      margin: 2px -7px;
      cursor: pointer;
    }
    .smiles-tooltip {
      width: 243px;
      padding: 11px;
      top: 29px;
      right: -5px;
      margin: 0 0 3px;
      z-index: 5;
      ul {
        font-size: 0;
        line-height: 0;
      }
      &:after {
        right: 10px;
      }
    }
  }
  .submit {
    float: right;
    button {
      position: relative;
      width: 38px;
      height: 38px;
      background: @rooms-button_send;
      border: none;
      ._radius(4px);
      &:before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 38px;
        height: 27px;
        background: @rooms-sprite -80px -89px no-repeat;
        background-size: 213px;
      }
    }
  }
}
.msg-smiles {
  padding: 10px 15px;
  margin: -10px -15px 6px;
  ul {
    margin: 0;
    padding: 2px;
    list-style: none;
  }
}
.msg-smile {
  height: 25px;
  width: 25px;
  display: inline-block;
  vertical-align: top;
  margin: 1px;
  &:hover {
    ._shadow(~"0 0 2px @{rooms-smile_shadow}");
    ._radius(2px);
  }
}
.msg-emoji,
.smile-emoji {
  background: url(~"@{rooms-images_path}/smiles.png") no-repeat;
  height: 25px;
  width: 25px;
  display: inline-block;
  cursor: pointer;
  vertical-align: bottom;
  &[data-smile="D83DDC4E"] {background-position: left 0;}
  &[data-smile="D83DDC4D"] {background-position: -25px 0;}
  &[data-smile="D83DDE20"] {background-position: -50px 0;}
  &[data-smile="D83CDF7A"] {background-position: -75px 0;}

  &[data-smile="D83CDF82"] {background-position: 0 -25px;}
  &[data-smile="D83DDE0A"] {background-position: -25px -25px;}
  &[data-smile="D83DDE47"] {background-position: -50px -25px;}
  &[data-smile="D83DDC4F"] {background-position: -75px -25px;}

  &[data-smile="D83DDD52"] {background-position: 0 -50px;}
  &[data-smile="26C5"] {background-position: -25px -50px;}
  &[data-smile="2615"] {background-position: -50px -50px;}
  &[data-smile="D83DDE15"] {background-position: -75px -50px;}

  &[data-smile="D83DDE22"] {background-position: 0 -75px;}
  &[data-smile="D83CDF54"] {background-position: -25px -75px;}
  &[data-smile="D83DDE49"] {background-position: -50px -75px;}
  &[data-smile="D83DDC96"] {background-position: -75px -75px;}

  &[data-smile="D83DDE07"] {background-position: 0 -100px;}
  &[data-smile="D83DDC8B"] {background-position: -25px -100px;}
  &[data-smile="D83DDE06"] {background-position: -50px -100px;}
  &[data-smile="D83DDCB0"] {background-position: -75px -100px;}

  &[data-smile="D83DDCAA"] {background-position: 0 -125px;}
  &[data-smile="D83CDFB5"] {background-position: -25px -125px;}
  &[data-smile="D83DDE36"] {background-position: -50px -125px;}
  &[data-smile="D83DDC4C"] {background-position: -75px -125px;}

  &[data-smile="D83CDF39"] {background-position: 0 -150px;}
  &[data-smile="D83DDE31"] {background-position: -25px -150px;}
  &[data-smile="D83DDE04"] {background-position: -50px -150px;}
  &[data-smile="D83DDE0F"] {background-position: -75px -150px;}

  &[data-smile="D83CDF1F"] {background-position: 0 -175px;}
  &[data-smile="D83DDE0E"] {background-position: -25px -175px;}
  &[data-smile="D83DDE1B"] {background-position: -50px -175px;}
  &[data-smile="2600"] {background-position: -75px -175px;}

  &[data-smile="D83DDCAD"] {background-position: 0 -200px;}
  &[data-smile="D83DDE24"] {background-position: -25px -200px;}
  &[data-smile="D83CDF79"] {background-position: -50px -200px;}
  &[data-smile="D83DDC4B"] {background-position: -75px -200px;}

  &[data-smile="D83DDE09"] {background-position: 0 -225px;}
  &[data-smile="D83DDE1F"] {background-position: -25px -225px;}
}
/* end: styles for conversation (messenger) */