/* images */
@rooms-images_path: "../images";
@rooms-sprite: url(~"@{rooms-images_path}/icons.png");
/* end: images */

/* text */
@rooms-text_sub: #808080;
/* end: text */

/* general styles */
@rooms-sep_invert: #e6e6e6;
@rooms-tab_inactive: #fff;
@rooms-tab_active: @t-main-color;
@rooms-tab_active_text: #fff;
@rooms-tab_content_bg: #fff;
@rooms-screenname: @t-main-color;
@rooms-item_holder_male: #b6d1ff;
@rooms-item_holder_female: #ffbecc;
@rooms-title_text: @t-main-color;
@rooms-title_bg: #efeff4;
@rooms-counter_text: #fff;
@rooms-counter_bg: @t-main-color;
/* end: general styles */

/* conversation (messenger) styles */
@rooms-msg_female: #A1242E;
@rooms-msg_male: #195AE6;
@rooms-income: #DDFFC9;
@rooms-outcome: #ffd5e2;
@rooms-autoreply: #ffb555;
@rooms-flirtcast: #ba94df;
@rooms-new_unit: #999;
@rooms-message_text: #2d2d2d;
@rooms-message_invert_text: #4c4c4c;
@rooms-input_box_bg: #efeff4;
@rooms-input_bg: #fff;
@rooms-button_send: @t-main-color;
@rooms-upgraede_bg: #efeff4;
@rooms-upgraede_highlighted: #1CBB1C;
@rooms-smile_shadow: fade(#000, 60%);
@rooms-view_more_bg: #eaeaea;
@rooms-view_more_text_effect: #aaa;
@rooms-block_border_reset: fade(#000,0);
/* end: conversation (messenger) styles */

/* status */
@status-offline-color: fade(#000, 0%);
@status-online-color: #79d81d;
@status-recent-color: #ffae00;
@status-border: { border: 1px solid rgba(0,0,0,.5); };
/* end: status */