.b-popup.b-sms-chat {
  .b-popup-content {
    .image-centerer {
      position: absolute;
      top: 20px;
      left: 20px;
      width: 200px;
      height: 200px;
      .image-holder,
      .image-holder *{
        width: inherit;
        height: inherit;
      }
    }
    .b-data-row {
      .info {
        font-size: 14px;
      }
      .btn.save {
        float: right;
        margin: 20px 0 20px 10px;
        width: 110px;
        padding: 9px 0;
        & + .b-value {
          margin: 0 120px 0 0;
          input {
            text-align: left;
          }
        }
      }
      .b-value {
        input[type=text] {
          font-size: 14px;
          color: @autoPopup-sms_input_color;
          &::-webkit-input-placeholder {
            color: @autoPopup-sms_input_color_placeholder;
          }
          &:-moz-placeholder {
            color: @autoPopup-sms_input_color_placeholder;
          }
        }
      }
      .year,
      .show-again {
        font-size: 15px;
        color: @autoPopup-sms_color_year;
      }
      .b-error {
        display: none;
        padding-top: 3px;
        font-size: 13px;
        line-height: 14px;
        color: @autoPopup-sms_color_error;
      }
      &.error {
        .b-error {
          display: block;
        }
      }
    }
    p {
      font: 16px/21px Arial, Helvetica, sans-serif;
      color: @autoPopup-sms_color_p;
      a {
        font-size: 14px;
        color: @autoPopup-sms_color_a;
      }
    }
    .title,
    .description {
      padding-top: 20px;
    }
    .chat-now,
    .close-window,
    .save-btn,
    .close-btn {
      display: block;
      margin: 20px 0 0;
      font-weight: normal;
    }
    .chat-now,
    .save-btn,
    .close-btn {
      width: 100%;
    }
    .save-btn {
      margin: 0 0 20px;
    }
    &.step-4 {
      .b-data-row {
        .b-value {
          padding: 10px 0;
        }
      }
    }
    .btn {
      text-transform: uppercase;
    }
  }
  .b-popup-footer {
    margin: 30px -30px -30px;
    padding: 30px;
    font-size: 12px;
    line-height: 14px;
    color: @autoPopup-sms_color_footer;
    background: @autoPopup-sms_bg_footer;
    p {
      padding-bottom: 5px;
      font-size: inherit;
      line-height: inherit;
      color: @autoPopup-sms_bg_footer_p;
    }
  }
  &.congratulation {
    .b-popup-head {
      background: @autoPopup-sms_congratulation_head;
      .title {
        color: @autoPopup-sms_congratulation_title;
        text-transform: uppercase;
      }
      .meta-button-wrap {
        .btn-meta {
          &.b-close {
            &:after {
              background-position: -384px -128px;
            }
          }
        }
      }
    }
    .b-popup-content {
      padding: 30px;
      .b-data-row {
        margin: 0 auto;
        width: 320px;
      }
    }
  }
  &.chat-feature {
    .b-popup-content {
      .title {
        padding-top: 0;
      }
      .b-data-row {
        .b-value {
          padding-top: 5px;
        }
      }
    }
  }
  &.chat-feature2 {
    .b-popup-content {
    }
    .terms {
      font-size: 16px;
      line-height: 20px;
    }
  }
  &.thanks {
    .b-popup-content {
      padding: 20px;
      min-height: inherit;
      .title {
        padding: 0;
      }
    }
  }
  &.add-your-number {
    .b-popup-content {
       padding: 30px 30px 30px 200px;
      min-height: 150px;
    }
  }
}

.b-popup.b-popup-payment {
  width: 560px;

  .title {
    text-align: center;
    margin-bottom: 30px;
  }

  .btn-row {
    text-align: center;
    margin-bottom: 30px;
  }

  .cancel-repeat-block {
    position: relative;
    padding: 30px 0;
    text-align: center;
    margin: 30px 0;
    font-size: 12px;
    color: #4c4c4c;
    ._box-sizing;

    * {
      z-index: 1;
      position: relative;
    }

    &:before {
      position: absolute;
      width: 100%;
      left: -20px;
      top: 0;
      padding: 0 20px;
      background: #f2f2f2;
      content: "";
      height: 100%;
      border-top: 1px solid darken(#f2f2f2, 10%);
      border-bottom: 1px solid darken(#f2f2f2, 10%);
      ._shadow(0 0 1px 1px #fff inset);
    }

    .hide { display: none; }

    .active { display: block; }
  }

  .btn-cancel {
    margin-top: 15px;
    display: inline-block;
    border: 1px solid @autoPopup-btn-cancel_border;
    height: 30px;
    line-height: 28px;
    ._box-sizing;
    ._radius(2px);
    ._gradient(@autoPopup-btn-cancel_bg_start, @autoPopup-btn-cancel_bg_stop);
    text-align: center;
    padding: 0 15px;
    font-size: 14px;
    color: #333;
    text-shadow: 0 1px fade(#fff, 80%);
  }

  .btn-continue {
    padding: 0 30px;

    &#popupContinue {
      display: block;
      margin:0 auto;
    }
  }

  .information-title {
    font-size: 18px;
    text-align: center;
    color: #808080;
    margin: 25px 0 15px;
  }

  .information-description {
    color: #808080;
    font-size: 12px;
  }

  .moneyback-guarantee {
    ._box-sizing;
    width: 195px;
    padding: 8px 0 8px 70px;
    text-align: center;
    font-size: 11px;
    color: #808080;
    margin: 30px auto 20px;
    position: relative;
    cursor: pointer;

    &:before {
      background: url("@{autoPopup-img_url}/moneyback.png");
      position: absolute;
      left: 0;
      top: 50%;
      width: 66px;
      height: 63px;
      margin-top: -32px;
      content: "";
    }

    &__hidden {
      display: none;
      position: absolute;
      top: 100%;
      left: -5px;
      width: 250px;
      margin-top: 10px;
      padding: 10px;
      ._radius(5px);
      ._shadow(0 0 6px fade(#000, 30%));
      background: @autoPopup-moneyback-popup_bg;
      font-size: 11px;
      color: #000;
      text-align: left;
      z-index: 2;

      &:before {
        position: absolute;
        content: "";
        top: -7px;
        left: 30px;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid @autoPopup-moneyback-popup_bg;
      }
    }

    &:hover .moneyback-guarantee__hidden { display: block; }
  }

  .mobile-benefits {
    border: 1px dashed @t-main-color;
    ._radius(5px);
    margin: 20px 10px 15px;
    padding: 20px 25px;
    color: #000;
    text-align: center;

    a { color: @t-main-color; }

    &__title {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 20px;
    }

    &__list { font-size: 0; }

    &__item {
      display: inline-block;
      width: 33%;
      ._box-sizing;
      vertical-align: top;
      padding: 45px 5px 0;
      font-size: 12px;
      font-weight: bold;
      position: relative;
    }

    &__icon {
      position: absolute;
      width: 33px;
      height: 33px;
      left: 50%;
      top: 0;
      margin-left: -17px;
      border: 1px solid #aaa;
      ._gradient(#f7f7f7, #ededed);
      ._radius(4px);
      ._shadow(~"0 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 1px rgba(0, 0, 0, 0.2)");

      &:before {
        background-image: url("@{autoPopup-img_url}/features_popup_icons.png");
        position: absolute;
        left: -1px;
        top: -1px;
        width: 35px;
        height: 35px;
        content: "";
      }

      &--map:before { background-position: 0 0; }

      &--communication:before { background-position: -35px 0; }

      &--search:before { background-position: -70px 0; }
    }
  }
}
