@autoPopup-sms_input_color: #000000;
@autoPopup-sms_input_color_placeholder: #6e6e6e;
@autoPopup-sms_color_year: #5d8bcd;
@autoPopup-sms_color_error: #d84e4e;
@autoPopup-sms_color_h2: #f49c60;
@autoPopup-sms_color_p: #000000;
@autoPopup-sms_color_a: #5d8bcd;
@autoPopup-sms_color_footer: #6e6e6e;
@autoPopup-sms_bg_footer: #f3f5f8;
@autoPopup-sms_bg_footer_p: #000000;

@autoPopup-sms_congratulation_head: #e77727;
@autoPopup-sms_congratulation_title: #ffffff;
@autoPopup-border_def: #cddbef;
@autoPopup-font_def: 'Alegreya Sans', Trebuchet MS, Helvetica, sans-serif;

@autoPopup-img_url: "../images";

@autoPopup-moneyback-popup_bg: #fcdb32;
@autoPopup-btn-cancel_border: #ababab;
@autoPopup-btn-cancel_bg_start: #d8d8d8;
@autoPopup-btn-cancel_bg_stop: #c0c0c0;
