h3.single-vod-comments__title= _t('vod', 'title.comments', {'{n}' : comments.length})
if (comments.length > 0)
  .single-vod-comments__container
    .single-vod-comments__list
      each commentItem in comments
        .b-comment__item.comment-item
          a.b-comment__item-avatar(href='#{userLink(commentItem.user.id)}')
            img.b-comment__item-avatar-item(src='#{commentItem.user.photos.url}')
          .b-comment__item-info-massage
            //span.b-comment__item-info-massage-nick(href='#{userLink(commentItem.user.id)}')= commentItem.user.login
            .b-comment__item-info-massage-content= commentItem.comment
