- if (isFirstComment)
  .single-vod-comments__container
    .single-vod-comments__list
      .b-comment__item.comment-item
        a.b-comment__item-avatar(href='#{userLink(comment.user.id)}')
          img.b-comment__item-avatar-item(src='#{comment.user.photos.url}')
        .b-comment__item-info-massage
          //span.b-comment__item-info-massage-nick(href='#{userLink(comment.user.id)}')= comment.user.login
          .b-comment__item-info-massage-content= comment.comment
- else
  .b-comment__item.comment-item
    a.b-comment__item-avatar(href='#{userLink(comment.user.id)}')
      img.b-comment__item-avatar-item(src='#{comment.user.photos.url}')
    .b-comment__item-info-massage
      //span.b-comment__item-info-massage-nick(href='#{userLink(comment.user.id)}')= comment.user.login
      .b-comment__item-info-massage-content= comment.comment
