
.flag {
  display: inline-block;
}
.flag:before {
  display: inline-block;
  margin-right: 17px;
  margin-left: -35px;
  width: 16px;
  height: 11px;
  background-image: url("@{img_url}/flags.png");
  background-repeat: no-repeat;
  content: '';
  vertical-align: baseline;
}
.flag.AUS:before {background-position: -336px 0;}
.flag.BEL:before {background-position: -64px 0;}
.flag.BRA:before {background-position: -48px 0;}
.flag.CAN:before {background-position: -16px 0;}
.flag.CZE:before {background-position: -176px 0;}
.flag.GRC:before {background-position: -80px 0;}
.flag.HUN:before {background-position: -192px 0;}
.flag.IND:before {background-position: -240px 0;}
.flag.IRL:before {background-position: -96px 0;}
.flag.JPN:before {background-position: -256px 0;}
.flag.MYS:before {background-position: -272px 0;}
.flag.MEX:before {background-position: -32px 0;}
.flag.NLD:before {background-position: -112px 0;}
.flag.NZL:before {background-position: -352px 0;}
.flag.PHL:before {background-position: -288px 0;}
.flag.POL:before {background-position: -208px 0;}
.flag.PRT:before {background-position: -128px 0;}
.flag.ROU:before {background-position: -224px 0;}
.flag.ZAF:before {background-position: -320px 0;}
.flag.SWE:before {background-position: -144px 0;}
.flag.THA:before {background-position: -304px 0;}
.flag.GBR:before {background-position: -160px 0;}
.flag.USA:before {background-position: 0 0;}
.flag.ESP:before {background-position: -368px 0;}
.flag.FRA:before {background-position: -384px 0;}
.flag.ITA:before {background-position: -400px 0;}
.flag.ARG:before {background-position: -416px 0;}
.flag.COL:before {background-position: -432px 0;}
.flag.CUB:before {background-position: -464px 0;}
.flag.ECU:before {background-position: -528px 0;}
.flag.PAN:before {background-position: -544px 0;}
.flag.PER:before {background-position: -448px 0;}
.flag.DOM:before {background-position: -512px 0;}
.flag.VEN:before {background-position: -480px 0;}
.flag.DEU:before {background-position: -560px 0;}
.flag.CYP:before {background-position: -576px 0;}
.flag.AUT:before {background-position: -592px 0;}
.flag.DNK:before {background-position: -608px 0;}
.flag.NOR:before {background-position: -624px 0;}
.flag.FIN:before {background-position: -640px 0;}
.flag.CHE:before {background-position: -656px 0;}
.flag.RUS:before {background-position: -672px 0;}
.flag.UKR:before {background-position: -688px 0;}
.flag.TUR:before {background-position: -704px 0;}



.menu-bar {
  background: @color-bg-footer;
  border-bottom: 1px solid @color-shadow;
  height: 39px;
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.1);
  -moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.1);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.1);
  .main {
    margin: 0 auto;
    min-width: @width-min-doc;
    position: relative;
    .b-login-form {
      display:none;
    }
    .b-logo {
      position: absolute;
      top: 3px;
      left: 20px;
    }
    .upgrade-btn-wrap {
      float: right;
      margin-top: 2px;
      margin-right: 10px;
      width: 120px;
      .upgrade-button {
        padding: 0 5px;
        max-width: 120px;
        height: 35px;
        font-size: 11px;
        line-height: 1.2em;
        outline: none;
        background: @btn-upgrade-bg;
        &:hover {
          background: darken(@btn-upgrade-bg, 5%);
        }
      }
    }

    .b-site-nav {
      padding: 0 0 0 210px;
      float: left;
      position: relative;
      .b-nav-list {
        &>li {
          margin: 0 5px;
          position: relative;
          display: block;
          float: left;
          min-width: 50px;
          height: 38px;
          ._transition (background-color 0.1s);
          .site-nav-item  {
            text-decoration: none;
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
            cursor:default;

            &.active, &:hover {
              background-color:#404040;
              background-color: fadeout(@color-bg-body, 90%);
              cursor:pointer;
              &.site-nav-feedback {
                color:@color-text-base;
                &:before {
                  background-position: 0px -494px;
                }
              }
              &.site-nav-search {
                background-position: -1px -653px;
              }
              &.site-nav-messenger {
                background-position: -135px -573px;
              }
              &.site-nav-views {
                background-position: 0px -207px;
              }
              &.site-nav-winks {
                background-position: -34px -207px;
              }
              &.site-nav-favorites {
                background-position: -91px -207px;
              }
              &.site-nav-newsfeed {
                background-position: -160px -207px;
              }
              &.site-nav-rooms {
                background-position: -128px -207px;
              }
            }

            &.site-nav-feedback {
              &:before {
                content:'';
                display:inline-block;
                float:left;
                background: @sprite_url no-repeat 0px -463px;
                width:36px;
                height: 28px;
              }
              top:2px;
              color:@color-text-muted;
              span {
                ._capitalize();
                display:inline-block;
                padding:10px 10px 0 10px;
              }
            }
            &.site-nav-search{
              background: @sprite_url no-repeat -1px -623px;
              top: 7px;
              left: 12px;
              width: 27px;
              height: 25px;
            }
            &.site-nav-messenger {
              background: @sprite_url no-repeat -101px -573px;
              top: 7px;
              left: 12px;
              width: 27px;
              height: 25px;
            }
            &.site-nav-views {
              background: @sprite_url no-repeat 0px -177px;
              top: 7px;
              left: 11px;
              width: 29px;
              height: 20px;
            }
            &.site-nav-winks {
              background: @sprite_url no-repeat -34px -177px;
              top: 7px;
              left: 13px;
              width: 26px;
              height: 26px;
            }
            &.site-nav-favorites {
              background: @sprite_url no-repeat -91px -177px;
              top: 8px;
              left: 10px;
              width: 31px;
              height: 25px;
            }
            &.site-nav-newsfeed {
              background: @sprite_url no-repeat -160px -177px;
              top: 7px;
              left: 10px;
              width: 31px;
              height: 25px;
            }
            &.site-nav-rooms {
              background: @sprite_url no-repeat -128px -177px;;
              top: 7px;
              left: 12px;
              width: 27px;
              height: 25px;
            }
          }
        }
        .counter {
          visibility:hidden;
          opacity:0;
          z-index: 2;
          position: absolute;
          top: -8px;
          right: -10px;
          background: @color-btn;
          min-width: 18px;
          padding: 4px 0;
          text-align: center;
          color: @color-text-base;
          box-shadow: 0 1px 3px fadeout(@color-shadow, 40%);
          -moz-box-shadow: 0 1px 3px fadeout(@color-shadow, 40%);
          -webkit-box-shadow: 0 1px 3px fadeout(@color-shadow, 40%);
          font: bold 10px/10px tahoma;
          border: 1px solid @color-shadow;
          border-radius: 10px;
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;
          ._transition(all 0s);
          &.active {
            visibility:visible;
            opacity:1;
            box-shadow: 0 1px 3px fadeout(@color-shadow, 40%);
            -moz-box-shadow: 0 1px 3px fadeout(@color-shadow, 40%);
            -webkit-box-shadow: 0 1px 3px fadeout(@color-shadow, 40%);
            ._transition(all 1s);
          }
        }
        .b-dropdown-menu {
          ._dropdown(top,200px,auto);
          top:55px;
          left:-75px;
          &:after,
          &:before {
            left: 50%;
            margin-left: -10px;
          }
          &.loading .nav:before {
            margin: -8px;
            top: 25px;
            left: 50%;
            position: absolute;
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            background-image: url("@{img_url}/micro-photo-loader.gif");
          }
          .b-upgrade {
            position:relative;
            background: @color-bg-light;
            font-size: 10px;
            padding: 5px;
            word-break: break-word;
            border-bottom: 1px solid @color-border-base;
            border-radius: 4px 4px 0 0;
            -moz-border-radius: 4px 4px 0 0;
            -webkit-border-radius: 4px 4px 0 0;

            &:after {
              opacity:1;
              ._transition(opacity 0.1s);
              z-index: 1;
              width: 0;
              height: 0;
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;
              border-bottom: 8px solid @color-border-base;
              position: absolute;
              content: '';
              display: block;
              height: 10px;
              top: -18px;
              right: 50%;
              margin-right: -7px;
            }
            a {
              color: @color-text-muted;
              text-decoration:none;
            }
            input {
              top:50%;
              left:9px;
              margin-top:-9px;
              z-index: auto;
            }
            span {
              word-wrap: break-word;
              display: block;
              padding-left:22px;
              margin: 4px 3px;
              ._capitalize();
              &:before {
                top:50%;
                margin-top:-10px;
              }
            }
            &.b-upgrade-views {
              span:before {
                margin-top:-8px;
              }
            }
          }
          .nav {
            min-height: 48px;
            max-height: 224px;
            position:relative;
          }
          .b-view-more {
            ._view-more ();
            a {
              text-decoration:none;
              border-top: 1px solid @color-border-base;
              padding: 12px 0;
              height: 40px;
              ._box-sizing();
              border-radius: 0 0 4px 4px;
              -moz-border-radius: 0 0 4px 4px;
              -webkit-border-radius: 0 0 4px 4px;
            }
          }
          .nav>li {
            padding: 5px;
            a {
              text-decoration:none;
              position: relative;
              &.blurred {
                .photo {
                  ._blur(2);
                }
                &:before, x:-moz-any-link {
                  content: '';
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  z-index: 2;
                  background: fade(@black, 78%);
                }
                /*IE10 hack*/
                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                  &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                    background: fade(@black, 78%);
                  }
                }
                /*IE10 hack end*/
              }
              &.blurred-heavy {
                .photo {
                  ._blur(4);
                }
                &:before, x:-moz-any-link {
                  content: '';
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  z-index: 2;
                  background: fade(@black, 90%);
                }
                /*IE10 hack*/
                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                  &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                    background: fade(@black, 90%);
                  }
                }
                /*IE10 hack end*/
              }
            }
            .photo {
              float:left;
              margin:0 10px 0 0;
            }
            .screenname,
            .date {
              height: 15px;
              line-height: 1.3em;
              display: block;
              width: 125px;
              ._text-overflow();
            }
            .screenname {
              color:@color-theme-base;
            }
            .date {
              color:@color-text-muted;
            }
            &:hover {
              .screenname,
              .date {
                color:@color-text-base;
              }
            }
          }
        }
      }
      .b-menu-notification {
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        z-index:2;
        min-width: 360px;
        filter: alpha(opacity=80);
        background:@color-shadow;
        background: fade(@color-shadow,80%);
        margin: 15px 0;
        white-space: nowrap;
        box-shadow: 0 1px 4px -1px fade(@color-shadow,40%);
        -moz-box-shadow: 0 1px 4px -1px fade(@color-shadow,40%);
        -webkit-box-shadow: 0 1px 4px -1px fade(@color-shadow,40%);
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        padding: 10px;
        ._box-sizing;
        ._transition (all 0.2s);
        ._transform (scale,0.1);
        top: 0;
        &:after {
          position: absolute;
          content: '';
          display: block;
          background: @sprite_url no-repeat -126px -100px;
          width: 17px;
          height: 10px;
          top: -10px;
        }
        &.active {
          visibility: visible;
          opacity: 1;
          ._transform(scale);
          top: 100%;
        }
        .b-user-notification {
          margin: 10px 0 0;
          &:first-child {
            margin:0;
          }
          .b-screenname {
            position: relative;
            z-index: 0;
            top: 0;
            left: 0;
            padding: 0;
            margin: 0 0 5px;
            font-size: 26px;
            line-height: 26px;
            height: 31px;
            border-bottom: 1px solid @color-bg-base;
            border-bottom: 1px solid rgba(255,255,255,0.7);
            .screenname {
              z-index:1;
              height: 100%;
              top: 0;
              left: 0;
              text-decoration: none;
              display: inline-block;
              text-decoration: none;
              ._text-overflow(215px);
              float:left;
            }
          }
        }
        .b-photo {
          display: inline-block;
          vertical-align: top;
          position: relative;
          margin: 0 5px 0 0;
          width: 85px;
          height: 85px;
          overflow: hidden;
          .blurred {
            .photo {
              ._blur(8);
            }
            &:before, x:-moz-any-link {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 2;
              background: fade(@black, 78%);
            }
            /*IE10 hack*/
            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
              &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                background: fade(@black, 78%);
              }
            }
            /*IE10 hack end*/
          }
          .blurred-heavy {
            .photo {
              ._blur(15);
            }
            &:before, x:-moz-any-link {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 2;
              background: fade(@black, 90%);
            }
            /*IE10 hack*/
            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
              &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                background: fade(@black, 90%);
              }
            }
            /*IE10 hack end*/
          }
          img {
            width: 100%;
            height: 100%;
          }
        }
        .b-btn-activity {
          position: absolute;
          top: 9px;
          right: 37px;
          display:none;
          z-index: 2;
          border-radius:13px;
          -moz-border-radius: 13px;
          -webkit-transition: top 0s linear 0.2s,
          background 0.1s linear 0s;
          -moz-transition: top 0s linear 0.2s,
          background 0.1s linear 0s;
        }
        .btn-close {
          float:right;
        }
        .b-notifications-list {
          list-style:none;
        }
        .b-notification-info {
          position: relative;
          color: @color-text-muted;
          font: @font-basic;
          min-width: 243px;
          display:inline-block;
        }
        .b-user-activity {
          margin: 9px 0 0;
          color: @color-text-base;
          padding: 3px 10px 4px;
          background:lighten(@color-text-muted,10%);
          border-radius:3px;
          -moz-border-radius:3px;
          -webkit-border-radius:3px;
        }
        .b-age,
        .b-location {
          display:inline-block;
          position: relative;
          padding: 0 0 0 15px;
          margin: 0;
          line-height: 18px;
          color:@color-text-base;
          &:before {
            left: 0;
            top: 2px;
            position: absolute;
            display: block;
            content: '';
            width: 12px;
            height: 14px;
            background: @sprite_url no-repeat -137px -124px;
          }
        }
        .b-age {
          margin: 0 15px 0 0;
          &:before {
            background: @sprite_url no-repeat -121px -124px;
          }
        }
        &.mail, &.info {
          &:after {
            //right:195px;
            left:20px;
          }
        }
        &.info {
          height:125px;
          .b-info-notification {
            text-align:center;
            border:0;
          }
          .b-text {
            font:18px @font-face-basic;
            color: @color-text-base;
            line-height: 30px;
            span{
              color: @color-theme-base;
            }
          }
          .b-heading {
            font-size: 26px;
            margin-bottom: 17px;
            line-height: 20px;
          }
        }
        &.view {
          &:after {
            //right:135px;
            left:80px;
          }
        }
        &.wink {
          &:after {
            //right:75px;
            left:140px;
          }
        }
        &.favorite {
          &:after {
            //right:15px;
            left:200px;
          }
        }
        &.newsfeed {
          &:after {
            left:262px;
          }
          .b-screenname {
            .screenname {
              ._text-overflow(132px);
            }
          }
          .b-user-activity {
            text-align:center;
          }
          .b-btn-activity {
            display:block;
            .btn-activity {
              opacity:1;
            }
          }

          .b-age, .b-location {
            display:block;
            line-height:18px;
          }
        }
      }
    }
    .b-search-form {
      margin: 58px 15px 0;
      position:absolute;
      right:0;
      .field {
        display: inline-block;
        margin-left: 5px;
        .label {
          margin-right: 5px;
        }
      }
      .select {
        width:200px;
        & select {
          display: none;
        }
      }
      .field-gender {
        .b-gender {
          display:inline-block;
          min-width:80px;
          width: auto;
          .b-dropdown-menu {
            ._dropdown(top, auto, auto);
            top: 38px;
            &:after {
              left:50%;
              margin-left:-10px;
            }
          }
        }
        .select .value {
          overflow: visible;
          min-height: initial;
        }
      }
      .field-age {
        .b-age {
          padding:0 7px;
          display:inline-block;
          background: @color-bg-base;
          height: 27px;
          ._radius(14px);
          border: 1px solid #ddd;
          border-color: rgba(0,0,0,0);
          box-shadow: 0 1px 3px fadeout(@color-shadow,60%) inset;
          -moz-box-shadow: 0 1px 3px fadeout(@color-shadow,60%) inset;
          -webkit-box-shadow: 0 1px 3px fadeout(@color-shadow,60%) inset;
          color:@color-border-base;
          .b-age-from,
          .b-age-to {
            position:relative;
            display:inline-block;
          }
          .age-from-input,
          .age-to-input {
            text-align: center;
            width:17px;
            box-shadow:none;
            background:none;
            border: none;
            padding-left: 3px;
            padding-right: 3px;
          }
        }
        .b-dropdown-menu {
          ._dropdown (top,71px,227px);
          top: 38px;
          left: -18px;
          .nav > li {
            text-align: center;
          }
          &:after {
            left: 50%;
            margin-left: -8.5px;
          }
        }
      }
      .field-location {
        .b-location {
          .location {
            width: 180px;
            box-shadow:none;
            background:none;
            border: none;
          }
          &:after {
            background: @sprite_url no-repeat -66px -126px;
            width:11px;
            height:13px;
            right: 8px;
            margin-top: -6px;
            border:none;
          }

          .b-dropdown-menu {
            display: none;
            position: absolute;
            right: 0px;
            left: -720px;
            top:55px;
            padding: 0;
            width: 1000px;
            ._shadow(0 0 5px fade(@pop-up-shadow, 90%));
            ._radius(4px);;
            background: @white;
            &:after {
              content: '';
              position: absolute;
              top: -7px;
              right: 15%;
              width: 14px;
              height: 7px;
              background: @sprite_url no-repeat -65px -163px;
            }
            &.active {
              display: block;
            }
            .b-distance-list {
              list-style: none;
              .label {
                font-size: 13px;
                font-weight: 600;
                margin: 6px -5px 0 10px;
              }
            }
            .distance-list {
              display: inline-block;
              margin: 0 3px 0 2px;
              li {
                position: relative;
                display: inline-block;
                padding: 0 5px 0 0;
                &:after {
                  content: '';
                  position: absolute;
                  top: 5px;
                  right: 0px;
                  width: 1px;
                  height: 15px;
                  border-right: 1px solid @pop-up-border;
                }
                a {
                  display: inline-block;
                  padding: 5px 9px;
                  text-decoration: none;
                  color: #ff7575;
                  ._radius(4px);;
                  min-width: 100%;
                  ._box-sizing;
                  cursor: pointer;
                  &:hover,
                  &.active {
                    background: #ff7575;
                    color: @white;
                  }
                }
              }
            }
            .b-cities-list {
              margin: 13px -2px 0 -2px;
              border-top:2px solid @message-button-bg;
              .nav {
                overflow-y: scroll;
                max-height: 156px;
                li {
                  display: inline-block;
                  padding: 11px 13px;
                  text-decoration: none;
                  color: inherit;
                  min-width: 100%;
                  ._box-sizing;
                  cursor: pointer;
                  ._transition(all .1s);
                  &:hover {
                    background: @button-3;
                    color: white;
                  }
                }
              }
            }
          }
          /* new location popup */
          .location-content {
            position: relative;
            overflow: hidden;
            width: 1000px;
          }
          .slider {
            width: 3000px;
            &.country {
              margin-left: 0;
              height: 350px;
              .country-list {
                .item {
                  margin-left: 27px;
                  width: 17%;
                }
              }
            }
            &.state {
              margin-left: -100%;
              height: auto;
            }
            &.city {
              margin-left: -200%;
              height: auto;
            }
          }
          .slide {
            position: relative;
            float: left;
            width: 1000px;
          }
          .country-header {
            padding: 15px 20px;
            font-size: 16px;
            line-height: 30px;
            border-bottom: 2px solid @pop-up-border;
            .geo-location-link {
              float: right;
              color: #ff7575;
              cursor: pointer;
              &:after {
                content: '';
                display: inline-block;
                vertical-align: text-bottom;
                margin: 0 0 -2px 10px;
                width: 20px;
                height: 20px;
                background: @sprite_url no-repeat -124px -80px;
              }
              &:hover {
                text-decoration: underline;
              }
            }
            .location-title {
              display: inline-block;
              margin-right: 2.5%;
              width: 22%;
              vertical-align: top;
              color: #ff7575;
              &.location-title-link {
                cursor: pointer;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
            .current-country {
              display: inline-block;
              vertical-align: baseline;
              &:before {
                margin-right: 10px;
              }
            }
          }
          .country-list {
            padding: 15px 20px 15px;
            .list-title {
              display: inline-block;
              margin-right: 2%;
              width: 22.5%;
              vertical-align: top;
              font-size: 16px;
              line-height: 40px;
              .any-state,
              .city-selected {
                color: #ff7575;
                border-bottom: 1px solid #ff7575;
                cursor: pointer;
                &:hover {
                  border-bottom: none;
                }
              }
              .selected {
                border-bottom: none;
                cursor: default;
              }
            }
            .search-country {
              position: relative;
              float: right;
              width: 25%;
              height: 40px;
              &:before {
                content: '';
                position: absolute;
                top: 10px;
                left: -10px;
                width: 10px;
                height: 18px;
                background: @sprite_url no-repeat -85px -123px;
              }
              input {
                margin: 5px 0 0 -20px;
                padding-left: 35px;
                width: 90%;
                border: none;
              }
            }
            .country-distance {
              display: inline-block;
              width: 48%;
              vertical-align: top;
              line-height: 40px;
              .distance-list {
                float: none;
                margin: 7px 5px 0 5px;
                vertical-align: top;
                line-height: normal;
              }
              .label {
                display: inline;
                margin: 0;
                padding: 0;
                max-width: 200px;
                height: auto;
                color: inherit;
                font-size: 13px;
              }
            }
            .list-content {
              margin: 0 -15px 0 -10px;
              padding: 0 0 0 10px;
              max-height: 400px;
              overflow-y: auto;
            }
            .item {
              display: inline-block;
              margin: 0 2.5% 0 -1%;
              padding: 0 1%;
              width: 21%;
              vertical-align: top;
//              font: 14px/40px @helvetica;
              font-size: 14px;
              line-height: 40px;
              cursor: pointer;
              text-decoration: none;
              ._radius(5px);
              &:hover {
                text-decoration: underline;
              }
              &.homeland,
              &.selected {
//                background: @search-highlight-bg;
                background-color: #ff7575;
                color: @white;
              }
            }
          }
          .country-list-head {
            margin-bottom: 10px;
            ._clearfix();
          }
          /* end: new location popup */
        }
      }
      .field-submit {
        .btn-search {
          margin-top:-1px;
          background-image: @sprite_url;
          background-position:-21px -97px;
          width: 28px;
          height: 28px;
          border-radius: 14px;
          -moz-border-radius: 14px;
          -webkit-border-radius: 14px;
          border:none;
        }
      }
      .field-more {
        position:relative;
        margin: 0 4px 0 9px;

        .btn-more {
          margin-top:-1px;
          background-image: @sprite_url;
          background-color:transparent;
          background-position:-11px -240px;
          width: 28px;
          height: 28px;
          border-radius: 14px;
          -moz-border-radius: 14px;
          -webkit-border-radius: 14px;
          border:none;
        }
        .b-dropdown-menu {
          ._dropdown(top);
          right:-12px;
          top:50px;
          padding:15px;
          &:after {
            left:96%;
            margin-left:-8px;
          }
          .b-preferences {
            ._clearfix();
            &>div {
              display: table-cell;
              vertical-align:top;
              padding: 0 0 0 20px;
            }
            &>div:first-child {
              padding: 0;
            }
            .b-data-box {
              .b-name {
                font:14px/1em @font-face-basic;
                color:@color-theme-base;
                font-weight:bold;
              }
              .b-value {
                margin:10px 0 0 0;
              }
              .b-item {
                margin:0 0 10px 0;
                span {
                  min-width: 120px;
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }
  }
}
.account-removed {
  .menu-bar .b-search-form {
    display:none;
  }
  .menu-bar .b-login-form {
    display:block;
    float:right;
    margin:5px 20px 0 0;

    .field {
      display:inline-block;
      margin: 0;
      padding: 0;
      margin-right:10px;
    }
    .b-submit {
      display:inline-block;
    }
    .btn-login {
      padding: 0;
      border: 0;
      box-shadow: 0 1px 0 rgba(0,0,0,0.3);
      -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.3);
      width: 28px;
      height: 28px;
      border-radius: 50px;
      -moz-border-radius: 50px;
      display: inline-block;
      position: relative;
      &:before {
        content: '';
        width: 10px;
        height: 10px;
        border: 2px solid @color-bg-base;
        margin: 7px;
        position: absolute;
        left: 0;
        border-radius: 10px;
        -moz-border-radius: 10px;
      }
      &:after {
        content: '';
        width: 2px;
        height: 7px;
        border: 2px solid @color-btn;
        margin: 3px 0 0 11px;
        position: absolute;
        left: 0;
        background: @color-bg-base;
      }
    }
    .b-login, .b-password {
      display:inline-block;
      position:relative;
      width: 200px;
      background:@color-bg-base;
      border-radius:14px;
      -mozborder-radius:14px;
      -webkit-border-radius:14px;
      box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.35),inset 0 0 1px 1px rgba(0,0,0,0.05);
      -moz-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.35),inset 0 0 1px 1px rgba(0,0,0,0.05);

      input {
        width: 180px;
        box-shadow: none;
        background: 0;
        border: 0;
      }
    }
    .b-password {
      padding: 0 26px 0 0;
      cursor:pointer;
      &:before {
        content: '';
        position: absolute;
        right: 25px;
        top: 4px;
        border-right: 1px solid @color-border-base;
        bottom: 4px;
      }
      &:after {
        content: '';
        position: absolute;
        right: 10px;
        top: 50%;
        background: @sprite_url no-repeat -104px -126px;
        width: 11px;
        height: 13px;
        right: 8px;
        margin-top: -6px;
        border: 0;
      }
    }
  }
}

.b-action-link {
  cursor: pointer;
  position: fixed;
  top:40px;
  left:0;
  z-index:403;
  margin: 0 5px 0 0;
  padding: 5px 0 0 31px;
  &:before {
    position: absolute;
    top: 10px;
    left: 10px;
    border: 1px solid @color-border-btn;
    display: inline-block;
    content: '';
    width: 38px;
    height: 38px;
    background: @sprite_url no-repeat -117px -265px;
    border-radius: 19px;
    -moz-border-radius: 19px;
    ._transition(all 0.2s);
  }
  &:hover:before {
    border-color: @color-border-btn-hover;
  }
  .page-title {
    white-space:nowrap;
    z-index: 100;
    position: relative;
    cursor: pointer;
    margin: 8px 30px;
    font-size: 33px;
    min-width: 225px;
    &:first-letter {
      text-transform: capitalize;
    }
  }
}

.ie9_all {
  .menu-bar .main .b-site-nav .b-menu-notification .b-photo {
    .blurred {
      img {
        ._ie-blur(8);
      }
    }
    .blurred-heavy {
      img {
        ._ie-blur(15);
      }
    }
  }
}

@media only screen and (max-width : 1100px) {
  .upgrade-btn-wrap {
    display: none;
  }
}


@media only screen and (max-width : 1024px) {
  .b-menu-notification {
    display: none!important;
    visibility: hidden!important;
    opacity: 0!important;
  }
}