- if(naughtyMode)
  .naughty-widget.menu-widget.l-toolbar-widgets
    .widget-button
      .title= _t("naughtyMode", "title.naughty_mode")
      .mode(data-nm-value="1")
    .b-dropdown-menu
      .mode-description
        if enableNaughtyLevel
          each val, key in enableNaughtyLevel
            .description(data-nm-description=key+1, class=val)= _t("naughtyMode", "text.mode_description." + val)
      .switcher.black.small
        if enableNaughtyLevel
          each val, key in enableNaughtyLevel
            .switcher-cell(class=(naughtyMode == key+1)?"active":"")
              a.on(href="#", data-nm-option=key+1)
                span= _t("naughtyMode", "value." + val)
  div(data-restriction-popup="1" style="display:none")
    .b-popup-overlay
      .b-popup-table
        .b-popup-cell
          .b-popup.b-restrictions(data-popup-body="1")
            .b-popup-content(data-content-main="1")
              .header
                a.btn-close(title="Close" data-close-popup="1")
                h1.title
                  span.you-sure= _t("naughtyMode", "text.rp-title")
              .content
                ol.list-help-restrictions
                  li
                    .right-side
                      ul.user-list
                        li
                          span= _t("naughtyMode","Explicit nudity")
                        li
                          span= _t("naughtyMode","Naughty photo")
                    .left-side!= _t('naughtyMode', 'text.you-need-agree-1', {'{restrictionLink}': '<a href="#" id="contentRestrictions">' + _t("naughtyMode", "text.restriction-link") + '</a>'})
                      p= _t('naughtyMode', 'text.you-need-agree-2')
                        |<br/>
                        label
                          input(type="checkbox" data-restriction-content="1" value="0")
                          span= _t('naughtyMode', 'text.rp-checkbox', {'{sitename}':model.siteName})
                      p= _t('naughtyMode', 'text.rp-if-you-agree')
                  li.second
                    div= _t('naughtyMode', 'text.rp-switch-naughty-mode')
                    .nm-switcher
                      div(class="switch-naughty-mode switch-naughty-mode-#{locale}")
                        .l-toolbar-top
                          .menu-bar
                            .naughty-widget.menu-widget.l-toolbar-widgets.active
                              .widget-button
                                .title=_t("naughtyMode", "title.naughty_mode")
                                .mode(data-nm-value="1")
                              .b-dropdown-menu
                                .mode-description
                                  if enableNaughtyLevel
                                    each val, key in enableNaughtyLevel
                                      .description.active(data-nm-description=key+1, class=val)= _t("naughtyMode", "text.mode_description." + val)
                                .switcher.black.small
                                  each val, key in enableNaughtyLevel
                                    div(class=(key == 0) ? "switcher-cell active" : "switcher-cell")
                                      a
                                        span
                                          span= _t("naughtyMode", "value." + val)
                .b-wrapp-btn
                    input.btn.btn-text-green(type="submit" value="OK" data-agree-restriction=1)
            .b-popup-content(data-content-inner="1" style="display:none")
              .header
                a.btn-close(title="Close" data-close-popup="1")
                h1.title
                  span.you-sure!= _t('naughtyMode', 'title.rp-content-restriction')
              .content
                .restrictions-scroll-block!= _t('naughtyMode', 'text.rp-restriction-part-1', {'{siteName}':model.siteName})
                  != _t('naughtyMode', 'text.rp-restriction-part-2', {'{siteName}':model.siteName})
                .b-wrapp-btn
                  a.btn.btn-text-green(data-show-main=1)= _t('naughtyMode', 'text.go-back')