.right-side.right-side-widget
  .drop-menu
    h4= _t("naughtyMode", "title.naughty_mode")
    span= _t("naughtyMode", "value.normal")
  ul.switch-list
    each val, key in enableNaughtyLevel
      li(class=(key == 0) ? "hovered" : "")= _t("naughtyMode", "value." + val)
