@button-submit_corg: #fff;
@popup-coreg-header_bg: #2c2c2c;
@color-popup_coreg_text: #000;
@color-popup_coreg_link: #797979;
@coreg-popup_terms_color: #797979;

@coreg-popup_button_border: #f34134;
@coreg-popup-btn_bg: #f34134;
@coreg-popup-btn_bg-hover: #F35934;
@coreg-popup_mesage-border: #ffffff;
@white: #fff;
@img_url: "../images";
#coreg {
  display:block;
}
.coreg-placement-on-profile-edit {
  display:none;
  margin-top:10px;
  clear: both;
}
.coreg-placement-on-advanced-search {
  display:none;
  margin-top:10px;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 10px;
}
.editing{
  .coreg-placement-on-profile-edit {
    display:block;
  }
}
input[type="checkbox"] {
  ._checkbox();
}
.b-remove-profile .btn-light.tip{
  cursor: pointer;
}
.btn-light.tip{
  cursor: pointer;
  padding: 0px 6px;
}
.tip-content{
  margin-top: 5px;
  display: none;
}
.b-coreg.b-popup{border-radius: 0px}
.b-coreg{
  width: 492px;
  margin: 0 auto;
  padding: 40px 30px;
  background: @white url("@{img_url}/popup-coreg-bg.jpg") 90% bottom no-repeat;
  min-height: 350px ;
  &.b-coreg-naughty{
    background: @white url("@{img_url}/popup-coreg-naughty-bg.jpg") 93% bottom no-repeat;
  }
  text-align: center;
  color: @color-popup_coreg_text;
  position: relative;
  .b-popup-content{padding: 0}
  .b-title {
    display: block;
    font-size: 23px;
    background: @popup-coreg-header_bg;
    padding: 27px 0px 16px;
    width: 230px;
    position: relative;
    color: @white;
    font-weight: 700;
    border-radius:0px 0px 0 0;
    &:after{
      content: '';
      bottom: -24px;
      left: 0;
      width: 0;
      height: 0;
      position: absolute;
      border-style: solid;
      border-width: 24px 115px 0 115px;
      border-color: @popup-coreg-header_bg transparent transparent transparent;
    }
  }
  p{
    margin-top: -2px;
    padding: 60px 0px 32px;
    font-size: 14px;
    display: block;
    width: 204px;
    width: 230px;
    border-style: none;
    background: @coreg-popup_mesage-border;
    border-style: 0px 2px 2px;
    border-radius:0 0 0px 0px;
    .title_mesage {
      display: block;
      margin-bottom: 6px;
      a {
        text-decoration: none;
      }
    }
  }
  form {
    width: 230px;
  }
  a{
    color: @color-popup_coreg_link;
  }
  .text-corg-popup-terms{
    font-size: 11px;

    a{
      color: @color-popup_coreg_text;
      text-decoration: underline;
    }
  }
  .b-wrapp-btn{
    margin: 46px 0 20px;
    input[type="submit"]{
      width: 100px;
      padding-top: 0px;
      padding-bottom: 7px;
     border-color: transparent transparent @coreg-popup_button_border;
      border-style: solid;
      border-width: 2px;
      border-radius: 26px;
      color: @white;
      font-size: 12px;
      background-color: @coreg-popup-btn_bg;
      box-shadow: none;
      &:hover {
        background-color: @coreg-popup-btn_bg-hover;
      }
    }
  }
  .btn-close{
    position: absolute;
    right: 10px;
    top: 9px;
    display: block;
    height: 15px;
    width: 15px;
    opacity: .9;
    background: none;
    &:after{
      content: '';
      position: absolute;
      top: 0px;
      display: block;
      left: 0px;
      width: 15px;
      height: 15px;
      background: url("@{img_url}/sprite.png") no-repeat -17px -276px;
    }
    &:hover{
      opacity: 1;
      cursor: pointer;
    }
  }
  .text-corg-popup-terms{
    text-align: center;
    width: 230px;
    color: @coreg-popup_terms_color;
    a {
      color: @coreg-popup_terms_color;
    }
  }
}