// =============================
//* PHOTOGRID VARIETY
// =============================
        .photogrid{
            .photogrid();
        }
.photogrid(@pgi-width:120px,@pgi-height:120px,@pgi-margin:3px) {
    width: 100%;
    margin: 0 auto;
    ul {
        margin: 0 auto;
        padding: 0;
        li {
            display: block;
            float: left;
            margin:@pgi-margin;
            width: @pgi-width;
            height: @pgi-height;
            overflow: hidden;
            position: relative;
            a {
                display: block;
                width: 100%;
                height: 100%;
                text-align: center;
                position: relative;
            }
            img {
                display: block;
                height: 100%;
                &.set-w {
                    width: 100%;
                    height: auto;
                }
                &.set-h {
                    height: 100%;
                    width: auto;
                }
            }
        }
    }
    &:after {
        display: block;
        content: "";
        clear: both;
    }
    &.g-2 {
        li {
            width:  @pgi-width;
            height: (@pgi-height+@pgi-margin)*2;
        }
    }
    &.g-3 {
        li:last-child {
            width:  @pgi-width;
            height: (@pgi-height+@pgi-margin)*2;
        }
    }
    &.g-1-1 {
        li {
            width:  (@pgi-width+@pgi-margin)*2;
            height: (@pgi-height+@pgi-margin)*2;
        }
    }
    &.g-1-2 {
        li:first-child {
            width:  @pgi-width*3+@pgi-margin*4;
            height: (@pgi-height+@pgi-margin)*2;
        }
    }
    &.g-1-4 {
        li:first-child {
            width:  (@pgi-width+@pgi-margin)*2;
            height: (@pgi-height+@pgi-margin)*2;
        }
    }
    &.g-2-4 {
        li:first-child {
            width:  @pgi-width;
            height: (@pgi-height+@pgi-margin)*2;
        }
        li:nth-child(2) {
            width:  @pgi-width;
            height: (@pgi-height+@pgi-margin)*2;
        }
    }
    &.g-4-2 {
        li:nth-child(5) {
            width: (@pgi-width+@pgi-margin)*2;
            height: (@pgi-height+@pgi-margin)*2;
        }
        li:nth-child(6) {
            width: (@pgi-width+@pgi-margin)*2;
            height: (@pgi-height+@pgi-margin)*2;
        }
    }
    &.g-9-9 {
        li {
            width: @pgi-width/2;
            height: @pgi-height/2;
        }
        li:first-child,li:nth-child(3) {
            width:  @pgi-width*1.5;
        }
        li:nth-child(5),li:nth-child(6),li:nth-child(7),li:nth-child(8),
        li:nth-child(15),li:nth-child(16),li:nth-child(17),li:nth-child(18) {
            width:  @pgi-width;
        }
        li:nth-child(10),li:nth-child(11),li:nth-child(13),li:nth-child(14) {
            width:  @pgi-width/2*1.5-@pgi-margin;
        }
    }
    &.g-3x3 {
        li {
            width:  @pgi-width*4/3;
            height: @pgi-height;
        }
    }
}