@import 'photogrid';

.empty-category {
  padding: 25px 0 85px;
  text-align: center;
  display: inline-block;
  width: 100%;
  span {
    font-size: 1.5em;
    font-weight: normal;
    color: #DD1F30;
    cursor: default;
  }
}

.button-b-btn {
    position: relative;
}

.b-feed-wall .b-feed__content.b-feed-content img {
  opacity: 0;
  -webkit-transition: opacity .3s ease-in;
  -moz-transition: opacity .3s ease-in;
  -o-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
}

.b-comment__item.b-comment__table.comment-form .b-comment__item-avatar .b-comment__item-avatar-item {
  opacity: 1;
}