mixin photo(data)
  img(src=data.src, style="opacity: 0; width: 100%;")

div(data-photo-row=aspectTotal, style="display: none; overflow: hidden; clear: both; margin-bottom: 1%;")
  if total > 1
    - var per = 101 - total;
    each val, key in photos
      .photo-holder(data-aspect=val.aspect, style="width: "+(val.aspect/aspectTotal*per)+"%; "+((total !== key + 1)?"margin-right: 1%;":""))
      a.photo-item(class=(val.naughty.naughtyClass)?val.naughty.naughtyClass:"", href=(!val.userUpgrade)?val.url:val.userUpgrade, data-aspect=val.aspect, style="background-image: url("+val.src+"); width: "+(val.aspect/aspectTotal*per)+"%; "+((total !== key + 1)?"margin-right: 1%;":""))
        +photo(val)
        - if(!val.userUpgrade)
          - if(val.naughty.naughtyLevel == 1)
            .b-blur-message
              span= _t("userListWidget", "Naughty photo")
          - else if(val.naughty.naughtyLevel == 2)
            .b-blur-message
              span= _t("userListWidget", "Explicit Nudity")
  else
    each val, key in photos
      .photo-holder(data-aspect=val.aspect, style="background-image: url("+val.src+");")
      a.photo-item.single-photo(class=(val.naughty.naughtyClass)?val.naughty.naughtyClass:"", href=(!val.userUpgrade)?val.url:val.userUpgrade, data-aspect=val.aspect, style="background-image: url("+val.src+");")
        +photo(val)
        - if(!val.userUpgrade)
          - if(val.naughty.naughtyLevel == 1)
            .b-blur-message
              span= _t("userListWidget", "Naughty photo")
          - else if(val.naughty.naughtyLevel == 2)
            .b-blur-message
              span= _t("userListWidget", "Explicit Nudity")
