@t-main-color: #f31b62;
@t-main-link: @t-main-color;
@t-main-link-hover: lighten(@t-main-color, 10%);
@t-img: '../images';
@img_url: '../images';
@t-main-sprite: '../images/sprite.png';
@t-screenname: @t-main-color;

@header-bg-start: #1b1b1b;
@header-bg-end: #1b1b1b;
@header-color: #fff;
@black: #000;
@white: #fff;
@yellow: #ffea7f;
@green: #77b200;
@counter-bg: @t-main-color;
@blue-light: #5079b3;
@blue-light-hover: #5c8bcd;
@site-nav-item-active-bg-start: #537199;
@site-nav-item-active-bg-end: #456899;
@body-color-bg: #f2eee6;
@logo-text-color: #ffea7f;
@default-link-color: #0a4983;
@text-def: #333;
@title-text-def: #262626;
@button-border: #d9d9d9;
@button-border-hover: #5079b3;
@text-light: #999;
@text-extralight: #bfbfbf;
@text-disabled: #c0c0c0;
@grey-light: #f2f2f2;
@grey-darklight: #ccc;
@transparent: transparent;
@online: #77b200;
@r-online: #f2a60c;
@green-btn-start: #9fc94c;
@green-btn-end: #78b302;
@green-btn-start-hover: #addd4d;
@green-btn-end-hover: #86c703;
@green-btn-start-press: #95b459;
@green-btn-end-press: #639303;
@orange-btn-start: #f6c154;
@orange-btn-end: #f2a70e;
@orange-btn-start-hover: #ffd684;
@orange-btn-end-hover: #fab427;
@orange-btn-start-press: #deb86a;
@orange-btn-end-press: #d9960d;

@blue-btn-start: #8ba6cd;
@blue-btn-end: #5079b3;
@blue-btn-start-hover: #99bbec;
@blue-btn-end-hover: #6498e2;
@blue-btn-border-hover: #5b89cb;
@blue-btn-start-press: #849bbc;
@blue-btn-end-press: #44679a;

@grey-btn-end: #d9d9d9;
@grey-btn-end-hover: #e8e7e7;
@grey-btn-start-press: #eff0f1;
@grey-btn-end-press: #cdd0d1;
@grey-border: #cbcbcb;

@btn-toolbar-right: #5b769b;
@btn-toolbar-left: #8ba6cd;
@border-user-toolbar: #40618f;
@separator: #e6e6e6;
@error-text-color: #ff5a40;

/*old variables*/
@pop-up-border: #ccc;
@pop-up-shadow: #a5a5a5;
@button-bg-def: #ccc;
@button-bg-def-hover: #dedede;
@button-2: #f9a100;
@button-2-shadow: #ffc561;
@button-w-shadow-dark: #cb8400;
@button-2-hover: #ffb62b;
@button-2-hover-shadow: #e09200;
@button-3: #e83434;
@button-3-shadow: #a82525;
@button-3-hover: #fb4e4e;
@button-3-hover-shadow: #c53030;
@button-activated: #ececec;
@button-shadow-1: #8f8e8e;
@button-hover: #ffe4b5;
@text-link: #ff8400;
@text-link-underline: #ffe4d4;
@text-medium: #b3b3b3;
@text-highlight: #009f00;
@text-meta: #666;
@text-banner: #fea700;
@message-button-bg: #c6f6c6;
@message-button-hover: #1cbb1c;
@message-button-hover-shadow: #008000;
@message-button-text: #009f00;
@message-button-shadow: #88d67a;
@wink-button-hover-shadow: #bf7c00;
@profile-highlight: #fff5e4;
@input-hover: #f2f2f2;
@tab-title-bg: #8a8a8a;
@tab-title-shadow: #9b9b9b;
@tab-body-bg: #f9a100;
@tab-body-active: #fff6d9;
@tab-body-shadow: #fbbd4d;
@tab-border: #6e6e6e;
@tab-text: #1c1c1c;
@tooltip-bg: #fef5e4;
@tooltip-border: #9a9a9a;
@banner-light-bg: #31fa31;
@banner-basic-bg: #17f517;
@banner-text: #333;

//page not found
@page_not_found-font_family: 'Open Sans', Arial, helvetica, sans-serif;
@page_not_found-color: #808080;
@page_not_found-body-color: #808080;
@page_not_found-border: #ccc;
@page_not_found-bg: #fff;