.single-vod-comments {
    &__title {
        color: @t-main-color;
        font-size: 24px;
        line-height: 26px;
        padding: 0 0 15px 5px;
    }

    &__container {
        background: #f9fbff;
        border: 1px solid #e6e6e6;
        border-bottom: 0;
    }

    &__list {
        padding: 20px 20px 0;

        .comment-item {
            padding-bottom: 10px;
            color: #3e454c;
            font-size: 14px;
            display: table;
            width: 100%;

            .b-comment__item-avatar {
                float: none;
                display: table-cell;
                vertical-align: top;
            }

            .b-comment__item-info-massage {
                margin: 0;
                padding-left: 15px;
                display: table-cell;
                vertical-align: middle;
            }
        }
    }

    .comment-form {
        border: 1px solid #e6e6e6;
        border-top: 0;
        background: #edeff4;
        padding: 10px 20px;
        overflow: hidden;
    }

    .b-comment__item-avatar {
        float: left;
        width: 36px;
        height: 36px;

        img { max-width: 100%; }
    }

    .b-comment__item-info-massage {
        margin-left: 50px;
        position: relative;
    }

    .comment-input-text {
        ._shadow(none);
        border: 1px solid #ccc;
        ._radius(2px);
        padding: 6px 50px 6px 10px;
        height: 36px;

        &:focus { ._shadow(0 0 3px fade(#000, 20%) inset); }
    }

    .comment-input-btn {
        background: none repeat scroll 0 0 @t-main-color;
        border: 1px solid darken(@t-main-color, 10%);
        ._radius(0 4px 4px 0);
        ._shadow(0 1px 1px fade(#fff, 20%) inset);
        ._box-sizing;
        height: 100%;
        position: absolute;
        right: 0;
        text-indent: -9999px;
        top: 0;
        width: 38px;
        cursor: pointer;

        &:hover {
            background: darken(@t-main-color, 10%);
            &:before { border-right: 6px solid darken(@t-main-color, 10%); }
        }

        &:before, &:after {
            content: "";
            position: absolute;
            top: 50%;
        }

        &:before {
            border-bottom: 5px solid transparent;
            border-right: 6px solid @t-main-color;
            border-top: 5px solid transparent;
            left: -6px;
            margin-top: -5px;
        }

        &:after {
            background: url("@{t-img}/profile_icons.png") no-repeat scroll -60px -60px rgba(0, 0, 0, 0);
            height: 16px;
            left: 50%;
            margin: -8px 0 0 -8px;
            width: 16px;
        }
    }
}
