.stc-typo {
  max-width: 760px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 18px;
  h1 {
    font-size: 20px;
    line-height: 1.2;
    margin: 0 0 20px;
    color: @black;
  }
  h2 {
    font-size: 16px;
    line-height: 1.2;
    margin: 12px 0;
    color: #201717;
    text-transform: uppercase;
  }
  p {
    margin: 0 0 18px;
  }
  ul {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
    ul {
      margin: 0 0 20px 10px;
    }
    li, ol {
      margin: 0 0 18px;
    }
  }
  .stc-close {
    margin: 20px 0;
    text-align: center;
  }
}