.b-profile-feed-head.description-head
  .b-profile-feed-head__content-left.b-profile-feed-head__content-left--1em.head_table__div_table-cell= _t("profileLookingFor", "title.looking_for")
    span.changes-status.changes-status--save.inactive(data-message="result")
      span.icon-status.icon-Check
      span(data-message-text="result")
    span.changes-status.changes-status--error.inactive(data-message="error")
      span.icon-status.icon-Attention
      span(data-message-text="error")
  .rightside-content-b-header-right.head_table__div_table-cell
.description_block--content
  table.description_block--content__table
    tbody
      tr.description_block--content__table--row(data-ui-select)
        td.description_block--content__table__nomination= _t("profileLookingFor", "title.gender")
        td.description_block--content__table__value
          .relative
            a(data-toggle data-value)= formParams.values.lookingFor.gender[profile.lookingFor.gender]
            .profile-grid-custom-select.right
              .current-select-item
                input(type="hidden", value=profile.lookingFor.gender, name="lookingForGender", data-control, id="lookingForGender")
                span(data-value)
                .current-select-item-icon-arrow-up
              .overflow-options(data-items-list)
                each gender, key in formParams.values.lookingFor.gender
                  a.option-select-item(data-item=key)= gender

      tr.description_block--content__table--row
        td.description_block--content__table__nomination= _t("profileLookingFor", "title.age")
        td.description_block--content__table__value
          span
            | From
          .content-table-value-input(data-ui-select, data-select-max="searchFormAgeFrom")
            a(data-toggle data-value)= profile.lookingFor.age.from
            .profile-grid-custom-select
              .current-select-item
                input(type="hidden", value=profile.lookingFor.age.from, name="lookingForAge[from]", data-control, id="lookingForAgeFrom")
                span(data-value)
                .current-select-item-icon-arrow-up
              .overflow-options(data-items-list)
                - for(var i = formParams.values.lookingFor.age.min; i <= formParams.values.lookingFor.age.max; i++)
                  a.option-select-item(data-item=i)= i
          span
            | &nbsp;to
          .content-table-value-input(data-ui-select, data-select-max="searchFormAgeTo")
            a(data-toggle data-value)= profile.lookingFor.age.to
            .profile-grid-custom-select
              .current-select-item
                input(type="hidden", value=profile.lookingFor.age.to, name="lookingForAge[to]", data-control, id="lookingForAgeTo")
                span(data-value)
                .current-select-item-icon-arrow-up
              .overflow-options(data-items-list)
                - for(var i = formParams.values.lookingFor.age.min; i <= formParams.values.lookingFor.age.max; i++)
                  a.option-select-item(data-item=i)= i

      tr.description_block--content__table--row(data-ui-select)
        td.description_block--content__table__nomination= _t("profileLookingFor", "title.search_radius")
        td.description_block--content__table__value
          .relative
            a(data-toggle data-value)= formParams.values.lookingFor.distance[profile.lookingFor.distance]
            .profile-grid-custom-select.right
              .current-select-item
                input(type="hidden", value=profile.lookingFor.distance, name=lookingForDistance, data-control, id=lookingForDistance)
                span(data-value)
                .current-select-item-icon-arrow-up
              .overflow-options(data-items-list)
                each distance, key in formParams.values.lookingFor.distance
                  a.option-select-item(data-item=key)= distance

      tr.description_block--content__table--row(data-ui-select)
        td.description_block--content__table__nomination
          | Type of photo
        td.description_block--content__table__value
          .relative
            a(data-toggle data-value)= formParams.values.lookingFor.photoLevel[(profile.lookingFor.photoLevel.length > 0 ? profile.lookingFor.photoLevel[0]: 0)]
            .profile-grid-custom-select.right
              .current-select-item
                input(type="hidden", value=(profile.lookingFor.photoLevel.length > 0 ? profile.lookingFor.photoLevel[0]: 0), name="lookingForPhotoLevel[]", data-control, id="lookingForPhotoLevel")
                span(data-value)
                .current-select-item-icon-arrow-up
              .overflow-options(data-items-list)
                each level, key in formParams.values.lookingFor.photoLevel
                  a.option-select-item(data-item=key)= level

      tr.description_block--content__table--row(data-ui-select)
        td.description_block--content__table__nomination= _t("profileLookingFor", "title.looking_for_race")
        td.description_block--content__table__value
          .relative
            a(data-toggle data-value)= formParams.values.lookingFor.race[(profile.lookingFor.race.length > 0 ? profile.lookingFor.race[0]: 0)]
            .profile-grid-custom-select.right
              .current-select-item
                input(type="hidden", value=(profile.lookingFor.race.length > 0 ? profile.lookingFor.race[0] : 0), name="lookingForRace[]", data-control, id="lookingForRace")
                span(data-value)
                .current-select-item-icon-arrow-up
              .overflow-options(data-items-list)
                each race, key in formParams.values.lookingFor.race
                  a.option-select-item(data-item=key)= race

      tr.description_block--content__table--row(data-ui-select)
        td.description_block--content__table__nomination= _t("profileLookingFor", "title.looking_for_religion")
        td.description_block--content__table__value
          .relative
            a(data-toggle data-value)= formParams.values.lookingFor.religion[(profile.lookingFor.religion.length > 0 ? profile.lookingFor.religion[0] : 0)]
            .profile-grid-custom-select.right
              .current-select-item
                input(type="hidden", value=(profile.lookingFor.religion.length > 0 ? profile.lookingFor.religion[0] : 0), name="lookingForReligion[]", data-control, id="lookingForReligion")
                span(data-value)
                .current-select-item-icon-arrow-up
              .overflow-options(data-items-list)
                each religion, key in formParams.values.lookingFor.religion
                  a.option-select-item(data-item=key)= religion
.b-profile-feed-footer.search-box-b--footer
  .b-profile-feed-footer__add.b-profile-feed-footer__add--status
    .action-status-b.inactive
      a.b-profile-feed-footer__action-btn-status(data-btn="reset")= _t("profileLookingFor", "button.cancel")
      a.b-profile-feed-footer__action-btn-status.save(data-btn="save")= _t("profileLookingFor", "button.save")