.b-profile-banner {
  clear: both;
  margin-left: -30px;
  padding-top: 50px;
}
.b-user-banner {
  margin: 0 17px;
}

/* Banners on search page */
.b-search-banner {
  display: inline-block;
  width: 410px;
  height: 220px;
  margin: 0 0 20px;
  img {
    display: block;
    width: 430px;
    height: 240px;
    margin: -10px;
  }
}
.usertop-banner-openx {
  padding-top: 40px;
}
.userlisttop-banner-openx,
.accounttop-banner-openx,
.profiletop-banner-openx {
  div {
    div {
      margin: 10px auto 15px;
      margin-top: 50px;
      padding: 18px 0 8px;
      text-align: center;
      background: #e6e6e6;
    }
  }
}
.accounttop-banner-openx {
  div {
    div {
      margin-top: 15px;
    }
  }
}
.userlisttop-banner-openx {
  div {
    div {
      margin-top: -5px;
    }
  }
}
.accountright-banner-openx {
  div {
    div {
      position: absolute;
      right: -180px;
    }
  }
}
.usertop-banner-openx div div {
  margin-bottom: 0;
  padding-top: 15px;
  text-align: center;
  background: #e6e6e6;
}
.userlistbottom-banner-openx,
.userlisttop-banner-openx,
.accountbottom-banner-openx,
.accounttop-banner-openx,
.accountright-banner-openx,
.profiletop-banner-openx,
.usertop-banner-openx,
.userlistright-banner-openx,
.userright-banner-openx,
.userbottom-banner-openx,
.profileright-banner-openx,
.profilebottom-banner-openx {
  iframe {
    position: relative;
  }
}
.userlistbottom-banner-openx,
.accountbottom-banner-openx,
.userbottom-banner-openx,
.profilebottom-banner-openx {
  text-align: center;
}

.userbottom-banner-openx {
  float: left;
  z-index: 5;
  width: 95%;
  padding-top: 5px;
  background: #fff;
}
.profilebottom-banner-openx {
  position: absolute;
  z-index: 5;
  bottom: -85px;
  width: 95%;
  padding-top: 5px;
  background: #fff;
}

/* trustedBanner */

/**/
.trusted-banner {
  ._radius(10px);
  overflow: hidden;
  margin-top: 20px;
  border: 1px solid @trusted_banner_border;
  background: @white;
  .banner-head {
    position: relative;
    padding: 15px 20px 15px 85px;
    font-size: 15px;
    font-weight: bold;
    line-height: 23px;
    text-transform: uppercase;
    color: #4c4c4c;
    background: @trusted_banner_head_bg;
    &:before {
      position: absolute;
      top: 10px;
      left: 20px;
      width: 50px;
      height: 57px;
      content: "";
      background: url("@{img_url}/trusted-logo.png") no-repeat 0 0;
    }
  }
  .banner-body {
    padding: 15px 0 30px 0;
  }
  .benefit-list {
    ._clearfix();
    padding-left: 85px;
    li {
      ._box-sizing();
      float: left;
      position: relative;
      margin-top: 5px;
      padding: 0 30px 0 30px;
      font-size: 14px;
      line-height: 1.4;
      color: @black;
      &:before {
        ._sprite(@trusted-banner-list);
        position: absolute;
        top: 5px;
        left: 5px;
        content: "";
      }
    }
  }
  .info {
    margin-top: 20px;
    color: @trusted_banner_info_color;
  }
  .wrap-btn {
    margin-top: 20px;
    text-align: center;
    .btn {
      ._buttons(@theme-color-sub);
    }
  }
  &.trusted-banner_widget {
    text-align: left;
    background: transparent;
    .banner-head {
      padding: 15px 10px 15px 60px;
      &:before {
        left: 0;
      }
    }
    .benefit-list {
      padding-left: 0;
      li {
        padding-right: 0;
      }
    }
  }
}
