/*--------------Success ---------------------------*/
.b-popup-cell {
  display: table-cell;
  vertical-align: middle;
}
.b-popup-table {
    display: table;
    height: 100%;
    width: 100%;
}
.b-popup-overlay {
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 700;
}
.b-popup.b-success-page {
  position: relative;
  width: 600px;
  min-width: 600px;
  margin: 0 auto;
  .b-popup-content {
    padding: 0 0 30px;
    min-height: 270px;
  }
  .title {
    color: #e82b2b;
    font-size: 2.25em;
    font-weight: lighter;
    padding-bottom: 30px;
    text-align: center;
    padding-bottom: 27px;
    border-bottom: 1px solid #e5e7ee;
  }
  .complete-reg {
    color: #0A1B36;
    font-family: @registrationComplete-font;
    font-size: 1em;
    line-height: 1.2em;
    padding-bottom: 38px;
    text-align: center;
    a {
      text-decoration: underline;
    }
  }
  .wrapp-btn {
    text-align:center;
    p {
      color: @registrationComplete-text_medium;
      font-size: 18px;
      font-weight: 600;
      font-family: @registrationComplete-font;
      margin: 0 0 30px 0;
    }
  }
  .known-domain {
    background-color: #D70000;
    height: 45px;
    line-height: 43px;
    padding: 0 2.5em;
    border-radius: 5px;
    color: #FFFFFF !important;
    display: inline-block;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    text-shadow: 0 2px rgba(0, 0, 0, 0.2);
    max-width: none;
    width: auto;
  }
  .resend-button {
    font-size: 0.875em;
    text-decoration: underline !important;
    display: block;
    padding-top: 18px;
  }
  .b-resend-email-form {
    display: none;
    border-top: 1px solid @registrationComplete-border_base;
    padding: 39px 0 0;
    margin-top: 35px;
    display: none;
    ._clearfix();
    position: relative;
    &.active {
      display: block;
    }
  }
  .item {
    width: 49.99%;
    float: left;
    padding: 18px 36px 18px 20px;
    border-right: 1px solid @registrationComplete-border_base;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    &.correct {
      border: none;
      padding: 18px 20px 18px 30px;
    }
    .b-or {
      position: absolute;
      height: 100%;
      top: 0;
      right: -31px;
      width: 61px;
      text-align: center;
      span {
        display: inline-block;
        background: @registrationComplete-or_bg;
        border: 1px solid @registrationComplete-or_border;
        ._radius(15px);
        padding: 3px 7px 5px;
        margin-top: 72px;
      }
    }
    p {
      line-height:20px;
      padding-bottom:14px;
    }
    input {
      margin-bottom: 6px;
      width: 100%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }
    .btn {
      margin-bottom: 0;
    }
  }
  .resend-mail {
    text-align: center;
  }
}

