
@registrationComplete-font_600: 'Open Sans Semibold', Arial, helvetica, sans-serif;
@registrationComplete-font: 'Open Sans',sans-serif;

@registrationComplete-text_medium: #b3b3b3;
@registrationComplete-text_def_dark: #1a1a1a;
@registrationComplete-border_def: #bfbfbf;
@registrationComplete-border_base: #ddd;
@registrationComplete-or_bg: #fff;
@registrationComplete-or_border: #ccc;