/**
 * On addate themes we have no side bar,
 * therefore we adding semitransparent overlay
 * and removing place reservation for sidebar menu
 */
.wc-logout-popup {
    &__mask {
        display: block;

        background: #fff;
        background: fade(#fff, 90%);
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    &__main {
        padding: 0;
        margin: 0;
    }
}
