@logoutPopup-toolbar-bg: #070506;
@logoutPopup-primary-color: @t-main-color;
@logoutPopup-bestModelImg: '../images/wc_logout_best_model.png';

._logoutPopup-close() {
    width: 13px;
    height: 13px;
    margin-top: -8px;
    background: transparent url("@{t-main-sprite}") no-repeat scroll -216px -139px;
    &:hover {
        background-position: -170px -156px;
    }
}
