- if(user)
  .b-info-wrap
    .b-info-types(data-toggle)
      .dropdown-menu.dropdown-info-types
        ul
          li.item-type.new-message= _t('talks', 'text.type_regular')
          li.item-type.flirtcast= _t('talks', 'text.type_flirtcast')
          li.item-type.activity-alert= _t('talks', 'text.type_activity_alert')
          li.item-type.read= _t('talks', 'text.type_read')
          li.item-type.reading= _t('talks', 'text.type_not_read')
    .user-info(class=naughtyOptions ? naughtyOptions.naughtyClass : '')
      a.user-photo(href=userLink(userId))
        img.photo(src=user.photos.url)
      .user-describe
        a.screenname(href=userLink(userId), data-state="min")= user.login
        span.describe-info= _t('talks', 'text.gender_'+user.gender)
          span.b-old= _t('talks', 'text.years', user.age)
          - if(user.geo && user.geo.city)
            span.location= user.geo.city
              - if(user.geo.country)
                = ', ' + user.geo.country
    - if(user.chatUpLine)
      .user-details= user.chatUpLine
    .communicate
      a.btn-add-friend(href="#", data-button-friend, data-favoritebutton=user.id, class=(user.buttons && user.buttons.favorite && user.buttons.favorite.activated) ? "active" : "")
      .btn-other(data-toggle)
        span.name= _t("talks", "text.or")
        .dropdown-menu.dropdown-more
          a.item(href=userLink(userId), data-state="min")= _t("talks", "text.open_profile")
          - if(user.buttons && user.buttons.wink && user.buttons.wink.activated)
            span.item= _t("talks", "text.winked")
          - else
            a.item(href="#", data-button-wink, data-winkbutton=user.id,)= _t("talks", "text.wink")
