- var stateClass = "", overlayClass = "hidden";
case model.state
  when "closed"
    - stateClass = "hidden"
  when "min"
    - stateClass = "c-talks-minimized"
  when "small"
    - stateClass = "c-talks-small"
  when "big"
    - overlayClass = ""

.c-talks-overlay#cTalksOverlay(class=overlayClass)
.c-talks(class=stateClass)
  .header
    .header-wrap#cTalksHeader(data-state-dblclick="fold")
  .emptyList#cTalksEmptyCollection(style='display: none;')
    .empty-messenger
  .head-msg
    .b-main.b-info#cTalksRecipientHeader
  .content-msg
    .b-aside.b-list#cTalksRecipientCollection
    .b-main.b-talks
      .messenger-history#cTalksBottomPosition
        .messages-wrapper#cTalksMessageCollection
      .messenger-input#cTalksInput