a.b-fold(href="#", data-state="fold", title=_t("talks", "text.minimise"))
a.b-expand(href="#", data-state="fold", title=_t("talks", "text.maximize"))
a.b-minimize(href="#", data-state="min", title=_t("talks", "text.pop_in"))
a.b-maxmimize(href="#", data-state="max", title=_t("talks", "text.pop_out"))
a.b-close(href="#", data-state="close", title=_t("talks", "text.close"))
- if(model.state === 'big' || !activeModel || model.state === 'min' && unreadRecipients > 1)
  h2.title.icon-msg
    span.name= _t("talks", "title.messenger")
    - if (unreadRecipients)
      span.counter= unreadRecipients
- else if(activeModel && activeModel.user)
  h2.title.icon-msg
    a.name(href=userLink(activeModel.userId))= activeModel.user.login
    - if(activeModel.unreadMessageCount)
      span.counter= activeModel.unreadMessageCount