- var messageClass = "new-message",translateKey = "regular";
case true
  when (model.flags.autoreplySubject || model.flags.autoreplyDescription)
    - messageClass = 'autoreply'
    - translateKey = 'autoreply'
  when model.flags.userMatchAlert
    - messageClass = 'activity-alert'
    - translateKey = 'activity_alert'
  when model.flags.flirtcast
    - messageClass = 'flirtcast'
    - translateKey = 'flirtcast'
- if(separateDate)
  - var dateKey = model.dateKey;
  - if(dateKey === 'today' || dateKey === 'yesterday')
    - dateKey = _t('talks', 'text.' + dateKey)
  .separate-msg(data-separate=model.dateKey)
    span.title= dateKey
.message(class=(model.direction)?"message-"+model.direction:"", class=(model.flags && model.flags.cutted)?"message-blur":"", data-message=model.dateKey,data-cid=cid)
  .info(class=(!model.time)?"loading":"")
    - if(model.direction === 'in')
      span.status(class=messageClass, title=_t('talks', 'text.type_' + translateKey))
    - else
      - if(canViewStatusIsRead)
        - if(!model.isRead)
          span.status.reading(title=_t('talks', 'text.type_not_read'))
        - else
          span.status.read(title=_t('talks', 'text.type_read'))
    span.date= model.time
  span.username= model.sender.login
  .message-text
    span!= model.textHtml
