- var searchLink = '<a href="/#peopleNearby" data-state="min">' + _t('talks', 'text.search') + '</a>';
- var favoritesLink = '<a href="/#favorites" data-state="min">' + _t('talks', 'text.favorites') + '</a>';
.empty-wrap
  .empty-messenger
    - if(countFreeMessages.show)
      p.empty-text.text1= _t('talks', 'text.emptyList.text4', {"{count}": countFreeMessages.countFreeMessages})  
    p.empty-text.text1= _t('talks', 'text.emptyList.text1')
    p.empty-text.text2!= _t('talks', 'text.emptyList.text2', {"{search}": searchLink})
