- if(model.fetchedMessages && model.fetchedUser)
  - if(model.messagesData && model.messagesData.upgradeRead)
    .message-upgrade
      a.btn-upgrade(href="#", data-feature="upgradeRead")= _t("talks", "text.upgrade_read")
  - if(model.messagesData && model.messagesData.blockedByUser)
    .message-blocked(data-feature="blocked")
      p(class="text")= _t("talks", "text.member_blocked_you")
  .btn-send-wrap
    button.btn-talks.btn-send#cTalksInputSubmit= _t("talks", "text.send")
  .input-wrap.empty#cTalksInputWrap
    .smiles.icon-Wink#cTalksSmiles
      .smiles-tooltip.b-smiles-enter
        ul
          each smile in smiles
            li.smile-item!= smile.img
    .input-placeholder= _t("talks", "text.write_your_message")
    .message-input#cTalksInputMessage(contenteditable="true")