ul.b-list-wrap#cTalksRecipientCollectionWrap
  each recipient in collection
    - var naughtyRecipient = naughtyCollection && naughtyCollection[recipient.userId] || {};
    - if(recipient.user && ((model.state === 'small' && !recipient.history) ||model.state === 'big' ||recipient.active))
      - var statusText = '';
      if (recipient.user.statuses && recipient.user.statuses.online)
        if (recipient.user.isFriend)
          - statusText=_t("talks", "text.friend_online")
        else
          - statusText= _t('talks', 'text.online')
      else if (recipient.user.statuses && recipient.user.statuses.recentlyOnline)
        - statusText = _t('talks', 'text.recently_online')
      li.list-item(class=[recipient.active ? "active" : "", recipient.unreadMessageCount ? "not-read" : "", naughtyRecipient.naughtyClass])
        a.list-item-wrap(href=userLink(recipient.user.id), data-userId=recipient.user.id)
          span.counter(class=(!recipient.unreadMessageCount)?"hidden":"")= recipient.unreadMessageCount
          span.user-photo
            img.photo(src=recipient.user.photos.url)
          .user-describe
            span.screenname= recipient.user.login
            span.status(class=recipient.user.statuses && recipient.user.statuses.online ? "online" : "")= statusText
        - if (naughtyRecipient.naughtyLevel > 0)
          .dropdown-menu.dropdown-naughty
            .text
              case naughtyRecipient.naughtyLevel
                when 1
                  .text-wrap= _t("talks", "text.naughty_mode_switch_sexy")
                when 2
                  .text-wrap= _t("talks", "text.naughty_mode_switch_no_limits")
            .buttons-wrap
              a.btn-talks.btn-naughty(href="#", data-nm-trigger=1)= _t("talks", "value.naughty_mode_normal")
              a.btn-talks.btn-naughty.on(href="#", data-nm-trigger=2)= _t("talks", "value.naughty_mode_sexy")
              a.btn-talks.btn-naughty.no-limits(href="#", data-nm-trigger=3)= _t("talks", "value.naughty_mode_no_limits")
  - if(model.prevExist || model.state === 'small' && collectionHistory.length)
    li
      a.btn-talks.btn-view(href="javascript:void(0)", data-history)= _t("talks", "text.view_history")
