.w-search {
  overflow-x: hidden;
  padding: 40px 0 20px;
  &.loading {
    .loader-wrap {
      display: block;
    }
  }
  &.user-free {
    padding-bottom: 0;
    &.scrolled-to-bottom {
      .loader-wrap {
        display: none;
      }
    }
    .upgrade-banner {
      display: block;
      width: 100%;
    }
  }
  &.activity-top-margin {
    margin-top: -10px;
    padding-top: 0;
    .content-main {
      padding: 0;
    }
  }
  .pattern-bg {
    &:before,
    &:after {
      top: 180px;
    }
  }
  .b-search-grid {
    position: relative;
  }
  .b-search-results {
    position: relative;
    width: 250px;
    margin: 0 auto;
    &.activity {
      .screenname {
        &:hover {
          text-decoration: underline;
        }
      }
      .highlight {
        .b-activity-time-message {
          width: 220px;
          width: 213px;
          padding: 5px 5px 2px 5px;
        }
      }
      .blurred-heavy,
      .blurred {
        .b-activity-time-message {
          background-color: @userList-blur_overlay_bg;
          background-color: fade(@userList-blur_overlay_bg, 30%);
        }
      }
      .b-activity-time-message {
        ._box-sizing;
        display: block;
        width: 100%;
        margin: 12px 0 0 0;
        margin-top: 12px;
        padding: 6px 5px 5px;
        font-size: 11px;
        line-height: 14px;
        text-align: center;
        color: @userList-time_text;
        background-color: @userList-time_bg;
        background-color: fade(@userList-time_bg, 60%);
        &.fresh {
          font-family: @userList-font_600;
          color: @userList-time_text_fresh;
        }
        &:hover {
          cursor: pointer;
        }
        span {
          text-transform: capitalize;
        }
      }
      .b-btn-activity {
        bottom: 0;
      }
    }
    .naughty-menu {
      top: 0;
    }
  }
  .sidebar {
    margin-top: -40px;
  }
  .upgrade-banner {
    ._radius(0);
    ._box-sizing();
    display: none;
    position: absolute;
    z-index: 10;
    right: 10px;
    bottom: 5px;
    left: 0;
    height: 240px;
    padding: 54px 0 0 0;
    font-family: @userList-font_300;
    text-align: center;
    .title {
      margin-bottom: 20px;
      font-size: 26px;
      line-height: 30px;
      color: @userList-text_def;
    }
    .button-holder {
      .btn {
        padding: 10px 20px;
        background: @userList-btn_upgrade;
      }
    }
  }
  .sorting-settings {
    position: relative;
    width: 340px;
    margin: 0 auto;
    .select-widget {
      float: left;
      width: 160px;
      margin: 0 5px;
    }
    .switcher {
      margin: 0 0 15px 5px;
    }
  }
  .select-widget {
    position: relative;
    .button {
      ._radius();
      float: right;
      position: relative;
      min-width: 160px;
      margin: 0;
      padding: 10px 30px 9px 10px;
      text-align: left;
      color: @userList-text_def;
      outline: none;
      span {
        ._text-overflow();
        display: inline-block;
        max-width: 110px;
      }
    }
    .b-dropdown-menu {
      top: 47px;
      right: 0;
      left: auto;
      &:before {
        display: none;
      }
      .nav li {
        margin-bottom: -2px;
        padding: 6px 7px;
      }
    }
  }
  .content-main {
    clear: both;
    position: relative;
    z-index: 4;
    margin: 0 auto;
    padding-top: 15px;
    &:after {
      display: table;
      clear: both;
      content: "";
    }
  }
  .b-grid-item {
    display: inline-block;
    width: 240px;
    height: 240px;
    margin: 5px;
    vertical-align: top;
    &.related-search {
      width: 100%;
      height: auto;
    }
  }
  .rel-search {
    margin: 0 10px 21px 0;
    text-align: center;
    border-bottom: 1px solid fade(@userList-search_border, 30%);
  }
  .b-results-message {
    font-size: 20px;
    line-height: 26px;
    span {
      display: block;
    }
  }
  .b-completion-divider {
    margin: 12px 0 16px;
    font: 20px/24px @userList-font_600;
  }
  .sort-by {
    float: left;
    margin: 0 5px;
    .input-label {
      display: none;
    }
    .select-widget {
      width: 240px;
      margin: 0;
      .nav {
        overflow-y: auto;
        li {
          ._text-overflow();
        }
      }
    }
  }
}
.footer {
  display: block;
}

@media (max-width: 1060px) {
  .w-search {
    .b-results-message {
      span {
        display: inline;
      }
    }
    .switcher-cell {
      button,
      a {
        max-width: 110px;
      }
    }
    .sorting-settings {
      .button-title {
        display: none;
      }
    }
    .sorting .button {
      span {
        max-width: 73px;
      }
    }
  }
}
@media (max-width: 1385px) {
  .w-search {
    .sort-by .select-widget {
      width: 225px;
    }
    .screenname-search-container {
      width: 225px;
    }
  }
}
@media (min-width: 600px) and (max-width: 1280px) {
  .w-search {
    .sort-by .select-widget {
      width: 140px;
    }
    .screenname-search-container {
      width: 170px;
    }
  }
}
@media (min-width: 1061px) {
  .w-search {
    .switcher-cell {
      button,
      a {
        max-width: 160px;
      }
    }
    .sorting-settings .button-title {
      max-width: 220px;
    }
    .sorting .button span {
      max-width: 200px;
    }
  }
}

@media (min-width: 1540px) {
  .w-search {
    .switcher-cell {
      button,
      a {
        max-width: 180px;
      }
    }
  }
}


@media (min-width: 1360px) {
  .content-top .content-settings,
  .main-column {
    margin-right: 280px;
  }
  .sidebar,
  .sidebar-holder,
  .pattern-bg {
    width: 280px;
  }
}
@media (min-width: 1330px) and (max-width: 1359px) {
  .content-top .content-settings,
  .main-column {
    margin-right: 250px;
  }
  .sidebar,
  .sidebar-holder,
  .pattern-bg {
    width: 250px;
  }
}
@media (min-width: 1150px) and (max-width: 1329px) {
  .content-top .content-settings,
  .main-column {
    margin-right: 220px;
  }
  .sidebar,
  .sidebar-holder,
  .pattern-bg {
    width: 220px;
  }
}
@media (min-width: 1813px) {
  .w-search .sorting-settings,
  .w-search .b-search-results {
    width: 1500px;
  }
}
@media (min-width: 1577px) and (max-width: 1812px) {
  .w-search .sorting-settings,
  .w-search .b-search-results {
    width: 1250px;
  }
}
@media (min-width: 1267px) and (max-width: 1576px) {
  .w-search .sorting-settings,
  .w-search .b-search-results {
    width: 1000px;
  }
}
@media (min-width: 1077px) and (max-width: 1266px) {
  .w-search .sorting-settings,
  .w-search .b-search-results {
    width: 750px;
  }
}
@media (min-width: 768px) and (max-width: 1076px) {
  .w-search .sorting-settings,
  .w-search .b-search-results {
    width: 500px;
  }
}

.ie8 {
  .w-search {
    .refresh {
      background-color: @userList-ie8_button_bg;
    }
  }
}
