
@userList-font_300: 'dosisregular', Arial, helvetica, sans-serif;
@userList-font_600: 'dosissemibold', Arial, helvetica, sans-serif;

@userList-text_def: #333;

@userList-select_bg: #e6e6e6;;
@userList-search_border: #fff;
@userList-btn_upgrade: #f34134;

@userList-upgrade_banner_bg: #fff;
@userList-blur_overlay_bg: #000;
@userList-dropdown_hover: #e6e6e6;

@userList-time_text: #fff;
@userList-time_text_fresh: #ffc44c;

@userList-time_bg: #000;

@userList-ie8_button_bg: #836062;