@main-link-color: #0074d7;
@main-link-hover: #d70000;
@main-btn-color: @main-link-color;
@main-btn-color-hover: #2a83ce;
@notificator-hover: @main-btn-color-hover;
@main-icon-color: #025eee;
@main-icon-color-hover: #a1bbe4;
@main-icon-notif-color: @main-icon-color-hover;
@main-icon-color-notif-new: @main-icon-color;
@title-color: #040e20;
@feed-nick-color: @main-link-color;
@pp-credits-color: @main-link-color;
@pp-icons-color:  @main-link-color;
@attention-color: @main-link-color;
@vod-title: @main-link-color;
@photo-title: @main-link-color;
@blue-text: @main-link-color;
@grey: #F1F3F8;
@dark-grey: #7A808C;
@button-active: #970000;
@button-color: #970000;
@light-blue: #8FC2ED;
@navy: #073863;
@white: #FFFFFF;
@nouislider-color: #ffffff;
@nouislider-color-active: @main-link-color;
@nouislider-btn-color: #ee0909;
@nouislider-btn-elem-color: #f78484;
@b-content-wrap-bg: #ffffff;
@inbox-chat-now-color: #025eee;
@profile-nav-bg: @main-link-color;
@profile-nav-bg-hover: @main-link-hover;
@img_url: "../images";



.widePage {
  width: 100%;
}

.btn-text-color() when (lightness(@main-btn-color)>50%){
  color: #000;
}
.btn-text-color() when (lightness(@main-btn-color)<=50%){
  color: #fff;
}

.b-content--cams {
  padding-right: 15px;
}
.b-content__dual {
  padding: 10px 17px;
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}
.b-content__dual--cams{
  max-width: 1184px;
  margin: 0 auto;
}
.cams__item--hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, .7);
  filter: e("progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000)");
}
.cams__item {
  overflow: hidden;
  float: left;
  width: 220px;
  height: 170px;
  position: relative;
  margin: 5px;
  font-size: 12px;
  &:nth-child(7n+1) {
    width: 450px;
    height: 350px;
    font-size: 16px;
  }
  &:nth-child(14n+8) {
    float: right;
  }
  &:nth-child(7n+1) img {
    min-height: 350px;
  }
  &:nth-child(14n+8) {
    min-height: 350px;
  }
  .cams__item--hover{
    display: none;
  }
  &:hover{
    .cams__item--hover{
      display:block;
    }
  }
}
.cams__item__image {
  width: 100%;
  min-height: 170px;
}

.cams__item__top {
  height: 40%;
  &:after {
    display: block;
    clear: both;
    content: "";
  }
}
.cams__item__top__opts {
  float: right;
  font-family: Arial,sans-serif;
  font-size: .6875em;
  color: #FFF;
  font-weight: 700;
  i {
    display: inline-block;
    padding-right: 10px;
    vertical-align: middle;
    &:last-child {
      padding: 0;
    }
  }
}
.opts__status {
  line-height: 0;
  width: .637em;
  height: .637em;
  border-radius: 100px;
  padding: 0 !important;
}
.opts__status--online {
  background-color: #24FF00;
  margin-right: 4px;
}
.cams__item__bottom {
  height: 60%;
  text-align: center;
}
.cams__item__bottom__model-name {
  display: block;
  color: #FFF;
  font-size: 1.5em;
  font-weight: 300;
}
.cams__item__bottom__btn {
  background: @main-btn-color;
  padding: 0.75em 2.5em;
  color: #FFF !important;
  text-align: center;
  border-radius: 5px;
  font-size: 0.875em;
  display: inline-block;
  margin-top: .75em;
  font-weight: 600;
  &:hover {
    background-color: @main-btn-color-hover;
  }
}
.btn--cancel {
  margin-left: 4px;
}
.hidden--popup {
  display: none;
}

.b-filter--cams {
  position: relative;
  z-index: 5;
  .b-filter-content__item {
    white-space: normal;
    text-align: center;
    vertical-align: middle;
  }
}
.b-filter-content__item-link__counter {
    color: lighten(@main-link-color, 30%);
    margin-left: 4px;
}

.adv-filter {
  padding: 15px 20px;
  width: 100%;
  border-top: 1px solid #f1f3f8;
}
.adv-filter__columns {
  display: table;
  width: 100%;
  position: relative;
}
.adv-filter__column {
  display: table-cell;
  text-align: center;
}
.adv-filter__column__options {
  text-align: left;
  display: block;
  margin-bottom: 10px;
}
.adv-filter__column__title {
  font-size: .875em;
  padding: 4px 0;
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
}
.adv-filter__column__option {
  font-size: .75em;
  position: relative;
  color: @main-link-color;
  margin: 10px 0;
  font-weight: 600;
  &:hover {
    color: @main-link-hover;
  }
}
.adv-filter__column__option input {
  display: none;
  &:checked+label {
    color: @main-link-hover;
    border-bottom: 1px dotted;
  }
}
.adv-filter__search {
  padding-top: 15px;
  border-top: 1px solid #f1f3f8;
  position: relative;
}
.adv-filter__search__input {
  display: block;
  width: 100%;
  background: #f1f3f8;
  border-radius: 5px;
  padding: 5px;
  padding-right: 30px;
  line-height: 1;
  border: none;
  &:hover+.adv-filter__search__icon,
  &:focus+.adv-filter__search__icon {
    color: @main-link-hover;
  }
}
.adv-filter__search__icon {
  position: absolute;
  top: 50%;
  margin-top: -.15em;
  right: 5px;
  font-size: 1.25em;
  color: @main-link-color;
}

// web cam
.show-more {
  padding: 25px 0 85px;
  text-align: center;
  a {
    display: inline-block;
  }
  span {
    font-size: 1.5em;
    font-weight: normal;
    color: #DD1F30;
  }
}

.empty-category {
  padding: 25px 0 85px;
  text-align: center;
  display: inline-block;
  width: 100%;
  span {
    font-size: 1.5em;
    font-weight: normal;
    color: #DD1F30;
    cursor: default;
  }
}

.icons {
  background: url("@{img_url}/icons.png");
  &.moarrr {
    background-position: 0 -94px;
    height: 48px;
    width: 48px;
    display: block;
    margin: 0 auto;
  }
}
.loader-bar {
  background: url("@{img_url}/ajax-load.gif");
  height: 19px;
  margin: 0 auto;
  width: 220px;
  display: block;
}

.b-model {
  margin-bottom: 10px;
  position: relative;
  padding-right: 25%;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
.b-model__name {
  display: inline-block;
  font-size: 1.125em; //18/16;
  color: @title-color;
  vertical-align: middle;
  font-weight: 500;
  padding: .6666em .5555em;
  line-height: 1;
}
.b-model__nav {
  display: inline-block;
  vertical-align: middle;
}
.b-model__nav__item {
  display: inline-block;
  padding: 0 1.5625em; //25/16;
  position: relative;
}

.b-model__goto-private-btn,
.b-model__goto-free-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  font-size: 1.125em; //18/16;
  padding: .6em .5555em;
  line-height: 1;
  text-align: center;
  background: @main-btn-color;
  .btn-text-color();
  border-radius: 0 5px 5px 0;
  width: 30%;
  cursor: pointer;
  &:hover {
    background: @main-btn-color-hover;
  }
  text-shdaow: 2px 0 3px rgba(0,0,0,.5);
}
.icon-arrow-right--posfix {
  position: relative;
  top: 2px;
}

.b-model__nav__item__popup {
  position: absolute;
  min-width: 515px;
  left: -9px;
  margin-top: 17px;
  z-index: 1;
  &:after {
    content: "";
    width: 0;
    height: 0;
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    border-width: 0 8px 8px;
    position: absolute;
    top: -8px;
    left: 40px;
  }
}

.popup_table {
  display: table;
  width: 100%;
}
.popup_table__cell {
  display: table-cell;
  padding: 0 10px;
  width: 50%;
}
.popup_table__cell__h4 {
  color: @blue-text;
  margin: 10px 0;
}
.popup-table__cell__item {
  font-size: .75em; //12/16;
  width: 100%;
  margin: 10px 0;
  line-height: 1.3;
}
.cell__item__col {
  padding: 0 0 10px;
  font-weight: 600;
}
.cell__item__col--left {
  text-align: left;
}
.cell__item__col--right {
  text-align: right;
  color: @blue-text;
  padding-left: 5px;
  text-transform: capitalize;
}
.b-content__dual--model {
  padding: 0;
  position: relative;
  background: #fff;
}
.b-content__dual__showplayer {
  max-height: 600px;
  overflow: hidden;
  width: 70%;
  position: relative;
}
.showplayer {
  width: 100%;
}
.b-content__dual__showchat {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  right: 0;
  width: 30%;
  padding-bottom: 60px;
}
.b-chat__b-post--model {
  position: absolute;
  bottom: 0;
  box-shadow: none;
}
.b-chat__window {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.b-chat__window__messages {
  overflow: auto;
  overflow-x: hidden;
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 10px;
  right: 3px;
  padding-right: 7px;
  overflow-wrap: break-word;
  font-size: .75em; //12/16;
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0,0,0,.1);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.2);
    border-radius: 10px;
  }
}
.b-chat__info {
  border: 1px dashed #cdd0d4;
  border-width: 1px 0;
  margin: 10px 0;
}
.b-chat__message {
  margin: 10px 0;
  &--user {
    color: @main-link-color;
  }
  &--model {
    color: @main-link-hover;
  }
  &--guest {
    color: #8a99b8;
  }
}
.b-chat__message__highlight {
  color: @main-link-hover;
}

.b-chat-post__item {
  display: table;
  width: 100%;
  position: relative;
  padding: 10px 0;
}

.chat-post__table-cell-ava {
  display: table-cell;
  width: 10%;
  min-width: 50px;
  vertical-align: top;
}

.chat-post__table-cell-ava img {
  width: 40px;
}

.b-chat-post__table-cell {
  display: table-cell;
  vertical-align: middle;
}

.b-chat-post__input-b {
  position: relative;
}

.b-chat-post__msg--blocked {
  color: #D70000;
}

.b-chat-post__msg--blocked a {
  color: #0074D7;
  text-decoration: underline;
}

.b-chat-post__msg--blocked a:hover {
  text-decoration: none;
}

.b-chat-post__msg--blocked span {
  margin-left: 6px;
}

.b-chat-post-input__item {
  font-size: 0.75em;
  border: 0;
  border-radius: 5px;
  width: 100%;
  padding: 7px 50px 7px 7px;
}

.icon-Icon_2:before {
  content: "\e611";
}

.b-chat-post__item-info-massage-icon.icon-Wink {
  font-size: 1.5em;
  right: 1em;
  top: 0.1em;
}
.b-chat-post__item-info-massage-icon {
  position: absolute;
  right: 0.6em;
  top: 1em;
  font-size: 0.625em;
  color: #0074d7;
  cursor: pointer;
}

.b-chat__b-post {
  background: #f3f6fc;
  padding: 0 10px 0px;
  -moz-box-shadow: inset 0px 5px 10px -7px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0px 5px 10px -7px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 5px 10px -7px rgba(0, 0, 0, 0.5);
}

.money-is-over {
  display: none;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;

  &__container {
    display: table;
    width: 100%;
    height: 100%;
  }

  &__content {
    display: table-cell;
    vertical-align: middle;
  }

  &__message {
    border: 1px solid #ebebeb;
    color: #030504;
    -webkit-box-shadow: 0 0 4px #f4f4f4;
    -moz-box-shadow: 0 0 4px #f4f4f4;
    box-shadow: 0 0 4px #f4f4f4;
    margin: 0 15px;
    padding: 25px 15px 30px 20px;
    font-size: 1.125em;

    &__title {
      font-size: 1.33em;
      margin-bottom: 28px;
    }
  }
}

.livecam-paypackages {
  overflow: hidden;
  display: table;
  width: 100%;

  .hidden {
    position: absolute;
    left: -9999px;
  }

  &__item {
    background-color: #fff;
    border-bottom: 2px solid #dadee1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    display: table;
    padding: 7px;
    height: 66px;
    width: 20%;
    font-size: 1.125em;
    cursor: pointer;

    &__price,
    &__title {
      height: 100%;
      vertical-align: middle;
      display: table-cell;
      text-align: center;
      font-size: 16px;
    }

    &__title {
      color: #fff;
      background-color: #dc1f26;
    }

    &__price {
      background-color: #e3e9f1;
      color: #313131;
      max-width: 95px;
    }

    &.active {
      background-color: #fbe8e9;
      border-bottom: 2px solid #dc1f26;

      .livecam-paypackages__item__price { background-color: #fff; }
    }
  }
}

.livecam-paypackages-total {
  padding: 25px 10px 30px;
  text-align: center;

  > * {
    display: inline-block;
    vertical-align: middle;
  }

  &__cost {
    color: #020e14;
    font-size: 1.875em;
  }

  .arrow {
    width: 18px;
    background-position: -15px -11px;
    height: 30px;
    margin: 0 40px 0 25px;
  }

  .pay-now-btn {
    background-color: #dc1f26;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.5em;
    padding: 3px 30px 4px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 1px #bb1a20;
  }
}

@media screen and (max-width: 800px) {
    .b-wrap-content.b-filter.b-filter--cams {
        font-size: 14px;
    }
    .b-filter-content__item-link__counter {
        display: none;
    }
    #form_filter.adv-filter{
        padding: 15px 5px;
    }
    .adv-filter__column__options{
        margin: 0 5px 20px 15px;
    }
}
@media screen and (max-width: 670px) {
    .b-filter-content__item.b-filter-content--small_tits {
        display: none;
    }
}

@media screen and (max-width: 1280px) {
    .b-content__dual.b-content__dual--cams {
        max-width: 954px;
    }
}

@media screen and (max-width: 1052px) {
    .b-content__dual.b-content__dual--cams {
        max-width: 724px;
    }
}
@media screen and (max-width: 824px) {
    .b-content__dual.b-content__dual--cams {
    max-width: 494px;
    }
    .cams__item{
        width: 216px;
    }
    .cams__item:nth-child(7n+1){
        width: 443px;
    }
    .cams__item:nth-child(14n+8) {
        float: left;
        width: 437px;
    }
}
