.b-search-grid {
  width: 100%;
  position: relative;
  ._clearfix();
  font-size: 0;
  line-height: 0;
  .b-grid-item {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    line-height: 1.2;
    width: 25%;
    text-align: center;
    position: relative;
  }
  .b-grid-divider {
    width: 100%;
    clear: both;
  }
}

.b-search {
  background-color: @color-bg-frame-search;
  ._transition(left 0.4s ease);

  .b-upgrade-banner,
  .b-data-banner {
    ._shadow(0 10px 10px -10px fade(@black, 70%));
    z-index: 33;
    text-align: center;
    color: @color-theme-base;
    border: 1px solid @color-border-base;
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 10px;
    left: 10px;
    filter: alpha(opacity=95);
    background-color:@color-bg-base;
    background-color: fade(@white, 95%);
    ._radius(6px);
    .b-text {
      display:block;
      font:24px/1.2em @font-face-header;
      margin: 15px 45px;
    }
    .btn-update {
      width: 80%;
    }
  }
  .terms-links
  {
    text-align: center;
  }
  .requirements-compliance-statement {
    position: relative;
    text-align: center;
    display: inline-block;
    margin: 0 5px;
  }
}

.b-search-toolbar {
  position: relative;

}

.b-page-menu {
  cursor: pointer;
  position: fixed;
  top:40px;
  left:0;
  z-index:403;
  margin: 0 5px 0 0;
  padding: 5px 50px 0 0;
  &:after {
    ._radius(19px);
    position: absolute;
    top: 10px;
    right: 15px;
    border: 1px solid @color-border-btn;
    display: inline-block;
    content: '';
    width: 38px;
    height: 38px;
    background: @sprite_url no-repeat -6px -234px;
    ._transition(all 0.2s);
  }
  &:hover:after {
    border-color: @color-border-btn-hover;
  }
  .page-title {
    white-space:nowrap;
    z-index: 100;
    position: relative;
    cursor: pointer;
    margin: 8px 30px;
    font-size:33px;
    min-width:225px;
    &:first-letter {
      text-transform:capitalize;
    }
  }
  .b-dropdown-menu {
    ._radius(5px);
    ._shadow( 1px 4px -1px fadeout(@color-shadow,60%));
    z-index:99;
    top: 5px;
    left: 5px;
    width: 100%;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background-color: @color-bg-base;
    background-color: fadeout(@color-bg-base,5%);
    border: 1px solid @color-border-base;
    border-color: fadeout(@color-shadow,75%);
    ._transition(0.3s);
    &:after {
      ._radius(19px);
      position: absolute;
      top: 4px;
      right: 21px;
      border: 1px solid @color-border-btn;
      display: inline-block;
      content: '';
      width: 38px;
      height: 38px;
      background: @sprite_url no-repeat -6px -265px;
      ._transition(all 0.2s);
    }
    &:hover:after {
      border-color: @color-border-btn-hover;
    }
    &.active {
      ._opacity();
      visibility: visible;
      ._transition(opacity 0.1s);
      &:after {
        ._transform(rotate);
      }
    }
    ul {
      margin: 49px 0 0;
      &:before {
        content: '';
        margin: 0 auto 10px;
        display: block;
        width: 92%;
        border-top: 1px solid @color-border-base;
      }
    }
    li {
      ._radius();
      font: 30px/1em @font-face-header;
      cursor: pointer;
      ._transition(background .05s);
      margin: 15px 6px;
      padding: 11px 17px;
      color: @color-text-muted;
      &:hover {
        background-color: @color-theme-base;
        color: @color-text-base;
        .counter {
          color: @color-text-base;
          &:before {
            color: @color-text-base;
          }
        }
      }
    }
    li.active {
      ._opacity(.55);
    }
    .b-search-input {
      ._shadow(e("inset 0 1px 1px 0 rgba(0,0,0,0.35), inset 0 0 1px 1px rgba(0,0,0,0.05)"));
      position: relative;
      background-color: @color-bg-base;
      border: 1px solid @color-border-base;
      border-color: fade(@color-shadow,0%);
      margin: 20px;
      border-radius: 30px;
      height: 60px;
      ._transition(all 0.2s);
      &.focus {
        ._shadow(e("inset 0 1px 1px 0 rgba(0,0,0,0.65), inset 0 0 1px 1px rgba(0,0,0,0.15)"));
      }
      .b-input-wrap {
        padding: 3px 67px 0 10px;
      }
      .input-search {
        ._shadow(none);
        float: left;
        font: 30px/1em @font-face-header;
        width: 100%;
        background: none;
        height: 31px;
        border:none;
        &::-webkit-input-placeholder {padding:6px 0;}
        &:-moz-placeholder {margin-top:0px;}
      }
      .input-submit {
        border-left: 1px solid @color-border-base;
        position: absolute;
        right: 5px;
        top: 0;
        display: inline-block;
        margin: 10px 0;
        width: 50px;
        height: 40px;
        &:hover {
          &:after {
            ._opacity();
            ._transition(opacity 0.2s);
            visibility: visible;
          }
        }
        &:before,
        &:after {
          z-index: 1;
          position: absolute;
          display: inline-block;
          content: '';
          width: 30px;
          height: 30px;
          margin:5px 10px;
          background: @sprite_url -106px -23px;
        }
        &:after {
          ._opacity(0);
          z-index: 2;
          background-position: -106px -49px;
          visibility: hidden;
        }
      }
    }
  }
}

// btns search view

.b-btn-searchview {
  margin: 0 -10px;
  float: left;
  position: relative;
  top: 18px;
}

.btn-gallery,
.btn-list {
  ._radius(19px);
  position: relative;
  border: 1px solid @color-border-btn;
  display: block;
  float: left;
  margin: 0 5px;
  content: '';
  width: 38px;
  height: 38px;
  background-color: @color-bg-btn;
  ._transition(all 0.2s);

  &:after {
    ._radius(18px);
    top: 1px;
    left: 1px;
    display: block;
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    background: @sprite_url no-repeat -46px -266px;
  }
  &:hover {
    border-color: @color-border-btn-hover;
  }
}
.btn-list {
  &:after {
    background-position: -85px -266px;
  }
}
.btn-gallery.active,
.btn-list.active {
  &:after {
    background-color: @color-bg-btn-active;
    background-position: -46px -234px;
  }
}
.btn-list.active {
  &:after {
    background-position: -85px -234px;
  }
}

@transtime-srch-view: 0.2s; // animation time on search view switching
@transdelay-srch-view: @transtime-srch-view; // animation delay on search view switching

.loading {
  .b-search-results:after {
    ._opacity();
    display: block;
    content: '';
    width: 31px;
    height: 31px;
    background-image: url("@{img_url}/small-photo-loader.gif");
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -36px -16px;
    visibility:visible;
  }
}
.b-search-results {
  &:after {
    ._opacity(0);
    visibility:hidden;
  }
  .b-user-list {
  }
  .b-user {
    ._radius(6px);
    ._shadow(0px 1px 3px fadeout(@color-shadow, 100%));
    display: inline-block;
    position: relative;
    white-space: nowrap;
    background-color: @color-bg-base;
    background-color: fade(@color-bg-base,75%);//@color-bg-b-user;
    width: 410px;
    height: 220px;
    padding: 20px;
    margin: 0 0 20px;
    text-align: left;
    ._box-sizing();
    ._transition(e("margin 0.3s ease 0s, box-shadow 0.1s ease, height 0s ease, width 0.2s ease"));
    * {
      white-space: normal;
    }
    &:hover {
      ._shadow(0px 1px 3px fadeout(@color-shadow, 40%));
      ._transition(box-shadow 0.5s ease);
    }

    .b-screenname {
      .screenname {
         position: relative;
         width: auto;
         max-width: 95px;
         &+.icon {
           display: none;
         }
         &.fb {
           max-width: 75px;
           &+.icon {
             width: 15px;
             height: 15px;
             display: inline-block;
             background: @sprite_url -167px -408px;
            position: relative;
            top: -7px;
            left: -4px;
            ._radius(10px);
          }
        }
      }
    }
    &.b-user-highlight {
      ._shadow(0 0px 0px 1px #cecece);
      background-color: #fffde1;
      border: 1px solid #cecece;
      .b-screenname .screenname {
        background-color:#fffde1;
      }
    }
    &.b-user-livecam {
      ._shadow(0 0px 0px 1px #ffbfbf);
      background-color: #FFDCDC;
      border: none;
      .b-screenname {
        border-bottom: 1px solid #ffbfbf;
        .screenname {
          background-color:#FFDCDC;
          &:hover {
            width:185px !important;
          }
        }
      }
      .b-user-info {
        width: 270px !important;
      }
    }
    &.active {
      ._shadow(0 0px 0px 1px rgb(206, 206, 206));
      background-color: rgb(247, 247, 247);
    }
    &.b-banner:hover {
      box-shadow:none;
      border-color:transparent;
    }

    .b-photo {
      width: 180px;
      max-height: 180px;
    }
    .b-user-info {
      ._transition(all @transtime-srch-view ease @transdelay-srch-view);
    }
    .b-user-about {
      ._text-overflow ();
      display:inline-block;
      max-width:120px;
      max-height: 40px;
      float:left;
    }
    .b-user-about + .btn-more {
      display:inline-block;
      margin:3px 6px;
      line-height:18px;
    }

    .b-btn-activity {
      ._transition(e("top 0s linear 0.2s, background 0.1s linear 0s"));
      ._radius(13px);
      z-index: 2;
    }
    .b-user-activity {
      width:100%;
      position:absolute;
      bottom:0;
      border-top: 1px solid @color-border-base;
      border-top: 1px solid fadeout(#c7c7c7, 50%);
      ._box-sizing();
      padding: 5px 0 0 15px;
      margin: 5px 0 0;
      font-size: 10px;
      line-height: 14px;
      color: #a0a0a0;
      &.activity-wink,
      &.activity-view,
      &.activity-mail  {
        &:before {
          top:5px;
          background: @sprite_url no-repeat -2px -155px;
        }
      }
      &.activity-activity-favorite:before {
        background-position: -16px -155px;
      }
      &.activity-mail:before {
        background-position: -30px -155px;
      }
      &.activity-activity-view:before {
        background-position: -44px -155px;
      }
      &.activity-activity-favorite:before {
        background-position: -44px -155px;
      }
      &.activity-none {
        padding: 5px 0 0;
      }

      &.b-user-activity-new {
        background-color: #e5e5e5;
        border-top-color: #e5e5e5;
        padding: 8px;
        bottom: -12px;
        color: #696969;
        .new {
          display: inline-block;
          background-color: @color-theme-base;
          ._radius(10px);
          padding: 0 7px 1px;
          color: #fff;
          margin: 0 5px 2px 0;
        }
        &.activity-wink,
        &.activity-favorite,
        &.activity-view,
        &.activity-mail  {
          &:before {
            background: none;
          }
        }
      }
    }

    .b-location {
      .location {
        ._text-overflow(100%);
      }
      .from-you,
      .location {
        display: block;

        .country {
          float: left;
          margin-right: 5px;
          &:after {
            display:inline-block;
            content:'|';
            width:1px;
            height:11px;
            margin:0 4px 3px;
          }
        }
        .city, .country {
          white-space: nowrap;
        }
      }
    }
  }
  .b-banner-unfilled-data {
    display:none;
  }
  .b-banner-preferences,
  .b-banner-unfilled-data,
  .b-banner-write-all {
      top: 16px;
      left: 5px;
      position: absolute;
      z-index: 6;
      background-color:@color-bg-base;
      width:440px;
      height:244px;
      .btn-close {
        position:absolute;
        right:0;
        z-index:1;
      }
      .b-nav-btns {
        float:right;
        position:absolute;
        bottom:10px;
        right:15px;
        .b-skip {
          color:@color-text-muted;
          text-decoration:underline;
        }
        .btn-save {
          width:90px;
          height:30px;
          margin:0 0 0 15px;
        }
      }
      .b-data {
        ._opacity(0);
        position:absolute;
        top:0;
        width:100%;
        margin:0 auto;
        visibility:hidden;
        ._transition(all 0.2s);
        .b-name {
          margin:20px 0 44px;
          font:26px/1.2em @font-face-header;
          color:@color-theme-base;
        }
        .b-value {
          text-align:left;
          li {
            display:inline-block;
            vertical-align:top;
            margin-left:15px;
            &:first-child {
              margin-left:0;
            }
          }
        }
        .b-item {
          margin: 0 0 10px;
          span {
            display: inline-block;
            ._capitalize();
          }
        }
        .b-value {
          color:@color-text-muted;
          position:absolute;
        }
        .value {
          padding: 4px 7px 5px 10px;
        }
        &.b-data-religion {
          .b-value {
            left:18%;
          }
          .b-item {
            width:80px;
          }
        }
        &.b-data-preferences {
          .b-value {
            top:116%;
            left:7%;
          }
        }
        &.b-data-origin {
          .b-value {
            left:12%;
          }
        }
        &.b-data-age {
          .b-value {
            top:116%;
            left:33%;
          }
          .b-age-from,
          .b-age-to {
            display:inline-block;
            width:66px;
            .select {
              width:50%;
            }
          }
        }
        &.b-data-location,
        &.b-data-height {
          .b-value {
            width:256px;
            top:116%;
            left:20%;
            .select {
              width:88%;
            }
          }
        }
        &.b-data-income {
          .b-value {
            left:14%;
          }
        }
        &.b-data-children {
          .b-value {
            left:15%;
          }
        }
        &.b-data-education {
          .b-value {
            left:10%;
          }
        }
        &.b-data-accomodation {
          .b-value {
            left:11%;
          }
        }
        &.b-data-piercing {
          .b-value {
            top:116%;
            left:37%;
          }
        }
        &.b-data-smoke {
          .b-value {
            top:116%;
            left:25%;
          }
        }
      }
      .b-data.active {
        ._opacity();
        visibility:visible;
        ._transition(all 0.2s ease 0.2s);
      }
    }
  .b-banner-write-all {
    .b-data {
      ._opacity();
      visibility:visible;
      width:93%;
      padding:15px;
      .b-name {
        font-size:22px;
        text-align:left;
        margin:10px 0 20px;
      }
    }
    .message-input {
      min-height:62px;
    }
    .b-view {
      color:@color-text-muted;
      text-decoration:none;
    }
  }
  // gallery view

  &.gallery-view {
    .b-user {
      margin: 0 5px 0 0;
      width: 220px;
      ._transition(e("margin 0.3s ease 0s,width 0.2s ease 0.2s"));

      .b-user-info {
        ._opacity(0);
        visibility: hidden;
        ._transition(all @transtime-srch-view ease);
      }
      .b-btn-activity {
        ._transition(e("top 0s linear 0s, background 0.2s linear 0.3s"));
        text-align: center;
        display:block;
        position:absolute;
        background-color: @color-shadow;
        background-color: fadeout(@color-shadow, 30%);
        top:167px;
        right:25px;
        padding: 1px 8px 0;
      }
    }
    .b-banner-preferences,
    .b-banner-unfilled-data {
      width:470px;
    }
    .b-upgrade-banner,
    .b-data-banner {
      .b-text {
        font-size:24px;
        margin:10px;
      }
      .btn-update {
        font-size:23px;
        padding:10px 5px 8px;
      }
    }
  }
}
// non-payed account
.account-free {
  .b-search-results {
    .b-user {
      height: 210px;
      .b-user-info {
        width: 275px;
      }
      .b-age,
      .b-location,
      .b-user-about,
      .b-user-activity {
        margin:5px 0;
      }
      .b-user-about {
        ._text-overflow ();
        max-width:215px;
        display:inline-block;
      }
      .b-user-activity-new {
        padding: 10px;
        bottom: -15px;
      }
      .b-online {
        right: 5px;
        bottom: 5px;
      }
      .b-photo {
        width: 85px;
        max-height: 85px;
        .b-photo-link {
          width: 85px;
          max-height: 85px;
          overflow: hidden;
        }
        .b-blur-message {
          top: 50%;
          width: 80px;
          margin-left: -40px;
          margin-top: -15px;
          font-size: 11px;
          line-height: 15px;
        }
      }
      .b-btn-activity {
        background: none;
        width: 85px;
        right: 20px;
        padding:0;
      }
      .b-photos-count {
        font: 10px Verdana;
        padding: 2px 4px 3px;
        border-radius: 9px;
        &:before {
          margin: 0 2px -1px 0;
          background-position: -48px -128px;
          width: 10px;
          height: 9px;
        }
      }
      .b-new {
        font: 10px/1em @font-face-basic;
        padding: 1px 3px 2px;
      }
      .b-features {
        bottom: 5px;
      }
      .b-invisible,
      .b-free-communicate,
      .b-vip,
      .b-hot {
        width:18px;
        height:18px;
        &:before {
          margin: 2px 0 0 3px;
          background-position:-98px -410px;
          width: 15px;
          height: 16px;
        }
      }
      .b-vip {
        &:before {
          background-position:-37px -410px;
        }
      }
      .b-hot {
        &:before {
          background-position: -93px -535px;
        }
      }
      .b-invisible {
        &:before {
          background-position: -65px -143px;
        }
      }
      .b-screenname .screenname {
        max-width: 170px;
      }
      &.active {
        .b-user-activity {
          background-color:@color-bg-light;
        }
      }
      &.b-user-livecam {
        height: 115px;
      }
    }
    .b-banner-preferences,
    .b-banner-unfilled-data {
      top:20px;
      height:234px;
      .b-name {
        margin:20px 0 35px;
      }
    }
    .b-banner-write-all {
      height:234px;
    }
    // gallery view
    &.gallery-view {
      .b-user {
        margin: 0 5px 5px 0;
        width: 125px;
        height: 150px;
        .b-btn-activity {
          top: 110px;
        }
      }
      .b-upgrade-banner,
      .b-data-banner {
        .b-text {
          font-size:14px;
          margin:10px;
        }
        .btn-update {
          font-size:13px;
          padding:10px 5px 8px;
        }
      }
      .b-banner-preferences,
      .b-banner-unfilled-data {
        width:400px;
        height:174px;
        top:8px;
        .b-name {
          margin:10px 0 15px;
        }
        .b-data-preferences {
          .b-value {
            left:2%;
          }
        }
        .b-data-children {
          .b-value {
            left:12%;
          }
        }
        .b-data-religion {
          .b-value {
            left:16%;
          }
        }
        .b-data-income {
          .b-value {
            left:10%;
          }
        }
        .b-data-origin {
          .b-value {
            left:9%;
          }
        }
        .b-data-education {
          .b-value {
            left:5%;
          }
        }
        .b-data-accomodation {
          .b-value {
            left:8%;
          }
        }
        .b-data-smoke {
          .b-value {
            left:23%;
          }
        }
        .b-data-location,
        .b-data-height {
          .b-value {
            left:17%;
          }
        }
      }
    }
  }
}

html:lang(fi) {
  .account-free {
    .b-search-results {
      .b-user {
        .b-photo {
          .b-blur-message {
            font-size: 9px;
          }
        }
      }
    }
  }
}