.b-user-list {
  height: 100%;
}

.b-grid-item {
  &.blurred-heavy {
    .b-user .b-photo {
      .b-photo-link {
        .photo {
          ._blur(18);
        }
      }
      /*IE10 hack*/
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .b-photo-link {
          position: relative;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            background-color: fade(@black, 90%);
          }
        }
      }
      /*IE10 hack end*/
    }
  }
  &.blurred {
    .b-user .b-photo {
      .b-photo-link {
        .photo {
          ._blur(10);
        }
      }
      /*IE10 hack start*/
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .b-photo-link {
          position: relative;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            background-color: fade(@black, 70%);
          }
        }
      }
      /*IE10 hack end*/
    }
  }
}

.b-user {
  .b-photo {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0 5px 0 0;
    padding-bottom: 5px;
    &:hover {
      .b-naughty-tooltip {
        display: block;
      }
    }
    .b-photo-link {
      display: block;
      position: relative;
      width: 180px;
      max-height: 180px;
      overflow: hidden;
    }
    .b-blur-message {
      ._shadow(0 0 5px fade(@black, 80%));
      position: absolute;
      z-index: 3;
      left: 50%;
      text-align: center;
      color: @white;
      top: 50%;
      width: 140px;
      line-height: 24px;
      margin-top: -24px;
      margin-left: -70px;
      font-size: 18px;
    }
    img {
      width: 100%;
      display: block;
    }
    &:hover {
      .b-naughty-tooltip {
        display: block;
      }
    }
  }
  .b-screenname {
    position: relative;
    z-index:0;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0 0 5px;
    font-size: 26px;
    line-height: 26px;
    height: 31px;
    border-bottom: 1px solid @color-border-base;
    .screenname {
      z-index:1;
      height: 100%;
      top: 0;
      left: 0;
      display: inline-block;
      text-decoration: none;
      ._text-overflow(100px);
      ._transition(all 0.2s);
    }
  }
  .b-features {
    position: absolute;
    bottom: 5px;
    left: 5px;
  }
  .b-invisible,
  .b-hot,
  .b-vip,
  .b-free-communicate {
    ._radius(15px);
    ._shadow(0 0 0px 5px rgba(151,200,3,0));
    position:relative;
    display:block;
    width:28px;
    height:28px;
    filter: alpha(opacity=70);
    background-color: @color-shadow;
    background-color: fadeout(@color-shadow, 30%);
    margin:0 0 5px;
    ._transition(all .2s);
    &:before {
      display: inline-block;
      content: '';
      background: @sprite_url no-repeat -64px -407px;
      width: 21px;
      height: 19px;
      margin: 4px 0 0 3px;
    }
    &:hover {
      ._shadow(0 0 1px 2px rgba(151,200,3,1));
    }
  }
  .b-vip {
    ._shadow(0 0 1px 2px rgba(254,108,107,0));
    &:before {
      background-position:-6px -407px;
    }
    &:hover {
      ._shadow(0 0 0 2px rgba(254,108,107,1));
    }
  }
  .b-hot {
    ._shadow(0 0 0 2px rgba(255,212,0,0));
    &:before {
      background-position: -60px -529px;
    }
    &:hover {
      ._shadow(0 0 0 2px rgba(255,212,0,1));
    }
  }
  .b-invisible {
    ._shadow(0 0 0 2px rgba(255,255,255,0));
    &:before {
      background-position: -83px -143px;
    }
    &:hover {
      ._shadow(0 0 0 2px rgba(255,255,255,1));
    }
  }
  .b-photos-count {
    ._radius(15px);
    position: absolute;
    filter: alpha(opacity=70);
    background-color: @color-shadow;
    background-color: fadeout(@color-shadow, 30%);
    color: @color-text-base;
    color: fadeout(@color-text-base, 50%);
    font: bold 14px/1em @font-face-header;
    bottom: 5px;
    right: 5px;
    padding: 7px 10px 7px 9px;
    &:before {
      ._opacity(.5);
      margin: 0 3px 0 0;
      display: inline-block;
      content: '';
      background: @sprite_url no-repeat -26px -6px;
      width: 20px;
      height: 13px;
    }
  }
  .b-new {
    position: absolute;
    top: 0;
    left: 0;
    font: 12px/1em @font-face-basic;
    background: @color-theme-base;
    text-transform: capitalize;
    color: @color-text-base;
    padding: 4px 5px;
  }
  .b-online {
    ._radius(6px);
    position: absolute;
    top: 5px;
    right: 5px;
    width: 13px;
    height: 13px;
    border: 2px solid transparent;
    ._box-sizing();
  }
  .b-online-now,
  .b-online-recent {
    border-color:@color-shadow;
    border-color: fadeout(@color-shadow, 30%);
  }
  .b-online-now {
    background-color: @color-bg-online-now;
  }
  .b-online-recent {
    background-color: @color-bg-online-recent
  }
  .b-user-info {
    display:inline-block;
    position: relative;
    color: @color-text-muted;
    font: @font-basic;
    width: 181px;
    height: 100%;
  }
  .b-btn-activity {
    display: block;
    position: absolute;
    top: 20px;
    right: 22px;
    &:first-letter {
      text-transform: capitalize;
    }
    &.rate {
      top: 27px;
      .rating {
        li {
          display: inline-block;
          height: 12px;
          width: 12px;
          &.on {
            background: @sprite_url -30px -142px;
          }
          &.off {
            background: @sprite_url -45px -142px;
          }
        }
      }
    }
  }

  .b-age,
  .b-location,
  .b-user-about,
  .b-user-activity,
  .b-live-cam {
    position: relative;
    padding: 0 0 0 15px;
    margin: 3px 0 0;
    line-height: 18px;
    &:before {
      left: 0;
      top: 2px;
      position: absolute;
      display: block;
      content: '';
      width: 12px;
      height: 14px;
    }
  }
  .b-user-activity:before {width:14px;}
  .b-age {
    &:before {
      background: @sprite_url no-repeat -30px -125px;
    }
  }
  .b-location {
    &:before {
      background: @sprite_url no-repeat -3px -125px;
    }
  }
  .b-user-about {
    &:before {
      background: @sprite_url no-repeat -16px -126px;
    }
  }
  .b-live-cam {
    &:before {
      background: @sprite_url no-repeat -16px -142px;
    }
  }
}


/* Completion results divider */
.b-completion-divider {
  text-align: center;
  position: relative;
  margin: 20px 0 25px 20px;
  .inner-text {
    display: inline-block;
    padding: 5px 15px;
    font: 26px @font-face-header;
    line-height: 24px;
    background: @devider-text-bg;
    position: relative;
    color: @color-text-muted;
  }
  .divider-line {
    height: 1px;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    background: @devider-bg;
    border-top: 1px solid @devider-border;
  }
}

/* No search matches message */
.b-results-message {
  text-align: center;
  color: @color-text-muted;
  font: 33px/1.5 @font-face-header;
  margin: 3px 0 0 20px;
}
