/*.popup-one-chance {
  text-align: left;
  position: absolute;
  z-index: 3;
  width: 200%;
  height: 440px;
  background: @white;
  color: #4c4c4c;
  ._box-sizing;
  ._shadow(0px 10px 25px 0px fade(#10170e, 35%));
  ._radius(10px);
  padding: 20px;
  header {
    padding-bottom: 16px;
    border-bottom:  1px solid #d9d9d9;
    position: relative;

    h2 {
      color: #4c4c4c;

      &.title {
        font-size: 30px;
        line-height: 25px;
        margin-bottom: 13px;
        color: #f3473a;
        text-transform: capitalize;
      }
    }
    .btn-close {
      position: absolute;
      top: -11px;
      right: -11px;
    }
  }
  .content {
    padding: 45px 0;
    ._clearfix;
    & > * {
    float: left;
  }
    .features {
       padding-right: 32px;
      ._box-sizing;
      max-width: 316px;
      .title {
        display: inline-block;
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 16px;;
      }
      .features-list {

        li {
          font-size: 13px;
          line-height: 1em;
          position: relative;
          padding-left: 23px;
          margin-top: 12px;
          &:first-child {
            margin: 0;
          }
          &:before {
            width: 14px;
            height: 14px;
            content: '';
            background: url(../images/tick.png) no-repeat;
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
          }
        }
      }
    }
    .b-packages {
      margin: 4px 0 0;
      float: right;
      ._clearfix;
      .package {
        position:relative;
        color: #4c4c4c;
        float:left;
        width: 136px;
        height: 143px;
        background:#f7f7f7;
        border:1px solid #cccccc;
        box-shadow:0px 1px 10px #aaaaaa;
        -moz-box-shadow:0px 1px 10px #aaaaaa;
        -webkit-box-shadow:0px 1px 10px #aaaaaa;
        &:not(.active):first-child:after {
          background:none;
        }
        &:first-child {
          .description {
            .overall {
              font-size:12px;
            }
          }
        }
        label {
          cursor:pointer;
          display: inline-block;
          width: 100%;
          height: 100%;
        }
        .title {
          display:inline-block;
          padding: 7px 17px;
          height: 29px;
          width:100%;
          background:#ededed;
          ._box-sizing;
          font-size: 11px;
        }
        .heading {
          font: 14px/1em Arial, sans-serif;
          font-weight: bold;
          text-align:center;
          padding:35px 0 0 0;
          color:#ff7575;
        }
        .price {
          display:block;
          padding: 23px 0 0 17px;
          .currency {
            font: 18px/1em @font-face-header;
          }
          .amount {
            font:bold 28px/1em Arial;
          }
          .period {
            font: 16px/1em 'open_sanslight', sans-serif;
            display: block;
            text-transform: uppercase;
          }
          .cent {
            position: relative;
            top: -17px;
            left: 4px;
            font:14px/1em @font-face-header;
            .aud {
              position:absolute;
              top:0;
              left:134%;
              text-transform:uppercase;
            }
          }
        }
        .description {
          text-align:center;
          position: absolute;
          bottom: 10px;
          display:inline-block;
          line-height:1.4em;
          font-size:11px;
          padding: 0 17px;
          &.b-additional-features-icons {
            text-align:center;
            padding:0 26px;
            .b-additional-features-list {
              margin:10px;
              .b-feature:before {
                margin:0;
              }
            }
          }
          .overall {
            font-weight:bold;
          }
        }
      }
      .package.active {
        color:@color-bg-body;
        background:#fd5f5e;
        border:1px solid #fd5f5e;
        box-shadow:0px 1px 10px #383838;
        -moz-box-shadow:0px 1px 10px #383838;
        -webkit-box-shadow:0px 1px 10px #383838;
        height: 151px;
        width: 146px;
        z-index:1;
        margin: -5px;
        &:first-child:before {
          background:none;
        }
        &:last-child:after {
          background:none;
        }
        &:after {
          left:auto;
          right:-10px;
          top:5px;
          bottom:5px;
        }
        .title {
          height: 34px;
          background:#ef565b;
          padding: 11px 20px 8px;
        }
        .price {
          padding: 22px 0 0 19px;
        }
        .description {
         bottom:15px;
        }
        .feature {
          color:@color-bg-body;
          &:before {
          background:@color-bg-body;
          }
        }
      }
    }
  }
  footer {
    padding-top: 20px;
    border-top:  1px solid #d9d9d9;
    ._clearfix;
    & > * {
      float: left;
    }
    .note {
      vertical-align: top;
      font-size: 13px;
      font-weight: bold;
      width: 227px;
      line-height: 20px;
      margin: 9px 40px 0 21px;
    }
    .btn-box {
      float: right;
      .btn-update {
        margin: 0;
        font-size: 28px;
        ._transition(all 0s);
      }
    }
  }
   .timer-box {
     @height: 55px;
     @padding: 5px;
     @padding-top-dig: 2px;
     width: 220px;
     height: @height;
     background: #4c4c4c;
     ._box-sizing;
     ._radius(7px);
     ._shadow(0px 2px 5px 0px fade(#10170e, 80%) inset);
     padding: @padding;

     & > div {
       display: inline-block;
       color: #fff;
       font-family: "Open Sans Semibold";
       font-size: 40px;
       line-height: @height - 2*@padding -  @padding-top-dig;
       text-shadow: 0px 1px 2px fade(#10170e, 75%);
     }
     .position {
       display: inline-block;
       ._gradient(#666, #333);
       ._radius(4px);
       ._shadow(0px 1px 2px 0px fade(#10170e, 75%));
       height: 100%;
       overflow: hidden;
       position: relative;
       width: 25px;
       margin-left: -7px;
       &:first-child {
         margin: 0;
       }
       &:before,
       &:after {
         content: '';
         position: absolute;
         height: 1px;
         width: 100%;
         background: fade(#000, 50%);
         top: 50%;
         margin-top: 0.2px;
         z-index: 2;
       }
       &:after {
         background: fade(#fff, 20%);
         margin-top: 1.5px;
         z-index: 0;
       }
       .digit {
         padding:  @padding-top-dig 0 0 1px;
         position: relative;
         z-index: 1;
       }
     }
     .separator {
       position: relative;
       top: -4px;
       left: 1px;
       margin-right: 5px;
     }
   }
  &.small {
    width: 410px;
    left: 50%;
    margin-left: -205px;

    header {
      border: none;
      .title,
      .btn-close {
        display: none;
      }
      h2 {
        text-align: center;
        font-size: 22px;
        color: #ff7575;
      }
    }
    .content {
      display: none;
    }
    footer {
      border: none;
      padding-top: 3px;
      & > * {
        float: none;
      }

      .note {
        font-size: 9px;
        color: #bfbfbf;
        font-weight: normal;
        width: auto;
        position: absolute;
        bottom: 4px;
        margin: 9px 21px 0;
      }
      .btn-box {
        text-align: center;
        .btn-update {
          font-size: 22px;
          padding: 7px 20px 8px;
        }
      }
    }
    .timer-box {
      @height: 42px;
      @padding: 3px;
      @padding-top-dig: 1px;
      width: 165px;
      height: @height;
      padding: @padding;
      margin: 0 auto 10px;
      & > div {
        font-size: 30px;
        line-height: @height - 2*@padding - @padding-top-dig;
      }
      .position {
        width: 19px;
        margin-left: -5px;
        &:first-child {margin: 0;}

        .digit {
          padding: @padding-top-dig 0 0 2px;
        }
      }
      .separator {
        top: -1px;
        margin-right: 1px;
      }
    }
  }
}
.account-free {
  .popup-one-chance.small {
    height: 210px;
  }
}
@media (max-width: 827px) {
  .popup-one-chance {
    width: 100%;
  }
}
@media (max-width: 815px) {
  .popup-one-chance {
    .content .features {
      width: 274px;
      padding-right: 20px;
    }
    footer {
       .note {
         margin-right: -1px;
       }
    }
  }
}
*/