#coreg {
  display:block;
}
.coreg-placement-on-profile-editor {
  .tip-content{
    margin-bottom: 10px;
  }
  padding-bottom:15px;
}
.coreg-placement-on-advanced-search {
  text-align: left;
  display:none;
  margin-top: 15px;
  font: @coregistration-font_600;
  div.field-label {
    max-width: 260px;
  }
}
/*#coreg-placement-advanced-search {
  width:1210px;  
}*/
.coreg-placement-on-remove-account-stage-statusMembership {
  display:none;
  padding-bottom:10px;
  input[type="checkbox"] {
    position: relative;
  }
}
.coreg-placement-on-remove-account-stage-stop {
  position:absolute;
  bottom: 70px;
}
.coreg-field-label{
  .tip{
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    margin-left: 10px;
    cursor: pointer;
    padding: 0px 5px;
  }
  .tip-content{
    margin-top: 5px;
    display: none;
  }
}
.coreg-field-label{
  word-break: break-word;
  line-height: 20px;
}
.b-popup {
  ._radius(6px);
  ._shadow(0 0 10px rgba(0, 0, 0, 0.22));
  position:relative;
  margin:0 auto;
  background: @white;
}
.b-coreg-popup.b-popup{border-radius: 0}
.b-coreg-popup{
  width: 492px;
  margin: 0 auto;
  padding: 30px;
  background: @white url("@{img_url}/popup-coreg-bg.png") right bottom no-repeat;
  min-height: 350px ;
  &.coreg-naughty{
    background: @white url("@{img_url}/popup-coreg-naughty-bg.png") right bottom no-repeat;
  }
  text-align: center;
  color: @color-popup_coreg_text;
  position: relative;
  .b-popup-content{padding: 0}
  h1 {
    font-family: 'dosissemibold';
    display: block;
    font-size: 24px;
    background: @popup-coreg-header_bg;
    padding: 27px 15px 16px;
    width: 200px;
    position: relative;
    color: @white;
    font-weight: 700;
    ._radius(3px 3px 0 0);
    &:after{
      content: '';
      bottom: -24px;
      left: 0;
      width: 0;
      height: 0;
      position: absolute;
      border-style: solid;
      border-width: 24px 115px 0 115px;
      border-color: @popup-coreg-header_bg transparent transparent transparent;
    }
  }
  .coreg-popup_mesage{
    font-family: 'dosisregular';
    margin-top: -2px;
    padding: 34px 10px 10px;
    font-size: 16px;
    display: block;
    width: 208px;
    background-color: @coreg-popup_mesage_bg;
    ._radius(0 0 4px 4px);
    .title_mesage {
      display: block;
      margin-bottom: 6px;
      font-weight: normal;
      a {
        text-decoration: none;
      }
    }
  }
  form {
    width: 230px;
  }
  a{
    color: @color-popup_coreg_link;
  }
  p{
    font-size: 11px;

    a{
      color: @color-popup_coreg_text;
      text-decoration: underline;
    }
  }
  .b-wrapp-btn{
    margin: 27px 0 9px 0;
    input[type="submit"]{
      font-family: 'dosissemibold';
      font-size: 16px;
      width: 160px;
      padding-top: 13px;
      padding-bottom: 12px;
      background-color: @coreg-popup-btn_bg;
      box-shadow: none;
      &:hover {
        background-color: @coreg-popup-btn_bg-hover;
      }
    }
  }
  .btn-close{
    position: absolute;
    right: 9px;
    top: 9px;
    display: block;
    height: 15px;
    width: 15px;
    opacity: .9;
    &:after{
      content: '';
      position: absolute;
      top: 0px;
      display: block;
      left: 0px;
      ._sprite(@popup-close);
    }
    &:hover{
      opacity: 1;
      cursor: pointer;
    }
  }
  .text-corg-popup-terms{
    font-family: 'dosisregular';
    font-size: 12px;
    text-align: center;
    width: 230px;
    color: @coreg-popup_terms_color;
    a {
      text-decoration: none;
      color: @coreg-popup_terms_color;
    }
  }
}
