@coregistration-font_600: 'dosissemibold', Arial, helvetica, sans-serif;

@button-submit_corg: #45b883;
@popup-coreg-header_bg: #ff7733;
@color-popup_coreg_text: #5b5b5b;
@color-popup_coreg_link: #5b5b5b;
@coreg-popup_terms_color: #4c4c4c;

@coreg-popup-btn_bg: #52cc52;
@coreg-popup-btn_bg-hover: #3b913b;

@coreg-popup_mesage_bg: #e5e5e5;

@img_url: "../images";