.b-chat{
    margin-bottom: 10px;
}
.b-chat__header-chat{
    display: table;
    width: 100%;
    -moz-box-shadow: 0 10px 6px -11px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 10px 6px -11px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 6px -11px rgba(0, 0, 0, 0.2);
}
.header-chat-title {
    padding: 5px 5px 12px 15px;
    display: table-cell;
    width: 55%;
}
.header-chat-title__icon{
    color: @main-icon-color;
    font-size: 1.5em;
    vertical-align: top;
    position: relative;
    top: 3px;
}
.header-chat-profile-link{
    display: table-cell;
    width: 20%;
    vertical-align: middle;
}
.header-chat-profile-link-item{
    float: right;
}
.header-chat-profile-link-item-btn, .header-chat-profile-link-item-btn-close{
    display: table-cell;
    vertical-align: middle;
    font-size: 0.75em;
    background: #ecf0f8;
    padding: 0.35em;
    border-right: 1px solid #9a9b9d;
    -moz-border-radius: 5px 0px 0 5px;
    -webkit-border-radius: 5px 0px 0 5px;
    border-radius: 5px 0px 0 5px;
    white-space: nowrap;
    text-align: center;
}
.header-chat-profile-link-item-btn-close{
    -moz-border-radius: 5px 0px 0 5px;
    -webkit-border-radius: 5px 0px 0 5px;
    border-radius: 0px 5px 5px 0px;
    border-right: 0;
}
.header-chat-profile-link-bg{
    display: table;
    width: 74%;
    float: right;
    margin-right: 5%;
}
.header-chat-profile-link-item-btn__icon.icon-cross{
    color: #9a9b9d;
    font-size: 1.25em;
}
.header-chat-title__some-title{
    position: absolute;
    top: 10px;
    left: 0px;
    padding-left: 1.7em;
}
.b-chat__messages-wrap{
    min-height: 375px;
}
.b-chat__item-message-wrap{
    padding: 5px 0 10px 0;
    vertical-align: top;
}
.b-chat__item-message{
    display: table;
    width: 95%;
    margin: 0 auto;
    position: relative;
}
.b-chat__item-avatar, .b-chat__item-info-massage {
    display: inline-block;
    vertical-align: top;
    display: table-cell;
}
.b-chat__item-avatar {
    width: 11%;
    min-width: 45px;
}
.b-chat__item-info-massage{
    width: 85%;
}
.b-chat__item-info-massage-nick {
    font-size: 0.875em;
}
.b-chat__item-info-massage-content{
    font-size: 0.75em;
    padding: 3px 0px;
}
.b-chat__item-message-time{
    font-size: 0.625em;
    color: #a0abbf;
    position: absolute;
    top: 0.25em;
    right: 0;
}
.b-chat__table {
    min-height: 375px;
    display: table;
    width: 100%;
}
.b-chat__table-cell {
    display: table-cell;
    vertical-align: bottom;
}

.b-chat__content--overflow{
    overflow: hidden;
    height: 375px;
    min-height: 375px;
}
.b-chat__content--scroll{
    overflow: auto;
    height: 100%;
}
.b-chat__b-post{
    background: #f3f6fc;
    padding: 0 10px 0px;
    -moz-box-shadow: inset 0px 5px 10px -7px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0px 5px 10px -7px rgba(0,0,0,0.5);
    box-shadow: inset 0px 5px 10px -7px rgba(0,0,0,0.5);
}
.b-chat-post__item{
    display: table;
    width: 100%;
    position: relative;
    padding: 10px 0;
}
.chat-post__table-cell-ava {
    display: table-cell;
    width: 10%;
    min-width: 50px;
    vertical-align: top;
}
.b-chat-post__table-cell{
    display: table-cell;
    vertical-align: middle;
}
.b-chat-post__input-b{
    position: relative;
    &:hover{
        .b-chat-post__item-info-massage-icon.icon-Icon_2{
            color: @main-link-hover;
        }
    }
}
.b-chat-post-input__item {
    border: 0;
    border-radius: 5px;
    width: 100%;
    padding: 7px 50px 7px 7px;
}
.b-chat-post__item-info-massage-icon{
    position: absolute;
    right: 0.6em;
    top: 1em;
    font-size: 0.625em;
    color: #0074d7;
}
.b-chat-post__item-info-massage-icon.icon-Wink{
    font-size: 1.5em;
    right: 1em;
    top: 0.1em;
    &:hover{
        color: @main-link-hover;
        cursor: pointer;
    }
}
.b-chat-post-input__item{
    font-size: 0.75em;
}
.b-chat-post-input__item::-webkit-input-placeholder { color:#191919;}
.b-chat-post-input__item:-moz-placeholder { color:#191919;}
.checkbox-item--hide[type="checkbox"],
.radiobox-item--hide[type="radio"] {
    position: absolute;
    left: -9999px;
}
.checkbox-item--hide[type="checkbox"] + label .checkbox-item--show,
.radiobox-item--hide[type="radio"] + label .radiobox-item--show{
     background: transparent;
    margin-right: 0.6em;
    border: 1px solid #b9bec8;
    .border-radius;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: top;
}
.checkbox-item--hide[type="checkbox"]:checked + label .checkbox-item--show,
.radiobox-item--hide[type="radio"]:checked + label .radiobox-item--show{
    background: url('../images/point_cheked.png') 2px 2px no-repeat #ffffff;
}
.checkbox-item--hide[type="checkbox"]:checked + label .checkbox-item__somelabel,
.radiobox-item--hide[type="radio"]:checked + label .checkbox-item__somelabel{
    color: @main-link-color;
}
.checkbox-item, .radiobox-item{
    font-size: 0.7em; //11px;

    &.radiobox-item--activity{
        font-size: 0.75em;
    }
}
.input-item, .field-b__input-b-item{
    width: 100%;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    .border-radius;
    padding: 7px 5px;
    font-size: 0.875em; //14px;
}
.input-item--icon-right{
    padding: 7px 26px 7px 5px;
}
.chat-post__item-avatar-item {
  max-width: 30px;
}