/*----------------------sms chat popups----------------*/

.b-sms-chat {
  width: 600px;
  padding: 26px 30px 30px;
  .title {
    margin: 0 0 30px;
    padding-bottom: 14px;
    color: @color-theme-base;
    font-size: 30px;
  }
  .b-photo {
    float: left;
    margin: 0 60px 0 30px;
    & + .b-popup-text {
      padding-right: 30px;
    }
  }
  .b-sms-price {
    background: url("@{img_url}/one-click-template_phone-icon.png") no-repeat 0 0;
    float: left;
    margin: 0 30px 0 0;
    width: 127px;
    padding: 193px 0 0;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    text-align: right;
    span {
      color: @color-theme-base;
      margin-left: 5px;
    }
  }
  .b-popup-text {
    overflow: hidden;
    position: relative;
    .text-title,
    .text-title2 {
      font: 26px/34px 'open_sanslight', sans-serif;
      color: #ff7575;
    }
    .description {
      padding: 15px 0 25px;
      font-weight: normal;
      color: #939393;
    }
    .successfully {
      padding: 10px 0 40px;
      font-size: 16px;
      line-height: 20px;
    }
    .btn {
      width: 100%;
      &.btn-activate {
        ._btn(update);
        overflow: visible;
        float: right;
        width: 40%;
        margin: 0 10px 0 20px;
        height: 33px;
        font-size: 18px;
        padding: 0;
      }
      &.btn-chat-now {
        font-size: 18px;
      }
      &.btn-close-window {
        float: right;
        background-color: #a6a6a6;
        width: 120px;
        margin-top: 60px;
        height: 30px;
      }
    }
  }
  .b-popup-text.with-bg {
    margin: -30px 0 -30px -30px;
    min-height: 190px;
    padding: 30px 0 30px 240px;
    background: url("@{img_url}/add-msisdn-content-girl.jpg") no-repeat 7% 100%;
    .text-title2 {
      font: 16px/22px 'opensans-semibold', sans-serif;
      color: #666;
    }
    form {
      padding-bottom: 80px;
      position: relative;
    }
    .b-row {
      padding: 0;
      margin: 0;
    }
    .phone-activate {
      width: 100%;
      .b-error {
        font-size: 14px;
      }
      input {
        box-sizing: border-box;
        width: 100%;
        height: 30px;
        padding: 8px 10px 7px;
      }
    }
    .show-again {
      display: block;
      position: relative;
      left: auto;
      bottom: -15px;
      span {
        padding-left: 18px;
      }
    }
    .btn {
      &.btn-activate {
        ._btn();
        ._gradient(@color-btn, @color-btn);
        position: absolute;
        top: auto;
        bottom: 0;
        right: 0;
        margin: 0;
        width: 122px;
        height: 30px;
        &:active {
          bottom: -1px;
          top: auto;
        }
      }
    }
  }
  .terms {
    padding-top: 26px;
    font-size: 13px;
    line-height: 16px;
    color: #777;
  }
  .b-row {
    &.error {
      .b-error {
        display: block;
      }
    }
    .b-error {
      display: none;
      margin-bottom: 15px;
      padding: 8px 0 15px;
      font-size: 16px;
      line-height: 20px;
      color: #eb4141;
      text-align: center;
      border: 1px solid #eb4141;
      background: #ffeaea;
      border-radius: 6px;
    }
    .text {
      padding-bottom: 5px;
    }
    .b-value {
      padding-bottom: 20px;
      &:last-child {
        padding: 0;
      }
    }
    .phone-number {
      input {
        padding-top: 6px;
        padding-bottom: 7px;
        font-size: 26px;
        line-height: 32px;
        color: #4c4c4c;
      }
    }
    .phone-activate {
      overflow: hidden;
      input {
        padding-top: 11px;
        padding-bottom: 12px;
        width: 90%;
        border-radius: 33px;
      }
    }
    .year {
      display: block;
      margin-bottom: 30px;
    }
  }
  .show-again {
    position: absolute;
    bottom: 8px;
    left: 222px;
    span {
      padding-left: 5px;
    }
  }
}
.b-popup.b-autopopup {
  width: 600px;
  padding: 26px 30px 30px;
  [name="content"] > .caption:first-child {
    font: 30px/1.2em open_sanslight, sans-serif;
    margin: 10px 0 25px;
    color: @color-theme-base;
  }
  .congratulations {
    ._clearfix();
    .b-error {
      display: none;
      margin: 10px 0;
      padding: 8px 0 15px;
      font-size: 14px;
      line-height: 18px;
      color: #eb4141;
      text-align: center;
      border: 1px solid #eb4141;
      background: #ffeaea;
      border-radius: 6px;
    }
    p {
      font-size: 12px;
      line-height: 14px;
      color: @color-text-muted;
      margin: 0;
    }
    .phone-number {
      ._clearfix();
      padding: 15px 0;
      input {
        display: block;
        margin: 5px;
        box-sizing: border-box;
        width: 100%;
        height: 30px;
        padding: 8px 10px 7px;
      }
    }
  }
  .btn {
    &.btn-continue {
      padding: 0 30px;
      height: 30px;
      float: right;
    }
  }
  .text-title {
    font: 16px/22px 'opensans-semibold', sans-serif;
    color: #666;
    text-align: left;
  }
  p {
    font: 10px/12px Verdana, sans-serif;
    color: #ccc;
    text-align: left;
    br {
      display: none;
    }
    &.caption {
      font: 12px/14px Verdana, sans-serif;
      color: @color-text-muted;
      margin-bottom: 5px;
    }
  }
}
#cancel-repeat {
  background-color: #ccc;
  color: #000;
}