@import "mixin";
@import "vars";
@import "su-vars";

@media screen and (max-width: 1210px) {
    .peoples_grid__field__item-message-text{
        display: none;
        float: left;
    }
    .peoples_grid__field__item-message{
        background: none;
        width: auto;
        min-width: 0px;
        padding-right: 5px;
    }
     .peoples_grid__field__item-message_icon {
        font-size: 2.2em;
        float: none;
        float: left;
        position: absolute;
        left: -28px;
        top: 4px;
    }
}

@media screen and (max-width: 970px) {
    body{
        font-size: 13px;
    }

    .b-right-content__pp-bg{
        margin-top: 0;
    }
    .field-b__label{
        min-width: 128px;
    }
    .b-content-next-pp__b-right-content .field-b__label{
    min-width: 95px;
    }
    .b-profile-short-info__table-item-icon{
        font-size: 1.4em;
    }
    .wrapper-vod-b-item{
        width: 50%;
    }
    .wrapper-photo-b-item{
        width: 50%;
    }
    .b-content__b-left-content--inbox{
        min-width: 400px;
    }
}
@media screen and (max-width: 750px) {
        body{
        font-size: 16px;
    }
    .b-content__b-left-content, .b-content-pp__b-left-content{
        width: 100%;
        padding-right: 15px;
        
        &.vod{
            width: 100%;
        }
        &.photo{
            width: 100%;
        }
    }
    .b-content__b-right-content{
        display: none;
    }

    .b-content-pp__b-right-content{
        display: none;
    }
        .field-b__label{
        min-width: 160px;
    }
    .b-content-next-pp__b-right-content{
        margin-left: 0;
        width: 100%;
        padding-right: 15px;
    }
    .b-content-pp__b-left-content .b-left-content__footer{
        display: none;
    }
    .b-content-next-pp__b-right-content .b-left-content__footer{
        display: block;
        text-align: center;
        margin: 30px 25px 20px;
    }
    .b-content-next-pp__pay-btn-b{
        width: 100%;
        max-width: 400px;
        text-align: center;
        margin: 30px auto 0px;
        float: none;
    }
    .wrapper-vod-b-item{
        width: 33%;
    }
    .wrapper-photo-b-item{
        width: 33%;
    }
    .b-content__b-right-content_nearby{
        display: none;
    }
    .b-content__b-left-content_nearby{
        width: 100%;
        padding-right: 15px;
    }
        .peoples_grid__field__item-message-text{
        display: block;
    }
    .peoples_grid__field__item-message {
        background: #ECF0F8;
}
    .peoples_grid__field__item-message_icon {
        font-size: 1em;
        float: left;
        position: relative;
        left: 4px;
        margin-right: 10px;
        top: 0;
    }
}
@media screen and (max-width: 850px) {
    .b-content__b-left-content--inbox{
        width: 100%;
        padding-right: 15px;
    }
    .b-content__b-right-content--inbox{
        display: none;
    }
}
@media screen and (max-width: 630px) {
    .item-pack-b__vod-b{
        display: none;
    }
}

@media screen and (max-width: 609px){
    .peoples_grid__field__item-message-text{
        display: none;
    }
   .peoples_grid__field__item-message{
        background: none;
        width: auto;
        min-width: 0px;
        padding-right: 5px;
    }
    .peoples_grid__field__item-message_icon {
        font-size: 2.2em;
        float: left;
        position: absolute;
        left: -30px;
        top: 12px;
    }
}

a:hover {
    cursor: pointer;
}
.b-header{
    background: #ffffff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 3px 0 4px;
}
.b-head-left {
    margin: 10px 0 0px 5px;
    float: left;
    position: relative;
}

/* Notificators*/
.b-notificators__item{
    display: inline-block;
    vertical-align: top;
    position: relative;
}
a.b-notificators__link--show-popup,
.b-notificators__link--show-popup{
    font-size: 1.5em; //24px;
    color: @main-icon-notif-color;
    padding: 0 5px 0 0px;
}
.new-notif a.b-notificators__link--show-popup,
.new-notif .b-notificators__link--show-popup{
    color: @main-icon-color-notif-new;
}
a.b-notificators__link--show-popup:hover,
.b-notificators__link--show-popup:hover,
a.b-notificators__link--no-popup:hover,
.b-notificators__link--no-popup:hover{
    color: @notificator-hover;
}

.b-notificators__item-counter{
    position: absolute;
    top: -5px;
    right: 0;
    background: #ee0909;
    color: #fff;
    padding: 0.3em 0;
    border-radius: 4px;
    font-size: 0.55em;
    width: 50%;
    text-align: center;
    display: none;
}
.new-notif .b-notificators__item-counter {
    display: block;
}
.b-notificators__popup{
    position: absolute;
    top: 41px;
    min-width: 306px;
    left: -9px;
    background: #fbfcfd;
    padding: 15px 0 0;
    .border-radius
}

.b-notificators__popup-content {
    padding: 12px 10px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #eceff5;

    &.not-read{
        background: #eceff5;
        .popup-content-message__message{
            color: @main-link-color;
        }
        &:hover{
            .popup-content-message__message{
            color: @main-link-hover;
            cursor: pointer;
            }
        }
    }
}

.b-notificators__popup-content:hover{
    background: #dae5f8;
    -moz-box-shadow: inset 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
    border-top: 1px solid #eceff5;
}
.b-notificators__popup-header{
    position: relative;
    overflow: hidden;
    padding: 0 10px;
    border-bottom: 1px solid #eceff5;
}
.b-notificators__popup-header-title-left{
    float: left;
}
.b-notificators__popup-header-link-right {
    float: right;
    display: block;
    font-size: 0.75em; //12px;
}
.b-notificators__popup-arrow--slide {
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid #eff1f7;
    position: absolute;
    top: -13px;
    left: 7px;
}
.b-notificators__popup-content-avatar {
    margin: 0 10px 0 0;
}
.b-notificators__popup-content-avatar__item{
    .border-radius;
}
a.popup-content-message__nick,
.popup-content-message__nick{
    font-size: 0.875em;
    padding: 3px 0;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    color: @feed-nick-color;
    display: block;
}
.popup-content-message__message{
    font-size: 0.75em;
    padding: 3px 0;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.b-notificators__popup-content-message{
    vertical-align: middle;
    width: 160px;
}
a.b-notificators__popup-content-btn-link,
.b-notificators__popup-content-btn-link {
    float: right;
    margin-top: 9px;
    background: @main-btn-color;
    padding: 0.75em;
    border-radius: 5px;
    color: #ffffff;
    display: none;
    font-size: 0.75em;
}
.b-notificators__popup-content:hover a.b-notificators__popup-content-btn-link,
.b-notificators__popup-content:hover .b-notificators__popup-content-btn-link{
    display: inline-block;
}
a.b-notificators__popup-content-btn-link:hover,
.b-notificators__popup-content-btn-link:hover{
   background: @main-btn-color-hover;
   color: #ffffff;
}
.b-notificators__popup-link-more {
    display: block;
    text-align: center;
    padding: 15px 0;
    font-size: 0.875em;
    border-top: 1px solid #ffffff;
}
/* [END] Notificators*/

.b-head-right{
    float: right;
    margin-right: 15px;
}
/* User info block*/
.b-user-info{
    position: relative;
}
.balance-counter--count{
    color: #d70000;
}
.credits-b__balance-counter{
    font-size: 0.75em; //12px;
}
a.credits-b__buy-button,
.credits-b__buy-button {
    background: #d70000;
    color: #ffffff;
    padding: 0.75em 1em; // 12px 16px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 0.75em; // 12px;
    margin: 0 7px;
}
a.credits-b__buy-button:hover,
.credits-b__buy-button:hover{
    color: #ffffff;
    background: #e90404; 
}
.profile-b__my-avatar-item{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.profile-b__profile-info--show-popup{
    font-size: 0.875em; //14px;
    margin-left: 5px;
    vertical-align: middle;
}
.profile-b__icon--toogle {
    vertical-align: middle;
    font-size: 1em; //16px;
}
.profile-b__icon--toogle.icon-cross{
    font-size: 1.2em;
}
.b-user-info__popup--show-info-about-me{
    position: fixed;
    top: 0;
    height: 100%;
    right: 0;
    width: 333px;
    background: #ffffff;
    z-index: -1;
    padding-top: 52px;
}

.b-user-info__popup-content{
    border-top: 1px solid #d5e8f8;
    padding: 15px;
}
.b-popup-content__title-icon{
    padding-right: 5px;
    position: relative;
    top: 4px;
    font-size: 1.5em;
    color: @main-icon-color;
}
.b-popup-content__nav {
    background: #f0f2f7;
    padding: 5px 15px 5px 21px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 0.875em; //14px;
}
.b-popup-content__nav__item{
    border-top: 1px solid #e4e7ef;
    border-bottom: 1px solid #ffffff;
    padding: 10px 0;
}
.b-popup-content__nav__item--counter{
    font-size: 0.875em; //12px;
    color: #080e19;
}
.b-popup-content__nav__item:first-child{
    border-top: 0;
}
.b-popup-content__nav__item:last-child{
    border-bottom: 0;
}
.b-popup-content__nav-footer{
    text-align: center;
}
.b-popup-content__nav-footer__item{
    font-size: 0.75em; //12px;
    display: inline-block;
    margin: 0 25px;
}
.post-nav-b__item{
    display: inline-block;
    margin: 0px 0px 0px 15px;
}
/* User info block*/
.b-left-content__b-footer{
    margin: 50px 0 20px;
    border-top: 1px solid #c2c7cd;
    padding-top: 15px;
    padding-left: 80px;
    text-align: center;
}
.b-footer-nav__item{
    font-size: 0.75em;
    display: inline-block;
    padding: 0 1.9% 0 0;
}
.b-footer__copyright{
    font-size: 0.75em;
    margin-top: 10px;
}
.b-content {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    padding: 68px 0 0 81px;
}
.b-content__b-left-content {
    &.vod{
        width: 50%;
    }
}
.b-content__b-right-content{
    margin-left: 27px;
    width: 42.8124%;
    vertical-align: top;
}
/* Filter Feed*/
.b-filter {
    display: table;
}
.b-filter-content__item{
    display: table-cell;
    padding: 0.625em 1em; // 10px 16px;
    white-space: nowrap;
}
.b-filter-content__item-link{
    font-size: 0.75em; //12px;
}
a.item-link--current,
.item-link--current,a.item-link--current:hover,
.item-link--current:hover{
    color: #041b44;
    cursor: default;
}
/* [END] Filter Feed*/

/* Feed block */
.b-feed__content{
    margin-top: 15px;
    width: 100%;
    display: table;
}
.b-feed-content__profile-avatar,
.b-wrap-content--profile-feed{
    display: table-cell;
    vertical-align: top;
}
.b-feed-content__profile-avatar{
    width: 10.45%;
    min-width: 57px;
}

.b-feed-content__profile-avatar-item{
    .border-radius;
}
a.b-feed-content__profile-avatar-item-icon,
.b-feed-content__profile-avatar-item-icon,
a.b-feed-content__profile-avatar-item-icon:hover,
a.b-feed-content__profile-avatar-item-icon:hover{
    font-size: 39px;
    color: #0074d7;
    background: #fff;
    border-radius: 5px;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 5px;
}

.b-profile-feed-head{
    position: relative;
}
.b-profile-feed-head__content-feednav-popup--show{
    position: absolute;
    background: #ffffff;
    right: 5px;
    top: 35px;
    -moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
    z-index: 999;
}
.b-content-feednav-popup {
    margin: 0 7px;
}
.b-content-feednav-popup__section{
    border-bottom: 1px solid #eef0f6;
    padding: 10px 0;
}
.b-content-feednav-popup__item {
    padding-bottom: 0px 0 3px; 
}
a.b-content-feednav-popup__item-link,
.b-content-feednav-popup__item-link
{
    font-size: 0.75em;
    color: #3b5998;
}
a.b-content-feednav-popup__item-link-footer,
.b-content-feednav-popup__item-link-footer{
    .b-content-feednav-popup__item-link;
    display: block;
    padding: 10px 0;
    line-height: 1.4em; //15px;
}
.b-profile-feed-head__content-left{
    font-size: 0.875em; //14px;
    padding: 15px 12px 10px;
    float: left;
    width: 88%;
    max-width: 450px;
    line-height: 1.3em;
}
.b-profile-feed-head__content-right{
    float: right;
    font-size: 0.75em; //12px;
    padding: 15px 0;
}
a.b-profile-feed-head__content-feednav--show,
.b-profile-feed-head__content-feednav--show{
    color:#c6cddd;
    padding: 8px;
    margin-right: 6px;
}
a.b-profile-feed-head__content-feednav--show:hover,
.b-profile-feed-head__content-feednav--show:hover{
    color: @main-link-color;
}
.b-profile-feed-head__content-feednav--show.feednav--show-active,
.b-profile-feed-head__content-feednav--show.feednav--show-active:hover{
    color:#ffffff;
    background: @main-link-color;
}
.b-profile-feed-head__content-nick{
    color: @feed-nick-color;
}
.b-profile-feed-middle-content, .b-profile-feed-footer{
    clear: both;
}
.b-profile-feed-middle-content{
    position: relative;
}
.b-profile-feed-middle-content__item{
    max-width: 100%;
    width: 100%;
    height: auto;
}
.feednav-popup--hide{
    display: none;
}
.b-profile-feed-footer{
    padding: 15px 12px 13px;
    font-size: 0.75em; //12px;
    overflow: hidden;
}
.b-profile-feed-footer__post-time{
    float: left;
    color: #a0abbf;
    font-size: 0.875em; //11px;
}
.b-profile-feed-footer__post-nav{
    float: right;
}
.post-nav-b__item{
    display: inline-block;
    margin: 0px 0px 0px 15px;
}
.b-profile-short-info{
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    margin: 0 12px;
    padding: 13px 0;
}
.b-profile-short-info__table {
    display: table;
    width: 100%;
}
.b-profile-short-info__table-item {
    display: table-cell;
    padding: 0 5px;
    font-size: 0.8em;
    text-align: center;
}
.b-profile-short-info__table-item-icon{
    color: @main-icon-color;
    padding-right: 5px;
    vertical-align: middle;
    font-size: 1.5em;
    position: relative;
    top: -2px;
}
.b-profile-feed-middle-content__btn-play, .b-profile-feed-middle-content__btn-play-small {
    width: 16%;
    height: 38%;
    background: #000000;
    background: rgba(0,0,0,0.5);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    left: 41%;
    top: 24%;
}
.b-profile-feed-middle-content__btn-play-small{
    width: 28%;
    left: 36%;
    top: 32%;
}
.b-profile-feed-middle-content__btn-play:hover, .b-profile-feed-middle-content__btn-play-small:hover{
    background: @main-btn-color-hover;
}
.b-profile-feed-middle-content__b-play{
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #ffffff;
}
.b-profile-feed-middle-content__btn-play-icon, .b-profile-feed-middle-content__btn-play-icon-small{
    display: table-cell;
    vertical-align: middle;
    font-size: 2.5em;
    text-indent: 0.1em;
}
.b-profile-feed-middle-content__btn-play-icon-small{
    font-size: 1.25em;
}
.b-profile-feed-middle-content__short-info-video{
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000000;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    color: #ffffff;
    font-size: 0.75em;
    display: table;
}
.b-left-short-info-video {
    max-width: 440px;
    line-height: 1.3em;
    width: 85%;
    display: table-cell;
    vertical-align: top;
    padding: 10px 5px;
}
.b-right-short-info-video-time {
    float: right;
    background: #000000;
    background: rgba(0,0,0,0.4);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 6px;
    display: table-cell;
    vertical-align: top;
    margin: 6px;
}
.b-profile-feed-middle-content__btn {
    position: absolute;
    background: @main-btn-color;
    padding: 0.75em 2.5em;
    color: #fff;
    left: 50%;
    top: 50%;
    text-align: center;
    border-radius: 5px;
    font-size: 0.875em;
    margin-left: -5.5em;
    margin-top: -1em;
    border-bottom: 2px solid #00447e;
}
.b-profile-feed-middle-content__btn:hover{
    background: @main-btn-color-hover;
}
.rightside__content-b{
    padding: 15px 13px 20px;
    margin-bottom: 15px;
}

.rightside-content-b-header-title-left {
    float: left;
}
.rightside-content-b-header-right{
    float: right;
}
.rightside-content-b-header-title-icon {
    padding-right: 4px;
    vertical-align: middle;
    color: @main-icon-color;;
    font-size: 1.4em;
    position: relative;
    top: -2px;
}
.rightside__content-b-middle{
    clear: both;
}
.rightside__content-b-middle{
    overflow: hidden;
    position: relative;
}
.rightside-content-b-header-right-link{
    font-size: 0.75em; //12px;
    vertical-align: top;
}
.rightside__content-b-header{
    overflow: hidden;

}
.rightside__grid {
    width: 167%;
}
.rightside__grid-item, .rightside__grid-item-video {
    float: left;
    margin-right: 8px;
    width: 17%;
}
.rightside__grid-item-video{
    width: 19%;
    position: relative;
    margin-right: 11px;
}
.rightside__grid-item-link{
    position: relative;
    display: block;
}
.rightside__grid-item-link-img{
    display: block;
    width: 100%;
    max-width: 100%;
}
.rightside__grid-item--photo-counter {
    position: absolute;
    bottom: 2px;
    right: 2px;
    background: #000000;
    background: rgba(0,0,0,0.5);
    padding: 5px;
    color: #e1e1e3;
    font-size: 0.75em; //12px;
    vertical-align: bottom;
    .border-radius;
}
.rightside__grid-item--photo-counter-icon {
    margin-right: 5px;
    font-size: 1.3em; //16px;
    display: inline-block;
    vertical-align: bottom;
    }
.rightside__grid-item-profile-b-info {
    margin: 7px 0 0;
}
a.grid-item-profile-b-info__name,
.grid-item-profile-b-info__name{
    font-size: 0.875em; //14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    padding-bottom: 2px;

}
a.grid-item-profile-b-info__name-video,
.grid-item-profile-b-info__name-video{
    font-size: 0.75em; //12px;
    display: block;
}
.grid-item-profile-b-info__age{
    font-size: 0.75em; //12px;
    margin-top: 5px;
    display: block;
    padding-bottom: 2px;
}
.grid-item-profile-b-info__age-icon {
    color: @main-icon-color;
    font-size: 1.3em;
    margin: 0px 5px 0 0;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
}
.rightside__grid-gradient--hide-item{
    position: absolute;
    top: 0px;
    right: -20px;
    width: 20px;
    height: 100%;
    -moz-box-shadow: -12px 1px 26px rgba(255,255,255,0.8);
    -webkit-box-shadow: -12px 1px 26px rgba(255,255,255,0.8);
    box-shadow: -12px 1px 26px rgba(255,255,255,0.8);
}
.rightside__item-arrow-link--show-more,
a.rightside__item-arrow-link--show-more,
.rightside__item-arrow-link--show-more:hover,
a.rightside__item-arrow-link--show-more:hover
{
    position: absolute;
    right: -7px;
    top: 50%;
    font-size: 2.5em;
    color: #ffffff;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    height: 100%;
    margin-top: -1em;
}
.b-banner__item{
    width: 91.2%;
    background: #041723;
    height: 90px;
    .border-radius;
}
.b-banner__item img{
    max-width: 100%;
    width: 100%;
}
.b-feed-content__comment {
    background: #f1f3f8;
    margin: 0 10px 20px;
    border-radius: 5px;
    padding: 10px;
}
.b-comment__item{
    position: relative;
    padding: 10px 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #dcdfe5;
    display: table;
    width: 100%;

    &:first-child{
        padding: 0 0 10px;
        border-top: 0;
    }
    &:last-child{
        padding: 10px 0 0;
        border-bottom: 0;
    }
}

.b-comment__item-avatar, .b-comment__item-info-massage{
    display: inline-block;
    vertical-align: middle;
    display: table-cell;
}
.b-comment__item-avatar{
    width: 11%;
    min-width: 45px;
}
.b-comment__item-info-massage {
    margin-left: 5px;
    width: 80%;
}
.b-comment__item-comment-time {
    font-size: 0.625em;
    color: #a0abbf;
    position: absolute;
    top: 10px;
    right: 0;
}
.b-comment__item-info-massage-nick{
    font-size: 0.875em; //14px;
}
.b-comment__item-info-massage-content{
    font-size: 0.75em; //12px;
    padding: 3px 0px;
}
.b-search{
    display: table;
    width: 100%;
}
.search-box-b{
    width: 89%;
    position: relative;
}

.search-box-b__item {
    border: 0;
    border-radius: 5px;
    width: 100%;
    padding: 7px 27px 7px 7px;
}
.b-comment__item-info-massage-icon{
    position: absolute;
    right: 9px;
    top: 15px;
    font-size: 0.625em;
    color: @main-link-color;
}
.search-box-b:hover .b-comment__item-info-massage-icon{
    color: @main-link-hover;
}
.search-box-b__content{
    position: relative;
}
.b-comment__item-avatar-item{
    .border-radius;
}
.b-comment__table{
    display: table;
    width: 100%;
}
.b-comment__table-cell-ava{
    display: table-cell;
    width: 10%;
    min-width: 50px;
}
.b-comment__table-cell{
    display: table-cell;
    width: 100%;
}
/* [END]  Feed block*/
.b-wrap-content--overflow{
    overflow: hidden;
}
.header-chat-profile-link-bg--enemyprofile{
    min-width: 30px;
    width: 23%;
    height: 25px;
}
.header-chat-profile-link-item-btn-close--enemyprofile{
    .border-radius;
}
.b-profile-feed-footer__link--count{
    color: #a1bbe4;
}
.status-box-b__content {
    padding: 15px 10px;
    margin: 0px 10px 10px;
}
.status-b__item{
    font-size: 0.875em;
    line-height: 1.2em;
}
.videos_block{
    display: none;
}
.b-new-info-content-theme__profile{
    color: #ffffff;
    font-weight: normal;
    position: absolute;
    overflow: hidden;
    width: 87%;
    display: block;
    top: 23%;
    left: 6%;
}
.b-new-info-content-theme__text-name{
    font-size: 1.125em;
    font-weight: 600;
}
.b-new-info-content-theme__profile-nav{
    width: 70%;
    border-radius: 5px;
    white-space: nowrap;
    margin-top: 8px;
    display: table;
}
.b-feed-wall .b-new-info-content-theme__profile-nav {
    width: 100%;
}
.b-new-info-content-theme__profile-nav-item,
a.b-new-info-content-theme__profile-nav-item {
    display: table-cell;
    text-align: center;
    border-left: 1px solid #004abe;
    padding: 10px 0;
    font-size: 0.813em;
    color: #ffffff;
    background: @profile-nav-bg;
    border-bottom: 2px solid #004abe;

    &:first-child{
        border-left: 0;
        -moz-border-radius: 5px 0 0 5px;
        -webkit-border-radius: 5px 0 0 5px;
        border-radius: 5px 0 0 5px;
    }
    &:last-child{
        -moz-border-radius: 0 5px 5px 0;
        -webkit-border-radius: 0 5px 5px 0;
        border-radius: 0 5px 5px 0;
    }
    &:hover{
        background: @main-btn-color-hover;
        color: #ffffff;
    }
}
a.b-new-info-content-theme__profile-nav-item.wink.activated {
    background: #7F7F7F;
    border-bottom: 2px solid #505050;
    border-right: 2px solid #7F7F7F;
    cursor: default;
}
.wink .default, .wink.activated .alternate {
    display: inline-block;
}
.wink.activated .default, .wink .alternate {
    display: none;
}

a.b-new-info-content-theme__profile-nav-item.favourite {
    width: 168px;
}
.favourite .add-favor,
.favourite.activated .unfavor {
    display: inline-block;
}
.favourite.activated .add-favor,
.favourite .unfavor{
    display: none;
}
.profile-nav-item-icon {
    font-size: 1.875em;
    display: inline-block;
    vertical-align: middle;
    padding-right: 0.2em;
}
.profile-nav-item-txt {
   display: inline-block;
   vertical-align: middle;
}

.b-wrap-content--myprofile{
    padding-bottom: 8px;
}
/*--------------------------------------------------------- Info  Block-------------------------------------------------------*/
.b-new-info-content{
    overflow: hidden;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.b-new-info-content-theme{
    position: relative;
    height: 300px;
}
.b-new-info-content-theme-grid{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('../images/bg-popup.png') repeat scroll 0 0;
}
.b-new-info-content__avatr-theme{
    max-width: 100%;
    width: 100%;
}

.b-new-info-content__table{
    display: table;
}
.b-new-info-content__text__title{
    font-size: 1.125em;
    font-weight: normal;
    padding-bottom: 0.3em;
}
.b-new-info-content-theme__text{
    display: table-cell;
    padding-left: 1.5em;
    width: 70%;
    vertical-align: middle;
}
.b-new-info-content__avatar{
    position: relative;
    display: table-cell;
}
.b-new-info-content__online-status{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 10px;
  height: 10px;
  line-height: 0;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  &.online
  {
    background-color: #24FF00;
    border: 1px solid #2BA800;
  }
}

.b-new-info-content__img__item{
    width: 100%;
    max-width: 100%;
    min-width: 125px;
    min-height: 125px;
}

.b-new-info-content__text__paragraph{
    line-height: 1.5;
}

.b-profile-feed-footer__link{
    font-size: 1.1em;
    text-align: left;
    white-space: nowrap;
    display: inline-block;
    padding: 0 4% 0 0;
}

a.b-profile-feed-footer__link.active{
    color: black;
}

/*--------------------------------------------------- --- End Info  Block---------------------------------------------------*/

/*--------------------------------------------------- --- Upload  Block---------------------------------------------------*/

.upload_block_inner{
    display: table;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px dashed @light-blue;
    height: 97px;
}
.upload_block{
    padding: 7px;
}

.b-profile-feed-middle-content_dragDrop, .b-profile-feed-middle-content_upload{
    display: table-cell;
    font-weight: normal;
    text-align: center;
    height: 100%;
    vertical-align: middle;
}
.b-profile-feed-middle-content_upload{
    text-align: center;
}

.b-profile-feed-middle-content_upload_inner{
    position: relative;
    overflow: hidden;
    margin: 10px;
    background: #0074D7;
    color: white;
    font-size: 0.9em;
    text-shadow: 1px 0px 1px #0C5A9E;
    width: 84%;
    text-align: center;
    cursor: pointer;
    padding: 7px 4px 9px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border-bottom: 2px solid #073863;
}
.b-profile-feed-middle-content_upload_inner:active{
   border-bottom: 1px solid @navy; 
   top: 1px;
   margin-bottom: 11px;
}
.b-profile-feed-middle-content_upload__input{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);   
}


.b-profile-feed-middle-content_dragDrop span{
    color: @main-link-color;
    font-weight: normal;
    padding-left: 5px;
}
.b-profile-feed-middle-content_dragDrop_icon{
    font-size: 1.875em;
    color: #8fc2ed;
    font-weight: normal;
    position: relative;
    margin-top: -6px;
    margin-bottom: 8px;
    float: left;
}
.b-profile-feed-middle-content_dragDrop{
    padding-bottom: 9px;
    width: 55%;
    padding-left: 2%;
    padding-top: 4%;
}


/*--------------------------------------------------- ---End Upload  Block---------------------------------------------------*/


/*--------------------------------------------------- ---Foto`s User  Block---------------------------------------------------*/
.middle-content__foto-grid{
    display: table;
}
.middle-content__foto-grid__item{
    display: block;
    float: left;
    padding: 0px 3px;
}
.foto-grid__item__foto__img{
    width: 100%;
}
.photos{
    display: table;
    width: 100%;
    padding: 16px 7px 6px;
}
.photos__title, .photos__edit{
    display: table-cell;
}
.photos__title{
    font-size: 1em;
}
.photos__edit{
    font-size: 0.8em;
    color: @main-link-color;
    text-align: right;
}
.photos__edit__icon{
    font-size: 1.4em;
    position: relative;
    top: 3px;
    margin-right: 2px;
}

.foto-grid_block{
    padding: 7px;
    padding-bottom: 16px;
}
.middle-content__foto-grid__item__coments{
    margin-top: 5px;
}
.foto-grid__item__coments-icon{
    font-size: 0.9em;
    color: @pp-icons-color;
    position: relative;
    top: 2px;
}
.foto-grid__item__coments-number{
    font-size: 0.8em;
    color: black;
}
.middle-content__foto-grid__item__foto{
    position: relative;
    display: inline-block;
}
.foto-grid__item__foto__edit{
    font-size: 1.4em;
    position: absolute;
    top: 5px;
    right: 5px;
    color: #ffffff;
}
.b-feed-content-info{
    margin-top: 0px;
}
/*--------------------------------------------------- ---End Foto`s User  Block---------------------------------------------------*/


/*---------------------------------------------------------------------------------------END PHOTOS BLOCK---------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------FAVORITES BLOCK---------------------------------------------------------------------------------------------*/
/*--------------------------------------------------- ---Video`s User Block and Model`s User Block--------------------------------------------------------*/
.video_grid__item__link, .models_grid__item__link{
    position: relative;
    display: inline-block;
    width: 100%;
}
.video_grid__item__img, .models_grid__item__img{
    width: 95%;
}
.middle-content_video_grid, .middle-content_models_grid{
    padding: 0 6px;
    display: table;
}
.video_grid__item, .models_grid__item{
    display: table-cell;
}
.video_grid__item__button_play-wrapper{
    width: 31%;
    position: absolute;
    left: 35%;
    top: 31%;
    background: #000000;
    background: rgba(0, 0, 0, 0.5);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    height: 43%;
}
.video_grid__item__button_play {
    width: 100%;
    height: 100%;
    display: table;
}
.video_grid__item__button_play-wrapper:hover{
    background: @main-link-color;
}
.video_grid__item__button_play-icon{
    color: white;
    font-size: 1.7em;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.video_grid__item__info_text, .models_grid__item__info_text{
    font-size: 0.75em;
}
.video_grid__item__info, .models_grid__item__info {
    padding: 3px 0 15px;
}
.b-profile-feed-head__content-left--other {
    width: 20%;
    padding: 11px 12px 6px;
    font-size: 1em;
}
.b-profile-feed-head__content-left--1em{
    font-size: 1em;
}
.favorites_block {
    margin-top: 15px;
}
/*--------------------------------------------------- ---End Video`s User Block and Model`s User Block---------------------------------------------------*/

/*---------------------------------------------------------------------------------------END FAVORITES BLOCK---------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------START SETTING BLOCK--------------------------------------------------------------------------------------------*/
/*--------------------------------------------------- ---Start General Account Block---------------------------------------------------*/
.setting_block__inner{
    background: @grey;
    margin: 0 7px 7px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}
.profile-grid__item{
    display: table;
    width: 100%;
}
.profile-grid__item__label, .profile-grid__item__status, .profile-grid__item__button, .profile-grid__item__edit{
    display: table-cell;
    font-size: 0.9em;
}
.profile-grid__item__button, .profile-grid__item__edit{
    text-align: right;
}
.profile-grid__item:first-child{
    border-top: 0;
    padding: 7px 13px 10px;
}
.profile-grid__item{
    padding: 16px 13px 18px;
    border-top: 1px solid @grey;
}
.profile-grid__item--notifications-tabel:first-child{
    padding: 16px 3px 18px 13px;
}
.profile-grid__item--notifications-tabel{
    padding: 16px 3px 18px 13px;
}
.profile-grid__item__status{
    color: @main-link-color;
    font-size: 0.8em;
}
a.profile-grid__item__button__link{
    display: inline-block;
    background: #d70000;
    color: white;
    text-shadow: 0 1px 1px #970000;
    text-align: center;
    padding: 10px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
a.profile-grid__item__button__link:active{
    background: @button-active;
}
.profile-grid__item__edit{
    width: 27%;
    font-size: 0.8em;
}
.profile-grid__item__label{
    width: 41%;
}
.profile-grid__item__status{
    width: 32%;
}

.form_field__input {
    display: table-cell;
    height: 16px;
}
.form_field__input input {
    z-index: 9;
    width: 17px;
    height: 18px;
    position: relative;
    left: 21px;
    top: 2px;
}
.b-profile-feed-middle-content__form_field {
    border-top: 1px solid @grey;
    padding: 2.5%;
    width: 100%;
    display: table;
}

.checkbox-item__somelabel{
    position: absolute;
    left: 0;
    top: 3px;
    padding-left: 20px;
    padding-right: 5px;
}
.form_field__input.form_field__input--activity_form.last{
    white-space: nowrap;
}

.profile-grid__item__radio-block {
    width: 2.4em;
    display: inline-block;
    text-align: center;
}
.profile-grid__item--notifications-tabel .profile-grid__item__radio-block{
    text-align: right;
}


.gray{
    background: @grey;
}
.border-radius{
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.b-profile-feed-middle-content--activity_notification{
    margin: 0 7px 10px;
}

.b-profile-feed-middle-content__form_field--activity_form{
padding-right: 6px;
padding-left: 3.4%;
}
.form_field__input--activity_form{
width: 30%;
display: block;
float: left;
}

.b-profile-feed-middle-content__form_field--notification{
    padding-left: 2.4%;
}
.b-profile-feed-middle-content__form{
    margin-bottom: 10px;
}
.b-profile-feed-middle-content__form_field--notification{
    padding-right: 0px;
}
.profile-grid__item__radio{
    display: table-cell;
    text-align: right;
}
.profile-grid__item__label--choose_notification{
font-size: 0.8em;
}
.profile-grid__item__label {
width: 57%;
}
.rightside-content-b-header-right_opt{
    color: @main-link-color;
    font-size: 0.8em;
    padding-left: 1em;
}
.rightside-content-b-header-right_opt:first-child{
    padding-left: 0px;
}
.b-profile-feed-head.head_table
{
    display: table;
    width: 100%;
}
.b-profile-feed-head__content-left.head_table__div_table-cell, .rightside-content-b-header-right.head_table__div_table-cell
{
width: auto;
float: none;
display: table-cell;
}
.rightside-content-b-header-right.head_table__div_table-cell{
text-align: right;
padding-right: 10px;
vertical-align: bottom;
padding-bottom: 14px;
}
.setting_block, .favorites_block, .photos_block{
    display: none;
}
.profile-grid__item__label{
width: 43%;
padding-right: 3px;
}
.profile-grid__item__label--choose_notification {
width: 52%;
}
a.profile-grid__item__button__link, a.profile-grid__item__button__link:hover{
    color: white;
}
/*--------------------------------------------------- ---End General Account Block----------------------------------------------------*/
/*---------------------------------------------------------------------------------------END SETTING BLOCK--------------------------------------------------------------------------------------------*/
.grey{
    background: @grey;
}
.search-box-b__item--change_height{
    height: 36px;
}
.b-profile-feed-footer__add{
    display: table;
    width: 40%;
}
.b-profile-feed-footer__add__video, .b-profile-feed-footer__add__photo{
    display: table-cell;
    text-align: center;
}
.b-profile-feed-footer.search-box-b--footer{
    padding-top: 6px;
}
.description_block_all-row{
    display: table;
}
.description_block_all-row__field__item{
    margin-top: 15px;
}
.description_block_all-row{
    width: 100%;
}
.description_block_all-row__field{
    display: table-cell;
    width: 49%;
    vertical-align: top;
    height: 100%;
}
.description_block_all-row__field__item{
    display: table;
    width: 100%;
}
.description_block--content{
    padding: 7px 11px;
    position: relative;
    clear: both;
}
.description-head{
    display: table;
    width: 100%;
}
.description_block--content__table{
    width: 100%;
}
.description_block--content__table__value{
    text-align: right;
    color: @blue-text;
}
.description_block--content__table__value, .description_block--content__table__nomination{
    font-size: 0.8em;
    font-weight: bold;
    padding: 7px 0;
}
.right_opt__edit {
    font-size: 1.4em;
}
.description_block--content__table--row{
    margin-top: 10px;
}
.description_block_all-row--separator{
    display: table-cell;
    width: 2%;
}

/*---------------------------------------------------------------------------------------START GENERAL INFORMATION BLOCK-----------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------END GENERAL INFORMATION BLOCK------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------- Start People Block --------------------------------------------------------------------------------------*/
.b-profile-feed-head__content-right span.active span.people_grid_point{
width: 0;
height: 0;
border-left: 7px solid transparent;
border-right: 7px solid transparent;
border-bottom: 10px solid @grey;
background: none;
position: absolute;
bottom: -15px;
left: 72px;
}


.form_field__input label span.activity_input_label {
float: none;
padding-right: 2px;
}

.b-profile-feed-head__content-left--width-176{
    max-width: 176px;
}

.people_grid_link{
    position: relative;
}

/*-----------------------------------For Nearby------------------------------------------------*/

.nearby .b-profile-feed-head__content-right > span a {
margin-bottom: 2px;
display: inline-block;
}
.nearby .b-profile-feed-head__content-right > span{
    text-align: center;
    padding: 0 4px;
}
.b-profile-feed-head__content-right span.active span.people_grid_point{
    left: 43%;
}
.b-profile-feed-head__content-right span.active a{
    margin-bottom: 3px;
}
.nearby .peoples_grid__field__item span.message__text{
font-size: 1em;
}

/*-----------------------------------[END] For Nearby---------------------------------------*/

.b-left-content__photo-b{
    padding: 15px 13px 20px;
}
.photo-b__wrapper-photo-b{
    background: #edeff5;
    padding: 8px 0;
    .border-radius;
}
.wrapper-photo-b-item__video{
    position: relative;

}
.wrapper-photo-b-item__photo-info-b {
    margin: 10px 0 25px;
}
.photo-info-b__title{
    color: @photo-title;
    font-size: 0.8em; //13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    padding-bottom: 1px;
}
.wrapper-photo-b__table{
    width: 100%;
    text-align: center;
}
.wrapper-photo-b-item {
    padding: 0 1%;
    display: inline-block;
    width: 33%;
    text-align: left;
    vertical-align: top;
}
.wrapper-photo-b-item__video-item{
    display: block;
    width: 100%;
    max-width: 100%;
}
.photo-info-b__short-info {
    margin: 5px 0;
}

.photo-info-b__short-info-comment, .photo-info-b__short-info-star {
    font-size: 0.75em;
    margin: 0 8px 0 0;
}

.short-info-comment__icon{
    font-size: 1.25em;
    padding-right: 3px;
    vertical-align: top;
    color: @pp-icons-color;
    position: relative;
    top: 2px;
}
.wrapper-photo-b-item__video-viewed {
    position: absolute;
    top: 0.35em;
    right: 0.35em;
    background: #000000;
    background: rgba(0, 0, 0, 0.5);
    font-size: 0.75em;
    padding: 0.25em 0.875em;
    color: #ffffff;
    .border-radius;
}
.wrapper-photo-b-item{
    .wrapper-photo-b-item__video-viewed{
        display: none;
    }
    &.viewed{
        .wrapper-photo-b-item__video-viewed{
            display: block;
        }
    }
} 
.b-feed-content__profile-feed--description {
    margin-top: 15px;
}
.b-new-info-content-theme__profile-nav {
    border-radius: 5px;
    display: table;
    margin-top: 8px;
    white-space: nowrap;
    width: 100%;
}
.photo_pop_up {
}
.no_scroll{
    overflow: hidden;
}
.visible{
    display: block;
}
.hidden{
    display: none;
}
.comments-header-text__close{
    position: absolute;
    background: #ECF0F8;
    padding: 5px 8px;
    right: 11px;
    top: 9px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
}
.comments-header-text__icon{
    font-size: 1.4em;
    display: block;
    color: #787f8e;
}
.text__icons__item__icon {
    font-size: 1.25em;
    vertical-align: top;
}
.b-chat__b-post--profile_page{
    background: #F1F3F8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
}
.b-chat__b-post--profile_page_outer{
    background: transparent;
    box-shadow: none;

}
.b-chat-post-input__item--profile_page{
    color: #8C959A;
}
.b-chat__b-post_wrapper--absolute{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 5px solid #fff;
    -webkit-box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.5);
}

@media screen and (max-width: 1136px) {
    a.b-new-info-content-theme__profile-nav-item.favourite{
        width: auto;
    }
    .favourite .add-favor, .favourite.activated .unfavor{
        display: none;
    }
    .favourite.activated {
        background: none repeat scroll 0 0 #7f7f7f;
        border-bottom: 2px solid #505050;
        border-left: 1px solid #505050;
    }
    .profile-nav-item-txt{
        display: none;
    }
    .wink .default, .wink.activated .alternate{
        display:none;
    }
     .b-new-info-content-theme__profile-nav{
        font-size: 16px;
    }
}
@media screen and (max-width: 880px) {
    .b-content__b-left-content{
        width: 100%;
        padding-right: 15px;
    }
    .b-content__b-right-content.inline{
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    a.b-new-info-content-theme__profile-nav-item.favourite{
        width: auto;
    }
    .b-new-info-content-theme__profile-nav{
        font-size: 14px;
    }
    .b-new-info-content-theme__profile-nav-item, a.b-new-info-content-theme__profile-nav-item{
        padding: 10px 5px;
    }
}
