@import "vars";
::-webkit-input-placeholder {
  color: @main-text_def;
}

:-moz-placeholder {
  color: @main-text_def;
}

::-moz-placeholder {
  color: @main-text_def;
}

:-ms-input-placeholder {
  color: @main-text_def;
}

html {
  scrollbar-face-color: @main-window_border;
  scrollbar-shadow-color: @main-window_border;
  scrollbar-3dlight-color: @main-window_border;
  scrollbar-highlight-color: @main-window_border;
  scrollbar-darkshadow-color: @main-window_border;
  scrollbar-arrow-color: none;
  scrollbar-track-color: none;
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: 'Open Sans Light';
  src: url('../fonts/opensans-light-webfont.eot');
  src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/opensans-light-webfont.woff') format('woff'),
      url('../fonts/opensans-light-webfont.ttf')  format('truetype'),
      url('../fonts/opensans-light-webfont.svg#svgFontName') format('svg');
}
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Open Sans';
  src: url('../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/opensans-regular-webfont.woff') format('woff'),
      url('../fonts/opensans-regular-webfont.ttf')  format('truetype'),
      url('../fonts/opensans-regular-webfont.svg#svgFontName') format('svg');
}
@font-face {
  font-weight: 600;
  font-style: normal;
  font-family: 'Open Sans Semibold';
  src: url('../fonts/OpenSans-Semibold.eot');
  src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/OpenSans-Semibold.woff') format('woff'),
      url('../fonts/OpenSans-Semibold.ttf')  format('truetype'),
      url('../fonts/OpenSans-Semibold.svg#svgFontName') format('svg');
}
@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'Open Sans Bold';
  src: url('../fonts/OpenSans-Bold-webfont.eot');
  src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
      url('../fonts/OpenSans-Bold-webfont.ttf')  format('truetype'),
      url('../fonts/OpenSans-Bold-webfont.svg#svgFontName') format('svg');
}
@font-face {
  font-weight: 800;
  font-style: normal;
  font-family: 'Open Sans ExtraBold';
  src: url('../fonts/OpenSans-ExtraBold.eot');
  src: url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/OpenSans-ExtraBold.woff') format('woff'),
      url('../fonts/OpenSans-ExtraBold.ttf')  format('truetype'),
      url('../fonts/OpenSans-ExtraBold.svg#svgFontName') format('svg');
}

a {
  cursor: pointer;
}

form {
  &.loading {
    .btn-save {
     font-size: 0 !important;
     position: relative;
     &:before {
      content: '';
      position: absolute;
      width: 32px;
      height: 4px;
      background: url(~"@{main-img_url}/loader-location.gif") no-repeat;
      top: 11px;
      left: 50%;
      margin-left: -16px;
      }
    }
  }
}

.b-page-not-found {
  margin-top: 100px;
}

.display-none {
  display: none !important;
}

.clear {
  clear: both;
}

.hidden {
  visibility: hidden !important;
  opacity: 0 !important;
}

.inactive {
  display: none !important;
}

body {
  height: 100%;
  color: @main-text_def;
  font: 14px @main-font_400;

  ::-webkit-scrollbar {
    width: 6px;
    height: 5px;
  }
  ::-webkit-scrollbar-track {
    background: @main-scroll_track;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: @main-scroll_thumb;
    &:vertical {
      border-radius: 10px;
      background: @main-window_border;
    }
  }
  ::-webkit-scrollbar-track-piece  {
    background-color: none;
  }
}

._btn-def(@width: 100%) {
  ._radius(2px);
  display: inline-block;
  margin: 0;
  outline: none;
  color: @main-text_button_mod;
  vertical-align: middle;
  text-decoration: none;
  font: 14px/33px @main-font_600;
  cursor: pointer;
  padding: 0 3px;
  letter-spacing: 0;
}

.layout {
  min-width: 980px;
  min-height: 100%;
  background-color: @main-body_bg;
  .l-content {
    position: relative;
    padding: 0 20px 40px;
    min-height: 500px;
    &.valid-email-is-show {
      margin-top: 80px;
    }
    &.loading {
      &:before {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 600;
        display: block;
        width: 100%;
        height: 100%;
        background: fade(@main-loader_bg, 50%) url(~"@{main-img_url}/loader-1.gif") no-repeat center center;
        content: "";
      }
    }
  }
}
.upgrade-to-read,
.my-messages-first,
.btn-send,
.btn-save,
.b-page-profile-settings .line .btn-light,
.b-popup .btn,
.btn-green,
.b-popup-funnel .btn-next,
.btn-update,
.b-success-page .wrapp-btn .btn {
  /*
  ._btn-green;*/
}

.member-status .btn,
.action-line .action-btn .btn-send,
.w-user-details .btn-upgrade {
  /*
  ._btn-orange;*/
}
.b-nav-btns .btn-prev,
.b-remove-profile .footer .btn,
.flirtcast-block .close,
.btn-activity,
.btn-activity.active,
.btn-activity:active,
.b-photo-choose .btn-upload,
.my-profile-page .btn-cancel,
.b-page-billing-policy .b-btn-close .btn,
.b-page-visa-window .b-btn-close .btn,
.b-page-mc-secured .b-btn-close .btn,
.b-success-page .b-resend-email-form .btn {
  /*
  ._btn-user;*/
}

._features-buttons(@color-btn-start, @color-btn-end, @color-btn-start-hover, @color-btn-end-hover, @color-btn-start-press, @color-btn-end-press, @border-color){
   ._gradient (@color-btn-start, @color-btn-end);
    border: 1px solid @border-color;
  &:hover {
   ._gradient (@color-btn-start-hover, @color-btn-end-hover);
  }
  &:active, &.active {
    ._gradient (@color-btn-start, @color-btn-end);
  }
  &.touched {
   ._gradient (@color-btn-start-press, @color-btn-end-press);
  }
}

@name-list: -green, -orange, -blue;
@btn-start: @main-featute_btn_start, @main-featute_btn_hot_start, @main-featute_btn_fb_start;
@btn-end: @main-featute_btn_end, @main-featute_btn_hot_end, @main-featute_btn_fb_end;
@btn-start-hover: @main-featute_btn_start_hover, @main-featute_btn_hot_start_hover, @main-featute_btn_fb_start_hover;
@btn-end-hover: @main-featute_btn_end_hover, @main-featute_btn_hot_end_hover, @main-featute_btn_fb_end_hover;
@btn-start-press: @main-featute_btn_start_press, @main-featute_btn_hot_start_press, @main-featute_btn_fb_start_press;
@btn-end-press: @main-featute_btn_end_press, @main-featute_btn_hot_end_press, @main-featute_btn_fb_end_press;
@btn-shadow: @main-featute_btn_shadow, @main-featute_btn_hot_shadow, @main-featute_btn_fb_shadow;

@list-length: length(@name-list);

._loop(@counter) when (@counter > 0) {
  ._loop((@counter - 1));
  @btn-name: extract(@name-list, @counter);
  @btn-color-start: extract(@btn-start, @counter);
  @btn-color-end: extract(@btn-end, @counter);
  @btn-color-start-hover: extract(@btn-start-hover, @counter);
  @btn-color-end-hover: extract(@btn-end-hover, @counter);
  @btn-color-start-press: extract(@btn-start-press, @counter);
  @btn-color-end-press: extract(@btn-end-press, @counter);
  @btn-color-shadow: extract(@btn-shadow, @counter);

  &@{btn-name} {
    ._features-buttons(@btn-color-start, @btn-color-end, @btn-color-start-hover, @btn-color-end-hover, @btn-color-start-press, @btn-color-end-press, @btn-color-shadow);
  }
}

.btn {
  ._loop(@list-length);
}
.image-holder {
  overflow: hidden;
  position: relative;
  ._blur(0);
  &.blurred {
    background: none !important;
    img {
      ._blur(10);
      ._opacity(1) !important;
    }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: @main-blur-overlay;      }

    }
    /*IE10 hack end*/
    .ie8 &,
    .ie9 & {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: @main-blur-overlay;
      }
    }
  }
  &.blurred-heavy {
    background: none !important;
    img {
      ._blur(18);
      ._opacity(1) !important;
    }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: @main-blur-heavy-overlay;
      }
    }
    /*IE10 hack end*/
    .ie8 &,
    .ie9 & {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: @main-blur-heavy-overlay;
      }
    }
  }
}
.b-features {
  font-size: 0;
  line-height: 0;
  cursor: default;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  span.item {
    cursor: default !important;
  }
  .item {
    ._shadow(0 1px 3px fade(@main-featute_shadow, 15%));
    ._radius(100px);
    display: block;
    vertical-align: top;
    margin-right: 0;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
    background: fade(#333, 50%);
    margin: 3px;
    &:hover {
      background-color: @t-main-color;
    }
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: @main-sprite_url no-repeat;
    }
    &.hot {
      cursor: pointer;
      &:before {
        background-position: -236px -38px;
      }
    }
    &.top, &.free-m, &.invisible {
      cursor: pointer;
    }
    &.top {
      &:before {
        background-position: -266px -38px;
      }
    }
    &.free-m {
       &:before {
        background-position: -296px -38px;
      }
    }
    &.invisible {
       &:before {
        background-position: -325px -38px;
      }
    }
    &.fb {
      &:before {
        background-position: -353px -38px;
      }
    }
  }
}

.btn-info {
  ._radius(12px);
  display: inline-block;
  margin: 2px 0 0 10px;
  width: 14px;
  height: 14px;
  border: 1px solid @main-text_info;
  color: @main-text_info;
  vertical-align: top;
  font-size: 11px;
  line-height: 14px;
  text-align: center;
  text-decoration: none;
  cursor: default;
  font-weight: bold;
  &:hover {
    border: 1px solid @main-button_border_hover;
    color: @main-text_link;
  }
  &.touched {
    border: 1px solid @main-tooltip_border;
    color: @main-text_light;
  }
}

.btn-text-green,
.btn.green {
  ._btn-def;
  ._shadow(0 1px 3px fade(@main-featute_shadow, 30%));
  ._gradient(@main-featute_btn_start, @main-featute_btn_end);
  border: 1px solid @main-featute_btn_border;
  text-align: center;
  &:hover:enabled {
    ._gradient(@main-featute_btn_start_hover, @main-featute_btn_end_hover);
  }
  &.active, &:active {
    ._gradient(@main-featute_btn_start, @main-featute_btn_end);
  }
  &.touched {
    ._gradient(@main-featute_btn_start_press, @main-featute_btn_end_press);
  }
}

.b-report-profile .btn{
  ._btn-def;
  ._shadow(0 1px 3px fade(@main-featute_shadow, 30%));
  ._gradient(@main-featute_btn_start, @main-featute_btn_end);
  border: 1px solid @main-featute_btn_border;
  text-align: center;
  &:hover {
    ._gradient(@main-featute_btn_start_hover, @main-featute_btn_end_hover);
  }
  &.active, &:active {
    ._gradient(@main-featute_btn_start, @main-featute_btn_end);
  }
  &.touched {
    ._gradient(@main-featute_btn_start_press, @main-featute_btn_end_press);
  }
}

.btn-text-orange {
  ._btn-def;
  ._shadow(0 1px 3px fade(@main-featute_shadow, 30%));
  ._gradient(@main-featute_btn_hot_start, @main-featute_btn_hot_end);
  border: 1px solid @main-featute_btn_hot_shadow;
  text-align: center;
  &:hover {
    ._gradient(@main-featute_btn_hot_start_hover, @main-featute_btn_hot_end_hover);
  }
  &.active, &:active {
    ._gradient(@main-featute_btn_hot_start, @main-featute_btn_hot_end);
  }
  &.touched {
    ._gradient(@main-featute_btn_hot_start_press, @main-featute_btn_hot_end_press);
  }
}

.btn-text-def, .b-popup .btn-text-def, .b-view-more .view-more {
  ._btn-def;
  ._shadow(0 1px 3px fade(@main-featute_shadow, 15%));
  ._gradient(@main-button_start, @main-button_end);
  border: 1px solid @main-button_border;
  color: @main-button_color;
  &:hover {
    ._gradient(@main-button_start_hover, @main-button_end_hover);
  }
  &:active,
  &.active {
    ._gradient(@main-button_start, @main-button_end);
  }
}

.btn-text-blue, .btn-fb {
  ._btn-def;
  ._shadow(0 2px 4px fade(@main-featute_shadow, 30%));
  ._gradient(@main-featute_btn_fb_start, @main-featute_btn_fb_end);
  border: 1px solid @main-button_border_hover;
  color: @main-text_button_mod;
  &:hover {
    ._gradient(@main-featute_btn_fb_start_hover, @main-featute_btn_fb_end_hover);
    border-color: @main-featute_btn_fb_border_hover;
    &:before {
      border-right: 1px solid @main-featute_btn_fb_border_hover;
    }
  }
  &:active,
  &.active {
    ._gradient(@main-featute_btn_fb_start, @main-featute_btn_fb_end);
  }
}

.disabled {
  ._btn-def;
  color: @main-text_disabled;
  cursor: default;
}

.btn-text {
  display: inline-block;
  margin: 0;
  height: 16px;
  outline: none;
  border-bottom: 1px dashed;
  background: none;
  color: @t-main-link;
  text-decoration: none;
  font-size: 14px;
  font-family: @main-font_600;
  &:hover {
    border-bottom: 1px dashed transparent;
  }
}

.btn-edit-bare {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: @main-sprite_url no-repeat -267px -83px;
  margin-left: 6px;
  outline: none;
  &:hover {
    background-position: -137px -155px;
  }
  &.touched {
    background-position: -137px -178px;
  }
}

._select(@value-bg-color: @main-window_bg, @main-input_bg: @main-window_bg) {
  font-size: 14px;
  .value {
    ._box-sizing;
    ._radius(2px);
    position: relative;
    display: block;
    overflow: hidden;
    padding: 5px 32px 5px 10px;
    background-color: @value-bg-color;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
    box-shadow: inset 0 1px 2px 0px @main-input_shadow, inset 0 0 2px 0px @main-input_shadow;
    &:focus {
      box-shadow: inset 0 1px 2px 0px @main-input_shadow, inset 0 0 2px 0px #00B807;
    }
    &:before {
      position: absolute;
      top: 11px;
      right: 8px;
      width: 11px;
      height: 6px;
      background: @main-sprite_url no-repeat -218px -71px;
      content: '';
    }
    &:hover {
      cursor: pointer;
    }
    .input-value {
      ._shadow(none);
      padding: 0;
      background: none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      border: 0;
    }
    .ie8 & {
      border: 1px solid @main-input_border_ie;
    }
  }
  .select {
    ._box-sizing;
    display: none;
    width: 100%;
    background: @main-input_bg;
    &:after {
      position: absolute;
      content: "";
      border: 5px solid rgba(0, 0, 0, 0);
      border-top: 0;
      border-bottom-color: #FFF;
      top: -5px;
      left: 50%;
      margin-left: -5px;
    }
    .item {
      text-decoration: none;
      display: block;
      padding: 8px 10px;
      color: @main-featute_btn_fb_shadow;
      word-wrap: break-word;
      line-height: 18px;
      &:hover {
        background: @main-select_item_bg;
        color: @main-select_item_txt;
        cursor: pointer;
        &.active {
          color: @main-select_item_txt;
        }
      }
      &.active {
        color: @t-main-color;
      }
    }
    .items-group-name {
      color: @main-text_light;
      font-family: @main-font_600;
      padding-left: 5px;
    }
    .ie8 & {
      border: 1px solid @main-input_border_ie;
    }
  }
  &.active {
    .value {
      display: none;
    }
    .select {
      display: block;
    }
  }
  &.top {
    .select {
      &:after {
        top: auto;
        bottom: -5px;
        border-top: 5px solid rgba(0, 0, 0, 0);
        border-bottom-color: transparent;;
        border-bottom: 0;
        border-top-color: #FFF;
      }
    }
  }
}

.select-output-dropdown {
  ._select(@main-input_bg);
  position: relative;
  .input-holder {
    position: relative;
  }
  &.active {
    .value {
      display: block;
      &:before {
        background-position: -218px -82px;
      }
    }
  }
  &.top {
    .select {
      bottom: 35px;
      top: auto;
    }
  }
  &.dark {
    .value {
    }
    .message-input {
      background: @main-input_bg_dark;
    }
  }
  .select {
    ._shadow(0 0 26px fade(@main-featute_shadow, 30%));
    position: absolute;
    top: 35px;
    z-index: 400;
      .list {
        overflow: hidden;
        overflow-x: visible;
        overflow-y: auto;
        max-height: 186px;
    }
  }
}

.select-input-dropdown {
  ._select(@main-input_bg);
  .select {
    ._box-sizing;
    position: relative;
    padding: 5px 29px 5px 5px;
    border: 1px solid;
    border-top-color: @main-select_input_border_top;
    border-right-color: @main-select_input_border_side;
    border-bottom-color: @main-select_input_border_bottom;
    border-left-color: @main-select_input_border_side;
    .list {
      border-right: 1px solid @main-button_border;
      &:after {
        position: absolute;
        top: 10px;
        right: 9px;
        width: 10px;
        height: 6px;
        background: @main-sprite_url no-repeat -218px -82px;
        content: '';
      }
    }
  }
}

.field {
  position: relative;
  display: inline-block;
  .b-name {
    color: @main-text_light;
    font-size: 14px;
    line-height: 18px;
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
  }
  .input-holder {
    display: inline-block;
    vertical-align: middle;
  }
  textarea {
    background: @main-input_bg;
    font-size: 14px;
    line-height: 22px;
  }
}

.b-drag-drop {
  padding: 18px 0;
  margin-top: 26px;
  height: 41px;
  border: 2px dashed @main-upload_border;
  color: @main-text_button_mod;
  text-align: center;
  ._radius(5px);


  &.active {
    border-color: @main-text_muted;
    background: @main-upload_bg_active;
  }

  .row {
    display: table-row;
    .cell {
      display: table-cell;
    }
  }


  .title {
    color: @main-text_extralight;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    text-align: center;
  }
  .b-photo-choose {
    float: left;
    width: 150px;
    padding: 4px;
    margin: -4px 0 0 14px;
    ._clearfix;
    &.qq-upload-button-hover {
      background: none;
    }
    &.qq-upload-button-focus {
      outline: none;
    }
  }
  .btn-upload, .btn-fb {
    overflow: hidden;
    position: relative;
    padding: 0;
  }
  .btn-upload {
    ._box-sizing;
  }
  .btn-fb {
    ._radius(4px);
    ._box-sizing;
    float: left;
    width: 148px;
    line-height: 14px;
    height: 41px;
    padding: 6px 10px;
    margin-left: 16px;
    font-size: 12px;
  }
  .input-choose {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    ._opacity(0);
    width: 100%;
    height: 100%;
    line-height: inherit;
  }
}

h1 {
  color: @main-text_h1;
  font: @main-font_h1;
}

h2 {
  color: @main-text_h2;
  font: @main-font_h2;
}

h3 {
  color: @main-text_h3;
  font: @main-font_h3;
}

h4 {
  color: @main-text_h4;
  font: @main-font_h4;
}

h5 {
  color: @main-text_h5;
  font: @main-font_h5;
}

iframe {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 39px;
}

input,
textarea,
button {
  border: none;
}

input[type="text"],
input[type="password"],
textarea {
  box-shadow: inset 0 1px 2px 0px @main-input_shadow, inset 0 0 2px 0px @main-input_shadow;
  &:focus {
    box-shadow: inset 0 1px 2px 0px @main-input_shadow, inset 0 0 2px 0px #000;
  }
  ._box-sizing;
  ._radius(2px);
  ._transition(.2s);
  padding: 5px 10px;
  width: 100%;
  height: 100%;
  border: none;
  background: @main-input_bg;
  font-family: inherit;
  line-height: 18px;
  font-size: 14px;
  resize: none;
  .ie8 & {
    border: 1px solid @main-input_border_ie;
  }
  &::-webkit-input-placeholder {
    color: @main-text_light;
  }
  &:-moz-placeholder {
    color: @main-text_light;
  }
  &:focus {

  }
  &.error {
    border-color: @main-text_error;
    &::-webkit-input-placeholder {

    }
    &:-moz-placeholder {

    }
    &:focus {

    }
  }
}

input[type="text"],
input[type="password"] {

}

input[type="radio"] {
  & {
    margin: 2px 5px 12px 0;
    width: 14px;
    height: 14px;
    position: absolute;
    &+span {
      padding-left: 23px;
    }
  }
  &:not(.default){
    z-index: 2;
    opacity: 0;
    cursor: pointer;
  }
  &:not(.default)+span{
    ._box-sizing;
    position: relative;
    width: 100%;
    cursor: pointer;
    &:before{
      position: absolute;
      left: 0;
      margin-top: 3px;
      width: 14px;
      height: 14px;
      background: no-repeat @main-sprite_url -239px -66px;
      content: '';
    }
  }
  &:not(.default):checked+span {
    &:before{
      background: no-repeat @main-sprite_url -239px -84px;
    }
  }
}

input[type="checkbox"] {
  & {
    margin:0;
    vertical-align:top;
  }
  &:not(.default){
    position:absolute;
    z-index: 2;
    margin-top:1px;
    width:14px;
    height:14px;
    opacity:0;
    cursor:pointer;
  }
  &:not(.default)+span{
    ._box-sizing;
    position:relative;
    display: inline-block;
    padding-left: 23px;
    cursor:pointer;
  }
  &:not(.default)+span:before{
    position:absolute;
    left:0;
    margin-top:3px;
    width:11px;
    height:11px;
    border: 1px solid @main-checkbox_border;
    background: none;
    content:'';
  }
  &:not(.default):checked+span:before{
    background: no-repeat @main-sprite_url -240px -102px;
  }
}

.error {
  input[type="text"],
  input[type="password"],
  textarea {
    border: 1px solid @main-text_error;
    &::-webkit-input-placeholder {
    }
    &:-moz-placeholder {

    }
    &:focus {

    }
  }
  .b-error {
    display: block;
  }
  .value, textarea {
    border: 1px solid @main-text_error;
  }
  .input-value {
    border: none;
  }
}
.b-error {
  font-size: 12px;
  color: @main-text_error;
  display: none;
}


.btn-close {
  position: absolute;
  top: 5px;
  right: 3px;
  z-index: 3;
  outline: none;
  width: 30px;
  height: 30px;
  background: none;
  cursor: pointer;
  &:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background: @main-sprite_url no-repeat -199px -179px;
    left: 50%;
    top: 50%;
    margin: -6px 0 0 -6px;
  }

  &:hover {
    opacity: 0.8;
  }
  &.touched {
    background-position: -171px -179px;
  }
}

.btn-activity {
  letter-spacing: normal;
  height: 40px;
  span {
    padding: 1px 0;
  }
  &:before {
    display: inline-block;
    float: left;
    width: 39px;
    height: 38px;
    border-right: 1px solid @main-button_border;
    background: @main-sprite_url no-repeat;
    content: "";
    vertical-align: top;
  }
  .btn-title {
    display: block;
    margin-left: 40px;
    border-left: 1px solid @main-button_border_inner;
    text-align: center;
  }
  &.btn-blocked {
    width: auto !important;
    padding: 0 15px;
    &:before {
      display: none;
    }
    &:hover {
      ._gradient(@main-btn-favorite_active_start, @main-btn-favorite_active_end);
      border-color: @main-btn-favorite_active_border;
    }
  }
  &.btn-message {
    &:before {
      background-position: -2px 5px;
    }
    .btn-title { display: none; }
  }
  &.btn-favorite {
    &:before {
      background-position: -38px 3px;
    }
    &.activated {
      &:before {
        border-right: 1px solid @main-button_border_hover;
        background-position: -38px -28px;
      }
      /*&.loading,*/
      &.active {
        ._gradient(@main-button_start, @main-button_end);
        border: 1px solid @main-button_border;
        color: @main-text_link;
        &:before {
          border-right: 1px solid @main-button_border;
          background-position: -38px 3px;
        }
      }
      .default {
        display: none;
      }
    }
  }
  &.btn-wink {
    &:before {
      background-position: -75px 3px;
    }
    &.lodaing,
    &.active {
      ._gradient(@main-button_2_start, @main-button_2_end);
      border: 1px solid @main-button_border_hover;
      color: @main-text_button_mod;
      .default {
        border-left: 1px solid fade(@main-button_border, 30%);
        .ie8 & {
          border-left: 1px solid @main-button_border;
        }
      }
      &:before {
        border-right: 1px solid @main-button_2_border_inner;
        background-position: -75px -28px;
      }
    }
    &.activated {
      cursor: default;
      &:before {
        border-right: 1px solid @main-button_border_hover;
        background-position: -75px -28px;
      }
      &:hover {
        ._gradient(@main-button_2_start, @main-button_2_end);
        &:before {
          border-right: 1px solid @main-button_border_hover;
        }
      }
      .default {
        display: none;
      }
    }
  }
  &.activated {
    ._shadow(0 2px 4px fade(@main-featute_shadow, 30%));
    ._gradient(@main-featute_btn_fb_start, @main-featute_btn_fb_end);
    border: 1px solid @main-button_border_hover;
    color: @main-text_button_mod;
    &:hover {
      ._gradient(@main-featute_btn_fb_start_hover, @main-featute_btn_fb_end_hover);
      border-color: @main-featute_btn_fb_border_hover;
      &:before {
        border-right: 1px solid @main-featute_btn_fb_border_hover;
      }
    }
    &:active,
    &.active {
      ._gradient(@main-featute_btn_fb_start, @main-featute_btn_fb_end);
    }
    &:before {
      border-right: 1px solid @main-button_border_hover;
    }
  }
  .default {
    display: none;
    margin-left: 40px;
    height: 36px;
    border-left: 1px solid fade(@main-button_border_inner_2, 70%);
    text-align: center;
    .ie8 & {
      border-left: 1px solid @main-button_border_inner_2;
    }
  }
  .alternate {
    display: none;
    margin-left: 40px;
    height: 36px;
    border-left: 1px solid fade(@main-button_bg_def, 30%);
    text-align: center;
    .ie8 & {
      border-left: 1px solid @main-button_bg_def;
    }
  }
}

// transforms
._transform (rotate, @deg:90deg) {
  -moz-transform: rotate(@deg);
  -webkit-transform: rotate(@deg);
  transform: rotate(@deg);
}
._transform (scale, @zoom:1) {
  -moz-transform: scale(@zoom);
  -webkit-transform: scale(@zoom);
  transform: scale(@zoom);
}
._transform-origin(@x:0, @y:0, @z:1) {
  -webkit-transform-origin: @x @y @z;
  -moz-transform-origin: @x @y @z;
  -o-transform-origin: @x @y @z;
  -ms-transform-origin: @x @y @z;
  transform-origin: @x @y @z;
}

.b-side-feedback {
  ._transform (rotate, 90deg);
  ._transform-origin(0, 100%, 0);
  position: fixed;
  top: 50%;
  left: 0;
  margin: -50px 0 0 0;
  z-index: 800;
  .b-tooltip {
    ._transform (rotate, -90deg);
    ._transform-origin(50%, 50%, 0);
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -125px;
    right: -30px;
    padding: 8px 10px;
    width: 135px;
    color: @main-text_light;
    font-size: 11px;
    text-align: center;
    border: none;
    ._radius(5px);
    background: @main-feedback_tooltip_bg;
    ._shadow(0 2px 4px fade(@main-featute_shadow, 20%));
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 100%;
      width: 0;
      height: 0;
    }
    &:before {
      margin-top: -5px;
      border: 7px solid transparent;
      border-right: 7px solid @main-tooltip_arrow_shadow;
    }
    &:after {
      margin-top: -4px;
      border: 6px solid transparent;
      border-right: 6px solid @main-tooltip_arrow;
    }
    &.active {
      display: block;
      ._opacity(1);
      visibility: visible;
    }
    &.bug {
      display: none;
    }
  }
  &:hover .b-tooltip {
    visibility: visible;
    ._opacity(1);
  }
}
.ie9 .b-side-feedback {
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
.ie8 .b-side-feedback {
    writing-mode: tb-rl;
    .btn {
        width: 25px;
        padding: 10px 0;
    }
    .b-tooltip {
        writing-mode: lr-tb;
        top: 50%;
        right: auto;
        left: 40px;
        margin-top: -30px;
        border: 1px solid #ccc;
    }
}
.btn.btn-side-feedback {
  display: block;
  padding: 10px 15px;
  font-size: 15px;
  font: 16px @main-font_600;
  ._radius(4px 4px 0 0);
  line-height: 25px;
  width: auto;
  padding: 0px 15px;
  ._gradient(lighten(@t-main-color, 15%), @t-main-color);
  border: 1px solid darken(@t-main-color, 5%);
}

.b-page {
  margin: 0 auto;
  padding: 10px 10px 100px;
  width: 665px;
  &:after {
    visibility: hidden;
    ._opacity(0);
  }
  .title {
    margin: 5px 0 25px;
    color: @main-text_def;
    text-transform: capitalize;
    font:  36px/36px @main-font_400;
  }
}
.b-suggest {
  ._transition(.3s);
  ._radius(5px);
  ._box-sizing;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  visibility: hidden;
  margin: 5px 0 0;
  padding: 9px 0;
  width: 100%;
  border: 1px solid @main-window_border;
  color: @main-text_link;
  background: @main-window_bg;
  ._opacity(0);
  &.active {
    ._transition(opacity .1s);
    visibility: visible;
    ._opacity(1);
    &:before {
      position: absolute;
      top: -7px;
      left: 11px;
      width: 13px;
      height: 8px;
      background: @main-sprite_url no-repeat -50px -64px;
      content: '';
    }
  }
  .suggest-item {
    ._box-sizing;
    padding: 0 8px;
    line-height: 12px;
    margin-top: 13px;
    width: 100%;
    word-wrap: break-word;
    cursor: pointer;
    &:first-child {
      margin-top: 0;
    }
    &:hover {
      background: @main-input_bg_hover;
    }
  }
}

.b-unexpected-error {
  ._box-sizing;
  ._transition(1s);
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 501;
  visibility: hidden;
  padding: 15px;
  min-width: 100px;
  max-width: 50%;
  border: 1px solid fade(@main-error_border, 25%);
  background: fade(@main-error_bg, 95%);
  color: @main-text_error_def;
  ._opacity(0);
  &.active {
    ._transition(opacity .2s);
    visibility: visible;
    ._opacity(1);
  }
}
.my-profile-details,
.w-user-details {
  .photo-wrap {
    margin: 20px 20px 0;
    min-height: 150px;
    overflow: hidden;
    position: relative;
    ._clearfix;
    text-align: center;
    &.loading {
      &:after {
        height: 67px;
        background: url(~"@{main-img_url}/loader-location.gif") no-repeat center 42px;
      }
    }
    .photo-item {
      float: left;
      position: relative;
      display: block;
      max-height: 400px;
      overflow: hidden;
      background: rgba(0, 0, 0, 0) no-repeat left 25%;
      background-size: cover;
      &.single-photo {
        float: none;
        display: inline-block;
        max-width: 400px;
        vertical-align: top;
      }
      &.portrait {
        height: 400px;
        img {
          width: auto;
          max-width: 100%;
          height: 100%;
        }
      }
      &.loading {
        &:after {
          content: '';
          position: absolute;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          background: @main-loader_bg_mod url(~"@{main-img_url}/loader-location.gif") no-repeat center center;
          z-index: 10;
        }
      }
      img {
        display: block;
        width: 100%;
        opacity: 0;
      }
    }
    .no-photo-text {
      display: block;
      text-align: center;
      font-size: 20px;
      color: @main-text_light;
      margin-top: 60px;
    }
  }
  .b-tabs {
    height: 38px;
    width: 100%;
    ._radius(5px 5px 0 0);
    .b-tab-single {
      display: inline-block;
      vertical-align: top;
      width: 33.33%;
      ._box-sizing;
      background: @main-tab-bg;
      ._shadow(0 2px 5px fade(@main-tab_border, 20%));
      .ie8 & {
        background-color: @main-tab_bg_ie;
      }
      .ie9 & {
        background-color: @main-tab_bg_ie;
      }
      &:first-child {
        ._radius(5px 0 0 0);
      }
      &:last-child {
        ._radius(0 5px 0 0);
      }
      &:hover {
        background: darken(@main-tab-bg, 2%);
      }
      &.active {
        position: relative;
        top: -5px;
        height: 44px;
        background: @main-window_bg;
        border: none !important;
        ._shadow(0 1px 4px fade(@main-tab_border, 20%));
        ._radius(5px 5px 0 0);
        .b-tab-button {
          color: @main-text_def;
          padding-top: 5px;
          height: 44px;
          cursor: default;
        }
      }
      .b-tab-button {
        width: 100%;
        height: 39px;
        display: inline-block;
        color: @main-text_link;
        outline: none;
        background: none;
        font-family: @main-font_600;
        font-size: 14px;
      }
    }
  }
  .b-tabs-content {
    position: relative;
    z-index: 2;
    background: @main-window_bg;
    ._shadow(0 2px 3px fade(@main-tab_border, 20%));
    ._radius(0 0 5px 5px);
    .looking-for-logo {
      display: inline-block;
      width: 33.33%;
      margin-top: 11px;
      position: relative;
      &:after {
        content: '';
        display: block;
        background: @main-sprite_url no-repeat -231px -275px;
        width: 123px;
        height: 127px;
        margin: auto;
      }
    }
  }
  .b-tab-content-single {
    display: none;
    padding: 20px 0;
    overflow: hidden;
    clear: both;
    &.personal-info {
      position: relative;
      padding: 7px 0;
      &:before, &:after {
        content: '';
        width: 1px;
        background-color: @main-separator;
        position: absolute;
        top: 20px;
        bottom: 20px;
        position: absolute;
      }
      &:before {
        left: 33.33%;
        margin-left: -1px;
      }
      &:after {
        right: 33.33%;
      }
    }
    &.active {
      display: block;
    }
  }
  .data-column-wrap {
    width: 100%;
    position: relative;
    clear: both;
    .data-single {
      display: inline-block;
      width: 33.33%;
      padding: 9px 20px;
      text-align: left;
      ._box-sizing;
      float: left;
      span {
        display: block;
        line-height: 18px;
        &.title {
          color: @main-text_light;
        }
      }
    }
  }
}
/*----------------Footer------------------------------------------------------*/

@footer-line-color: #e1e6eb;
@footer-link-color: #95a2ab;
.footer {
  min-width: 944px;
  padding: 30px 0 45px;
  clear: both;
  text-align: center;
  color: #95a2ab;
  a {
    color: @footer-link-color;
  }
  .footer-line {
    border-bottom: 1px solid @footer-line-color;
    clear: both;
    height: 1px;
    margin: 14px auto;
    width: 320px;
  }
  .footer-link {
    min-width: 944px;
    clear: both;
    text-align: center;
    li {
      display: inline;
      margin: 0 2px;
    }
  }
}

.b-btn-activity {
  display: inline-block;
  vertical-align: top;
  &-grid {
    display: inline-block;
    width: auto !important;
    margin: 0;

    &+& { margin-left: 10px !important; }

    .btn-activity {
      position: relative;
      height: 33px;
      width: 33px;
      margin: 0 !important;
      border: 1px solid @main-btn-activity_border;
      ._radius(3px);
      display: inline-block;
      ._gradient(@main-btn-activity_start, @main-btn-activity_end);
      -webkit-box-shadow: 1px 1px 1px #e5e5e5, 0 1px 1px #fff inset;
      -moz-box-shadow: 1px 1px 1px #e5e5e5, 0 1px 1px #fff inset;
      box-shadow: 1px 1px 1px #e5e5e5, 0 1px 1px #fff inset;

      &:before {
        background-image: url("../images/profile_icons.png");
        background-repeat: no-repeat;
        left: 50%;
        top: 50%;
        height: 16px;
        width: 16px;
        margin: -8px 0 0 -8px;
        position: absolute;
        border: 0 !important;
      }

      &.btn-message,
      &.btn-private-message {
        &:before { background-position: -40px -40px; }
      }

      &.btn-message,
      &.btn-private-message,
      &.btn-sms-chat {
        &:hover,
        &.activated { background: @main-btn-activity_activated; }
      }

      &.btn-private-message {
        &:before {
          background-position: -120px -20px;
          height: 12px;
          margin-top: -6px;
        }
      }

      &.btn-wink {
        &:before { background-position: 0 0; }
        &:hover,
        &.activated {
          border: 1px solid @c-border;
          ._gradient(@c-grad-start, @c-grad-end);
        }
        &.activated:before,
        &:hover:before { background-position: -20px 0; }
      }
      &.btn-cams{
        width: 50px !important;
        height: 35px !important;
        &:before {
          background: url("../images/cam_icon_small.png") center center no-repeat;
          height: 20px;
          margin: -9px 0 0 -8px;
        }
        &:hover{
          border: 1px solid #f0849f;
          background: rgb(253,202,219);
          background: -moz-linear-gradient(top,  rgba(253,202,219,1) 1%, rgba(253,166,195,1) 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(253,202,219,1)), color-stop(100%,rgba(253,166,195,1)));
          background: -webkit-linear-gradient(top,  rgba(253,202,219,1) 1%,rgba(253,166,195,1) 100%);
          background: -o-linear-gradient(top,  rgba(253,202,219,1) 1%,rgba(253,166,195,1) 100%);
          background: -ms-linear-gradient(top,  rgba(253,202,219,1) 1%,rgba(253,166,195,1) 100%);
          background: linear-gradient(to bottom,  rgba(253,202,219,1) 1%,rgba(253,166,195,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdcadb', endColorstr='#fda6c3',GradientType=0 );
        }
      }
      &.btn-favorite {
        &:before { background-position: -40px 0; }
        &:hover,
        &.activated {
          border: 1px solid @main-btn-favorite_active_border;
          ._gradient(@main-btn-favorite_active_start, @main-btn-favorite_active_end);
        }
        &.activated:before,
        &:hover:before { background-position: -60px 0; }
      }
      &.btn-sms,
      &.btn-sms-chat {
        &:before {
          background-position: -142px 0;
        }
      }
    }
  }
}

.b-page-contact-us .field { display: block; }
.b-page-contact-us .input-holder { width: 100%; }

.email-validation-b{
  width: 100%;
  background: #dc233d;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNkYzIzM2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNkMDI4NDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #dc233d 50%, #d02840 50%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#dc233d), color-stop(50%,#d02840));
  background: -webkit-linear-gradient(top,  #dc233d 50%,#d02840 50%);
  background: -o-linear-gradient(top,  #dc233d 50%,#d02840 50%);
  background: -ms-linear-gradient(top,  #dc233d 50%,#d02840 50%);
  background: linear-gradient(to bottom,  #dc233d 50%,#d02840 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc233d', endColorstr='#d02840',GradientType=0 );
  margin-top: 40px;
  &.newToolbar{
    background: #E9B139!important;
    .email-validation-wrap {
      color: #000!important;
      padding: 10px 13px;
      .email-validation-wrap--left{
        font-size: 14px!important;
      }
    }
    a.email-validation-close-btn{
      background: none!important;
      width: auto!important;
      text-decoration: underline;
      font-weight: bold;
      color: #000;
      top: 10px!important;
    }
  }
  .email-validation-wrap {
    padding: 7px 13px 7px 13px;
    color: #fff;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

    a.email-validation-close-btn{
      background: @main-sprite_url;
      background-position: -157px -1000px;
      width: 16px;
      height: 20px;
      position: absolute;
      right: 15px;
      top: 15px;
    }
    .email-validation-message{
      width: 100%;
      text-align: center;

      +.hidden {
        display: none;
      }
    }
    .popup{
      overflow: auto;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 6666;
      display: none;
      width: 100%;
      height: 100%;
      background: fade(#000, 75%);
      &.active {
        display: block;
      }
      .b-popup.b-success-page {
        position: relative;
        margin: 0 auto;
        padding: 0;
        width: 540px;
        color: #000;
        font-weight: 600;
        background: #fff;
        top:20%;
        ._shadow(~"0 0 79px @main-featute_shadow");
        .closeButton{
          position: absolute;
          top: 5px;
          right: 3px;
          z-index: 3;
          outline: none;
          width: 30px;
          height: 30px;
          background: none;
          cursor: pointer;
          &:before {
            content: '';
            position: absolute;
            width: 14px;
            height: 14px;
            background: @main-sprite_url no-repeat -199px -179px;
            left: 50%;
            top: 50%;
            margin: -6px 0 0 -6px;
          }
        }
        .b-popup-content {
          padding: 0;
          min-height: 270px;
          .b-important {
            padding: 20px 40px 20px;
            color: #3c3636;
            background: #e6e6e6;
            h2 {
              font: 600 14px/24px @main-font_600;
              text-transform: uppercase;
              color: @main-text_muted;
              font-weight: bold;
              &:before {
                content: "";
                display: inline-block;
                vertical-align: sub;
                margin-right: 7px;
                width: 21px;
                height: 21px;
                background: url(~"@{main-img_url}/info-icon.gif") no-repeat 0 2px;
              }
            }
            ul{
              margin-top: 5px;
            }
            li {
              font: 400 13px/24px @main-font_400;
              padding: 0px 0 0 10px;
              text-indent: -10px;
              font-size: 12px;
              color: @main-text_muted;
              text-transform: none;
              &:before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
                width: 4px;
                height: 4px;
                background: @main-text_muted;
                ._radius(3px);
              }
            }
          }
        }
        .confirm-info {
          display: inline-block;
          width: 290px;
          padding: 14px 0 23px 41px;
          .confirm-info-title {
            font-size: 18px;
            margin-bottom: 15px;
            font-weight: 700;
          }
          .confirm-info-list{
            margin-top: 20px;
          }
          .confirm-info-list-item {
            font-size: 13px;
            font-weight: 400;
            margin: 8px 0;
          }
          .confirm-info-list-icon{
            background: @main-sprite_url no-repeat scroll -258px -100px;
            display: inline-block;
            width: 11px;
            height: 12px;
            margin-right: 7px;
          }
        }
        .confirm-user-motiv {
          display: inline-block;
          vertical-align: top;
          width: 162px;
          margin-top: 12px;
        }
        .confirm-user-motiv-wrap {
          display: inline-block;
          width: 79px;
          height: 79px;
          background: #ECECEC;
          vertical-align: top;
          margin: 2px 2px 0 0;
          position: relative;
          img{
            width: 79px;
          }
        }
        .confirm-user-motiv-status {
          display: inline-block;
          width: 8px;
          position: absolute;
          left: 4px;
          top: 5px;
          background: #71c030;
          height: 8px;
          border-radius: 50px;
        }
        .confirm-user-motiv-stripe {
          background: #000000;
          background: rgba(0,0,0,0.8);
          position: absolute;
          width: 100%;
          color: #808080;
          left: 0;
          bottom: 0;
          text-align: right;
          box-sizing: border-box;
          padding: 2px 5px;
          font-size: 11px;
        }
        .confirm-user-motiv-photo-icon {
          display: inline-block;
          width: 13px;
          height: 11px;
          background: @main-sprite_url no-repeat scroll -268px -695px;
          position: relative;
          top: 1px;
        }
        .b-confirm,
        .b-change-email {
          display: none;
          padding: 10px 40px;
          &.active {
            display: block;
          }
        }
        .b-confirm {
          border-top: 2px solid #DFDFDF;
          text-align: center;
          .hidden{
            display: none;
          }
          .btn {
            min-width: 255px;
            margin-top: 10px;
          }
          .email-validation-message{
            margin: 15px 0;
          }
          .complete-email {
            display: inline-block;
            color: @t-main-color;
          }
          .b-buttons {
            margin: 5px 0 5px;
          }
          .b-complete-staps {
            position: relative;
            margin: 20px 0 10px;
            &:after {
              content: '';
              display: block;
              clear: both;
            }
            .change-email {
              float: left;
              max-width: 200px;
              color: @main-text_muted;
              font: 700 14px/20px @main-font_600;
              white-space: normal;
              text-decoration: underline;
              background: none;
              margin: 0;
              &:hover {
                text-decoration: none;
              }
            }
            .resend-email {
              max-width: 200px;
              color: @main-text_muted;
              font: 700 14px/20px @main-font_600;
              white-space: normal;
              text-decoration: underline;
              background: none;
              margin: 0;
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
        .b-resend-success {
          padding: 15px 0;
          color: @main-text_muted;
        }
      }
    }
  }
  .email-validation-wrap--left {
    float: left;
    font-size: 13px;
    span {
      font-weight: 600;
    }
    div{
      font-weight: 600;
    }
    a.verify{
      text-decoration: underline;
      font-weight: bold;
      color: #000;
    }
  }
  .email-validation-wrap--right {
    background: #a22738;
    border-radius: 3px;
    border: 1px solid #8f1728;
    padding: 6px 10px 6px 20px;
    width: 410px;
    float: right;
    margin-right: 20px;

    .hidden {
      display: none;
    }

    .email-validation-label{
      display: inline-block;
    }
    .email-validation-field{
      display: inline-block;
      width: 183px;
      margin: 0 10px;
        input{
          width: 100%;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
          box-shadow: none;
          border: 0;
          padding: 3px 5px;
        }
    }
    .email-validation-send-btn{
      display: inline-block;
      width: 100%;
      max-width: 95px;
      height: 25px;
      line-height: 25px;
      margin: 15px 0;
      color: #910014;
      font-weight: 600;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      background: #fab500;
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhYjUwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjhkMWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(top,  #fab500 0%, #ff8d1a 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fab500), color-stop(100%,#ff8d1a));
      background: -webkit-linear-gradient(top,  #fab500 0%,#ff8d1a 100%);
      background: -o-linear-gradient(top,  #fab500 0%,#ff8d1a 100%);
      background: -ms-linear-gradient(top,  #fab500 0%,#ff8d1a 100%);
      background: linear-gradient(to bottom,  #fab500 0%,#ff8d1a 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fab500', endColorstr='#ff8d1a',GradientType=0 );
    }
    .email-validation-nav{

      ul{
        li{
          display: inline-block;
          margin: 0 1px 0 11px;
          border-left: 1px solid #dc233d;
          vertical-align: middle;
          &:first-child{
            border-left: 0;
            margin-left: 0;
          }
          a{
            font-size: 12px;
            color: @main-window_bg;
            margin: 0 0 0px 10px;
            &:hover{
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
.user-motivation {
  &.trad {
    .um-content .main {
      background: url("@{main-img_url}/baner_web_trad.png") !important;
    }
  }
  .um-content .main {
    background: url("@{main-img_url}/baner_web_adult.png") !important;
  }
}