@main-img_url: "../images";
@main-sprite_url: url("@{main-img_url}/sprite.png");

@main-text_def: #333;
@main-window_border: #ccc;
@main-window_bg: #fff;

@main-font_def: Verdana, Geneva, sans-serif;
@main-font_300: 'Open Sans Light', Arial, helvetica, sans-serif;
@main-font_400: 'Open Sans', Arial, helvetica, sans-serif;
@main-font_600: 'Open Sans Semibold', Arial, helvetica, sans-serif;
@main-scroll_track: transparent;
@main-scroll_thumb: #ccc;
@main-body_bg: #fff;
@main-loader_bg: #000;
@main-loader_bg_mod: #e5e5e5;

@main-text_h1: #797979;
@main-text_h2: #ff7575;
@main-text_h3: #555;
@main-text_h4: #555;
@main-text_h5: #555;

@main-font_h1: e("50px/1em") @main-font_300;
@main-font_h2: e("20px/1em") @main-font_300;
@main-font_h3: e("18px/1em") @main-font_300;
@main-font_h4: bold e("14px/1em") @main-font_def;
@main-font_h5: bold e("12px/1em") @main-font_def;

@main-button_border_hover: #5079b3;
@main-text_link: @t-main-link;
@main-text_info: #c1c1c1;
@main-text_light: #999;
@main-text_extralight: #bfbfbf;
@main-text_muted: #797979;
@main-text_error: #ff5a40;
@main-text_button_mod: #fff;
@main-text_disabled: #c0c0c0;
@main-input_bg: #fff;
@main-input_bg_dark: #f2f2f2;
@main-input_bg_hover: #fff;
@main-input_shadow: #b3b3b3;
@main-input_border_ie: #d4d5d4;
@main-upload_border: #e5e5e5;
@main-upload_bg_active: #FFFEED;
@main-tooltip_border: #9a9a9a;
@main-select_item_bg: @t-main-color;
@main-select_item_txt: #fff;

@main-button_bg_def: #ccc;
@main-button_border: darken(@main-button_start, 20%);
@main-button_border_inner: #eff1f2;
@main-button_border_inner_2: #fff;
@main-button_start: #F8F8F8;
@main-button_end: darken(@main-button_start, 5%);
@main-button_start_hover: lighten(@main-button_start, 5%);
@main-button_end_hover: darken(@main-button_start_hover, 5%);
@main-button_border_alternate: #fff;
@main-button_color: #333;

@main-button_2_start: #8ba6cd;
@main-button_2_end: #5079b3;
@main-button_2_border_inner: #5f88c2;

@main-blur-overlay: fade(#000, 85%);
@main-blur-heavy-overlay: fade(#000, 95%);

@main-tooltip_border: #cbcbcb;
@main-tooltip_arrow: #fff;
@main-tooltip_arrow_shadow: #ccc;
@main-checkbox_border: #707070;

@main-error_border: #ff7474;
@main-error_bg: #ffefef;
@main-text_error_def: #ff7575;

@main-tab_bg_ie: #f2f2f2;
@main-tab_border: #000;

@main-separator: #e6e6e6;

@main-featute_shadow: #000;

@main-select_input_shadow: #dbdbdb;
@main-select_input_border_top: #b6b8b6;
@main-select_input_border_side: #d4d5d4;
@main-select_input_border_bottom: #e8e9e8;

@main-featute_btn_start: @t-main-color;
@main-featute_btn_end: darken(@t-main-color, 5%);
@main-featute_btn_start_hover: lighten(@main-featute_btn_start, 5%);
@main-featute_btn_end_hover: lighten(@main-featute_btn_end, 5%);
@main-featute_btn_start_press: @main-featute_btn_start_hover;
@main-featute_btn_end_press: @main-featute_btn_start_hover;
@main-featute_btn_shadow: fade(#000, 5%);
@main-featute_btn_border: darken(@t-main-color, 10%);

@main-featute_btn_hot_start: #f6c154;
@main-featute_btn_hot_end: #f2a70e;
@main-featute_btn_hot_start_hover: #ffd684;
@main-featute_btn_hot_end_hover: #fab427;
@main-featute_btn_hot_start_press: #deb86a;
@main-featute_btn_hot_end_press: #d9960d;
@main-featute_btn_hot_shadow: #d9940b;

@main-featute_btn_fb_start: #8ba6cd;
@main-featute_btn_fb_end: #5079b3;
@main-featute_btn_fb_start_hover: #99bbec;
@main-featute_btn_fb_end_hover: #6498e2;
@main-featute_btn_fb_border_hover: #5b89cb;
@main-featute_btn_fb_start_press: #849bbc;
@main-featute_btn_fb_end_press: #44679a;
@main-featute_btn_fb_shadow: #333;

@main-feedback_tooltip_bg: #fff;
@main-tab-bg: #F3F3F3;

@c-border:      saturate(lighten(@t-main-color, 32%), 7%);
@c-grad-start:  desaturate(lighten(@c-border, 10%), 5%);
@c-grad-end:    lighten(@c-border, 1%);

@main-btn-activity_border: #aaa;
@main-btn-activity_start: #f8f8f8;
@main-btn-activity_end: #ededed;

@main-btn-activity_activated: #d3d3d3;

/*@main-btn-wink_active_border: #f0849f;
@main-btn-wink_active_start: rgb(253,202,219);
@main-btn-wink_active_end: rgb(253,166,195);*/

@c-border:      saturate(lighten(@t-main-color, 32%), 7%);
@c-grad-start:  desaturate(lighten(@c-border, 10%), 5%);
@c-grad-end:    lighten(@c-border, 1%);

@main-btn-favorite_active_border: #f3b74e;
@main-btn-favorite_active_start: rgb(252,233,200);
@main-btn-favorite_active_end: rgb(252,220,164);
