/*------------Basic Styles--------------*/
.b-popup {
  ._radius();
  position: absolute;
  z-index: 26;
  color: @popupSimple-text_def_dark;
  background-color: @popupSimple-popup_bg;
  .b-popup-head {
    position: relative;
    padding: 15px;
    border-bottom: 1px solid @popupSimple-border;
    p {
      margin: 0;
    }
  }
  .b-popup-content {
    position: relative;
    padding: 20px;
    &:after {
      display: table;
      clear: both;
      content: "";
    }
  }
}
.b-loader {
  ._opacity(0);
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(~"@{img_url}/bg-loader.png");
  &:after {
    display: block;
    position: absolute;
    top: 48%;
    left: 48%;
    width: 31px;
    height: 31px;
    content: "";
    background: url(~"@{img_url}/small-photo-loader.gif") no-repeat;
  }
}
#popup {
  position: absolute;
  z-index: 20;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.b-popup-overlay {
  overflow: auto;
  position: fixed;
  z-index: 700;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: fade(@popupSimple-popup_overlay, 65%);
}
#popup.loading {
  .b-loader {
    ._opacity(1);
    visibility: visible;
  }
}

.b-popup-table {
  display: table;
  width: 100%;
  height: 100%;
  &.static {
    display: block;
    .b-popup-cell {
      display: block;
      margin: 200px auto 0;
      .b-popup {
        position: static;
        margin: 0 auto;
      }
    }
  }
}

.b-popup-cell {
  display: table-cell;
  vertical-align: middle;
}

/*--------------Success ---------------------------*/
.b-popup.b-popup-success {
  position: relative;
  width: 395px;
  margin: auto;
  padding: 15px 26px 16px 20px;
  .meta-button-wrap {
    top: 0;
    right: 0;
  }
  .title {
    height: auto;
    margin-bottom: 10px;
    white-space: normal;
  }
  .btn-row {
    margin: 34px 0 36px 0;
    text-align: center;
  }
}

.b-popup.b-popup-unsuccess,
.b-popup.b-popup-upload-error {
  &:extend(.b-popup.b-popup-success all);
  .title {
    color: @popupSimple-text_error;
  }
}

/*-------------- Update Location -----------------*/
.b-update-location {
  position: static;
  width: 690px;
  margin: 0 auto;
  .b-popup-content {
    padding: 40px;
    p {
      line-height: 30px;
    }
  }
  .city {
    // color: @theme-color;
    color: @text-active;
  }
  .btn-wrap {
    margin-top: 40px;
    text-align: center;
  }
  .btn-update {
    margin-right: 5px;
  }
  .btn-skip {
    margin-left: 5px;
    text-decoration: none;
    border-bottom: 1px dashed;
    color: @text-link;
    &:hover {
      border-bottom: none;
    }
  }
}