@popupSimple-font_300: 'dosisregular', Arial, helvetica, sans-serif;
@popupSimple-font_600: 'dosissemibold', Arial, helvetica, sans-serif;

@popupSimple-popup_overlay: #000;
@popupSimple-popup_bg: #fff;

@popupSimple-text_def: #fff;
@popupSimple-text_def_dark: #1f2226;
@popupSimple-border: #bfbfbf;
@popupSimple-text_error: #ff3232;