@userPhotoGallery-img_url: "../images";
@userPhotoGallery-loader_url: url("@{userPhotoGallery-img_url}/big-photo-loader.gif");
@userPhotoGallery-sprite_url: url("@{userPhotoGallery-img_url}/sprite.png");

@userPhotoGallery-photo_viewer_bg: #000;
@userPhotoGallery-button_bg_ie: #555;
@userPhotoGallery-button_bg: #000;
@userPhotoGallery-border: #000;
@userPhotoGallery-photo_list_bg: #2c2c2c;
@userPhotoGallery-box_shadow: #fff;
@userPhotoGallery-text_shadow: #000;
@userPhotoGallery-li_border: #5079b3;
@userPhotoGallery-li_box_shadow: #000;
@userPhotoGallery-transparent: transparent;
@userPhotoGallery-list_switch_bg: #2c2c2c;
@userPhotoGallery-list_switch_color: #9b9b9b;
@userPhotoGallery-list_switch_color_hover: #fff;
@userPhotoGallery-list_switch_border_start: #000;
@userPhotoGallery-list_switch_border_end: #2c2c2c;